[2022-01-10 23:06] warunicorn19 commented on #4896
Something like that @leecalcote ?
<img width="296" alt="Screenshot 2022-01-10 at 6 06 09 PM" src="https://user-images.githubusercontent.com/53532328/148852785-0c6efa0c-a991-4d8b-8587-b55376eb8e6b.png">

[2022-01-11 01:54] Nikhil-Ladha commented on #4896
Good pointer @warunicorn19 .
@Abhijay007 you can reach out to me offline in case you need any help.

[2022-01-11 02:13] varunsaral commented on #4917
@amoghjalan Thank you for taking it up , i have given the solution itself in the issue , still if you have problem you can ping me on slack.

[2022-01-11 03:09] leecalcote opened #4920 "[CI] Update Slack notifier to be generic"
#### Current Behavior
This workflow should not listed meshery/meshery explicitly - https://github.com/meshery/meshery/blob/master/.github/workflows/slack.yml

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for contributing to documentation](https://

[2022-01-11 03:13] varunsaral commented on #4916
@leecalcote I think the <code>redirect_from</code> entry is missing from root contributing.md file and that's why when we land from contributing page from the paginator it gives us 404 . So this PR don't fix the issue but it resolved a future issue . Also <code>redirect_from</code> is missing from many places including in es pages too .

[2022-01-11 03:31] leecalcote commented on #4916
@varunsaral, great observations. I agree. Please engage on fixing these at-will. 👍

[2022-01-11 05:42] verma-kunal commented on #4911
Got it! Thanks @warunicorn19

[2022-01-11 05:47] Chadha93 opened #4921 "[Docs][UI] Style the version component."
#### Current State
There is not much style on the version of the new docs dropdown component
![Screenshot from 2022-01-11 11-16-51](https://user-images.githubusercontent.com/65453826/148888130-fbc625c7-9cdb-45c2-8b1c-84894ae16f99.png)

#### Desired State
Add styles and make it look similar to the other tabs in the navbar, follow the same color scheme

---

#### [Contributor Guides](https://docs.me

[2022-01-11 07:02] msaini0r commented on #4921
I would like to try this issue. @Chadha93

[2022-01-11 07:04] Chadha93 commented on #4921
All yours @msaini0r 🎉

[2022-01-11 07:37] verma-kunal commented on #4911
I've created an initial PR for this, as have added a few hyperlinks!
We can add the rest ones, when further confirmed

Hope that sounds good!

[2022-01-11 09:14] #4917 closed

[2022-01-11 09:15] Abhijay007 commented on #4896
ok thanks, @Nikhil-Ladha for asking, I will reach out to you on slack !!

[2022-01-11 10:04] #4805 closed

[2022-01-11 13:33] s1ntaxe770r commented on #4456
@navendu-pottekkat has this been fixed?

[2022-01-11 16:24] #4920 closed

[2022-01-11 17:51] leecalcote commented on #4896
Oh, boy. I might have led us astray here in suggestion that the version wasn't presented in the UI, when in fact, it is available in the tooltip.

Let's close out this issue for now, understanding that we will have new UI designs for v0.7.0 in which the version number will be displayed differently.

[2022-01-11 18:00] warunicorn19 commented on #4896
let's not close, let's label as `issue/willfix` and `ui-refactor`.

[2022-01-11 18:57] hershd23 opened #4930 "[Docs] Clicking the contributing breadcrumb from the Meshery Server page leads to a 404"
#### Current State

Clicking the contributing breadcrumb (See top of first image) leads to a 404
![Screenshot 2022-01-12 at 12 23 10 AM](https://user-images.githubusercontent.com/37028207/149003903-cf68d651-30f8-4689-8d76-1fa75c41e929.png)
![Screenshot 2022-01-12 at 12 23 26 AM](https://user-images.githubusercontent.com/37028207/149003946-15627623-17fb-4db6-8a34-abba44219c99.png)

On link inspecti

[2022-01-11 19:38] varunsaral commented on #4930
Working on it , submitting a PR

[2022-01-11 20:08] #4903 closed

[2022-01-12 10:41] #4881 closed

[2022-01-12 11:18] #4911 closed

[2022-01-12 11:45] #4806 closed

[2022-01-12 12:11] leecalcote commented on #4666
Uh-oh... this issue has gone stale.

[2022-01-12 12:11] leecalcote commented on #4607
@manav1403 @bariqhibat do we have a subscription for performance test results?

[2022-01-12 19:56] leecalcote opened #4933 "[Docs] Meshery Broker Topics and Purpose"
#### Current State
The Meshery Broker topics and their individual purpose is need of being documented.

#### Desired State
Add details to [Meshery Architecture](https://docs.google.com/presentation/d/1SQMfyu5shjpGKlYONdVzOtd7UYTgLWBcgUvHMLCZ2tY/edit#slide=id.g10af036b3dd_0_13) deck.

---

#### [Contributor Guides](https://docs.meshery.io/project/contributing) and Resources
- 📚 [Instructions for co

[2022-01-12 20:16] #3946 closed

[2022-01-12 20:28] #4837 closed

[2022-01-13 02:47] leecalcote opened #4935 "[Docs] Add all `mesheryctl` guides to bulleted collection"
#### Current State
This page category for mesheryctl guides (https://docs.meshery.io/guides/mesheryctl) is missing a number of mesheryctl guides.

<img width="1398" alt="Screen Shot 2022-01-12 at 8 45 32 PM" src="https://user-images.githubusercontent.com/7570704/149256809-f60b6d87-186b-4dc4-abd1-32508b9b9743.png">

#### Desired State

All of the mesheryctl guides should be listed on the page.

---

[2022-01-13 02:56] leecalcote opened #4936 "[CI] GraphQL Playground: Add Schema and Docs"
#### Current Behavior
When Meshery is locally built, the currently available GraphQL playground does not include the schema or docs, making it less useful than it could be.

URL: http://localhost:9081/api/system/graphql/playground

#### Screenshot
<img width="1265" alt="Screen Shot 2022-01-12 at 8 51 35 PM" src="https://user-images.githubusercontent.com/7570704/149257689-6a3b796e-1f9f-4846-ae5d-a9

[2022-01-13 04:39] leecalcote opened #4937 "[UI] Design Configurator: "percentage" and "percent" as sliders"
#### Current Behavior
When rendering rjsf components, "percentage" and "percent" are treated as textfield inputs.

#### Desired Behavior
“percentage” and “percent” should be treated as keywords for Slider components.

#### Implementation
- Ignore `"type": "object"`. Always display a Slider component.
- Ignore `"format": "int32"` and `"format":"double"`. Always set to 0 to 100 for slider range.

##

[2022-01-13 04:45] leecalcote opened #4938 "[UI] Design Configurator: AdditionalProperties as single textfield"
#### Current Behavior
In rjsf components, `additionalProperties` are currently displayed as a set of key:value paired inputs.

#### Desired Behavior

[code]
should be rendered as a single textfield input.

#### Acceptance Tests
1. "Additional Properties" set as the field label.
2. "name or value" set as the placeholder.

#### Mockups
<img width="222" alt="Screen Shot 2022-01-12 at 10 45 00 PM" src

[2022-01-13 04:49] leecalcote opened #4939 "[UI] Design Configurator: "integer" as a "number" type textfield"
#### Current Behavior
In rjsf components, ` "type": "integer"` fields are displayed as string type textfields.

#### Desired Behavior
A numeric-only input.

#### Implementation

Use:
[code]

#### Acceptance Tests
- Validation: Allowable range from 0 to 100

#### Mockups

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources

- 🎨 Wireframes and designs for Meshe

[2022-01-13 05:23] verma-kunal commented on #4935
Hey @leecalcote , can i work on this one or should this be left for a newcomer in the community?

Anything works 🙂

[2022-01-13 05:49] asubedy commented on #4939
I would like to work on this.

[2022-01-13 06:25] varunsaral commented on #4921
@msaini0r can we talk on slack , i have question regarding this .

[2022-01-13 07:08] msaini0r commented on #4921
@varunsaral sure

[2022-01-13 08:28] Vidyaa123 commented on #4935
Hi @leecalcote & @verma-kunal,
If this is for newcomers only,  I can take it up. Thanks.

[2022-01-13 08:44] verma-kunal commented on #4935
absolutely @Vidyaa123 ! Go for it.
Do ask any doubts you would have! Would be happy to help 🙂

[2022-01-13 08:55] Vidyaa123 commented on #4935
👍

[2022-01-13 11:48] Sunnyio commented on #4938
Hey @leecalcote can I work on this?

[2022-01-13 12:10] asubedy commented on #4938
Sure @Sunnyio here you go 🚀

[2022-01-13 12:11] Sunnyio commented on #4938
Thanks @asubedy

[2022-01-13 14:50] warunicorn19 commented on #4939
@Chadha93 we'll need another to create another custom component for this. We should be able to use a specific type of component based on the "type".

[2022-01-13 14:50] Vidyaa123 commented on #4935
@verma-kunal & @leecalcote please review.

[2022-01-13 14:53] Chadha93 commented on #4939
Hmm, a new component could be a solution, then we need to define the where all we need to have that. 👍

[2022-01-14 04:19] leecalcote opened #4942 "[Pattern Deployment] Unhandled error when missing Kubernetes connection"
#### Current Behavior
Meshery Server crashed when no Kubernetes cluster is connected and pattern deployment is attempted.

Scenario:

1. Built Meshery locally. No running or connected Kubernetes.
2. Signed into Meshery Cloud.
3. Imported pattern via URL.
4. Click to deploy pattern.
5. Meshery Server reports unhandled error below.

#### Screenshots/Logs

[code]

Full log here: [server-log.txt](http

[2022-01-14 06:29] unnati914 commented on #4844
I can take this up @leecalcote 💯

[2022-01-14 13:00] #4129 closed

[2022-01-14 15:21] Chadha93 commented on #4939
@leecalcote do we want the above behavior as in the screenshot?

[2022-01-14 15:23] leecalcote commented on #4939
Yes, the input type pictured in the screenshot for Replicas is ideal.

[2022-01-14 20:32] leecalcote commented on #4921
This a good update to make.

[2022-01-15 06:44] shubham-tyagi commented on #4797
duplicate issue #3765

[2022-01-15 06:44] #4797 closed

[2022-01-15 07:43] #4893 closed

[2022-01-15 17:32] warunicorn19 opened #4945 "[UI] zIndex issue with the switcher"
#### Current Behavior
The switcher in the pattern configurator goes below the title bar

#### Desired Behavior
it shouldn't. it's zIndex should be more than the title bar

#### Screenshots/Logs
<img width="207" alt="Screenshot 2022-01-15 at 12 06 47 PM" src="https://user-images.githubusercontent.com/53532328/149631713-db9cdae9-8e30-426d-a702-060797d13d71.png">

#### Environment

- Browser: Chrome

[2022-01-15 17:49] warunicorn19 opened #4946 "[UI] label not aligned with icon"
#### Current Behavior
The label of the text field is not aligned with the icon beside it in the pattern configurator.

#### Desired Behavior
they should be aligned.

#### Screenshots/Logs
<img width="245" alt="Screenshot 2022-01-15 at 12 45 44 PM" src="https://user-images.githubusercontent.com/53532328/149632290-8a412d2b-8243-479c-b151-d825191b234f.png">

#### Environment

- Browser: Chrome Safari

[2022-01-15 20:54] leecalcote opened #4947 "[Components] Kubernetes: Display name parsing for capitalization and whitespace"
#### Current Behavior
Meshery Server's registration of Kubernetes components contains errant whitespaces in their names.

<img width="387" alt="Screen Shot 2022-01-15 at 2 51 46 PM" src="https://user-images.githubusercontent.com/7570704/149637374-73540fb1-078a-4527-b6de-6d2c3bae90de.png">

#### Desired Behavior
Meshery Server's registration of Kubernetes components should use a standard library of

[2022-01-15 20:56] Revolyssup commented on #4947
This issue has been solved in latest meshkit. Just meshkit upgrade is needed here

[2022-01-15 21:52] leecalcote commented on #4889
@DelusionalOptimist will this continue to be you? https://github.com/meshery/meshery-operator/blob/master/.github/dependabot.yml

[2022-01-15 21:56] leecalcote commented on #4889
@navendu-pottekkat @hexxdump @piyushsingariya?

[2022-01-15 22:00] #4179 closed

[2022-01-15 22:01] leecalcote commented on #3538
@alphaX86 you might want to pick this up.

[2022-01-15 22:02] #4181 closed

[2022-01-15 22:08] #4180 closed

[2022-01-15 22:10] #4130 closed

[2022-01-15 22:10] #4128 closed

[2022-01-15 22:10] #4802 closed

[2022-01-15 22:11] #4161 closed

[2022-01-16 02:41] alphaX86 commented on #3538
Thanks @leecalcote but unfortunately I'm bit occupied this month with works and other stuff so I might not concentrate this issue for now... If I'm available I'll let you know :)

[2022-01-16 04:24] pree-T commented on #4946
May I work on it? Can someone help me as I am new to open source contribution?

[2022-01-16 04:34] leecalcote commented on #4946
Hi @pree-T, yes, although before you take assignment of the issue, let's ensure that you are able to setup you development environment and build Meshery UI so that you can potentially work on a fix for this issue. The instructions for building Meshery UI in the issue description. Send word when you are successfully building Meshery UI and have a proposed solution.

[2022-01-16 05:31] Aisuko commented on #4889
@leecalcote Please add me to the operator project. I'd like to add the `suit_test` for the operator project in this month.

[2022-01-16 05:36] warunicorn19 commented on #4889
I can take any docs dependency updates or any jekyll related updates. For meshery, if @Nikhil-Ladha is okay with it, he and I can take that up.

[2022-01-16 05:44] Nikhil-Ladha commented on #4889
Sure Aditya, please do that.

[2022-01-16 06:39] adithyaakrishna commented on #4946
@pree-T Lmk if you face any issues while trying to set-up your development environment, you can ping me in our community slack and we will help ya figure it out :)

[2022-01-16 07:47] anirudh-bukka commented on #4946
Hi all, may I work on this issue? This is my first time contributing to Meshery and Open source itself  (I've joined last week)

[2022-01-16 08:06] pree-T commented on #4946
I am already working on it.

[2022-01-16 08:15] anirudh-bukka commented on #4946
👍 , I did not know only one person can work on it

[2022-01-16 13:07] ShivamTyagi12345 commented on #4945
i would like to help with this
/assign

[2022-01-16 13:21] asubedy commented on #4945
Sure @ShivamTyagi12345, here you go 👍

[2022-01-16 14:23] leecalcote commented on #4945
@ShivamTyagi12345 let's make sure that you're setup for success. Is your a meshery development environment setup? Are you able to build and run Meshery UI?

[2022-01-16 15:29] leecalcote commented on #4947
Perfect. Please get this done quickly.

[2022-01-16 16:12] asubedy opened #4948 "[UI][Refactoring] pre commit errors"
#### Current Behavior
When I try to commit on the `ui/restructuring` branch I get this error (picture attached).

#### Desired Behavior
The pre commit test should pass or at least show some descriptive error message.

#### Screenshots/Logs
![image](https://user-images.githubusercontent.com/51183483/149667870-513eaa85-7641-493c-87b2-2f1afbc6903e.png)

#### Environment

- Host OS: Mac
- Meshery Serv

[2022-01-16 17:05] ShivamTyagi12345 commented on #4945
Not at the moment, but I will start setting it up right now. Thanks for helping me get started

[2022-01-16 20:38] #4947 closed

[2022-01-17 08:19] Chadha93 commented on #4707
@Umoren would you like to give it a  try?

[2022-01-17 08:25] Chadha93 commented on #2598
This seems a Safari Browser-specific issue, Taker's please ensure you have Mac OS for this issue. :)

[2022-01-17 15:06] leecalcote commented on #4942
@utkarsh-pro is this something that you can address?

[2022-01-17 15:47] #2598 closed

[2022-01-17 18:02] hexxdump commented on #4810
Fixed via #4887

[2022-01-17 18:02] #4810 closed

[2022-01-17 21:01] leecalcote commented on #4844
This would be excellent, @unnati914. Let's give you a beat to tie-off other assignments currently on your plate, and then, get this one assigned straight-away.

[2022-01-17 21:02] leecalcote commented on #4705
Issue assignment seems to have gone stale, so freeing up for others to contribute. @ayanchoudhary, just signal if that isn't the case.

[2022-01-17 21:02] leecalcote commented on #4726
Go away stale bot!

[2022-01-17 21:05] leecalcote commented on #3935
@Anosh21 excellent! Let's do this. :) I'm a bit tardy on seeing your reply. Will you have a look at this thread in Slack? https://meshery.slack.com/archives/C023QGMSH8D/p1641635118021600

[2022-01-17 21:08] leecalcote commented on #4091
Great suggestion, @suhaniii. Yes, I agree. Will someone kindly open up an issue on meshery/meshery for this?

[2022-01-17 21:09] leecalcote commented on #4938
Hi Sunny, this one isn't for the faint of heart (someone self-professed as just getting started with Javascript). Let's free up this assignment and let's get you one of the open issues with "help wanted" labeled. Find the hyperlink in the main readme and dig in! 👍

[2022-01-17 21:10] leecalcote commented on #4938
@Chadha93 you're up.

[2022-01-17 21:11] leecalcote commented on #4946
No sweat, @anirudh-bukka. There are many more where this comes from. 👍 let's get you one of the open issues with "help wanted" labeled. Find the hyperlink in the main readme and dig in!

[2022-01-17 21:11] leecalcote commented on #4946
Of course, if @pree-T hasn't demonstrated the ability to build Meshery UI, yet, this issue is still open game...

[2022-01-17 21:13] leecalcote commented on #3982
Thank you, @Shreyas220

[2022-01-17 22:01] leecalcote opened #4951 "[mesheryctl] `system restart` colliding with helm delete operation"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
Meshery CLI users that execute `mesheryctl system restart` while using in-cluster deployments find that `system restart` fails to start Meshery due to a helm uninstall operation ongoing (initiated by the `system stop` included in `system restart`).

#### Desired Behavior
Mesheryctl to

[2022-01-18 04:29] MUzairS15 commented on #3935
@leecalcote can you please assign me?

[2022-01-18 04:48] anirudh-bukka commented on #4946
Thanks @leecalcote , I found another issue and I am currently working on it 👍

[2022-01-18 05:08] asubedy commented on #4091
Yes, adding a functionality to not open browser after finishing the setup might solve this problem. Just wanted to point out couple of things:

1. The above error `Unable to connect to remote host` only occurs if `meshery` pod is not in ready state, if it is ready state we will get the vim page from which we have to press `q` and `y` to go back
2. The domain from the above error `http://172.17.0.2

[2022-01-18 05:17] asubedy opened #4953 "[mesheryctl] adding a flag so that the the browser does not open after the setup"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
As discussed in issue #4091, we can add a feature that does not open a browser automatically after the setup finishes. This might solve the the mentioned issue of getting a prompt on the Katacoda labs after the installation command.

#### Desired Behavior
A flag that allows user to not

[2022-01-18 09:55] iambami commented on #652
Hi @crustyy, This issue is still open. Would you like to still work on it?

[2022-01-18 13:44] utkarsh-pro commented on #4942
Yes @leecalcote. This should be fixed (if needed) in a few hours. Addressing this today.

[2022-01-18 14:22] leecalcote commented on #4942
Thanks much. ✔️

[2022-01-18 17:33] MUzairS15 commented on #4953
I would like to work on this.

[2022-01-18 17:51] Abhijay007 commented on #4953
@MUzairS15 go ahead !! 🚀

[2022-01-18 18:40] Chadha93 opened #4958 "[UI] Shift the Create pattern btn"
#### Current Behavior
Currently, the pattern create button is at the bottom of the datable/

#### Desired Behavior
Relocate this button to the top in the line of other import options

#### Implementation

- We are using MUIDatable here, and a custom toolbar with custom options to add new import or any other feature to the table.
- Referring to the previous custom components under the custom toolba

[2022-01-18 20:43] #3128 closed

[2022-01-19 03:43] asubedy commented on #4958
I like to work on this.

[2022-01-19 03:44] warunicorn19 commented on #4958
Sure @asubedy.

[2022-01-19 07:27] Chadha93 commented on #4921
@msaini0r how is this coming up? If you are having any issues/blockers you may ask on the #meshery or #meshery-ui channel in slack.

[2022-01-19 12:52] Sonichigo commented on #4946
@warunicorn19 Can i work on this?

[2022-01-19 12:54] warunicorn19 commented on #4946
Sure go ahead @Sonichigo, if you run in to any issues setting up the dev environment please feel free to DM.

[2022-01-19 14:05] MUzairS15 commented on #4666
@hexxdump can I take on this?

[2022-01-19 14:24] #4953 closed

[2022-01-19 14:28] hexxdump commented on #4666
sure @MUzairS15

[2022-01-19 18:54] warunicorn19 commented on #2515
Clearing assignment.

[2022-01-19 21:45] leecalcote opened #4964 "[Docs] Enhance git-flow docs"
#### Current State

Instructions to sync a contributor's fork and local clone might need enhancement.

https://github.com/meshery/meshery/blob/master/CONTRIBUTING-gitflow.md

---

#### [Contributor Guides](https://docs.meshery.io/project/contributing) and Resources
- 📚 [Instructions for contributing to documentation](https://docs.meshery.io/project/contributing/contributing-docs)
   - Meshery docu

[2022-01-19 21:45] leecalcote commented on #4964
@MarioArriaga92 any of your learnings are welcomed additions/changes to these instructions.

[2022-01-19 23:33] MarioArriaga92 commented on #4964
Thanks @leecalcote I'll pour in some love on gitflow instructions, maybe even suggest some 3rd party links to point those in need to the right direction.

[2022-01-19 23:34] MarioArriaga92 commented on #4964
To be honest difference between how Azure DevOps Git handles rebases versus Github is quite confusing at first, especially because repos aren't forked just merged through PR.

[2022-01-20 00:12] warunicorn19 opened #4966 "Seed Patterns, Application and Filters in Meshery provider"
#### Current Behavior
Currently, we only seed patterns, application and filters for the `None` provider

#### Expected Behavior
We should be doing it for the `Meshery` provider too.

#### Screenshots/Logs

#### Environment

- **Host OS:** Mac
- **Platform:**  Kubernetes
- **Meshery Server Version:** stable-v
- **Meshery Client Version:** stable-v

---
#### Contributor [Guides](https://docs.meshery

[2022-01-20 00:36] leecalcote commented on #4964
Ah, makes sense. Good, good.

[2022-01-20 00:37] leecalcote commented on #4966
@Revolyssup

[2022-01-20 00:41] leecalcote opened #4967 "[Applications] Handle deployment requests w/o presence of Kubernetes"
Do we need this same check for application deployments as well?

_Originally posted by @leecalcote in https://github.com/meshery/meshery/issues/4960#issuecomment-1015972053_

[2022-01-20 00:42] #4942 closed

[2022-01-20 00:43] leecalcote opened #4968 "[Docs] Examples of of OAM endpoints"
@utkarsh-pro thanks for clarifying. Examples of endpoints are ideal; a set of examples that provide something of a template such that a contributor could plugin the name of an object (by taking a guess) and hit the endpoint even though not all endpoints are exhaustively listed in the docs.

_Originally posted by @leecalcote in https://github.com/meshery/meshery/pull/4943#discussion_r786280208_

[2022-01-20 00:45] #4935 closed

[2022-01-20 14:08] MUzairS15 commented on #4666
@navendu-pottekkat @hexxdump
Approach: Add watch flag to `system status` and in `system start` execute system status with watch flag until all pods are ready.
Should I continue?

[2022-01-20 17:07] unnati914 commented on #4844
sure 🥇

[2022-01-21 04:10] leecalcote opened #4971 "[UI] Genie effect with drag and drop objects"
#### Current Behavior
The [MeshMap plugin](https://layer5.io/meshmap) to Meshery is in need of an enhanced user experience. The desired user experience involves both CSS animation and EventListeners with some DOM manipulation.

An example of the desired drag and drop user experience can be seen in the screen recording below.

https://user-images.githubusercontent.com/7570704/150463563-4af62203-e8f

[2022-01-21 04:38] asubedy commented on #4971
I would like to try this.

[2022-01-21 06:53] piyushsingariya commented on #4666
I feel this issue isn't relevant anymore, when the issue was opened mesheryctl wasn't able to poll till meshery starts, but now it can, so it removes the possible implementation of running `system status` with `system start`.

[2022-01-21 07:30] PranshuSrivastava commented on #4936
Hey @leecalcote  , I am new to the project. Can I try fixing this issue?

[2022-01-21 16:17] piyushsingariya commented on #2580
This issue isn't relevant anymore since we moved away from manifest to helm charts based installation which doesn't download/cache files in the system.

Closing this for now!

[2022-01-21 16:17] #2580 closed

[2022-01-22 09:25] adithyaakrishna commented on #4839
@IMPranshu @YashKamboj @leecalcote The way we are doing is not the correct way for creating a component in figma, as @leecalcote said, it has to be a reusable component. I have made some teeny tiny changes to the Information Center part of the figma file.

You can refer this video, https://www.youtube.com/watch?v=hZd0s8yN0Io which I use whenever I need to create a collapsible component like the on

[2022-01-22 09:40] adithyaakrishna commented on #4839
Created the Component and Prototype as there was one issue with the above method being, we wont be able to use that again and again  😶

https://user-images.githubusercontent.com/23498248/150633348-0a2b4485-3292-49fa-8f13-be04850b66a5.mp4

@leecalcote Could you please check the above video and lmk if this is the desired option?

[2022-01-22 09:50] adithyaakrishna commented on #4839
Updated and made some animation changes here

![image](https://user-images.githubusercontent.com/23498248/150633664-b1ab6406-9f74-44a2-ac9e-d97a962953fb.png)

[2022-01-22 09:55] theBeginner86 commented on #4907
Sorry, I'm unable to fix this bug. I'll remove my assignment so that someone else can take this up 😅

[2022-01-22 11:55] theBeginner86 commented on #4907
Though I wanted to share a few resources which I came across while I was researching for this issue.

This seems a known issue with the Linux systems and browser's GPU acceleration. Moreover, I think that the error is not printed by the browser pkg but printed by the Linux system due to some internal problem with opening the browser. So not sure whether we can actually solve this problem on our si

[2022-01-23 00:24] leecalcote commented on #4968
@utkarsh-pro little help here, please.

[2022-01-23 14:40] adithyaakrishna opened #4977 "[UX] Figma: Create Exclamation State for Notification Center and a Prototype"
#### Current Behavior
Create a notification component like the one shown below.  Create a prototype for the same as well
![image](https://user-images.githubusercontent.com/23498248/150683798-c4fc10f8-7b82-4c8f-9625-fad878590a1a.png)

#### Desired Behavior
![image](https://user-images.githubusercontent.com/23498248/150682631-081b500e-ef6c-4cac-aebf-9d291a54d5c2.png)

#### Mockups
[](https://www.fig

[2022-01-23 14:43] adithyaakrishna commented on #4977
**Final Component:**
![image](https://user-images.githubusercontent.com/23498248/150683984-2ddc2bb6-b984-42d6-849f-1eff8877500b.png)

**Final Prototype:**
https://www.figma.com/proto/SMP3zxOjZztdOLtgN4dS2W/Meshery-UI?node-id=4203%3A21457&scaling=min-zoom&page-id=136%3A6325&starting-point-node-id=4203%3A21457&show-proto-sidebar=1

**Screen Recording:**
https://user-images.githubusercontent.com/2349

[2022-01-23 14:46] adithyaakrishna commented on #4977
@warunicorn19 @Abhishek-kumar09 @leecalcote Could you please check this and let me know if this is what was required?

[2022-01-23 20:42] utkarsh-pro commented on #4968
@leecalcote on it...

[2022-01-24 13:25] Sunnyio commented on #4945
Hey @ShivamTyagi12345,  are you working on this?

[2022-01-24 16:20] MUzairS15 commented on #4444
@navendu-pottekkat @leecalcote I would like to try.

[2022-01-24 16:58] Sunnyio commented on #4945
If @ShivamTyagi12345 not working, can I take up this issue?

[2022-01-24 17:01] warunicorn19 commented on #4945
Let's wait another day for @ShivamTyagi12345 to confirm his assignment, if not, you could take this forward.

[2022-01-24 17:11] Sayanta66 opened #4982 "[Docs]"
#### Current State

The image in the documentation is not loading and showing an error 404, when the link is being redirected. The broken image url can be found by clicking [here](https://raw.githubusercontent.com/layer5io/meshery/master/assets/img/readme/meshery_lifecycle_management.png). The url for the doc can be found [here](https://github.com/meshery/meshery/edit/master/docs/pages/project/ind

[2022-01-24 17:16] Sunnyio commented on #4982
I would like to work on this.

[2022-01-24 17:39] Sayanta66 commented on #4982
The problem is solved. Hence, closing this issue.

[2022-01-24 17:39] #4982 closed

[2022-01-24 18:53] Abhishek-kumar09 commented on #4977
How much should I praise for the transitional effect in figma. That is looking great to me.

[2022-01-25 06:56] adithyaakrishna commented on #4977
Thanks, man! @Abhishek-kumar09  I really appreciate it 🚀

[2022-01-25 07:00] adithyaakrishna commented on #4775
@varunsaral Any updates on this?

[2022-01-25 08:15] ShivamTyagi12345 commented on #4945
sorry for the unexpected delay ,Working on my PR ASAP

[2022-01-25 08:35] asubedy commented on #2515
I'll work on this

[2022-01-25 08:47] varunsaral commented on #4775
@adithyaakrishna need some help , can i ping you on slack?

[2022-01-25 17:15] #4958 closed

[2022-01-25 17:53] #4607 closed

[2022-01-25 19:38] leecalcote commented on #4444
@MUzairS15 thanks for raising your hand. Let’s close out this issue and leave the behavior as-is for now. :heavy_check_mark:

[2022-01-25 19:38] #4444 closed

[2022-01-25 21:34] RajGM commented on #4359
Hi @Abhishek-kumar09
I would like to work on this.

[2022-01-25 22:43] leecalcote opened #4987 "Deprecate support for Octarine"
#### Current Behavior
This service mesh has been subsumed by VMware Tanzu Service Mesh.

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for contributing to documentation](https://github.com/meshery/meshery/blob/master/CONTRIBUTING.md#documentation-c

[2022-01-26 17:27] gr455 commented on #4951
Hi @leecalcote. I was able to reproduce this issue. Looks like mesheryctl is attempting to start the server back up while the meshery namespace is still being removed on Kubernetes. A solution that I can think of would be to poll the cluster asking if the delete is done. Is this right or is there a better way?

[2022-01-26 17:42] leecalcote commented on #4951
Looping in @piyushsingariya

[2022-01-26 19:46] piyushsingariya commented on #4951
I think the new changes in helm installation method from meshkit might solve it, it needs to be tested after a new release of meshkit.

[2022-01-26 19:50] leecalcote opened #4993 "[CI] "ModuleNotFoundError" UI Integration tests failing"
#### Current Behavior
See - https://github.com/meshery/meshery/runs/4956701283?check_suite_focus=true

Screenshot:
<img width="1039" alt="CleanShot 2022-03-23 at 08 40 28@2x" src="https://user-images.githubusercontent.com/23443575/159725301-8f623752-0dec-4126-8f9a-f014b55d6540.png">

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Rele

[2022-01-26 19:50] leecalcote commented on #4993
@MarioArriaga92, I wonder if you might investigate...

[2022-01-26 19:56] leecalcote commented on #4951
@gr455 it'd be great to get you involved in testing the potentially already completed fix.

[2022-01-26 19:57] leecalcote commented on #4951
MeshKit v0.5.3 is a recent release with all PRs merged.

[2022-01-26 20:41] leecalcote opened #4994 "[mesheryctl] system stop: does not remove meshery-broker (Meshery Server not present)"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
`mesheryctl system stop` does not remove the meshery-broker custom resource despite one being present in the cluster.

_Note: Meshery Server is not running in this situation._

#### Screenshots/Logs

[code]
#### Environment

- Host OS: Mac
- Meshery Server Version: none
- Meshery Clien

[2022-01-26 20:42] MarioArriaga92 commented on #4993
Taking a look at why this below module import from `./pages/_document.js` generated by ui/.babelrc can't be resolved:
`import flush from "styled-jsx/server";`

[2022-01-26 20:51] MarioArriaga92 commented on #4993
I don't think npm package.json's 'dependencies' versions accept the 'latest' value:
https://docs.npmjs.com/cli/v8/configuring-npm/package-json#dependencies

[2022-01-26 20:52] MarioArriaga92 commented on #4993
Curious command to start meshery ui locally barely started complaining about this

[2022-01-26 21:01] MarioArriaga92 commented on #4993
@leecalcote @warunicorn19 can I suggest a rebase from master onto addendum_governance branch? Probably it was branched at a moment where there was something off with ui package.json

[2022-01-26 21:05] MarioArriaga92 commented on #4993
Actually, if only change is in markup why are those tests running in the first place?

[2022-01-26 21:17] MarioArriaga92 commented on #4993
Regarding the failure itself, looks like we should configure babel presets for styled-jsx in [/ui/.babelrc](https://github.com/meshery/meshery/blob/master/ui/.babelrc):
https://nextjs.org/docs/advanced-features/customizing-babel-config

[2022-01-26 21:18] MarioArriaga92 commented on #4993
This steps might help @leecalcote:
https://github.com/vercel/styled-jsx#getting-started

[2022-01-26 21:19] MarioArriaga92 commented on #4993
Specifically this part:
[code]

[2022-01-26 21:21] MarioArriaga92 commented on #4993
but not sure, as per [this other section](https://github.com/vercel/styled-jsx#using-in-nextjs), it shouldn't be needed:
`Next.js automatically configures styled-jsx with babel or swc, you don't have to configure it manually.`

[2022-01-26 21:22] MarioArriaga92 commented on #4993
So I'd look into any webpack specific configurations missing

[2022-01-26 21:23] MarioArriaga92 commented on #4993
Found it!
https://github.com/vercel/styled-jsx#nextjs

[2022-01-26 21:24] MarioArriaga92 commented on #4993
We need this kind of configuration in our [/ui/next.config.js](https://github.com/meshery/meshery/blob/master/ui/next.config.js) file
![Screen Shot 2022-01-26 at 15 23 27](https://user-images.githubusercontent.com/23443575/151249255-edac7a93-b040-4521-a9fc-f63aefa3b164.png)

[2022-01-26 21:57] #4946 closed

[2022-01-26 22:20] #4870 closed

[2022-01-27 06:19] gr455 commented on #4951
That's great! Sure, I will try to test the fix.

[2022-01-27 07:07] leecalcote commented on #4951
Awesome. Have you join the community Slack, yet?

[2022-01-27 07:09] leecalcote commented on #3873
@gr455, think that you are up to this challenge?

[2022-01-27 07:28] gr455 commented on #4951
Yep. I also plan on attending the upcoming Newcomers' meet

[2022-01-27 07:29] gr455 commented on #3873
Sure @leecalcote. I can have a shot at this

[2022-01-27 07:32] alphaX86 commented on #3873
It's all yours now @gr455 :) If you have any queries, you are welcome to refer previous PRs made to solve the issue. Good luck bro

[2022-01-27 08:55] gr455 commented on #3873
Thank you! I'll try my hand at this :D

[2022-01-27 19:17] MarioArriaga92 opened #5002 "[Patterns] Most previously pattern examples are running into conflict / missing component type definitions"
#### Current Behavior

Most previously pattern examples are running into conflict / missing component type definitions

#### Expected Behavior

Pattern files defined in [service-mesh-patterns/service-mesh-patterns](https://github.com/service-mesh-patterns/service-mesh-patterns/tree/master/samples) should not fail deployment

#### Screenshots/Logs

#### Environment

- **Host OS:** Mac Linux Windows

[2022-01-27 19:51] leecalcote opened #5003 "Can't import application: missing `name`"
#### Current Behavior
Users can't import a k8s manifest because it is missing required pattern `name` field.

#### Reproduce:
Try importing a Kubernetes manifest into the Application - https://raw.githubusercontent.com/istio/istio/master/samples/bookinfo/platform/kube/bookinfo.yaml

#### Screenshots/Logs
<img width="1476" alt="Screen Shot 2022-01-27 at 1 10 28 PM" src="https://user-images.githubus

[2022-01-27 20:48] leecalcote opened #5006 "[UI] Apps, Filters, Patterns: Set cursor to pointer on row hover"
#### Current Behavior
For Applications, Patterns, and Filters tables, the mouse cursor should be set to pointer on hover.

Each table row is clickable.

#### Desired Behavior
[code]

#### Screenshots/Logs
<img width="679" alt="Screen Shot 2022-01-27 at 2 45 27 PM" src="https://user-images.githubusercontent.com/7570704/151441100-bcad0966-4a6e-46cf-b4e5-2761cf63b28d.png">

---

#### Contributor [Gui

[2022-01-28 04:48] Sunnyio commented on #5006
I would like to do this

[2022-01-28 04:52] PranshuSrivastava commented on #5006
/assign

[2022-01-28 05:29] leecalcote commented on #5002
@Revolyssup create a pattern. Try to deploy it. See that the component type is unrecognized. e.g. Type: `Gateway.Istio` is not recognized.

[2022-01-28 05:29] leecalcote commented on #5002
@Revolyssup try to apply any of the sample patterns that we have published.

[2022-01-28 05:41] leecalcote opened #5007 "[UI] Applications: Hide "edit" button"
#### Current Behavior
The Applications table has an edit action.

http://localhost:9081/configuration/applications

#### Desired Behavior
This edit action should be hidden (removed from sight).

#### Screenshots/Logs
<img width="738" alt="Screen Shot 2022-01-27 at 11 38 11 PM" src="https://user-images.githubusercontent.com/7570704/151493400-3dc45f81-7a8f-42fc-be69-a498174e3fc8.png">

---

#### Con

[2022-01-28 05:45] leecalcote opened #5008 "[Apps] Application deploy not working despite `name` field being supplied."
#### Current Behavior
User pastes a K8s manifest into an existing application entry and manually adds the `name` field.

#### Expected Behavior
Application fails to deploy. Empty pattern file is being sent for deployment. The pattern sent for deployment only contains a name field and is missing the rest of the k8s manifest.

#### Server Logs
Example:

[code]

---
#### Contributor [Guides](https://

[2022-01-28 15:34] warunicorn19 commented on #4945
Hey @ShivamTyagi12345 let's get you unblocked from this issue, please feel free to take a look at other open issues. @asubedy can pick this up.

[2022-01-28 15:35] #5006 closed

[2022-01-28 17:32] asubedy opened #5014 "[UI] Create a pattern using Meshery UI Pattern configurator."
#### Implementation
Create a pattern from scratch using configurator in the Meshery UI taking a reference from the `bookinfo.yaml` manifest found [here](https://raw.githubusercontent.com/istio/istio/master/samples/bookinfo/platform/kube/bookinfo.yaml)

#### Acceptance Tests

#### Mockups

<img width="1003" alt="image" src="https://user-images.githubusercontent.com/51183483/151594182-e3c3c166-8b52-

[2022-01-28 17:54] Abhishek-kumar09 opened #5015 "[UI] Duplicate snackbar in Meshery UI"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._
Duplicate snackbars when there are no k8s config present

Adding prevent duplicate property to it will resolve this:
like this:
[code]

#### Current Behavior

![image](https://user-images.githubusercontent.com/48255244/151596957-99a36c1b-f5dd-4e9d-83ae-28dd081d9a67.png)

#### Desired Behavior

No duplicate s

[2022-01-28 18:27] Chadha93 commented on #5015
Pushing fix for this 🐛

[2022-01-28 18:47] Chadha93 commented on #5014
@asubedy up for this? I guess yes 🙂

[2022-01-28 18:48] asubedy commented on #5014
Yes 😄

[2022-01-28 19:23] #4945 closed

[2022-01-28 19:24] #5007 closed

[2022-01-28 19:38] #5015 closed

[2022-01-29 07:16] Revolyssup commented on #5002
@leecalcote  Fixed by latest meshkit release

[2022-01-29 07:16] #5002 closed

[2022-01-29 09:42] gr455 commented on #4951
I am running into issues trying to run mesheryctl with meshkit v0.5.3. I changed the version in go.mod and ran `go mod tidy` and ran `make` to build the mesheryctl binary.

[code]
It works just fine with the older meshkit v0.5.1.
Am I doing something wrong here?

[2022-01-29 19:42] Abhishek-kumar09 commented on #4567
This is Fixed with pull/585 in meshery-extensions
@leecalcote

[2022-01-29 19:42] #4567 closed

[2022-01-30 00:47] AbhishekJamhoriya commented on #4921
Hi, @Chadha93 please assign me this issue. let me give it a try.

[2022-01-30 09:00] piyushsingariya commented on #4951
Cool, thanks for checking if the feature worked, I thought it would, it didn't worked the way i thought it would.
Mesheryctl already has capability to wait for meshey to start but I couldn't found any implementation Strategy that would help me wait till deployments are deleted, so I thought we could do with helm SDK, that fails completely. So those changes will be reverted very soon.
that basicall

[2022-01-30 13:54] gr455 commented on #4951
@piyushsingariya Can you brief me on what you tried with helm sdk?

[2022-01-30 15:11] piyushsingariya commented on #4951
https://github.com/meshery/meshkit/pull/147 Here you can take a look.

[2022-01-30 17:55] #4767 closed

[2022-01-30 18:04] gr455 commented on #4951
Great thanks!

[2022-01-31 04:28] Kumaravinash9 commented on #3988
Hi @leecalcote @piyushsingariya I would like to work on this issue. If anyone  else is working, I would like to collaborate with them. Thanks

[2022-01-31 06:48] gr455 commented on #3873
I am trying out #4951, which will itself take me some time, so I am unassigning myself so someone else could take this one up in the meantime.

[2022-01-31 06:50] alphaX86 commented on #3873
No issues @gr455 👍

[2022-01-31 08:25] #4741 closed

[2022-01-31 14:31] leecalcote opened #5019 "[mesheryctl] Gracefully handle headless `system start`s"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
Users who run `mesheryctl system start` on a headless environment shouldn't be shown confusing error logs.

Example from an SSH session on MacOS:

[code]

#### Desired Behavior
Users can specify a `--skip-browser` flag (or can do so soon), which is great. They should be informed about

[2022-01-31 14:40] leecalcote commented on #3795
Perhaps, a `--force` flag could be added here with the behavior to execute the `stop()` logic irrespective of Meshery Server status.

[2022-01-31 15:09] piyushsingariya commented on #3795
@leecalcote I think this was the case with your system back then, because it is not reproducible in my local system.
Meshery Server status is just a case added to maintain few mesheryctl commands which checks if meshery is running and if someone is running via local build.

[2022-01-31 15:11] piyushsingariya commented on #3988
assigning you @Kumaravinash9

[2022-01-31 15:16] Abhishek-kumar09 commented on #5003
Even when we have added a name to the kubernetes yaml, we still can't deploy it on the cluster.
Take this example:

<details><summary>Book Info k8s yaml</summary>
<p>

[code]

</p>
</details>

It won't prompt you for the wrong application, as it has the name field now.

But when this file is processed on backend, it won't create any resource since `deploy` function calls `_processPattern` which ex

[2022-01-31 15:18] leecalcote commented on #5003
@Abhishek-kumar09 if a `name` field is added _and_ a `service` field are added, the rest of the manifest should be passed along and sent for provisioning. Does that sound accurate?

[2022-01-31 21:18] leecalcote commented on #4157
@Chadha93, let's ensure that this is intentionally closed and not due to lack of attention.

[2022-02-01 05:39] Chadha93 commented on #4157
yes, as from the past discussion and my previous PR we are not going with that separate fields for GH Import(implemented), we need a proper approach with some refinements in the backend also to achieve this with proper goals.

[2022-02-01 07:04] #4454 closed

[2022-02-02 07:00] kulsoomzahra commented on #4930
hey @leecalcote can i take this up?

[2022-02-02 13:09] Chadha93 commented on #4728
yes, @navendu-pottekkat is right in terms of UX. Is this issue still required? If not lets close this @warunicorn19

[2022-02-02 14:44] Chadha93 commented on #4110
Let's cover this in refactoring, // @Abhishek-kumar09 @warunicorn19

[2022-02-02 21:05] debo19 opened #5040 "[Docs] Navbar enhancement"
#### Current State

The navbar on [Meshery Docs](https://docs.meshery.io/) and the navbar on [meshery.io](https://meshery.io/) have unequal width.

<img width="1440" alt="Screenshot 2022-02-03 at 2 29 52 AM" src="https://user-images.githubusercontent.com/85789734/152236578-0542843d-b31b-495d-a0b6-f9f38b4fffbb.png">
<img width="1440" alt="Screenshot 2022-02-03 at 2 29 24 AM" src="https://user-image

[2022-02-03 02:47] Sunnyio commented on #5040
I would like to work on this.

[2022-02-03 03:18] debo19 commented on #5040
Go ahead @Sunnyio

[2022-02-03 11:45] Chadha93 commented on #4771
@manav1403 is this issue still valid?

[2022-02-03 14:54] #3795 closed

[2022-02-04 03:20] alphaX86 commented on #4578
IG this issue is sorted via the solution provided in the Discourse forum. So are we good to close this issue then?

[2022-02-04 03:27] leecalcote commented on #4578
@piyushsingariya, do you know?

[2022-02-04 06:07] piyushsingariya commented on #4578
This is solved with the recent addition in `stop` command via `--force` flag. Closing this one!

[2022-02-04 06:07] #4578 closed

[2022-02-04 15:46] MarioArriaga92 commented on #4582
@leecalcote @Abhishek-kumar09 @navendu-pottekkat do we agree on suggestions I made in prior comment? I don't have permissions to apply those changes lol

[2022-02-04 16:00] MarioArriaga92 commented on #4582
PR linked to child issue [4826](https://github.com/meshery/meshery/issues/4826) would cross the 3 checkboxes mentioned in "E2E Tests" section of prior comment I made but still need to check if issues are fixed already (the ones spoken during prior community meeting)

[2022-02-04 16:47] Abhijay007 commented on #4775
@varunsaral are you still working on this issue?

[2022-02-04 19:07] MarioArriaga92 commented on #4826
Working on it

[2022-02-04 19:09] leecalcote commented on #4826
yeah, back off, stalebot. ;)

[2022-02-04 19:11] MarioArriaga92 commented on #5002
@leecalcote @Revolyssup is meshkit obtained dynamically or should we create a new release candidate for meshery v.0.6.0?

[2022-02-04 19:15] MarioArriaga92 commented on #5002
checks for PR whose branch where e2e cypress test for this functionality exist are [running](https://github.com/meshery/meshery/runs/5071465910?check_suite_focus=true) right now but wanted to see if there's any update I'd need to do locally if I wanted to run them on my machine **(maybe update the application/pattern samples used?)**

[2022-02-04 19:24] MarioArriaga92 commented on #5002
Still failing 😢
![Screen Shot 2022-02-04 at 13 24 04](https://user-images.githubusercontent.com/23443575/152590535-4cc2460a-5f29-40d3-b85e-0c963fa48f0a.png)

[2022-02-04 19:28] MarioArriaga92 commented on #5002
Files used are [this IstioFilterPattern file](https://github.com/meshery/meshery/blob/ae253eba9c79677882c91210199ccd21fa18fee8/ui/cypress/fixtures/configuration/service-mesh-patterns-samples/IstioFilterPattern-commit-b23b219.yaml) and this [BookInfoPattern file](https://github.com/meshery/meshery/blob/ae253eba9c79677882c91210199ccd21fa18fee8/ui/cypress/fixtures/configuration/service-mesh-patterns-

[2022-02-04 19:36] MarioArriaga92 commented on #5002
Here's error for [IstioFilterPattern file](https://github.com/meshery/meshery/blob/ae253eba9c79677882c91210199ccd21fa18fee8/ui/cypress/fixtures/configuration/service-mesh-patterns-samples/IstioFilterPattern-commit-b23b219.yaml):
`"Failed to deploy pattern file: rpc error: code = Unknown desc = no matches for kind "EnvoyFilter" in version "networking.istio.io/v1alpha3"`

Screenshot:
<img width="954

[2022-02-04 19:44] Abhishek-kumar09 commented on #4582
I added some more checkpoints on the parent issue, mentioned by you.

[2022-02-04 20:50] adithyaakrishna opened #5042 "[UI] - Update Sidebar of Meshery According to New Figma Design"
#### Current Behavior

The sidebar in Meshery UI looks kinda like this now, which needs to be updated according to the new design and prototype in figma
![image](https://user-images.githubusercontent.com/23498248/152600103-de08bc29-138a-4da4-9201-a0f2edede55c.png)

#### Desired Behavior

**Proposed Non-Collapsed Design**

![image](https://user-images.githubusercontent.com/23498248/152600547-38c386

[2022-02-04 21:35] leecalcote commented on #5042
@YashKamboj did your implementation of this land, yet?

[2022-02-04 21:37] leecalcote commented on #5042
The hover state here isn't quite right. The chevron/arrow should be right aligned ~1rem away from the edge of the sidebar.

[2022-02-04 21:38] leecalcote commented on #5042
This design looks great and has incorporated all feedback. We're good to go on implementation.

[2022-02-05 03:23] asubedy commented on #5042
I can work on this

[2022-02-05 03:37] YashKamboj commented on #5042
@leecalcote Yeah!! was done days ago can check #4926 , i can make the new changes of the hover and the new dropdown in that  pr only

[2022-02-05 06:10] gr455 opened #5043 "[mesheryctl] Negative confirmation to `restart` still goes through with start operation"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

`mesheryctl system restart` asks confirmation to stop the deployments. Answering `n` to this confirmation cancells the `stop` operation but still goes through with the `start` operation because this confirmation is handled in `stop`.

#### Desired Behavior

The confirmation should be

[2022-02-05 06:44] navendu-pottekkat commented on #4456
@s1ntaxe770r It might still be an issue. I don't think anything changed here.

[2022-02-05 06:46] navendu-pottekkat commented on #2968
@piyushsingariya @hexxdump Did we reach a consensus on whether or not to add this feature?

[2022-02-05 06:48] navendu-pottekkat commented on #3243
@piyushsingariya Then we should be prompting in both (Docker and Kubernetes) the cases right?

[2022-02-05 08:09] verma-kunal commented on #2884
Hey @leecalcote , would love to help out here! Any guidance on how can i proceed would help? 🙂

[2022-02-05 08:17] piyushsingariya commented on #2968
The discussion was still on-going, maybe we should discuss this in the next dev meeting to grab attention from more people and we might get more views on this.

[2022-02-05 08:54] navendu-pottekkat commented on #2884
@verma-kunal You have to just change the UX to what is mention in the comment.

[2022-02-05 12:12] StarTrooper08 commented on #4143
We have to do the documentation part for Traefik Mesh Adapter right!?
I m going through the resources and contributor guides.

[2022-02-05 15:43] verma-kunal commented on #2884
Umm, i am actually not sure if i understood this right! It would really help if you could explain this a bit more, because I am new to the project & have not yet started using `meshery`
Thanks 🙂

[2022-02-06 08:49] verma-kunal commented on #2884
I'll try & reproduce this issue! Would reach out if stuck anywhere! 🙂

[2022-02-06 14:30] navendu-pottekkat commented on #2884
@verma-kunal Instead of showing "Starting Meshery logging..." right away, wait to see if Meshery is running and then show it. Else, show that Meshery is not running and there are no logs to show.

It would be just moving the logging code after the check.

[2022-02-07 08:43] verma-kunal commented on #2884
I am not sure why, its been stuck here since 15min, after stopping Meshery 😅
![Screenshot 2022-02-07 at 2 10 28 PM](https://user-images.githubusercontent.com/72245772/152753436-7fd5d542-061d-47fe-a3f7-f672bb738779.png)

[2022-02-07 13:17] Akshit42-hue commented on #5040
Can I work on this issue @debo19

[2022-02-07 15:37] #5040 closed

[2022-02-07 15:50] navendu-pottekkat commented on #2884
The way we check if Meshery is running might be shortsighted. It may not actually be an indicator of the running status of Meshery.

// @piyushsingariya @hexxdump

[2022-02-07 16:23] Akshit42-hue commented on #4921
Can I work on this issue @Chadha93

[2022-02-07 16:33] debo19 commented on #5040
@Akshit42-hue this issue has been fixed. You can take a look at any other [help-wanted](https://github.com/meshery/meshery/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22) issues.

[2022-02-07 17:53] Chadha93 commented on #4921
@Akshit42-hue before getting assigning, lets confirm that you are able to build docs locally.

[2022-02-07 17:54] Akshit42-hue commented on #4921
Yes, I can build docs locally

[2022-02-07 18:02] Chadha93 commented on #4921
great, lets wait for @AbhishekJamhoriya 's response, if he is not available you can make a pr for this. :)

[2022-02-07 18:08] Abhishek-kumar09 opened #5046 "Meshery Server won’t connect to Adapters unless the Server has a connection to Kubernetes."
#### Current Behavior

![image](https://user-images.githubusercontent.com/48255244/152846034-7534789a-2bec-4a81-8798-c50662f5bd57.png)
If the kuberenetes cluster is down, you won't be able to show adapters on the list although the underlying adapter is running &  workloads and traits are registered with meshery. It's not showing in the UI.

#### Expected Behavior

Adapters should be visible if the

[2022-02-07 20:15] AbhishekJamhoriya commented on #4921
@Chadha93 I'm working on it .

[2022-02-08 05:22] Chadha93 commented on #5046
@Abhishek-kumar09 this issue relates to this previous issue, right? https://github.com/meshery/meshery/issues/2855

[2022-02-08 05:38] warunicorn19 commented on #5046
Not exactly @Chadha93. Basically right now if you dont have kubernetes running you wouldn't be able to connect to the adapter. It'll show an error, something like `kubernetes config not configured`. That shouldn't be the case, irrespective of the fact if we have kubernetes running or not the adapter should connect. That's what this issue is for right @Abhishek-kumar09 ?

[2022-02-08 07:15] piyushsingariya commented on #2884
@verma-kunal can you dig a little deeper where exactly the code get stuck??

[2022-02-08 09:01] gr455 commented on #4951
@piyushsingariya Let's rethink the solution to this isse. The issue is that the `restart` operation starts before the namespace is terminated. So we do not need to poll for resources for the sake of this issue. All we need to do is poll for the namespace in `stop` operation if the namespace is set to be deleted. If the namespace is not set to be deleted (with the --keep-namespace flag), then there

[2022-02-08 17:22] piyushsingariya commented on #4907
@theBeginner86 we won't able to do that implementation that you suggested. the current implementation works irrespective of an OS, and that's what we want for a long time, it though opens a stream after executing the operation, maybe the package itself provides an option to not open these streams, did you check in this direction?

[2022-02-08 21:39] #4783 closed

[2022-02-09 04:24] ashutosh887 commented on #4930
Hey @leecalcote  Should I try on this one?

[2022-02-09 04:25] ashutosh887 commented on #4921
Should I help in this issue @AbhishekJamhoriya @Chadha93

[2022-02-09 04:26] ashutosh887 commented on #4907
Hey @leecalcote  Should I try on this one? @Nikhil-Ladha @piyushsingariya @theBeginner86 @blake @lucj

[2022-02-09 05:26] piyushsingariya commented on #4907
sure!

[2022-02-09 05:41] warunicorn19 commented on #4930
hey @ashutosh887, I'll have to assign this one to @kulsoomzahra since she commented first. Please feel free to take a look at other issues 😃

[2022-02-09 05:47] ashutosh887 commented on #4930
No Issues @warunicorn19
I can help if she wants

[2022-02-09 06:07] varunsaral commented on #4930
@warunicorn19 i was working on it sir? i have submitted 3 PR already but was failed , i was about to submit one today.

[2022-02-09 06:08] varunsaral commented on #4775
@Abhijay007 let's talk on slack about this issue , i have some doubts

[2022-02-09 06:13] ashutosh887 commented on #4907
Can you tell me which File should I work on @piyushsingariya
I am just trying to start learning about the file structure of the project

[2022-02-09 06:32] theBeginner86 commented on #4907
@ashutosh887
You need to check out the `mesheryctl` folder for working and improving mesheryctl.
For this particular issue, the error comes from this line: https://github.com/meshery/meshery/blob/b2ca6e4af20d268bda36813882f7960b17490e20/mesheryctl/internal/cli/root/system/dashboard.go#L103

[2022-02-09 06:35] Abhijay007 commented on #4775
okay :)

[2022-02-09 09:00] verma-kunal commented on #2884
Yeah, so when i view the `logs` when Meshery is up & running, its showing as soon as i run the command!
![Screenshot 2022-02-09 at 2 24 55 PM](https://user-images.githubusercontent.com/72245772/153160627-99c70351-73f0-41c1-abae-73815a026ff7.png)

But, when Meshery is stopped by `mesheryctl systerm stop` & then i try to view the logs, its taking a lot of time for me, to produce any result! (Like me

[2022-02-09 09:16] piyushsingariya commented on #2884
Nice, that's also a part of the issue that you need to fix now!

[2022-02-09 19:19] verma-kunal commented on #2884
Oh, sure! Would love to help
So, as I am new to this project & the technologies and have just setup Meshery on my system, so some resources would definitely help me here to understand how to go about this.
The [Meshery CLI guides](https://docs.meshery.io/guides/mesheryctl) may help here right?
Any other suggestions would mean a lot

Thanks

[2022-02-09 20:15] iambami commented on #864
Hi @sb1975 are you still working on this?

[2022-02-09 23:31] leecalcote commented on #4808
@Abhishek-kumar09 @Revolyssup I think this issue has been addressed. Is that right?

[2022-02-09 23:32] leecalcote commented on #2884
Also - https://docs.meshery.io/project/contributing/contributing-cli

[2022-02-10 07:09] #3700 closed

[2022-02-10 07:09] #4199 closed

[2022-02-10 07:24] #4665 closed

[2022-02-10 07:24] #4951 closed

[2022-02-11 05:09] verma-kunal commented on #2884
Thanks for sharing! Will refer these

[2022-02-11 09:17] Chadha93 commented on #3919
@RajGM are you able to reproduce this issue? What will be your approach for this issue?

[2022-02-11 14:28] fallmor commented on #5019
Hello, i can work on this

[2022-02-11 15:48] ashutosh887 commented on #4907
Thanks @theBeginner86

[2022-02-11 19:17] leecalcote commented on #4313
@Zanda256 still chewing on this one?

[2022-02-11 19:18] leecalcote commented on #5019
Thank you, @fallmor.

[2022-02-12 06:43] RajGM commented on #3919
Hi @Chadha93
So far I am unable to reproduce the issue but I am working on that.
There can be multiple ways to solve this but I am assuming that with each request we are sending the token to server with each request (private routes) and then on server side we are verifying the token.
So once the token expires while the user is on the /performance page I can redirect him to login page.
On the login

[2022-02-12 15:54] hexxdump commented on #2842
yes @leecalcote

[2022-02-13 15:52] RajGM commented on #3919
Hi @Chadha93
What do you think about my approach?

[2022-02-14 08:41] Chadha93 commented on #3919
// @piyushsingariya @warunicorn19 your thought on the above approach?

[2022-02-14 11:56] piyushsingariya commented on #3919
@RajGM nice approach. because it's a big UX change, we should discuss this over the Meshery Development call on Wednesday.

[2022-02-14 20:25] leecalcote opened #5068 "[CI] UI Integration Test: Update needed for Multi-context support"
#### Current Behavior
The incorporation of support for multiple Kubernetes clusters needs to be accounted for in the Cypress tests.

#### Expected Behavior
UI Integration tests should be passing and should account for multiple cluster changes.

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/pr

[2022-02-14 20:28] leecalcote commented on #5068
@MarioArriaga92 fyi

[2022-02-14 22:40] leecalcote opened #5070 "[Meshery Server] Patterns endpoint failure"
#### Current Behavior
On load of http://localhost:9081/configuration/patterns, users see:

<img width="438" alt="Screen Shot 2022-02-14 at 4 38 49 PM" src="https://user-images.githubusercontent.com/7570704/153958621-c53dce4d-24a5-4dfe-8d1a-207c0651389d.png">

#### Screenshots/Logs
[code]
#### Environment

- **Meshery Server Version:** edge

---
#### Contributor [Guides](https://docs.meshery.io/pro

[2022-02-15 01:33] #4914 closed

[2022-02-15 06:25] RajGM commented on #3919
ok @piyushsingariya
Really excited to discuss this.

[2022-02-15 13:01] #4143 closed

[2022-02-15 14:38] manav1403 commented on #5070
The following endpoints are failing as from the networking tab when loading Meshmap

- `Request URL: http://localhost:9081/api/pattern?page=&page_size=&search=&order=`
- `Request URL: http://localhost:9081/api/user/performance/profiles`

![image](https://user-images.githubusercontent.com/51405571/154083717-dd9fd7eb-a70f-4570-8fba-fb298ec06e3e.png)

[2022-02-15 14:42] warunicorn19 opened #5075 "MeshMap isn't loaded unless there's an active Kubernetes Context"
#### Current Behavior
Currently after logging in to Meshery, the user's OAuth fails unless there's an active Kubernetes context

#### Expected Behavior
That shouldn't be the case.

#### Screenshots/Logs

#### Environment

- **Host OS:** Mac Linux Windows
- **Platform:** Docker or Kubernetes
- **Meshery Server Version:** stable-v
- **Meshery Client Version:** stable-v

---
#### Contributor [Guides]

[2022-02-15 15:35] verma-kunal commented on #2884
Hey all, i am actually traveling to college right now, so it might take me a bit of time to set things up, before i start working on this issue!

Would love to stick to this & work upon, but if you all feel to give a chance to any other folks from the community, i'll support that decision as well 🙂

Thank you!

[2022-02-15 22:50] #3770 closed

[2022-02-15 23:09] warunicorn19 opened #5077 "[UI] Settings page crashing when no Kubernetes context is present"
**Settings page crashing when no Kubernetes context is present**

Scenario: User has no Kubernetes cluster available. User navigates to Settings page. Page returns "unexpected error" with the following console log:

<img width="1508" alt="Screen Shot 2022-02-15 at 4 56 36 PM" src="https://user-images.githubusercontent.com/7570704/154164020-3e9abc61-71d8-451f-a6b4-9428734d9aee.png">

and Meshery Se

[2022-02-15 23:10] #4968 closed

[2022-02-15 23:11] warunicorn19 opened #5078 "[UI] Kubernetes contexts deleted, but not shown as deleted in UI."
**Kubernetes contexts deleted, but not shown as deleted in UI.**

Scenario: User connects to Kubernetes cluster. User visits Settings page. User clicks the "x" on the Kubernetes chip. The Kubernetes context is deleted with the Meshery Server output:

[code]

But, chips remain in the UI:
<img width="1039" alt="Screen Shot 2022-02-15 at 5 03 00 PM 2" src="https://user-images.githubusercontent.com/75

[2022-02-16 04:54] ashutosh887 commented on #4930
Should I try it now? @warunicorn19

[2022-02-16 08:51] NikhilSharma03 commented on #4971
@leecalcote We can close this one.

[2022-02-16 15:28] navendu-pottekkat commented on #3919
Related: https://github.com/meshery/meshery/pull/4956

[2022-02-16 15:34] YashKamboj commented on #5078
Can i give it a try?

[2022-02-16 15:41] warunicorn19 commented on #5078
Sure go ahead @YashKamboj

[2022-02-16 16:10] leecalcote opened #5082 "[Docs] Trailing backslash not redirecting on Compatibility Matrix"
#### Current State
When a user navigates to https://docs.meshery.io/project/compatibility-matrix/ using the breadcrumb trail, a trailing slash is present in the URL, causing the user to land on a 404 page.
<img width="948" alt="Screen Shot 2022-02-16 at 10 10 42 AM" src="https://user-images.githubusercontent.com/7570704/154307384-82c5759d-54c1-4bc3-a826-3989f4f82046.png">

Source: https://github.c

[2022-02-16 16:29] Akshit42-hue commented on #5082
Can I work on this issue @leecalcote

[2022-02-16 17:09] Revolyssup commented on #5075
Solved by https://github.com/meshery/meshery/pull/5076

[2022-02-16 17:31] gr455 opened #5083 "[mesheryctl] `system stop --force` errors out on CRs"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

`mesheryctl system stop --force` errors out if any of the CRs is not present.

#### Desired Behavior

The command should only log that it didn't find a certain CRD and continue its job.

#### Screenshots/Logs
[code]

#### Environment

- Host OS: Linux
- Meshery Server Version: v0.6.0-

[2022-02-16 19:35] leecalcote commented on #5070
@Revolyssup was this recently fixed?

[2022-02-16 19:36] Revolyssup commented on #5070
yes its fixed.

[2022-02-16 19:36] #5070 closed

[2022-02-16 20:11] MarioArriaga92 commented on #4993
Taking a look

[2022-02-17 02:30] #5077 closed

[2022-02-17 02:32] #3765 closed

[2022-02-17 15:01] warunicorn19 opened #5087 "[UI] Navigating Contexts"
#### Current Behavior
The new dropdown selects any particular context and stores it in React state (in v0.7 Redux store) and passes around with props(this.props.activeContext) but this is not being used by the UI. For example, if we are on the Istio page and try to deploy it after selecting some context, that context will not be used(It will have to be passed in query parameters).

#### Desired Be

[2022-02-17 15:55] leecalcote commented on #5087
Seems like we'll want Redux here, but can't wait that long. // @sudo-NithishKarthik

[2022-02-17 15:56] sudo-NithishKarthik commented on #5087
I'll implement a workaround for this.

[2022-02-18 16:43] YashKamboj commented on #5078
Couldn't find the fix, unassigning!

[2022-02-18 17:05] leecalcote opened #5091 "[Docs] REST and GraphQL API Reference updates needed for multi-context support"
#### Desired State
1. https://docs.meshery.io/reference/rest-apis
1. https://docs.meshery.io/reference/graphql-apis

---

#### [Contributor Guides](https://docs.meshery.io/project/contributing) and Resources
- 📚 [Instructions for contributing to documentation](https://docs.meshery.io/project/contributing/contributing-docs)
   - Meshery documentation [site](https://docs.meshery.io/) and [source](ht

[2022-02-18 17:22] leecalcote opened #5092 "[Docs] Promote `oam` REST endpoint from experimental"
#### Current State
On https://docs.meshery.io/reference/rest-apis, the `oam` endpoint is listed as experimental, which is no longer the case.

#### Desired State
The swagger docs should reflect the new endpoint location and description.

| Old | New | Description |
|----------------------------|---------------|--------------------------------------------------------------------------------------|

[2022-02-18 17:24] Revolyssup opened #5093 "[Security] Kubernetes Contexts: Vulnerability to be fixed for v0.8.0"
#### Current Behavior

/api/system/kubernetes/contexts returns data for each context which also contains certificate details.
#### Expected Behavior

#### Screenshots/Logs

#### Environment

- **Host OS:** Mac Linux Windows
- **Platform:** Docker or Kubernetes
- **Meshery Server Version:** stable-v
- **Meshery Client Version:** stable-v

---
#### Contributor [Guides](https://docs.meshery.io/projec

[2022-02-18 17:31] leecalcote commented on #5093
@Revolyssup the `security` label and the `v0.8.0` milestone can be added to the issue.

[2022-02-18 17:33] sudo-NithishKarthik opened #5094 "[UI] Add Context Related Information in the Redux Store"
#### Current Behavior
After the introduction of support for multi-contexts in meshery(#4218), there is a necessity for us to track the state of the active contexts/clusters managed by Meshery in the UI.

#### Desired Behavior
We have to store the state of the clusters/contexts managed by Meshery.

#### Implementation
Use the existing Redux store to store that state so that it can used pervasively

[2022-02-19 16:58] asubedy commented on #5082
@Akshit42-hue You can take reference to this issue, this is the same issue.

[2022-02-20 14:40] leecalcote commented on #4895
@Aisuko, what do you think about this? Are there any special considerations that need to be made or does this component fold in just as any other of the adapters do?

[2022-02-20 14:57] leecalcote commented on #5082
@Akshit42-hue the fix is a one line change. Let's wrap this up in 24 hours or kindly remove your assignment yourself so that another contributor can complete it.

[2022-02-20 15:28] Akshit42-hue commented on #5082
In https://github.com/meshery/meshery/blob/master/docs/pages/project/compatibility_matrix/compatibility.md file I have to add "redirect_from: /" that's the only change I want to make. Am I right? @leecalcote

[2022-02-20 15:30] leecalcote commented on #5082
Spot on. 👍

[2022-02-20 16:05] asubedy commented on #5082
@Akshit42-hue  this was the issue I was talking about. https://github.com/meshery/meshery/issues/4930

[2022-02-20 16:12] Akshit42-hue commented on #5082
Should I commit both issue and merge it in a single PR @asubedy

[2022-02-20 16:27] asubedy commented on #5082
Lets not do that, you can work on this issue separately, and we will look into that issue separately, if it is not being worked on you can work on that by making a new PR

[2022-02-20 18:02] #5082 closed

[2022-02-20 18:27] Akshit42-hue commented on #4930
Can I work on this issue @asubedy

[2022-02-20 18:49] Akshit42-hue commented on #4930
Can I work on this issue @asubedy

[2022-02-20 20:12] asubedy commented on #4930
Considering @ashutosh887 commented first, @ashutosh887 if you still want to work on this you can.

If not @Akshit42-hue  can take this.

[2022-02-21 01:27] Aisuko commented on #4895
Hi guys, too busy these days. For my view, it's just as a normal sub-chart is ok.

[2022-02-21 02:18] ashutosh887 commented on #4930
I'll do it @asubedy

[2022-02-21 05:47] Akshit42-hue commented on #4930
Sure @ashutosh887 go ahead if you want any help feel free to ping me

[2022-02-21 11:54] #2854 closed

[2022-02-21 11:54] #4512 closed

[2022-02-21 15:39] warunicorn19 opened #5099 "[UI] All Contexts should be visible on the dashboard."
#### Current Behavior
Only the current context is visible on the dashboard.

#### Desired Behavior
All configured kubernetes clusters should be visible.

#### Screenshots/Logs
<img width="688" alt="Screenshot 2022-02-21 at 10 37 02 AM" src="https://user-images.githubusercontent.com/53532328/154986593-74265512-c7c8-4545-9cd4-ac3ace928f6e.png">

#### Environment

- Browser: Chrome Safari Firefox
- H

[2022-02-21 15:41] warunicorn19 opened #5100 "[UI] Current Context should be visible in the text field"
#### Current Behavior
The Current Context Text field doesn't show the current context name.

#### Desired Behavior
The Current context should be visible in the text field

#### Screenshots/Logs
<img width="498" alt="Screenshot 2022-02-21 at 10 34 20 AM" src="https://user-images.githubusercontent.com/53532328/154986929-d08c31aa-e277-4198-abf0-5d71ab69b320.png">

#### Environment

- Browser: Chrome

[2022-02-21 15:43] warunicorn19 opened #5101 "[UI] Multi-context switcher not switching context"
#### Current Behavior
The multi-context switcher is not successfully switching the context.

#### Desired Behavior
The context needs to change from the switcher itself.

#### Screenshots/Logs

https://user-images.githubusercontent.com/53532328/154987126-bd644bae-7f3a-4c16-84f9-cd496a971dae.mov

#### Environment

- Browser: Chrome Safari Firefox
- Host OS: Mac Linux Windows
- Meshery Server Version

[2022-02-21 18:53] ShivamTyagi12345 commented on #5099
I will like to take up this issue👋🏻

[2022-02-21 19:28] leecalcote commented on #5099
@ShivamTyagi12345 good deal. Before taking assignment, will you propose a solution?

[2022-02-21 19:29] leecalcote commented on #4895
@gyohuangxin or @hershd23, would either of you like to create this sub-chart?

[2022-02-21 20:15] adi611 opened #5102 "Docs: Error 404 in "Contributing to Meshery UI" webpage"
#### Current State
The github-actions bot links to [Contributing to Meshery UI](https://docs.meshery.io/project/contributing-ui) which returns error 404.
![image](https://user-images.githubusercontent.com/50960175/155020768-31b71ad5-e3d5-422f-9c35-373228b80df7.png)

![Screenshot (324)](https://user-images.githubusercontent.com/50960175/155020169-26d2f424-2a4f-4658-b7db-490b15304071.png)

#### Desi

[2022-02-21 21:19] #5102 closed

[2022-02-22 03:36] alphaX86 opened #5105 "[mesheryctl] Implement `uninstall` and `install` command feature"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

Currently, `mesheryctl` doesn't have option to uninstall components, so users have to manually remove the components which in some scenarios results in improper uninstall ways, leading to bugs.

#### Desired Behavior

Implement uninstall and install (to reinstall Meshery if needed aga

[2022-02-22 03:47] #5105 closed

[2022-02-22 04:53] hershd23 commented on #4895
Yep, I'll take it up. Wanted to motivate myself to learn about Helm. This should do it. :)

[2022-02-22 05:03] Aisuko commented on #4895
Hi @hershd23 , thank you. Please do this. If you hit any issue, please ping us on Slack.

[2022-02-22 06:31] gyohuangxin commented on #4895
@hershd23 Thank you for taking it up, and I'm pleased to give any help too.

[2022-02-22 13:48] NikhilSharma03 commented on #4971
@leecalcote Closing this.

[2022-02-22 13:48] #4971 closed

[2022-02-22 14:34] leecalcote opened #5107 "[UI] Kubernetes context switcher transition"
#### Current Behavior
The Kubernetes context switcher has an appear and disappear effect with a slight zoom in and out.

#### Desired Behavior
Instead, the desired animation effect is to have the switcher expand/collapse from underneath the title bar.

#### Mockups

https://user-images.githubusercontent.com/7570704/155153583-0605ffe5-a2ff-455f-a623-9e20f54a248c.mov

---

#### Contributor [Guides](

[2022-02-22 17:40] leecalcote commented on #4971
Great work. :)

[2022-02-22 19:24] hershd23 commented on #4895
@Aisuko @gyohuangxin, Lee gave me some information to better understand the issue.

He suggested that adding `meshery-perf` to the `charts.yaml` in the main folder (`/install/kubernetes/helm`) and adding a sub-chart directory similar to what we have done for a service mesh would be a good starting point (Could be a template).

Can you give me some `meshery-perf` specific information i.e. what are

[2022-02-22 20:02] adi611 opened #5109 "[Docs] REST is written as ReST in architecture.md"
#### Current State
In architecture.md file REST is written as ReST
![Screenshot from 2022-02-23 01-22-05](https://user-images.githubusercontent.com/50960175/155208860-12096f1e-fa7e-436c-8c9a-e43e66ff13f0.png)

#### Desired State
It should be REST instead of ReST, as REST is the valid acronym.

---

#### [Contributor Guides](https://docs.meshery.io/project/contributing) and Resources
- 📚 [Instructi

[2022-02-22 20:06] leecalcote commented on #4895
A network port needs to be reserved here - https://docs.meshery.io/concepts/architecture#network-ports. It looks like `10013` is next up.

[2022-02-22 20:12] #5109 closed

[2022-02-23 15:14] zahertalab commented on #5092
I'm interested.

[2022-02-23 15:50] #4826 closed

[2022-02-23 16:46] leecalcote opened #5112 "Remove unused protos"
#### Current Behavior
Of these protos (https://github.com/meshery/meshery/tree/master/meshes), only meshops.proto is used within the project

#### Expected Behavior
Unused protos should be removed.

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for

[2022-02-23 16:51] leecalcote opened #5113 "[Docs] Page layout includes unnecessary margin"
#### Current State
Docs pages that use either the `default` or `page` [layout](https://github.com/meshery/meshery/blob/master/docs/_layouts/) seem to have an unnecessary margin included, wasting space that can be used for docs text.

<img width="1228" alt="Screen Shot 2022-02-23 at 10 47 27 AM" src="https://user-images.githubusercontent.com/7570704/155367337-4858b8df-e468-4d5a-a5a0-6ce258e39338.pn

[2022-02-23 16:53] sidd-oo commented on #5113
Can I take this issue?

[2022-02-23 16:54] leecalcote commented on #5113
Sounds real good, @sidd-oo 👍

[2022-02-23 22:18] warunicorn19 opened #5115 "[UI] Create a Card view for Designs"
#### Current Behavior
There's only a table view to view Designs right now.

#### Desired Behavior
Implement a card view for it.

#### Implementation

#### Acceptance Tests

#### Mockups
https://www.figma.com/file/SMP3zxOjZztdOLtgN4dS2W/Meshery-UI?node-id=4525%3A26868

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources

- 🎨 Wireframes and designs for Meshery

[2022-02-23 22:19] warunicorn19 commented on #5115
@asubedy it would be great if you'd take a look at this.

[2022-02-24 01:28] #5112 closed

[2022-02-24 05:43] heyanurag commented on #5099
I would like to work on this issue... @warunicorn19 Can you please elaborate what is the expected behaviour? I am new to the project and still exploring...

[2022-02-24 06:03] ShivamTyagi12345 commented on #5099
We would likely appreciate a solution before actually jumping on the issue :) I am currently working on finding one . But if u have one please let us know and go ahead with the PR @heyanurag

[2022-02-24 06:21] heyanurag commented on #5099
Absolutely! Could you point me to instructions on setting up the project locally :)

[2022-02-24 12:53] leecalcote commented on #5099
https://docs.meshery.io/project/contributing

[2022-02-24 19:52] MarioArriaga92 opened #5117 "[CI] [Cypress] Fix commented out E2E tests to Deploy Applications/Patterns Istio-dependent Configs through Meshery UI"
#### Current Behavior

E2E tests that cover Meshery's Service Mesh Configuration Management functionality (Applications/Patterns) to Deploy Configuration Changes are [commented out](https://github.com/meshery/meshery/blob/master/ui/cypress/integration/e2e/service_mesh_configuration_management_spec.js#L14-L30) because of missing steps to install istio ([ci.yaml workflow's L216-221](https://github.c

[2022-02-24 20:26] adi611 opened #5118 "[UI] ModuleNotFoundError: Module not found: Error: Can't resolve 'styled-jsx/server'"
#### Current Behavior

While running `make build-ui` it is giving me error ModuleNotFoundError: Module not found: Error: Can't resolve 'styled-jsx/server'

#### Desired Behavior

Our project has the latest version of `styled-jsx` as dependency and uses `flush` API from `styled-jsx/server` in some places. But as of the latest release v5.0.0 of `styled-jsx` (2022-01-20) `styled-jsx/server` import pa

[2022-02-24 21:05] chinmaym07 commented on #2884
Hey Can I work on this ?

[2022-02-25 01:02] #2884 closed

[2022-02-25 07:31] Chadha93 opened #5121 "[UI] Replicate Imports for Filters and Application"
#### Current Behavior
The file import buttons are in the table toolbar for filters and applications
![Screenshot from 2022-02-25 12-56-59](https://user-images.githubusercontent.com/65453826/155673105-ac010531-1ed9-45ff-b651-338bc4ce03cb.png)

#### Desired Behavior
Change it accordingly to the patterns UI import buttons to have a smooth user experience across all configurations
![Screenshot from 20

[2022-02-25 07:44] Akshit42-hue commented on #5121
Can I work on this issue @Chadha93

[2022-02-25 08:01] shubhangi013 commented on #5113
Is this issue still open?

[2022-02-25 08:08] shubhangi013 commented on #5113
Ah cool. All the best !

[2022-02-25 09:21] shubhangi013 opened #5123 "[UI] The labels don't go away after the collapsed sidebar is opened"
#### Current Behavior

The labels on the navigator don't go away when the collapsed sidebar is opened again unless the user refreshes the page.

#### Desired Behavior

The labels should appear only while hovering over the particular list item and go away.
#### Screenshots/Logs

https://user-images.githubusercontent.com/78342516/155689310-ff7e6295-861f-4ae8-99b2-5cfcbc833936.mp4

#### Environment

[2022-02-25 09:58] adi611 opened #5125 "[UI] `make build-ui` gives error in Node.js v17.6.0"
#### Current Behavior

While using Node.js v17.6.0 (which is the latest version as of now) if we run `make build-ui` we will get some errors.

#### Desired Behavior

`make build-ui` should not produce errors in Node.js v17.6.0

#### Screenshots/Logs

![Screenshot from 2022-02-25 15-10-55](https://user-images.githubusercontent.com/50960175/155694220-7f03380e-ab51-4b46-a7d6-fb89a0759219.png)

#### E

[2022-02-25 11:25] adi611 commented on #5118
Hi @asubedy this was the error I was talking about. I found the cause of the error as well as the solution to it. Please review it. Thanks.

[2022-02-25 13:21] warunicorn19 commented on #5123
@shubhangi013 did you want to look into this?

[2022-02-25 13:22] shubhangi013 commented on #5123
Yes! Please assign it to me.

[2022-02-25 13:33] chinmaym07 commented on #5125
Hey @adi611 this issue is not specific to meshery . Please refer to [this](https://github.com/facebook/create-react-app/issues/11708)

[2022-02-25 13:47] adi611 commented on #5125
Ok so should I close it?

[2022-02-25 15:03] alphaX86 commented on #3538
Being fixed via #5108

[2022-02-25 15:14] #5107 closed

[2022-02-25 16:50] #5125 closed

[2022-02-26 10:03] shubhangi013 opened #5129 "[Docs] Extra and confusing step in the contributing"
#### Current State
The docs mention an extra and confusing step about contributing to Meshery's UI.
Fo reference : see the [last step](https://docs.meshery.io/project/contributing/contributing-ui)  and I feel like the instruction to use `zshrc` instead of `bashrc` should be given before the very step that uses this.
for reference [here](https://docs.meshery.io/project/contributing/contributing-doc

[2022-02-27 01:03] #5129 closed

[2022-02-27 06:10] piyushsingariya commented on #4705
Closed via pull request #5085

[2022-02-27 16:44] #5113 closed

[2022-02-27 23:54] leecalcote opened #5144 "[Docs] Add Release Channel Selector to Compatibility Matrix"
#### Current State
A release channel filter is available on past test result pages (e.g. https://docs.meshery.io/project/compatibility-matrix/meshery-istio-past-results), but not on the main compatibility results page (https://docs.meshery.io/project/compatibility-matrix).

<img width="329" alt="Screen Shot 2022-02-27 at 5 52 00 PM" src="https://user-images.githubusercontent.com/7570704/155905414-

[2022-02-28 06:01] #5083 closed

[2022-02-28 11:15] progmatic-99 commented on #5144
I am taking this up.
Thanks

[2022-02-28 12:19] verma-kunal commented on #2884
Hey @chinmaym07 , thank you for doing this!
it would be great if we could have a conversation on how you solved this issue, if thats alright with you.
Really interested to know & would help me to gain more knowledge of `mesheryctl` 🙂

Let me know your thoughts!

[2022-03-01 05:42] a-muk commented on #5078
Hello! @warunicorn19 Is this issue still open? If yes, then I want to give it a try.

[2022-03-01 05:44] YashKamboj commented on #5078
@a-muk Go Ahead!!

[2022-03-01 21:44] leecalcote opened #5157 "[Server] Dependency: k8s.io/apiextensions-apiserver from 0.22.4 to 0.23.4"
#### Description

Meshery depends upon k8s.io/apiextensions-apiserver library. It is in need of being upgraded to 0.23.4

#### Screenshots/Logs

Issues seen when upgrade is performed:

[code]

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for contr

[2022-03-02 03:52] Sonichigo commented on #5100
Can i take this up?

[2022-03-02 05:02] gr455 opened #5159 "[mesheryctl] Default `system stop` behaviour must be similar to `system stop --force`"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

Currently, `mesheryctl system stop` might error out in certain circumstances such as incomplete installation (if the stop code does not find any resource). Alternatively `--force` flag makes sure all meshery components are cleaned up and does not error out under those circumstances.

[2022-03-02 05:36] warunicorn19 commented on #5115
@asubedy any updates to share on this? If so please add to the minutes of the meshery dev call.

[2022-03-02 14:29] leecalcote opened #5162 "[CI] golangci-lint for Meshery Server"
#### Current Behavior
Running golanci-lint on Meshery Server codebase produces a number of failed checks. See https://github.com/meshery/meshery/runs/5345735293?check_suite_focus=true

#### Desired Behavior
No failed checks when running against Meshery Server.

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://d

[2022-03-02 14:36] SAEb-ai commented on #2931
Hi @leecalcote. I am highly interested to do this under the LFX mentorship. I have also applied for the same. But I just have one concern regarding this like is this still being tracked in the Spring batch of LFX because I can now see that the application dates for the spring batch have been extended.

I would be really grateful to you if you could please clarify my above concern. Thanks in advanc

[2022-03-02 14:39] leecalcote commented on #2931
We're announcing this quarter's four LFX interns this week and a couple other Layer5 interns as well. I encourage you to read these [FAQs](https://layer5.io/programs) and put them into action. You'll be most supported and encouraged when you do.

[2022-03-02 14:48] SAEb-ai commented on #2931
Ah, I see. Thanks for the response and from the next time I will put these [FAQs](https://layer5.io/careers/programs)  into action and be a part of this awesome community.

[2022-03-02 16:36] navendu-pottekkat commented on #5162
Invalid issue. See comments starting from: https://github.com/meshery/meshery/pull/5131#pullrequestreview-897823439

[2022-03-02 16:36] #5162 closed

[2022-03-02 16:42] navendu-pottekkat opened #5163 "[CI] Evaluate linters for Golang CI checks"
#### Current Behavior

Meshery currently uses [golangci-lint](https://github.com/golangci/golangci-lint) to run lint checks for Golang code in mesheryctl and Meshery Server.

The linters used are configured in [.golangci.yml](https://github.com/meshery/meshery/blob/master/.golangci.yml) configuration file.

We are only using a few of the available linters right now.

#### Desired Behavior

Evaluat

[2022-03-02 16:43] navendu-pottekkat commented on #5163
@meshery/ci-release-maintainers @meshery/mesheryctl-maintainers Suggestions?

[2022-03-02 16:43] navendu-pottekkat commented on #5162
Opened issue to track related change: https://github.com/meshery/meshery/issues/5163

[2022-03-02 17:00] leecalcote commented on #5157
@Revolyssup, a recent kubernetes dependency has been downgraded. I'm lowering the priority and kind of this issue. Thank you for your help in identifying the root cause of this bug. Will you track this issue in terms of getting the project upgraded to the latest version of the affecting dependency?

[2022-03-02 17:21] navendu-pottekkat opened #5165 "[CI] Change workflow names"
#### Current Behavior

The current workflow names does not follow any conventions and is difficult to track.

#### Desired Behavior

Change the test names as proposed in the [Master Test Strategy](https://docs.google.com/document/d/14vbwnKafqxrr-cJOmLWEvvj75MFrxFKiUdfPwZRhg64/edit#heading=h.rb6fnqxhzk4d).

This will be the first step in moving towards the newly proposed test scenarios.

---
#### C

[2022-03-02 20:16] leecalcote opened #5167 "[API] GraphQL Get/Sub: Core vs Custom Kubernetes Components"
#### Current Behavior
The current Meshery REST API will broadly serve all registered K8s components, not prominently distinguishing between core and custom resources.

#### Desired Behavior
Meshery Server GraphQL API to offer get and subscription queries for retrieving or subscribing to updates on core Kubernetes components.

#### Implementation
1. Create GraphQL endpoints: `getComponents` and `su

[2022-03-02 20:50] leecalcote commented on #4394
Fixed

[2022-03-02 20:50] #4394 closed

[2022-03-02 21:03] leecalcote opened #5168 "[Meshery Adapter] Fingerprints: Core vs Custom Components"
#### Current Behavior
_note: move this issue to either MeshKit or Meshery Adapter Library_

#### Desired Behavior
Each Meshery Adapter should contain one or more identifiers to fingerprint (associate) Kubernetes custom resources with the respective adapter (each adapter should have this match criteria defined). e.g. any custom resource with istio.io in its "kind", "name", or "apiversion"

#### Imp

[2022-03-03 06:55] leecalcote commented on #5144
I missed your earlier comment, @progmatic-99. Good deal. Thanks for tackling this one.

[2022-03-03 07:03] Akshit42-hue commented on #4930
Any update @ashutosh887 ?

[2022-03-03 08:05] piyushsingariya commented on #5167
Can I try this if not high priority issue??

[2022-03-03 15:08] asubedy opened #5170 "[CI] kubeopenapi-jsonschdema is not downloading when running `make run-fast`"
#### Current Behavior
When I run the command `make run-fast` I get the following error related to `kubeopenapi-jsonschema`
[code]
I looked into the `~/.meshery` folder and could not find any `bin` folder created.
#### Desired Behavior

#### Implementation

#### Acceptance Tests

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release S

[2022-03-03 17:56] Akshit42-hue commented on #4930
Should I go ahead? @asubedy

[2022-03-03 18:00] asubedy commented on #4930
Let's give some time to @ashutosh887 to reply, if there is no reply in next 24 hours, you can go ahead @Akshit42-hue

[2022-03-04 02:27] ashutosh887 commented on #4930
Working
Need some help!

[2022-03-04 04:50] #5118 closed

[2022-03-04 11:55] progmatic-99 commented on #5123
As there is no activity from a lot of days, can I take this up?

[2022-03-04 13:54] shubhangi013 commented on #5123
Hi! I've started a discussion regarding this on the communication channel..i.e. slack. So, I'll be working on it once I get a solution 😅

[2022-03-04 14:11] a-muk commented on #5078
@YashKamboj I am assigning myself from this issue since I feel I should look onto some good first issues before trying this one. Thank you!

[2022-03-04 14:59] leecalcote commented on #5170
A missing `bin` folder (and the creation of the folder) seems to be part of the culprit.

[2022-03-04 16:03] asubedy commented on #4930
@ashutosh887 you can ask for help in slack channel we will be happy to help you, you can ask questions here too.

[2022-03-04 16:08] Nikhil-Ladha commented on #4127
Looks like all the tasks are completed.
Closing the issue.

[2022-03-04 16:08] #4127 closed

[2022-03-05 05:07] Akshit42-hue commented on #5100
Can I work on the issue @warunicorn19

[2022-03-05 05:09] warunicorn19 commented on #5100
@Akshit42-hue @Sonichigo since both of you have shown interest into this issue, let's hear a plan of action before proceeding to assign someone.

[2022-03-05 20:58] leecalcote opened #5174 "[Server] Preferences: User preference setting change causing fault"
#### Current Behavior
Meshery Server faults on change of user preferences. This fault occurs whether the user is signed into the Local or Remote Providers.

#### Expected Behavior
User preference should be updated without fault.

#### Screenshots/Logs

[code]

#### Environment

- **Host OS:** Mac
- **Platform:** Kubernetes
- **Meshery Server Version:** stable-v0.6.0-rc-5b
- **Meshery Client Versio

[2022-03-06 12:30] adithyaakrishna commented on #4977
@leecalcote @warunicorn19 Closing this issue (wrt https://github.com/meshery/meshery/issues/4977#issuecomment-1019499706) as it has been fixed :)

[2022-03-06 12:30] #4977 closed

[2022-03-06 12:32] adithyaakrishna commented on #4839
@leecalcote @warunicorn19 Closing this issue (wrt https://github.com/meshery/meshery/issues/4839#issuecomment-1019133501) as it has been designed and completed :)

[2022-03-06 12:32] #4839 closed

[2022-03-06 13:41] sourikghosh commented on #5174
can I pick this issue ?

[2022-03-06 14:19] leecalcote commented on #5174
@sourikghosh thanks so much for asking. The fix for this issue will span multiple code bases. It's a relatively involved and moderately difficult issue. Let me help you find another golang-based issue in which it will offer an easier, and therefore more successful, ramp into the project.

[2022-03-06 14:27] leecalcote commented on #5174
@sourikghosh, I see you open PR now. That's great. Will you confirm that this fix works in the following scenarios:

1. When signed in under the Local "None" Provider, User preferences can be saved in our persisted for the lifetime of the Meshery Server deployment
1. When signed in under the Remote "Meshery" Provider, user preferences can be saved and are persisted in between user sessions and in

[2022-03-06 16:40] alceil commented on #5092
Hey @leecalcote  , I am Ashish Tom, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. And I would also like some pointers on how to get started.Thank you

[2022-03-07 18:19] asubedy commented on #4930
Freeing assignment @Akshit42-hue please take this forward.

[2022-03-07 20:55] leecalcote opened #5180 "[Server] K8s component generation failure"
#### Current Behavior
Meshery Server deployed in-cluster is having difficulty generating k8s components.

#### Screenshots/Logs
[code]

#### Environment

- **Host OS:** Mac
- **Platform:**  Kubernetes
- **Meshery Server Version:** stable-v0.6.0-rc-5b
- **Meshery Client Version:** stable-v0.6.0-rc-5b

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Mes

[2022-03-08 07:37] Akshit42-hue commented on #4930
The link is working fine please do have a look @asubedy

[2022-03-08 12:09] asubedy commented on #4930
@Akshit42-hue, yes It seems @leecalcote already solved the issue sneakily 😆 , alright then please look into some other issues, thank you. Closing the issue

[2022-03-08 15:25] Revolyssup commented on #5180
It is using the wrong binary, it should have used `kubeopenapi-jsonschema-darwin` for mac.
Can you exec into the meshery pod and give me output of the command `go env`

[2022-03-08 17:18] #5180 closed

[2022-03-08 17:36] ghulamyazdani opened #5184 "[Docs] Content misaligned in the main readme file."
#### Current State
Content misaligned in the main readme file.
![image](https://user-images.githubusercontent.com/55938346/157293556-9b6639ec-7757-44fa-ae29-9210a7b2fc97.png)

#### Desired State
Content should be aligned properly so that it would be more readable and also would look better.

---

#### [Contributor Guides](https://docs.meshery.io/project/contributing) and Resources
- 📚 [Instruction

[2022-03-08 18:14] leecalcote commented on #5163
Do you have suggestions on new linters to use? Let's get Meshery Server listing started, even if its the same linters used for `mesheryctl`

[2022-03-08 20:57] leecalcote opened #5187 "[UI] Design Configurator: Component dropdown should open downwards"
#### Current Behavior
In the Design Configurator (http://localhost:9081/configuration/patterns), the component list opens upwards.

<img width="652" alt="Screen Shot 2022-03-08 at 2 56 12 PM" src="https://user-images.githubusercontent.com/7570704/157323665-0af5b1fc-bbb8-43b9-8c13-06860508f713.png">

#### Desired Behavior
This list should open downwards.

---

#### Contributor [Guides](https://docs

[2022-03-09 02:31] leecalcote commented on #3982
@Shreyas220 help, help. 🙂

[2022-03-09 02:31] leecalcote commented on #4726
@hexxdump is there hope yet for this one?

[2022-03-09 06:43] sidd-oo commented on #5187
Can I work on this issue? @leecalcote

[2022-03-09 07:16] RakeshPotnuru commented on #5184
@leecalcote
Can I take this issue?

[2022-03-09 07:27] leecalcote commented on #5187
Sounds real good.

[2022-03-09 07:28] leecalcote commented on #5184
Sounds good, @RakeshPotnuru. You're not working this, are you, @ghulamyazdani?

[2022-03-09 10:18] SAEb-ai commented on #5121
@Chadha93 Can I please take up this issue in case @Akshit42-hue is not working on this?

P. S. I have approxiametely implemented the solution locally.

[2022-03-09 10:50] Akshit42-hue commented on #5121
Go ahead @SAEb-ai . I am unassigning myself

[2022-03-09 12:01] ghulamyazdani commented on #5184
No @leecalcote , I think we can label this as good first issue

[2022-03-09 13:36] Chadha93 commented on #3935
@leecalcote Are we good to go with this pr https://github.com/meshery/meshery/pull/4956 approved by @Abhishek-kumar09

[2022-03-09 14:49] RakeshPotnuru opened #5190 "[Docs] Missing "git" in command"
#### Current State
![Screenshot 2022-03-09 201346](https://user-images.githubusercontent.com/70439799/157465226-1ed5d7c3-77cc-426c-9d16-02db2d211662.png)

Docs page - [here](https://docs.meshery.io/project/contributing/contributing-docs#create-a-pull-request)

#### Desired State
Correct the command by adding `git`

---

#### [Contributor Guides](https://docs.meshery.io/project/contributing) and Re

[2022-03-09 14:50] RakeshPotnuru commented on #5190
If this issue is valid, I would like to make a PR.

[2022-03-09 14:51] leecalcote commented on #5190
Thanks, @RakeshPotnuru

[2022-03-09 14:51] #5184 closed

[2022-03-09 15:55] RajGM commented on #3919
Hi @Chadha93 and @navendu-pottekkat
I tried reproducing the issue by changing the cookie but it does not shows any error.
It just redirects me to the providers page.

[2022-03-09 16:14] leecalcote opened #5192 "[Server] Not able to remove K8s config"
#### Current Behavior
When a user clicks to remove the single-connected cluster, Meshery Server fails to remove the config.

#### Expected Behavior
Meshery Server should be disconnected from the cluster. Operator should be uninstalled.

#### Screenshots/Logs
<img width="329" alt="Screen Shot 2022-03-09 at 10 12 18 AM" src="https://user-images.githubusercontent.com/7570704/157482699-3df34a8a-1649-4

[2022-03-09 16:15] #5174 closed

[2022-03-09 17:19] leecalcote opened #5193 "[Server] Database Error 1002"
#### Current Behavior
Meshery deployments with fresh database (empty database) run into the error below.

#### Screenshots/Logs
[code]

#### Environment

- **Meshery Server Version:** stable-v0.6.0-rc5-b

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructio

[2022-03-09 17:27] leecalcote commented on #5193
https://github.com/meshery/meshery/blob/313eb4ae4b3734f92aea8e0e1982fa5451097057/internal/graphql/resolver/meshsync.go#L122

[2022-03-09 17:35] leecalcote opened #5194 "[Server] Database: Error description inaccurate?"
#### Current Behavior
When a user has a table called `objects`, but has no records in the table, the following error is seen in Meshery Server logs.

#### Expect Behavior
1. Perhaps, don't error on lack of MeshSync data.2.
2. Verify that this error message is correct considering that the user does have an `objects` table (just that it is empty.

#### Logs
[code]

---
#### Contributor [Guides](http

[2022-03-09 17:40] leecalcote opened #5195 "[Helm] Two Chart sets should use same networking; Broker should use LoadBalancer as default networking"
The original issue description was invalid. Please see this comment for a description of the issue: https://github.com/meshery/meshery/issues/5195#issuecomment-1204316582

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for contributing to documentat

[2022-03-09 19:22] Chadha93 commented on #5014
@Abhishek-kumar09 could you please provide some insights to proceed on this issue for @asubedy

[2022-03-10 02:09] leecalcote opened #5198 "[UI] Unable to Update design"
#### Current Behavior
The Update action on Designs invokes, but never completes.
<img width="161" alt="Screen Shot 2022-03-09 at 8 05 12 PM" src="https://user-images.githubusercontent.com/7570704/157573945-5ebcb24a-f53b-4b77-af59-9ca31243892b.png">

#### Desired Behavior
Existing designs on http://localhost:9081/configuration/patterns should be updatable.

#### Screenshots/Logs
<img width="1093" a

[2022-03-10 02:15] leecalcote commented on #2515
@alphaX86 will you pull the data from the integration tests and summarize into a top-level table on the compatibility matrix?

[2022-03-10 04:12] #4895 closed

[2022-03-10 04:26] leecalcote commented on #5167
@piyushsingariya progress to report?

[2022-03-10 04:50] alphaX86 commented on #2515
Generating a summary of tests so far? So can it be static or you want it dynamic kind?

[2022-03-10 06:50] sourikghosh opened #5199 "remove deprecated grpc connection option"
#### Current Behavior

MeshClient creates a grpc connection with deprecate [option](https://github.com/meshery/meshery/blob/417cd4b1316ec10448c2938ea46ca28194e8376d/meshes/client.go#L25)
#### Expected Behavior

instead use `WithTransportCredentials` and `insecure.NewCredentials()` because it will be supported throughout 1.x.
#### Screenshots/Logs

#### Environment

- **Host OS:** Mac Linux Windows

[2022-03-10 06:50] sourikghosh commented on #5199
/assign

[2022-03-10 09:12] MUzairS15 commented on #4900
@piyushsingariya Can i try on this?

[2022-03-10 14:22] alphaX86 opened #5201 "[Docs] Create autogeneration of docs for `mesheryctl` reference"
#### Current State
`mesheryctl` reference is currently maintained manually by creating markdown files and YAML for data associated with it. So it needs to be periodically updated to avoid getting stale.

#### Desired State
Cobra CLI has inbuilt function to autogenerate doc pages with data present in each command file written in go. We need customized version in order to satisfy the layout we're fo

[2022-03-10 21:04] leecalcote commented on #5163
Assuming @navendu-pottekkat is not taking this forward, @sourikghosh is this an issue that you can carry forward?

[2022-03-11 03:29] #5192 closed

[2022-03-11 07:36] Revolyssup commented on #4967
@leecalcote  the original PR fixes this as well so closing the issue

[2022-03-11 07:36] #4967 closed

[2022-03-11 17:34] RakeshPotnuru commented on #5078
@warunicorn19
I want to solve this issue.

[2022-03-11 18:07] leecalcote commented on #5078
Batter up, @RakeshPotnuru. Do be quick to remove assignment if this turns out to be too big of a challenge.

[2022-03-12 02:35] #5199 closed

[2022-03-12 02:41] leecalcote commented on #4967
Thank you.

[2022-03-12 02:47] leecalcote commented on #3935
@MUzairS15, help me understand what the difference between redirecting to `/user/login` and `/provider` is. If a token has expired, in concept the user should be directed to login again, and not necessarily have to choose their provider again given that they will have already made this choice.

I don't think that we have a system sophisticated enough for this nuance to matter, but will ask the que

[2022-03-12 02:47] leecalcote commented on #3935
Thank you for prompting this review, @Chadha93

[2022-03-12 02:48] navendu-pottekkat commented on #5163
@leecalcote I will look into this and report here.

[2022-03-12 02:49] leecalcote commented on #5008
Reminder...

[2022-03-12 03:52] leecalcote commented on #4707
@Chadha93, are you comfortable in taking this on?

[2022-03-12 03:53] leecalcote commented on #5092
Oh, my goodness. I missed your message, @zahertalab. My apologies. Is this an issue that is still of interest?

[2022-03-12 03:55] leecalcote commented on #5092
Hi @alceil, yes, if you'd like to give this a shot in the meanwhile in the event that @zahertalab doesn't respond...

[2022-03-12 03:57] leecalcote commented on #4938
Thank you, @Chadha93

[2022-03-12 06:07] alceil commented on #5092
Sure @leecalcote

[2022-03-12 06:31] MUzairS15 commented on #3935
@leecalcote,
 When the token has expired user is redirected to `/user/login`, which further redirects to cloud server `https://meshery.layer5.io/login?login_challenge=ada62597c6474a56b95ac1628c321249` this cloud server has `Access-Control-Allow-Origin` response header set to `*` i.e to allow requesting code from any origin to access the resource. But when this header is set to `*` (wildcard) it do

[2022-03-12 07:28] leecalcote commented on #3935
Thank you, @MUzairS15. I appreciate this.

[2022-03-12 11:28] zahertalab commented on #5092
Of course, don't worry. For now, let @alceil make a shot until I finish some other things and come back.

[2022-03-12 15:02] leecalcote commented on #3873
@navendu-pottekkat will you work on this?

[2022-03-12 15:32] navendu-pottekkat commented on #3873
@leecalcote Sorry, I can't. @alphaX86 Could you take this up as you have previously looked into the issue?

[2022-03-12 16:10] gr455 commented on #3873
Can I try this? Doing some playgrounds now to get a hang of meshery

[2022-03-12 16:20] leecalcote commented on #3873
@gr455, thanks for picking up the slack, yes.

[2022-03-12 19:42] Chadha93 opened #5209 "[UI] Multi Cluster Context Switcher Enhancement"
#### Current Behavior
Make mentioned changes to context-switcher
![image](https://user-images.githubusercontent.com/65453826/158032564-ae3add26-52ee-4ec6-bfa3-a6a3e805c232.png)

#### Desired Behavior
1. Make this pullout menu under the shadow of the Meshery title bar.
2. Make the search field text breathable. (add some padding)

---

#### Contributor [Guides](https://docs.meshery.io/project/contri

[2022-03-12 19:44] Chadha93 commented on #5123
@progmatic-99 would you like to take this? Do you have a solution?

[2022-03-12 20:20] Chadha93 commented on #5187
@sidd-oo Any updates? Need help with this?

[2022-03-13 05:10] Ardent10 commented on #5209
I would like to work on this as a OpenForce22 participant.

[2022-03-13 08:50] Harshit-Dandriyal commented on #5209
I would like to work on this issue

[2022-03-13 11:09] Ardent10 opened #5210 "[UI] Enhancing the Newsletter"
#### Current Behavior

The newsletter has no color grading at the moment and looks odd.

#### Desired Behavior

It should be more distinct and catchy so that a user would be able to sign-up easily.

#### Implementation

I would like to contribute to UI of this newsletter component as an OpenForce22 participant.

# Mockups
## Before
![old](https://user-images.githubusercontent.com/73132031/15805652

[2022-03-13 14:24] piyushsingariya commented on #5167
update: I have started writing some code. Hopefully I'll cover it by the next Sunday!

[2022-03-14 11:56] sidd-oo commented on #5187
Sorry for the delay, I am on it.  @Chadha93

[2022-03-14 13:29] #5121 closed

[2022-03-14 13:56] leecalcote opened #5211 "[Docs] Meshery UI: Add contributing instructions for end-to-end testing using Cypress"
#### Current State
The [contributing page for Meshery UI](https://docs.meshery.io/project/contributing/contributing-ui) doesn't currently mention Cypress and end-to-end tests.

#### Desired State
https://docs.meshery.io/project/contributing/contributing-ui should include specifics of considerations that contributors should make while contributing to Meshery UI.

The labeler commenter for PRs match

[2022-03-14 18:24] Harshit-Dandriyal commented on #5210
I would like to work on this issue

[2022-03-14 23:06] leecalcote opened #5214 "[UI] Designs: Update action fails to return"
#### Current Behavior
The save/update action on http://localhost:9081/configuration/patterns never returns.

#### Screenshots/Logs
A perpetual spinner....

<img width="1084" alt="Screen Shot 2022-03-14 at 6 05 15 PM" src="https://user-images.githubusercontent.com/7570704/158275032-755bde60-a158-4114-9175-e1fb6dfbc5be.png">

#### Environment

- Browser: Chrome Safari Firefox
- Host OS: Mac Linux Wi

[2022-03-14 23:07] #5198 closed

[2022-03-14 23:07] leecalcote commented on #5214
Fixed by  #5208

[2022-03-14 23:07] #5214 closed

[2022-03-15 03:16] #4844 closed

[2022-03-15 03:16] piyushsingariya commented on #4844
Old issue, actions are passing now.

[2022-03-15 03:18] piyushsingariya commented on #4666
Closing this issue, feature has been already implemented

[2022-03-15 03:18] #4666 closed

[2022-03-15 03:25] ernongxizhu opened #5215 "I want to add my own app through consul,What shall I do?"
I want to add my own app through consul,What shall I do?

[2022-03-16 00:17] leecalcote commented on #5211
// @MarioArriaga92

[2022-03-16 02:30] Sonichigo commented on #5100
@warunicorn19 My SOP would be first testing out the on local machine => trying to replicate the issue, then moving to the file where code is, trying few changes that could potentially solve the issue.

[2022-03-16 15:10] alphaX86 commented on #2515
Static it is :)

[2022-03-16 15:12] leecalcote commented on #5209
@Ardent10, yes, see the two "Contributing to Meshery UI" links above.

@Harshit-Dandriyal excellent.

Please confirm when you have Meshery UI building and running in your local environment and we'll get the issue assigned to you. 👍

[2022-03-16 15:13] leecalcote commented on #5209
The select checkbox and the Kubernetes chip need to be horizontally aligned, too.

[2022-03-16 15:58] leecalcote opened #5227 "[UI] Support for Cilium"
#### Current Behavior
Meshery Adapter for Cilium Service Mesh v0.1.0 is in alpha, readying for beta.

#### Desired Behavior
Support this new adapter in the client: Meshery UI.

#### Implementation
Prepare logo, menu item, chip and so on for Meshery Adapter for Cilium.

#### Acceptance Tests
1. This adapter should be an optional installation.

---

#### Contributor [Guides](https://docs.meshery.io/

[2022-03-16 18:04] theBeginner86 opened #5228 "[mesheryctl] Support for Cilium"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
The template used to create meshconfig contexts (in `~/.meshery/config.yaml`) needs to be updated to include `meshery-cilium`.

#### Desired Behavior
Support for [cilium adapter](https://github.com/meshery/meshery-cilium) in mesheryctl
Adapter should be included in default context temp

[2022-03-16 18:04] theBeginner86 opened #5229 "[Install] Bash script: Support for Cilium"
#### Desired Behavior

Update [bash script](https://github.com/meshery/meshery/blob/master/meshery) to support [cilium adapter](https://github.com/meshery/meshery-cilium)

#### Acceptance Tests

1. Bash script should be able to install cilium adapter as well

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://doc

[2022-03-16 21:36] leecalcote commented on #4582
It'd be great to get these mapped to items in the [Meshery Test Plan](https://docs.google.com/spreadsheets/d/13Ir4gfaKoAX9r8qYjAFFl_U9ntke4X5ndREY1T7bnVs/edit#gid=0).

[2022-03-16 22:26] leecalcote opened #5231 "[Docs] Error Code Reference: Formatting"
I wonder how this reflects in the Error Code Reference Guide. We might need to swap `\n` for `<br />`. @shubham-tyagi, will you confirm this?

_Originally posted by @leecalcote in https://github.com/meshery/meshery/pull/5230#pullrequestreview-912188033_

[2022-03-16 23:55] leecalcote opened #5232 "[UI] Add Cilium Service Mesh"
#### Current Behavior
The [Meshery Adapter for Cilium Service Mesh](https://github.com/meshery/meshery-cilium) is supported as a generic adapter currently without support for logo and default port reservation.

#### Desired Behavior
- [x] 1. The Adapter should be visible in the navigation menu, dashboard, settings.
- [x] 2. The Adapter's components should show inside of the Designer.
- [ ] 3. The

[2022-03-17 10:59] alceil commented on #5092
Thanks @zahertalab

[2022-03-17 12:43] alceil commented on #5092
I have raised a pr could you please review it @leecalcote

[2022-03-18 06:31] SAEb-ai commented on #5165
@navendu-pottekkat @leecalcote May I please be assigned to this? Thanks!

[2022-03-18 07:57] leecalcote commented on #5165
@SAEb-ai thanks for asking. This isn’t a desired change, though. Let’s find you another one.

[2022-03-18 07:57] #5165 closed

[2022-03-18 08:00] #5163 closed

[2022-03-18 08:01] leecalcote commented on #5163
A missed commitment.

[2022-03-19 01:59] antariksh17 commented on #5099
@leecalcote  do i have to write out my solution before getting assigned to this?

[2022-03-19 02:00] warunicorn19 commented on #5099
Yes a plan of action is necessary to get this issue assigned.

[2022-03-19 17:16] alphaX86 opened #5239 "[CI] Update Codecov CI to evaluate coverage for Meshery Server"
#### Current Behavior
Currently CodeCov tool evaluates coverage only for mesheryctl and some internal files. Not all files are made to evaluate

#### Desired Behavior
Update CI to evaluate the coverage for Meshery Server and other components

#### Acceptance Tests
None (Only path needs some updates)

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Mes

[2022-03-20 05:54] SAEb-ai commented on #5123
@Chadha93 @leecalcote I can work on this if @shubhangi013 is not working on this now. But if @shubhangi013 have implemented a solution locally, then I can collaborate on that too. Thanks!!

[2022-03-21 01:41] subhamgcon commented on #5211
@leecalcote Is anyone working on this issue? If no, Can I work on it?

[2022-03-21 01:42] leecalcote commented on #5211
@subhamgcon, yes, have you worked with Cypress before?

[2022-03-21 01:44] subhamgcon commented on #5211
No, but I wanna learn! Can you help me with how to get started with it?

[2022-03-21 01:48] #5229 closed

[2022-03-21 03:14] MarioArriaga92 commented on #5211
@leecalcote this has been in my tray for some time so I'll get it done this week.

@subhamgcon are you part of our slack workspace? We have a #cypress channel where we can help get you set up and tackle learning básicos of cypress and contributing to Meshery end-to-end testing, here's [ Slack Workspace invite link](https://join.slack.com/t/meshery/shared_invite/zt-rgbyt4kj-6PUUyqY9SfQGRSt_oZV9yQ)

[2022-03-21 05:55] warunicorn19 commented on #5100
okay sounds good, please give it a go @Sonichigo

[2022-03-21 06:37] shubhangi013 commented on #5123
You can start working on it. I'm stuck in something else at my college 😅

[2022-03-21 15:59] Chadha93 commented on #4707
@leecalcote @Revolyssup Sure I'll take and implement the solution for this issue, it's a very useful feature to add.

[2022-03-21 18:21] #5228 closed

[2022-03-21 19:59] leecalcote commented on #4753
@bariqhibat has taken leave from the project...

[2022-03-21 20:05] #5239 closed

[2022-03-22 03:21] m9rco opened #5244 "Failed to get the file 404"
#### Current Behavior

[code]

[code]

#### Expected Behavior

Successful

#### Screenshots/Logs

#### Environment

- **Host OS:** Mac Linux Windows
- **Platform:** Docker or Kubernetes
- **Meshery Server Version:** stable-v
- **Meshery Client Version:** stable-v
<img width="772" alt="image" src="https://user-images.githubusercontent.com/18391791/159401462-d0a45385-5513-4f72-8b56-5d6e588c069d.png"

[2022-03-22 03:24] leecalcote commented on #5244
Oh, no! This release was just retracted (an accidentally pre-release). Thank you for filing this bug. This is a high priority issue.

[2022-03-22 03:26] m9rco commented on #5244
hhhh , thanks leecalcote,

[code]

`git.io`  Download will also fail, where is the source of this bash file?

[2022-03-22 03:45] leecalcote commented on #5244
Oof. That's unfortunate. Here is the source of the bash file - https://github.com/meshery/meshery/blob/master/meshery

[2022-03-22 03:47] leecalcote commented on #5244
@m9rco a new release of Meshery was just made: `stable-v0.6.0-rc-5f`, which might fix the missing package issue seen when running`mesheryctl system start`...

[2022-03-22 03:50] m9rco commented on #5244
I tried again. still prompt exception @leecalcote

[code]

<img width="1039" alt="image" src="https://user-images.githubusercontent.com/18391791/159404239-b5ee5a0b-ea8a-4694-9936-2e3bb8a7894e.png">

 cannot start Meshery: failed to get the file 404 status code for https://meshery.github.io/meshery.io/charts/meshery-v0.6.1.tgz file

[2022-03-22 03:53] leecalcote commented on #5244
☹️ Ok, thank you for testing this again. I'm digging into this deeper. We're in need of removing an errant release of `v0.6.1` that should never have been made. Need to be rid of this from the helm chart.

[2022-03-22 03:57] m9rco commented on #5244
Thank you for your effort. 🤩  @leecalcote

[2022-03-22 04:10] leecalcote commented on #5244
Absolutely, @m9rco. 🤝 OK, both the `v0.6.0` and the `v0.6.1` erroneous releases have been removed from the helm chart index, which seems to be working. Meshery's entry on [Artifact Hub](https://artifacthub.io/packages/helm/meshery/meshery) shows `v0.6.0-rc-5f` as being the latest release now (which is accurate). I'll keep my 🤞 that `mesheryctl system start` works for you now...

[2022-03-22 04:12] leecalcote commented on #5244
@m9rco fyi, there's an upcoming, private beta of [MeshMap](https://meshery.io/meshmap) that might interest you. Be sure to join the waiting list, if so.

[2022-03-22 09:10] m9rco commented on #5244
ok, hhhh,  I'm looking forward to it  🤝

[2022-03-22 18:20] leecalcote commented on #5244
@m9rco I _think_ that we're good to go here (that this issue is fixed). When you have a moment, will you confirm? 🙏

I encourage you to join the community Slack workspace: http://slack.meshery.io - it'd be good to get you introduced to others in the community and to MeshMap.

[2022-03-22 19:51] leecalcote opened #5249 "[Docs] Add top margin so that in-page anchor tags align with menu bar"
#### Current State
Users that visit a hyperlink with table of contents anchor like this: https://docs.meshery.io/reference/mesheryctl#service-mesh-pattern-configuration-and-management, land on the page at the appropriate place, but the menu bar covers up the section header.

<img width="1419" alt="Screen Shot 2022-03-22 at 2 51 08 PM" src="https://user-images.githubusercontent.com/7570704/15956417

[2022-03-22 20:13] Harshit-Dandriyal commented on #5249
yes, It's happening in every side link of docs. I would like to work on this issue

[2022-03-22 21:36] #4808 closed

[2022-03-22 23:16] leecalcote opened #5250 "Meshery Application Support for Docker Compose"
#### Current Behavior
Meshery users can import Kubernetes manifests into Meshery Applications. These applications can be then be configured and managed through Meshery's various features.

#### Desired Behavior
Allow users to bring Docker Compose applications and ingest them as Meshery Applications.

#### Implementation
1. Incorporate `kompose` as a Meshery Server capability behind the `/applicati

[2022-03-22 23:16] leecalcote commented on #5231
@shubham-tyagi working on this?

[2022-03-22 23:17] leecalcote commented on #5193
@Revolyssup progress to report in tomorrow's Meshery meeting?

[2022-03-22 23:19] leecalcote commented on #5210
Thank you for this suggestion, @Ardent10. Will you iterate on the proposed design? While it's no secret that we like green around here, this is too much green.

[2022-03-22 23:19] leecalcote commented on #5232
The first portion of this issue is completed.

@MUzairS15, the second portion remains.

[2022-03-23 01:42] m9rco commented on #5244
OK，I run it on my private cluster and the following happens

[code]

<img width="829" alt="image" src="https://user-images.githubusercontent.com/18391791/159604858-98abce01-9186-40ba-8711-88ec322df77f.png">

<img width="482" alt="image" src="https://user-images.githubusercontent.com/18391791/159604944-1b56052c-4e1a-4b2a-b846-575fa3e6aac3.png">

<img width="1204" alt="image" src="https://user-image

[2022-03-23 01:44] m9rco commented on #5244
Loadbalancer was finally used and there are no exceptions

<img width="921" alt="image" src="https://user-images.githubusercontent.com/18391791/159605213-664afc45-b528-4023-a930-b3e94d025deb.png">

<img width="1439" alt="image" src="https://user-images.githubusercontent.com/18391791/159605269-f0d61fcf-9ac3-43fe-9ee8-a4506122d98f.png">

[2022-03-23 03:04] leecalcote commented on #5244
yay! 🎈 😄

[2022-03-23 04:22] shubham-tyagi commented on #5231
yeah @leecalcote , I have not yet looked into it. Will look into it today.

[2022-03-23 04:26] leecalcote commented on #5231
Good.

[2022-03-23 07:30] #4157 closed

[2022-03-23 10:58] karnatisrinivas commented on #5249
Hello @leecalcote , If this issue haven't assigned to anyone, I would like to work on this.

[2022-03-23 14:26] MarioArriaga92 commented on #4993
Is this issue still reproducing? exact issue is `Error: Cannot find module '/home/runner/work/meshery/meshery/ui/.next/server/pages-manifest.json'`

[2022-03-23 14:44] MarioArriaga92 commented on #4993
Haven't seen this error (which we noticed on "26 Jan in 6m 5s") in latest 50 build runs for our ci.yaml workflow so closing this issue
<img width="1039" alt="CleanShot 2022-03-23 at 08 40 28@2x" src="https://user-images.githubusercontent.com/23443575/159725301-8f623752-0dec-4126-8f9a-f014b55d6540.png">

[2022-03-23 14:44] #4993 closed

[2022-03-23 15:23] #5244 closed

[2022-03-23 15:33] MarioArriaga92 commented on #5211
Getting my local setup for meshery docs, working!:
<img width="1423" alt="CleanShot 2022-03-23 at 09 32 09@2x" src="https://user-images.githubusercontent.com/23443575/159736434-98b9f694-c2eb-450b-8b91-d123dc7b8fed.png">

[2022-03-23 15:54] Ardent10 commented on #5210
Yes Sure. Will update soon with new design.

[2022-03-23 16:46] Ardent10 commented on #5210
Few proposed design.
1. With Background image
![image](https://user-images.githubusercontent.com/73132031/159750777-3cc9b9b1-0f0b-4d99-b5cb-204c2d770445.png)
![image](https://user-images.githubusercontent.com/73132031/159750901-5fa168f1-7f18-40e9-98f4-810ef1b2aec5.png)

2. Without background image.
![image](https://user-images.githubusercontent.com/73132031/159751769-9676d126-5de9-4958-a370-bb778f

[2022-03-24 04:25] leecalcote commented on #4075
We're making some good progress. @Revolyssup will ensure that the adapter (Meshery-perf) is in a building state. We're ready to move forward with defining perf test operations next, @gyohuangxin

[2022-03-24 05:11] leecalcote opened #5260 "[Server] Unable to load kubeconfig"
#### Current Behavior
Not able to connect to Kubernetes. Please see logs.

#### Screenshots/Logs

attached.
[server-log.txt](https://github.com/meshery/meshery/files/8338590/server-log.txt)

#### Environment

- **Host OS:** Mac Linux Windows
- **Platform:** Docker or Kubernetes
- **Meshery Server Version:** stable-v
- **Meshery Client Version:** stable-v

---
#### Contributor [Guides](https://docs

[2022-03-24 05:19] MUzairS15 commented on #5232
@leecalcote reolved by https://github.com/meshery/meshery-cilium/pull/34
<img width="1440" alt="Screenshot 2022-03-24 at 10 45 28 AM" src="https://user-images.githubusercontent.com/79860504/159847420-94a952e0-6cd7-4d56-98c6-78faedcf1097.png">

[2022-03-24 13:33] #3269 closed

[2022-03-24 13:33] #4728 closed

[2022-03-24 16:05] Revolyssup opened #5262 "[mesheryctl] Failing pattern delete command"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

The pattern delete command is failing for any URL. Although the same URL works for pattern apply command
#### Desired Behavior

#### Screenshots/Logs

![Screenshot_20220324_213200](https://user-images.githubusercontent.com/43276904/159959704-8e8941d9-8e24-4e31-bfa1-853dcfc063e9.png)

[2022-03-24 19:55] #5092 closed

[2022-03-25 14:52] #5249 closed

[2022-03-25 15:52] alphaX86 opened #5269 "[CI] Fix golangci-lint errors on Meshery server"
#### Current Behavior

Currently we're using golangci-lint as primary linter for Meshery. For mesheryctl, the linter works pretty well but for Meshery Server, it throws several lint issues for every PR opened

#### Desired Behavior

Fix the config and make the linter to work properly thereby passing the PR checks if developer followed the code style

#### Implementation

TBD

#### Acceptance Tests

[2022-03-25 16:47] leecalcote commented on #5250
This package looks promising - https://github.com/kubernetes/kompose/blob/master/pkg/transformer/transformer.go

[2022-03-25 18:07] #4771 closed

[2022-03-26 22:56] leecalcote commented on #5068
@MarioArriaga92  something that you might look at?

[2022-03-27 00:20] MarioArriaga92 commented on #5068
Sure @leecalcote

[2022-03-27 05:44] #4655 closed

[2022-03-27 07:44] #4813 closed

[2022-03-27 07:44] #4773 closed

[2022-03-27 11:04] adithyaakrishna opened #5278 "[Website] - Patterns Coming Soon Overlapping WA"
#### Current Behavior
The patterns coming soon image is overlapping filters text at https://meshery.io/catalog

#### Expected Behavior
The patterns coming soon image size should be reduced

#### Screenshots/Logs
![image](https://user-images.githubusercontent.com/23498248/160278432-89409bed-8c72-4669-88f0-405875a125ad.png)

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing)

[2022-03-27 11:07] adithyaakrishna commented on #5278
Opened here by mistake instead of website repo :(

[2022-03-27 11:07] #5278 closed

[2022-03-27 13:14] leecalcote opened #5279 "[mesheryctl] Bash script: Improve UX when invalid platform is given"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
Invalid platforms passed to Meshery's bash script installer are not handled as well as they could be:

[code]

This does not provide useful information to the user.

#### Desired Behavior

The user should be notified that the platform entered is invalid and should be prompted to enter

[2022-03-27 13:20] leecalcote opened #5280 "[Helm] Make mesheryctl and Meshery Server deployments of Meshery Operator identical"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

Users can deploy just the Meshery Operator in a cluster without installing Meshery on it (multi-cluster environments, out of cluster deployment of Meshery).

mesheryctl and Meshery Server deployments of Meshery Operator use different release names.

If Meshery is built and run locally

[2022-03-27 13:30] #5232 closed

[2022-03-27 13:53] #2968 closed

[2022-03-27 13:54] leecalcote commented on #5279
@cpepper96 fyi

[2022-03-27 14:48] leecalcote commented on #5260
@Revolyssup any initial analysis?

[2022-03-27 14:51] leecalcote opened #5281 "[Server] Remove extraneous kubeopenapi-json related error log"
#### Current Behavior
The following error should not be logged while kubeopenapi-json is running and in the process of generating components.

[code]

#### Acceptance Tests
1. This error is not logged while `kubeopenapi-json` is actively running.
1. This error should not continue to be logged after kubeopenapi-json has completed its task.

---
#### Contributor [Guides](https://docs.meshery.io/proj

[2022-03-27 15:11] leecalcote opened #5282 "[Server] Duplicate Error Codes"
#### Current Behavior
Meshery Server has a number of duplicate error codes to be resolved.

#### Expected Behavior
Running `make error` produces no errors.

#### Screenshots/Logs
[code]

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for contributin

[2022-03-27 21:34] Harshit-Dandriyal commented on #5279
@leecalcote Can I try this issue?

[2022-03-28 04:01] #5269 closed

[2022-03-28 14:41] asubedy commented on #5115
Hi @Harshit-Dandriyal I have been working on this for some time now its almost complete. Will make a PR by today.

[2022-03-28 15:33] Harshit-Dandriyal commented on #5115
@asubedy Ok nice ,have a happy PR :)

[2022-03-28 18:08] cpepper96 commented on #5279
@leecalcote I can take this up

[2022-03-28 19:29] leecalcote opened #5293 "[mesheryctl] Panic on `version` check: MeshKit Errors string"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Screenshots/Logs
[code]

#### Environment

- Meshery Server Version: stable-v0.6.0-rc-5g
- Meshery Client Version: stable-v0.6.0-rc-5f

---

#### Contributor Resources
- [mesheryctl Contributing Guide](https://github.com/meshery/meshery/blob/master/mesheryctl/README.md)
- [Beginner's guide to contribut

[2022-03-28 19:36] Chadha93 opened #5294 "[Server] Server crash error: bus error"
#### Current Behavior
On the latest when a release is made and meshery_extension release is updated the server crashes sometimes with this `error: signal- bus error`

#### Expected Behavior
The error should be handled

#### Screenshots/Logs
![image](https://user-images.githubusercontent.com/65453826/160472955-1fb29e46-7560-44cb-b95c-eb95c3862ff4.png)
Logs:
[logs.txt](https://github.com/meshery/mes

[2022-03-28 19:37] Chadha93 commented on #5294
// @Revolyssup @theBeginner86 @MUzairS15

[2022-03-29 13:31] Harshit-Dandriyal commented on #5209
@leecalcote Can you assign this issue to me, will be back with PR in few days. :)

[2022-03-29 13:33] Chadha93 commented on #5209
All yours @Harshit-Dandriyal

[2022-03-29 15:56] SAEb-ai commented on #5123
Deassigning myself as this is being tracked now in https://github.com/meshery/meshery/pull/5297.

[2022-03-29 16:20] leecalcote opened #5300 "[Docs] Improve help docs for Error Code 2177 in Meshery Server"
#### Current State
[code]

#### Desired State
More docs for exit code 127.

---

#### [Contributor Guides](https://docs.meshery.io/project/contributing) and Resources
- 📚 [Instructions for contributing to documentation](https://docs.meshery.io/project/contributing/contributing-docs)
   - Meshery documentation [site](https://docs.meshery.io/) and [source](https://github.com/meshery/meshery/tree/mas

[2022-03-29 16:27] leecalcote opened #5301 "[mesheryctl] `system context switch`: Failure to switch when Meshery deployment has been removed"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
While switching a context using `platform: kubernetes` to a context using `platform: docker`, when Meshery Server and Adapters (when the Helm release) is not running in the Kubernetes platform, `mesheryctl system stop` logic results in error.

#### Desired Behavior
The `system switch`

[2022-03-29 20:11] #5280 closed

[2022-03-29 20:35] leecalcote commented on #5279
@cpepper96 excellent.

[2022-03-29 20:37] leecalcote commented on #5115
@Harshit-Dandriyal, that PR presents a good opportunity to offer review and feedback on this fix when it arrives.

[2022-03-29 20:37] leecalcote commented on #5123
Good, good. 👍

[2022-03-29 20:38] leecalcote commented on #5123
Oh, oops. I misread "de-assigning" and thought you said "assigning". Ok, got it.

[2022-03-29 20:39] leecalcote commented on #5087
Thank you, @Chadha93 👍

[2022-03-29 20:43] Harshit-Dandriyal commented on #5115
@leecalcote yess, I think this will be quite a major upgrade, I am excited for this...😃

[2022-03-29 20:43] leecalcote commented on #5115
My excitement is right there with yours. :)

[2022-03-30 14:46] Nandani-Paliwal commented on #4964
Hey @leecalcote
Can I work on this issue, If no one is working on it !

[2022-03-30 15:05] leecalcote commented on #4964
@Nandani-Paliwal sounds great. I don't know that I have specific guidance as to what aspects to enhance, and so, I'll leave you in @MarioArriaga92's capable hands.

[2022-03-30 16:25] gr455 opened #5305 "[mesheryctl] Add more information to mesheryctl errors"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
mesheryctl logs [Meshkit errors](https://docs.meshery.io/project/contributing/contributing-error) if something goes wrong. Some of the errors don't have information such as cause and remediation.

#### Desired Behavior
Add information about possible cause and remediation to mesheryctl

[2022-03-30 17:24] Harshit-Dandriyal opened #5306 "[UI]Unhandled Runtime Error on opening kubernates nav and any button together"
#### Current Behavior

Unhandled Runtime Error on opening kubernates nav and slider button together

https://user-images.githubusercontent.com/56961488/160894639-e3942239-462c-4c3e-9701-01f97eed6077.mp4

#### Desired Behavior

No Error like this should occur while opening these navs together
#### Screenshots/Logs

#### Environment

- Browser: Chrome Safari Firefox
- Host OS: Mac Linux Windows
- Me

[2022-03-30 17:30] warunicorn19 commented on #5306
Optional chaining should fix this issue.

[2022-03-30 17:36] Chadha93 commented on #5187
@sidd-oo any progress or blockers here?

[2022-03-30 18:15] Harshit-Dandriyal commented on #5306
hmm.. Intresting , Trying to implement. will make a PR soon, Thanks :)

[2022-03-30 21:19] #5293 closed

[2022-03-30 21:25] leecalcote opened #5309 "[CI] Meshery Server: Support multi-platform builds"
#### Current Behavior

#### Desired Behavior
Meshery users, particularly those running Docker Desktop can benefit from multi-platform images of Meshery Server.

#### Implementation
Refactor existing stable and edge build and release workflows to use `docker-build-push` actions. See https://github.com/meshery/meshery/blob/master/.github/workflows/build-and-release-dde.yml as an example.

Be aware o

[2022-03-31 09:48] Nandani-Paliwal commented on #4964
Thanks @leecalcote !

[2022-03-31 13:07] leecalcote commented on #5100
@Sonichigo any progress to report?

[2022-03-31 16:45] alceil commented on #2399
I would like to take up this issue @leecalcote

[2022-03-31 19:40] MUzairS15 opened #5317 "[CI] Use `mesheryctl` instead of direct k8s manifest in end-to-end tests."
#### Current Behavior
 We rely on k8s manifests in all of our end-to-end tests.
#### Desired Behavior
Replace usages of k8s manifests with `mesheryctl` across all end-to-end tests.

#### Implementation

#### Acceptance Tests

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-rel

[2022-03-31 19:41] mchurichi opened #5318 "[mesheryctl] `mesheryctl perf result my-test --view` crashes when trying to see performance test results"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
I'm trying to see the details of the performance test results I ran earlier. I run `mesheryctl perf result my-test --view`, then pick any of the results by typing let's say `0` to choose the first one, and the app crashes showing the error trace below.

#### Desired Behavior
I want to

[2022-04-01 15:58] asubedy commented on #5099
One plan of action can be displaying all the contexts on the dashboard, but greying out the contexts, that has not been selected on the context switcher (making the chip not clickable)

[2022-04-02 04:16] Harshit-Dandriyal commented on #5100
@Sonichigo Great. If you need assistance on this, you can contact me at slack :)

[2022-04-02 04:19] Harshit-Dandriyal commented on #5099
@warunicorn19 I can work on this, Sending my action of plan as soon as possible, You can assign this issue to me.

[2022-04-02 04:20] Harshit-Dandriyal commented on #5099
@asubedy Yes, We can do this easily, It will also look good, I will soon send a prototype of this in meshery UI slack channel..

[2022-04-02 07:36] gkarthiks opened #5337 "Cilium Image not found "layer5/meshery-cilium:latest""
#### Current Behavior
When using the script to get the Meshery installed in a K8s cluster, it tries to pull the `layer5/meshery-cilium:latest` image for the cilium; which is not available but the `layer5/meshery-cilium:stable-latest` is.

#### Expected Behavior
Should be pulling the stable-latest tage.

#### Screenshots/Logs
![image](https://user-images.githubusercontent.com/30545166/161372304-fd2

[2022-04-03 13:45] alphaX86 commented on #5318
TL;DR - This occurs when provider is set to 'None' instead of 'Meshery' in login screen. Got the error now, fixing it....

[2022-04-04 02:47] leecalcote commented on #4937
@Abhishek-kumar09 did you recently complete this?

[2022-04-04 14:19] jtaleric opened #5342 "meshery-perf pod in `ImagePullBackOff`"
#### Current Behavior
[code]

#### Expected Behavior
Pod to be up and running.

#### Environment
Deployed with Cilium-adapater.

The issue seems to be a missing container image tag in the dockerhub repo.

[code]

However, I don't see that tag -
https://hub.docker.com/r/layer5/meshery-perf/tags

![Selection_033](https://user-images.githubusercontent.com/3965163/161563977-b44c7a57-2417-41fa-8151-703

[2022-04-04 14:39] leecalcote commented on #5342
@gkarthiks, I wonder if this is an item that you'd like to have a look at...

[2022-04-04 18:05] leecalcote commented on #4939
@Abhishek-kumar09 knocked this one out with https://github.com/meshery/meshery/pull/5304

[2022-04-04 18:05] #4939 closed

[2022-04-04 18:08] #5318 closed

[2022-04-05 02:36] Sonichigo commented on #5100
![image](https://user-images.githubusercontent.com/53110238/161667800-95a78e40-08e2-45f1-ac3d-a94abaab2e7c.png)

The KubeConfig File is also not showing the name, Tried by making a cluster on Azure and used it's kubeconfig file (in YML format)

[2022-04-05 03:09] #4964 closed

[2022-04-05 09:40] Sonichigo opened #5345 "[UI] Current Upload File should be visible"
#### Current Behavior

The Current Upload File field doesn't show the current Upload File.

#### Desired Behavior

The Current File name should be visible in the respective field

#### Screenshots/Logs

![image](https://user-images.githubusercontent.com/53110238/161726047-c03b0e38-1d50-470c-aa9d-c404846ac701.png)

#### Environment

- Browser: Chrome Safari Firefox
- Host OS: Mac Linux Windows
- Me

[2022-04-06 03:04] Sonichigo commented on #5100
Please assign this issue to @Harshit-Dandriyal , i won't be able to continue on this forward

[2022-04-06 13:12] MarioArriaga92 commented on #5117
Working on this

[2022-04-06 15:14] Harshit-Dandriyal commented on #5100
@warunicorn19 Yes, I can take this issue :)

[2022-04-07 09:36] saucekode commented on #5210
Good day, if this gets approved. I would love to work on it. Thank you.

[2022-04-07 09:47] leecalcote commented on #5210
@Ardent10 Thanks. Either your very first mock up with solid green, but with a dark button and no drop shadow will work. Or your very last mock up will work if the drop shadow and the white border are removed.

is this something that you would like to implement?

[2022-04-07 12:40] Ardent10 commented on #5210
Sure would like to work on the latter design.

[2022-04-07 14:40] alphaX86 opened #5357 "[UI] Linkerd mesh not showing in the installed service mesh dashboard"
#### Current Behavior

After I installed Linkerd for tests, Meshery installed necessary components to run Linkerd on system, but after installation, Linkerd didn't appear in the list even though all linkerd pods are active

#### Desired Behavior

Meshery should be able to detect Linkerd and show it in the installed service mesh dashboard

#### Screenshots/Logs

![image](https://user-images.githubu

[2022-04-07 17:54] Nikhil-Ladha commented on #5210
Transfering the issue to the meshery.io repo, as the code for meshery.io lives there :)

[2022-04-08 06:59] SAEb-ai commented on #5345
@leecalcote May I please be assigned to this? Thanks!!

[2022-04-08 13:57] Zanda256 opened #5360 "Enhance GitHub workflow meshery-adapter tests to deploy adapters using mesheryctl."
#### Current Behavior
Workflows are using Kubernetes manifests to deploy Meshery adapters.

#### Desired Behavior
Edit the workflow in https://github.com/meshery/meshery/blob/master/.github/workflows/testadapters.yaml to use mesheryctl when deploying adapters.

#### Implementation

#### Acceptance Tests

#### Mockups

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and

[2022-04-08 14:42] Abhishek-kumar09 commented on #4937
Yeah here: https://github.com/meshery/meshery/pull/5304
With a case like this where it is hard to know the percent field: https://github.com/meshery/meshery/pull/5304#issuecomment-1083042378

[2022-04-09 12:51] Nikhil-Ladha commented on #5345
@SAEb-ai sure, go ahead with it.

[2022-04-10 13:26] leecalcote commented on #4937
@MUzairS15 @sudo-NithishKarthik this is an example of a piece of work that we'll want a new component generator (in cue) to take care of.

[2022-04-10 13:28] leecalcote commented on #5357
@Akshit42-hue @Harshit-Dandriyal, would one of you like to investigate?

[2022-04-10 13:31] #5360 closed

[2022-04-10 16:56] Harshit-Dandriyal commented on #5357
@leecalcote Sure, my pleasure :)

[2022-04-10 17:02] Akshit42-hue commented on #5357
I am investigate on it but can't find any leads

[2022-04-11 04:15] vish-han commented on #4775
@leecalcote I would love to work on this challenging issue if I got assigned 😀

[2022-04-12 09:50] leecalcote commented on #3932
@Revolyssup please confirm that each of the behaviors described in this issue have been completed.

[2022-04-12 10:06] Revolyssup commented on #3497
Components are stored version wise and registered as such to the registry. I think that is what the requirement was.

[2022-04-12 12:09] Revolyssup commented on #3932
Yes, we are at the desired behaviour.

[2022-04-12 12:52] leecalcote commented on #3932
Bug:
![Screen Shot 2022-04-10 at 1 03 14 PM](https://user-images.githubusercontent.com/7570704/162966599-60d52858-ae0c-4d94-ba90-fff60f49eef0.png)

[2022-04-12 21:57] leecalcote commented on #5357
Thank you, gents. Examine what string matching is taking place here and what match there must be in order for Linkerd to show up.

[2022-04-13 14:15] Abhishek-kumar09 opened #5376 "[Docs] Write the doc for Meshery Extension point and custom component"
#### Where to add:
https://docs.meshery.io/extensibility/ui
From here: https://github.com/meshery/meshery/pull/5372

### What To Add:
# Writing Custom Components for Meshery Extension Point

The Meshery extension points are the way to extend meshery and derive the more custom use-cases out of it. We already have an extension point called MeshMap.
Meshery can provide the extension point in various

[2022-04-13 14:16] Abhishek-kumar09 commented on #5376
The markdown version:
<pre>
# Writing Custom Components for Meshery Extension Point

The Meshery extension points are the way to extend meshery and derive the more custom use-cases out of it. We already have an extension point called MeshMap.
Meshery can provide the extension point in various ways by providing the feature of custom-components. One of the example where these custom components are u

[2022-04-13 15:01] #5115 closed

[2022-04-13 19:13] leecalcote opened #5377 "[UI] Misalignment in Kubernetes Context Switcher"
#### Current Behavior
When multiple contexts are loaded, misalignment of the context chips occurs. See screenshot.

#### Desired Behavior
All chips should be of equal length irrespective of length of the name of the context  (use `text-decoration:ellipsis` to truncate) and should be in alignment.

#### Screenshots/Logs
![Screen Shot 2022-04-10 at 1 03 14 PM](https://user-images.githubusercontent.c

[2022-04-13 19:20] #5342 closed

[2022-04-13 20:28] StarTrooper08 commented on #5377
It's a Front-end task. Can I work on this issue?

[2022-04-13 21:02] leecalcote commented on #5377
Sounds good, @StarTrooper08. I'm trying to recall: have you been able to build and run Meshery's UI previously?

[2022-04-13 21:11] StarTrooper08 commented on #5377
I have done with cloning the repository and now configuring the project.

[2022-04-14 11:13] Harshit-Dandriyal commented on #5377
@leecalcote Actually, I already made PR on this Issue.. :)

[2022-04-14 11:14] Harshit-Dandriyal commented on #5377
Sorry @StarTrooper08

[2022-04-14 13:21] StarTrooper08 commented on #5377
No problem I will find another issue😄

[2022-04-14 18:46] leecalcote opened #5385 "[mesheryctl] Configuring Meshery to access Minikube... panic: interface conversion: interface {} is nil, not string"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

#### Desired Behavior

#### Screenshots/Logs
[code]

#### Environment

- Host OS: Mac
- Meshery Server Version: stable-v0.6.0-rc.5l
- Meshery Client Version: stable-v0.6.0-rc.5l
- Platform: Kubernetes

---

#### Contributor Resources
- [mesheryctl Contributing Guide](https://github.co

[2022-04-14 22:59] leecalcote opened #5386 "[Helm] Meshery as an addition to the KubeSphere App Store"
#### Current Behavior
KubeSphere App Store is a Helm-based store for application lifecycle management on the back of [OpenPitrix](https://github.com/openpitrix/openpitrix), an open-source web-based system to package, deploy and manage different types of apps.

Meshery is not available as an application in this App Store.

#### Desired Behavior
Meshery available as an application in this App Store.

[2022-04-14 23:01] leecalcote commented on #5386
@pengfei, new versions of Meshery Charts are being published with each Meshery release. In terms of implementation, should we consider dynamically pushing to the KubeSphere App Store or do you recommend that this be a manual procedure?

[2022-04-15 17:48] #5209 closed

[2022-04-15 17:57] cpepper96 opened #5389 "[mesheryctl] Add quiet mode for mesheryctl"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
There is currently no quiet mode option for mesheryctl.

#### Desired Behavior
Quiet mode option should be implemented for silent installers and programmatic use.

#### Implementation

Quiet mode should exclude any existing interactive menus and instead offer a script-friendly alternat

[2022-04-15 18:59] Chadha93 opened #5393 "[Docs] Service Meshes update"
#### Current State
Octarine project is shutdown.

#### Desired State
Remove Octarine Service Mesh from the table. here: https://docs.meshery.io/service-meshes

---

#### [Contributor Guides](https://docs.meshery.io/project/contributing) and Resources
- 📚 [Instructions for contributing to documentation](https://docs.meshery.io/project/contributing/contributing-docs)
   - Meshery documentation [site

[2022-04-15 21:59] #5279 closed

[2022-04-15 22:40] jbyers19 opened #5395 "Service Meshes are associated with hard-coded namespaces"
#### Current Behavior
If a namespace is not deployed in one of the namespaces [here](https://github.com/meshery/meshery/blob/master/internal/graphql/model/helpers.go#L26), then it will not be displayed in the Dashboard, even if it is running correctly.

#### Expected Behavior
Meshery should be able to detect a mesh deployed in any namespace in the cluster.

#### Screenshots/Logs
Despite NGINX Serv

[2022-04-15 22:42] leecalcote commented on #5395
Related https://github.com/meshery/meshery/issues/5357

[2022-04-16 05:34] karnatisrinivas commented on #5393
Hello @leecalcote , @Chadha93 , I would like to work on this issue and would you please elaborate the issue? Thanks

[2022-04-16 05:36] karnatisrinivas commented on #5376
Hello @Abhishek-kumar09 , I would like to work on this issue.

[2022-04-16 20:06] #5123 closed

[2022-04-17 13:03] gr455 commented on #5262
@Revolyssup @piyushsingariya Mind if I try this out?

[2022-04-18 04:43] piyushsingariya commented on #5262
sure!

[2022-04-18 12:40] Chadha93 opened #5405 "Meshery crash runtime error for v0.6.0-rc.5m latest without kubernetes"
#### Current Behavior
Meshery on latest is crashing on server and local Logs attached
![image](https://user-images.githubusercontent.com/65453826/163809086-0ea3fc1c-87c9-45c4-9618-2347e214975d.png)

#### Expected Behavior
Error should be handled/fixed.

#### Screenshots/Logs
[crash-log.log](https://github.com/meshery/meshery/files/8505686/crash-log.log)

#### Environment

- **Host OS:** Mac Linux

[2022-04-18 13:02] asubedy commented on #5405
Is this behaviour with `mesheryctl` or `make server`?

[2022-04-18 13:03] Chadha93 commented on #5405
make server and make run-local

[2022-04-18 13:05] asubedy commented on #5405
Hmm thats strange I just ran the latest pull with `make server` . Did you make sure your docker is running?

[2022-04-18 13:12] Chadha93 commented on #5405
It should work without docker also as earlier... Just to up the local server at 9081

[2022-04-18 13:39] Chadha93 commented on #5405
Closing this as there was an issue with my docker instance, it was stale. It's working now.

[2022-04-18 15:48] leecalcote opened #5408 "[mesheryctl] GETCONTEXTS API is returning single context, even though kubeconfig.yaml has multiple contexts."
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

See related PR - https://github.com/meshery/meshery/pull/5402:  GETCONTEXTS API is returning single context, even though kubeconfig.yaml has multiple contexts.

The [GetContexts() function](https://github.com/meshery/meshery/blob/d22158c7b21777aeb5f55119349af20f4b754465/mesheryctl/int

[2022-04-18 17:28] leecalcote opened #5409 "[mesheryctl] Add Cilium adapter to default meshconfig context"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
Meshery Adapter for Cilium isn't included in the default context created by `mesheryctl`.

#### Desired Behavior
This adapter is ready to be included in the default Meshery deployment.

`system reset` and `system context create <name>` should be incorporate `meshery-cilium` into the de

[2022-04-18 17:30] #5385 closed

[2022-04-19 04:03] #5405 closed

[2022-04-19 22:01] #5408 closed

[2022-04-19 22:23] leecalcote commented on #5409
@piyushsingariya @hexxdump

[2022-04-19 22:27] leecalcote opened #5414 "[Docker Extension] Replace "Open" button with add Meshery logo spinner"
#### Current Behavior
The Account - Open Meshery button can be replaced with a more compelling visual "button" to open Meshery UI.

#### Implementation
The Meshery spinner created for the MM extension can be used in this Docker Extension's UI.

Uplift and spin on hover. Depress on click.

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build &

[2022-04-20 16:49] #5414 closed

[2022-04-21 01:55] alphaX86 commented on #5201
Being worked

[2022-04-21 05:00] #4592 closed

[2022-04-21 08:30] #5159 closed

[2022-04-21 12:16] Akshit42-hue commented on #5300
Can you please explain more about this issue @leecalcote

[2022-04-21 13:06] leecalcote commented on #5300
@Revolyssup  needs to finish his assignment here.

[2022-04-21 19:05] #5157 closed

[2022-04-22 12:06] Chadha93 opened #5422 "[UI] Appbar overlapping with breadcrumbs navigation"
#### Current Behavior
![image](https://user-images.githubusercontent.com/65453826/164710884-be1bed5b-2f12-43d1-9151-1efd5a9943d0.png)

#### Desired Behavior
Appbar should not overlap with breadcrumbs navigation, it should remain under it, attached with the form.

#### Screenshots/Logs

#### Environment

- Browser: Chrome Safari Firefox
- Host OS: Mac Linux Windows
- Meshery Server Version: stable-

[2022-04-22 12:08] Akshit42-hue commented on #5422
Can I work on this issue @Chadha93

[2022-04-22 12:09] Chadha93 commented on #5422
Sure @Akshit42-hue

[2022-04-24 04:37] Akshit42-hue commented on #5422
Hey @Chadha93, can you please share the steps to reproduce the issue

[2022-04-24 05:45] Akshit42-hue commented on #5231
Hey @leecalcote can I work on this issue

[2022-04-25 05:54] Chadha93 commented on #5422
@Akshit42-hue

1. go to http://localhost:9081/configuration/patterns
2. click the designs button
3. expand the form to three or more levels and scroll, you'll get the issue. :)

[2022-04-25 05:59] Akshit42-hue commented on #5422
Thanks @Chadha93  :)

[2022-04-25 14:36] leecalcote opened #5426 "[MeshSync] Connection check returns false positive"
#### Current Behavior
MeshSync is not running
#### Expected Behavior

#### Screenshots/Logs

_Not Running_
[code]

_Custom Resource Status_

#### Environment

- **Host OS:** Mac
- **Platform:** Docker
- **Meshery Server Version:** stable-v0.6.0-rc.5p
- **Meshery Client Version:** stable-v0.6.0-rc.5p

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Mes

[2022-04-25 14:37] leecalcote opened #5427 "[MeshSync] Connection check returns false positive"
#### Current Behavior
MeshSync is not running, but it's ad-hoc connectivity test returns the following:

<img width="369" alt="Screen Shot 2022-04-25 at 8 32 10 AM" src="https://user-images.githubusercontent.com/7570704/165111744-5fa26775-1c01-4df5-ab03-2c75b15402a1.png">

#### Screenshots/Logs

_Not Running_
[code]

_Custom Resource Status_
[code]

#### Environment

- **Host OS:** Mac
- **Platfor

[2022-04-25 16:21] #5262 closed

[2022-04-25 23:18] leecalcote opened #5428 "[CI] Docker Extension: Invoke Release workflow after Meshery Release completion"
#### Current Behavior
Docker Extension builds are reliant on the availability of `mesheryctl`.

Edge releases of the Docker Extension can and will already simply use pre-published, CLI binaries of the latest Meshery stable release. Stable releases of the Docker Extension need to be involved at the end of a Meshery release workflow because the stable releases of the Docker Extension will need to in

[2022-04-26 00:55] leecalcote commented on #5227
@MUzairS15 will you ensure that Cilium service mesh deployments show in the Meshery UI Dashboard?

[2022-04-26 07:42] piyushsingariya commented on #5409
@leecalcote meshery-cilium has been added already to the mesh-config.

[2022-04-26 10:17] utkarsh-pro opened #5430 "[Docs] git.io deprecation"
#### Current State
Meshery uses `git.io` shortened URLs in its docs. `git.io` service has been deprecated and the redirections are supposed to stop working from 29th April.

More info: https://github.blog/changelog/2022-04-25-git-io-deprecation/

#### Desired State
Replace `git.io` based links.

---

#### [Contributor Guides](https://docs.meshery.io/project/contributing) and Resources
- 📚 [Instruc

[2022-04-26 12:41] MUzairS15 commented on #5227
On it

[2022-04-26 12:57] leecalcote commented on #5430
Whoa. Short notice. Very good of you to call this out, @utkarsh-pro

[2022-04-26 13:02] leecalcote commented on #5409
Will you double-check on its inclusion when using the `system reset` command. The cli output above is copied from a terminal session.

[2022-04-26 19:45] leecalcote commented on #5409
Oh, I see what it is: `system reset` isn't actually reseting the current context's component list. You can repro by removing any adapter (component) from your current context, executing `system reset`, then `system context view`.

[2022-04-27 15:07] Chadha93 opened #5433 "[Docs] Change the Meshery UI build command under contributing instructions"
#### Current State
The `make run-fast` command was recently updated to `make server`

#### Desired State
Change the command to `make server` in docs https://docs.meshery.io/project/contributing/contributing-ui

---

#### [Contributor Guides](https://docs.meshery.io/project/contributing) and Resources
- 📚 [Instructions for contributing to documentation](https://docs.meshery.io/project/contributing/

[2022-04-27 15:23] asubedy opened #5434 "[Docs] Change the style of docs version selector to match with the Navbar"
#### Current State
Currently, the docs version selector in safari looks something like this
<img width="1425" alt="image" src="https://user-images.githubusercontent.com/51183483/165553405-22d0491a-5ba6-4f84-8f49-15b5ade5185e.png">

#### Desired State
Remove the glassy styling and implement stylings similar to that  shown on other browser:
<img width="1424" alt="image" src="https://user-images.gith

[2022-04-27 16:18] #5231 closed

[2022-04-27 16:20] Akshit42-hue commented on #5433
Can I take it up @Chadha93

[2022-04-27 16:31] abhinay99190 commented on #5395
Can I work on it..

[2022-04-27 16:33] abhinay99190 commented on #5434
Can I work on it.

[2022-04-27 18:36] #5430 closed

[2022-04-28 02:23] #5428 closed

[2022-04-28 07:11] asubedy commented on #5434
Sure @abhinay99190, before assigning I wanted to confirm you have access to safari right?

[2022-04-28 07:21] abhinay99190 commented on #5434
No @asubedy

[2022-04-28 07:25] asubedy commented on #5434
This is a safari specific issue without access to safari it will be difficult for you to actually see the changes you made.

[2022-04-28 08:28] #3982 closed

[2022-04-28 08:28] #4726 closed

[2022-04-28 12:03] abhinay99190 commented on #5434
Can you tell me the process to get access in safari.

On Thu, Apr 28, 2022, 12:55 PM Aaditya Narayan Subedy <
***@***.***> wrote:

[2022-04-28 12:04] leecalcote commented on #5434
But a Mac or run macOS virtually - use a Cloud provider or borrow from a friend, @abhinay99190. In the meantime, please seek out another issue.

[2022-04-28 16:33] alphaX86 opened #5440 "[Docs] Replace `git.io/meshery` to `meshery.io/install`"
#### Current State
The `git.io` domain will be deprecated as per GitHub's announcement soon, but meshery's installation is on git.io domain for now. A new URL is made but needs to be updated on docs

#### Desired State
Change domain to required format

---

#### [Contributor Guides](https://docs.meshery.io/project/contributing) and Resources
- 📚 [Instructions for contributing to documentation](htt

[2022-04-28 17:00] alphaX86 commented on #5440
False alarm, needs to be changed on other repos after checks

[2022-04-28 17:00] #5440 closed

[2022-04-28 21:40] leecalcote commented on #5014
@Zanda256 you might want to take this.

[2022-04-29 09:22] karnatisrinivas commented on #5434
Hello @leecalcote @asubedy , If the issue is unassigned, can i work on this?

[2022-04-29 09:23] leecalcote commented on #5434
@karnatisrinivas, yes, start by answering @asubedy's question above.

[2022-04-29 09:26] karnatisrinivas commented on #5434
Yes, I use macOS and I have access to safari browser.

Reproduced the issue on Safari

<img width="1439" alt="Screenshot 2022-04-29 at 2 55 33 PM" src="https://user-images.githubusercontent.com/52213014/165918759-e87cc6ca-8160-40d8-9a37-9acc56c9d883.png">
,

[2022-04-29 09:34] karnatisrinivas commented on #5433
I believe there's also some change in the Makefile in [docs](https://github.com/meshery/meshery/tree/master/docs) folder too.

In the [documentation](https://docs.meshery.io/project/contributing/contributing-docs) it is mentioned as `make docker-docs` but in [makefile](https://github.com/meshery/meshery/blob/master/docs/Makefile) , docker-docs is not defined.

[2022-04-29 09:37] asubedy commented on #5434
Great @karnatisrinivas, please go forward

[2022-04-29 11:32] leecalcote commented on #5433
Yes, please fix.

[2022-04-29 14:05] Zanda256 commented on #5014
It looks interesting, but isn't it react.js?

[2022-04-30 02:37] leecalcote commented on #5014
It’s deceiving, but this issue is calling for a competent user to exercise this new UI and prove that it can be used to build Kubernetes workloads.

[2022-04-30 16:18] Zanda256 commented on #5014
Let me take this on.

[2022-05-01 04:46] leecalcote commented on #5014
Excellent

[2022-05-01 08:15] Harshit-Dandriyal commented on #5187
@Chadha93 you can assign this to me

[2022-05-01 08:17] Chadha93 commented on #5187
Sure, thanks for heads up  @Harshit-Dandriyal

[2022-05-01 15:33] gr455 commented on #5301
Seems to be fixed with https://github.com/meshery/meshery/pull/5429

[2022-05-01 19:03] Harshit-Dandriyal opened #5459 "[Docs]Our Doc is saying to install ruby 2.5.1 but We are using ruby 2.7.5"
#### Current State

Our Doc is saying to install ruby 2.5.1 but We are using ruby 2.7.5 It's creating an issue of Your ruby version being 2.5.1 but your Gemfile specified 2.7.5.

![Screenshot from 2022-05-02 00-29-02](https://user-images.githubusercontent.com/56961488/166160571-25858329-99f6-4f06-a38d-852480499ddf.png)

![Screenshot from 2022-05-02 00-28-50](https://user-images.githubusercontent.c

[2022-05-02 03:43] Akshit42-hue commented on #5459
Should I go ahead and fix it @Harshit-Dandriyal @Chadha93

[2022-05-02 04:56] karnatisrinivas commented on #5433
Hello @leecalcote , if this is unassigned, Should I take it and work on it?

[2022-05-02 13:59] #5100 closed

[2022-05-02 18:29] Harshit-Dandriyal commented on #5459
@Akshit42-hue Go ahead :smile:

[2022-05-02 21:53] Chadha93 commented on #5459
Assigning @Akshit42-hue . Thanks for opening the issue @Harshit-Dandriyal

[2022-05-03 06:03] Akshit42-hue commented on #5422
Can't able to fix it, so unassigning myself

[2022-05-03 07:47] subhradwip01 commented on #5422
@Chadha93 if you explain the desired behavior briefly
....i would like to look into that issue..Actually i am unable to understand the desired behavior

[2022-05-03 10:21] Chadha93 commented on #5422
In designs, The Pattern service form has an appbar which is overlapping with the breadcrumbs navigation(a bar to toggle between pages) right above it. Can be seen when scrolled down by opening the form to deep levels. Follow steps from the previous comment https://github.com/meshery/meshery/issues/5422#issuecomment-1108105983

This is a Z-index issue.

@Akshit42-hue @subhradwip01 are you not able

[2022-05-03 10:25] Harshit-Dandriyal commented on #5422
@Chadha93 you can assign it to me

[2022-05-03 10:28] Harshit-Dandriyal commented on #5422
or @Akshit42-hue issue will be solved if you just change the z-index value, find that particular component in the codebase, and change z-index

[2022-05-03 10:28] Chadha93 commented on #5422
Sure, please do tag @subhradwip01 and @Akshit42-hue when you make a pr, it will be helpful for them.

[2022-05-03 10:29] Harshit-Dandriyal commented on #5422
Sure :smile:

[2022-05-03 10:38] Akshit42-hue commented on #5422
Hey @Chadha93, thanks for pushing us, I really want to learn the meshery code base

[2022-05-03 10:55] Harshit-Dandriyal commented on #5422
@Akshit42-hue @subhradwip01 #5468

[2022-05-03 10:57] #5459 closed

[2022-05-03 11:23] #5422 closed

[2022-05-03 22:45] leecalcote opened #5472 "[Docs] Add Cilium Service Mesh to table of contents (menu)"
#### Current State
The current table of contents does not have Cilium Service Mesh listed.
<img width="229" alt="Screen Shot 2022-05-03 at 5 43 38 PM" src="https://user-images.githubusercontent.com/7570704/166585058-f30ac5bf-e233-4cce-b999-4d5db1387392.png">

#### Desired State
Add an entry for Cilium Service Mesh pointing to `/service-meshes/adapters/cilium`

(https://docs.meshery.io/service-mesh

[2022-05-03 22:45] leecalcote opened #5473 "[Docs] Add description of and install instructions for Docker Extension for Meshery"
#### Current State
A Docker Extension for Meshery has been created and will be publicly available at DockerCon 2022.  A description of the extension and how to install it are needed. See https://layer5.io/docker-extension-meshery and https://hub.docker.com/r/meshery/docker-extension-meshery for details.

#### Desired State
Add Docker Extension as an option on:

- https://docs.meshery.io/installati

[2022-05-04 00:12] rohith-cmd commented on #5472
@leecalcote  I would like to take up this issue

[2022-05-04 02:42] leecalcote commented on #5472
Sounds great

[2022-05-04 05:33] karnatisrinivas commented on #5473
Hello @leecalcote , If this is unassigned can I work on this?

[2022-05-04 05:38] leecalcote commented on #5473
Sounds good, @karnatisrinivas

[2022-05-04 08:56] adithyaakrishna commented on #5433
@karnatisrinivas Yeppity Yep, it's yours 🎉

[2022-05-04 12:06] leecalcote commented on #5046
@Aisuko, @jbyers19, @Revolyssup this behavior needs to go away. Any takers on this one?

[2022-05-04 15:20] xmulligan commented on #5472
@rohith-cmd let me know if you need any help 🐝

[2022-05-05 03:11] Akshit42-hue opened #5478 "[UI] Update the namespace width"
#### Current Behavior

In the dashboard the namespace width is too long

#### Desired Behavior

Namespace width need to be decrease and make it responsive

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources

- 🎨 Wireframes and designs for Meshery UI in [Figma](https://www.figma.com/file/SMP3zxOjZztdOLtgN4dS2W/Meshery-UI)
- 🖥 [Contributing to Meshery UI](http

[2022-05-05 06:11] rohith-cmd commented on #5472
Hi, so I used **make** and **docker** to serve the site but ran into the following problem:

Could not locate Gemfile

[code]
I've made sure that the **Gemfile** is present too

![image](https://user-images.githubusercontent.com/55309324/166870727-ec778f01-5644-45ee-a50f-0215b1f44cd6.png)

[2022-05-05 06:18] rohith-cmd commented on #5472
The command mentioned in the docs  [https://docs.meshery.io/project/contributing/contributing-docs#using-docker](url) and the command in the makefile don't seem to match. Unless I'm missing something 😃
![image](https://user-images.githubusercontent.com/55309324/166871403-98a68ba5-7025-4111-a907-b22191765fb7.png)
![image](https://user-images.githubusercontent.com/55309324/166871471-4203625a-6d75-4c

[2022-05-05 13:48] asubedy opened #5479 "[UI] Add a modal when Reset Database button is clicked on settings page"
#### Current Behavior

Currently when we click the `Reset Database` button we don't get any warning or some sort of modal, that confirms our choice.

#### Desired Behavior

When the button is clicked a modal should be appearing on the UI confirming the user choice of resetting the database.
The modal should describe what the button does and  the modal should have checkboxes that signify different

[2022-05-05 14:53] Harshit-Dandriyal commented on #5479
I can work on this :)

[2022-05-05 14:59] Harshit-Dandriyal commented on #5479
@asubedy I am suggesting that we should have two checkboxes if one or both of them is not checked, Our Reset Database Button should be disabled, So, we will not need an extra cancel button.

[2022-05-05 15:56] leecalcote commented on #5479
@Harshit-Dandriyal will you create a wireframe for clarity? Nothing pretty, but let's get the rest of the user experience clarified.

[2022-05-06 14:17] gr455 commented on #5427
Mind if I try this out @MUzairS15? Or we could share our findings if you are working on this.

[2022-05-06 14:43] MUzairS15 commented on #5427
https://github.com/meshery/meshery/blob/78456b7c94effc7679c1ff3fdd270f304d9768d3/internal/graphql/model/operator_helper.go#L117

Fix for this should involve using k8s clientset to get meshsync pod in `meshery` namespace instead of using generated clientset for custom controller (that we are using now).

[2022-05-06 15:07] #5393 closed

[2022-05-06 15:20] leecalcote commented on #5260
ping

[2022-05-06 15:21] leecalcote commented on #5282
Dups. Who needs 'em?

[2022-05-06 15:25] Revolyssup commented on #5260
The logs point to some networking problem at that time. Meshery could not talk to kubenetes. Did you get this again?

[2022-05-06 16:25] gr455 commented on #5427
Thanks for the nudge!

[2022-05-06 17:42] MUzairS15 commented on #5427
@leecalcote Recent changes from https://github.com/meshery/meshery/pull/5480/commits/2c24abb04e585eb0c694f6bf0b8bec595838cad5
seems to fix this issue.

[2022-05-06 17:43] leecalcote commented on #5427
Good, good.

[2022-05-06 17:44] leecalcote commented on #5427
I tried to reach you a few hours ago, @MUzairS15, but couldn't raise you on Slack.

[2022-05-06 17:44] leecalcote commented on #5427
Let's close this issue, then.

[2022-05-06 17:44] #5427 closed

[2022-05-06 18:12] gr455 commented on #5409
This seems to be the case. Let me try and fix this

[2022-05-06 18:31] MUzairS15 commented on #5426
@leecalcote Ok to close??

[2022-05-06 18:37] MUzairS15 opened #5485 "[UI] MeshSync and Meshery Broker chips not working as expected."
#### Current Behavior

When the user loads into the settings page and tries to click on chips, they get disappeared after the click.
#### Desired Behavior

Chips should remain in view, doesn't matter whether MeshSync and Meshery Broker are connected or not.
#### Screenshots/Logs

https://user-images.githubusercontent.com/79860504/167198065-3992d6bf-e476-4a7c-9406-d9815115db69.mov

#### Environment

[2022-05-06 20:15] leecalcote opened #5486 "[DevOps] Verify Meshery's compatibility with OpenShift as a supported platform"
#### Current Behavior
Meshery is [compatible with many Kubernetes distributions](https://docs.meshery.io/installation/platforms) and while users have reported running Meshery on OpenShift, no diligence has been completed to ensure any caveats are documented.

#### Implementation
Meshery needs to be deployed on a recent version of OpenShift.
- Using manifests, ideally, the same manifests used for v

[2022-05-07 04:56] karnatisrinivas commented on #5472
yes! `make docker` should serve the site locally.  There's already an issue opened #5433 for the changes in the make file.

[2022-05-07 16:25] aman-raza commented on #5377
@leecalcote Is this issue still open?

[2022-05-08 03:30] karnatisrinivas commented on #5434
Hello @leecalcote  @asubedy , I believe there's change in the version selector in the docs.

-> In Safari
<img width="1439" alt="Screenshot 2022-05-08 at 8 58 24 AM" src="https://user-images.githubusercontent.com/52213014/167280489-2181e02e-3512-4d7f-a8bf-699d14cea963.png">
-> In Mozilla
<img width="1440" alt="Screenshot 2022-05-08 at 8 59 37 AM" src="https://user-images.githubusercontent.com/5221

[2022-05-08 05:26] karnatisrinivas commented on #5473
Hello @leecalcote , Created a PR for the issue. Would you kindly review and let me know if any changes required.

[2022-05-08 07:30] asubedy commented on #5434
@karnatisrinivas yes I think @leecalcote changed it to previous stylings. No worries you can work from here also. The styling should be similar in all the browser, and it should sit well with the background. You can take example of version selector of MUI docs

[2022-05-09 03:10] FeynmanZhou commented on #5386
Hi @leecalcote and Meshery team,

There are two ways that KubeSphere users could install Meshery with ease.
1. Import the Meshery Helm repo to KubeSphere and then install it from the KubeSphere App template (See an example)
2. Submit the Helm chart of Meshery to the KubeSphere Helm repo then it could be loaded into the KubeSphere App Store by default.

As for Meshery, option 2 is more convenient a

[2022-05-09 19:29] leecalcote opened #5496 "[Docs] Remove Extra space in Prerequisites"
#### Current State
<img width="847" alt="Screen Shot 2022-05-09 at 2 28 18 PM" src="https://user-images.githubusercontent.com/7570704/167483384-058677b9-301e-4d06-b0d2-e9c97160ce09.png">

#### Desired State

---

#### [Contributor Guides](https://docs.meshery.io/project/contributing) and Resources
- 📚 [Instructions for contributing to documentation](https://docs.meshery.io/project/contributing/con

[2022-05-09 19:42] #5473 closed

[2022-05-10 16:39] karnatisrinivas commented on #5496
Can I work on this @leecalcote ?

[2022-05-11 02:53] #5472 closed

[2022-05-11 02:58] #5409 closed

[2022-05-11 03:13] #5485 closed

[2022-05-11 05:09] KrishAryan commented on #5496
Can I work on this @leecalcote as this will be my first time contributing.

[2022-05-11 19:53] leecalcote commented on #2931
Initiated under https://play.meshery.io

[2022-05-11 19:53] #2931 closed

[2022-05-11 20:02] leecalcote opened #5504 "[UI] Cloud Native Design Configurator"
#### Overview
Integrate a new user experience into Meshery: a cloud native design configurator. This project involves presentation of Kuberenetes core resources and any custom resource (CRD) as a configurable component in a React-based user interface in which users design (in great detail) and deploy their cloud native infrastructure. Interns will familiarize with concepts of content lifecycle man

[2022-05-12 09:13] Harshit-Dandriyal commented on #5504
sounds great :smile: , Excited for this one..

[2022-05-12 18:08] gr455 opened #5508 "[CI] Make existing pod assertions more general in adapter e2e tests"
#### Current Behavior
Currently the core workflow for end to end tests for adapters only asserts pods

#### Desired Behavior
We would want the workflow to assert for any type of resource

#### Implementation
We get rid of `expected_pods` and use `expected_resource` of type `expected_resource_type` arrays to input expected resources.

For backwards compatibilty, we will still keep the `expected_pod

[2022-05-12 18:09] gr455 commented on #5508
// cc: @Revolyssup

[2022-05-12 18:10] leecalcote commented on #5508
Excellent

[2022-05-12 18:11] leecalcote commented on #5508
A change will be needed in the Meshery Docs queries, I believe. Small, but needed.

[2022-05-12 18:15] gr455 commented on #5508
Yes, we'll need to change that a bit too

[2022-05-12 19:40] #4753 closed

[2022-05-12 19:40] #5193 closed

[2022-05-12 19:40] #5215 closed

[2022-05-13 05:07] #4075 closed

[2022-05-13 05:07] #4907 closed

[2022-05-13 06:03] Taiwrash commented on #5504
Hi @leecalcote I am very excited to participate in this, please how can I get started?

[2022-05-15 04:11] Rohith-Raju opened #5517 "[Docs] 404/Broken links on adapters page"
#### Current State
Site Link : https://docs.meshery.io/extensibility/adapters
![screen-recorder-sun-may-15-2022-09-33-59](https://user-images.githubusercontent.com/55309324/168456755-125a64b1-6043-411f-afe3-c5b1752110ec.gif)
#### Desired State

Should not be broken and take the user to the desired page.

---

#### [Contributor Guides](https://docs.meshery.io/project/contributing) and Resources
- 📚

[2022-05-15 04:15] leecalcote commented on #5517
Thanks, @Rohith-Raju. Is this an item that you would  like to work on?

[2022-05-15 04:21] Rohith-Raju commented on #5517
Sure, would love to @leecalcote

[2022-05-15 05:02] Rohith-Raju commented on #5517
Hey so I went through the code and this is what I found
![image](https://user-images.githubusercontent.com/55309324/168457919-d9c05bcd-ea43-4b48-8d15-6b6306b7604f.png)
Here the links point to each of its files in the directory.
![image](https://user-images.githubusercontent.com/55309324/168457934-252a83e6-a16b-44ae-b2f5-d981a1c49535.png)
But there are no files that could be found with that name wh

[2022-05-15 08:22] Akshit42-hue commented on #5517
Hey @Rohith-Raju, try to add ({{site.baseurl}}/page-name)

For eg
({{ site.baseurl }}/concepts/architecture/adapters)

[2022-05-15 09:38] Rohith-Raju commented on #5517
Yes, of course, I was thinking the same thanks @Akshit42-hue

[2022-05-16 13:11] #5517 closed

[2022-05-16 17:53] #5345 closed

[2022-05-16 18:27] #5187 closed

[2022-05-17 03:56] Akshit42-hue opened #5519 "[UI] While uploading the config file again it' s get uploaded"
#### Current Behavior

Even the config file has been uploaded and trying to upload the same file again it's get uploaded and as a result the number of cluster get increase.

#### Desired Behavior

If trying to upload the same config file again it should not be uploaded again

#### Screenshots/Logs

![Screenshot from 2022-05-17 13-22-37](https://user-images.githubusercontent.com/59443454/168760461-

[2022-05-17 11:26] karnatisrinivas commented on #5496
Hello @Akshit42-hue , I am unassigning myself from this issue. Kindly assign it to Krish.

[2022-05-17 12:18] Akshit42-hue commented on #5496
Sure @karnatisrinivas, go ahead @KrishAryan

[2022-05-17 14:30] warunicorn19 commented on #5519
@Revolyssup @theBeginner86 are you guys able to recreate this?

[2022-05-17 18:26] #5376 closed

[2022-05-18 12:11] #5294 closed

[2022-05-18 18:32] kethavathsivanaik commented on #5386
We can write a GitHub action job to push helm chart to KubeSphere repository after helm chart published in Artifact Hub.

Actions file to append the job:
https://github.com/meshery/meshery/blob/master/.github/workflows/helm-chart-releaser.yml

 KubeSphere Helm chart repository where to do PR:  https://github.com/kubesphere/helm-charts/tree/master/src/stable

**Universal Solution**

- Contribute a

[2022-05-19 14:49] #5201 closed

[2022-05-19 18:08] #5508 closed

[2022-05-19 18:28] #5305 closed

[2022-05-19 20:12] KrishAryan commented on #5496
@leecalcote I observed in the HTML file that the space is due to style given in a CSS file to h5 tag and even inline css is not working over it. So my proposal is to replace h5 tag with strong tag.

[2022-05-19 20:38] KrishAryan commented on #5496
![screenshot (37)](https://user-images.githubusercontent.com/64402456/169400259-be109d78-b1bf-47f1-9ce7-f013a53ff063.png)

[2022-05-19 20:50] leecalcote commented on #5496
I'll let @karnatisrinivas offer feedback.

[2022-05-20 00:05] #5309 closed

[2022-05-20 06:30] karnatisrinivas commented on #5496
Hello @KrishAryan. Even I feel like this space is due to the Styling applied to Tags. <strong> element also looks good.

[2022-05-20 06:31] karnatisrinivas commented on #5496
I think this might be the cause, but would you check if this? (docs/_site/assets/css/scss.css)
<img width="1440" alt="Screenshot 2022-05-20 at 11 58 14 AM" src="https://user-images.githubusercontent.com/52213014/169466991-41e95ed8-d8b1-4c74-a9ac-2bddb2afc188.png">

[2022-05-20 14:42] asubedy commented on #5496
Yes @KrishAryan, you can make one, we can review your work on the PR itself.

[2022-05-20 15:29] leecalcote commented on #4937
@Chadha93 @Abhishek-kumar09 @sudo-NithishKarthik was this completely finished?

[2022-05-20 19:02] Chadha93 opened #5525 "[Docs] Highlight current tab on scroll in table of content in navigation"
#### Current State
In the table of navigation, on the right side, the current context is not highlighted.
![image](https://user-images.githubusercontent.com/65453826/169594802-f5bc45b9-34f8-4ebc-80c5-929a7a070e14.png)

#### Desired State
It should highlight the current tab context and change accordingly on scroll.
See the example here https://istio.io/latest/docs/tasks/traffic-management/egress/ht

[2022-05-20 22:10] #5317 closed

[2022-05-21 03:45] karnatisrinivas commented on #5525
Hello @Chadha93 , Can I give it a try?

[2022-05-21 04:53] Akshit42-hue commented on #5525
Go ahead @karnatisrinivas

[2022-05-21 14:24] arya-vats commented on #5525
@Chadha93 May I give it a try?

[2022-05-21 18:37] Chadha93 commented on #5525
@arya-vats this issue is already assigned, comment on any other free assignment issue, and I'll assign it, Thanks for jumping in, and keep contributing. :)

[2022-05-21 23:23] #5306 closed

[2022-05-22 05:16] 4molybdenum2 commented on #5250
https://github.com/meshery/meshery/blob/7c636a94729665e4a94e761b7b501935e198fc91/handlers/meshery_application_handler.go#L126-L135

@leecalcote isn't this what this is doing?

[2022-05-22 06:21] leecalcote commented on #5250
Yes, @4molybdenum2. The Acceptance Criteria defined in this issue needs to be verified prior to closing the issue.

[2022-05-22 08:45] #5099 closed

[2022-05-22 18:00] gr455 opened #5529 "[CI] Update adapters' E2E tests to newer core workflow"
#### Current Behavior
Currently we use the [testadapters.yaml](https://github.com/meshery/meshery/blob/master/.github/workflows/testadapters.yaml) workflow as a core workflow for the adapters' end to end tests. This core workflow is limited because it only lets us check if the mentioned pods have spun up. The updated workflow, [test_adapters.yaml](https://github.com/meshery/meshery/blob/master/.gi

[2022-05-22 18:07] gr455 commented on #5529
Wow that's a lot of text. Just read the `Implementation` part for a TL;DR :laughing:

[2022-05-22 19:13] Chever-John commented on #5529
Let me try the meshery-consul project, the booking deadline is June 5th. If it goes beyond that, other brothers in the community can continue to work on it.

[2022-05-22 19:39] viveksahu26 commented on #5529
Hey @gr455 , I would love to go for `meshery-linkerd`.

[2022-05-22 19:48] gr455 commented on #5529
Go ahead!

[2022-05-22 19:57] Chadha93 commented on #5529
Nice explanation in the issue @gr455, I'll cover the [meshery-cilium](https://github.com/meshery/meshery-cilium).

[2022-05-22 22:08] gr455 commented on #5529
Thank you @Chadha93!

[2022-05-23 01:12] Aisuko commented on #5386
As @kethavathsivanaik mentioned above. I beleive this is a good idea. But I have a consideration here, may we add Helm chart of meshery to it's Helm repo first. I mean we can finish this short-term task first then the further feature would be warm welcome.

[2022-05-23 03:03] kethavathsivanaik commented on #5386
@Aisuko I worked on the short term goal to publish the chart to KubeSphere but it's majorly written in bash. So, I converted it into github action in this weekend. I will shortly do the PR with the feature..

[2022-05-23 03:37] karnatisrinivas commented on #5529
I'll cover the `meshery-nsm`

[2022-05-23 03:38] Aisuko commented on #5386
Thank you @kethavathsivanaik .

[2022-05-23 04:33] Akshit42-hue commented on #5529
I'll cover the [meshery-traefik-mesh](https://github.com/meshery/meshery-traefik-mesh)

[2022-05-23 12:51] tapanhalani commented on #5529
@gr455 I would like to take up meshery-kuma

[2022-05-23 18:07] 4molybdenum2 commented on #5529
I would like to take up [meshery-app-mesh](https://github.com/meshery/meshery-app-mesh)

[2022-05-24 06:17] gr455 commented on #5529
Yep sure, Thanks!

[2022-05-24 06:20] Akshit42-hue commented on #5529
Hey @gr455, Should I take [meshery-osm](https://github.com/meshery/meshery-osm)

[2022-05-24 06:56] gr455 commented on #5529
Sure, thanks

[2022-05-24 07:42] tapanhalani commented on #5529
@gr455 as meshery-kuma is already done (https://github.com/meshery/meshery-istio/pull/427), can I take up the last remaining one i.e. meshery-nginx-sm ?

[2022-05-24 07:54] Revolyssup commented on #5529
Sure, go ahead.

[2022-05-24 11:02] viveksahu26 commented on #5389
Hey, I would like to work on this issue.

[2022-05-24 11:24] leecalcote commented on #5389
@viveksahu26  sounds Task good. I’m labeling this with “design-needed”.

[2022-05-24 12:24] gr455 opened #5534 "[Docs] Add service mesh components' schema to docs"
#### Current State
The JSON Schema for each service mesh for each version are located inside `templates/oam/workloads/<version>`. These are automatically generated by a github action and meshery uses these to validate patterns.

#### Desired State
Implement docs specifying the components and their properties for each version of each service mesh supported by meshery.
Implement a github action that

[2022-05-24 12:24] gr455 commented on #5534
// @Revolyssup

[2022-05-24 15:56] leecalcote opened #5535 "[Docs] Integration Test Details: Wrong color and missing pass/fail icons"
#### Description
This page, https://docs.meshery.io/project/compatibility-matrix/meshery-traefik-mesh-past-results, needs to be updated to use the same colors defined on https://docs.meshery.io/project/compatibility-matrix and to use the same icons from https://docs.meshery.io/project/compatibility-matrix

<img width="1472" alt="Screen Shot 2022-05-24 at 10 15 50 AM" src="https://user-images.githu

[2022-05-24 16:07] #2515 closed

[2022-05-25 05:41] karnatisrinivas commented on #5525
Hello @Chadha93 , I'm unassigning myself from this.

@arya-vats , please go ahead.

[2022-05-25 05:42] karnatisrinivas commented on #5535
hello @leecalcote , if this is unassigned. Can I give it a try?

[2022-05-25 15:30] leecalcote opened #5538 "[Docs] Support light vs dark mode display of CNCF logo in Meshery README"
#### Current State

This repo's readme has a CNCF logo with dark text, which has low contrast when viewed in dark mode browsers.

<img width="922" alt="Screen Shot 2022-05-25 at 10 28 50 AM" src="https://user-images.githubusercontent.com/7570704/170300179-254268b3-8593-45d5-bb47-d56bb102660c.png">

#### Desired State
Use [new feature of GitHub](https://github.blog/changelog/2022-05-19-specify-them

[2022-05-25 15:42] subhamgcon commented on #5538
Can I work on this issue @leecalcote ?

[2022-05-26 07:18] KrishAryan commented on #5538
@leecalcote I have made changes please look into it

[2022-05-26 08:06] theBeginner86 opened #5542 "[Bot] Fix welcome bot image"
#### Expected Behavior

It should show up as it used to be.
<img width="934" alt="Screenshot 2022-05-26 at 1 33 46 PM" src="https://user-images.githubusercontent.com/73700530/170445580-2346c92a-b65f-4cf5-9d11-fc839e08d3cc.png">

#### Screenshots/Logs

Currently it looks like:
<img width="926" alt="Screenshot 2022-05-26 at 1 26 41 PM" src="https://user-images.githubusercontent.com/73700530/17044486

[2022-05-26 08:23] KrishAryan commented on #5538
@leecalcote  made some changes please review it

[2022-05-26 08:38] Santosh1176 commented on #5542
Hi, Can I work on this.

[2022-05-26 09:09] Sukriti-sood commented on #5504
Hey @leecalcote , Please provide access for figma file.

[2022-05-26 10:30] Akshit42-hue commented on #5542
Go ahead @Santosh1176

[2022-05-26 10:32] Santosh1176 commented on #5542
@Akshit42-hue Thank you!

[2022-05-26 15:59] KrishAryan commented on #5534
@gr455  can I work on this?

[2022-05-26 18:09] Revolyssup opened #5547 "[CI] Modify core E2E workflow to accommodate multiple k8s versions"
#### Current Behavior

Currently we only allow users to pass one k8s version and run e2e tests on that. But we need to be able to check our compatibility with latest as well as older versions of kubernetes.
#### Desired Behavior

Allow users to pass comma separated values of versions in `k8s_versions` inside the test_adapters.yaml workflow. Use those to run tests for each of the passed version
###

[2022-05-26 18:14] gr455 commented on #5534
Sure. Have a look at the Build and Release recording from today, we discussed this a little bit (It will show up here: https://www.youtube.com/c/Mesheryio/videos)

[2022-05-26 18:16] 4molybdenum2 commented on #5547
/assign

[2022-05-26 20:57] MarioArriaga92 commented on #5211
@subhamgcon you should definitely try out these new docs and post on our slack workspace any useful feedback - https://docs.meshery.io/project/contributing/contributing-cypress

[2022-05-27 11:00] #4948 closed

[2022-05-27 13:07] 4molybdenum2 commented on #5547
@Revolyssup workflow inputs don't support arrays I think...Can we pass the k8s value as a matrix under strategy instead of as an input?

[2022-05-27 21:14] leecalcote commented on #5538
@subhamgcon apologies - I missed your comment.

[2022-05-28 11:48] Revolyssup commented on #5547
Yeah that sounds good

[2022-05-29 04:03] #5538 closed

[2022-05-29 19:41] KrishAryan opened #5550 "[Docs] Improve visibility in readme files by setting logos according to light/dark mode"
#### Current State
In current state some logos have low contrast in either light or dark mode which makes it difficult to read.

#### Desired State
Change the logos according to light/dark mode by using #gh-light-only or #gh- dark-only-method

---

#### [Contributor Guides](https://docs.meshery.io/project/contributing) and Resources
- 📚 [Instructions for contributing to documentation](https://docs

[2022-05-29 19:50] KrishAryan commented on #5550
I am doing this

[2022-05-31 07:05] KrishAryan commented on #5550
changes done please merge

[2022-06-01 14:27] #3496 closed

[2022-06-01 20:07] #5550 closed

[2022-06-01 20:38] leecalcote opened #5564 "[CI] Docker Hub credential failure?"
#### Current Behavior
Meshery build and release workflows are failing to run the Docker Extension build.

#### Desired Behavior
See https://github.com/meshery/meshery/runs/6697081647?check_suite_focus=true for an example.

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-releas

[2022-06-02 08:35] FeynmanZhou commented on #5386
Hi team,

I see Meshery has been added to the KubeSphere App Store.
![image](https://user-images.githubusercontent.com/40452856/171589629-083af22f-babc-4c73-99bf-10834374f412.png)

[2022-06-02 10:09] AnuragThePathak commented on #5564
I think the `with` in [this line](https://github.com/meshery/meshery/blob/13a7d1f931489c092daddcd092b6f1a341071967/.github/workflows/build-and-release-stable.yml#L65), should be changed to `secrets`.

Also, the `secrets` field and its corresponding value should reside under `workflow_call` instead of `push` event. https://github.com/meshery/meshery/blob/13a7d1f931489c092daddcd092b6f1a341071967/.gi

[2022-06-02 13:21] leecalcote commented on #5386
Assuming that Kubesphere users put this Meshery entry to use, we'll set about automating the process of getting any changes to the helm charts pushed to update the KubeSphere App Store. 👍

[2022-06-04 00:56] #3690 closed

[2022-06-04 18:19] #5547 closed

[2022-06-04 19:11] Ayan-thecodeking commented on #5377
is this issue is already open ?

[2022-06-04 19:15] Ayan-thecodeking commented on #4775
is this issue still open ?? if yes I would love to work on this

[2022-06-04 21:04] Chadha93 commented on #4775
Sure @Ayan-thecodeking, just a quick check - are you able to build docs locally? If yes let's get you assigned.

[2022-06-05 06:11] Ayan-thecodeking commented on #4775
@Chadha93 can you please brief me, on what you mean by building docs locally.

[2022-06-05 07:56] Chadha93 commented on #4775
building docs locally means - are you able to setup and run the project on your system? For this specific issue, you need to run the meshery docs locally to make changes accordingly and then make a pr. Hope this helps. 😃

[2022-06-05 17:10] #5377 closed

[2022-06-05 18:27] Ayan-thecodeking commented on #4775
Got it .. I'm beginner but I'll try my best and make a pr 🙌

[2022-06-06 16:19] MUzairS15 opened #5570 "[mesheryctl] Token location is hardcoded."
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

[code]

`failed to write the token to the filesystem: open /Users/shabana/.meshery/~/Downloads/test-2.json: no such file or directory`
#### Desired Behavior

Token should be generated at path provided in config.
#### Screenshots/Logs

#### Environment

- Host OS: Mac Linux Windows
- M

[2022-06-06 16:49] srrathi opened #5571 "[UI] Modifying Navbar dropdown such that it takes full width in mobile view"
#### Current Behavior
Navbar dropdown doesn't take full width in mobile view and looks a bit weird.

![Screenshot from 2022-06-07 02-05-36](https://user-images.githubusercontent.com/57089237/172206986-d7ecc5dc-e462-45b1-bfeb-40d6ce04a21f.png)

#### Desired Behavior
To modify Navbar dropdown in meshery.io UI such that it takes full width in mobile view with it's items aligned to left. After clickin

[2022-06-06 16:49] srrathi commented on #5571
Please assign it to me. I want to work on it.

[2022-06-06 16:55] leecalcote commented on #5571
Thanks for this @srrathi

[2022-06-06 18:27] theBeginner86 opened #5572 "[mesheryctl] User Friendly Error Message"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

1. `mesheryctl` doesn't explicitly tells the missing arguments or gives examples of correct usage of commands.

<img width="491" alt="Screenshot 2022-06-06 at 11 23 52 PM" src="https://user-images.githubusercontent.com/73700530/172221564-8908b105-ca9c-4b86-b42b-6caf8281313f.png">

2.

[2022-06-06 18:50] theBeginner86 commented on #5572
Take inspiration from similar ctls, like `kubectl`
1. <img width="482" alt="Screenshot 2022-06-07 at 12 08 38 AM" src="https://user-images.githubusercontent.com/73700530/172225045-24fbde02-0bd2-4b7b-96ee-dc468d2d19d1.png">

2. <img width="352" alt="Screenshot 2022-06-07 at 12 08 17 AM" src="https://user-images.githubusercontent.com/73700530/172225137-5e4d184a-9368-4eb2-b490-525e8e6bda43.png">

[2022-06-07 22:19] #5542 closed

[2022-06-07 22:19] #5535 closed

[2022-06-07 22:39] #5479 closed

[2022-06-07 23:40] leecalcote opened #5579 "[Server] Use same Golang logger and log format"
#### Current Behavior
Running Meshery Server, using `make server` produces stdout logs that vary in format.

#### Desired Behavior
The same Golang logger and log format should be used consistently.

#### Example
[code]

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)

[2022-06-08 01:10] leecalcote opened #5581 "[UI] Put Settings button on separate line"
#### Current Behavior

When an adapter isn't connected and the user navigates to that adapter, they are shown the message in the screenshot.

#### Desired Behavior
The Settings button should be on a separate line beneath the text.

#### Screenshots/Logs
<img width="575" alt="Screen Shot 2022-06-07 at 8 08 23 PM" src="https://user-images.githubusercontent.com/7570704/172509737-ca49122e-8495-40c3-ad

[2022-06-08 01:13] leecalcote opened #5582 "[Server] Stable versions emitting debug level logs"
#### Current Behavior
Stable versions of Meshery Server emitting debug level logs to stdout.

#### Expected Behavior
Info level logs and below should be outputted, not debug.

#### Screenshots/Logs
[code]

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructi

[2022-06-08 06:36] Revolyssup commented on #5579
There is one logger that is intialized in main routine. https://github.com/meshery/meshery/blob/4002c88ed3935addeedc316bea0646f8881b3062/cmd/main.go#L56
This has to be used everywhere

[2022-06-08 09:47] haanhvu commented on #5579
I would like to work on this, if no one has been assigned^^

[2022-06-08 10:55] Abhishek-kumar09 opened #5584 "Kubernetes configs Data invalidation after changes in kubernetes config/cluster delete"
#### Current Behavior

I have been running a cluster with 2 contexts and registered it with Meshery. Due to some internal problems I had to delete the previous kubernetes cluster and created a new one with completely different names.

When I get to Meshery-dashboard, I still get the old contexts listed out with new contexts. Since I deleted the cluster, I expected it to be reflected in meshery, at

[2022-06-08 19:17] Chadha93 commented on #5227
@MUzairS15 I guess you made a fix for this right? Cilium is available/shown in the Meshery UI dashboard.

[2022-06-08 19:33] Chadha93 commented on #5579
Sure @haanhvu

[2022-06-08 22:04] leecalcote commented on #1658
Implemented in `mesheryctl system login`

[2022-06-08 22:04] #1658 closed

[2022-06-08 22:41] #5581 closed

[2022-06-09 10:19] StarTrooper08 commented on #4775
The language translation link is removed !?
![image](https://user-images.githubusercontent.com/72031540/172824317-f21b0f2f-20c4-48bd-aff8-9bfc65d14884.png)

[2022-06-09 11:53] leecalcote commented on #4775
Upkeep on the translated pages wasn’t happening and so I believe the limit to that translated pages has been removed. Let’s go ahead and close this issue.

[2022-06-09 11:53] #4775 closed

[2022-06-09 13:25] leecalcote opened #5590 "[Docker Extension] Service mesh provisioning error"
### Description
Users of the Docker Extension for Meshery run into the following error when provisioning a service mesh.

#### Screenshots/Logs
<img width="1505" alt="Screenshot 2022-06-09 at 11 03 31" src="https://user-images.githubusercontent.com/7570704/172857868-efb96a68-9c78-4d1f-b041-4fc29d94989e.png">

#### Environment

- **Host OS:** Mac
- **Platform:** Docker
- **Meshery Server Version:**

[2022-06-09 16:11] MarioArriaga92 commented on #5117
Will work on this right away.

[2022-06-09 18:04] MarioArriaga92 commented on #2467
Self-reminder: we need to update this issue with info of how to setup grafana locally

[2022-06-09 18:38] MarioArriaga92 opened #5592 "[CI] [integration] [UI] [cypress] Fix provider-ui legacy cypress config file not supported on cypress v10.0.0"
#### Current Behavior

I need UI e2e tests in provider-ui to run without errors on github ci workflow.

There was a recent dependabot PR merged that bumped cypress to v10.0.0 which includes some breaking changes that result in error with `Cypress version 10.0.0 no longer supports cypress.json.` output. (Apparently this only happens for tests in `/provider-ui` but not in `/ui`, as seen in [recent g

[2022-06-09 22:29] #5590 closed

[2022-06-10 05:41] leecalcote commented on #5014
Still tracking on this one?

[2022-06-10 06:50] Chadha93 commented on #5014
@Zanda256 any update? cc @asubedy

[2022-06-10 15:14] leecalcote opened #5598 "[Docs] Quick Start: Need link to Installation Troubleshooting"
#### Current State
The bottom of the Quick Start (https://docs.meshery.io/installation/quick-start) page ends without links to additional Guides.

#### Desired State
The bottom of the Quick Start (https://docs.meshery.io/installation/quick-start) page could use a Resources section with link to https://docs.meshery.io/guides/troubleshooting/installation and https://docs.meshery.io/reference/error-c

[2022-06-10 16:37] leecalcote commented on #5590
v0.6.0-rc.5u released with this fix.

[2022-06-10 16:47] Rohith-Raju opened #5599 "[UI] Cursor remains as a text pointer in Dropdown"
#### Current Behavior
When hovered on namespace dropdown cursor remains in its "Text pointer" state

https://user-images.githubusercontent.com/55309324/173113116-faf89454-d392-4230-80cf-d3e018cc6623.mp4

#### Desired Behavior
The cursor should change to a pointer when it is hovered on Drop-down

#### Screenshots/Logs

#### Environment

- Browser: Chrome Safari Firefox
- Host OS: Mac Linux Windows

[2022-06-10 17:31] #5592 closed

[2022-06-10 17:32] abhiyant-10 commented on #5598
I would like to work on this task.

[2022-06-10 18:14] #3873 closed

[2022-06-10 18:24] Manish-Rawat-1186 commented on #5598
I'm also interested

[2022-06-10 18:57] leecalcote commented on #5599
Thanks, @Rohith-Raju. Good 👁️

[2022-06-10 18:59] leecalcote commented on #5598
@abhiyant-10 and @Manish-Rawat-1186 thanks for raising your hands. 👍

@abhiyant-10, let's get this one onto your plate (given that you messaged first) and be sure that @Manish-Rawat-1186 is tagged to review your pull request when it comes through.

[2022-06-10 19:00] leecalcote commented on #5227
I haven't seen a screenshot... it would be great to see one.

[2022-06-10 19:02] leecalcote commented on #4110
@Manish-Rawat-1186 depending upon how far along you are in your Reactjs abilities, this issue might be of interest.

[2022-06-10 20:35] leecalcote opened #5600 "[Server] Multi-context: Errant Notification on K8s adhoc connectivity test"
#### Current Behavior
When Kubernetes chip is clicked, an error errant message is displayed.

#### Screenshots/Logs
<img width="990" alt="Screen Shot 2022-06-10 at 3 33 26 PM" src="https://user-images.githubusercontent.com/7570704/173146310-7c2b6cc1-f3af-4726-8d9d-ab81a034b2dc.png">

#### Environment

- **Host OS:** Mac Linux Windows
- **Platform:** Docker or Kubernetes
- **Meshery Server Version:

[2022-06-10 20:40] #5600 closed

[2022-06-10 20:59] leecalcote commented on #5227
<img width="702" alt="Screen Shot 2022-06-10 at 3 59 12 PM" src="https://user-images.githubusercontent.com/7570704/173150392-7a45ae45-3891-4b82-95a2-1775beab2bb0.png">

Good to go.

[2022-06-10 20:59] #5227 closed

[2022-06-11 08:15] abhiyant-10 commented on #5598
Thank you very much !
The additional guide section should contain those links in bullet list format?
![image](https://user-images.githubusercontent.com/71189932/173179309-ffe80175-83bc-4f62-9d9f-b43992fba23f.png)