[2021-01-29 10:20] navendu-pottekkat opened #2312 "[mesheryctl] [child] make `system logs` platform aware(`platform: kubernetes`)"
_See Epic #2307 "provide support for `platform: kubernetes`" for context and further description of this issue._

**Current Behavior**

`mesheryctl system logs` will start logs from Meshery server running on Docker. The current implementation defaults to Docker as the platform and the logs are obtained as shown-

https://github.com/layer5io/meshery/blob/b0c1a7fa39dd0456f9112be068d2601bfe17d465/mes

[2021-01-30 18:21] #2302 closed

[2021-01-30 19:04] ramrodo opened #2315 "[CI] [integration] [/index] Test if UI components are displayed on the Index Page"
#### Current Behavior
There are no integration tests that validate if the UI components are well displayed on the Index Page

#### Desired Behavior
Have tests that validate that the **main** components are displayed correctly on the Index Page

#### Implementation
- Add integrations tests under `ui/cypress/integration/integration` folder
- This test will be an integration test, not validate the ba

[2021-01-30 19:10] ramrodo commented on #1037
I'll be creating small issues addressing each path of this umbrella issue.
Please assign the issue yourself you're going to work on.

[2021-01-30 19:30] ramrodo opened #2316 "[CI] [integration] [/settings] Test the "Discover Cluster" configuration"
#### Current Behavior
There is no integration test that validates the functionality of the **Discover Cluster** button.

#### Desired Behavior
Have an integration test that clicks on the **Discover Cluster** and validates the connection established to the k8s cluster.

#### Implementation
You should mock the backend responses.

#### Acceptance Tests
The integration test should:
1. go to settings,

[2021-01-30 19:41] ramrodo opened #2317 "[CI] [integration] [/settings] Test the "Service Mesh" configuration"
#### Current Behavior
There is no integration test that validates the functionality of the **Service Meshes** configuration.

#### Desired Behavior
Have an integration test that configures a service mesh adapter and validates the successful configuration submitted.

#### Implementation
You should mock the backend responses.

#### Acceptance Tests
The integration test should:
1. go to settings, spe

[2021-01-31 05:32] leecalcote commented on #2290
@diru1100 would you like to work on this (be assigned this issue)?

[2021-01-31 07:09] diru1100 commented on #2290
@leecalcote I think this issue is more broad and can have mutliple sub issues. I will try to solve some of them.

[2021-02-01 07:35] pranav-bhatt commented on #2302
Sorry for the late reply. I tested this on various other platforms, and ignoring the fact that the release pulled doesn't have silent flag, it does the trick!

[2021-02-01 07:46] pranav-bhatt opened #2318 ""meshery.yaml" not getting created when single command install is run"
#### Description

The [single command install](https://docs.meshery.io/installation/quick-start#install-meshery) fails when it executes `mesheryctl system start`, as it doesn't find "meshery.yaml" created. Tried on various platforms.

Work around was to manually copy "meshery.yaml" [from here](https://github.com/layer5io/meshery/pull/174/files/37a12a5be2b290e26315f36c159da0af2d427968).

[code]
I'v

[2021-02-01 07:52] pranav-bhatt opened #2319 ""--silent" flag added to mesheryctl script not present in latest release"
#### Description

As of release 0.5.0-beta-1, although the [installation script](git.io/meshery) includes the `--silent` flag (#2298) . However, since the release is older, it doesn't include the flag, and spits out an error.

This should automatically get fixed once a new release comes out.

[2021-02-01 08:06] navendu-pottekkat commented on #2319
@leecalcote @hexxdump Should we patch this on a new release.

[2021-02-02 00:35] Maxgit3 commented on #131
@leecalcote is there any assistance I can provide with this?

[2021-02-02 01:18] Maxgit3 commented on #2315
@ramrodo @leecalcote I can look into this

[2021-02-02 01:48] ramrodo commented on #2315
Sure! @Maxgit3 , please go ahead. Thanks.

[2021-02-02 13:45] leecalcote opened #2342 "[Adopter] MetaBob entry in adopters list"
#### Current Behavior
MetaBob is a Meshery user.

#### Desired Behavior
MetaBob should be listed in the [ADOPTERS.md](https://github.com/layer5io/meshery/blob/master/ADOPTERS.md).

[2021-02-02 14:28] jesuslerma commented on #2316
Can I work on this?

[2021-02-02 16:34] ramrodo commented on #2316
Sure! @jesuslerma. I just assigned it to you. Thanks.

[2021-02-02 20:04] leecalcote commented on #2319
Great question, yes, let's land the `channel view` PR and cut another beta release.

@ramrodo, one thing for use to work through on CI is the fact that goreleaser doesn't bundle and push new scoop and homebrew formulas if it finds "alpha" or "beta" in the release tag. I have recently tried to change this behavior with an update in the goreleaser config. My latest change may provide the intended af

[2021-02-02 20:06] leecalcote commented on #2318
@pranav-bhatt, will you confirm that you're using the "stable-v0.5.0-beta-1" client (mesheryctl as opposed to Meshery Server)?

[2021-02-02 20:07] leecalcote commented on #2319
Goreleaser behavior update - https://github.com/meshery/meshery/issues/2300

[2021-02-03 03:45] leecalcote commented on #131
Hi @Maxgit3, thank you for asking about this issue. As it turns out we are tardy on closing this particular one. It was taken care of when MeshKit and the Meshery Adapter Library were created. All the the Meshery Adapters have been rewritten now to make use of these libraries.

There are a number of other open issues that might be of interest to you. Is golang your focus?

[2021-02-03 03:45] #131 closed

[2021-02-03 04:20] #2303 closed

[2021-02-03 04:51] leecalcote opened #2343 "[CI] Docs build reporting a missing gemfile"
#### Current Behavior
The [`documentation_build` workflow](https://github.com/layer5io/meshery/blob/master/.github/workflows/documentation-build.yml) has been failing for PRs with changes to files in `/docs`.

Example - https://github.com/layer5io/meshery/actions/runs/532809546

Given how long this workflow has been failing, I wonder if it ever really worked. The Gemfile is present in the repo. I

[2021-02-03 07:50] pranav-bhatt commented on #2318
@leecalcote [this](https://github.com/meshery/meshery/releases/download/v0.5.0-beta-1/mesheryctl_0.5.0-beta-1_Linux_x86_64.zip) (https://github.com/meshery/meshery/releases/download/v0.5.0-beta-1/mesheryctl_0.5.0-beta-1_Linux_x86_64.zip) is the file that gets downloaded and used.

[2021-02-03 09:43] #94 closed

[2021-02-03 14:27] kumarabd opened #2346 "Operator chip doesn't"
#### Description
Operator chip in the settings page doesn't work due to incorrect endpoint configured.

#### Expected Behavior

#### Screenshots/Logs

#### Environment:
- Host OS:
- Meshery Version:
- Kubernetes Version:
- Browser:

<!-- Optional
#### To Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2021-02-03 16:34] #2346 closed

[2021-02-03 18:55] kumarabd commented on #2318
@pranav-bhatt will you be able to verify if this has been resolved in the edge channel?

[2021-02-03 19:01] pranav-bhatt commented on #2318
Could you tell me what changes I might need to make for checking that?

[2021-02-03 20:26] leecalcote commented on #2318
@ramrodo, this is a good question to ponder for the special case of the `mesheryctl` binary of the Edge Release Channel.

[2021-02-03 21:32] leecalcote opened #2349 "[CI] Convert Dependabot integration to config-based."
@ramrodo, I recently updated issue labels to move `ui` out of `area/ui` and into `component/ui`. At the same time, I created `area/ux`. Dependabot config needs updated to reflect this change. Note from Dependabot above:

[code]

I will update the Dependabot integration to use config files, so that you might access and manage this config as well.

<img width="1247" alt="Screen Shot 2021-02-02 at 2

[2021-02-03 22:03] ramrodo commented on #2349
Sounds good. Thanks @leecalcote

[2021-02-03 22:20] ramrodo commented on #2319
@leecalcote To fix that in **goreleaser** we need to set `prerelease: auto` and manage a tag e.g. `v1.0.0-rc1`:

[code]

Taken from PR:
**Add check if tag contains indicator for pre release #871** :
 https://github.com/goreleaser/goreleaser/pull/871

[2021-02-03 22:59] ramrodo commented on #2319
@leecalcote I created this PR hoping that could solve the problem: https://github.com/meshery/meshery/pull/2364

[2021-02-04 17:30] navendu-pottekkat opened #2366 "[mesheryctl] Bug: `system reset` on `stable` channel breaks if no version is specified"
#### Description

When `mesheryctl system reset` is run it will fetch the `docker-compose.yaml` file from GitHub corresponding to the `channel` and `version` specified in the `current-context`.

If the `channel` is `stable` and the `version` is not specified in the `config.yaml` file in the `~/.meshery` folder, it will fail to pick up a valid file.

`version` _is not specified by default when Mesh

[2021-02-04 18:18] aneeshnema commented on #2366
take

[2021-02-04 18:28] leecalcote commented on #2366
There he is! @aneeshnema 💪

[2021-02-05 04:43] tripathyprateek opened #2367 "[Docs]Broken link in the docs of Lifecycle Management"
**Current State:**
https://docs.meshery.io/functionality/lifecycle-management#service-mesh-lifecycle-management first line's link points to a address which doesn't exist. The correct link should be https://docs.meshery.io/service-meshes
**Desired State:**
Update the link to the correct address.
---
**Contributor Resources**
- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery docume

[2021-02-05 04:44] leecalcote commented on #2367
Thank you, @tripathyprateek. If you would like to take on this issue, you're welcome to self-assign. Good of you to call out this bug. 👍

[2021-02-05 05:17] leecalcote commented on #2342
@chinmaym07, we might could use an assist here as well unless @sakomws would like to do the honors.

[2021-02-05 19:54] leecalcote commented on #2310
@aneeshnema given you recent work on `system reset`, you may want to pick up this issue.

[2021-02-06 02:18] navendu-pottekkat commented on #2310
@leecalcote Working on this requires [this PR](https://github.com/layer5io/meshery/pull/2365) to be done and merged. Once that is done, @aneeshnema can take this up.

[2021-02-06 02:37] #2366 closed

[2021-02-06 18:33] leecalcote opened #2372 "[Upgrade] Meshery Operator"
#### Current Behavior
Design needed.

#### Desired Behavior

---
[Optional]

#### Implementation

#### Acceptance Tests

#### Mockups

[2021-02-06 22:48] #2367 closed

[2021-02-07 04:46] Maxgit3 commented on #2315
@ramrodo I'm trying to set up a dev environment in vscode with docker and the vscode remote container extension.  do you know if this can be done?  I have tried running make commands to set up the environment but run into errors with the command "make run-local"

[2021-02-07 05:27] ramrodo commented on #2315
@Maxgit3 I have not used that extension. But we can run the project locally. Which errors are you facing?

[2021-02-07 16:03] Maxgit3 commented on #2315
0 verbose cli [
0 verbose cli   '/home/ehrot/.nvm/versions/node/v15.2.1/bin/node',
0 verbose cli   '/home/ehrot/.nvm/versions/node/v15.2.1/bin/npm',
0 verbose cli   'run',
0 verbose cli   'build'
0 verbose cli ]
1 info using npm@7.0.8
2 info using node@v15.2.1
3 timing config:load:defaults Completed in 4ms
4 timing config:load:file:/home/ehrot/.nvm/versions/node/v15.2.1/lib/node_modules/npm/npmrc

[2021-02-07 17:52] leecalcote opened #2373 "[Docs] Installation: 404"
**Current State:**
The [Installation page](https://docs.meshery.io/installation/) returns a 404 error.

**Desired State:**
This page should instead show a collection (a bulleted list) of pages with the frontmatter category value of "installation". See https://docs.meshery.io/guides as an example.

---
**Contributor Resources**
- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery doc

[2021-02-07 17:55] leecalcote opened #2374 "[Docs] Scoop: Create mesheryctl installation guide"
**Current State:**
The Meshery Docs are missing a page dedicated to user instructions for installing `mesheryctl` with Scoop.

**Desired State:**
A dedicated page with category of "installation" should reflect the instructions available on https://github.com/layer5io/scoop-bucket.

---
**Contributor Resources**
- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation sourc

[2021-02-07 17:56] leecalcote opened #2375 "[Docs] Homebrew: Create mesheryctl installation guide"
**Current State:**
The Meshery Docs are missing a page dedicated to user instructions for installing `mesheryctl` with Homebrew.

**Desired State:**
A dedicated page with category of "installation" should reflect the instructions available on https://github.com/layer5io/homebrew-tap.

---
**Contributor Resources**
- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation so

[2021-02-07 17:56] leecalcote commented on #2349
Done

[2021-02-07 17:56] #2349 closed

[2021-02-07 18:06] leecalcote opened #2376 "[Docs] Promote Meshery Adapter for NGINX SM to beta"
**Current State:**
The Meshery Adapter for NGINX SM is in beta state.

**Desired State:**
The following areas should reflect a "beta" status for this adapter:
- [ ] The README in the root of this repo.
- [x] https://docs.meshery.io/service-meshes/adapters/nginx-sm.

Related - https://github.com/layer5io/meshery.io/issues/398
---
**Contributor Resources**
- [Meshery documentation site](https://docs

[2021-02-07 22:54] ramrodo commented on #2315
@Maxgit3 I have a couple of questions:

1. Which command or script are you executing?
2. Which version of NodeJS you have?

Please be sure to use/install NodeJS `12.x` and execute `make run-local` in the root folder (not execute `npm run` commands alone nor run them inside a folder, use the `make` commands in the root project folder)

[2021-02-08 00:39] leecalcote commented on #2154
@kumarabd the port number has been documented.

[2021-02-08 03:37] Maxgit3 commented on #2315
I am running Make build-ui.   running node 12.18.0

[2021-02-08 03:39] Maxgit3 commented on #2315
cd provider-ui; npm run build && npm run export; cd ..

sh: 1: next: not found
npm ERR! code ELIFECYCLE
npm ERR! syscall spawn
npm ERR! file sh
npm ERR! errno ENOENT
npm ERR! provider-ui@1.0.0 build: `next build`
npm ERR! spawn ENOENT
npm ERR!
npm ERR! Failed at the provider-ui@1.0.0 build script.

the error seems to come from the next build in the provide-ui directory

[2021-02-08 04:12] leecalcote commented on #2308
Just look at this issue description. Superb. A thing of beauty.

[2021-02-08 04:19] navendu-pottekkat commented on #2308
@leecalcote The acceptance tests are all your work! Also you did a lot of editing on this. Not taking any credit here... :)

[2021-02-08 04:20] Nikhil-Ladha commented on #2315
Hey @Maxgit3, you need to run `make setup-ui-libs` before you vould actually build the Meshery UI using the `make build-ui` command. The command `make setup-ui-libs` basically installs all the dependencies for running the Meshery UI. Please try the above command and see if it works or not (hopefully it will 🙂)

[2021-02-08 17:22] anirudhjain75 opened #2380 "[mesheryctl] The failing test case due to Order mismatch when iterating over the array."
Testcase for mesheryctl system channel --all is failing because of order mismatch during run time.

Possible fix could be persisting the order by sorting based on keys and render the array through that. Need more suggestions to continue further work

The failing test case is because of Order mismatch when iterating order the array which is strange 🤔. Other than that everything is fine

_Originally

[2021-02-08 19:05] kumarabd commented on #2270
@Aisuko Lets work towards merging our changes.

[2021-02-08 19:28] leecalcote opened #2382 "[mesheryctl] system start not recognizing user's current context"
#### Description
Meshery v0.5.0-beta-2 was released and an urgent defect has been identified in `mesheryctl system start`. This command does not recognize user’s current-context, and therefore, prevents them from starting Meshery.

[code]
#### Expected Behavior
- `start` should read the current-context from user's meshconfig (`config.yaml`).
- timestamp should not be shown to the user.

#### Envir

[2021-02-08 19:44] #2246 closed

[2021-02-08 20:47] anirudhjain75 commented on #2382
This issue does not exist on latest master. I'll check the above mentioned tag

[2021-02-08 21:29] leecalcote opened #2383 "[UI] Configuration and Patterns menus"
#### Current Behavior
Meshery will be able to ingest and orchestrate service mesh patterns.

#### Desired Behavior
Users will need to access this area of the UI.

#### Implementation
1. Create a new "Configuration" menu.
2. Create a new "Patterns" menu item.

#### Acceptance Tests
1. When the user clicks on the "Configuration" menu, nothing happens.
1. When the user clicks on the "Patterns" menu,

[2021-02-09 13:12] jomefavourite commented on #2304
I'll like to take this task

[2021-02-09 13:22] leecalcote commented on #2304
Sounds real good, @jomefavourite

[2021-02-09 15:40] dhruv0000 opened #2385 "[UI] Switch to Activate Operator"
#### Description
The switch to Activate operator shows its disabled when the operator is active.

#### Expected Behavior

The switch should reflect the operator state.
#### Screenshots/Logs

#### Environment:
- Host OS:
- Meshery Version:
- Kubernetes Version:
- Browser:

<!-- Optional
#### To Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4.

[2021-02-09 17:24] #2383 closed

[2021-02-09 17:30] #2308 closed

[2021-02-09 18:50] pranav-bhatt opened #2386 "Installation page for minikube doesn't account for connecting meshery adapters to the minikube network[Docs]"
Doesn't instruct the user to run `docker network connect minikube <container name for desired adapter>` and `docker network connect bridge <container name for desired adapter>`

[2021-02-09 22:18] #2342 closed

[2021-02-10 03:52] ramrodo commented on #2315
Thanks @Nikhil-Ladha. Does it work now @Maxgit3 ?

[2021-02-10 05:41] navendu-pottekkat commented on #2309
@hexxdump We have added support for `platform: kubernetes` in the `system start` command. I think we can discuss on how to add support in the bash script installation now.

[2021-02-10 05:44] navendu-pottekkat commented on #2310
@aneeshnema We have [added](https://github.com/layer5io/meshery/pull/2365) `platform: kubernetes` support to the `system start` command. I think we can start working on this issue.

[2021-02-10 07:02] subhamkrai opened #2389 "[Docs] Typo in minikube doc"
In minikube [doc](https://github.com/layer5io/meshery/blob/master/docs/pages/installation/minikube.md) there is typo
**Current State:**
`Configure Meshery to use minkube`
**Desired State:**
`Configure Meshery to use minikube`
---
**Contributor Resources**
- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)

[2021-02-10 07:20] #2389 closed

[2021-02-10 08:14] metonymic-smokey commented on #2375
@leecalcote I'd like to start working on this issue.

[2021-02-10 09:49] aneeshnema commented on #2310
Does the same #2366 `version` and  `channel`  rules apply here?

[2021-02-10 12:21] leecalcote commented on #2375
@metonymic-smokey sounds real good. 👍

[2021-02-10 14:04] #2267 closed

[2021-02-10 14:04] #2269 closed

[2021-02-10 14:04] #2270 closed

[2021-02-10 14:04] #2273 closed

[2021-02-10 16:21] #2318 closed

[2021-02-10 17:16] aneeshnema opened #2393 "[mesheryctl] Respect current-context, fetch correct docker-compose.yaml"
#### Description

Whenever `mesheryctl` cannot find `docker-compose.yaml` it downloads it from Github, but all it does not take into account the `correct-context` and always download the latest file from the master branch.
[Several instances](https://github.com/layer5io/meshery/search?q=fileURL) of this behaviour needs to be corrected.

`mesheryctl system reset` has been updated to fetch correct `

[2021-02-10 17:18] navendu-pottekkat commented on #2393
@aneeshnema You can make this an epic issue and add child issues for each of the commands.

[2021-02-10 17:35] aneeshnema opened #2394 "[mesheryctl] Feature: Add current-context support to `system update`"
#### Description

See Epic #2393 for more context

#### Current Behavior

https://github.com/layer5io/meshery/blob/1a91051afe17d82a668c7429c735bf7ed94970c7/mesheryctl/internal/cli/root/system/update.go#L44-L48

#### Expected Behavior

`mesheryctl system update` should fetch correct `docker-compose.yaml` as per `version` and `channel` specified in `current-context`

[2021-02-10 17:40] aneeshnema opened #2395 "[mesheryctl] Feature: Add current-context support to `system log`"
#### Description

See Epic #2393 for more context

#### Current Behavior

https://github.com/layer5io/meshery/blob/f8227b1978de965ecad238529a60fae35af61a99/mesheryctl/internal/cli/root/system/logs.go#L45-L49

#### Expected Behavior

`mesheryctl system log` should fetch correct `docker-compose.yaml` as per `version` and `channel` specified in `current-context`

[2021-02-10 17:45] aneeshnema opened #2396 "[mesheryctl] Feature: Add current-context support to `system start`"
#### Description

See Epic #2393 for more context

#### Current Behavior

Inside function `ValidateComposeFileForRecreation` that is used by `start`
https://github.com/layer5io/meshery/blob/03a4d251a2e0f437e43ed91b91e0e108ef8b0723/mesheryctl/internal/cli/root/system/start.go#L80-L82

#### Expected Behavior

`mesheryctl system start` should fetch correct `docker-compose.yaml` as per `version` and `

[2021-02-10 19:20] leecalcote opened #2398 "[Docs] Alphabetically sort Meshery Docs Overview sections"
**Current State:**
Each of the bulleted lists here are not sorted.

<img width="1082" alt="Screen Shot 2021-02-10 at 1 18 54 PM" src="https://user-images.githubusercontent.com/7570704/107560182-a7dbb580-6ba2-11eb-80b3-a4bdf07ec0b6.png">

**Desired State:**
Ideally, each list is alphabetically sorted.

---
**Contributor Resources**
- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery

[2021-02-10 19:27] leecalcote commented on #2107
@diru1100 checking on progress. How is this coming along. @chandrashritii might offer context, if that would help.

[2021-02-10 19:33] leecalcote opened #2399 "[Docs] Meshery Troubleshooting Guide"
**Current State:**
The [Meshery Documentation specification](https://docs.google.com/document/d/17guuaxb0xsfutBCzyj2CT6OZiFnMu9w4PzoILXhRXSo/edit?usp=sharing) identifies a full documentation set, including a TroubleShooting Guide.

**Desired State:**
1. Create an outline of the guide.
   - should include sections for each Meshery component
1. Create additional issues as needed to deliver sections

[2021-02-11 03:06] leecalcote commented on #896
@kumarabd will you chime in here and point out the MeshSync v2 endpoints? Also, schedule a call with @NJnisarg and @vijcheru, if helpful?

[2021-02-11 06:40] UpasanaGhosh commented on #2398
Hi, Can I take this up?

[2021-02-11 06:49] leecalcote commented on #2398
That would be great, @UpasanaGhosh

[2021-02-11 10:06] diru1100 commented on #2107
I will create the layout and send the pr soon. Thanks for checking

[2021-02-11 13:10] leecalcote commented on #2107
@diru1100, sounds real good. You might be interested in the larger effort here, too - #2399

[2021-02-11 16:46] #1789 closed

[2021-02-11 16:47] leecalcote commented on #1789
@jesuslerma @chandrashritii @alonsolopezr should this issue be reopened? Is this something that you'll complete?

[2021-02-11 17:45] #2138 closed

[2021-02-11 19:14] AJOO7 opened #2400 "border radius in tweet panel in the footer"
#### Description
the lower-right  border radius and lower-left border radius vary when scrolled inside the block

#### Expected Behavior
the border radius must remain constant

#### Screenshots/Logs

![border-issue](https://user-images.githubusercontent.com/67185443/107686532-5da22380-6ccb-11eb-8d2e-3925ff9c90a2.PNG)
![border-issue2](https://user-images.githubusercontent.com/67185443/107686541-600

[2021-02-11 19:25] leecalcote commented on #2400
Thank you for raising this up, @AJOO7. 👍 Let us know how you would like to proceed:

1. An existing contributor in the community can pick this up.
1. If you would like to address (fix) this issue, you're most welcome to do so.

[2021-02-11 19:44] AJOO7 commented on #2400
@leecalcote i would like to take the issue

[2021-02-11 20:00] leecalcote commented on #2138
@ramrodo use of the `release` event trigger is something for us to look at switching over to.

[2021-02-12 12:18] metonymic-smokey commented on #2375
@leecalcote , the existing meshery docs have a `Supported Platforms` section and a separate section `Guides/using mesheryctl`. I think, reading the issue, that the new page should be a separate section `Installing mesherycytl` and have placed it so.
![image](https://user-images.githubusercontent.com/48997495/107767065-6e4daa80-6d5a-11eb-9e02-afd2db68f01c.png)
Is this placement alright?

Thanks!

[2021-02-12 14:39] kumarabd opened #2401 "GraphQL Endpoint for ServiceMesh Addons"
#### Current Behavior
A New graphql Endpoint required that would provide the status of AddOns on a given service mesh.
Endpoints required:
- `/api/mesh/adapter/scan`

Input:
- Service Mesh Name
- List of addons to request

Output:
- List of Addons and their status

---
[Optional]

#### Implementation

#### Acceptance Tests

#### Mockups

[2021-02-12 15:24] leecalcote commented on #2401
Proposal: move to `/api/meshsync/mesh`

[2021-02-12 19:29] leecalcote commented on #1751
@Shulammite-Aso oh, my goodness. I completely missed your comment!

[2021-02-12 19:46] AJOO7 commented on #2400
@leecalcote  i have found that overflow must be hidden but facing problem finding the source code for website

[2021-02-12 20:03] leecalcote commented on #2400
@AJOO7 oh, I see. If you haven't joined the Meshery Community (http://slack.meshery.io), I encourage you to. You'll find helpful contributors inside. 👍

[2021-02-13 06:27] alphaX86 commented on #2398
Is the issue open for grab? I mean for now 😅 Came a bit late IG

[2021-02-13 06:29] alphaX86 commented on #2374
Can I look on to this? Seems impressive!

[2021-02-13 06:30] alphaX86 commented on #2374
After all, I'm free from exams after long time!

[2021-02-13 19:34] navendu-pottekkat opened #2404 "[mesheryctl] `system start` fails if no version is specified in the config.yaml file"
#### Description

`mesheryctl system start` will fail to pull the meshery image if the `version` is not specified in the `config.yaml` file.

#### Expected Behavior

If the `version` is not specified and the `channel` is `stable`, then it should automatically select the version of the latest stable release.

#### Screenshots/Logs

![Screenshot from 2021-02-14 00-20-35](https://user-images.githubus

[2021-02-13 19:35] navendu-pottekkat commented on #2404
Will fix this now...

[2021-02-13 19:54] #2404 closed

[2021-02-14 02:24] alphaX86 commented on #2374
@leecalcote can I take up this issue or not?

[2021-02-14 03:37] leecalcote commented on #2374
Hi @alphaX86, yes, that would be great.

[2021-02-14 03:43] alphaX86 commented on #2374
Thanks! I'll let you know when it's done

[2021-02-14 04:20] leecalcote opened #2406 "[Watchtower] Docker Login issue"
#### Description
Running `mesheryctl system logs` produces the following error logs:

[code]
#### Environment:
[code]

[2021-02-14 05:35] #2396 closed

[2021-02-14 12:37] leecalcote commented on #1789
Are we tossing in the towel here?

[2021-02-14 15:11] jesuslerma commented on #1789
At the las CI meeting, I think that @alonsolopezr was having a meeting with @chandrashritii  let me ask how the meeting was on. Anyway, when I tried the plugin it wasn't easy to adapt to our current structure, maybe because I'm not a Jekyll expert, or maybe because the plugin needs another stuff to work. IDK. If that plugin doesn't work, maybe we can check the options we have:
- Create our own way

[2021-02-14 15:31] alonsolopezr commented on #1789
@leecalcote I'm getting all ready to make a PR about it just now... I was at a very low pace beacause of trying the jekyll plugin to work ( just wasted a couple of weeks)
I started from a boilerplate of another jekyll code base, from a presentation about it, I saw on youtube...
SO that's done..
Now I resolved in these last days, instructed by @chandrashritii, to have the same pages/* files for the

[2021-02-14 18:36] ramrodo commented on #2278
One question @Aisuko, are you currently working on this?. I want to help if it is possible but I don't understand well what we should do. For instance, you mention:

I think that yes. We should implement this CI workflow in the same repo that the Helm Charts source code is.

Yes. It's a good idea to use that GitHub Action to publish the chart releases into a Github Page and also, it'll allow us to

[2021-02-15 02:45] Aisuko commented on #2278
Hi, @ramrodo I mean this Github Action for Helm chart release tool is good for us. But I believe this tool would work well for the repo which only includes the Helm chart source code. Everything we committing should be aiming at Helm Charts. And the Github Action can release the new charts with bumped version.

[2021-02-15 03:15] ramrodo commented on #2278
@Aisuko ok, I see the problem you are pointing out. So, if we want to use that GitHub Action, we should separate the code of the charts to a new repo, right? Have another repo like "meshery-charts", right?

[2021-02-15 03:18] Aisuko commented on #2278
Yes, you got this. @leecalcote Hello, sir. Any idea on this?

[2021-02-15 07:37] alphaX86 commented on #2374
#2413 is closed, #2414 is the correct one

[2021-02-15 09:27] pranav-bhatt opened #2415 "Minikube quick start guide is formatted incorrectly [Docs]"
**Current State:**
Formatting after line 74 (in the .md file) is messed up for the [minikube quick start page](https://docs.meshery.io/installation/platforms/minikube). The code block just keeps on extending.

**Desired State:**
The code block is formatted correctly.

---
**Contributor Resources**
- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation source](https://git

[2021-02-15 15:28] #2415 closed

[2021-02-15 20:29] leecalcote commented on #2028
@ramrodo FYI... there has been weird behavior with two bots conflicting in the past. The PR labeler's configuration has been removed.

[2021-02-15 20:57] leecalcote commented on #1894
@hexxdump will you review the state of these config scripts and assess where we have OS-specific gaps?

[2021-02-16 05:23] hexxdump commented on #1894
yes @lee, there are few instances where the Windows vs Mac/Linux differences are there. I will check how we can tackle this problem.

[2021-02-16 15:57] leecalcote commented on #1894
Thank you, @hexxdump. 😄

[2021-02-16 21:36] Maxgit3 commented on #2315
@ramrodo I did get the UI dev server to work

[2021-02-17 04:06] navendu-pottekkat commented on #2207
@leecalcote This issue will be fixed with epic #2393 and epic #2307 .

@aneeshnema and I are working on it.

[2021-02-17 08:58] hexxdump commented on #1894
The issues are happening due to the fact that TARGET_FOLDER is defined to be "$HOME/.meshery" in all cases minikube/GKE/AKS/EKS. Need to change this to consider all OSes. Working on a fix.

[2021-02-18 06:10] leecalcote opened #2421 "[Docs] Update database architectural diagram"
**Current State:**
The diagram on this page - https://docs.meshery.io/concepts/architecture/database is outdated.

**Desired State:**
The representative slide in [Meshery Architecture deck](https://docs.google.com/presentation/d/1SQMfyu5shjpGKlYONdVzOtd7UYTgLWBcgUvHMLCZ2tY/edit#slide=id.gbba492491e_0_5) (slide 7) should be exported to SVG and used replace the existing slide.

---
**Contributor Res

[2021-02-19 14:16] Comurule commented on #2398
@leecalcote, is this still free to try?

CC
@PluckyPrecious

[2021-02-19 14:19] PluckyPrecious commented on #2398
Hi @UpasanaGhosh how is the task coming up? We understand schedules can get quite busy, do you mind @Comurule taking this up?

[2021-02-19 16:07] UpasanaGhosh commented on #2398
Hi @PluckyPrecious Sure @Comurule can this up. I was facing some environment issues so couldn't make much progress.

[2021-02-19 16:43] leecalcote opened #2422 "[Docs] Add Artifact Hub Reference in Kubernetes installation page"
**Current State:**
The Helm chart for Meshery is available on Artifact Hub - https://artifacthub.io/packages/helm/meshery/meshery

**Desired State:**

The [Kubernetes page](https://docs.meshery.io/installation/platforms/kubernetes#using-helm) should have a section describing the chart and pointing to Artifact Hub -

---
**Contributor Resources**
- [Meshery documentation site](https://docs.meshery.

[2021-02-19 18:43] PluckyPrecious commented on #2398
Oh my! Do take care and stay safe, we look forward to your contribution soonest.

[2021-02-20 08:15] alphaX86 commented on #2421
@leecalcote what kind of picture do you expect? The whole slide or the Physical schema alone? I'd like to take this one

[2021-02-20 13:40] leecalcote commented on #2421
Thanks for asking, @alphaX86. I adjusted the diagram to fill the slide more completely. This allows us to simply download the entire slide as SVG without need for modification.

In the slide's earlier format, it would have been best to take the innards of the slide only.

[2021-02-20 14:59] alphaX86 commented on #2421
Done! @leecalcote it may need to test to see if it works! :)

[2021-02-20 17:04] #2393 closed

[2021-02-20 17:04] #2394 closed

[2021-02-20 17:04] #2395 closed

[2021-02-20 17:57] AkiraBrand commented on #2422
I'd like to work on this, please!

[2021-02-20 18:23] leecalcote commented on #2422
That would be great, @AkiraBrand. 👍

[2021-02-20 22:16] #2159 closed

[2021-02-20 22:26] #1894 closed

[2021-02-20 23:23] Anita-ihuman commented on #2373
Is this issue still up?
if yes, can I take it up?

[2021-02-21 02:48] piyushsingariya commented on #2317
I'll like to give this a shot:smile:

[2021-02-21 04:14] leecalcote commented on #2373
Yes, this issue is still open. That would be great, @Anita-ihuman.

[2021-02-21 06:48] metonymic-smokey commented on #2105
@navendu-pottekkat I was looking to start contributing in Go. Could I consider this issue for the same? Is it solvable by someone with an intermediate knowledge of Go?

[2021-02-21 13:40] leecalcote opened #2425 "[mesheryctl] Migration from kubectl to go-client"
Will take care of the go-client implementation in new PR.

_Originally posted by @hexxdump in https://github.com/layer5io/meshery/issues/2419#issuecomment-781061433_

[2021-02-21 14:12] #2421 closed

[2021-02-21 14:12] #2374 closed

[2021-02-21 16:57] leecalcote opened #2426 "[mesheryctl] bad filepath reference in `system config`"
#### Description
User's HOME path is being incorporated twice.

#### Screenshots/Logs
[code]

#### Environment:
- Meshery Version: v0.5.0-beta-3

<!-- Optional
#### To Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2021-02-21 18:33] #2426 closed

[2021-02-21 18:52] leecalcote opened #2428 "[mesheryctl] `system start` not opening context endpoint"
#### Description
Recent updates to use mesheryctl's context do not account for currCtx.Endpoint.

When user runs `mesheryctl system start`, their default browser and current context's endpoint is not opened.

#### Expected Behavior
User's default browser should be opened and pointed to their context's endpoint.

#### Environment:
- Host OS: macOS
- Meshery Version: v0.5.0-beta-3

[2021-02-21 19:31] #2428 closed

[2021-02-21 21:52] Anita-ihuman commented on #2373
Please I am a bit confused about something,
 what is the frontmatter category value of "installation"?
and the file I am supposed to fix the issue on should be in this folder I guess? https://github.com/layer5io/meshery/tree/master/docs/pages/installation.

[2021-02-22 02:13] leecalcote opened #2433 "[UI] Management: Kubernetes chip and paper card"
#### Desired Behavior
Please make the two enhancements described in the mockup.

#### Mockups

<img width="898" alt="Screen Shot 2021-02-21 at 8 10 21 PM" src="https://user-images.githubusercontent.com/7570704/108648585-3e508680-7481-11eb-92bf-962e55dc3c08.png">

[2021-02-22 02:14] leecalcote commented on #2433
@Nikhil-Ladha I wonder if this might be two small enhancements you could make.

[2021-02-22 02:26] leecalcote commented on #2271
Done!

[2021-02-22 02:26] #2271 closed

[2021-02-22 02:28] leecalcote commented on #2376
Good sir, @bartkalanski, while your in the README, will you promote **Meshery adapter for Kuma** and **Meshery adapter for Open Service Mesh** to "stable" and do so in the docs.meshery.io and meshery.io as well?

[2021-02-22 02:29] leecalcote commented on #1879
@favourch no sweat. I think we have this covered now. I'll close this issue now. if you don't find scoop info in the docs, please reopen this issue.

[2021-02-22 02:29] #1879 closed

[2021-02-22 02:44] leecalcote opened #2434 "[UI] Configuration Wizard"
#### Current Behavior
While Meshery is opinionated and assumes sensible defaults for users, some environments and some users will benefit from a multi-step configuration wizard that walks them through each of the areas of their Meshery deployment that they might need to initialize or change the configuration of.

#### Desired Behavior
Users are presented with an optional configuration wizard. The

[2021-02-22 03:13] leecalcote opened #2435 "[mesheryctl] Token location should be in section dedicated to tokens"
#### Description
The following is an example of the v0.5.0-beta-4 default context, created by mesheryctl:

[code]

#### Expected Behavior
`      location: auth.json` should be in a dedicated `token` section of the meshconfig, like so:
[code]

See "[meshery config template](https://docs.google.com/document/d/1xRlFpElRmybJ3WacgPKXgCSiQ2poJl3iCCV1dAalf0k/edit#heading=h.2oq40t5wa4bu)" section of the M

[2021-02-22 03:14] leecalcote commented on #2435
@aneeshnema this might be an item for you.

[2021-02-22 03:38] Nikhil-Ladha commented on #2433
Sure, I will take it up.

[2021-02-22 04:35] leecalcote commented on #2015
@Keenal @MaximeCoignus I'll remove your assignment to the issue, assuming that you've moved on. Just signal if that is not the case.

[2021-02-22 07:20] Vi1234sh12 commented on #2317
@ramrodo  Can I work on this?

[2021-02-22 07:20] aneeshnema commented on #2435
[code]

Do we want to keep this as an array?
The current implementation keeps it as a map
https://github.com/meshery/meshery/blob/46d2d73c32671923156266443655517d0eaf7961/mesheryctl/internal/cli/root/config/config.go#L18-L22

[2021-02-22 08:04] ramrodo commented on #2317
@Vi1234sh12 let me ask. Hey, @piyushsingariya are you working on this?

[2021-02-22 08:04] piyushsingariya commented on #2317
Yes! I am working on this one.

[2021-02-22 09:50] Anita-ihuman commented on #2373
@leecalcote

[2021-02-22 18:17] Anita-ihuman commented on #2373
The quick start displays this content, https://docs.meshery.io/installation/quick-start#configure-your-environment
So I want to understand if this is what the installation page is expected to return.
And if this is not, what should the bullet point be listing?
@leecalcote

[2021-02-22 19:56] bartkalanski commented on #2376
Yes no problem, I'll get this done by tomorrow eve!

[2021-02-22 21:06] ramrodo commented on #2317
@Vi1234sh12 it's already been doing but let me create more issues and I'll let you know

[2021-02-22 22:38] leecalcote opened #2440 "[Platform] GKE: MeshKit-based adapters not authenticating to Kube API"
#### Description
Meshery Adapter for Istio and other MeshKit-based adapters are not available on @rwong2888's system. He has the following environment:

- a gke cluster was instantiated with https://registry.terraform.io/modules/terraform-google-modules/kubernetes-engine/google/latest/submodules/private-cluster

#### Expected Behavior
Meshery Adapter for Istio should be available.

#### Screenshot

[2021-02-23 04:37] Vi1234sh12 commented on #2317
sure!

[2021-02-23 14:11] #2373 closed

[2021-02-23 15:37] kumarabd commented on #2440
@hexxdump will you be able to check this one?

[2021-02-23 15:49] Nikhil-Ladha opened #2442 "[UI]: Header overlaps with the navbar on collapsing"
#### Description

The header of a page overlaps the navbar when the navbar is collapsed

#### Expected Behavior

The header of a page shouldn't overlap with the navbar when it is collapsed. The width of the collapsed navbar has to be increased.

#### Screenshots/Logs

![Screenshot from 2021-02-23 21-08-25](https://user-images.githubusercontent.com/29438875/108868638-6b856c00-761c-11eb-925b-7602f3b

[2021-02-23 15:51] Nikhil-Ladha commented on #2442
It was after a long long time I opened Meshery and found a UI issue instantly.....Wow! 😆

[2021-02-23 15:56] kumarabd commented on #2440
@leecalcote Can you share with us the logs here?

[2021-02-23 16:14] Nikhil-Ladha commented on #2434
I think the intention is to create a `product tour` kind of implementation, right?

[2021-02-23 16:32] chinmaym07 commented on #2442
@Nikhil-Ladha Can I fix this ?

[2021-02-23 16:33] Nikhil-Ladha commented on #2442
Sure...go ahead.

[2021-02-23 16:34] Nikhil-Ladha commented on #2442
That is a workaround, not a solution I would say. Because, if you inspect and see you can notice the width being lesser than what it should be.

[2021-02-23 16:40] chinmaym07 commented on #2442
Yes got it .. Width of collapsed drawer is less thankx 👍🏻

[2021-02-23 16:41] bartkalanski commented on #2434
@Nikhil-Ladha I think that was the initial plan, but then it was decided that configuration wizard (something like this -> https://www.youtube.com/watch?v=ayU1Ds6npuQ&t=104s) would be more useful to the user. Correct me if I'm wrong @leecalcote ?

[2021-02-23 16:52] leecalcote commented on #2105
The new `context` command enables users to adjust which adapters they want to have running. While this command doesn't provide the flag listed above (`--adapters`), yet, Meshery's docs need to be updated to provide users a description of the `config.yaml`(meshconfig) file and how to update it.

[2021-02-23 16:53] leecalcote opened #2444 "[Docs] Describe how users can adjust which adapters to deploy using meshconfig"
The new `context` command enables users to adjust which adapters they want to have running. While this command doesn't provide the flag listed above (`--adapters`), yet, Meshery's docs need to be updated to provide users a description of the `config.yaml`(meshconfig) file and how to update it.

_Originally posted by @leecalcote in https://github.com/layer5io/meshery/issues/2105#issuecomment-784345

[2021-02-23 17:40] leecalcote commented on #2440
[mesheryctl.log](https://github.com/layer5io/meshery/files/6030831/mesheryctl.log)

[2021-02-23 18:30] #2442 closed

[2021-02-23 19:22] leecalcote opened #2448 "[UI] Add example usage in each of the Performance Test's Request Header fields"
#### Current Behavior
The performance test form is not as intuitive as it could be. Users need example values in the fields in order to better use the tool.

<img width="855" alt="Screen Shot 2021-02-23 at 11 42 19 AM" src="https://user-images.githubusercontent.com/7570704/108884650-76181500-75cc-11eb-9ddd-b3e87e9dfaa8.png">

#### Desired Behavior
Show example values in each field.
Request Header

[2021-02-23 19:22] leecalcote commented on #2448
@pranav-bhatt will you suggest other fitting examples for Request Cookies, Content Type, and Request Body?

[2021-02-23 19:25] #2433 closed

[2021-02-23 19:35] mgfeller opened #2449 "[meshery] Extend meshops.proto to provide adapter version, and other info"
#### Current Behavior

The adapter gRPC service does not provide a function to return the version  of an adapter, and other information of interest.

#### Desired Behavior

Create an function `getInfo` or similar to return adapter version and other information.

This issue is related to https://github.com/layer5io/meshery/issues/1530, but handles only one aspect of it.

[2021-02-23 22:34] leecalcote opened #2450 "[Grafana] Istio two bundled boards not loading"
#### Description
Two of the Grafana dashboards that come bundled with the Grafana add-on, there are two that fail to load while the rest load and show metrics. The two that fail are: “Istio Service Dashboard” and “Istio Workload Dashboard”.

#### Expected Behavior
Boards and metrics should load and display.

#### Screenshots/Logs
https://user-images.githubusercontent.com/7570704/108917096-d8850b80

[2021-02-24 06:37] navendu-pottekkat commented on #2105
@leecalcote @metonymic-smokey Adding the `--adapters` flag should be straightforward. That can be done now I think...

[2021-02-24 14:32] #2376 closed

[2021-02-24 16:09] leecalcote opened #2451 "[Docs] Considerations of Meshery Production Deployments"
**Current State:**
Users deploying Meshery in production have common (and unique) considerations to make.

**Desired State:**
A set of production environment deployment considerations should be published. These recommendations should include security considerations, like that of use of the "None" provider.

---
**Contributor Resources**
- [Meshery documentation site](https://docs.meshery.io/)
- [M

[2021-02-24 16:16] #2247 closed

[2021-02-24 19:21] #2435 closed

[2021-02-24 19:44] mgfeller commented on #2449
See also https://github.com/meshery/meshery/pull/2204.

[2021-02-24 19:44] mgfeller commented on #2449
We might extend this with information about supported mesh versions returned by a separate rpc.

[2021-02-24 19:54] leecalcote opened #2453 "[UI] Add margin between cards within paper background"
#### Description
There is a lack of margin between the cards in the `/management` page.

#### Expected Behavior
Cards should be comfortably separated by whitespace akin to how they are on the main system dashboard.

#### Screenshots/Logs
<img width="1370" alt="Screen Shot 2021-02-24 at 10 14 09 AM" src="https://user-images.githubusercontent.com/7570704/109057735-bc8e7200-76a7-11eb-9798-0f276e329dc

[2021-02-24 21:49] austinogiza opened #2455 "[UI] Fixing alignment of Meshery Navbar logo With The screen title"
#### Current Behavior
While Meshery UI looks amazing, I haven noticed a few sections that will greatly improve our UI. Currently the meshery logo in the sidebar and the title of the screen isn't aligned/is misaligned

#### Desired Behavior
Horizontal alignment of the logo section with the global nav bar section.

<img width="886" alt="109069719-e66c8680-76f1-11eb-9682-1e5f191e25ff" src="https://us

[2021-02-25 00:16] austinogiza opened #2456 "[UI] Changing Meshery title font weight"
#### Current Behavior
Currently the typography of meshery is coming together, and we will like to make slight adjustments, like the font weight of the title

#### Desired Behavior
Adjusting the font weight from bold(700) to medium(500).
![title1](https://user-images.githubusercontent.com/44683018/109083930-1f632600-7707-11eb-930c-b8fb4e1766fe.PNG)
![title](https://user-images.githubusercontent.com

[2021-02-25 00:59] chinmaym07 commented on #2455
Can I knock this?

[2021-02-25 01:08] austinogiza commented on #2455
@chinmaym07  definitely

[2021-02-25 03:42] Nikhil-Ladha commented on #2453
@leecalcote this is the old view ig. Though, I think in the new view we might need as well, but could you confirm once?

[2021-02-25 04:52] leecalcote commented on #2453
Checking... I used `mesheryctl system channel switch edge` to switch to the edge release channel only to find that the edge-latest releases are being built, but not pushed to Docker Hub. I have just updated this workflow and am having the `edge-latest` build pushed now...

[2021-02-25 07:46] hexxdump commented on #2440
Attaching more logs from Raymond's setup:

[mesheryctl-2021.02.24.11.02.log](https://github.com/layer5io/meshery/files/6040975/mesheryctl-2021.02.24.11.02.log)
[mesheryctl-2021.02.24.10.59.log](https://github.com/layer5io/meshery/files/6040976/mesheryctl-2021.02.24.10.59.log)

I had offline chat with Raymond, I have confirmed with him that the "mesheryctl system config gke -t <auth.json>" is gener

[2021-02-25 15:12] leecalcote commented on #2440
@utkarsh-pro could the issue be that other contexts in the kubeconfig are missing certificate data?

[2021-02-25 15:31] utkarsh-pro commented on #2440
@leecalcote, not quite. The error that would be generated in that case would look something like `none of the auth infos are valid either the certificate path is invalid or is inaccessible`.

However this error looks quite like: https://github.com/kubernetes/client-go/issues/242

This issue suggests to  `import _ "k8s.io/client-go/plugin/pkg/client/auth"` so that client-go loads all of the third p

[2021-02-25 17:34] leecalcote opened #2458 "[CI] Bug in workflow trigger to notify remote providers"
#### Current Behavior

#### Desired Behavior

#### Implementation

#### Acceptance Tests

#### Reference:
- [Meshery Build & Release Strategy](https://docs.google.com/document/d/11nAxYtz2SUusCYZ0JeNRrOLIxkgmmbUVWz63MBZV2oE/edit#)

[2021-02-25 22:48] #1865 closed

[2021-02-26 07:06] #2222 closed

[2021-02-26 09:19] metonymic-smokey commented on #2105
@navendu-pottekkat , this is what I've done so far:
![image](https://user-images.githubusercontent.com/48997495/109280553-3443d480-7841-11eb-98d5-b8fc341640da.png)

Used `pflag` for the same and it accepts 1 or more string values.
I understood this flag will mainly be used with the `context` command. Could you please give me some idea on what I should implement next to include these adapters in th

[2021-02-26 11:14] navendu-pottekkat commented on #2105
I guess the flag would be used in the `context create` command. So this flag could be local to it. We can modify the context create function to write the list of adapters specified to the specified context when it is created.

[2021-02-26 15:25] metonymic-smokey commented on #2105
@navendu-pottekkat ,
Thanks for the suggestion!
I've changed it to a flag local to `system context create`.
![image](https://user-images.githubusercontent.com/48997495/109319378-ce714000-7874-11eb-8ca1-daf6a1805c96.png)

![image](https://user-images.githubusercontent.com/48997495/109319490-ef399580-7874-11eb-846a-da1cca3640dc.png)

Thanks!

[2021-02-26 17:15] navendu-pottekkat commented on #2105
@metonymic-smokey Great work! Are you writing the specified adapters to the `config.yaml` file?

@leecalcote This is the desired behaviour right?

[2021-02-26 17:29] aneeshnema opened #2460 "[mesheryctl] prompt user when new mesheryctl update is available"
#### Current Behavior

no prompt

#### Desired Behavior

A prompt similar to
<img width="368" alt="Screen Shot 2021-02-26 at 9 28 37 AM" src="https://user-images.githubusercontent.com/31976598/109333106-084a4280-7885-11eb-87b0-8a7a072f6c40.png">

The update check should fail silently if GitHub is not reachable

[2021-02-26 19:00] leecalcote commented on #2105
Sounds good. If a user wants to modify their context, they can either delete the context and recreate or they can edit the `config.yaml`.

[2021-02-27 05:46] metonymic-smokey commented on #2105
@navendu-pottekkat , @leecalcote ,
I've opened a draft PR for this issue.
I'm unsure as to why my tests are failing.  Could you please let me know how to fix those?

These are the screenshots of my changes:
1.
![image](https://user-images.githubusercontent.com/48997495/109376767-e2f11f00-78ec-11eb-8225-9d9ab457f03f.png)

2.
![image](https://user-images.githubusercontent.com/48997495/109376812-0f0c

[2021-02-27 11:19] piyushsingariya opened #2464 "[Docs] Contribution Doc doesn't include info about Meshery-Istio"
**Current State:**
Currently, Contribution Doc only contains information about how to write an Adapter. We already have an example of Meshery adapter written in Go i.e. [Meshery-Istio](https://github.com/layer5io/meshery-istio)
Not having Meshery-Istio(i.e. an adapter basically) running in a local environment leads to an encounter with an error i.e.
In UI:
[code]
In CLI:
[code]
**Desired State:**

[2021-02-28 12:55] mgfeller commented on #2107
See also https://docs.google.com/document/d/1_zpEWBcC6ngOLen_E_nc-octiUdBbpmdwwIX6qzo70M/edit#heading=h.iz2q58cb347d

[2021-02-28 13:04] vineethvanga18 commented on #2450
@leecalcote I dont see any bug here. Could you confirm this again.

https://user-images.githubusercontent.com/44473939/109419168-297c7180-79f2-11eb-8bf7-296c034ff14b.mp4

[2021-02-28 18:22] #2455 closed

[2021-02-28 19:30] ramrodo opened #2467 "[CI] [e2e] [/settings] Test Grafana setup"
#### Current Behavior
There is no integration test that validates setting up metrics using Grafana

#### Desired Behavior
Have an integration test that setup metrics with Grafana and validates the successful configuration submitted (mocking the requests and responses)

#### Implementation
You should mock the backend responses.

#### Acceptance Tests
The integration test should:
1. go to settings >

[2021-02-28 19:33] ramrodo commented on #2467
Hey @Vi1234sh12, here is the issue I mentioned last week, can I assign to you?

[2021-02-28 19:35] ramrodo commented on #2456
I changed it to **[UI]** because I think it is something related to UI. If I understood it wrong, please let me know.

[2021-03-01 01:37] leecalcote commented on #2262
@kumarabd let's transition this to MeshSyncv2...

[2021-03-01 01:55] leecalcote commented on #2456
Thank you, @ramrodo. Yes, that’s right.

[2021-03-01 02:56] leecalcote commented on #2110
@metonymic-smokey would you like to pick up this issue?

[2021-03-01 02:58] leecalcote commented on #271
Completed

[2021-03-01 02:58] #271 closed

[2021-03-01 02:58] leecalcote commented on #284
Completed.

[2021-03-01 02:58] #284 closed

[2021-03-01 02:59] leecalcote commented on #367
MeshSync v2 completed.

[2021-03-01 02:59] #367 closed

[2021-03-01 02:59] leecalcote commented on #488
Completed.

[2021-03-01 02:59] #488 closed

[2021-03-01 02:59] leecalcote commented on #619
Completed.

[2021-03-01 02:59] #619 closed

[2021-03-01 03:00] #690 closed

[2021-03-01 03:05] leecalcote commented on #2398
Most of the pages are now sorted alphabetically with two (or three) sections remaining.

[2021-03-01 03:13] leecalcote commented on #2261
@dhruv0000 are we past this issue?

[2021-03-01 03:15] leecalcote commented on #2226
@metonymic-smokey will you verify that what is describe here is the current behavior of this command?

[2021-03-01 03:36] Vi1234sh12 commented on #2467
Yeah, I'm Ready to Work on This

[2021-03-01 07:38] metonymic-smokey commented on #2226
@leecalcote , I'll get to this!
Give me a week to test it out.

[2021-03-01 12:07] piyushsingariya commented on #2315
Hi @ramrodo I was working on this issue. however, I have few doubts, the classes or ids assigned to the elements aren't really specific. How I am exactly supposed to search for them using `cy.get()`??

[2021-03-01 16:59] #2105 closed

[2021-03-01 18:38] leecalcote opened #2489 "[CI] Update GitHub workflows to prevent initiation of Netlify builds unless changes to /docs"
Deploy preview for *meshery-docs* ready!

Built with commit 88755e1cb9c2c0eadee83a2a5a3f0cc373fe0128

https://deploy-preview-2487--meshery-docs.netlify.app

_Originally posted by @netlify in https://github.com/layer5io/meshery/pull/2487#issuecomment-788175738_

[2021-03-01 18:39] leecalcote commented on #2489
@ramrodo I know this was taken care of in the past, but behavior has resurfaced. Ideally, this is configuration that we make inside of the workflows (not leveraging netlify's configuration or logic).

[2021-03-01 21:10] aneeshnema opened #2490 "[mesheryctl] system context commands failing"
#### Description
`mesheryctl system context` commands are failing becuase `models/mesheryctl_config.go`  is not updated to reflect updated structs of Token and Context.

Structs should be referred from `config.go`, `models/mesheryctl_config.go` dependency can be removed.

#### Expected Behavior
`mesheryctl system context` commands should work as expected

#### Screenshots/Logs
![Screenshot from 20

[2021-03-01 22:32] ramrodo commented on #2315
Hi @piyushsingariya , this issue is being worked by @Maxgit3 and I think you're working on this other one: https://github.com/meshery/meshery/issues/2317

But answering your question here, if the selectors of the elements are not specific or they don't have any selector, you should add an attribute like `data-cy=` to the element in order to be taken by `cy.get()`. For example, for testing the **Co

[2021-03-01 23:24] ramrodo commented on #2489
@leecalcote I think I finally fixed it. I followed this hack for ignoring **dependabot** updates also:
https://www.netlify.com/blog/2020/04/27/ignore-unnecessary-builds-to-optimize-your-build-times/

adding this to our Netlify config:
https://github.com/meshery/meshery/pull/2487/commits/eb99ee094549916b28439510d43b0e702ad458a6#diff-ab8f79b68b7adff7a07db953bf453f3c5aa6ade98d2b1b67d8432b36392489edR5

[2021-03-02 00:55] Aisuko commented on #2115
Close due to https://github.com/meshery/meshery.io/pull/402

[2021-03-02 00:55] #2115 closed

[2021-03-02 01:28] Maxgit3 commented on #2315
@ramrodo I was working on getting the elements also through data attribute.  doesnt look like it gets passed through any of the Material React library components and I am having to use native html elelments

[2021-03-02 09:03] metonymic-smokey commented on #2226
@kumarabd
When I run the `mesheryctl system channel` command in the issue, I get an error stating `--version` is not a valid flag.
![image](https://user-images.githubusercontent.com/48997495/109622801-8434db00-7b62-11eb-8c68-78df768056ed.png)

Could you tell me what the expected behaviour is or where I'm going wrong?

When i remove `version` from `config.yaml` or change `channel` in the file to la

[2021-03-02 09:07] metonymic-smokey commented on #2226
@leecalcote does this issue also involve adding support for the two flags mentioned in the issue or is it just verifying and documenting the available flags and their behaviour?

Thanks!

[2021-03-02 12:29] leecalcote commented on #2226
@metonymic-smokey, if you think you have a handle on adding the two flags, let's proceed with both adding them and documenting the command. 👍

[2021-03-02 12:33] #2490 closed

[2021-03-02 13:16] navendu-pottekkat commented on #2226
@leecalcote @metonymic-smokey `--context` flag is global to all the system commands in mesheryctl. Add the `--context` flag will switch the context temporarily. This is implemented in the `system channel` command.

To specify the channel and version, we could use something like `mesheryctl system channel set stable-v0.5` as per the current implementation by @anirudhjain75

The problem with adding

[2021-03-02 13:30] metonymic-smokey commented on #2226
@navendu-pottekkat got it!
I thought it would be neater to have a separate `--version` flag with another shorthand but i think you have a point saying the current implementation is fine.
I'll just check the docs for these flags and work on them then.
Thanks!

[2021-03-02 13:32] navendu-pottekkat commented on #2226
Yes, I agree that it would be neat. But if that collides with the `--verbose` flag, it would be better if we keep it this way.(Although we do not have much verbose logs in mesheryctl)

[2021-03-02 18:04] austinogiza opened #2498 "[UI] Increase font weight of meshery welcome screen"
#### Current Behavior
The "Please choose a provider to continue" font weight is currently 500

#### Desired Behavior
Proposing the increase of the font weight of the "Please choose a provider to continue" from 500 to 700

#### Implementation
below is the design we currently have and how it should look like
<img width="1134" alt="meshery-issue" src="https://user-images.githubusercontent.com/4468301

[2021-03-02 22:22] ramrodo commented on #2315
@Maxgit3 right, we can not add additional attributes to the Material React elements. So, one thing we can do for getting the HTML elements using CSS selectors is to use the **Cypress Selector Playground**, you can see how to use it in this community video: https://youtu.be/pIFSI7xtwFs?t=807 (minute 13:27):

Let me know if it worked for the element you're trying to use. If not, we can meet and figu

[2021-03-03 03:51] #2464 closed

[2021-03-03 06:49] navendu-pottekkat commented on #2128
@leecalcote Is this the same functionality as `mesheryctl system channel view` ? Do we need to add this currently?

[2021-03-03 14:17] leecalcote opened #2501 "[UI] Control Plane Dashboard for Kuma"
#### Current Behavior
When Kuma service mesh is running, Meshery doesn't show a control plane dashboard for this service mesh like it does for other service meshes.

#### Desired Behavior
A control plane dashboard should be visible in the System Dashboard page for Kuma.

[2021-03-03 18:26] #2137 closed

[2021-03-03 22:49] #2311 closed

[2021-03-04 04:25] piyushsingariya commented on #2316
Hey @jesuslerma Are you still working on this? or Can I take over?

[2021-03-04 12:23] Jagrati24 commented on #2498
I'd like to take up this issue.

[2021-03-04 13:08] austinogiza commented on #2498
@Jagrati24 Thank you

[2021-03-04 16:29] Shulammite-Aso commented on #1751
Will do this @leecalcote

[2021-03-04 16:31] leecalcote commented on #1751
@Shulammite-Aso excellent. :) I'm tagging @Nikhil-Ladha and @vineethvanga18 as two individuals to engage in this effort. They will be most supportive collaborators. 👍

[2021-03-04 16:40] Nikhil-Ladha commented on #2400
I think the issue was on the meshery.io site?
It looks good now and if the above is true we can close the issue.

[2021-03-04 16:40] #2400 closed

[2021-03-04 16:44] Shulammite-Aso commented on #1751
Great @leecalcote. On slack, I have suggested working on the endpoint too. If it's possible for me to take it up, then i'd appreciate their help a lot. I just like the idea of contributing with Go too.

[2021-03-05 03:48] metonymic-smokey commented on #2110
@leecalcote ,
This is what I've done till now to document `channel`. Let me know if there is something I should change.

1. I have added the `channel` subcommands under the `flags` column
![image](https://user-images.githubusercontent.com/48997495/110064677-98135380-7d93-11eb-9a7d-6ec25b2d6dfa.png)

2.
 ![image](https://user-images.githubusercontent.com/48997495/110064572-597d9900-7d93-11eb-8333-6

[2021-03-05 05:28] leecalcote commented on #2110
@metonymic-smokey, this looks just right for the command reference, yes.

Individual pages with command examples and a longer description of their behavior is needed. // @navendu-pottekkat

[2021-03-05 06:09] Maxgit3 commented on #2315
@ramrodo I didnt see UI element number 6 service mesh section.  should I use "Kind"  local development cluster?

[2021-03-05 14:49] navendu-pottekkat commented on #2110
Looks good!

@leecalcote @metonymic-smokey As I was working on the mesheryctl command doc, I thought we could present the commands in a different way in the future when we add individual documentation for each commands. I will get this done hopefully over the weekend and we can look into how we can better structure the mesheryctl docs.

[2021-03-05 20:06] #2110 closed

[2021-03-05 20:43] leecalcote commented on #2280
Individual issues would be great. 👍

[2021-03-05 20:45] #2460 closed

[2021-03-06 00:25] vineethvanga18 commented on #2501
Closing this @leecalcote

[2021-03-06 00:25] #2501 closed

[2021-03-06 00:46] leecalcote commented on #2501
Thank you, @vineethvanga18

[2021-03-06 02:24] vineethvanga18 commented on #2015
@leecalcote We might want to "graphqlise" this?
// cc @kumarabd

[2021-03-07 03:49] kumarabd opened #2511 "Broker edge release for Meshery build"
#### Description
Meshery docker build and push for edge release flow is broken.

#### Expected Behavior

#### Screenshots/Logs

#### Environment:
- Host OS:
- Meshery Version:
- Kubernetes Version:
- Browser:

<!-- Optional
#### To Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2021-03-07 03:50] kumarabd commented on #2511
@leecalcote Its been there since 2 months and no one noticed? :O

[2021-03-07 04:03] #2511 closed

[2021-03-07 04:34] #2489 closed

[2021-03-07 20:30] ramrodo commented on #2315
@Maxgit3 the **component number 6** is the _div_ with the title `Service Mesh`. You can find it here:

https://github.com/meshery/meshery/blob/v0.5.0-rc.4/ui/components/DashboardComponent.js#L986

[2021-03-08 11:52] navendu-pottekkat opened #2514 "[mesheryctl][child] make `system status` platform aware(`platform: kubernetes`)"
See Epic #2307 for context and further description of this issue.

#### Current Behavior

`mesheryctl system status` only accounts for the Docker platform and runs `docker-compose -f <path to file> ps` which will list all the running containers.

#### Desired Behavior

`mesheryctl system status` should check the platform of the current context and if the platform is Kubernetes, it should use the [

[2021-03-08 16:00] leecalcote commented on #2268
Written and published.

[2021-03-08 16:00] #2268 closed

[2021-03-09 13:49] leecalcote opened #2515 "[Docs] Compatibility Matrix"
**Current State:**
Integrations are a key aspect of the value Meshery offers to users. Details of the compatibility of Meshery and its components are available in various places in Meshery Docs (in Jekyll datafiles). Bringing this information together into a single location in a compatibility matrix (maybe multiple tables) will benefit users.

**Desired State:**
Create a visual compatibility matri

[2021-03-10 08:20] navendu-pottekkat opened #2519 "[Docs] Add Meshery and mesheryctl roadmap into a ROADMAP.md file"
**Desired State**

A high level outline of Meshery and `mesheryctl` roadmap is to be added in the root of the `meshery` repo in a `ROADMAP.md` file.

Reference document- [Meshery Roadmap](https://docs.google.com/document/d/1kvcz8jdvFwXmYBBaY2-3fHHUUoy1GJLpZZXuoxZQoOk/edit)

[2021-03-10 08:54] killbotXD opened #2520 "[UI] Bug in Pattern file code editor"
#### Description
Current behaviour
If there is an error in the patternfile then the code editor shows the line of error by a red cross to the left of the line.
when there is a mouse hover over the red cross the error dialog/tooltip that opens to show the possible causes of the error hides behind the code editor itself.

#### Expected Behavior
The error dialog /tooltop should be above the code edit

[2021-03-10 11:09] alphaX86 commented on #2519
Hi @navendu-pottekkat, what kind of page is that? A page to be added in DOCS site or put as a normal file in GitHub repo?

[2021-03-10 11:18] navendu-pottekkat commented on #2519
@alphaX86 This will be a normal markdown file in the root of this repo. I will add it by EOD.

[2021-03-10 11:20] alphaX86 commented on #2519
OK cool, can we work on it?

[2021-03-10 11:22] navendu-pottekkat commented on #2519
I'm working on it now...

@alphaX86 I will share the design spec of the new docs page after the Meshery dev call today. That would be a good issue for you to take up.

[2021-03-10 11:25] alphaX86 commented on #2519
Alright! 👍

[2021-03-10 12:41] leecalcote opened #2521 "[Docs] Command reference entry for mesheryctl pattern"
**Current State:**
[mesheryctl pattern](https://docs.google.com/document/d/1xRlFpElRmybJ3WacgPKXgCSiQ2poJl3iCCV1dAalf0k/edit#heading=h.fpuuy11gk85g) support is a new capability to be released under v0.6.0 and will be included in the [Meshery v0.6.0 Release Announcement]()

**Desired State:**
Documentation of `pattern` command and its behavior is needed.

**Desired State:**
1. Improve the documenta

[2021-03-10 17:15] #2519 closed

[2021-03-10 17:15] kumarabd opened #2526 "[mesheryctl] Remove Octarine from default listing"
#### Current Behavior
Octarine is listed as one of the service meshes in the default mesheryctl context created.

#### Desired Behavior
1. Remove ocarine-adapter from the mesheryctl template which is used for generating contexts.
ref - https://github.com/layer5io/meshery/blob/master/mesheryctl/pkg/utils/helpers.go#L97
2. Remove ocarina from docker-compose.yml in meshery root directory.
---
[Option

[2021-03-10 17:39] leecalcote opened #2527 "[mesheryctl] Mismatched upgrade to latest version notification"
#### Description
[code]

#### Environment:
- Meshery Version: v0.5.0-rc-5

[2021-03-10 17:43] leecalcote commented on #2527
After removing my `~/.meshery/config.yaml`:

[code]

The missing `v` in client version is throwing the logic off. Ideally, we will have the `v` included here. This may take a CI update to correct. // @ramrodo

[2021-03-10 17:53] leecalcote opened #2528 "[UI] Traefik Mesh logo missing in Settings adapter chip"
#### Description
The Traefik Mesh logo shows up in some adapter chips, but not in the /settings#service-mesh adapter chip (see screenshot).

#### Screenshots/Logs

**/settings#service-mesh**
<img width="1179" alt="Screen Shot 2021-03-10 at 11 46 29 AM" src="https://user-images.githubusercontent.com/7570704/110673673-aea41b00-8196-11eb-990f-623a3b1b954f.png">

**/management**

<img width="1105" alt

[2021-03-10 17:54] navendu-pottekkat opened #2529 "[Docs] redesign mesheryctl Command Reference"
**Current State:**

[mesheryctl Command Reference](https://docs.meshery.io/reference/mesheryctl) is a central document which shows all the available `mesheryctl` commands and their usage.

**Desired State:**

However, the current page is not intuitive to the user and also misses documentation for some of the new commands added in `mesheryctl`.

The goal of the new design should be the following-

[2021-03-10 18:03] navendu-pottekkat commented on #2529
@alphaX86 all yours for the taking!

[2021-03-10 18:07] leecalcote opened #2530 "[Meshery Operator] Connect / Disconnect / Upgrade / Provision Test Scenarios"
#### Current Behavior
Meshery Operator should be deployed as early as possible to the user's Kubernetes' cluster(s). Various possible failure scenarios are involved in the lifecycle management of Meshery Operator. This issue identifies different scenarios and tracks the successful handling of each.

**Scenario: Cluster Disconnect**
When a user disconnects Meshery from a k8s cluster, Meshery will n

[2021-03-10 18:14] leecalcote opened #2531 "[UI] Meshery Operator component versions not showing in /settings"
#### Description
Avoid orphaning the operator on K8s cluster disconnects
<img width="563" alt="Screen Shot 2021-03-10 at 12 12 39 PM" src="https://user-images.githubusercontent.com/7570704/110676815-01cb9d00-819a-11eb-8b17-655f2b169273.png">

#### Expected Behavior
Show the version number of these components in the UI.

#### Screenshots/Logs
<img width="563" alt="Screen Shot 2021-03-10 at 12 12 39

[2021-03-10 18:15] leecalcote commented on #2531
@vineethvanga18 is this you or is this @utkarsh-pro?

[2021-03-10 18:44] leecalcote opened #2532 "[UI] Control Plane Dashboard: Duplicative data and too much detail"
#### Description
Too many pod details shown in the control plane dashboard

#### Expected Behavior
1. Display component name only, not pod UID
1. Display service mesh name as "Istio". Do not show all caps.
1. Show additional detail in either an expandable table or in tooltips.

#### Screenshots/Logs
<img width="674" alt="Screen Shot 2021-03-10 at 12 18 41 PM" src="https://user-images.githubusercon

[2021-03-10 19:01] leecalcote opened #2533 "[UI] Remove NGINX-SM from Meshery UI"
#### Description
Given the state of the crashing adapter (because of lack of open source availability of NGINX-SM installer), Meshery user's cannot use NGINX-SM.

#### Expected Behavior
This service mesh will not be supported until NGINX changes policy re: mandatory EULA.

[2021-03-11 01:46] alphaX86 commented on #2529
Well well, @navendu-pottekkat I accept! 😁👍

[2021-03-11 05:20] navendu-pottekkat opened #2534 "[Docs] Template doc page for individual mesheryctl commands"
**Desired State:**

A template doc page in [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs) in the [pages folder](https://github.com/layer5io/meshery/tree/master/docs/pages) that contributors can copy to create individual documentation for each command.

**Context:**

As the [mesheryctl Command Reference](https://docs.meshery.io/reference/mesheryctl) page is red

[2021-03-11 07:03] aneeshnema commented on #2527
I could not reproduce this issue on master. The LDFLAG ``GIT_VERSION=$(shell git describe --tags `git rev-list --tags --max-count=1)`` is picking up the version in the correct format, i.e, `v0.5.0-rc-5`

[2021-03-11 12:58] #2533 closed

[2021-03-11 12:58] #2528 closed

[2021-03-11 13:20] leecalcote commented on #2526
@anirudhjain75 or @aneeshnema, would you like to take this?

[2021-03-11 15:10] alphaX86 commented on #2529
@navendu-pottekkat Am I supposed to create a separate table for `system channel` and `system context`?

[2021-03-11 15:10] alphaX86 commented on #2529
I'm asking this to avoid issues, coz in sheet it's like that

[2021-03-11 15:33] navendu-pottekkat commented on #2529
It could be on the same table. Both of these will come under **Meshery Lifecycle and Troubleshooting** table.

[2021-03-11 15:33] navendu-pottekkat commented on #2529
That would be 5 tables in total. This is similar to the existing doc.

[2021-03-11 15:46] alphaX86 commented on #2529
Okie, I did the Pattern configuration table and it looked good, but the `validate` command under `mesh` made one problem but I'm resolving it now

[2021-03-11 16:10] navendu-pottekkat commented on #2529
Nice! This doc is going to be referred a lot in the future. 🚀

[2021-03-11 16:51] anirudhjain75 opened #2539 "[Docs] Verify installation of mesheryctl using Scoop on windows"
**Current State:**

Working. shows an error on executing mesheryctl system start.

``` WARNING: The HOME variable is not set. Defaulting to a blank string. ```

**Desired State:**

Warning should not be displayed

**Logs**

[code]

[2021-03-11 16:56] anirudhjain75 opened #2540 "[mesheryctl] Testing mesheryctl perf on windows"
#### Description
Perf commands returning validation error when token is not passed in

#### Expected Behavior
Perl command should either have token field as non optional or changes should be make to server to support anonymous performance validation

#### Screenshots/Logs

[code]

#### Environment:
- Host OS: Windows
- Meshery Version: 0.5.0 rc

[2021-03-11 17:00] anirudhjain75 opened #2541 "[meshery] Adapter not active when deployed using docker"
#### Description

The adapters are not active when deployed using mesheryctl system start on docker platform.

#### Expected Behavior

Docker platform hosted meshery should be same as kubernetes hosted ones

#### Screenshots/Logs

![image](https://user-images.githubusercontent.com/14249589/110824729-531e7e00-82b9-11eb-97f1-74a6d26d5a81.png)

#### Environment:
- Host OS: Windows
- Meshery Version:

[2021-03-11 17:03] anirudhjain75 opened #2542 "[mesheryctl] Issue with mesheryctl update script version matching"
#### Description

There is an issue with strings used for comparing version of mesheryctl

#### Expected Behavior

Should not show update message if user is on latest version

#### Screenshots/Logs

[code]

[2021-03-11 21:28] #2225 closed

[2021-03-11 21:28] #2158 closed

[2021-03-12 02:31] leecalcote commented on #2225
@navendu-pottekkat do we need this reopened or is this too old of a design/issue?

[2021-03-12 04:07] piyushsingariya commented on #2316
Hey @ramrodo, @jesuslerma isn't responding, can I takeover?

[2021-03-12 06:34] navendu-pottekkat commented on #2225
@leecalcote we don't need to reopen this. This is already added to mesheryctl now...

[2021-03-12 14:42] fruffy opened #2547 "Install meshery to a local binary directory"
#### Current Behavior
Currently, the installation for meshery on Linux system is  `curl -L https://git.io/meshery | bash -`
This fails when the permission to write to /usr/local/bin is not given.

[code]
For now, I just download the install file, edit it manually, and then run the installation.

#### Desired Behavior
It would be nice to have the option to install to a local directory. For example,

[2021-03-12 15:36] leecalcote commented on #2527
@aneeshnema let's troubleshoot on today's community call?

[2021-03-12 17:03] piyushsingariya commented on #1754
Hey @leecalcote Can I try this?

[2021-03-12 18:25] leecalcote commented on #2547
@fruffy which Linux distro are you running?

// @hexxdump

[2021-03-12 18:50] fruffy commented on #2547
A fairly standard Ubuntu Server machine:
[code]
I also had the same problem on my local desktop, which uses a Ubuntu 20.10 flavor.

[2021-03-13 00:53] ramrodo commented on #2316
@piyushsingariya let me try to reach him. If not, I'll let you know and re-assign to you

[2021-03-13 01:09] jesuslerma commented on #2316
Sorry for being a blocker. Please go @piyushsingariya

[2021-03-13 17:33] #1716 closed

[2021-03-14 13:01] aneeshnema commented on #2527
Solved it by modifying `.goreleaser.yml`. Will soon create PR.

[2021-03-14 20:58] #2527 closed

[2021-03-14 21:01] #2534 closed

[2021-03-14 21:03] #2526 closed

[2021-03-15 02:04] #2316 closed

[2021-03-15 03:15] hexxdump commented on #2547
@leecalcote, we could prompt the user in meshery script to choose a preferred installation path.
I have noticed the error too with the existing LICENSE, README.md files.
I will take a look at improving these scenarios.

[2021-03-15 04:35] piyushsingariya commented on #2542
Looks like [this](https://github.com/meshery/meshery/blob/master/mesheryctl/internal/cli/root/root.go#L71) fails to compare the versions as the `latest` contains `v` as the prefix, and result in printing the error.

[2021-03-15 06:36] #2317 closed

[2021-03-15 06:48] piyushsingariya commented on #2542
Hey @anirudhjain75 This issue has been already resolved with #2552

[2021-03-15 06:53] anirudhjain75 commented on #2542
Sure feel free to close it :)

[2021-03-15 06:54] navendu-pottekkat commented on #2542
Yep, this could be closed.

[2021-03-15 06:54] #2542 closed

[2021-03-15 21:27] leecalcote commented on #2309
We need to add support for `platform: kubernetes` to `mesheryctl system context create` as well.

[2021-03-15 21:32] leecalcote opened #2557 "[mesheryctl] context create: platform support for kubernetes"
_See Epic #2307 for additional context._

**Current Behavior**
When a user creates a new `context` the `create` command assumes use of docker as the platform.

**Desired Behavior**
User can create new contexts for running Meshery on Kubernetes.

**Implementation**
- introduce a new flag or prompt for which platform the user wants for the context

**Acceptance Tests**
1. User has a flag available t

[2021-03-15 22:18] leecalcote opened #2558 "[Lifecycle] OSM: Missing logo in adapter chip in /settings"
#### Description
The generic Meshery logo is used here.

#### Expected Behavior
The OSM logo should be presented instead.

#### Screenshots/Logs
<img width="865" alt="Screen Shot 2021-03-15 at 4 16 17 PM" src="https://user-images.githubusercontent.com/7570704/111228594-76477700-85b2-11eb-9531-6c9bd8a30307.png">

[2021-03-16 01:44] #2279 closed

[2021-03-16 09:01] #2557 closed

[2021-03-16 09:14] navendu-pottekkat opened #2561 "[mesheryctl] [child] make `system update` platform aware(`platform: kubernetes`)"
See Epic #2307 for context and further description of this issue.

#### Current Behavior

`mesheryctl system update` only accounts for `docker` as a platform and pulls the new meshery images from docker hub.

#### Desired Behavior

If the `platform` is `kubernetes`, running the `system update` command should fetch the latest manifest files and apply those to the cluster.

[2021-03-16 09:18] navendu-pottekkat commented on #2521
@leecalcote This will be fixed in #2529 . So could we close this issue?

[2021-03-16 09:24] navendu-pottekkat commented on #2309
@leecalcote added in this [PR](https://github.com/layer5io/meshery/pull/2559)

[2021-03-16 09:30] navendu-pottekkat commented on #2309
During bash script installation, when a new config file is created, it should ask if the platform is `docker` or `kubernetes` instead of assuming the platform is `docker`.

The bash script installation command should have a `--docker` and `--kubernetes` flag which will allow the user to override this question.

Meshery should be deployed on the corresponding platform specified by the user through

[2021-03-16 12:21] flozender commented on #2558
Would love to take this up!

[2021-03-16 12:51] leecalcote commented on #2262
@utkarsh-pro, which service meshes does the control plane dashboard not support?

[2021-03-16 15:12] tangledbytes commented on #2262
@leecalcote dashboard should support the following service meshes:
1. Istio
2. Linkerd
3. Traefik Mesh
4. Consul
5. Octarine
6. Open Service Mesh
7. Kuma
8. Nginx Service Mesh (Disabled for now, https://github.com/meshery/meshery/issues/2533)
9. Network Service Mesh
10. Citrix Service Mesh

[2021-03-16 16:02] #2514 closed

[2021-03-16 16:03] leecalcote commented on #2262
Thank you, sir. 👍

[2021-03-16 16:03] #2262 closed

[2021-03-16 16:52] leecalcote commented on #2558
Excellent. 😄

[2021-03-16 17:53] #2547 closed

[2021-03-17 03:17] leecalcote opened #2565 "[GH Issue Template] Create new GitHub issue template for mesheryctl"
#### Current Behavior
See other templates as examples.

#### Desired Behavior
1. Prominent reference - link to command spreadsheet.
1. Resources - Include links to contributor guide, tutorial on contributing to mesheryctl.
2. label with "component/mesheryctl"

[2021-03-17 03:48] navendu-pottekkat commented on #2565
🚀 On it!

[2021-03-17 12:44] #1376 closed

[2021-03-17 19:41] #2310 closed

[2021-03-18 04:23] metonymic-smokey commented on #2444
@leecalcote could I work on adding the `context` command to the docs with this since I had worked on adding the `--adapters` flag?
git
Thanks!

[2021-03-18 05:06] leecalcote commented on #2444
@metonymic-smokey, that sounds great. 👍

[2021-03-18 07:08] navendu-pottekkat commented on #2312
@piyushsingariya Assigning it to you 🚀

[2021-03-18 07:11] navendu-pottekkat commented on #2312
Wait, I can't seem to assign it to you.

[2021-03-18 07:15] piyushsingariya commented on #2312
I'm not sure. Why this is happening?

[2021-03-18 07:53] aneeshnema commented on #2312
there you go

[2021-03-18 07:55] navendu-pottekkat commented on #2312
Do you need to be on the thread to be assigned? I was not able to add @piyushsingariya that is why I asked to comment on the thread.

[2021-03-18 13:25] leecalcote commented on #2521
This issue can be made a child of the other, if you like.

[2021-03-18 16:28] #2565 closed

[2021-03-18 23:07] laurencun commented on #2398
@leecalcote Happy to contribute if you still need assistance with this issue.

[2021-03-18 23:51] leecalcote commented on #2398
Hi @laurencun, yes, that would be wonderful. 👍

[2021-03-19 00:02] leecalcote commented on #2278
@Aisuko, yes, I wrote up a set of thoughts on this a few weeks ago and lost them when my browser crashed. Here's the very short version:

- users that are serious about having Meshery help them run their service measures are most likely to be running mastery in Kubernetes. Making sure that this Meshery deployment experience is highly curated and smooth is important. To facilitate this, having the

[2021-03-19 00:03] leecalcote commented on #2278
@ramrodo do you have any objections here? Let's move forward?

[2021-03-19 03:09] Aisuko commented on #2278
For sure, I got your point. You are right, we need the contributor to focus on our main project(Especially the situation of us). If we release a new version of Meshery; We should release the new version of Helm charts. So, we need to change the image tag from `latest`  to the specially verson.

[2021-03-19 08:00] #2015 closed

[2021-03-19 11:34] #2561 closed

[2021-03-19 15:35] metonymic-smokey commented on #2444
@leecalcote
I am a little unsure about certain things on this issue:
1. Do I add the `context` specific commands to the same column or let them remain in `flag`? Will document `--adapters` accordingly.
2. Which section do I add the part about specifying `config.yaml` adapters?

I have documented the `context` commands for now, let me know if there are any changes to be made.

For now, I have added

[2021-03-19 16:57] austinogiza opened #2572 "[Homepage] Adding CNCF Landscape to Meshery Home page"
#### Current Behavior
We currently have no section highlighting Meshery as proudly representing service mesh management in the CNCF Landscape.

#### Desired Behavior
It will be good to created a new section, adding the CNCF landscape in Meshery home page

![mesh-](https://user-images.githubusercontent.com/44683018/111815538-16b3d900-88dc-11eb-8b7f-24e407ab741b.PNG)

Below is the design file
https:

[2021-03-19 18:09] navendu-pottekkat commented on #2444
@metonymic-smokey as @alphaX86 is working on redesigning the command reference page, we might need to pause this and wait for it to be refactored. Maybe the current structure of the YAML file would be changed. It should be done soon, we can modify this after that...

[2021-03-20 08:45] navendu-pottekkat opened #2573 "[Docs] Incomplete documentation for installing and running Meshery on Minikube"
**Current State:**

The documentation in https://docs.meshery.io/installation/platforms/minikube is incomplete and is missing some steps which will properly configure Meshery to run on Minikube.

**Desired State:**

Update the documentation with all the steps and make sure that these are tried and tested.

---
**Contributor Resources**
- [Meshery documentation site](https://docs.meshery.io/)
- [Me

[2021-03-20 14:37] metonymic-smokey commented on #1433
@leecalcote
Is this issue up for grabs? I wanted to work on a Go issue so picked this.

Thanks!

[2021-03-20 14:39] anirudhjain75 commented on #1433
@leecalcote might have a better idea if this issue is free to pick up

[2021-03-20 19:51] ramrodo commented on #2278
@leecalcote Sure! Sounds really good. We're on the same page. We can proceed with this.

[2021-03-21 02:47] leecalcote commented on #1433
+ @navendu-pottekkat

[2021-03-21 02:52] #2573 closed

[2021-03-21 03:07] #2444 closed

[2021-03-21 04:25] leecalcote opened #2575 "[Helm] Meshery service is exposed over 8080; should be 9081"
#### Current Behavior
Meshery server deployments on Docker expose the Meshery UI over port 9081 by default, while Helm deployments of Meshery expose the UI over 8080. These should be the same by default.

#### Desired Behavior
Port 9081 should be used to expose Meshery service in the helm chart - https://github.com/layer5io/meshery/blob/master/install/deployment_yamls/k8s/meshery-service.yaml#L14-

[2021-03-21 04:57] leecalcote commented on #2530
@kumarabd what other scenarios are to be addressed? Please add them to this issue's description.

[2021-03-21 04:58] leecalcote commented on #2572
@austinogiza this should be opened in the meshery.io repo. Moving issue...

[2021-03-21 05:18] leecalcote opened #2576 "[UI] Card margins on Management page"
#### Current Behavior
Left and right margins on the sides of the cards on the /management pages are unequal.

#### Desired Behavior
These margins should be the same on both sides of the card.

#### Screenshot
<img width="640" alt="Screen Shot 2021-03-21 at 12 02 43 AM" src="https://user-images.githubusercontent.com/7570704/111894708-f3238800-89da-11eb-83c2-863e01a8f9fa.png">

[2021-03-21 05:22] leecalcote opened #2577 "[UI] Management: Alignment of section titles"
#### Current Behavior
Section titles on the /management page are center-aligned.

#### Desired Behavior
Section titles on the /management page should be left-aligned.

#### Mockups
![Untitled copy](https://user-images.githubusercontent.com/7570704/111894761-73e28400-89db-11eb-9797-9ae161407cf5.png)

[2021-03-21 05:58] navendu-pottekkat commented on #1433
We solved this through contexts specified in the `config.yaml` file and the `--adapters` flag right?

[2021-03-21 06:16] navendu-pottekkat commented on #2294
@metonymic-smokey This might be a good issue to take up

[2021-03-21 06:27] metonymic-smokey commented on #1433
@navendu-pottekkat right, totally my bad I forgot. Sorry!

[2021-03-21 06:29] metonymic-smokey commented on #2294
Thanks @navendu-pottekkat , I shall look into this.

[2021-03-21 06:30] metonymic-smokey commented on #2294
/assign

[2021-03-21 09:24] piyushsingariya commented on #2467
Hey @Vi1234sh12 any update on this?

[2021-03-21 17:30] #2315 closed

[2021-03-21 17:55] s1ntaxe770r commented on #2575
Hey, if this hasn't been assigned to anyone I'd like to work on this.

[2021-03-21 18:00] leecalcote commented on #2575
@s1ntaxe770r that'd be excellent. 👍

[2021-03-21 22:47] leecalcote commented on #2385
@kumarabd is this in fact complete?

[2021-03-21 22:48] leecalcote commented on #2319
@hexxdump do you consider this issue complete?

[2021-03-22 00:33] sestissi16 commented on #2577
Is this still an issue that needs to be fixed? I would love to work on it!

[2021-03-22 01:39] leecalcote commented on #2577
@sestissi16 that'd be great. 👍

[2021-03-22 01:43] TeezyOg commented on #2577
I would love to see if I can help if you are still looking for people to contribute.

[2021-03-22 02:29] navendu-pottekkat commented on #2386
Fixed in PR #2574

[2021-03-22 02:29] #2386 closed

[2021-03-22 03:39] leecalcote opened #2579 "[mesheryctl] Failure to detect running Kubernetes and gracefully handle error"
#### Description
Meshconfig with "kubernetes" as the platform and no locally running Docker service results in an error.

#### Expected Behavior
mesheryctl should have more graceful error handling when the Kubernetes platform is not available.

#### Screenshots/Logs
**Context**
[code]

**Start**
[code]

#### Environment:
- Meshery Version: v0.5.0-rc-6

[2021-03-22 03:43] leecalcote opened #2580 "[mesheryctl] Kubernetes deployments require Internet access"
#### Description
Users not connected to the Internet, who try to start Meshery on Kubernetes are unable to do so. They can an overly verbose error message instead.

#### Expected Behavior
1. `mesheryctl` should use cached k8s manifests when GitHub.com is not reachable (when remote manifests are not reachable).
1. Error message should be concise and handled gracefully with instructions provided to

[2021-03-22 03:52] navendu-pottekkat commented on #2579
**Suggested Implementation**

Check if a cluster is running by adding a pre-requisite check for platform Kubernetes. This can be found in `line 222` in `helpers.go`

[code]

This should be achieved using Kubernetes client-go and not by running commands directly on the shell.

// @aneeshnema @metonymic-smokey FYI

[2021-03-22 04:24] metonymic-smokey commented on #2294
@navendu-pottekkat
I had a couple of queries:
1. I thought of an alternative way of validating the version in `config.go` by creating a function similar to `CheckIfCurrentContextIsValid` for version and using that in all command requiring a version check.
Does this sound viable?

2. The version can be either `latest` or a string conforming to the regex `v[0-9]+.[0-9]+.[0-9]+[-a-z0-9]*` right? This

[2021-03-22 04:55] Vi1234sh12 commented on #2467
hey @piyushsingariya  you can start working, Actually, I'm trouble solving this problem!

[2021-03-22 05:32] kumarabd commented on #2530
@leecalcote updated them

[2021-03-22 05:44] navendu-pottekkat commented on #2294
@metonymic-smokey Yes that would be good idea.

I think there is already a regex comparison for the version somewhere in the mesheryctl code.

You can create and function as you mentioned and use it for checking...

[2021-03-22 14:14] leecalcote commented on #2530
@kumarabd how is this being done?

- [x] Removing operator should reflect in the UI (even though MeshSync doesn't report this change).

Can you confirm that the logic used here doesn't negatively affect a reinstall of the Operator?

[2021-03-22 14:26] leecalcote commented on #2382
Fixed

[2021-03-22 14:26] #2382 closed

[2021-03-22 14:32] kumarabd commented on #2530
@leecalcote  yes it won't. Im Positive(Tested).

[2021-03-22 16:58] metonymic-smokey commented on #2294
@navendu-pottekkat ,

Since each `context` has its own version, I am calling the function to check valid version from within `CheckIfCurrentContextIsValid` in `config.go`.
This is the output I get for an invalid context as shown in the issue:
![image](https://user-images.githubusercontent.com/48997495/112027634-5ccb9f80-8b5d-11eb-976a-ebc97ec58182.png)

Is this alright or should I check for the ve

[2021-03-22 17:51] metonymic-smokey opened #2582 "[mesheryctl] Add --yes/-y flag to system commands"
#### Current Behavior
Certain `mesheryctl system` commands require the user to manually enter yes/no as confirmation.

#### Desired Behavior
Addition of the `--yes`/`-y` flag, which the user can then use to avoid entering y/n later. If the flag is not entered, the user will have to enter y/n as usual.

[2021-03-22 17:51] navendu-pottekkat commented on #2294
That was fast! Could you make a draft PR so that I can take a look?

In the output above, the context passed in the flag is wrong right? So it checks current-context?

[2021-03-22 17:53] adithyaakrishna commented on #2576
@leecalcote I would love to work on this :)

[2021-03-22 17:54] adithyaakrishna commented on #2558
@flozender Are you working on this?
If not I would love to take this up

[2021-03-22 17:56] metonymic-smokey commented on #2294
I am just using the default current context(since the `-c` flag is optional). Should I do it differently?

[2021-03-22 17:59] navendu-pottekkat commented on #2294
I might be missing something. I will check the draft PR so we are on the same page.

[2021-03-22 18:12] shoebsd31 commented on #2582
does it mean "yes for all" if --silent is added as an argument ?

[2021-03-22 18:16] metonymic-smokey commented on #2582
@shoebsd31 yes, it does mean that. There is only yes/no confirmation at present, which the `--silent` flag will address.

[2021-03-22 19:19] leecalcote commented on #2577
@TeezyOg wonderful. There are many more issues where this one comes from. 😄 I welcome and encourage you and @sestissi16 to join the Meshery Community (https://meshery.io/community) at http://meshery.slack.com. There are warm and welcoming contributors inside. 😉

[2021-03-22 19:20] leecalcote commented on #2576
Excellent, @adithyaakrishna 👍

[2021-03-22 23:32] igallup commented on #2577
Have room for another?  I was hoping to dip my toes in.

[2021-03-22 23:58] leecalcote commented on #2498
@Jagrati24 how is this coming along? Can we offer any help?

[2021-03-22 23:59] #2456 closed

[2021-03-23 00:02] leecalcote commented on #2577
@igallup yes, indeed. This [Welcome Guide](https://docs.google.com/document/d/17OPtDE_rdnPQxmk2Kauhm3GwXF1R5dZ3Cj8qZLKdo5E/edit#) serves as a great resource. The community Slack is the center of gravity for engaging and getting started. Jump in: http://meshery.slack.com.

[2021-03-23 00:08] #2290 closed

[2021-03-23 01:27] Aisuko commented on #2575
@s1ntaxe770r For Helm chart of Meshery, we can replace the service port from `8080` to `9081`, and please see here https://github.com/meshery/meshery/blob/67f1f917a20ab1ffb517df44f34bc1804ab75e7f/install/kubernetes/helm/meshery/values.yaml#L55

And for the direct way to deploy Meshery by `yaml` , we should replace only one `port` below https://github.com/meshery/meshery/blob/67f1f917a20ab1ffb517df

[2021-03-23 11:54] pottekkat commented on #896
@leecalcote  By making the result follow SMP do we mean to populate all the fields present in [performance_spec.go](https://github.com/meshery/meshery/blob/master/models/performance_spec.go) file? And then write this out accordingly to the YAML files?

[2021-03-23 13:51] AmjadNoor commented on #2577
@leecalcote I think there is no progress in this issue can you assign me please.

[2021-03-23 14:06] sestissi16 commented on #2577
Hi! I want to make progress but I'm having a hard time finding where the title for each section is actually being set. Do you know which component that's in?

[2021-03-23 14:16] TeezyOg commented on #2577
Do you guys use discord ?

On Mon, Mar 22, 2021, 7:33 PM igallup ***@***.***> wrote:

[2021-03-23 17:00] leecalcote commented on #2577
@TeezyOg, Slack - https://github.com/meshery/meshery/issues/2577#issuecomment-804481136

[2021-03-23 18:33] TeezyOg commented on #2577
Okay...

On Tue, Mar 23, 2021, 1:00 PM Lee Calcote ***@***.***> wrote:

[2021-03-23 21:16] leecalcote commented on #2577
@sestissi16 here you are - https://github.com/meshery/meshery/blob/9107f204739aabf5d5fe40fd54faf4c11350433f/ui/components/MesheryAdapterPlayComponent.js#L1096-L1104

[2021-03-23 21:19] leecalcote commented on #2558
Not having heard from @flozender in Slack/the community for a little bit, you might have a go at this @adithyaakrishna.

It's possible that @flozender will circle back to pick this up. It's a very small item, though, and so I suspect that he won't mind. We do need it completed this week.

[2021-03-24 01:44] leecalcote commented on #896
Yes, that’s right.

[2021-03-24 03:46] TeezyOg commented on #2576
Is there set dimensions for each box specifically within the code ? If yes couldn't you just set the boxes to the same size in accordance with the specific page to precisely position each box with the same dimensions ?

[2021-03-24 03:53] leecalcote commented on #2576
@TeezyOg, yes, you could, although in that case, the web app would not be responsive to different sized displays and browser widths.

[2021-03-24 04:26] TeezyOg commented on #2576
Understood ill give it some more thought.

On Tue, Mar 23, 2021, 11:53 PM Lee Calcote ***@***.***> wrote:

[2021-03-24 04:37] DineshKoushik commented on #2577
Hi, I can see there are no pull requests created, so I assume that this issue still exists, can I help you guys in ay way?

[2021-03-24 08:20] metonymic-smokey opened #2588 "[Docs] Add instructions for golangci-lint"
**Current State:**
`CONTRIBUTING.md` does not specify requiring `golangci-lint` to be installed separately. It just mentions the `make golangci-run` command to be run.
MacOS and Linux users have to install the tool separately prior to running the command.

**Desired State:**
Add `golangci-lint` as a prerequisite for testing Go code, in the docs(`CONTRIBUTING.md`).

---
**Contributor Resources**
-

[2021-03-24 09:19] kumarabd commented on #2582
@metonymic-smokey Rather its the default values of every respective confirmation correct?

[2021-03-24 13:04] leecalcote commented on #2588
Thanks for getting this filed, @metonymic-smokey

[2021-03-24 13:33] leecalcote opened #2589 "[Docs] Footer: Update copyright year to 2021"
**Current State:**
The Meshery docs footer has 2020 copyright listed.

<img width="451" alt="Screen Shot 2021-03-24 at 8 32 27 AM" src="https://user-images.githubusercontent.com/7570704/112318856-7d8a1700-8c7b-11eb-91dd-9afecca2c71c.png">

**Desired State:**
Should be 2021.

---
**Contributor Resources**
- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation source](http

[2021-03-24 14:05] onwuvic commented on #2589
@leecalcote can I pick this up?

[2021-03-24 15:05] leecalcote commented on #2589
@onwuvic, that would be excellent, yes.

[2021-03-24 19:14] leecalcote opened #2593 "[Performance] Profile card not showing details on backside"
#### Description
Blank backside of performance test card.

https://user-images.githubusercontent.com/7570704/112370249-2439dc00-8cab-11eb-8208-2c96d6e75cd0.mov

#### Expected Behavior
Should see test details.

#### Screenshots/Logs
- No errors in the browser console.
- Data is present in HTML, just not visible in browser.

<img width="1327" alt="Screen Shot 2021-03-24 at 2 02 02 PM" src="https://u

[2021-03-24 19:17] leecalcote commented on #2558
This issue is open for business (open for a contributor to pick it up).

[2021-03-24 19:18] leecalcote commented on #2558
@igallup, you might be interested here.

[2021-03-24 21:09] #2529 closed

[2021-03-25 00:22] Maxgit3 commented on #2580
@leecalcote do you mind if I look at this?

[2021-03-25 00:31] piyushsingariya commented on #2582
Hey @metonymic-smokey Can I raise a PR on this?

[2021-03-25 00:33] leecalcote commented on #2580
Sounds real good, @Maxgit3

[2021-03-25 00:52] piyushsingariya commented on #2579
@leecalcote Can I try this one?

[2021-03-25 01:47] igallup commented on #2558
I am!  I'd be happy to work on it tomorrow night, if that's not too late.

[2021-03-25 02:19] #2312 closed

[2021-03-25 02:30] metonymic-smokey commented on #2582
Go ahead @piyushsingariya !

[2021-03-25 02:31] navendu-pottekkat commented on #2579
@piyushsingariya I guess @metonymic-smokey might be already working on it?

[2021-03-25 02:32] #2294 closed

[2021-03-25 02:34] metonymic-smokey commented on #2579
@navendu-pottekkat Yes, just started working on it.

[2021-03-25 06:41] piyushsingariya commented on #2425
@leecalcote I think this should be closed!

[2021-03-25 08:37] navendu-pottekkat commented on #2582
@metonymic-smokey We have added this consideration to [this](https://docs.google.com/document/d/1xRlFpElRmybJ3WacgPKXgCSiQ2poJl3iCCV1dAalf0k/edit#heading=h.xja8az6ed0dy) design spec. We may need to rethink how and what the flags are that are used here.

[2021-03-25 08:41] hexxdump commented on #2425
@piyushsingariya
This is not complete yet. https://github.com/meshery/meshery/pull/2513 fixes only a part of the issue.

Here is the comment by @leecalcote

=======
Our two objectives:

Eliminate external dependencies where feasible.
1. Enable the same configuration generation ability in mesheryctl and Meshery through MeshKit
2. Current state (inclusive of this PR):

Dependencies that remain:
1. k

[2021-03-25 10:44] leecalcote commented on #2558
Perfect. That will work well, @igallup

[2021-03-25 12:11] dhruv0000 commented on #2385
yes. This was demoed in March 24th's Dev call.

[2021-03-25 12:11] #2385 closed

[2021-03-25 12:47] navendu-pottekkat commented on #1754
@piyushsingariya @leecalcote This seems like a big task. We should consider splitting it up...

[2021-03-25 13:42] sakshi3537 commented on #2588
I would like to take up this issue.

[2021-03-25 13:43] leecalcote commented on #2588
Sounds great, @sakshi3537 👍

[2021-03-25 15:27] leecalcote opened #2598 "[UI] Text being cutoff in Namespace dropdown"
#### Description
The bottom of the text in this dropdown is being cutoff. This dropdown is on the http://localhost:9081/management?adapter=meshery-linkerd:10001 page

#### Screenshots/Logs
<img width="1058" alt="Screen Shot 2021-03-25 at 10 26 02 AM" src="https://user-images.githubusercontent.com/7570704/112498597-ae8a4a80-8d54-11eb-898c-c3eef14677ed.png">

#### Environment:
- Meshery Version: v0.

[2021-03-25 15:28] leecalcote commented on #2576
@adithyaakrishna are you working on this? If not, please remove your assignment.

[2021-03-25 18:36] kumarabd opened #2600 "Helm installation for individual adapters"
#### Implementation
If a user insists on running meshery inside the Kubernetes cluster using helm charts, currently all of the adapters get deployed by default. We would need a provision in the helm `values.yml` to specify the list of adapters to run before installing inside the cluster.

Ref: https://github.com/layer5io/meshery/tree/master/install/kubernetes/helm/meshery

#### Acceptance Tests

#

[2021-03-25 19:04] adithyaakrishna commented on #2576
@leecalcote I'm working on this, I had a tough time setting up the Local Dev Environment, Sorry for the delay but Once I get this up and running I will make a PR immediately :/

[2021-03-25 20:00] #2589 closed

[2021-03-25 20:16] leecalcote commented on #2401
@kumarabd was this implemented? Will you update the endpoints spreadsheet to reflect this?

[2021-03-25 20:17] leecalcote commented on #2375
Hi @metonymic-smokey, I think we're done here, correct?

[2021-03-26 02:14] igallup commented on #2558
I'm afraid I'm going to need to hand this one back.  I think I found where the bug is happening, but I can't get Ruby to stop throwing a tantrum about your adapters.md file long enough to see where case "osm" isn't getting passed in.

[2021-03-26 02:23] metonymic-smokey commented on #2375
Yes, this can be closed @leecalcote.

On Fri, 26 Mar 2021, 01:48 Lee Calcote, ***@***.***> wrote:

[2021-03-26 02:35] igallup commented on #2558
I'm afraid I'm going to need to hand this one back.  I think I found the source of the bug, but couldn't verify it.  Sorry!

[2021-03-26 02:37] leecalcote commented on #2558
Oh, gotcha. Ok, no sweat. Depending on what issue was cropping up, you might find http://rvm.io of help.

[2021-03-26 02:39] #2375 closed

[2021-03-26 02:42] leecalcote commented on #2558
@TeezyOg or @AmjadNoor interested?

[2021-03-26 02:45] leecalcote commented on #2541
@anirudhjain75, I believe this issue is related to -- https://github.com/meshery/meshery/discussions/2591

[2021-03-26 03:52] navendu-pottekkat commented on #896
[code]

Are these values exposed by any APIs?
The rest of the values in the struct are exposed and I have formatted them to follow SMP when we export to YAML file.

![Screenshot from 2021-03-26 09-20-19](https://user-images.githubusercontent.com/49474499/112574649-c2958100-8e14-11eb-870a-a7361bd59b7e.png)
// @leecalcote @utkarsh-pro @abhishekkumkar

[2021-03-26 05:05] leecalcote commented on #896
That’s good progress. You might refer to the endpoint spreadsheet in the community drive as an easy reference for identifying other APIs

[2021-03-26 05:05] navendu-pottekkat commented on #896
Let me check if I can find it

[2021-03-26 05:24] sestissi16 commented on #2558
I can definitely try my hand at it but I might only be able to get to it on the weekend!

[2021-03-26 07:11] kumarabd commented on #2401
@leecalcote yes it is implemented. It's a graphql query/subscription used in the Addons component of the management section. The endpoints are already updated in the docs.

[2021-03-26 10:47] onwuvic commented on #2598
@leecalcote can I take this up?

[2021-03-26 13:44] piyushsingariya opened #2603 "[Kubernetes] Cannot ping adapters when meshery deployed in Kubernetes"
#### Description
When Meshery is deployed in Kubernetes. All the adapters are in running state still, Meshery is unable to ping to multiple adapters.
Only 3 adapters seem active: CPX, OSM, NSM
_(Attaching Screenshots)_
![image](https://user-images.githubusercontent.com/50979887/112639899-ce119800-8e66-11eb-8ad0-5ae533b98e77.png)
![image](https://user-images.githubusercontent.com/50979887/112639953

[2021-03-26 13:56] leecalcote commented on #2598
@onwuvic, very good. Yes, thank you for volunteering. 🙂

[2021-03-26 16:39] navendu-pottekkat commented on #2603
@piyushsingariya are you able to ping to the adapters that are shown in the UI?

[2021-03-26 16:40] navendu-pottekkat commented on #2603
If yes, then this could be a problem with those adapters...

// @abhishekkumkar @mgfeller

[2021-03-26 16:47] navendu-pottekkat commented on #2112
Fixed in #2546

[2021-03-26 16:47] #2112 closed

[2021-03-26 16:51] navendu-pottekkat commented on #1433
@leecalcote I guess we have solved this through specifying adapters in the `config.yaml` for each context and the `--adapters` flag in the `mesheryctl system context create` command. So, can this be closed?

[2021-03-26 16:53] navendu-pottekkat commented on #2128
@leecalcote Can we close this one?

[2021-03-26 16:55] piyushsingariya commented on #2603
I can ping only three of them(the ones mentioned above)

[2021-03-26 17:02] piyushsingariya commented on #2603
![image](https://user-images.githubusercontent.com/50979887/112667215-02934d00-8e83-11eb-8065-270bac9cac04.png)
@navendu-pottekkat with adapters clearly being active, this is a problem from Meshery's side.

[2021-03-26 17:09] navendu-pottekkat commented on #2226
@leecalcote @kumarabd , we have this functionality already added in the `context set [release-version]` command. Closing this issue...

[2021-03-26 17:09] #2226 closed

[2021-03-26 17:12] navendu-pottekkat commented on #2380
@anirudhjain75 Any updates to this issue?

// We need to start working on unit tests for mesheryctl commands @aneeshnema @piyushsingariya @metonymic-smokey

[2021-03-26 17:17] pottekkat commented on #2425
@hexxdump As we start working on this, it might be best if we create a new issue and assign child issues if it is possible. This would be similar to the [[mesheryctl] [epic] provide support for platform: kubernetes](https://github.com/meshery/meshery/issues/2307) where each of the remaining dependencies would be a subset of `platform: kubernetes`

[2021-03-26 17:19] navendu-pottekkat commented on #2521
The pattern command was added to the [mesheryctl Command Reference](https://github.com/layer5io/meshery/pull/2546) in [this PR](https://github.com/layer5io/meshery/pull/2546). Closing this issue...

[2021-03-26 17:19] #2521 closed

[2021-03-26 17:27] navendu-pottekkat commented on #1754
@leecalcote @piyushsingariya We can first start with implementing `preflight`. And `check` should run `preflight` plus ping the adapters. How does that sound?

[2021-03-26 17:53] anirudhjain75 commented on #2380
Not that I know of. I made this with comments so someone from community can work on this

[2021-03-26 18:29] #2582 closed

[2021-03-26 19:16] leecalcote commented on #1433
Sounds real good, yes. @nikita15p, please reopen if these new methods don’t work for you.

[2021-03-26 19:16] #1433 closed

[2021-03-27 00:29] piyushsingariya commented on #1754
@navendu-pottekkat Agreed, `preflight` should be implemented first.

[2021-03-27 12:37] #2406 closed

[2021-03-28 05:08] navendu-pottekkat opened #2607 "[mesheryctl] [child] Create `mesheryctl exp preflight` to verify environment readiness for a Meshery deloyment"
Refer epic #1754 for more info.

Refer the [mesheryctl Command Tracker](https://docs.google.com/spreadsheets/d/1q63sIGAuCnIeDs8PeM-0BAkNj8BBgPUXhLbe1Y-318o/edit#gid=0) for current status of `mesheryctl`.

#### Desired Behavior

`mesheryctl exp preflight` command should be added which verifies the presence of dependencies and overall environment readiness for a Meshery deployment.

[code]

#### Acc

[2021-03-28 05:15] navendu-pottekkat commented on #1754
@leecalcote @piyushsingariya I have moved the preflight checks to #2607

[2021-03-28 05:17] navendu-pottekkat commented on #2607
@piyushsingariya FYI

[2021-03-28 11:30] piyushsingariya commented on #2607
Hey @navendu-pottekkat can you drop some references to be sure about how to make this from scratch?
Also, I researched and couldn't found any solid way to check about the `docker` part, so if you have any clue about that too it would be helpful.

[2021-03-28 12:08] navendu-pottekkat commented on #2607
We kind of do the docker checks in the `preReqCheck` function in the `helpers.go` file... I guess this would only include that... We do not need to check anything else right @leecalcote ?

[2021-03-28 16:00] piyushsingariya commented on #2607
`preReqCheck` performs platform-based checks and uses several other functions I'm writing one inspired by this.

[2021-03-28 18:53] #896 closed

[2021-03-29 02:21] leecalcote commented on #2607
Gents, the milestone (version) for this issue is set for v0.9.0.  If we can complete this before that release, that would be great. We need to complete the other functions schedule in the milestones in v0.6, v0.7, v0.8 first though see the roadmap.md) in the root folder of this repo.

This issue (and its parent issue) large in nature and will require a written design spec before it is scheduled fo

[2021-03-29 02:24] leecalcote commented on #2603
This issue is only affecting adapters based on MeshKit, it seems.

[2021-03-29 13:14] alphaX86 opened #2608 "[Docs] Add Individual doc pages for `mesheryctl` commands"
**Current State:**
It's been 5 days since the `mesheryctl` command reference has got a makeover, but it's void of individual doc pages, therefore each doc page has to be created for every command so that it can be linked to the table later on.

**Desired State:**

The reference page must be updated with links to individual doc pages. Hence, this can be a big work, and can be spliced up into smalle

[2021-03-29 17:40] navendu-pottekkat opened #2610 "[mesheryctl] Bug: version/tag of the docker images in the manifest files not according to version specified in context"
#### Description

`mesheryctl` should fetch Kubernetes manifest files according to the `version` and `channel` of the `current-context` specified by the user in the `~/.meshery/config.yaml` file.

This is handled by the `FetchManifests` function-

https://github.com/layer5io/meshery/blob/3e366a9c5d38ece0bed770e386c8f37f64f7d8e7/mesheryctl/pkg/utils/platform.go#L101

Although we fetch the manifest

[2021-03-29 19:30] leecalcote opened #2611 "[Docs] Update with all supported operations for Traefik Mesh"
**Current State:**
The Traefik Mesh page doesn't list all supported operations - https://docs.meshery.io/service-meshes/adapters/traefik-mesh

**Desired State:**
A full description of the adapter's capabilities should be included on this page, including what versions are supported.

---
**Contributor Resources**
- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation sour

[2021-03-29 20:20] leecalcote opened #2612 "[Docs] Release notes are no longer auto-publishing"
**Current State:**
Each time a release is made, the auto-generated release notes are to be published here - https://docs.meshery.io/project/releases. The CI workflow that published these notes is broken or not firing.

Workflow - https://github.com/layer5io/meshery/blob/master/.github/workflows/release-notes.yml

Reference - https://github.com/layer5io/meshery/issues/510

---
**Contributor Resourc

[2021-03-29 20:20] leecalcote commented on #2612
@ramrodo this issue might need you to flex your muscles on it.

[2021-03-29 21:50] leecalcote commented on #2608
@alphaX86 Thanks for raising this issue. Each of the individual command pages should be autogenerated as output of a [Jekyll collection](https://jekyllrb.com/docs/collections/). Previously, I noted that the current [Jekyll datafiles](https://jekyllrb.com/docs/datafiles/) might need to be converted to a Jekyll collection in order for the pages to be automatically generated. Let's work to migrate fr

[2021-03-29 21:51] leecalcote commented on #2593
@utkarsh-pro did you find the culprit here?

[2021-03-29 22:08] #2343 closed

[2021-03-30 01:39] Aisuko commented on #2600
Actually, we have the conditions under the `value.yaml` below. Those conditions can work well.

https://github.com/meshery/meshery/blob/3e366a9c5d38ece0bed770e386c8f37f64f7d8e7/install/kubernetes/helm/meshery/values.yaml#L100-L118

[2021-03-30 01:42] leecalcote commented on #2600
Nice. We're missing this in the doc on Helm installs. It'd be great to get a small set of instructions on this here - https://docs.meshery.io/installation/platforms/kubernetes#using-helm

[2021-03-30 01:48] alphaX86 commented on #2608
Alright @leecalcote will do as you say :) 👍

[2021-03-30 01:50] leecalcote commented on #2608
Hopefully, the migration doesn't mess with the current iteration over datafiles (it shouldn't). You can make updates to the mesheryctlcommand collection in `_config.yml` and set the `output:true` for that collection which is what will autogenerate the individual pages. You may have to add `---` to the datafiles, converting them from yaml to markdown (frontmatter).

[code]

[2021-03-30 01:57] Aisuko commented on #2600
Copy that. Add it to my schedule. I'd like to post the parameter sheet to the document, make any sense?  https://github.com/meshery/meshery/tree/3e366a9c5d38ece0bed770e386c8f37f64f7d8e7/install/kubernetes/helm/meshery#values

[2021-03-30 02:08] #2154 closed

[2021-03-30 05:26] anirudhjain75 commented on #2603
Ohh Yea I have already created an issue for this. But my one was specific to gcloud. Its stale. Lemme retest and push

[2021-03-30 05:51] anirudhjain75 commented on #2603
This issue is still pending. I've attached a SS. Using GKE Cluster
![image](https://user-images.githubusercontent.com/14249589/112939975-0b697480-914a-11eb-9715-e892af33edf2.png)

[2021-03-30 06:32] #2579 closed

[2021-03-30 11:31] adithyaakrishna commented on #2576
Hey @leecalcote, so I was going through this, I found the issue

**Problem:**
![image](https://user-images.githubusercontent.com/23498248/112981013-3bc80780-9178-11eb-85e1-ae3d3d82527a.png)

**The padding of the cards are set to 8px, so as there are two cards next to each other, the total padding is 16px**

**Solution:**
![image](https://user-images.githubusercontent.com/23498248/112981900-6d8d9e0

[2021-03-30 11:40] leecalcote commented on #2576
Thanks. Does this maintain even spacing on the top and bottom of the cards when they are in rows?

[2021-03-30 12:12] adithyaakrishna commented on #2576
Yes, Across all pages

[2021-03-30 12:52] leecalcote commented on #2576
+ @dhruv0000

[2021-03-30 15:43] leecalcote opened #2614 "[Docs] Create documentation section for Performance Profiles"
**Desired State:**
The performance management page should have a section outlining the capabilities and behaviors of performance profiles - https://docs.meshery.io/functionality/performance-management

---
**Contributor Resources**
- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)
- [Instructions for cont

[2021-03-30 17:24] leecalcote commented on #2593
perhaps, something specific to my user or more likely specific to my .meshery/ local files.

[2021-03-30 17:26] utkarsh-pro commented on #2593
@leecalcote, that's strange even if that's the case. Lemme quickly ask a few folks on slack to see if someone else has also encountered the same issue?

[2021-03-30 19:40] adithyaakrishna commented on #2453
@leecalcote I guess this is fixed right now, as there are margins ~16px between the cards in PR #2615  , please do let me know if it isn't, would love to take it up :)

[2021-03-30 22:04] ramrodo commented on #2612
Sure! Let me take a look

[2021-03-31 02:04] leecalcote commented on #2453
Good eye. I believe this is just a duplicate of the other issue. Closing out...

[2021-03-31 02:04] #2453 closed

[2021-03-31 02:26] leecalcote commented on #2612
Yes, sir. It’s hidden over here - https://github.com/meshery/meshery/blob/7829a94ce2700ea60e3e20f4386646e217bfe6a6/.github/workflows/release-drafter.yml#L26

[2021-03-31 02:32] leecalcote commented on #2612
There’s a section on automated release notes generation in the Meshery Build and Release strategy doc https://docs.google.com/document/d/11nAxYtz2SUusCYZ0JeNRrOLIxkgmmbUVWz63MBZV2oE/edit. It’s short, but may be of help.

[2021-03-31 02:34] #2614 closed

[2021-03-31 02:50] alphaX86 commented on #2608
Can we talk this during the Meshery development meet today?

[2021-03-31 07:34] piyushsingariya commented on #2610
Can i try?

[2021-03-31 07:38] piyushsingariya opened #2617 "[mesheryctl] Bug: `meshryctl perf` fails at attaching authorization details to request"
#### Current Behavior
`./mesheryctl perf --url https://foo.com` fails at attaching details to the request
![image](https://user-images.githubusercontent.com/50979887/113107951-1b548780-9222-11eb-820c-00849c3f585a.png)

[2021-03-31 11:33] navendu-pottekkat commented on #2610
Sure @piyushsingariya ! Assigning...

[2021-03-31 13:35] s1ntaxe770r opened #2619 "Create Alpine version of Meshery docker image"
#### Current Behavior

Currently Meshery has variants of it's docker [image  ]( https://hub.docker.com/r/layer5/meshery/tags)   (edge and stable )

#### Desired Behavior

Produce a docker image that uses alpine in the final build stage and integrate that with the CI workflow

#### Implementation

#### Acceptance Tests

#### Mockups

---
**[Contributor Guide](https://docs.meshery.io/project/contrib

[2021-03-31 15:16] leecalcote commented on #2619
@kumarabd once the binaries for wrk2 and nighthawk are built using Ubuntu, can Alpine be used as the final image format?

[2021-03-31 15:38] #2576 closed

[2021-03-31 19:55] leecalcote opened #2620 "[Server + UI] Local Provider support for Service Mesh Patterns"
#### Current Behavior
See Epic #2266

#### Desired Behavior
Enable Local Provider support of pattern CRUD.

#### Acceptance Tests
1. User able to perform Create patterns from filesystem (upload to Meshery Server).
2. User able to Read patterns from Meshery UI.
3. User able to Update existing patterns (edit in yaml syntax colorized editor in Meshery UI).
4. User able to Delete existing patterns fro

[2021-03-31 20:07] leecalcote opened #2621 "[mesheryctl] Remove `context` command from experimental"
Refer the [mesheryctl Command Tracker](https://docs.google.com/spreadsheets/d/1q63sIGAuCnIeDs8PeM-0BAkNj8BBgPUXhLbe1Y-318o/edit#gid=0) for current status of `mesheryctl`.

#### Current Behavior
The `context` command has been released in v0.5.0 as a stable command. It still shows up under `mesheryctl exp`, though.

[code]

#### Desired Behavior
The context entry should be removed.

**Environment**

[2021-03-31 20:11] leecalcote opened #2622 "[mesheryctl] Move support for `pattern` command out of experimental"
Refer the [mesheryctl Command Tracker](https://docs.google.com/spreadsheets/d/1q63sIGAuCnIeDs8PeM-0BAkNj8BBgPUXhLbe1Y-318o/edit#gid=0) for current status of `mesheryctl`.

#### Current Behavior
Related to #2266 and #2620, `mesheryctl` supports the following `pattern` command operations:

[code]
#### Desired Behavior
Meshery release v0.6.0 will support `pattern` as a stable command.

#### Acceptanc

[2021-03-31 20:48] leecalcote opened #2623 "[mesheryctl] `pattern list`"
Refer the [mesheryctl Command Tracker](https://docs.google.com/spreadsheets/d/1q63sIGAuCnIeDs8PeM-0BAkNj8BBgPUXhLbe1Y-318o/edit#gid=0) for current status of `mesheryctl`.

#### Current Behavior
Related to #2266 and #2621, `mesheryctl` v0.5.0 supports the following `exp pattern` command operations:

[code]

Meshery release v0.6.0 will support `pattern` as a stable command with `list` being one of t

[2021-03-31 20:56] leecalcote commented on #2617
@piyushsingariya thanks for raising this up. Based on our findings on today's call is the `issue/invalid` label appropriate on this issue?

[2021-03-31 21:07] leecalcote opened #2624 "[mesheryctl] `pattern view`"
Refer the [mesheryctl Command Tracker](https://docs.google.com/spreadsheets/d/1q63sIGAuCnIeDs8PeM-0BAkNj8BBgPUXhLbe1Y-318o/edit#gid=0) for current status of `mesheryctl`.

#### Current Behavior
Related to #2266 and #2621, `mesheryctl` v0.5.0 supports the following `exp pattern` command operations:

[code]

Meshery release v0.6.0 will support `pattern` as a stable command with `view` being one of t

[2021-03-31 21:16] leecalcote commented on #2612
I haven't investigated, but I often wondered if the automation would fail based on use of unescaped characters in the title of the issues that are being documented. If I recall correctly, the workflow didn't necessarily account for backticks or other potential conflicts.

[2021-03-31 23:33] TeezyOg commented on #2576
Well done 👏

On Wed, Mar 31, 2021, 11:38 AM Lee Calcote ***@***.***> wrote:

[2021-04-01 05:18] piyushsingariya commented on #2617
Yeah! I should close this issue

[2021-04-01 05:18] #2617 closed

[2021-04-01 06:01] navendu-pottekkat opened #2644 "[mesheryctl] `system restart` command should delete the pods on meshery namespace and leave the services running"
Refer the [mesheryctl Command Tracker](https://docs.google.com/spreadsheets/d/1q63sIGAuCnIeDs8PeM-0BAkNj8BBgPUXhLbe1Y-318o/edit#gid=0) for current status of `mesheryctl`.

#### Current Behavior

`mesheryctl system restart` will remove all the deployments on the `meshery` namespace if the `platform` is `kubernetes` and reapply the manifest files again. (calls `stop()` and `start()`)

#### Desired B

[2021-04-01 06:27] piyushsingariya commented on #2610
@navendu-pottekkat So we basically have to edit the manifest files, I get that part. but how exactly we do this? and I didn't found any implementation mentioned in `start.go`

[2021-04-01 06:32] navendu-pottekkat commented on #2610
Yes. Once we download the manifest files, we have to edit it. We can use viper for that. In `system start` i.e `start.go` , this is used to rewrite the `meshery.yaml` file in the case for Docker. Check from line 95 in start.go

Let me know if this is still confusing...

[2021-04-01 07:21] ramrodo commented on #2612
@leecalcote With this commit https://github.com/meshery/meshery/pull/2646/commits/b099910db8359ec64f99f1b43e69902d9eabb949 I validated that this workflow will be working well when it should. As an example, here is the PR for the latest release version: https://github.com/meshery/meshery/pull/2648

And with that PR, the workflow will be triggered only at creating Github Tags

[2021-04-01 09:42] piyushsingariya commented on #2610
I read the code but I'm not able to grasp how exactly I have to edit-out these manifest files? Because these manifest files and meshery.yaml are too different.

[2021-04-01 10:32] piyushsingariya commented on #2610
Okay @navendu-pottekkat, I think I'm getting hold of how to use viper and how to follow up the code in the case of docker. I just have one slight doubt, I have to implement this from very scratch, I mean building structs and proceeding ahead, right?

[2021-04-01 11:08] piyushsingariya commented on #2610
@navendu-pottekkat I highly doubt what I'm doing right now, So I'm dropping a sample code that I have added so have a look at it.
`start.go`
[code]
and this is K8sCompose in `utils/compose.go`
[code]

[2021-04-01 12:15] kumarabd commented on #2619
Im afraid not. We have third party binaries embedded in our image thus we are constraint towards having it as a ubuntu base image. // @s1ntaxe770r

[2021-04-01 12:35] leecalcote commented on #2619
wrk2 runs on Alpine. Does this only leave nighthawk as the incompatible binary?

[2021-04-01 12:43] leecalcote commented on #2558
@sestissi16 still working on this?

[2021-04-01 12:44] leecalcote commented on #2558
Oh, sorry. I'm just seeing that this is unassigned. Yes, @adithyaakrishna, if you can knock out this item, that would be great.

[2021-04-01 13:24] #2449 closed

[2021-04-01 13:37] TeezyOg commented on #2558
I can take a look at it tonight.

On Thu, Apr 1, 2021, 8:44 AM Lee Calcote ***@***.***> wrote:

[2021-04-01 15:23] leecalcote commented on #2619
@s1ntaxe770r might join today's CNCF Service Mesh WG call. If so, creation of a Nighthawk build compatible with an Alpine image could be discussed. // @meshery/getnighthawk-maintainers @meshery/ci-release-contributors

[2021-04-01 20:16] leecalcote commented on #2422
@AkiraBrand this item is still very much desired. Is this something you're still considering to knock out?

[2021-04-01 20:19] #2620 closed

[2021-04-02 04:32] leecalcote commented on #2422
Let’s hide (via a toggle - see WSL page for an example) the helm v3 and v2 instructions and instead list the artifact hub method prominently.
<img width="809" alt="Screen Shot 2021-04-01 at 11 30 00 PM" src="https://user-images.githubusercontent.com/7570704/113380714-8eedb600-9342-11eb-9fdc-35f463bb96f1.png">

[2021-04-02 05:16] navendu-pottekkat commented on #2610
@piyushsingariya Sorry for responding late. I was travelling.

Was this code working? The way you are implementing this looks correct. i.e you would have to create a struct and unmarshal the manifest files and use viper to modify the tag on the image.

[2021-04-02 05:23] leecalcote opened #2651 "[mesheryctl] Unnecessary usage offered on failure to deploy Meshery to Kubernetes"
Refer the [mesheryctl Command Tracker](https://docs.google.com/spreadsheets/d/1q63sIGAuCnIeDs8PeM-0BAkNj8BBgPUXhLbe1Y-318o/edit#gid=0) for current status of `mesheryctl`.

#### Current Behavior

When the configured Kubernetes environment is not available, users error messages AND usage / help. Printing out help is unnecessary and not helpful in this circumstance.

[code]

[2021-04-02 05:34] leecalcote commented on #2603
@kumarabd please consider this issue a high priority.

[2021-04-02 05:44] Maxgit3 commented on #2580
@leecalcote
under /meshery/mesheryctl/internal/cli/root/system/system.go I see manifestsURL points to the github location.  should we add another const pointing to the location of the locally stored manifests?

under /meshery/mesheryctl/pkg/utils/helpers.go, GetManifestURL function looks like a possible way to get local manifest location if one exists

looking at the code under /meshery/mesheryctl

[2021-04-02 05:46] navendu-pottekkat opened #2652 "[mesheryctl] migrate to docker-compose Golang"
Refer the [mesheryctl Command Tracker](https://docs.google.com/spreadsheets/d/1q63sIGAuCnIeDs8PeM-0BAkNj8BBgPUXhLbe1Y-318o/edit#gid=0) for current status of `mesheryctl`.

#### Current Behavior

`mesheryctl` executes `docker-compose` commands on the shell as shown below by wrapping the Python based `docker-compose` CLI -

[code]

[code]

#### Desired Behavior

Instead `mesheryctl` should integrate

[2021-04-02 05:50] navendu-pottekkat commented on #2652
@hexxdump This aligns with the platform support you are working on. Interested in taking this up?

// @metonymic-smokey we can use this similar to Docker Go SDK

[2021-04-02 06:06] navendu-pottekkat commented on #2580
@Maxgit3 locally, the manifest files are stored in `.meshery/manifests` folder. This is shown in `platform.go` file-

[code]
So, what this fix would look like is that each command should check if the manifest files are present in this folder and only download from GitHub if they are not present and GitHub is reachable.

PS- You may need to update your fork to reflect the latest changes as some of

[2021-04-02 06:36] navendu-pottekkat commented on #2128
@Maxgit3 The same functionality is achieved through `mesheryctl system channel view` command. So this issue is stale.

Closing this issue...

[2021-04-02 06:36] #2128 closed

[2021-04-02 08:52] hexxdump commented on #2652
sure @navendu-pottekkat

[2021-04-02 08:54] navendu-pottekkat commented on #2652
Awesome!

[2021-04-02 09:59] piyushsingariya commented on #2610
Hi @navendu-pottekkat It was not working, and I figured out that the above sample code is :vomiting_face:
and now I have figured out what's the actual way of doing this but I'm having a hard time writing those changes to YAML files

[2021-04-02 14:13] navendu-pottekkat commented on #2610
I guess writing those changes back would be similar to the docker implementation... We only have to change the tags right?

[2021-04-02 14:18] piyushsingariya commented on #2610
When I do that yaml files kind of complete changes plus I'm also having some trouble getting the image tag from yaml
It's not working the way it supposed to be working.

[2021-04-02 14:25] mgfeller commented on #2603
using minikube, with ingress addon enabled

[code]

Note: ingress yaml given in https://docs.meshery.io/installation/platforms/kubernetes#using-kubernetes-manifests should be updated.

[2021-04-02 14:32] mgfeller commented on #2603
meshery log:

[code]

[2021-04-02 14:34] mgfeller commented on #2603
![image](https://user-images.githubusercontent.com/1214008/113424931-3fa29680-93d1-11eb-921d-b45f6d5b006b.png)

[2021-04-02 14:35] navendu-pottekkat commented on #2610
Most likely an issue with the created struct... We can discuss this

[2021-04-02 14:35] mgfeller commented on #2603
linkerd (others are equivalent)

[code]

[2021-04-02 14:59] metonymic-smokey commented on #2651
@leecalcote
Thanks for assigning this issue!

Just to clarify, is this the expected output:
![image](https://user-images.githubusercontent.com/48997495/113427105-1c3c1380-93f2-11eb-858e-627f39003fb3.png)

Wanted to clarify before moving ahead.
Thanks!

[2021-04-02 15:35] mgfeller commented on #2603
Testing with meshery-linkerd master, and meshery-adapter-library master -> same error (`xyz` used as 'marker' to make sure the correct image was used).

[code]

[2021-04-02 15:53] mgfeller commented on #2603
Looks like kubeconfig in the `CreateInstance` request is empty.

[2021-04-02 16:05] adithyaakrishna commented on #2558
@leecalcote
I've fixed this issue and had one doubt, was the `text-align: left` on purpose?
Because, I fixed their margins to make them not stick together and aligned them on **right** instead of **left**
Do lmk, if I can go ahead with this change or else will push the fix for this issue particularly 👀

**Screenshot:**
![image](https://user-images.githubusercontent.com/23498248/113432448-02eb9500-

[2021-04-02 16:07] adithyaakrishna commented on #2558
Also to add to the above comment, there are two logos missing on the System Dashboard Page also,

**Screenshot:**
![image](https://user-images.githubusercontent.com/23498248/113432744-9329da00-93fb-11eb-898e-28d3c906fc2a.png)

[2021-04-02 16:29] s1ntaxe770r commented on #2623
Hi,  i would like to work on this

[2021-04-02 19:27] mgfeller commented on #2603
is this expected?

will test with one of the adapters that are working...

[2021-04-02 19:30] leecalcote commented on #2558
Good eye. The Meshery logo shows up when Meshery server doesn't have an active connection to a given adapter.

I'm not sure that I have the right details with regard to current formatting / alignment. If you have improved the formatting, yes, let's do it.

[2021-04-02 19:32] leecalcote commented on #2652
Challenge accepted! @hexxdump 💪 💻

[2021-04-02 21:53] leecalcote opened #2656 "[mesheryctl] Meshery Operator and its custom resources not deleted on `system stop`"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
`mesheryctl system stop` on Kubernetes does not remove the Meshery Operator and its custom resources.

#### Desired Behavior
Meshery Operator should be removed from the cluster, if present.

#### Implementation
1. Before deleting the Meshery Server pod, invoke the Meshery Server endpoi

[2021-04-02 22:48] leecalcote opened #2657 "[Provider] Meshery remote provider not available in Provider UI"
#### Description
Meshery Remote Provider is missing in the dropdown list of supported providers.

#### Expected Behavior
"Meshery" should be a choice.

#### Screenshots/Logs
<img width="501" alt="Screen Shot 2021-04-02 at 4 48 06 PM" src="https://user-images.githubusercontent.com/7570704/113459592-9e6d0d80-93db-11eb-8b2c-ba53d930f93e.png">

#### Environment:
- Meshery Version: v0.5.0 and v0.5.1
-

[2021-04-02 23:17] leecalcote opened #2658 "[mesheryctl] HTTPS used as endpoint in newly created contexts"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
https://localhost:9081/api/server/version is an invalid endpoint for most Meshery deployments. New `context`s created should default to `http`, not `https`.

#### Contributor Resources

- [mesheryctl Contributing Guide](https://github.com/layer5io/meshery/blob/master/mesheryctl/README.

[2021-04-02 23:17] leecalcote commented on #2657
@kumarabd @utkarsh-pro is this happening in your environments?

[2021-04-02 23:21] utkarsh-pro commented on #2657
@leecalcote we haven't deployed latest version of meshery cloud to production however we merged @kumarabd's PR which changed the capabilities endpoint to `/:meshery-version/capabilities`. Right now, there is no such endpoint as the latest meshery server is expecting so it fails to load the capabilities and hence nothing shows up in the UI.

[2021-04-02 23:22] leecalcote commented on #2657
oh, that makes sense. @kumarabd we have a mismatch here.

[2021-04-02 23:43] leecalcote commented on #2603
@mgfeller thank you. In the Meshery logs above, it seems that Meshery server is looking to the local filesystem when it should be looking to the environment.

`CreateInstance` - We do want to get to a place where Meshery Server’s communication with Adapters doesn’t rely on passing along on a valid kubeconfig, but currently, I think having one is still a required parameter.

[2021-04-03 04:12] #2422 closed

[2021-04-03 04:17] #2651 closed

[2021-04-03 04:18] #2622 closed

[2021-04-03 04:22] leecalcote commented on #2272
@dhruv0000 let's document how users can take advantage of this API.

[2021-04-03 06:44] adithyaakrishna commented on #2558
Okay got it, Will put these changes to the PR too :)

[2021-04-03 07:55] adithyaakrishna opened #2661 "[UI] - Changing Favicon from Non-Transparent With White Background to Transparent"
#### Description
The favicon for **Meshery** has a white background.

#### Expected Behavior
The favicon of meshery should have a transparent logo.

#### Screenshots/Logs:

**Before:**
![image](https://user-images.githubusercontent.com/23498248/113045344-5cb24c00-91bc-11eb-9be5-3ebb2e9d5151.png)

**After:**
![image](https://user-images.githubusercontent.com/23498248/113472281-d332a080-947f-11eb-9c

[2021-04-03 08:01] adithyaakrishna commented on #2661
Hey @leecalcote ,
This is the issue regarding the Favicon and it has been fixed in PR #2615

[2021-04-03 08:57] mgfeller commented on #2603
@leecalcote yes. this is in the cluster though, I think the error is not significant here (but should not occur). if it were significant, all adapters would fail, wouldn't they?

the `meshery` code does not treat adapters based on `meshkit` differently than those not using `meshkit` (how would it know anyway?).

from the code (`DetectKubeConfig`) it appears that if `kubeconfig` in `CreateInstance`

[2021-04-03 09:13] mgfeller commented on #2603
Testing with a functioning adapter, `meshery-osm`: `k8sReq.K8SConfig` is indeed empty.

[2021-04-03 09:33] piyushsingariya commented on #2610
@navendu-pottekkat I'm finally able to change the yaml files as supposed but their are still few things needs to be corrected.
Check the comparison here [Link](https://www.textcompare.org/?id=606835b8e5cd4f0014e74aa4) and I'm stuck with this error now
[code]

[2021-04-03 10:30] navendu-pottekkat commented on #2610
@piyushsingariya I do see some other changes in the link you shared...

[2021-04-03 11:03] piyushsingariya commented on #2610
Yeah, I'm having trouble dealing with them, could you check the changes so that you could guess what's going wrong?

[2021-04-03 11:04] mgfeller commented on #2603
@leecalcote @abhishekkumkar looks like I found a solution, at least `linkerd` (which I use for testing) can be pinged and installed (but only after giving the `meshery` service account the cluster-admin role).

[2021-04-03 12:45] metonymic-smokey commented on #2658
@leecalcote is this an issue specific to v0.5.1?
I created a context using v0.5 and it defaulted to `http` not `https`.

[2021-04-03 15:08] leecalcote commented on #2658
Hmm. I’m pretty sure that I was seeing this in v0.5.0 and v0.5.1. I wonder if you will have different results if you specify Kubernetes as the platform.

[2021-04-03 15:20] leecalcote commented on #2661
Oh, I see. Ok, you’ve already fixed this. Got it. Excellent.

[2021-04-03 15:20] #2661 closed

[2021-04-04 05:13] metonymic-smokey commented on #2658
@leecalcote this issue doesn't exist in v0.5-beta. It's a new issue in v0.5.

[2021-04-04 12:50] leecalcote commented on #2658
@metonymic-smokey Thank you. That sounds about right.

[2021-04-04 13:19] navendu-pottekkat commented on #2658
We changed this didn't we? i.e we changed to `http`

[2021-04-04 13:27] #2603 closed

[2021-04-05 05:11] navendu-pottekkat commented on #2434
Being fixed in #2601

[2021-04-05 06:36] onwuvic commented on #2598
@adithyaakrishna I got caught up with work. Please you can take it up

[2021-04-05 10:43] adithyaakrishna commented on #2598
Thank You @onwuvic :)

[2021-04-05 12:23] leecalcote commented on #2448
@adithyaakrishna this is something you might do.

[2021-04-05 13:19] adithyaakrishna commented on #2448
Yeah sure @leecalcote
Do assign me this, I would love to do this🚀

[2021-04-05 15:32] adithyaakrishna commented on #2498
@leecalcote Can I work on this? 👀
Ig I can finish it off with another issue #2448  as this is a very simple fix

[2021-04-05 18:18] piyushsingariya opened #2668 "[mesheryctl] Include `mesheryctl` in `system update`"
#### Current Behavior
Currently `mesheryctl` doesn't include any command to update globally installed `mesheryctl`

#### Desired Behavior
Request to include a feature sub-command to update globally installed `mesheryctl` under `version` command such as `mesheryctl version update`

[2021-04-05 18:21] adithyaakrishna commented on #2598
Hey @leecalcote, Can you please assign me this? :)

[2021-04-05 18:30] leecalcote commented on #2598
Sounds good. Thank you, @onwuvic, @adithyaakrishna

[2021-04-05 18:46] leecalcote commented on #2668
Thanks, @piyushsingariya. Good First Issue label removed. Design Required issue affixed.

[2021-04-05 18:48] leecalcote commented on #2668
Here are instructions on "[Creating a Functional Specification](https://docs.google.com/document/d/1RP3IWLc-MiQS-QYasqCoVuCH7--G87p5ezE5f_nOzB8/edit?usp=sharing)" to get you going.

[2021-04-05 18:51] leecalcote opened #2669 "[CI] Label Bot: Design Required label"
#### Current Behavior
GitHub issues that receive the "issue/design required" label do not automatically receive helpful, additional context like a comment from a bot with a link to the process document, [Creating a Functional Specification](https://docs.google.com/document/d/1RP3IWLc-MiQS-QYasqCoVuCH7--G87p5ezE5f_nOzB8/edit?usp=sharing). Contributors are not likely to know where to find this docum

[2021-04-05 19:20] leecalcote commented on #2304
@Nikhil-Ladha what else can we add to this doc? There are certain conventions and tools that we should probably highlight in the doc. Methods for identifying when to build a component vs. not. and so on...

[2021-04-06 03:01] Nikhil-Ladha commented on #2304
Yes, there can ve different types of issues, and they have different level of complexity. I will try and open a PR, to include those updates.

[2021-04-06 03:10] #2498 closed

[2021-04-06 03:18] metonymic-smokey commented on #2656
@leecalcote could I work on this issue?

[2021-04-06 03:21] navendu-pottekkat commented on #2656
@metonymic-smokey Sure, go ahead

[2021-04-06 11:27] aneeshnema commented on #2624
Currently, meshery has two API endpoints to fetch/search patterns:

1. `api/experimental/patternfile/{id}` can be used to fetch certain pattern based on the id provided.
2. `api/experimental/patternfile?search={name}` can be used to search patterns based on the name.

Since we want to allow the user to use both id or name to get a specific pattern, how do we differentiate what has the user provide

[2021-04-06 11:50] leecalcote commented on #2624
Hmm. // @utkarsh-pro @navendu-pottekkat

[2021-04-06 12:02] navendu-pottekkat commented on #2624
`mesheryctl pattern view --name <name>` or `mesheryctl pattern view --id <id>` should work in the case where we cannot distinguish them.

[2021-04-06 12:02] utkarsh-pro commented on #2624
Why not adopt a convention that if given parameter is a valid uuid (not guid, we specifically use uuid v4 for the pattern ids) then mesheryctl will search for the patternfile using the first endpoint while in other cases it will use the second endpoint?

Checking if a string is a valid uuid v4 should be as simple as matching a regex // @aneeshnema @leecalcote @navendu-pottekkat

[2021-04-06 12:07] navendu-pottekkat commented on #2624
That seems like a neat solution.

[2021-04-06 18:04] leecalcote commented on #2657
Fixed in new Meshery Cloud release.

[2021-04-06 18:04] #2657 closed

[2021-04-06 18:06] #2532 closed

[2021-04-06 18:06] leecalcote commented on #2531
Fixed in v0.5.0

[2021-04-06 18:06] #2531 closed

[2021-04-06 18:09] leecalcote commented on #2440
@hexxdump how do you suggest to proceed? Mark with label `issue/invalid` (essentially, "could not reproduce")?

[2021-04-06 20:34] #2621 closed

[2021-04-07 00:18] #2028 closed

[2021-04-07 01:21] hexxdump commented on #2440
@leecalcote I just had a word with @utkarsh-pro yesterday, I will raise a PR for this issue today.

[2021-04-07 01:50] leecalcote commented on #2458
@kumarabd Fixed?

Please take a moment to review your currently assigned issues and make quick updates where you can. 👍

[2021-04-07 02:40] leecalcote opened #2672 "[CI] mesheryctl: build failures for windows_arm_6: # golang.org/x/exp/mmap"
#### Current Behavior
mesheryctl builds for Windows on ARM are failing. See example - https://github.com/layer5io/meshery/pull/2666/checks?check_run_id=2283529963#step:6:65

#### Desired Behavior
Temporarily remove mesheryctl (goreleaser) support for this OS and Architecture combination until the mmap dependency fixes its issue with Windows on ARM.

#### Reference:
- [Meshery Build & Release Strat

[2021-04-07 03:57] #2672 closed

[2021-04-07 11:15] #2644 closed

[2021-04-08 06:53] aneeshnema opened #2678 "[meshery] `api/experimental/patternfile/{id}` throws Internal server error on invalid id"
#### Description
`api/experimental/patternfile/{id}` throws Internal server error (500) on invalid id
the response `failed to delete the pattern: record not found` is also wrong

#### Expected Behavior
The API should give a 404 response and the body should have the following message
`failed to get the pattern: record not found`

[2021-04-08 11:22] kumarabd opened #2680 "[Mesheryctl] Installation script fails"
#### Description
Mesheryctl installation script fails with the following error:

[code]

#### Environment:
- Meshery Version: v0.5.1
- Kubernetes System Type: docker-desktop
- Host OS:
- Browser:

[2021-04-08 12:02] Naimaoye commented on #1146
Hi @leecalcote, is this issue still open? If yes, I would like to work on it

[2021-04-08 13:12] hexxdump commented on #2680
I tried this locally on a Linux m/c.

[code]

unzip command is failing on Linux OS.
I do not think its due to the recently introduced "-o" option to unzip, as the unzip command fails even without -o option.

[code]

Checked whether the meshery.zip file is correct or not.

[code]

[code]
The issue is with https://github.com/meshery/meshery/releases/download/v0.5.1/ path. It throws 404.

[2021-04-08 13:16] leecalcote commented on #2678
A fine-looking write up. :)

[2021-04-08 13:18] #2678 closed

[2021-04-08 16:11] kumarabd commented on #2680
@hexxdump Are you pushing the fix for this tonight?

[2021-04-08 16:26] hexxdump commented on #2680
@kumarabd
I see that the new github path for release v0.5.1 has only the source.zip file - https://github.com/meshery/meshery/archive/refs/tags/v0.5.1.zip
But not the platform specific zip files. This could be an issue with how the https://github.com/meshery/meshery/releases/ page is updated.

[code]

The fix should be to copy the OS and architecture specific zip files under https://github.com/mes

[2021-04-08 18:46] hwpplayer1 commented on #2680
On Ubuntu 20.04.2 Focal

[code]

[2021-04-08 19:43] leecalcote commented on #2680
@hwpplayer1 test again on v0.5.2, if you would.

[2021-04-08 20:03] leecalcote commented on #2680
@Gorim @aneeshnema, the issue of installing `mesheryctl` is fixed in today's v0.5.2 release. Please find

[code]

back in working order. 👍

[2021-04-08 20:03] #2680 closed

[2021-04-08 20:12] leecalcote opened #2682 "[Provider UI] Eliminate extra mouse click in dropdown selection"
#### Current Behavior
Users get confused when they select a provider and their selection is seeming unaccepted. See the recorded demo.

#### Desired Behavior
This dropdown list in the Provider UI, should close with the selected item highlighted when the user chooses one.

#### Implementation
See the provider ui folder in the root of this repo.

#### Screencast

https://user-images.githubuserconten

[2021-04-08 20:13] leecalcote commented on #2272
Reminder. :)

[2021-04-08 20:38] leecalcote opened #2683 "[Docs] README: Add WebAssembly feature description"
**Current State:**
Meshery supports deployment of WebAssembly filters to Envoy-based data planes. The https://meshery.io site describes this feature:

<img width="1322" alt="Screen Shot 2021-04-08 at 3 37 54 PM" src="https://user-images.githubusercontent.com/7570704/114093180-6a349980-9880-11eb-8789-6c31a235f0a0.png">

**Desired State:**
This repo's [readme.md](https://github.com/layer5io/meshery#

[2021-04-08 20:41] leecalcote opened #2684 "[Docs] README: Update the SMP screenshot"
**Current State:**

The screenshot showing a performance graph to describe the SMP feature is out of date in the [Meshery README](https://github.com/layer5io/meshery#readme).

**Desired State:**

A [new, animated gif](![](https://meshery.io/images/screens/service%20mesh%20performance%20example.gif)
) shows off this feature in a better way. The readme should be updated to use this new gif.

---
**C

[2021-04-08 21:26] leecalcote commented on #1146
Hi @Naimaoye, yes, please.

[2021-04-09 07:03] navendu-pottekkat commented on #2658
Closing this as we have already fixed this in PR #2602

[2021-04-09 07:03] #2658 closed

[2021-04-09 07:31] piyushsingariya commented on #2580
@Maxgit3 any updates on this?

[2021-04-09 11:35] Lezette commented on #2682
I would like to work on this issue @Ruth-ikegah

[2021-04-09 11:37] Ruth-ikegah commented on #2682
sure @Lezette! Knock it off!

[2021-04-09 12:36] #2440 closed

[2021-04-09 15:03] kumarabd opened #2696 "[Meshery] Auto register Controlplane addons"
#### Current Behavior
The addons endpoints are available in a graphQL query.
`Query - getAvailableAddons()`

#### Desired Behavior
These Addons(Grafana,prometheus) needs to be registered automatically when meshery server boots up.

#### Useful Resources
Graphql Schema - https://github.com/layer5io/meshery/blob/master/internal/graphql/schema/schema.graphqls

---
**[Contributor Guide](https://docs.m

[2021-04-09 20:21] leecalcote commented on #36
@navendu-pottekkat fixed?

[2021-04-09 21:08] leecalcote opened #2698 "[mesheryctl] logs: unable to see a Meshery container's logs on Kubernetes platform"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
Unable to view logs for a Meshery container.

#### Screenshots/Logs
[code]

- Meshery Version: v0.5.2
- PlatformL kubernetes

---

#### Contributor Resources

- [mesheryctl Contributing Guide](https://github.com/layer5io/meshery/blob/master/mesheryctl/README.md)
- [Beginner's guide to

[2021-04-09 21:13] leecalcote opened #2699 "[mesheryctl] `system status` does not provide necessary output for use in `system logs`"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
Users are forced to run a `kubectl` command in order to find the pod name for the Meshery container's logs that they want to view.

#### Desired Behavior
1. Allow deployment name to be used instead of pod name.
or
2. Provide pod name with `system status`

---

[code]

#### Environment

[2021-04-09 22:30] #2278 closed

[2021-04-09 22:34] leecalcote opened #2701 "[CI] Helm Chart Releaser: stat install/meshery/Chart.yaml: no such file or directory"
#### Description
Release workflow failed with the following error - https://github.com/layer5io/meshery/runs/2309863342?check_suite_focus=true#step:4:8

#### Screenshots/Logs
[code]

[2021-04-10 05:24] navendu-pottekkat commented on #36
This is partially fixed. We still need to pick up some values that are not exposed currently by the API. The results are formatted correctly currently but there are missing values. See PR #2605

[2021-04-10 07:30] deepthiir commented on #2684
Hey @leecalcote, Can I work on this?

[2021-04-10 08:55] piyushsingariya commented on #2699
I did suggest that in slack for an extension in the `system logs` in which logs could be printed for specific deployment but I guess everyone missed it :confused:

[2021-04-10 08:58] piyushsingariya commented on #2698
Currently, we do not support printing logs for a specific pod/deployment, logs are printed collectively.
and, I did suggest that in slack for an extension in the `system logs` in which logs could be printed for specific deployment but I guess everyone missed it :confused:

[2021-04-10 11:22] JoyNwaiwu commented on #2699
@navendu-pottekkat, Please I'll like work on this.

[2021-04-10 12:35] piyushsingariya commented on #2698
@navendu-pottekkat we can add a flag `-n` to grab the deployment name and if it is there we could print out logs specific to that deployment name. :thought_balloon:

[2021-04-10 12:37] leecalcote commented on #2698
@piyushsingariya,  interacting. What would the”n” stand for?

[2021-04-10 12:40] piyushsingariya commented on #2698
@leecalcote I was thinking `-n` as the "name" of the deployment we want to print the logs for.

[2021-04-10 12:54] navendu-pottekkat commented on #2698
@piyushsingariya @leecalcote Why would we need a flag? Just mentioning the adapter name should work right?

[2021-04-10 12:58] adithyaakrishna commented on #2598
Hey @leecalcote
I guess this issue is fixed way long ago, not sure which PR but I was about to work on this, but saw it was coming properly,
Here's the SS of the same :)
![image](https://user-images.githubusercontent.com/23498248/114270528-8116ef80-9a2a-11eb-902d-bb5aca848b34.png)

[2021-04-10 13:05] piyushsingariya commented on #2698
@navendu-pottekkat How exactly? I'm not aware of it. could you enlighten me? :thinking:
Can we grab args with cobra without flags?

[2021-04-10 13:54] Naimaoye commented on #1146
Hi @leecalcote could you please unassign this to me. I realized that I am only supposed to contribute to mesheryctl

[2021-04-10 13:56] navendu-pottekkat commented on #2698
Yes, we can. The logs subcommand could have a postional argument for the logs subcommand. See https://github.com/spf13/cobra#positional-and-custom-arguments

[2021-04-10 14:22] Naimaoye commented on #2698
can I have this please?

[2021-04-10 14:52] navendu-pottekkat commented on #2698
Sure @Naimaoye

[2021-04-10 15:06] leecalcote commented on #1146
Hi @Naimaoye, you bet.

Please know that you’re most welcome to contribute anywhere you have an interest. 👍

[2021-04-11 00:43] Anita-ihuman commented on #2684
I will like to take up this issue

[2021-04-11 15:27] Abiola-Farounbi commented on #2683
Hi, I would like to be assigned this issue

[2021-04-11 15:29] adithyaakrishna commented on #2598
I checked the same across 3 browsers, Firefox, Chrome and Edge but the text was not being cut off. @leecalcote Please do let me know if this is a browser specific issue 👀

[2021-04-11 23:02] Maxgit3 commented on #2580
@piyushsingariya yes, working on creating the function to fetch the cached manifests.  New to Golang but I am picking it up.

[2021-04-11 23:29] leecalcote commented on #2683
Wonderful. 😀

[2021-04-12 10:51] #2272 closed

[2021-04-12 14:41] #2683 closed

[2021-04-12 16:30] leecalcote commented on #2684
Excellent, @Anita-ihuman :)

[2021-04-12 19:08] #2610 closed

[2021-04-13 03:18] #2600 closed

[2021-04-13 03:19] #2701 closed

[2021-04-13 06:33] navendu-pottekkat opened #2708 "[mesheryctl] `system context list` to list all the contexts"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

`mesheryctl system context view` will show the config for the `current-context` and `mesheryctl system context view --context <context name>` will show the config for the context `<context name>`.

#### Desired Behavior

However, users cannot view all the available contexts from the C

[2021-04-13 09:29] piyushsingariya commented on #2699
Hey @JoyNwaiwu any update, Need any help?

[2021-04-13 15:20] #2304 closed

[2021-04-13 15:20] leecalcote opened #2709 "[mesheryctl] `pattern apply -f` to support retrieval from GitHub"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
`pattern apply -f` only supports local filesystem URIs.

#### Desired Behavior
`pattern apply -f` should also support retrieval of pattern files from GitHub.

#### Implementation
Using the endpoints created in PR https://github.com/layer5io/meshery/pull/2705

#### Acceptance Tests
1. U

[2021-04-13 15:59] #2107 closed

[2021-04-13 17:22] piyushsingariya commented on #2580
@Maxgit3 if you need any help, keep it posted here!

[2021-04-13 18:11] leecalcote opened #2711 "[CI] GitHub Action to run SMI conformance tests"
**Current Behavior**
Meshery is the Service Mesh Interface (SMI) conformance tool. It verifies the compatibility of any service mesh with that of SMI. Conformance tests can be invoked from either of Meshery's two clients: the UI or CLI.

`mesheryctl mesh validate` command validates service mesh conformance to different standard specifications.

**Desired Behavior**

A GitHub Action/Workflow should

[2021-04-13 22:57] JoyNwaiwu commented on #2699
Yes @piyushsingariya, sent a DM on Slack.

[2021-04-14 03:30] Kn99HN commented on #2708
Hi,

Can I work on this?

[2021-04-14 04:25] navendu-pottekkat commented on #2708
@Kn99HN Sure, go ahead. I will assign it to you.

[2021-04-14 06:00] #2684 closed

[2021-04-14 10:27] piyushsingariya commented on #2607
@navendu-pottekkat @kumarabd How exactly we can verify that the Meshery ServiceAccount has the "ClusterAdmin" role?

[2021-04-14 16:04] kumarabd commented on #2607
@piyushsingariya from the manifest I believe. @navendu-pottekkat  can you help me out with the location where mesheryctl fetches from?

[2021-04-14 16:06] pottekkat commented on #2607
The manifest files are fetched from here- https://github.com/meshery/meshery/tree/master/install/deployment_yamls/k8s

These are then stored locally in `.meshery/manifests` folder.

@kumarabd

[2021-04-14 16:06] leecalcote commented on #2607
Quick confirmation - does the compose.yaml live in the manifests folder, too?

[2021-04-14 16:33] navendu-pottekkat commented on #2607
Nope, it lies outside @leecalcote

[2021-04-14 18:35] piyushsingariya commented on #2607
@navendu-pottekkat if manifest files are the way to check the "ClusterAdmin" role, then do we actually need to verify that in preflight? I mean we're already stating that in our manifest files so it doesn't make sense to verify that through checking files :thinking:. plus where exactly we are assigning "ClusterAdmin" role in the files?

and what are the minimum versions for kubectl and k8s respect

[2021-04-15 17:09] #2708 closed

[2021-04-15 18:13] Maxgit3 opened #2716 "[Docs] Main contributing docs missing link to mesheryctl contributing.md"
**Current State:**  In the github repo under the contributing mark down file there is no link to to the mesheryctl contributing markdown file.

**Desired State:**  A small section about contrtibuting to mesheryctl and a link to the mesheryctl contributing file

---
**Contributor Resources**
- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation source](https://github.com

[2021-04-15 18:25] leecalcote commented on #2716
Good one, @Maxgit3 👍

[2021-04-15 19:04] leecalcote opened #2717 "[UI] Add comma to one thousandths place in performance test results number"
#### Current Behavior
On the http://localhost:9081/performance page, large performance test result numbers are missing commas (see screenshot).

#### Desired Behavior
A comma should be inserted into each thousandths place in the performance results number. This insertion can be done client-side in React.

#### Screenshot
<img width="712" alt="Screen Shot 2021-04-15 at 1 59 28 PM" src="https://user

[2021-04-15 20:16] leecalcote commented on #2202
@navendu-pottekkat, let's chew through this and get @pulberg up and running.

[2021-04-15 20:54] #2608 closed

[2021-04-15 20:56] leecalcote commented on #2716
@Maxgit3, would you like to address this issue?

[2021-04-15 20:59] #2656 closed

[2021-04-15 21:23] leecalcote commented on #337
Meshery v0.5.0 now allows users to switch on and off individual add-ons.

<img width="1808" alt="Screen Shot 2021-04-15 at 4 20 58 PM" src="https://user-images.githubusercontent.com/7570704/114939964-c199b300-9e06-11eb-885f-594cc56c65b4.png">

[2021-04-15 22:56] Kn99HN commented on #2709
Can I try my hand at this feature?

[2021-04-15 23:43] leecalcote commented on #2709
That would be excellent, yes, @Kn99HN. 👍

[2021-04-16 15:39] piyushsingariya commented on #2588
Hey @sakshi3537 any update over this?

[2021-04-16 17:03] sakshi3537 commented on #2588
Actually I got busy somewhere and didn't do it yet, but I will complete it in 2-3 days.

[2021-04-17 02:54] Aisuko commented on #2202
I design an approach to describe how we can support this. The link below https://docs.google.com/document/d/1tepj5g4hT934R17YKzpjgqkoIcLxzl7N8nkhxkqD7ig/edit?usp=sharing

[2021-04-17 02:58] Aisuko commented on #2202
I believe we have all processes automated deployed by ansible scripts, right? @spring-bu please show us some tips, I mean how to do this the air-gapped (or someone calls this off-line). I believe we need new repo to do this.

[2021-04-17 10:27] #2593 closed

[2021-04-17 18:12] adithyaakrishna commented on #2717
@leecalcote Can I work on this? 👀

[2021-04-17 19:40] Kn99HN commented on #2717
Hi, I can add this since it should be pretty quick

[2021-04-17 21:15] Kn99HN opened #2723 "[UI] Programs page is covered by footer"
#### Description
Programs page at `https://meshery.io/programs` is hidden by the footer

#### Expected Behavior
Subcribe form should be visible to user and not hidden

#### Screenshots/Logs

<img width="1440" alt="Screen Shot 2021-04-17 at 5 13 09 PM" src="https://user-images.githubusercontent.com/44149581/115126876-4f5cd600-9fa0-11eb-9cba-b01e41e20c99.png">

#### Environment:
- Meshery Version:
-

[2021-04-17 21:18] Kn99HN commented on #2723
Whoops, wrong repo

[2021-04-17 21:18] #2723 closed

[2021-04-18 06:29] piyushsingariya commented on #2607
@leecalcote @kumarabd

[2021-04-18 07:48] chinmaym07 commented on #2723
Hey @Kn99HN  Good catch.. This is a valid issue ..
Please Open it here https://github.com/meshery/meshery.io

[2021-04-18 09:38] metonymic-smokey commented on #2588
I think the PR for this was merged right @sakshi3537 ?
Next time, just mention the issue number according to the PR template, makes it easier to keep track :)

[2021-04-18 09:42] sakshi3537 commented on #2588
@metonymic-smokey Yes it has been merged. and yeah I will keep it in mind for the next time.

[2021-04-18 11:54] metonymic-smokey commented on #2588
@leecalcote this issue can be closed.

[2021-04-18 13:01] #2588 closed

[2021-04-18 15:37] piyushsingariya commented on #2623
@s1ntaxe770r any update over here?

[2021-04-18 16:02] s1ntaxe770r commented on #2623
Yeah , I'm almost done just need to format dates and also waiting on #2671 to be merged in so i can use --token as a global flag

[2021-04-19 00:00] leecalcote commented on #2717
Very good!

[2021-04-19 07:21] Maxgit3 commented on #2716
@leecalcote sure I can work on this

[2021-04-19 12:27] s1ntaxe770r opened #2726 "[Docs] Broken link on Nginx Service Mesh page"
**Current State:**
The [link](https://docs.meshery.io/service-meshes/adapters/nginx-sm) to check progress on the Nginx Service Mesh adapter currently returns a 404.

<img width="1428" alt="image" src="https://user-images.githubusercontent.com/53065463/115236459-4d675400-a113-11eb-90d5-bd8443b9a134.png">

**Desired State:**
Add an appropriate link to the page.

---
**Contributor Resources**
- [Mesh

[2021-04-19 13:13] adithyaakrishna commented on #2726
@s1ntaxe770r The Correct Link is, https://github.com/meshery/meshery-nginx-sm Right? 👀
Also, Can you please assign this to me? 😶

[2021-04-19 14:31] #2624 closed

[2021-04-19 14:48] #2726 closed

[2021-04-20 00:56] Kn99HN opened #2728 "[Meshery] experimental/patternfile/import/github.com/ ref query"
I think this would round out the import via GitHub feature!

#### Current Behavior
`experimental/patternfile/import/github.com/` supports import file via GitHub URL by supplying `path/to/patternfile` for query `path`

#### Desired Behavior

GitHub API for fetching [repository](https://docs.github.com/en/rest/reference/repos#get-repository-content) also supports `ref` query which allows user to ref

[2021-04-20 02:09] leecalcote commented on #2728
Makes much sense. 👍

I suspect that before support for pattern import from GitHub moves out of experimental that the query string parameters will be shifted to POST data. This shift might affect the suggested implementation (which falls inline with the current implementation’s approach), but not materially affect the proposed functionally.

// @utkarsh-pro

[2021-04-20 02:12] leecalcote commented on #2728
@Kn99HN if you keep this up, we’re going to have to extend your GitHub user an invitation to join the ‘meshery’ GitHub org. Your engagement here is excellent.

[2021-04-20 05:34] #2261 closed

[2021-04-20 10:03] leecalcote commented on #2261
@dhruv0000 is this fixed?

[2021-04-20 12:21] dhruv0000 commented on #2261
Yes, it was fixed.

[2021-04-20 13:01] leecalcote opened #2729 "[roadmap] Docs: Update mesheryctl section for v0.5.0"
#### Current Behavior
Meshery's roadmap for the `mesheryctl` v0.5.0 release is in need of retroactive updating.

#### Desired Behavior
The [roadmap.md](https://github.com/layer5io/meshery/blob/master/ROADMAP.md) should reflect the following for the mesheryctl section:

[code]

---
**[Contributor Guide](https://docs.meshery.io/project/contributing)**

[2021-04-20 13:04] #2717 closed

[2021-04-20 15:06] leecalcote commented on #2716
Thank you, @Maxgit3

[2021-04-21 00:58] Maxgit3 commented on #2580
@piyushsingariya it looks like Meshery doesnt save the manifest list to a file.  The manifest list that the Apply Manifest function uses.  would it be prudent to write another file to the local
meshery folder

[2021-04-21 02:38] Aisuko opened #2730 "[Docs][roadmap] Docs: Update meshery section for v0.5.0"
**Current State:**

**Desired State:**

---
**Contributor Resources**
- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)
- [Instructions for contributing to documentation](https://github.com/layer5io/meshery/blob/master/CONTRIBUTING.md#documentation-contribution-flow)

[2021-04-21 07:50] piyushsingariya commented on #2580
We shouldn't probably think about writing a new file, and the manifest list is more like a reference to the files downloaded in the .meshery folder.
Can I ask what is your exact strategy here?

[2021-04-21 15:36] leecalcote opened #2731 "[Docs] Roadmap: add `system config` refactoring"
**Current State:**
mesheryctl RoadMap is missing upcoming changes to `system config`.

**Desired State:**
The `mesheryctl` roadmap should list:
- `system config` refactor for minikube for v0.6.0.
- `system config` refactor for GKE for v0.6.0.
- `system config` refactor for EKS for v0.7.0.
- `system config` refactor for AKS for v0.7.0.
- `system config` refactor for docker-compose for v0.8.0.

---

[2021-04-21 15:37] leecalcote commented on #2731
@hexxdump I neglected to highlight the importance of minikube on the call. Are there any refactoring considerations that we should include for this platform? // @kumarabd @navendu-pottekkat

[2021-04-21 16:32] navendu-pottekkat commented on #2731
I don't think we need to refactor it. We do not have any dependencies for minikube.

[2021-04-21 17:02] leecalcote commented on #2731
Gotcha. That makes sense: no refactoring. This is an opportune time to consider how to streamline this, if possible, though. Can we detect that Minikube is present? Can we execute the flatten and minify command on their behalf? Can we avoid the need to make users go get a Meshery token in the UI and come back to the CLI (have that kubeconfig manipulation logic in mesheryctl, too)? Users seem to ge

[2021-04-21 17:31] navendu-pottekkat commented on #2731
Yes, that is something that we should consider... And also, they need to properly network the adapters running on docker with minikube which might take a while... If we can also, do this with what you mentioned it would be great. I'm not sure if this is feasible though. @hexxdump ideas?

[2021-04-22 01:25] Aisuko commented on #2730
@bnbjin I believe you can take this one

[2021-04-22 04:40] navendu-pottekkat opened #2737 "[mesheryctl] Updating Meshery `endpoint` automatically in the `current-context`"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

Meshery can be deployed into different Kubernetes platforms. However, the endpoints in which Meshery is accessible can be changed. This would result in the user having to manually configure their `config.yaml` to use the new endpoint.

![Screenshot from 2021-04-22 10-00-27](https://us

[2021-04-22 06:09] #2730 closed

[2021-04-22 11:58] piyushsingariya commented on #2607
@navendu-pottekkat These are the permissions for the meshery serviceAccount.
[code]
any thought/approach on verifying (programmatically) the permissions?

[2021-04-22 12:14] leecalcote commented on #2607
@piyushsingariya alternatively or in addition to this, can you verify that the meshery service account is has the clusteradmin role?

[2021-04-22 12:33] Aisuko commented on #2729
Close due to #2734

[2021-04-22 12:33] #2729 closed

[2021-04-22 13:45] piyushsingariya commented on #2607
[code]
I don't think we are assigning clusteradmin to meshery service account? or may be I'm mistaken. :thinking:

[2021-04-22 16:59] piyushsingariya commented on #2607
@leecalcote @kumarabd I just had a small doubt while working on figuring how to verify the `clusteradmin` role and that is,

if `preflight` is the check for verifying env details before meshery deployment then why are we having this check with pre-deployment? I mean this should be the part of the post-deployment checks.

[2021-04-22 17:07] piyushsingariya commented on #2737
I would like to give this a shot!

[2021-04-22 17:30] navendu-pottekkat commented on #2737
Of course! @piyushsingariya

[2021-04-22 20:42] Maxgit3 commented on #2580
@piyushsingariya I was following the same flow of fetchmanifests function where the return was the manifest list that was being applied to the apply manifest function.  it looks like the apply manifest funtion is using the list to determine which adapters to apply

[2021-04-22 20:50] leecalcote commented on #2607
Piyush, you're right. This check is a health check of an existing Meshery
deployment. I haven't been able to keep pace your work here, but will
acknowledge the that original issue's design may need reflection. A `system
check` with `--preflight` flag to confirm a lesser number or different
considerations is most likely necessary.

On Thu, Apr 22, 2021 at 11:59 AM Piyush Singariya ***@***.***>
wrot

[2021-04-23 01:55] Aisuko opened #2740 "[CI] The GitHub Action of CodeQL not work"
#### Description

https://github.com/layer5io/meshery/actions/runs/772847992/workflow
#### Expected Behavior

The CI can work well
#### Screenshots/Logs

#### Environment:
- Meshery Version:
- Kubernetes Version:
- Host OS:
- Browser:

[2021-04-23 06:16] navendu-pottekkat opened #2741 "CRUD for WASM filters"
#### Desired Behavior

Meshery should have 2 new API endpoints-

`/api/experimental/filter` `(GET- get details of all filters POST- create a new filter)`

`/api/experimental/filter/{id}` `(GET- get details of a specific filter)`

In addition to the new API endpoints, `mesheryctl` should also have a new experimental command `mesheryctl exp filter` which leverages the above API endpoints for CRUD co

[2021-04-23 09:08] piyushsingariya commented on #2607
So for the `preflight` command, we don't need to include `cluster-admin` role check, and with that, I think I'm ready to raise a PR.

after that, I'll work on collecting all these things that I learned during this time in a design spec for the `system check`.

[2021-04-23 14:34] piyushsingariya commented on #2737
@navendu-pottekkat can you explain this, I'm a bit confused about this

[2021-04-24 07:21] navendu-pottekkat commented on #2737
The Meshery config file has a field for endpoint which by default is localhost:9081. When Meshery discovers the actual endpoint, it should also change this field in the Meshery config.

[2021-04-24 08:57] piyushsingariya commented on #2737
btw @navendu-pottekkat @leecalcote  we should add some new labels like `platform/kubernetes` and `platform/docker` to distinguish the specificity of the issue regarding the platform.

[2021-04-24 10:18] piyushsingariya commented on #2737
In k8s case right?

I mean we forcefully deploying meshery on the endpoint mentioned in the context in docker's case
plus can you explain/point to what is the actual endpoint in the case mentioned in the above screenshot? (So that I don't make any mistakes)

[2021-04-24 12:59] #2448 closed

[2021-04-25 05:39] leecalcote commented on #2737
@kumarabd Will you point out the utility in MeshKit that can be used here?

[2021-04-25 09:39] #2280 closed

[2021-04-25 16:30] #2731 closed

[2021-04-26 06:26] navendu-pottekkat commented on #2540
This should be looked into when we work on the `perf apply` command

[2021-04-26 09:36] kumarabd commented on #2737
@piyushsingariya this should help you discover meshery Kubernetes endpoint - https://github.com/meshery/meshkit/blob/master/utils/kubernetes/service.go#L26

[2021-04-26 13:29] piyushsingariya commented on #2737
Thanks!! @kumarabd

[2021-04-27 10:50] adithyaakrishna opened #2747 "[Docs] - Update Release Version to v0.5.2"
**Current State:** The below image shows, we do not have v0.5.2
![image](https://user-images.githubusercontent.com/23498248/116229467-2b557d80-a774-11eb-97f7-b1d04840c541.png)

**Desired State:**
A new version, v0.5.2 has to be updated along with the link to the release

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](h

[2021-04-27 12:18] kumarabd opened #2749 "[Docs]Change platform casing for Kubernetes"
Casing for the platform parameter needs to be changed

**Current State:**
https://docs.meshery.io/installation/platforms/kubernetes
Platform: Kubernetes

**Desired State:**
Platform: kubernetes

---
**Contributor Resources**
- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)
- [Instructions for contributin

[2021-04-27 12:22] kumarabd opened #2750 "[Meshery] Auto-initializing Kubernetes client for in-cluster deployments"
#### Current Behavior
When meshery is installed inside the Kubernetes cluster, the Kubernetes client doesn't get initialised automatically.

#### Desired Behavior
Initialize kubernetes client during init, when meshery is running inside the cluster.

---
**[Contributor Guide](https://docs.meshery.io/project/contributing)**

[2021-04-27 12:26] kumarabd opened #2751 "[Meshery] Provider screen drop down item"
#### Description
Drop down item in provider screen doesn't disappear after the provider is selected.

#### Expected Behavior
The Drop down should ideally disappear after the provider has been selected.

#### Screenshots/Logs
<img width="1792" alt="Screenshot 2021-04-27 at 5 55 51 PM" src="https://user-images.githubusercontent.com/10404724/116240750-d02a8780-a781-11eb-9e1d-0d548b39fc72.png">

####

[2021-04-27 12:36] kumarabd opened #2752 "[Mesheryctl] Print meshery endpoint after deployment"
#### Description
Meshery endpoint information needs to be printed in the output log, where meshery is available after deployment.

#### Implementation
Use meshkit service discovery in case of Kubernetes deployment.

commands:
mesheryctl system start

---
**[Contributor Guide](https://docs.meshery.io/project/contributing)**

[2021-04-27 12:36] #2750 closed

[2021-04-27 12:40] adithyaakrishna commented on #2749
@kumarabd Can I fix this along with #2747 ?

[2021-04-27 12:41] metonymic-smokey commented on #2752
@kumarabd could I give this a shot?

[2021-04-27 12:42] leecalcote commented on #2749
Does this need to be address within `mesheryctl` as well? This template is embedded in the code.

[2021-04-27 13:17] kumarabd commented on #2752
SURE

[2021-04-27 13:38] kumarabd commented on #2749
Yes sure that sounds good

[2021-04-27 15:08] #2747 closed

[2021-04-27 15:08] #2749 closed

[2021-04-27 15:10] leecalcote opened #2754 "[Docs] Add release notes from v0.4.21 to v0.5.1"
**Current State:**
Release notes for those versions of Meshery were not auto-published.

**Desired State:**
All releases should have their notes on docs.meshery.io

Also Fix Date in v0.4.2 Release at https://docs.meshery.io/project/releases

---
**Contributor Resources**
- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tr

[2021-04-27 15:47] adithyaakrishna commented on #2754
Release Notes Incoming 🌠

[2021-04-27 15:49] leecalcote commented on #2754
Yeah, baby! 💥

[2021-04-27 20:51] #2607 closed

[2021-04-27 21:17] ramrodo commented on #2612
I think this workflow works as you all can see in this PR closed: https://github.com/meshery/meshery/pull/2681

It will only be triggered at releasing a new version of meshery.

[2021-04-27 21:27] leecalcote commented on #2612
Drafting of release notes. ✅
Publishing of release notes. ❌

Right?

[2021-04-27 21:40] ramrodo commented on #2612
I don't think so. I think both are working.

- Drafting of release notes
![image](https://user-images.githubusercontent.com/2797052/116315981-ed0d8d80-a776-11eb-821e-79f6829056ff.png)

- Auto publishing of release notes to Meshery Docs.
![image](https://user-images.githubusercontent.com/2797052/116316002-f39c0500-a776-11eb-8ca0-826cc797d202.png)

We don't have release notes from _v0.4.20_ to _v0.5

[2021-04-27 21:42] leecalcote commented on #2612
Oh, ok. I could be misunderstanding the state of the flows. I'm hopeful this is the case. :) We're ready to make a v0.5.3 release, I believe and should be able to prove this out.

[2021-04-27 22:40] ramrodo commented on #2612
Yeah! It's a good opportunity to prove this out 👍🏼

[2021-04-28 03:17] metonymic-smokey opened #2758 "[mesheryctl] Versioned download of operator manifests"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
Currently, operator manifests for `mesheryctl` are downloaded the same way as adapters. The latest version is downloaded from a fixed URL and if a change is required, the user has to change it manually.

#### Desired Behavior
Operator manifests should be downloaded based on version. Th

[2021-04-28 03:18] metonymic-smokey commented on #2758
//adding @leecalcote @navendu-pottekkat @kumarabd to this thread.

[2021-04-28 03:23] leecalcote commented on #2758
Thank you

[2021-04-28 04:17] leecalcote commented on #2398
@aayushdutt i wonder if you might be able to solve this one.

[2021-04-28 05:19] navendu-pottekkat commented on #2758
This is a little tricky. @leecalcote we decided that this should behave similar to how the users are able to modify the adapter docker images manually by modifying the meshery.yaml file. In that case, it could be done by just modifying the tag of the image.

But for the operator manifests, there is no way for the user to specify the version currently than modifying the mesheryctl source code.

Not

[2021-04-28 11:56] #2754 closed

[2021-04-28 14:30] Khusyasy commented on #2398
Hi, is this issue still open?

[2021-04-28 15:09] pottekkat commented on #2737
@piyushsingariya Related- https://github.com/meshery/meshery/pull/2761

[2021-04-28 15:28] adithyaakrishna commented on #2716
@Maxgit3 Any progress here? 👀

[2021-04-28 19:44] leecalcote commented on #2398
Hi @Khusyasy, yes, it is. It would be great if you would like to take a crack at it.

[2021-04-28 21:37] leecalcote opened #2763 "[mesheryctl] `perf` should not require a running Docker process"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
`mesheryctl perf` requires require Docker to be running.

**Example**

[code]

#### Desired Behavior
`mesheryctl perf` should not require Docker to be running.

- Meshery Version: v0.5.2
- Platform: Docker

#### Contributor Resources

- [mesheryctl Contributing Guide](https://github.co

[2021-04-28 21:44] Khusyasy commented on #2398
Okay @leecalcote I'll take a look at this one as soon as possible.

[2021-04-28 23:00] Khusyasy commented on #2398
Hey @leecalcote I'm sorry I think I can't finish this task, because I'm using a windows machine and it seems that I can't set up and run the project.

[2021-04-29 09:42] adithyaakrishna commented on #2763
@leecalcote I was looking into this issue, so had to confirm these, when mesheryctl perf is run, it performs this function

![image](https://user-images.githubusercontent.com/23498248/116528784-d8a5ce00-a8f9-11eb-9ea0-5ef62d5587b6.png)

Can I create a new function for removing this check?
![image](https://user-images.githubusercontent.com/23498248/116531951-55867700-a8fd-11eb-8e4e-ba2c955114b1.png

[2021-04-29 11:37] navendu-pottekkat opened #2765 "[mesheryctl] CRUD for WASM filters"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Desired Behavior

With this PR #2748, API endpoints for filter CRUD have been added to Meshery.

`mesheryctl` should use this endpoints to create CRUD commands for filters similar to `pattern` command.

These commands should be under `exp` (experimental) commands.

Subcommands to be added- `apply`, `de

[2021-04-29 12:22] #2740 closed

[2021-04-29 12:36] leecalcote commented on #2763
Great research, @adithyaakrishna. In this case, the check can just be removed.

[2021-04-29 12:37] leecalcote commented on #2763
I meant to tag Joy and Naimot on this issue when I opened it just in time for She Code Africa.

[2021-04-29 12:39] leecalcote opened #2766 "[mesheryctl] Global help: change "performance testing" to "performance management""
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
The default help text in `mesheryctl` uses the phrase "performance testing".

#### Desired Behavior

The project has graduated from this and should use the phrase "Performance Management" instead.

#### Screenshots/Logs
[code]

#### Environment

- Meshery Version: v0.5.2

#### Contribu

[2021-04-29 13:35] alphaX86 commented on #2669
Well, I have some Q here.... what type of bot it's using to label issues? The GitHub Actions or the probot one? And what kind of triggering do you expect to fire the bot up?
These are the Q I need for now

[2021-04-29 13:38] leecalcote commented on #2669
Probot is being used. Application of the `issue/design required` label is the ideal trigger, if possible.

[2021-04-29 13:42] adithyaakrishna commented on #2763
No No, I completely understand. @Ruth-ikegah had pinged me about this. The above stuff can help them finish the work soon :)

[2021-04-29 13:51] adithyaakrishna commented on #2766
Anyone willing to work on this, here's a bit of info to get you started. The perf command is located in `perf.go` inside `mesheryctl\internal\cli\root\perf`

[2021-04-29 13:59] #2751 closed

[2021-04-29 14:17] alphaX86 commented on #2669
Alright, I'll look on it and try

[2021-04-29 14:28] alphaX86 commented on #2669
Well I got one from GitHub Actions....
https://github.com/peaceiris/actions-label-commenter

Will this suffice?

[2021-04-29 14:52] piyushsingariya opened #2767 "[mesheryctl] Centralize `preflight` checks for meshery deployment and `PreRunE` for commands"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for the current status of commands._

#### Desired Behavior
Recently `preflight` checks have been added with #2743. it is proposed to, Centralize these pre-deployment checks, and Design for reuse

Currently, there are functions like `utils.PreReqCheck` and `startdockerdaemon`. This issue focuses on merging preflight checks and these functio

[2021-04-29 14:54] Nikhil-Ladha commented on #2766
Sure @fallmor . Please go ahead with this. And if at all you face any issue, please feel free to join our slack workspace [slack.meshery.io](slack.meshery.io) and get your questions settled.

[2021-04-29 14:58] piyushsingariya commented on #2767
I think a simple boolean parameter will do the magic here, but I'll include a sample in the design spec to have some reviews/suggestions from the peers.

[2021-04-29 15:05] Naimaoye commented on #2763
can this be assigned to us already?

[2021-04-29 16:01] JoyNwaiwu opened #2768 "Updating the README.md"
#### Description
I would like to update a markdown error in the [readme.md file
](https://github.com/layer5io/meshery#adhering-to-service-mesh-standards)

#### Expected Behavior
In an effort to produce service mesh agnostic tooling, Meshery uses the [service mesh performance](https://smp-spec.io) as a...
#### Screenshots/Logs
In an effort to produce service mesh agnostic tooling, Meshery uses the

[2021-04-29 19:44] #2741 closed

[2021-04-30 01:27] #2520 closed

[2021-04-30 03:03] Maxgit3 commented on #2580
@navendu-pottekkat @piyushsingariya

I wanted to run this code past you:

[code]
I am using the first function to fetch the local files and only fetch remotely if there is an error.  I get an error though declaring manifests.  it does not recognize the Manifest struct type even though it looks like Manifest.go is imported

[2021-04-30 04:29] navendu-pottekkat commented on #2580
@Maxgit3 Not sure what the error is... It would be best if you make a draft PR so that we can look into the code properly

[2021-04-30 04:48] #2768 closed

[2021-04-30 05:27] piyushsingariya commented on #2580
I think this would work like this, @Maxgit3
[code]
It would be best if we could look into the exact code!

[2021-04-30 07:23] #2766 closed

[2021-04-30 10:45] #2763 closed

[2021-04-30 23:43] fallmor commented on #2767
hello can i give a shot ?
also i don't have access to the drive to see the design spec https://docs.google.com/document/d/1WUbupfwrnzKlmh_T5eCkDjMfsVxlGgAwaLa46t3Kn_0/edit?ts=607fe9fe#

[2021-05-01 00:05] leecalcote commented on #2767
@fallmor, thanks for noting your lack of access. If you will fill in a community member form, access can then be granted - https://layer5.io/newcomer

[2021-05-01 01:07] fallmor commented on #2767
thank you @leecalcote  i have access now. I'm going to work on this issue

[2021-05-01 04:57] piyushsingariya commented on #2767
@fallmor Could you lookout for some other issue? I'm already working on it.
Sorry I didn't assign it to myself!

[2021-05-01 06:14] hexxdump commented on #2319
The '--silent` flag has been replaced with `--y` flag for all `mesheryctl system` commands.

[2021-05-01 06:15] #2319 closed

[2021-05-01 16:45] theprogrammedwords commented on #2577
This issue can be closed I think as the PR is merged. Thanks.

[2021-05-02 04:34] DelusionalOptimist opened #2800 "[mesheryctl] mesheryctl panics when validating the latest release tag"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

While executing many commands, mesheryctl uses the GitHub API for fetching the latest release tag and alerts the user if a new update is available. Some adapters also use this.

The GitHub API has a rate limit of 5000 requests per hour and the user may cross this. When this happens, m

[2021-05-02 04:50] pottekkat commented on #2800
Thanks for opening up this issue. Could you toss in a fix for this if it is possible?

@meshery/mesheryctl-contributors FYI if someone likes to take it up

[2021-05-02 05:04] navendu-pottekkat opened #2801 "[mesheryctl] Automatically updating meshconfig file"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

`mesheryctl` is unable to parse old `meshconfig`(`.meshery/config.yaml`) files-

[code]

#### Desired Behavior

This is because the `meshconfig` file the user has will have been created by an older version of `mesheryctl` and the user may be using a new version of `mesheryctl` in whic

[2021-05-02 05:13] DelusionalOptimist commented on #2800
Thanks @navendu-pottekkat, this should be a small fix, I'll send a PR for this 😀.

[2021-05-02 05:22] navendu-pottekkat opened #2802 "Add Filters in Meshery UI"
#### Current Behavior

Meshery server now supports CRUD for WASM filters.

#### Desired Behavior

Meshery should have a Filters page on the UI which will be used work with WASM Filters.

The UI will look similar to the Patterns UI (/configuration/patterns).

![Screenshot from 2021-05-02 10-45-08](https://user-images.githubusercontent.com/49474499/116803306-08401a80-ab34-11eb-9f86-f5f069646bf0.png)

[2021-05-02 09:02] alphaX86 commented on #2669
Can I work this then? :)

[2021-05-02 10:40] Chadha93 commented on #2682
@Ruth-ikegah I would also like to take up this issue. But where can I find the "select your provider" field in the meshery live site?
because I am not able to find that particular field there.

[2021-05-02 12:18] Nikhil-Ladha commented on #2682
Ohh unfortunately 😛  , this issue is fixed in duplicated issue #2751. Hence, we can close the issue it seems.

[2021-05-02 12:18] Nikhil-Ladha commented on #2682
@leecalcote you can close when you check it.

[2021-05-02 13:24] Chadha93 commented on #2716
@adithyaakrishna can I take up this issue, if yes, you can assign me

[2021-05-02 14:49] mertgor opened #2804 "Permission denied while running installation script"
#### Description

Install script fails and returns permission denied
#### Expected Behavior

I expect it to install meshery to system Ubuntu 20.04 LTS
#### Screenshots/Logs

![Screenshot from 2021-05-02 17-49-21](https://user-images.githubusercontent.com/74842488/116817384-c2547800-ab6e-11eb-94b9-5f931788d2b3.png)

#### Environment:
- Meshery Version:
- Kubernetes Version:
- Host OS:
- Browser:

[2021-05-02 15:10] leecalcote commented on #2804
The permission message seems to be a red herring. // @hexxdump

[2021-05-02 15:11] #2800 closed

[2021-05-02 15:16] leecalcote commented on #2530
@kumarabd please wrap this up this week. v0.5.0 was released some time ago.

[2021-05-02 15:16] leecalcote opened #2805 "[Docs] Review contributing docs and improve as needed"
**Current State:**

<img width="375" alt="Screen Shot 2021-05-02 at 10 14 55 AM" src="https://user-images.githubusercontent.com/7570704/116818152-6f0f0500-ab2f-11eb-8810-65b8c2b1f3a9.png">

**Desired State:**
@pranav-bhatt will you review https://docs.meshery.io/project/contributing and update to provide any clarity you consider would be helpful?

---
**Contributor Resources**
- [Meshery documenta

[2021-05-02 15:22] leecalcote commented on #2804
@ramrodo the lack of published mesheryctl binaries in the recent releases causes this installation script to fail.

[2021-05-02 16:09] hexxdump commented on #2804
I could change the meshery script to check the file size before trying to unzip it.

[2021-05-02 19:09] leecalcote commented on #2682
Oh, I see. Ok, yes, closing out this duplicate issue.

[2021-05-02 19:09] #2682 closed

[2021-05-02 19:09] #2575 closed

[2021-05-02 19:25] leecalcote commented on #2800
Yay, @DelusionalOptimist! 🎈

[2021-05-02 20:12] adithyaakrishna commented on #2716
@Chadha93 I guess, @Maxgit3 is working on this, let's wait for 2 days. If it's not done, then you can go ahead :)

[2021-05-02 20:24] leecalcote commented on #2669
@alphaX86 yes, looks good. 👍

[2021-05-02 21:18] ramrodo commented on #2804
Ok, I'm still working on that fix. I'll submit a new PR today.

[2021-05-02 21:46] Maxgit3 commented on #2716
@adithyaakrishna sorry for the late reply.  I was going to work on it after figuring out the other issue.  if need be, you can assign it to another.

[2021-05-02 21:48] Maxgit3 commented on #2580
@navendu-pottekkat ok will do

[2021-05-02 23:53] fallmor commented on #2801
hello i'am searching a new issue to work on. can i take this ?

[2021-05-03 00:00] leecalcote commented on #2801
@fallmor, yes, sounds great.

[2021-05-03 01:02] #2804 closed

[2021-05-03 07:12] adithyaakrishna commented on #2716
@Chadha93 You can go ahead with this 🚀

[2021-05-03 10:49] Chadha93 commented on #2716
@adithyaakrishna I have made the required changes you may kindly check and provide feedback.

[2021-05-03 16:13] #2716 closed

[2021-05-03 20:04] chinmaym07 commented on #2398
Hey @Khusyasy 👋🏻 No problem ...
I think this issue is of [docs.meshery.io](https://docs.meshery.io/) & it is built using Jekyll ..

You can refer to this [docs.meshery.io readme](https://github.com/meshery/meshery/tree/master/docs) to setup & run the project locally ..
If you still face the issue do reach out to us on slack . We'll be more happy to help 👍🏻 😁

Have you joined the Layer5 Community -

[2021-05-03 20:53] #2623 closed

[2021-05-03 21:10] #2669 closed

[2021-05-04 02:25] #2801 closed

[2021-05-04 03:59] leecalcote opened #2820 "[Docs] Write up security vulnerability: SQL Injection in /experimental/patternfiles"
**Current State:**
A SQL Injection vulnerability was reported.

**Desired State:**
This vulnerability has [been patched](https://github.com/layer5io/meshery/pull/2745), assigned a CVE, and is now time to announce. The vulnerability should be disclosed in Meshery Docs under List of Announced Vulnerabilities - https://docs.meshery.io/project/security-vulnerabilities.

---
**Contributor Resources**
-

[2021-05-04 04:02] leecalcote commented on #2820
CVE-2021-31856

[2021-05-04 06:53] ssst0n3 commented on #2820
I was amazed at how quickly the meshery team worked, only four days from my initial bug report to the patch. Thank you for your excellent work in fixing this vulnerability. You guys are very professional!

[2021-05-04 11:24] kumarabd opened #2822 "[Meshery] Meshmap static default configuration"
#### Description
Add a default static configuration for meshery extension when there is a failure with graphql plugin or MeshSync.

#### Expected Behavior
The default configuration needs to be displayed instead of re-rendering extension endpoint every time which is the current scenario.

#### Environment:
- Meshery Version: v.0.5.X
- Kubernetes Version: any
- Host OS: any
- Browser: any

[2021-05-04 12:48] navendu-pottekkat opened #2823 "[mesheryctl] (epic) `perf` commands for performance tests"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

Meshery supports running performance tests using SMP. Users can also use performance profiles in the UI to save their performance tests.

#### Desired Behavior

`mesheryctl` should also have a similar user experience to the GUI.

It should also have CRUD commands to manage performance

[2021-05-04 12:57] navendu-pottekkat opened #2824 "[mesheryctl] (child) Invoke test via Performance Profile"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

See epic [perf commands for performance tests](https://github.com/layer5io/meshery/issues/2823) and the [design spec](https://docs.google.com/document/d/1znOqTofsXkcPTF1AXVVSHGEZa5kue6G8vGHM4nsc2tc/edit#) for more details.

#### Desired Behavior

As a `mesheryctl` user, I would like to run performance tests

[2021-05-04 13:02] navendu-pottekkat opened #2825 "[mesheryctl] (child) List all Performance Profiles"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

See epic [perf commands for performance tests](https://github.com/layer5io/meshery/issues/2823) and the [design spec](https://docs.google.com/document/d/1znOqTofsXkcPTF1AXVVSHGEZa5kue6G8vGHM4nsc2tc/edit#) for more details.

#### Desired Behavior

As a `mesheryctl` user, I would like to list all my available

[2021-05-04 13:06] navendu-pottekkat opened #2826 "[mesheryctl] (child) List all test results for a Performance Profile"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

See epic [perf commands for performance tests](https://github.com/layer5io/meshery/issues/2823) and the [design spec](https://docs.google.com/document/d/1znOqTofsXkcPTF1AXVVSHGEZa5kue6G8vGHM4nsc2tc/edit#) for more details.

#### Desired Behavior

As a `mesheryctl` user, I would like to list all the results

[2021-05-04 13:10] navendu-pottekkat opened #2827 "[mesheryctl] (child) View Performance Profile’s Configuration"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

See epic [perf commands for performance tests](https://github.com/layer5io/meshery/issues/2823) and the [design spec](https://docs.google.com/document/d/1znOqTofsXkcPTF1AXVVSHGEZa5kue6G8vGHM4nsc2tc/edit#) for more details.

#### Desired Behavior
As a `mesheryctl` user, I would like to view the configuration

[2021-05-04 13:13] navendu-pottekkat opened #2828 "[mesheryctl] (child) View Details of a Test Result of Performance Profile"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

See epic [perf commands for performance tests](https://github.com/layer5io/meshery/issues/2823) and the [design spec](https://docs.google.com/document/d/1znOqTofsXkcPTF1AXVVSHGEZa5kue6G8vGHM4nsc2tc/edit#) for more details.

#### Desired Behavior

As a mesheryctl user, I would like to view the result of a pe

[2021-05-04 14:55] navendu-pottekkat opened #2829 "[mesheryctl] `system context view` does not show the name of the `current-context`"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

Users can view the `current-context` as shown below-
[code]

#### Desired Behavior

Users should also be able to view the `current-context`'s name as shown below-
[code]

---

#### Contributor Resources

- [mesheryctl Contributing Guide](https://github.com/layer5io/meshery/blob/master

[2021-05-04 15:07] navendu-pottekkat opened #2830 "[mesheryctl] `mesheryctl system context view <context-name>`"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

Related issue #2829

#### Current Behavior

Users can view the current-context as shown below-

[code]

#### Desired Behavior

Users should also be able to view contexts that are not the `current-context` by their names-

[code]

---

#### Contributor Resources

- [mesheryctl Contributing Guide](https://git

[2021-05-04 15:39] samirparhi-dev commented on #2830
@navendu-pottekkat  : let me take this up.

[2021-05-04 15:49] samirparhi-devOps commented on #2829
@navendu-pottekkat : Let me take this up

[2021-05-04 15:53] navendu-pottekkat commented on #2699
@JoyNwaiwu How are things coming up here?

[2021-05-04 15:54] navendu-pottekkat commented on #2698
@Naimaoye Progress on fixing this issue? Any blockers?

[2021-05-04 16:02] samirparhi-dev commented on #2829
@navendu-pottekkat : Kindly Assign to this Account .

[2021-05-04 18:29] ramrodo opened #2831 "[CI] Re-enable Edge Release Workflow"
#### Current Behavior

Due to the merge of these PRs:
- https://github.com/layer5io/meshery/pull/2806
- https://github.com/layer5io/meshery/pull/2770

the Edge Release Workflow was removed temporarily.

#### Desired Behavior

Have Edge version/release with the latest commits merged in master

#### Implementation

#### Acceptance Tests

#### Reference:
- [Meshery Build & Release Strategy](https://d