[2020-06-20 05:56] Nikhil-Ladha commented on #1150
If I may ask @kushthedude , what is the issue with the current anchor? Because the '#name_of_tab' makes sense here, considering these are subparts within a page if we use '/name_of_tab' that indicates a new page adding in the route.

[2020-06-20 06:01] Nikhil-Ladha commented on #1150
If I am correct, the issue that you are saying are two of them:

- On submitting the preferences in the performance tab the page reloads back to the environment tab rather than staying on the same one.

- On initial rendering of the settings page, the path is just settings, rather it should be having the '#environment' sub link added to it.

Are these the issues you are talking about?

[2020-06-20 11:59] kanishkarj commented on #896
@leecalcote one approach to this is to store the result in some format, and then when downloading convert it to SMPS format. And the other is to store in meshery in the SMPS format. Which would be better? Also, another thing is that SMPS does not hold the details of the histogram.

[2020-06-23 03:04] #1153 closed

[2020-06-23 03:10] #146 closed

[2020-06-23 03:36] leecalcote opened #1168 "[Docs] Add `system config` as new `mesheryctl` command"
**Current State:**
The https://meshery.layer5.io/docs/guides/mesheryctl doc does not include the new `mesheryctl system config` command created in PR https://github.com/layer5io/meshery/pull/1084

**Desired State:**
The docs should include this new command along with example usage.

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentati

[2020-06-23 04:00] leecalcote commented on #1168
cc @chandrashritii

[2020-06-23 04:11] #1099 closed

[2020-06-23 09:58] chandrashritii commented on #1168
@leecalcote I'm working on it

[2020-06-23 19:12] #944 closed

[2020-06-23 20:55] chandrashritii commented on #1168
@leecalcote Please review #1170

[2020-06-23 20:58] chandrashritii commented on #1154
@leecalcote Can I work on this?

[2020-06-23 21:37] leecalcote commented on #1154
thank you, @chandrashritii.That would be great.

[2020-06-23 22:39] leecalcote opened #1171 "[Performance] Error retrieving user's initial performance test preferences"
**Description**
![Untitled](https://user-images.githubusercontent.com/7570704/85473140-6c8b6880-b578-11ea-86ab-3b7d8399daf2.gif)

[2020-06-23 23:06] leecalcote opened #1172 "[Docs] Update GKE and EKS Quick Start Instructions with `mesheryctl system config`"
**Current State:**
`mesheryctl system config` is a new feature to assist in the configuration of the kubeconfig file used by Meshery for interacting with remote, managed Kubernetes clusters operated by Cloud providers.

**Desired State:**
Given this new feature, let's:

1. Take much of what is on the [GKE](https://meshery.layer5.io/docs/installation/gke#quick-start-with-google-kubernetes-engine-gk

[2020-06-23 23:07] #1168 closed

[2020-06-23 23:07] leecalcote commented on #1172
@chandrashritii feel free to grab this one, if you like. 👍

[2020-06-23 23:40] chandrashritii commented on #1172
@leecalcote I'll start working on it asap. Thanks for asking me :)

[2020-06-24 20:49] #354 closed

[2020-06-25 21:12] kushthedude commented on #1145
Fixed in #1151

[2020-06-25 21:12] #1145 closed

[2020-06-25 21:23] #1171 closed

[2020-06-25 21:25] leecalcote opened #1174 "[CI] Push to Docker Hub only in presence of Release Tag"
**Currently Behavior**
A copy of Meshery server is "released" with every merge to `master` branch.

**Desired Behavior**
Update ci.yml to only push docker images in the presence of a release tag. Tag docker images akin to the method used for `learn-layer5` with a slight tweak: prefix each release tag with the word "stable".

**Example**
_Image 1_
- layer5/meshery:stable-latest
- layer5/meshery:sta

[2020-06-25 23:10] leecalcote commented on #1154
@chandrashritii fyi - https://layer5.io/community#meshmates

[2020-06-25 23:26] chandrashritii commented on #1154
@leecalcote Thanks for the link!
Also, the `balloon` emoji in the [project/contributing](https://meshery.layer5.io/docs/project/contributing) page isn't visible when built with jekyll.
It can be corrected simply by adding a [jemoji plugin](https://github.com/jekyll/jemoji) in the Gemfile and updating the _config.yml file. Should I add that?

![Screenshot_2020-06-26 Contributing](https://user-image

[2020-06-25 23:27] leecalcote commented on #1154
Good catch. Yes, adding this plugin sounds great.

[2020-06-26 04:16] chandrashritii commented on #1154
@leecalcote Updated the Newcomer's Welcome Guide with a description of [MeshMates](https://docs.google.com/document/d/17OPtDE_rdnPQxmk2Kauhm3GwXF1R5dZ3Cj8qZLKdo5E/edit#bookmark=id.b4o1pib29db0).

[2020-06-26 04:24] leecalcote commented on #1154
@chandrashritii Nice. I toss in a couple minor updates in other areas of the Newcomer's Welcome Guide. We're good to go here. ✔️

[2020-06-26 04:59] #1154 closed

[2020-06-26 18:38] tharun208 commented on #1050
Also, better suggestion is to also add a make command to run `golangci-lint` as a developer practice. Before, pushing the changes.

[2020-06-28 15:36] harsh-not-haarsh commented on #1083
@kushthedude can you assign this to me?

[2020-06-28 18:44] leecalcote commented on #1083
@harsh-not-haarsh fyi - here is the PR that recently brought in this functionality - https://github.com/meshery/meshery/pull/1047

[2020-06-29 21:41] chandrashritii commented on #1076
@aayushdutt I'd like to work on this. Is there a work around for accessing mesheryctl without `docker` being configured to work with sudo or does `docker` have to be  necessarily configured to work with `sudo`?

[2020-06-29 23:40] leecalcote commented on #1076
@chandrashritii we'd do well to simply refer users to these instructions - https://docs.docker.com/engine/install/linux-postinstall/. Even better if we given them this link in the error message from `mesheryctl`.

[2020-07-01 00:55] dhruv0000 commented on #893
Can I work on this @kushthedude ?

[2020-07-01 01:40] kushthedude commented on #893
Sure, go ahead @dhruv0000

[2020-07-01 23:06] leecalcote opened #1186 "[CI] Establish "stable" release channel: manifest update"
**Current Behavior**
A copy of Meshery server is "released" with every merge to master branch.

**Desired Behavior**
Update the docker-compose and Kubernetes manifests to use the "stable-latest" tag.

---
**Resources**
- See issue: #1174
- [Meshery Build & Release Strategy](https://docs.google.com/document/d/11nAxYtz2SUusCYZ0JeNRrOLIxkgmmbUVWz63MBZV2oE/edit#heading=h.25ywhtn8rxkj)

[2020-07-01 23:18] #1174 closed

[2020-07-02 01:34] leecalcote opened #1187 "[CI] Establish "stable" release channel: Make release v0.3.17"
**Description**
We need a set of images with the  "stable-latest" tag assigned.

---
**Resources**
- See issue: #1174
- [Meshery Build & Release Strategy](https://docs.google.com/document/d/11nAxYtz2SUusCYZ0JeNRrOLIxkgmmbUVWz63MBZV2oE/edit#heading=h.25ywhtn8rxkj)

[2020-07-02 03:12] leecalcote commented on #1187
v0.3.17 released to support `stable-latest` - https://github.com/meshery/meshery/releases/tag/v0.3.17

[2020-07-02 03:12] #1187 closed

[2020-07-02 03:50] leecalcote opened #1190 "[mesheryctl] add `system reset` function to `system update`"
**Current Behavior**
As the "stable" release channel is created, users will not naturally upgrade to this channel. Their ~./meshery/meshery.yaml file will need to be updated. This update is only made when performing a `system reset`.

**Desired Behavior**
Users upgrading to newer versions of Meshery should be updated to the stable release channel, unless they have otherwise specified the "edge" ch

[2020-07-02 04:15] leecalcote opened #1191 "[mesheryctl] incorporate traffic.proto into `perf` test using SMP config"
Yes, we will likely need a traffic proto. For now, HTTP GET, gRPC ping, and TCP open/close can be supported by logic in `mesheryctl` only.

_Originally posted by @leecalcote in https://github.com/layer5io/meshery/pull/1156_

[2020-07-02 04:22] leecalcote commented on #921
tagging @kumarabd

[2020-07-02 15:26] leecalcote commented on #1050
Great suggestion, @tharun208. 👍

[2020-07-02 17:43] #596 closed

[2020-07-02 19:44] #1150 closed

[2020-07-02 21:04] #893 closed

[2020-07-02 21:09] kushthedude opened #1193 "[Docs] Mention about `make run-tests` in contributing.md"
**Current State:**

We now have ability to test some of the CI checks on local machine using `make run-tests`, there is no mention of this command in our contributing file & respective docs.

**Desired State:**
Mention about `make run-tests` in contributing.md

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://git

[2020-07-03 04:18] #1172 closed

[2020-07-03 04:38] leecalcote opened #1194 "[Docs] Update Release docs with v0.3.16 and v0.3.17"
**Current State:**
https://meshery.layer5.io/docs/project/releases is missing these last two releases.

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)
- [Instructions for contributing to documentation](https://github.com/layer5io/meshery/blob/master/CONTRIBUTING.md#

[2020-07-03 04:39] leecalcote commented on #180
Is this something that you might be able to look at?

[2020-07-03 07:08] morrme commented on #1194
Not sure if these should be left to other new comers to the project, but either way, I did some digging and here is what is needed to complete this task:

[0.3.16 Release Info](https://github.com/meshery/meshery/releases/tag/v0.3.16)  Released on June 22, 2020
[0.3.17 Release Info](https://github.com/meshery/meshery/releases/tag/v0.3.17) Released on July 1, 2020 (seems like only the most recent re

[2020-07-03 07:12] morrme commented on #847
@leecalcote @kushthedude should this one be closed?

[2020-07-03 12:10] Aisuko commented on #1149
@PmcFizz Would you like to look at this?

[2020-07-03 12:17] PmcFizz commented on #1149
ok I will fix it @Aisuko

[2020-07-03 12:17] PmcFizz commented on #1149
ok I will fix it

[2020-07-03 13:07] kushthedude commented on #847
Yes! Thanks @morrme

[2020-07-03 13:07] #847 closed

[2020-07-03 16:16] leecalcote opened #1197 "[Docs] Upgrade to Jekyll 4.0.1"
**Current State:**
The docs site is running Jekyll 4.0.0.

**Desired State:**
The docs site needs to be updated to Jekyll 4.0.1.

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)
- [Instructions for contributing to documentation](https://github.com/layer5io/meshery/bl

[2020-07-03 16:22] #1194 closed

[2020-07-03 16:28] morrme commented on #1194
@leecalcote in general, what is your project's policy on this? Are those who have previously contributed to "good first issues" eligible to take on others, or are they reserved for newcomers?
Hope the info provided above at least helped  get it done faster :)

m

[2020-07-03 16:34] leecalcote commented on #1194
@morrme, I missed your comment above (regarding the research that you did).

Great question. Simple answer: tear through as many issues as your heart desires irrespective of labels. 😄 More than this, if you see an issue of interest, but notice that it's already assigned to someone, please don't let that stop you from asking if you can collaborate or take over the issue entirely. Often contributors

[2020-07-03 16:38] leecalcote commented on #1194
@morrme and @shwegyi198361, also note that there are open issues and help wanted across many different repos in the community. You're welcomed and encouraged to try your hand at any of them - https://github.com/issues?utf8=✓&q=is%3Aopen+is%3Aissue+archived%3Afalse+org%3Ameshery+label%3A%22help+wanted%22+.

Slack isn't for everyone, but know that there's much that transpires in the community in the

[2020-07-04 20:39] leecalcote opened #1199 "[mesheryctl] Perf command - panic: runtime error: invalid memory address or nil pointer dereference"
**Description**
Running `mesheryctl perf` results the following error:

[code]

**Environment:**
 - Version: v0.3.17

[2020-07-04 20:44] leecalcote opened #1200 "[mesheryctl] Create global constant to reference Meshery docs site"
**Current Behavior**
`mesheryctl` has the URL to the Meshery documentation site hard-coded in some areas. Example:

[code]

**Desired Behavior**
- [ ] A `DOCS_BASEURL` should be created as a global reference in `mesheryctl`.
- [ ] Each of the hard-coded references to Meshery documentation should be updated with this global constant.

[2020-07-04 21:53] leecalcote opened #1201 "[CI] Use "stable-latest" release channel for all Meshery Adapters"
**Current Behavior**
A copy of Meshery server is "released" with every merge to master branch.

**Desired Behavior**
Update all Meshery adapter images in the docker-compose and Kubernetes manifests to use the "stable-latest" tag.

---
**Resources**
- See issue: #1174
- [Meshery Build & Release Strategy](https://docs.google.com/document/d/11nAxYtz2SUusCYZ0JeNRrOLIxkgmmbUVWz63MBZV2oE/edit#heading=h.

[2020-07-05 00:10] leecalcote commented on #1022
@nitishm have we packaged a default `mesheryctl-config.yaml` for inclusion in the releases, yet?

[2020-07-05 00:21] leecalcote opened #1204 "[Docs] List network ports in Adapters table"
**Current State:**
The adapters table (https://meshery.layer5.io/docs/service-meshes/adapters) should have a third column for network port.

**Desired State:**
Should include the port number for each adapter just like this table - https://meshery.layer5.io/docs/architecture#network-ports. The same logic can be used.

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.laye

[2020-07-05 00:27] leecalcote commented on #1199
@kanishkarj fyi (something for after exams are over)

[2020-07-05 00:28] #788 closed

[2020-07-05 00:33] #603 closed

[2020-07-05 00:38] nitishm commented on #1022
I don't think so. Not yet at least.

[2020-07-05 03:28] leecalcote commented on #963
Closing given functionality provided in #1202

[2020-07-05 03:28] #963 closed

[2020-07-05 03:31] leecalcote commented on #1204
@morrme feeling up to this task?

[2020-07-05 03:36] #62 closed

[2020-07-05 03:38] leecalcote commented on #211
@kushthedude given PR #1180, will you update the tasks in this issue to reflect current status?

[2020-07-05 04:34] leecalcote commented on #612
@subhamkrai here's an example from v0.3.18:

![Untitled](https://user-images.githubusercontent.com/7570704/86525594-be70a000-be4e-11ea-9b5e-960f06f9ebde.gif)

@Nikhil-Ladha recently provided a fix for reloading component data.

[2020-07-05 04:43] leecalcote opened #1205 "[CI] Error on copy of Properties.yaml file"
**Description**
See the error log in this workflow output - https://github.com/layer5io/meshery/runs/837983542?check_suite_focus=true#step:6:1773

**Expected Behavior**
Images should build and get pushed when release tag is present.

**Related**
- PR #1198

[2020-07-05 04:50] leecalcote opened #1206 "[mesheryctl] Improve `version` error message when server is unreachable"
**Description**
When the Meshery server API is unreachable, the following error is shown to the user when executing `meshery version`:

[code]

**Expected Behavior**
A couple minor wording updates will improve this error message:

- [ ] Provide actual /api/server/version endpoint in message.
- [ ] Change from "Ensure that Meshery is available." to
[code]

[2020-07-05 04:52] leecalcote commented on #567
@dhruv0000, perhaps, you could take a crack at this?

[2020-07-05 05:09] leecalcote commented on #1205
@kumarabd given the recent PR that you've made to track this information as env vars, perhaps, we should simply revert PR #1198. // @naturalett

[2020-07-05 05:30] #1201 closed

[2020-07-05 05:32] leecalcote commented on #1205
Fixed by #1203

[2020-07-05 05:32] #1205 closed

[2020-07-05 07:00] leecalcote opened #1207 "[Docs] Update Kuma adapter logo in Meshery Docs"
**Current State:**
Using the old logo now.

**Desired State:**
Should use new SVG logo.

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)
- [Instructions for contributing to documentation](https://github.com/layer5io/meshery/blob/master/CONTRIBUTING.md#documentation-c

[2020-07-05 07:38] kumarabd commented on #921
@nitishm There can be two scenarios in this case:

1. If the project is supposed to start with mesheryctl, we can have a functionality to auto-discover the config and call the server api to load based on the config.
2. The server during initialization, looks for $HOME/.kube/config and loads up the config. This way we dont need an api integration or command line discovery.

I would strongly recomme

[2020-07-05 08:01] kushthedude commented on #211
@leecalcote The last part should fix when we have gRPC test functionality also.

[2020-07-05 09:05] chandrashritii commented on #1204
@leecalcote can I work on this?

[2020-07-05 12:16] morrme commented on #1204
@leecalcote I was still testing my solution, and I guess someone beat me to it! Thanks for thinking of me anyway!

[2020-07-05 16:40] leecalcote commented on #921
@kumarabd Yes, #2 is how Meshery was previously functioning. This bug is a regression issue. Ideally, we'll reinstate the functionality as described in #2. You're right - this is why we mount the $HOME/.kube directory in the Dockerfile.

[2020-07-05 16:47] leecalcote commented on #1204
Thank you, @chandrashritii. ✔️

@morrme, no sweat. There's more where this came from. 😉

[2020-07-05 17:27] leecalcote opened #1211 "[Docs] List NightHawk as a soon-to-be supported load generator"
**Current State:**
The Load Generator section of the [Meshery Extensibility page](https://meshery.layer5.io/docs/extensibility#which-are-currently-supported) lists two load generators (fortio and wrk2). Soon the Meshery project will support [NightHawk](https://github.com/envoyproxy/nighthawk).

**Desired State:**
List NightHawk with a short description as a load generator that Meshery will soon su

[2020-07-05 17:34] leecalcote opened #1212 "[Docs] Update "Create doc issue" hyperlink to use new GitHub issue label"
**Current State:**
The "Create doc issue" hyperlink on the Meshery Docs site is out of date. It refers to a GitHub issue label `docs` that this project no longer uses. This project now uses the `area/docs` label instead.

<img width="1256" alt="Screen Shot 2020-07-05 at 12 28 09 PM" src="https://user-images.githubusercontent.com/7570704/86540022-219e1900-bec7-11ea-99fe-0077b48e8ac5.png">

**Desire

[2020-07-05 17:39] leecalcote opened #1213 "[Docs] Add login page screenshot to "Providers" section"
**Current State:**
There are no screenshots of the Meshery UI showing readers what it looks like to select a Provider and login.

**Desired State:**
Incorporate the screenshot below into the [Providers section](https://meshery.layer5.io/docs/extensibility#providers) of the Meshery Docs.

**Screenshot**
<img width="977" alt="Meshery - Providers" src="https://user-images.githubusercontent.com/757070

[2020-07-05 17:42] leecalcote opened #1214 "[Docs] Add all Supported Platforms to the list"
**Current State:**
The table of [Supported Platforms](https://meshery.layer5.io/docs/installation/platforms) for Meshery is missing a few of the platforms that the projects supports.

**Desired State:**
Edit [platforms.md](https://github.com/layer5io/meshery/blob/master/docs/pages/installation/platforms.md) to list all of the same platforms that are included in the Meshery [README.md](https://gith

[2020-07-05 22:35] Adeola-Adesoba commented on #1212
Hi Lee,
I will like to help work on this.

[2020-07-05 22:37] leecalcote commented on #1212
Hi @Adeola-Adesoba, that would be fantastic. Yes, please. 👍

[2020-07-06 00:11] Adeola-Adesoba commented on #1213
Hi Lee,
Where should the screenshot go? I was thinking I should place it under this header: https://meshery.layer5.io/docs/extensibility#types-of-providers

What do you think?

[2020-07-06 02:06] leecalcote commented on #1213
@Adeola-Adesoba sounds real good. Alternatively, a couple sections higher, right here - https://meshery.layer5.io/docs/extensibility#providers, would do the trick as well.

[2020-07-06 02:09] morrme commented on #1213
@leecalcote Adeola is just working in the browser right now so I did #1216 to help her get this done in one commit :)

[2020-07-06 02:12] leecalcote commented on #1213
Oh, awesome. A coordinated effort. 😄 Teamwork, baby, teamwork.

[2020-07-06 02:53] #1212 closed

[2020-07-06 06:29] #1211 closed

[2020-07-06 11:13] #1214 closed

[2020-07-06 15:48] kanishkarj commented on #1199
@leecalcote could you try running it on a local build of mesheryctl instead of the release build of mesheryctl. Because it is working on my system. I am assuming it is something with the build.

[2020-07-06 17:16] #1213 closed

[2020-07-06 18:16] rshivam08 commented on #1206
@leecalcote, I want to take up this issue.

[2020-07-06 19:07] leecalcote commented on #1206
Sounds great, @rshivam08. ✔️

[2020-07-06 19:08] #1204 closed

[2020-07-07 02:31] PmcFizz commented on #1149
@leecalcote  I am use  material-ui's  autocomplete  component to replace text field on  `Duration` field ,  can  you tell me the drop-dwon options  what user can selected ?

[2020-07-07 02:40] Aisuko opened #1235 "[BUG] Helm charts deployment failed."
**Description**

[code]

**Expected Behavior**

**Screenshots**

**Environment:**
 - OS: [e.g. Ubuntu]
 - Browser: [e.g. Chrome, Safari]
 - Version: [e.g. 22]
 - Device: [e.g. laptop, iPhone 8]

---
[Optional] **To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[Optional] **Additional Context**

[2020-07-07 04:18] #1235 closed

[2020-07-07 13:07] leecalcote commented on #1149
@PmcFizz thank you for picking up this issue! 👍

Great question. While technically, this field a  is capable of accepting a broad array of values (see definition for [ParseDuration](https://golang.org/pkg/time/#ParseDuration)), we'll want to provide users with a pre-populated list of commonly used selections. Here's what I suggest that we include for the pre-populated list: `15s`, `30s`, `1m`, `3m

[2020-07-07 18:42] #967 closed

[2020-07-07 22:55] leecalcote opened #1240 "[mesheryctl] `start` trying to open user's browser in a headless environment"
**Description**
Users that are running with Meshery on Docker in a headless environment (e.g. a Linux server with no GUI), receive an error when `xdg-open` attempts to open their system's default browser.

**Expected Behavior**
`mesheryctl system start` should handle the missing `xdg-open` more gracefully by simply bypassing this step of the startup process.

[2020-07-07 23:02] leecalcote opened #1241 "[mesheryctl] Fails to initialize app folder (`~/.meshery`) and `meshery.yaml` file"
**Description**
`mesheryctl system start` fails to create a `~/.meshery` folder, download and rename the `docker-compose.yaml` as `meshery.yaml`.

[This code](https://github.com/layer5io/meshery/blob/master/mesheryctl/internal/cli/root/system/start.go#L50-L53) is not being invoked. Users running fresh installations are unable to start Meshery.

**Environment:**
 - OS: Linux

**To Reproduce**
This

[2020-07-07 23:03] leecalcote commented on #1241
@nitishm do you mind looking at this? It seems that one or more sections of the logic between the utils/helper.go and start.go are not being invoked.

[2020-07-07 23:06] leecalcote commented on #1241
See @tingkai-zhang for assistance in reproducing this issue.

[2020-07-08 00:25] nitishm commented on #1241
@leecalcote is this confined to linux servers or can I reproduce it on osx ?

[2020-07-08 00:27] leecalcote commented on #1241
My bet is that this behavior will be seen on MacOS as well, yes.

[2020-07-08 00:28] nitishm commented on #1241
Yup I see it. Let me clone master and see if happens from the build.

[code]

[2020-07-08 01:15] chandrashritii commented on #638
@leecalcote If this hasn't been resolved yet, I'll like to work on this. I have looked into using Swagger and as @kushthedude said, swaggo will be a better option to use here.

[2020-07-08 02:13] morrme commented on #1200
So maybe around here:
https://github.com/layer5io/meshery/blob/6b573d4c8cb1c55e3538601eb5c112cda3bf5cc3/mesheryctl/pkg/utils/helpers.go#L31

Then update the lines there with just their relative tags (along with [this line?])(https://github.com/layer5io/meshery/blob/6b573d4c8cb1c55e3538601eb5c112cda3bf5cc3/handlers/load_test_handler.go#L75)
then leave [the link at the bottom here](https://github.co

[2020-07-08 02:22] #1241 closed

[2020-07-08 02:53] leecalcote commented on #638
Green light here. Yes, Swaggo supports both net/http and Gorilla, which is great.

[2020-07-08 05:53] PmcFizz commented on #1149
OK I get it

[2020-07-08 13:46] #1207 closed

[2020-07-09 15:05] #1206 closed

[2020-07-09 16:49] leecalcote opened #1248 "[Docs] README - change "Layer5 Contributors Welcome Guide" to "Layer5 Community Welcome Guide""
**Description:**

Each of the readme's across each of the repos in the [layer5io org](https://github.com/layer5io) are in need having this reference updated. The guide isn't constrained to contributing, but is a general welcome for newcomers in the community.

[2020-07-09 17:16] rshivam08 commented on #1248
@leecalcote, I want to take up this issue.

[2020-07-09 17:51] leecalcote commented on #1248
Thank you, @rshivam08. Please do.

[2020-07-09 18:15] rshivam08 commented on #1248
@leecalcote, Do I need to make changes in all repos available at [meshery.org](https://github.com/meshery) or in [meshery](https://github.com/meshery/meshery) alone?

[2020-07-09 18:28] leecalcote commented on #1248
@rshivam08 across all repos available in meshery org. 👍

[2020-07-10 03:10] kushthedude commented on #1199
@leecalcote Can you please verify the issue, as the given argument for the command is invalid?

[2020-07-10 03:16] leecalcote commented on #1199
This is fine - ![Untitled](https://user-images.githubusercontent.com/7570704/87112561-c5722680-c231-11ea-910c-be00c515fa9f.gif)

[2020-07-10 03:18] kushthedude commented on #1199
Are we good to close this now?

[2020-07-10 03:19] leecalcote commented on #1199
This is an attempt with a bad (old) token. Ideally, the error message indicates a bad token, not failed requests.

![Untitled](https://user-images.githubusercontent.com/7570704/87112743-3dd8e780-c232-11ea-8472-3fb86f35c835.gif)

[2020-07-10 03:22] leecalcote commented on #1199
While we're in here, we may want to update the error message, which currently has "provider=Meshery" as an example token value.

We might also want to put a period on the end of `Error: failed to add auth details to request`, and perhaps, remove the `: file read failed :: open provider=Meshery: no such file or directory` message.

[code]

[2020-07-10 22:19] leecalcote opened #1252 "[performance] Improve handing of missing protocol in Performance Test form"
**Current Behavior**
If a user enters a domain name (e.g., `google.com`) without specifying the protocol to be used for the endpoint (e.g., `https://`), the user receives this error message:

<img width="1228" alt="Screen Shot 2020-07-10 at 12 51 52 PM" src="https://user-images.githubusercontent.com/7570704/87207445-85fb1700-c2d1-11ea-8e56-e2c4efa70bcc.png">

This error message is inaccurate. Mesh

[2020-07-11 07:08] Adeola-Adesoba commented on #1193
Hi, I will like to work on this. I am just wondering about which sub section will this fall under? Can it go under the **Build and run Meshery Server?**

![image](https://user-images.githubusercontent.com/46505882/87218766-596bed00-c31b-11ea-9ba0-70dfff477215.png)

[2020-07-11 07:12] kushthedude commented on #1193
Hi @Adeola-Adesoba , Thanks for jumping in! IMO we would want to have another subsection `Tests` under build & run in contributing.md file.

[2020-07-11 10:35] kushthedude commented on #1252
@rshivam08 Would you like to tackle it?

[2020-07-11 15:51] kushthedude commented on #636
This is the enhancement you are talking about @nitishm, right?

[2020-07-11 15:51] nitishm commented on #636
Yessir

[2020-07-11 17:15] rshivam08 commented on #1252
@kushthedude, Please assign it to me as similiar issue I was facing yesterday.

[2020-07-11 17:57] leecalcote opened #1253 "[Install] Add support for Meshery Adapter for Consul to Helm Chart"
**Current Behavior**
The current helm chart for Meshery is missing support for Consul.

**Desired Behavior**
The Meshery Adapter for Consul should be included in the default Helm deployment of Meshery.

[2020-07-11 17:58] leecalcote opened #1254 "[Install] Add support for Meshery Adapter for NSM to Helm Chart"
**Current Behavior**
The current helm chart for Meshery is missing support for Network Service Mesh.

**Desired Behavior**
The Meshery Adapter for NSM should be included in the default Helm deployment of Meshery.

[2020-07-11 18:23] #779 closed

[2020-07-12 01:31] Adeola-Adesoba commented on #1193
Alright, got it!

[2020-07-12 14:11] neha-saggam commented on #1248
I'm a first timer :D. Looking to start open source contribution. Can I take up this issue if @rshivam08 you haven't already started working ?

[2020-07-12 16:05] kushthedude opened #1257 "[Install]Meshery helm chart installation is not working"
**Description**

Meshery helm chart installation is not working. The deployment applications are fired up but meshery is not recognised as a service which makes the installation fail at port forwarding step.

**Expected Behavior**

Helm installation should work fine

[2020-07-12 16:41] kushthedude commented on #1257
/cc @Aisuko @leecalcote

[2020-07-12 17:05] leecalcote commented on #1248
@neha-saggam yes, please do. There are many repositories in the [meshery org](https://github.com/meshery) need of receiving this update.

[2020-07-12 19:32] leecalcote commented on #1257
As we go to provide this service, let's optimize for the local deployment scenario and use service `type: NodePort`

[2020-07-12 21:36] leecalcote commented on #1016
@nitishvu, good call out here. Let's fix this.

@kushthedude, yes, moving this issue over to the `meshery-istio` repo now...

[2020-07-13 01:27] Aisuko commented on #1257
This not be an issue, you should make a choice of the service type that you need before deploying. Default the service type as NodePort that makes zero sense. Just look at the helm/charts project, you can make sure the right way or the best practice.

[2020-07-13 06:06] kushthedude commented on #1257
Can you please update the installation instruction if you think helm charts
are working fine?

On Mon, 13 Jul, 2020, 06:58 Aisuko, <notifications@github.com> wrote:

[2020-07-13 10:33] neha-saggam commented on #1248
Hey @leecalcote, when I try to push changes to a new branch it says permission denied. Am I missing something here ? Please help,

<img width="886" alt="Screen Shot 2020-07-13 at 4 02 16 PM" src="https://user-images.githubusercontent.com/25531156/87295066-45dea300-c522-11ea-9d64-f8fd8aece24e.png">

[2020-07-13 10:52] rshivam08 commented on #1248
@neha-saggam, you are trying to access the wrong remote. Please try to push your changes to https://github.com/meshery/meshery.git

[2020-07-13 11:45] ashiscs commented on #1248
@neha-saggam https://github.com/meshery/meshery/blob/master/CONTRIBUTING-gitflow.md (handy resource to get you started) !

[2020-07-13 11:48] ashiscs commented on #1248
@neha-saggam  if you are trying to do changes in this repo so as @rshivam08 suggested it should point to https://github.com/meshery/meshery.git instead of https://github.com/meshery/meshery.io.git

[2020-07-13 14:26] neha-saggam commented on #1248
As @leecalcote mentioned [here](https://github.com/meshery/meshery/issues/1248#issue-654206591) this change is for each of the repos in org, I started of with https://github.com/meshery/meshery.io.git instead of https://github.com/meshery/meshery.git. Should I not do that ?

[2020-07-13 14:35] neha-saggam commented on #1248
@ashiscs Thanks!

[2020-07-13 14:36] ashiscs commented on #1248
Ok, then you are doing it correctly

[2020-07-13 14:41] ashiscs commented on #1248
This would definitely help you, but if you still face any problem do reach out !
@neha-saggam feel free to join the community Slack (http://slack.meshery.io/) , to know more about the project !

[2020-07-13 15:29] #1193 closed

[2020-07-14 15:13] leecalcote opened #1269 "[Docs] Copy-to-clipboard for CLI commands"
**Current State:**
CLI commands included in the Meshery documentation have to be highlighted and copied by the reader. Sometimes the reader will accidentally include the `$` in what they copy and paste to their terminal.

**Desired State:**
Improve the reader experience for Meshery CLI commands incorporating https://clipboardjs.com to capture various terminal commands into the reader's clipboard o

[2020-07-14 15:15] #1240 closed

[2020-07-15 05:08] leecalcote opened #1270 "[CI] Establish Meshery Edge Release Channel (ci.yml)"
**Current Behavior**
See #284 as the Epic for this issue, which specifically addresses adding an Edge release channel.

## Edge Channel
Nearly the same label structure that is used for the Stable release channel can use for the Edge release channel. With slight modification the edge channel docker images tags will look like this:

- Image 1 (newer)
  - layer5/meshery:edge-latest
  - layer5/meshery

[2020-07-15 09:41] Jashpatel1 commented on #1269
So does that mean to include HTML in the [doc](https://github.com/meshery/meshery/blob/master/docs/pages/installation/index.md) for making use of clipboardjs?

[2020-07-15 09:52] #998 closed

[2020-07-15 10:32] Nikhil-Ladha commented on #1269
No @Jashpatel1 here docs refers to the Meshery Documentation Site, which is within the meshery repo itself, under the docs folder😬.

[2020-07-15 10:42] Jashpatel1 commented on #1269
@Nikhil-Ladha  Yes, I am talking about the same. [This one](https://github.com/meshery/meshery/blob/master/docs/pages/installation/index.md), right?

The example which @leecalcote has mentioned is written in a HTML file. While the meshery docs are in Markdown, and clipboardjs supports HTML.

Correct me if I am wrong.

[2020-07-15 11:03] Nikhil-Ladha commented on #1269
Yes, @Jashpatel1 you are right. Sorry, I didn't check the link properly which you shared in the previous comment. I don't think we want to do the change in the markdown file, but the structure of the site is in a way that makes it a bit difficult to workaround.
So, you can check if we could do that like adding a separate file or we will have to do something in the markdown itself.

[2020-07-15 14:46] neha-saggam commented on #1248
I am still getting permission denied for this repository as well. Am I missing something here ?

<img width="598" alt="Screen Shot 2020-07-15 at 8 15 35 PM" src="https://user-images.githubusercontent.com/25531156/87559549-12457980-c6d8-11ea-8fe8-97a88d934683.png">

[2020-07-15 16:40] #567 closed

[2020-07-16 04:03] Jashpatel1 commented on #1269
@leecalcote I think it would be difficult to implement as it is in markdown.

[2020-07-16 04:16] rshivam08 commented on #1248
@neha-saggam, Can you please run "git remote -v" command and show the output here? Also show the command that you are using to push your changes with the above error screenshot.

[2020-07-16 04:47] morrme commented on #1248
@neha-saggam Can you visit this link ?
https://github.com/meshery/meshery/compare/master...neha-saggam:patch-1

You have already made the change, and you should be able to initiate the pull request there.

You may need to amend your commit to sign off, but let's just get a proper PR for your work set up first.... cc @leecalcote

[2020-07-16 04:56] leecalcote commented on #1269
@Jashpatel1 right. If you use the implementation done on the page that I linked to above, I think you'll have success.

[2020-07-16 05:00] Jashpatel1 commented on #1269
@leecalcote  The example you have attached is written in HTML so it is easy to include clipboardjs, while the meshery docs are in markdown and clipboardjs dosent support markdown. In order to do this, there must be HTML. So are you saying to include HTML in the markdown file.

[2020-07-16 05:02] morrme commented on #1248
**Here is my suggestion for everyone:**
@leecalcote provided a convenient link to the org.  There are 31 repos that would need this change.

**For anyone that wants to submit a change**, put a comment in here this thread with the name of the repo you're working on. That way, nobody has to overcommit to doing all of them, and more people can pitch in.
**Focus on doing one at a time** and it is a qu

[2020-07-16 05:03] leecalcote commented on #1248
// @crustyy

[2020-07-16 05:03] leecalcote commented on #1269
@Jashpatel1 yep, that'll work. 👍

[2020-07-16 05:06] morrme commented on #1248
And just to follow my own unauthorized rules :smirk:  I have already done:
learn-layer5
service-mesh-performance-specification
@neha-saggam has meshery in progress

Carry on....

[2020-07-16 05:10] morrme commented on #1248
@Adeola-Adesoba  @zaycodes  @Kolokodess @OdunayoOkebunmi This is a great one for the challenge.

[2020-07-16 06:49] crustyy commented on #1248
@morrme ya I'll do it!!

[2020-07-16 06:49] Aisuko commented on #1257
It works for me. Need more information here.

[code]

[2020-07-16 08:53] Aisuko opened #1272 "[meshery] Meshery was deployed in the cluster but discover the cluster did not work"
**Description**

 I deployed Meshery into our cluster and wanna detect the cluster-config.yaml but it no working well,  the issue that you're describing is #921

**Expected Behavior**

import the local user's ~/.kube/config and connect to their current context.

[2020-07-16 09:09] zaycodes commented on #1248
Thanks for the heads up @morrme, I can see that there are also a good number of other beginner-friendly issues. I'll be sure to add this project to the list of projects for the challenge and make a shout out. Cheers.

[2020-07-16 11:11] kushthedude commented on #1272
@Aisuko Is this related for #1257, if yes then we can fix it in #1257 itself?

[2020-07-16 11:40] Aisuko commented on #1272
No, there are two different types of issues.

No, these are two different types of issues.

[2020-07-16 11:41] kushthedude commented on #1272
Oh thanks for informing!

[2020-07-16 11:48] Aisuko commented on #1272
You are welcome.

[2020-07-16 15:18] kushthedude commented on #1257
It works till here, try open the port specified in the browser and see the connection handling error occuring

[2020-07-16 19:32] chandrashritii commented on #1197
@leecalcote Meshery Docs use github pages. The github pages gem doesn't support Jekyll v4 yet. Reference ~ https://github.com/github/pages-gem/issues/651

**Solution:**

If we really want to upgrade to Jekyll v4.0.1, we could opt to use Github Actions. Reference ~ https://jekyllrb.com/docs/continuous-integration/github-actions/

[2020-07-16 19:54] leecalcote commented on #1197
@chandrashritii we're already running Jekyll v4.0 in our gem today.

[2020-07-16 20:16] Ruth-ikegah commented on #1248
Hello, I'm a newcomer. I want to help, please I'd need some help on what to do. Thanks 😊

[2020-07-16 22:05] leecalcote opened #1274 "[Docs] Installation with KinD - add 0.0.0.0 listening instructions"
**Current State:**
Users of KinD and Meshery run into an issue that Meshery is unreachable. If the environment isn't configured properly, Meshery will be listening on local loopback address 127.0.01, but should be listening on 0.0.0.0.

**Desired State:**
Documentation on the [KinD page](https://meshery.layer5.io/docs/installation/kind) should have these instructions.

---
**Contributor Resources*

[2020-07-16 22:06] leecalcote commented on #1274
@tingkai-zhang or @kumarabd would one of you mind tossing in a bit of instruction here?

[2020-07-16 23:37] ashiscs commented on #1248
@Ruth-ikegah https://github.com/meshery/meshery/blob/master/CONTRIBUTING-gitflow.md ( wonderful resource to get you started) and feel free to ask any questions or doubts you have !
Feel free to join the community Slack (http://slack.meshery.io/) , to know more about the project !

[2020-07-17 00:28] leecalcote commented on #1248
Here's a great resource to help get you oriented as well - https://docs.google.com/document/d/17OPtDE_rdnPQxmk2Kauhm3GwXF1R5dZ3Cj8qZLKdo5E/edit

[2020-07-17 00:56] Aisuko commented on #1257
No,Meshery provider can be found on the web browser page at localhost with export port.

[2020-07-17 01:23] Ruth-ikegah commented on #1248
Thanks. I went through them. I made a pull request for meshery/meshery but it did not pass one of the checks. Please can someone help me check it?

[2020-07-17 02:52] leecalcote commented on #1248
@Ruth-ikegah you bet. The check was most likely one for DCO and whether your commits were signed. Here's an explanation and instructions on the subject - https://github.com/meshery/meshery/blob/master/CONTRIBUTING.md#signing-off-on-commits-developer-certificate-of-origin

[2020-07-17 02:54] leecalcote commented on #1083
@nitishm will you double-check that a `mesheryctl.yaml` is autogenerated? I'm missing one in my setup.

[2020-07-17 06:00] leecalcote commented on #1272
@Aisuko is this the issue that you're describing? https://github.com/meshery/meshery/issues/921

[2020-07-17 06:01] #1248 closed

[2020-07-17 06:03] Aisuko commented on #1272
Yes, I deployed Meshery into our cluster and wanna detect the `cluster-config.yaml`  but it no working well

[2020-07-17 06:11] leecalcote commented on #1272
@Aisuko Oh, I see. Ok, #921 describes the a regression issue in which Meshery does not automatically import the local user's ~/.kube/config and connect to their current context. In the scenario in #921, Meshery is deployed out of cluster. // @kumarabd

You may want to include a description in this issue (the boilerplate text is in the description now).

[2020-07-17 06:12] leecalcote commented on #1272
@kumarabd, perhaps, you can look at #1272 as you're fixing #921?

[2020-07-17 07:09] Ruth-ikegah commented on #1248
Okay thanks. Noted the mistake now. I'd do it again 😊

[2020-07-17 12:00] nitishm commented on #1083
@leecalcote this hasn't been done yet. Currently it requires a manual creation of the file ifthe user wises to override hardcoded defaults

[2020-07-17 20:46] jesuslerma commented on #510
Hi @leecalcote  I'm planing to take a look into [release-drafter](https://github.com/release-drafter/release-drafter) as you mentioned. I'll try to do the folllowing:
- [ ] Read the docs for release-drafter.
- [ ] Create a dummy go sample.
- [ ] Integrate release-drafter to that sample project.
- [ ] Integrate release-drafter with another project from layer5 organization
- [ ] Integrate release-dr

[2020-07-17 21:00] leecalcote opened #1276 "[Docs] Update Release page with latest releases and their release notes"
**Current State:**
The [releases documentation page](https://meshery.layer5.io/docs/releases) is missing the latest releases.

**Desired State:**
Releases page should have all of the releases and their notes from https://github.com/layer5io/meshery/releases

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github

[2020-07-17 21:03] leecalcote commented on #510
Thank you, Jesus. It does, except that we’re already using releasedrafter, which is nice in that after you familiarize, you will be able to determine if we can augment its current configuration to accomplish the task. You can review the existing configuration the .github folder.

If it’s not feasible. Then, you can add onto the existing workflow using, perhaps, a different Action to produce a new

[2020-07-17 21:04] jesuslerma commented on #1276
Is this related to #510 ?

[2020-07-17 21:13] jesuslerma commented on #510
@leecalcote  I just checked the .github folder, and as you mentioned release drafter is also implemented. Does it resolve the first point?

[code]

In that case the following list of items are still pending?
[code]

[2020-07-17 21:15] leecalcote commented on #1276
@jesuslerma, yes, sir. This is the manual effort in the meantime.

[2020-07-17 21:52] kushthedude commented on #510
Hey, @jesuslerma Thanks for jumping in here!

For your first doubt -
- Yes, release notes get populated by the releaseDrafter GitHub action as soon as any commit/PR is merger into master.

For the pending items -
- We need to automate the process of adding release notes into our documentation since releaseDrafter can't write the release docs anywhere we would want to populate the release doc from

[2020-07-18 17:22] kumarabd commented on #1274
@leecalcote  So the problem was little specific to how the Kund cluster was accessed. If the cluster is outside your machine, you to be sure that the server is not portforwarded in the Local-loopback address (`127.0.0.1`) but to `0.0.0.0`.

[2020-07-18 19:54] tingkai-zhang commented on #1274
The problems one will run into differs according to what platform KinD is running on.
I was able to solve the connection issue on Windows WSL2.
Will update the instructions on installation with KinD.

[2020-07-18 21:47] elucidium commented on #1276
Hello! I'm a first-time contributor, and I'd be glad to take this on! How would you prefer for releases without a "What's new?" section (specifically v0.4.0-beta.3 and v0.4.0-beta.1) to be documented?

[2020-07-19 18:39] Ruth-ikegah opened #1280 "[Docs] Updating year of Copyright in Meshery docs footer"
**Current State:**
Copyright in the footer is 2019

**Desired State:**
Updating the copyright in the footer to 2020

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)
- [Instructions for contributing to documentation](https://github.com/layer5io/meshery/blob/master/CON

[2020-07-19 18:41] Code-Ebullient commented on #1280
I'll work on this.

[2020-07-19 19:49] #671 closed

[2020-07-19 21:03] Code-Ebullient commented on #1276
can i work on this? Is it still open?

[2020-07-19 21:34] chandrashritii commented on #1276
Hey @Code-Ebullient
@elucidium is already working on this. Please take a look at some of the other open issues.

[2020-07-19 21:53] leecalcote commented on #1276
@Code-Ebullient thanks for asking! Let's find you a good few first issues...

[2020-07-19 22:06] leecalcote opened #1282 "[Docs] New Guide: Interpreting Performance Test Results"
**Current State:**
The Meshery documentation is missing a guide to interpreting performance test results.

**Desired State:**
A new guide, "Interpreting Performance Test Results", should be created to help users to glean what insights that they can from the results of these performance tests.

1. A new guide is created in this directory - https://github.com/layer5io/meshery/tree/master/docs/pages/

[2020-07-19 22:07] leecalcote commented on #1282
@Code-Ebullient this one is for you, if you would like it.

[2020-07-19 22:12] #1280 closed

[2020-07-19 22:32] Code-Ebullient commented on #1276
🤦 okay... @leecalcote

[2020-07-19 23:51] #1276 closed

[2020-07-20 03:18] leecalcote commented on #1276
@Code-Ebullient -- here's one: https://github.com/meshery/meshery/issues/1282

[2020-07-20 03:57] Code-Ebullient commented on #1282
Okay thanks, i'll work on it

[2020-07-20 14:22] leecalcote opened #1294 "[Docs] Linkerd version number has an extra period"
**Current State:**
 There is an extra period in the supported Linkerd version number:
<img width="855" alt="Screen Shot 2020-07-20 at 7 52 42 AM" src="https://user-images.githubusercontent.com/7570704/87948460-533be600-ca6a-11ea-985b-d64c887eaf5c.png">

**Desired State:**
1. Edit this page - https://github.com/layer5io/meshery/blob/master/docs/_adapters/linkerd.md
1. Remove the "." that comes just

[2020-07-20 16:50] Code-Ebullient commented on #1294
On it sir, thanks

[2020-07-20 19:22] leecalcote opened #1295 "[mesheryctl] mesheryctl version not displaying server version"
**Description**
`version` is returning `Not Set`

[2020-07-20 21:03] #1295 closed

[2020-07-20 21:22] #1282 closed

[2020-07-20 22:53] #1294 closed

[2020-07-22 02:59] kushthedude opened #1302 "Backfill all the old releases of Meshery"
**Current Behavior**

There are missing content in the old releases of meshery

**Desired Behavior**

Backfill all the old releases of Meshery

[2020-07-22 03:02] #1302 closed

[2020-07-22 03:03] kushthedude opened #1303 "[Docs] Backfill all the releases on the releases page"
**Current Behavior**

There missing release tags in the https://meshery.layer5.io/docs/project/releases

**Desired Behavior**

Add all the release tags of Meshery till v0.0.1 in the https://meshery.layer5.io/docs/project/releases

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/m

[2020-07-22 04:33] #1149 closed

[2020-07-22 10:38] tharun208 commented on #1050
I like to work on this

[2020-07-22 15:19] chandrashritii opened #1304 "[Docs]: Add versioning support to the Meshery documentation"
**Description**

The current jekyll theme: [docsy](https://github.com/vsoch/docsy-jekyll) which is being used for the Meshery documentation does not support versioning. A more elaborate explanation can be found [here.](https://github.com/vsoch/docsy-jekyll/issues/23#issuecomment-656311752)

[2020-07-23 06:35] leecalcote commented on #849
Ready for Labeler action.

[2020-07-23 17:22] kushthedude opened #1306 "Implement a UI for Test Profiles CRUD"
**Description**
We already have a PR drafted which would introduce three endpoints regarding user test profiles for Create, Read, Delete operations.
Considering the following will be merged soon, we need to take next steps on building a UI for Test Profiles.

- [ ] Create a prototype UI to Create & Show & Delete user-profiles.
- [ ] Invoke a UI to directly use the created test-profiles for a load

[2020-07-23 17:22] kushthedude commented on #1306
/cc @leecalcote

[2020-07-24 07:41] PluckyPrecious commented on #1303
Hi @kushthedude I'd like to give this a shot if still up for grabs 👍  . And the release tags should be "Annotated tags" yea?

[2020-07-24 07:54] kushthedude commented on #1303
Yes please go ahead @PluckyPrecious , You can find the releases in the releases section of the repo

[2020-07-24 18:53] #1274 closed

[2020-07-24 23:04] kushthedude opened #1311 "CI: Security CI check is failing"
**Description**

GoSec runner is creating some errors in the CI.
**Expected Behavior**

CI should pass

[2020-07-25 20:52] anirudhjain75 opened #1313 "[Docs] Improve Contributing guide"
**Current State:**
It is clueless about how to get started with working on ui as it starts an error when running both meshery server and meshery ui.

**Desired State:**
It should specify accessing ui though localhost:9081(meshery server) instead of localhost:3000 (ui server).

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation sou

[2020-07-25 21:00] anirudhjain75 opened #1314 "[Docs] Readme.md link fix"
**Current State:**
Kubernetes - minikube points to https://meshery.layer5.io/docs/installation/minikube

**Desired State:**
Kubernetes - minikube should point to https://meshery.layer5.io/docs/installation/platforms/minikube

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master

[2020-07-25 23:03] #1311 closed

[2020-07-26 00:47] leecalcote commented on #1314
Hi @Anita-ihuman this might be an issue you would like to take on.

[2020-07-26 07:05] Nikhil-Ladha commented on #1313
I guess this is the issue you were talking about @anirudhjain75. https://github.com/meshery/meshery/blob/master/CONTRIBUTING.md#build-and-run-meshery-server . Here, it mentions to first setup the provider and then access the UI at 3000 port.

[2020-07-26 07:10] anirudhjain75 commented on #1313
@Nikhil-Ladha ```Once you have the server up and running, you will be able to access the Meshery UI at http://localhost:3000. One thing to note is that for the UI dev server to work, you need Meshery server running on the default port of 9081. Any UI changes made now will automatically be recompiled and served in the browser.``` this is the current line. It says you'll have to access localhost:300

[2020-07-26 07:13] Nikhil-Ladha commented on #1313
But that comes after the setup procedure for make run-local, which states about logging into the provider before accessing the 3000 port. If you can check the link above, it will make my point clear.

[2020-07-26 07:14] anirudhjain75 commented on #1313
Maybe just removing the part in `make run-ui-dev` should be fine 🤔 . @leecalcote whats your take on this ?

[2020-07-26 07:17] Nikhil-Ladha commented on #1313
I don't understand the issue here, anyways it's not necessary but still if it's a point of confusion then a line can be added stating that  `you need Meshery server running at 9081 port, and also have the provider configured there. Then, you can work on the 3000 port`.

[2020-07-26 11:25] Anita-ihuman commented on #1314
Oh really
Thanks
Will start working on this

[2020-07-26 14:23] leecalcote commented on #1314
Excellent. Thank you, @Anita-ihuman!

[2020-07-26 19:00] Shokescodes commented on #1314
Hi @leecalcote . Thanks for the work you do for the community.
 I'm new to contributing to open source projects.
 Could you ping me as soon as your find some project I could contribute to ?

[2020-07-26 23:32] leecalcote commented on #1314
Hi @Shokescodes, sure, you bet. Here's one that you might try your hand at - https://github.com/meshery/meshery.io/issues/276

@Anita-ihuman and @Shokescodes  you're most welcome to join the Meshery community here - http://slack.meshery.io.

[2020-07-27 17:04] leecalcote opened #1330 "[UI] Can't delete Grafana board"
**Description**
When a user tries to delete metrics board imported from Grafana. The following error occurs.

Here is the console log: [localhost-1595869272498.log](https://github.com/layer5io/meshery/files/4983326/localhost-1595869272498.log)

![Untitled](https://user-images.githubusercontent.com/7570704/88570194-48042f80-d001-11ea-8e03-251d0b09a2fb.gif)

[2020-07-28 10:46] PluckyPrecious commented on #1303
Hi @kushthedude  the tag release doc is available for review. 😅

[2020-07-28 11:34] #1303 closed

[2020-07-28 21:25] leecalcote opened #1334 "[Docs] Windows installation instructions using wrong mesheryctl command"
**Current State:**
The instructions on [this page](https://meshery.layer5.io/docs/installation#windows) say to run `./mesheryctl start`

**Desired State:**
The instructions should say to run `./mesheryctl system start`

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)

[2020-07-28 21:28] leecalcote opened #1335 "[Docs] Homebrew installation instructions using wrong mesheryctl command"
**Current State:**
The homebrew instructions on [this page](https://meshery.layer5.io/docs/installation#homebrew) say to run `./mesheryctl start`

**Desired State:**
The instructions should say to run `./mesheryctl system start`

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/ma

[2020-07-28 21:37] leecalcote opened #1336 "[Docs] Add Windows to Supported Platforms menu list"
**Current State:**
The[ table of contents](https://github.com/layer5io/meshery/blob/master/docs/_data/toc.yml) for the navigation menu is missing Windows as a menu item.

**Desired State:**
1. Sort the menu items in ascending alphabetical order.
1. Add Windows to this list <img width="305" alt="Screen Shot 2020-07-28 at 4 35 05 PM" src="https://user-images.githubusercontent.com/7570704/88724609-69

[2020-07-29 08:53] #1314 closed

[2020-07-29 13:30] iknowahra commented on #1334
I would like to take this 🤲

[2020-07-29 13:35] leecalcote commented on #1334
Thank you, @iknowahra. Please do. 👍

// @usamaidrsk

[2020-07-29 15:45] #1334 closed

[2020-07-29 15:47] Nikhil-Ladha commented on #1335
@iknowahra if you would, you can take this up too.

[2020-07-29 18:28] leecalcote commented on #878
@ tharun208 will you give this a review?

[2020-07-30 04:32] #1336 closed

[2020-07-30 07:10] PluckyPrecious commented on #1313
Hello @anirudhjain75 @Nikhil-Ladha can i work on this?

[2020-07-30 07:14] Nikhil-Ladha commented on #1313
Yeah sure @PluckyPrecious go ahead👍🏼. You can take some reference from the chat that we had here in the comments above.

[2020-07-31 02:49] iknowahra commented on #1335
@Nikhil-Ladha I would like to do 👍

[2020-07-31 03:48] Nikhil-Ladha commented on #1335
Oops, seems like someone forgot to mention the issue😬. No worries you can work on any other issue you want. Also, feel free to join our slack workspace at slack.layer5io.com

[2020-07-31 13:18] #1313 closed

[2020-07-31 13:41] kushthedude opened #1344 "[Docs] Revamp the contributing.md"
**Current State:**
There are several changes in Meshery & contributing document is not clear enough.

**Desired State:**
Contributing.md needs some revamping & proper structuring so that new contributors may follow it & get started with Meshery.

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5i

[2020-07-31 14:21] Nikhil-Ladha commented on #1344
@kushthedude if you could highlight the changes you are talking then, it would be easier to make the changes for the person who will take up the issue.

[2020-07-31 14:23] kushthedude commented on #1344
There a lot of changes which need to be then, that is why the issue is not marked as Good-First-Issue. It needs to be someone who already has meshery set-up & can let know what revamping needs to be done. If the issue would have a single area or a heading to change I would have already highlighted it & made it a good first issue.

[2020-08-01 18:43] PluckyPrecious commented on #1344
Hi @kushthedude I wanted to open an issue to help solve the typos and some grammatical error in the contributing.md and then I saw this. Just as @Nikhil-Ladha said, it will be great if you could highlight the changes so I can work on the issue, I'll ask others too then. Thanks.

[2020-08-02 05:41] Nikhil-Ladha commented on #1335
Fixed by #1342

[2020-08-02 05:41] #1335 closed

[2020-08-02 10:51] Nikhil-Ladha commented on #970
I just checked the table in the Results page, everything seems fine to me. Can you confirm the issue once @kushthedude ?

[2020-08-02 10:52] kushthedude commented on #970
Already confirmed, can you share a GIF if its working fine on your local?

On Sun, 2 Aug, 2020, 16:21 Nikhil_Ladha, <notifications@github.com> wrote:

[2020-08-02 11:11] Nikhil-Ladha commented on #970
![results_page](https://user-images.githubusercontent.com/29438875/89121724-054dc600-d4df-11ea-98ef-869e8ad84dca.gif)
This is what you were saying about, right?

[2020-08-02 11:17] kushthedude commented on #970
Try to modify table props, show/hide columns and then try sorting or any
tabular function

On Sun, 2 Aug, 2020, 16:42 Nikhil_Ladha, <notifications@github.com> wrote:

[2020-08-02 11:28] Nikhil-Ladha commented on #970
Tried with that too, if you could share the issue what you are facing that would be more helpful here.

[2020-08-02 11:41] kushthedude commented on #970
@Nikhil-Ladha the bug was in the dependency & was fixed when we made a jump of 7 major versions in dependabot over here https://github.com/meshery/meshery/pull/1167 .

Thanks for bringing in to notice, I guess this can be closed 👍 !

[2020-08-02 11:41] #970 closed

[2020-08-02 11:42] kushthedude commented on #970
One of the advantages of keeping dependencies in check 😄

[2020-08-02 11:50] Nikhil-Ladha commented on #970
Woof! Nice 👍😆

[2020-08-02 13:34] kushthedude commented on #1344
You can go ahead with typos & grammatical fixes 👍

[2020-08-02 14:08] PluckyPrecious commented on #1344
Do i open a new issue or mention this issue when i'm done with the edit?

[2020-08-02 14:10] PluckyPrecious commented on #1344
Should i reference this issue when i'm done with my edit, or i should create a new issue?

[2020-08-02 14:11] Nikhil-Ladha commented on #1344
You can mention this issue only, but instead of saying ` This PR fixes` you should use ` This PR updates`. That, will suffice.

[2020-08-02 14:11] kushthedude commented on #1344
Please mention this issue when you open the PR.

On Sun, 2 Aug, 2020, 19:40 Kelechi Precious Nwachukwu, <
notifications@github.com> wrote:

[2020-08-04 04:27] leecalcote opened #1362 "[Docs] Links to supported platforms need updated in the README.md"
**Current State:**
The links in this section of [the README](https://github.com/layer5io/meshery/blob/master/README.md) have changed on the meshery.layer5.io/docs site.

<img width="412" alt="Screen Shot 2020-08-03 at 11 26 07 PM" src="https://user-images.githubusercontent.com/7570704/89252943-d0299c80-d5e0-11ea-87c8-f926ec7fdf9b.png">

**Desired State:**
Most of the links in the Meshery repo's RE

[2020-08-04 05:54] edwvilla commented on #1362
I would like to contribute! 😄

[2020-08-04 06:11] leecalcote commented on #1362
Hi @edwvilla! That would be fantastic. Yes, please do. If you run into any questions, there are number of other contributors wiling to help here - http://slack.meshery.io

[2020-08-05 15:45] leecalcote opened #1367 "[Docs] Add section in Readme about Meshery's SMI Conformance capability"
**Current State:**
Reference material for the short write-up: https://docs.google.com/document/d/1HL8Sk7NSLLj-9PRqoHYVIGyU6fZxUQFotrxbmfFtjwc/edit#

**Desired State:**
Perhaps, add this new capability at the end of the Features section.

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery

[2020-08-05 16:03] Jashpatel1 opened #1368 "Update kinD link in installation platforms"
**Description**
The kinD link in the [installation platfroms](https://meshery.layer5.io/docs/installation/platforms/) leads to 404 as it directs to ".../kinD" whereas the page is available at ".../kind".
Replace the link to fix it.

[2020-08-05 17:59] edwvilla commented on #1368
can i take this?

[2020-08-05 20:23] #1368 closed

[2020-08-05 23:38] edwvilla opened #1371 "[Docs] Helm link on instalation platforms needs to be updated"
**Current State:**
The Helm link on [Instalation platforms](https://meshery.layer5.io/docs/installation/platforms) is broken as it leads to 404
seems like is redirecting to `.../installation/kubernetes#helm` updating it to `.../installation/platforms/kubernetes#using-helm` should fix it

**Desired State:**

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs

[2020-08-06 00:03] leecalcote commented on #1371
@edwvilla, good eye!

[2020-08-06 01:10] #1371 closed

[2020-08-06 01:13] #1362 closed

[2020-08-06 03:19] leecalcote opened #1373 "[Docs]Add section in docs about Meshery's SMI Conformance capability"
**Current State:**
Reference material for the short write-up: https://docs.google.com/document/d/1HL8Sk7NSLLj-9PRqoHYVIGyU6fZxUQFotrxbmfFtjwc/edit#

**Desired State:**
Perhaps, add this new capability at in a new page under https://meshery.layer5.io/docs/functionality

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](htt

[2020-08-07 02:33] leecalcote opened #1375 "[Docs] Add entry for Open Service Mesh"
**Current State:**
Meshery docs do not list Open Service Mesh

**Desired State:**
- Ensure that OSM is listed here - https://meshery.layer5.io/docs/service-meshes
- OSM version v0.2.0
- OSM logo - [osm.svg.zip](https://github.com/layer5io/meshery.io/files/5039020/osm.svg.zip)

<img width="300" alt="Screen Shot 2020-08-06 at 9 27 16 PM" src="https://user-images.githubusercontent.com/7570704/8960247

[2020-08-08 19:26] leecalcote commented on #1375
@Anita-ihuman @Adeola-Adesoba @PluckyPrecious @Ruth-ikegah any takers?

[2020-08-08 20:37] leecalcote opened #1376 "[mesheryctl] Provide consistent formatting of client and server version information"
**Current Behavior**
`mesheryctl version` currently returns a format like so:

<img width="1076" alt="Screen Shot 2020-08-08 at 3 35 06 PM" src="https://user-images.githubusercontent.com/7570704/89719335-db881980-d98c-11ea-942a-e0ffab03ff2e.png">

**Desired Behavior**
Ideally, the two GitSHA sections start at the same column (ideally, they are aligned)

[2020-08-08 20:37] leecalcote commented on #1376
@subhamkrai would you like to tackle this?

[2020-08-08 21:49] PluckyPrecious commented on #1375
@leecalcote I'll take this up.

[2020-08-09 06:32] PluckyPrecious commented on #1375
@leecalcote what is the osm port?

[2020-08-09 17:17] subhamkrai commented on #1376
@leecalcote In my system I ran `mesheryctl version` and for me it's aligned.

[code]

[2020-08-09 17:22] leecalcote commented on #1376
@subhamkrai sure. It won't be aligned on all terminals as-is. I'm hoping that we can use a format that is.

[2020-08-09 17:24] subhamkrai commented on #1376
Okay, I'll take a look again.

[2020-08-09 22:32] leecalcote opened #1379 "Rename SMPS project to SMP"
**Current State:**
This project is undergoing a name change in which it will drop the "S"

[2020-08-10 05:14] leecalcote commented on #1375
@PluckyPrecious good question! It is 10010 (or 10010/tcp).

[2020-08-10 06:31] anirudhjain75 opened #1380 "[Docs] Fix broken links"
**Current State:**
There are quite broken links in the documentation site. Here is a link https://meshery.layer5.io/docs/intallation/platforms/windows that was directed to from https://meshery.layer5.io/docs/installation/platforms/docker. There are a few more
https://meshery.layer5.io/docs/installation/installation that was directed from
https://meshery.layer5.io/docs/installation/platforms/miniku

[2020-08-10 06:39] anirudhjain75 commented on #1380
https://www.deadlinkchecker.com/website-dead-link-checker.asp can be used to check for broken links. Do ignore the localhost ones. Here is a report I just generated.
<img width="1440" alt="Screen Shot 2020-08-10 at 12 06 20 PM" src="https://user-images.githubusercontent.com/14249589/89757239-4dce3a80-db02-11ea-84c9-af4e747ed169.png">

[2020-08-10 07:19] PluckyPrecious commented on #1380
@anirudhjain75 if no one is on this I could take it up.

[2020-08-10 07:23] Neilblaze commented on #1380
Yeah sure @PluckyPrecious . Go for it :+1:

[2020-08-10 07:29] PluckyPrecious commented on #1375
@leecalcote Fixed @kumarabd helped out. PR ready.

[2020-08-10 07:45] anirudhjain75 commented on #1380
Sure @PluckyPrecious  :)

[2020-08-11 05:05] manishdangi98 opened #1381 "[Docs] typo error in App Mesh Adapter description"
**Current State:**

**Desired State:**

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)
- [Instructions for contributing to documentation](https://github.com/layer5io/meshery/blob/master/CONTRIBUTING.md#documentation-contribution-flow)

[2020-08-11 11:03] #1381 closed

[2020-08-11 12:02] PmcFizz commented on #1330
I will see it

[2020-08-11 13:01] leecalcote commented on #1330
Awesome. Thank you, @PmcFizz. 👍

[2020-08-11 17:01] #1375 closed

[2020-08-11 23:03] leecalcote opened #1384 "[Docs] Upgrade Meshery Adapter for Kuma to "beta" status"
**Current State:**
Kuma adapter is currently listed as "alpha", but has recently been enhanced and works as a "beta".

**Desired State:**
- [ ] Update meshery repo readme.md
- [ ] Update meshery docs for Kuma adapter.

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)

[2020-08-11 23:35] leecalcote opened #1385 "[Docs] Getting Started with Other Platforms"
**Current State:**
The [Getting Started with Other Platforms page](https://github.com/layer5io/meshery/blob/master/docs/pages/installation/platforms.md) currently has a table full of a list of platforms. It does not have platform logos included. Included the platform logo will improve legibility (readers eyes snap to the log) and readers will enjoy this table a bit more. - https://meshery.layer5.i

[2020-08-11 23:48] LifeofDan-EL commented on #1385
Good day, I would like to contribute to this. I will love to ask if there's a specific place, where I can get the logos from?

[2020-08-11 23:49] leecalcote commented on #1385
@LifeofDan-EL thanks. That would be great. Unfortunately, no, we don't have a collection of these logos just, yet. We'll need to do some digging. I'll do this now...

[2020-08-11 23:51] LifeofDan-EL commented on #1385
Okay, if you can do that, I could add the logos under the assets file directory, for easier reference.

[2020-08-12 00:11] leecalcote commented on #1385
@LifeofDan-EL ok, good to go. All logos except Scoop (it doesn't have one) have been added to the issue description.

[2020-08-12 00:25] LifeofDan-EL commented on #1385
Thanks will work on it then.

[2020-08-12 00:58] LifeofDan-EL commented on #1385
Just to be clear, the table [here](https://github.com/meshery/meshery#run-meshery) should also have the logo right?
![image](https://user-images.githubusercontent.com/45920948/89963359-5a0be200-dc3f-11ea-82cf-434183ec5b09.png)

[2020-08-12 01:02] leecalcote commented on #1385
Right on, yes.

[2020-08-12 02:03] LifeofDan-EL commented on #1385
I made a PR https://github.com/meshery/meshery/pull/1386, so I can easily use the GIthub url for the issue.

[2020-08-12 02:11] leecalcote commented on #1385
@LifeofDan-EL Thank you. When you do use the image URLs, it might be best to use their relative path, for example: `<img src="/docs/assets/img/providers/provider_screenshot.png" alt="Providers">`.

PR #1386 uses the keyword `fixes` which will automatically close this issue when it is merged. Given that it is only a portion of the complete fix, if you update the PR description to use a different wo

[2020-08-12 05:10] #878 closed

[2020-08-12 15:19] LifeofDan-EL commented on #1385
So this is what the Readme and Platform look like now, I used the URL from the GitHub location of the images. It loads faster and to make sure it works locally and remote.
How does it look?  Any suggestion
![plaforms](https://user-images.githubusercontent.com/45920948/90033512-777c9280-dcb7-11ea-9df9-475b332ae8be.png)
![tw](https://user-images.githubusercontent.com/45920948/90033528-7ba8b000-dcb7-

[2020-08-12 19:35] #1004 closed

[2020-08-12 19:52] leecalcote commented on #1385
@LifeofDan-EL it looks pretty good. We lose a little of the indentation, it seems.

Relative URLs work both locally and remotely. There's no difference in load time after the PR is merged (they load from the same place). Relative URLs are less fragile.

We're missing a logo for Linux. Here you go - [linux.svg.zip](https://github.com/meshery/meshery/files/5065317/linux.svg.zip)

We're missing a log

[2020-08-12 21:25] LifeofDan-EL commented on #1385
Added the new logos and I used relative URLs.
![Readme](https://user-images.githubusercontent.com/45920948/90069628-77e25100-dcea-11ea-9432-3ffcdf57898b.png)

[2020-08-12 22:06] leecalcote commented on #1385
Awesome. 😄

[2020-08-12 22:16] LifeofDan-EL commented on #1385
Made a PR, it was fun working on this.

https://github.com/meshery/meshery/pull/1390

[2020-08-13 06:04] leecalcote commented on #1379
@JubayerJoy, I'm not sure if this is completed for the `meshery` repo and its docs or not...

[2020-08-13 11:48] PmcFizz commented on #1330
Hi I want to know whether  I must create k8s cluster for this problem ？

[2020-08-13 16:23] #1384 closed

[2020-08-13 20:12] KarenEfereyan commented on #1385
Waow @LifeofDan-EL  you make this look so easy. Let me find an issue to contribute to as soon as possible

[2020-08-13 20:43] JubayerJoy opened #1395 "[Docs] Fix missing documentation, logo path, Images and Table of Content"
**Current State:**
- Documentation missing in https://meshery.layer5.io/docs/installation/platforms/windows
- The logos are broken in https://meshery.layer5.io/docs/installation/platforms
- Images are not shown in https://meshery.layer5.io/docs/guides/interpreting-performance-test-results
- Sections in the table of contents are repeated twice on,
   - https://meshery.layer5.io/docs/guides
   - htt

[2020-08-13 21:02] JubayerJoy commented on #1379
Hi @leecalcote, I have checked the whole meshery site, repo, and docs. I just found only one issue, everything else seems really good 👍
I will open a PR to fix this.

<img src ="https://imgur.com/OE9mZeQ.png">
While screening, I have noticed some issues #1357

I have also found an issue in the Layer5.io footer section, that needs to fixed in that repo. I will try to look into that repo as well for

[2020-08-13 21:09] leecalcote commented on #1395
@JubayerJoy thanks for this. Have a look at https://github.com/meshery/meshery/pulls/1388

[2020-08-13 21:12] #1252 closed

[2020-08-13 21:27] leecalcote commented on #1330
It's easiest if you do, @PmcFizz. In order to do so, Docker Desktop and Minikube made this fairly straightforward. You might also want to walk through the service mesh workshop linked here - https://layer5.io/workshops

[2020-08-13 21:27] JubayerJoy commented on #1395
@leecalcote, I have reviewed the PR. Some great work by @PluckyPrecious 🚀
That PR fixes [image issue](https://meshery.meshery.io/docs/guides/interpreting-performance-test-results).

I think windows documentation, broken logo, and ToC is not yet covered 😕
@PluckyPrecious, what is your thought about this?

[2020-08-13 21:36] #1379 closed

[2020-08-14 01:28] PmcFizz commented on #1330
Ok I get it

[2020-08-14 02:34] leecalcote commented on #1379
Thank you, @JubayerJoy. There's one more on the layer5.io site at layer5.io/meshery - -
<img width="562" alt="Screen Shot 2020-08-13 at 9 33 33 PM" src="https://user-images.githubusercontent.com/7570704/90207750-b17b9080-ddac-11ea-908e-965d8ae09eb0.png">

The latest SMP logos are available in the Layer5 Sites drive.

[2020-08-14 08:19] PmcFizz commented on #1330
hi I come again, when I recurrent this problem I don’t see it。 so I think maybe your board hava problem。 could you give me your Grafana board config ？

[2020-08-14 09:38] PluckyPrecious commented on #1395
Hi @JubayerJoy it is great if you can cover those as i'm on transit and will be off my system for now. @leecalcote what you say?

[2020-08-14 13:36] chetanku commented on #1190
@leecalcote I would like to help, where can I find the documentation for initial setup?

[2020-08-14 14:08] leecalcote commented on #1190
@chetanku, that would be great. Thank you. Yes, there are a number of resources to get into your hands here. If you will jump into http://slack.meshery.io, we'll get you all that you need.

[2020-08-14 16:30] chandrashritii commented on #1395
@JubayerJoy Thanks for pointing these out. I'd like to take this one on if you haven't started working on it already.

[2020-08-14 16:32] chandrashritii commented on #1344
@kushthedude If you or someone else is not already working on it, I can take this one up.

[2020-08-14 16:33] kushthedude commented on #1344
Please go ahead!

On Fri, 14 Aug, 2020, 22:02 Shriti Chandra, <notifications@github.com>
wrote:

[2020-08-14 16:33] #1380 closed

[2020-08-14 17:40] JubayerJoy commented on #1395
@chandrashritii sure, I haven't started, go-ahead 👍

[2020-08-14 21:15] KarenEfereyan commented on #1373
@leecalcote I would love to work on this

[2020-08-14 21:17] ghost commented on #1373
I am guessing I need to add the document https://github.com/KarenEfereyan/laravella as a separate link in the https://meshery.meshery.io/docs/functionality file like performance and lifecycle management are, right?

[2020-08-15 08:16] PluckyPrecious commented on #60
Knock Knock! @leecalcote @girishranganathan  i'd like to know if this issue have been fixed. 😃

[2020-08-15 08:21] PluckyPrecious commented on #131
Knock Knock! @leecalcote @girishranganathan checking in for situation report.😃

[2020-08-15 08:23] PluckyPrecious commented on #132
Knock Knock! @kushthedude checking in for situation report.😃

[2020-08-15 08:26] PluckyPrecious commented on #212
Knock Knock! @kushthedude  checking in for situation report.😃

[2020-08-15 08:29] PluckyPrecious commented on #722
Knock Knock! @nveenjain @ranjithkumar007  checking in for situation report.😃

[2020-08-15 08:36] PluckyPrecious commented on #1385
Hi @leecalcote can we close this issue now?

[2020-08-15 08:41] PluckyPrecious commented on #1373
Hi @KarenEfereyan I think you'll need to create a file with the name ``smi-conformance-capability`` under https://meshery.meshery.io/docs/functionality and input the content in the document https://github.com/KarenEfereyan/laravella inside the file. 🤔

[2020-08-15 08:48] KarenEfereyan commented on #1373
Okay @PluckyPrecious

[2020-08-15 10:08] ranjithkumar007 commented on #722
Didn't get enough time.. Please feel free to take it up.

[2020-08-15 11:36] KarenEfereyan commented on #1373
@PluckyPrecious i can't seem to find that file on the repository. Am I in the wrong folder?
![Capture](https://user-images.githubusercontent.com/56835876/90311565-f5c57880-def3-11ea-89ce-fd89f8fef101.PNG)

[2020-08-15 12:20] KarenEfereyan commented on #1373
Never mind @PluckyPrecious I have gotten the docs folder. I have made a branch to work with. I see the functionality folder with the two files, one for lifecycle and performance management. I have created a new smi-conformance-compatibility file alongside them. But when i try to run vi <branchname> .md, I get an error that the required application is not installed. Same for make site. So I am gues

[2020-08-15 12:24] KarenEfereyan commented on #1373
I am currently trying to get Go installed. Another question I have though. In this file, https://docs.google.com/document/d/1HL8Sk7NSLLj-9PRqoHYVIGyU6fZxUQFotrxbmfFtjwc/edit# Am I to just dump the contents into the .md file or just a section. I currently just pasted the whole contents in there. But I am taking cue from the two other files to add relevant markup, like headings and subheadings. I ne

[2020-08-15 12:54] KarenEfereyan commented on #1373
I have go installed right now. But when i run vi mypage.md, i get this and I dont really understand![IMG_20200815_135307_528.jpg](https://user-images.githubusercontent.com/56835876/90312725-ab95c480-defe-11ea-95f0-5fc2144d62ea.jpg)

[2020-08-15 13:13] leecalcote commented on #1373
Hi @KarenEfereyan, for this issue, you can skip installing go. This issue will only require use of Ruby (Jekyll and bundler). These instructions might help - https://github.com/meshery/meshery/tree/master/docs

// @NupurThakur27

[2020-08-15 13:15] PluckyPrecious commented on #1373
Hi, @KarenEfereyan sorry for the late reply. Meshery Documentation uses Jekyll. First install Ruby https://jekyllrb.com/docs/installation/, then install Jekyll and Bundler.

[2020-08-15 13:15] leecalcote commented on #60
@PluckyPrecious, no, this one hasn't beennimolememted, yet.

[2020-08-15 13:18] leecalcote commented on #131
There has been movement on this issue with @kumarabd preparing a standard kit to be used in the refactoring of adapters. However, this issue remains largely unaddressed.

[2020-08-15 13:24] PluckyPrecious commented on #1373
@leecalcote I'm suggesting this https://github.com/layer5io/meshery/tree/master/docs be included in the

You're on the right track, please do your thing with the markup 👍🏽

[2020-08-15 13:25] PluckyPrecious commented on #1373
Please go ahead and do your thing with the enhancement. 👍🏽

[2020-08-15 13:32] KarenEfereyan commented on #1373
Okay @leecalcote but am i supposed to create the file first before running vi <filename.md>
. because according to the documentation, that command should allow me edit or add a documentation

[2020-08-15 16:24] KarenEfereyan commented on #1373
@PluckyPrecious give me more details. I should install ruby first? Then jekyll and Bundler? Can you send links to download them. I really want to get this done with before today ends. I would be happy if you are here for me @PluckyPrecious

[2020-08-15 16:41] PluckyPrecious commented on #1373
I'm here for you maami 😄 you use windows yea?

[2020-08-15 16:42] KarenEfereyan commented on #1373
Okay please do. Yes i use windows

[2020-08-15 19:09] LifeofDan-EL commented on #1385
About this, just checked https://meshery.meshery.io/docs/installation/platforms and the images there are broken but the readme I worked on is working well. Any idea why this is so?
![df](https://user-images.githubusercontent.com/45920948/90319779-2547a580-df33-11ea-9583-03c6690562de.png)

[2020-08-15 20:46] PluckyPrecious commented on #1385
No idea why, but i think it will be looked into. See #1395

[2020-08-15 21:11] LifeofDan-EL commented on #1385
Thanks @PluckyPrecious I leave it in good hands. I'm always available to help.

[2020-08-15 21:32] PluckyPrecious commented on #1385
You rock @LifeofDan-EL. ✊🏽 Kindly check other issues in the repo, it sure will need your magic touch.

[2020-08-16 07:49] subhamkrai commented on #1376
For which system we are getting above issue? Just to check changes working or not.

[2020-08-16 16:41] #1373 closed

[2020-08-16 17:19] leecalcote commented on #1376
@subhamkrai here's another item we can fix:

[code]

1. Can we have the "v" retained in the Client Version tag?
1. Can we have the GitSHA for the Server be full-length (like that of the Client)?

[2020-08-16 17:27] KarenEfereyan commented on #1373
Thank you so much sir

[2020-08-16 19:22] leecalcote opened #1402 "[Docs] Supported Platforms table missing bottom row"
**Description**
The Supported Platforms table in the [Meshery repo's README.md](https://github.com/layer5io/meshery/blob/master/README.md) is missing a cell.

**Expected Behavior**
The table should have a single row, spanning two columns at the bottom of the table.

**Screenshots**
<img width="825" alt="Screen Shot 2020-08-16 at 2 19 46 PM" src="https://user-images.githubusercontent.com/7570704/90

[2020-08-16 19:26] leecalcote opened #1403 "[Docs] Add "Open Service Mesh" to navigation menu in Meshery docs"
**Current State:**
Open Service Mesh (OSM) is a service mesh supported by Meshery. A new page documenting the Meshery adapter for OSM has been created - https://meshery.layer5.io/docs/service-meshes/adapters/osm

**Desired State:**
An entry for this service mesh should be added to the navigation menu.

<img width="303" alt="Screen Shot 2020-08-16 at 2 24 00 PM" src="https://user-images.githubuserc

[2020-08-16 19:29] leecalcote opened #1404 "[Docs] Add supported version number for Open Service Mesh"
**Current State:**
The new Meshery adapter for Open Service Mesh needs to list which version of OSM it supports.

**Desired State:**
Meshery supports OSM v0.3.0 currently. The documentation should reflect this.

<img width="1207" alt="Screen Shot 2020-08-16 at 2 27 16 PM" src="https://user-images.githubusercontent.com/7570704/90342308-d0586d80-dfcc-11ea-8573-ec3a4554763a.png">

---
**Contributor R

[2020-08-16 19:33] leecalcote opened #1405 "[Docs] Add link to First Timers’ Welcome Guide in Project page"
**Current State:**
The Layer5 [projects page](https://meshery.layer5.io/docs/project) in the Meshery does not have a link to the [first timers' welcome guide](https://docs.google.com/document/d/1ZLfRf4BOlRkz8wEBr7hDtkQH0MGfr43kXcrP6QfDac0/edit).

**Desired State:**
First-time open source contributors should be encouraged and shown a link to this document.

---
**Contributor Resources**
- [Meshery

[2020-08-16 19:35] leecalcote opened #1406 "[Docs] Add link to Layer5 Community Welcome Guide in Project page"
**Current State:**
The Layer5 [projects page](https://meshery.layer5.io/docs/project) in the Meshery does not have a link to the [Layer5 Community Welcome Guide](https://docs.google.com/document/d/17OPtDE_rdnPQxmk2Kauhm3GwXF1R5dZ3Cj8qZLKdo5E/edit).

**Desired State:**
First-time open source contributors should be encouraged and shown a link to this document.

---
**Contributor Resources**
- [Meshe

[2020-08-16 19:41] leecalcote opened #1407 "[Docs] Add descriptions of load generators in Meshery Performance Management page"
**Current State:**
The [Performance Management page](https://meshery.layer5.io/docs/functionality/performance-management) does not have a description of the three supported load generators:

- fortio
- wrk2
- Nighthawk

**Desired State:**
This page should describe the fact that Meshery supports these load generators and have a short description of what each load generator is. See the [service mesh

[2020-08-16 19:43] leecalcote opened #1408 "[Docs] Table of Supported Platforms shows broken links"
**Current State:**
The Supported Platforms page has missing images (broken links) of each of the platform's icons.

<img width="1067" alt="Screen Shot 2020-08-16 at 2 42 10 PM" src="https://user-images.githubusercontent.com/7570704/90342549-ba4bac80-dfce-11ea-9e9f-052b8b0f00d8.png">

**Desired State:**
Icons of each platform should be shown. Each of the links should be fixed.

---
**Contributor Re

[2020-08-16 19:51] leecalcote opened #1409 "[Docs] Remove example of `brew upgrade mesheryctl` output"
**Current State:**
The [Quick Start guide](https://meshery.layer5.io/docs/installation/) provides sample output of a successful upgrade of `mesheryctl`. This sample log output is unnecessary and clutters the documentation.

**Desired State:**
The Quick Start guide should not have this section included in the docs.

**Screenshot**
<img width="1397" alt="Screen Shot 2020-08-16 at 2 48 45 PM" src="ht

[2020-08-16 20:02] kushthedude opened #1410 "Move to Gorilla/mux for server routing"
**Current Behavior**

We are using **HTTProuter** for routing & serving our UI pages.

**Desired Behavior**

Use **Gorilla/mux** for server routing, remove complex network logic from handlers and use mux UI handlers to server SSR next UI bundle.

---
**Resources**

Read [this](https://www.nicolasmerouze.com/guide-routers-golang). article for a brief Comparision between HTTProuter & gorilla/mux.

[2020-08-16 20:10] KarenEfereyan commented on #1409
@lee can I take this up?

[2020-08-16 20:12] nuggetnchill commented on #1405
[first timers' welcome guide ](https://docs.google.com/document/d/1ZLfRf4BOlRkz8wEBr7hDtkQH0MGfr43kXcrP6QfDac0/edit) requires access for me when I clicked on it

[2020-08-16 20:12] kushthedude commented on #1409
Hey @KarenEfereyan, Please go ahead!

[2020-08-16 20:14] KarenEfereyan commented on #1409
@kushthedude I am on it. Thank you

[2020-08-16 20:19] kushthedude opened #1411 "[UI] Use dropdown+text field component in performance preference duration field"
**Current Behavior**

We have a text field for duration attribute of performance preferences in the UI, where as in the performance dashboard the field has been changed to dropdown+text.

**Desired Behavior**

Use dropdown+text field component in performance preference duration field

---
**Resources**

See PR https://github.com/layer5io/meshery/pull/1244/files

[2020-08-16 20:24] KarenEfereyan commented on #1409
It does not matter that it was not assigned to me, right?

[2020-08-16 20:24] kushthedude opened #1413 "Add tooltips for navigation menu items while in minimised state"
**Current Behavior**

When you minimise the sidebar, there is no tooltip for navbar items to let know which option is what.

**Desired Behavior**

Add tooltips for navigation menu items while in minimised state

---
**Resources**

- https://material-ui.com/components/tooltips/
- https://material-ui.com/api/tooltip/

[2020-08-16 20:25] JamieTaylor94 commented on #1408
I'll pick this up if that's ok?

[2020-08-16 20:26] #1409 closed

[2020-08-16 20:28] ghost commented on #1409
Im done Here is my PR https://github.com/meshery/meshery/pull/1412
Oh, @kushthedude you've merged it already. Thank you sir

[2020-08-16 20:28] kushthedude commented on #1409
Oops my bad, Anyway you were quite fast to fix this 🚀 !
Thanks!

[2020-08-16 20:40] KarenEfereyan commented on #449
@nitishm can I work with you? I really want to learn how this is done. It seems more than just a documentation issue. More like code involved.

[2020-08-17 00:42] leecalcote commented on #1405
@nuggetnchill, oops. I linked to the wrong document. Here is the document that I meant to link to - https://docs.google.com/document/d/1tpg2sLxirozNt3Ofr3GdM002f9rExp74EqrsGZBU710/edit

[2020-08-17 02:40] #1408 closed

[2020-08-17 03:16] leecalcote opened #1416 "[Docs] Meshery README.md - Indent categories of Supported Platforms"
**Current State:**
Recently, images were added to show logos of each of the supported platforms in the Meshery repo's readme.md file. In the process of this update being made, indentation of each sub-item under each type of platform is not indented.

**Desired State:**
Ideally, each sub-item (shown beside the red arrow) is indented by a couple whitespaces or a "-".

**Screenshot**
<img width="675"

[2020-08-17 03:28] #1385 closed

[2020-08-17 07:48] KarenEfereyan commented on #1376
@subhamkrai can i join you on this. I want to learn

[2020-08-17 08:04] subhamkrai commented on #1376
Sure.

[2020-08-17 09:04] Obizim commented on #1407
I don't see where to get the details of the three supported load generators

[2020-08-17 12:23] Veri5ied commented on #1402
I'll like to fix this issue

[2020-08-17 12:37] leecalcote commented on #1402
Thank you, @Veri5ied

[2020-08-17 12:41] #1416 closed

[2020-08-17 13:01] KarenEfereyan commented on #647
@leecalcote who is currently working on this

[2020-08-17 13:43] Nikhil-Ladha commented on #647
@leecalcote I don't think a very big fix is needed for this. And, we can add the `good-first-issue` label to it. As we only need to update the error message.

[2020-08-17 13:48] badta5te commented on #1403
Hi, can i take this?

[2020-08-17 14:01] Obizim commented on #1406
I want to take this up

[2020-08-17 14:20] PluckyPrecious commented on #1406
Please go ahead @Obizim 💪🏽

[2020-08-17 14:23] PluckyPrecious commented on #1403
Sure you can go ahead with it @badta5te

[2020-08-17 18:19] badta5te commented on #1403
Can you tell me what the problem is?
Trying to execute
[code]
And I get an error:
[code]

[2020-08-17 18:30] leecalcote commented on #1403
@KarenEfereyan FYI

@JubayerJoy do you mind having a look?

[2020-08-17 20:10] JubayerJoy commented on #1403
@badta5te, hi I am trying to reproduce this error.  I'll get back to you soon.

Meanwhile, you can make changes and open a PR. After each commit, wait a bit then netlify bot will deploy a version with changes you've made.

[2020-08-17 20:26] #1402 closed

[2020-08-17 20:29] #1403 closed

[2020-08-17 21:25] Kennygrace commented on #1405
I would like to take this up

[2020-08-17 21:25] leecalcote commented on #1405
Thanks, @Kennygrace 👍

[2020-08-17 21:27] leecalcote commented on #1405
Ooh, wait. @seun-beta did not reference or have this issue assigned before working on it here already - https://github.com/meshery/meshery/pull/1418

[2020-08-17 21:38] Kennygrace commented on #1405
Does that mean it's no longer available?

[2020-08-17 21:39] leecalcote opened #1421 "[Docs] SMI Conformance functionality page causing build errors"
**Description**
The recently created [SMI Conformance](https://github.com/layer5io/meshery/blob/master/docs/pages/functionality/smi-conformance-capability.md) functionality page is causing Jekyll build errors.

**Expected Behavior**
1) The front matter of this page needs to have a colon (:) after each key, like so:

[code]

2) A missing `/` has the permalink for the page showing in the wrong place

[2020-08-18 00:28] leecalcote commented on #1411
@PmcFizz this is a fantastic issue for you to tackle.

[2020-08-18 00:31] leecalcote commented on #1404
@kennygrace this is a good one to take on. You’ll learn about Jekyll collections and front matter.

[2020-08-18 03:01] PmcFizz commented on #1411
Yes  ok  I will fix it quickly.

[2020-08-18 04:44] PluckyPrecious commented on #1405
Hi @Kennygrace yes it’s no longer available for now, you could check other issues.💪🏽

[2020-08-18 07:41] leecalcote commented on #1411
Awesome! Thank you, @PmcFizz

[2020-08-18 07:43] leecalcote commented on #1411
To help clarify this feature request (small UX improvement), @kushthedude, will you provide a screenshot that highlights the desired change?

[2020-08-18 08:57] Kennygrace commented on #1404
Okay then, I'll take it up

[2020-08-18 09:02] kalradev commented on #1421
I want to start with this.

[2020-08-18 09:06] leecalcote commented on #1421
@kalradev, excellent!

[2020-08-18 09:13] leecalcote commented on #1405
@seun-beta, will you land a comment here signaling that you will pick up this issue (this way, it can be assigned to you).

[2020-08-18 09:26] leecalcote commented on #1403
@badta5te this bug is causing your issue - https://github.com/meshery/meshery/issues/1421

[2020-08-18 10:15] #1421 closed

[2020-08-18 13:06] kalradev commented on #1413
If no one is working on this, please assign it to me.

[2020-08-18 14:59] kalradev commented on #772
Hey, can I take this up?

[2020-08-18 15:17] seun-beta commented on #1405
@leecalcote  I am still on it. @PluckyPrecious is putting me through on it.

[2020-08-18 17:29] #1406 closed

[2020-08-18 18:36] PluckyPrecious commented on #772
@leecalcote @kushthedude

[2020-08-18 20:49] chandrashritii opened #1430 "Update the osm adapter status"
**Description**
Update the OSM adapter status from alpha to beta on the [meshery.io](https://meshery.io/) page.

![Screenshot_2020-08-19 Meshery The Service Mesh Management Plane](https://user-images.githubusercontent.com/34476976/90564064-5984c580-e1c2-11ea-98e6-57a51b6a8e65.png)

[2020-08-18 20:57] #1405 closed

[2020-08-18 22:19] kushthedude commented on #1430
The wrong repository, Please file an issue on Meshery.io .

[2020-08-19 05:20] nikita15p opened #1433 "[mesheryctl] cli should allow user to add meshes for which they want mesh management"
**Current Behavior**

Currently it downloads all the mesh adapter supported by meshery.

**Desired Behavior**

It should allow user to provide mesh names through mesheryctl so that they do not endup downloading all of them which is not required. Also the flag can be optional, if no value is provided by user it can default to all.

---
**Resources**
NA

**Alternatives / Additional Context**
NA

[2020-08-19 11:08] PluckyPrecious commented on #134
@leecalcote @kushthedude situation report for this issue? 😃

[2020-08-19 15:10] Annysah commented on #1407
I would love to work on this, I would need a community member guidance too.

[2020-08-19 15:28] PluckyPrecious commented on #1407
Hi @Annysah sure you can go ahead with it, do go over to the #first-timers workspace and ask questions.😊

[2020-08-19 15:32] anirudhjain75 opened #1434 "redirect_from: https://layer5.io/blog/smi-conformance-testing-with-meshery to https://layer5.io/blog/community/SMI-conformance-testing-with-meshery"

[2020-08-19 15:37] dhruv0000 opened #1435 "[Docs] Minikube and WSL2 Docs redirect to wrong page in the Last step."
**Description**

1. The last step of Docs on [minikube](https://meshery.layer5.io/docs/installation/platforms/minikube) and [wsl2](https://meshery.layer5.io/docs/installation/platforms/wsl2) telling to "Follow the rest of Meshery installation steps." leads to wrong page.

**Expected Behavior**

They should lead to https://meshery.layer5.io/docs/installation.

---
**Contributor Resources**
- [Meshe

[2020-08-19 16:53] PluckyPrecious opened #1436 "[Docs] Align Logos in Run Meshery Table"
**Current State:**
The Logos in the Run Meshery table of the readme Isn’t well aligned

**Desired State:**
Remove this “-“ and align the logo

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)
- [Instructions for contributing to documentation](https://github.com/layer5

[2020-08-19 17:15] 7daytheory commented on #1436
I'll do it

[2020-08-19 18:22] #1413 closed

[2020-08-19 18:53] kalradev commented on #1410
Hey!!

Can I work in this
@kushthedude

[2020-08-19 19:07] kushthedude commented on #1410
Sure go ahead!

On Thu, 20 Aug, 2020, 00:24 Dev Kalra, <notifications@github.com> wrote:

[2020-08-19 20:43] Sylfrena commented on #1200
Hi @leecalcote ,

Can I try to solve this issue?

[2020-08-19 21:31] #1411 closed

[2020-08-19 22:01] leecalcote commented on #1200
Hi @Sylfrena, that would be wonderful, yes.

[2020-08-19 22:55] leecalcote opened #1437 "[Docs] Add Community Calendar to Docs footer"
**Current Behavior**
The current set of horizontal social buttons on the layer5.io site does not have a button for the community calendar.

**Desired Behavior**
In the same fashion as https://github.com/layer5io/layer5/issues/621, add the existing button for the community calendar from the layer5.io/meshery page to the site's footer.

---
**Contributor Resources**
- [Meshery documentation site](ht

[2020-08-19 23:14] LifeofDan-EL commented on #1435
I can work on this.

[2020-08-20 02:36] leecalcote commented on #134
I think we stalled out given that we haven't come up with better suggestions in the meantime. Perhaps, we can let the stale bot have this one.

[2020-08-20 02:39] #328 closed

[2020-08-20 02:39] #474 closed

[2020-08-20 10:45] JubayerJoy commented on #1437
I am working on it 💪

[2020-08-20 11:02] leecalcote commented on #1437
Thank you, sir.

[2020-08-20 12:58] UdokaVrede commented on #1404
@leecalcote is this still open?

[2020-08-20 13:47] PluckyPrecious commented on #1404
Hi @UdokaVrede It's been assigned, you can check other issues. Thanks!

[2020-08-20 14:56] UdokaVrede commented on #1404
@PluckyPrecious  Thanks

[2020-08-20 17:21] #1437 closed

[2020-08-20 20:39] #1367 closed

[2020-08-21 01:50] dhruv0000 commented on #1435
There is one more broken link I found out.
The link back to `meshery Documentation` in a [404 page](https://meshery.layer5.io/docs/invalid), leads to https://meshery.layer5.io/docs/docs instead of https://meshery.layer5.io/docs .
I know it wasnt past of this issue, but it would be great if @LifeofDan-EL, you could look into it too.

[2020-08-21 01:59] LifeofDan-EL commented on #1435
@dhruv0000 Where is the link back to meshery Documentation located?

[2020-08-21 02:21] dhruv0000 commented on #1435
The correct link would redirect it to https://meshery.layer5.io/docs, but instead currently it leads to https://meshery.layer5.io/docs/docs. I believe `{{ site.baseurl }}` is adding the extra /docs in the link currently.

[2020-08-21 02:24] LifeofDan-EL commented on #1435
@dhruv0000 I understand the error you're talking about but I can't seem to figure out the file or page where the link that currently leads to https://meshery.layer5.io/docs/docs exists.

[2020-08-21 02:33] dhruv0000 commented on #1435
Oh, ok. I get your question now. That would be the [404.md](https://github.com/layer5io/meshery/blob/master/docs/pages/404.md) file.

[2020-08-21 02:46] LifeofDan-EL commented on #1435
Okay, seen fixed. Added commit to my PR. Thanks.

[2020-08-21 05:43] kishore007k commented on #1395
Is this issue still open? If so, I'll take this on.

[2020-08-21 05:57] kumarabd commented on #894
@leecalcote  I did do a workaround on this issue. Basically had used a localhost entry of `minikubeCA` to point to host's ip address. Then I put that in the kubeconfig so that it resolves to the host rather than localhost. I used `minikubeCA` because minikube has a set of dns that is signed with the CA cert, and this was one of them.

[2020-08-21 07:52] chandrashritii commented on #1395
@kishore007k I'm working on this one at the moment. Let's find you another issue :)

[2020-08-21 08:04] kishore007k commented on #1395
@chandrashritii 👍🤞

[2020-08-21 16:10] kalradev opened #1442 "Bug in login logout flow"
**Description**
Opened localhost:9081
It redirected me to localhost:9081/providers then oauth login selected github then I got logged in.
After logging in I logged out and it redirected me to localhost:9081/provider/ I selected meshery as provider
I thought it will redirect me to a login screen but there was no login screen
I thought I am logged in, but my kube config was not there. Also, get toke

[2020-08-21 17:39] kushthedude commented on #1442
There is no cookie token stored because you have used remote provider,
remote provider has jwt token stored on the remote server which you van
only see in logs once. Session cookie authentication is only present in the
local provider.
Coming to the '/' redirection, we cant redirect to login page as the user
may want to change the provider to remote, local or more which we will soon
be providing.

[2020-08-21 17:40] kushthedude commented on #1442
About the security issue, yes you are correct we do need to fix this in the
hydra jwt.

On Fri, 21 Aug, 2020, 23:09 Kush Trivedi, <kushthedude@gmail.com> wrote:

[2020-08-22 04:05] leecalcote opened #1444 "[Docs] Document adapter naming, display name, and navigation structure"
**Current State:**

**Desired State:**

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)
- [Instructions for contributing to documentation](https://github.com/layer5io/meshery/blob/master/CONTRIBUTING.md#documentation-contribution-flow)

[2020-08-22 12:44] nveenjain opened #1445 "[Platform] Verify Meshery's compatibility with OpenShift as a supported platform"
**Current Behavior**
It is listed as in-progress on ReadMe.

**Desired Behavior**
Support meshery on openshift and update the ReadMe.md

[2020-08-23 16:47] leecalcote commented on #1445
Expanding on this issue's description:

**Current Behavior**
It is listed as in-progress on ReadMe.

**Desired Behavior**
Meshery needs to be deployed on a recent version of OpenShift.
- Using manifests, ideally, the same manifests used for vanilla Kubernetes (found in /install folder in this repo) are compatible with an OpenShift deployment.
- Using Meshery Helm chart, confirm if any changes are

[2020-08-24 15:58] PluckyPrecious commented on #1407
Hi @Annysah situation report please, still up for this?

[2020-08-24 16:04] PluckyPrecious commented on #1436
Hi @7daytheory if you can't seem to find your way around it, do well to hop on the [Community Slack](http://slack.meshery.io/) someone will gladly give you a hand. 😃

[2020-08-24 17:31] UdokaVrede commented on #1445
@LEE ok thanks, I would skip this

[2020-08-25 04:15] leecalcote opened #1448 "[Docs] Add UI screenshot to UI Contributor docs"
**Current State:**
The [UI section of the CONTRIBUTING.md](https://github.com/layer5io/meshery/blob/master/CONTRIBUTING.md#ui-contribution-flow) is somewhat uninspiring.

**Desired State:**
1. The contributing to UI section could use a screenshot of the Meshery UI
1. In addition to a screenshot in this section, the README should list Billboardjs as on one of the frontend technologies in use.

**Im

[2020-08-25 04:22] Kennygrace commented on #1448
I'll like to take this up

[2020-08-25 07:43] tory-brown commented on #943
is this still open? if i take it up, what am i expected to do?

[2020-08-25 07:58] PluckyPrecious commented on #943
@leecalcote @kushthedude

[2020-08-25 09:21] kushthedude commented on #943
Fixed in https://github.com/meshery/meshery/commit/e9cb7ef8bcea5b012c8be8df3e62902158d384a8

[2020-08-25 09:21] #943 closed

[2020-08-25 09:24] kushthedude opened #1449 "[Docs] Remove the common issue heading in contributing.md"
**Current State:**

The common issue mentioned in contributing.md is not so common, it is OS-specific moreover it is seldom reproducible.

**Desired State:**

- Remove the common issues heading as it is now which makes the file look awkward.
- Add a note in this section https://github.com/layer5io/meshery/blob/master/CONTRIBUTING.md#build-and-run-meshery-server about the GCC compiler to be used wh

[2020-08-25 09:25] kushthedude commented on #943
@tory-brown You may take look at https://github.com/meshery/meshery/issues/1449

[2020-08-25 10:29] tim-hanke commented on #1449
I’d like to claim this issue, if available.

[2020-08-25 10:35] kishore007k commented on #973
As far as I understand we have to convert the cards into paper component and stack them right below each other. Correct me if I'm wrong. And Is this website built using the React and Material UI?. If so I can do this.

[2020-08-25 10:36] kushthedude commented on #1449
Yes please go ahead @tim-hanke

[2020-08-25 10:37] Ruth-ikegah commented on #1449
Nice Tim, go ahead!

[2020-08-25 10:38] kushthedude commented on #973
Yes, you are half right, but this is not a website rather a UI dashboard. Also, we need to have further discussion on if this UI makeover is required & further use-cases.

[2020-08-25 12:32] leecalcote opened #1451 "[Docs] Move "Meshery Adapter for Open Service Mesh" from alpha to beta in Meshery README"
**Current State:**
The Meshery Adapter for Open Service Mesh is listed in the alpha section of the [Supported Service Meshes](https://github.com/layer5io/meshery#supported-service-meshes) table.

**Desired State:**
The Meshery Adapter for Open Service Mesh should be listed in the beta section of the [Supported Service Meshes](https://github.com/layer5io/meshery#supported-service-meshes) table.

--

[2020-08-25 12:40] hikky08 commented on #1451
Can I work on this

[2020-08-25 12:42] hikky08 commented on #1451
Working on it

[2020-08-25 12:47] Ruth-ikegah commented on #1451
nice @hikky08 you have been assigned to it!

[2020-08-25 12:47] hikky08 commented on #1451
Thank you ma

[2020-08-25 12:48] Ruth-ikegah commented on #1448
Nice @Kennygrace you have been assigned to it!

[2020-08-25 12:50] Ruth-ikegah commented on #1451
sure!

[2020-08-25 13:42] PluckyPrecious opened #1452 "[Docs]Add RVM Description to Meshery Documentation"
**Current State:**
Windows users are having issues using Jekyll and there's no description to help with that.

**Desired State:**
Provide a description of RVM to the `set up your development environment` section of the Meshery Doc by adding this line.

`Note: Windows users can run Jekyll by following the [Windows Installation Guide](https://jekyllrb.com/docs/installation/windows/) and also install

[2020-08-25 13:45] MoeRayo commented on #1452
I'd like to do this

[2020-08-25 14:03] chandrashritii opened #1454 "[Docs: UI] Fix social footer bar"
**Description**

The social icons in the footer bar are not properly aligned.

**Expected Behavior**

The social icons should be properly aligned and visible.

**Screenshots**
![Screenshot_2020-08-25 Meshery Documentation](https://user-images.githubusercontent.com/34476976/91177292-1b772c80-e701-11ea-8488-c7fa794bdec3.png)

**Environment:**
 - OS: Windows 10
 - Browser: Firefox
 - Device: Laptop

[2020-08-25 14:35] MoeRayo commented on #1454
Is this taken yet or can I work on it?

[2020-08-25 14:36] Ruth-ikegah commented on #1454
Sure you can @MoeRayo assigned you to it!

[2020-08-25 14:44] PluckyPrecious commented on #1452
Sure @MoeRayo do go ahead. 👍🏽

[2020-08-25 17:09] MoeRayo commented on #1452
![Screenshot_2020-08-25 meshery meshery](https://user-images.githubusercontent.com/48064606/91205681-db627a80-e6fd-11ea-9f7a-4d547ea85217.png)
@PluckyPrecious The above is what the site looks like currently, and i saw that some of the things i am required to add are already in the current page. so I would like to know, do I remove the current one totally and add this new one or do I add some of th

[2020-08-25 17:26] PluckyPrecious commented on #1452
Good question. @MoeRayo 😊 This issue is to add an extra note for Windows users, as Jekyll doesn’t officially support windows. It will help guide them on the necessary step to follow during installation specifically for windows in order to have it run on their local machine. Please leave the current one as it is, you can add the additional lines right after *Jekyll Docs* .👍🏽

[2020-08-25 17:56] kalradev opened #1459 "[UI] Notification board should close when notification is cleared"
**Current Behavior**

![Screenshot from 2020-08-25 23-23-40](https://user-images.githubusercontent.com/32228313/91209908-0c58a480-e72a-11ea-9af1-c16e4b5d482a.png)

When notification is cleared using the clear Icon, notification board doesnot close.

**Desired Behavior**

It should close, because there is no use for the notification board after clearing notifications.
User experience would be bette

[2020-08-25 19:14] leecalcote commented on #1459
Thanks for documenting this @kalradev.

[2020-08-25 21:58] tim-hanke commented on #1449
In the section to be moved: `Invalid C Headers ( Mac OS )`, it states

I apologize if I'm misunderstanding this, but I am reading that section as saying the suggested fix is to use the gcc compiler, so shouldn't that say:

If so, is this the place to change that as well?

[2020-08-25 22:20] #1050 closed

[2020-08-26 01:14] leecalcote opened #1461 "[MeshMap] Filename and file extension for topology snapshot"
**Current Behavior**
MeshMap provides a snapshot of the current state of the visual topology as a PNG. The PNG is pushed to the user agent (browser) with the filename "Unknown" and without an extension defined.

**Desired Behavior**
1. Snapshot filename is: `MeshMap - <date/timestamp>`
1. Snapshot file extension is `.png`

[2020-08-26 03:40] leecalcote opened #1462 "[MeshMap] Context menu for performance tests"
**Current Behavior**

**Desired Behavior**

---
**Implementation**

**Mockups**

**Acceptance Tests**

[2020-08-26 04:05] leecalcote commented on #1444
@kumarabd @anirudhjain75 progress to report here?

[2020-08-26 05:35] #1461 closed

[2020-08-26 06:53] #1451 closed

[2020-08-26 13:09] #1410 closed

[2020-08-26 15:06] oyinmi commented on #1454
Is this taken already?

[2020-08-26 15:46] PluckyPrecious commented on #1454
Hey @oyinmi yes it is, do check other issues. 👍🏽

[2020-08-26 16:17] PluckyPrecious commented on #1454
Hola! @oyinmi I found one for you to get your hand on [here](https://github.com/layer5io/service-mesh-performance/issues/102)

[2020-08-26 16:49] oyinmi commented on #1454
@PluckyPrecious thank you.

[2020-08-26 18:17] #1452 closed

[2020-08-26 18:18] PluckyPrecious opened #1467 "Fix Welcome Bot Celebration Stargazers Link"
**Current Behavior**
Not displaying a link for contributors to click and star the project.
![welcome msg](https://user-images.githubusercontent.com/59584014/91340126-62335800-e7cf-11ea-9de9-1533cef696ba.PNG)

**Desired Behavior**
This section `[star the project](../stargazers)` needs to be clickable to direct contributors.

---
**Contributor Resources**
- [Meshery documentation site](https://meshe

[2020-08-26 18:28] MrJDavidT commented on #1467
May I try to contribute?

[2020-08-26 18:30] leecalcote commented on #1467
@MrJDavidT that would be excellent. Jump into the community Slack workspace, if you get snagged or if you'd simply like to get more involved in the projects here: http://slack.meshery.io. 👍

[2020-08-26 18:34] MrJDavidT commented on #1467
Thank you. I will head over there.

[2020-08-27 06:39] mgfeller commented on #1433
Hi @nikita15p, thanks for raising this issue, as was also discussed at yesterday's Meshery Development Meeting (my line was quite bad so I didn't catch all that was being said). I'm looking forward to this feature as well. In the meantime, I just edit the configuration file `./meshery/meshery.yaml` (see example below), following https://meshery.layer5.io/docs/guides/multiple-adapters#configuration

[2020-08-27 09:57] Ayushbajpai19 commented on #1448
I would like to contribute to the above issue, can you guide me through the process?

[2020-08-27 10:02] Ruth-ikegah commented on #1448
Hi @Ayushbajpai19 that's nice, but someone has already been assigned to this issue. Please hop in our slack channel : http://slack.meshery.io/

Let's find you another issue

[2020-08-27 16:41] #921 closed

[2020-08-27 17:46] leecalcote opened #1470 "[UI] Enhance indication of enabled vs disabled in user preferences interface"
**Current Behavior**
The current version of the user preferences UI looks like this:

<img width="1321" alt="Screen Shot 2020-08-27 at 12 41 21 PM" src="https://user-images.githubusercontent.com/7570704/91476596-cfdc9400-e862-11ea-8d56-b3330da24637.png">

It's difficult to tell which way is on and which way is off.

The toaster notification is of no help in this regard either:

<img width="370" al

[2020-08-27 19:38] morelmiles commented on #1146
Any progress on this?

[2020-08-27 21:51] leecalcote commented on #1146
@morelmiles, no, we're still in the same place here. You're help would be much appreciated. Here's a recent screenshot:

<img width="1076" alt="Screen Shot 2020-08-27 at 4 50 18 PM" src="https://user-images.githubusercontent.com/7570704/91498498-7afe4500-e885-11ea-8bbd-4d384dc5c071.png">

Notice the hamburger icon (menu) also not being responsive.

[2020-08-27 21:52] leecalcote commented on #1146
@morelmiles jump into the community Slack at http://slack.meshery.io, if any questions arise or just to better connect with the community and familiarize with the projects. 👍

[2020-08-28 08:04] luigimorel commented on #1146
Thanks. Will get onto it.

---
Luigi Morel.

Front-end developer and UI/UX designer.

Tel: +256 704 916 696 (WhatsApp)

On Fri, Aug 28, 2020, 00:52 Lee Calcote <notifications@github.com> wrote:

[2020-08-28 18:48] leecalcote opened #1474 "[Docs] List SMI Conformance as a feature of Kuma adapter"
**Current State:**
The documentation for the [Meshery adapter for Kuma](https://meshery.layer5.io/docs/service-meshes/adapters/kuma) is missing a list and description of all of the operations that it supports.

**Desired State:**
Another supported feature of the adapter for Kuma is SMI Conformance - https://meshery.layer5.io/docs/functionality/smi-conformance. This needs to be highlighted as  func

[2020-08-28 21:40] leecalcote opened #1475 "[Docs] Supported Service Meshes table in README is missing a cell"
**Description**
In the [Supported Service Meshes](https://github.com/layer5io/meshery#supported-service-meshes) section in the Meshery README.md a cell is missing:

<img width="489" alt="Screen Shot 2020-08-28 at 4 37 00 PM" src="https://user-images.githubusercontent.com/7570704/91617221-2c1be280-e94d-11ea-9a57-b966b64b5276.png">

**Expected Behavior**
Each section should have an empty row to prov

[2020-08-28 21:46] leecalcote opened #1476 "[Docs] Improve legibility of supported platforms in Meshery README"
**Description**
[The table ](https://github.com/layer5io/meshery#run-meshery) in the Meshery README.md containing supported platforms has a hyphen to indent each type of platform under its respective category. The hyphens are slightly distracting, making the table less legible.

**Expected Behavior**
Platforms listed under each category should be indented, but using whitespace (`&nbsp;`) or tabs (

[2020-08-28 22:03] #1449 closed

[2020-08-28 22:13] 7daytheory commented on #1436
Sorry, I have no issue with this it's pretty simple. I got sick as hell (not covid) and was not on top of my stuff.

If you've moved on that's fine - if not I can see what I can get done tonight without rushing

[2020-08-28 22:15] Kennygrace commented on #1476
I'll like to take this up

[2020-08-28 22:19] Ruth-ikegah commented on #1476
Sure @Kennygrace . It has been assigned to you

[2020-08-28 23:54] leecalcote commented on #1436
@7daytheory sounds great. Coincidentally, I juuust made a duplicate issue a little earlier describing a similar request. As you dig in here, do you mind considering the points described in issue https://github.com/meshery/meshery/issues/1476?

[2020-08-28 23:54] leecalcote commented on #1436
Seeing you comment made me realize that the new issue is a duplicate.

[2020-08-29 00:00] 7daytheory commented on #1436
Has someone claimed the new duplicate issue?

[2020-08-29 00:26] leecalcote commented on #1436
@7daytheory no, sir. It’s all you.

[2020-08-29 00:27] 7daytheory commented on #1436
Kk

[2020-08-29 00:30] leecalcote commented on #1476
Gasp! Oh, no. I created this issue not realizing that it is a duplicate of #1436. Another contributor previously took up that issue, and is toiling on it now.

@Kennygrace, could I ask that we get you into another issue so as to avoid overlapping effort?

[2020-08-29 00:34] leecalcote commented on #1474
@KarenEfereyan this might be of interest considering your prior work in this area.

[2020-08-29 00:36] Kennygrace commented on #1476
Okay then

[2020-08-29 02:50] KarenEfereyan commented on #1474
@leecalcote could you please assign it to me? Ill look into it later today

[2020-08-29 05:07] leecalcote commented on #1474
Hi @KarenEfereyan, heads-up, the Istio and Open Service Mesh adapters support the same operation.

[2020-08-29 05:12] akashgp09 opened #1479 "[Docs: UI] Fix Mobile Display"
**Description**

The mobile page has issues. Please help to make the display on mobiles work.

**Expected Behavior**

No extra spacing should be there on the right side and at the bottom.

**Screenshots**

<img src="https://i.imgur.com/7Rctb9U.jpg" height="550" >

**Environment:**
- OS: Android/IOS
- Browser:  Chrome
- Device:  Samsung S5,IPhone 8,Iphone X

---
**To Reproduce**
Steps to reproduce

[2020-08-29 05:25] NorbertLuszkiewicz commented on #1475
Hey I would love to tackle this one - let me know If know if you still need help with it.

[2020-08-29 05:34] #1034 closed

[2020-08-29 07:48] UdokaVrede commented on #1475
Hi @NorbertLuszkiewicz, sorry I opened this some minutes after it was created, forgot to comment and went ahead forking it and making changes, just realized you commented on it after making the PR. Hope this does not get you offended. I sincerely apologise. Thanks

[2020-08-29 08:05] UdokaVrede opened #1483 "Iincorrect link to slack chat room on contributing.md [Docs]"
**Current State:**
The link to the slack channel on contributing.md currently leads to the github 404 page as shown below:
![issue](https://user-images.githubusercontent.com/63649352/91631986-98dabf80-e9d5-11ea-99c4-a1001f5681d1.png)
![cause](https://user-images.githubusercontent.com/63649352/91632051-17cff800-e9d6-11ea-9797-2805ec777b46.png)

**Desired State:**
The link should lead to the slack c

[2020-08-29 08:54] akashgp09 commented on #1483
I would like to work on this issue.

[2020-08-29 10:53] leecalcote commented on #1270
Adding the `willfix` label. @kushthedude a good thing to see finished up. Having this channel means that we will have access to artifacts from every merge to master

[2020-08-29 10:54] UdokaVrede commented on #1483
@PluckyPrecious please look this up

[2020-08-29 11:22] PluckyPrecious commented on #1483
Nice one @UdokaVrede 👍🏽

[2020-08-29 12:28] alabobriggs commented on #1470
I will like to work on this

[2020-08-29 12:35] #1483 closed

[2020-08-29 13:02] leecalcote opened #1485 "[Docs] List SMI Conformance as a feature of the adapter for Open Service Mesh"
**Current State:**
The documentation for the [Meshery adapter for Open Service Mesh](https://meshery.layer5.io/docs/service-meshes/adapters/osm) is missing a list and description of all of the operations that it supports.

**Desired State:**
Another supported feature of the adapter for Kuma is SMI Conformance - https://meshery.layer5.io/docs/functionality/smi-conformance. This needs to be highligh

[2020-08-29 13:03] leecalcote opened #1486 "[Docs] List SMI Conformance as a feature of the adapter for Istio"
**Current State:**
The documentation for the [Meshery adapter for Istio](https://meshery.layer5.io/docs/service-meshes/adapters/istio) is missing a list and description of all of the operations that it supports.

**Desired State:**
Another supported feature of the adapter for Kuma is SMI Conformance - https://meshery.layer5.io/docs/functionality/smi-conformance. This needs to be highlighted as  fu

[2020-08-29 13:14] leecalcote commented on #1485
Tagging @KarenEfereyan

[2020-08-29 13:14] leecalcote commented on #1486
Tagging @KarenEfereyan

[2020-08-29 14:01] chandrashritii opened #1487 "[Docs] List supported operations for the Meshery adapter for Maesh"
**Description**

The operations supported by the adapter for Maesh are not listed in its [documentation](https://meshery.layer5.io/docs/service-meshes/adapters/maesh). Add the heading `Sample Applications` and include a list of the supported operations, with a small explanation for each. The operations can be found listed [here.](https://github.com/layer5io/meshery-maesh/blob/master/maesh/supporte

[2020-08-29 14:06] chandrashritii opened #1488 "[Docs] List supported operations for the Meshery adapter for Linkerd"
**Current State:**

The operations supported by the adapter for Linkerd are not listed in its [documentation](https://meshery.layer5.io/docs/service-meshes/adapters/linkerd).

**Desired State:**

Under the heading `Sample Applications` and include a list of the supported operations, with a small explanation for each. The operations can be found listed [here](https://github.com/layer5io/meshery-lin

[2020-08-29 14:16] chandrashritii opened #1489 "[Docs] Update the list of supported operations for the Meshery adapter for Citrix (CPX)"
**Current State:**

The operations supported by the adapter for Linkerd are not listed in its [documentation](https://meshery.layer5.io/docs/service-meshes/adapters/cpx).

**Desired State:**

Under the heading `Sample Applications` and include a list of the supported operations, with a small explanation for each. The operations can be found listed [here](https://github.com/layer5io/meshery-cpx/blo

[2020-08-29 14:22] chandrashritii opened #1490 "[Docs] List supported operations for the Meshery adapter for Octarine"
**Current State:**

The operations supported by the adapter for Linkerd are not listed in its [documentation](https://meshery.layer5.io/docs/service-meshes/adapters/octarine/octarine).

**Desired State:**

Under the heading `Sample Applications` and include a list of the supported operations, with a small explanation for each. The operations can be found listed [here](https://github.com/layer5io/m

[2020-08-29 15:13] NorbertLuszkiewicz commented on #1479
The problem is div with it class row on footer

[2020-08-29 15:44] chandrashritii opened #1491 "[Docs] List supported operations for the Meshery adapter for Tanzu"
**Current State:**

The operations supported by the adapter for Linkerd are not listed in its [documentation](https://meshery.layer5.io/docs/service-meshes/adapters/tanzu-sm).

**Desired State:**

Under the heading `Sample Applications` and include a list of the supported operations, with a small explanation for each. The operations can be found listed [here](https://github.com/layer5io/meshery-ta

[2020-08-29 16:37] KarenEfereyan commented on #1474
@Lee
Just under the lifecycle management, I would need to add the feature of smi conformance capability as one that kuma adapter supports, right?

[2020-08-29 17:36] KarenEfereyan commented on #1474
Are these to be treated as separate issues?. I am also done with the one for the Istio Adapter but what Issue number would that be?

[2020-08-29 17:47] Kennygrace commented on #1491
I'll like to take this up

[2020-08-29 18:21] KarenEfereyan commented on #1491
Yippie.

[2020-08-29 18:25] KarenEfereyan commented on #1490
@chandrashritii can I use this issue as a reference for the tutorial? The one I spoke about on Slack? I think its fairly simple and easy to understand.

[2020-08-30 17:22] KarenEfereyan commented on #1489
@chandrashritii , hello, I want to work on this.

[2020-08-30 19:18] lolyparty commented on #1488
Hey, I'd like to work on this issue

[2020-08-30 22:18] chandrashritii commented on #1491
Sure @Kennygrace Go ahead 🎈

[2020-08-30 22:19] chandrashritii commented on #1489
@KarenEfereyan Sure. Go ahead!

[2020-08-30 22:20] chandrashritii commented on #1488
Thanks for jumping in here @lolyparty. Sure. Go ahead!

[2020-08-30 22:31] chandrashritii commented on #1490
@KarenEfereyan Thank you for taking up the initiative to make a tutorial 🎈
Considering that the tutorial is majorly on using Git (CLI and desktop app), and demonstrating how to sign off on your commits, the issue referred can be a relatively simple one. Regardless, I would suggest you take up something a bit more UI related because that'll be easier to showcase and will be more interesting than ad

[2020-08-31 01:39] leecalcote commented on #849
Ready to reinstitute the Labeler action.

[2020-08-31 01:59] leecalcote commented on #1489
Karen, given the consistency of your contributions, you’ve been invited to join the “Mesheryio” org on GitHub (very cool). Now that your user is a member of the org, your user account has permission to triage issues, including management of any issues’ assignees. If you see an issue with the help-wanted label that is unassigned, you’re most welcome to self-assign.

Kudos on your new membership. Th

[2020-08-31 02:02] Sylfrena commented on #1200
Hi,

My [PR](https://github.com/layer5io/meshery/pull/1496) seems to be failing due to a linting error. I think it has something to do with my local setup but I can't be sure. :(

Is it okay if I get back to this in a few days after resetting my entire system? If not, then I am okay with giving up my claim on the issue.

[2020-08-31 04:26] kushthedude opened #1498 "Complete nighthawk integration with meshery modules"
**Current Behavior**

Nighthawk Server Interface has already been added but UI, Mesheryctl, SMPConfig & Other configurations needs to be exposed.

**Desired Behavior**

Complete Nighthawk API Integration with all the modules of Meshery

---

[2020-08-31 06:26] ripon516 commented on #121
আমার সিমে আমি কোন মেসেজ কিনি নি my Gp থেকে,, তার পরে ও মেসেজ দিয়ে আমার কয়েন কেটে নিছে

[2020-08-31 10:58] UdokaVrede opened #1499 "Typo in SMI CONFORMANCE.MD[Docs]"
**Current State:**
There is a typo in the smi conformance.md
**Desired State:**
correct typo

---
**Contributor Resources**
- [Instructions for contributing to documentation](https://github.com/layer5io/meshery/blob/master/CONTRIBUTING.md#documentation-contribution-flow)

[2020-08-31 11:49] was-coder commented on #1487
@Ruth-ikegah @leecalcote i want to take up this challenge

[2020-08-31 12:27] was-coder commented on #1487
@chandrashritii and @leecalcote i would like to take up this challenge

[2020-08-31 14:13] chandrashritii commented on #1487
@was-coder Sure. Go ahead 🎈

[2020-08-31 16:08] lolyparty commented on #1488
I'm to add a list of supported operations with their names right? Also can I get a link to where I can read on the operations. Thanks  @chandrashritii

[2020-08-31 16:10] kalradev opened #1501 "[Backend]: Not able to ping GKE clusters"
**Description**
When a cluster is hosted on GKE, kubernetes services by Google. The server is not able to create a Client set and because of which it is not able to ping the cluster.

**Expected Behavior**
It should be able to ping

**Screenshots**

![no-ping](https://user-images.githubusercontent.com/32228313/91741571-87aad200-ebd2-11ea-8405-5e1915fba838.png)

---
[Optional] **To Reproduce**
Step

[2020-08-31 16:30] leecalcote commented on #1501
@kalradev did you run this? ` $ mesheryctl system config gke --token <PATH TO TOKEN>` from https://meshery.layer5.io/docs/installation/platforms/gke?

[2020-08-31 16:38] kalradev commented on #1501
No, Thanks for this. I thought this was an issue. I also found https://github.com/kubernetes/client-go/issues/242 related to this.

I am closing this.

[2020-08-31 16:38] #1501 closed

[2020-08-31 18:31] leecalcote commented on #1488
@lolyparty see the link in the Desired State section in the issue description.

[2020-08-31 18:33] lolyparty commented on #1488
Ok thank you

[2020-08-31 19:23] mgfeller opened #1504 "[Docs] Update Consul version to 1.8.2, and possibly other minor fix"
**Current State:**

The current version in the docs is v1.5.

Also, I think the sentence "The SMI adapter for Kuma can also be installed using Meshery." in https://meshery.layer5.io/docs/service-meshes/adapters/consul should be removed, as it concerns the Kuma adapter.

**Desired State:**

The version of Consul in the Consul adapter has recently been upgraded to 1.8

This should be reflected in th

[2020-08-31 20:21] Rex739 commented on #1504
i want to work on this

[2020-08-31 20:27] Ruth-ikegah commented on #1504
Nice @Rex739
@mgfeller he can go-ahead, right?

[2020-08-31 20:48] mgfeller commented on #1504
yes, @Ruth-ikegah.
thank you @Rex739!

[2020-08-31 22:01] #1474 closed

[2020-08-31 22:19] #1499 closed

[2020-08-31 22:19] #1475 closed

[2020-08-31 22:27] #1487 closed

[2020-09-01 08:27] was-coder commented on #1490
@chandrashritii I want to take up this issue

[2020-09-01 08:28] was-coder commented on #1490
@chandrashritii @Ruth-ikegah I want to take up this issue

[2020-09-01 09:51] KarenEfereyan commented on #1490
@was-coder you can go ahead. Let us know if you have issues. Be sure to check out the contributions guide

[2020-09-01 15:24] anirudhjain75 opened #1512 "[mesheryctl] Add letter v in client version when mesheryctl version is invoked"
**Description**
[code]
Currently client version doesn't have 'v' as in server version.

**Expected Behavior**
[code]

---
[Optional] **To Reproduce**
Steps to reproduce the behavior:
1. build mesheryctl
2. run `./mesheryctl version`

[2020-09-01 16:29] UdokaVrede commented on #1512
can i take this ?

[2020-09-01 16:57] Ruth-ikegah commented on #1512
Sure @UdokaVrede

[2020-09-01 17:54] PluckyPrecious commented on #1467
Hellos @MrJDavidT, how is it coming up? 😊

[2020-09-01 19:17] KarenEfereyan commented on #1476
@leecalcote how about we close this issue? Just so it doesn't cause any distractions for new contributors

[2020-09-01 19:31] KarenEfereyan commented on #1479
@akashgp09 could I please work on this issue?

[2020-09-01 19:32] leecalcote commented on #1476
Sounds real good, @KarenEfereyan.

[2020-09-01 19:32] #1476 closed

[2020-09-01 19:48] KarenEfereyan commented on #1479
@NorbertLuszkiewicz I can't figure out which of these files I will need to make my editing in. I am very new to jekyll. Can you put me through on that?

[2020-09-01 20:16] #1479 closed

[2020-09-01 20:17] #1490 closed

[2020-09-02 01:20] Josephchinedu commented on #1512
can i take it if the issue have not been resolved

[2020-09-02 01:35] PmcFizz commented on #1459
This‘s a good suggest. I will finish it .
@kalradev @leecalcote

[2020-09-02 01:54] leecalcote commented on #1459
Thank you, sir. @PmcFizz 👍

[2020-09-02 03:03] lumenCodes commented on #1512
Someone is already assigned to it..

[2020-09-02 03:33] #487 closed

[2020-09-02 03:35] leecalcote commented on #595
Included in the v0.4.0 release.

[2020-09-02 03:35] #595 closed

[2020-09-02 03:36] leecalcote commented on #612
@subhamkrai did we ever confirm that the issue shown this this screen capture is fixed?

[2020-09-02 03:39] leecalcote commented on #966
@NupurThakur27, do you think you'll come around to this issue soon? @nikita15p is asking about Meshery's configuration in this area.

[2020-09-02 09:10] KarenEfereyan commented on #619
@leecalcote should I take this up?

[2020-09-02 09:27] #1459 closed

[2020-09-02 10:48] was-coder commented on #1485
I will like to take on this issue @leecalcote but i need more explanation on it

[2020-09-02 11:00] leecalcote commented on #1485
@was-coder here’s an example that should help - https://github.com/meshery/meshery/pull/1492

[2020-09-02 11:42] Rex739 commented on #1504
![Screen Shot 2020-09-02 at 12 40 42 PM](https://user-images.githubusercontent.com/54443717/91976873-918b1d00-ed19-11ea-9389-d883dc86c304.png)
@mgfeller i couldn't locate the file path for this in the repo

[2020-09-02 13:27] NupurThakur27 commented on #966
Just made the PR, it slipped my mind before.

[2020-09-02 14:18] mgfeller commented on #1504
Hi @Rex739, it is https://github.com/meshery/meshery/blob/master/docs/pages/service-meshes/adapters.md, and as you can see it is created based on the information from the individual adapter pages.

[2020-09-02 20:59] leecalcote commented on #1488
@lolyparty you will want to try building the site with Ruby 2.6.7. You might want to use RVM (https://rvm.io) as a tool to help install different versions of Ruby.

[2020-09-02 21:10] lolyparty commented on #1488
Ok, thank you. I'll try that.

[2020-09-02 21:18] was-coder commented on #1485
@leecalcote and @Ruth-ikegah  i already got the explanation, can i be assigned the issue

[2020-09-02 21:33] leecalcote commented on #1485
Sounds great, @was-coder

[2020-09-02 22:13] #1485 closed

[2020-09-03 06:59] kumarabd opened #1519 "Modifications in smi conformance chip"
**Description**
Modify the smi conformance chip name and remove notifications

**Expected Behavior**
The chip should say `View SMI Conformance results` and also the notifications must be removed.

[2020-09-03 07:42] Rex739 commented on #1504
oh i understand now

[2020-09-03 08:38] PluckyPrecious commented on #1467
Hello, @MrJDavidT thank you for your interest in contributing to Meshery project, this issue has been addressed by another contributor, kindly check out other issues in the repo you'll surely find one to pick up. 👍🏽

I'll close this now.

[2020-09-03 08:38] #1467 closed

[2020-09-03 08:44] PluckyPrecious commented on #1454
Issue fixed, I'll close now.

[2020-09-03 08:44] #1454 closed

[2020-09-03 08:47] #1519 closed

[2020-09-03 08:48] #1436 closed

[2020-09-03 10:42] #966 closed

[2020-09-03 10:50] leecalcote opened #1521 "[Docs] Supported platforms should be alphabetically listed, grouped and indented by category"
**Current State:**
Items in the list of supported platforms should be alphabetically listed, grouped and indented by category.

<img width="778" alt="Screen Shot 2020-09-03 at 5 47 58 AM" src="https://user-images.githubusercontent.com/7570704/92105870-2557fa00-eda9-11ea-809c-b1b79ec02afb.png">

**Desired State:**
Each item under a platform category should be indented like the same supported platfo

[2020-09-03 11:47] kumarabd opened #1522 "Kuma adaptor not initializing in the UI management chip"
The management chip does not display kuma adaptor.

[2020-09-03 11:52] #1522 closed

[2020-09-03 11:55] leecalcote commented on #1522
@kushthedude @kumarabd, what the heck is this this? Teamwork?!

[2020-09-03 12:10] HFeilx opened #1524 "Is there no mirror image"
docker pull layer5/osm-consul:stable-latest
Error response from daemon: pull access denied for layer5/osm-consul, repository does not exist or may require 'docker login': denied: requested access to the resource is denied

[2020-09-03 12:11] FelixStarship commented on #1524
meshery-osm-deployment.yaml

-----------------------------------------master--------------------------------------
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -f ../docker-compose.yaml
    kompose.version: 1.17.0 ()
  creationTimestamp: null
  labels:
    io.kompose.service: meshery-osm
  name: meshery-osm
spec:
  selector:
    matchLabels:

[2020-09-03 12:26] PluckyPrecious commented on #1491
Hey @chandrashritii i think you meant operations supported by the adapter for Tanzu are not listed.

[2020-09-03 12:28] leecalcote commented on #1524
@HFeilx good eye. This should be:

[code]

@Hfelix, if you would like to fix and PR this just say the word, otherwise, @mgfeller will likely pick it up.

[2020-09-03 12:30] leecalcote commented on #1524
The line in need of fixing - https://github.com/meshery/meshery/blob/master/install/deployment_yamls/k8s/meshery-osm-deployment.yaml#L25

[2020-09-03 12:45] kushthedude commented on #1524
will be fixed by #1525

[2020-09-03 12:49] NorbertLuszkiewicz commented on #1521
Hey I would love to tackle this one, but I have one question, can you send me where this file is

[2020-09-03 13:59] anirudhjain75 opened #1527 "[UI] Design a UI for Meshery Adapter"
https://docs.google.com/document/d/1b8JAMzr3Rntu7CudRaYv6r6ccACJONAB5t7ISCaPNuA/edit#heading=h.blih70a9hxp is the doc for Meshery Adapters. We are excited to see the designs you come up with for adapter pages.

[2020-09-03 14:17] dhruv0000 opened #1528 "The validation for protocol in URL donst allow urls without top level domain."
**Description**

The protocol wont consider `http://172.17.0.2:31329/productpage` as a vaild URL as it lacks a top level domain.
Rather it would accept `http://172.17.0.2:31329.com/productpage`
**Expected Behavior**

**Screenshots**

![image](https://user-images.githubusercontent.com/44001539/92126718-24ad7b00-ee1e-11ea-870a-43178b4d1487.png)

[2020-09-03 21:49] leecalcote opened #1530 "Version all Meshery Adapters and provide version numbers to users"
**Current Behavior**
Today, users are not able to view the version of any given Meshery adapter in either the Meshery UI or `mesheryctl`.

**Desired Behavior**
1. Meshery UI should be enhanced to show to show versions of each of the adapters.
1. `mesheryctl version` should be enhanced to show versions of each of the adapters, not just the client and server.

---
**Implementation**
1. "vX.X.X" tag

[2020-09-03 22:04] #1524 closed

[2020-09-03 22:07] leecalcote commented on #1524
@HFeilx thank you for reporting this. If you pull down the HEAD of this repo (or simply copy the deployment spec), the Meshery adapter for OSM should deploy. Please let us know if you have any trouble here.

The community of contributors loves feedback. Please jump into http://slack.meshery.io. Any input you might have is most welcome.

[2020-09-03 23:53] Josephchinedu commented on #1521
i'll love to tackle this

[2020-09-04 03:13] iambami commented on #1521
I'll love to do this

[2020-09-04 03:17] leecalcote commented on #1521
Thanks all. @NorbertLuszkiewicz given that you messaged earliest, let’s get this one over to you. Here’s a link to the page - https://github.com/meshery/meshery/blob/master/docs/pages/installation/platforms.md

[2020-09-04 03:23] leecalcote commented on #1269
@iambam or @Josephchinedu, you might like to pick you this issue.

[2020-09-04 07:17] PluckyPrecious commented on #1521
@

Hey @Josephchinedu i assigned you to one already yesterday https://github.com/meshery/meshery/issues/683#issue-687374328

[2020-09-04 07:19] PluckyPrecious commented on #1521
Hey @iambami i assigned you to one as well. https://github.com/meshery/meshery/issues/713#issue-692196499

[2020-09-05 00:36] leecalcote commented on #849
`labeler.yml` config and `pr-labeler.yml` workflow reinstated

[2020-09-05 01:23] #1488 closed

[2020-09-05 01:42] KarenEfereyan commented on #1527
Design is calling my name.. but
Now i better go send @jesuslerma  a message

[2020-09-05 01:45] #1407 closed

[2020-09-05 01:46] KarenEfereyan commented on #1530
@leecalcote what system are we currently using for testing in Meshery. Im asking so that I know how to test the changes to ensure it works as wanted

[2020-09-05 01:56] KarenEfereyan opened #1537 "[Docs] : METHODS OF SIGNING OFF COMMITS TOO MANY"
**Current State:**
At this [ url](https://github.com/layer5io/meshery/blob/master/CONTRIBUTING.md/#contributing), under the 'Signing Off On Commits (Developer Certificate Of Origin)', there are about 3 or 4 methods highlighted to successfully sign off a commit. It makes the doc look a little cluttered.

**Desired State:**
 Remove all but the first two methods of signing commits

Methods to Sign Of

[2020-09-05 02:29] jesuslerma commented on #1527
Hi @KarenEfereyan how can I help?

[2020-09-05 02:39] #1491 closed

[2020-09-05 02:47] #1489 closed

[2020-09-05 04:56] NorbertLuszkiewicz commented on #1537
Hey I would love to tackle this one

[2020-09-05 05:01] Nikhil-Ladha commented on #1537
I don't think any changes are needed here.
// @leecalcote

[2020-09-05 07:54] #1521 closed

[2020-09-05 08:13] #1504 closed

[2020-09-05 09:47] KarenEfereyan commented on #1537
@leecalcote what do you think? If its not necessary, you can sure close the issue

[2020-09-05 20:20] kushthedude commented on #1537
Hey @KarenEfereyan, This is a highly opinionated issue, someone would want to configure his aliases or someone may want to use vs-code or someone may want to use -s flag. We need to highlight each and every method and let contributor decide which method suits him better, removing few options from the doc will limit contributor to adjust to our preferences which sometime may quite irritating and ma

[2020-09-05 20:20] #1537 closed

[2020-09-05 20:24] kushthedude commented on #1528
@dhruv0000 I guess this is an error of regex being used for URL validation, I guess this regex should work fine
[code]

[2020-09-05 20:47] kushthedude opened #1538 "Install: add deployment yamls for meshery-kuma"
Add deployment yamls for meshery-kuma

[2020-09-05 20:50] kushthedude opened #1540 "Bug: Move the meshery-osm adapter to port 10009"
**Description**

We have used port 10010 for osm and there is no 10009

**Expected Behavior**

Let's not skip a port number and use 10009 for meshery-osm

[2020-09-06 06:58] nikita15p opened #1541 "[Docs] Found "University of Engineering Jaipur in Meshery Architecture Providers""
**Current State:**
In this page [here](https://meshery.layer5.io/docs/assets/img/architecture/meshery-architecture-providers.svg), University of Engineering Jaipur in providers

**Desired State:**
Expectation is to not have college name under providers. Not sure if it came in document by mistake.
![Architecture_meshery](https://user-images.githubusercontent.com/37657012/92320090-6582db00-f03c-11ea

[2020-09-06 09:11] Nikhil-Ladha commented on #1541
I don't think it came by mistake, it is intentional and a future plan of doing so. @leecalcote can provide more insights on this.

[2020-09-06 09:57] nikita15p commented on #1541
@Nikhil-Ladha thanks we can close this issue if this is intentional.

[2020-09-06 10:15] #1541 closed

[2020-09-06 11:27] leecalcote opened #1542 "Move from SMPS to SMP"
**Current Behavior**
SMPS has been renamed to SMP. (https://github.com/layer5io/service-mesh-performance/pull/119)

**Desired Behavior**
Use of the SMP package and all references to "SMPS" should be updated to "SMP".

References - https://github.com/layer5io/meshery/search?q=smps&unscoped_q=smps

[2020-09-06 11:57] #1538 closed

[2020-09-06 12:16] leecalcote commented on #1541
Thank you for highlighting this, @nikita15p. In partnership with this university, it is our intention to aid in the facilitation of their research by allowing users to sign into their Provider; to use their Provider as a persistent store for performance, configuration, and validation test results.

[2020-09-06 21:26] KarenEfereyan commented on #1528
Hmmn. I'm trying to understand this issue

[2020-09-06 21:27] KarenEfereyan commented on #1528
@kushthedude are you saying this regular expression you just provided will work? If yes, where should it be added?

[2020-09-06 21:30] leecalcote opened #1543 "[Docs] Add Learn-Layer5's port number to Network Ports section of Meshery Architecture page"
**Reqeuest:**
List the network port used by the `Learn Layer5` application in the Network Ports section of the Meshery Docs - https://meshery.layer5.io/docs/architecture#network-ports

_Originally posted by @leecalcote in https://github.com/layer5io/meshery-osm/pull/45#issuecomment-687906509_

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery

[2020-09-06 21:31] KarenEfereyan commented on #1542
Waow. This seems an issue delicious enough to eat. Thumbs up to you @kalradev

[2020-09-06 21:32] leecalcote commented on #1542
Acronym soup!

[2020-09-06 21:32] KarenEfereyan commented on #1543
Hmmn. And here I was searching for an open contribution

[2020-09-06 21:32] leecalcote commented on #1543
@KarenEfereyan, ha! If @kumarabd will identify the appropriate port to reserve, I think you'll be set for taking on this issue.

[2020-09-06 21:34] KarenEfereyan commented on #1543
@kumarabd your attention is needed urgently. Hahaha

[2020-09-06 21:34] ghost commented on #1543
https://meshery.meshery.io/docs/architecture#network-ports  @lee this link

[2020-09-06 21:36] ghost commented on #1543
@leecalcote  the above link seems to be a list of all the ports reserved for the current meshery adapters. So my question is this? Is Learn Meshery an application? If it is, why and how should it be assigned to a given port?

[2020-09-07 11:23] leecalcote opened #1544 "[Docs] Broken hyperlink in Meshery's README"
**Description**
Broken hyperlink in [README](https://github.com/layer5io/meshery/blob/master/README.md)

**Expected Behavior**
Text should be hyperlinked. URL should be hidden.

**Screenshots**
<img width="887" alt="Screen Shot 2020-09-07 at 6 19 55 AM" src="https://user-images.githubusercontent.com/7570704/92382647-8d248280-f0d2-11ea-9cbf-c0e399922ba6.png">

[2020-09-07 12:28] Gregxd11 commented on #1544
Hey there! May I try this one? I've not done a 'real' PR before and this would be perfect for me I think :smile:

[2020-09-07 14:02] leecalcote commented on #1544
Hi @Gregxd11, yes, that'd be great. 👍

[2020-09-07 15:07] lolyparty commented on #1486
Hey, @KarenEfereyan are you on this?

[2020-09-07 15:12] crustyy commented on #1190
@chetanku are u still working on this?? Or if you want we can work together in this:)

[2020-09-07 15:16] crustyy commented on #652
@leecalcote can i work in this issue??

[2020-09-07 15:24] crustyy commented on #1270
@leecalcote @kushthedude is the issue still open ? Can i work in this issue?

[2020-09-07 15:48] #1512 closed

[2020-09-07 15:48] anirudhjain75 commented on #1462
I think this is complete. @leecalcote . let me know if there is anything else

[2020-09-07 15:49] #1462 closed

[2020-09-07 16:40] kushthedude commented on #1270
Sure go ahead!

[2020-09-07 16:41] leecalcote commented on #1270
Heads-up .... this is a fairly involved issue.

[2020-09-07 16:59] #1544 closed

[2020-09-07 17:40] kumarabd opened #1547 "Change the ports for meshery-osm adaptor"

[2020-09-07 18:55] leecalcote commented on #652
@crustyy I would love for you to, however, we need to put a design spec in place first in order to support the creation of new vetters. I'll add the design-needed label to this issue.

[2020-09-07 19:17] leecalcote commented on #1543
@KarenEfereyan, yes, you're right. It is an application (two, in fact) that operates a bit like an adapter. Given it's first-class support in the Meshery project (one of those applications is the tool that runs SMI Conformance), we're reserving a port number for it to help provide clarity on its operations. Here's the port number allocated to it: 10011/tcp.

[2020-09-07 19:22] leecalcote commented on #1547
The Meshery Adapter for Open Service Mesh network port needs to be assigned to 10009. Update [Meshery Docs](https://github.com/meshery/meshery/tree/master/docs) so that the reserved network port documentation reflects use of port 10009 - https://meshery.meshery.io/docs/architecture#network-ports

@KarenEfereyan, since you'll be in this page in the docs anyway, you're welcome to make this update as

[2020-09-07 19:30] leecalcote opened #1548 "[Meshery] Docker Compose: OSM and Tanzu SM Adapters are swapping network port assignments"
**Current Behavior**
The `docker-compose.yml` file used to run Meshery and its adapters locally needs to be updated to reflect recent [network port reservations](https://meshery.layer5.io/docs/architecture#network-ports).

**Desired Behavior**
- [ ] OSM should be using 10009.
- [x] Tanzu SM should be using 10010.

**Implementation**
1. Update the OSM entry in Meshery's [docker-compose.yml](https:/

[2020-09-07 20:32] kushthedude commented on #1270
Let's make this issue an epic since it has four major milestones.

[2020-09-07 21:00] leecalcote opened #1549 "[Docs] Embedded YouTube video is broken"
**Current State:**
On [this page](https://meshery.layer5.io/docs/service-meshes/adapters/nsm/nsm#2-vpp-icmp-application), the embedded YouTube video is broken.

<img width="765" alt="Screen Shot 2020-09-07 at 3 56 54 PM" src="https://user-images.githubusercontent.com/7570704/92416468-3dba7280-f123-11ea-9a2d-a93d5d4f53cb.png">

**Desired State:**
The Youtube video should be playable from the docume

[2020-09-07 21:02] leecalcote commented on #1270
@kushthedude FYI from the description: "See #284 as the Epic for this issue, which specifically addresses adding an Edge release channel."

[2020-09-07 21:03] kushthedude commented on #1270
I just did it because most of the details are populated in the build & release doc and not every contributor until he is a member can see the doc I guess.

[2020-09-07 21:06] leecalcote commented on #1270
@kushthedude totally. I should have kept my mouth shut. Epic-to-epic-to-epic-to-epic-...-to-epic-to-child is just fine. Keep breaking down until the child is a bite-sized morsel.

Wait... that came out wrong.

[2020-09-07 23:32] ratatatCat commented on #1549
Hello! I'd like to take this one if it is still available. :-)

[2020-09-07 23:40] jomefavourite commented on #1549
I guess i

I guess it's still open, I wanted to do it. But my forked repository of meshery isn't updated to the latest. It still loading, Why 😥
![Screenshot (165)](https://user-images.githubusercontent.com/54733225/92420550-f0aebe80-f16b-11ea-96e6-b9d4de54ae3d.png)

[2020-09-08 00:15] leecalcote commented on #1548
Hi @ratatatCat, you might like to give this one a try instead of the broken, embedded YouTube video.

[2020-09-08 00:17] leecalcote commented on #1548
Or any of these [good first issues](https://github.com/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22+org%3Alayer5io)

[2020-09-08 01:21] EmmanuelTheCoder opened #1553 "How can I run the Go file on my windows OS"
I want to make my first open source contribution. I have downloaded the Go software but I find it difficult to run the go file on my windows machine (the make run-local command in the contributing.md isnt working). help!

[2020-09-08 04:02] leecalcote commented on #1553
This sounds like a job for @vijcheru! 😄

[2020-09-08 04:13] ameyaagashe commented on #1553
I can help you @EmmanuelTheCoder It is simple. Ping me on Slack.

[2020-09-08 04:25] leecalcote commented on #1553
@EmmanuelTheCoder On the off chance that you're not in the Meshery Slack, you're encouraged to join - http://slack.meshery.io. Members like @ameyaagashe and @vijcheru are most inviting and willing to assist. 👍

[2020-09-08 04:49] PmcFizz commented on #1553
@EmmanuelTheCoder  I am develop on windows platform。 you can install  `mingw`  to run makefile.  It‘s [mingw website](https://osdn.net/projects/mingw/releases/)

[2020-09-08 06:29] KarenEfereyan commented on #1486
Yes but @lolyparty you Can go on

[2020-09-08 06:30] KarenEfereyan commented on #1543
So can I take up this issue

[2020-09-08 06:32] KarenEfereyan commented on #1547
Sure @leecalcote will do

[2020-09-08 07:02] Hack-Light commented on #1548
Can I take on this? @leecalcote

[2020-09-08 07:13] KarenEfereyan commented on #1486
I'm so sorry @lolyparty . I have a friend who has never contributed to open source before and I think this is a fairly simple issue for him. Do you mind?

[2020-09-08 07:15] KarenEfereyan commented on #1486
@EmmanuelTheCoder here is the issue

[2020-09-08 07:38] PluckyPrecious commented on #1548
Sure, @Hack-Light go ahead.👍🏽

[2020-09-08 08:47] lolyparty commented on #1486
Ok no problem

[2020-09-08 11:27] #1542 closed

[2020-09-08 12:12] leecalcote opened #1561 "[Docs] Remove reverse sort from Meshery Functionality page"
**Current State:**
The Meshery Functionality page has the collection of Meshery features listed in reverse alphabetical order. This is unnecessary.

**Desired State:**
The Meshery Functionality pages should be listed in alphabetical order.

**Issue Resources:**
- [Doc page](https://meshery.layer5.io/docs/functionality)
- [Code](https://github.com/layer5io/meshery/blob/master/docs/pages/functionali

[2020-09-08 12:42] leecalcote commented on #36
@kalradev  @kushthedude it's a good time to expand on the values exported.

[2020-09-08 12:50] KarenEfereyan commented on #1561
@leecalcote I am working on this.

[2020-09-08 13:38] #1561 closed

[2020-09-08 15:50] ratatatCat commented on #1549
I found another one, @jomefavourite, so no worries. Hopefully, you got your forked repo to load.

[2020-09-08 18:50] jomefavourite commented on #1549
Yes, I was able get the pull updates

[2020-09-08 22:41] PluckyPrecious opened #1564 "[Docs] Update Meshery Contributing Doc"
**Current State:**
The CONTRIBUTING.md is missing the caveat about Jekyll production & dev env amongst others.

**Desired State:**

[ ] Add [this caveat as seen in line 71](https://github.com/layer5io/service-mesh-performance/commit/a8af02878eb4711ccadb2e4fe01dad7b65a5b1b3#diff-6a3371457528722a734f3c51d9238c13)  to the [CONTRIBUTING.md](https://github.com/layer5io/meshery/blob/master/CONTRIBUTING.

[2020-09-08 23:20] Harshita-Kanal commented on #1564
Can I take it up ?

[2020-09-09 01:44] leecalcote commented on #1564
@Harshita-Kanal, yes, that would be fantastic. Thank you.

[2020-09-09 10:55] kumarabd opened #1566 "SMI chip integration with the test"
**Description**
Parse the SMI results to the chip

[2020-09-09 12:23] PluckyPrecious commented on #1543
Sure @KarenEfereyan as Lee mentioned, you can go ahead and Update Meshery Docs .

[2020-09-09 18:01] #1564 closed

[2020-09-09 20:05] kumarabd commented on #1547
Thanks @KarenEfereyan . Let me know if you need some help on this.

[2020-09-10 09:23] KarenEfereyan commented on #1547
@kumarabd ill do this right now. Im so sorry ive been ill. The reason for the delay. I'll get to it right now

[2020-09-10 14:30] IkeChukwuanu opened #1569 "Meshery failed on minikube provider, error: ImagePullBackOff"
- [ ] **Description**

pods status=ImagePullBackOff.

**Expected Behavior**

pods status=Running

**Screenshots**

<img width="662" alt="Screenshot 2020-09-10 at 15 07 52" src="https://user-images.githubusercontent.com/69737492/92742459-8bc7b400-f377-11ea-9f9f-fb240aac3e7d.png">

Logs from [Lens](https://k8slens.dev/)
<img width="656" alt="Screenshot 2020-09-10 at 14 38 04" src="https://user-image

[2020-09-10 14:58] ghost commented on #1547
Hi @leecalcote and @kumarabd sorry for the delay. There has been no light at my end all day. Im so sorry. But then,I cannot seem to find this [file](https://meshery.meshery.io/docs/architecture#network-ports)  in the meshery project opened in my editor. I already pulled the latest changes from meshery. Am i doing something wrong?

[2020-09-10 15:43] leecalcote commented on #1547
Here's a link - https://github.com/meshery/meshery/blob/master/docs/pages/architecture.md

[2020-09-10 23:15] #1548 closed

[2020-09-11 01:51] leecalcote commented on #1569
@IkeChukwuanu thank you for filing this. Excellent detail. I went ahead and executed the repro steps below:

[code]

I wonder if there is a network connection issue from the minikube cluster out to the Internet in your environment.

Successfully pulling the images with `mesheryctl` is a good sign. `mesheryctl system start`, however, will pull and run the Meshery images in docker, not kubernetes/mi

[2020-09-11 03:06] #1549 closed

[2020-09-11 04:07] #1200 closed

[2020-09-11 06:04] ghost commented on #1547
Thank you

[2020-09-11 06:11] KarenEfereyan commented on #1543
@kumarabd and @leecalcote where exactly is the learn-layer 5 repo? I need to see its port number so I can update the meshery  docs with it

[2020-09-11 06:29] kumarabd commented on #1543
https://github.com/meshery/learn-meshery @KarenEfereyan

[2020-09-11 15:26] chandrashritii commented on #1486
@EmmanuelTheCoder Please signal if you want to be assigned to this issue

[2020-09-11 15:29] chandrashritii commented on #1448
@Kennygrace Thank you for taking this up! Please let me know if you need any help in solving this issue 🎈

[2020-09-11 15:34] dhruv0000 commented on #1528
I checked the regex. It should work. As for where the place where the regex is matched, you can find it in the [MesheryPerformanceComponent](https://github.com/layer5io/meshery/blob/3811ad03accd03815ec460b4189da45db5a7f7a4/ui/components/MesheryPerformanceComponent.js#L121) @KarenEfereyan

[2020-09-11 16:42] leecalcote commented on #1270
@crustyy still banging away here?

[2020-09-11 22:23] kushthedude opened #1579 "Setup Dredd Hooks agnostic API Testing"
### Only to be addressed once we have got API Documentation ready for Meshery https://github.com/layer5io/meshery/issues/638.

We need to Dredd Hooks once we have got our API Documentation in place. Dredd not only tests our APIs but also ensures that our documentation is up-to-date with our current API state.

**What is Dredd?**

Dredd reads your API description and step by step validates whether

[2020-09-11 22:23] kushthedude commented on #1579
^^ @leecalcote

[2020-09-11 22:36] leecalcote commented on #1579
Use of Dredd or something like it also forces us to ensure well-consider response codes.

[2020-09-11 22:39] kushthedude commented on #1579
I have been going through this and some of our handlers have well-defined response codes, the handlers which are relatively newer needs more testing and error handling. Moreover, with bringing of Gorilla, it has made us relieve few of our error checks but yes I agree with the need to make our handlers more error responsive.

[2020-09-12 00:17] KarenEfereyan commented on #1579
@kushthedude and @leecalcote I will be watching this space. I really want to learn more about testing

[2020-09-12 00:30] KarenEfereyan commented on #1486
Nevermind @chandrashritii ill do it.  I think @EmmanuelTheCoder is having some delays. Ill try to reach out to him and there will be more issues in the future. This issue has dragged on for too long

[2020-09-12 00:32] lolyparty commented on #1486
@KarenEfereyan I'd still like to do it.

[2020-09-12 00:36] KarenEfereyan commented on #1486
Oh no. I totally forgot @lolyparty I just made a PR. I'm so sorry. I'll make it up to you. Why are you still awake though?

[2020-09-12 00:39] lolyparty commented on #1486
Ok, No problem. Scrolling through Twitter lol.

[2020-09-12 00:40] KarenEfereyan commented on #1486
Scrolling through twitter. @leecalcote @lolyparty needs issues to tackle. She's here scrolling through twitter. Hahaha

[2020-09-12 00:43] KarenEfereyan commented on #1486
@lolyparty i tagged you to an issue. Watch out for it

[2020-09-12 02:37] Aisuko commented on #1272
@kushthedude thanks

[2020-09-12 04:04] #1547 closed

[2020-09-12 13:39] leecalcote commented on #1579
@KarenEfereyan excellent. :)

@kushthedude, that's heartening to hear. @anirudhjain75, all's not yet lost. ;)

[2020-09-12 23:03] PluckyPrecious commented on #1470
Hi @alabobriggs how is this coming up?😊

[2020-09-13 06:52] alabobriggs commented on #1470
Hello @PluckyPrecious still working on it. Had some challenges earlier

[2020-09-13 12:47] shubhamgupta2956 commented on #1528
Hello everyone. @KarenEfereyan are you working on this issue? If not, can I work on it?

[2020-09-13 13:57] KarenEfereyan commented on #1528
@shubhamgupta2956 i want to but im not sure how to. You can take it up but can i learn from you?

[2020-09-13 14:02] shubhamgupta2956 commented on #1528
Yeah sure @KarenEfereyan. @kushthedude, @dhruv0000 can you please assign this issue to me?

[2020-09-13 14:11] KarenEfereyan commented on #1528
@shubhamgupta2956 it to you. Can we talk on slack? So i see how you solve it

[2020-09-13 14:13] shubhamgupta2956 commented on #1528
Yeah sure. I am `Shubham Gupta` on slack also :slightly_smiling_face:

[2020-09-13 14:40] dhruv0000 commented on #1528
Sure @shubhamgupta2956 . Ping me on slack if you both are still confused. @shubhamgupta2956 @KarenEfereyan

[2020-09-13 14:40] KarenEfereyan commented on #1528
@dhruv0000 definitely

[2020-09-13 16:42] KarenEfereyan commented on #1528
@dhruv0000 , Shubham has been so nice. We set up a zoom call and walked me through. I totally understand what was done now. I want to set up my development environment so that I can test the changes myself.

[2020-09-13 17:02] shubhamgupta2956 commented on #1528
@dhruv0000 I have made a PR #1583. Please review it :slightly_smiling_face:

[2020-09-13 17:03] leecalcote opened #1584 "[meshery] meshes.proto: Add OpCategory to EventResponse"
**Current Behavior**
Capturing a quick feature request to enhance `meshes.proto` to capture the:

- operation category

Include operation ID in the json payload? Or include in the meshes.proto (Event.Details).

**Desired Behavior**
Event.Details should be associated with the specific operation that invoked the results.

---
**Implementation**

**Mockups**

**Acceptance Tests**

[2020-09-13 17:23] dhruv0000 commented on #1528
Great @shubhamgupta2956 . @KarenEfereyan you can checkout the [UI contribution flow](https://github.com/layer5io/meshery/blob/master/CONTRIBUTING.md/#contributing-ui) to setup your environment.

[2020-09-13 18:49] KarenEfereyan commented on #1584
resources?

[2020-09-13 18:55] KarenEfereyan commented on #1553
@PmcFizz im trying to install Docker on Windows but...
![docker](https://user-images.githubusercontent.com/56835876/93026024-c55c2180-f5fa-11ea-9539-61c41491f3e7.PNG)

[2020-09-13 20:09] #1543 closed

[2020-09-13 20:54] #1528 closed

[2020-09-14 00:11] KarenEfereyan commented on #1527
@jesuslerma I'm trying to set up my development environment
Currently on docker but it seems my windows build is nor strong enough

[2020-09-14 00:15] KarenEfereyan commented on #1444
@kumarabd @anirudhjain75  🤐🤐🤐🤐🤐

[2020-09-14 00:17] KarenEfereyan commented on #1442
@kalradev @kushthedude let me see if I can replicate the issue?

[2020-09-14 00:18] KarenEfereyan commented on #1395
Is this issue still open?

[2020-09-14 02:11] PmcFizz commented on #1553
This problem happend because your windows version is low of windows is not active。If you don't active window you can install
`Docker Toolbox for Windows`  follow [this document](https://docs.docker.com/toolbox/toolbox_install_windows/).

[2020-09-14 03:49] kumarabd commented on #1444
I guess my pr is already merged. @anirudhjain75  any tentative on the UI but getting merged?

[2020-09-14 07:22] KarenEfereyan commented on #1553
Okay. But can i ping you on slack?

[2020-09-14 07:23] KarenEfereyan commented on #1444
If its been merged, this issue should be closed, right?

[2020-09-14 08:23] PmcFizz commented on #1553
I am not usually  login [slack](https://app.slack.com/client/TDL4L01AR/D016XAUQ4TW/user_profile/U016RBNFDC3) 。If you [send email to me](pangmengchen@gmail.com), I will reply you quickly.

[2020-09-14 11:13] leecalcote commented on #1444
@kumarabd this is a docs issue, requesting that you document the steps to Naming and exposing an adapter in the UI.

[2020-09-15 00:45] clementkng commented on #1075
Hi @kushthedude would this simply be adding details about ReleaseDrafter to the linked google doc?

[2020-09-15 13:05] tripathyprateek commented on #1306
Hi if this issue is not been worked upon, can I be assigned to do this?

[2020-09-15 13:20] tripathyprateek opened #1585 "[Docs] Documentation of Windows Installation missing on Website."
**Current State:**

https://meshery.layer5.io/docs/installation/platforms/windows  returns a 404 error
**Desired State:**

This page should be showing installation steps for Windows. Just add this page to the above url https://meshery.layer5.io/docs/installation#windows
---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](ht

[2020-09-15 13:50] Nikhil-Ladha commented on #1306
Hi @tripathyprateek I am working on it, just a bit slow.

[2020-09-15 14:44] tripathyprateek commented on #1306
okay sure. Can you recommend any other issue which I can work upon?

[2020-09-15 14:46] Nikhil-Ladha commented on #1306
Ping me on slack. Let's talk there. 🙂

[2020-09-15 19:26] KarenEfereyan commented on #1585
Im on this

[2020-09-15 19:42] abiodunolunu commented on #1585
I'll do it

[2020-09-15 19:49] KarenEfereyan commented on #1585
thanks abiodun. I've assigned the issue to you

[2020-09-16 06:50] PmcFizz commented on #1527
@KarenEfereyan Hi  I am develop on windows。 maybe you can tell your problem that  about  docker, I can provide some help.

[2020-09-16 07:48] PmcFizz opened #1588 "[UI]: optimize front-end code handle console waring"
**Description**

when I develop front-end feature, the console show some waring,
as picture
![image](https://user-images.githubusercontent.com/13403284/93307563-b3b18e80-f833-11ea-926f-e87c245504c0.png)

fix these waring to get good code style。

**Expected Behavior**

no waring good code style

**Screenshots**

![image](https://user-images.githubusercontent.com/13403284/93307563-b3b18e80-f833-11ea

[2020-09-16 12:51] kumarabd opened #1589 "Need to add more event types on the stream response"
**Description**
Meshery streams the response from every adaptor operation back to the UI. This issue addresses the fact that these stream responses have no flexibility in identifying the type of the event being streamed.

**Expected Behavior**
The stream response should have an additional parameter where in we know which request it corresponds to. This needs a discussion, change in protocol buffer

[2020-09-16 14:39] #1026 closed

[2020-09-16 17:16] tripathyprateek opened #1590 "Adding system for dynamically loading React components"
**Current Behavior**

As discussed in the Meeting on 16th September, and a Go Plugin system demonstrated by Dev Kalra, we need a system to identify react-plugins which can dynamically load React Components on Need basis or Import Basis.

**Desired Behavior**

It will be used for Go plugin system demonstrated for MeshMap

---
**Implementation**

[Resources to get started with this issue](https://ww

[2020-09-17 15:26] MukulMaheshwari opened #1591 "Welcome bot conflicts with pr labeler"
**Description**

Welcome bot is not working as expected & seems to be conflicting with pr labeler.
 * @leecalcote  mentioned this issue in mesher-ci slack.

**Expected Behavior**

Welcome bot should work without any conflicts & independent of labeler.

[2020-09-17 16:15] #1486 closed

[2020-09-17 21:20] #1585 closed

[2020-09-18 23:33] kushthedude commented on #1588
Good of you to jump in here @PmcFizz 😄 , these are really annoying 😖 !

[2020-09-19 23:37] leecalcote opened #1593 "[Docs] Add Meshery Release v0.4.1 to Release page"
**Desired State:**
The [Releases page](https://meshery.layer5.io/docs/project/releases) needs the v0.4.1 release and release notes added.

The v0.4.1 release notes are here - https://github.com/layer5io/meshery/releases/tag/v0.4.1

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/

[2020-09-19 23:37] leecalcote opened #1594 "[Docs] Add Meshery Release v0.4.2 to Release page"
**Desired State:**
The [Releases page](https://meshery.layer5.io/docs/project/releases) needs the v0.4.2 release and release notes added.

The v0.4.2 release notes are here - https://github.com/layer5io/meshery/releases/tag/v0.4.2

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/

[2020-09-20 15:40] accordingtoherr commented on #1594
@leecalcote I'll help out on this one

[2020-09-20 18:32] PluckyPrecious commented on #1146
Hello @moreImiles how is this coming up?😊

[2020-09-20 18:36] PluckyPrecious commented on #1190
Hi @crustyy looks like @chetanku May be hooked with other things. I will be great if you take it up.😊

[2020-09-20 18:46] PluckyPrecious commented on #1330
@leecalcote

[2020-09-21 01:45] Aisuko commented on #694
keep active

[2020-09-21 02:59] leecalcote commented on #722
Capturing some additional thoughts from conversation with @vijcheru:

The idea of this issue being that the step of requiring a user of Meshery and Minikube to export a flattened minikube config can be made to feel a little more native via a `mesheryctl` command that essentially invokes the same minikube export ... command.

As a **first step**, `mesheryctl` could export the file to the user’s `~/

[2020-09-21 03:02] leecalcote commented on #1594
@accordingtoherr, in case you're interested, the description of this issue has been updated to properly reflect `v0.4.2`. Thank you for pointing this out.

[2020-09-21 05:52] anirudhjain75 commented on #722
Is this because minikube uses key path instead of keys in yaml that we have to do the above command. If that's the case, I think someone was already working on giving meshery ability to read and work with minikube without any extra steps.

[2020-09-21 09:44] KarenEfereyan commented on #1594
@leecalcote let me send this info to the slack channel so that first time contributors can take it on

[2020-09-21 09:56] KarenEfereyan commented on #1594
how about the other one @leecalcote . the v0.4.1? Are we releasing them simultaneously

[2020-09-21 09:57] maryannie-24 commented on #1594
Can I handle this? I would need some help though

[2020-09-21 09:57] KarenEfereyan commented on #1593
can i take this @leecalcote ?

[2020-09-21 09:58] KarenEfereyan commented on #1594
great. You're just on time?

[2020-09-21 10:00] maryannie-24 commented on #1594
Yeah. I'm still learning git. Pls some pointers will help

[2020-09-21 10:08] Ruth-ikegah commented on #1593
A PR is already on this @KarenEfereyan.

[2020-09-21 10:27] anuragsati commented on #1594
Hello! i'm new can i work on this?

[2020-09-21 10:33] KarenEfereyan commented on #1593
Where @Ruth-ikegah

[2020-09-21 10:34] KarenEfereyan commented on #1593
If someones on a PR then lets know so they are assigned and can thereby prevent confusion

[2020-09-21 10:45] Ruth-ikegah commented on #1593
Thanks. Yeah I should do that, if you check up the conversation, you will see a PR linked to it

[2020-09-21 12:31] PluckyPrecious commented on #1594
Hello @anuragsati thanks for indicating interest in contributing, if you don't mind I could get you assigned to another issue to get you started as @maryannie-24 is already on this. 👍🏽 You can hop on Meshery slack channel http://slack.meshery.io/ to collaborate with contributors in the community.

[2020-09-21 12:34] PluckyPrecious commented on #1594
Yes you can Maryann 😃 , do make sure to go through the contributors resources to guide you through.

[2020-09-21 12:45] PluckyPrecious commented on #1448
cc// @Kennygrace 😃

[2020-09-21 13:38] KarenEfereyan commented on #1594
So sorry. Ill be sure to assign you to the next first timers issue

[2020-09-21 13:39] KarenEfereyan commented on #1594
Sure. Im.always here

[2020-09-21 15:57] chetanku commented on #1190
@crustyy apologize for the delay, please go ahead, I am just wrapped up in a few things, hope to find some time to contribute soon.

[2020-09-21 18:23] shubhamgupta2956 commented on #1470
Hi everyone, I want to take this issue. Please assign it to me.

[2020-09-21 20:46] Neilblaze opened #1597 "Fix the navbar in Community & Blog pages"
**Description**

The navigation bar of [Community](https://meshery.io/community/) & [Blog](https://meshery.io/blog/) pages of [Meshery](https://meshery.io/) page has gone completely blended with the background. As a result, nothing is visible on the navbar after the landing of the respective pages, but it becomes visible on scroll. This issue pertains for both desktop-view & mobile-view.

**Expect

[2020-09-21 20:47] Neilblaze commented on #1597
@leecalcote @Nikhil-Ladha

[2020-09-22 00:10] leecalcote commented on #1597
Ugh, this is a an ugly issue.

[2020-09-22 03:17] leecalcote commented on #1588
Much appreciated, @PmcFizz. 💯

[2020-09-22 03:20] #1498 closed

[2020-09-22 03:27] leecalcote opened #1598 "[Docs] Add Meshery Release v0.4.3 to Release page"
**Desired State:**
The [Releases page](https://meshery.layer5.io/docs/project/releases) needs the v0.4.3 release and release notes added.

The v0.4.3 release notes are here - https://github.com/layer5io/meshery/releases/tag/v0.4.3

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/

[2020-09-22 03:28] leecalcote commented on #1591
@MukulMaheshwari it'll be good to keep an eye on this PR https://github.com/meshery/meshery/pull/1595 that will soon merge to see if the welcome bot config is still conflicting with another config.

[2020-09-22 04:25] kushthedude commented on #1591
The issue was an invalid config.

[2020-09-22 04:25] kushthedude commented on #1591
Fixed in #1592

[2020-09-22 04:25] #1591 closed

[2020-09-22 04:26] leecalcote commented on #1591
Much appreciated. It was painful not seeing new community members congratulated. :)

[2020-09-22 06:39] McZenith commented on #1597
Hi! I'm interested...

[2020-09-22 06:41] Nikhil-Ladha commented on #1597
The issue is opened in wrong repo. I am migrating it to the correct one and assign you there you there @McZenith

[2020-09-22 06:45] kushthedude opened #1599 "Package nighthawk with meshery production bundle"
**Current Behavior**

Nighthawk needs to build seperate from meshery

**Desired Behavior**

Package nighthawk with meshery production bundle

[2020-09-22 06:51] #1593 closed

[2020-09-22 07:33] anshdhinhgra47 commented on #1598
I would like to try this issue. Could you please let me know more about it ?

[2020-09-22 11:51] ghost commented on #1598
@anshdhinhgra47 thanks for wanting to contribute. Basically, the [releases page](https://meshery.layer5.io/docs/project/releases) needs to be updated with the v0.4.3 [release notes](https://github.com/meshery/meshery/releases/tag/v0.4.3). You can look at this [PR](https://github.com/meshery/meshery/pull/1595) to get some inspiration. If you encounter any issues, do let us know here.

[2020-09-22 13:20] anshdhinhgra47 commented on #1598
Alright! I'll just have a look at it. Thank you for assigning me the issue.

[2020-09-23 02:07] #1598 closed

[2020-09-23 02:08] #1599 closed

[2020-09-23 04:10] clementkng commented on #1376
Hi @leecalcote, this issue seems to have gone stale so I would like to take this on to learn more about Meshery. What work is left? It seems like the Client Version has `v` prepended now, but I can't confirm if the GitSHA is full length until I build successfully build mesheryctl 😃

[2020-09-23 16:00] Techwinx1 opened #1602 "Clicking on Result displays an error in the Meshery UI"
**Description**

I discovered on the Meshery UI dashboard that when the Results button on the Result section is clicked it returns an error.

**Expected Behavior**
No error screen should be displayed .

**Screenshots**
Here is the link to the screenshot
https://bit.ly/3mLOrvV

**Environment:**
 - OS: [Windows]
 - Browser: [e.g. Chrome]
 - Version: [85]
 - Device: [laptop,]

---
 **To Reproduce the

[2020-09-23 16:02] leecalcote commented on #1602
@Techwinx1 thank you for raising this issue. Would you like to try to tackle this one, too?

[2020-09-23 16:09] Techwinx1 commented on #1602
Yes i would

[2020-09-23 17:40] leecalcote commented on #1594
Oh, @KarenEfereyan 🤗

[2020-09-23 18:08] leecalcote opened #1604 "[Docs] Add Meshery Release v0.4.4 to Release page"
**Desired State:**
The [Releases page](https://meshery.layer5.io/docs/project/releases) needs the v0.4.4 release and release notes added.

The v0.4.4 release notes are here - https://github.com/layer5io/meshery/releases/tag/v0.4.4

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/

[2020-09-23 18:09] leecalcote commented on #1604
This may interest @bartkalanski

[2020-09-23 18:29] bartkalanski commented on #1604
I'll have a go at that tomorrow/friday if that's okay with you ?

[2020-09-23 22:09] dhruv0000 commented on #1602
Hey @Techwinx1 . Try running the backend and login using the meshery provider before messing around with the UI. Run `make build-ui run-local` and login at [http://localhost:9081/provider](http://localhost:9081/provider) before running your UI development server.

[2020-09-23 23:41] leecalcote commented on #1604
Sounds real good, yes. Thank you for setting timing expectations, @bartkalanski.

[2020-09-24 16:07] Nikhil-Ladha commented on #1602
Closing based on this [comment](https://github.com/layer5io/meshery/pull/1603#issuecomment-698439397)

[2020-09-24 16:07] #1602 closed

[2020-09-24 19:08] leecalcote opened #1606 "Broken link to Maesh logo in README"
@leecalcote it's also there for the [meshery readme](https://github.com/layer5io/meshery/blob/master/README.md) too!

![yoyo](https://user-images.githubusercontent.com/48355572/94187390-83b65b00-fec5-11ea-8d23-1929937d54fb.JPG)

_Originally posted by @Neilblaze in https://github.com/layer5io/layer5/issues/800#issuecomment-698526123_

[2020-09-24 19:10] leecalcote commented on #1606
@bartkalanski help! 😉

[2020-09-24 19:52] bartkalanski commented on #1606
I'm about to leave for work but could sort this within the next 24hrs ?

[2020-09-24 19:56] leecalcote commented on #1606
Sounds real good. ✔️

[2020-09-25 02:31] jesuslerma opened #1608 "[Docs] Translate Contributing Overview page to Spanish"
**Current State:**
The actual documentation is in english.

**Desired State:**
We're expecting to increase the number of spanish speakers users and contributors of meshery by doing this efford. We also need to define if we can use a switch between languages, if so we should discuss this in other issue.

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
-

[2020-09-25 20:55] KarenEfereyan commented on #1376
Sure @clementkng feel free. Btw you look a lot like coding dojo from youtube. Are you related?

[2020-09-26 13:15] pranikz commented on #1448
Hey @PluckyPrecious  Will love to take this up I have a workaround for the same

[2020-09-26 13:20] Ruth-ikegah commented on #1448
That's nice of you @pranikz. @Kennygrace has been assigned to this issue but I think she might be having some trouble here. I will confirm and keep you updated about taking it up

[2020-09-26 14:43] chandrashritii opened #1610 "[Docs] Add traefikmesh to service mesh table"
**Current State:**

Maesh service mesh has officially changed its name to `traefikmesh` and has a new logo. The name and logo can be sourced from their site: [`traefikmesh`](https://traefik.io/traefik-mesh/)

**Desired State:**

Swap out the name and logo with the new ones in the Service Mesh table on:

- [Adapters page](https://meshery.layer5.io/docs/architecture/adapters)
- [Service Meshes page]

[2020-09-26 14:58] dannylwe commented on #1610
Hi, I'm new to open source. I'd like to take this up.

[2020-09-26 15:17] PluckyPrecious commented on #1610
Hi @dannylwe sure you can go ahead. Do join the Meshery community on [slack](http://slack.layer5.io/) to collaborate with other contributors.😊

[2020-09-26 15:41] dannylwe commented on #1610
👍

[2020-09-26 20:16] clementkng commented on #1376
[code]

The second issue @leecalcote mentioned above seems to be fixed, there are `v` prepended and the GitSHAs are full length. I'm not sure the first issue can be fully resolved ie if there's a "beta" in one of the versions, the Client and Server versions will be misaligned. I'm actually not sure how Lee saw the bug above, since `git blame` seems to show that the `v` has always been a part of th

[2020-09-26 20:19] clementkng commented on #1376
@KarenEfereyan no I'm not related 😆

[2020-09-27 06:04] #1604 closed

[2020-09-27 19:08] leecalcote opened #1611 "[Perf] Field validation not honoring valid URLs"
**Description**
See screen capture.

**Expected Behavior**
Allow valid endpoints.

**Screenshots**
![Untitled](https://user-images.githubusercontent.com/7570704/94373393-e7f63c00-00ca-11eb-9de1-669b54ffd400.gif)

**Environment:**
- Version: v0.4.6

[2020-09-27 19:19] leecalcote opened #1612 "[CI] Stable release channel is missing in ci.yml"
**Description**
The stable channel for Meshery is missing.

Meshery Release v0.4.7 is not present in Docker Hub -
https://hub.docker.com/repository/docker/layer5/meshery/tags?page=1. There is no `stable-latest` tag after the recent v0.4.6 release.

A new workflow (https://github.com/layer5io/meshery/blob/master/.github/workflows/build-and-release.yml) has been created. Is the intention for this to

[2020-09-27 19:35] leecalcote commented on #1611
@shubhamgupta2956 is this something that you can quickly address?

[2020-09-28 02:49] #1566 closed

[2020-09-28 03:12] leecalcote commented on #1612
I see the the stable release channel is present in the `build-and-release.yml`.

@kumarabd when initiating the `v0.4.7` release, what mechanism did you us to do so? The release look to have been performed by the user "GitHub actions". Was this done by pushing a new `git tag`? If so, I wonder if the workflow structure that we have in place supports this this mechanism as opposed to that of a user c

[2020-09-28 03:14] leecalcote commented on #1612
A new stable release has been successfully made - `v0.4.8`. I'm reducing the severity of this issue. @kushthedude this issue might turn into a documentation issue to update Meshery Build & Release Strategy doc with the new structure of the workflows.

[2020-09-28 03:18] leecalcote commented on #1376
@clementkng Thank you for investigating. Here is a copy of the output from a `mesheryctl version` from the latest Meshery release:

[code]

For what it's worth, note that I have installed `mesheryctl` using brew.

[2020-09-28 03:22] leecalcote commented on #1376
After upgrade of the `mesheryctl` client and running `mesheryctl version`:

[code]

@clementng, I believe there is a difference in environment variables if you're running `make` -  https://github.com/meshery/meshery/blob/master/Makefile#L7-L8

[2020-09-28 03:25] #1611 closed

[2020-09-28 05:57] kushthedude commented on #1612
This is not a bug , this is a process which we have already discussed
several times that a release needs to be made manually to trigger the
release actions. If a bot release is done than GitHub wont bother the
action runner to run the release actions. There is no bug in ci.yml, stable
release channel is in place.

This issue should be closed.

On Mon, 28 Sep, 2020, 08:45 Lee Calcote, <notification

[2020-09-28 06:29] kumarabd commented on #1612
@leecalcote  Im confused about this because I never intentionally used a github action user. It would be helpful for me if someone explains this to me.

[2020-09-28 13:45] bartkalanski commented on #1606
I submitted a PR in issue #1609 so I believe you can close this :)

[2020-09-28 13:48] chandrashritii opened #1615 "[Docs] Update Meshery Architecture diagrams"
**Description**

Swap out the outdated Meshery architecture pictures in the [Architecture](https://meshery.layer5.io/docs/architecture) page in the Meshery docs.
The images can be sourced from the [Architecture folder](https://drive.google.com/drive/folders/1_aKPepn31LfXrWkdAdiZWgjdFVigTo1M?usp=sharing) in the Layer5 community drive.

The images have been named according to the headings in the doc

[2020-09-28 16:14] lolyparty commented on #1615
I would like to work on this

[2020-09-28 16:34] leecalcote commented on #1615
@lolyparty That would be most helpful. Thank you.

[2020-09-28 17:23] Neilblaze commented on #1606
Closed via #1609

[2020-09-28 17:23] #1606 closed

[2020-09-28 18:05] leecalcote commented on #1612
Converting this issue to a docs issue. Meshery Build & Release Strategy doc needs updated with specifics on the release process.

[2020-09-29 05:38] kishore007k opened #1616 "[BUG]: Cannot start service nighthawk-lg"
**Description** :

On running the `docker-compose up` it throws an error stating the following.

[code]
---

**Contributor Resources** :

See the [Contributing to Meshery](https://github.com/layer5io/meshery/blob/master/CONTRIBUTING.md#documentation-contribution-flow) section of the readme.md

@leecalcote @kushthedude

[2020-09-29 18:14] #1616 closed

[2020-09-30 23:44] leecalcote commented on #1584
Removing Hacktoberfest label. Issue needs design.

[2020-09-30 23:45] leecalcote commented on #1589
Removing Hacktoberfest label. Issue inappropriate for Hacktoberfest. Requires much in-depth, project-specific knowledge.

[2020-09-30 23:46] leecalcote commented on #1590
@dhruv0000 @kushthedude Will you invite @tripathyprateek to participate in the notes that you were taking on this effort?

[2020-09-30 23:48] leecalcote commented on #1594
@maryannie-24 we are looking to close this out this week. Is this an item that you will be able to get to by Friday?

[2020-09-30 23:50] leecalcote commented on #1470
@shubhamgupta2956 checking on progress... how are you coming along here?

[2020-10-01 05:12] KarenEfereyan commented on #1594
@maryannie-24 any blockers?

[2020-10-01 05:12] KarenEfereyan commented on #1584
🤣🤣🤣

[2020-10-01 17:10] #1615 closed

[2020-10-01 20:55] maryannie-24 commented on #1594
So i just unassigned myself from this issue so another person can take it up. I'm having technical issues I still haven't been able to resolve

[2020-10-01 21:27] kushthedude opened #1626 "deps: remove the dependabot generated monthly conflicts"
**Description**

remove the dependabot generated monthly conflicts

[2020-10-01 21:37] kushthedude opened #1628 "Sync meshmap branch with current master"
Sync meshmap branch with current master, there are quite a few conflicts which need to be resolved too

[2020-10-02 06:51] PluckyPrecious commented on #1594
Hi @maryannie-24 please ping me on slack let’s get it sorted, thanks.

[2020-10-02 12:56] Nikhil-Ladha opened #1631 "[UI]: Unexpected error popping up for 'View SMI Conformance Results'"
**Description**

On navigating to any of the adapter page and without performing any SMI Conformance test, on clicking the `View SMI Conformance Result` chip a modal opens showing the empty table. But, just within a minute an error snackbar pops consuming the whole page (see in the screenshot below)

**Expected Behavior**

The snackbar should not come up even if no tests have been run.

**Screensh

[2020-10-02 12:57] Nikhil-Ladha commented on #1631
@dhruv0000 , @kumarabd , @leecalcote ^^

[2020-10-02 12:59] Nikhil-Ladha commented on #1470
@shubhamgupta2956  if you are not working on this, can I take it up?

[2020-10-02 13:46] #1594 closed

[2020-10-02 13:51] KarenEfereyan commented on #1631
What could be the cause of the error? I would like to reproduce the error but my system's bad right now😫😫

[2020-10-02 14:48] shubhamgupta2956 commented on #1470
Sorry for the late reply. I was a bit busy with my college assignment (I hope I can complete it till this weekend) so could not complete it. @leecalcote, I have experimented the mentioned things with this page but some of them does not look much elegant due to:-
* Group label - Embedding these settings in the format provided feels different from the app themes. I
* Also I could not find anything b

[2020-10-02 14:58] Nikhil-Ladha commented on #1470
If you are done with your exams and hoping to work on it this weekend, then please feel free to do it.
I just wanted to make some PRs for hacktoberfest 😆

[2020-10-02 15:45] shubhamgupta2956 commented on #1470
If you got any good ideas for the above-mentioned problems, it would be better if you implement it. We can also discuss the ways to implement this after this weekend on slack also.

[2020-10-02 15:47] Nikhil-Ladha commented on #1470
Okay, then. I ahve some thoughts and will make a PR soon🙂.
Will rag you there too, to have a look.

[2020-10-02 21:45] #1470 closed

[2020-10-02 21:46] #1626 closed

[2020-10-02 23:12] leecalcote opened #1633 "[UI] Dashboard to System Dashboard"
**Current Behavior**
The Dashboard page describes Meshery components and system status. This page is named "Dashboard".

**Desired Behavior**
This page should be renamed and updated to reflect more of what it is.

**Implementation**
1. This page should be renamed to "System Dashboard".
1. The two separate Prometheus and Grafana cards should be combined into a single "Metrics" card.

**Mockups**
![

[2020-10-02 23:24] leecalcote opened #1634 "[UI] Dashboard: "Release" Section"
**Current Behavior**
Users of Meshery UI are unaware as to what version of Meshery and Meshery adapters are currently running.

**Desired Behavior**
Users could be helped within a new component that includes the current Meshery version numbers:

**Implementation**
1. Create a new card with title Release details
1. Include release channel radio buttons (leave disabled)

**Mockups**
![Frame 1-3](htt

[2020-10-02 23:40] sandy9808 commented on #1633
I am not able to understand this point: **the The two separate Prometheus and Grafana cards should be combined into a single "Metrics" card.**

[2020-10-03 00:27] m4tr1k commented on #1634
Hi @leecalcote can I take a look at this issue?

[2020-10-03 02:40] leecalcote commented on #1633
Screenshot of the current UI -
![](https://meshery.io/images/screens/meshery-dashboard-no-shadow.png)

[2020-10-03 02:44] leecalcote commented on #1634
@m4tr1k, yes, please. There is an endpoint missing in Meshery’s API to complete the release channels portion entirely. That’s ok. The UI functionality can be built out and disabled until the endpoint is ready.

[2020-10-03 03:59] karkranikhil commented on #1633
Let me pick this up

[2020-10-03 04:01] leecalcote commented on #1633
Sounds great, @karkranikhil

[2020-10-03 04:08] #1628 closed

[2020-10-03 06:03] Ozrlz commented on #1253
I installed the helm chart on the master branch (install/kubernetes/helm/meshery) and it installs the Consul adapter. I also installed the helm chart from the meshery repo (https://meshery.io/charts/) and I can confirm that the consul adapter is not installed when using that chart ... is that enough to have this issue closed?

[2020-10-03 06:32] Ozrlz commented on #1608
Hi @jesuslerma I'd like to take this one;however, I don't quite understand how to approach the translated docs ... should I create a new .md document on the docs/pages/ directory with a spanish_ prefix? Or what is the recommended approach?

[2020-10-03 08:15] tory-brown commented on #1304
hello can I take this up what is expected?

[2020-10-03 09:49] m4tr1k commented on #1634
@leecalcote that was what I was going to ask because I was not sure how to get the release version
So I'll just give focus on the UI part!

[2020-10-03 11:56] tory-brown commented on #1628
is this taken?

[2020-10-03 13:55] vineethvanga18 commented on #1628
@tory-brown this issue was resolved and closed

[2020-10-03 14:31] kumarabd commented on #1631
@Nikhil-Ladha Which service mesh gave u this?

[2020-10-03 15:09] Nikhil-Ladha commented on #1631
All of them

[2020-10-03 17:48] jesuslerma commented on #1608
Hi @Ozrlz I'm trying to take this one. Let me create a few of new issues to translate another pages and I'm going to assign some of it to you. Alsi, let me check how we can use the transalted guides when switching the language.

[2020-10-03 18:35] aditya2499 commented on #1448
Hi, If this is up for grab, I would like to work on it.

[2020-10-03 23:35] PluckyPrecious commented on #1448
Hi @aditya2499 do go ahead, looks like @Kennygrace might be fixed with other things.

Do join the [Meshery community](http://slack.meshery.io/) on slack to collaborate with other contributors.

[2020-10-04 00:27] leecalcote opened #1637 "[Perf] Nighthawk load test failure: `docker` executable file not found in $PATH"
**Description**
Performance testing with Nighthawk as the load generator fails with the following logs:

[code]

**Environment:**
[code]

[2020-10-04 00:29] leecalcote commented on #1376
Test with a later version:

[code]

[2020-10-04 03:59] leecalcote opened #1638 "[Docs] `mesheryctl upgrade` command is outdated"
**Current State:**
The [Meshery Upgrade guide](https://meshery.layer5.io/docs/guides/upgrade#upgrade-meshery-server-adapters-and-ui) lists `meshery upgrade` as the command to update the software.

**Desired State:**
The current version of this command is `mesheryctl system upgrade`. The documentation should reflect this.

---
**Contributor Resources**
- [Meshery documentation site](https://meshery

[2020-10-04 04:00] leecalcote commented on #1199
Issue has been fixed.

[2020-10-04 04:00] #1199 closed

[2020-10-04 04:08] leecalcote opened #1639 "[mesheryctl] Inform user if they are running an old version of Meshery"
**Current Behavior**
When a user executes `mesheryctl version`, they are shown the version of each the client and the server they are running.

**Desired Behavior**
Users should be encouraged to upgrade when a new release is available.

**Acceptance Tests**
1. If a newer version of Meshery server is available, the user is not informed of this.
1. If the user is already running the latest version o

[2020-10-04 08:23] hexxdump commented on #1638
Hi lee, can I take this issue and work on it?

[2020-10-04 09:15] lolyparty commented on #1638
Yes, go ahead.

[2020-10-04 12:03] hexxdump commented on #1610
I would like to contribute to this as well. @dannylwe @PluckyPrecious let me know if I can take can up any part of the problem?
@chandrashritii , right now Traefik(https://github.com/traefik/mesh) is at v1.4.0, what is the latest version of Traefik Meshery is going to support?

[2020-10-04 14:00] anirudhjain75 commented on #449
Is this up for grabs ? @leecalcote

[2020-10-04 14:26] anirudhjain75 commented on #449
Regarding having mesheryctl show latest version as message / notification to user on invoking commands. gh makes uses of github release for cli repo and manages version using github api. You can try executing GET req on `https://api.github.com/repos/meshery/meshery/releases/latest`. This API results the latest release results of meshery repo. The issue with using the same approach as gh is that `m

[2020-10-04 14:28] anirudhjain75 commented on #449
`mesheryctl` for now seems to be using the meshery version as it version tag. so things should be fine with making an implementation to check for updates similar to gh cli.

[2020-10-04 14:29] anirudhjain75 commented on #449
@leecalcote if the above is to be implemented. drop a message and I'll get it done right away :)

[2020-10-04 15:06] #1638 closed

[2020-10-04 15:13] leecalcote commented on #1253
Hi @Ozrlz, great question. I think we are mostly there except for that last portion, which is that by default, the Meshery Adapter for Consul should be deployed when someone uses the helm chart from the meshery repo. Ideally, all available adapters are deploy by default. Users can customize the install to remove the adapters, if they like.

Does this make sense? Your help here would be much apprec

[2020-10-04 18:56] aditya2499 commented on #1448
Hi,
I need to ask some clarifying doubts.
There is no assets directory under ui directory. Does the required path is docs/assets/img/readme?

[2020-10-04 21:17] PluckyPrecious commented on #1448
Hi, the required path is `ui/assets/img/readme`, you can create a new folder `assets/img/readme` under ui directory. 👍🏽

[2020-10-04 21:42] leecalcote opened #1644 "[mesheryctl] Prompt user to update to latest Meshery server release and perform update"
**Current Behavior**
`mesheryctl version` will notify users of a later server version available and provides the user with instructions to do so, but does not update to the latest version on the user's behalf.

**Desired Behavior**
`mesheryctl` should perform the upgrade to the latest version of Meshery server on behalf of the user, if user so chooses. This update will be for Meshery server and Me

[2020-10-04 22:25] #1639 closed

[2020-10-05 01:53] leecalcote opened #1645 "[Docs] README: Broken image of Meshery Architecture"
**Current State:**
Diagrams of Meshery's architecture were recently updated. This caused a broken link in the [architecture section of the main README](https://github.com/layer5io/meshery#meshery-architecture)

**Screenshot:**
<img width="719" alt="Screen Shot 2020-10-04 at 8 50 10 PM" src="https://user-images.githubusercontent.com/7570704/95033363-937f2d80-0683-11eb-8cdb-dcab7e6f6feb.png">

**Des

[2020-10-05 01:58] leecalcote commented on #1645
@spielers is this issue of interest?

[2020-10-05 02:02] leecalcote opened #1646 "[Docs] README: incorporate SMP logo into Service Mesh Performance section"
**Current State:**
The [section of the Meshery README](https://github.com/layer5io/meshery#standardized-service-performance-management) that covers service mesh performance does not include a copy of the SMP project logo.

**Desired State:**
Incorporate a small SMP logo into this section of the README.md. Find the SMP brand kit here - https://layer5.io/brand

---
**Contributor Resources**
- [Meshe

[2020-10-05 02:54] Aarush-Goyal commented on #1646
@leecalcote I want to work on this

[2020-10-05 03:12] spielers commented on #1645
@leecalcote Yeah I would love to resolve this issue

[2020-10-05 03:27] Aarush-Goyal commented on #1646
@leecalcote I have added the logo in the SMP section pls review the PR #1647

[2020-10-05 03:28] leecalcote commented on #1646
@Aarush-Goyal very nice. And you sized down the image to fit as well. 👍

[2020-10-05 03:35] Aarush-Goyal commented on #1646
Sir pls review this pr #1648 I have by mistake put Mesherey logo in place of SMP logo

[2020-10-05 04:29] vijcheru commented on #1644
I thought I will add @ameyaagashe and @Ruth-ikegah  so that I can work with them. I am not trying to conscript me but only look forward to their views. They can drop out if they are not inclined to work on it. I will appreciate their views on this matter. Anybody else is welcome to join.
i

[2020-10-05 07:19] anirudhjain75 opened #1650 "[mesheryctl] mesh validate response optimization"
**Description**

`./mesheryctl mesh validate -s smi -a meshery-osm:10009 -t ~/Downloads/auth.json` is running but not connected to a kubernetes cluster.

**Expected Behavior**

Better response than empty `{}` to help user understand the issue well

[2020-10-05 07:21] anirudhjain75 opened #1651 "[mesheryctl] mesh validate command to support non local meshery server deployments"
**Description**

Handling of non-local Meshery server deployments by way of supporting a user-provided URL to Meshery server (not hardcoding localhost).

**Expected Behavior**

Ability to work with custom server URL for mesh validate

[2020-10-05 11:43] #1645 closed

[2020-10-05 15:51] anirudhjain75 commented on #1650
@leecalcote need more context into this issue you were talking about

[2020-10-05 16:22] NupurThakur27 opened #1653 "[Mesheryctl] Bug in file of version command"
**Description**

The `version.go` file have some extra new lines in string causing the error while running the `mesheryctl version`
**Expected Behavior**

The recent changes made by #1640 should be reflected.
**Screenshots**

![Screenshot from 2020-10-05 21-50-30](https://user-images.githubusercontent.com/39610703/95105467-d5c46f80-0754-11eb-9ee9-1eb49c52d59c.png)

**Environment:**
 - OS: Ubuntu