[2020-10-05 16:49] #1653 closed

[2020-10-05 20:40] leecalcote commented on #1644
Excellent. 😄

[2020-10-05 20:42] leecalcote commented on #1646
Hi @Aarush-Goyal, oh, very good! Thanks for seeing this through. I'm pulling in others, so my lack of time doesn't kink up the works.

[2020-10-06 11:04] aditya2499 commented on #1448
@PluckyPrecious I have opened the pull request.

[2020-10-06 18:11] anirudhjain75 opened #1658 "[mesheryctl] Add oauth feature and store auth credentials for faster / simple command invocations"
**Current Behavior**

You have to pass in token path as flag arguments to perf / mesh commands

**Desired Behavior**

You get an auth req when you dont have auth credentials other you should be able to run any commands without having to pass in token which is manually generated.

---
**Implementation**

An overview or look into gh tool would be great. Should give a better idea on how to implement

[2020-10-06 18:43] #1610 closed

[2020-10-06 19:25] #1448 closed

[2020-10-06 20:51] #1634 closed

[2020-10-07 14:04] NupurThakur27 opened #1660 "[mesheryctl]: Fetching Server Version not successful"
**Description**
The api that provides the server version goes missing sometimes.

**Expected Behavior**

If the `api/server/version` doesn't return anything or isn't available it should show a proper message or error regarding that.

**Screenshots**

![Screenshot from 2020-10-03 12-03-27](https://user-images.githubusercontent.com/39610703/95342246-dab02d00-08d4-11eb-96d1-9e9e2a721027.png)

**Envir

[2020-10-07 14:25] #1553 closed

[2020-10-07 15:31] anirudhjain75 commented on #1660
Hi @NupurThakur27, This is due to deployment of faulty server.
<img width="784" alt="image" src="https://user-images.githubusercontent.com/14249589/95352730-22888180-08e0-11eb-9518-b0375520cf0a.png">
This is the status of latest master, try running `make run-local` to run meshery server instead of deployed version.

[2020-10-07 17:57] leecalcote opened #1661 "[CI] Release new version of Meshery Helm chart on Artifact Hub"
**Current Behavior**
Meshery's Helm chart now includes support for additional Meshery adapters.

**Desired Behavior**
A new version of the Meshery Helm chart should be created and Artifact Hub updated - https://artifacthub.io/packages/helm/meshery/meshery

[2020-10-07 22:41] #93 closed

[2020-10-08 03:13] leecalcote commented on #722
@clementkng @anirudhjain75 treating this issue as an epic, let's create other issues (using the issue/child label) to track these four steps.

[2020-10-08 08:10] dannylwe opened #1662 "[Docs] Change Maesh to Traefik Mesh on readme"
**Current State:**
Maesh

**Desired State:**
Traefik Mesh with updated image on readme
Can be sourced on [official site](https://traefik.io/traefik-mesh/)

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)
- [Instructions for contributing to documentation](https://gith

[2020-10-08 08:11] dannylwe commented on #1662
I will take this up.

[2020-10-08 14:29] leecalcote opened #1664 "[mesheryctl] Update error message in `mesheryctl version` failure to connect to server"
**Description**
The error message shown when Meshery server is unavailable could be better phrased.

[code]

**Expected Behavior**
Error message should be:

"Meshery server unreachable. Please confirm that Meshery is running and available. "

[2020-10-08 14:46] tripathyprateek commented on #1664
Can I take this up, and start contributing to Meshery.

[2020-10-08 14:56] leecalcote commented on #1664
Sounds great good. 👍

[2020-10-08 17:09] subhamkrai commented on #722
@leecalcote is this taken?

[2020-10-08 17:33] viveksahu26 commented on #1608
Hey @jesuslerma , if this issue is available, I would like to work on it..

[2020-10-08 18:52] dhruv0000 commented on #1631
Seems like problem is logging in with meshery provider for the movement, since we have not implemented the provider database endpoint for fetching SMI results.
Since we have two visual conformation of data not getting fetched (the table itself and the snackbar ), you are right @Nikhil-Ladha , There is no need of the snackbar to be shown in case of data not getting fetched since the table already s

[2020-10-08 21:51] #1631 closed

[2020-10-09 21:20] #1633 closed

[2020-10-09 21:36] #1662 closed

[2020-10-10 04:22] daksh-sagar opened #1669 "Add Prettier code formatter to the UI"
**Current Behavior**

The UI code doesn't follow any formatting guidelines as of now. Devs can choose b/w single or double quotes, semi or no semicolon, etc. This results in inconsistently formatted code.

**Desired Behavior**

By introducing prettier to the UI, all the code will follow standard formatting. It is analogous to `gofmt`. After prettier is added devs won't have to worry about adhering

[2020-10-10 04:24] daksh-sagar commented on #1669
@Nikhil-Ladha Please add to this issue if it's needed and if everyone agrees on this, I can start working on it.

[2020-10-10 05:24] leecalcote commented on #1669
I’m supportive of this suggestion.

@kushthedude may have thoughts here as well.

[2020-10-10 05:40] kushthedude commented on #1669
We already have ES-Lint more better and stricter.

[2020-10-10 05:44] daksh-sagar commented on #1669
But it doesn't help with formatting from what I've seen. You're free to choose upon single quotes or double quotes, you can choose to leave out semi colons, etc

[2020-10-10 05:47] daksh-sagar commented on #1669
Eslint can be configured to point errors for the above things, but having a formatter which does these things for you is good, in my opinion.

[2020-10-10 06:06] kushthedude commented on #1669
Eslint can also format the file using fix flag, we have not made it
stricter as it will require more diligence from the contributor, hence we
have made them mandatory.

On Sat, 10 Oct, 2020, 11:18 Daksh Sagar, <notifications@github.com> wrote:

[2020-10-10 06:10] daksh-sagar commented on #1669
Cool, shall I close this then ?

[2020-10-10 06:14] kushthedude commented on #1669
Let us wait and hear out from others if we want more stricter rules with
ESLint, else we are good to close this.

On Sat, 10 Oct, 2020, 11:40 Daksh Sagar, <notifications@github.com> wrote:

[2020-10-10 06:15] Nikhil-Ladha commented on #1669
I think we are fine here.

[2020-10-10 07:07] #1669 closed

[2020-10-11 09:44] sbs2001 commented on #1395
https://meshery.meshery.io/docs/architecture is missing the images.

[2020-10-11 10:22] JubayerJoy commented on #1395
Hi @sbs2001, good catch!
A common practice is to *open a new issue* if you can't find the same issue listed or mentioned anywhere.
If you want you can create a new issue or I can open one for you if you want.

Cheers!

[2020-10-11 16:06] sbs2001 commented on #1395
@JubayerJoy

No thanks !

FWIW this ticket is labeled `duplicate`  for some reason, add to that my issue is a subset of what you are proposing(atleast the title). So IMHO  opening a new issue  is not necessary.

[2020-10-11 16:30] leecalcote opened #1670 "[UI] Sort Adapter Operations Alaphbetically"
**Current Behavior**
Each Meshery Adapter's operations are read from the respective adapter in real-time when a user navigates to a particular service mesh page. There is no guaranteed ordering of the list of supported operations that the adapter will respond with. So, users will see a different order of menu items (sported operations) each time that they load the page. See screenshots:

First loa

[2020-10-11 18:54] ImagineZero0 commented on #1664
Can I work on this.?

[2020-10-11 19:19] Nikhil-Ladha commented on #1664
Sorry, @ImagineZero0 someone is already working on it. You can lookout for other open issues 🙂

[2020-10-11 20:34] JubayerJoy commented on #1395
@sbs2001

True, your issue is a subset of the issues mentioned in the title. It's labeled `duplicate` cause some of them are already covered by other tickets (You can see some of them are already fixed).

My point is, I am **not updating this list** with similar issues, so the issue you mentioned **might go unnoticed**.
Each time an image breaks or document is missing, it falls under this title.

[2020-10-12 01:03] leecalcote opened #1671 "[UI] Remove "SMI Conformance results" chip from all Adapter pages"
**Current Behavior**
The SMI Conformance results chip is shown in each Adapter page.

**Desired Behavior**
This chip (button) was a temporary solution. Now that a permanent solution is in place, it can be removed.

**Screenshot**

Adapter chip:

<img width="343" alt="Screen Shot 2020-10-11 at 8 00 18 PM" src="https://user-images.githubusercontent.com/7570704/95695435-7bb42600-0bfc-11eb-8079-c099c4

[2020-10-12 01:34] daksh-sagar commented on #1671
@leecalcote I'll take this.

[2020-10-12 03:00] leecalcote commented on #722
All, this functionality was actually implemented some time ago, but never documented. The PR above cleans up the command a little and documents it.

[2020-10-12 11:42] chandrashritii opened #1674 "[Docs] Broken links in architecture page"
**Desired State:**

Fix the broken links in the [architecture page](https://meshery.layer5.io/docs/architecture).

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)
- [Instructions for contributing to documentation](https://github.com/layer5io/meshery/blob/master/CONTR

[2020-10-12 15:02] gunishmatta commented on #1670
I would like to work on this issue.

[2020-10-12 15:04] tripathyprateek commented on #1670
Great @gunishmatta I will assign you this.

[2020-10-12 20:26] leecalcote opened #1676 "[Docs] Update Latest supported version of Istio to 1.7.3"
**Current State:**
Currently, the [Meshery Adapter for Istio ](https://meshery.layer5.io/docs/service-meshes/adapters/istio/istio)docs list 1.5 as the latest supported version.

**Desired State:**
v1.7.3 is the latest supported version, though.

The data file for this adapter needs to be updated.

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Mesh

[2020-10-12 21:36] Maxgit3 commented on #1676
I am a new contributor to open source.  I would be willing to work on this.  thank you for your response.

[2020-10-12 23:47] PluckyPrecious commented on #1676
Sure @Maxgit3 do go ahead.👍🏽

[2020-10-13 03:19] #722 closed

[2020-10-13 11:35] hexxdump opened #1677 "[mesheryctl] installation throws an exception if docker daemon is not running"
**Description**
`mesheryctl system start` needs to be re-attempted if docker-compose fails for any reason.

**Expected Behavior**
if `mesheryctl system start` fails to start due to docker not running on the system,
throw an informational message to the users to start docker and then re-attempt
`mesheryctl system start`

**Screenshots**

**Environment:**
 - OS: [e.g. Ubuntu]
 - Browser: [e.g. Chrom

[2020-10-13 11:39] Nikhil-Ladha commented on #1677
Go ahead @hexxdump :+1:

[2020-10-13 12:54] #206 closed

[2020-10-13 12:54] #327 closed

[2020-10-13 12:54] #352 closed

[2020-10-13 12:54] #693 closed

[2020-10-13 22:06] leecalcote commented on #693
@clementkng would you like to take this one?

[2020-10-13 22:12] leecalcote commented on #1677
Good catch, @hexxdump. 👍

[2020-10-14 01:32] leecalcote opened #1679 "[mesheryctl] Support for shorthand flag `-t` missing in `system config`"
**Description**
`mesheryctl mesheryctl system config minikube -t ~/Downloads/auth.json` produces the following error:
[code]

**Expected Behavior**
Both `--token` and `-t` should be supported aliases of this same flag.

[2020-10-14 08:14] sladyn98 commented on #1679
https://github.com/meshery/meshery/blob/f8227b1978de965ecad238529a60fae35af61a99/mesheryctl/internal/cli/root/system/config.go#L173
The short flag `-t` is supported here .
Could it be caused because it is chained with `minikube` ?

CC @leecalcote

[2020-10-14 09:16] Neilblaze opened #1680 "Update 'Kong' to 'Kuma' in Service Mesh list"
**Description**

- “Kong” is listed in the Service Mesh drop-down list on the /performance test page in Meshery. This needs to be updated!

**Expected Behavior**

- "Kong" should be updated to "Kuma"!

[2020-10-14 09:20] leecalcote commented on #1679
Good question. “Minikube” probably needs to be behind a flag itself, like `-p`

[2020-10-14 10:04] #1680 closed

[2020-10-14 11:28] sladyn98 commented on #1679
Yeah is there any existing command like minikube.go that we can probably extend and add subcomands to ?

[2020-10-14 13:54] NupurThakur27 opened #1682 "[mesheryctl]: The attempt to install docker-compose while running mesheryctl fails due to permission issue."
**Description**

Currently, The docker-compose installation fails as in Linux systems sudo permission is required to make any installation.

**Expected Behavior**

The attempt to install `docker-compose` should take sudo permission in Ubuntu and install it successfully.
**Screenshots**

![Screenshot from 2020-10-14 19-19-41](https://user-images.githubusercontent.com/39610703/95998322-620c1c00-0e52

[2020-10-14 14:05] anirudhjain75 commented on #1682
Hi @NupurThakur27, Regarding this issue. It depends upon if docker is in sudoer group or not. Usually adding sudo to every docker command is annoying so you usually add docker to sudoer group, then passing sudo to docker compose is not necessary

[2020-10-14 14:39] kalradev commented on #1682
I was looking at the bash script. I found it complex for no reasons.
![2020-10-14-200541_990x348_escrotum](https://user-images.githubusercontent.com/32228313/96004284-d47ffa80-0e58-11eb-913f-d3757ebec935.png)

Why is this code here?
We can simply write
`sudo mv ....`
instead of if else

[2020-10-14 14:51] anirudhjain75 commented on #1679
This issue doesn't exist on latest master... Someone must have fixed it :)

[2020-10-14 17:31] Maxgit3 commented on #1676
Thank you.  Looking into the issue now.

[2020-10-15 07:38] subhamkrai commented on #1190
@leecalcote I can take this if available.

[2020-10-15 14:01] sladyn98 commented on #1679
Sounds good :+1:

[2020-10-15 14:25] sladyn98 commented on #1433
So ideally we would want the CLI to ass specific meshes and currently it supports the download for all meshes am I right ?

[2020-10-15 15:28] sladyn98 commented on #1433
I found the docker compose that pulls in all the adapters
```start := exec.Command("docker-compose", "-f", utils.DockerComposeFile, "up", "-d")```
So basically this pulls in all the adapters and starts them right ?
So If i want to have them download just one would I have to create a docker compose for each one ?

[2020-10-15 22:01] kushthedude commented on #1682
Because this is needed to check for certain users, and this piece of code is certainly much more useful if you are using RHEL or SUSE remote subsystems.

[2020-10-16 09:38] chandrashritii commented on #1395
@JubayerJoy This issue should be closed. The issue with the missing links in the architecture page have been captured in #1675. New issues should be opened to point out any future documentation errors

[2020-10-16 09:39] chandrashritii commented on #1395
//CC @leecalcote Closing this issue.

[2020-10-16 09:39] #1395 closed

[2020-10-16 10:28] KarenEfereyan commented on #1679
Could this be closed then @leecalcote ?

[2020-10-16 10:30] KarenEfereyan commented on #1658
@anirudhjain75 can i take this up? I

[2020-10-16 10:48] leecalcote commented on #1658
Hi @KarenEfereyan, that would be wonderful. I will note that this is a relatively challenging issue in terms of level of difficulty, which I suspect is why it doesn't carry a "help-wanted" label (not that help isn't wanted :) ). If you’re able to digest `gh`’s capabilities here and produce a design on it’s implementation in `mesheryctl` , yes, let’s do it. In the meantime, let's slap the `issue/de

[2020-10-16 10:55] sladyn98 commented on #1083
This could be a good step just when it is initialized. Should the YAML be populated with default values ? Also it would be nice to let the user know that we are generating such a file and you can edit it before you start. Or you can reload the yaml

[2020-10-16 11:11] anirudhjain75 commented on #1658
If you're up to the task sure. Let me know if you need any help or more context into the issue.

[2020-10-16 11:59] KarenEfereyan commented on #1658
@anirudhjain75 and @leecalcote I can tell that its a lot challenging. That's why I want to try working on it. I will learn a lot and I have you to help me. So yes, Ill start work on it soon

[2020-10-16 18:03] #1671 closed

[2020-10-16 18:05] #1674 closed

[2020-10-16 19:47] #273 closed

[2020-10-16 20:33] #1676 closed

[2020-10-17 19:01] kushthedude opened #1690 "Results Table: Sort and Filters options are gone"

[2020-10-17 20:05] kushthedude opened #1692 "Results Table: first row of results table is always not selectable"
**Description**

Results Table: the first row of the results table is always not selectable

**Expected Behavior**

You should be able to select the first row using the checkbox.

**Screenshots**

<img width="1106" alt="Screenshot 2020-10-18 at 1 33 50 AM" src="https://user-images.githubusercontent.com/44091822/96352622-27201780-10e2-11eb-9537-7ecfbd454914.png">

[2020-10-18 07:24] anirudhjain75 commented on #1083
Should I pick this one up @sladyn98, @nitishm and @leecalcote  ??

[2020-10-18 07:24] anirudhjain75 commented on #1083
This currently blocks one of my PR which Lee referenced, I need this done to have 2 PRs counted for you who what

[2020-10-18 09:03] anirudhjain75 commented on #1083
This PR creates a new config file (mesheryctlConfig.yaml) based on default values and put's it into .meshery folder

[2020-10-18 18:41] KarenEfereyan commented on #1692
@kushthedude what could be causing that bug?

[2020-10-19 14:08] sladyn98 commented on #1682
@NupurThakur27 @anirudhjain75 Does this still need fixing ?

[2020-10-19 15:27] leecalcote opened #1697 "[mesheryctl] `system update` does not gracefully handle Docker not being available"
**Description**
`mesheryctl system start` calls the `system update` function to ensure that users are frequently updating to later Meshery versions. The

**Expected Behavior**
When Docker is unavailable and a user attempts to start or update Meshery, `mesheryctl system update` should gracefully detect this missing prerequisite and inform the user in the same fashion it does for `system start`.

**

[2020-10-19 15:27] leecalcote commented on #1697
@hexxdump would you like to address this issue?

[2020-10-19 16:40] hexxdump commented on #1697
Sure @leecalcote !

[2020-10-19 20:16] leecalcote opened #1698 "[UI] Provide NGINX logo for use in Meshery UI"
**Current Behavior**
The NGINX Service Mesh adapter is in alpha, readying for incorporation into Meshery.

**Desired Behavior**
two versions of its icon needed for its display.

[2020-10-19 20:19] leecalcote opened #1699 "[UI] Grafana: Unable to persist board selection"
**Description**
When a user navigates to the http://localhost:9081/settings#metrics/grafana tab, choose a predefined board, modify the panels and choose to add the board, they receive an error stating the board settings could not be persisted.

When the user refreshes the page, though, the board has been persisted.

**Screenshots**
<img width="976" alt="Screen Shot 2020-10-19 at 11 54 46 AM" src="

[2020-10-19 20:20] leecalcote commented on #1699
@dhruv0000 we're hosting an Istio workshop on Wednesday. A fix on this issue will have a positive impact if fixed before Wed at midnight IST.

[2020-10-20 00:54] #1608 closed

[2020-10-20 01:00] jesuslerma opened #1700 "[Docs] Translate Introducing Meshery page to Spanish"
**Current State:**
The actual documentation is in english.

**Desired State:**
I want to translate this page: https://meshery.layer5.io/docs/overview to spanish.

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)
- [Instructions for contributing to documentation](https

[2020-10-20 01:01] jesuslerma commented on #1700
Hey @jesuslerma  what do you think?

[2020-10-20 01:03] alonsolopezr opened #1701 "[Docs] Translate Quick Start page to Spanish"
**Current State:**
The actual documentation is in english.

**Desired State:**
I want to translate this page:https://meshery.layer5.io/docs/installation to spanish.

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)
- [Instructions for contributing to documentation](ht

[2020-10-20 01:29] jesuslerma commented on #1701
Awesome, let me know if you need any here there :)

[2020-10-20 02:07] homero304 opened #1703 "[Docs] Translate Project page to Spanish"
**Current State:**
The actual documentation is in english.

**Desired State:**
I want to translate this page:https://meshery.layer5.io/docs/project to spanish.

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)
- [Instructions for contributing to documentation](https:/

[2020-10-20 02:15] jesuslerma commented on #1703
Awesome, please go!

[2020-10-20 13:35] sladyn98 commented on #1698
:+1:

[2020-10-20 13:36] sladyn98 commented on #1679
@leecalcote @KarenEfereyan I am not sure this is fixed yet. Some are still having issues with this

[2020-10-20 15:07] anirudhjain75 opened #1706 "[UI] Use SMP to get list of service mesh for populating performance component"
Use SMP to get list of service mesh for populating performance component
Render list after a call at SMP

Related Component - ui/components/MesheryPerformanceComponent.js

[2020-10-20 16:24] leecalcote opened #1707 "[mesheryctl] `version` command provides invalid upgrade prompt"
**Description**
`mesheryctl version` runs a check for the latest version of Meshery that is available and will inform the user if a later version is available than what the user has installed.

[code]

**Expected Behavior**
The prompt (instructions) provided in this output say to execute `system upgrade`. The command is actually `system update`.

[2020-10-20 16:27] leecalcote opened #1708 "[mesheryctl] `version` command should provide an "operation in-progress" indicator to user"
**Current Behavior**
`meshery version` takes some time to execute the check against the GitHub API for the latest release of software. This check can take a few seconds, leaving the user to wonder what is going on.

[code]

**Desired Behavior**
Users should be shown an indicator that a check is being performed.

**Implementation**
Show user the info message: ```Checking for latest version of Meshe

[2020-10-20 17:54] cardinalion commented on #1707
I'll take this

[2020-10-20 17:54] cardinalion commented on #1708
I'll take this

[2020-10-20 17:57] leecalcote commented on #1708
Sounds great, @cardinalion. 👍

[2020-10-20 17:58] leecalcote commented on #1707
@cardinalion, excellent. 😄

[2020-10-20 19:36] #1707 closed

[2020-10-21 00:52] #1708 closed

[2020-10-21 02:05] leecalcote opened #1712 "[UI] Navigation Menu Icon Not Scaling"
**Description**
The lefthand navigation menu icons do not scale on browser zoom.

**Expected Behavior**
The icons should enlarge/shrink as the user zooms their view.

**Screenshots**
<img width="2278" alt="Screen Shot 2020-10-20 at 9 01 00 PM" src="https://user-images.githubusercontent.com/7570704/96664248-f88b8200-1317-11eb-9d63-abe0a7c824d1.png">

[2020-10-21 02:07] leecalcote commented on #1146
@morelmiles, we'll go ahead and unassign so another contributor can pick this up. Feel free to grab any other open issue.

[2020-10-21 02:07] leecalcote commented on #1712
Related issue - https://github.com/meshery/meshery/issues/1146

[2020-10-21 02:20] #1698 closed

[2020-10-21 02:34] leecalcote opened #1713 "[Adapter] Remove NGINX SM from Meshery stable release channel until adapter v0.2.x is released."
NGINX SM adapter is not currently building. A beta release has not yet been made.

_Originally posted by @leecalcote in https://github.com/layer5io/meshery-nginx-sm/issues/6#issuecomment-713253965_

[2020-10-21 02:53] leecalcote commented on #1679
Reopening with more details on issue from @Bcoralm.

**Using Version:**
[code]

**This error occurs:**

[code]

On this OS/Kubernetes:

[code]

[2020-10-21 05:38] leecalcote opened #1716 "[mesheryctl] Use of `utils.AuthConfigFile` in `mesheryctl system config`"
`mesheryctl system config` requires use of the user's Meshery token.

Use of `utils.AuthConfigFile` (example here) - https://github.com/layer5io/meshery/blob/49819bd9438140cc7ad5572716c1ae2c158e511c/mesheryctl/internal/cli/root/perf/perf.go#L161 seems to provide CLI users with the convenience of assuming a default location for the token file. Is that something we might incorporate here? If so, con

[2020-10-21 05:38] leecalcote commented on #1716
// @anirudhjain75

[2020-10-21 09:33] luigimorel commented on #1146
Hey,
I couldn't set up on my computer. Feel free to assign to another
contributor. My regrets.

---
Luigi Morel.

Front-end developer and UI/UX designer.

Tel: +256 704 916 696 (WhatsApp)

On Wed, Oct 21, 2020, 05:07 Lee Calcote <notifications@github.com> wrote:

[2020-10-21 12:37] leecalcote opened #1718 "[meshmap] Smooth transition on zoom and reposition"
Pretty neat. I _think_ that this will serve us well. Do we have the ability to make this a smoother transition?

_Originally posted by @leecalcote in https://github.com/layer5io/meshery/pull/1717#issuecomment-713530716_

[2020-10-21 13:00] #1713 closed

[2020-10-21 13:30] leecalcote opened #1720 "[UI] Disable Nighthawk as an available choice of load generator"
**Description**
This feature is dysfunctional currently.

**Expected Behavior**
Radio button should be disabled.

[2020-10-21 13:41] vineethvanga18 commented on #1718
@leecalcote Yes we can do this. But we currently have an issue with state. The re-rendering when we click on a node grows exponentially
![highlight_and_fit](https://user-images.githubusercontent.com/44473939/96727230-76ab5f80-13d0-11eb-8983-e4a47c485733.gif)

[2020-10-21 13:44] leecalcote commented on #1718
Thanks for looking at this. More to be investigated here. Will you create an issue?

[2020-10-21 13:46] vineethvanga18 commented on #1718
Yes

[2020-10-21 16:34] codetheorem commented on #1712
Assign this to me.

[2020-10-22 03:31] #1677 closed

[2020-10-22 04:59] vineethvanga18 opened #1725 "[meshmap] MesheryVisualizeComponent renders multiple times"
**Description**

With each click on a node or edge, the number of times the graph renders grows exponentially.  The problem is with state in MesheryVisualizeComponent. There are multiple changes to the state of drawer(open or close) when clicked on a node, which causes re-renders(and causes delay in final render).

**Expected Behavior**

When clicked on a node or edge the graph should render once.

[2020-10-22 05:03] leecalcote commented on #1725
Thank you, @vineethvanga18

[2020-10-22 14:33] leecalcote commented on #1679
Another report from @icharlem.

**System details:**

[code]

// @clementkng @hexxdump @anirudhjain75 @sladyn98

[2020-10-22 14:47] leecalcote commented on #1679
One issue here is that we’re assuming presence of kubectl and not handling this gracefully - https://github.com/meshery/meshery/blob/8e49e16e786252075f41ea5fb1af85e83ea9ae9a/mesheryctl/pkg/utils/scripts.go#L18

[2020-10-22 17:25] leecalcote commented on #132
Way of distinguishing between protocols?

- grpc://funtionName(param 1, "bob", true)
  - need to use advanced headers inside payload
- tcp://192.168.1.15:3000/endpointname
- http://
- https://

[2020-10-22 21:23] leecalcote opened #1727 "[Docs] Readme - Update Maesh Logo"
**Description**
This section of the README (https://github.com/layer5io/meshery#supported-service-meshes) uses the version of the Maesh logo that has text included ("Traefik Maesh"), but shouldn't.

[2020-10-22 21:23] leecalcote commented on #1727
@akashprasher over to you! :)

[2020-10-22 21:25] leecalcote opened #1728 "[Docs] Maesh Adapter docs - update logo"
Adapter docs need updated to Use the Maesh logo that does not include text.

- https://meshery.layer5.io/docs/service-meshes (https://github.com/layer5io/meshery/blob/master/docs/assets/img/service-meshes/traefik.svg)

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)

[2020-10-22 21:25] leecalcote commented on #1728
@akashprasher here you are.

[2020-10-22 21:35] leecalcote opened #1729 "[Docs] README - Add NGINX Service Mesh adapter"
**Current Behavior**
NGINX Service Mesh is missing. A new adapter has been created - https://github.com/layer5io/meshery-nginx-sm

**Desired Behavior**
- Meshery's readme should have NGINX Service Mesh adapter listed as an alpha adapter.
- use the Nginx service mesh logo recently included in the https://layer5.io/landscape

<img width="602" alt="Screen Shot 2020-10-22 at 4 33 34 PM" src="https://u

[2020-10-22 22:02] leecalcote opened #1730 "[Validate] Meshery server crashing on SMI test (Remote Provider only)"
**Description**
SMI conformance test on OSM crashes Meshery server.

**Docker Logs**
[code]

[2020-10-23 00:30] leecalcote opened #1731 "[UI] Alphabetically sort the Management sub-menu items (service mesh names)"
**Description**
Service meshes are not listed in alphabetical order in the navigation menu, but should be.

**Screenshots**
<img width="267" alt="Screen Shot 2020-10-22 at 7 27 17 PM" src="https://user-images.githubusercontent.com/7570704/96943220-1504f700-149d-11eb-8250-da1300119ac0.png">

[2020-10-23 00:35] Kennygrace commented on #1731
I would like to work on this issue

[2020-10-23 02:37] ldemailly commented on #132
side note I use tcp:// in newer fortio for tcp load testing from the web UI to distinguish from (default) http and from grpc (which has a seperate flag but maybe the above is better)

[2020-10-23 04:54] akashprasher commented on #1727
The PR(https://github.com/meshery/meshery/pull/1733) also Fixes this issue
As I have changed the origin file It'll reflect everywhere it is being used.

[2020-10-23 06:14] kushthedude opened #1734 "Mesheryctl: Switch between Edge & Stable Releases through CLI"
**Current Behavior**

We have edge and stable releases channels now, we should be able to switch the versions through mesheryctl.

**Desired Behavior**

Mesheryctl: Switch between Edge & Stable Releases through CLI

[2020-10-23 07:22] leecalcote commented on #1731
Sounds real good, @Kennygrace.

[2020-10-23 07:22] tripathyprateek commented on #1731
@Kennygrace assigning you this. Please reach out to us on Slack if you hit any roadblock.

[2020-10-23 07:30] leecalcote commented on #1727
This makes sense, but please don't do so across repos as we will inevitably end up with broken links, since people can't/don't track dependencies from other repos.

[2020-10-23 07:32] #1728 closed

[2020-10-23 08:59] leecalcote opened #1735 "[Docs] Reorder menu items in alphabetical order"
**Current State:**
NGINX Service Mesh was recently added to the docs - https://meshery.layer5.io/docs/

**Desired State:**
It is out of alphabetical order.

**Screenshot**
<img width="219" alt="Screen Shot 2020-10-23 at 3 58 32 AM" src="https://user-images.githubusercontent.com/7570704/96978629-2de4cb00-14e4-11eb-88a6-084385096c89.png">

---
**Contributor Resources**
- [Meshery documentation site]

[2020-10-23 09:23] amanda-ariyaratne commented on #1735
Hello, Can I work on this?

[2020-10-23 09:40] UnkleTayo commented on #1729
I would like to work on this issue

[2020-10-23 09:41] kishore007k commented on #1735
Sure @amanda-ariyaratne. 👍

[2020-10-23 09:44] kishore007k commented on #1729
Yeah sure @UnkleTayo ✌

[2020-10-23 10:20] UnkleTayo commented on #1729
I will start right away

[2020-10-23 14:06] chandrashritii opened #1738 "[Docs] Restyle Landing page"
**Description**

 The landing page of the Meshery docs site has too much whitespace. Remove the whitespace and restyle appropriately

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)
- [Instructions for contributing to documentation](https://github.com/layer5io/mesher

[2020-10-23 14:45] #1735 closed

[2020-10-23 22:04] #1729 closed

[2020-10-24 00:01] homero304 commented on #1703
https://github.com/meshery/meshery/pull/1740

[2020-10-24 00:30] Drake8710 commented on #1700
Hey @jesuslerma
Please assign this to me. Thanks

[2020-10-24 00:32] jesuslerma commented on #1700
Done @Drake8710

[2020-10-24 10:25] akashgp09 opened #1745 "[Docs] Incorrect wsl2 link in README.md"
**Current State:**
In the **Run meshery** section of README.md file, clicking on wsl2 takes you to a 404 Error page.
**Desired State:**
Fix the Invalid Link with the correct one i.e https://meshery.layer5.io/docs/installation/platforms/windows#wsl2

![image](https://user-images.githubusercontent.com/55311336/97079358-d1cb9500-1610-11eb-807c-0af3a62fa532.png)

---
**Contributor Resources**
- [Meshe

[2020-10-24 11:08] leecalcote opened #1748 "[Docs] Revert Meshery Architecture diagram to SVG"
**Current State:**
The first arch diagram on [this page](https://meshery.layer5.io/docs/architecture) uses a png not an svg like the others.
The docs should be using vector-based images where possible, not rasterized images. The image is of poor quality and has an errant, floating OSM icon on it.

**Desired State:**
1. Download this diagram as an SVG from the [Meshery Architecture deck](https://do

[2020-10-24 11:20] leecalcote opened #1749 "[UI] Change NGINX adapter logo to NGINX Service Mesh logo"

[2020-10-24 11:31] #1725 closed

[2020-10-24 12:43] #1749 closed

[2020-10-24 14:34] Fahdmoh01 commented on #1269
Kidnly assign me to this issue @Nikhil-Ladha

[2020-10-24 15:21] leecalcote opened #1751 "[UI] Community Feed"
### Current Behavior
The "Community" link in Meshery currently opens a new browser window.

### Desired Behavior
The "Community" link should instead open a local page in Meshery that contains a segmented list of noteworthy items in the community.  Items may be an interesting blog post, upcoming event, recent project release, recently news, and so on.

### Implementation
1. Noteworthy items should

[2020-10-24 16:15] leecalcote opened #1752 "[UI] Add Meshery Version to Release card on System Dashboard"
### Current Behavior
Meshery has a System Dashboard showing a disabled set of radio buttons to change between release channels, but does not show the running version of Meshery.

### Desired Behavior
Users should be shown their currently running version. Latest available version can be addressed by another issue/PR.

### Implementation
1. Retrieve Meshery server version from http://<meshery-server

[2020-10-24 16:27] leecalcote opened #1753 "[UI] Add Latest Available Version to Release card on System Dashboard"
**Dependency:** #1752 should be implemented first or should be implemented in combination with this issue.

### Current Behavior
Meshery has a System Dashboard showing a disabled set of radio buttons to change between release channels, the currently running version of Meshery, but does not show the user the latest available version.

### Desired Behavior
Users should be shown the latest available

[2020-10-24 17:00] leecalcote opened #1754 "[mesheryctl] Create `mesheryctl system check`"
Child Issue- [mesheryctl] [child] Create mesheryctl exp preflight to verify environment readiness for a Meshery deloyment #2607

**Current Behavior**
Users are able to run `mesheryctl system status` to check whether Meshery containers are running or not in their local Docker environment (using docker-compose). Users are not, however, able to perform to other types of checks in-depth:

1.  `check`

[2020-10-25 03:07] #1718 closed

[2020-10-25 20:39] kushthedude commented on #36
Not stale

On Mon, 26 Oct, 2020, 02:06 stale[bot], <notifications@github.com> wrote:

[2020-10-25 21:06] bartkalanski commented on #1748
Looks like the issue has been fixed in #1748 @leecalcote

[2020-10-25 23:53] PluckyPrecious commented on #1670
Hey @gunishmatta how is this coming up?

[2020-10-25 23:56] #1646 closed

[2020-10-26 01:18] leecalcote commented on #1646
Thank you, @PluckyPrecious

[2020-10-26 08:58] #1727 closed

[2020-10-26 22:30] #1745 closed

[2020-10-26 22:34] #1748 closed

[2020-10-26 22:45] leecalcote commented on #1748
@bartkalanski good eye. I missed this one. @bartkalanski, it'd be good to have your 👀 on PRs like these (or any other PRs that you'd like to review). Great way for you to engage even more, learn more, and to avoid me bottlenecking progress. 😅

[2020-10-26 22:46] leecalcote commented on #1748
Oh! I see in part what you mean now. I see that the issue was assigned to you. Right, ok.

[2020-10-27 01:53] leecalcote opened #1762 "[Docs] Invite Meshery Users to list presentations"
Add something like "Have you given a presentation? Add yours here!" with link to submit docs issue. Be inspired from here - https://linkerd.io/community/

_Originally posted by @leecalcote in https://github.com/layer5io/meshery/pull/1726#r510296657_

[2020-10-27 01:54] leecalcote opened #1763 "[Docs] Resources: book cover image is skewed"
The book cover image is skewed.
<img width="258" alt="Screen Shot 2020-10-22 at 11 23 23 AM" src="https://user-images.githubusercontent.com/7570704/96901609-18768f00-1459-11eb-8bff-69b08bbf6490.png">

_Originally posted by @leecalcote in https://github.com/layer5io/meshery/pull/1726#r510295544_

[2020-10-27 03:14] bartkalanski commented on #1748
I will do for sure!

It was, but it doesn’t matter, it’s probably better that a brand new person to Layer5 has done this!

[2020-10-27 15:47] chandrashritii commented on #1762
This has already been fixed in #1726

![Screenshot_2020-10-27 Resources](https://user-images.githubusercontent.com/34476976/97326285-da82cc00-1899-11eb-8a00-f650e7f56f8b.png)

[2020-10-27 15:48] chandrashritii commented on #1763
This has already been fixed in #1726

![Screenshot_2020-10-27 Resources(1)](https://user-images.githubusercontent.com/34476976/97326350-ecfd0580-1899-11eb-97bb-ba7060acb86f.png)

[2020-10-27 15:49] leecalcote commented on #1762
Oh, good deal. Please fix the mis-phrased sentence.

[2020-10-27 15:51] chandrashritii commented on #1762
Sure. Which sentence would that be? @leecalcote

[2020-10-27 16:17] leecalcote opened #1766 "[Meshery] Expose currently subscribed release channel name in System Dashboard."
@kushthedude, can you highlight what changes will need to be done in the build system in order to provide release channel name "stable" or "edge" as an environment variable, so that the `/api/server/version` endpoint can be enhanced to include the channel name?

- Dockerfile: https://github.com/layer5io/meshery/blob/3abaa633b14e331187396f32d36c7d5f1f55b989/Dockerfile#L3-L4
- GitHub action: https:/

[2020-10-27 16:20] leecalcote commented on #1762
"We'd love you to 'love'" - needs rephrased.

[2020-10-27 19:06] #1752 closed

[2020-10-27 19:06] #1753 closed

[2020-10-27 19:08] #1697 closed

[2020-10-27 19:09] #1703 closed

[2020-10-28 05:00] leecalcote commented on #1712
Thanks for picking this up, @codetheorem. There are a few other icons that don't scale here that are not encircled in the screenshot.

[2020-10-28 07:59] hexxdump opened #1770 "[Meshery] Ask user confirmation before starting docker in the PreReqCheck"
**Description**
`mesheryctl system XXXX` commands try to start docker daemon, if its not running already.
However User should be prompted before docker daemon is started.

**Expected Behavior**
Introduce an user prompt before starting docker daemon

**Screenshots**
This sample code was added in PreReqCheck() code in helpers.go,
however it was not giving desired result, need to rework on it:
[code]

[2020-10-28 11:44] leecalcote commented on #700
@Aisuko will you take another look here?

[2020-10-28 11:45] leecalcote commented on #392
@nunix will you have another look here?

[2020-10-28 11:47] leecalcote commented on #585
Latest build no longer observes this behavior.

[2020-10-28 11:47] #585 closed

[2020-10-28 11:50] leecalcote commented on #619
@KarenEfereyan The only outstanding item here is to list the ServiceMeshCon talk provided under the **NSM + Meshery Resources:** section above. Are you available to finish off this week?

[2020-10-28 11:51] Aisuko commented on #700
We can close this issue, as you can see our document all have been remove the `--generate-name` parameter this parameter may not useful for the chart

[2020-10-28 11:52] leecalcote commented on #700
Sounds real good. Thank you, @Aisuko

[2020-10-28 11:52] #700 closed

[2020-10-28 11:53] leecalcote commented on #894
@nitishvu does this make sense? Are you available to assist in documenting this?

[2020-10-28 11:54] leecalcote commented on #1731
Hi @Kennygrace, are you available to resolve this issue this week?

[2020-10-28 11:55] Nikhil-Ladha commented on #894
@leecalcote I think this has already been documented. Not sure why the issue is still open.

[2020-10-28 11:55] leecalcote commented on #1670
@gunishmatta or @HeroicHitesh are either of you available to resolve this issue this week?

[2020-10-28 12:01] #894 closed

[2020-10-28 12:02] leecalcote commented on #1661
@Aisuko could you look into this?

[2020-10-28 12:03] leecalcote commented on #1679
Any new leads here? This issue is also blocking creation of training labs.

[2020-10-28 12:13] Aisuko commented on #1661
No problems

[2020-10-28 12:43] Kennygrace commented on #1731
Yes @leecalcote

[2020-10-28 12:51] Kennygrace commented on #1731
Please, what part of the code do I have to go to make the changes, I've been trying to find it I can't seem to locate it

[2020-10-28 13:03] tangledbytes commented on #1731
https://github.com/meshery/meshery/blob/master/ui/components/Navigator.js#L488 I am not sure but I think this is the function which needs to be modified

[2020-10-28 13:25] Nikhil-Ladha commented on #1731
Maybe we can simply edit the array to have the data in alphabetical order that would be better. And sorting time would be saved too. As wr are anyways using a static data here.

[2020-10-28 13:56] akashprasher opened #1772 "[Docs] - Missing Images in Documentation Overview Section"
**Current State:**

Missing Image of Logos in Documentation (https://meshery.layer5.io/docs/overview)

![image](https://user-images.githubusercontent.com/42891970/97443674-55f38480-1951-11eb-8480-06a9e0a23e0f.png)

**Desired State:**

These are the logos which supposed to appear in the documentation

![image](https://user-images.githubusercontent.com/42891970/97444290-fcd82080-1951-11eb-817b-66041

[2020-10-28 18:03] PluckyPrecious commented on #1772
Hey @akashprasher are you on this?

[2020-10-28 18:57] Documentus commented on #638
Is there space for a newbie to jump in for learning purposes and a portfolio item please?

[2020-10-28 19:24] jlcastrogro opened #1776 "[Docs] Translate "Functionality" section to Spanish"
**Current State:**
Documentation is in English

**Desired State:**
Translate "functionality" section to Spanish

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)
- [Instructions for contributing to documentation](https://github.com/layer5io/meshery/blob/master/CONTRIB

[2020-10-28 19:25] jlcastrogro commented on #1776
I will to translate it :)

[2020-10-28 20:17] leecalcote commented on #1772
Copying the logo files from either the meshery.io or the layer5.io site would work well here.

[2020-10-28 21:09] #1690 closed

[2020-10-28 21:09] ramrodo commented on #1037
@kushthedude I want to contribute to creating tests for the `provider-ui`. Should I create an issue for this specific route or how can we coordinate this?

[2020-10-28 21:17] kushthedude commented on #1037
Hi @ramrodo , Provider-UI only has single route so I guess we don't need to create a different issue and you can just refer your PR with this issue 😄

[2020-10-28 21:21] leecalcote commented on #1037
@kushthedude I added the label for parent issue given that the title and description call for any number of child issues to be created. It’d be nice to breakout this work into sub-issues.

[2020-10-28 21:23] kushthedude commented on #1037
Let me break the issue down and mention each and every route/tests in the issue description so that we can track the progress as a whole/

[2020-10-28 21:26] kushthedude commented on #1679
Found the fix @leecalcote

[2020-10-28 23:03] #1679 closed

[2020-10-29 00:37] nitishm opened #1779 "[mesheryctl] mesheryctl fails to run if default meshery config directory is missing"
**Description**
`mesheryctl` initialization fails if `~/.meshery` default config directory is not found with error

[code]

**Expected Behavior**
`mesheryctl` initialization should create the default config folder `~/.meshery` if it doesn't exist similar to how this is done when running the `meshery` server for the first time.

**Screenshots**
![meshery_installation_issue](https://user-images.gith

[2020-10-29 01:51] Aisuko commented on #1661
Relevant PR:

Update version
https://github.com/meshery/meshery/pull/1781

Release to the chart repo
https://github.com/meshery/meshery.io/pull/364

[2020-10-29 01:53] Aisuko commented on #1661
We can seek for some helm release action. As I know there may some tools.

[2020-10-29 01:57] Aisuko commented on #1661
@leecalcote I 'd like to post the idea about this on our repo tab `Discussions`. how do you think about this sir? I mean this may a good place share something relevant the repo especially the `Github actions`

[2020-10-29 02:00] leecalcote opened #1782 "[Helm] Add OSM, Kuma, NSM adapters to the Meshery Helm Chart"
**Current Behavior**
The Meshery Helm chart is missing adapters.

**Desired Behavior**
Meshery Helm chart should have all adapters.

[2020-10-29 02:03] #1779 closed

[2020-10-29 02:04] #1762 closed

[2020-10-29 02:10] leecalcote commented on #1776
Excellent. 😄 Thank you, @jlcastrogro

[2020-10-29 02:11] leecalcote commented on #1763
Thank you, @chandrashritii

[2020-10-29 02:11] #1763 closed

[2020-10-29 04:29] leecalcote commented on #1661
@Aisuko sounds real good, yes. 👍

[2020-10-29 04:32] leecalcote commented on #1037
@ramrodo it would be great to get a short overview and demo from you on Cypress on Friday's community call. Most community members are unfamiliar with this. Are you available to attend this Friday's community meeting? 10am to 11am Central?

[2020-10-29 04:59] Aisuko opened #1784 "Fix the icon of meshery chart"
**Description**

![Screenshot from 2020-10-29 12-55-53](https://user-images.githubusercontent.com/8053949/97527366-175bd980-19e6-11eb-84d5-32e0aa42b14b.png)

**Expected Behavior**

![Screenshot from 2020-10-29 12-55-19](https://user-images.githubusercontent.com/8053949/97527343-07dc9080-19e6-11eb-912e-dedba0b22304.png)

Maybe we need the icon format and address like below
https://raw.githubusercon

[2020-10-29 05:00] ramrodo commented on #1037
Sounds good! 11am central works better for me.

[2020-10-29 05:01] leecalcote commented on #1784
Collection of Meshery logos available in the community drive as well as here - https://meshery.io/brand

[2020-10-29 05:02] leecalcote commented on #1037
Ok, understood. Here is the community calendar with the various meetings we have each day - https://bit.ly/2SbrRhe. Any of the Wednesday, Thursday, or Friday meetings would work.

[2020-10-29 05:02] leecalcote commented on #1037
Also, https://layer5.io/community#meet

[2020-10-29 05:08] leecalcote opened #1785 "[Docs] `mesheryctl` installation instructructions for Brew"
**Current State:**
These three lines can be reduced to two lines.

<img width="677" alt="Screen Shot 2020-10-29 at 12 07 01 AM" src="https://user-images.githubusercontent.com/7570704/97528021-c236ae00-197a-11eb-8aeb-6fdbde9c5680.png">

**Desired State:**
Two lines should be:

[code]

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentat

[2020-10-29 05:20] Aisuko commented on #1784
https://github.com/meshery/meshery.io/pull/365

[2020-10-29 05:33] ramrodo commented on #1037
Oh I see. So, Wednesday November 4th is ok for me (the Friday one overlaps with other job meeting)

[2020-10-29 06:27] abhishekkumkar commented on #1785
@leecalcote can you assign this to me?

[2020-10-29 06:30] akashprasher commented on #1772
@PluckyPrecious No, not now but assign me in next 5-6 hours. If no-one else want to work on this.

[2020-10-29 09:07] KarenEfereyan commented on #619
@leecalcote I'll try my absolute best to get it sorted this week. Sorry for the delay!!

[2020-10-29 12:29] akashprasher commented on #1772
Now, I'm on this!

[2020-10-29 12:38] kushthedude commented on #1770
@leecalcote @Harshini-M Why are we even starting docker daemon on user's behalf? Docker is a pre-req for meshery which is clearly stated in the docs, I don't think we need to start daemon on users' behalf rather we should just improve the error handling, imo this is not a good ux that cli is starting the tools itself which should be done by user.

[2020-10-29 12:40] leecalcote commented on #1770
We are doing this to reduce time to value. Same reason that we are opening up their browser. Same reason that we are changing information on CLI binary and moving it to a different folder.

[2020-10-29 13:04] kushthedude commented on #1037
The issue had been split into 14 milestones, please comment on which one would you like to accomplish so that we may assign you the one.

[2020-10-29 15:47] AreebKhan619 commented on #1785
Hi! Would Like to work on this.

[2020-10-29 16:03] ramrodo commented on #1037
@kushthedude I want to start with `/userpreference` in the meantime I get familiarized more with the product.

[2020-10-29 17:55] leecalcote commented on #1785
Hi @abhishekkumkar, thank you for volunteering. 👍

Hi @AreebKhan619, good of you to jump in. There's more where this comes from here - https://github.com/issues?utf8=✓&q=is%3Aopen+is%3Aissue+archived%3Afalse+org%3Ameshery+label%3A%22help+wanted%22+

[2020-10-29 18:10] #1772 closed

[2020-10-29 19:41] kushthedude commented on #1037
Great !

[2020-10-29 20:55] leecalcote commented on #1770
@hexxdump, the new version of `system start` does spin up Docker Desktop on my machine when Docker Desktop is turned off. Pretty neat. 🙂 The command seems to timeout, though, while waiting for Docker to be ready:

[code]

I don't know that a longer timeout is necessarily ideal. We may want to open up an issue on this as an enhancement to the logic.

[2020-10-29 21:38] leecalcote opened #1788 "[mesheryctl] Check for latest release available not working when Meshery server is unavailable"
**Description**
When Meshery server is available, mesheryctl version will perform the latest release check:
[code]

`mesheryctl version` no longer checks for latest release available when Meshery server is unavailable.

[code]

**Expected Behavior**
`mesheryctl version` should check for latest release available even when Meshery server is unavailable.

[2020-10-29 21:43] leecalcote opened #1789 "[Docs] Internationalization and localization of Meshery Docs (i18n compatible)"
**Current State:**
Meshery documentation is being translated to other languages than English.

**Desired State:**
Incorporate the https://github.com/kurtsson/jekyll-multiple-languages-plugin plugin into Meshery's documentation system.

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/t

[2020-10-30 02:00] Aisuko commented on #1782
This issue on my schedule

[2020-10-30 02:42] nitishm commented on #1754
worth splitting this into multiple issues so that folks can pick up sections of this?

[2020-10-30 02:43] leecalcote commented on #1754
Yes, most certainly.

[2020-10-30 02:43] nitishm commented on #1754
With that said I can look into this unless someone else wants to pick this up?

[2020-10-30 02:43] leecalcote commented on #1754
Yes, most assuredly.

[2020-10-30 02:45] leecalcote commented on #1754
Our conversation stopped just shy of me having reach down deep for another adverb.

[2020-10-30 02:47] nitishm commented on #1754
To verify availability of Meshery adapters, this check should invoke the `` endpoint on Meshery to run an ad-hoc connectivity tests for all known adapters.

What is the endpoint above? Just states ``

[2020-10-30 02:53] leecalcote commented on #1754
Here we are. Adapter ad-hoc ping test: `/api/mesh/adapter/ping`  - https://github.com/meshery/meshery/blob/master/handlers/mesh_ops_handlers.go#L268

URL Encoded Example:
`http://localhost:9081/api/mesh/adapter/ping?adapter=meshery-consul%3A10002` (%3A being a colon)

[2020-10-30 06:10] abhishekkumkar commented on #1785
@leecalcote sir can you please guide me, in which file do I need to do the changes?

[2020-10-30 06:16] leecalcote commented on #1785
@abhishekkumkar here you are - https://github.com/meshery/meshery/blob/master/docs/pages/installation/index.md

[2020-10-30 13:19] kushthedude opened #1795 "Mesheryctl system status gives empty output if meshery is not running"
**Description**

Mesheryctl system status gives empty output if meshery is not running
[code]
**Expected Behavior**

It should give some descriptive response if meshery is not running

[2020-10-30 13:49] #1785 closed

[2020-10-30 19:00] chandrashritii commented on #1789
@jesuslerma Want to take this up?

[2020-10-30 23:04] kushthedude commented on #1754
@leecalcote It will be better to have --pre-check too, so that it may tell if your system is able to install meshery and provision service-meshes or not.

[2020-10-30 23:13] kushthedude opened #1799 "ReleaseDrafter should use RELEASEDRAFTER_PAT instead of GH_Token"
**Description**

It is a pain to copy-paste and manually makes releases, which completely is overwork gave we have releaseDrafter already installed.

**Expected Behavior**

Make releaseDrafter use Personal_Pat Token.

**Change to be made**

Change this line https://github.com/layer5io/meshery/blob/7dcb3445bedced319ff9b2a31bf1be20b89af523/.github/workflows/release-drafter.yml#L18 to
[code]

[2020-10-30 23:31] kushthedude commented on #134
Not stale

On Sat, 31 Oct, 2020, 04:54 stale[bot], <notifications@github.com> wrote:

[2020-10-30 23:31] kushthedude commented on #94
Not stale

On Sat, 31 Oct, 2020, 04:54 stale[bot], <notifications@github.com> wrote:

[2020-10-30 23:31] kushthedude commented on #248
Not stale

On Sat, 31 Oct, 2020, 04:54 stale[bot], <notifications@github.com> wrote:

[2020-10-31 00:21] karleypetracca commented on #1799
I'd like to take this one!

[2020-10-31 00:53] utkarsh-pro commented on #1670
@leecalcote if no one is working on this then I'd like to pick it up

[2020-10-31 01:25] Aisuko commented on #1784
The PR may not solve the issue, I have to check the reason

[2020-10-31 03:36] Drake8710 opened #1803 "[Docs] Translate Architecture page to Spanish"
**Current State:**
Actual Architecture page in available in English only

**Desired State:**
Architecture page translated to Spanish.

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)
- [Instructions for contributing to documentation](https://github.com/layer5io/meshe

[2020-10-31 03:39] Drake8710 commented on #1803
/assignme

[2020-10-31 03:39] Drake8710 commented on #1803
/assigntome

[2020-10-31 03:39] Drake8710 commented on #1803
/assign Drake8710

[2020-10-31 03:40] Drake8710 commented on #1803
/assign me

[2020-10-31 04:26] Nikhil-Ladha commented on #1803
I will assign it to you @Drake8710 😆

[2020-10-31 08:19] Nikhil-Ladha commented on #1720
Do we only need to disable the button or even hide it from the UI?
I can give a try if you say so @kushthedude , @leecalcote .

[2020-10-31 11:51] leecalcote commented on #1670
Thank you @utkarsh-pro

[2020-10-31 11:54] leecalcote commented on #1799
Thank you, @karleypetracca. 👍

[2020-10-31 12:26] leecalcote commented on #636
Hi @WLun001, we would love to have your help here. Given your experience with autocomplete (and fish shell) will you consider taking on this issue?

[2020-10-31 14:17] #1670 closed

[2020-10-31 21:14] leecalcote commented on #1075
@kushthedude given the current set of changes going through. You might tie-off this item at the same time...

[2020-10-31 21:45] kushthedude commented on #1075
Done 😄

[2020-10-31 21:45] leecalcote commented on #1075
🙏

[2020-10-31 21:46] #1075 closed

[2020-11-01 00:15] #1799 closed

[2020-11-01 15:12] leecalcote opened #1836 "[Docs] Broken architecture image links"
**Current State:**
Broken links to architecture images (SVGs) on the https://meshery.layer5.io/docs/architecture page.

<img width="710" alt="Screen Shot 2020-11-01 at 9 11 01 AM" src="https://user-images.githubusercontent.com/7570704/97806623-3941a000-1c22-11eb-8b6c-204d02d2ac5d.png">

**Desired State:**
Images should be displayed.

---
**Contributor Resources**
- [Meshery documentation site](htt

[2020-11-01 15:51] tharun208 commented on #1795
I like to pick this up

[2020-11-01 15:54] kushthedude commented on #1795
Pr is already put up for the issue 😅.

On Sun, 1 Nov, 2020, 21:21 Tharun Rajendran, <notifications@github.com>
wrote:

[2020-11-01 19:34] chandrashritii opened #1838 "[Docs] Search feature is broken"
**Description**

Fix the search feature in Meshery docs

---
[Optional] **To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://meshery.layer5.io/docs/'
2. Try using the search bar
4. See error

[2020-11-01 23:38] #1836 closed

[2020-11-02 00:02] leecalcote commented on #1720
Actually, I think we might be ok to close this issue now. Is that right, @kushthedude? Is Nighthawk working now?

[2020-11-02 00:04] kushthedude commented on #1720
Not in production bundle, but I am hoping for some solution this Wednesday 🙂

[2020-11-02 02:29] WLun001 commented on #636
@leecalcote I can try out sometimes probably this week or next week

[2020-11-02 02:33] leecalcote commented on #636
@WLun001, that would be fantastic. 😄

[2020-11-02 06:06] ayushk1804 commented on #1731
Is the issue still open?

[2020-11-02 20:55] #1731 closed

[2020-11-02 20:59] #1795 closed

[2020-11-03 12:08] EmmanuelTheCoder commented on #1838
@chandrashritii, I just checked the search bar and they work fine.

[2020-11-03 12:45] leecalcote commented on #1699
@dhruv0000 your efforts here have been an improvement. 👍 I still bump into this issue with high frequency.

[2020-11-03 14:44] chandrashritii commented on #1838
@EmmanuelTheCoder That's odd. The search feature has been broken since a few months. It's not working for me. Just to confim, you're talking about the search feature on  https://meshery.layer5.io/docs, right?
Also, if it is working for you, that's great. Can you post a screenshot?

[2020-11-03 21:12] leecalcote opened #1855 "[UI] Add Documentation, Issue, Community, Mailing List links"
### Current Behavior
Meshery's UI doesn't provide convenient links to frequently referenced resources.

### Desired Behavior
Meshery's UI should have the following links:

- documentation - http://docs.meshery.io (not https)
- community - http://slack.layer5.io (not https)
- mailing list - https://meshery.io/subscribe
- issue - https://github.com/layer5io/meshery/issues/new/choose

### Mockups
![F

[2020-11-03 22:16] leecalcote opened #1856 "[UI] Istio: Initial Control Plane Dashboard"
### Current Behavior
MeshSync v1 collection information about Istio service mesh deployments.

### Desired Behavior
Istio control plane information should be exposed in the Meshery UI.

### Implementation
- use `/api/mesh/scan` endpoint to retrieve Istio service mesh information.
- create two "flat" paper elements to separate Service Mesh and Connection Status columns (sections).
- component versi

[2020-11-04 13:43] KarenEfereyan commented on #1855
@leecalcote the links change to https on clicking, though. How can that be fixed? Plus I just got some time on my hands so I'll get to that other pending task of mine today

[2020-11-04 13:47] KarenEfereyan commented on #619
@leecalcote i'm onto this right now. This [link](https://docs.google.com/presentation/d/1oH_yYELjTbuO69oUAZwaRxgc-W9rab7NEY10T39hEhw/edit#slide=id.g5ae9aabf3f_0_0) seems to have really small information. Is this all that is available?

[2020-11-04 14:49] KarenEfereyan commented on #619
@lee I found that the nsm docs page does exist at this [link](https://meshery.layer5.io/docs/service-meshes/adapters/nsm/nsm)
What do I do about it. The contents of that file are the same as the resources you provided above. What do I do?

[2020-11-04 16:28] leecalcote commented on #1855
@KarenEfereyan good question regarding. http --> https - that behavior is by design and intended. If you try to visit https on those links directly, you'll likely find that they don't work.

[2020-11-05 14:42] hexxdump commented on #1770
@kushthedude @NupurThakur27 can you take a look at the above changes?

[2020-11-05 18:02] kumarabd opened #1860 "Move to `gin` framework from gorilla mix"
Currently the web framework used in meshery project is `gorilla mux`. We will have to move to `gin` framework. More reference - https://github.com/gin-gonic/gin

[2020-11-05 18:41] dhruv0000 commented on #1699
I cant seem to replicate the particular behaviour in my system.
![Grafana Problem](https://user-images.githubusercontent.com/44001539/98282294-0867bf00-1fc4-11eb-9ef5-3a0de8c172a1.gif)

[2020-11-05 18:55] ramrodo commented on #1037
@kushthedude I want to start with the **E2E test** for `/userpreference` also. Could you assign to me that one?

[2020-11-05 20:33] dhruv0000 opened #1861 "[MeshMap] Integrate Engarde with MeshMap logs"
**Current Behavior**
Currently, Mesh Map logs just shows static data.

**Desired Behavior**
Add [Engarde](https://github.com/nitishm/engarde) for better readability of the envoy/istio-proxy access logs for a selected node.
(Assume required data for the envoy discovery for now)

---

[2020-11-06 00:59] kushthedude opened #1865 "Floating Label collapse to textField irrespective of input value"
**Description**

Floating Label collapse to textField irrespective of the input value
**Expected Behavior**

Floating Label should not collapse when input is present
**Screenshots**

<img width="940" alt="Screenshot 2020-11-06 at 6 28 00 AM" src="https://user-images.githubusercontent.com/44091822/98313206-58ad4400-1ff9-11eb-9991-6bf608daee01.png">

[2020-11-06 03:34] leecalcote commented on #1855
@Surajbokde interested in picking this one up?

[2020-11-06 03:49] #1838 closed

[2020-11-06 04:30] chebro commented on #1855
Hi, I would like to contribute!

[2020-11-06 08:00] chebro commented on #1855
I just ran the ui server, and I have a quick question, should the new links be appended below the current "community" link or should they replace it?

<img src="https://user-images.githubusercontent.com/54331348/98340675-be1e2680-2033-11eb-88ea-4cf019807002.png" width="400">

[2020-11-06 08:29] Nikhil-Ladha commented on #1855
Hi @chebro , In the issue description the links are mentioned and 'community' is one of them but with a different link. So, you can remove this community link and add the 'community' option with the link in the issue description. :)

[2020-11-06 11:29] chebro commented on #1855
I've created a PR!

PS: I think I've signed the commit with my GPG key, which uses github's private email. If that is a problem let me know, I'll force push a new commit.

[2020-11-06 11:37] PluckyPrecious commented on #1855
It’s perfectly okay 👌🏽

[2020-11-06 18:42] #1770 closed

[2020-11-06 20:33] kushthedude opened #1872 "Add AKS support in mesheryctl"
**Current Behavior**

Mesheryctl only supports GKE & Minikube

**Desired Behavior**

Add AKS support in mesheryctl

[2020-11-07 00:48] #1872 closed

[2020-11-07 02:30] #1257 closed

[2020-11-07 06:34] chebro commented on #1269
If there's no one working on it I'd like to take a dig at this!

[2020-11-07 06:48] Fahdmoh01 commented on #1269
You can take this issue
On Sat, 24 Oct 2020 at 8:05 PM, Nikhil_Ladha <notifications@github.com>
wrote:

[2020-11-07 07:46] chebro commented on #1269
This is my first time with Jekyll, how do we include the clipboard.js as a script? 😅

[2020-11-07 07:57] Nikhil-Ladha commented on #1269
You can take a look in the meshery, meshery.io repo . We use clipboard js in those sites too.

[2020-11-07 07:58] #1855 closed

[2020-11-07 17:13] akashgp09 opened #1876 "[Docs] Broken Link"
**Current State:**

The **Service Mesh Day** link is broken in README file

<img src="https://i.ibb.co/jD4pD00/Whats-App-Image-2020-11-07-at-22-35-21.jpg"/>

**Desired State:**

Update it to https://servicemeshday.com/schedule.html

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree

[2020-11-08 13:50] Yashs911 commented on #1876
Hi @akashgp09 I would like to work on this issue

[2020-11-08 15:47] #1876 closed

[2020-11-08 16:10] #1856 closed

[2020-11-08 16:13] #1664 closed

[2020-11-08 18:35] leecalcote opened #1879 "[Docs] Use of Scoop as the Windows package manager to install mesheryctl"
**Current State:**
Meshery's documentation for Windows installations does not highlight the [`mesheryctl` Scoop package](https://github.com/layer5io/scoop-bucket) as one that is available.

**Desired State:**
Two pages need updated:

1. the [Using mesheryctl](https://meshery.layer5.io/docs/guides/mesheryctl#windows) guide to suggest using Scoop first, before suggesting that the binary can been dir

[2020-11-08 18:46] leecalcote commented on #1789
Progress! - https://meshery.layer5.io/docs/es.

// @jlcastrogro @edwvilla @rubenlorenzo @chaltenio @jesuslerma @alonsolopezr @Drake8710 @jeojhx @ramrodo

[2020-11-09 03:38] #636 closed

[2020-11-09 04:18] kushthedude opened #1880 "RBAC not present for meshery-account in helm"
**Description**

Meshery deployment using helm always fails due to unavailability of a RBAC for the service-account.
**Expected Behavior**

Create a rbac to be deployed with chart.
**Logs**

[code]

[2020-11-09 06:17] Aisuko commented on #1880
I can not reproduce the issue use the master branch code. We do not need get list node permission in fact.

[2020-11-09 06:48] kushthedude commented on #1880
Use aks or GCP, If you don't get a list node then API/mesh/sync won't work, that is why you
need an RBAC to grant WATCH permissions. Moreover, such permission issues mostly occur on remote clusters, please try AKS to reproduce this or EKS.

On Mon, 9 Nov, 2020, 11:48 Aisuko, <notifications@github.com> wrote:

[2020-11-09 06:49] kushthedude commented on #1880
If you dont get list node then api/mesh/sync won't work, that is why you
need a rbac to grant READ permissions.

On Mon, 9 Nov, 2020, 12:18 Kush Trivedi, <kushthedude@gmail.com> wrote:

[2020-11-09 07:36] Aisuko commented on #1880
I see, is there any other permission we need except the permission of the node. I will try to get an account of AKS and have a try

[2020-11-09 08:11] kushthedude commented on #1880
Sure ,please! If you are unable to get then we can have a meet or so. But
according to me we need a rbac to be deployed to give permission to
meshery-service-account for watch.

On Mon, 9 Nov, 2020, 13:07 Aisuko, <notifications@github.com> wrote:

[2020-11-09 21:58] #180 closed

[2020-11-09 22:24] leecalcote opened #1894 "[mesheryctl] `system config` assumes user's OS is Mac or Linux"
**Description**
`mesheryctl system config aks` configure access to an AKS cluster using the `az` cli. It writes a kubeconfig file to `/tmp`, which is not a filesystem location that is compatible with Windows.
The same is the case with other Kubernetes provider like minikube & GCP, all the scripts should be OS-Aware and should handle the stuff.

**Expected Behavior**
All `mesheryctl` commands shoul

[2020-11-09 22:51] #1880 closed

[2020-11-09 23:11] leecalcote opened #1895 "[UI] Implement service mesh control plane dashboard for Consul, OSM, NSM, Citrix"
**Current Behavior**
Meshery offers control plane dashboards for Istio and Linkerd only.

**Desired Behavior**
A service mesh control plane dashboard should exist for each type of supported service mesh. List of service meshes here - https://github.com/layer5io/meshery/blob/master/helpers/kubernetes_scan.go#L16

[2020-11-10 00:36] leecalcote commented on #770
Closing this as @vijcheru previously knocked it out. 💪

[2020-11-10 00:36] #770 closed

[2020-11-10 00:37] #612 closed

[2020-11-10 00:39] leecalcote commented on #819
@Aisuko or @vijcheru would you like to look into this?

[2020-11-10 00:45] leecalcote opened #1896 "[mesheryctl] `system config aks` kubeconfig generation script does not honor temp location or filename"
**Description**
See func [GenerateConfigAKS()](https://github.com/layer5io/meshery/blob/master/mesheryctl/pkg/utils/scripts.go#L134)

**Expected Behavior**
The value set [here](https://github.com/layer5io/meshery/blob/master/mesheryctl/internal/cli/root/system/config.go#L185) should be used in the func GenerateConfigAKS().

[2020-11-10 00:47] kushthedude commented on #1896
It does honor the same file name and location

[2020-11-10 00:48] kushthedude commented on #1896
Can you retry, it generates the file in same location and list the contexts to choose b/w?

[2020-11-10 00:50] leecalcote commented on #1896
Perhaps, the issue is that this variable is errant and not used?
[code]

[2020-11-10 00:52] kushthedude commented on #1896
This variable is only used while searching for contexts in the config file
created. All the three scripts have dynamic file location naming in the
script itself rather than passing this variable. As script needs to create
directory if not found can be the reason this variable is not passed.

On Tue, 10 Nov, 2020, 06:20 Lee Calcote, <notifications@github.com> wrote:

[2020-11-10 00:53] kushthedude commented on #1896
Oh, sorry for the misunderstanding the variable needs to be changed to honor the latest script.

[2020-11-10 00:55] leecalcote commented on #1896
Couple other considerations:

1) avoid writing file to temp location altogether. manipulate contents in memory and write to Meshery's app folder (~/.meshery) when final product is ready, if you can.
2) consider the OS/arch when both interfacing with the filesystem and when running the bash script.

[2020-11-10 01:59] Aisuko commented on #819
I will take a look and  @vijcheru  you can do this first, I have another chart PR and `godoc` issue of `meshery-common-library` on my schedule.

[2020-11-10 01:59] leecalcote opened #1897 "[UI] Add external link icon to four navigation menu items"
**Current Behavior**
The four hyperlinks to the left of the vertical, red rectangle highlighted in the screenshot all lead to external URLs.

**Desired Behavior**
Each of these should carry an external link icon on their (upper) right hand side.

<img width="74" alt="Screen Shot 2020-11-09 at 7 57 06 PM" src="https://user-images.githubusercontent.com/7570704/98617947-c4c3cc80-22c5-11eb-8c8b-bc6ad0

[2020-11-10 02:04] leecalcote opened #1899 "[CI] Only fire “Mesheryctl Build and Releaser” workflow on release of Meshery"
**Current Behavior**
Two workflows currently fire when a Meshery release is made.

**Desired Behavior**
Only the "Mesheryctl Build and Releaser" workflow should trigger when a versioned (stable) Meshery release is made.

[2020-11-10 02:47] #1899 closed

[2020-11-11 02:19] leecalcote opened #1905 "[CI] Broken link in PR Template"
**Description**
Please see https://github.com/layer5io/layer5/issues/1131#issue-740013639.

**Expected Behavior**
The PR template in this repository needs updated.

[2020-11-11 02:19] leecalcote commented on #1905
@Aniruddha-Shriwant help!

[2020-11-11 04:33] Aniruddha-Shriwant commented on #1905
Will make a PR soon :)

[2020-11-11 07:25] Aniruddha-Shriwant commented on #1905
Done @leecalcote 😉

[2020-11-11 11:01] KarenEfereyan commented on #1897
OKay, so the link image icon should be used to contain the external link and the actual text should not be a link, right?

[2020-11-11 11:06] KarenEfereyan commented on #1897
What file is this in @leecalcote ? I mean the code?

[2020-11-11 11:28] #1905 closed

[2020-11-11 13:17] nikita15p opened #1909 "[UI] Error while starting a mesh on UI does not provide detailed logs"
**Current Behavior**
get `exit status 1` error when deploying a mesh  on  meshery UI at http://localhost:9081/management. Meshery has detected a kind cluster and then I tried to deploy osm , kuma, instio mesh.
Environment: mesheryctl downloaded for windows machine from [here](https://github.com/layer5io/meshery/releases/download/v0.4.19/mesheryctl_0.4.19_Windows_x86_64.zip)

**Desired Behavior**
E

[2020-11-11 13:23] leecalcote commented on #1897
The actual text is and should be a hyperlink. The icon is a user experience improvement to set expectations with the user that when they click, they will navigated to an external site.￼￼

[2020-11-11 13:26] leecalcote commented on #1909
Good highlight, @nikita15p. As a small item, would you mind opening a copy of this issue in the respective adapter repos?

[2020-11-11 17:14] leecalcote opened #1911 "[MeshSync] NSM: Displace hard-coded version # with dynamically retrieved version"
Currently, hard-coded version #.

_Originally posted by @leecalcote in https://github.com/layer5io/meshery/pull/1902#discussion_r521510610_

[2020-11-11 17:19] #1895 closed

[2020-11-11 17:26] leecalcote opened #1912 "[Charts] Consistent hyphenation for helm chart names"
@Aisuko thanks for this. It would be great if we can revisit the other charts and update their names to include consistent hyphenation (e.g. meshery-consul)

_Originally posted by @leecalcote in https://github.com/layer5io/meshery/pull/1900#discussion_r521516040_

[2020-11-11 19:17] leecalcote commented on #973
I think @utkarsh-pro may have made recent improvements in this area.

[2020-11-11 22:15] Sudhish2101 commented on #1897
I have added the external link icons. Comments.

[2020-11-11 22:39] KarenEfereyan commented on #1897
Great. Ill take a look

[2020-11-12 01:24] Aisuko commented on #1912
No problems.

[2020-11-12 02:32] #1803 closed

[2020-11-12 02:33] #1700 closed

[2020-11-12 02:38] leecalcote commented on #1909
@kumarabd is an Istio v1.5.1 issue open on the adapter for Istio?

[2020-11-12 02:58] leecalcote opened #1915 "[UI] Issue with latest mui-datatables"
**Description**
With the latest version of this library, the facet to toggle the display of the sub-table here crashes the performance results page:

![Untitled](https://user-images.githubusercontent.com/7570704/98890202-0a68cc80-2461-11eb-8486-ef21ff670e00.gif)

[2020-11-12 03:02] leecalcote commented on #1915
@ramrodo an example of a dependent library update causing failures - https://github.com/meshery/meshery/pull/1883

[2020-11-12 03:08] leecalcote commented on #1915
Frustrating as this issue only seems to manifest itself when the UI is built into a Docker container.

[2020-11-12 05:08] Aisuko commented on #1912
Bump the charts version and add new charts to the Artifact Hub
https://github.com/meshery/meshery.io/pull/376

[2020-11-12 11:14] chandrashritii opened #1918 "[Docs] update installation guides"
**Current State:**

The installation guides don't mention `mesheryctl` as a prerequisite to installing Meshery on any supported platform.

**Desired State:**

Add a disclaimer  to the installation guides mentioning `mesheryct` as a prerequisite

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io

[2020-11-12 16:19] ramrodo commented on #1915
Ok, I'll take a look at that issue building with Docker

[2020-11-12 17:26] ramrodo opened #1920 "[UI] Issue at running eslint validation on master"
**Description**
There is an issue on `master` that you can not run the UI by executing `make run-ui-dev`:

[code]

The error seems to be with eslint validation. You can see the same error if you run eslint:

[code]

**Expected Behavior**
The UI should run without problems

**Environment:**
- Host OS: linux
- Meshery Version:  master
- Kubernetes Version: N/A
- Browser: N/A

---
[Optional] **To Rep

[2020-11-12 18:00] #1920 closed

[2020-11-13 18:00] ramrodo commented on #1915
Hey @leecalcote, I updated the **mui-datatables** package and I can not reproduce the issue. Maybe it was due to something else. I just created this [PR#1925 ](https://github.com/meshery/meshery/pull/1925) to upgrade it (without having issues)

[2020-11-13 18:53] leecalcote commented on #1915
You're right in that there were 5 or so dependency updates happening at about the same time. My suspicion now lies within the billboard.js package...

[2020-11-13 18:53] #1915 closed

[2020-11-13 19:24] leecalcote opened #1926 "[Docs] Add latest Meshery Release Notes to Docs Releases page"
**Current State:**
The Documentation's [Release page](https://meshery.layer5.io/docs/project/releases) is missing entries for the latest Meshery releases.

**Desired State:**
[Release Notes](https://github.com/layer5io/meshery/releases) can be copied and pasted into the docs.

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation sou

[2020-11-13 19:25] leecalcote commented on #1926
This activity needs a volunteer to automate it - https://github.com/meshery/meshery/issues/510

[2020-11-13 19:32] leecalcote commented on #1270
@kushthedude will you confirm that this complete?

[2020-11-13 19:36] ayushk1804 commented on #1926
Our [GitHub release version](https://github.com/meshery/meshery/releases) is at 0.4.22, while according to the [Meshery website release page](https://meshery.layer5.io/docs/project/releases), it's at 0.4.4. Is that an error, and needs to be fixed along with adding updated release notes?

[2020-11-13 19:51] leecalcote commented on #1926
@ayushk1804, nope. We need to add entries in the docs for all the releases between v0.4.4 and v0.4.22

[2020-11-13 21:11] ezioishan commented on #1926
Hey @leecalcote , I would like to work on this issue.

[2020-11-13 21:13] leecalcote commented on #1926
Thank you, @ezioishan

[2020-11-13 22:16] #1897 closed

[2020-11-14 06:32] kushthedude commented on #1270
We need the mesheryctl command to switch

[2020-11-15 01:53] #694 closed

[2020-11-15 14:43] akshitagupta15june opened #1929 "Request to join the organisation"
**Current Behavior**

**Desired Behavior**

---
[Optional]

### Implementation

### Acceptance Tests

### Mockups

[2020-11-15 14:47] shivaylamba commented on #1929
@akshitagupta15june We request you to make some contributions to the organization and the projects before getting an invitation to the Org. You can join our slack : http://slack.layer5.io/
And look at our welcome guide : https://docs.google.com/document/d/17OPtDE_rdnPQxmk2Kauhm3GwXF1R5dZ3Cj8qZLKdo5E/edit

[2020-11-15 16:07] leecalcote commented on #1929
Hi @akshitagupta15june, I welcome you to join the Meshery Community - http://slack.meshery.io. It's warm and welcoming. Please jump in! Additional information and resources about the community and it's projects available here - https://meshery.io/community

[2020-11-15 19:27] kushthedude commented on #1929
In addition to what @leecalcote, you need to contribute to the community either code-based, documentation based, or whatever is your expertise to get an invitation for the organization.
Hoping to see you hop in our slack 😄 !

[2020-11-15 19:27] #1929 closed

[2020-11-16 19:13] ezioishan commented on #1926
I have added all the necessary release info

[2020-11-16 22:09] leecalcote commented on #1926
Good work here, @ezioishan

[2020-11-16 23:25] leecalcote opened #1944 "Persist the Location of Meshery Deployment Relative to the Kubernetes Cluster under Management"
**Current Behavior**
Meshery is able to be deployed internal to or external to a Kubernetes cluster. Whether it is internally or externally deployed affects the logic of how other components in the Meshery system execute.

**Desired Behavior**
Meshery needs to ascertain whether it is deployed internally or externally relative to the *current* cluster under management.

### Implementation

### Acce

[2020-11-17 01:36] leecalcote commented on #1720
@kushthedude any luck? If not, it's been two weeks. We should disable in the UI.

[2020-11-17 06:37] arpitkarnatak commented on #1712
I can work on this issue

[2020-11-17 17:21] tripathyprateek opened #1947 "[UI] Collapsible Help button on Meshery UI"
**Current Behavior**

**Desired Behavior**

Instead of having 3 buttons for help, all of them would be under a collapsible Help button in the left side nav
---
[Optional]

### Implementation

### Acceptance Tests

### Mockups

[2020-11-17 18:37] #772 closed

[2020-11-17 20:09] leecalcote opened #1948 "[UI] MeshSync v1 error is being pushed in a toaster notification"
**Description**
This error of failing to match a string should not be included in a toaster notification.

<img width="839" alt="Screen Shot 2020-11-17 at 2 07 10 PM" src="https://user-images.githubusercontent.com/7570704/99442127-80948580-28de-11eb-8546-04738ca41a87.png">

[2020-11-17 21:17] leecalcote commented on #1712
Thanks for picking this up, @arpitkarnatak

[2020-11-18 19:17] #1948 closed

[2020-11-18 20:44] kushthedude commented on #1947
Any screenshot of which page this is talking about 😄?

[2020-11-19 03:19] leecalcote opened #1951 "[Docs] `mesheryctl system config eks` documentation published prematurely"
**Current State:**
Currently, `mesheryctl` does not have such a command. Docs for this command were published prematurely and should be removed until this command is released.

**Desired State:**
Manual instructions for any special considerations for an EKS should be shown.

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation sourc

[2020-11-19 04:56] ameyaagashe commented on #1951
Would be a nice feature to have a copy icon to each command for this page:
https://meshery.meshery.io/docs/installation/platforms/eks

Desired Behaviour:
One click on "Copy" icon, would copy the command.

Current Behaviour:
Select the text and then do Ctrl + C to copy the command.

[2020-11-19 04:57] leecalcote commented on #1951
@ameyaagashe agree - https://github.com/meshery/meshery/issues/1269

[2020-11-19 05:00] ameyaagashe commented on #1951
https://meshery.meshery.io/docs/installation/platforms/eks
Step 4. should read as meshery token like below:
kubectl describe secret  meshery-token-5z9xj

[2020-11-19 18:35] tripathyprateek commented on #1947
I had a discussion with @leecalcote over this. A help button on the leftside nav bar on the Meshery UI page below all the adapters needs to be added so that anyone having problems with Meshery can troubleshoot.

[2020-11-19 18:38] leecalcote commented on #1947
Collapsing of these underneath a Help icon
<img width="264" alt="Screen Shot 2020-11-19 at 12 36 20 PM" src="https://user-images.githubusercontent.com/7570704/99708763-dba3b500-2a63-11eb-8d93-710afe6588fd.png">

[2020-11-19 18:39] leecalcote commented on #1947
@tripathyprateek it would be good to propose a design here (a simple / quick mockup)

[2020-11-19 18:52] tripathyprateek commented on #1947
yes Lee. A arrow opposing the collapse arrow was what I had in my mind which expands to show all the links upon hovering.

[2020-11-19 19:28] leecalcote commented on #1947
Let's stick with the Material UI elements for now. If you would, have a look at the button and effect used in the lower, righthand corner - https://imgur.com/D9DSyuk. We won't want the same ripple effects, nor necessarily floating effect of the main button itself, but having the four help links (with just icons) expand out to the right (if a Help icon button is in the lower, lefthand corner) might

[2020-11-19 19:35] kushthedude opened #1953 "[Docs] Side contents menu doesn't display sub-headings on the page"
**Current State:**
Side contents menu doesn't display sub-headings on the page

<img width="1204" alt="Screenshot 2020-11-20 at 1 04 23 AM" src="https://user-images.githubusercontent.com/44091822/99715042-5ef8f100-2acc-11eb-8a70-cb7627deb0a7.png">

**Desired State:**

Sub-headings in the given page should be listed on the side-menu for better UX and better navigation through the page.
<img width="

[2020-11-19 19:59] tripathyprateek commented on #1947
Yes @leecalcote I will be using the Material UI elements and won't add the ripple effects.

[2020-11-20 03:37] #1912 closed

[2020-11-20 03:51] leecalcote opened #1954 "[CI] Notify Slack on Star of GitHub Repo workflow broken"
**Description**
When a GH user stars one of the `layer5io` repos, a notification will be sent to the #buzz channel in the community Slack. The [slack.yaml workflow](https://github.com/layer5io/meshery/blob/master/.github/workflows/slack.yml) is currently broken.

**Logs**
See the logs from [this workflow run](https://github.com/layer5io/meshery/actions/runs/372398164):

[code]

[2020-11-20 12:10] #1784 closed

[2020-11-20 12:27] jiraguha opened #1956 "brew installation does not work"
**Description**

`brew install layer5io/mesheryctl` does not work for me. Nothing specific happens. I see no mesheryctl binary in `brew list`
**Expected Behavior**

expect `mesheryctl version` to work!
**Screenshots**

**Environment:**
- Host OS: Mac OS X 10.15.7 x86_64
- Meshery Version: N/A
- Brew: Homebrew 2.5.11
---
[Optional] **To Reproduce**
Steps to reproduce the behavior:
1. use `brew inst

[2020-11-20 13:09] leecalcote commented on #1956
@jiraguha thank you for raising this issue. Will you paste the output of the `brew install meshery/mesheryctl` command here? // @kushthedude

[2020-11-20 13:13] leecalcote opened #1957 "[mesheryctl] `mesheryctl system config aks` does not support Windows"
**Description**
`mesheryctl system config aks` assumes that *nix is the OS that the user is running this command on.

**Expected Behavior**
This command needs made to be Windows-friendly. Windows doesn't have a $HOME environment variable.

**Logs**
[code]

**Reported by**
- @hippoz, @nikita15p

[2020-11-20 13:16] kushthedude commented on #1956
Are you sure you tapped the meshery/tap before installing?

[2020-11-20 13:16] kushthedude commented on #1957
Duplicate of #1894

[2020-11-20 13:16] #1957 closed

[2020-11-20 13:18] leecalcote commented on #1957
@kushthedude will you either reopen this issue and convert one of the two of the issues to cover `gcp` and `minikube` or will you update #1894 to cover all three of them?

[2020-11-20 13:18] vineethvanga18 commented on #1954
@leecalcote The `set-env`  is deprecated now

[2020-11-20 13:19] leecalcote commented on #1957
Also, include @hippoz and @nikita15p handles one whichever remains open, so that they may be informed of progress and test when the issue has been fixed.

[2020-11-20 13:21] kushthedude commented on #1957
Sure updating #1894

[2020-11-20 13:23] kushthedude commented on #1894
/cc @hippoz @nikita15p

[2020-11-20 13:31] jiraguha commented on #1956
Ho, sorry, I had more logs shown the first time I tried. Now I have only:
[code]

not sure it help!

[2020-11-20 13:35] kushthedude commented on #1956
@jiraguha

[2020-11-20 13:38] leecalcote commented on #1956
@kushthedude Meshery's instructions do not include the `tap` command explicitly, but are trying to be as concise as possible and use `meshery` in the `install` command to assist with the potentially missing tap.

[2020-11-20 13:38] jiraguha commented on #1956
@kushthedude. I have just tapped and nothing! In my previous attempt I did... but If tap was needed I would assume to have a specific error showing that I need to tap?

[2020-11-20 13:39] leecalcote commented on #1956
@jiraguha if you run `brew tap meshery/homebrew-tap`, then install, does this help?

[2020-11-20 13:42] jiraguha commented on #1956
No :-/

I moved to the bash installation which works :-)

[2020-11-20 13:43] kushthedude commented on #1956
@jiraguha Please do
[code]

[2020-11-20 13:47] jiraguha commented on #1956
Great this works! Even if I have conflic with my bash installation which was waited. Thanks.

Maybe the doc should include tap process.

[2020-11-20 13:48] kushthedude commented on #1956
Thanks for confirming @jiraguha , I guess we need some docs update.
/cc @leecalcote @chandrashritii

[2020-11-20 14:02] leecalcote commented on #1956
Thank you, gents! Yes, indeed. @chandrashritii, will you kindly have issues opened for meshery.io, docs.meshery.io and meshery.io/meshery to include the tap command?

[2020-11-20 21:08] #1954 closed

[2020-11-21 10:06] kushthedude opened #1960 "Docker builds and pushes are failing for all release channels"

[2020-11-22 15:49] sharmaaditya570191 commented on #1146
Hi @leecalcote . I have built meshery on my system. Is this still an issue?
Here is a screenshot when zoomed to 150%. It is working fine on my system.
![image](https://user-images.githubusercontent.com/42587159/99908349-30675a00-2d08-11eb-9f42-92012e983ced.png)

[2020-11-22 15:59] leecalcote commented on #1146
@sharmaaditya570191 thank you. This issue seems to only be affecting Safari.

[2020-11-22 18:42] #1960 closed

[2020-11-22 20:48] #1612 closed

[2020-11-23 03:52] leecalcote opened #1967 "[CI] Security error with go.sum"
**Description**
Meshery server builds are broken. The following error is displayed:

[code]

[2020-11-23 17:37] #1967 closed

[2020-11-23 18:22] kushthedude opened #1980 "Performance results details throw up undefined error"
**Description**

Performance results details throw up undefined error
**Expected Behavior**

Performance details should load up

[Optional] **Additional Context**

In containerised environment

[2020-11-24 17:24] kushthedude opened #1984 "Use docker buildkit for docker builds"
I disabled docker buildkit to have successful docker builds but looks buildkit poor logging was the issue which was not letting the bug being pointed out. Now since we purge docker cache let's use buildkit again.

[2020-11-24 18:02] #1980 closed

[2020-11-24 19:07] #1984 closed

[2020-11-25 01:16] #1589 closed

[2020-11-25 06:52] #1584 closed

[2020-11-25 14:59] leecalcote opened #1986 "[CI] Allow users to switch release channels with mesheryctl"
**Current Behavior**
Users must manually switch between release channels.

**Desired Behavior**
Create a convenient sub-command, `mesheryctl system channel [stable|edge]`

[2020-11-26 15:44] #1190 closed

[2020-11-28 14:13] leecalcote opened #1991 "[Docs] CONTRIBUTING.md - update to Golang 1.15"
**Current State:**
The CONTRIBUTING.md [file points to](https://github.com/layer5io/meshery/blob/master/CONTRIBUTING.md#prerequisites-for-building-meshery-in-your-development-environment) go 1.13. Meshery project is moving to 1.15.

**Desired State:**
The contributing docs should reflect 1.15's use.

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [M

[2020-11-28 14:54] #449 closed

[2020-11-29 09:04] #1651 closed

[2020-11-29 13:24] leecalcote opened #1992 "[UX] Non-human readable error message: kubeconfig read failure"
**Description**
This error message (in the screenshot below) is shown to users in a toaster notification. This message is shown when the user is initializing Meshery.

**Expected Behavior**
Notifications shown to users should be human-readable. The contents of this notification need to be replaced or this notification not given to the user.

**Screenshots**
![image (2)](https://user-images.githubu

[2020-11-29 14:56] uds5501 opened #1993 "[mesheryctl] `system config` throws no such file or directory error"
**Description**

I am trying to run meshery with minikube following the startup guide. According to the instructions, I downloaded the `auth.json` file and ran `mesheryctl system config minikube -t ~/Desktop/auth.json` which throws the following error stack:

[code]

**Expected Behavior**

Expected it to work without any errors

**Screenshots**

![Screenshot from 2020-11-29 20-21-42](https://user-

[2020-11-29 15:17] kushthedude commented on #1993
Already fixed, release is to be made hence the error

[2020-11-29 15:17] #1993 closed

[2020-11-29 17:08] leecalcote opened #1994 "[mesheryctl] Duplicate listing of meshery config file location in global flag help"
**Description**
The help text under the Global Flag section of `mesheryctl` lists the location of the Meshery configuration file twice:

[code]

**Expected Behavior**
This file location should only be shown to the user once in this output.

- Meshery Version: v0.4.24

[2020-11-29 18:25] #1650 closed

[2020-11-29 21:03] utkarsh-pro commented on #1992
@leecalcote I think this particular notification is generated only upon user interaction (it's a feedback notification), so should we remove it? In case of modifying the error notification, should "Kubernetes config could not be validated" part be changed or the message after it?

[2020-11-29 22:15] kushthedude commented on #1994
There are two files indeed, meshery config used as the dockerCompose file and mesheryCtl config which has hard-coded configs for CLI tool.

[2020-11-30 15:07] #1956 closed

[2020-11-30 16:21] homero304 commented on #510
i'm terribly sorry, i won't be able to solve this issue at the moment. Please feel free to take this issue. @jesuslerma

[2020-11-30 18:19] #1269 closed

[2020-11-30 18:39] chebro opened #2007 "[Docs] Copy-to-clipboard copies $ along with the code snippet"
**Current State:**
The [clipboardjs](https://clipboardjs.com) feature incorporated doesn't work as expected, it copies the whole code segment including the `$`. This defeats the purpose of issue #1269, who's goal was to aid the user in not copying the `$` by accident.

**Desired State:**
Improve the reader experience for Meshery CLI commands, by only copying the code snippet, excluding the `$`.

-

[2020-11-30 21:54] dhruv0000 opened #2008 "[UI] Collapsed NavBar not showing External Links properly"
**Description**

![image](https://user-images.githubusercontent.com/44001539/100670133-75346600-3384-11eb-921a-096e41eaaf57.png)

**Expected Behavior**

**Screenshots**

**Environment:**
- Browser: Chrome

---
[Optional] **To Reproduce**
Steps to reproduce the behavior:
1. Go to meshery
2. Click on collapse navigation
4. See error

[Optional] **Additional Context**

[2020-12-01 05:36] ameyaagashe commented on #1951
Any update on this ticket?

[2020-12-01 07:11] dependabot-preview[bot] opened #2009 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/layer5io/update-logs/57221881).

[2020-12-01 07:23] uds5501 opened #2010 "[mesheryctl] unable to ping kubernetes error"
**Description**

I am unable to ping Kubernetes even when uploading system configs.
Configs tried :
- kind
- minikube

**Expected Behavior**

It should give "pinged successfully"

**Screenshots**

![image](https://user-images.githubusercontent.com/21087061/100709402-0d0d7080-33d4-11eb-91c7-4437f4509013.png)

**Environment:**
- Host OS:  Ubuntu 20.04
- Meshery Version:
Client Version: 0.4.24 	  Git

[2020-12-01 07:26] uds5501 commented on #1994
@kushthedude I'd like to take this one!

[2020-12-01 08:40] uds5501 commented on #2008
@dhruv0000 not reproducible in my local system
![image](https://user-images.githubusercontent.com/21087061/100716607-eef93d80-33de-11eb-856e-fe914f8b96da.png)

[2020-12-01 10:55] kushthedude commented on #2008
Try wide screen @uds5501

[2020-12-01 10:58] kushthedude opened #2012 "Deploy ClusterAdmin CRB with helm charts"
**Description**

None of the service account of Meshery helm chart has appropriate permissions, seems like chart is just a demo to play with meshery where meshery can't interact with your cluster.
**Expected Behavior**

- Deploy expected RBACs so that user may be able to use meshery as is.
- Provide rbac option in values which should default to true but can be set to false if wanted by some users

[2020-12-01 15:28] leecalcote commented on #2007
Great point, @chebro.

[2020-12-01 16:32] #1660 closed

[2020-12-01 19:08] leecalcote commented on #1738
Ready to close this PR or is there outstanding work needed here?

[2020-12-01 19:20] leecalcote opened #2015 "[UI] MeshSync: Include list of existing namespaces in /management namespace text field"
**Current Behavior**
The individual service mesh management pages have a namespace field with "default" prepopulated.

**Desired Behavior**
The namespace field should not only show "default" as an option, but should also include the list of namespaces that are currently present in the user's Kubernetes environment. Pre-populating this text field will be a UX improvement and it will also help with

[2020-12-01 20:41] Keenal commented on #2015
I would like to take up this issue.

[2020-12-01 21:02] leecalcote commented on #2015
Very good!

[2020-12-02 00:57] jesuslerma commented on #510
@homero304  no worries. I will continue to work on this. Thank you!

[2020-12-02 03:02] leecalcote opened #2016 "[Docs] /docs/guides API GW redirect dysfunctional"
From the /docs page, visit the /docs/guides section.

<img width="975" alt="Screen Shot 2020-12-01 at 9 01 00 PM" src="https://user-images.githubusercontent.com/7570704/100822698-744d1400-3418-11eb-8a2a-2b052a434c34.png">

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/do

[2020-12-02 03:05] leecalcote commented on #2007
@chebro would you like to work on this or is @chandrashritii?

[2020-12-02 03:06] #1926 closed

[2020-12-02 03:08] leecalcote commented on #1911
@utkarsh-pro will you raise on issue on the [networkservicemesh repo](https://github.com/networkservicemesh/networkservicemesh/issues) to track a request for the project to identity the appropriate method of identifying version #?

[2020-12-02 03:09] leecalcote commented on #1860
Is this still desirable or should it be closed?

[2020-12-02 03:10] leecalcote commented on #1738
Please propose a design, if work remains.

[2020-12-02 03:10] leecalcote commented on #1953
@chandrashritii do you have progress to report here?

[2020-12-02 03:49] leecalcote commented on #510
Or perhaps _start_ to work on this. 😀

[2020-12-02 04:06] chebro commented on #2007
I can take a stab at this :)

[2020-12-02 12:24] chandrashritii commented on #1738
@leecalcote The page was already updated but can be improved upon. I'll send through a design asap

[2020-12-02 12:25] #1738 closed

[2020-12-02 12:30] uds5501 commented on #1754
@leecalcote This issue seems interesting, once the meshery is setup in my local system and I am able to play around with the code, i would love to work on this issue.

[2020-12-02 16:47] Shulammite-Aso opened #2019 "[Docs] quick-start link redirects to a 404 page"
**Current State:**
![Peek 2020-12-02 17-32](https://user-images.githubusercontent.com/48386390/100902920-4241bd80-34bd-11eb-9345-1dc0f2271cae.gif)

**Desired State:**
Should redirect to a getting started list of documentations, like the **concepts** link.

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.c

[2020-12-02 18:45] uds5501 commented on #2008
@kushthedude looks like it's more of a zoom in and zoom out issue

[2020-12-02 19:18] leecalcote commented on #2010
@uds5501 have a peak at this diagram - https://docs.google.com/drawings/d/1t40B6sn7RVH3z0ZVOvFD4wxv8YXemyq5JlHugy9_x7A/edit?usp=sharing

[2020-12-02 19:22] leecalcote commented on #2010
Also, give this a shot: `docker network connect bridge meshery_meshery_1`

[2020-12-02 19:33] leecalcote opened #2020 "[Docs] Broken image links in docs: Octarine diagrams missing"
**Current State:**
This page has broken links to diagrams -
https://meshery.layer5.io/docs/service-meshes/adapters/octarine#architecture

The images can be found in the `/docs` folder in this repo.

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)
- [Instructions for

[2020-12-03 05:47] leecalcote commented on #1037
Great progress on this, @ramrodo. Are you still good with this single, epic issue or will the addition of smaller, child issues help?

[2020-12-03 06:04] leecalcote opened #2022 "[CI] Do not run golangci-lint, docker build and other related workflows on PRs with the `docs` label."
See https://github.com/layer5io/meshery/pull/1904 as an example.

[2020-12-03 06:18] leecalcote commented on #1953
@chandrashritii each of the pages that you're updating need to include an h1, h2, h3, and so on in sequence otherwise the TOC won't generate and show.

[2020-12-03 06:31] ramrodo commented on #1037
I think we can split and detail the results and performance tests in order to cover all the cases. The others don't seem so complicated.

[2020-12-03 06:40] Keenal opened #2024 "[UI] Kubernetes config error on service management page"
**Description**

When I try to access any one of the service mesh management page, I come across this error: "Unable to fetch prometheus and grafana scan data: No valid kubernetes config found." It redirects me to [http://localhost:3000/settings#service-mesh](http://localhost:3000/settings#service-mesh) page

**Expected Behavior**

Instead, upon selecting a service mesh management page, I should b

[2020-12-03 06:41] leecalcote commented on #2024
@anirudhjain75, we need to improve the user experience here. Will you take a crack at this? No toaster notification should be shown, however, we might consider another helpful indicator.

[2020-12-03 06:42] anirudhjain75 commented on #2024
How about just having this toaster when grafana and Prometheus configuration tab is opened ?

[2020-12-03 06:49] leecalcote commented on #2019
Yikes! Thank you for raising this issue, @Shulammite-Aso. Will you please run a quick retest and confirm if you're still seeing this issue?

[2020-12-03 06:52] leecalcote opened #2025 "[Docs] Invalid markdown in heading on lifecycle management page"
**Current State:**
This page (https://meshery.layer5.io/docs/functionality/lifecycle-management) has the following issue:
<img width="913" alt="Screen Shot 2020-12-03 at 12 48 45 AM" src="https://user-images.githubusercontent.com/7570704/100974348-bc943100-3501-11eb-930d-d0a5c66dd13b.png">

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery doc

[2020-12-03 06:52] leecalcote commented on #2019
@Shulammite-Aso would you like to make an attempt to fix this, if you're still experiencing it?

[2020-12-03 06:53] leecalcote commented on #2025
@Shulammite-Aso, a small item you might consider tackling...

[2020-12-03 07:00] Shulammite-Aso commented on #2019
Oh! I think it works fine now:
![Screenshot from 2020-12-03 07-55-49](https://user-images.githubusercontent.com/48386390/100975020-3e518200-3535-11eb-86cf-bc4e0553c1b3.png)

[2020-12-03 07:02] Shulammite-Aso commented on #2025
Thanks @leecalcote i'll be happy to work on this

[2020-12-03 07:10] leecalcote opened #2026 "[Docs] Show/hide button UX issues"
**Current State:**
A show/hide button is being used in some of the Meshery docs. It has two usability issues:

1. It is not obvious that users can click on the show/hide buttons like [this one for WSL](https://meshery.layer5.io/docs/installation/platforms/windows#choosing-your-wsl-version).
2. The button acts differently depending upon whether the user fully depresses the button or not.

![Dec-03-

[2020-12-03 07:11] leecalcote commented on #2025
Oh, very good! 😄

[2020-12-03 07:12] leecalcote commented on #2026
@Shulammite-Aso here's a freshly created issue with a little more bite to it in case you'd like to give it a go.

[2020-12-03 07:13] Shulammite-Aso commented on #2025
**Deploying a service mesh** should be a subheading under **Service Mesh Lifecycle Management** i suppose?

[2020-12-03 07:13] leecalcote commented on #2019
Ok, whew! I noticed this issue recently and tried to be quick to get it addressed.

Thanks for pointing it out.

[2020-12-03 07:13] #2019 closed

[2020-12-03 07:14] leecalcote commented on #2025
Right, yes, @Shulammite-Aso. A `##`, so to speak.

[2020-12-03 07:26] leecalcote opened #2028 "[CI] Welcome bot not firing. PR Labeler issue?"
@kushthedude is the PR labeler getting in the way of the Welcome bot again?

_Originally posted by @leecalcote in https://github.com/layer5io/meshery/issues/2027#issuecomment-737718609_

[2020-12-03 07:30] leecalcote commented on #2010
@uds5501 you and I have a date on tomorrow's Newcomers call. Let's get you over this hump.

(yes, I said a "date" 😉 )

[2020-12-03 07:33] Keenal opened #2029 "[Docs] broken link for meshery documentation"
**Current State:**
The link that points to Meshery Documentation in the readme file (under 'Run Meshery' section) is broken.
Broken link: https://meshery.layer5.io/docs/docs/installation/quick-start
Readme file: https://github.com/layer5io/meshery/blob/master/README.md

**Desired State:**
Redirecting the documentation to the correct link.

---
**Contributor Resources**
- [Meshery documentation sit

[2020-12-03 07:35] leecalcote commented on #2024
Good suggestion. We're abusing the toaster notifications overall and need to pull away from them in general. To close out this issue, the toaster notification can be muted (not sent). The user will see that no prometheus and Grafana instances have been discovered when they come upon an empty text field on the Metrics tab.

Meshery's integration with either Prom or Graf doesn't strictly need Kubern

[2020-12-03 07:48] leecalcote opened #2031 "[CI] Enable Jekyll / Netlify preview deployments for issues with the `area/docs` label"
@kushthedude will you address this as part of the investigation in the the PR labeler bot?

[2020-12-03 07:50] Nikhil-Ladha commented on #2031
You mean deployment preview, for PRs with updates to the docs site, right?

[2020-12-03 08:42] #2029 closed

[2020-12-03 09:11] uds5501 commented on #2008
@kushthedude I'd like to pick this one up, will it be fine to resize the navbar to accomodate the external links or should the external links be resized to fit into current navbar size (if it's possible)

[2020-12-03 10:13] PluckyPrecious commented on #619
Hey @KarenEfereyan apologies for the delay in response, do you mind taking another go at  the issue? Here’s the correct  [nsm doc](https://meshery.layer5.io/docs/service-meshes/adapters/nsm) which is same as the one Lee wrote.

[2020-12-03 10:17] PluckyPrecious commented on #638
Hi @Documentus sure there’s more than enough space👏🏽, I hope it’s not too late?  I welcome you to join the Meshery community here - http://slack.meshery.io to collaborate with other contributors.

[2020-12-03 10:24] PluckyPrecious commented on #1344
Hey @chandrashritii is there something that still need to be done on this issue?

[2020-12-03 10:27] PluckyPrecious commented on #1712
Hey @arpitkarnatak how is this coming up?

[2020-12-03 11:03] kushthedude commented on #2031
Redirection issue is still present which won't let give accurate deploys

[2020-12-03 11:06] kushthedude commented on #2009
fixed

[2020-12-03 11:06] #2009 closed

[2020-12-03 11:07] kushthedude commented on #2008
@dhruv0000 @leecalcote what do you suggest over here? Both would work for me.

[2020-12-03 15:23] dhruv0000 commented on #2008
If you can make the external link icon smaller and align it on the top right, it would be great (if possible). If not, resizing the navbar to accommodate the external links looks good.

[2020-12-03 15:24] anirudhjain75 opened #2033 "[mesheryctl] Mismatch or Invalid version displayed on mesheryctl version"
**Description**

Mismatch versions when running 'mesheryctl version'

**Expected Behavior**

mesheryctl returns the correct version

---
**To Reproduce**
Steps to reproduce the behavior:
1. run 'mesheryctl version'
2. See error

**Additional Context**

The issue arises because the config once created is not updated and returns version from the config. This is caused as version of meshery taken fro

[2020-12-03 18:07] uds5501 commented on #2008
@dhruv0000 got it, will give it a try and will ping here for any queries.

[2020-12-03 19:06] #2020 closed

[2020-12-03 19:20] #1197 closed

[2020-12-04 17:54] leecalcote commented on #510
How's this weekend looking? ;)

[2020-12-04 18:28] #1788 closed

[2020-12-05 03:44] leecalcote commented on #1701
@alonsolopezr, I think this page is done, right? https://docs.meshery.io/es

[2020-12-05 03:45] leecalcote commented on #1701
Yes, I see it now.  Looks great.

[2020-12-05 03:45] #1701 closed

[2020-12-05 08:18] #2008 closed

[2020-12-05 11:05] Shulammite-Aso commented on #2026
Can work on this @leecalcote.  Could you share link to a page where i can see that button?

[2020-12-05 14:10] Nikhil-Ladha commented on #2026
The link is mentioned in the issue description itself.
https://meshery.layer5.io/docs/installation/platforms/windows#choosing-your-wsl-version

[2020-12-05 14:21] Shulammite-Aso commented on #2026
Oh! thanks @Nikhil-Ladha. Not sure how i missed that earlier🤦‍♀️

[2020-12-05 17:20] uds5501 commented on #1644
Picking this one up.

[2020-12-05 20:15] leecalcote opened #2040 "[CI] Notify Slack on star of repo workflow broken"
**Description**
The slack.yml workflow (https://github.com/layer5io/meshery/blob/master/.github/workflows/slack.yml) is broken. This workflow is invoked whenever a GitHub user stars the layer5io/meshery repo. We have this same workflow included in all of the layer5io repos.

**Expected Behavior**
The community slack's #buzz channel should receive notification when this repo is starred.

**Screensh

[2020-12-05 20:30] leecalcote opened #2041 "[Docs] Add Meshery v0.4.23 Release Notes to Docs Releases page"
**Current State:**
The Documentation's [Release page](https://meshery.layer5.io/docs/project/releases) is missing an entry for the Meshery v0.4.23 release.

**Desired State:**
[Meshery v0.4.23 Release Notes](https://github.com/layer5io/meshery/releases/tag/v0.4.23) can be copied and pasted into the [release doc file](https://github.com/layer5io/meshery/blob/master/docs/pages/getting-started/projec

[2020-12-05 20:31] leecalcote opened #2042 "[Docs] Add Meshery v0.4.23 Release Notes to Docs Releases page"
**Current State:**
The Documentation's [Release page](https://meshery.layer5.io/docs/project/releases) is missing an entry for the Meshery v0.4.24 release.

**Desired State:**
[Meshery v0.4.24 Release Notes](https://github.com/layer5io/meshery/releases/tag/v0.4.24) can be copied and pasted into the [release doc file](https://github.com/layer5io/meshery/blob/master/docs/pages/getting-started/projec

[2020-12-05 20:33] leecalcote commented on #2040
@vishal267 or @SudhanAruna, you might be interested in picking this one up.

[2020-12-05 20:34] leecalcote opened #2043 "[Docs] Add Meshery v0.4.25 Release Notes to Docs Releases page"
**Current State:**
The Documentation's [Release page](https://meshery.layer5.io/docs/project/releases) is missing an entry for the Meshery v0.4.25 release.

**Desired State:**
[Meshery v0.4.25 Release Notes](https://github.com/layer5io/meshery/releases/tag/v0.4.25) can be copied and pasted into the [release doc file](https://github.com/layer5io/meshery/blob/master/docs/pages/getting-started/projec

[2020-12-05 23:16] #2007 closed

[2020-12-06 03:13] #2025 closed

[2020-12-06 04:26] leecalcote opened #2044 "[Docs] Components and their languages"
**Current State:**
The [Meshery Architecture page](http://docs.meshery.io/concepts/architecture) has a list of components.

<img width="699" alt="Screen Shot 2020-12-05 at 10 24 07 PM" src="https://user-images.githubusercontent.com/7570704/101271489-c22f8800-3748-11eb-9adb-7f7a9fbace77.png">

**Desired State:**
These components should be list in an html table to improve readability.

---
**Contrib

[2020-12-06 04:27] #1953 closed

[2020-12-06 05:57] leecalcote opened #2047 "[NATS] Continual IDE error"
**Description**
The following notification is visible in VS Code:

**Screenshots**
<img width="543" alt="Screen Shot 2020-12-05 at 11 56 12 PM" src="https://user-images.githubusercontent.com/7570704/101272846-a1b9fa80-3755-11eb-954e-baf3634950cd.png">

[2020-12-06 06:20] sumit-kushwah commented on #2044
Ok, @leecalcote  I am working on it.

[2020-12-06 06:33] leecalcote commented on #2040
Another recent example - https://github.com/meshery/meshery/actions/runs/403584179

[2020-12-06 14:03] #2044 closed

[2020-12-06 14:04] leecalcote commented on #2044
Nice work, @sumit-kushwah

[2020-12-06 17:55] SudhanAruna commented on #2040
@leecalcote  Sorry for this. Issue is because of the missing indentation in line 10 ( slack.yml file).
I'll fix it ASAP.

[2020-12-06 17:55] leecalcote commented on #2040
Oh, that would be great. Thank you, @SudhanAruna

[2020-12-07 02:18] #392 closed

[2020-12-07 02:20] leecalcote commented on #647
These issues have been addressed in MeshKit.

[2020-12-07 02:21] #647 closed

[2020-12-07 02:22] leecalcote commented on #849
Another step taken here.

[code]

This has been added to ci.yml and build and release.yml

[2020-12-07 02:23] leecalcote commented on #973
@dhruv0000 how does this line up with your recent efforts?

[2020-12-07 02:24] leecalcote commented on #896
@kushthedude can we push this item forward this week?

[2020-12-07 02:26] leecalcote commented on #1590
@utkarsh-pro you're at-bat!

[2020-12-07 02:26] leecalcote commented on #1947
@tripathyprateek any luck?

[2020-12-07 02:28] leecalcote commented on #1661
Issue completed.

[2020-12-07 02:28] #1661 closed

[2020-12-07 02:30] leecalcote commented on #1692
@dhruv0000 did you previously address this?

[2020-12-07 02:33] leecalcote commented on #2031
Gents, the docs site is no longer served at https://meshery.meshery.io/docs, but is now served at https://docs.meshery.io. We should be free of the redirect issue now.

[2020-12-07 03:03] kushthedude commented on #2031
done

[2020-12-07 03:04] leecalcote commented on #2031
Wonderful. 😄 Thank you, @kushthedude

[2020-12-07 03:04] #2031 closed

[2020-12-07 03:05] leecalcote commented on #2031
Looking good, @kushthedude. Thank you for this test - https://github.com/meshery/meshery/pull/2050

[2020-12-07 11:42] tripathyprateek commented on #1947
@leecalcote yes I got  it working when the nav bar is expanded but its not working when its smaller. Havent worked on it lately due to exams.

[2020-12-08 03:57] leecalcote commented on #2016
Fixed. Docs are now published at https://docs.meshery.io. // @chandrashritii

[2020-12-08 03:57] #2016 closed

[2020-12-09 02:57] #2041 closed

[2020-12-09 03:13] #2042 closed

[2020-12-09 03:13] #2043 closed

[2020-12-09 15:11] ameyaagashe opened #2067 "Docs: http://docs.meshery.io/docs/installation/platforms/minikube"
**Current State:**
HTTP 404, page not found.
**Desired State:**
Valid documentation for minikube
---
**Contributor Resources**
- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)
- [Instructions for contributing to documentation](https://github.com/layer5io/meshery/blob/master/CONTRIBUTING.md#documentation-

[2020-12-09 16:45] MaximeCoignus commented on #2015
Hi @leecalcote,

Can I also work on this issue?

[2020-12-10 01:47] leecalcote commented on #2015
Nice to hear of your collaboration here, @Keenal and @MaximeCoignus

[2020-12-10 03:50] #1991 closed

[2020-12-10 03:51] #1129 closed

[2020-12-10 08:58] #1644 closed

[2020-12-10 14:43] leecalcote commented on #1658
This is a desirable feature.

[2020-12-10 14:47] #1986 closed

[2020-12-10 15:20] dhruv0000 commented on #1692
Had a look a while back, couldn't figure it out that time. Taking a look again with a clean slate, I think I found the bug. A PR is incoming shortly.

[2020-12-11 03:10] leecalcote commented on #1692
Fantastic.

[2020-12-11 03:12] #1692 closed

[2020-12-11 03:21] leecalcote commented on #2067
@ameyaagashe where are you finding the invalid link?

[2020-12-12 00:21] leecalcote commented on #1751
@MaximeCoignus interested in taking this on?

[2020-12-12 00:23] #1994 closed

[2020-12-12 00:24] leecalcote commented on #2040
Thanks for this fix, @SudhanAruna. 👍

[2020-12-12 00:24] #2040 closed

[2020-12-12 10:54] kalradev commented on #2047
I checked in my vscode and I am not receiving any such notifications

[2020-12-12 18:29] kushthedude commented on #1766
@uds5501 The following is a quick change, you may want to incorporate. Right now we are passing server release as a docker environment variable here https://github.com/meshery/meshery/blob/ab1567e3ae4836d8b4aaf3f5140895699fb52f95/.github/workflows/build-and-release.yml#L65
But this is the case only with stable releases. So what needs to be done over here is whenever a edge version is built and pus

[2020-12-12 18:31] uds5501 commented on #1766
@kushthedude consider it done

[2020-12-13 15:06] #1682 closed

[2020-12-13 21:31] chandrashritii commented on #2067
You have an extra (/docs) in the link there. The page is available at http://docs.meshery.io/installation/platforms/minikube @ameyaagashe

[2020-12-15 03:15] Aisuko commented on #1782
We can close this issue because of the referenced issues above.

[2020-12-15 03:15] #1782 closed

[2020-12-15 10:15] leecalcote commented on #248
@utkarsh-pro, up to the challenge? This service mesh is now called Traefik Maesh

[2020-12-15 10:50] #2022 closed

[2020-12-15 11:43] utkarsh-pro commented on #248
@leecalcote YES! :rocket:

[2020-12-15 17:39] #1637 closed

[2020-12-15 17:39] #1720 closed

[2020-12-15 17:40] #1766 closed

[2020-12-16 00:03] kushthedude commented on #1706
Fixed by https://github.com/meshery/meshery/pull/1858

[2020-12-16 00:03] #1706 closed

[2020-12-16 02:00] leecalcote opened #2098 "[mesheryctl] Correct `channel` command misspelling"
**Description**
[code]

"setted" is misspelled.

**Expected Behavior**
Change phrase to:

[code]

[2020-12-16 02:00] leecalcote commented on #2098
@JubayerJoy would you like to address this?

[2020-12-16 02:34] leecalcote opened #2099 "[mesheryctl] revert interactive y/n `mesheryctl version` question"
**Description**
[code]

**Expected Behavior**
The interactive y / n question is unexpected and not a universal user experience (not consistent with how users are prompted with y/n in other commands). User prompts should be consistent in style. Please update `mesheryctl version` to prompt with:

[code]

[2020-12-16 02:35] leecalcote commented on #2099
@uds5501 are you interested in taking this one?

[2020-12-16 02:37] leecalcote opened #2100 "[mesheryctl] `version` fails to update when Docker is not running"
**Description**
[code]

**Expected Behavior**
`mesheryctl version` should invoke the same logic that `system update` does. When Docker is not running, the user should be prompted with:

[code]

[2020-12-16 03:55] uds5501 commented on #2099
@leecalcote I will take this one, should be a small change.

[2020-12-16 10:04] JubayerJoy commented on #2098
@leecalcote, I'd love to, yes.
Thanks.

[2020-12-16 11:36] anirudhjain75 commented on #1716
This is already done, Ain't it @leecalcote . Fixed this before

[2020-12-16 18:50] leecalcote commented on #2099
Thank you, @uds5501 👍

[2020-12-16 19:47] #2098 closed

[2020-12-17 02:15] #1730 closed

[2020-12-17 02:53] leecalcote opened #2105 "[mesheryctl] Add Meshery adapters to `system context`"
### Current Behavior
Users desire to only deploy specific Meshery adapters based on their service mesh needs.

### Desired Behavior

The Meshery configuration file (`config`) describes `contexts` which define Meshery deployments: server location, adapters, release channel subscription, user tokens and so on.

While the deployment artifacts (Docker compose file, Kubernetes manifests, helm charts an

[2020-12-17 04:05] leecalcote opened #2107 "[Docs] Meshery Error Code Reference"
**Current State:**
Meshery documentation does not have a reference for users to lookup specific error codes the stumble upon while using Meshery. The adapter v2 architecture includes a reorganized set of error codes, classified by relevant functional area. Each error code is to carry the following helpful information:

- Code
- Severity
- Short Description
- Long Description
- Probable Cause
- Sug

[2020-12-17 04:40] leecalcote commented on #1270
3 checkboxes down! Very nice.

[2020-12-17 07:18] #1734 closed

[2020-12-17 08:53] leecalcote opened #2110 "[Docs] `mesheryctl system channel`"
**Current State:**
A new `mesheryctl system channel` command has been delivered.

**Desired State:**
The [mesheryctl Command Reference](http://docs.meshery.io/reference/mesheryctl) should include this command and its usage.

---
**Contributor Resources**
- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)
-

[2020-12-17 14:14] #2026 closed

[2020-12-17 14:32] leecalcote commented on #2105
@sladyn98 interested?

[2020-12-18 14:53] kumarabd opened #2112 "[Docs] Document `system context`"
**Current State:**
[context](https://docs.google.com/document/d/1xRlFpElRmybJ3WacgPKXgCSiQ2poJl3iCCV1dAalf0k/edit#heading=h.fpuuy11gk85g) support is a new capability to be released under v0.5.0 and will be included in the [Meshery v0.5.0 Release Announcement](https://docs.google.com/document/d/1f7mGHtjHiywbN9UzwuldOX8x_Lpv2Ss8i4b045Np9OM/edit#)

**Desired State:**
Documentation of this feature and

[2020-12-18 21:41] leecalcote opened #2113 "[UI] Add Meshery icon as the favicon in UI and Provider UI"
**Current Behavior**
Meshery doesn't have a favicon defined for it's UIs.

**Desired Behavior**
A favicon should be defined and Meshery logo included in both the "provider UI" and "UI".

[2020-12-20 16:32] #248 closed

[2020-12-20 16:53] rajdas98 opened #2115 "Helm install through github pages instead of cloning git repo."
**Current Behavior**

Currently, meshery is installing by the following steps which requires cloning of git repo.
[code]
**Desired Behavior**

Instead of cloning, it can be hosted using Github pages and following will be the commands
[code]
---
[Optional]

### Implementation

### Acceptance Tests

### Mockups

[2020-12-20 16:54] rajdas98 commented on #2115
Happy to take this issue, if possible

[2020-12-20 16:55] rajdas98 commented on #2115
cc: @leecalcote

[2020-12-21 11:36] DeveloperAspire commented on #2015
Is this Issue from Meshery Websites or the Documentation?

[2020-12-21 11:46] DeveloperAspire commented on #869
Has this issue been resolved??

[2020-12-21 16:09] leecalcote opened #2122 "[Docs] Update Meshery README - Traefik Mesh"
**Current State:**
In the [README](https://github.com/layer5io/meshery/blob/master/README.md) should reflect this., the Meshery Adapter for Maesh entry needs updated.

**Desired State:**
1. The Meshery Adapter for Maesh has been renamed to "Meshery Adapter for Traefik Mesh".
2. The Meshery Adapter for Traefik Mesh is now in **beta**.

---
**Contributor Resources**
- [Meshery documentation site](ht

[2020-12-21 16:10] leecalcote commented on #2122
@notsureifkevin, good news! The Meshery Adapter for Traefik Mesh is now in beta. Would you like to pick up this issue?

[2020-12-21 16:15] leecalcote opened #2123 "[Docs] Maesh has been renamed to Traefik Mesh"
**Current State:**
The Maesh project underwent a name change and is now referred to as "Traefik Mesh".

**Desired State:**
The Meshery documentation needs updated to reflect this project name change - http://docs.meshery.io/concepts/architecture/adapters

The GitHub repository for Meshery Adapter for Traefik Mesh has also recently been updated. All links to https://github.com/layer5io/meshery-maes

[2020-12-21 17:04] notsureifkevin commented on #2122
@leecalcote sure, it's a slow week being the holidays and all, you can assign this to me.

[2020-12-21 17:54] Keenal commented on #2015
It's a Meshery UI issue. Not related to Documentation.

[2020-12-21 19:32] leecalcote opened #2125 "[mesheryctl] Modify `system reset` behavior to account for contexts"
**Current Behavior**
`system context` is a new construct in `mesheryctl` (see the Meshery CLI & Documentation design spec).

**Desired Behavior**
`system reset` needs to stop resetting the `meshery.yaml` file and start resetting a given context to the same defaults provided in `config` when a new context is created.

[2020-12-21 19:35] chandrashritii commented on #2122
That's great! @notsureifkevin Take it away :) Do let me know if you have any questions

[2020-12-21 20:38] #510 closed

[2020-12-21 20:58] leecalcote opened #2126 "[Docs] Ordering of release versions on Releases page"
@SudhanAruna, well done! One small item to deal with here: the descending order of releases by version number is being itemized slightly out of order with the string “v0.4.9” coming before “v0.4.25", because the “9” is greater than “2", as opposed to “25” being greater than “9".

_Originally posted by @leecalcote in https://github.com/layer5io/meshery/issues/2039#issuecomment-749192526_

[2020-12-21 21:05] leecalcote commented on #2126
@SudhanAruna this one has your name on it. :)

[2020-12-21 21:13] #2067 closed

[2020-12-21 21:16] #2099 closed

[2020-12-21 21:21] leecalcote opened #2127 "[CI] Release Drafter workflow failing: automated release notes documentation"
**Description**
Related to the automated documentation of release notes, the Release Drafter workflow is failing. See https://github.com/layer5io/meshery/runs/1591253489?check_suite_focus=true#step:4:51 for details.

[2020-12-22 03:27] SudhanAruna commented on #2126
@leecalcote looking into it

[2020-12-22 03:56] leecalcote commented on #2127
@SudhanAruna

[2020-12-22 14:02] leecalcote opened #2128 "[mesheryctl] `system channel` return current release channel subscription"
**Current Behavior**
When a user executes `mesheryctl system channel`, they do not receive confirmation of which release channel they are subscribed.

example running v0.4.27:
[code]

**Desired Behavior**
`mesheryctl system channel` should confirm the user's current release channel subscription based on `current-context` from the `~/.meshery/config.yaml` file.

Output should read:

[code]

[2020-12-22 14:09] leecalcote commented on #2122
Much appreciated, @notsureifkevin 👍

[2020-12-22 14:52] pjzzz commented on #2123
I would like to work on this.

[2020-12-22 14:56] pjzzz commented on #2123
Just to confirm, I will need to change everywhere the old URL is present to the new URL and "Maesh" to "Traefik Mesh" almost everywhere be it filename, etc.

[2020-12-22 16:59] leecalcote commented on #2123
@pjzzz yes, that same is true with in the confines of `/docs`

[2020-12-22 18:16] #2123 closed

[2020-12-22 18:20] #2127 closed

[2020-12-22 23:11] leecalcote opened #2134 "[kubeconfig] Unaccessible certs in the config file"
**Description**
Meshery uses the user's kubeconfig file to connect to Kubernetes. Meshery parses contexts from the user's config file. Meshery expects to have the user's client certificate included in the config file. When a given "user" inside of the kubeconfig file has a file path instead of a certificate, Meshery should ignore this user and its associated context.

**Expected Behavior**
https:/

[2020-12-23 01:12] Aisuko commented on #1253
Close the issue due to we already have been added the Helm chart for Consul.

[2020-12-23 01:12] #1253 closed

[2020-12-23 01:15] Aisuko commented on #1272
We Can close this issue first and if the same type of issue appears again, we can reopen or create a new one.

[2020-12-23 01:15] #1272 closed

[2020-12-23 03:01] leecalcote commented on #1879
@tripathyprateek any luck here?

[2020-12-23 03:01] leecalcote commented on #1909
Fixed

[2020-12-23 03:02] #1909 closed

[2020-12-23 08:32] chandrashritii commented on #1918
This has been resolved. Closing issue.

[2020-12-23 08:32] #1918 closed

[2020-12-23 11:17] leecalcote commented on #1789
@jesuslerma @chandrashritii ETA?

[2020-12-23 15:50] chandrashritii opened #2137 "[Feature] VM environment for Meshery"
**Desired Behavior**

Add a VM environment to Meshery - [vagrant-k8s-lab](https://github.com/mkycia/vagrant-k8s-lab/tree/main/ansible/roles/manage-k8s-lab)
This should land up in [meshery/install](https://github.com/layer5io/meshery/tree/master/install)

---
**Contributor Resources**
- [Instructions for contributing to documentation](https://github.com/layer5io/meshery/blob/master/CONTRIBUTING.md#

[2020-12-23 15:54] chandrashritii commented on #2137
Tracking the lab integration with this issue @mkycia

[2020-12-23 16:00] tripathyprateek commented on #1879
Yes @leecalcote I tried it on my local machine and it works. I will make required changes in the Docs and update accordingly. Sorry I was blocked with other works for a while.

[2020-12-23 17:18] SudhanAruna opened #2138 "[CI] Improve the release-drafter workflow to use release event"
**Current Behavior**
The release-drafter workflow is triggered based on push event but creating release note file and other related jobs should triggered after a release (current logic is based on using push event).

**Desired Behavior**
Using release event to trigger following jobs.
- Writing release note file.
- Creating pull request.
- Verify PR

[2020-12-23 19:02] SudhanAruna commented on #2126
Shall I add the date as front matter when release note file created in the CI then we can print release as we expect in release page.
Is there any other approach to sorting the release collections?

[2020-12-23 20:57] leecalcote commented on #2126
@SudhanAruna that sounds reasonable to me. Having the date as a front matter variable should allow you to manipulate it and `sort` using Jekyll / Liquid / Ruby.

[2020-12-23 21:56] ramrodo commented on #1037
@kushthedude could you assign to me `e2e tests /settings`, please? I want to start working on that.

[2020-12-24 00:38] Maxgit3 commented on #2128
Is this something I can look into?

[2020-12-24 02:13] leecalcote commented on #2128
@Maxgit3 sounds good. This issue is dependent upon #2104 being merged, which should happen shortly. See @anirudhjain75 with any questions. 👍

[2020-12-24 03:37] #1776 closed

[2020-12-24 11:07] jomefavourite commented on #2113
Hi, I'll like to take up this issue but could the issue be vivid

[2020-12-24 11:07] jomefavourite commented on #2113
Please the links to where I'm to add the favicons

[2020-12-24 17:27] leecalcote opened #2141 "[Provider]: Externalize support for multiple remote providers"
**Current Behavior**
Meshery server has hardcoded support for multiple remote providers. This support needs to be externalized.

Today:

`- "SAAS_BASE_URL=https://meshery.layer5.io"`

**Desired Behavior**
Add support for multiple remote providers.

Tomorrow:

`- "PROVIDER_BASE_URLS="https://meshery.layer5.io https://another.provider.com"`

[2020-12-24 20:48] #2126 closed

[2020-12-24 23:03] #2134 closed

[2020-12-25 11:37] Shulammite-Aso commented on #1751
@leecalcote is there still need to work on this?

I see the _community_ link on meshery UI opens up Meshery's slack. This is the link you're referring to right? and not the one on the website [meshery.io](https://meshery.io/)?

[2020-12-29 05:23] leecalcote opened #2147 "[Extensibility] Move from "SaaS" to "Provider""
Let's switch from "SaaS" to "Provider".

_Originally posted by @leecalcote in https://github.com/layer5io/meshery/pull/2145#discussion_r549476993_

[2020-12-29 05:25] leecalcote opened #2148 "[Extensibility] Set Local Provider package to same version as Meshery Server"
Ideally, this is always the same as the Meshery Server version and is taken from the buildtime ldflags.

A future enhancement.

_Originally posted by @leecalcote in https://github.com/layer5io/meshery/pull/2145#discussion_r549477286_

[2020-12-29 05:26] leecalcote commented on #2147
Related to #2141

[2020-12-29 06:59] leecalcote commented on #2047
I think we're past this issue now. Thank you, gents.

[2020-12-29 06:59] #2047 closed

[2020-12-29 07:08] leecalcote commented on #1751
@Shulammite-Aso, yes, there's still effort needed here (no effort has been given as of yet other than describing the request).

We're looking for the "Community" link to be updated or a new "Updates" link to be added to read from an RSS feed (or endpoint that returns a simple json doc or markdown doc) that contains latest community updates (e.g. announcement of a new release, an upcoming webinar,

[2020-12-29 07:09] leecalcote commented on #1865
@kushthedude would you like to tackle this one?

[2020-12-29 15:17] SudhanAruna commented on #2125
@leecalcote can I work on this issue?
Should I start working on this issue after `system context` command implementation is merged?

[2020-12-29 19:21] #2122 closed

[2020-12-29 20:44] leecalcote commented on #1590
This system has been implemented and is being documented for release in v0.5.0 - https://docs.google.com/document/d/1E7NWFy5ZVEPX2W892mfVG-3yku1uci2KRDU42tNRZwA/edit#

[2020-12-29 22:09] leecalcote opened #2154 "[Docs] GrraphQL server port"
**Current State:**
The [Network Ports section](https://docs.meshery.io/concepts/architecture#network-ports) of the Meshery docs does not list the port used for the GraphQL server.

**Desired State:**
This table should list the network port and protocol.

Support for streaming should be considered as well.

---
**Contributor Resources**
- [Meshery documentation site](https://docs.meshery.io/)
- [Me

[2020-12-29 22:36] yolossn commented on #1146
I am able to reproduce this using Safari. The same issue is affecting the icons in the navigation bar also (Refer screenshot).
The icons in the Navigation bar use font-awesome and I found a similar [issue](https://github.com/FortAwesome/Font-Awesome/issues/13032). Looks like Safari doesn't scale SVG based on zoom

![image](https://user-images.githubusercontent.com/22731013/103317848-7d022b80-4a52-

[2020-12-30 02:21] leecalcote commented on #2141
Changing to `PROVIDER_BASE_URLS`.

[2020-12-30 04:23] leecalcote commented on #1146
Thank you for having a look into this @yolossn. 👍 FYI - an attempt to work-around - https://github.com/meshery/meshery/pull/1914

@pranshukharkwal FYI (see linked issue).

[2020-12-30 15:59] ramrodo opened #2157 "[CI] CI tests are broken on master"
**Description**
CI tests against master are broken:

- golangci-lint:
https://github.com/layer5io/meshery/runs/1626761249?check_suite_focus=true
[code]

- UI end-to-end tests
https://github.com/layer5io/meshery/runs/1626774159?check_suite_focus=true
[code]

**Expected Behavior**
CI Tests against master should always pass

**To Reproduce**
Steps to reproduce the behavior:
1. Create a PR against mas

[2020-12-30 16:11] tripathyprateek opened #2158 "[Platform] Meshery support for Podman"
#### Current Behavior
Meshery deploys as a set of containers. Deployment manifests/packages/tooling has been provided for Docker and Kubernetes-based platforms - https://docs.meshery.io/installation/platforms

RedHat based Linux distribution have shifted to using Podman instead of Docker. Running Meshery on one of these distros means installing Docker.

#### Desired Behavior

Make it more convenie

[2020-12-30 16:30] ramrodo commented on #2157
@utkarsh-pro could you check these issues, please? I'm not too familiar with React Remote Components. Also, check the golangci-lint errros.

[2020-12-30 17:28] utkarsh-pro commented on #2157
@ramrodo golangci-lint errors have already been addressed and will be fixed soon. The other error is not actually related to remote components, it is a node_modules cache issue. I'll try to invalidate that cache somehow.

[2020-12-30 20:31] #1699 closed

[2020-12-30 20:47] leecalcote commented on #2157
Gents, @kushthedude offered the following counsel:

Reference: https://meshery.slack.com/archives/C011VPREG2Z/p1609274372165300?thread_ts=1609269676.165100&cid=C011VPREG2Z

[2020-12-30 21:09] #2141 closed

[2020-12-30 21:09] #2147 closed

[2020-12-30 21:31] #1861 closed

[2020-12-31 03:15] #2148 closed

[2020-12-31 09:02] yolossn opened #2159 "Use SASS instead of css in js"
**Current Behavior**

Right now we are using css in js (using styled-components). This works fine but writing css or sass in their respective files have some advantages.

**Desired Behavior**

Use SASS modules as it provides the following advantages:

1. It generates a javascript object which can be imported and passed into react components via props
2. It is namespaced to the files in which they

[2020-12-31 17:13] anirudhjain75 opened #2160 "[mesheryctl] Split current context functionality"
**Current Behavior**

Single source of execution in root.go and create.go in context commands.

Ref #2104

**Desired Behavior**

Split functionality into two functions,
1. for creating the config file
2. Adding in template context into the context file

[2020-12-31 17:17] anirudhjain75 opened #2161 "[mesheryctl] context nil map exception when config file is created and there are no contexts"
**Current Behavior**

Removing all the context using context and then adding one returns a nil map exception

Ref #2104

**Desired Behavior**

Create the context and not return nil map exception

[2020-12-31 17:19] anirudhjain75 opened #2162 "[mesheryctl] Unable to create context without creating local with it when user doesn't have config file"
**Issue**: _`context create <name>` not allowed without creating `local`, too.
**Scenario**: _Config file not present. User attempts to create a named context._
**Status**: ✖️ `create` forces user to create `local` in addition to their named context.

**Case 1:**
[code]

**Case 2:**
[code]

_Originally posted by @leecalcote in https://github.com/layer5io/meshery/issues/2104#issuecomment-751966036_

[2020-12-31 20:07] leecalcote opened #2164 "[mesheryctl] View current-context support for `system channel`"
#### Current Behavior
Contexts are a new feature in `mesheryctl`. Support for  contexts needs to be added to all `mesheryctl system` commands. See [Meshery CLI Commands](https://docs.google.com/document/d/1xRlFpElRmybJ3WacgPKXgCSiQ2poJl3iCCV1dAalf0k/edit#) for more "context" (yes, that was a pun).

#### Desired Behavior
`mesheryctl system channel` should return the user’s current subscription: “ed

[2021-01-01 05:57] eastfisher opened #2165 "mesheryctl system start error without SAAS_BASE_URL"
**Description**

When I exec `mesheryctl system start`, the `meshery_meshery_1` status is Exit 1, and the dashboard cannot open.

Adding `SAAS_BASE_URL=https://meshery.layer5.io` to meshery.yaml and the restart can solve this problem.

**Expected Behavior**

successfully open http://localhost:9081

**Screenshots**

**Environment:**
- Host OS: macOS v11.1
- Meshery Version: v0.4.27
- Kubernetes Ver

[2021-01-01 17:04] leecalcote commented on #2165
Thank you for filing this issue, @eastfisher!

[2021-01-01 18:28] dependabot-preview[bot] opened #2191 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/layer5io/update-logs/61688943).

[2021-01-01 18:45] EmmanuelTheCoder commented on #2159
I think CSS-in-JS is actually okay here and there's no point changing it since it doesn't in anyway affect application. Moreover, Styled-Components also offer all the advantages of SASS you listed.

[2021-01-01 19:59] #1254 closed

[2021-01-01 19:59] #1306 closed

[2021-01-01 19:59] #1330 closed

[2021-01-01 19:59] #1442 closed

[2021-01-01 19:59] #1444 closed

[2021-01-01 19:59] #1445 closed

[2021-01-01 19:59] #1527 closed

[2021-01-01 19:59] #1530 closed

[2021-01-01 19:59] #1569 closed

[2021-01-01 19:59] #1579 closed

[2021-01-01 19:59] #1588 closed

[2021-01-01 19:59] #1896 closed

[2021-01-01 21:24] #2165 closed

[2021-01-01 22:29] leecalcote opened #2194 "[UI] "stable-" hardcoded into Release dashboard panel"
**Description**
When users are subscribed to the "edge" channel, "stable-" is errantly inserted.

**Expected Behavior**
"stable-" should not be hardcoded.

**Screenshots**
<img width="1123" alt="Screen Shot 2021-01-01 at 4 17 03 PM" src="https://user-images.githubusercontent.com/7570704/103447270-7dffac80-4c4e-11eb-8348-1d787f947619.png">

**Environment:**
- Meshery Version: v0.4.27

[2021-01-01 22:38] leecalcote opened #2195 "[UI] Report "Channel Subscription" in Release dashboard panel"
#### Current Behavior
Meshery shows users details of the Meshery release channel and version they are running. The disabled radio button group for release channels implies that users will be able to switch channel subscriptions.

#### Desired Behavior
Users should be shown the name of their current channel subscription, not offered to switch channels.

#### Implementation
1. Remove radio button fo

[2021-01-01 22:44] leecalcote opened #2196 "[Lifecycle] Display adapter version numbers in Meshery UI"
#### Current Behavior
Meshery adapters have different version numbers. Users are not given a mechanism to investigate what version of each adapter that they are running.

#### Desired Behavior
Users should see the version of each Meshery adapters that they are running.

#### Implementation

#### Acceptance Tests
1. User can see Meshery adapter version in adapter chip (see screenshot).
2. User can

[2021-01-02 01:31] #2100 closed

[2021-01-02 04:12] leecalcote commented on #2165
Hi @eastfisher, thanks again for raising this issue. Very helpful. Hopefully, you find that this fixes the issue.

You might not be familiar with `mesheryctl system reset`, which will help in situations like this in the future. 👍

[2021-01-02 14:31] lolyparty commented on #2113
Hey, @leecalcote I'll like to work on this, but I might need help as I don't think I've worked on the frontend of meshery before.

[2021-01-02 17:15] leecalcote commented on #2191
Ugh. What a blocker. I haven’t looked into the missing dependency issue with gonum, yet. Have either of you, @ramrodo, @kushthedude?

[2021-01-02 17:25] ramrodo commented on #2191
Not yet. But let me take a look right now.

[2021-01-02 17:43] ramrodo commented on #2191
@leecalcote I'm not too familiar with **dependabot** but, can we re-kick those jobs? I tried to validate it but I think I have no access:

![image](https://user-images.githubusercontent.com/2797052/103463127-b5726580-4cef-11eb-92ba-5807d26d82f0.png)

[2021-01-03 08:57] #2191 closed

[2021-01-03 16:17] SudhanAruna commented on #2164
@leecalcote Sorry I couldn't work on this. I'll complete it and update you ASAP.

[2021-01-03 16:34] Shulammite-Aso commented on #1751
This makes sense @leecalcote. would like to work on this.  However the endpoint at meshery.io is not ready yet, will i need to create this endpoint myself too?

[2021-01-04 07:42] kumarabd opened #2201 "[Docs] Add component version grouping and upgrade concerns to "Upgrading Meshery""
**Current State of the Meshery Docs**

The [Upgrading Meshery](url) section of the Meshery documentation can be enhanced with further information.

**Desired State of the Meshery Docs**

Add the following details to the "Upgrading Meshery" section:

<img width="756" alt="Screenshot 2021-01-04 at 1 09 19 PM" src="https://user-images.githubusercontent.com/10404724/103512268-6f073d00-4e8e-11eb-9e89-d

[2021-01-04 22:28] pulberg opened #2202 "[Docs] Instructions for air-gapped k8s installation (could also include other install methods)"
**Current State:**
No docs

**Desired State:**
Complete docs

I am in an environment with no internet connectivity, so I need instructions on which images need to be pulled locally then pushed to my private reg/repos.  I then need instructions on what needs to be updated in the `install/kubernetes/helm/meshery/values.yaml` file to support an air-gapped k8s install from the helm chart.

---
**Contr

[2021-01-04 22:36] leecalcote commented on #2202
@pulberg thank you for raising this up. Let's get you up and running... untethered.

**Top of mind caveats:**
1. _Meshery Adapters_: When configured to do so, Meshery adapters can cache a copy of the installation files for a given service mesh. One of the ramifications of this is that currently, Meshery adapters do not ship with embedded copies of the service mesh install files and so this will be

[2021-01-04 22:37] leecalcote commented on #2202
The [Meshery Architecture](https://docs.google.com/presentation/d/1SQMfyu5shjpGKlYONdVzOtd7UYTgLWBcgUvHMLCZ2tY/edit#slide=id.g845a92c6ce_0_520) deck should serve to give a quick sense of Meshery's components and their interactions.

[2021-01-05 15:42] anirudhjain75 opened #2207 "[mesheryctl] config: “platform” awareness for system commands for Docker"
### Current Behavior:
A context unaware static config file (meshery.yaml) which is used for deploying meshery in docker.  Meshery will support three types of platforms: docker, kubernetes, podman.

### Desired Behavior:
All system commands should be cognizant of the specific platform used by each context and interface with that platform accordingly.

### Future:
Meshery may differentiate between d

[2021-01-05 18:40] anirudhjain75 opened #2208 "[mesheryctl] Context: Allow deployment of specified version of meshery using mesheryctlcontext"

[2021-01-05 20:03] leecalcote commented on #2208
This issue depends on https://github.com/meshery/meshery/issues/2164

[2021-01-06 13:44] alphaX86 opened #2213 "[Docs] Screenshots need to be re-aligned on main README"
**Current State:**
The screenshots are bit off-aligned with the titles while the user is browsing in GitHub

**Desired State:**
The paragraphs, pictures must be aligned correctly in the main README page

---
**Contributor Resources**
- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)
- [Instructions for co

[2021-01-06 13:51] alphaX86 commented on #2213
I spotted on the Functionalities section, where the title and picture are off-bit aligned.
![image](https://user-images.githubusercontent.com/59508546/103775680-6ceedb00-5054-11eb-9ae3-cae403bc4f28.png)

[2021-01-06 13:52] alphaX86 commented on #2213
What do you think of this? Does it need to be kept constant or leave as it is?

[2021-01-06 14:30] kumarabd opened #2214 "Operator view in the configuration and main page"
#### Desired Behavior
A new section needed to be created for the operator flow. Below are the screenshots for the design.

#### Mockups
![System Dashboard](https://user-images.githubusercontent.com/10404724/103779502-df15ee80-5059-11eb-91c7-63370dc058c5.png)
![Settings](https://user-images.githubusercontent.com/10404724/103779511-e0dfb200-5059-11eb-8390-2531c900c92b.png)

[2021-01-06 16:05] #1944 closed

[2021-01-06 17:52] #2194 closed

[2021-01-06 17:52] #2195 closed

[2021-01-06 19:26] leecalcote commented on #2213
@alphaX86, yes, if you'd like to square off these features sections, I think that would be an improvement.

[2021-01-06 19:32] ramrodo commented on #2157
closed by #2155 and #2192

[2021-01-06 19:32] #2157 closed

[2021-01-06 19:51] leecalcote opened #2217 "[CI] GoReleaser failing: unknown attribute "releasechannel""
#### Description
The goreleaser steps in Meshery CI workflow are failing with the following error log:

[code]

#### Expected Behavior
goreleaser should produce multi-arch binaries of `mesheryctl` and multiple packages for different package managers.

[2021-01-06 20:02] ramrodo opened #2219 "[CI] Netlify workflows fail if docs were not updated"
#### Description
Netlify workflows fail if docs were not updated

#### Expected Behavior
Even if docs were not updated, the tests should not fail. It is confusing.

#### Screenshots/Logs
![image](https://user-images.githubusercontent.com/2797052/103814714-c856a400-5027-11eb-8d67-327a3d4447e6.png)

#### Environment:
- Host OS: linux
- Meshery Version: master
- Kubernetes Version:
- Browser:

<!-- O

[2021-01-06 21:01] #2219 closed

[2021-01-07 00:36] hwpplayer1 opened #2222 "Docs:"
**Current State:**
https://docs.meshery.io/guides/mesheryctl-commands seems that it exists and shows a general command line interface documentation but it returns 404 error
**Desired State:**
It should be a documentation for
[code]
---
**Contributor Resources**
- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/

[2021-01-07 01:28] #2217 closed

[2021-01-07 01:38] leecalcote commented on #2222
Thank you for this, @hwpplayer1. Here's the intended link - https://docs.meshery.io/reference/mesheryctl (if you didn't already find it).

[2021-01-07 01:45] hwpplayer1 commented on #2222
@leecalcote It seems that is explains the necessary details about commands. If it is acceptable by you and by the "community" so then I will work on it for training purposes. And I will try to write articles, presentations(in any file format) Thanks and to be honest I could not be able to find it before you wrote.

[2021-01-07 01:50] leecalcote commented on #2222
@hwpplayer1, yes, that sounds great. Here's another helpful reference - [Meshery CLI Commands](https://docs.google.com/document/d/1xRlFpElRmybJ3WacgPKXgCSiQ2poJl3iCCV1dAalf0k/edit#). @anirudhjain75 is a good individual to engage for clarification of behavior and design. This doc is available in the Meshery Community drive.

[2021-01-07 01:52] leecalcote commented on #2222
@hwpplayer1, as you go along here, we have a practice of elevate works by community members with https://meshery.io/blog as a platform to do so.

[2021-01-07 01:55] hwpplayer1 commented on #2222
@leecalcote That is better and better for collaboration across the Internet I mean the collaborative editing and writing a manual and a blog. I will find a quick solution a topic as fast i can do Thanks

[2021-01-07 01:58] hwpplayer1 commented on #2222
https://meshery.io/blog/getting-started-with-mesheryctl If it is acceptable I will translate this documentation to Turkish @leecalcote

[2021-01-07 02:15] leecalcote commented on #2222
@hwpplayer1 that would nice, yes, please.

[2021-01-07 03:07] hwpplayer1 commented on #2222
I don't know if it is right place but I guess it will be a hackish solution to paste here the output and then maybe we can fix more quickly

# mesheryctl komut satırı aracına başlamak isteyenlere

**no easier way to get started with a service mesh**

# MESHERY'e Başlamak İsteyenlere

Meshery'den haberi olmayanlar için Meshery, kullanıcılara servis ağı operasyonel en iyi uygulamaları, yaşam döngüsü

[2021-01-07 03:18] hwpplayer1 commented on #2222
@kushthedude @leecalcote Thanks Could you please check it whether it has syntax issues or not ?

[2021-01-07 03:44] leecalcote commented on #2222
@hwpplayer1 if you have an appetite for it, you may want to work on a Turkish translation of the Meshery Docs in the same fashion is being done for Spanish (see https://docs.meshery.io/es) by @alonsolopezr @jesuslerma @rubenlorenzo @homero304 @jlcastrogro @drake8710

[2021-01-07 03:46] hwpplayer1 commented on #2222
Yes @leecalcote I am keen to become a `technical writer` to welcome #newcomers all around world. But I need more 24 hours. Thanks.

[2021-01-07 04:09] alphaX86 commented on #2213
Great, I'll ping you once it's done!

[2021-01-07 06:45] kumarabd opened #2224 "[mesheryctl] config: “platform” awareness for system commands for Kubernetes"
### Current Behavior:
A context unaware static config file (meshery.yaml) which is used for deploying meshery in kubernetes.  Meshery will support three types of platforms: docker, kubernetes, podman.

### Desired Behavior:
All system commands should be cognizant of the specific platform used by each context and interface with that platform accordingly.

### Future:
Meshery may differentiate betwe

[2021-01-07 06:46] kumarabd opened #2225 "Issue: [mesheryctl] Add “channel” and “version” attributes to config for Docker"
### Implementation:
- Write to meshery.yaml

### Acceptance Tests:
1. Meshery config will have:

[code]
with version being optional and -latest being implied if version isn't supplied in that, afterall, users will have subscribed to a release channel.

1. Allow users to deal (start, stop, reset, log) with multiple platforms. Few examples
[code]

2. The meshery.yaml is modified and maintained by vi

[2021-01-07 06:50] kumarabd opened #2226 "Issue: [mesheryctl] channel: support `context` and config.yaml"
### Implementation:
- Write to config.yaml

#### mesheryctl system channel edge [--version v0.4.27] [--context test]

### Acceptance Tests:
1. Meshery config will have:

[code]
with version being optional and -latest being implied if version isn't supplied in that, afterall, users will have subscribed to a release channel.

1. Allow users to deal (start, stop, reset, log) with multiple platforms.

[2021-01-07 07:30] hwpplayer1 commented on #1445
https://en.wikipedia.org/wiki/OpenShift We can start here for other Operating Systems to welcome their needs. And also here for technical details so Wikipedians can take a source our repository as an independent source as their understanding

[2021-01-07 11:03] alphaX86 commented on #2213
@leecalcote the PR is ready for review!

[2021-01-07 17:21] leecalcote commented on #2202
// @mkycia

[2021-01-07 23:32] #2213 closed

[2021-01-07 23:39] leecalcote opened #2231 "[MeshSync] runtime error: index out of range [0] with length 0"
#### Description
Meshery crashing and reporting error in MeshSync

#### Screenshots/Logs
[code]

[2021-01-08 01:34] vijcheru commented on #869
Lee, I will look into this and get back to you right away. I will give you
feedback as soon as possible.

On Mon, Dec 21, 2020, 05:46 Franklin Okolie <notifications@github.com>
wrote:

[2021-01-08 01:35] leecalcote commented on #869
@vijcheru thank you, thank you.

[2021-01-08 23:19] leecalcote commented on #896
@utkarsh-pro and @NJnisarg, here you are.

[2021-01-09 05:34] #2113 closed

[2021-01-09 05:40] #2164 closed

[2021-01-09 05:41] leecalcote commented on #2231
Edge release in a degraded state.

[2021-01-09 06:20] alphaX86 opened #2234 "[Docs] Auto detect instruction isn't given for Minikube platform"
**Current State:**
[Old] Docs mentioned that Meshery requires Docker, WSL2 and K3d cluster to start and run the app.
[New] A pre tag is missing at last point of minikube section

**Desired State:**
Add the pre tag at last point

---
**Contributor Resources**
- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/doc

[2021-01-09 13:26] neotamias commented on #1304
does anyone want to help with this? it should be easy enough to add versioning with branches and such, see my comment on the issue there

[2021-01-09 13:57] chandrashritii commented on #2234
Hey @alphaX86 I'm answering this is parts :

1. Do correct me if I'm wrong here but the K3d cluster is listed as an example (to be used for this particular guide only). However, we can definitely improve the language to visibly mark it as an example and not a requirement.

2.

 To operate correctly on Windows, Kubernetes has to run inside a Linux virtual machine. We went with WSL because it is one

[2021-01-09 14:15] alphaX86 commented on #2234
@chandrashritii I agree with 2 and 3. But the first point is only the doubt I have. Anyways thanks for clarify. But after reading various topics, I spotted a doc error at minikube section. I'll share the screenshot at the moment....

[2021-01-09 14:17] alphaX86 commented on #2234
![Screenshot_2021-01-09-19-45-50-662_com android chrome](https://user-images.githubusercontent.com/59508546/104093881-76c24980-52b3-11eb-8c28-5fc06050e2f9.jpg)

At last part, there is no command for auto detect

[2021-01-09 14:39] chandrashritii commented on #1304
Yes, your help would be very welcome here @neotamias I read your comment on the original docsy-jekyll repo as well. That sounds like a good way to do this. Let's get you started right away :) Please do let me know if you need any resources or help.
Also, most of our conversations happen on slack. You're very welcome to join in - [Layer5 Slack](https://join.slack.com/t/layer5io/shared_invite/zt-kq4

[2021-01-09 15:05] chandrashritii commented on #2234
Missing tag @alphaX86 :) Thank you for pointing it out.

[2021-01-09 15:48] alphaX86 commented on #2234
Sure!

[2021-01-09 15:50] hwpplayer1 commented on #2234
Can we connect this issue with VS Code Atom GNU Emacs for a development environment maybe a "Milestone" is fine

[2021-01-09 17:16] #2162 closed

[2021-01-09 17:16] #2160 closed

[2021-01-09 17:17] #2161 closed

[2021-01-09 17:17] #2033 closed

[2021-01-09 21:08] utkarsh-pro commented on #1590
@leecalcote is there something else too that needs to get done here?

[2021-01-10 11:36] alphaX86 commented on #2234
Could you elaborate it @hwpplayer1 ? I'd like to know it

[2021-01-10 17:04] hwpplayer1 commented on #2234
Like extensions both local testing, autocomplete, syntax check, all Editor features

[2021-01-10 22:11] vinayaksh42 opened #2239 "[Runtime Error] DashboardComponent line 125"
#### Description
Getting an unhandled runtime error upon running the UI part of meshery.
https://github.com/layer5io/meshery/blob/master/ui/components/DashboardComponent.js#L125

#### Screenshots/Logs
![screencapture-localhost-3000-2021-01-10-15_20_38](https://user-images.githubusercontent.com/54861487/104136816-7bbfef80-53be-11eb-9ba9-8016a8281512.png)

#### Environment:
- Host OS: Windows
- Mesh

[2021-01-11 05:52] #2234 closed

[2021-01-11 06:13] leecalcote commented on #1590
@utkarsh-pro, you're right. No, given the implementation and documentation. We're good to close this in preparation for it's release in v0.5.0.

[2021-01-11 06:13] #1590 closed

[2021-01-11 07:40] NJnisarg commented on #896
I have identified the file/function to make changes to: https://github.com/meshery/meshery/blob/master/models/load-test.go#L114 : ConvertToSpec()

I also had 2 questions:
1.) Is the spec mentioned in https://github.com/meshery/meshery/blob/master/models/performance_spec.go up to date?
2.) Are all the metrics required by the spec being exposed by the load test results? (I did not see certain fields

[2021-01-11 09:09] NJnisarg commented on #896
The following fields in the `PerformanceSpec` struct are not being filled out:
MeshBuild, ProxyBuild, ExpGroupUUID, ExpUUID, Profile, DetailsURI, Config, Metrics

[2021-01-11 11:38] NJnisarg commented on #896
How can we fill out structs like Metrics which are the largest ones. It would require a lot of information regarding the service mesh. Are there any APIs currently that expose that information? If no, then should we implement them in the adapters? @utkarsh-pro @leecalcote @abhishekkumkar

[2021-01-11 13:16] #2239 closed

[2021-01-12 05:13] favourch commented on #1879
Any luck here?

[2021-01-12 15:44] chandrashritii commented on #2137
@mkycia Any progress here? You're very welcome to merge the installer scripts to [meshery/install](https://github.com/layer5io/meshery/tree/master/install) if they're ready.

[2021-01-13 12:46] utkarsh-pro opened #2245 "Promote Meshery Adapter for Traefik Mesh to Beta"
#### Current Behavior

Currently meshery release bundles 9 adapters as the adapter for traefik mesh (10th adapter) was in initial testing phase. Recently the Meshery UI was enhanced to support traefik mesh and it's associated operations  and hence Meshery adapter for traefik mesh is ready to be used along with the other adapters.

#### Desired Behavior

New meshery releases should start including

[2021-01-13 14:51] utkarsh-pro commented on #2245
With a simple and quick edit of a YAML file, the Meshery Adapter for Traefik Mesh will be released. @SantoDE, would you or @mmatur @dtomcej like to do the honors here?

[2021-01-13 15:37] SantoDE commented on #2245
Im not fully aware of what I need to do, but if you hit me up, sure :)

[2021-01-13 18:10] anirudhjain75 opened #2246 "[mesheryctl] Display version and channel on system channel"
#### Desired Behavior

`mesheryctl system channel` -> returns current channel and version with Usage
`mesheryctl system channel view` -> returns list of all context with their respective channels

#### Implementation

#### Acceptance Tests
Test 1) **Show user details of current-context channel and usage. Do not confirm context.**
[code]

Test 2) **Show user details of current-context channel. Conf

[2021-01-13 18:20] leecalcote commented on #2208
This is a duplicate of #2208

[2021-01-13 18:20] #2208 closed

[2021-01-13 18:21] leecalcote opened #2247 "[mesheryctl] Enhance "view" command in `system context`"
#### Current Behavior
`mesheryctl system context` only shows the name of the current context. Users need to be able to retrieve more information about contexts in their environment.

#### Desired Behavior
Provide support for the following scenarios:

1)  _Confirm only the name of the current context to user. Show usage._

[code]

2) _Confirm all the details of the **current** context to user._
[co

[2021-01-13 18:27] anirudhjain75 commented on #2208
Its #2246

[2021-01-13 18:56] #2224 closed

[2021-01-13 18:59] leecalcote opened #2248 "[mesheryctl] make `system reset` context-aware"
#### Current Behavior
`mesheryctl system reset` incidentally crosses release channels by reaching out to GitHub and pulling the latest `docker-compose.yaml`.

#### Desired Behavior
`reset` needs to consider for the current-context and the `channel` and `version` attributes when pulling from GitHub.

#### Implementation
1. No behavior change for `edge` channel. Just grab latest from GitHub `master`

[2021-01-13 19:00] leecalcote commented on #2247
Description updated.

[2021-01-13 19:01] leecalcote commented on #2214
Thanks, Dhruv.

[2021-01-13 19:01] #2214 closed

[2021-01-13 19:05] leecalcote commented on #2201
I updated the issue's description.

[2021-01-13 19:08] leecalcote commented on #2201
@hwpplayer1 are you interested in taking this on?

[2021-01-13 19:11] leecalcote commented on #2245
This is exciting! @SantoDE essentially all that needs done here is to make an entry for meshery-traefik-mesh in this [docker-compose.yaml](https://github.com/layer5io/meshery/blob/cdb1ca33921f86328536a7df3e4b83dda6159d4e/docker-compose.yaml#L46-L51) (meshery-kuma highlighted as an example). The Meshery Adapter for Traefik Mesh runs on port 10006.

[2021-01-13 19:37] hwpplayer1 commented on #2201
Yes @leecalcote I want to practice it

[2021-01-13 20:09] leecalcote commented on #2201
@hwpplayer1 to clarify, this issue describes the need for an update to Meshery docs. Are you wanting to pick up this issue to update documentation?

Trying out the upgrade process separately is great, too.

[2021-01-13 20:37] hwpplayer1 commented on #2201
Yes I am doing that. Now

[2021-01-13 20:50] hwpplayer1 commented on #2201
`Your Ruby version is 2.7.0, but your Gemfile specified 2.7.1` on

[code]

So it will take time to compile `ruby` from source.

But I will write the documentation and I want it

Thanks for your understanding @leecalcote

[2021-01-13 21:04] leecalcote commented on #2201
No sweat. Take your time. 👍

[2021-01-13 22:16] hwpplayer1 commented on #2201
https://blog.codeonion.com/2020/05/19/how-to-install-ruby-2-7-1-and-rails-6-0-0-in-ubuntu-20-04-focal-fossa-with-bash-shell-script/ is a working solution for `ruby` itself

[2021-01-14 15:53] navendu-pottekkat commented on #2248
@leecalcote @anirudhjain75 I can try to work on this. I think it would be good one to start and learn.

[2021-01-14 15:54] anirudhjain75 commented on #2248
Great. Fell free to reassign it to yourself

[2021-01-14 19:10] ramrodo opened #2251 "Implement a minimum Code Coverage Report to meshery project"
#### Current Behavior

We need to be able to see a Code Coverage Report and measure how many tests we have and those that are missing. This will allow us

#### Desired Behavior

Have a Code Coverage Report on every PR and/or in the README.md.
We can start with the simplest implementation that measures the code coverage of unit tests or an only workflow. Then, we can create more issues to improve i

[2021-01-14 19:13] ramrodo commented on #2251
@mgfeller maybe is interested in this also and can give some help and opinions on this.

[2021-01-15 08:01] mgfeller commented on #2251
@ramrodo thanks! it will really be valuable to include that in our workflows. my background on test coverage is mainly Java related tooling, though.

It would be useful to have a tool that can analyze and report and possibly fail the build on test coverage in new and changed code, in addition to coverage of the whole code base of course. Also, would be nice to have a report covering coverage over

[2021-01-15 11:28] Aisuko commented on #2251
@mgfeller No problems. Because the unit-test closed, we did not start using the codeCov, but this time we can add it to the repo. codecov action is good.  But I do not have the permission I guest.

![image](https://user-images.githubusercontent.com/8053949/104719648-c0a1a880-5767-11eb-87f6-d8c8cd2839c7.png)

[2021-01-15 14:20] leecalcote commented on #2251
@shubhank-saxena, is the Codecov GitHub Action above what you had in mind as well?

When someone does request permission to install on of these apps, go ahead and request it for “All repositories”, if you would.

[2021-01-15 15:36] shubhank-saxena commented on #2251
I think this is not a GitHub action, but rather application access of codecov to the repositories.
Yes, we need to enable it for all repositories, and then we need two things -
- a codecov.yml to have our desired codecov settings
- integration of codecov in out CI pipeline to post the coverage report

[2021-01-15 18:29] hwpplayer1 opened #2253 "https://docs.meshery.io/service-mesh-performance is empty"
#### Description
[This page](https://docs.meshery.io/guides/interpreting-performance-test-results) has a broken link to the SMP project.

#### Expected Behavior
The first link on the page should point to https://smp-spec.io.

#### Screenshots/Logs

https://docs.meshery.io/service-mesh-performance page is where i point to

---
**Contributor Resources**
- [Meshery documentation site](https://docs.me

[2021-01-15 20:14] leecalcote commented on #2253
Thanks, @hwpplayer1. Where did you find this link? We'll want to know this, so that we can fix the source.

[2021-01-15 20:14] leecalcote commented on #2253
Ok, I see a link located on https://docs.meshery.io/guides/interpreting-performance-test-results.

[2021-01-15 20:18] leecalcote commented on #2253
@hwpplayer1 be sure to create docs issues using the docs issue template, if you would. It has additional information for contributors on how to contribute to docs. --> https://github.com/meshery/meshery/issues/new?assignees=&labels=area%2Fdocs&template=documentation.md&title=%5BDocs%5D

[2021-01-15 22:05] leecalcote commented on #1879
@favourch, you’re help in documenting and testing this is much appreciated.

[2021-01-15 22:11] leecalcote commented on #1951
Feature released.

[2021-01-15 22:23] leecalcote commented on #896
@NJnisarg, did you get the details you needed here?

[2021-01-16 10:58] jaybatra26 commented on #2253
Hi @leecalcote Can I take this up?

[2021-01-16 13:43] leecalcote commented on #2253
Thank you, @jaybatra26, yes 👍

[2021-01-16 13:44] #2253 closed

[2021-01-16 13:46] NJnisarg commented on #896
So I did get a few APIs that give us the mesh information, but I think we need an API that gives us a view of the entire deployment and more information. For example, the following structs require extra information:

[code]
I was thinking of adding some function in kubernetes_scan.go file that can fetch this. Not fully sure though.

Also I don't fully understand the fields in the some of the struc

[2021-01-16 15:05] jaybatra26 commented on #2246
Hi @anirudhjain75  and @leecalcote Can I take this up?

[2021-01-16 16:11] leecalcote commented on #2246
Hi @jaybatra26, in general, yes, that would be nice. A quick check, though, as I think @navendu-pottekkat might already be working on this with @anirudhjain75.

[2021-01-16 16:24] anirudhjain75 commented on #2246
I was taking this up... It entails more than mentioned

[2021-01-16 18:20] leecalcote commented on #2246
@jaybatra26 let's get you another one. This one is open and might be of interest - https://github.com/meshery/meshery/issues/2158

[2021-01-17 08:37] jaybatra26 commented on #2246
@leecalcote  Sure. Looking into it. Thanks :)

[2021-01-17 09:39] jaybatra26 commented on #2158
@leecalcote  Please shed some light on point 2. What is the config.yaml here you are referring to?

[2021-01-18 04:32] leecalcote commented on #665
`mesheryctl system context` brings in a `config.yaml` that lists multiple Meshery deployments with individual contexts each of which have a "platform" attribute. @mayankshah1607, you'll be so proud of the Meshery v0.5.0 release, which has support for the functionality requested here. 😄

[2021-01-18 04:32] #665 closed

[2021-01-18 06:54] #2251 closed

[2021-01-18 10:46] jaybatra26 commented on #2158
Hi @leecalcote Do I have to make changes in a this file most likely. https://github.com/layer5io/meshery/blob/master/mesheryctl/pkg/utils/helpers.go#L208

[2021-01-18 14:57] leecalcote commented on #896
@kalradev @dhruv0000 @kumarabd how close are we to having MeshSyncv2 APIs available?

[2021-01-18 17:15] leecalcote commented on #2158
@jaybatra26 hopefully, this helps - https://docs.google.com/document/d/1xRlFpElRmybJ3WacgPKXgCSiQ2poJl3iCCV1dAalf0k/edit#heading=h.fpuuy11gk85g

[2021-01-18 21:37] #2231 closed

[2021-01-18 22:09] #1992 closed

[2021-01-19 01:57] NJnisarg commented on #896
@leecalcote is the meaning of these structs documented somewhere? Because even though the names are self-explanatory, it is a bit ambiguous. For example, CPUMCores, is it for the resource request or resource usage, also if it is usage, how do we consider the usage?

[2021-01-19 03:04] leecalcote commented on #2245
Thanks for picking this one up, @SantoDE. We would like to enable users with Traefik Mesh in the Meshery v0.5.0 release. A series of beta releases will start to release shortly.

[2021-01-19 03:04] leecalcote commented on #2225
@anirudhjain75 will you de-duplicate this and other surrounding issues?

[2021-01-19 03:20] leecalcote opened #2260 "[Docs] Breakdown mesheryctl command reference into Jekyll collection"
**Current State:**
The [`mesheryctl` command reference](https://docs.meshery.io/reference/mesheryctl) is a concise reference of `mesheryctl` commands.

**Desired State:**
This single file (long markdown table) can be converted to a Jekyll collection by putting one command and all of it's usage information into a yaml file (one yaml file per (sub)command).

---
**Contributor Resources**
- [Meshery

[2021-01-19 04:52] leecalcote opened #2261 "[Meshery Operator] Unhandled error on load of /settings"
#### Description
The following error is shown when running `make run-ui-dev` with no Kubernetes or Meshery Server present:

<img width="984" alt="Screen Shot 2021-01-18 at 10 50 08 PM" src="https://user-images.githubusercontent.com/7570704/104989270-b25dc180-59df-11eb-9cb9-677fca7e70f2.png">

#### Expected Behavior
Errors should be handled and users notified via toaster notification (if needed).

[2021-01-19 05:15] leecalcote opened #2262 "[MeshSyncv1] Add discovery of traefik-mesh-controller pod"
#### Current Behavior
Deployments of Traefik Mesh are not discovered and shown in the System Dashboard.

#### Desired Behavior
Add discovery of the "traefik-mesh-controller" pod to MeshSync v1.

[2021-01-19 05:18] leecalcote commented on #2115
@rajdas98 I completely missed this. Yes, this is a great suggestion. Let's do it. 👍

[2021-01-19 05:19] leecalcote commented on #2115
@rajdas98, would you like to tackle this in this repo under `/docs` and in the `meshery.io` repo on the project site?

[2021-01-19 05:19] leecalcote commented on #2115
// @Aisuko

[2021-01-19 06:12] Aisuko commented on #2115
Hi, guys @leecalcote  @rajdas98  The desired behavior looks good.

[2021-01-19 06:42] jaybatra26 commented on #2158
Thanks @leecalcote

[2021-01-19 10:44] SantoDE commented on #2245
PR Up :) @leecalcote

[2021-01-19 13:23] leecalcote commented on #2245
Awesome! 💥

[2021-01-19 18:51] leecalcote opened #2266 "Ability to deploy a service mesh pattern"
## Epic: Service Mesh Patterns

Meshery needs to the ability to interpret a service mesh pattern, describe service mesh configuration, application workload, and pattern behavior.

### Prologue
Operating service meshes can be challenging. How do you know if you're doing it right?

_this write up is incomplete and will be flushed out later_

#### Implementation
[code]

#### Acceptance Tests

#### Mo

[2021-01-19 18:56] leecalcote opened #2267 "[Docs] v0.5.0 Release: MeshSync"
**Current State:**
MeshSync is a new capability to be released under v0.5.0 and will be included in the [Meshery v0.5.0 Release Announcement](https://docs.google.com/document/d/1f7mGHtjHiywbN9UzwuldOX8x_Lpv2Ss8i4b045Np9OM/edit#)

**Desired State:**
Documentation of this feature and its behavior is needed. Here is a start:

### Understanding MeshSync
MeshSync, an event-driven, continuous synchroniz

[2021-01-19 19:00] leecalcote opened #2268 "[Docs] v0.5.0 Release: MeshKit and Meshery Adapter Library"
**Current State:**
MeshKit and Meshery Adapter Library are a new capability to be released under v0.5.0 and will be included in the [Meshery v0.5.0 Release Announcement](https://docs.google.com/document/d/1f7mGHtjHiywbN9UzwuldOX8x_Lpv2Ss8i4b045Np9OM/edit#)

**Desired State:**
Documentation of these functions and their behavior is needed.

---
**Contributor Resources**
- [Meshery documentation site

[2021-01-19 19:03] leecalcote opened #2269 "[Docs] v0.5.0 Release: Meshery Broker"
**Current State:**
Meshery Broker is a new capability to be released under v0.5.0 and will be included in the [Meshery v0.5.0 Release Announcement](https://docs.google.com/document/d/1f7mGHtjHiywbN9UzwuldOX8x_Lpv2Ss8i4b045Np9OM/edit#)

**Desired State:**
Documentation of this feature and its behavior is needed.

---
**Contributor Resources**
- [Meshery documentation site](https://docs.meshery.io/)

[2021-01-19 19:04] leecalcote opened #2270 "[Docs] v0.5.0 Release: Meshery Operator"
**Current State:**
Meshery Operator is a new capability to be released under v0.5.0 and will be included in the [Meshery v0.5.0 Release Announcement](https://docs.google.com/document/d/1f7mGHtjHiywbN9UzwuldOX8x_Lpv2Ss8i4b045Np9OM/edit#)

**Desired State:**
Documentation of this feature and its behavior is needed.

---
**Contributor Resources**
- [Meshery documentation site](https://docs.meshery.io

[2021-01-19 19:06] leecalcote opened #2271 "[Docs] v0.5.0 Release: Meshery Extensibility"
**Current State:**
Meshery Extensibility has been significantly expanded upon under v0.5.0 and will be included in the [Meshery v0.5.0 Release Announcement](https://docs.google.com/document/d/1f7mGHtjHiywbN9UzwuldOX8x_Lpv2Ss8i4b045Np9OM/edit#)

**Desired State:**
Documentation of this feature and its behavior is needed. The vast majority of this the Extension Point framework is already documented.

[2021-01-19 19:08] leecalcote opened #2272 "[Docs] v0.5.0 Release: GraphQL"
**Current State:**
GraphQL support is a new capability to be released under v0.5.0 and will be included in the [Meshery v0.5.0 Release Announcement](https://docs.google.com/document/d/1f7mGHtjHiywbN9UzwuldOX8x_Lpv2Ss8i4b045Np9OM/edit#)

**Desired State:**
Documentation of this feature and its behavior is needed.

---
**Contributor Resources**
- [Meshery documentation site](https://docs.meshery.io/

[2021-01-19 19:09] leecalcote opened #2273 "[Docs] v0.5.0 Release: Meshery Database"
**Current State:**
Meshery Database support is a new capability to be released under v0.5.0 and will be included in the [Meshery v0.5.0 Release Announcement](https://docs.google.com/document/d/1f7mGHtjHiywbN9UzwuldOX8x_Lpv2Ss8i4b045Np9OM/edit#)

**Desired State:**
Documentation of this feature and its behavior is needed.

---
**Contributor Resources**
- [Meshery documentation site](https://docs.me

[2021-01-20 04:08] rajdas98 commented on #2115
Sure @leecalcote , I will raise a PR soon. Thanks

[2021-01-20 04:09] leecalcote commented on #2115
Nice! Thank you. :smile

[2021-01-20 07:20] kumarabd opened #2274 "Rename image for NGINX sm"
#### Description
Rename docker image name for NGINX service mesh in the docker-compose.yml

#### Current image
local/meshery-nginx-sm:stable-latest

#### Expected image
layer5/meshery-nginx-sm:stable-latest

#### Environment:
- Host OS:
- Meshery Version:
- Kubernetes Version:
- Browser:

[2021-01-20 07:28] navendu-pottekkat commented on #2274
@kumarabd Please check and merge

[2021-01-20 07:31] #2274 closed

[2021-01-20 12:27] #2012 closed

[2021-01-20 21:21] leecalcote opened #2277 "[Helm] Meshery chart deployment from GitHub repo failing with unset env var"
#### Description
When deploying Meshery via helm using these instructions:

[code]
Meshery server crashes with the error below.

#### Screenshots/Logs
[code]

#### Environment:
- Meshery Version: v0.4.27
- Kubernetes Version: 1.19.x

[2021-01-20 21:33] leecalcote opened #2278 "[CI] Incorporate creation and publishing of Meshery Helm chart into stable release workflow"
#### Current Behavior
- Location of source code for Meshery’s chart: https://github.com/layer5io/meshery/tree/master/install/kubernetes/helm/meshery
- Location of published Meshery chart: https://github.com/layer5io/meshery.io/tree/master/charts ([used by Artifact Hub](https://artifacthub.io/packages/helm/meshery/meshery))
- No workflow included in the build and release CI workflow for publishing

[2021-01-20 21:37] leecalcote commented on #2115
@rajdas98 just to clarify, this is just an update in the instructions, right? The Meshery chart is available in Artifact Hub today.

We'll want to update the instructions on the meshery.io website as well - https://github.com/meshery/meshery.io/blob/master/_includes/getting-started.html

[2021-01-20 21:50] leecalcote commented on #2202
Tagging @vishal267.

@pulberg, quick clarification: while we'll want to have docs for air-gapped deployment of each of the ways in which Meshery can be deployed, we'll prioritize according to your use case. Are you looking to deploy Meshery air-gapped on a Docker host (outside of a Kubernetes cluster) or to deploy Meshery within a Kubernetes cluster?

[2021-01-20 22:09] pulberg commented on #2202
deploy Meshery within a Kubernetes cluster

[2021-01-21 01:05] leecalcote opened #2279 "Register Meshery images as Official Docker images"
#### Current Behavior
Docker images for Meshery are not listed as Official images.

#### Desired Behavior
Starting with [layer5/meshery](https://hub.docker.com/r/layer5/meshery) image, work through the process of having Meshery images listed as Official in Docker Hub. See https://github.com/docker-library/official-images#contributing-to-the-standard-library

[2021-01-21 01:09] leecalcote opened #2280 "Attain CII Silver"
#### Current Behavior
The [Meshery project](https://bestpractices.coreinfrastructure.org/en/projects/3564) is currently a CII "passing" level project.

#### Desired Behavior
The Meshery Project will ideally be a "silver" level project by working through each of the silver level requirements: https://bestpractices.coreinfrastructure.org/en/projects/3564?criteria_level=1

[2021-01-21 01:14] Aisuko commented on #2277
@leecalcote Oh, The issue we hit on `docker run meshery` I will add the env back and keep the new env that can fix the issue.

[2021-01-21 04:58] #1860 closed

[2021-01-21 05:40] leecalcote opened #2281 "[UI] Cleanup top portion of Management page"
#### Current Behavior
The /management page recently underwent some changes and is need of a little cleanup. See the mockup below.

#### Implementation
1.  Make the changes shown in red.
2. Place the drop-down list onto it's own paper (or card).
3. Make "Manage Service Mesh" a bold font weight.

#### Mockup

<img width="1462" alt="Screen Shot 2021-01-18 at 11 03 21 PM" src="https://user-images.gith

[2021-01-21 06:08] Aisuko commented on #2277
@zjyingchang I believe you can take this one

[2021-01-21 06:09] leecalcote commented on #1911
@edwarnicke, @fkautz, @denis-tingaikin, not an urgent inquiry here. The stalebot reminded us of this small, outstanding item. Quick check: do you have a recommended mechanism to determine the deployed version of NSM?

[2021-01-21 07:59] #2277 closed

[2021-01-21 12:20] navendu-pottekkat opened #2283 "[mesheryctl] `system reset` should ask confirmation from the user"
#### Current Behavior

Running `mesheryctl system reset` will reset meshery to its default setting. As of PR #2265 (soon to be merged)

[code]

#### Desired Behavior

`system reset` should ask the user whether they are sure about resetting to default.

#### Implementation

Instead of initiating reset, the `system reset` command could ask the user something like this(open for discussion) as shown a

[2021-01-22 01:27] Aisuko commented on #2267
Our document may need to update, I hit the issue after the followed step of our document that

[code]

[2021-01-22 01:31] leecalcote commented on #2267
Yeah... sometimes a discrepancy between what Ruby version that is configured in Jekyll and what Ruby version you have in your local dev environment. I use http://rvm.io/ to manage multiple versions of Ruby on my local system. I believe that you’ll want to ensure that you have a Ruby 2.7.1 environment on your local system (or you can use `make Docker` to build the site, but it’s a little slower.

[2021-01-22 01:35] Aisuko commented on #2267
Yep, you are right sir. Finally, I change to use  `rvm`  rather than install the latest ruby into the system directly. So should we update the documents?

[2021-01-22 02:04] leecalcote commented on #2267
Oh, very good. Yes, that'll work - updating the Ruby version number of the Jekyll system sounds good.

[2021-01-22 02:19] leecalcote commented on #2278
Related to https://github.com/meshery/meshery/discussions/1792#discussion-29007

[2021-01-22 02:30] #2248 closed

[2021-01-22 02:32] #2245 closed

[2021-01-22 02:47] leecalcote commented on #1879
@favourch would you like to try your hand at this?

[2021-01-22 02:48] leecalcote commented on #1083
Way to knock this out, @anirudhjain75! 💪

[2021-01-22 02:48] #1083 closed

[2021-01-22 02:49] leecalcote commented on #2128
Being addressed in #2256

[2021-01-22 03:05] Aisuko opened #2284 "[Chart] The meshery chart need to bump the version on it reame"
**Current State:**
https://artifacthub.io/packages/helm/meshery/meshery

**Desired State:**

The home page shows our latest version `2.1.2`

---
We can use the script https://github.com/layer5io/meshery/blob/244d7ab685c92484f31e88909a046e583f83b580/Makefile#L143

[2021-01-22 03:08] Aisuko commented on #2284
@zjyingchang Cloud you please take this one? Finish this one before doing PR for the issue https://github.com/meshery/meshery.io/issues/391

[2021-01-22 05:50] navendu-pottekkat opened #2285 "[mesheryctl] support -c/--context in `system reset` command to temporarily override the current context"
#### Current Behavior

Currently while running `mesheryctl system reset`, it automatically pulls the `docker-compose.yaml` file corresponding to the `current-context` mentioned in the `~/./meshery/config.yaml` file. Example-

[code]

Now running `mesheryctl system reset` will automatically pull the latest `docker-compose.yaml` file from GitHub since the `channel` is `edge` based on the `current-co

[2021-01-22 05:57] leecalcote commented on #2285
Precisely. 👍

[2021-01-22 05:59] navendu-pottekkat commented on #2285
I will take this up after I have fixed [this issue](https://github.com/layer5io/meshery/issues/2283) in the `system reset` command.

[2021-01-22 06:02] leecalcote commented on #2283
Looking good. Slight tweak of language and placement of the question mark:

[code]

[2021-01-22 06:19] navendu-pottekkat commented on #2283
Okay, that is so much better.

[2021-01-22 09:34] #2010 closed

[2021-01-22 09:34] #2024 closed

[2021-01-22 11:52] #1344 closed

[2021-01-22 13:24] navendu-pottekkat commented on #2125
@leecalcote This issue is duplicated and was fixed in #2248 . We can close this.

[2021-01-22 15:52] leecalcote commented on #2125
Thank you.

[2021-01-22 15:52] #2125 closed

[2021-01-23 08:09] favourch commented on #1879
I'm on it @leecalcote . I'll reach out for clarity on expectations on the slack channel.

[2021-01-23 13:31] leecalcote commented on #2283
Responding with “invalid response” is acceptable if the user doesn’t respond with a yes or a no. A small improvement here would be to continue to ask them the question until they respond with yes or no.

[2021-01-23 13:37] navendu-pottekkat commented on #2283
@leecalcote I have changed it to do exactly that in the last commit

[2021-01-23 14:19] #2283 closed

[2021-01-23 14:20] #2284 closed

[2021-01-23 14:48] leecalcote commented on #1879
Awesome. Thank you, @favourch

[2021-01-23 16:52] killbotXD commented on #2281
Hey, @leecalcote If no one is working on this can I take this issue?

[2021-01-23 18:51] leecalcote commented on #2281
Hi @killbotXD, yes, please. That would be great!

[2021-01-23 21:43] anirudhjain75 commented on #2281
Feel free to

[2021-01-24 06:33] navendu-pottekkat commented on #2105
@leecalcote I can take this up if no one is working on this.

[2021-01-24 19:35] diru1100 commented on #2280
It seems that there are a varied amount of tasks which are to be done to attain silver status.

Should one create a new issue for every task and tag this as the main issue there?

[2021-01-24 19:44] diru1100 commented on #2107
Can I take this issue?

[2021-01-24 20:04] diru1100 opened #2290 "[Docs] Website is not responsive"
**Current State:**

Not responsive UI

**Desired State:**

Responsive and fits in all types of screens

---
**Contributor Resources**
- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)
- [Instructions for contributing to documentation](https://github.com/layer5io/meshery/blob/master/CONTRIBUTING.md#documen

[2021-01-24 20:15] diru1100 commented on #2279
May I take this issue? Looks like a good way to learn best practices in docker and about meshary at once :)

[2021-01-24 20:33] leecalcote commented on #2290
Thank for filing this issue, @diru1100. This is a good goal and something that we should do. If there are specific areas in the docs to make responsive or new approaches to certain challenges (like image sizing), please do itemize them and let’s start knocking them down (implementing). 👍

[2021-01-24 20:37] leecalcote commented on #2279
@diru1100 sounds real good. @mkycia is a great individual to engage and collaborate with on this effort.

[2021-01-25 01:24] leecalcote commented on #2107
That’s be great, yes, @diru1100

[2021-01-25 02:37] #2285 closed

[2021-01-25 06:03] leecalcote commented on #2278
Example of where we have automated the build and release of Helm charts in Learn-Meshery - https://github.com/meshery/learn-meshery/blob/43e1dc9563c4232bed341cbf076c9561367ff040/.github/workflows/ci.yml#L46-L64

[2021-01-25 09:20] navendu-pottekkat opened #2294 "[mesheryctl] Bug: version in config.yaml file is not validated"
#### Description

You can have invalid versions as shown below(`version: bob`) in the `config.yaml` file.

[code]

This can break commands like `mesheryctl system reset` which will try to pull the `docker-compose.yaml` file from the specified `version` in GitHub-

[code]

That version does not exist and [GitHub throws a 404 error](https://raw.githubusercontent.com/layer5io/meshery/bob/docker-compo

[2021-01-25 09:41] navendu-pottekkat opened #2295 "[mesheryctl] Add persistent `--verbose` `-v` flag for all commands"
#### Current Behaviour

Currently, there is a `--debug` `-d` flag which sets output to verbose mode. _It seems to have some error in its implementation._

There is a top level `version` command and a `--version` `-v` flag which is obsolete given the current usage.

#### Desired Behaviour

1. No need for `--version` `-v` flag.
2. `--verbose` `-v` for verbose logs.

#### Implementation

Change the f

[2021-01-25 09:43] kumarabd opened #2296 "Meshery bash script fails due to config.yaml"
#### Description
The meshery bash script will not flow cleanly through the install process because it will not find a config.yaml file. It will then stop and prompt the user to create one.

#### Expected Behavior
 We can take a couple of different approaches:
1. Add a variable to the installer script for platform type (similar to what has been done to support `MESHERY_VERSION`)
2. Add a `--silent`

[2021-01-25 09:45] kumarabd commented on #2296
@hexxdump Something that you might be interested in...

[2021-01-25 09:59] navendu-pottekkat commented on #2296
@kumarabd Since we are planning on `platform: kubernetes` support, we may need to come back to this issue at a later time. So we may need to keep this on hold till we have the `platform: kubernetes` support.

[2021-01-25 11:05] hexxdump commented on #2296
Sure @kumarabd . let me take a look

[2021-01-25 15:41] leecalcote commented on #2296
_Discussion recap:_

A design spec is needed for this issue as it pertains to the upcoming support for `platform:kubernetes` in `mesheryctl`. As we go to make the first beta release today, new users are going to run into this issue immediately, and so, we should give consideration to a quick fix.

A quick solution could be to include the --silent flag (as recently suggested by @Michael Gfeller), w

[2021-01-26 00:07] #1951 closed

[2021-01-26 00:54] leecalcote commented on #1951
Fixed in v0.5.0

[2021-01-26 01:47] Aisuko commented on #2278
Looks good, sir. But I have a consider  on this, as the description of this Github Action

https://lippertmarkus.com/2020/08/13/chartreleaser/

`
When you now push a change to your master branch, the action checks each chart for a new version. For updated charts it creates a GitHub Release and adds the chart artifact *.tgz file to the release. Now the index.yaml file on the gh-pages branch is upda

[2021-01-26 04:55] leecalcote commented on #2278
The secrets are already in place. You just need to reference them in a workflow like what is being done in this Meshery repo.

[2021-01-26 05:29] favourch commented on #1879
@leecalcote It looks like a lot has changed in the codebase because I cant seem to navigate to `/docs/guides/mesheryctl#windows `

[2021-01-26 05:59] #973 closed

[2021-01-26 05:59] #134 closed

[2021-01-26 07:55] Aisuko commented on #2278
I have a consider on this

https://lippertmarkus.com/2020/08/13/chartreleaser/

When you now push a change to your master branch, the action checks each chart for a new version. For updated charts it creates a GitHub Release and adds the chart artifact *.tgz file to the release. Now the index.yaml file on the gh-pages branch is updated to add your new chart version with the link to the GitHub Rele

[2021-01-26 14:00] leecalcote commented on #2278
You can build from source in one repo and push build artifact to another repo.

[2021-01-26 14:01] leecalcote commented on #2278
@ramrodo, this is a good item to review in the Meshery CI Meeting this Thursday.

[2021-01-26 14:42] #1947 closed

[2021-01-26 16:15] leecalcote opened #2300 "[CI] mesheryctl: goreleaser not publishing new formula on prerelease"
#### Current Behavior
`mesheryctl` releases are controlled by goreleaser. When a "beta" or "rc" or similar prerelease is made, goreleaser does not update the homebrew tap. This means that a new version of `mesheryctl` is not available for the `v0.5.0-beta-1` release.

#### Desired Behavior
Prerelease versions of `mesheryctl` should be published along with the rest of Meshery and its components.

#

[2021-01-26 16:36] pranav-bhatt opened #2302 "Issue running meshery installation script in quick start guide"
#### Description

The [Meshery installation bash script](https://github.com/layer5io/meshery/blob/master/meshery) ends with the line `mesheryctl system start`. When run for the first time, the output generated is as shown below:
[code]

#### Expected Behavior

Instead of waiting for user input (y/N), the script reads `EOF`, and exits.

[Line 99](https://github.com/layer5io/meshery/blob/566261f9f96

[2021-01-26 16:46] leecalcote commented on #2302
Fixed by https://github.com/meshery/meshery/pull/2298

[2021-01-26 16:46] pottekkat commented on #2302
@pranav-bhatt The current flow is that when you run the bash script for installation, it would configure everything and start meshery server on your machine.

But, when `system start` is first executed, there will not be any `config.yaml` file in your `~/home/.meshery` folder. So, it shows a prompt and the user should respond "y". This will create a new default `config.yaml` file and then meshery

[2021-01-26 16:56] leecalcote opened #2303 "[Docs] mesheryctl contributor guide"
**Current State:**
Meshery CLI client has a number of nuances to it like use of cobra, viper, logrus, global flags like verbose and so on.

While [Meshery CLI & Documentation](https://docs.google.com/document/d/1xRlFpElRmybJ3WacgPKXgCSiQ2poJl3iCCV1dAalf0k/edit#) serves as both documentation of existing and design spec for forthcoming commands, new and existing contributors will benefit from a cont

[2021-01-26 17:43] #2296 closed

[2021-01-26 17:49] leecalcote commented on #2302
#2298 should fix the defect described here. The change described in **Expected Behavior**, though, is slightly askew from our goal: short time to value; get users using Meshery quickly.

This installer is aimed at users looking to run Meshery. We want to make that happen fast. If we can delight users along the way, all the better. We really want to delight users with a single step download, instal

[2021-01-26 17:51] leecalcote commented on #2295
Separate from the docs update, it would be good to include this function in a `mesheryctl` Contributor's Guide - https://github.com/layer5io/meshery/issues/2303

[2021-01-26 18:39] leecalcote commented on #1304
Design considerations - https://docs.google.com/document/d/1XczAHXVe2FIWPqiF57ospJ43zw5cZQ7ui8mn39v5EvA/edit#bookmark=id.dzqnisw51myu

[2021-01-26 18:40] #2295 closed

[2021-01-26 19:18] leecalcote opened #2304 "[Docs] Meshery UI Contributor Guide"
**Current State:**
Meshery UI has a number of aspects to it like use of rest, graphql, nextjs, react, billboardjs and so on.

New and existing contributors to Meshery's web user interface will benefit from a contributor guide.

**Desired State:**
- Create a README.md in the /ui folder that serves as a contributor guide to this component.
- Add link to this README in the main Meshery CONTRIBUTING.m

[2021-01-26 19:41] ramrodo commented on #2278
Added to the agenda 👍🏼

[2021-01-26 19:48] #2300 closed

[2021-01-27 02:09] #2281 closed

[2021-01-27 13:32] navendu-pottekkat commented on #2302
@pranav-bhatt Any updates on this issue? Were you able to work it out?

[2021-01-27 13:34] pranav-bhatt commented on #2302
Still facing the EOF issue, despite using the code in the mentioned PR.

[2021-01-27 13:39] navendu-pottekkat commented on #2302
Hmm, this might be an issue. Although I have almost the exact same setup as you apart from Kubernetes version 1.20.1. We will need to look into it.

@hexxdump Could you please check this?

[2021-01-27 15:14] hexxdump commented on #2302
@pranav-bhatt,  Even after #2298 fix, you are hitting this issue?

[2021-01-28 05:00] leecalcote commented on #2201
Thanks for this @hwpplayer1. 👍

[2021-01-28 05:00] #2201 closed

[2021-01-28 11:45] diru1100 commented on #2107
Hey @leecalcote,

Should I somehow replicate all the errors and fill the table accordingly?

Is this how the table supposed to look like? http://bit.ly/mehsery_error_codes

Any resources would be appreciated.

[2021-01-28 12:59] leecalcote commented on #2107
@diru1100 here’s an example of what we’re looking to create - https://www.cisco.com/c/en/us/support/docs/cloud-systems-management/intelligent-automation-cloud-40/117458-ptn.html

We don’t have all of the individual error codes and their information today. As you go to layout a structure on the page, it would be good to create a Jekyll datafile to store the error codes and avoid maintaining a long

[2021-01-29 07:23] navendu-pottekkat opened #2307 "[mesheryctl] [epic] provide support for `platform: kubernetes`"
**Prologue**
Getting Meshery up and running locally on a Docker-enabled system is easy with Meshery’s command line interface, [mesheryctl](https://docs.meshery.io/guides/mesheryctl). The same ease by which Meshery is deployed to a Docker host should be afforded for deployments to Kubernetes clusters - different types of Kubernetes clusters.

**Current Scenario**
While the Meshery contexts containe

[2021-01-29 09:09] navendu-pottekkat opened #2308 "[mesheryctl] [child] platform support for Kubernetes in `system start`(`platform: kubernetes`)"
See Epic #2307 for context and further description of this issue.

**Current Behavior**
`mesheryctl system start` compiles the `docker-compose.yaml` file without consideration of the context's platform type.

**Desired Behavior**
`mesheryctl system start` should check the value of `platform` key of the current-context and deploy accordingly as shown in the example scenario below-

`config.yaml` fi

[2021-01-29 09:22] navendu-pottekkat opened #2309 "[mesheryctl] [child] platform support during “bash script” installation(`platform: kubernetes`)"
See Epic #2307 for context and further description of this issue.

**Current Behavior**
When a user tries to install Meshery through bash,

[code]

the [bash script](https://github.com/layer5io/meshery/blob/master/meshery) _optionally_ runs [`mesheryctl system start`](https://github.com/layer5io/meshery/blob/566261f9f9618af1200a16ec593b327644e98d67/meshery#L99) at the end of the install procedure,

[2021-01-29 09:33] navendu-pottekkat opened #2310 "[mesheryctl] [child] make `system reset` platform aware(`platform: kubernetes`)"
See Epic #2307 for context and further description of this issue.

**Current Behavior**

`mesheryctl system reset` will pull the context specific `docker-compose.yaml` files and does not consider for the current platform. Only the channel and version are considered.

**Desired Behavior**

`mesheryctl system reset` should also consider for the `platform`. Specifically, if the platform is Kubernetes

[2021-01-29 09:58] navendu-pottekkat opened #2311 "[mesheryctl] [child] make `system stop` platform aware(`platform: kubernetes`)"
See Epic #2307 for context and further description of this issue.

**Current Behavior**

`mesheryctl system stop` by default stops all Meshery server and Adapters' containers and does not consider for Kubernetes platform.

**Desired Behavior**

`mesheryctl system stop` considers current platform and for `platform: kubernetes` it should delete all deployments made by Meshery. (Should be done using