[2021-05-04 18:32] leecalcote commented on #2831
Thank you, @ramrodo. I _think_ that we'll be in a better place after this refactoring. Or I'll say that we will be if we eliminate the redundant builds we were experiencing in the past "on push".

On this subject, I don't think that we should be running CodeQL as frequently as we are. It takes a long time and, perhaps, can be run less frequently.

[2021-05-04 18:55] ramrodo commented on #2831
Ok. I'll create another issue to modify that CodeQL workflow and submit a PR for that then.

[2021-05-04 18:57] ramrodo opened #2833 "[CI] Refactor CodeQL workflow"
#### Current Behavior

The CodeQL CI Workflow takes a lot of time to be executed

#### Desired Behavior

Refactor CodeQL to be only executed when it is needed.

#### Implementation

TBD

#### Acceptance Tests

#### Reference:
- [Meshery Build & Release Strategy](https://docs.google.com/document/d/11nAxYtz2SUusCYZ0JeNRrOLIxkgmmbUVWz63MBZV2oE/edit#)

[2021-05-04 18:57] ramrodo commented on #2831
This is the issue to accomplish that: https://github.com/meshery/meshery/issues/2833

[2021-05-04 19:14] samirparhi-dev opened #2834 "[meshery] dropdown item of "select your provider" in meshery landing page ui exceeding beyond"
#### Description

Dropdown item of "select your provider" in meshery landing page ui exceeding beyond
See screenshot
#### Expected Behavior

The item should be well within the drop down area
#### Screenshots/Logs

<img width="427" alt="Screenshot 2021-05-05 at 12 08 28 AM" src="https://user-images.githubusercontent.com/59992800/117056189-a51fd500-ad39-11eb-9e12-40843e359a96.png">

#### Environment

[2021-05-04 21:06] #2831 closed

[2021-05-05 03:07] leecalcote commented on #2834
Thank you, @samirparhi-dev 👍

To the contributor that addresses this issue: Option 2 under the suggested fixes is ideal.

[2021-05-05 03:11] leecalcote opened #2835 "[MeshSync] MeshSync data not being persisted to database"
#### Description
Meshery Operator is deployed with controllers running, however, Meshery UI shows Meshery Operator as not connected.

#### Expected Behavior
Meshery Operator should show as connected. Adapter chip should successfully ping. MeshSync data should persist to Meshery Database.

#### Screenshots/Logs

[code]

#### Environment:
- Meshery Version: edge-latest (nearest stable is v0.5.10+)

[2021-05-05 08:33] fallmor commented on #2827
hello i want to work on this. Can I give a try ?

[2021-05-05 12:56] #2820 closed

[2021-05-05 14:53] kumarabd opened #2837 "[Meshery] Helm chart access to be updated"
#### Description
Currently meshery helm chart does not have the permissions to do operations on MeshSync custom resources.

#### Expected Behavior
The helm chart needs to be modified, to grant access to these custom resources. The access levels can be picked up from here - https://github.com/layer5io/meshery-operator/blob/master/config/manifests/default.yaml#L199-L320.

#### Screenshots/Logs
[code

[2021-05-05 15:26] NeelParihar opened #2838 "[MesheryUI] Highlight Header Icons when they are active for better User Experience"
#### Current Behavior
The dashboard icon doesn't give a indication if user is on dashboard page or not, and it is not intuitive that user can click on it to go to the dashboard page

#### Desired Behavior
The dashboard icon should be highlighted in light blue colour when the user is on dashboard page.

#### Implementation
Apply a custom colour class of lightblue to the icon when user is on dashboa

[2021-05-05 15:46] leecalcote commented on #2838
@NeelParihar great write up. Can you expand this behavior to all of the nav bar icons?

@austinogiza can you provide the HEX code for the light blue color?

[2021-05-05 16:15] Nikhil-Ladha opened #2839 "[Docs] Link broken for helm on kubernetes setup page"
#### Description

The link `Using helm` in the screenshot below doesn't navigate to the correct subsection on the page.

#### Expected Behavior

The link should work properly, and navigate the user to the appropriate section.
The correct link is https://docs.meshery.io/installation/platforms/kubernetes#using-helm-charts. Only, an update
to the `id` of the tag is needed i.e, from `using-helm-charts

[2021-05-05 16:39] Vi1234sh12 commented on #2839
hey @Nikhil-Ladha  I want work On this Issue , Please let me know

[2021-05-05 16:43] Nikhil-Ladha commented on #2839
Sure @Vi1234sh12 👍🏼

[2021-05-05 17:51] NeelParihar commented on #2838
Thank you @leecalcote. I think you are asking about the header menu right in the same line as of dashboard icon. I will try to do it simultaneously. Should i create new issues for that or just edit this one?

[2021-05-05 23:59] leecalcote commented on #2827
Yes, that’d be great, @fallmor ✔️

[2021-05-06 00:02] leecalcote commented on #2401
Thank you, @kumarabd

[2021-05-06 00:02] #2401 closed

[2021-05-06 05:59] hexxdump opened #2842 "[mesheryctl] Migrate 'system config eks' to golang SDK"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
mesheryctl system config eks command invokes the below cli from scripts:
“aws eks update-kubeconfig --region <regionName> --name <clusterName> -kubeconfig <configPath>” CLI.

#### Desired Behavior
Instead of using aws CLI, use golang SDKs provided by AWS to achieve the same result.

##

[2021-05-06 06:10] hexxdump opened #2843 "Migrate 'system config aks' to golang SDK"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
`mesheryctl system config aks` command invokes the below cli from scripts:
`az aks get-credentials --resource-group <rgrp> --name <name> --file <kubeconfigpath>`

#### Desired Behavior
Instead of using az CLI, use golang SDKs provided by Azure to achieve the same result.

---

#### Scr

[2021-05-06 06:14] hexxdump commented on #2425
Will use this issue to fix the `mesheryctl system config gke` command.

Opened child PRs to handle AKS and EKS configs:
#2843 Migrate 'system config aks' to golang SDK
#2842 Migrate 'system config eks' to golang SDK

[2021-05-06 08:28] Anita-ihuman opened #2844 "[Docs] The documentation for installing AKS is misleading"
**Current State:**
The documentation for installing AKS is misleading and points to port http://localhost:9081

**Desired State:**
The port to the localhost should be corrected to  http://localhost:8080.
<img width="657" alt="Screenshot 2021-05-05 at 10 53 25 AM" src="https://user-images.githubusercontent.com/62384659/117266407-24ea9400-ae4d-11eb-9f8e-da6f2f87c8dd.png">

---
**Contributor Resource

[2021-05-06 10:34] Chadha93 opened #2847 "[Docs] In contribution.md section Mesheryctl Documentation is redirecting to Meshery instead of Mesheryctl"
**Current State:**
In the documentation, Mesheryctl is redirecting to Meshery instead of Mesheryctl in contribution.md
**Desired State:**
Mesheryctl Documentation should redirect to Mesheryctl only.
---
**Contributor Resources**
- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)
- [Instructions for contrib

[2021-05-06 10:35] Chadha93 commented on #2847
Fixing this issue

[2021-05-06 10:48] Chadha93 commented on #2847
@leecalcote @adithyaakrishna Could you please look into it?

[2021-05-06 11:38] #2847 closed

[2021-05-06 12:27] kumarabd commented on #2835
@leecalcote Unable to get this state in any of the setups. Any specific step/configuration to be noted here?

[2021-05-06 12:31] kumarabd commented on #2837
Link - https://github.com/meshery/meshery-operator/pull/160/

[2021-05-06 14:02] leecalcote commented on #2835
Yes, orphan your instance of the Meshery Operator from the server, then
deploy a new Meshery server.

On Thu, May 6, 2021 at 7:28 AM abishek ***@***.***> wrote:

[2021-05-06 17:38] kumarabd commented on #2835
https://github.com/meshery/meshery/pull/2852

[2021-05-06 18:34] #2835 closed

[2021-05-06 18:43] #2844 closed

[2021-05-06 18:44] navendu-pottekkat opened #2853 "[mesheryctl] `system status` should show the status of the meshery-broker"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

`mesheryctl system status` shows the status of the Meshery deployment. This is done by basically using the go-client alternative for `kubectl get deployments -n meshery`.

![Screenshot from 2021-05-05 10-16-56](https://user-images.githubusercontent.com/49474499/117344441-02935d80-aec3

[2021-05-06 18:54] mgfeller opened #2854 "[Docs] Enhanced Error Code Reference Presentation"
Some possible enhancements that were discussed are:

* default sort by error code (int)
* sortable by error name
* sortable by severity
* filtering
* searching

Over time, more error codes will appear in this reference, from many more components, and with detailed information (Long Description, Probable Cause, Suggested Remediation).

_Originally posted by @mgfeller in https://github.com/layer5io/

[2021-05-06 19:25] Chadha93 opened #2855 "[Meshery UI] Show only installed adapters on system dashboard"
#### Current Behavior
In System Dashboard the adapter section is showing all adapters including active and inactive.

#### Desired Behavior
Only installed adapters by the user should be visible on the system dashboard.

#### Implementation
Configuring shows the adapters component in the dashboard UI such that it sorts adapters and shows only the installed adapters.

#### Mockups
![image](https://u

[2021-05-06 19:30] Chadha93 commented on #2855
@leecalcote If my implementation approach is going in the wrong direction, please correct me.

[2021-05-06 21:27] leecalcote commented on #2855
@Chadha93 thats right. Any unregistered adapters should not have a corresponding menu item for its respective service mesh type.

[2021-05-06 21:43] Anita-ihuman opened #2858 "[README] Update README Community Section"
#### Description
The Community section in the README says "Access the Community Drive". There is a new procedure of having this automated based on the individual filling in a [community member form](https://layer5.io/newcomer)
#### Expected Behavior
Update "Access Community Drive" to "To Access Community Drive, fill Community Member Form"

#### Screenshots/Logs
![img](https://user-images.githubuse

[2021-05-06 22:04] #2838 closed

[2021-05-07 02:30] leecalcote opened #2859 "[Docs] Broken link: mesheryctl command reference"
**Current State:**
The link the mesheryctl command reference at the bottom of this page is broken - https://docs.meshery.io/guides/mesheryctl/configuring-autocompletion-for-mesheryctl

**Desired State:**
Should point to `/reference/mesheryctl`

<img width="769" alt="Screen Shot 2021-05-06 at 9 28 36 PM" src="https://user-images.githubusercontent.com/7570704/117389627-3fa32400-aeb2-11eb-88e9-f2f87b

[2021-05-07 02:53] leecalcote commented on #2837
Move the default port for helm installations to 9081 for consistency.

[2021-05-07 03:22] Vi1234sh12 commented on #2859
hey @leecalcote  I want to work on this issue, please let me know

[2021-05-07 04:32] leecalcote commented on #2859
Sounds real good.

[2021-05-07 05:38] samirparhi-dev commented on #2834
@NeelParihar : Absolutely !

[2021-05-07 06:02] navendu-pottekkat opened #2861 "[mesheryctl] docker platform does not deploy meshery-operator"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

Running `mesheryctl system start` on the `docker` platform does not deploy the meshery-operator.

#### Desired Behavior

Similar to `platform: kubernetes` the `docker` platform should also call the same function and deploy the operator manifests in `start` and remove the deployments i

[2021-05-07 06:51] NeelParihar commented on #2858
Hi @Anita-ihuman, It will be great if i can work on this.

[2021-05-07 07:03] Anita-ihuman commented on #2858
Sure @NeelParihar, go ahead.

[2021-05-07 08:23] piyushsingariya opened #2863 "[Docs][Meshery.io] Update Link to meshery releases on meshery.io for windows user"
**Desired State:**
Currently, the link redirect us to- https://github.com/layer5io/meshery/releases/tag/v0.3.9
Change it to (https://github.com/layer5io/meshery/releases/tag)
![image](https://user-images.githubusercontent.com/50979887/117420731-7a9d6a00-af3b-11eb-8677-9e7cdbe45438.png)

---
**Contributor Resources**
- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation

[2021-05-07 08:51] sanjana-98 commented on #2863
Hi. I want to take this up

[2021-05-07 08:59] piyushsingariya commented on #2863
Sure, @sanjana-98 go ahead!

[2021-05-07 09:07] sanjana-98 commented on #2863
Thanks!

[2021-05-07 09:59] navendu-pottekkat commented on #2823
@aneeshnema , A good project to take lead on.

[2021-05-07 12:01] leecalcote commented on #2834
Heads-up - I believe that @chinmaym07 has recently fixed this issue.

[2021-05-07 12:14] NeelParihar commented on #2834
Oh that's great. Thank you for informing!

[2021-05-07 12:35] kumarabd commented on #2530
- [] Orphaned meshery operator already in the cluster running, meshery gets deployed fresh. Meshery should still be able to use the running operator and get synced with the cluster state.
- [ ] Meshery Operator running, but controllers are not. This should reflect in the UI.

[2021-05-07 12:37] kumarabd commented on #2530
@ramrodo We would want to consider the scenarios covered in this issue, to be automated as a part of CI process validation. Can you schedule a catchup to discuss on this regard?

[2021-05-07 12:43] leecalcote commented on #2530
Understanding that e2e here would likely be driven through GitHub workflows, note the mesheryctl action that @s1ntaxe770r is working on.

[2021-05-07 12:50] kumarabd commented on #2837
This is covered in the below PR

[2021-05-07 14:07] chinmaym07 commented on #2196
Hey @kumarabd just to verify .. Is this issue resolved ??

[2021-05-07 15:40] piyushsingariya commented on #2853
@navendu-pottekkat `meshery-broker` is already running under the namespace `meshery`, `system status` should log the status of `meshery-broker` by default, as the command grabs all the deployments running under `meshery` namespace!!

[2021-05-07 16:49] #2196 closed

[2021-05-07 16:53] rav121 opened #2869 "[New Feature] [Operator Users] Messaging System and Notification Center using CloudEvents spec"
#### Current Behavior

Operators needs to be notified of Meshery tasks.

#### Desired Behavior

Management of Meshery  task/operation lifecycle for Operators Actors/Users using a Messaging System and Notification Center.
Implement Meshery Extension Context Attributes  using CloudEvents spec https://github.com/cloudevents/spec/blob/v1.0.1/spec.md
#### Implementation

#### Acceptance Tests

#### Moc

[2021-05-07 17:14] piyushsingariya commented on #2853
plus I researched and it's too tedious to fetch the number of replicas through `podInterface`.

[2021-05-07 17:17] navendu-pottekkat commented on #2802
Currently, it will look exactly like the pattern one. Once we have that, I guess we can move on to the specifics...

[2021-05-07 17:18] navendu-pottekkat commented on #2853
Yes, @piyushsingariya we just have to take the meshery-broker pod details for the meshery namespace and add it to the system status command.

[2021-05-07 17:20] Chadha93 commented on #2802
Yes, it looks exactly the same as the pattern one.  Ok, so should I push the filters.js file ? so other functionalities can be add ...

[2021-05-07 18:39] utkarsh-pro opened #2872 "Server URL and Context List is empty when kubeconfig is autodetected"
#### Description
Meshery has the capability to auto-detect kubeconfig from the user's filesystem. However whenever meshery auto detects a kubeconfig the `Server URL` and `Context List` in the UI are completely empty. This does not happen when a user uploads a config file manually.

#### Expected Behavior
`Server URL` and `Context List` should be filled even if the kubeconfig is automatically detec

[2021-05-07 18:43] utkarsh-pro opened #2873 "K8s unreachable when Server URL is a loopback address"
#### Description
Kubernetes is unreachable when the Server URL is a loopback address and the user gets an error `kubeconfig couldn't be validated...`

#### Expected Behavior
Either mesheryctl should facilitate changing networks via a `--network` flag or meshery server should return a more appropriate error letting user know that the connection has failed.

[2021-05-07 20:37] NeelParihar opened #2874 "[MesheryUI] Add tooltip which displays information for the load generators in performance profile section"
#### Current Behavior
In performance profile section the load generator options don't have any kind of information for user to understand what different load generators are capable of.

#### Desired Behavior
When user hovers on a particular option it should display a tooltip such that it shows information regarding that particular load generator.

 #### Implementation

Add tooltips for all the opt

[2021-05-07 21:48] leecalcote commented on #2874
Thank you, @NeelParihar 👍

[2021-05-07 23:24] #2834 closed

[2021-05-08 09:11] piyushsingariya commented on #2853
@navendu-pottekkat can you explain why exactly `meshery-broker` isn't discoverable as a deployment?

[2021-05-08 11:53] piyushsingariya commented on #2823
let's head on with this!

[2021-05-08 11:58] piyushsingariya commented on #2737
I guess this is already being covered by @metonymic-smokey in #2761. right @metonymic-smokey ??

[2021-05-08 12:16] piyushsingariya commented on #2825
@navendu-pottekkat How do I get the number of `results` and `Last-Run`?

[2021-05-08 12:25] navendu-pottekkat commented on #2825
These results are exposed by the Meshery server API endpoints. So you should be able to get it from there... See https://docs.google.com/spreadsheets/d/1ABJCbfQRi0uN_YoP2kmHZ-lTI4S4QuvRk1_unomKNRE/edit#gid=0

[2021-05-08 13:12] leecalcote commented on #2853
@kumarabd will you chime-in here?

[2021-05-08 14:45] metonymic-smokey commented on #2737
@piyushsingariya I'm updating the endpoint in current context for `system start`.  This issue asks for `system status` too, the implementation is quite similar I think.
Do you want me to do `system status` too?

[2021-05-08 14:51] navendu-pottekkat commented on #2380
Unit tests for mesheryctl have not yet been added. This test will most likely be modified when the other tests are written. Closing this...

[2021-05-08 14:51] #2380 closed

[2021-05-08 14:53] navendu-pottekkat commented on #2207
mesheryctl is now both docker and kubernetes platform aware. Closing.

[2021-05-08 14:53] #2207 closed

[2021-05-08 14:54] navendu-pottekkat commented on #2307
The only thing left is the platform awareness in the bash script installation. Should be fixed for v0.6

[2021-05-08 14:57] navendu-pottekkat commented on #2802
Yes, that would work @Chadha93

[2021-05-08 15:00] piyushsingariya commented on #2737
@metonymic-smokey yeah, it would be better to include this with your current PR.

[2021-05-08 15:13] piyushsingariya commented on #2853
Thanks @kumarabd! it helped.

[2021-05-08 15:15] #2859 closed

[2021-05-08 15:26] Jassi10000 opened #2879 "A litte issue in the Meshery docs"
#### Description

https://docs.meshery.io/reference/error-codes#meshery-adapter-library-library
There are some headings in the docs  where the first letter of  <code>Linkerd</code> is not capitalised

#### Expected Behavior

![image](https://user-images.githubusercontent.com/64856348/117544406-ea484d80-b03e-11eb-942f-5009f5407a23.png)

![image](https://user-images.githubusercontent.com/64856348/11

[2021-05-08 15:27] Jassi10000 commented on #2879
@leecalcote Can you please assign this to me

[2021-05-08 16:56] ramrodo commented on #2530
Sure. Do you want to discuss this in the next Meshery CI meeting @leecalcote @kumarabd? I just added to the [agenda](https://docs.google.com/document/d/1GrVdGHZAYeu6wHNLLoiaKNqBtk7enXE9XeDRCvdA4bY/edit#)

[2021-05-08 18:20] leecalcote opened #2881 "[Docs] GraphQL playground listed in docs"
**Current State:**
This statement is in the current API docs - https://docs.meshery.io/extensibility/api#graphql

<img width="741" alt="Screen Shot 2021-05-08 at 1 18 31 PM" src="https://user-images.githubusercontent.com/7570704/117549436-f8c34480-afff-11eb-997f-dd6c60ce6292.png">

**Desired State:**
If this playground only available in the Meshery Remote Provider, this statement needs to be remov

[2021-05-08 18:33] #2853 closed

[2021-05-08 19:27] Chadha93 commented on #2802
@navendu-pottekkat  I have added the Filter.js file. Now other functionalities can be added to it in this same issue.

[2021-05-08 19:40] Anita-ihuman opened #2883 "[Docs] Update the Docs with the list CloudEvents"
**Current State:**
This issue is awaiting additional context / design spec material

**Desired State:**
The  CloudEvents should be listed in the Docs.

---
**Contributor Resources**
- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)
- [Instructions for contributing to documentation](https://github.com/laye

[2021-05-09 08:33] Jassi10000 commented on #2879
@navendu-pottekkat  @leecalcote

![image](https://user-images.githubusercontent.com/64856348/117565483-2cb96b00-b0cf-11eb-9e30-bbe1044aacb3.png)

Before I even changed the code , I saw this in the code
Is this approach correct ?

coz this CSS  property makes first letter of every word capital  , but here it's not working for all words

[2021-05-09 10:39] leecalcote commented on #2879
This is a prior attempt at solving the issue. It might be useful to iterate on this approach. CSS is one way to achieve the desired result.

[2021-05-09 10:44] Jassi10000 commented on #2879
Actually I guess , due to issues faced in setting up my environment
Give me some time , will be up with this

[2021-05-09 11:36] leecalcote opened #2884 "[mesheryctl] Unhandled error in `system logs` when Meshery is not running"
#### Description
With Meshery not running and the current context of meshconfig set to "platform: docker", `mesheryctl system logs` does not gracefully handle this situation (see logs).

#### Expected Behavior
- Docker platform: Prompt user with a question to start Docker.
- Kubernetes platform: Prompt user with a question to deploy Docker.

#### Screenshots/Logs
[code]

#### Environment:
- Mesher

[2021-05-09 14:48] leecalcote commented on #2307
Wow. This is excellent.

[2021-05-09 16:34] fallmor commented on #2827
hello @navendu-pottekkat  @leecalcote , is there an api exposed to get meshery perf test profile or configuration ?

[2021-05-09 17:13] #2752 closed

[2021-05-09 17:39] #2737 closed

[2021-05-09 23:29] leecalcote commented on #2827
@fallmor here's a spreadsheet containing a list of them - https://docs.google.com/spreadsheets/d/1ABJCbfQRi0uN_YoP2kmHZ-lTI4S4QuvRk1_unomKNRE/edit#gid=1241442399

[2021-05-10 04:17] piyushsingariya commented on #2863
Hey @sanjana-98, any updates? Facing any blockers?

[2021-05-11 00:58] leecalcote opened #2888 "[UI] User Profile menu jumping to the left in Safari"
#### Description
The user profile and its menu jumps to the left when clicked on in Safari.

#### Expected Behavior
The menu should stay in the same position.

#### Screenshots/Logs

https://user-images.githubusercontent.com/7570704/117742272-fb719580-b1c9-11eb-9fb0-03c63388d301.mov

#### Environment:
- Meshery Version: v0.5.11
- Host OS: MacOS
- Browser: Safari

[2021-05-11 01:05] leecalcote opened #2889 "[Docs] User Tokens: What they are and how to get yours"
**Current State:**
The Meshery REST API requires a valid user token for most of its endpoints, but not all.

**Desired State:**
Meshery docs should describe how users can download their token.

This page can be updated - https://docs.meshery.io/extensibility/api

---
**Contributor Resources**
- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation source](https://github.c

[2021-05-11 01:17] #2858 closed

[2021-05-11 05:13] navendu-pottekkat opened #2890 "[mesheryctl] `m` alias for `mesheryctl` in `system completion`"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

`mesheryctl system completion` adds shell completion(automatic command completion).

#### Desired Behavior

It should also add an alias `m` for `mesheryctl` so that it will be easy for users to use `mesheryctl`.

`alias m='mesheryctl'`

---

#### Contributor Resources

- [mesheryctl C

[2021-05-11 12:26] samirparhi-dev commented on #2890
From my point of view , We should not enforce the User Preference. It is should be up to the user how they want their alias to be. I think `kubectl` does not enforce the alias too.

[2021-05-11 14:11] leecalcote opened #2896 "[UI] Overlapping chip with namespace input filed"
#### Description

<img width="695" alt="Screen Shot 2021-05-11 at 9 08 03 AM" src="https://user-images.githubusercontent.com/7570704/117830037-e41dc100-b238-11eb-9760-c53f2c72746c.png">

#### Expected Behavior
Margins between cards should be consistent. Breakpoint should be reexamined. Font size should not change for just one component, but for all (if at all).

[2021-05-11 14:52] srisatya1197 commented on #2896
@leecalcote Sir can I know more about expected behavior.

[2021-05-11 15:49] Jassi10000 commented on #2896
Ya , would like to do some hands dirty on this issue

[2021-05-11 15:56] srisatya1197 commented on #2896
@leecalcote @Jassi10000 completely fine.

[2021-05-12 10:32] ankingcodes commented on #2890
What about zsh users ? If the alias is added only to bashrc, it would be inaccessible to zsh users. Should we add to both bashrc & zshrc ?

[2021-05-12 10:36] #2696 closed

[2021-05-12 11:02] navendu-pottekkat commented on #2890
@ankingcodes We do support `bash`, `zsh` and also `fish`. The user can actually pass in an argument when running the `system completion` command.

[2021-05-12 11:53] utkarsh-pro opened #2901 "Add local "Application" Pattern capability"
#### Current Behavior
Right now meshery server has only one trait.

#### Desired Behavior
"Application" specific OAM traits and workload definition needs to be added in meshery server in order to add those capabilities.

An `application` pattern may look like:
[code]

#### Acceptance Tests
1. New Trait Definition must be added along with their JSON schema
2. New Workload Definition must be added a

[2021-05-12 12:22] leecalcote opened #2902 "[API] Open API Specification and Documentation"
#### Current Behavior
Meshery's REST APIs are only documented in [this spreadsheet](https://docs.google.com/spreadsheets/d/1ABJCbfQRi0uN_YoP2kmHZ-lTI4S4QuvRk1_unomKNRE/edit#) and Meshery's REST API endpoints are defined in [server.go](https://github.com/layer5io/meshery/blob/master/router/server.go), but not well-commented or externally documented.

#### Desired Behavior
1. Autogenerated, Open API

[2021-05-12 16:06] leecalcote opened #2903 "[Docs] Roadmap items missing bullet points"
**Current State:**
A couple of [roadmap](https://github.com/layer5io/meshery/blob/master/ROADMAP.md) entries are missing bullet points, but should have them.

**Screenshot**
<img width="567" alt="Screen Shot 2021-05-12 at 11 05 17 AM" src="https://user-images.githubusercontent.com/7570704/118007690-fb7cad00-b311-11eb-8335-cced041d9cca.png">

---
**Contributor Resources**
- [Meshery documentation s

[2021-05-12 21:17] #2872 closed

[2021-05-12 21:31] #2861 closed

[2021-05-12 21:32] #2765 closed

[2021-05-12 21:59] leecalcote opened #2905 "[CI] Notify Providers workflow should not run on mesheryctl or docs changes"
#### Description
The [Notify Providers workflow](https://github.com/layer5io/meshery/actions/workflows/notify-providers.yaml) is running too frequently.

#### Expected Behavior
The [Notify Providers workflow](https://github.com/layer5io/meshery/actions/workflows/notify-providers.yaml) should:

**Run when:**

- A tagged release (stable release) is made.
- Meshery Server or Meshery UI changes are me

[2021-05-12 22:00] leecalcote commented on #2905
Mr. Martinez (@ramrodo) would you might taking a crack at this? The Meshery Cloud remote provider repo is running out of build time for the month.

[2021-05-12 22:24] leecalcote opened #2906 "[mesheryctl] Add `--skip-update` flag to `system restart` command"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
`system start` offers user the ability the flag `--skip-update`, which has the effect of allowing them to bypass checking for and downloading new versions of Meshery's container images.

#### Desired Behavior
Ideally, `system restart` supports the same `--skip-update` flag with the sam

[2021-05-13 02:13] leecalcote opened #2907 "[CI] Create Release Notes PR Workflow failing"
#### Current Behavior
The [automated release notes workflow](https://github.com/layer5io/meshery/blob/master/.github/workflows/release-notes.yml) is failing at what seems to be [this step](https://github.com/layer5io/meshery/runs/2570815225?check_suite_focus=true#step:3:480).

Release notes from v0.5.2 and prior have been published, but v0.5.3 to 0.5.12 are missing.

#### Reference:
- [Meshery Bui

[2021-05-13 02:22] leecalcote commented on #337
Thank you for this feedback, @antweiss 👍

[2021-05-13 02:22] #337 closed

[2021-05-13 02:23] leecalcote commented on #382
Redirected endpoints are now followed for Fortio-based performance tests.

[2021-05-13 02:23] #382 closed

[2021-05-13 02:25] leecalcote commented on #638
Related to #2902

[2021-05-13 02:28] #731 closed

[2021-05-13 02:29] #849 closed

[2021-05-13 02:29] #924 closed

[2021-05-13 02:30] #942 closed

[2021-05-13 02:30] #1076 closed

[2021-05-13 02:31] leecalcote commented on #1101
Is this still an issue?

[2021-05-13 02:32] leecalcote commented on #2541
@piyushsingariya is this still an issue?

[2021-05-13 02:32] #2577 closed

[2021-05-13 02:32] leecalcote commented on #2577
@theprogrammedwords you're right! Thank you.

[2021-05-13 02:35] leecalcote opened #2908 "[Docs] Overview: Broken markdown tables in overview page"
**Current State:**
[Overview page](https://docs.meshery.io/overview) has broken markdown tables.

**Screenshot:**
<img width="1102" alt="Screen Shot 2021-05-12 at 9 34 23 PM" src="https://user-images.githubusercontent.com/7570704/118069471-e29fe600-b369-11eb-957d-e73928e93a5e.png">

---
**Contributor Resources**
- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation sour

[2021-05-13 02:36] #2839 closed

[2021-05-13 02:46] leecalcote opened #2909 "[mesheryctl] Meshery Operator not deleted on `system stop`"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

Running `system stop` does not remove Meshery Operator.

[code]

#### Environment

- Host OS: MacOS
- Meshery Version: v0.5.12
- Platform: Kubernetes (Docker Desktop)

[code]
---

#### Contributor Resources

- [mesheryctl Contributing Guide](https://github.com/layer5io/meshery/blob/ma

[2021-05-13 02:46] leecalcote commented on #2909
@meshery/mesheryctl-contributors

[2021-05-13 02:57] leecalcote opened #2910 "[mesheryctl] Invalid Meshery endpoint returned on Kubernetes platform (Docker Desktop)"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
`system start` identifies Meshery endpoint on wrong port. IN this case, it identifies `9081` when it is `32389` that the Meshery service is exposed on.

#### Screenshots/Logs
[code]

- Host OS: MacOS
- Meshery Version: v0.5.12
- Platform: Kubernetes (Docker Desktop)

---

#### Contribu

[2021-05-13 02:57] leecalcote commented on #2910
@meshery/mesheryctl-contributors

[2021-05-13 03:05] leecalcote opened #2911 "[mesheryctl] Kubernetes: `system logs` assumes Meshery Operator pod"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
`mesheryctl` users have no way to getting logs from Meshery components deployed on Kubernetes.

#### Screenshots/Logs

[code]

- Host OS: MacOS
- Meshery Version: v0.5.12
- Platform: Kubernetes (Docker Desktop)

#### Acceptance Tests
1. By default, users should see logs from Meshery Se

[2021-05-13 03:06] leecalcote commented on #2911
@meshery/mesheryctl-contributors

[2021-05-13 03:20] leecalcote opened #2912 "[Performance] Nighthawk: Connection to server got disconnected"
#### Description

Performance tests with Nighthawk fails.

Test Configuration:

<img width="1155" alt="Screen Shot 2021-05-12 at 10 20 00 PM" src="https://user-images.githubusercontent.com/7570704/118072808-37def600-b370-11eb-8d61-661177a6d824.png">

#### Screenshots/Logs
<img width="958" alt="Screen Shot 2021-05-12 at 10 17 46 PM" src="https://user-images.githubusercontent.com/7570704/118072691-f

[2021-05-13 04:41] navendu-pottekkat commented on #2909
The operator manifests are not downloaded when the platform is Docker. I will make a fix ASAP.

[2021-05-13 05:37] piyushsingariya opened #2913 "[UI] Terminating `meshery-operator` through UI Terminates all meshery pods"
#### Description
When a user terminates `meshery-operator` through UI-client, it triggers all meshery namespace pods to be deleted.

#### Expected Behavior
Only pods related to `meshery-operator` should be terminated.

#### Screenshots/Logs
[code]
#### Environment:
- Meshery Version: v0.5.12

[2021-05-13 06:17] #2909 closed

[2021-05-13 06:28] navendu-pottekkat commented on #2911
@leecalcote This is because the operator pod has 2 containers and we do not explicitly specify which container to get the logs from.

Here is the error reproduced with `kubectl`-

![Screenshot from 2021-05-13 11-51-44](https://user-images.githubusercontent.com/49474499/118086572-ce97cb00-b3e1-11eb-896e-e3f08196dcca.png)

We did not have to handle this before because all the other pods have only on

[2021-05-13 07:38] navendu-pottekkat commented on #2911
There may not be a straightforward way to do this with the client-go package. There is a workaround, but I will check if we can find another way.

[2021-05-13 07:55] navendu-pottekkat commented on #2910
@leecalcote @metonymic-smokey I'm getting the same error when I try on minikube and kind.

In both, I do not have an external load balancer but the endpoint which meshery detects is localhost. I guess this should be fixed if I have a loadbalancer but I'm not sure.

If I deploy to minikube should I get the endpoint as `<minikube ip>:port` ?

Anyway, this would not be an error in mesheryctl particul

[2021-05-13 08:11] metonymic-smokey commented on #2910
@navendu-pottekkat I'm facing the same issue when i try with `upstream/master` :(
This definitely wasn't the case earlier when the `system status` PR was merged. It was navigating to the right endpoints correctly.

[2021-05-13 09:20] piyushsingariya commented on #2902
I want to give this a shot. I learning how to work with `go-swagger`.

[2021-05-13 13:15] navendu-pottekkat commented on #2652
This will be fixed. Not a stale issue

[2021-05-13 13:21] leecalcote commented on #2913
Good eye, @piyushsingariya

[2021-05-13 13:22] leecalcote commented on #2905
@kumarabd

[2021-05-13 13:48] alphaX86 commented on #2906
Can I look and take up this issue? 😄

[2021-05-13 15:10] leecalcote commented on #2906
Sounds good. FYI, there is a bug hunting session being scheduled for `mesheryctl` shortly.

[2021-05-13 15:26] leecalcote opened #2917 "[UI] GraphQL Subscription for Test Results"
#### Current Behavior
When a user is on the /performance page, runs a performance test and the results return, the count of performance tests does not visibly increment until the user refreshes the screen or navigates away and back again.

#### Desired Behavior
The performance test count should update dynamically.

#### Implementation
This information should be supplied over a GraphQL subscription

[2021-05-13 15:26] leecalcote commented on #2917
@srisatya1197 would you like to try this one?

[2021-05-13 15:48] srisatya1197 commented on #2917
Sure @leecalcote Sir. But it may take some time. Do you have any problem with that , please let me know.

[2021-05-13 15:53] leecalcote commented on #2917
Thanks for setting expectations, @srisatya1197. If this works for you, let’s set a two week limit and bring in help or reassign at that time. Ultimately, the fix here is likely to include the need to enhance the existing graphql resolvers (in golang), too.

[2021-05-13 16:26] piyushsingariya commented on #2541
Yeah, I'm facing it.

[2021-05-13 16:36] ramrodo commented on #2905
Sure, I'll take it.

[2021-05-13 16:58] leecalcote opened #2918 "[mesheryctl] Kubernetes: `system stop` shows invalid endpoint"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
Scenario: Meshery is stopped. Current-context is Kubernetes.

`system status` is showing an invalid endpoint to Meshery endpoint.

[code]

#### Desired Behavior

Keep the behavior the same between Docker and Kubernetes platform. Present the user with the same message:

[code]

- Host O

[2021-05-13 17:01] leecalcote opened #2919 "[mesheryctl] Grammar: Run-on sentence in `system stop` for Docker platform"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
Scenario: Meshery is stopped. Current-context is Kubernetes.

[code]

#### Desired Behavior

[code]

Add two periods and capitalize "R"un.

---

#### Contributor Resources

- [mesheryctl Contributing Guide](https://github.com/layer5io/meshery/blob/master/mesheryctl/README.md)
- [Beginn

[2021-05-13 17:01] srisatya1197 commented on #2917
I'm ready to do it but I want to make sure that everything goes well. Thanks for the motivation @leecalcote Sir.

[2021-05-13 17:04] pottekkat commented on #2918
@leecalcote This is not an issue with the endpoint. This is because of a bug in the preRunChecks. I was about to open an issue. We can close that now.

The endpoint issue is being addressed in this issue https://github.com/meshery/meshery/issues/2910

[2021-05-13 17:13] navendu-pottekkat opened #2920 "[mesheryctl] bug in `isMesheryRunning` for Kubernetes platform"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

`IsMesheryRunning` ([pkg/utils/helpers.go Line 321](https://github.com/layer5io/meshery/blob/c0407a99afcb315e7fda9a9b8076245a66c12a2b/mesheryctl/pkg/utils/helpers.go#L321-L321)) fails when `mesheryctl system stop` is executed.

#### Desired Behavior

`IsMesheryRunning` should instead

[2021-05-13 17:28] ramrodo opened #2921 "[CI] Have a Meshery development environment on AWS"
#### Current Behavior
We don't have a dev environment of Meshery where we can access through the UI

#### Desired Behavior
Have Meshery UI deployed in AWS to be accessed for everyone

#### Implementation
Use EC2 instances or EKS service to deploy Meshery UI.

#### Reference:
- [Meshery Build & Release Strategy](https://docs.google.com/document/d/11nAxYtz2SUusCYZ0JeNRrOLIxkgmmbUVWz63MBZV2oE/edit#)

[2021-05-13 17:32] pottekkat commented on #2918
Opened issue- https://github.com/meshery/meshery/issues/2920
Fixing it

[2021-05-13 17:36] navendu-pottekkat commented on #2919
@leecalcote currently, `mesheryctl system status` for Kubernetes platform does not show this error.

The platform must be docker. Will add the check in Kubernetes, as well as change the logs.

[2021-05-13 18:09] shivaylamba commented on #2921
Is this going to need a minikube installation to run in the dev enviornment?

[2021-05-13 18:12] navendu-pottekkat opened #2923 "[mesheryctl] Fix `mesheryctl mesh validate` command"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

`mesheryctl mesh validate` command is broken.

#### Desired Behavior

As a mesheryctl user, I would like to run SMI conformance tests.

---

#### Implementation

Fix the existing mesheryctl mesh validate command to successfully run the SMI conformance tests.

Remove the --namespace fl

[2021-05-13 18:13] navendu-pottekkat commented on #2923
@dhruv0000 FYI

[2021-05-13 18:26] navendu-pottekkat opened #2924 "[mesheryctl] `system update` should pull down the latest image and restart the containers"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

`mesheryctl system update` gets the latest manifest files from GitHub and applies it to the cluster.

#### Desired Behavior

`mesheryctl system update` should get the latest manifest files, apply it to the cluster, restart the pods.

An optional `--skip-reset` flag should also be adde

[2021-05-13 18:42] himanshu007-creator commented on #2905
Hi, i would like to work on this issue!

[2021-05-13 19:25] adithyaakrishna opened #2925 "[Meshery UI] - The Meshery Provider UI Needs Some Changes - Button, Headings, Modal"
#### Current Behavior
- There are two buttons, which should be made as a single one.

![image](https://user-images.githubusercontent.com/23498248/118175644-03da0280-b44e-11eb-9574-e254060cb4a4.png)

-  The Dividers needs to have it's color changed and add margins at the end along with Disabled text above it (Marked in Red Below)

![image](https://user-images.githubusercontent.com/23498248/11817582

[2021-05-13 19:28] adithyaakrishna commented on #2925
@leecalcote I guess these are all the tasks or concerns to be addressed right? Do let me know if there are any changes or other stuff to be added

[2021-05-13 19:33] leecalcote commented on #2925
Perfect

[2021-05-13 20:11] #2911 closed

[2021-05-13 20:58] adithyaakrishna commented on #2917
Hey @srisatya1197 , here's a clue https://github.com/meshery/meshery/blob/master/ui/components/Navigator.js .
Happy Hacking 🚀

[2021-05-13 21:07] #2924 closed

[2021-05-13 21:07] #2918 closed

[2021-05-13 21:07] #2919 closed

[2021-05-13 21:07] #2920 closed

[2021-05-13 21:10] adithyaakrishna commented on #2908
This is a strange thing, VSCode shows it proper 👀
![image](https://user-images.githubusercontent.com/23498248/118188214-ad74c000-b45d-11eb-9690-280d4a803a37.png)

[2021-05-13 23:51] ramrodo commented on #2921
Not really. If we use EKS, the Kubernetes runner is already there. If not, we can use KinD.

[2021-05-14 08:22] amino19 commented on #2903
Hey, I think, this issue has resolved..

[2021-05-14 10:13] srisatya1197 commented on #2917
@adithyaakrishna Thank you.

[2021-05-14 10:35] leecalcote commented on #2903
@amino19 Thank you. You’re right.

[2021-05-14 10:35] #2903 closed

[2021-05-14 11:26] navendu-pottekkat commented on #2884
@leecalcote Could not reproduce the issue either. We do check if Meshery is running before we try to get the logs for both platforms.
![Screenshot from 2021-05-14 16-53-17](https://user-images.githubusercontent.com/49474499/118264446-53afdc80-b4d5-11eb-86fa-a6cbd2d9a872.png)

[2021-05-14 11:28] navendu-pottekkat commented on #2830
Fixed in #2880

[2021-05-14 11:28] #2830 closed

[2021-05-14 11:51] leecalcote commented on #2884
Regarding `system logs`, I will assume that I neglected to use `./mesheryctl` and used `mesheryctl` instead (or something like that). I have updated the test case status above.

[2021-05-14 11:52] leecalcote commented on #2884
Hmm. This is odd. The exit code above must have come from somewhere...

[2021-05-14 17:57] leecalcote opened #2931 "Service mesh playground"
See https://layer5.io/programs/lfx for details.

[2021-05-14 20:47] Ayush-Khandelwal-007 commented on #1146
Hi @leecalcote ,I would like to work on it.

[2021-05-15 08:40] navendu-pottekkat opened #2932 "[mesheryctl] `system status` does not show the status of the `meshery-operator` for `platform: docker`"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

`system status` for `platform: docker` does not show the status of the `meshery-operator`-

![Screenshot from 2021-05-15 14-06-17](https://user-images.githubusercontent.com/49474499/118354127-291e5c00-b587-11eb-82fb-aee0a83582e5.png)

#### Desired Behavior

It should also display the

[2021-05-15 09:46] navendu-pottekkat opened #2933 "[mesheryctl] Failing to get release tag from GitHub causing `system start` to fail"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

GitHub only allows 60 unauthenticated API calls in an hour (see https://docs.github.com/rest/overview/resources-in-the-rest-api#rate-limiting).

I was testing out `mesheryctl` in development and hit this limit.

![Screenshot from 2021-05-15 15-14-15](https://user-images.githubusercont

[2021-05-15 10:29] Ayush-Khandelwal-007 commented on #1712
@leecalcote I would like to work on this.

[2021-05-15 13:24] samirparhi-dev commented on #2931
Just Curious , What exactly to be done here?

[2021-05-15 15:46] leecalcote opened #2935 "[Docs] `mesheryctl system reset` page missing"
#### Current State
No page exists for this command in the [mesheryctl Command Reference](https://docs.meshery.io/reference/mesheryctl).

#### Desired State
- A subcommand page should be dedicated to `mesheryctl system reset`.

#### Implementation
1. Create an entry for this subcommand in https://github.com/layer5io/meshery/tree/master/docs/_data/mesheryctlcommands/

---
**Contributor Resources**
-

[2021-05-15 15:51] leecalcote opened #2936 "[Docs] `mesheryctl system update` page missing"
#### Current State
No page exists for this command in the [mesheryctl Command Reference](https://docs.meshery.io/reference/mesheryctl).

#### Desired State
A docs page for this subcommand should be available.

#### Implementation
1. Create an entry for this subcommand in https://github.com/layer5io/meshery/tree/master/docs/_data/mesheryctlcommands/

---
**Contributor Resources**
- [Meshery documen

[2021-05-15 15:57] leecalcote opened #2937 "[Docs] `mesheryctl system logs` page missing"
#### Current State
No page exists for this command in the [mesheryctl Command Reference](https://docs.meshery.io/reference/mesheryctl).

#### Desired State
A docs page for this subcommand should be available.

#### Implementation
1. Create an entry for this subcommand in https://github.com/layer5io/meshery/tree/master/docs/_data/mesheryctlcommands/

---
**Contributor Resources**
- [Meshery documen

[2021-05-15 15:58] leecalcote opened #2938 "[Docs] `mesheryctl system status` page missing"
#### Current State
No page exists for this command in the [mesheryctl Command Reference](https://docs.meshery.io/reference/mesheryctl).

#### Desired State
A docs page for this subcommand should be available.

#### Implementation
1. Create an entry for this subcommand in https://github.com/layer5io/meshery/tree/master/docs/_data/mesheryctlcommands/

---
**Contributor Resources**
- [Meshery documen

[2021-05-15 15:59] leecalcote opened #2939 "[Docs] `mesheryctl system channel --switch` page missing"
#### Current State
No page exists for this command in the [mesheryctl Command Reference](https://docs.meshery.io/reference/mesheryctl).

#### Desired State
A docs page for this subcommand should be available.

#### Implementation
1. Create an entry for this subcommand in https://github.com/layer5io/meshery/tree/master/docs/_data/mesheryctlcommands/

---
**Contributor Resources**
- [Meshery documen

[2021-05-15 16:00] leecalcote opened #2940 "[Docs] `mesheryctl system config` page missing"
#### Current State
No page exists for this command in the [mesheryctl Command Reference](https://docs.meshery.io/reference/mesheryctl).

#### Desired State
A docs page for this subcommand should be available.

#### Implementation
1. Create an entry for this subcommand in https://github.com/layer5io/meshery/tree/master/docs/_data/mesheryctlcommands/

---
**Contributor Resources**
- [Meshery documen

[2021-05-15 16:03] leecalcote opened #2941 "[Docs] `mesheryctl system context delete` page missing"
#### Current State
No page exists for this command in the [mesheryctl Command Reference](https://docs.meshery.io/reference/mesheryctl).

#### Desired State
A docs page for this subcommand should be available.

#### Implementation
1. Create an entry for this subcommand in https://github.com/layer5io/meshery/tree/master/docs/_data/mesheryctlcommands/

---
**Contributor Resources**
- [Meshery documen

[2021-05-15 16:03] leecalcote opened #2942 "[Docs] `mesheryctl system context switch` page missing"
#### Current State
No page exists for this command in the [mesheryctl Command Reference](https://docs.meshery.io/reference/mesheryctl).

#### Desired State
A docs page for this subcommand should be available.

#### Implementation
1. Create an entry for this subcommand in https://github.com/layer5io/meshery/tree/master/docs/_data/mesheryctlcommands/

---
**Contributor Resources**
- [Meshery documen

[2021-05-15 16:04] leecalcote opened #2943 "[Docs] `mesheryctl system restart` page missing"
#### Current State
No page exists for this command in the [mesheryctl Command Reference](https://docs.meshery.io/reference/mesheryctl).

#### Desired State
A docs page for this subcommand should be available.

#### Implementation
1. Create an entry for this subcommand in https://github.com/layer5io/meshery/tree/master/docs/_data/mesheryctlcommands/

---
**Contributor Resources**
- [Meshery documen

[2021-05-15 16:04] leecalcote opened #2944 "[Docs] `mesheryctl system completion` page missing"
#### Current State
No page exists for this command in the [mesheryctl Command Reference](https://docs.meshery.io/reference/mesheryctl).

#### Desired State
A docs page for this subcommand should be available.

#### Implementation
1. Create an entry for this subcommand in https://github.com/layer5io/meshery/tree/master/docs/_data/mesheryctlcommands/

---
**Contributor Resources**
- [Meshery documen

[2021-05-15 16:06] leecalcote opened #2945 "[Docs] `mesheryctl system mesh validate` page missing"
#### Current State
No page exists for this command in the [mesheryctl Command Reference](https://docs.meshery.io/reference/mesheryctl).

#### Desired State
A docs page for this subcommand should be available.

#### Implementation
1. Create an entry for this subcommand in https://github.com/layer5io/meshery/tree/master/docs/_data/mesheryctlcommands/

---
**Contributor Resources**
- [Meshery documen

[2021-05-15 16:06] leecalcote opened #2946 "[Docs] `mesheryctl pattern apply` page missing"
#### Current State
No page exists for this command in the [mesheryctl Command Reference](https://docs.meshery.io/reference/mesheryctl).

#### Desired State
A docs page for this subcommand should be available.

#### Implementation
1. Create an entry for this subcommand in https://github.com/layer5io/meshery/tree/master/docs/_data/mesheryctlcommands/

---
**Contributor Resources**
- [Meshery documen

[2021-05-15 16:07] leecalcote opened #2947 "[Docs] `mesheryctl pattern delete` page missing"
#### Current State
No page exists for this command in the [mesheryctl Command Reference](https://docs.meshery.io/reference/mesheryctl).

#### Desired State
A docs page for this subcommand should be available.

#### Implementation
1. Create an entry for this subcommand in https://github.com/layer5io/meshery/tree/master/docs/_data/mesheryctlcommands/

---
**Contributor Resources**
- [Meshery documen

[2021-05-15 16:07] amino19 commented on #2908
Yes actually, it's shows table is properly configured, how this issue arrised! 🤔
Can I take the charge & lookout over docs. If I can do something?

[2021-05-15 16:32] leecalcote opened #2948 "[mesheryctl] Add `-t` convenience flag as an alternative to `perf --token`"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
Users have to type the full name the `--token` flag as a mandatory parameter to `mesheryctl perf`.

#### Desired Behavior
Allow users to use `-t` as convenient shorthand for this flag.

#### Acceptance Tests
1. A token is still required. Users can use either -t or --token to supply a t

[2021-05-15 16:36] leecalcote opened #2949 "[mesheryctl] meshconfig support for Tokens"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
The meshconfig (config.yaml) file offers a section for Tokens, but none of the `mesheryctl` commands utilize this section of meshconfig. Instead, the command require users to provide a token as a mandatory flag.

#### Desired Behavior
Allow users to designate use of tokens per context.

[2021-05-16 02:27] #2698 closed

[2021-05-16 02:27] #2699 closed

[2021-05-16 02:27] #2932 closed

[2021-05-16 06:53] metonymic-smokey opened #2952 "[mesheryctl] Add confirmation when channel is set"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
When running `meheryerctl channel set`, there is no user confirmation indicating the channel set.

#### Desired Behavior
A confirmation message along the lines of `Set channel <edge/stable/edge-version/stable-version>` should be shown.

#### Screenshots/Logs
Current state:
![image](htt

[2021-05-16 12:11] amino19 commented on #2908
![table-fixed](https://user-images.githubusercontent.com/75872316/118396521-855bab80-b66d-11eb-9556-03c9bc8240d6.JPG)

@leecalcote Sir, it's fixed now & able to merge..
Pl verify! 😃

[2021-05-16 13:01] dhruv0000 commented on #2881
@leecalcote Meshery Playground is available for all the providers.

[2021-05-16 14:03] #2908 closed

[2021-05-16 16:56] navendu-pottekkat opened #2953 "[mesheryctl] `system start` fails if pods are being terminated in the "meshery" namespace"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

When users run `mesheryctl system start` right after they run `mesheryctl system stop`, deploying the Kubernetes manifests fail because the pods in the "meshery" namespace are being terminated.

This also causes commands like `system restart` to fail in Docker platform (because start

[2021-05-16 17:12] navendu-pottekkat opened #2954 "[mesheryctl] `system start` and other commands fail when the version in the meshconfig is not available in GitHub"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

Running `mesheryctl system start` with an invalid version(version that was not released or versions that are not yet released) in the `meshconfig` file will fail as these are not available on GitHub.

![Screenshot from 2021-05-16 22-37-10](https://user-images.githubusercontent.com/494

[2021-05-16 17:17] navendu-pottekkat opened #2955 "[mesheryctl] Fails to retrieve manifests from the `.meshery/manifests` folder for Windows platform"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

Windows users are unable to start Meshery with `mesheryctl` as it is failing to create the manifests folder or not able to access the manifest folder.

#### Desired Behavior

Windows should have the same behaviour as Mac and Linux and a manifests folder should be created to store and

[2021-05-16 17:23] navendu-pottekkat opened #2956 "[mesheryctl] Prevent mesheryctl from rewriting the meshery.yaml docker-compose file and allow users to specify version of the adapter"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

`mesheryctl` overwrites the **entire** configurations in the `meshery.yaml` after it is downloaded from GitHub on `system start`.

This prevents an advanced user from modifying the meshery.yaml file and use it.

The users cannot now specify a version of the adapter required. They are

[2021-05-16 17:42] navendu-pottekkat opened #2957 "[mesheryctl] `system start --reset` does not reset the meshconfig before starting Meshery"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

`mesheryctl system start --reset` does not reset the meshconfig file for Kubernetes and resets the meshconfig after starting Meshery in Docker(which will fail if the user had modified the meshconfig).

#### Desired Behavior

`mesheryctl system start --reset` should first reset the mes

[2021-05-16 17:49] navendu-pottekkat opened #2958 "[mesheryctl] `system update` does not update operator manifests for Docker platform"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

`mesheryctl system update` for Docker platform will only update the running containers and not the Meshery operator pods deployed on the Kubernetes cluster.

#### Desired Behavior

`mesheryctl system update` should also update the meshery-operator similar to how this command function

[2021-05-16 17:55] navendu-pottekkat opened #2959 "[mesheryctl] `system context delete` does not handle deleting the `current-context`"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

`mesheryctl system context delete <current-context name>` will delete the `current-context` leaving the `current-context` empty.

This will result in other commands failing.

#### Desired Behavior

Instead, `mesheryctl` could automatically set another context as the `current-context`

[2021-05-16 18:03] navendu-pottekkat opened #2960 "[mesheryctl] Identify areas of interactivity"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Desired Behavior

There are a lot of possible areas where mesheryctl can be interactive thereby reducing the effort required from the user to execute commands.

This can include but not limited to interactive prompts and lists. See https://github.com/manifoldco/promptui for some of the possible areas i

[2021-05-16 21:24] leecalcote commented on #2434
Still being developed. Team might have a demo for this week's Meshery Development meeting.

[2021-05-16 21:25] leecalcote commented on #1712
Hi @Ayush-Khandelwal-007, that would be great. 👍

[2021-05-16 23:05] #1146 closed

[2021-05-16 23:16] #2906 closed

[2021-05-16 23:18] leecalcote commented on #2931
@samirparhi-dev, think: "labs.play-with-k8s.com" for service meshes using Meshery.

[2021-05-17 01:34] alphaX86 commented on #2955
Sure @navendu-pottekkat

[2021-05-17 02:07] navendu-pottekkat opened #2961 "[mesheryctl] Kubernetes platform does not consider skipUpdate flag"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

Adding the `--skip-update` flag on Docker platform will skip updating Meshery containers and does not do anything for platform Kubernetes.

#### Desired Behavior

Kubernetes platform should also take this flag into account and provide a consistent UX for both the platforms.

---

####

[2021-05-17 02:40] leecalcote commented on #2458
@kumarabd status?

[2021-05-17 04:33] metonymic-smokey commented on #2954
@navendu-pottekkat does this look okay?
![image](https://user-images.githubusercontent.com/48997495/118432796-26db0f80-b6f7-11eb-8fdb-09a70dc34af9.png)

[2021-05-17 04:51] metonymic-smokey commented on #2954
Currently, version validation is done using regex. I think the approach will have to be changed, with the newer approach being fetching a list of release tags from github(using the API, similar to `GetLatestStableReleaseTag`) and checking if the version specified is part of the list.
What do you think?

[2021-05-17 05:36] navendu-pottekkat commented on #2954
Or, we could just throw an error when we try to fetch files from the invalid version. Basically just propagate the error. This will reduce the number of API calls to GitHub.

[2021-05-17 05:41] alphaX86 commented on #2955
**Environment details:**
Host OS: Windows 10
Meshery version: Stable - v0.5.12
Platform: Docker with Minikube enabled

[2021-05-17 05:54] piyushsingariya commented on #2955
@alphaX86 Could you paste the output here?

[2021-05-17 06:01] piyushsingariya commented on #2902
@leecalcote swagger should be set up under the `./handlers` folder. right?

[2021-05-17 06:17] alphaX86 commented on #2955
I'm at lecture meet right now... Will post once I'm free

[2021-05-17 06:23] Aisuko opened #2962 "Replace the image repo with the right address"
https://github.com/layer5io/meshery/blob/a17afc78f1c3abc81f760bac67f953dc95ca5cb0/install/kubernetes/helm/meshery/values.yaml#L9

[2021-05-17 06:24] Aisuko commented on #2962
The latest image  ` meshery/meshery:stable-latest`

[2021-05-17 06:30] rajibmitra commented on #2948
@leecalcote  hi Lee, I would like to work on this.

[2021-05-17 06:58] kumarabd commented on #2458
Yes this is done @leecalcote

[2021-05-17 06:58] #2458 closed

[2021-05-17 07:22] metonymic-smokey commented on #2954
yes, this sounds better.
To do this, I'm checking the response status code and if it is 404, displaying a message.
![image](https://user-images.githubusercontent.com/48997495/118447638-a88a6780-b70e-11eb-8bda-036b30b61420.png)

[2021-05-17 10:08] alphaX86 commented on #2955
**Output screenshot**:
![image](https://user-images.githubusercontent.com/59508546/118471691-a67fd300-b725-11eb-963a-b5238adbdc05.png)

**Steps to reproduce**:
1. Go to $HOME and find `.meshery` folder
2. Delete the folder entirely as a reset wipe
3. Now, start the Meshery and accept if it asks to create config file

[2021-05-17 10:09] alphaX86 commented on #2955
@piyushsingariya @navendu-pottekkat I have uploaded the pic as you guys requested. The info is also provided in above comments

[2021-05-17 10:10] alphaX86 commented on #2955
Actually it fails to create, when a manifest folder is created and a yaml file is made, Meshery works fine without issues

[2021-05-17 11:23] Blakelist7 commented on #2936
Hey! @leecalcote I want to work on this. Could you assign this to me?

[2021-05-17 11:27] pottekkat commented on #2955
This was actually a bug earlier, but I have fixed this in this PR https://github.com/meshery/meshery/pull/2914

Could you try this with the latest master branch and not with the current release? It was only fixed 4 days ago and was not released I guess.

[2021-05-17 13:27] alphaX86 commented on #2955
Need to install make tools in windows then.... That's the sole reason I moved to Linux for development. Anyway will keep you posted

[2021-05-17 14:00] alphaX86 commented on #2955
Well, actually never mind. I installed `make` via scoop. I'll try it now and edit details accordingly

[2021-05-17 14:11] alphaX86 commented on #2955
Make returned an error in Windows 😞😑😑
![image](https://user-images.githubusercontent.com/59508546/118502855-b7d9d700-b747-11eb-9d83-7a8240843a8b.png)

[2021-05-17 14:12] alphaX86 commented on #2955
![image](https://user-images.githubusercontent.com/59508546/118503179-012a2680-b748-11eb-9348-7ae274ba92de.png)

Sole reason why I don't trust Windows during development... 😑

[2021-05-17 14:14] alphaX86 commented on #2955
@navendu-pottekkat we need another tester for Windows platform, I could not compile it in Windows for `make`

[2021-05-17 15:31] leecalcote opened #2965 "[CI] Docs build previews are triggering on mesheryctl changes-only"
**Issue Description:**

Meshery Docs build previews (created by Netlify) should not be triggering when a PR is raised with no changes to `/docs/**`

**Example Issue:**

See the following PR as an example: https://github.com/layer5io/meshery/issues/2951#issuecomment-841775613. This PR should not have caused a deployment preview to be created.

[2021-05-17 19:33] leecalcote commented on #2936
Sounds great, @Blakelist7 👍

[2021-05-18 07:30] kumarabd opened #2968 "[mesheryctl] Context parameter to control service type deployed"
#### Current Behavior
Currently meshery when deployed in kubernetes, is deployed as service type NodePort by default.

#### Desired Behavior
Moving forward, the service type needs to be dynamically configured based on the user's preference, adding a context paramter called `serviceType` would suffice this need.

- Host OS: Mac Linux Windows
- Meshery Version: all
- Platform: Kubernetes

#### Imple

[2021-05-18 07:45] alphaX86 opened #2969 "[mesheryctl] Broken link (guides/mesheryctl/life-cycle-management) present at error logs of CTL Client"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

Whenever Meshery fails a given task, (eg., starting meshery etc) it shows up a link like "refer this link https://docs.meshery.io/guides/mesheryctl/#life-cycle-management" The link is actually broken and returns 404 error

#### Desired Behavior

The link must be replaced or the page m

[2021-05-18 10:08] anirudhjain75 opened #2971 "[mesheryctl] Use bash instead of sh"
#### Description

Currently using sh to execute `mesheryctl config gke --token <token_path>` returns an iilegal option error.

#### Expected Behavior

Successful configuration of mesheryctl with gke. Correct execution of the script.

#### Screenshots/Logs

[code]

[2021-05-18 10:09] anirudhjain75 commented on #2971
Quick fix is using bash to execute the script instead of sh. But might wanna keep in mind that not everyone uses bash actively and shell users are divided between zsh and bash. Some systems might not have bash installed

[2021-05-18 10:14] anirudhjain75 opened #2972 "[mesheryctl] Error due to inability to execute browser command in WSL"
#### Description

Error occurs in WSL when trying to invoke browser operations when there is none.

#### Expected Behavior

Not to execute browser command when none of the browsers are present. So no error will be displayed

#### Screenshots/Logs

[code]

[2021-05-18 10:17] leecalcote commented on #2972
Thanks for this, @anirudhjain75. A change in this behavior to not open a browser when a browser isn't present is ideal (irrespective of whether the OS is WSL or other).

[2021-05-18 10:25] leecalcote commented on #2971
Thanks for this, @anirudhjain75. I'm fearful that switching to bash only moves the dependency problem elsewhere (to requiring bash). @s1ntaxe770r any suggestions given your recent learnings with `echo`, `cat`, `print`, `printf`... and pipe failures?

[2021-05-18 11:17] leecalcote commented on #2969
The last “/“ can be removed.

[2021-05-18 12:21] leecalcote commented on #2948
@rajibmitra excellent. 🙂

[2021-05-18 12:54] utkarsh-pro commented on #2902
@piyushsingariya I was also adding them under `handlers` package in file - docs.go. It would avoid merge issues as it is very likely that something may change while you work upon the docs. Also, it would be nice to have docs in a dedicated file, much cleaner I believe.

[2021-05-18 13:45] piyushsingariya commented on #2902
@utkarsh-pro to maintain that we can smaller pull-requests and mention the handlers/files we're currently working on here. Like I'm currently working on `performance` and `pattern`.

[2021-05-18 14:03] utkarsh-pro commented on #2902
@piyushsingariya that's great however the convention in golang is to write package wide documentation in `doc.go`. Refer https://golang.org/src/fmt/doc.go if you would.

[2021-05-18 15:53] alphaX86 commented on #2969
It's removed

[2021-05-18 17:26] leecalcote commented on #2969
@alphaX86, rather, I mean that a fix here can be to use this url: https://docs.meshery.io/guides/mesheryctl#life-cycle-management.

[2021-05-18 20:38] #2969 closed

[2021-05-18 20:40] leecalcote opened #2976 "[mesheryctl] Context: New contexts not created from Template Config"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
utils/helpers.go has multiple references to Meshery's endpoint and endpoint protocol.

`mesheryctl system context create does not use the , but uses https://github.com/layer5io/meshery/blob/9deb67c837b7de17fc7cfc81fcb47b0dc9cc3816/mesheryctl/pkg/utils/helpers.go#L80-L80, not https://gi

[2021-05-19 01:28] alphaX86 commented on #2969
Hmm alright then

[2021-05-19 05:20] metonymic-smokey commented on #2954
@navendu-pottekkat is this format alright?

[2021-05-19 05:22] leecalcote commented on #2954
There's a regex in one of the commands (context?) to match against the semantic version scheme being used by the project.

[2021-05-19 05:54] kumarabd opened #2979 "[Meshery] Namespace drop box to be responsive"
#### Description
The Namespace dropdown currently lists all of the available namespaces in the cluster. When you have to add a new namespace, you will need to click on the `X` mark on the right and then type in values.

#### Expected Behaviour
The user should be enabled to type in the field when he clicks on it, instead of wanting to cross the `X` mark to type in (Current behaviour).

#### Screens

[2021-05-19 06:15] Ayush-Khandelwal-007 commented on #2979
I would like to work on this.

[2021-05-19 08:12] metonymic-smokey commented on #2954
@leecalcote I believe you're referring to this:
https://github.com/meshery/meshery/blob/c4042fa9dc491c9882595ae8e17ba37dc3d84a17/mesheryctl/internal/cli/root/config/config.go#L84

I'm not sure this handles invalid versions which match the regex(like v0.4.200) particularly well. Only at the GET request stage will the user get a message saying it failed to make a GET request, with the usage.
![image

[2021-05-19 11:42] navendu-pottekkat commented on #2958
Sure @metonymic-smokey Sounds good!

[2021-05-19 11:46] navendu-pottekkat commented on #2954
Yes, the only solution here is to make the GitHub API request call. I guess we can add that check when we validate the meshconfig file

[2021-05-19 11:50] alphaX86 commented on #2972
Ah one moment I also came across this...... @leecalcote and @anirudhjain75 this is caused by not installing `xdg-open` in WSL2. I also had it two days ago. After referring and installing the package, Meshery opened with no problems even in WSL2

[2021-05-19 12:03] leecalcote commented on #2972
Makes sense, @alphaX86. Thanks much. 👍

[2021-05-19 12:43] #2912 closed

[2021-05-19 13:30] kumarabd opened #2981 "[CI] Deployment yamls of meshery needs to be updated"
#### Description
The yamls files used for deploying meshery inside kubernetes cluster needs to be modified with updated service account, roles etc.

resource ref: https://github.com/layer5io/meshery/tree/master/install/deployment_yamls

#### Environment:
- Meshery Version:
- Kubernetes Version:
- Host OS:
- Browser:

[2021-05-19 13:31] kumarabd commented on #2981
@navendu-pottekkat can u confirm if these are the ones that are used for deployment?

[2021-05-19 13:52] pottekkat commented on #2981
@kumarabd All the files within these folder- https://github.com/meshery/meshery/tree/master/install/deployment_yamls/k8s

[2021-05-19 14:31] Anita-ihuman commented on #2935
@navendu-pottekkat I would like to work on this.

[2021-05-19 16:57] leecalcote commented on #2979
@Ayush-Khandelwal-007 sounds great. 👍

[2021-05-19 16:58] leecalcote commented on #2979
// @houshym FYI

[2021-05-19 17:18] DARK-art108 commented on #2952
Can I work upon this fix?

[2021-05-19 17:19] leecalcote commented on #2952
Line 133 is all yours, @DARK-art108 👍

[2021-05-19 17:20] DARK-art108 commented on #2952
yes thanks @leecalcote I am working upon it :)

[2021-05-19 17:39] vineethvanga18 commented on #2968
@abhishekkumkar A few clarifications regarding the issue

1. What should be the command for this?
2. By manifest, do you mean ~/.meshery/manifests/meshery-service.yaml?

[2021-05-19 18:14] ramrodo opened #2983 "Meshery Operator - Display status while it is Processing"
#### Description
When Meshery Operator is first activated, if the page is refreshed, the Meshery Operator switch and status will be deactivated besides it is processing the Operator.

#### Expected Behavior
Displays the real status while it is processing.

#### Screenshots/Logs

https://user-images.githubusercontent.com/2797052/118863046-0bf9ce00-b8a4-11eb-807a-0edf0e60348e.mp4

#### Environment:

[2021-05-19 20:20] leecalcote commented on #2983
Great ask. Your feedback and thoughts will be most helpful here - [Messaging Framework and Notification Center](https://docs.google.com/document/d/1_zpEWBcC6ngOLen_E_nc-octiUdBbpmdwwIX6qzo70M/edit) design spec

[2021-05-19 21:24] leecalcote commented on #2954
@metonymic-smokey sounds real good. Let's consolidate the version verification function to one location, if we can.

[2021-05-20 00:42] Maxgit3 commented on #2961
@navendu-pottekkat I could look into this

[2021-05-20 01:36] metonymic-smokey commented on #2954
@leecalcote
Yes, that is currently happening in `ValidateVersion` in `config.go`.

[2021-05-20 02:38] leecalcote commented on #2961
@Maxgit3 thanks for jumping in. As you consider this, @navendu-pottekkat, we would do well to specify the Acceptance Criteria or Acceptance Tests that defines the expected behavior.

[2021-05-20 03:00] #2962 closed

[2021-05-20 05:00] alphaX86 opened #2984 "[Docs] Rework `mesheryctl` command reference docs"
#### Current State
The command reference docs is a bit outdated and needs some work to make it good.

#### Desired State
For now, the command reference needs some following rework:
 1.  Description must be updated
 2.  New commands need to be added
 3.  "code" tag must be used only on commands
 4.  Fix existing bugs if any

---

#### Contributor Resources

- [Meshery documentation site](https://do

[2021-05-20 05:42] navendu-pottekkat commented on #2961
@Maxgit3 Thank you for jumping in. I will update the acceptance criteria shortly.

[2021-05-20 08:32] alphaX86 commented on #2972
@anirudhjain75 did you try installing xdg-open and open Meshery? If yes, then we can safely close this issue

[2021-05-20 10:57] tushar912 commented on #2957
@navendu-pottekkat I am interested to work on this.Can you assign it to me.

[2021-05-20 12:14] leecalcote commented on #2972
@alphaX86 good of you to follow up. Actually, the point of the issue is to not attempt to open a browser if any of the commands are missing (not to fix Anirudh’s environment).

[2021-05-20 18:19] Aniket118 commented on #2931
How can i contribute to this project?

[2021-05-21 01:25] #1712 closed

[2021-05-21 02:08] #2984 closed

[2021-05-21 05:14] leecalcote commented on #2309
Yes, @navendu-pottekkat. Your last description is spot on.

[2021-05-21 05:35] metonymic-smokey commented on #2958
@navendu-pottekkat in `update.go`, will the `skip-reset` flag apply the same way for docker as for kubernetes i.e. only restarting pods and not fetching manifests when the flag is used?

[2021-05-21 07:14] kumarabd commented on #2968
@navendu-pottekkat Will you help @vineethvanga18  with the docs explaining what context is?

[2021-05-21 07:48] navendu-pottekkat commented on #2958
It should behave similarly @metonymic-smokey

[2021-05-21 12:10] navendu-pottekkat commented on #2968
@vineethvanga18 The `config.yam`l will be modified to accommodate this. i.e Viper should properly read this config and get the `serviceType` parameter.

Then, as you mentioned, we should rewrite the manifest file to reflect this change.

`system context create` should have a flag which allows users to set this value. The default value should be decided if the user does not specify a value.

@abhis

[2021-05-21 14:55] adithyaakrishna commented on #2936
@Nikhil-Ladha I guess we can close this issue as PR #2974 fixes this

[2021-05-21 14:57] adithyaakrishna commented on #2940
@Blakelist7 Would you like to work on this? 👀

[2021-05-21 14:58] Nikhil-Ladha commented on #2936
Yes. Thank you @Blakelist7 .

[2021-05-21 14:58] #2936 closed

[2021-05-21 15:26] Alenjojo commented on #2983
Ca you assign me this. I will find and try to fix that bug, i'd love to work on it

[2021-05-21 16:21] leecalcote opened #2991 "[Docs] Releases: unhandled trailing forward slash in Jekyll configuration"
#### Current State

https://docs.meshery.io/project/releases/ leads to a 404.

#### Desired State
This is a Jekyll issue with trailing forward slashes as of Jekyll v4.0. Try https://docs.meshery.io/project/releases. Each page needs to be configured with a redirect to handle trailing forward slashes.

---

#### Contributor Resources

- [Meshery documentation site](https://docs.meshery.io/)
- [Meshe

[2021-05-21 16:21] leecalcote commented on #2991
// @samirparhi-dev

[2021-05-21 18:40] Alenjojo commented on #2983
hey hi , i need some help to get started.
Pls if you can

[2021-05-21 19:16] leecalcote commented on #2983
Hi @Alenjojo, it’s great of you to jump in here. This particular issue is quite complex. It will require you to digest the spec listed in the comment above and implement operation tracking in golang with CloudEvents across multiple components along with a graphql subscription and React to deliver. How about we get you another one that sets you up for success?

[2021-05-21 19:17] leecalcote commented on #2983
@Alenjojo, here you are - https://github.com/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+archived%3Afalse+org%3Alayer5io+label%3A%22help+wanted%22+  These issue have the “help wanted” label. Also, look for those with the “good first issue” label.

[2021-05-21 20:25] Blakelist7 commented on #2940
Sure.

[2021-05-21 21:40] #2965 closed

[2021-05-21 23:49] leecalcote opened #2994 "[mesheryctl] system context list: presents error, not info when missing contexts"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
[code]

#### Desired Behavior
[code]

#### Environment
No contexts present.

---

#### Contributor Resources

- [mesheryctl Contributing Guide](https://github.com/layer5io/meshery/blob/master/mesheryctl/README.md)
- [Beginner's guide to contributing to Meshery and mesheryctl](https://y

[2021-05-22 05:56] pottekkat commented on #2961
@Maxgit3 This will also involve your https://github.com/meshery/meshery/pull/2807 PR

`skip-update` should skip checking for new manifest files and pulling them. This relates to having cached manifests on the user's machine

[2021-05-22 07:01] Alenjojo commented on #2983
Alright thx, i'll look into it. And thx for the help

[2021-05-22 09:38] Alenjojo commented on #2398
Hey @leecalcote  i would be happy to resolve this issue. Its my first time in meshery will be able to help you to rearrange it in alphabetical order

[2021-05-22 09:46] #2619 closed

[2021-05-22 11:13] leecalcote commented on #2983
@Alenjojo, you bet. I hope this only encourages you And since you onto an issue and path of higher success.

[2021-05-22 11:26] leecalcote commented on #2398
Thanks much, @Alenjojo. I’m tagging @chinmaym07 here as the last individual to work on this issue, so that he can decide where how he would like to proceed.

[2021-05-22 11:34] #2994 closed

[2021-05-22 11:41] adithyaakrishna commented on #2598
Damn you bot, this is not a stale issue. Bad Bot 🤦‍♂️

[2021-05-22 11:42] Alenjojo commented on #2983
awe thx, your so empowering 😀

[2021-05-22 11:45] amino19 commented on #2947
Can you take the risk by assign this to me, @adithyaakrishna Sir? 😅

[2021-05-22 12:05] chinmaym07 commented on #2398
Hey @Alenjojo .. 👋🏻
You can definitely work on this .. My PR is incomplete right now .. You can refer to it & also refer to [this](https://github.com/meshery/meshery/pull/2865#pullrequestreview-655013890) comment to get a clear idea of the issue..

This issue doesn't require the files to be renamed. But it requires to restructure the way that we are iterating and sorting the pages in jekyll.
I'll

[2021-05-22 12:42] Alenjojo commented on #2398
thank you so much @chinmaym07  , i will for sure if i need any

[2021-05-22 19:16] Chadha93 opened #3004 "[Meshery UI - Draft] - Filter UI implementation"
#### Current Behavior
Changes not able to view locally even after configuring routes and building UI

#### Desired Behavior
discussion on a fix for the same

#### Implementation
Created routes pages for the filter UI and added entries in the navigator.

---
**[Contributor Guide](https://docs.meshery.io/project/contributing)**

[2021-05-22 19:27] Chadha93 commented on #3004
@leecalcote @utkarsh-pro @Nikhil-Ladha  This is a draft pr.
@utkarsh-pro I have updated the files as you have suggested and have rebuild the Meshery UI but was unable to view my changes locally. Could you please guide me from my draft pr, what further changes needed to be done? (no issues while building the UI)
![Screenshot from 2021-05-23 00-19-20](https://user-images.githubusercontent.com/654538

[2021-05-22 19:37] Chadha93 commented on #3004
Log file:
[log.txt](https://github.com/layer5io/meshery/files/6527025/log.txt)

[2021-05-23 02:04] #2925 closed

[2021-05-23 02:15] leecalcote commented on #3004
Nice work documenting you current progress and state of the challenge that you’re currently facing, @Chadha93. It’s nice to see this sort of diligence being exercised.

[2021-05-23 06:25] Aisuko commented on #1101
We can close this, the script under `.github/workflows/CI.yml` all can work well.

[2021-05-23 06:25] #1101 closed

[2021-05-23 07:48] Chadha93 commented on #3004
Thanks, @leecalcote I feel it will give a much more view of the issue and would be resolved accordingly.

[2021-05-23 08:04] Nikhil-Ladha commented on #3004
So, by not able to view you them, do you mean the link is not working or the item is not showing up on the Navigation Menu?

[2021-05-23 08:11] Nikhil-Ladha commented on #3004
The link is working and the page is rendered on navigating to `localhost:3000/configuration/filters`. But, the option will not be displayed in the Navigation Menu until you set `show: true`.

[2021-05-23 08:19] Nikhil-Ladha commented on #3004
Like after tweaking the values I was able to display the option without the check:
![Screenshot from 2021-05-23 13-48-57](https://user-images.githubusercontent.com/29438875/119253199-c0aa2d00-bbcd-11eb-9e29-c933ac9c82c9.png)

[2021-05-23 08:37] Chadha93 commented on #3004
It was giving me a `404 `page not found error when I tried using the URL. I haven't changed the `show value` for the filter because I logged in using` twitter` access and only `pattern` option was showing in the navigator

[2021-05-23 08:50] Nikhil-Ladha commented on #3004
Hmm....strange it works for me though.

[2021-05-23 11:12] Chadha93 commented on #3004
Yes it's working now with the URL but now showing in the navigator ( I have set the `show value true` )

[2021-05-23 11:23] Nikhil-Ladha commented on #3004
It should work without the show value as well, because ultimately it's a path, so that shouldn't matter.

[2021-05-23 16:24] tushar912 opened #3009 "[Docs] Document the drivers that are supported for minikube."
#### Current State
Currently there is no note regarding which drivers are supported for minikube.

#### Desired State
There should be a note regarding which drivers are supported for minikube.

#### Contributor Resources

- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)
- [Instructions for contributing t

[2021-05-24 01:47] leecalcote commented on #3009
Thank you, @tushar912 👍

[2021-05-24 04:29] leecalcote opened #3011 "[Docs] Publish information about contributing to Meshery Docs"
#### Current State
Meshery Docs has contributing information in the [`/docs` folder's readme](https://github.com/layer5io/meshery/tree/master/docs). There is a new contributing section in docs.meshery.io that would benefit from having a dedicated page to contributing to docs.

#### Desired State

1. create a new page: `projects/meshery-docs`; use `projects/meshery-ui` as a reference.
1. create an

[2021-05-24 13:32] ricknjacky commented on #3011
Can I take up this issue?

[2021-05-24 13:34] leecalcote commented on #3011
@ricknjacky that'd be great. 👍

[2021-05-24 13:42] ricknjacky commented on #3011
Thanks, any heads up on how to obviate this? I am quite new to the codebase...any insight would be really helpful.

[2021-05-24 13:49] leecalcote commented on #3011
@ricknjacky, yes, go through the instructions and links in the issue description. Ask specific questions as they arise.

[2021-05-24 14:20] Chadha93 commented on #3004
@leecalcote @Nikhil-Ladha (Update) - Now showing in navigator also ( don't worry about the `Filtering` was just playing with it ). I Will now focus on the schema form
![Screenshot from 2021-05-24 19-46-08](https://user-images.githubusercontent.com/65453826/119361333-2b8c5e80-bcc9-11eb-9a2e-299f641ab172.png)

[2021-05-24 17:03] Ayush-Khandelwal-007 opened #3013 "[Meshery] Input field for the config file works but looks disabled"
#### Description
1.)In the orange box marked in the below screenshot, there is an input whose transparency is just very low.
2.)The Input in green box marked in the below screenshot, the input is disabled presently.

#### Current Behaviour
1.)That input is just having low transparency and making a gap and making it asymmetrical that is not required.
2.)On hovering, neither the cursor in changed no

[2021-05-24 17:50] adithyaakrishna commented on #3013
@Ayush-Khandelwal-007 Would you be working on this? 👀

[2021-05-24 17:53] Ayush-Khandelwal-007 commented on #3013
Sure! I'll work on this.

[2021-05-24 21:47] #3013 closed

[2021-05-24 21:47] #2952 closed

[2021-05-24 21:48] #2979 closed

[2021-05-24 21:49] #2976 closed

[2021-05-24 21:59] #2954 closed

[2021-05-24 22:16] leecalcote opened #3015 "[mesheryctl] perf view: unit tests"
Unit Tests Can be
- No token provided
- No profile name provided
- `perf view profileName -t <path>`
- `perf view profileName --token <path-to-token>`
- Error case if no profile match found for a given profile name
- Format output

@leecalcote the `--token` thing is being taken care of globally in `perf`  #2928 plus `view` command is only covering profiles right now, not results. Should we stretch

[2021-05-24 22:25] leecalcote commented on #3013
Quality write up in this issue description, @Ayush-Khandelwal-007 👍

[2021-05-24 22:27] Ayush-Khandelwal-007 commented on #3013
Thank you @leecalcote

[2021-05-24 22:55] #2827 closed

[2021-05-25 02:51] piyushsingariya opened #3016 "[mesheryctl] (epic) Unit testing for mesheryctl commands"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

Guide to start - [here](https://docs.google.com/document/d/1t8Ilb72gpvkLXjywSAkaUOxN6arObC_xOLih66ggCUk/edit#)

#### Current Behavior
Currently, we don't have any unit tests setup to test `mesheryctl` commands and their behaviour

#### Desired Behavior
Required to enable unit testing support for `mesheryctl

[2021-05-25 02:54] leecalcote opened #3017 "[Docs] Missing Release Notes for v0.5.15"
#### Current State
https://docs.meshery.io/project/releases is missing the latest Meshery version release notes.

#### Desired State

v0.5.15 release notes should be published:

[code]

---

#### Contributor Resources

- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)
- [Instructions for contributing to d

[2021-05-25 03:06] leecalcote opened #3018 "[mesheryctl] system logs: help missing component name filter"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
[code]

#### Desired Behavior
`system logs` should have help describing how to view logs for a specific component; e.g. `mesheryctl system logs meshery-istio`

#### Environment

- Host OS: Mac
- Meshery Server Version: stable-v0.5.15
- Meshery Client Version: stable-v0.5.15
- Platform:

[2021-05-25 03:07] piyushsingariya opened #3019 "[mesheryctl] (child) `mesheryctl perf` unit testing"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for the current status of commands._

Refer epic #3016  for the current status of unit testing.
#### Desired Behavior
Setup unit testing for all possible scenarios for the `mesheryctl perf` command. The unit testing must be done against both the providers `local` and `meshery`

**Global Tests** _These tests should work for all the listed co

[2021-05-25 04:06] #2309 closed

[2021-05-25 12:00] leecalcote opened #3021 "@kumarabd can we get more specific, please? Will you create a page on docs.meshery.io with the required permissions?"
@kumarabd, rewrite this issue, please.

@kumarabd can we get more specific, please? Will you create a page on docs.meshery.io with the required permissions?

_Originally posted by @leecalcote in https://github.com/layer5io/meshery/pull/3020#discussion_r638712818_

[2021-05-25 14:07] Nikhil-Ladha commented on #2879
The issue seems to be fixed now. Hence, closing this issue.

[2021-05-25 14:07] #2879 closed

[2021-05-25 14:10] Anushka-shukla opened #3023 "Docs: Getting error 404 for overview."
#### Current State
I clicked "Introducing Meshery"(https://docs.meshery.io/ ) in the QuickStart section and I'm getting error 404.
https://docs.meshery.io/overview
![WhatsApp Image 2021-05-25 at 7 42 59 PM](https://user-images.githubusercontent.com/47845585/119513154-97d29500-bd91-11eb-80e0-9dd7ee468930.jpeg)

#### Desired State
This page should open up.
![WhatsApp Image 2021-05-25 at 7 43 18 PM](

[2021-05-25 14:47] adithyaakrishna commented on #3023
@Anushka-shukla would you like to take this up?

The overview page should be this, https://web.archive.org/web/20210125092819/https://docs.meshery.io/overview

// @leecalcote @alphaX86 @Nikhil-Ladha

[2021-05-25 14:48] Anushka-shukla commented on #3023
Yes, I would like to work on this. But I'm a little confused about where to start exactly. Can you please let me know that?

[2021-05-25 14:53] alphaX86 commented on #3023
@adithyaakrishna I guess that's moved to `/project` instead of `/overview`. We may have a look on this then.

If we need to change the URL then we may need to update that line.

@Anushka-shukla could you tell me how did you encounter the 404 error? I couldn't see any option `Introducing Meshery` could you send the ss of that option?

[2021-05-25 14:54] adithyaakrishna commented on #3023
@alphaX86 This link, https://docs.meshery.io/overview gives 404 Error

[2021-05-25 14:57] Anushka-shukla commented on #3023
https://docs.meshery.io/overview If you click this you'll get error 404.

[2021-05-25 14:58] alphaX86 commented on #3023
Ah, now I get it

[2021-05-25 15:05] adithyaakrishna commented on #3023
@alphaX86 There already exists a page https://github.com/meshery/meshery/blob/master/docs/pages/getting-started/overview.md but it's not getting rendered 😶

The docs was fine at this link, https://deploy-preview-3000--meshery-docs.netlify.app/ and due to the recent restructure from PR #3010 https://deploy-preview-3010--meshery-docs.netlify.app/ there's a 404 there now

[2021-05-25 15:11] DARK-art108 commented on #2939
Can I work upon this?

[2021-05-25 15:14] adithyaakrishna commented on #2939
Yes sure @DARK-art108
Thanks for taking this up 🎉

[2021-05-25 15:20] adithyaakrishna commented on #2896
Hey @Jassi10000
Any update on this?

[2021-05-25 15:28] alphaX86 commented on #3023
Oooooh I didn't know that actually. Hmm, in that case we may need tweaks alone. Let me check a sec about the file

[2021-05-25 17:21] adithyaakrishna commented on #3023
@alphaX86 @Anushka-shukla

Two files need to be changes to fix this,

- https://github.com/meshery/meshery/blob/master/docs/pages/getting-started/overview.md , In this change the line marked below to `/getting-started/overview`

![image](https://user-images.githubusercontent.com/23498248/119540322-f35d4c80-bdaa-11eb-9d03-1bfa1e5b1420.png)

- https://github.com/meshery/meshery/blob/master/docs/page

[2021-05-25 17:24] Anushka-shukla commented on #3023
Okay I'll do!

[2021-05-25 21:39] Anita-ihuman commented on #3017
@leecalcote what is the release date please?

[2021-05-25 22:46] leecalcote commented on #3017
Yesterday - https://github.com/meshery/meshery/releases

[2021-05-26 03:06] leecalcote opened #3024 "[Bash] Mesheryctl Installer: finding invalid platform"
#### Description
Following the instructions on meshery.io for running the bash script to install Meshery, the following issue occurs:

[code]

[2021-05-26 03:12] leecalcote commented on #3024
The docker and kubernetes instructions on meshery.io need to be updated like so

[code]

[2021-05-26 03:22] leecalcote commented on #3009
@tushar912 given our Slack conversation, I assume that you would like to be assigned this issue, is that right?

[2021-05-26 08:30] Anushka-shukla opened #3025 "[Docs] Clicking on "Project and Community" opens the "Overview" page."
#### Current State
When a user clicks on the "Project and Community", "Overview" page shows up while the expected page is https://deploy-preview-2090--meshery-docs.netlify.app/project
![WhatsApp Image 2021-05-26 at 1 58 17 PM](https://user-images.githubusercontent.com/47845585/119628232-8a1d1e00-be2a-11eb-887c-b1837936ddc3.jpeg)

#### Desired State
The expected page is below.
![WhatsApp Image 2021

[2021-05-26 08:41] amino19 commented on #2945
@leecalcote Sir, Can I work on this?

[2021-05-26 11:29] navendu-pottekkat commented on #3024
@leecalcote Could you make a new release for Meshery? The bash script is out-dated

[2021-05-26 12:13] metonymic-smokey commented on #2959
This is the sequence of steps for such a case:
1. If user tries to delete current context, ask for confirmation(are they sure they want to delete it)?
2.  If the user says no, abort the delete with a simple message.
3. If the user says yes, display a list of contexts and ask them to pick one by typing the name.
4. Continue asking till the user gives a valid context name.
5. Delete the current cont

[2021-05-26 12:43] navendu-pottekkat commented on #2959
Can this be made interactive? We have to start somewhere with the interactivity and this might be a good place to try it out.

// @leecalcote

[2021-05-26 13:11] leecalcote commented on #2945
Perfect, @amino19, yes.

[2021-05-26 14:17] tushar912 commented on #3009
Sure I am working. I would make PR ASAP.

[2021-05-26 18:23] leecalcote opened #3029 "[Docs] Document the Error Codes CLI utility tool"
#### Current State
A utility for automating the assignment of error codes and automatic generation of documentation of those error codes has been developed by @mgfeller 💪 . [Described here.](https://github.com/layer5io/meshkit/pull/48)

#### Desired State

A page under Contributing should providing contributors a description of the tool and instructions on how to ensure that when they are creating

[2021-05-26 18:24] leecalcote commented on #3029
@ramrodo we will look to integrate this utility into all workflows that build Meshery components that use the MeshKit library, so all of Meshery component repos and workflows. You're help here and understanding of the tool is most solicited.

[2021-05-26 18:42] ramrodo commented on #3029
@leecalcote Sure. I'll wait until that feature is merged to test it and implement it in the CI workflows.

I have some questions in the meantime:
1. This utility will create a log file with the error codes, right? So, a PR can not be merged if this file is not empty?
2. Do we plan to upload this file somewhere or it should be deleted on every CI workflow run?

[2021-05-26 22:38] leecalcote commented on #3029
It will produce a component-specific file (or files if the repo has multiple components) that need to be committed to the `_data` folder in the /docs directory. These datafiles are the source of the Error Codes reference - https://docs.meshery.io/reference/error-codes

// @alonsolopezr

[2021-05-27 06:12] Jassi10000 commented on #2896
Hey buddy , I was not well some days back and even my development environment is not set properly ,
so was able to work on this , it would be nice that at present  any other member can solve this
After I recover , I will resume back with work on future issues

[2021-05-27 06:33] adithyaakrishna commented on #2896
@srisatya1197 Would you like to work on this?

[2021-05-27 08:27] #3023 closed

[2021-05-27 08:27] #3025 closed

[2021-05-27 10:04] umairnsr87 commented on #2938
I would love to take this issue..

[2021-05-27 10:04] Ruth-ikegah commented on #2938
sure @umairnsr87!

[2021-05-27 11:05] samirparhi-dev opened #3030 "Add liveness probes to the Meshery K8s manifest"
#### Current Behavior

Currently, the meshery pod is not restarting automatically when it crashes or dies due to several reasons. (For my use case when I try to install the istio add-on from the meshery UI, the image broke. This is because the Istio add-ons were already installed before)
#### Desired Behavior

The POD should be restarted Automatically if it faces any of such undesired scenario
###

[2021-05-27 14:26] srisatya1197 commented on #2917
I'll try to make a pr by sunday please @leecalcote Sir.

[2021-05-27 14:56] navendu-pottekkat commented on #2933
We should check how it is implemented in other CLIs like `gh` and maybe get an access token

[2021-05-27 15:13] alphaX86 opened #3031 "[mesheryctl] `--verbose` fails for `system stop`"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

The command works if no flag or `reset` flag is given but it's throwing error when `--verbose` is used, particularly the tag version fails to receive from GitHub and then fails to stop even without `--verbose` flag. This issue is particularly linked with older one regarding `gh`

####

[2021-05-27 15:21] metonymic-smokey opened #3032 "[mesheryctl] Restart logic to be simplified/reconsidered"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
Currently, for platform: Kubernetes, `restart` logic deletes the pods and the system controller detects this and restarts these.
But running `kubectl get pods -n meshery` shows no pods after restart if meshery was not running earlier.

#### Desired Behavior

Irrespective of whether mes

[2021-05-27 17:06] piyushsingariya opened #3033 "[CI] Open API Specification and Documentation workflow"
#### Desired Behavior
Create a CI/CD workflow for Swagger documentation of Rest APIs

_Note: Issue created to track workflow for #2902_

Two workflows needed to track for REST APIs docs
- Needs to be triggered if changes are made in `./handlers` and `./models`
- One workflow to update `./swagger.yaml` with `make swagger-spec`
- Second workflow to update the data for docs.meshery.io i.e.`./docs/_da

[2021-05-27 17:16] navendu-pottekkat opened #3034 "`system start` does not check if Meshery pods are ready before trying to reach the Meshery server"
#### Description

`system start` on the Kubernetes platform does not wait for Meshery to be fully deployed and the pods running before trying to open Meshery on the browser.

#### Expected Behavior

`system start` should check for the status of the pods and only open it on the browser when Meshery is running

[2021-05-27 19:41] Gautam-Arora24 commented on #2888
I would like to take this issue 🙂

[2021-05-28 04:20] metonymic-smokey commented on #2959
https://github.com/manifoldco/promptui - This is a good library for the interactive select.
It looks pretty straightforward to use in case we make context selection interactive.

[2021-05-28 04:31] pottekkat opened #3035 "[mesheryctl] `system dashboard` to open up Meshery UI"
#### Current Behavior

Users are presented with the endpoint to reach the Meshery UI when the initially run `system start` but it is not re-callable in any other subsequent commands.

#### Desired Behavior

A new subcommand `system dashboard` which will test the connection with the Meshery UI and if available, open it on the user's default browser.

If the UI is not accessible and the platform is

[2021-05-28 04:40] navendu-pottekkat commented on #2959
Yes, that is a good package that we can use.

[2021-05-28 04:41] leecalcote commented on #2959
Does it facilitate the programmatic interaction and selection at the same time?

[2021-05-28 04:43] leecalcote commented on #2959
Are you suggesting this library, because it is the same one that we have used in the past or did you come upon this library independent that?

[2021-05-28 04:45] navendu-pottekkat commented on #2959
@leecalcote We can let the user skip the prompt through args and flags. This could be done by wrapping this package. This doable.

[2021-05-28 04:51] leecalcote commented on #2959
Alrighty.

[2021-05-28 05:47] piyushsingariya commented on #3033
// @navendu-pottekkat What else should be updated here?

[2021-05-28 14:28] srisatya1197 commented on #2896
@adithyaakrishna I presume it's assigned will try the other one.

[2021-05-28 14:31] adithyaakrishna commented on #2896
@srisatya1197 Okay sure 🚀

[2021-05-28 15:59] ramrodo commented on #2612
Reopening... this doesn't work yet

[2021-05-28 18:07] leecalcote opened #3042 "[mesheryctl] go lint check failure in `system context create`"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
<img width="1244" alt="Screen Shot 2021-05-28 at 1 06 36 PM" src="https://user-images.githubusercontent.com/7570704/120024988-9bdefc80-bfb5-11eb-9ca3-394e6f9c0b89.png">

#### Contributor Resources

- [mesheryctl Contributing Guide](https://github.com/layer5io/meshery/blob/master/mesher

[2021-05-28 18:17] leecalcote opened #3043 "[mesheryctl] v0.7.0: Conventions on use of MeshKit Errors"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
`mesheryctl` uses portions of MeshKit today. MeshKit Errors are is functionality that `mesheryctl` needs to inherit from MeshKit.

Alongside the use of MeshKit errors will be the benefit of use of the utility for error code generation and documentation.

#### Desired Behavior
As an obj

[2021-05-28 18:29] #3004 closed

[2021-05-28 18:39] navendu-pottekkat opened #3044 "Update "User" endpoints in Meshery server"
#### Description

The current endpoints for the "user" category in Meshery server should be updated.

The endpoints to be changed are-

Current Endpoint | Proposed Endpoint
-- | --
/user/stats | CHANGE TO /user/prefs
/login | CHANGE TO /user/login
/logout | CHANGE TO /user/logout
/token | CHANGE TO /user/token
/gettoken | CONSOLIDATE to /user/token
/user/test-prefs | CHANGE TO /user/prefs/perf

**

[2021-05-28 18:44] navendu-pottekkat opened #3045 "Update "Performance/SMP" endpoints in Meshery server"
#### Description

The current endpoints for the "performance/SMP" category in Meshery server should be updated.

The endpoints to be changed are-

Current Endpoint | Proposed Endpoint
-- | --
/perf/load-test | CHANGE TO /perf/profile
/perf/load-test-smps | CHANGE TO /perf/profile
/perf/load-test-prefs | CHANGE TO /perf/profile
/perf/results | CONSOLIDATE TO /perf/profile/result
/perf/result | CHAN

[2021-05-28 18:49] navendu-pottekkat opened #3046 "Update "Grafana" endpoints in Meshery server"
#### Description

The current endpoints for the "Grafana" category in Meshery server should be updated.

The endpoints to be changed are-

Current Endpoint | Proposed Endpoint
-- | --
/grafana/boards | /telemetry/metrics/grafana/boards
/grafana/query | /telemetry/metrics/grafana/query
/grafana/ping | /telemetry/metrics/grafana/ping
/grafana/scan | /telemetry/metrics/grafana/scan
/prometheus/config

[2021-05-28 18:53] navendu-pottekkat opened #3047 "Update "pattern" endpoints in Meshery server"
#### Description

The current endpoints for the "pattern" category in Meshery server should be updated.

The endpoints to be changed are-

Current Endpoint | Proposed Endpoint
-- | --
/experimental/pattern/{id} | CHANGE TO /pattern/{id}
/experimental/oam/{type} | CHANGE TO /oam/{type}
/experimental/oam/trait | CHANGE TO /oam/trait
/experimental/oam/workload | CHANGE TO /oam/workload

**Changing th

[2021-05-28 19:02] navendu-pottekkat opened #3048 "Update "components" endpoints in Meshery server"
#### Description

The current endpoints for the "components" category in Meshery server should be updated.

The endpoints to be changed are-

Current Endpoint | Proposed Endpoint
-- | --
/system/graphql | CHANGE TO /graphql
/system/operator/status | CONSOLIDATE TO GRAPHQL
/system/operator | CONSOLIDATE TO GRAPHQL
/server/version | CHANGE TO /system/version
/config/sync | CHANGE TO /system/config
/

[2021-05-28 19:13] sayantan1413 opened #3049 "[Docs]Error command in the Quick Start Guide"
#### Current State

In the [Quick Start Guide](https://docs.meshery.io/installation/quick-start) under the Install Meshery section the command
`$ curl -L https://git.io/meshery | bash - `
gives an unexpected error as the platform (Docker, Kubernetes) is not defined.

#### Desired State

By running the single command in the Quick Start Guide under the Install Meshery section should download, instal

[2021-05-28 19:14] sayantan1413 commented on #3049
@leecalcote I would like to work on this issue.

[2021-05-28 19:35] leecalcote commented on #3049
Thank you, @sayantan1413

[2021-05-28 19:43] leecalcote commented on #3049
Ideally, the docs page (and other references in the docs) will replicate what's on meshery.io verbatim.

[2021-05-28 19:48] sayantan1413 commented on #3049
I didn't get this point :(

[2021-05-28 19:49] leecalcote commented on #3049
Copy what is on https://meshery.io/#getting-started

[2021-05-28 19:53] sayantan1413 commented on #3049
Yeah I will copy two command one for docker and for kubernetes and replace that existing command which produces an error.

[2021-05-28 20:05] #2896 closed

[2021-05-28 20:11] adithyaakrishna commented on #2709
@Kn99HN Any Update on this? 👀

[2021-05-28 20:43] leecalcote commented on #3049
Good, good.

On Fri, May 28, 2021 at 2:53 PM Sayantan Bose ***@***.***>
wrote:

[2021-05-28 22:50] leecalcote opened #3053 "[kubeconfig] K8s contexts w/missing cert data causes disconnect with Meshery Adapters"
This issue might need to be transferred to MeskKit.

#### Description
Kubeconfig without localized certificate data cause failure to communicate between Meshery Server and Meshery Adapters.

<img width="553" alt="Screen Shot 2021-05-28 at 5 47 33 PM" src="https://user-images.githubusercontent.com/7570704/120048476-d5772e00-bfdc-11eb-95a7-52cb45a18fe1.png">

#### Expected Behavior
kube contexts wit

[2021-05-29 03:24] metonymic-smokey commented on #3042
@leecalcote I've pushed [this commit](https://github.com/layer5io/meshery/pull/3001/commits/147ff9bd43406d3ca82f73972d2da642d5b0cb6e) to fix this in my current PR

This is passing the lint check so I think this should fix the issue when this PR is merged.

[2021-05-29 03:50] metonymic-smokey commented on #3042
Do you want me to link this issue to that PR?

[2021-05-29 05:38] adithyaakrishna opened #3057 "[Docs] - Change the title for `mesheryctl` command reference pages"
#### Description
The mesheryctl command reference pages needs better titles for the respective commands

#### Expected Behavior

All the pages have improved titles according to the below convention,

- `| Meshery` to be appended for every command
- `mesheryctl system context | Meshery` or `context - mesheryctl | Meshery`

#### Screenshots/Logs

Before:

![image](https://user-images.githubuserconte

[2021-05-29 06:00] adithyaakrishna commented on #3057
// @leecalcote @navendu-pottekkat

[2021-05-29 06:08] leecalcote opened #3058 "[mesheryctl] system start needlessly prompts user for endpoint change"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

Current context before starting Meshery.

[code]

Starting Meshery, user is prompted to confirm a change in their endpoint when an endpoint (hostname and port) change isn't necessary.

[code]

After starting, the context endpoint remains unchanged.
[code]

#### Desired Behavior
Users

[2021-05-29 06:35] ricknjacky commented on #3011
Hey @leecalcote I've read the resources they're really helpful. I am sanguine that I'll be able to fix this as soon as I get my query answered.

Where is the  `projects/meshery-ui` source-code? Because I found [project/contributing-ui](https://docs.meshery.io/project/contributing-ui) page. Pardon me if this was too naïve, looking forward to some insights on this, Thanks in advance.

[2021-05-29 11:28] Ayush-Khandelwal-007 opened #3059 "Host configuration step missing in documentation to setup Meshery locally"
#### Description
When ran Meshery locally the hosts are not configured properly due to which error shows up as
`Adapter was not configured due to an error`

#### Expected Behaviour
- Either we should have a script added to configure the etc/hosts file that could be ran with the make command
#### or Alternatively
- Add description for how to configure i.e. steps should be added in the docs telling

[2021-05-29 12:25] leecalcote commented on #3011
+ @adithyaakrishna

[2021-05-29 13:39] debjani1413 opened #3061 "[Docs]- Publish information about solving the errors faced during deployment of Meshery for Windows"
#### Current State
Meshery documentation does not mention the possible errors can that pop up while deployment of Meshery to the Windows platform.

#### Desired State
          1.  Mentioning that it is not always necessary to install a distro for the deployment of Meshery.
          2.  Mentioning the errors that can be faced by a newbie while deploying Meshery for the first time.
          3.  S

[2021-05-29 13:45] debjani1413 commented on #3061
@leecalcote I would like to work on this issue!

[2021-05-29 15:59] leecalcote commented on #3042
Yes, ma'am. That would be great.

[2021-05-29 16:00] leecalcote commented on #3057
Looking real good. 👍

[2021-05-29 16:42] #2941 closed

[2021-05-29 16:42] #2942 closed

[2021-05-29 16:42] #2944 closed

[2021-05-29 16:42] #2946 closed

[2021-05-29 16:42] #3057 closed

[2021-05-29 18:39] utkarsh-pro commented on #3053
@leecalcote can you also specify the image digest for the istio adapter? This is quite unexpected issue so just want to confirm if the adapter is latest version.

[2021-05-30 01:50] leecalcote commented on #3011
@ricknjacky the `projects/meshery-ui` file is in the same directory as the `project/contributing-ui` file.

I spent a little bit of time today updating quite a few docs, including an initial guide on contributing to the Meshery docs. There's more to write up, but his covers the majority of what was needed. If I don't see an update from you by the Meshery Development meeting this week, I'll assume

[2021-05-30 01:50] leecalcote commented on #2938
@umairnsr87 progress?

[2021-05-30 01:51] leecalcote commented on #2947
Progress, @amino19?

[2021-05-30 01:52] #2398 closed

[2021-05-30 01:52] leecalcote commented on #2398
I spent a little bit of time today updating quite a few docs, including an update that takes care of this issue. Thank you all for making various attempts at this.

[2021-05-30 03:04] piyushsingariya opened #3066 "[Docs] Improve UI for REST/GraphQL API Docs"
[REST API Docs](https://docs.meshery.io/reference/rest-apis)
[GraphQL Docs](https://docs.meshery.io/reference/graphql-apis)

#### Desired State

Improve the UI/CSS for the Documentation pages.

---

#### Contributor Resources

- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)
- [Instructions for contribut

[2021-05-30 03:08] amino19 commented on #2947
Commit both by today, Sir!

[2021-05-30 03:40] #2825 closed

[2021-05-30 03:40] #2948 closed

[2021-05-30 05:52] leecalcote commented on #3053
I sure can. Be aware that all adapters were affected (none were reachable).

[2021-05-30 06:07] piyushsingariya opened #3068 "[meshery] Server return 500 for No results in a profile"
#### Description
While requesting results for a performance profile with zero tests, the server returns a 500 Internal Server Error
![image](https://user-images.githubusercontent.com/50979887/120093947-184f1800-c13b-11eb-8519-04b2666c73eb.png)

#### Expected Behavior
Should report with a simple error saying "No results for the given profile"

[2021-05-30 08:26] kaushambisharma commented on #3068
can I work on this issue?

[2021-05-30 09:20] piyushsingariya commented on #3068
@kaushambisharma This isn't an issue that needs to be worked on, It is more like a problem that needs attention. You should look out for some other issue :smile:

[2021-05-30 09:20] #3068 closed

[2021-05-30 09:22] piyushsingariya commented on #3042
This is already covered in pr #2928

[2021-05-30 12:01] metonymic-smokey commented on #3042
@piyushsingariya thanks for the heads - up!
I had commented before this PR was merged.

[2021-05-31 02:52] leecalcote opened #3074 "[Docs] Feature: Data plane intelligence - Envoy-based WASM filter management"
#### Current State

Meshery has emergent support for filter management, but not documentation published on the set of functionality surrounding filter management.

#### Desired State

Create a new "Filter Management" page that describes this functionality area.

---

#### Contributor Resources

- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation source](https://github

[2021-05-31 05:31] amino19 commented on #3033
Hey, Can I know the work to-do here? ☺

[2021-05-31 11:17] umairnsr87 commented on #2938
Working on it....

[2021-05-31 12:47] #3042 closed

[2021-05-31 13:15] #2826 closed

[2021-05-31 13:15] piyushsingariya commented on #2826
This issue is closed with #2928

[2021-05-31 13:16] dhruv0000 opened #3077 "[CI] GraphQL API Documentation Workflow"
#### Desired Behavior
Create a CI/CD workflow for automatic Document generation of `GraphQL APIs`
#### Implementation

- The workflow needs to be triggered when `internal/graphql/schema/schema.graphql` is changed.
- The workflow needs to run `bundle install ; bundle exec rake graphql:compile_docs` inside docs folder to updates the `docs/pages/extensibility/graphql-reference.md`.
- Create nessecory

[2021-05-31 13:48] leecalcote opened #3078 "[Docs] Universally append " | Meshery" to the end of page titles"
#### Current State

Some individual pages have "| Meshery" added to their `<title>`s.

#### Desired State

While this text **should** be appended, no individual page should have this appended as a one-off. This text should be globally appended from within the head.html file - https://github.com/layer5io/meshery/blob/ed11d7c831823b6aa005764bb79a33822655bcd0/docs/_includes/head.html#L21

#### Accept

[2021-05-31 13:50] #2958 closed

[2021-05-31 15:06] srisatya1197 commented on #2917
@leecalcote Sir couldn't complete assigned work on time. Facing some issues with the setup and trying to fix them with the help  of adithya. I presume it may take time.

[2021-05-31 15:34] Patil2099 commented on #3078
I would love to help in solving this issue. Can you guide me a little more @leecalcote.

[2021-05-31 17:27] adithyaakrishna commented on #2943
@Anita-ihuman Can you please create a PR for this again?

[2021-05-31 17:28] adithyaakrishna commented on #2935
// @Anita-ihuman Please do refer issue #2943

[2021-05-31 17:28] adithyaakrishna commented on #2937
// @Anita-ihuman Please do refer issue #2943

[2021-05-31 17:29] adithyaakrishna commented on #3017
// @Anita-ihuman Please do refer issue #2943

[2021-05-31 17:40] adithyaakrishna commented on #2943
@leecalcote @navendu-pottekkat The PR linked to this Issue was Reverted in PR #3064

[2021-05-31 17:55] Ayush-Khandelwal-007 opened #3083 "Kuma Adapter URL missing"
#### Description
Adapter URL with port 10007 that is the URL for Kuma adapter is missing.

#### Expected Behavior

#### Screenshots/Logs
![Screenshot 2021-05-31 at 8 10 41 PM](https://user-images.githubusercontent.com/59086855/120227195-539a3580-c266-11eb-8731-a56f571cfde4.png)

#### Environment:
- Meshery Version: Latest

#### To Reproduce
Steps to reproduce the behavior:
1. Go to Makefile
2. See

[2021-05-31 18:13] Chadha93 commented on #3066
I would like to try this.

[2021-05-31 18:22] leecalcote opened #3085 "[Argo] Manifest location needs to be externalized and noted in the air-gapped deployment manual."
Needs to be noted in the air-gapped deployment manual.

_Originally posted by @leecalcote in https://github.com/layer5io/meshery/pull/3037#r642629678_

[2021-05-31 18:23] debjani1413 commented on #3083
I would like to work on this issue, could you please guide me through it?

[2021-05-31 18:44] debjani1413 commented on #3083
Hey, @Ayush-Khandelwal-007, I just need to add mesherylocal.layer5.io:10007 to the Makefile right??

[2021-05-31 18:45] Ayush-Khandelwal-007 commented on #3083
@debjani1413  Here the constant contains all the URLs that are passed on when the server starts so these ports are listened for the Adapters when the sever is up. So you just need to add one more URL that have same base URL but the missing port, i.e., the port for Kuma adapter, further which is set default to 10007 in the adapter.

[2021-05-31 18:50] debjani1413 commented on #3083
Okay great, will do that right away!

[2021-05-31 19:37] debjani1413 opened #3089 "[Docs] Updating a Jekyll tutorial to Meshery Documentation"
#### Current State
The documentation on how to contribute to Meshery Docs doesn't include a Jekyll tutorial.

#### Desired State
The documentation on how to contribute to Meshery Docs will include a Jekyll tutorial for different platforms like Windows, macOS, and Linux, thus making it more beginner-friendly.
---

#### Contributor Resources

- [Meshery documentation site](https://docs.meshery.io/)

[2021-05-31 19:38] debjani1413 commented on #3089
@leecalcote I would like to work on this issue.

[2021-06-01 03:48] #3083 closed

[2021-06-01 04:02] leecalcote commented on #3066
@piyushsingariya Will you double check that Anushka is not working on this already?

[2021-06-01 04:35] manishprivet commented on #3077
Hi, could I work on this?

[2021-06-01 07:02] Anushka-shukla commented on #3066
Yes, @leecalcote I'm on it.

[2021-06-01 07:04] Chadha93 commented on #3066
Great

[2021-06-01 08:00] DantrazTrev commented on #3018
Hei, I'm a bit new here and a bit confused about this issue confused what is the desired behavior exactly?

[2021-06-01 08:39] Anita-ihuman commented on #2943
I am perplexed. Am I meant to make a separate Pr for each issue, or there was something I missed?

[2021-06-01 08:50] #3078 closed

[2021-06-01 11:41] leecalcote commented on #2917
@srisatya1197 thanks much for this updated. @Gautam-Arora24, are you looking into this one?

[2021-06-01 12:05] leecalcote commented on #2939
@DARK-art108 please note the change in issue title and change in which command needs documented: `mesheryctl system channel --switch`.

I accidentally created duplicative issues for `mesheryctl system status` and so, I'm updating this issue to another command flag that is missing documentation. // @umairnsr87

[2021-06-01 12:08] umairnsr87 commented on #2939
@leecalcote  Thanks alot

[2021-06-01 12:54] Gautam-Arora24 commented on #2917
Hi @leecalcote! Quoting Dhruv's reply from Slack.

So I can start it as soon as the API's are available to me.

[2021-06-01 16:30] sayantan1413 opened #3117 "[Docs]Mesheryctl installation page need some correction"
#### Current State

In the [mesheryctl installation](https://docs.meshery.io/installation/mesheryctl) page under the bash command section the command gives an unexpected error of not mentioning the platform [docker or kubernetes] and it does not have the installation guide for the Kubernetes user like it is provided in the [website](https://meshery.io/).

#### Desired State

In the mesheryctl inst

[2021-06-01 16:31] sayantan1413 commented on #3117
Hey @leecalcote I would like to work on this issue.

[2021-06-01 18:00] sayantan1413 commented on #3074
Hey @leecalcote I would like to work on this issue.

[2021-06-01 20:58] ramrodo opened #3118 "[CI] Cypress "Service Meshes" e2e test is failing"
#### Current Behavior

The Cypress `Service Meshes > ping and submit Consul` e2e test is failing:

https://github.com/layer5io/meshery/runs/2717088860?check_suite_focus=true#step:13:174

#### Desired Behavior

All the test should always pass

#### Implementation

#### Acceptance Tests

#### Reference:
- [Meshery Build & Release Strategy](https://docs.google.com/document/d/11nAxYtz2SUusCYZ0JeNRrOLI

[2021-06-01 23:17] #3118 closed

[2021-06-02 13:20] leecalcote opened #3121 "[MeshSync] Issues with KinD deployment"
@utkarsh-pro to update with details.

File an issue about MeshSync not working in your environment.

_Originally posted by @leecalcote in https://github.com/layer5io/meshery/pull/3037#discussion_r642634489_

[2021-06-02 13:22] leecalcote commented on #3085
Related to #2202

[2021-06-02 13:24] leecalcote opened #3122 "[Argo] Rollouts: Import Argo types as a package"
Ideally, we are importing these as a package.

_Originally posted by @leecalcote in https://github.com/layer5io/meshery/pull/3037#discussion_r642629270_

[2021-06-02 13:34] leecalcote commented on #3059
We’ll stay away from automatically editing the user’s hosts file as it’s a little too invasive and individuals contributing to the project should be aware of networking considerations when working on Meshery.

We might change the default configuration away from mesherylocal.layer5.io, though, to just localhost.

[2021-06-02 13:35] leecalcote commented on #3059
Not a bug. Removing bug label.

[2021-06-02 13:37] leecalcote commented on #3059
@Ayush-Khandelwal-007 great alternative suggestion. Yes, minimally, we should add instructions in the contributing guide about this. In fact, they are right here - https://docs.meshery.io/project/contributing-ui#running-meshery-from-ide

[2021-06-02 13:39] leecalcote commented on #3059
I'll propose a third solution: change from mesherylocal.layer5.io to localhost as the default location for each adapter.

[2021-06-02 13:55] Ayush-Khandelwal-007 commented on #3059
@leecalcote That would be grate!

[2021-06-02 14:16] adithyaakrishna opened #3123 "[Docs] - Missing Latest Meshery Release Notes - v0.5.16 & v0.5.17"
#### Current State
[docs.meshery.io/project/releases](https://docs.meshery.io/project/releases) is missing the latest Meshery version release notes.

#### Desired State
Add release notes for v0.5.16 and v0.5.17

![image](https://user-images.githubusercontent.com/23498248/120496298-14412580-c3db-11eb-8f84-5a4bad84ac10.png)

Related to Issue #3017

---

#### Contributor Resources

- [Meshery documen

[2021-06-02 14:17] adithyaakrishna commented on #3123
// @leecalcote @alphaX86

[2021-06-02 14:25] umairnsr87 commented on #3123
@adithyaakrishna Can i work on this?

[2021-06-02 14:26] adithyaakrishna commented on #3123
@umairnsr87 Yes sure, please do refer this PR to know what exactly needs to be done, https://github.com/meshery/meshery/pull/2990

[2021-06-02 15:45] debjani1413 commented on #3074
Here you go :)

[2021-06-02 15:49] debjani1413 commented on #3077
Sure, here you go!!

[2021-06-02 16:47] leecalcote opened #3124 "[Docs] Meshery UI: Additional Arch, framework and design principles need published"
#### Current State
This page describes the Meshery UI - https://docs.meshery.io/project/contributing-ui

#### Desired State
More of what is in this doc needs to be published - https://docs.google.com/document/d/1lSWjbxQ414DFnv-i_nBtbXa5cFV5MKbgwClpBjaLBro/edit#

---

#### Contributor Resources

- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation source](https://github

[2021-06-02 17:44] leecalcote opened #3125 "[Docs] Favicon on docs.meshery.io should be of Meshery logo"
#### Current State
The favicon on docs.meshery. io is not of the Meshery logo currently.

#### Desired State
Use Meshery logo from https://layer5.io/brand

---

#### Contributor Resources

- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)
- [Instructions for contributing to documentation](https://github.c

[2021-06-02 17:56] umairnsr87 commented on #3123
@adithyaakrishna  I am unable to see the release notes of v0.5.15 too should I create them too?

[2021-06-02 18:04] adithyaakrishna commented on #3123
Yepp, please do go ahead and create that one, there's an upstream issue for that #3017

[2021-06-02 18:32] umairnsr87 commented on #3123
Done @adithyaakrishna

[2021-06-02 19:35] adithyaakrishna commented on #3017
@leecalcote @Anita-ihuman There's a new issue #3123 which adds Release notes for v0.5.16 & v0.5.17
This issue will be solved along with the PR linked to the above mentioned issue 😶

[2021-06-02 19:51] DantrazTrev commented on #2874
Can I work on this?

I have got an idea of something like this
![Screenshot from 2021-06-03 00-34-28](https://user-images.githubusercontent.com/43457420/120538086-aceb9b80-c403-11eb-8821-00ae1e740b02.jpg)

Or alternatively a help icon at the end of each radio button?

[2021-06-02 20:04] leecalcote commented on #2874
@DantrazTrev a help icon is a great suggestion. Perhaps, we can avoid three icons and consolidate to one just after the "Load Generator" section label, shoving all three descriptions and a hyperlink to the [Performance Management](https://docs.meshery.io/functionality/performance-management) section of the docs into there.

[2021-06-02 20:07] leecalcote commented on #2874
@DantrazTrev the lower than 100% opacity you have used in the background of the tooltip in this mockup is nice.

@Ayush-Khandelwal-007 @adithyaakrishna, perhaps, it's time to consider a standard method of displaying help to the user. Yes, I think it is time. @DantrazTrev, it would be good to get a proposal going in the Meshery UI design file in Figma.

[2021-06-02 20:12] debjani1413 commented on #3125
I got 2 logo files in docs logo1.svg and logo.svg, which one to change?? also which logo to add?? can please help me by being a little more specific?

[2021-06-02 20:17] Ayush-Khandelwal-007 commented on #2874
Great Idea @DantrazTrev , we could just have an info button at the top of this dialog box which on click could give another dialog box regarding all the required data for a new user to make it easy for them to understand what all different fields are for.

Just having tooltip for the radio buttons for all 3 options could also be possible but may hinder the smooth experience for a user who is thoro

[2021-06-02 20:43] DantrazTrev commented on #2874
@Ayush-Khandelwal-007 I think both having a tooltip for each input section with tooltip and the info of the top of card would work? Also, we'll need a title for the cards then too

[2021-06-02 21:19] #3049 closed

[2021-06-02 21:28] leecalcote opened #3128 "[CI] Helm: use Meshery release tag as chart version number"
Can we using the current release tag? We desire for the chart versions to be the same as Meshery's version.

Representative Workflow - https://github.com/meshery/meshery/blob/master/.github/workflows/helm-chart-releaser.yml

_Originally posted by @leecalcote in https://github.com/layer5io/meshery/pull/3076#discussion_r642518699_

[2021-06-02 21:31] #2837 closed

[2021-06-02 21:44] DantrazTrev commented on #2874
What about the figma proposal?  Sorry I didn't quite get that.

[2021-06-02 21:46] leecalcote commented on #2874
@DantrazTrev I sent you an invitation to the Figma design file for the Meshery project, called "Meshery UI". Let's get a mockup going for the proposed design that you have made above. The mockup should include consideration for my first suggestion regarding a help icon next to "Load Generator"

[2021-06-02 21:53] DantrazTrev commented on #2874
Oh, I got a bit confused. I made a Draft PR (got a bit confused with the workflow) will just do that

[2021-06-02 22:00] leecalcote commented on #2874
No sweat. Your PR is pretty close to the mark and, overall, is quite good. There are couple things that we can clarify in the mockup:

- no purple for visited hyperlinks.
- potentially larger area tooltip for longer descriptions like these.
- potentially standard "tips" / "notes" area for all UIs.

[2021-06-02 22:03] #2959 closed

[2021-06-02 22:04] #2901 closed

[2021-06-02 22:16] DantrazTrev commented on #2874
Sure I'll just work on that in a while. Just had a query about the figma mockup for the performance profile. Is that where we are headed towards and I need to add the tooltip mockup or does that need to be updated (cause it is quite different )

[2021-06-02 22:55] leecalcote opened #3131 "[UI] Logo area should be frozen in place"
#### Description
The Meshery Logo should not disappear when users scroll through the menu.

#### Screenshots/Logs
![Untitled](https://user-images.githubusercontent.com/7570704/120562259-ab05e600-c3cb-11eb-99e7-e3607006e402.gif)

#### Environment:
- Meshery Version: v0.5.17
- Browser: Safari

[2021-06-03 02:27] #2947 closed

[2021-06-03 03:00] #3123 closed

[2021-06-03 03:00] #3017 closed

[2021-06-03 10:18] sudo-NithishKarthik commented on #3131
Can I take up this issue?

[2021-06-03 10:28] dhruv0000 commented on #3131
sure.

[2021-06-03 13:33] hrishikeshnikam2000 commented on #3125
I would like to make my contribution starting from here.

To be clear the logo required is the one which I am attaching below or is it a different one?

![meshery-logo-tag-light-text-side](https://user-images.githubusercontent.com/58680992/120653369-3c458d00-c49e-11eb-9a39-5c59daab04c3.png)

[2021-06-03 13:39] adithyaakrishna commented on #3125
@debjani1413 It's https://github.com/meshery/meshery/blob/master/docs/_includes/logo.svg
i.e **`logo.svg`**

[2021-06-03 13:42] adithyaakrishna commented on #3125
Hey @hrishikeshnikam2000
This issue is already taken and to answer your query, its not the one, we needed the Meshery Circle Logo without the text.
Also, feel free to have a look at other issues and find your suitable interest one. If you find it, do add a comment and I would be glad to assign it to you :)

[2021-06-03 15:34] hrishikeshnikam2000 commented on #3125
okay I will look into other issues. thank you.

[2021-06-03 15:40] hrishikeshnikam2000 commented on #3124
Could you please assign me this issue?
Also, the drive needs access, I have requested access.

[2021-06-03 15:46] leecalcote commented on #3124
Hi @hrishikeshnikam2000, yes. Please jump into the [community Slack](http://slack.layer5.io) and we'll get you setup.

[2021-06-03 15:49] leecalcote commented on #3125
@debjani1413 @hrishikeshnikam2000 please first familiarize with the concept of a favicon. Reengaging if / when ready.

[2021-06-03 15:58] hrishikeshnikam2000 commented on #3124
Hello @leecalcote, I've joined the slack channel.

[2021-06-03 17:31] DARK-art108 commented on #2939
Hello, @leecalcote @adithyaakrishna I am finding a lot of difficulty in editing jinja of **mesheryctl-commands.md** , I have made some changes, should I raise a PR for it. for suggesting changes.

[2021-06-03 18:01] adithyaakrishna commented on #2939
Yes sure @DARK-art108

[2021-06-03 20:46] ramrodo opened #3134 "[CI] Upload Go Unit Tests coverage to Codecov"
#### Current Behavior

Right now, we only have the "Cypress UI e2e tests" coverage report in Codecov:

_from: https://app.codecov.io/gh/layer5io/meshery_
![image](https://user-images.githubusercontent.com/2797052/120709816-f4653c80-c482-11eb-9e89-e0a3c3e29671.png)

#### Desired Behavior

We need to add the Go Unit Test Coverage to Codecov

#### Implementation

Use Github Actions to implement this

[2021-06-04 02:42] #3058 closed

[2021-06-04 03:47] leecalcote opened #3136 "[Security] Vulnerabilities in Meshery Docker Image"
#### Description
See this report for a list of known CVEs in Meshery and Meshery Adapter images - https://artifacthub.io/packages/helm/meshery/meshery?modal=security-report

#### Expected Behavior
The security score for Meshery and its adapters should be as high of grade as possible.

#### Screenshot

<img width="1142" alt="Screen Shot 2021-06-04 at 11 43 30 AM" src="https://user-images.githubuser

[2021-06-04 04:05] #3061 closed

[2021-06-04 04:53] metonymic-smokey commented on #2960
Quick update:  `context delete` now features some interactivity(as of `v0.5.18`).
The library used was `promptui`.

[2021-06-04 08:05] #2881 closed

[2021-06-04 08:25] kumarabd opened #3139 "[Meshery] Update operator chip endpoint"
#### Description
Description from here - https://github.com/layer5io/meshery-operator/issues/163

#### Expected Behavior
The endpoint implementation needs to be updated to hit operator instance and return status.

#### Environment:
- Meshery Version:
- Kubernetes Version:
- Host OS:
- Browser:

---

**Contributor Resources:**
- (Contributing Docs](https://docs.meshery.io/project/contributing)

[2021-06-04 08:50] kumarabd commented on #2910
This is fixed I believe. @navendu-pottekkat

[2021-06-04 13:46] leecalcote commented on #2960
Thank you for this, @metonymic-smokey. It would be good to see a list of our intended areas of interactivity. Perhaps, annotating the command tracker spreadsheet is the thing to do.

[2021-06-04 15:11] #3134 closed

[2021-06-04 16:05] navendu-pottekkat commented on #2943
I accidentally merged this PR before it was ready... And then we reverted those changes... Totally my bad.

You can work on the same branch as before or create a new branch with that branch and make a PR...

[2021-06-05 05:09] metonymic-smokey commented on #3048
@navendu-pottekkat
This issue involves changing the endpoints in [`server.go`](https://github.com/layer5io/meshery/blob/master/router/server.go) right?

What does 'consolidating' an endpoint mean?

[2021-06-05 06:06] navendu-pottekkat commented on #3024
I have figured out the issue.

The issue is because in the bash script, we use `read` and it reads from the standard input. But, the standard input of the shell is already taken up. So, it would not read anything as the shell has already read the whole script.

We can change the one liner to make sure that we are able to have an interactive prompt.

[2021-06-05 06:12] navendu-pottekkat commented on #3024
This is what the command will look like without the flag-

![Screenshot from 2021-06-05 11-40-54](https://user-images.githubusercontent.com/49474499/120882054-f3531d00-c5f2-11eb-9d74-3746cf8eeb94.png)

This is what the command will look like with the flag-

![Screenshot from 2021-06-05 11-41-30](https://user-images.githubusercontent.com/49474499/120882082-1d0c4400-c5f3-11eb-921d-dc862de73f33.png)

[2021-06-05 06:13] navendu-pottekkat commented on #3024
If that is okay, then I will make changes to the docs.

[2021-06-05 06:41] navendu-pottekkat commented on #3048
Yes @metonymic-smokey you should change the endpoints in `server.go` and in all areas of UI and `mesheryctl` if these endpoints are used.

By "consolidating" we mean that we can combine two or more endpoints to a single one which can handle all the functions.

[2021-06-05 06:48] navendu-pottekkat commented on #2910
@kumarabd It is still an issue. The endpoints are still wrong when deploying to Kubernetes.

[2021-06-05 11:44] sudo-NithishKarthik commented on #2888
Hey, can I take up this issue ?

[2021-06-05 11:50] leecalcote commented on #2888
Thanks for asking, @sudo-NithishKarthik. I know that @Gautam-Arora24 has had a number of exams over the past few days, And justifiably so, has had his focus on those. I’ll let him chime in as to whether he might like to and off this issue in the meantime.

[2021-06-05 11:57] Gautam-Arora24 commented on #2888
Hi @sudo-NithishKarthik! Sorry for the delay. Do you have any approach/idea on what's the bug that is causing the issue?
I had spent few time earlier on this issue but was unable to find the bug.

[2021-06-05 11:57] Blacklion14 commented on #2467
Hey @ramrodo I want to solve this issue . Can u assign this to me, and guide me how can I submit my patch.

[2021-06-05 12:08] sudo-NithishKarthik commented on #2888
Ya, the problem I think is because of `disablePortal` being set to `True` which always keeps the `Popper` in the `div`, and I believe that safari thinks that another element is being added to the div and it extends the width of it.  we could set `disablePortal` prop in `Popper` component to false and set the `zIndex` to be **10000**(more than that of the navigation bar) which I found to work along

[2021-06-05 12:20] Gautam-Arora24 commented on #2888
Sounds good! Go ahead. I have assigned you the issue :)

[2021-06-05 12:20] DelusionalOptimist opened #3143 "[mesheryctl] bugs in `mesheryctl system channel set`"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

* Panic when trying to set a channel without specifying version.
* Unable to set any version tag when specifying with `channelName-version`

#### Desired Behavior

* Setting channel without specifying any version should set it to "latest" by default
* Accept versions in the format `vX

[2021-06-05 12:24] sudo-NithishKarthik commented on #2888
Sure, thank you :)

[2021-06-05 13:55] ramrodo commented on #2467
Hi @Blacklion14, sure! Thanks for the help. Let me assign it to you.

[2021-06-05 16:32] leecalcote commented on #3143
Thank you for filing this, @DelusionalOptimist

[2021-06-05 16:33] #3143 closed

[2021-06-05 17:30] debjani1413 commented on #3136
@leecalcote I would love to work on this issue, could you please guide me through it ??

[2021-06-06 04:28] metonymic-smokey commented on #3048
@navendu-pottekkat
after changing endpoints, I ran `make build-ui` and then `make run-local`.
How can I test these specific endpoints?

[2021-06-06 04:44] navendu-pottekkat commented on #3048
You can test out if these are working in the Meshery UI. Test all the features that use these endopoints?

Example you can ping Kubernetes and Adapter to see if it is working as expected.

@abhishekkumkar any thoughts on how to test this?

[2021-06-06 11:19] umairnsr87 commented on #3136
@leecalcote can I work on this issue?

[2021-06-06 16:46] leecalcote commented on #3136
Hi @umairnsr87, I had a brief chat with @debjani1413. I’ll let her recap my chat with you so that you and her might proceed eyes wide open. If you do move forward, it would be good to understand your plan of action for how to improve the security score.

[2021-06-06 17:50] dhruv0000 opened #3150 "[Bug] Not able to add API key in Grafana Marics Settings"
#### Description
User is not able to enter a API key in Grafana Settings. Instead `[object Object]` is shown.

#### Expected Behavior
User should be able to enter API key.

#### Screenshots/Logs

![image](https://user-images.githubusercontent.com/44001539/120934826-89836200-c71d-11eb-8ced-a0e692667975.png)

#### Environment:
- Meshery Version:
- Kubernetes Version:
- Host OS:
- Browser:

---

**Co

[2021-06-06 19:46] leecalcote opened #3151 "[Docs] Breakout Meshery Adapters contributing instructions into a separate page."
#### Current State
The https://docs.meshery.io/project/contributing page has general, server, and adapter instructions all in the same page. We are in the process of breaking out component sections into their own pages.

#### Desired State
Meshery Adapters should have their own page here - https://docs.meshery.io/project/contributing-adapters

---

#### Contributor Resources

- [Meshery documentat

[2021-06-06 22:28] leecalcote commented on #3150
@Ayush-Khandelwal-007 I wonder if you might knock this one out.

[2021-06-06 22:32] Ayush-Khandelwal-007 commented on #3150
@leecalcote Okay! I'll take this bug down.

[2021-06-07 01:22] #2888 closed

[2021-06-07 01:59] #3131 closed

[2021-06-07 02:16] #2940 closed

[2021-06-07 05:17] metonymic-smokey commented on #3032
@DARK-art108 do you want to try working on this issue?

[2021-06-07 06:10] DARK-art108 commented on #3032
Yes, I would like to work on it!

[2021-06-07 07:08] #3031 closed

[2021-06-07 10:19] debjani1413 commented on #3136
Here you go @umairnsr87, good luck 👍

[2021-06-07 11:08] leecalcote commented on #3136
@debjani1413, are you deciding not to partner on this issue?

[2021-06-07 15:27] dhruv0000 opened #3153 "[UI] Toster notification shows `installed successfully` when we delete a configuration in Management."
#### Description
When we delete a configuration in an adaptor using the :wastebasket: icon, upon successful deletion it shows `[config] installed successfully`

#### Expected Behavior

It should show `[config] deleted successfully`

#### Screenshots/Logs

![image](https://user-images.githubusercontent.com/44001539/121042280-26530780-c7d1-11eb-86fd-363d0986586a.png)

#### Environment:
- Meshery Ver

[2021-06-07 16:09] #3139 closed

[2021-06-07 20:38] Annysah commented on #3151
Hello Lee,
I would like to know if this issue is still open?

[2021-06-07 21:01] Gautam-Arora24 opened #3156 "[Performance] Create a GraphQL subscription for "perf/results" endpoint."
#### Current Behavior

Currently, there is no subscription for the "perf/results" endpoint.

#### Desired Behavior

Implementation of subscription required with the name `subscribePerfResults` in order to get dynamic data results based on search and page size.

#### Implementation
1.  Reference [Meshery API Endpoints](https://docs.google.com/spreadsheets/d/1ABJCbfQRi0uN_YoP2kmHZ-lTI4S4QuvRk1_unomK

[2021-06-07 21:21] leecalcote commented on #3156
Added acceptance tests and link to Meshery API Endpoint spreadsheet.

[2021-06-07 21:24] leecalcote commented on #3151
Hi @Annysah, thank you for asking. Actually, there's an open PR up for review on this now. Your review of the PR would be great.

[2021-06-07 21:26] leecalcote commented on #3151
Oh, no. I thought it was still open, but it has been merged already - https://github.com/meshery/meshery/pull/3152.

There are more open needs where this comes from, though. Like the need to separate out a page just for Meshery Server. Please don't hesitate to open an issue.

[2021-06-07 21:27] #3151 closed

[2021-06-07 22:07] #3150 closed

[2021-06-07 22:15] leecalcote opened #3158 "[Patterns] Investigate Kube OpenAPI"
#### Current Behavior
An NPM package is being used to help transcribe custom resources into OpenAPI compatible specifications to satisfy Service Mesh Pattern requirements. We're in need of a Golang / Kubernetes native solution.

#### Desired Behavior
Explore and propose use or no use of https://github.com/kubernetes/kube-openapi

#### Implementation
- Write up your findings and incorporate the exi

[2021-06-07 22:15] #2874 closed

[2021-06-07 22:24] leecalcote commented on #3158
Adding v0.7.0 milestone.

[2021-06-08 14:29] dhruv0000 opened #3159 "[UI / Grafana Boards] Auto select default Grafana Boards on Detection"
#### Current Behavior
Currently, UI will auto-connect with Grafana Boards but no metrics are seen in Perf Profile since no board is selected.

#### Desired Behavior
Select a default Board, when Grafana is configured.

#### Implementation

#### Acceptance Tests

#### Mockups

---
**[Contributor Guide](https://docs.meshery.io/project/contributing)**

[2021-06-08 15:49] s1ntaxe770r opened #3161 "--yes flag fails to generate config file"
#### Description

when running mesheryctl system start with the `--yes` flag a default config file is not generated.

#### Expected Behavior

A default config file. See screenshots below
#### Screenshots/Logs

![image](https://user-images.githubusercontent.com/53065463/121217029-5b1a9980-c879-11eb-8d3b-5b690dcdb5ec.png)

![image](https://user-images.githubusercontent.com/53065463/121217075-67065b8

[2021-06-08 16:00] leecalcote commented on #3161
@s1ntaxe770r will you recreate this in the form of a feature request? Will you use the mesheryctl issue template when you do?

[2021-06-08 16:03] leecalcote commented on #3161
From @navendu-pottekkat:

[2021-06-08 16:03] #3161 closed

[2021-06-08 17:05] navendu-pottekkat opened #3162 "CRUD for "application""
#### Current Behavior

Meshery is going to support a new construct "application" which the users can use to configure and deploy their applications.

The application configuration will be declared in a YAML file.

#### Desired Behavior

Meshery Server should have API endpoints that support CRUD actions on these files.

#### Implementation

This would be an exact copy paste of the functionality in

[2021-06-08 17:07] navendu-pottekkat opened #3163 "Add applications page on the UI"
#### Current Behavior

Meshery server is now about to support CRUD for application.

#### Desired Behavior

Meshery should have a Applications page on the UI which will be used work with applications.

The UI will look similar to the Patterns UI (/configuration/patterns).

![Screenshot from 2021-05-02 10-45-08](https://user-images.githubusercontent.com/49474499/116803306-08401a80-ab34-11eb-9f86-f5

[2021-06-08 17:09] navendu-pottekkat opened #3164 "[mesheryctl] CRUD for applications"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Desired Behavior

API endpoints for application CRUD are being added to Meshery.

`mesheryctl` should use this endpoints to create CRUD commands for applications similar to `pattern` and `filter` command.

These commands should be under `exp` (experimental) commands.

Subcommands to be added- `apply`,

[2021-06-09 04:35] abhijeet007rocks8 commented on #3153
May I work on this issue ??

[2021-06-09 04:39] #2935 closed

[2021-06-09 04:39] #2937 closed

[2021-06-09 04:39] #2943 closed

[2021-06-09 04:44] #3125 closed

[2021-06-09 04:47] #3117 closed

[2021-06-09 08:57] vineethvanga18 commented on #2907
@leecalcote I think this issue is fixed

[2021-06-09 14:23] Chadha93 opened #3174 "[UI] Change the file name of Filters to MesheryFilters"
#### Current Behavior
We are having two files with the same name Filters and filters in the UI which may cause confusion.

#### Desired Behavior
Change the file name of Filters to MesheryFilters so they can be distinguished easily.

#### Implementation
Task - To change the file name of Filters.js to MesheryFilters.js
- Inside the Filter.js,filter.js, navigator.js (the filter under the configuratio

[2021-06-09 14:37] ahcodes commented on #3174
Hi Gaurav, I would like to work on this issue. Could you assign me, please? Thanks!

[2021-06-09 15:00] Chadha93 commented on #3174
@ahcodes Have you joined our slack? If not let's get started http://slack.meshery.io/

[2021-06-09 16:26] piyushsingariya opened #3175 "[UI] Performance not active in UI"
#### Description

When clicked on profiles, Performance isn't blue(active)

#### Expected Behavior

Performance should turn blue when clicked on Profiles just like Conformance is blue
![image](https://user-images.githubusercontent.com/50979887/121392646-356ebc80-c96d-11eb-9094-ecfaeea71c33.png)

#### Screenshots/Logs

![image](https://user-images.githubusercontent.com/50979887/121392493-153efd80-c

[2021-06-09 16:32] ankitzm commented on #3175
Can I give this a try.

[2021-06-09 17:04] debjani1413 commented on #3175
Here you go @ankitzm :)

[2021-06-09 17:40] ramrodo opened #3176 "[CI] [Failing Test] Upload coverage to CodeCov (ui) on UI Integration Tests"
#### Current Behavior

The step of **Upload coverage to CodeCov (UI)** on the Integration Tests job is falling. The error message is:

[code]
_See: https://github.com/layer5io/meshery/pull/3170/checks?check_run_id=2781382844#step:6:53_

#### Desired Behavior

All the tests should always be green on master.

#### Implementation

#### Acceptance Tests

#### Reference:
- [Meshery Build & Release Stra

[2021-06-09 17:52] ankitzm commented on #3175
Can you please tell me, "how can I get to the page that you have provided in the screenshot.

[2021-06-09 18:41] ramrodo opened #3178 "[CI] [Failing test] Netlify builds are failing"
#### Current Behavior

Netlify builds are failing. The error message is:

[code]
_from: https://app.netlify.com/sites/meshery-docs/deploys/60c105433aef9a00076e23e5_

This was originated from the change on this PR: https://github.com/layer5io/meshery/pull/3142

#### Desired Behavior

All tests should always pass on master.

#### Implementation

#### Acceptance Tests

#### Reference:
- [Meshery Buil

[2021-06-09 19:00] leecalcote opened #3180 "[UI] Only half of Meshery logo providing link to system dashboard"
#### Description
Only half of the Meshery logo is clickable to navigate users to the root page.

#### Screenshots/Logs

https://user-images.githubusercontent.com/7570704/121413063-eef86e00-c92a-11eb-94c7-c40fb9cccea1.mov

#### Environment:
- Meshery Version: v0.5.23
- Browser: Safari

---

**Contributor Resources:**
- (Contributing Docs](https://docs.meshery.io/project/contributing)

[2021-06-09 19:01] #3178 closed

[2021-06-09 19:02] leecalcote commented on #3175
Hopefully, these instructions help - https://docs.meshery.io/project/contributing-ui

[2021-06-09 22:03] leecalcote commented on #2530
@kumarabd I added the following two Acceptance Tests:

- [ ] Automatic invocation of rediscovery upon reconnection to existing broker.
- [ ] Manual ad hoc rediscovery upon click of Operator chip.

[2021-06-09 22:05] #2938 closed

[2021-06-09 22:09] leecalcote opened #3182 "[UI] Grammar in Operator removal message"
#### Description
A verbiage change is needed in the following message:

<img width="681" alt="Screen Shot 2021-06-09 at 12 43 21 PM" src="https://user-images.githubusercontent.com/7570704/121435777-178d6180-c945-11eb-89e8-1f6ef05f9617.png">

#### Expected Behavior
Ideal verbiage:

Title: Remove Meshery Operator from this cluster?
Description: Meshery is now disconnected from your Kubernetes cluste

[2021-06-09 22:16] #3176 closed

[2021-06-09 22:16] leecalcote commented on #3121
@kumarabd, as you dig into moving MeshKit's usage into Meshery Server for uses like kubeconfig and kube client handling, you should catch up with @utkarsh-pro on the details here.

[2021-06-09 22:16] leecalcote commented on #3053
FYI - this is still an issue as of v0.5.23.

[2021-06-09 22:17] leecalcote commented on #2266
I added another sample pattern to https://docs.meshery.io/functionality/pattern-management

[2021-06-09 22:21] leecalcote opened #3183 "[Docs] Release notes missing in Docs"
#### Current State
Current release is v0.5.23. Docs only contain release notes up to v0.5.17.

#### Desired State
https://docs.meshery.io/project/releases should have entries for all release notes. Release notes are available here - https://github.com/layer5io/meshery/releases

---

#### Contributor Resources

- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation source

[2021-06-09 23:11] #3164 closed

[2021-06-09 23:17] leecalcote opened #3185 "[Patterns] MeshSync ID: Interrelating Pattern Files and MeshSync Data"
_See Epic: #2266_

#### Current Behavior

Meshery, as the service mesh manager using patterns should add the annotations to the resources it creates. The propagation of the labels and annotations to the native k8s resources would be the responsibility of the OAM object (workload/trait) registrar (Meshery Server).

#### Desired Behavior
The implementation of this issue should result in these specif

[2021-06-10 06:54] iambami commented on #3183
Love to take this

[2021-06-10 08:27] dhruv0000 commented on #3153
sure, @abhijeet007rocks8

[2021-06-10 11:13] leecalcote commented on #3066
![Screen Shot 2021-05-31 at 11 19](https://user-images.githubusercontent.com/7570704/121515610-00855880-c9b3-11eb-898b-17486f3a818b.png)

[2021-06-10 11:13] leecalcote commented on #3066
![Screen Shot 2021-05-31 at 11 22](https://user-images.githubusercontent.com/7570704/121515639-07ac6680-c9b3-11eb-9cb6-cbe69cf28df5.png)

[2021-06-10 11:14] leecalcote commented on #3066
Hi @Anushka-shukla, checking on progress... are you still working on these?

[2021-06-10 12:43] Ayush-Khandelwal-007 opened #3187 "New Notification Design implementation."
#### Current Behavior
The present notification snack bars and alerts in notification drawer don't match the sigma designs as well as the present light theme.

In below image you could see the notification in the red box and you could open up the notification drawer form the icon in the top right marked with yellow.

![Screenshot 2021-05-28 at 1 41 57 PM](https://user-images.githubusercontent.com/5

[2021-06-10 13:23] Anushka-shukla commented on #3066
Yes.

[2021-06-10 14:19] jeantiston commented on #3187
Hi @Ayush-Khandelwal-007. I'm interested in helping with this. But I can't seem to access the Figma design.

[2021-06-10 14:27] Ayush-Khandelwal-007 commented on #3187
Hi @jeantiston You can hop in our community by filling up the below form, then you could have access to figma and many other material that could be helpful. Also you would get few suggestions and helping hand in case of any issue you face.
[Form Link](https://meshery.io/community/newcomers)

[2021-06-10 14:32] jeantiston commented on #3187
Awesome! Thank you @Ayush-Khandelwal-007. I've filled out the form.

[2021-06-10 14:34] Ayush-Khandelwal-007 commented on #3187
For any further requirements you could join us on slack.

[2021-06-10 15:55] ramrodo commented on #2467
@Blacklion14 no worries. I appreciate your initiative. I'll detail more this issue and create a guide to solve this easier.

[2021-06-11 03:10] leecalcote opened #3189 "[mesheryctl] Old meshconfig causes parsing failure"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
[code]

#### Meshconfig

- [config.yaml.zip](https://github.com/layer5io/meshery/files/6635530/config.yaml.zip)

#### Desired Behavior

Failure to parse is caught and gracefully handled by prompting the user to create a new config.

#### Environment

- Host OS: Mac
- Meshery Client Ver

[2021-06-11 05:04] #2823 closed

[2021-06-11 05:04] #2824 closed

[2021-06-11 05:04] #2828 closed

[2021-06-11 06:51] ricknjacky commented on #3011
hey I am sorry, caught up with something else as of now, would love to comeback at meshery soon, hope you understand.

[2021-06-11 14:20] Chadha93 commented on #3174
@ahcodes Are working on this issue?

[2021-06-11 15:39] adithyaakrishna commented on #2907
Thanks for this @vineethvanga18

[2021-06-11 15:39] #2907 closed

[2021-06-11 15:40] ahcodes commented on #3174
@Chadha93 Hey man, yeah. Had some personal stuff, apologies for the delay.

[2021-06-11 20:55] Abhishek-kumar09 opened #3192 "[Mesheryctl] Not able to install mesheryctl when doing from meshery repo"
#### Description

Was following guide to install meshery from [here](https://docs.meshery.io/installation/quick-start#install-meshery)
When we are checkout out to meshery source code and try to follow the first step of installation, the mesheryctl is not installed.
Why?
Because when we unzip the folder (unzipping code :arrow_down: )
https://github.com/layer5io/meshery/blob/1b567f7e11cd0aa6015d586f

[2021-06-12 04:12] metonymic-smokey commented on #2758
@navendu-pottekkat @leecalcote is this issue important right now?
There is a design spec for this in the community drive, which needs to have some points agreed upon.

[2021-06-12 04:22] metonymic-smokey commented on #3032
@DARK-art108 how is this going? Any blockers you need help on?

[2021-06-12 04:39] DARK-art108 commented on #3032
@metonymic-smokey will let you know for any help, working upon it! Thanks :)

[2021-06-12 05:14] navendu-pottekkat commented on #2758
@metonymic-smokey Could you link to the spec?

For normal users this would not be an issue if they are always pinned to the latest release.

[2021-06-12 05:31] #3163 closed

[2021-06-12 08:03] metonymic-smokey commented on #2758
@navendu-pottekkat here you go: https://docs.google.com/document/d/1sMSOSQNCxXzPrDfSyLMmmYb21X3EgZxdxlIdG_YuQNA/edit?usp=sharing

We had to discuss in what way the `meshconfig` would have versions separately for both operators and general meshery version.

[2021-06-12 08:21] metonymic-smokey commented on #3189
@leecalcote do you want to handle the error specifically when `token` types are mismatched?

[2021-06-12 08:36] metonymic-smokey commented on #3189
From what I understood in the `GetMesheryCtl` function in `config.go`, the only errors possible while un-marshalling are type mismatch errors?  Is that right or have I missed something?

[2021-06-12 16:19] ShivamSingh22 commented on #3174
Hey, please assign me this issue if it's available(or in future) else if @Chadha93 is working on it, then let it be. :)

[2021-06-12 17:03] Chadha93 commented on #3174
Hey @ShivamSingh22, @ahcodes is working on this issue you can look at other issues as well.

[2021-06-12 18:04] SAY-droid427 commented on #2883
Hello @Anita-ihuman! I wanted to work on this issue as an Open Source contributor. May I work on it if you provide more details on it? Thanks!

[2021-06-12 18:41] Anita-ihuman commented on #2883
Well, this issue just proposed and is yet to be confirmed, that's is why I cant assign this issue right now.

[2021-06-13 23:24] leecalcote opened #3199 "[Helm] Charts showing invalid version number on artifacthub"
#### Description
On https://artifacthub.io/packages/helm/meshery/meshery, Meshery charts display invalid version numbers.

#### Screenshots/Logs
<img width="953" alt="Screen Shot 2021-06-13 at 6 22 36 PM" src="https://user-images.githubusercontent.com/7570704/121824823-7ff57f00-cc74-11eb-99e8-e00b7663a719.png">

#### Workflow
- https://github.com/layer5io/meshery/blob/master/.github/workflows/helm

[2021-06-14 05:04] Shreyas220 opened #3200 "[Compatibility] Meshery installer: PopOS"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

Was following guide to install meshery from [here](https://docs.meshery.io/installation/quick-start#install-meshery)
I need to be able to install meshery using `
 curl -L https://git.io/meshery | PLATFORM=docker bash -
 `
but i am getting this

![image](https://user-images.githubuserc

[2021-06-14 11:59] kaushambisharma commented on #3066
I'd like to work on this.

[2021-06-14 12:13] leecalcote commented on #3066
Thank you, @kaushambisharma. 🙂

[2021-06-14 20:38] leecalcote commented on #2822
@kumarabd @utkarsh-pro is this still valid?

[2021-06-14 22:15] #3192 closed

[2021-06-15 02:39] leecalcote opened #3206 "[Docs] Contributor: Convention and examples for creating errors"
#### Current State

Instructions and examples of how to use the errors.newI() of MeshKit are needed.

#### Desired State

The [contributing docs](https://docs.meshery.io/project/contributing) on docs.meshery.io should have this information.

---

#### Contributor Resources

- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation source](https://github.com/layer5io/meshery

[2021-06-15 02:56] leecalcote opened #3207 "[Chore] Relocate errorutils files from root directory"
#### Current Behavior
Four new errorutils files have landed in the root directory of the Meshery repo (e.g. https://github.com/layer5io/meshery/blob/master/errorutil_errors_export.json, https://github.com/layer5io/meshery/blob/master/component_info.json).

#### Desired Behavior
Ideally, these files are located in a separate folder, like "helpers".

#### Implementation
Move the errorutils files int

[2021-06-15 02:57] leecalcote commented on #3207
@mgfeller, assuming you're in agreement with this request, is this something that you might address?

[2021-06-15 02:58] leecalcote commented on #3206
@mgfeller or @kumarabd, will one of the two of you initiate this? This request (to provide succinct contributor instructions) is related to, but separate from #3208, which is the need to document the errorsutils utility itself.

[2021-06-15 03:01] leecalcote opened #3208 "[Docs] MeshKit Error Codes Utility"
#### Current State
The MeshKit Error Codes Utility has been explained in-depth a couple of times during community meetings and the MeshKit repo contains a bulleted outline of the utility's behavior, caveats, and usage.

#### Desired State
A section in the https://docs.meshery.io/concepts/architecture can be created for MeshKit and can capture much of those same points.

---

#### Contributor Resou

[2021-06-15 03:01] leecalcote commented on #3208
@mgfeller you might consider taking this on.

[2021-06-15 03:06] leecalcote commented on #3200
@Abhishek-kumar09 how does your recent PR address this (or does it not)?

[2021-06-15 03:08] leecalcote commented on #3185
@kumarabd @utkarsh-pro please message when you have a final proposal for review.

[2021-06-15 03:08] #3182 closed

[2021-06-15 03:10] leecalcote commented on #3183
@iambami fyi, if you add the issue # to the placeholder in the PR's description, it will autoclose the associated issue (this issue), saving us a step in the future. ✔️

Thanks for knocking this out.

[2021-06-15 03:10] #3183 closed

[2021-06-15 04:40] iambami commented on #3183
Thank you Lee.

[2021-06-15 08:02] Abhishek-kumar09 commented on #3200
It's a permission denied error.
Looks like there is some OS specific problem with movement of permission to user.
@Shreyas220
Had you tried
 `sudo  mesheryctl system start --yes -p docker`
 or if you want to deploy with k8s  `sudo  mesheryctl system start --yes -p kubernetes`
My recent PR doesn't adress the permission related problems.

[2021-06-15 10:13] hexxdump commented on #2425
working on it.

[2021-06-15 10:44] Shreyas220 commented on #3200
update: had a conversation with Hussaina  mesheryctl is installed ,
used this `curl -L https://git.io/meshery -o meshery; export PLATFORM=docker; sudo bash meshery -`
the permission issue with yaml file is resolved with “sudo” as Lee and Hussaina  suggested

now when i run `sudo mesheryctl system start --yes -p docker` or ` sudo mesheryctl system start --yes -p kubernetes`
i get
![image](https://u

[2021-06-15 11:04] chetak123 commented on #3018
hello, I am very new to this project and would like to start contribution. Can I please take this issue?

Also I am also little confused about issue description ( "system logs should have help describing the fact that when the platf" )

[2021-06-15 12:16] kumarabd commented on #2822
@utkarsh-pro this is already present, correct  me if I am wrong, from our last conversation.

[2021-06-15 17:21] #2945 closed

[2021-06-15 17:33] leecalcote commented on #2805
@pranav-bhatt did you update the contributing docs with your findings?

[2021-06-15 17:34] leecalcote commented on #2991
I _think_ all of these have been successfully addressed.

We have used the `redirect_from:` plugin to redirect from pages that end with a trailing slash to the same URL without trailing slash.

[2021-06-15 17:45] adithyaakrishna commented on #2991
I completely missed this issue 😶
@leecalcote So does that mean this issue is fixed rn and can be closed? 👀

[2021-06-15 17:47] leecalcote commented on #2991
Yes, sir. Near as I can tell, we are good to close. I made a few updates earlier today on the last outstanding pages that I saw having this issue.

[2021-06-15 17:47] #2991 closed

[2021-06-15 19:00] leecalcote opened #3212 "[mesheryctl] Activity Indicator: system start on Kubernetes"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
[code]

Users may sit staring at an inactive terminal for some undetermined amount of time, while Meshery starts on a Kubernetes system. Users deploying Meshery to Docker have status indicators as to provisioning activity, however, K8s users do not.

#### Desired Behavior
An activity s

[2021-06-15 19:39] mgfeller commented on #3207
@leecalcote I'm in agreement, and yes, I might.
(also, I need a better way to filter out notifications that mention me... getting lost in all those emails...)

[2021-06-16 02:54] DARK-art108 commented on #3180
Can I work upon this @leecalcote !

[2021-06-16 03:01] Ayush-Khandelwal-007 commented on #3180
Here you go! @DARK-art108

[2021-06-16 04:12] DARK-art108 commented on #3180
@Ayush-Khandelwal-007 @leecalcote is this behavior is only with safari or also with other browsers!

[2021-06-16 05:37] mgfeller commented on #2854
I think this should not be closed.

[2021-06-16 10:53] piyushsingariya opened #3214 "[Docs] Update Performance usage example"
#### Current State
![image](https://user-images.githubusercontent.com/50979887/122206410-f685bd00-cebe-11eb-9a16-e38e04bc4445.png)

#### Desired State.
Update the pages https://docs.meshery.io/reference/mesheryctl and https://docs.meshery.io/reference/mesheryctl/perf with the latest changes in `mesheryctl perf` command.

---

#### Contributor Resources

- [Meshery documentation site](https://docs.

[2021-06-16 11:05] NagaHarshita commented on #3214
Can you please assign this issue to me?

[2021-06-16 11:17] piyushsingariya commented on #3214
Sure @NagaHarshita!

[2021-06-16 14:26] dhruv0000 commented on #3153
@abhijeet007rocks8 Any blockers I can help you out with?

[2021-06-16 14:52] abhijeet007rocks8 commented on #3153
Sir I am facing an issue to setup the backend server for meshery on local. I was not getting the meshes, to check the issue.
I joined slack and try to fix someone told me. If that does'nt work. I'll contact you.

[2021-06-16 14:55] samirparhi-dev commented on #2855
@Chadha93 : As a part of this issue , the left side pane also should show the service Mesh that is relevant for an organisation .

For Example : if i have Istio in my infra, then I should be able to see only `ISTIO` mesh on the left side pane.

[2021-06-16 15:02] Chadha93 commented on #2855
In the navigator itself ?

[2021-06-16 15:14] samirparhi-dev commented on #2855
yes in the , left pane of the meshery , it shows all the service mesh, which should be depending upon the service mesh that is installed in my K8S cluster. You can get this info may be from the `kube config` or some cloud provider config file (though i am not sure) but it should be part of some config file

[2021-06-16 22:46] dhruv0000 commented on #3159
In the PR [#2900-line 250](https://github.com/layer5io/meshery/pull/2900/files#diff-65ac24c03b70cecf043c733d8584086fad6e503d554ede4469dbd555e9e873f7R250), we are infact connecting to the first selection.

The problem which might make it seem like an issue is that, for the `selections` of URL in the settings, we are using `/api/promGrafana/scan` endpoint (independent of meshsync) and for auto conne

[2021-06-17 05:41] sudo-NithishKarthik commented on #3180
Hey @DARK-art108, i've been looking at this issue and i found that this is an unintentional side effect that got introduced while fixing #3144. Would you mind me fixing it?

[2021-06-17 06:15] NagaHarshita commented on #3212
@navendu-pottekkat Can you specify which library has been used?
@leecalcote Can you please assign this issue to me?

[2021-06-17 06:50] navendu-pottekkat commented on #3212
@NagaHarshita We actually did not merge the PR with the spinner. I am making a PR on a different issue which will have the spinner. I will ping you today when I make the PR.

[2021-06-17 10:55] dhruv0000 commented on #3159
//cc @kumarabd

[2021-06-17 16:40] sayantan1413 opened #3222 "[Docs]Add documentation of some features in the contributing docs"
#### Current State

In the [contributor guide](https://github.com/layer5io/meshery/blob/master/docs/pages/project/contributing/contributing-docs.md) there is a documentation on the Clipboard feature but some of the features are missing like :
{toc}  - Used for the right-hand sidebar
{% if statement %} {% endif %} - To write a conditional if statement.
{% for condition %} {% endfor %} - To write a

[2021-06-17 16:47] debjani1413 commented on #3222
I would like to give it a try!

[2021-06-17 17:56] DARK-art108 commented on #3180
Yes, @sudo-NithishKarthik Please go ahead!

[2021-06-17 19:45] saraswathy-krish commented on #3174
Hello, I am a first-time contributor here and looking for a first-timers-only issue. I would be really glad if I could be helped in finding one.
Thanks!

[2021-06-17 21:26] s1ntaxe770r opened #3223 "[Install] Change Meshery Istio Ingress Gateway port"
#### Current Behavior

Meshery ingress deployment yaml currently points to the wrong service port
#### Desired Behavior

Change the port so it points to 9081
#### Implementation

see https://github.com/layer5io/meshery/blob/106faddab40332c0fbe6a9f55ac17784849c5a96/install/deployment_yamls/istio.yaml#L33
#### Acceptance Tests

#### Mockups

---
**[Contributor Guide](https://docs.meshery.io/project/

[2021-06-18 03:52] sudo-NithishKarthik commented on #3175
@ankitzm , In case you still haven't got the page, it's in **'/ui/components/Navigator.js'** file.

[2021-06-18 04:59] ankitzm commented on #3175
Thanks for the help 😊

[2021-06-18 05:36] alphaX86 opened #3226 "[Docs] Fix all bugs in mesheryctl command reference"
#### Current State
The command reference page is updated now but still has a lot of bugs like empty examples, empty options, 404 errors on some pages etc. (This is caused due to slight improper handling of YAML and markdown)

#### Desired State
All those errors must be fixed and should be clean if a PR is made on this. This issue is overall fixing of that doc page and not just single change alone!

[2021-06-18 06:58] mgfeller commented on #3207
@leecalcote I think the best solution is to add a command line parameter `--output-dir` (could have a default value you suggested), also because there might be several components in one repository (meshery server and mesheryctl for example), corresponding to different root directories.

[2021-06-18 07:10] mgfeller commented on #3207
Probably least confusing to have `.` as default value.

[2021-06-18 18:20] #3180 closed

[2021-06-18 18:24] leecalcote opened #3234 "[mesheryctl] Support tailing logs in Kubernetes platform"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
mesheryctl users are able to fetch logs from Kubernetes-based deployments using:

[code]
Users are not able to tail logs, however.

#### Desired Behavior

Support following / tailing logs of any Meshery component deployed on Kubernetes.

[code]

#### Implementation
Ideally, a `-f`/`--f

[2021-06-18 20:37] anurag8546 commented on #3199
Sir, Where will I find the code of this file?
I've cloned the repo, but unable to find the source code of this page.

[2021-06-18 21:11] anurag8546 commented on #3199
So, This issue here in the "version-2.1.2 " is  basically because of the "Image inserted (https://img.shields.io/badge/Version-2.1.2-informational?style=flat-square) there in the source code, which can be either changed or can be updated by changing in the HTML code.
and the issue there in the right bottom  the "Dependencies section " is simply because of the HTML code, which is not updated after

[2021-06-19 03:54] pottekkat commented on #3212
@NagaHarshita FYI- https://github.com/meshery/meshery/pull/3227

[2021-06-19 04:03] navendu-pottekkat commented on #2307
All the child issues mentioned in this epic is done. Closing this issue.

[2021-06-19 04:03] #2307 closed

[2021-06-19 07:45] anurag8546 commented on #3199
@leecalcote sir, Kindly look into it.

[2021-06-19 07:56] leecalcote commented on #3199
I think this will take a verbal explanation. SVGs can be dynamically generated to include text. The fix for this issue will not be done in Artifact Hub, but in GitHub workflow in this repo. Join the biweekly CI meeting for assistance.

[2021-06-19 08:33] anurag8546 commented on #3199
Okay!

[2021-06-19 09:07] ankitzm commented on #3175
After a lot of brainstorming and understanding the project I found that the problem is not with the Performance link.
The problem arises due to some old codes, which I have attached below

![image](https://user-images.githubusercontent.com/66105983/122637049-2e347500-d10a-11eb-947a-8a2b9d338f02.png)

The href link in both "Conformance" and "SMI Results" are same, thats why they both are shown in b

[2021-06-19 09:33] mgfeller commented on #3207
Actually, I think `component_info.json` should be in the root directory of the component. It is not intended to be errorutils specific, but also to provide the component info to the component-info endpoints, to make sure that type and name are uniform.

I just add another command line flag that points to this file.

Also, there may be multiple components in the same repository, like this one here:

[2021-06-19 09:38] mgfeller commented on #3207
Error utils changes implemented here https://github.com/meshery/meshkit/issues/62

[2021-06-19 10:08] mgfeller commented on #3207
Default value of the new directory command line parameters that makes most sense is the same as rootDir, imho.

[2021-06-19 18:43] ankitzm commented on #3011
Can you please assign me this issue.

[2021-06-19 23:33] divyanshugit commented on #3234
Hi @leecalcote, Can you please assign this to me!! and suggest me some ways that will help me to get started and solve this issue as soon as possible.

[2021-06-19 23:37] divyanshugit commented on #3208
Hey @leecalcote, If @mgfeller is not available can you assign this issue to me?

[2021-06-20 03:04] metonymic-smokey commented on #3018
@leecalcote I think the issue description here is incomplete. Could you just check once, to be sure?

Thanks!

[2021-06-20 03:06] metonymic-smokey commented on #2957
@tushar912 are you facing any blockers with this? Let us know if you need any help!

[2021-06-20 11:11] muskankhedia commented on #3018
@leecalcote I would like to take up this issue. I feel you missed ending the description of the issue. Can you please complete it, so that I could get complete clarity on the issue?

[2021-06-20 13:50] mgfeller commented on #3208
Thanks @divyanshugit, this is great! I assign the issue to you.
Please let me know if you have any questions regarding the error codes utility.

[2021-06-20 17:45] Maxgit3 commented on #2580
@navendu-pottekkat I am getting the issue unable to discover endpoint with minikube also.  is it possible to try running the build in a cloud platform like google?

[2021-06-20 17:51] Maxgit3 commented on #2580
@piyushsingariya @navendu-pottekkat I can't see anything in my code changes that should prevent it from finding endpoint.  maybe I missed something in the changes.

[2021-06-20 18:04] Maxgit3 opened #3238 "[Docs]"
#### Current State
The Kubernetes documentation on the website doesn't have a section about port forwarding.  Port forwarding helped me with bringing up the UI since I didn't have an external IP and was just relying on localhost.   https://docs.meshery.io/installation/platforms/kubernetes

Also from what I read Kind kubernetes development cluster doesn't have load balance support and needs another

[2021-06-20 18:05] Maxgit3 commented on #3206
If need be.  I can help.

[2021-06-20 19:38] adithyaakrishna commented on #3011
Yes sure, go ahead 🎉

[2021-06-21 03:12] sudo-NithishKarthik commented on #3175
Yes, i agree with what @ankitzm is saying. I believe that there is a solid reason for both *Conformance* and *SMI Results* having the same path as there is a code comment stating that it is a temporary thing.

<img width="331" alt="Screenshot 2021-06-21 at 8 35 26 AM" src="https://user-images.githubusercontent.com/75248557/122701833-b8481f00-d26b-11eb-8229-ef196cf36c45.png">

So, the fact that con

[2021-06-21 03:46] navendu-pottekkat commented on #2580
It may be because of some networking issue. Could you try using Kind with a loadbalancer locally? Even if it shows unable to discover endpoint, Meshery will still be deployed and you can look at your services to see where it is deployed.

[2021-06-21 03:46] navendu-pottekkat commented on #2580
It may be because of some networking issue. Could you try using Kind with a loadbalancer locally? Even if it shows unable to discover endpoint, Meshery will still be deployed and you can look at your services to see where it is deployed.

[2021-06-21 11:47] hexxdump opened #3240 "[mesheryctl] bash script could accidentally delete files in current working directory on macOS"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
meshery script fails to create a temp directory on MacOS, as the `tr -dc A-Za-z0-9 </dev/urandom | head -c 16` fails on mac OS

#### Desired Behavior
check whether the temporary_dir_name is not null before creating or accessing or deleting it.
Better to have a standard name for subdire

[2021-06-21 16:24] adithyaakrishna commented on #3238
@Maxgit3 Are there any docs regarding this, if so could you please share them here for reference? 👀

[2021-06-21 16:28] srisatya1197 commented on #2889
Currently I have exams. I faced some issues while setup. I will ratify my mistakes with the help of community then after will start solving issues.
Thanks @adithyaakrishna for this.

[2021-06-21 16:34] leecalcote opened #3243 "[mesheryctl] `system channel switch edge` not prompting user for in-cluster deployments"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
Switching between channels for an in-cluster deployment has the effect of deleting pods and creating new pods.

#### Desired Behavior
User should receive the same conformation prompt shown to them with `mesheryctl system stop`

#### Environment

- Host OS: Mac
- Meshery Client Version:

[2021-06-21 16:38] leecalcote opened #3244 "[mesheryctl] `system status` panics when executing while in-cluster deployments are restarting"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
`mesheryctl system status` panics when executing while in-cluster deployments are restarting.

#### Desired Behavior
Whether Meshery Server's REST API is providing clean responses or not, mesheryctl should handle malformed / 500 responses from Meshery Server (/api/server/version respon

[2021-06-21 17:07] leecalcote opened #3245 "[mesheryctl] `system status` showing invalid endpoint when server is stopped"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
mesheryctl is showing an available endpoint for Meshery Server despite Meshery Server not being available.

#### Desired Behavior
Instead of "Meshery endpoint is", show user a message that says "Meshery is not running"

#### Screenshots/Logs
[code]

#### Environment

- Meshery Server V

[2021-06-21 17:18] leecalcote opened #3246 "[mesheryctl] `system stop` fails to execute even though GitHub.com is reachable"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
mesheryctl system stop fails when it can't reach GitHub?, but the system can.

#### Desired Behavior
1. Don't reach out to GitHub if manifests are cached locally, which they are in this environment.

#### Screenshots/Logs
[code]

[code]

#### Environment

- Host OS: Mac
- Meshery Serve

[2021-06-21 17:36] navendu-pottekkat commented on #3243
`switch` command should switch the channel in the meshconfig and also invoke `restart` in mesheryctl internally. So Meshery restarts from a new release channel.

This behaviour should be consistent for both `context switch` and `channel switch`.

[2021-06-21 17:40] navendu-pottekkat commented on #3245
@anirudhjain75 An issue for warming up to mesheryctl

[2021-06-21 17:47] navendu-pottekkat commented on #3246
Not able to reproduce this error on the current master branch.

[2021-06-22 02:34] leecalcote opened #3248 "[mesheryctl] `system update` fails on Kubernetes with stable channel subscription"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

[code]
[code]

[code]

[code]

[code]

#### Desired Behavior
`mesheryctl system update` should pull the latest versions of the docker images with the `:stable-latest` tag and restart Meshery pods.

#### Environment

- Host OS: Mac
- Meshery Server Version: stable-v0.5.25
- Meshery Cli

[2021-06-22 02:40] leecalcote commented on #3244
To repro: execute the `mesheryctl version` command as the Meshery Server pod is starting.

[2021-06-22 03:30] leecalcote opened #3250 "[CI] Move away from Netlify builds; Use Netlify for deploy previews only"
#### Current Behavior
The `layer5io/layer5` site uses GitHub Actions for building the site and publishes PR-specific deploy previews to Netlify. Using this approach, as a project, we don't have to worry about going over build minutes each month with Netlify.

#### Implementation
Mimic the `layer5` site build/deploy preview workflow - https://github.com/layer5io/layer5/blob/master/.github/workflows

[2021-06-22 03:31] leecalcote commented on #3199
GitHub workflow - https://github.com/meshery/meshery/blob/master/.github/workflows/helm-chart-releaser.yml
Helm charts - https://github.com/meshery/meshery/tree/master/install/kubernetes/helm/meshery

[2021-06-22 03:36] #3240 closed

[2021-06-22 03:50] navendu-pottekkat opened #3251 "[mesheryctl] Deploying Meshery on Docker requires Kubernetes"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

When deploying Meshery in Docker, the current pre-req check checks if Kubernetes is available and only proceeds to start Meshery if it is available.

This is so because even for Docker platform, mesheryctl will deploy the operator manifests to the cluster.

#### Desired Behavior

For

[2021-06-22 05:41] piyushsingariya commented on #3251
I'll include this in the PR with system check!

[2021-06-22 17:08] metonymic-smokey commented on #3244
@leecalcote I did not face this issue running `system status` when `start` was in progress:

![image](https://user-images.githubusercontent.com/48997495/122969434-44606080-d3aa-11eb-911f-d4e2ad492f75.png).

Is there something I'm missing?

[2021-06-22 17:27] leecalcote commented on #2541
This issue is no longer present in the latest release of Meshery. Please reopen if you find otherwise. Thanks for reporting this issue.

[2021-06-22 17:27] #2541 closed

[2021-06-22 17:28] #2805 closed

[2021-06-22 17:50] leecalcote opened #3255 "[mesheryctl]"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
A grammatical error exists in the output from the `mesheryctl system stop` command when Meshery is deployed in K8s cluster.

#### Desired Behavior
This output should read:

[code]

#### Screenshots/Logs
[code]

#### Environment

- Host OS: Mac
- Meshery Client Version: stable-v0.5.25
-

[2021-06-22 18:49] kumarabd opened #3257 "[GetNighthawk] Performance: Https support for Add-on endpoints"
No support for https?

_Originally posted by @leecalcote in https://github.com/layer5io/meshery/pull/3247#discussion_r655852510_

[2021-06-22 21:13] leecalcote opened #3258 "[Perf] Second Grafana board fails to save"
#### Description
When adding more than one Grafana board to the user's view, the following error is displayed:

<img width="523" alt="Screen Shot 2021-06-22 at 2 21 37 PM" src="https://user-images.githubusercontent.com/7570704/123000048-a8683200-d374-11eb-9136-6fce895174ad.png">

The second board is not displayed to the user. If the user refreshes the page, they will see the second board.

#### En

[2021-06-23 02:00] leecalcote opened #3260 "[Extensions] UI: Adjust margins for menu items extension point"
#### Description
The menu items extension point needs margins corrected around menu items provided by remote providers.

#### Expected Behavior
Top and bottom margins should be equal and reflect the style of the other lists of menu items.

#### Screenshots/Logs
<img width="90" alt="Screen Shot 2021-06-22 at 8 57 23 PM" src="https://user-images.githubusercontent.com/7570704/123023291-c3e73300-d39c-

[2021-06-23 07:53] sayantan1413 commented on #3255
Hey @leecalcote I would like to work on this issue.

[2021-06-23 08:59] sayantan1413 commented on #3255
Hey @hexxdump I was trying to reproduce this error in ubuntu18.04 deployed in k8s but I cannot reproduce the error. Is this error particular to MacOS?

[2021-06-23 09:27] metonymic-smokey commented on #3243
Fix for `channel switch` pushed in PR #3198.

[2021-06-23 12:07] sayantan1413 commented on #3255
Hello @hexxdump and @leecalcote I found that in [stop.go](https://github.com/sayantan1413/meshery/blob/master/mesheryctl/internal/cli/root/system/stop.go) in line 177 it written
`s := utils.CreateDefaultSpinner("Terminating Meshery pods", "Pods terminated")`
so it should show "poda terminated" but it is showing "Pods terminatedeshery pods" And while solving this I found that if I modify the **fina

[2021-06-23 12:45] DantrazTrev commented on #3255
Hei @sayantan1413 , I had a different approach for the issue that I hope might help in this case and I did some digging that

 From the spinner, we are using [here](https://github.com/briandowns/spinner), The `FinalMSG` is appended over the `suffix`

 We might prefer adding a new line for the `FinalMSG` or better yet changing the `suffix` text to blank after the exexcution Although this might hind

[2021-06-23 12:57] hexxdump commented on #3255
FinalMSG (Pods terminated) is overwritten over the (stale) Suffix (Terminating Meshery pods).
Would it help if we reset the s.Suffix at line: 195 before calling s.Stop()?

// @navendu-pottekkat

[2021-06-23 12:59] hexxdump commented on #3255
+1

[2021-06-23 15:13] utkarsh-pro commented on #3121
@leecalcote I, and @kumarabd went through this issue a while back and got it working on the KinD. The issue was not specific to either KinD or MeshSync rather was probably an issue with my environment.

Please re-open it if something more needs to be added here.

[2021-06-23 15:13] #3121 closed

[2021-06-23 16:19] sayantan1413 commented on #3255
Hey @DantrazTrev and @hexxdump I tried your approaches but this problem still persists.

[2021-06-23 16:24] DantrazTrev commented on #3255
Hei @sayantan1413 would you mind me giving it a try ? It worked when I played with spinner library in the sandbox.

[2021-06-23 16:30] sayantan1413 commented on #3255
Yeah sure I am assigning this to you.

[2021-06-23 19:06] #3260 closed

[2021-06-24 01:11] #2833 closed

[2021-06-24 01:18] Maxgit3 commented on #3238
@adithyaakrishna  I have some website references
https://kind.sigs.k8s.io/docs/user/loadbalancer/
https://medium.com/pixelpoint/kubernetes-port-forwarding-simple-like-never-before-20a8ab16370f

[2021-06-24 05:44] #3245 closed

[2021-06-24 10:04] navendu-pottekkat commented on #3251
@piyushsingariya Also, consider for `system stop` in Meshery, if they do not have a Kubernetes cluster, do not try to delete the Kubernetes deployments, just stop Docker containers.

[2021-06-24 10:43] dhruv0000 commented on #3258
Fixed by #3263

[2021-06-24 10:43] #3258 closed

[2021-06-24 13:05] navendu-pottekkat commented on #2884
@leecalcote Still having this issue?

[2021-06-24 21:49] #3226 closed

[2021-06-24 21:56] #3214 closed

[2021-06-24 21:57] #3089 closed

[2021-06-25 04:23] leecalcote commented on #2949
@metonymic-smokey fyi - a placeholder issue

[2021-06-25 05:19] sudo-NithishKarthik opened #3268 "[UI] Navigation highlight not working properly for subsections under Management section"
#### Description
Subsections under **Management** section are not getting highlighted when navigated to those sections. But rather, **Management** is getting highlighted

#### Expected Behavior
The navigated subsection should be highlighted.

#### Screenshots/Logs

https://user-images.githubusercontent.com/75248557/123373245-b00d1e00-d5a2-11eb-8cc3-c6ce42317257.mov

#### Environment:
- Meshery Ver

[2021-06-25 05:30] #3255 closed

[2021-06-25 05:43] sudo-NithishKarthik opened #3269 "[UI] Feedback mechanism should be enhanced for custom addons"
#### Current Behavior
When a user thinks that he needs to have an addon and turns the `switch` on, and suddenly, he realises that he doesn't require it, he tries to turn off the `switch`. In this scenario, the only notification that is being shown is that of the operation being executed(twice)

#### Desired Behavior
There should be a clear feedback to the user that his input has been registered, h

[2021-06-25 05:59] sudo-NithishKarthik opened #3270 "[UI] Delete should be available for only those that can be deleted"
#### Current Behavior
User is now able to perform delete operation on things that are not deployed in the first place. Look at the video for clarity.

#### Desired Behavior
User should be able to delete only those things that are already running/created.

#### Visual

https://user-images.githubusercontent.com/75248557/123377160-40e6f800-d5a9-11eb-99ec-bba74713e92d.mov

**NOTE:** This is a fresh cl

[2021-06-25 06:57] nishit-prasad commented on #3268
Hello, I am a newcomer to open source contributions and would like to work on this.

Currently reviewing the documentation/guidelines and setting up my environment.
I have joined the Meshery Slack workspace.

Thanks!

[2021-06-25 07:11] sudo-NithishKarthik commented on #3268
Welcome @nishit-prasad 🥳 , there are a lot of people in the community willing to help people. Just ping on slack if you face any difficulties ✌🏽

[2021-06-25 07:12] nishit-prasad commented on #3268
Thank you! I really appreciate it!

[2021-06-25 11:28] nishit-prasad commented on #3268
@sudo-NithishKarthik
I think I found the root cause.
Part of the highlight logic is tied up with `link` value of the subsections (children).
https://github.com/layer5io/meshery/blob/master/ui/components/Navigator.js#L334

Setting them `true` seems to fix it. Wanted to make sure whether they're any issues with this change before I commit in my scratch branch?
I have posted this concern in **#mesher

[2021-06-25 11:50] #2843 closed

[2021-06-25 14:31] kumarabd opened #3273 "[Nighthawk] Handle `0` query testing"
#### Current Behavior
When the value of `Query` in the test page is set to `0`, nighthawk load test fails due to the fact that qps is set to `0`.

#### Desired Behavior
The load test should start with indefinite traffic when the `Query` parameter is set to `0`.

---
**[Contributor Guide](https://docs.meshery.io/project/contributing)**

[2021-06-25 14:34] kumarabd opened #3274 "[Nighthawk] Test fails for public endpoints"
#### Description
The Nighthawk Load test does not run until the desired time specified for public endpoints. It does not throw an error but rather it gives a `null` response.

#### Environment:
- Meshery Version: latest
- Kubernetes Version: any
- Host OS: Mac
- Browser: chrome

---

**Contributor Resources:**
- [Contributing Docs](https://docs.meshery.io/project/contributing)

[2021-06-25 15:18] dhruv0000 opened #3275 "[Chore] Update Handlers to use new Meshkit Errors"
#### Current Behavior
Meshery Server (and its other components, like Adapters) use a centralized library, MeshKit, to provide uniform utilities (e.g. raising and logging errors). Currently, Meshery Server uses a now antiquated style of error logging with logrus.

#### Desired Behavior
Ideally, all use of logrus is replaced with use of MeshKit-style error logging.

#### Implementation
Meshery Handl

[2021-06-25 16:13] leecalcote commented on #3275
This is a fine-looking list, @dhruv0000. This issue makes for a good Epic (`issue/epic` label), which means that those like @josephmidura looking to knockout some of these are encouraged to create Child issues (`issue/child` label) to break down this work into bite-sized chunks.

[2021-06-25 16:24] leecalcote opened #3276 "[mesheryctl] Activity Spinner: Grammar in `system stop`"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
When stopping Meshery, Meshery Operator and its custom controllers (pods) will be removed from the connected Kubernetes cluster. An activity spinner shows while the pods are being shutdown. Once pod termination is complete, a final message is shown, but conflicts with other text on the

[2021-06-25 16:25] leecalcote commented on #3276
@NagaHarshita would you like to take this?

[2021-06-25 16:46] leecalcote opened #3277 "[Perf] Not all Grafana boards from Meshery Adapter for Istio loading"
#### Description
The "Istio Service Dashboard" board doesn't show any selectable panels.

#### Screenshots/Logs
<img width="1204" alt="Screen Shot 2021-06-25 at 11 44 40 AM" src="https://user-images.githubusercontent.com/7570704/123458593-d33bcb80-d5aa-11eb-82f6-389478bcecfd.png">

#### Environment:
- Meshery Version: v0.5.26
- Host OS: Mac
- Browser: Safari

---

**Contributor Resources:**
- (Con

[2021-06-25 17:53] sayantan1413 commented on #3275
Hey @leecalcote Can I give it a try.

[2021-06-25 17:54] debjani1413 commented on #3275
Hey @sayantan1413 I would like to pair up and work on the issue with you, what say???

[2021-06-25 17:58] NagaHarshita commented on #3276
Yeah sure.

[2021-06-25 21:37] josephmidura commented on #3275
@leecalcote I don't have the permissions to open in issue in Meshery.

[2021-06-25 21:45] DantrazTrev commented on #3276
Hmm🤔 seems kinda related to #3255 . I believe that might help as starting point.

[2021-06-25 21:50] DantrazTrev commented on #3270
Seems like an Icon mixup . I would like to try if someone else isn't already working on it

[2021-06-25 22:05] dhruv0000 opened #3279 "[Chore] Update Handlers to use new Meshkit Errors #1"
Note: This is a child issue of #3275
#### Current Behavior
Meshery Server (and its other components, like Adapters) use a centralized library, MeshKit, to provide uniform utilities (e.g. raising and logging errors). Currently, Meshery Server uses a now antiquated style of error logging with logrus.

#### Desired Behavior
Ideally, all use of logrus is replaced with use of MeshKit-style error loggin

[2021-06-25 22:06] dhruv0000 opened #3280 "[Chore] Update Handlers to use new Meshkit Errors #2"
Note: This is a child issue of #3275
#### Current Behavior
Meshery Server (and its other components, like Adapters) use a centralized library, MeshKit, to provide uniform utilities (e.g. raising and logging errors). Currently, Meshery Server uses a now antiquated style of error logging with logrus.

#### Desired Behavior
Ideally, all use of logrus is replaced with use of MeshKit-style error loggin

[2021-06-25 22:07] dhruv0000 opened #3281 "[Chore] Update Handlers to use new Meshkit Errors #3"
Note: This is a child issue of #3275
#### Current Behavior
Meshery Server (and its other components, like Adapters) use a centralized library, MeshKit, to provide uniform utilities (e.g. raising and logging errors). Currently, Meshery Server uses a now antiquated style of error logging with logrus.

#### Desired Behavior
Ideally, all use of logrus is replaced with use of MeshKit-style error loggin

[2021-06-25 22:15] dhruv0000 commented on #3275
@josephmidura, @debjani1413 and @sayantan1413  I have created a child issues and assigned you some handlers to look into.
Feel free to ping me in slack or here in Github if you feel stuck or confused.

[2021-06-25 22:26] dhruv0000 commented on #3281
Included `user handler` too :wink:

[2021-06-26 00:24] leecalcote commented on #3281
…just for good measure. 😀

[2021-06-26 00:30] leecalcote commented on #3275
@josephmidura, that’s odd. Does this open up for you? - https://github.com/meshery/meshery/issues/new/choose  GitHub users who are not a member of the org have permission to create new issues. Your account should be entitled to not only create issues, but triage (update) issues that someone else has created, too.

[2021-06-26 01:07] leecalcote commented on #3276
Oh, no! I might’ve opened up a duplicate issue. @DantrazTrev, will you evaluate And determine whether or not they are duplicative? If so, let’s close this one in favor of the original. Good eye.

[2021-06-26 01:23] hexxdump opened #3282 "[mesheryctl] Read the auth token from Meshery server rather than prompting user"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
A set of mesheryctl subcommands depend on user to download auth.json from Meshery UI and provide it as command line argument. This does not give good UX.
Commands dependent on auth token:

`mesheryctl pattern`
`mesheryctl perf`
`mesheryctl system config`

#### Desired Behavior
Modify t

[2021-06-26 01:34] josephmidura commented on #3275
Yes, that link opens, and I can open a bug report in Meshery and a bug report or feature request in Mesheryctl so I obviously misread something previously. Thanks for the follow up.

[2021-06-26 05:59] DantrazTrev commented on #3276
@leecalcote Oh yes on a closer look this is an duplicate issue. It seems to have been fixed by a PR already

[2021-06-26 06:11] DantrazTrev commented on #3018
Hei @muskankhedia , I think what @leecalcote meant was to add the component names as args in the help description.

As this part is already available in the command at Line 130 in `logs.go` , but is not documented in the help flag .

Probably want to add something in like `mesheryctl system logs [args]`?

Where args are the component name to be filtered . Hope this helps.

[2021-06-26 06:31] hexxdump commented on #3276
Duplicate of #3255. Fix: #3276 is merged already.

[2021-06-26 06:31] #3276 closed

[2021-06-26 11:23] muskankhedia commented on #3018
@DantrazTrev Thank you, the explanation really helped a lot. I will be making the PR soon :).

[2021-06-26 18:20] DantrazTrev commented on #2913
I would like to work on this issue. And for a bit of clarity clarity can please someone confirm this issue is propagating from the Meshery-UI?

[2021-06-26 18:22] sayantan1413 commented on #3281
Hey @dhruv0000 this is the first time I am contributing to the backend part so I generated a [PR](https://github.com/layer5io/meshery/pull/3283) completing the task for user handler can you verify it once then I will complete the rest two task.

[2021-06-26 21:21] #2873 closed

[2021-06-27 03:58] navendu-pottekkat commented on #2923
@s1ntaxe770r @DelusionalOptimist Could you check this?

[2021-06-27 10:19] suhaniii commented on #3275
@sayantan1413 @debjani1413 @josephmidura @dhruv0000 @leecalcote  I am new, and would like to pair with you on this issue.

[2021-06-27 15:13] navendu-pottekkat commented on #3234
@divyanshugit Are you working on this issue?

[2021-06-27 15:23] divyanshugit commented on #3234
@navendu-pottekkat I thought to work on this issue. But I got assigned another one. So, I am working on that

[2021-06-27 15:31] muskankhedia commented on #3234
@divyanshugit If you are overloaded, will it be fine if I take up this issue?

[2021-06-27 15:38] DantrazTrev commented on #3035
Hei @navendu-pottekkat , If no one else is working on it, Can you assign this issue to me ?

[2021-06-27 15:56] divyanshugit commented on #3234
@muskankhedia NP😀. But please explain it to me once you solve this issue!

[2021-06-27 16:08] muskankhedia commented on #3234
@divyanshugit Sure. Thank you🙂.

[2021-06-27 16:26] navendu-pottekkat commented on #3035
Sure, @DantrazTrev

[2021-06-27 16:35] #3046 closed

[2021-06-28 00:08] piyushsingariya commented on #2913
Yes, this is an issue from Meshery UI.

[2021-06-28 03:11] piyushsingariya opened #3286 "[mesheryctl] New command `mesheryctl token`"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

Users are required to download new tokens with UI and pass them with `--token` for the commands requiring token. Token expires on a regular interval and this process needs to be repeated.

#### Desired Behavior

Introduction of a new command `mesheryctl token` to download and set the