[2021-09-24 12:25] shubham-tyagi opened #4242 "Link in a ReadMe file Pointing To itself."
#### Current State
there is link in https://github.com/meshery/meshery/blob/master/CONTRIBUTING.md under https://github.com/meshery/meshery/blob/master/CONTRIBUTING.md#mesheryctl-documentation which points to itself (https://github.com/meshery/meshery/blob/master/CONTRIBUTING.md).

#### Desired State
that link should be pointing to this documentation page https://docs.meshery.io/project/contributi

[2021-09-24 12:26] shubham-tyagi commented on #4242
I would like to work on this.

[2021-09-24 14:28] alphaX86 commented on #3873
@DelusionalOptimist quick Q here which error code we need to use? I see a list of error codes in the `error.go` but I'm not sure which to use

[2021-09-24 14:37] alphaX86 commented on #3873
@leecalcote do I need to create a error code for this? Or if any existing one is present, which I need to use it?

[2021-09-24 14:49] alphaX86 commented on #2955
@navendu-pottekkat seems operator manifests is still an issue
![image](https://user-images.githubusercontent.com/59508546/134694929-ab56efa0-2bb0-49c4-bab8-2b44613bd61d.png)

Tested this recently in Windows

[2021-09-24 14:50] alphaX86 commented on #2955
But in CMD client, it worked unlike the previous one I reported months back

[2021-09-24 15:03] alphaX86 commented on #2955
Sorry for saying a wrong info, I configured it to use my kube cluster via manual upload of config file. It worked

[2021-09-24 15:03] alphaX86 commented on #2955
Good to close this issue 🎉

[2021-09-24 15:03] #2955 closed

[2021-09-24 15:53] navendu-pottekkat commented on #2955
Thank you for testing @alphaX86 !

[2021-09-24 19:59] #4202 closed

[2021-09-24 20:01] #4242 closed

[2021-09-24 20:02] #3691 closed

[2021-09-25 05:54] shikharvashistha commented on #4038
Hi @san-coding are you still working on this ?

[2021-09-25 07:59] san-coding commented on #4038
Hey, I was a bit busy with university stuff, willl try to work on this now

[2021-09-25 09:44] warunicorn19 opened #4247 "[Docs] OSM error codes not being generated."
#### Current State
Error codes for OSM are not being generated in the docs.

<img width="1440" alt="Screenshot 2021-09-25 at 3 14 00 PM" src="https://user-images.githubusercontent.com/53532328/134767038-62165c42-2dd5-4e9d-a6ba-538b5328921f.png">

#### Desired State
That should not be the case.
---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery B

[2021-09-25 12:52] DelusionalOptimist commented on #3873
@alphaX86 feel free to make new error codes in https://github.com/meshery/meshery/blob/master/mesheryctl/internal/cli/root/mesh/error.go.
They would be similar to that of `deploy`.
Also, you can look into if some error codes can be reused. For e.g.
https://github.com/meshery/meshery/blob/05a4985f86d3a628ef629a3d491e2ad06938f554/mesheryctl/internal/cli/root/mesh/error.go#L43
This can be used for al

[2021-09-25 15:20] alphaX86 commented on #3873
So you mean I can create an error code and reuse a function for ease?

[2021-09-25 16:07] #3656 closed

[2021-09-25 16:52] navendu-pottekkat commented on #4197
@ishitakeshawani You can check this above comment as well as test out the command before you write the docs.

[2021-09-25 17:03] #3829 closed

[2021-09-25 17:54] sayantan1413 commented on #4216
Hey @navendu-pottekkat @warunicorn19 @Viper-M I have solved this PR and I see it is on the latest milestone so can I put in a PR if @Viper-M have not completed it already!

[2021-09-25 17:56] warunicorn19 commented on #4216
@sayantan1413 that would be great, considering it is on the v0.6.0 milestone we would want it done as soon as possible, thank you for this.

[2021-09-26 05:08] leecalcote opened #4250 "Upgrade to MeshKit v0.2.27 Broadcast message type failure"
#### Current Behavior
Upgrading to MeshKit v0.2.27 produces this error on build:

[code]

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for contributing to documentation](https://github.com/meshery/meshery/blob/master/CONTRIBUTING.md#documentation-

[2021-09-26 07:38] bariqhibat commented on #4250
Hey @leecalcote, this requires a change from the Meshkit repo as well, if you don't mind.

[2021-09-26 08:44] Viper-M commented on #4216
Due to my university exams, I was not able to give it time. Thanks, @sayantan1413 for taking it up

[2021-09-26 14:08] Meghana-12 commented on #4209
Oh sorry, didn't work on it yet.

[2021-09-26 14:12] warunicorn19 commented on #4209
No problem 😄.

[2021-09-27 08:15] ishitakeshawani commented on #4197
ok. I will do it.

[2021-09-27 08:55] Abhishek-kumar09 commented on #3749
The issue can be closed, since the initial iteration has been made and the form is active to configure the specs, More features and bugs are tracked here around this issue https://github.com/meshery/meshery/issues/4110

[2021-09-27 08:55] #3749 closed

[2021-09-27 12:40] DelusionalOptimist opened #4253 "[mesheryctl] perf profile doesn't get persisted when specifying test configuration with flags"
**Current behaviour**
`mesheryctl perf apply` doesn't persist performance profiles.

**Desired behaviour**
It should persist them and the last persisted one should be used if no flags are specified when mesheryctl recreates a test referencing the same profile. This will ensure uniformity with UI.

**Additional Context**
[code]
This created a perf-bugs-test profile and also ran this test.
Next, I w

[2021-09-27 12:43] DelusionalOptimist commented on #3873
Sorry @alphaX86 I was away :sweat_smile:

Yes, precisely :heavy_check_mark:

[2021-09-27 15:15] sayantan1413 commented on #4214
<img width="752" alt="Screenshot 2021-09-27 at 8 43 13 PM" src="https://user-images.githubusercontent.com/64970095/134936492-3d623af3-a9da-4ab1-be49-9c57056ae015.png">

Looks good @navendu-pottekkat ?

[2021-09-27 16:03] #4250 closed

[2021-09-27 16:08] #4247 closed

[2021-09-27 17:08] PulkitSinghDev commented on #4234
I would like to work on this :)

[2021-09-27 17:54] lucj opened #4257 "[mesheryctl] Error during installation on Ubuntu"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
I got an error installing mesheryctl / meshery on an ubuntu VM

#### Desired Behavior

#### Screenshots/Logs
[code]

#### Environment

- Host OS: Running an HyperKit Ubuntu VM on MacOS
- Platform: Kubernetes / K3s

---

#### Contributor Resources
- [mesheryctl Contributing Guide](https

[2021-09-27 22:59] #4257 closed

[2021-09-28 02:06] #3853 closed

[2021-09-28 02:20] #4139 closed

[2021-09-28 08:29] Revolyssup opened #4262 "Need a probable cause and suggested remediation for errors in k8s component generation"
Will need a probable cause and suggested remediation for these errors.

_Originally posted by @leecalcote in https://github.com/meshery/meshery/pull/4254#discussion_r717029551_

[2021-09-28 08:57] Zanda256 commented on #4156
@panyuenlau  would it be healthy if we run the line 93 in a go routine and utilise a channel to wait for output?

[2021-09-28 13:45] DelusionalOptimist commented on #4199
I couldn't repro this exactly. However wrk2 load tests fail sometimes. For me it is:

[code]
This is happening because wrk2 produces the below output sometimes which is not a valid JSON and when `gowrk2` tries to marshal this, it fails. A fix for this would have to be in gowrk2 itself.
[code]

[2021-09-28 14:53] DelusionalOptimist opened #4265 "[UI] Nighthawk test results don't contain test title and URL"
#### Current Behavior
The results displayed after running a performance test have empty "title" and "URL" fields.

#### Desired Behavior
The results should have both of these fields.

#### Screenshots/Logs
This can't be a back end issue as the results returned by Meshery server do contain these. See in the below ss:
![2021-09-28_20-13](https://user-images.githubusercontent.com/54525605/135111306-7

[2021-09-28 20:12] navendu-pottekkat commented on #4233
@l5io Track this please!

[2021-09-28 20:35] navendu-pottekkat commented on #4233
@l5io Test

[2021-09-28 20:45] navendu-pottekkat commented on #4233
@l5io  Test

[2021-09-28 22:38] #4262 closed

[2021-09-28 22:46] #3273 closed

[2021-09-28 22:46] #4174 closed

[2021-09-29 03:21] #4209 closed

[2021-09-29 06:14] Revolyssup opened #4270 "Migration from Bitcask to Sqlite"
#### Current Behavior

Currently bitcask is used at various places in meshery server.

#### Desired Behavior

Bitcask has to be silently replaced with sqlite everywhere in meshery server.
#### Implementation

#### Acceptance Tests

#### Mockups

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/p

[2021-09-29 08:17] sudhay23 commented on #4265
Hello @DelusionalOptimist @leecalcote. Can I work on this please?

[2021-09-29 09:02] sudhay23 commented on #4265
@sayantan1413 If that's allowed, can I have this as part of my Hacktoberfest PRs? 😃

[2021-09-29 10:28] sudhay23 commented on #4265
@sayantan1413 Can you please tell if this is the file I must change?

https://github.com/meshery/meshery/blob/c30768fe65b0fee010f1c89bfc87ce19f5012fa4/ui/lib/chartjs-formatter.js#L58-L215

[2021-09-29 15:53] #3828 closed

[2021-09-29 16:14] sudhay23 commented on #4265
@DelusionalOptimist @sayantan1413 Can you help me recreate this issue?

[2021-09-29 17:04] navendu-pottekkat opened #4275 "[mesheryctl] Version being pinned in current-context on system start for Docker platform"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

Running `mesheryctl system start` on Docker with `version` in the `current-context` set to `latest` overrides it and pins it to the current latest release (ex: `v0.5.60`).

This would prevent Meshery from automatically running the latest version and the user would always be pinned to

[2021-09-29 19:17] #4275 closed

[2021-09-30 02:04] #4125 closed

[2021-09-30 05:00] DelusionalOptimist commented on #4265
Hey @sudhay23!
Steps to reproduce:
1. Start Meshery and open up the UI.
2. Go to the "performance" page.
3. Create a performance profile and select "nighthawk" as the load generator.
4. Run a test against any public URL.
5. See this bug in the result.

[2021-09-30 06:44] navendu-pottekkat commented on #4148
This is closed since #3972 is fixed and the docs are here: https://docs.meshery.io/guides/performance-management#running-performance-benchmarks-in-your-pipelines

[2021-09-30 06:45] #4148 closed

[2021-09-30 11:56] sudhay23 commented on #4265
@DelusionalOptimist I tried the same but had an error toast message saying the test failed

[2021-09-30 12:25] DelusionalOptimist commented on #4265
Gotcha. I hope the slack convo resolves that :+1:

[2021-09-30 16:17] #3761 closed

[2021-09-30 18:05] leecalcote opened #4280 "[Docs] Broken Image Links"
#### Current State
Images are broken on this page - https://docs.meshery.io/functionality/performance-management

<img width="1559" alt="Screen Shot 2021-09-30 at 9 32 48 AM" src="https://user-images.githubusercontent.com/7570704/135507700-9591a57e-bf0a-4efd-9fb1-73aaf59e74d0.png">

#### Desired State
Images should be displayed.

---

#### Contributor [Guides](https://docs.meshery.io/project/contr

[2021-09-30 18:51] Rishi22-Coding commented on #4280
Hi,
I want to give it a try can you please assign me.

[2021-09-30 18:54] warunicorn19 commented on #4280
@Rishi22-Coding sure!

[2021-09-30 19:55] #3994 closed

[2021-10-01 07:28] #4280 closed

[2021-10-01 10:44] sudhay23 commented on #4265
@DelusionalOptimist Still the same problem 😅.

[2021-10-01 15:34] Meghana-12 commented on #4162
@iambami How's the post coming along? Please feel to reach out if you need some help or want to get the blog reviewed!

[2021-10-01 15:35] Meghana-12 commented on #4130
@Shatakshi0805  Any updates? Please feel to reach out if you need some help or want to get the blog reviewed!

[2021-10-01 16:26] Shatakshi0805 commented on #4130
Hi, so sorry I forgot to inform that I got caught up in some other work. Maybe someone else can work on this issue.

[2021-10-01 21:24] leecalcote commented on #3661
Thanks for checking. Yes, this has been solved.

[2021-10-01 21:28] #4208 closed

[2021-10-01 21:36] leecalcote opened #4312 "[mesheryctl] Fully promote `mesh` command from experimental"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
`mesheryctl mesh` is halfway between stable under `mesheryctl` directly and halfway in experimental under `mesheryctl exp mesh`.

#### Desired Behavior
Fully promote `mesh` from `exp` to `mesheryctl`. Verify all functionality.

---

#### Contributor Resources
- [mesheryctl Contributing

[2021-10-01 21:44] leecalcote opened #4313 "[mesheryctl] `mesh deploy` stops at verifying prerequisites"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
Output showing current behavior:

[code]

Nothing happens beyond this message.

#### Desired Behavior
The command should tell the user that the `-a` is missing as a required argument.

#### Environment

- Meshery Client Version: stable-v0.5.62

---

#### Contributor Resources
- [mesher

[2021-10-01 21:44] leecalcote commented on #4313
@meshery/mesheryctl-contributors

[2021-10-01 21:56] leecalcote commented on #1270
Completed.

[2021-10-01 21:56] #1270 closed

[2021-10-01 21:57] #2540 closed

[2021-10-01 21:58] leecalcote commented on #819
I think we have eliminated each of these issues...

[2021-10-01 21:58] #819 closed

[2021-10-02 04:21] asubedy commented on #2598
I would like to work in this, please assign me.

[2021-10-02 05:37] afzal442 commented on #4313
I would like to look into it.

[2021-10-02 05:37] dhruv0000 commented on #4236
I dont think this is a broadcast related issue, the issue here seems like the overwhelming logs from `MeshSync data` are hampering the developer experience to read other logs (like load test result logs). Correct me if I am wrong, @DelusionalOptimist.

[2021-10-02 06:36] afzal442 commented on #4313
<img width="588" alt="c3" src="https://user-images.githubusercontent.com/11625672/135706361-e1b094a3-6898-4a51-b353-8938fda61344.PNG">

[2021-10-02 06:41] DelusionalOptimist commented on #4236
@dhruv0000 I don't think its only about logs.
This is the load test result sent by meshery server captured from the browser:
Should all the data that's in the `detected-meshes` object be present in this?
[code]

[2021-10-02 06:43] shubham-tyagi opened #4314 "remove redundant links from documentation"
#### Current State
there are various links in total on meshery docs under **suggested reading** section which are redundant.
for example we are on **contributing to meshery server page** still a link to go on the same page itself is available under **sugested reading** section. We have few such cases on meshery docs.

![](https://imgur.com/qFSZeLS.png)

![](https://imgur.com/XxLR1y0.png)
#### Desi

[2021-10-02 06:44] shubham-tyagi commented on #4314
I would like to fix this.

[2021-10-02 06:46] shubham-tyagi commented on #4314
can you also add the hacktoberfest label for this issue.

[2021-10-02 08:12] warunicorn19 commented on #4314
Sure, go ahead @shubham-tyagi.

[2021-10-02 12:20] Abhishek-kumar09 commented on #4142
Need investigation but what I can infer from the logs here, it is not due to the overflowing of patterns, but certainly due to continuous re-rendering and fetching, maybe there is data leak issue here(maybe due to wrong call to useEffect), it is also possible that the schema is unparsable thus not rendered.

[2021-10-02 15:09] dhruv0000 commented on #4186
@manav1403 Is this issue good to close?

[2021-10-02 21:19] Abhishek-kumar09 commented on #4142
![image](https://user-images.githubusercontent.com/48255244/135732019-8a8d0385-f9fe-44c1-971d-27b4631bb652.png)
The api is throwing endless workloads :(

[2021-10-02 21:20] utkarsh-pro commented on #4142
@Abhishek-kumar09 I'd be addressing this issue in a coming PR. Thanks for looking into it.

[2021-10-03 14:23] warunicorn19 commented on #3940
@Krishna-Koustub any updates on this?

[2021-10-03 14:25] warunicorn19 commented on #3760
I think we could close this issue.

[2021-10-03 14:25] #3760 closed

[2021-10-03 17:26] anirudhjain75 opened #4319 "[mesheryctl] No error output `mesheryctl system start -p gke`"
#### Current Behavior
No error output when running mesheryctl system start -p gke

#### Desired Behavior

It should state the reason as to why the command failed

#### Screenshots/Logs

[code]

#### Environment

- Host OS: Mac
- Meshery Server Version: NA
- Meshery Client Version: stable-v0.5.62
- Platform: GKE

---

#### Contributor Resources
- [mesheryctl Contributing Guide](https://github.com/m

[2021-10-03 17:44] mgfeller commented on #4319
This error error/bug was reported earlier, see https://github.com/meshery/meshery/issues/3986 and https://github.com/meshery/meshkit/issues/102.

[2021-10-03 18:53] #3886 closed

[2021-10-03 19:22] anirudhjain75 commented on #4319
Closing this issue as duplicate of #3986

[2021-10-03 19:22] #4319 closed

[2021-10-04 05:58] navendu-pottekkat commented on #3886
Checking if this is still an issue...

[2021-10-04 11:26] felixfaisal commented on #4129
Hey, Can I work on this? @Zain-Muiz @navendu-pottekkat If this is still available to work on, Thanks!

[2021-10-04 12:13] navendu-pottekkat commented on #4129
@felixfaisal Sure. This would require some knowledge/exploration on Web Assembly, WASM Filters and capabilities of Envoy based data planes and would be required in a week.

[2021-10-04 13:38] #3248 closed

[2021-10-04 16:54] Zanda256 commented on #4214
Can I take this up please ?@navendu-pottekkat .

[2021-10-04 17:37] shubham-tyagi opened #4326 "Make a reusable component for "suggested reading" section."
#### Current State
As you can see this `suggested reading` section is used in most of the docs pages. This section's code is repeated for every such page.
![](https://imgur.com/i5g7ydF.png)

#### Desired State
A reusable `suggested reading` component is to be made which could be used for all the pages.
---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [

[2021-10-04 17:37] shubham-tyagi commented on #4326
I would like to fix this.

[2021-10-04 17:53] warunicorn19 commented on #4326
Thank you @shubham-tyagi for looking into this.

[2021-10-04 19:18] #4233 closed

[2021-10-05 11:02] leecalcote commented on #4314
@warunicorn19 @alphaX86, do we have an `include` file that can be commonly reused across all pages, yet?

[2021-10-05 11:10] warunicorn19 commented on #4314
@leecalcote not yet, @shubham-tyagi said that he would like to give that a try and is tracking the same in #4326

[2021-10-05 11:14] leecalcote commented on #3893
@panyuenlau (💪) recently fixed this in v0.5.60 and later.

[2021-10-05 11:29] leecalcote commented on #4314
That's good. #4322 is unnecessary churn, then.

[2021-10-05 11:35] warunicorn19 commented on #4314
@leecalcote #4322 also deals with redundancy of links in the TOC as well, so I guess it's not completely unnecessary. That also adds some readability to some portion of the code, so I guess we code go ahead and merge that.

[2021-10-05 12:33] alphaX86 commented on #3517
Hmm... We'd need to see on this too, won't we?

[2021-10-05 13:28] alphaX86 commented on #3409
Well IG we can close it for now, due to inadequate info on it... A spec is made though in the drive... We'll look on it later if time permits...

Closing issue now

[2021-10-05 13:28] #3409 closed

[2021-10-05 14:39] piyushsingariya commented on #3517
I don't think we need this now tbh, the script command is now too powerful and easy to use. may be in future we think back here again.

[2021-10-05 14:49] alphaX86 commented on #3517
Good to close then?

[2021-10-05 15:13] piyushsingariya commented on #3517
Yup!

[2021-10-05 15:13] #3517 closed

[2021-10-05 16:50] MarioArriaga92 commented on #2467
@ramrodo I'd like to work on this issue

[2021-10-05 17:18] #3895 closed

[2021-10-05 17:31] ramrodo commented on #2467
Great! I just assigned you @MarioArriaga92. If you have questions, don't hesitate to let me know.

[2021-10-05 17:41] awardnasc commented on #3787
Looking through the page it looks like "Error Name || Error Code" wouldn't be unique either.

![image](https://user-images.githubusercontent.com/15613449/136074446-ad16acd6-a267-4fd4-8911-a3f63674e53a.png)
![image](https://user-images.githubusercontent.com/15613449/136074507-8f69efba-2756-43d8-8feb-85b986d19ce6.png)

My proposal is that the anchor tags are built off of the adapter and error code a

[2021-10-05 22:16] leecalcote commented on #2913
@dhruv0000 ?

[2021-10-05 22:27] leecalcote commented on #3787
Great catch, @awardnasc. You're spot on regarding the scope of these error codes being that of per-component. 👍

[2021-10-06 00:56] afzal442 commented on #4313
The command should tell the user that the -a is missing as a required argument.

@navendu-pottekkat should it be hard-coded or ?

// @leecalcote

[2021-10-06 00:58] leecalcote commented on #4313
+ @piyushsingariya

[2021-10-06 01:45] leecalcote commented on #3968
Yes, a dark mode theme would be fantastic.

[2021-10-06 01:46] leecalcote commented on #3011
@Shatakshi0805, yes, help is needed. Are you still up to the task?

[2021-10-06 01:47] #2883 closed

[2021-10-06 01:47] leecalcote commented on #4140
Fixed.

[2021-10-06 01:49] leecalcote commented on #4149
@Revolyssup will you capture this in Meshery Docs under the Server component in the Architecture section?

[2021-10-06 01:49] leecalcote commented on #3981
@alphaX86 you might have accomplished these items...

[2021-10-06 01:50] leecalcote commented on #3274
@anirudhjain75 help wanted

[2021-10-06 01:51] alphaX86 commented on #3981
The examples one is still in review... Plus for that subcommand table, no one is willing to take it up yet... If those are over, then this epic is good to close

[2021-10-06 04:56] ChetanAtrawalkarCA opened #4334 "Can i add the tag section into reusable component for see tag related articles for user."
#### Current Behavior

#### Desired Behavior

#### Implementation

#### Acceptance Tests

#### Mockups

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for contributing to documentation](https://github.com/meshery/meshery/blob/master/CONTRIBUTING.md#

[2021-10-06 04:57] ChetanAtrawalkarCA commented on #4334
please suggest me.

[2021-10-06 08:36] sayantan1413 commented on #3303
Yes @leecalcote these two handler file need to be updated to meshkit style error. I am making a fix to this today only.

[2021-10-06 16:11] #3787 closed

[2021-10-06 18:28] leecalcote opened #4337 "[Docs] Inactivity: Maintainers list update"
#### Current State
One of Meshery's currently listed maintainers have been inactive for a period of two months, resulting in an automatic, assumed abandonment of role. Abishek Kumar will move to maintainer emeritus and revert to the contributor role.

#### Implementation
Remove Abishek Kumar's name from [MAINTAINERS.md](https://github.com/meshery/meshery/blob/master/MAINTAINERS.md)

---

#### Cont

[2021-10-06 18:31] leecalcote commented on #3893
@samirparhi-dev you should find that the charts work quite well now.

[2021-10-06 18:49] leecalcote commented on #3700
Done?

[2021-10-06 19:42] shubham-tyagi opened #4339 ""using mesherctl" name on the side-bar creating confusion and sub-links not appearing on clicking the link."
#### Current State
* As you can see in the below image the name of the page is "meshery CLI guide" and in the sidebar it is named "using mesheryctl", we already have a page named "using mesheryctl" which is the sub-link of "meshery CLI guides" hence the name creates confusion.
* The sublinks of "meshery CLI guides" doesn't appear on the side bar on clicking it.

![](https://imgur.com/wPziYW8.png)

[2021-10-06 19:42] shubham-tyagi commented on #4339
I would like to fix this.

[2021-10-06 19:44] leecalcote commented on #4339
The suggestion in your second bullet sounds good. Let's set aside the suggestion in your first bull yet point for the time being.

[2021-10-06 19:47] shubham-tyagi commented on #4339
sure @leecalcote, on it.

[2021-10-06 20:11] leecalcote opened #4341 "[UI] Count of content when deleted in bulk"
Ideally, we will provide the users feedback on bulk deletes by including the count of items that they are confirming to delete.

_Originally posted by @leecalcote in https://github.com/meshery/meshery/issues/4049#issuecomment-912924491_

[2021-10-06 20:14] leecalcote opened #4342 "[CI] Failed integration tests missing `docker-compose`"
#### Current Behavior
See the logs from a [recent PR with fail integration tests](https://github.com/meshery/meshery/pull/4340/checks?check_run_id=3819658961):

[code]

#### Desired Behavior
Integration tests should pass.

#### Implementation
Switch integration tests to deploy Meshery in Kubernetes, not in Docker.

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Res

[2021-10-06 20:28] leecalcote opened #4343 "[CI] Label Commenter needs token passed as `with.GITHUB_TOKEN`"
#### Current Behavior
Workflow failures with:

[code]

are occurring. Here is [an example failure](https://github.com/meshery/meshery/pull/4338/checks?check_run_id=3819329673#step:2:6).

#### Desired Behavior
Workflow should be updated with this new style of GitHub workflow reference requirements.

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshe

[2021-10-07 00:33] leecalcote opened #4344 "[mesheryctl] panic on `system start` on Docker Desktop v4.1.0"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
There seems to be an incompatibility with `docker-compose`.

[code]

#### Screenshots/Logs
<img width="872" alt="Screen Shot 2021-10-06 at 7 33 05 PM" src="https://user-images.githubusercontent.com/7570704/136302143-e3d37f9b-3c15-4906-957f-743d39d042f2.png">

**meshconfig**
[code]

###

[2021-10-07 00:36] leecalcote opened #4345 "[mesheryctl] Release candidate tag `rc` not considered in latest version check"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

[code]

#### Desired Behavior
The latest version is `  v0.5.64-rc-2`, not   `v0.5.64`

#### Environment

- Host OS: Mac
- Meshery Server Version: stable-v0.5.64-rc-2
- Meshery Client Version: stable-v0.5.64-rc-2
- Platform: Docker

---

#### Contributor Resources
- [mesheryctl Contrib

[2021-10-07 01:54] alonsolopezr opened #4346 "[Docs] update spanish home layout to match english docs site"
#### Current State
The layout of the spanish docs site has only one category, and doesn't match the layout of the english docs site
English page to translate: https://docs.meshery.io/
#### Desired State
The layout of the spanish docs site match the layout of the english docs site, with the same sections
---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠

[2021-10-07 01:58] alonsolopezr opened #4347 "[Docs] Create/Update the index list of the CONCEPT section in the spanish docs site"
#### Current State
The spanish docs site doesn't have the CONCEPTS section nor the index page
English page to translate: https://docs.meshery.io/concepts
#### Desired State
The spanish docs site has the CONCEPT section and the index list of spanish docs in the section

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](

[2021-10-07 02:00] alonsolopezr opened #4348 "[Docs] Create/Update the Adapters page in spanish, that goes in the CONCEPT section in the spanish docs site"
#### Current State
The spanish docs site doesn't have the Adapters page translation to spanish
#### Desired State
The spanish docs site has the  Adapters page translated to spanish in the CONCEPT section
---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructio

[2021-10-07 02:01] alonsolopezr opened #4349 "[Docs] Create/Update the Architecture page in spanish, that goes in the CONCEPT section in the spanish docs site"
#### Current State
The spanish docs site doesn't have the Architecture page translation to spanish
English page to translate: https://docs.meshery.io/concepts/architecture
#### Desired State
The spanish docs site has the  Architecture page translated to spanish in the CONCEPT section
---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Rel

[2021-10-07 02:01] alonsolopezr opened #4350 "[Docs] Create/Update the Brokers page in spanish, that goes in the CONCEPT section in the spanish docs site"
#### Current State
The spanish docs site doesn't have the Brokers page translation to spanish
English page to translate: https://docs.meshery.io/concepts/architecture/broker
#### Desired State
The spanish docs site has the Brokers page translated to spanish in the CONCEPT section
---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release

[2021-10-07 02:02] alonsolopezr opened #4351 "[Docs] Create/Update the Database page in spanish, that goes in the CONCEPT section in the spanish docs site"
#### Current State
The spanish docs site doesn't have the Database page translation to spanish
English page to translate: https://docs.meshery.io/concepts/architecture/database
#### Desired State
The spanish docs site has the Database page translated to spanish in the CONCEPT section
---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Rel

[2021-10-07 02:03] alonsolopezr opened #4352 "[Docs] Create/Update the MeshSync page in spanish, that goes in the CONCEPT section in the spanish docs site"
#### Current State
The spanish docs site doesn't have the MeshSync page translation to spanish
#### Desired State
The spanish docs site has the MeshSync page translated to spanish in the CONCEPT section
---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instruction

[2021-10-07 02:03] alonsolopezr opened #4353 "[Docs] Create/Update the Operator page in spanish, that goes in the CONCEPT section in the spanish docs site"
#### Current State
The spanish docs site doesn't have the Operator page translation to spanish
#### Desired State
The spanish docs site has the Operator page translated to spanish in the CONCEPT section
---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instruction

[2021-10-07 04:00] hexxdump commented on #4344
The problem could be due to compose or compose.Services being empty.
A defensive check should be introduced to avoid panic. Need to check whats missing in utils.DockerComposeFile
[code]

[2021-10-07 04:49] piyushsingariya commented on #4344
I fixed this last night!

[2021-10-07 07:34] leecalcote commented on #4345
This might be an errant issue considering the release of v0.5.64 is chronologically newer than rc-2.

[2021-10-07 12:21] DelusionalOptimist opened #4356 "[meshery server] limit calls to kubeopenapi-jsonchema utiity"
#### Current Behavior
When the k8s config is invalid in multiple API calls, the goroutine triggering component generation triggers runs the utility multiple times causing extreme CPU usage.

#### Expected Behavior
If the utility is in a running state, it should'nt be re run.
https://github.com/meshery/meshery/blob/4b31eee3155469f2a5c13eea3af4ca11961de829/handlers/k8sconfig_handler.go#L328

#### Sc

[2021-10-07 14:26] #4344 closed, assigned to piyushsingariya

[2021-10-07 15:07] Revolyssup commented on #4356
Second approach(The better approach)- If a subsequent call is made to the function, then we assume that the old call is pointless now. We can pass an optional stop channel from config, and inside of the meshkit function we can keep checking after each iteration of component generation if the stop channel received something. When a subsequent call is made, we can make the previous function exit.

[2021-10-07 20:59] Abhishek-kumar09 opened #4359 "[UI/API] Replace Fetch with Axios"
#### Current Behavior
We are using fetch to handle and manage all our requests and responses in react, and it comes with a lot of uncertanities. We have already seen problems parsing data implicitly. The worst part is it comes with bad error handling and extra boiler-plate code to do simple thing.
Axios is industry standard for making and getting requests and responses, helps with automatic json s

[2021-10-08 03:55] ujju20 commented on #4359
Can I work on this issue I have some experience in Javascript and with Axios also?

[2021-10-08 05:50] sudo-NithishKarthik commented on #4359
Yes. I agree that **axios** is better than **fetch** in terms of the Application Programming Interface and some other features. But for Meshery UI, I am _not convinced_ that we should switch to **axios** _now_ because,

1. The task is big and is prone to errors.
2. We are using `isomorphic-fetch`, so the backward compatibility of axios is no more a selling point.
3. I am afraid we won't be utilisi

[2021-10-08 09:27] DelusionalOptimist opened #4364 "[Performance] unable to retrieve or save advanced request options in performance profiles"
#### Current Behavior
Request options don't get persisted when trying to create a performance test with advanced request options. Also, old profiles which had these options too don't seem to have this data.

#### Expected Behavior
Performance test profile should return as it was created and should be saved.

#### Screenshots/Logs
Logs from Meshery server indicating the profile data being sent when

[2021-10-08 09:44] bariqhibat commented on #4364
Might be because we haven't put in additional params for this in the GraphQL resolver in the UI. I'll try to reproduce it during the weekend. Nice finding, Rudraksh.

[2021-10-08 09:46] gravishpurohit commented on #4337
Has this issue been fixed ?

[2021-10-08 10:27] shubham-tyagi commented on #4337
@gravishpurohit thanks for asking but I will be solving it today and if I get stuck somewhere I will surely contact you.

[2021-10-08 15:22] panyuenlau opened #4368 "ngnix-sm installation failed if the system is installed with helm charts"
#### Current Behavior

Failed to install nginx-sm via the UI after the system is installed with the helm charts,  `label-namespace` pods are failing to start up.
#### Expected Behavior

nginx-sm can be installed via the UI when the system is installed with helm charts

#### Screenshots/Logs

![Screenshot from 2021-10-08 11-22-11 - 1](https://user-images.githubusercontent.com/29384080/136582603-69d

[2021-10-08 16:18] #4337 closed

[2021-10-08 19:06] Abhishek-kumar09 commented on #4359
Awesome pointers @sudo-NithishKarthik,
Personally I felt some problems with handling requests and responses. Definately, it requires a effort to replace axios with fetch where we have to tests absolutely all the endpoints to be working perfectly. But I think it would be a good go, since it's a more standard approach providing benefits of better error handling. Error handling is one of  the prior i

[2021-10-08 22:52] Abhishek-kumar09 opened #4371 "[Patterns] Failed uploading patterns"
#### Current Behavior

Not able to upload meshery patterns, throwing null pointer error.

#### Expected Behavior

Pattern should be uploaded successfully

#### Screenshots/Logs

https://user-images.githubusercontent.com/48255244/136632388-d5ded1d8-1aaa-4ed2-bf61-88371c0f4512.mp4

Logs
[code]
#### Environment

- **Host OS:** Linux
- **Platform:** Docker or Kubernetes
- **Meshery Server Version:** l

[2021-10-08 23:00] Abhishek-kumar09 commented on #4371
Files I used to upload:
1.
``
name: ApplicationPattern1
services:
  myapp:
    type: Application
    namespace: test
    settings:
      replicas: 1
      containers:
        - name: meshy
          image: utkarsh23/meshy:v5
          ports:
            - name: http
              containerPort: 8080

[code]
pattern-id: MESHERY001
pattern-name: Basic Istio Install
name: Basic Istio Patterns
service

[2021-10-09 04:54] ramrodo commented on #4353
¡Claro! @chal-gro asignado :)

[2021-10-09 08:16] chal-gro commented on #4352
Trabajaré con esta traducción :D

[2021-10-09 08:17] chal-gro commented on #4351
Tomaré este issue.

[2021-10-09 08:17] chal-gro commented on #4350
Soy yo de nuevo :), también lo tomaré.

[2021-10-09 19:12] Abhishek-kumar09 opened #4376 "[UI] hide dialog after inserting pattern"
#### Current Behavior

![image](https://user-images.githubusercontent.com/48255244/136671221-88439360-022c-4b5e-80ae-4f1f7ca93e74.png)
The dialog doesn't close even after inserting the pattern successfully

#### Desired Behavior

Dialog should be closed once insert button is clicked.

#### Environment

- Browser: Chrome Safari Firefox
- Host OS: Mac Linux Windows
- Meshery Server Version: stable-v

[2021-10-09 19:14] vedant-kakde commented on #4376
I would like to work on this issue.

[2021-10-09 21:35] ramrodo commented on #4347
Thanks, @shubham-tyagi!

[2021-10-10 00:12] ramrodo commented on #4347
Thanks! @shubham-tyagi

[2021-10-10 04:20] Zain-Muiz commented on #4129
Heyy @felixfaisal , How is your work on this coming about ?

[2021-10-10 14:53] #3986 closed

[2021-10-10 16:53] #4339 closed

[2021-10-11 03:40] bariqhibat commented on #4364
Hey @DelusionalOptimist, I don't think this coincide with GraphQL resolvers since we haven't implement a resolver for this usecase yet (usually we migrated the GET APIs, this is a POST).

[2021-10-11 15:03] #4351 closed, assigned to chal-gro

[2021-10-11 15:07] #4349 closed

[2021-10-12 07:40] gyohuangxin opened #4392 "Failed to deploy any service mesh"
#### Current Behavior

After installing meshery with helm charts, I can not deploy any service mesh in my cluster. Take istio as an example, I tried to install istio mesh, but get errors:
![image](https://user-images.githubusercontent.com/42127654/136912191-dcba836c-60dc-4acf-a065-0943ac71f765.png)
![image](https://user-images.githubusercontent.com/42127654/136912328-6ac98d21-5bb0-40c7-a953-ae7c8b

[2021-10-12 11:49] Abhishek-kumar09 opened #4394 "[Question] Lifecycle/istio is showing similar configurator for servish mesh."
#### Current Behavior

Following katakoda scenario from here: https://layer5.io/learn/service-mesh-labs/working-with-meshery-and-istio
![image](https://user-images.githubusercontent.com/48255244/136950094-bd5325ba-8467-4145-bc3e-c2d58bdc7dfc.png)

I am seeing a lots of similar accordions doing similar things/setting up similar behaviour for istio. Is it normal?

#### Screenshots/Logs

#### Environ

[2021-10-12 12:05] leecalcote commented on #4394
Makes sense. Please see https://meshery.slack.com/archives/CLVT4TSG4/p1634039583368200?thread_ts=1634039447.367400&cid=CLVT4TSG4

[2021-10-12 14:26] vedant-kakde commented on #3011
@leecalcote @adithyaakrishna  I would like to work on this issue.

[2021-10-12 15:09] shubham-tyagi opened #4397 "[Docs] A link to go to top of the page not working."
#### Current State
* A link to the top is present as you can see in the below image. ([Page link](https://docs.meshery.io/reference/error-codes))
* When clicked it does nothing.

![](https://imgur.com/WA2BBaB.png)

#### Desired State
* When clicked it should direct to the top of the page
---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build &

[2021-10-12 15:19] shubham-tyagi opened #4398 "[Docs] Online Boutique sample app link not working."
#### Current State
* As you can see in the below image a link for the online boutique sample app is present.
* link is not present in the correct form, moreover when clicked it does not show anything just the screen gets blurry.

![](https://imgur.com/FTD8SlY.png)

#### Desired State
* fix the presentation of the link.
* fix the destination of the link.
---

#### Contributor [Guides](https://docs.

[2021-10-13 01:29] alphaX86 commented on #4197
Let's wait for her reply within today. If she didn't work on this issue yet, I'll tie up loose ends today

[2021-10-13 05:18] ishitakeshawani commented on #4197
No, I am not working. I stuck with some work. Sorry, I forgot to mention this here.

[2021-10-13 05:19] alphaX86 commented on #4197
Thanks for the update @ishitakeshawani

[2021-10-13 05:19] alphaX86 commented on #4197
I'll tie up the issue

[2021-10-13 11:27] #4371 closed

[2021-10-13 19:03] MarioArriaga92 opened #4411 "[CI] Meshery on: pull_request UI Integration test check fails due to expected uncaught error/exception Cannot set property 'onopen' of null during cypress search Cluster Deployment & ping k8s cluster integration test run"
#### Current Behavior

Meshery on: pull_request UI Integration test check fails due to expected uncaught error/exception `Cannot set property 'onopen' of null` during cypress `search Cluster Deployment & ping k8s cluster` integration test run

Check failures due to this issue have been observed in several PRs:
* https://github.com/meshery/meshery/pull/4410/checks?check_run_id=3884206500
* https://

[2021-10-13 22:41] #4376 closed, assigned to vedant-kakde

[2021-10-13 22:49] hexxdump opened #4417 "[Docs] Document ADAPTERS environment variable of meshery script"
#### Current State

While installing mesheryctl using bash installation script, we can choose which adapter to be loaded.
This is done by passing ADAPTERS environment variable to meshery bash script
Refer: https://github.com/layer5io/service-mesh-labs/issues/9
For e.g.  `curl -L https://git.io/meshery | ADAPTERS=consul PLATFORM=kubernetes bash -` installs mesheryctl and starts meshery server for k

[2021-10-13 22:53] sudo-NithishKarthik commented on #4359
Yep @Abhishek-kumar09 , this is something that we can work on as a part of UI codebase refactor.

[2021-10-14 02:34] #3961 closed

[2021-10-14 09:10] #3952 closed

[2021-10-14 12:28] chetak123 commented on #4417
Can I take this issue please ?

[2021-10-14 16:43] piyushsingariya opened #4421 "[Docs] Integrate Terminal Sessions with `mesheryctl` docs"
#### Desired State
Integrating recorded terminal sessions recorded with https://asciinema.org/ in `mesheryctl` documentation.

The Goal of this issue is to stonk-up the mesheryctl docs.

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for contributi

[2021-10-14 16:48] piyushsingariya commented on #4421
This issue is a big undertaking, adding some pointers to get involved here.

- asking for a volunteer to manage and invite more contributors to record the sessions
- Setup the integration of videos with jekyll website for `mesheryctl` docs
- Keep things in-check for the "_mission_"
- Insure the quality of the videos being attached to the documentation

[2021-10-15 12:04] ghulamyazdani opened #4425 "[Docs] CNCF name in the Logo is not visible in Dark mode"
#### Current State
In the readme.md file CNCF name in the logo is not visible while in Dark mode .
![image](https://user-images.githubusercontent.com/55938346/137483761-c37ba5dd-c6c5-4391-b3dd-e251f561c880.png)

#### Desired State
Add LOGO which has better visibility in Dark mode as well.
---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build

[2021-10-15 12:08] Aisuko opened #4426 "[Docs] Add the Helm work flow to the Meshery CI document"
As we discussed below, we need to add a working process to Helm charts.

https://layer5io.slack.com/archives/C011VPREG2Z/p1634235781209400

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for contributing to documentation](https://github.com/meshery

[2021-10-16 07:02] Zain-Muiz opened #4435 "[UI][Doc] Broken Image In Meshery Docs"
#### Current Behavior
The image at [Guides](https://docs.meshery.io/guides/sample-apps#online-boutique) at docs.meshery.io is broken.

#### Desired Behavior
Have the image fixed.

### Identified issue cause
The image has been referenced from [here](https://github.com/meshery/meshery/tree/master/docs/assets/img/adapters/sample-apps) and has '.PNG' extension. Changing it to '.png' should fix the iss

[2021-10-16 07:22] warunicorn19 commented on #4435
@Zain-Muiz already an open issue on this. https://github.com/meshery/meshery/issues/4398

[2021-10-16 07:35] Zain-Muiz commented on #4435
@warunicorn19 , Oh Okayy ! I think The solution to this issue wasnt updated over there. The actual issue is updated here in the description. Do I close this issue or close the other one and tag the assignee over here ?

[2021-10-16 07:43] #4435 closed

[2021-10-16 07:51] Zain-Muiz commented on #4398
@shubham-tyagi , The image has been referenced from [here](https://github.com/meshery/meshery/tree/master/docs/assets/img/adapters/sample-apps) and has '.PNG' extension. Changing it to '.png' should fix the issue.

[2021-10-16 07:55] Zain-Muiz commented on #4435
Thankyou for pointing out @warunicorn19 ! ♥

[2021-10-16 07:55] shubham-tyagi commented on #4398
Thanks for the suggestion, will do that @Zain-Muiz.

[2021-10-16 14:06] #4343 closed, assigned to Chadha93

[2021-10-16 14:23] shreyaansjain06 commented on #4425
I want to do this can you assign this issue to me

[2021-10-16 15:34] shreyaansjain06 commented on #4425
So should i start working on this?

[2021-10-16 16:37] #4214 closed

[2021-10-17 02:47] alphaX86 commented on #4421
@shubham-tyagi following up on the convo on Slack, I guess I'll help you in this case

[2021-10-17 06:16] #4417 closed

[2021-10-17 06:52] shubham-tyagi commented on #4421
that would be awesome !!! @alphaX86

[2021-10-17 18:06] bariqhibat opened #4440 "[Server] DB is locked due to multiple read/write at the same time"
#### Current Behavior

Due to concurrent read/write at the same time, db is locked, making no read and write is happening.
[Reference issue](https://github.com/mattn/go-sqlite3/issues/632) from Golang SQLite3 repo.

#### Expected Behavior

Read and write should be committed perfectly without any issues, if there's any read/write running on the DB (and made the db locked), the next read/write will

[2021-10-18 03:41] #4398 closed

[2021-10-18 06:20] #4341 closed

[2021-10-18 09:32] #3957 closed

[2021-10-18 10:46] pottekkat opened #4443 "[mesheryctl] `system channel set` continues even if the version specified is invalid"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

`mesheryctl system channel set stable-v1.0.0` which is an invalid version currently does not throw an error and only throws an error when `system start` or `system update` is run. Which is good and it shows a clear error message.

![Screenshot 2021-10-18 at 4 09 34 PM](https://user-im

[2021-10-18 10:55] navendu-pottekkat opened #4444 "[mesheryctl] `channel switch` does not check the release channel of the current deployment"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

`mesheryctl system channel switch stable` will switch the channel to `stable-latest` and redeploy Meshery even though there is a running deployment of Meshery with the `stable-latest` channel.

![Screenshot 2021-10-18 at 4 19 40 PM](https://user-images.githubusercontent.com/49474499/1

[2021-10-18 13:47] #4397 closed, assigned to shubham-tyagi

[2021-10-18 21:51] #4426 closed, assigned to Aisuko

[2021-10-19 01:21] leecalcote opened #4449 "[Docs] Upgrade to v0.6.0 procedure: Release note needed"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
`mesherctl system start` fails to deploy Meshery Operator.

#### Screenshots/Logs
[code]

#### Environment

- Host OS: Mac
- Meshery Server Version: stable-v0.5.67
- Meshery Client Version: stable-v0.5.67
- Platform: Kubernetes

---

#### Contributor Resources
- [mesheryctl Contributin

[2021-10-19 01:51] panyuenlau commented on #4103
PRs merged, closing this issue

[2021-10-19 15:39] bariqhibat opened #4452 "[UI] GraphQL subscription gives out undefined"
#### Current Behavior

When loading the main dashboard, graphql subscription for control and dataplane states can be established. Data is transferred and it can confirmed by looking into the Network tab in Developer Tools in Chrome (or anything similar in other browsers) and even in GraphQL playground, data is successfully fetched. However, in the Relay graphql subscription, data is undefined.

##

[2021-10-19 15:41] bariqhibat commented on #4452
Do you have any idea why this happens? @dhruv0000

[2021-10-19 18:40] navendu-pottekkat opened #4454 "Change to tar from zip for mesheryctl releases"
Package mesheryctl in a tar file instead of zip as most machines have tools that can extract tar out-of-the-box.

_Originally posted by @navendu-pottekkat in https://github.com/meshery/meshery/issues/3844#issuecomment-942025970_

[2021-10-20 05:09] navendu-pottekkat opened #4456 "[mesheryctl] `system channel switch` does not change the endpoint in the meshconfig"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

`mesheryctl system channel switch` switches the release channel of the running Meshery deployment and re-deploys Meshery. The endpoint of the Meshery service might change with this re-deploy which is shown correctly but not updated in the meshconfig file.

![Screenshot 2021-10-19 at 8

[2021-10-20 07:05] sudo-NithishKarthik commented on #2917
@bariqhibat , I am assuming it is already done. Am i right ?

[2021-10-20 07:53] Shreyas220 commented on #4145
i will do it

[2021-10-20 07:56] iambami commented on #3946
@navendu-pottekkat I'll work on it

[2021-10-20 10:52] s1ntaxe770r commented on #4456
@navendu-pottekkat  mind if i take a swing at this?

[2021-10-20 12:01] KarishmaVanwari commented on #4346
Can I work on this issue? @alonsolopezr

[2021-10-20 12:02] KarishmaVanwari commented on #4425
Can I work on this issue? @ghulamyazdani

[2021-10-20 13:34] bariqhibat opened #4457 "[UI] Grafana Dashboard import error"
#### Current Behavior

Whenever importing a custom grafana dashboard JSON, Meshery UI crashes

#### Desired Behavior

Meshery UI could perceive same information whether it is custom dashboard or not.

#### Screenshots/Logs

![image](https://user-images.githubusercontent.com/54849895/138102967-26912b71-6e18-4b21-bafe-1e00475bf5e2.png)

To replicate:
1. Setup Grafana and Prometheus
2. Create Dashboa

[2021-10-20 19:39] leecalcote opened #4458 "[Docs] Readme: Move Meshery Adapter for App Mesh to beta status"
#### Current State
In this repo's readme, the Meshery Adapter for AWS App Mesh is listed under Alpha status.

#### Desired State
This adapter is ready for Beta and its entry should bumped up.

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for cont

[2021-10-20 19:40] leecalcote commented on #4458
@buzzsurfr

[2021-10-21 02:54] leecalcote opened #4460 "[mesheryctl] UX Regression: `system start` with helm-based deployment"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
Let's give additional consideration to the user experience when someone attempts to start Meshery on a Kubernetes cluster that has a prior (helm-based) deployment.

[code]

This experience is far removed from the previously, highly curated / guided experience.

#### Desired Behavior

1

[2021-10-22 16:02] lucj opened #4467 "[Docs] - Incorrect version in Helm installation"
#### Current State

$ helm install my-meshery meshery/meshery --version 2.1.2
$ helm install --set key=value --set key=value my-meshery meshery/meshery --version 2.1.2

#### Desired State

$ helm install my-meshery meshery/meshery --version 0.5.67
$ helm install --set key=value --set key=value my-meshery meshery/meshery --version 0.5.67

---

#### Contributor [Guides](https://docs.meshery.io/proje

[2021-10-22 18:57] leecalcote opened #4470 "[Filters] Seeding of WASM filters fails with permission error."
#### Current Behavior
Seeding of WASM filters fails with permission error.

#### Screenshots/Logs
[code]

#### Environment

- **Host OS:** Mac
- **Platform:** Kubernetes
- **Meshery Server Version:** stable-v0.5.67
- **Meshery Client Version:** stable-v0.5.67

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://do

[2021-10-22 20:44] #4470 closed, assigned to Revolyssup

[2021-10-23 14:53] piyushsingariya opened #4474 "[mesheryctl] Error while installing meshery on docker"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

Mesheryctl is reporting error while installing meshery on docker without k8s cluster present.
[code]

#### Desired Behavior

I checked the error is occurring on the line 461 start.go also I saw the code for installing operator through helm installation is missing  (if k8s cluster pres

[2021-10-23 17:38] Chadha93 opened #4475 "[UI] [Notification] Success notification tab"
#### Current Behavior
In the notification, the success notifications are not displaying when the tab is selected to success

#### Desired Behavior
success notification should be visible in the success tab.

#### Screenshots/Logs

https://user-images.githubusercontent.com/65453826/138566265-cd6a9f3d-7f9b-4ab4-b94d-4c4c344a534e.mp4

#### Environment

- Browser: Chrome Safari Firefox
- Host OS: Mac L

[2021-10-25 06:26] shubham-tyagi opened #4477 "[Docs] link to a Spanish concept present in the list of concepts in English language."
#### Current State
As you can see in the below image there are many Spanish links like `Adaptores` present which would direct us to the spanish page on [this](https://docs.meshery.io/concepts) page

![](https://imgur.com/BgSQJdM.png)

#### Desired State
Remove the Spanish links.

#### How It can be done?
While filtering out the links add a condition to not include any page which has language set t

[2021-10-25 17:18] sayantan1413 commented on #4467
@leecalcote according to the conversation here https://meshery.slack.com/archives/CFGG6U10E/p1634917047004000 I guess @lucj wants the change in the docs.meshery.io only because I guess there is no version problem in the Github workflow for Helm chart. He actually faced an error while copy pasting these commands from Meshery Docs to install Meshery via Helm.

[2021-10-25 19:49] Chadha93 opened #4479 "[UI] Counter in Performance Profile (replicate)"
#### Current Behavior
No counter is shown on the selection of multiple selections from bulk delete

#### Desired Behavior
A counter in prompt of delete modal while selecting more than one row.
Reference : [PR](https://github.com/meshery/meshery/pull/4430)

#### Environment

- Browser: Chrome Safari Firefox
- Host OS: Mac Linux Windows
- Meshery Server Version: stable-v
- Meshery Client Version: st

[2021-10-26 07:05] piyushsingariya opened #4482 "Add middleware to support servicemesh names for SMP File Test Configuration"
@piyushsingariya We should be using the service mesh's name right? That would be the better option here.

[code]

_Originally posted by @navendu-pottekkat in https://github.com/meshery/meshery/issues/4167#issuecomment-941990045_

[2021-10-26 12:31] Zanda256 opened #4485 "Improve error messages returned by mesheryctl system channel command"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
System channel commands yield unhelpful errors.

`./mesheryctl system channel set`
`Error: accepts 1 arg(s), received 0
Usage:
  mesheryctl system channel set [stable|stable-version|edge|edge-version] [flags]

Flags:
  -h, --help   help for set

Global Flags:
      --config string    p

[2021-10-26 16:49] #4347 closed, assigned to shubham-tyagi

[2021-10-26 22:00] leecalcote opened #4486 "[Docs] Add earliest supported service mesh version to each adapter"
#### Current State
Using details from the Meshery Adapter [spreadsheet tracker](https://docs.google.com/spreadsheets/d/1rGGpSXC68iDJzNRU-qZIRQsZUwkt1qLFg7JCs4pfvbU/edit#gid=0), update the language used in the table here (https://docs.meshery.io/service-meshes) to be "earliest version" and list the earliest supported service mesh version.

---

#### Contributor [Guides](https://docs.meshery.io/proj

[2021-10-26 22:03] leecalcote commented on #4467
@sayantan1413 thank you for clarifying. We shouldn't specify the version to install. The version installed should be presumed "latest". Any issue with this approach (not specifying the version number in the install instructions), @Aisuko?

[2021-10-26 22:08] lucj commented on #4467
This approach sounds better 👍

[2021-10-27 00:53] Aisuko commented on #4467
For sure, we released the version list here https://artifacthub.io/packages/helm/meshery/meshery, and the if here is not set a specific version, the `helm` would installs the latest version(current latest version is 0.5.67). As @leecalcote said, we already changed the process to the Github Action, and the doc may refer to the old process.

[2021-10-27 20:04] Dentrax opened #4512 "[Docs] Katacoda: "Interactive Lab for Meshery Adapter for Istio" enters vim mode in "Setup Meshery" section"
#### Current State

https://docs.meshery.io/service-meshes/adapters/istio

![Screen Shot 2021-10-27 at 23 02 51](https://user-images.githubusercontent.com/16493751/139138553-882169ca-fb3a-4d26-b550-a4109f11304b.png)

#### Desired State

It should not enter Vim mode after run the following command:
[code]

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
-

[2021-10-28 07:16] #4443 closed, assigned to sayantan1413

[2021-10-28 21:48] #4477 closed, assigned to Et-008

[2021-10-29 02:40] Aisuko opened #4520 "Migration the Helm chart of Meshery to support v0.6.0 release"
#### Current Behavior

Meshery-server as the main chart

#### Desired Behavior

Meshery-operator as the main chart

#### Implementation

A question may exsit here:

Do we allow meshery was deploy directly without meshery-operator?

* If it is ture, should we keep the meshery helm charts and sub-charts?

* If it isn't, we need to change the chart's name to meshery-operator and there is not exist a

[2021-10-29 18:08] warunicorn19 opened #4525 "[Docs] Functionality has wrong link"
#### Current State
The big `Functionality` button leads to the Guides page.

<img width="1440" alt="Screenshot 2021-10-29 at 11 34 45 PM" src="https://user-images.githubusercontent.com/53532328/139482176-580d9a35-79f7-4b6f-917e-101da610d3db.png">
#### Desired State

The button should lead to the Functionality page. [link](https://docs.meshery.io/functionality)

---

#### Contributor [Guides](https

[2021-10-29 22:54] #4137 closed

[2021-10-30 00:06] leecalcote commented on #4137
@Abhishek-kumar09 is this needed any longer?

[2021-10-30 06:05] SusmithBarigidad commented on #4525
I can take this

[2021-10-30 13:33] amino19 commented on #4444
@navendu-pottekkat: I would like to work on this issue!
At the same time, need all your guidance & support, as I just started with Golang, doesn't have much experience.

[2021-10-30 13:55] navendu-pottekkat commented on #4444
Sure @amino19 You can try this out.

[2021-10-30 14:26] #4525 closed

[2021-10-30 14:29] Abhishek-kumar09 commented on #4137
Looking at, I have done refractoring in the Patterns form so not exactly required. But superb effort by @Zain-Muiz.

[2021-10-30 14:33] leecalcote commented on #4147
Removing inactive assignment. Reopening to be addressed.

[2021-10-30 14:38] #4096 closed

[2021-10-30 14:38] #4088 closed

[2021-10-31 14:49] #3462 closed

[2021-10-31 23:54] #3639 closed

[2021-11-01 06:28] Chadha93 opened #4528 "[UI] Selected row name change"
#### Current Behavior
when selected a row from the table, it appears ()rows selected.

#### Desired Behavior
change that rows selected to configuration type, example: ()pattern(s) selected / ()filter(s) selected .....

#### Implementation
Implement this for patterns, filters, applications, and performance profiles

#### Mockups
![issuename](https://user-images.githubusercontent.com/65453826/139630

[2021-11-01 09:50] navendu-pottekkat commented on #3243
@piyushsingariya Could you check this out?

[2021-11-01 10:37] suhaniii commented on #4091
@hexxdump
with `curl -L https://git.io/meshery | BROWSER=firefox ADAPTERS=istio PLATFORM=kubernetes bash -`
we have below issue
[code]

[2021-11-01 14:52] theBeginner86 commented on #4528
I'd like to give it a shot. Can you please assign it to me?

[2021-11-01 14:59] sayantan1413 commented on #4528
Sure @theBeginner86 go ahead 🚀

[2021-11-01 17:54] #4520 closed

[2021-11-02 04:40] #3995 closed

[2021-11-02 08:17] shubham-tyagi opened #4546 "[Docs] Breadcrumbs routing issue"
#### Current State
Once we go to `home / reference / command reference`, and click on an argument of any main command, say `start` argument  of  `system` command, it takes you to `home / reference / mesheryctl / system / mesheryctl system start` .As of now we can't go back one step backward on `home / reference / mesheryctl / system` by clicking on `system` due to the routing issue .

![](https://

[2021-11-02 08:47] warunicorn19 commented on #4546
@shubham-tyagi could you please give the link to the PR that you made instead of the issue.

[2021-11-02 08:52] shubham-tyagi commented on #4546
Yeah sure @warunicorn19

[2021-11-02 09:34] piyushsingariya commented on #4154
Closed via https://github.com/meshery/meshery/pull/4462

[2021-11-02 09:34] #4154 closed

[2021-11-02 11:38] #4076 closed

[2021-11-02 13:51] leecalcote opened #4549 "[mesheryctl] `system update`: Error: cannot update Meshery: "meshery" has no deployed releases"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
While upgrading to v0.5.68 on a system with no active Meshery deployment, the following error is displayed when running `mesheryctl system update`.

#### Screenshots/Logs
[code]

#### Environment

- Host OS: Mac
- Meshery Server Version: stable-v0.5.68
- Meshery Client Version: stable-

[2021-11-02 16:39] navendu-pottekkat commented on #4454
@leecalcote It works in most cases apart from really bare VMs. But they can workaround this easily. But let's postpone this as you mentioned as we already have some moving parts with Meshery deployment in this release. But this should be an easy switch.

[2021-11-02 18:37] manav1403 opened #4552 "Multiple Grafana and Prometheus Connections and Custom Boards"
***Epic: Multiple Grafana and Prometheus Connections and Custom Boards***

Design Spec:
- [ ] Written overall objectives
- [ ] Remote Provider update and database schema
   - separation of boards from user preferences if required
- [ ] Figma Design for Meshery UI
- [ ] Object Model (in Meshery Architecture deck)
- [ ] Meshery Server Golang handlers: any augmentation to the existing handlers needed

[2021-11-02 20:46] leecalcote opened #4553 "[Build] Kustomize Error: "cannot use api.Schema.SchemaProps.Properties (type spec.SchemaProperties) as type myProperties in argument to looksLikeAk8sType""
#### Current Behavior
Unable to build Meshery Server.

#### Screenshots/Logs
[code]

#### Environment

- **Host OS:** Mac
- **Go Version:** 1.16.4

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for contributing to documentation](https://github.com/

[2021-11-02 20:47] leecalcote commented on #4553
@Chadha93 corroborates this issue. @mgfeller, I wonder if you've seen this as well.

[2021-11-02 21:46] leecalcote commented on #4235
@vedant-kakde will you confirm that this has been completed by reviewing the current docs?

[2021-11-03 01:09] leecalcote commented on #4553
This is showing up in builds now. Example - https://github.com/meshery/meshery/runs/4087144445?check_suite_focus=true#step:4:77

[2021-11-03 01:10] leecalcote commented on #4553
@meshery/maintainers this is an urgent item.

[2021-11-03 02:33] navendu-pottekkat commented on #4235
I had made a PR that does this. Missed to link this issue.

[2021-11-03 03:30] #4553 closed

[2021-11-03 11:55] shubham-tyagi opened #4561 "[Docs] Remove the link directing to the English page from the Spanish page."
#### Current State
We have link to pages of both languages (English and Spanish) on this page https://docs.meshery.io/es/functionality.

![](https://imgur.com/qNkfD0T.png)

#### Desired State
There should be links to only Spanish language pages on this page.

#### How can it be solved?
A similar issue has been solved via PR #4516. Go check out the PR and if you still have any doubt please feel fre

[2021-11-03 17:51] leecalcote commented on #4232
Current docs size is ~96 MB.

[2021-11-04 07:21] #4561 closed

[2021-11-04 07:27] adithyaakrishna commented on #4546
@sidecodes This is a similar issue (#4561) but related to breadcrumbs, would you like to take this up? 👀

[2021-11-04 12:25] sidecodes commented on #4546
Sure, I will take this. @adithyaakrishna

[2021-11-04 12:31] leecalcote opened #4563 "[mesheryctl] ctlK8sConnect1001 error code is not listed in reference guide"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
The error `ctlK8sConnect1001` is not listed in https://docs.meshery.io/reference/error-codes.

#### Screenshots/Logs
[code]

<img width="714" alt="Screen Shot 2021-11-04 at 7 30 59 AM" src="https://user-images.githubusercontent.com/7570704/140313770-69dd551e-68dd-4d1c-a7b9-1d604eac8110

[2021-11-04 13:56] #4546 closed

[2021-11-04 19:35] fallmor commented on #4549
hello i can work on this issue

[2021-11-05 08:26] shubham-tyagi opened #4565 "[Docs] Breadcrumbs routing issue"
#### Current State
Once we go to `home / reference / command reference`, and click on an argument of any main command say, `apply` argument  of  `perf` command, it takes you to `home / reference / mesheryctl / perf / mesheryctl perf apply`. As of now, we can't go back one step backward on `home / reference / mesheryctl / perf` by clicking on `perf` due to the routing issue on this page https://doc

[2021-11-05 10:43] theBeginner86 commented on #4528
Please have a look at the PR 😁😊

[2021-11-05 11:44] #4270 closed

[2021-11-05 12:13] Abhishek-kumar09 opened #4567 "[Pattern] Label name starts with whitespace"
#### Current Behavior
The setting's name starts with whitespace which is creating problems with assigning keys to values in the pattern configurator.
See Destination Rule :arrow_double_down:
![image](https://user-images.githubusercontent.com/48255244/140508286-e2944d87-7570-428e-87b4-ab793ef5e0aa.png)

#### Expected Behavior

The names/types should be trimmed

#### Contributor [Guides](https://doc

[2021-11-05 17:35] s1ntaxe770r commented on #4456
hey, @navendu-pottekkat I'm going to have to drop this, for now. I haven't been able to make any good progress.

[2021-11-05 17:49] #4528 closed

[2021-11-05 18:02] #4486 closed

[2021-11-05 18:37] leecalcote opened #4571 "[DB] Database file not created on boot"
#### Current Behavior
[code]

#### Environment

- **Host OS:** Mac
- **Platform:** Kubernetes
- **Meshery Server Version:** edge

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for contributing to documentation](https://github.com/meshery/meshery/bl

[2021-11-05 20:18] #4571 closed

[2021-11-05 20:48] s1ntaxe770r opened #4573 "[CI] Integrate container image scanning into Meshery's CI pipeline"
#### Current Behavior

Currently ,  Meshery's release pipeline does not include security scanning for Docker images. This is not exactly ideal, what's the point of writing secure code when the underlying host is vulnerable. Asides from that manually patching or updating container images is a chore
#### Desired Behavior

I propose we take a look at existing tools and discuss the best approach to in

[2021-11-05 20:54] leecalcote commented on #4573
Good suggestion. This isn't the first time this topic has come up. There may well be an existing issue on this, actually. We should de-duplicate, if so.

Also, note the scanning going on here - https://artifacthub.io/packages/helm/meshery/meshery?modal=security-report

[2021-11-05 20:57] leecalcote commented on #4573
After a quick search, I don't see a duplicate issue. ✔️

[2021-11-05 21:02] leecalcote commented on #4573
We’re also getting a number of security reports from CodeQL. Let's see about getting you access to those.

[2021-11-05 21:50] #4411 closed

[2021-11-05 22:12] #4479 closed

[2021-11-05 22:20] #4467 closed

[2021-11-05 22:26] #4350 closed

[2021-11-05 22:32] #4346 closed

[2021-11-05 22:33] #4235 closed

[2021-11-06 14:13] #4253 closed

[2021-11-06 15:38] alphaX86 commented on #3873
Folks????? 👀👀

[2021-11-06 20:24] leecalcote commented on #3873
@alphaX86 I think your infusion stems from a lack of understanding of the error framework in MeshKit. Here is a contributing guide that will explain - https://docs.meshery.io/project/contributing/contributing-error

[2021-11-07 02:35] alphaX86 commented on #3873
@leecalcote actually 😅 error codes are made in MeshKit and almost ready, what I need is reviewers to test my PR coz it's been.... a month and a week since last reply in that PR :')

[2021-11-07 06:13] #4207 closed

[2021-11-07 11:55] #4149 closed

[2021-11-07 12:25] alphaX86 opened #4578 "[Bug] Meshery isn't starting when resource already exists in k8s cluster and namespace is deleted"
#### Current Behavior

Due to some issues, I had to remove Meshery by deleting namespace in my k8s cluster, plus the `.meshery` folder too. But when I reinstalled, the manifests got downloaded but couldn't start up because some resources (Clusterroles, Clusterrolebinding) already exists in the cluster.

Logs:
[code]

Do note that I deleted the namespace, turns out that some resources are left unin

[2021-11-07 13:09] alphaX86 commented on #3795
Sorry for looking this late, but are we considering k8s here or docker?

[2021-11-07 13:14] alphaX86 commented on #3795
For k8s, I manually stopped Meshery pod and left others to run, all were working fine. For Docker, I didn't test yet

[2021-11-07 18:41] #4440 closed

[2021-11-08 04:37] panyuenlau opened #4580 "Remove meshery namespace on `system stop` while providing an option to keep the namespace"
#### Current Behavior

`mesheryctl system stop` doesn't remove the namespace by default, for example:
[code]
#### Desired Behavior

`mesheryctl system stop` deletes the `meshery` namespace by default, while providing an option for the user to keep the namespace

#### Implementation

#### Acceptance Tests

#### Mockups

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and

[2021-11-08 05:57] navendu-pottekkat commented on #4578
@panyuenlau @Aisuko Another issue with deploying Meshery.

[2021-11-08 06:32] Aisuko commented on #4578
I wondering, did we already change the deployment function to meshery-operator while use `mesheryctl` command?

[2021-11-08 07:51] ishitakeshawani commented on #4567
I like to take it if no one is on it.

[2021-11-08 08:01] warunicorn19 commented on #4567
Sounds good @ishitakeshawani.

[2021-11-08 08:45] Revolyssup commented on #4356
@DelusionalOptimist  did you run into this again?

[2021-11-08 12:38] leecalcote commented on #4199
@piyushsingariya I wonder if you might have a look at the issue of version checking with the "edge-latest" tag.

[2021-11-08 13:03] piyushsingariya commented on #4199
Will try! :+1:

[2021-11-08 16:07] DelusionalOptimist commented on #4356
No @Revolyssup I haven't run into this with toy clusters, yet. But I think the problem still persists with EKS cluster.

[2021-11-08 17:04] navendu-pottekkat opened #4582 "[CI] Add integration tests for "/configuration/*" for patterns, filters and applications"
#### Current Behavior

There aren't any integration tests that cover Meshery's configuration management functionality.

#### Desired Behavior

An integration test should be written to cover these functionalities.

#### Implementation Notes

* Patterns feature is completely functional now. You should be able to perform CRUD operations with a [valid pattern file](https://github.com/service-mesh-patt

[2021-11-08 18:23] #4111 closed

[2021-11-09 05:39] navendu-pottekkat opened #4584 "[mesheryctl] Flags to override values set in the configuration file for `mesheryctl perf apply -f`"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

`mesheryctl perf apply -f <configuration file name>` will run a performance test with a specified configuration file.

#### Desired Behavior

`mesheryctl perf apply -f <configuration file name> --flags` should override the values in the configuration files with the values specified in

[2021-11-09 08:24] alphaX86 commented on #4460
This is similarly related to #4578

[2021-11-09 11:33] #2889 closed

[2021-11-09 11:33] #3153 closed

[2021-11-09 11:42] warunicorn19 opened #4589 "[Docs]Adapter earliest version not showing in individual pages"
#### Current State
The earliest version of the adapters are not getting printed on the individual adapter pages.
<img width="1440" alt="Screenshot 2021-11-09 at 5 11 17 PM" src="https://user-images.githubusercontent.com/53532328/140917947-7bbfbbe0-51bc-4ba9-be9c-a9621939c69e.png">

#### Desired State
The earliest version of the adapters should get printed.
---

#### Contributor [Guides](https://do

[2021-11-09 14:25] #4584 closed

[2021-11-09 17:20] s1ntaxe770r commented on #4582
🤔  @navendu-pottekkat  are there any similar integration tests I could work off?

[2021-11-09 18:49] leecalcote opened #4592 "[mesheryctl] `system config minikube` panic"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
Failure to flatten minikube certs into meshconfig.

Please note the Meshery Server Version: edge-v0.5.61.

#### Screenshots/Logs
[code]

#### Environment

- Host OS: Mac
- Meshery Server Version: edge-v0.5.61
- Meshery Client Version: stable-v0.5.71
- Platform: Kubernetes

---

#### Co

[2021-11-10 04:57] Et-008 commented on #4565
Can i work on this issue?

[2021-11-10 04:58] leecalcote commented on #4565
Sounds great, @Et-008 👍

[2021-11-10 07:09] piyushsingariya commented on #3868
@DelusionalOptimist this is a pending feature from a long time, because there's no api available to get a single Test Result.

[2021-11-10 11:40] hexxdump commented on #4592
@leecalcote,
If flattening of the minikube config has failed, the below code would have gracefully exited.

[code]
Instead the failure is seen in setToken() -> getContext() function after unmarshalling the response of `GET /api/system/kubernetes/contexts`
Let me check try to reproduce this issue.

[2021-11-10 13:20] Et-008 commented on #2855
I have made a fix for this issue, please check if it is the best approach.
New to this project, looking to forward to know about better approaches or feedbacks if any.

[2021-11-10 13:29] #4565 closed

[2021-11-10 16:45] leecalcote opened #4597 "[Docs] Add "Connecting to Remote Providers" section in Troubleshooting Guide"
#### Current State
The troubleshooting guide is missing guidance on Remote Providers.

#### Desired State
- New Remote Provider section
- New "Connecting to Remote Providers" sub-section with notes from recent troubleshooting session (reference - https://layer5io.slack.com/archives/CVBGPTFJN/p1636338508049800?thread_ts=1636045480.029500&cid=CVBGPTFJN)

---

#### Contributor [Guides](https://docs.m

[2021-11-10 20:58] #3413 closed

[2021-11-11 07:41] #4475 closed

[2021-11-11 13:37] Rahulkumar2002 commented on #4589
Hello can I take this issue . I think I sorted the issue there isn't any content inside the <td></td> tag of that page .
![Screenshot (172)](https://user-images.githubusercontent.com/88898222/141307525-03b5745d-7e87-4129-8fc8-367ef54cff92.png)
![Screenshot (173)](https://user-images.githubusercontent.com/88898222/141307558-2ede917e-a051-4bd8-84bc-962094070455.png)

[2021-11-11 14:03] Rahulkumar2002 commented on #4589
Can you point me to this file's directory pls? Thank u

[2021-11-11 19:30] #3029 closed

[2021-11-11 19:33] warunicorn19 commented on #3029
@DelusionalOptimist @sayantan1413 this is already done right?

[2021-11-11 19:35] sayantan1413 commented on #3029
Yup, I guess it is already done!!

[2021-11-11 20:30] #4195 closed

[2021-11-11 20:36] leecalcote opened #4604 "[mesheryctl] UX: Need more informative inactive token message"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
Users of `mesheryctl perf profile`, who don't have an active token receive the following message:

[code]

This behavior is true of a number of other commands. Each of the `app`, `pattern`, `mesh`, perf`.... should all apply the same logic and UX to the user - https://github.com/mesher

[2021-11-11 20:43] leecalcote opened #4605 "[mesheryctl] `perf` examples are outdated"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
Users of `mesheryctl perf` are presented with the following output:

[code]

The first example doesn't work and returns an error about an unknown token. Removing the token causes a second error about an unspecified profile name.

#### Desired Behavior
Users should be able to copy and p

[2021-11-11 20:45] leecalcote commented on #4605
// @piyushsingariya

[2021-11-11 20:48] DelusionalOptimist opened #4606 "unable to download performance test result"
#### Current Behavior
When working with the local provider and downloading result for a performance test, it fails with a 500. Probably because of being unable to read data from the database.

#### Expected Behavior
Be able to download performance test result.

#### Screenshots/Logs
Logs from meshery server:
[code]

#### Environment

- **Host OS:** Linux
- **Platform:** Kubernetes
- **Meshery Serv

[2021-11-11 20:49] DelusionalOptimist commented on #4606
@Revolyssup guessing from the error, could this be because of the recent DB migration?

[2021-11-11 22:19] leecalcote opened #4607 "[UI] Performance test result count not updating upon test completion"
#### Current Behavior
When a performance test completes, the test result count for that performance profile should increase, too.

#### Screenshots/Logs

<img width="1022" alt="Screen Shot 2021-11-11 at 4 16 45 PM" src="https://user-images.githubusercontent.com/7570704/141377040-40106306-63f6-40bc-aaad-b15c6a41d352.png">

#### Environment

- Browser:  Safari
- Host OS: Mac
- Meshery Server Version

[2021-11-11 22:30] leecalcote commented on #3940
Menu coloring has changed in the time that this issue has been opened. The submenus are now a different color.

[2021-11-11 22:30] #3940 closed

[2021-11-12 00:19] #3876 closed

[2021-11-12 01:19] #3877 closed

[2021-11-12 08:23] Revolyssup commented on #4606
Performance tests were migrated to sqlite months ago. The recent migration was of smi results and preference. Looking into this now...

[2021-11-12 08:37] Revolyssup commented on #4606
@leecalcote  @DelusionalOptimist  Got the issue, it was due to an 8 month old change. I have no idea how @DelusionalOptimist  just caught it now, it was due to not converting into proper struct after retrieving from database. Creating the PR now

[2021-11-12 11:33] #4606 closed

[2021-11-12 17:22] #4597 closed

[2021-11-12 19:57] #4198 closed

[2021-11-13 14:06] alphaX86 commented on #4605
Taking this up now!

[2021-11-13 19:55] theBeginner86 commented on #4589
hey @warunicorn19, may I work in this one?

[2021-11-13 20:17] Mr-DG-Wick commented on #4589
@Rahulkumar2002 if you use vs code, then the search feature is very handy in finding the files you desire :)

[2021-11-14 09:10] theBeginner86 commented on #4589
I've made a PR. Please have a look 👍

[2021-11-14 09:28] #4589 closed

[2021-11-14 09:40] navendu-pottekkat commented on #4582
@s1ntaxe770r We are in need of such tests. You can help with the tests that leverage the Meshery GH actions.

One action that is in need of some help is [mesheryctl-service-mesh-patterns-action](https://github.com/layer5io/mesheryctl-service-mesh-patterns-action)

You can help tie this off and probably use it to deploy and onboard apps in the scheduled performance benchmark workflow: [scheduled-be

[2021-11-15 01:06] MarioArriaga92 commented on #4582
Hey @navendu-pottekkat, looks good no questions for now. you may assign it to me please 🙏🔥

[2021-11-15 09:00] #2913 closed

[2021-11-15 16:06] Revolyssup opened #4630 "“Dry Run” content before sending items to the clients"
#### Current Behavior

All the content i.e patterns and filters are displayed to the UI, despite of the fact that those components can be supported at the moment or not
#### Desired Behavior

Using the dryrun functionality in processing oam components, just before sending those components to the UI. Using the additional metadata "canHandle", we can grey out the patterns which cant be handled at th

[2021-11-15 16:07] Revolyssup commented on #4630
Using the additional metadata "canHandle", we can grey out the patterns which cant be handled at the moment

[2021-11-16 21:31] leecalcote commented on #4578
@DelusionalOptimist

[2021-11-17 03:16] bariqhibat commented on #4142
Can we close this? @leecalcote

[2021-11-17 04:32] leecalcote commented on #3932
_gasp_! Has it been this long?!

[2021-11-17 10:42] #4156 closed

[2021-11-17 11:26] ishitakeshawani commented on #4567
I got the idea to use trim but I do not know how to test it. I am able to run Meshery UI in local code editor. Can anyone guide me please?
I am using windows.

[2021-11-17 15:02] Abhishek-kumar09 commented on #4142
I think yes.
- The patterns, filters, and applications support paginations.
- The schema coming from the server for adapter configuration doesn't contains pagination, actually that can't  be paginated either. But it strongly requires enhancement in terms of fetching only those resources which are visible on UI.

Currently around 8 Mib of data is fetched and processed on frontend for the RJSF forms

[2021-11-17 15:07] Abhishek-kumar09 commented on #4567
You have to start local development for this.
https://docs.meshery.io/project/contributing/contributing-ui
Did you tried it?
Steps:
1. make setup-ui-libs
2. make build-ui
3. make run-local  --> to start server on port 9081
4. make run-ui-dev --> to start UI on port 3000

[2021-11-17 15:29] warunicorn19 opened #4634 "[Docs] Broken images"
#### Current State
The images on the page for [NSM](https://docs.meshery.io/service-meshes/adapters/nsm#2-vpp-icmp-application) have broken images.
<img width="1440" alt="Screenshot 2021-11-17 at 8 56 02 PM" src="https://user-images.githubusercontent.com/53532328/142229806-5e4665b2-bcdb-447c-ae42-564e59d309f3.png">

#### Desired State
They shouldn't be broken.

---

#### Contributor [Guides](https

[2021-11-17 15:41] utkarsh-pro commented on #4142
@Abhishek-kumar09 `?trim=true` with the lazy loading in the UI not helping here?

[2021-11-17 15:56] shardulinamdar4 commented on #4634
Can I work on this?

[2021-11-17 16:03] warunicorn19 commented on #4634
Sounds good @shardulinamdar4

[2021-11-17 20:20] #4232 closed

[2021-11-17 20:53] Abhishek-kumar09 commented on #4142
forgot to add trim=true
trim removes `oam_ref` from all the schema right, it helps still the size is vast, but at least UI is not breaking. Thanks a lot.

[2021-11-17 22:21] leecalcote opened #4639 "[UI] Create custom error page"
#### Current Behavior
Users occasionally bump into "unexpected error" messages in Meshery UI. See example screenshot.

<img width="1237" alt="Screen Shot 2021-11-17 at 4 18 41 PM" src="https://user-images.githubusercontent.com/7570704/142291656-ecc5705c-9af5-4b41-9efd-0212b367ae33.png">

#### Desired Behavior
Akin custom 404 error pages on websites, it would be nice for Meshery UI to have custom e

[2021-11-18 07:13] theBeginner86 commented on #4639
May I work on this one?

[2021-11-18 07:24] 7suyash7 commented on #4634
Hey, can I work on this?

[2021-11-18 07:42] Mr-DG-Wick commented on #4639
Sounds great! @theBeginner86

[2021-11-18 07:47] Mr-DG-Wick commented on #4634
@7suyash7 this issue has recently been assigned to @shardulinamdar4 . You may look into other issues in the meanwhile :)

[2021-11-18 08:26] 7suyash7 commented on #4634
That's fine, can you point me towards other beginner-friendly issues, I'm trying to complete the 5 PRs as I have applied for the LFX fellowship with Meshery.

[2021-11-18 12:16] leecalcote commented on #4634
@7suyasplease that's great. Please find the "help wanted" link in the readme.md of all of the ~70 repos between the projects of which Layer5 is a steward.

Be sure to do your homework before asking for help.

[2021-11-18 15:42] #4580 closed

[2021-11-18 22:40] leecalcote commented on #2968
@hexxdump @piyushsingariya @panyuenlau do you consider that this is needed?

[2021-11-18 22:46] leecalcote opened #4642 "[Security] Supply chain vulnerabilities in Meshery dependences: container images and libraries"
#### Current Behavior
See this [security score report](https://artifacthub.io/packages/helm/meshery/meshery?modal=security-report) for details of known vulnerabilities in Meshery's published packages.

#### Desired Behavior
Ideally, Meshery's security report is an A+.

#### Implementation
Volunteers needed to pick specific vulnerabilities and address them.

---
#### Contributor [Guides](https://do

[2021-11-19 03:50] 7suyash7 commented on #4634
@leecalcote thanks for the help!!

[2021-11-19 04:08] alphaX86 commented on #4642
@leecalcote IG the security vulnerabilities arises from the OS image used, say like if I used Ubuntu as OS image by default it has a vulnerability from it's system package...

But anyways, I'd like to volunteer on fixing this one

[2021-11-19 04:08] alphaX86 commented on #4642
@leecalcote IG the security vulnerabilities arises from the OS image used, say like if I used Ubuntu as OS image by default it has a vulnerability from it's system package...

But anyways, I'd like to volunteer on fixing this one

[2021-11-19 14:21] piyushsingariya commented on #2968
We always need a NodePort to access meshery out-of-cluster in k8s. Not sure why this issue was created?

[2021-11-19 18:39] cpepper96 commented on #4604
Hi @leecalcote can I take a crack at this?

[2021-11-19 23:54] Aisuko commented on #4642
https://github.com/GoogleContainerTools/distroless Hi, guys. Shall we think about this project as the base image?

[2021-11-20 02:23] leecalcote opened #4647 "[UI] Change pointer to hand when hovering on release version link"
#### Current Behavior
The small external link arrow should displays an arrow pointer onhover.

#### Desired Behavior
The small external link arrow should display a "hand" pointer onhover.

#### Screenshots/Logs
On the main Meshery UI dashboard...

<img width="927" alt="Screen Shot 2021-11-19 at 8 22 47 PM" src="https://user-images.githubusercontent.com/7570704/142711232-f25296df-7845-46bc-b3b9-79e

[2021-11-20 03:49] alphaX86 commented on #4642
This looks neat 👍 🔥 so does that mean we're going to replace all Docker images with GCR Distroless images instead of Alpine image?

[2021-11-20 07:12] chetak123 commented on #4647
Can I take up this issue please

[2021-11-20 10:31] toth2000 commented on #4647
Sure @chetak123

[2021-11-20 18:18] #4162 closed

[2021-11-20 18:33] shubham-tyagi opened #4652 "[Docs] "Espanol" link on the docs home page not working."
#### Current State
after clicking on **"Espanol"** which is on the top right corner, we cant go to the Spanish language page of our docs.

![](https://imgur.com/qporAD4.png)

#### Desired State
We should be able to go on the Spanish language page after clicking on it.

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](

[2021-11-21 00:06] Aisuko commented on #4642
Hi @alphaX86 , you are right here. We can replace the adapters base images due to adapters with the sample logic may not have extra tools to debug. But for Meshery main server, we need to consider.

[2021-11-21 07:41] varunsaral commented on #4652
The 0.5 version of doc have this snippet (in github)
 <li class="nav-item mr-4 mb-2 mb-lg-0">
          <a
            class="nav-link"
            **href="/v0.5/es"**

        </li>

which is correct , if we visit  https://docs.meshery.io/es or https://docs.meshery.io/v0.5/es we get correct documentation

but on the serving website ,

<li class="nav-item mr-4 mb-2 mb-lg-0">

              <a clas

[2021-11-21 08:54] #4236 closed

[2021-11-21 10:05] varunsaral commented on #4652
After learning about jeykll , i tried looking for the loop of navbar so i can correct the links , but it was not in index.md nor in layout folder(i thought it available on each page so it must be applied through layout) , if someone find it , please fix it . I'm trying to look for it for past 12 hours :)

[2021-11-21 10:43] warunicorn19 commented on #4652
Hey @varunsaral, thanks for taking the time and looking into this, but you're looking in the wrong place😅, the header is actually an _includes file (since it is on every page). You might want to take a look at header.html that's where you'll find this.

Also, if you have any other problems you could join our slack workspace and ask there: https://join.slack.com/t/meshery/shared_invite/zt-rgbyt4kj-

[2021-11-21 10:52] shubham-tyagi commented on #4652
hey @varunsaral, thanks for your time, you will have to edit this file https://github.com/meshery/meshery/blob/master/docs/_includes/header.html to be able to solve the issue.
In this file under the for loop, you will find an if condition `{%- if link.url== 'es' -%}` under which you will have to modify the code. If you have more questions regarding anything related to meshery please join our slack

[2021-11-21 11:01] warunicorn19 commented on #4652
Also, I just took a look, the code under `` is actually useless, it's complicated for no reason at all. We could change that entire portion to just be,
[code]

[2021-11-21 11:19] shubham-tyagi commented on #4652
@warunicorn19 I agree, It is very complicated. To solve this issue I initially used a flag variable, making the code more complicated (though working) 😂

[code]

[2021-11-21 11:24] shubham-tyagi commented on #4652
Hey @varunsaral, if you understood what exactly is needed to be done. would you like to submit a PR for this issue?

[2021-11-21 11:25] warunicorn19 commented on #4652
yeah, this makes sense as well, but not really required, I think it'd be best if we remove it. I assume you have docs running could you please check what I wrote works or not? I haven't actually tested it out😅.

[2021-11-21 11:26] shubham-tyagi commented on #4652
yes, it does work. I just tested it @warunicorn19

[2021-11-21 13:04] piyushsingariya opened #4655 "SMI Conformance failing with all service mesh"
#### Expected Behavior

SMI Conformance Test should be seamless, error that occur is mentioned below
[code]
#### Screenshots/Logs

#### Environment

- **Host OS:** Mac Linux Windows
- **Platform:** Docker or Kubernetes
- **Meshery Server Version:** stable-v
- **Meshery Client Version:** stable-v

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery

[2021-11-21 13:05] piyushsingariya commented on #4655
CC @DelusionalOptimist @utkarsh-pro @navendu-pottekkat @leecalcote

[2021-11-21 13:52] varunsaral commented on #4652
Yes i understood it now , submiting a PR right away

[2021-11-21 14:02] shubham-tyagi commented on #4652
@varunsaral Thanks for taking this up.

[2021-11-21 18:43] #4652 closed

[2021-11-21 20:21] shubham-tyagi opened #4657 "[Docs] Add a link in Spanish home page"
#### Current State
under `Inicio Rapido` we don't have a link for this page https://docs.meshery.io/es/project/contributing

![](https://imgur.com/PnHhVzC.png)

#### Desired State
there should be a link to the mentioned page under `Inicio Rapido`. Like we have in the English page for `Contributing` under `Getting Started`.

![](https://imgur.com/ZPjyylC.png)

---

#### Contributor [Guides](https:/

[2021-11-22 05:39] DARK-art108 commented on #4657
Can I work upon this issue? @shubham-tyagi

[2021-11-22 05:44] shubham-tyagi commented on #4657
sure @DARK-art108, thanks for taking this up.

[2021-11-22 07:48] Abhishek-kumar09 commented on #4394
Need to verify this behaviour in the lifecycle is still exists.

[2021-11-22 12:04] Aisuko commented on #4642
I believe we should fix the secure issue of the base image. Remove the tool we don't need and make the image size as small as it could be(I believe this is our philosophy @leecalcote ). And please releate the PR to this issue and the list below we need to fix. I will try use the distroless container tool on the adapters.

- [ ] meshery/meshery:stable-latest
- [ ] meshery/meshery-cpx:stable-latest

[2021-11-22 13:45] DelusionalOptimist commented on #4655
@piyushsingariya did you have a load balancer available? :thinking:
The SMI conformance deployment is exposed via a LoadBalancer service. You'll be able to successfully run tests only if you have one in your environment. If you didn't have one, try using `minikube tunnel` or metallb.
Note to self: Add this to docs if not present.

[2021-11-22 14:32] navendu-pottekkat commented on #4655
@DelusionalOptimist I do have a LB and the deployment exposed. Still it did not work.

[2021-11-22 17:19] #4605 closed

[2021-11-22 21:18] warunicorn19 opened #4659 "[UI]Change cursor to pointer in navigator chevron"
#### Current Behavior
When we hover on top of the chevron in the navigator there's no change in the cursor.

#### Desired Behavior
The cursor should switch to a pointer on the chevron to indicate that it's clickable.

#### Environment

- Browser:  Safari
- Host OS: Mac
- Meshery Server Version: stable
- Meshery Client Version: stable
- Platform:  Kubernetes

---

#### Contributor [Guides](https://

[2021-11-23 02:01] leecalcote commented on #4604
@cpepper96, yes, that'd be great. 👍

[2021-11-23 02:16] Aisuko commented on #4642
https://github.com/meshery/meshery-linkerd/pull/251

[2021-11-23 02:48] varunsaral commented on #4659
Can I take this

[2021-11-23 05:55] Mr-DG-Wick commented on #4659
Here you go @varunsaral :)

[2021-11-23 06:02] Mr-DG-Wick commented on #4647
Any progress on this one ? @chetak123  :)

[2021-11-23 06:10] Mr-DG-Wick commented on #4639
Any progress on this one ? @theBeginner86 :)

[2021-11-23 06:15] theBeginner86 commented on #4639
I was working on that only. At the moment I'm trying to figure our in what scenarios does Meshery throws that error. After that I would be creating a component (with the specification mentioned in the issue) to be rendered in place of that error message.
Will soon update with a mockup for the component that would be rendered 😃

[2021-11-23 06:17] Mr-DG-Wick commented on #4639
Sounds great @theBeginner86 😄

[2021-11-23 06:25] Mr-DG-Wick commented on #4634
Any progress here ? @shardulinamdar4 😃

[2021-11-23 06:27] Mr-DG-Wick commented on #4607
Hi @manav1403 👋🏽
Did you find time to look into this one?

[2021-11-23 07:09] chetak123 commented on #4647
Actually I was having some issues in creating meshery-ui development environment, have solved most of them 😅

[2021-11-23 10:52] Mr-DG-Wick commented on #4647
ohh got it 👍🏽

[2021-11-23 11:17] piyushsingariya commented on #4312
`mesh` command is already out of the experimental state. Closing this one!

[2021-11-23 11:17] #4312 closed

[2021-11-23 11:26] leecalcote commented on #4236
What was the conclusion here, @DelusionalOptimist?

[2021-11-23 12:15] DelusionalOptimist commented on #4236
@leecalcote @bariqhibat I took a look myself. So the data in `detected-meshes` field is intentional. However, I think we only desire to fetch the installed meshes and not any other components.
In the current scenario, we fetch all available pods in the cluster and check the pod names against [this](https://github.com/meshery/meshery/blob/d04f377ca321bfb6ffb714b3f5e0afdb0d387b44/helpers/kubernetes_

[2021-11-23 12:23] warunicorn19 commented on #4639
@theBeginner86 it could be as simple as just a syntax error, you'd just have to add a custom error page when there's an empty state due to said error.

[2021-11-23 14:58] alphaX86 commented on #4642
![image](https://user-images.githubusercontent.com/59508546/143047685-a22649fb-a754-465c-abab-7818f03cf440.png)

Seems the vulnerabilities arises from the system packages (like the above example), so does that mean updating the image to latest one will fix the above? Or would it be like updating the packages altogether? @Aisuko

[2021-11-23 18:24] Reedham20 commented on #4457
Hey, is this issue still open?

[2021-11-23 18:27] leecalcote commented on #4457
@manav1403, will you confirm?

[2021-11-23 19:45] leecalcote opened #4664 "[Enhancement] Avoid GitHub API Rate Limiting for Server Version Check"
#### Current Behavior
Meshery deployments face API rate limits. Meshery Server is invoking GH's API to check for the latest server version.

[code]

#### Desired Behavior
Use https://github.com/meshery/meshery/releases/latest to determine latest Meshery Server release version instead.

#### Implementation
Remove all api.github.com requests.

---
#### Contributor [Guides](https://docs.meshery.io/pr

[2021-11-23 19:50] navendu-pottekkat opened #4665 "[mesheryctl] `system restart` tries to start Meshery as the deployments are being terminated"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

`mesheryctl system restart` `stop`s and `start`s Meshery. This causes the command to try `start` when Meshery is still being stopped and shows this error.

[code]

#### Desired Behavior

`mesheryctl system restart` should wait for the entire Meshery deployment to be terminated before

[2021-11-23 19:55] leecalcote commented on #4664
@piyushsingariya do you have an example of this that has been recently implemented in `mesheryctl`?

[2021-11-23 20:01] navendu-pottekkat opened #4666 "[mesheryctl] Make `system start` intelligent"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

`mesheryctl system start` asks the user to run `mesheryctl system status` to check the status of the pods that are spinning up.

#### Desired Behavior

`mesheryctl system start` should check the status of the pods continuously and see if they are ready.

---

#### Contributor Resource

[2021-11-23 23:22] Aisuko commented on #4642
Yes, you are right here. We may need to update the base image which we're using:

* Alpine
* Debian 10.9
* Node.js

But If we can make a choice on all the adapter migrate to the seem base image e.g: like Debian 11. I believe we can fix the system-base image security issue easily. Like the operator 's base image.

<img width="651" alt="Screenshot 2021-11-24 at 7 17 00 AM" src="https://user-images.g

[2021-11-24 07:15] Revolyssup commented on #4664
@leecalcote  How about a central function in meshkit which takes into parameter some set constant like(meshery, istio ,traefik mesh) etc and gives its latest release by web scraping method. I will implent that and make a PR in meshkit. That function can then be used across all the meshery components. And whenever we need to getLatestRelease of something else, instead of adding another function, we

[2021-11-24 09:06] bariqhibat commented on #4457
Hi @Reedham20, yes it is.

[2021-11-24 13:59] leecalcote commented on #4664
Sounds great. The function can be used in mesheryctl, too.

[2021-11-24 14:06] leecalcote commented on #4457
@Reedham20 join today's Meshery Dev meeting, so the @bariqhibat might get you going on this one.

[2021-11-24 14:25] Reedham20 commented on #4457
Sure @leecalcote can you provide me more guidance as to how

[2021-11-24 18:56] varunsaral opened #4669 "contributing-ui page link is broken in github issue reference section for contribution"
#### Current State
when a UI issue is opened , it has a link for reference for contributing in UI
![issue1](https://user-images.githubusercontent.com/42253796/143297383-82e14e97-153c-429a-819c-5a97aaabd9d1.png)

and it result it 404 when clicked

![broken_404](https://user-images.githubusercontent.com/42253796/143297659-5fa57094-dbff-49da-8c24-442210b3e306.PNG)

#### Desired State
The file is loca

[2021-11-24 19:06] warunicorn19 commented on #4669
@varunsaral will you be putting in a fix for this?

[2021-11-24 19:14] varunsaral commented on #4669
@warunicorn19 Everything is fine in docs , the best way in my opninion is fixing the link in issue template (which is not possible for me maybe) , if we change the location of file in docs , we have to update the other links too and it seems to be at right place now.

[2021-11-24 19:19] warunicorn19 commented on #4669
Well the template is in the `.github` folder, you could just fork this repo, make the changes and make a PR.

[2021-11-24 19:23] varunsaral commented on #4669
okay @warunicorn19  , thank you for information . Please assign me this

[2021-11-25 05:52] #3968 closed

[2021-11-25 05:52] #3274 closed

[2021-11-25 11:22] navendu-pottekkat commented on #3795
@alphaX86 Are you tracking this issue?

When we consider multi-cluster support, having just the operator deployed on a cluster is a valid use-case. The current logic in mesheryctl as mentioned above is that it only checks for Meshery server pods to decide if Meshery is running.

The ask here is to change that logic to check the namespace and the status of the pods to determine Meshery is running a

[2021-11-25 12:13] #3303 closed

[2021-11-25 12:20] navendu-pottekkat commented on #2968
@piyushsingariya Not necessarily, it could be a LoadBalancer which is the current default service type. We could definitely add a configuration here in the meshconfig. We should plan which command would handle modifying this. Should it be a system command or should it be a sub-command for context? We should give it some thought on how to proceed if we decide we are proceeding with this.

[2021-11-25 16:57] #4334 closed

[2021-11-25 19:57] #4119 closed

[2021-11-25 20:51] MarioArriaga92 opened #4674 "[CI] UI build PR workflow - provider-ui npm ERR! code EBADPLATFORM opt dep @next/swc-darwin-x64@11.1.1"
#### Current Behavior
UI Build UI build PR workflow fails due to optional dependency @next/swc-darwin-x64@11.1.1.

I was able to replicate issue locally with node v14.8.1 inside /provider-ui with npm install **(that's the node version we use in Github Actions workflow)**:
![image](https://user-images.githubusercontent.com/23443575/143497809-28e12e60-59eb-4db9-be14-0f3e033b7da9.png)

#### Desired B

[2021-11-25 23:27] #4674 closed

[2021-11-26 09:53] theBeginner86 commented on #4639
Progress:

https://user-images.githubusercontent.com/73700530/143561049-fe3a727f-983a-49fd-8fa4-d1b800cac37c.mov

Since I was not good with graphics so I reused the ones which we are using on our Meshery website (404 page)

Any suggestion on UI?
@Mr-DG-Wick @warunicorn19

[2021-11-26 09:58] warunicorn19 commented on #4639
This is looking good, though I'll still try to spend some time in coming up with a new graphic. One thing you could do is instead of putting a button for the discussion forum you could just add an (`<a>`) href to the word "discussion forum" in the above sentence.

[2021-11-26 10:00] theBeginner86 commented on #4639
Ok!! I'll add that in the sentence.

One doubt I had, this page is different from the 404 page on Meshery, right?

[2021-11-26 14:42] leecalcote commented on #4669
@bariqhibat has some further guidance to offer here.

[2021-11-26 14:49] bariqhibat commented on #4669
We should use a decorator to wrap our whole React component to a error boundary. If there's any uncatched error happening in our application, then it'll be redirected to an error page, which acts as a default setback. More of the reference can be read here: https://reactjs.org/docs/error-boundaries.html

[2021-11-27 18:00] shubham-tyagi opened #4681 "[Docs] Page not linked"
#### Current State
the highlights red part in the below image is not a link on this [page](https://docs.meshery.io/extensibility/adapters).

![](https://imgur.com/PKfs8Z8.png)

#### Desired State
It should be a link to https://docs.meshery.io/project/contributing.

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](http

[2021-11-27 18:45] #4368 closed

[2021-11-27 19:20] sahilsuman933 commented on #4681
@shubham-tyagi Can you assign this task to me.

[2021-11-27 19:23] shubham-tyagi commented on #4681
Sure @sahilsuman933. Thanks for taking this up.

[2021-11-28 19:38] #4681 closed

[2021-11-29 16:06] pulberg commented on #2202
I will try to find the docs and review them.

[2021-11-29 17:32] panyuenlau commented on #3128
@leecalcote Sorry I missed this because of a lot of other GitHub notifications, is this still on our to-do list that needs to be addressed?

[2021-11-29 18:56] DelusionalOptimist commented on #3128
@panyuenlau I thin this still needs to be addressed. :thinking:
`chart_version` matches to that of Meshery's release however `app_version` doesn't. IMO since `app_version` has already been set to v0.6.0 we should not pull it back albeit it is just informational.
![2021-11-30_00-02](https://user-images.githubusercontent.com/54525605/143923654-9c8a79e5-fed6-4172-a484-d80db07df34e.png)
Once we publis

[2021-11-29 19:30] #4630 closed

[2021-11-29 19:31] #4563 closed

[2021-11-29 19:34] leecalcote commented on #3128
@DelusionalOptimist, spot on. @panyuenlau, completely understand. Yes, please.

[2021-11-29 19:44] leecalcote commented on #4313
@Zanda256 checking in...

[2021-11-29 19:49] Zanda256 commented on #4313
Working on it, had a long discussion about it with @piyushsingariya over the weekend.

[2021-11-30 01:53] alphaX86 commented on #4642
Is there any other way to get a security report for the container images? IG for Helm, it'd be done only when a new version is released in the Hub...

[2021-11-30 09:18] Aisuko commented on #4642
Maybe DockerHub? I'm not sure if we deploy a local Harbor(with the image scan features at local) can help us.

[2021-11-30 12:08] alphaX86 commented on #4642
Dockerhub.... It's fine, it also has a scanner but a premium feature though :') I'm not sure if we have it.

Harbor... I'll give look on it

[2021-12-01 09:34] #2890 closed

[2021-12-01 09:38] navendu-pottekkat commented on #3946
@iambami Are you working on this issue? Are you facing any blockers?

[2021-12-01 09:40] navendu-pottekkat commented on #3812
Added pages here: https://docs.meshery.io/functionality

[2021-12-01 17:17] warunicorn19 commented on #4659
Hey @varunsaral any progress on this so far? Please feel free to ask on slack if you feel like you're having trouble somewhere.

[2021-12-02 05:59] varunsaral commented on #4659
@warunicorn19 will submit a pr today .

[2021-12-02 15:09] #4184 closed

[2021-12-02 15:17] piyushsingariya opened #4705 "[mesheryctl] Replace logrus with meshkit logger"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

mesheryctl is using https://github.com/sirupsen/logrus everywhere

#### Desired Behavior

`Logrus` needs to be replaced with `meshkit` logger

---

#### Contributor Resources

- ⌨️ [mesheryctl Contributing Guide](https://github.com/meshery/meshery/blob/master/mesheryctl/README.md)
- [

[2021-12-02 15:30] manav1403 commented on #4607
I am looking into it.

[2021-12-02 15:40] Revolyssup opened #4707 "[UI] Use recently added metadata to show pattern's current support status on UI"
#### Current Behavior

Currently users do not have a context on what patterns are valid and what patterns are invalid, on the patterns page. (Defining "invalid" as "There is some typo","There is no adapter or something which has registered capabilities against that patternfile").
We need to use the metadata in patterns array returned by /api/pattern.
#### Desired Behavior

On each pattern returned

[2021-12-02 15:43] bariqhibat commented on #4452
You might take a look here @sudo-NithishKarthik

[2021-12-02 15:44] sudo-NithishKarthik commented on #4452
Will do @bariqhibat

[2021-12-03 09:35] FidalMathew commented on #4657
@DARK-art108 are you working on this issue? If not, I would like to take up the issue.

[2021-12-03 10:26] Chadha93 opened #4709 "[UI] Navigator Collapse Chevron Position"
#### Current Behavior
The chevron is not responsive with respect to the aspect ratio.

https://user-images.githubusercontent.com/65453826/144587094-626c1ed0-c999-4b59-93bb-2e919e837ce7.mp4

#### Desired Behavior
The chevron should also hide when the navigator is fully collapsed/hidden accordingly to the window aspect ratio.

#### Screenshots/Logs

#### Environment

- Browser: Chrome Safari Firefox

[2021-12-03 10:26] Chadha93 commented on #4709
@sahilsuman933 Would you like to give this a shot?

[2021-12-03 10:39] sahilsuman933 commented on #4709
@Chadha93 I would love to fix this issue. But it may take a few weeks to fix this issue cause this will be my first issue on Javascript. So if it isn't urgent, please assign me to this task.

[2021-12-03 11:16] #4392 closed

[2021-12-03 15:17] #4452 closed

[2021-12-03 15:24] leecalcote opened #4711 "[UI] Build Failure: PatternForm.js"
#### Current Behavior
Meshery UI builds fail

#### Screenshots/Logs
[code]

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources

- 🎨 Wireframes and designs for Meshery UI in [Figma](https://www.figma.com/file/SMP3zxOjZztdOLtgN4dS2W/Meshery-UI)
- 🖥 [Contributing to Meshery UI](https://docs.meshery.io/project/contributing-ui)
- 🙋🏾🙋🏼 Questions: [Layer5 Discussio

[2021-12-03 17:45] varunsaral commented on #4659
@warunicorn19 Hey , can you unassign me from this task , as i having difficulty in seting up the enviornment and solving the issue , i tried contacting my mentor but no response , i have taken almost a week maybe someone else can do it and i want to focus on other ideas as suggested by @leecalcote in newcomers meeting . Thank you

[2021-12-03 18:46] sahilsuman933 commented on #4659
@varunsaral Then Can I take this task!?

[2021-12-03 18:50] warunicorn19 commented on #4659
Thank you for letting us know @varunsaral, please go ahead @sahilsuman933. It's actually a one line change should take too much time.

[2021-12-03 19:05] #4659 closed

[2021-12-03 19:26] varunsaral opened #4714 "Broken link from CONTRIBUTING.md[Docs]"
#### Current State
Broken link in  CONTRIBUTING.md

https://user-images.githubusercontent.com/42253796/144661257-318e94f6-2d58-45f7-a86a-71d902d8cdf8.mp4

#### Desired State
It should point to a vaild page
---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instruct

[2021-12-03 19:34] leecalcote commented on #4714
Thanks, @varunsaral 👍

[2021-12-03 19:38] varunsaral opened #4715 "contributing-ui page link is broken in github issue reference section for contribution [Docs]"
#### Current State
Broken Link

https://user-images.githubusercontent.com/42253796/144662736-2ee0cbb0-0da1-47cf-b1df-249d05ca36db.mp4

#### Desired State
The link should point to https://docs.meshery.io/project/contributing/contributing-ui
---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/projec

[2021-12-03 23:09] sahilsuman933 commented on #4709
@Chadha93 Can you please look into the video and tell me whether I have to make any other changes or not?

https://user-images.githubusercontent.com/34382211/144684068-a37cc231-059e-42f3-a089-65a97ac72e6f.mp4

[2021-12-04 05:33] arunkarthicknm commented on #4647
Can anyone please tell me if this issue is solved??

[2021-12-04 05:43] arunkarthicknm commented on #4715
Can I take this issue??

[2021-12-04 05:51] chetak123 commented on #4647
Hey @arunkarthicknm , I am actually a little bit busy right now (due to my sem exam), so if you want then please go for it otherwise I will get back to it if it's still available in future.

[2021-12-04 05:56] arunkarthicknm commented on #4647
Sure!!

[2021-12-04 07:55] shubham-tyagi commented on #4715
Thanks @arunkarthicknm for taking this up.

[2021-12-04 09:20] Umoren commented on #2515
Hi @leecalcote I would like to give this issue a shot

[2021-12-04 09:23] Umoren commented on #4707
Hi @Revolyssup I would like to give this a shot

[2021-12-04 11:17] varunsaral commented on #4715
@arunkarthicknm refer to  #4670 if you have any doubt , or you can ask me too

[2021-12-04 11:21] warunicorn19 commented on #4709
@sahilsuman933 almost there, basically what needs to be done is that the chevron should hide with the drawer itself, we don't want to remove the chevron all together.

[2021-12-04 11:24] warunicorn19 commented on #4657
Hey @FidalMathew looks like @DARK-art108 is busy with other work, it'd be great if you could take look at this. 😃

Please feel free to ask on [slack](https://join.slack.com/t/layer5io/shared_invite/zt-rgbyt4kj-6PUUyqY9SfQGRSt_oZV9yQ) if you run into any blockers.

[2021-12-04 11:28] warunicorn19 commented on #2515
Sounds good @Umoren.

[2021-12-04 11:35] Chadha93 commented on #4709
Yess +1 with @warunicorn19, @sahilsuman933 you just need to make changes with the positioning and breakpoints of chevron, not hiding.

[2021-12-04 11:51] FidalMathew commented on #4657
Sure! 👍

[2021-12-04 12:59] sahilsuman933 commented on #4709
@warunicorn19 @Chadha93
Yeah, I got your point. I need to do the following stuff:-

i) Hide that chevron in mobile.
ii) When the user clicks on the hamburger button, the chevron should be re-displayed with its functionality.

But I am not getting how I can hide the chevron when the user clicks on the outside (to close it) the navigation bar. That's the issue I am facing right now.

[2021-12-04 13:21] ayanchoudhary commented on #4705
Hi, can I work on this issue if this is free?

[2021-12-04 14:11] piyushsingariya commented on #4705
Yeah, sure! btw it would better if this issue is tackled in small multiple PRs

[2021-12-04 14:21] arunkarthicknm commented on #4715
Can you please tell me where exactly the link is broken?? @varunsaral

[2021-12-04 16:00] ayanchoudhary commented on #4705
just a clarification, this replacement needs to be done only for mesheryctl and should leave everything else as it is, am I correct?

[2021-12-04 16:01] ayanchoudhary commented on #4705
and the PRs should be broken down based on different log-levels?

[2021-12-04 16:13] piyushsingariya commented on #4705
yes in each folder under mesheryctl.

Nope, just enough changes that Maintainers doesn't get overwhelmed during reviewing PRs.

[2021-12-04 16:15] #4715 closed

[2021-12-05 11:04] #4482 closed

[2021-12-05 14:46] sahilsuman933 commented on #4709
Sorry @Chadha93  and @warunicorn19  I am not able to solve this problem. I will learn to react after that I will solve this problem if someone didn't fix that issue till that time. Sorry once again.

[2021-12-05 14:55] Prakhar-Agarwal-byte commented on #4709
I would like to take this up

[2021-12-05 15:18] warunicorn19 commented on #4709
Thanks for the heads up @sahilsuman933, Please go ahead @Prakhar-Agarwal-byte.

[2021-12-05 15:27] #4714 closed

[2021-12-05 17:03] Revolyssup opened #4724 "Panic at pattern validation due to jsonschema package"
#### Current Behavior

The jsonschema package which is used internally for validation at the pattern validation stage, internally maintains a global instance of Schema struct, and the ValidateBytes method tries to manipulate it in an unsafe way which can cause panic. This issue have came to light after the recent PR which concurrently does pattern validation for dry-run #4661 .

#### Expected Beha

[2021-12-05 18:13] varunsaral commented on #4714
I was assigned to it :( , my PR was ready I was somewhere remote , anyways thank you Arun , you fixed my two issues

[2021-12-05 18:54] hexxdump opened #4726 "[CI] Need to have proper liveness/readiness checks with Helm deployments"
#### Current Behavior
Meshery server and operator deployments have moved to helm based deployments in release v0.6.0
However, we do see that some of the pods take time to come up and gives bad user experience.
We need to make sure that the pods for these deployments are coming up fine by adding some readiness checks.

#### Desired Behavior
Add custom logic to check whether the meshery pods are up

[2021-12-06 04:39] piyushsingariya commented on #4474
This will be resolved with #4679

[2021-12-06 04:49] piyushsingariya opened #4728 "[UI] Need Search feature for Performance Profile"
#### Desired Behavior

I as a user require a search box to search for a performance profile that I saved 1 month ago, and now I have hundreds of performance profiles. The search should support search with "Name", and "URL".

#### Mockups

![image](https://user-images.githubusercontent.com/50979887/144788793-603c9a42-3d88-4193-be2d-a9f7703bc056.png)

---

#### Contributor [Guides](https://docs.mesh

[2021-12-06 04:52] piyushsingariya commented on #4728
CC @navendu-pottekkat @sudo-NithishKarthik @leecalcote @warunicorn19

[2021-12-06 07:18] warunicorn19 commented on #4728
I agree, this is definitely a feature we should consider, best to add this in the refactoring.

[2021-12-06 11:28] #4724 closed

[2021-12-06 12:47] sudo-NithishKarthik commented on #4728
<img width="1436" alt="Screenshot 2021-12-06 at 6 16 43 PM" src="https://user-images.githubusercontent.com/75248557/144848506-8a6a15a8-e755-4d50-a360-ab3408409d2c.png">

Although we have this in the tabular form, it doesn't hurt us to do the same in the card view.

[2021-12-07 00:07] leecalcote opened #4731 "[mesheryctl] System Start gives unfriendly message when K8s is not available"
#### Current Behavior
Can we go back to the drawing board on this:
[code]

It is terribly unfriendly and not obvious what needs to be done.  Also, there is no error code given.

#### Desired Behavior
Provide user with a message that says what the issue is and what to do about it.

[code]

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources

- 🎨 Wireframes and

[2021-12-07 07:22] Prakhar-Agarwal-byte opened #4733 "[UI] Profile icon and text not aligned properly"
#### Current Behavior
The icon and text are not aligned vertically properly

![Screenshot from 2021-12-07 12-49-43](https://user-images.githubusercontent.com/17739006/144984328-788f1360-9e3d-4791-83ba-df6d1b0615bd.png)

#### Desired Behavior
They should be center aligned vertically

#### Environment

- Browser: Chrome Safari Firefox
- Host OS: Mac Linux Windows
- Meshery Server Version: stable-v
-

[2021-12-07 07:23] Prakhar-Agarwal-byte commented on #4733
I would like to fix this

[2021-12-07 07:37] warunicorn19 commented on #4733
@Prakhar-Agarwal-byte Thanks for pointing this out but let's get some of the issues that you already have out of the way first.

[2021-12-07 07:49] prakharagarwal-dev commented on #4733
@warunicorn19 I have created PR for https://github.com/meshery/meshery/pull/2405 So can I now work on this?

[2021-12-07 07:51] warunicorn19 commented on #4733
Okay, sure👍

[2021-12-08 09:39] Prakhar-Agarwal-byte opened #4738 "[UI] Replace notistack with MaterialUI Snackbar"
#### Current Behavior
This issue is related to `meshery-ui-restructring` [branch](https://github.com/meshery/meshery/tree/meshery-ui-restructuring)

The dev server crashes on start with the following log:
[code]
This happens because currently we were using `notistack` previously which was dependent on mui v4 but since now we are using mui v5 and have to use the snackbar component provided by mui v

[2021-12-08 09:39] Prakhar-Agarwal-byte commented on #4738
I would like to solve this issue

[2021-12-08 09:49] sudo-NithishKarthik commented on #4738
Go ahead @Prakhar-Agarwal-byte .

[2021-12-08 17:35] #4457 closed

[2021-12-08 17:48] leecalcote opened #4741 "[CI] Centralize Meshery Adapter Integration Test Results"
_This is a child issue of the larger epic for [Compatibility Matrix #2515](https://github.com/meshery/meshery/issues/2515)._

#### Current Behavior
Integrations are a key aspect of the value Meshery offers to users. Details of the compatibility of Meshery and its components are available in various places in Meshery Docs (in Jekyll datafiles). Bringing this information together into a single locat

[2021-12-09 12:24] leecalcote commented on #4044
@s1ntaxe770r are you working on a design spec now or are you waiting for a later release?

[2021-12-09 17:42] ibnjunaid commented on #4731
@leecalcote I want to work on this issue can you assign it to me.

[2021-12-09 17:44] sayantan1413 commented on #4731
Yeah sure go ahead @ibnjunaid 🚀

[2021-12-09 17:57] ibnjunaid commented on #4665
@navendu-pottekkat Can you please assign this issue to me.

[2021-12-09 19:20] s1ntaxe770r commented on #4044
@leecalcote made a rough draft of the design spec a while back ,  it's somewhere in the community drive if i recall correctly

[2021-12-09 19:20] s1ntaxe770r commented on #4044
https://drive.google.com/drive/folders/1pXJsDePP8cl9gY8ob-WH-0_LSoGG5EsN

[2021-12-09 19:21] s1ntaxe770r commented on #4044
https://drive.google.com/drive/folders/1pXJsDePP8cl9gY8ob-WH-0_LSoGG5EsN

[2021-12-09 19:21] s1ntaxe770r commented on #4044
https://drive.google.com/drive/folders/1pXJsDePP8cl9gY8ob-WH-0_LSoGG5EsN

[2021-12-09 22:58] #4733 closed

[2021-12-10 01:48] leecalcote commented on #4731
Gents, please be aware that this issue needs to move quickly. It's a poor user experience for new users. @ibnjunaid message quickly if you get stuck, please.

[2021-12-10 04:03] 14Richa commented on #3946
Hey @navendu-pottekkat and @leecalcote , I would like to take this issue. Can you please assign it to me?

[2021-12-10 04:03] warunicorn19 commented on #3946
Sure thing @14Richa, Thank you for taking a look.

[2021-12-10 06:04] #4738 closed

[2021-12-10 06:06] ibnjunaid commented on #4731
@leecalcote Can you  review  the PR #4751 and please let me know if any changes are needed.

[2021-12-10 06:10] 14Richa commented on #3946
Hey, I have tried some options regarding the dropdown icon. Attaching the screenshot.
Which of these do you think look better? Feel free to suggest other options.

**1. Dropdown arrow on the right**
![Screenshot from 2021-12-10 11-29-37](https://user-images.githubusercontent.com/41283476/145525688-ad531b7b-2793-4981-80f2-659282face17.png)

**2. Dropdown arrow on the left**
![Screenshot from 2021-1

[2021-12-10 06:39] warunicorn19 commented on #3946
@14Richa could you try finding one which is similar to the mock-up? If not then, let's go with the first one.

[2021-12-10 07:14] 14Richa commented on #4634
Is this issue solved? I can't see any broken images. Attaching the screenshot.
![Screenshot from 2021-12-10 12-43-15](https://user-images.githubusercontent.com/41283476/145532765-6a56f70e-16bb-4ad9-9729-4fe505a64fd0.png)

[2021-12-10 07:18] warunicorn19 commented on #4634
Yup @14Richa this is still an issue, I've provided the link in the issue.
 https://docs.meshery.io/service-meshes/adapters/nsm#2-vpp-icmp-application

Would you like to take a look at this?

[2021-12-10 07:23] 14Richa commented on #4634
Yes, I would like to take this.

[2021-12-10 07:24] warunicorn19 commented on #4634
Sounds good.

[2021-12-10 07:25] 14Richa commented on #3946
The above mock-up is actually a screenshot of google drive.

[2021-12-10 07:27] warunicorn19 commented on #3946
Yes, i know. So we were thinking of something like that. A right chevron of sorts.

[2021-12-10 08:42] bboshiZ opened #4753 "meshery container crash"
#### Current Behavior
meshery progress panic

#### Expected Behavior

#### Screenshots/Logs
panic: runtime error: index out of range [1] with length 1

goroutine 33 [running]:
github.com/layer5io/meshery/internal/graphql/model.GetControlPlaneState(0xc00c0c9100, 0xe, 0x10, 0x3cdb1b0, 0xc000267680, 0xc00c0c9100, 0x8, 0x10, 0xc00111a030, 0xc00107c000)
	/data/code/meshery/internal/graphql/model/contro

[2021-12-10 12:58] 14Richa commented on #4634
Locally, I am able to see the image. Probably it is a resource error. Attaching the screenshot. Kindly help?
![Screenshot from 2021-12-10 18-26-26](https://user-images.githubusercontent.com/41283476/145577642-4898d884-d5f0-41ee-bdb1-dd7479ef0f31.png)

[2021-12-10 13:46] #4425 closed

[2021-12-10 15:29] #4709 closed

[2021-12-10 16:39] piyushsingariya opened #4755 "[mesheryctl] Improve mesheryctl Integration testing"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Desired Behavior

Currently we only just run the `system` commands as the part of Integration Tests, The tests should be improved in-order to cover several E2E things within these integration tests.

#### Implementation

Few vectors we can think
- Check if meshery is running after running `start` subco

[2021-12-10 20:20] 14Richa commented on #4647
Hi @Mr-DG-Wick  I went ahead and put a little fix for the issue. It looked like there wasn't any activity recently. Please take a look and approve the PR if it works for you.

[2021-12-10 20:34] Chadha93 commented on #4647
https://github.com/meshery/meshery/pull/4757#pullrequestreview-829302613

[2021-12-10 20:39] #4647 closed

[2021-12-10 20:58] 14Richa commented on #4657
Hi, @shubham-tyagi I created a tiny PR for this issue, since I didn't see any activity on this issue in a while. Please take a look if that fixes the issue.

[2021-12-10 21:07] warunicorn19 commented on #4394
@Abhishek-kumar09 I faced this issue a couple of days back, I think it still persists

[2021-12-11 01:30] shubham-tyagi commented on #4657
sure @14Richa, Thanks for taking this up.

[2021-12-11 09:32] sayantan1413 opened #4760 "[Docs] Extra copy icon in the Scoop installation guide"
#### Current State

There is an extra copy icon in the [Scoop installation guide to download Mesheryctl ](https://docs.meshery.io/installation/platforms/scoop)the command line client for Meshery.

#### Desired State

There should not be any extra copy icon in the installation guide.

#### Screenshot

<img width="860" alt="Screenshot 2021-12-11 at 2 58 21 PM" src="https://user-images.githubusercont

[2021-12-11 10:24] Deepansharora27 commented on #4760
I would like to fix this @Mr-DG-Wick

[2021-12-11 11:30] sayantan1413 commented on #4760
It's all your's @Deepansharora27 .🎉

[2021-12-12 10:17] #4639 closed

[2021-12-12 11:48] #4634 closed

[2021-12-12 12:01] #4657 closed

[2021-12-13 07:15] navendu-pottekkat commented on #4728
Yes, it is not super obvious for the user to switch to the tabular view and find a search box...

[2021-12-13 08:05] #4474 closed

[2021-12-13 11:18] navendu-pottekkat commented on #4604
Should we send back a response from the Meshery server if the token is invalid?

The [current logic](https://github.com/meshery/meshery/issues/4604) is written with Meshery UI as its primary client I guess.

If we can get a response from the server that the token is invalid, we can handle it appropriately in mesheryctl and provide a more contextual error message.

Other than that, I don't see how

[2021-12-13 11:27] navendu-pottekkat commented on #3637
@sayantan1413 Could you also confirm this is not an issue anymore?

[2021-12-13 11:57] piyushsingariya commented on #4604
@navendu-pottekkat is right. Else we'll have to add a step to verify if the error contains the phrase `stopped after 10 redirects`

[2021-12-13 12:57] Revolyssup commented on #4604
@navendu-pottekkat  @piyushsingariya  When an invalid token is seen, a redirection to /provider takes place with status code of Redirection , i.e 302. And golang internally has a infinite for loop which breaks when redirects cross 10. Since we are not UI clients, it will keep redirecting.So maybe we can add a check on mesheryctl that if the status code is 302, then this redirection issue is there.

[2021-12-13 13:02] piyushsingariya commented on #4604
@Revolyssup This error is thrown from the step where we perform the request, in other words error thrown before checking the statusCode.

[2021-12-13 13:03] Revolyssup commented on #4604
Yeah I know tht, that's what I'm saying. Before checking the error, check if the statuscode is 302.and send the appropriate response

[2021-12-13 14:05] navendu-pottekkat commented on #4604
Checking the status code makes sense. @Revolyssup Is it safe to assume that it would only redirect for the case where the token is invalid?

[2021-12-13 14:18] Revolyssup commented on #4604
Currently in meshery server that redirection takes place at the auth handler layer. So with the current implementation. Yes the /provider redirect takes place there only when the token is invalid. It never reaches the internal middle wares or any of the handlers.

[2021-12-13 14:25] navendu-pottekkat commented on #4604
Okay. @Revolyssup So we could check that in the CLI I guess. But should we handle this more elegantly and mention that the token is expired from the server itself instead of relying on the status code for the redirect?

[2021-12-13 14:48] Revolyssup commented on #4604
@navendu-pottekkat  I also found some more bugs. One for eg is, when provider is neither Meshery nor Local. Then even though the token is invalid. It says pattern applied, and this because we actually get a 200 response along with the login page HTML.

So let me explain the flow in few cases-
1. Provider=Meshery ,token=Invalid. This time, the error is caught in authmiddleware and a redirect is mad

[2021-12-13 17:54] shubham-tyagi opened #4767 "[Docs] Footer modification"
#### Current State

Changes required on https://docs.meshery.io/ :
- we don't have layer5 discuss icon in docs footer
- The slack icon needs to be changed.
- the calendar icon doesn't have a hover effect.

![](https://imgur.com/FGW2dZm.png)

#### Desired State

![](https://imgur.com/TZTB16B.png)

- add the layer5 discuss forum icon in docs footer.
- The slack icon needs to be modified to what we h

[2021-12-13 18:32] navendu-pottekkat commented on #4604
There is [this function](https://github.com/navendu-pottekkat/meshery/blob/9bd1ed2d6669c3fb571a6e06a77338b867b50c25/mesheryctl/internal/cli/root/perf/profile.go#L163) in mesheryctl that checks if the response is HTML and we do actually check for it in the `perf` commands.

The utility function you mentioned would check the status code plus the functionality of the one I linked here right?

And it

[2021-12-13 19:32] Nik-09 commented on #4767
Hi @shubham-tyagi I want to contribute on this issue. I am just going through the [this doc](https://docs.google.com/document/d/17OPtDE_rdnPQxmk2Kauhm3GwXF1R5dZ3Cj8qZLKdo5E/edit#) for knowing more about how to get start until then can you please assign this task to me.
Thank you

[2021-12-14 06:15] Chadha93 opened #4768 "[Server][Filters][BUG] Filters are not getting fetched"
#### Current Behavior
Filters are not getting fetting fetched from the server due to a bad response.
It seems an issue under Meshery cloud.

#### Expected Behavior
Server response API needs to be fixed.
Please do link the Meshery cloud PR here for reference.

#### Screenshots/Logs
![Screenshot from 2021-12-08 10-38-18](https://user-images.githubusercontent.com/65453826/145942993-6c6c73ca-4ef1-46ed

[2021-12-14 10:47] warunicorn19 commented on #4768
This is an issue with meshery cloud right? @Revolyssup have you already put in a fix for this?

[2021-12-14 11:36] Revolyssup commented on #4768
Yeah, I did put the fix

[2021-12-14 15:53] alphaX86 commented on #4642
One common CVE is critical named... CVE-2021-33574 IDK if there's a way to solve it...

[2021-12-14 15:54] alphaX86 commented on #4642
Bumping the tags solved 70% of CVEs (all high and critical range, some low kind still remain)

[2021-12-14 21:23] leecalcote commented on #4642
Wow!

[2021-12-14 21:51] leecalcote commented on #4549
@fallmor, oh, no. I missed your message. Yes, please jump in. Will you first confirm that you can reproduce this issue?

[2021-12-15 10:46] manav1403 opened #4771 "[Error] Unable to write MeshSync data to the Meshery Database"
#### Screenshots/Logs

`Unable to write MeshSync data to the Meshery Database  app=meshery code=1002 probable-cause="Meshery Database is crashed or not reachable" severity=2 short-description="Error while writing meshsync data.no such table: objects" suggested-remediation="Restart Meshery Server.Please check if Meshery server is accessible to the Database"`

#### Environment

- **Host OS:** Linux

[2021-12-15 10:46] manav1403 commented on #4771
// @mgfeller

[2021-12-15 10:47] manav1403 commented on #4771
the code 1002 isn’t on this page, though - https://docs.meshery.io/reference/error-codes#meshery-server.

[2021-12-15 12:11] navendu-pottekkat opened #4773 "[mesheryctl] Unable to remove Meshery operator deployments on `mesheryctl system stop`"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

Users can deploy just the Meshery Operator in a cluster without installing Meshery on it (multi-cluster environments, out of cluster deployment of Meshery).

`mesheryctl` handle the uninstallation of these deployments as well when stopping Meshery.

When running `mesheryctl system sto

[2021-12-15 12:58] navendu-pottekkat commented on #4773
Is this because we also try to remove Meshery deployments and not just the operator deployments?

Should we check this in `mesheryctl` and use the `meshery-operator` charts for uninstalling if Meshery server is not deployed? Because, in this scenario, the Meshery Operator was deployed by Meshery Server using the `meshery-operator` charts.

// @Aisuko @panyuenlau @DelusionalOptimist @leecalcote

[2021-12-15 22:01] panyuenlau commented on #4773
@navendu-pottekkat How did you install the meshery-operator in your environment?

[2021-12-16 13:24] sayantan1413 opened #4775 "[Docs] Option to go back to English from Espanol"
#### Current State

When we go to the Espanol page there is no option to go back to the English version

#### Desired State

When we are on the English version then there is a button at the top right corner to Espanol. So when we are on the Espanol page then the button should change to English to go back to the English version. Or maybe we can make a dropdown with two options which might be a bett

[2021-12-16 15:27] sayantan1413 commented on #4760
Any updates here @Deepansharora27 ?

[2021-12-16 17:01] leecalcote opened #4777 "[mesheryctl] Helm: cannot start Meshery: rendered manifests contain a resource that already exists."
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
As a contributor, I have built Meshery Server locally. Meshery Server connects to my Kubernetes cluster and deploys Meshery Operator using helm.

When I cancel the locally-running Meshery Server process, the Meshery Operator deployment stays residual on my Kubernetes cluster.

Then, wh

[2021-12-16 17:03] leecalcote commented on #4777
@panyuenlau I wonder if you want to bite into this one.

If not, @hexxdump or @piyushsingariya is this something you can address?

[2021-12-16 17:29] leecalcote opened #4778 "[Docs] Add Meshery Adapter for Cilium Service Mesh as an Alpha adapter"
**Current State of the Meshery.io site**
The meshery/meshery readme has a table of supported service meshes.

**Desired State of the Meshery.io site**
The `meshery-cilium` adapter is in an alpha state currently and should be reflected in the readme

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery

[2021-12-16 18:30] Abhijay007 commented on #4778
I want to contribute to this issue, can you please assign this issue to me?

PS: Also contributing to this [issue](https://github.com/layer5io/layer5/issues/2418)

[2021-12-16 18:32] panyuenlau commented on #4777
@leecalcote quick question, how did you install and stop the meshery server before running `system start`? If the meshery-operator was installed by the meshery server in the first place, shouldn't the meshery server also remove the meshery-operator deployment when we stop the meshery server?

[2021-12-16 22:32] leecalcote commented on #4777
@panyuenlau, yes, you're right. Here's a quick recap from the sequence of events in the issue description:

1. Contributor locally compiles Meshery Server; runs as a process on local machine.
2. Meshery Server connects to K8s; deploys Meshery Operator.
3. Contributor kills Meshery Server process mid-flight; non-graceful shutdown of Meshery Server.
4. Meshery Operator deployment stays residual on c

[2021-12-16 22:57] #4669 closed

[2021-12-17 06:06] piyushsingariya commented on #4777
If this issue is mainly faced by community developers. maybe we can implement a process which deletes Meshery-operator resources after someone stops locally compiled Meshery. We could trigger the same API/handler that's used to deploy operator through UI just to remove the resources.

Does this make sense?? I feel this could be implemented in similar fashion where we delete the cached patters. fil

[2021-12-17 12:29] #4731 closed

[2021-12-17 18:10] Chadha93 commented on #4768
https://github.com/layer5io/meshery-cloud/pull/147

[2021-12-17 18:19] #4778 closed

[2021-12-17 18:36] Chadha93 opened #4783 "HIde console log in production build"
#### Current Behavior
There are console logs, some with basic information about the function triggered, some with _data information_, some with _endpoints_

#### Desired Behavior
Hiding them will benefit in security, clean production build,

#### Implementation
Can be achieved with plugins [Link](https://babeljs.io/docs/en/babel-plugin-transform-remove-console)

---
#### Contributor [Guides](https

[2021-12-17 18:38] Chadha93 commented on #4783
Just  an idea, more thoughts and some more reasons to implement this are welcomed

[2021-12-17 19:42] leecalcote commented on #4753
Thank you for logging this, @bboshiZ 👍

[2021-12-17 22:46] #3834 closed

[2021-12-18 07:50] Deepansharora27 commented on #4760
Hi @sayantan1413
I am not able to get to the root of the issue, i.e. what is causing the issue in the First place
Have debugged everything ranging from the CSS File Code to the mesheryctl.md code but everything seems to be be correct there
Can you please have a look at this and tell me ?

[2021-12-18 07:51] Deepansharora27 commented on #4760
Also, Tagging @warunicorn19 @leecalcote

[2021-12-18 13:55] varunsaral commented on #4775
i want to work on this

[2021-12-18 14:07] leecalcote commented on #4760
@alphaX86

[2021-12-18 14:21] warunicorn19 commented on #4760
@Deepansharora27 you'd have to take a look at the code in `scoop.md`. We use clipboard.js for this `copy-to-clipboard` feature, there's probably an incorrect class name or an opened `<div>`.  The class name is supposed to follow this convention. https://docs.meshery.io/project/contributing/contributing-docs#clipboard-feature

[2021-12-18 14:32] alphaX86 commented on #4760
@Deepansharora27 check the markdown code as @warunicorn19 said. A tag maybe repeated in this case... or it may be due to misalignment... Let me know if you have any problems

[2021-12-18 15:00] warunicorn19 opened #4787 "[Docs]Remove all instances of `api.github.com` in docs"
#### Current State
There are a lot of commented out API calls in Meshery docs
#### Desired State
All these API calls should be removed.
---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for contributing to documentation](https://github.com/meshery/mes

[2021-12-18 15:23] Prakhar-Agarwal-byte commented on #4787
Should I take this? 😅

[2021-12-18 15:24] warunicorn19 commented on #4787
@Prakhar-Agarwal-byte let's keep this for a beginner😂

[2021-12-19 06:23] Deepansharora27 commented on #4760
Got the Issue
Making the Pull Request Now
@alphaX86 @warunicorn19 @leecalcote
Thanks for the Help !!

I reinvestigated the Scoop.md Markdown file and the issue was present there.

[2021-12-19 07:20] Deepansharora27 commented on #4760
I have made a Pull Request, you can have a look

[2021-12-19 10:19] msaini0r commented on #4787
I want to work on this @navendu-pottekkat

[2021-12-19 12:35] #4760 closed

[2021-12-19 16:09] leecalcote commented on #3834
Thank you, @Yiyiyimu. 👍 closing this issue...

[2021-12-20 06:13] piyushsingariya opened #4796 "[mesheryctl] `system restart` fails"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

[code]

#### Screenshots/Logs

#### Environment

- Host OS:  Linux
- Meshery Server Version: stable-latest
- Meshery Client Version: stable-latest
- Platform:  Kubernetes

---

#### Contributor Resources
- [mesheryctl Contributing Guide](https://github.com/meshery/meshery/blob/master/

[2021-12-20 06:14] piyushsingariya commented on #4796
CC @panyuenlau @navendu-pottekkat @leecalcote @Revolyssup @warunicorn19

[2021-12-20 06:16] piyushsingariya commented on #4796
@hexxdump

[2021-12-20 10:19] #4485 closed

[2021-12-20 12:52] shubham-tyagi opened #4797 "[Docs] Error codes are difficult to navigate."
#### Current State
The current, tabular formatting is difficult to navigate on https://docs.meshery.io/reference/error-codes.

#### Desired State
Tighten up the information architecture and presentation on the page.

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
-

[2021-12-20 15:14] msaini0r commented on #4767
@sayantan1413 @shubham-tyagi  can I work on this?

[2021-12-20 15:18] shubham-tyagi commented on #4767
Hey @msaini0r, thanks for jumping in, but @Nik-09 is working on it. We need to ask @Nik-09 if he is still working or if he is caught up somewhere else before assigning it to you. Till then it would be great if you could check out some other issues we have opened on this repo or any other repo of layer5.

[2021-12-20 15:19] shubham-tyagi commented on #4767
hey @msaini0r, are you still working on it?

[2021-12-20 15:30] Nik-09 commented on #4767
Yes I am working on it -- Thank you.

[2021-12-20 18:26] adithyaakrishna commented on #4127
@Meghana-12 @Zain-Muiz Any updates on this? 👀

[2021-12-20 18:30] adithyaakrishna commented on #4783
@Chadha93 What about if we remove all the console logs? 👀

[2021-12-20 18:32] adithyaakrishna commented on #4767
@Nik-09 Yooo, Lmk if you have any doubts or issue, we can hop on a call regarding that :)

[2021-12-20 18:34] adithyaakrishna commented on #4797
@shubham-tyagi How about if we add a search function in which if a user searches for a Error Code, he will be shown or taken to that specific part in the error-code docs?

[2021-12-20 18:50] Chadha93 commented on #4783
@adithyaakrishna No, this is not what I meant in this issue, we need _console. log_ in our codebase and is much required, what this is about is the console log won't be rendered at the time of production of Mesehry(abstracting all the console logs during build), the console logs still can be used locally for debugging or else purposes and yes removing one by one could be a solution but not a feasi

[2021-12-20 18:50] shubham-tyagi commented on #4797
@adithyaakrishna you have a really good suggestion. The only problem with that is we dont have a unique error code for the whole page. We have same error code repeated lik 3,4 times in the same error codes page. We have unique error code for particular type of error. So while searching we would need both the error type as well as error code.

[2021-12-20 19:06] adithyaakrishna commented on #4783
Ohhh Acchaa, Thanks @Chadha93 :)

[2021-12-20 19:26] Zanda256 commented on #4485
I'm back on 22 Dec.

[2021-12-20 20:45] leecalcote opened #4802 "Unable to read MeshSync data to the Meshery Database"
#### Current Behavior
Running Meshery Server locally produces this error when Meshery Operator connects.

#### Screenshots/Logs
[code]

#### Environment

- **Host OS:** Mac
- **Platform:** Kubernetes
- **Meshery Server Version:** edge

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/bui

[2021-12-21 11:47] leecalcote commented on #4741
Progress: https://docs.meshery.io/project/compatibility-matrix

[2021-12-21 12:08] navendu-pottekkat commented on #4796
Duplicate of https://github.com/meshery/meshery/issues/4665

[2021-12-21 12:08] #4796 closed

[2021-12-21 15:35] navendu-pottekkat commented on #4773
@panyuenlau I missed this. Sorry for the late reply.

I ran Meshery locally and the Meshery server deployed the Meshery Operator. I then tried stopping with `mesheryctl` in Kubernetes platform (which will use both the Helm charts (operator and Meshery)) and it threw the error.

Is there a straightforward solution to this. The one I have in mind is in the above comment. I am not sure if we can hand

[2021-12-21 15:40] navendu-pottekkat commented on #4777
Related issue: https://github.com/meshery/meshery/issues/4773

[2021-12-21 20:42] bitsofinfo opened #4805 "mesheryctl system config aks: Error getting context: could not read token:: open /Users/me/.meshery/auth.json: no such file or directory"
mesheryctl  `v0.6.0-rc-2`

Following this guide: https://docs.meshery.io/installation/platforms/aks

[code]

[2021-12-21 23:37] leecalcote commented on #4805
Thank you for reporting this, @bitsofinfo 👍

[2021-12-21 23:56] leecalcote commented on #4741
@Revolyssup with the pattern in place will you quickly finish by propagating the e2e tests across the rest of the adapters?

[2021-12-22 00:21] leecalcote opened #4806 "[mesheryctl] UX: Need helpful suggestion to user of `system context switch`"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
When no parameters are provided, this command returns an error message that is not helpful.

[code]

#### Desired Behavior
1. Show user example usage.
1. Show user help text for `system context switch`.

---

#### Contributor Resources

- ⌨️ [mesheryctl Contributing Guide](https://gith

[2021-12-22 05:42] piyushsingariya commented on #4805
as you don't have the token, Can you try using `mesheryctl system login` to authenticate meshery cli.

[2021-12-22 08:06] Revolyssup commented on #4741
no probs. Will be done by today

[2021-12-22 09:21] Nik-09 commented on #4806
@leecalcote can you please assign this issue to me.
Thank you

[2021-12-22 13:47] leecalcote opened #4808 "[UI] Configurator: Unhandled exception"
#### Current Behavior
Browsing through the different service mesh configurations, I receive an "unexpected error".

#### Screenshots/Logs
<img width="1839" alt="Screen Shot 2021-12-22 at 7 45 34 AM" src="https://user-images.githubusercontent.com/7570704/147102343-7d3b9a68-6f9a-4b7f-a014-b42e1dbb9484.png">

#### Environment

- Browser: Safari
- Host OS: Mac
- Meshery Server Version: edge-latest
- P

[2021-12-22 14:45] warunicorn19 commented on #4806
Thank you for taking a look @Nik-09

[2021-12-22 14:56] Ishcheen commented on #3538
Hello @leecalcote  @navendu-pottekkat , may I work on this issue ?

[2021-12-22 14:58] navendu-pottekkat commented on #3538
@Ishcheen This might require a bit of familiarity with mesheryctl so it might be better to look into another issue. There are a lot of other open issues that are good to get started with.

[2021-12-22 16:16] Ishcheen commented on #3538
Sure @navendu-pottekkat , I'll check other issues. Thanks for the response.

[2021-12-22 16:49] piyushsingariya opened #4810 "[mesheryctl] Improve UX in `system config`"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

Current behavior is this
[code]

#### Desired Behavior

As it is pretty visible that the error isn't helping the user here, the error should be brief enough to explain how to authenticate the mesheryctl i.e. through `system login`

Also a few steps were executed even though mesheryctl

[2021-12-22 17:36] navendu-pottekkat commented on #4805
@bitsofinfo Were you able to check this out?

The issue you are facing is likely because mesheryctl is not authenticated to the Meshery provider. As @piyushsingariya mentioned, you can run:

[code]

to authenticate mesheryctl.

[2021-12-22 17:39] navendu-pottekkat commented on #4805
@piyushsingariya @hexxdump We should probably hand this within mesheryctl. If the token is not found, we can prompt the user to login through mesheryctl which will download the token and the user can continue executing the original command.

[2021-12-22 17:41] navendu-pottekkat commented on #4805
Although the inline docs in mesheryctl mention using a token, it is not super obvious on how to get the token.

[code]

@Zanda256 had looked into fixing some of these UX.

[2021-12-22 17:53] navendu-pottekkat commented on #4802
@kumarabd Did you get a chance to look into this issue?

[2021-12-22 18:09] piyushsingariya commented on #4805
good idea.

[2021-12-22 18:56] hexxdump commented on #4805
I liked the idea too, however, aren't we doing multiple things in the `config` subcommand flow, i.e., login+config?
Would not it be better to inform the user to use `mesheryctl system login` first and re-run the `mesheryctl system config aks` subcommand later?

[2021-12-22 18:59] hexxdump commented on #4805
May be the documentation needs little bit tweaking.
For e.g. `--token auth.json`  flag is optional, if its not provided, make sure that mesheryctl is authenticated to Meshery server using `mesheryctl system login` command.

[2021-12-22 19:08] piyushsingariya commented on #4805
#4810 opened to tackle this UX issue.

[2021-12-22 19:09] leecalcote commented on #4805
Thank you, @piyushsingariya. 👏

[2021-12-22 19:10] piyushsingariya commented on #4805
also I think implementing auto execution of login command across multiple packages/subcommands would result into import-cycle issues.

[2021-12-22 19:25] leecalcote opened #4812 "[UI] Consolidate text input form field labels into placeholders"
#### Current Behavior
<img width="589" alt="Screen Shot 2021-12-22 at 1 24 39 PM" src="https://user-images.githubusercontent.com/7570704/147144857-7719a270-7953-4a01-aa63-fa4ac40bf62e.png">

#### Desired Behavior
<img width="879" alt="Screen Shot 2021-12-22 at 1 24 58 PM" src="https://user-images.githubusercontent.com/7570704/147144889-2e1be0f5-2536-4f50-bedc-923db882af89.png">

---

#### Contribu

[2021-12-23 06:42] navendu-pottekkat opened #4813 "[mesheryctl] Bad UX when invalid platform is passed to the mesheryctl installation bash script"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

When a user passes in an invalid platform to deploy Meshery while using the bash script install, they are thrown this error.

[code]

This does not provide any useful information to the user.

#### Desired Behavior

The user should be notified that the platform entered is invalid and

[2021-12-23 07:19] ibnjunaid commented on #4813
Can you please assign this one to me.

[2021-12-23 07:22] leecalcote commented on #4808
NGINX rate limit is an example

[2021-12-23 13:30] alphaX86 opened #4819 "[Bug/Docs] Naming convention on compatibility matrix `md` files need to be fixed"
#### Current Behavior
The updated repo of meshery contains doc files which are used for making the compatibility matrix. But due to naming convention in the markdown files, Windows users are now unable to clone/fetch repo. This bug must be fixed at earliest.

#### Files need to be fixed
![image](https://user-images.githubusercontent.com/59508546/147247193-c4efde16-8620-4245-b933-c10a8fdc06f4.png)

[2021-12-23 14:48] hexxdump commented on #4810
I will add the checks to see whether the authentication succeeded or not(token present or not) and throw proper informational message to the user.

[2021-12-23 14:49] hexxdump commented on #4592
I have not seen this issue in my setup, however the exception needs to be gracefully handled.

[2021-12-23 15:42] alphaX86 commented on #4642
I just had a doubt.... did we implement the Snyk vulnerabilty scanner in meshery org?

[2021-12-23 16:27] leecalcote commented on #4642
@alphaX86 let's get you access to have a look at the current set of scans more deeply.

[2021-12-23 16:33] leecalcote commented on #4592
Good, good, good.

[2021-12-23 16:36] leecalcote commented on #4810
Wonderful, @hexxdump 🙂

[2021-12-23 17:08] leecalcote commented on #3538
@Ishcheen, here is a helpful link - - open issues with the [help wanted label](https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+org%3Ameshery+org%3Ameshery+org%3Aservice-mesh-performance+org%3Aservice-mesh-patterns+label%3A%22help+wanted%22+).

[2021-12-23 17:11] #4158 closed

[2021-12-23 18:58] Ishcheen commented on #3538
Thanks @leecalcote, I'll check these first and try to contribute.

[2021-12-24 01:36] MarioArriaga92 opened #4826 "[CI] [Cypress] Add E2E tests to Deploy Applications/Filters/Patterns Configuration through Meshery UI"
Child issue of Umbrella Issue #4582

Current Behavior
No E2E tests that cover Meshery's Service Mesh Configuration Management functionality (Applications/Filters/Patterns) to **Deploy Configuration Changes.**

Desired Behavior
E2E tests should be written to cover Deploying Applications, Filters & Patterns Configuration Changes.

Implementation Notes
Grouping E2E tests by usecase / end user scenari

[2021-12-24 02:11] leecalcote commented on #4091
@suhaniii are you available to pick this one up?

[2021-12-24 11:39] suhaniii commented on #4091
Hi @leecalcote, availability is moderate, if that's okay - I will continue working on it.

[2021-12-24 13:09] #4812 closed

[2021-12-24 15:18] kumarabd commented on #4802
@navendu-pottekkat  I will need a little more detail on steps to reproduce. I tried running meshery and the operator seems to run just fine. Anything specific I need to ensure?

[2021-12-24 16:52] navendu-pottekkat commented on #4802
@leecalcote Could you mention the steps here?

[2021-12-25 17:01] MarioArriaga92 commented on #4582
@leecalcote @navendu-pottekkat @Abhishek-kumar09

Suggested changes to this issue:
- Title update: Add "/configuration/*" tests
- Description change: 2 sections for Integration &, E2E Tests (like in #1037) as following:
"**Integration Tests (one for each page for CRUD stubbing all server responses):**
- [ ] Add integration tests for /configuration/applications route
- [ ] Add integration tests for

[2021-12-26 22:54] ahmadateya commented on #4787
Is this issue still open?

@msaini0r I saw your work man, will you finish it? or can I contribute to solving this issue?

[2021-12-26 22:56] warunicorn19 commented on #4787
This is not an issue that we plan on looking into right now, let's close. Thank you @ahmadateya for pointing this out.

[2021-12-26 22:56] #4787 closed

[2021-12-27 01:42] kumarabd commented on #4655
@navendu-pottekkat @leecalcote Do you think this will help? https://github.com/meshery/meshkit/pull/137

[2021-12-27 17:55] leecalcote commented on #4567
@Revolyssup is this something that you can have addressed in the adapter library or MeshKit?

[2021-12-28 03:38] leecalcote opened #4831 "[Docs] Identify and reduce which Meshery Broker ports are used"
#### Current State
4222/tcp, 6222/tcp, 8222/tcp, 7777/tcp, 7422/tcp, 7522/tcp are listed as the ports used by Meshery Broker - https://docs.meshery.io/concepts/architecture#network-ports. Are all of these needed?

#### Desired State
Identify the ports that are actually used. Reduce number of ports used. Update docs.

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and

[2021-12-28 03:38] leecalcote commented on #4831
@kumarabd could you look into this?

[2021-12-28 17:07] MarioArriaga92 opened #4833 "[UI][v0.6.0-rc-2] Uploading pattern through "/configuration/patterns" UI route returns error "Failed to upload pattern file: failed to import pattern: parse {file content}...: net/url: invalid control character in URL""
#### Current Behavior

MesheryPatterns component does not include a ‘pattern_data.pattern_file’ property on Post request to upload pattern endpoint after clicking the “Upload Pattern” button and returns  error "Failed to upload pattern file: failed to import pattern: parse {file content}...: net/url: invalid control character in URL"

#### Desired Behavior

Pattern file should be uploaded without

[2021-12-28 17:28] #4833 closed

[2021-12-28 17:30] leecalcote commented on #4833
Thank you, @MarioArriaga92!

[2021-12-28 17:37] Chadha93 opened #4834 "[Error] Segmentation fault bug"
#### Current Behavior
Meshery suddenly stopped by showing this error :
[code]
#### Expected Behavior
It should not happen.
What could be the probable cause?

#### Screenshots/Logs
![Screenshot from 2021-12-28 23-03-18](https://user-images.githubusercontent.com/65453826/147592242-ad2a7a9d-b4f0-4015-881d-5bc64a14983a.png)

#### Environment

- **Host OS:** Mac Linux Windows
- **Platform:** Docker or

[2021-12-28 19:17] leecalcote commented on #4834
@Chadha93 thanks for this. Additional, preceding logs from Meshery Server are needed in order to chase down the root of the issue here. Do you happen to have those?

[2021-12-28 19:44] #4356 closed

[2021-12-29 04:29] leecalcote opened #4835 "[Lifecycle] Greedy deployment of Meshery Adapter for App Mesh"
#### Current Behavior
Deployment logic for the Meshery Adapter for App Mesh seems to be a bit off. When I deploy a Meshery system using this meshconfig:
[code]

Meshery Server, Operator (broker and MeshSync) are deployed, but so, too, is an App Mesh adapter. See output from kubectl get pods:

[code]

#### Expected Behavior
The Meshery Adapter for App Mesh should not be deployed.

#### Environment

[2021-12-29 11:01] gauravmishra0 commented on #2598
I want to work on it

[2021-12-29 11:03] samirparhi-dev commented on #2598
thank you for jumping in , yes please !

[2021-12-29 11:06] #4460 closed

[2021-12-29 12:49] Chadha93 commented on #4834
Oops No, I lost them but there were no errors before, just the normal logs.

[2021-12-29 15:05] #4835 closed

[2021-12-29 15:07] leecalcote opened #4837 "[Lifecycle] Helm: New chart needed for Meshery Adapter for Cilium Service Mesh"
#### Current Behavior
Meshery Adapter for Cilium Service Mesh v0.1.0 is in pre-alpha.

#### Desired Behavior
Preparing a sub-chart for this adapter is necessary.

#### Implementation
See https://github.com/meshery/meshery/tree/master/install/kubernetes/helm/meshery

#### Acceptance Tests
1. This adopter should be an optional installation.

---
#### Contributor [Guides](https://docs.meshery.io/proj

[2021-12-29 16:56] leecalcote commented on #4837
@vishal267 would you like to take this one?

[2021-12-30 02:38] leecalcote commented on #4808
@Abhishek-kumar09, are both you and @Revolyssup addressing this issue?

[2021-12-30 02:44] #4819 closed

[2021-12-30 03:44] leecalcote opened #4839 "[UX] Figma: Create information center component and prototype"
#### Current Behavior
Meshery UI has a small information center in its lower lefthand corner. See screenshot.
<img width="1497" alt="Screen Shot 2021-12-29 at 9 39 34 PM" src="https://user-images.githubusercontent.com/7570704/147720020-0db4e7ce-eff4-46c5-b5d8-a36662eccac9.png">

As a project, we're in need of having all aspects of Meshery UI designed in the project's shared Figma design file. The

[2021-12-30 08:58] #3951 closed

[2021-12-30 09:01] Abhishek-kumar09 commented on #4808
Have handled this on frontend, atleast UI is not breaking now. Need to change the schema coming from the backend to what we expect.

[2021-12-30 09:01] Abhishek-kumar09 commented on #4808
It haas missing type field

[2021-12-30 15:40] Swapnil-Bhabal commented on #4839
Kindly assign this task to me @leecalcote

[2021-12-30 15:51] leecalcote commented on #4839
Thanks for giving this a shot, @Swapnil-Bhabal

[2021-12-30 20:23] leecalcote commented on #4831
@vishal267?

[2021-12-30 21:09] leecalcote commented on #4802
Gents, yes, here is a server log to examine. This system is running Docker Desktop w/K8s. I removed my local .meshery/config database, then built and run Meshery Server locally. A Meshery Operator w/MeshSync was previously deployed to the cluster.
[mesher-server.log](https://github.com/meshery/meshery/files/7794606/mesher-server.log)

[2021-12-30 21:28] leecalcote commented on #4831
My understanding:

- 4222 - used for NATS client communication. Used by Meshery Server as a client.
- 7222 - used for gateway to gateway community. Not currently used in Meshery v0.6.0-rc-2.
- 7422 - incoming as well as outgoing leaf node connections. Not currently used in Meshery v0.6.0-rc-2.
- 7522 - used for gateway to gateway community. Not currently used in Meshery v0.6.0-rc-2.
- 7777 - used

[2021-12-31 01:59] leecalcote opened #4842 "[Docs] Filter non-English pages from Operation Guides list"
#### Current State
This page has a list of related guides - https://docs.meshery.io/guides - that have different languages intermixed.

![image](https://user-images.githubusercontent.com/7570704/147798670-b6b12f28-2c21-4473-91b3-b5500dbeb335.png)

#### Desired State
Show the list of guides for the currently selected language.

---

#### Contributor [Guides](https://docs.meshery.io/project/contribu

[2021-12-31 02:02] leecalcote commented on #4834
Let's close for now and reopen when server logs can be captured at the same time. We definitely want to address any segmentation faults like this, but need more information to chase them down.

[2021-12-31 08:11] Chadha93 commented on #4834
sounds good

[2021-12-31 08:11] #4834 closed

[2021-12-31 09:47] Abhijay007 commented on #4842
@leecalcote , and what do we need to do after filtration of non-English pages?

are you talking about filter functionality or something?

[2021-12-31 12:59] leecalcote commented on #4842
Front matter:

`language: en`

See @shubham-tyagi for assistance, if needed.

[2021-12-31 13:24] Abhijay007 commented on #4842
ok, so can you please assign this issue to me?

[2021-12-31 16:34] shubham-tyagi commented on #4842
hey @Abhijay007, If you face any difficulty while solving this issue, please feel free to ping me on slack. We could even hop on a call there if you want. Thanks for taking this up.

[2021-12-31 16:51] Abhijay007 commented on #4842
thanks, @shubham-tyagi for asking, I will definitely ping you if I face any difficulty !!

[2021-12-31 17:20] leecalcote opened #4844 "[mesheryctl] Build check failure: Golang Unit Test"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
The Golang unit tests are failing in this build check - https://github.com/meshery/meshery/runs/4674993078?check_suite_focus=true

---

#### Contributor Resources
- [mesheryctl Contributing Guide](https://github.com/meshery/meshery/blob/master/mesheryctl/README.md)
- [Beginner's guide

[2021-12-31 17:21] leecalcote commented on #4768
@Revolyssup ready to close?

[2021-12-31 17:22] leecalcote commented on #4753
@bariqhibat do comment when you've had a chance to investigate, if you would.

[2021-12-31 17:22] #4768 closed

[2021-12-31 18:47] #4831 closed

[2021-12-31 19:06] #4178 closed

[2021-12-31 19:57] cpepper96 commented on #4604
Sorry been traveling for the holidays and then was sick a few days as well. Going to make this a priority for the new year! @Mr-DG-Wick

[2021-12-31 21:09] leecalcote commented on #4604
Thank you, @cpepper96

[2021-12-31 22:26] leecalcote commented on #4808
@Revolyssup, I know that you've had a number of things going on this week, so don't stress yourself in getting to this immediately. I'm adding a comment here as a reminder that this area of the adapters needs your final conclusion.

[2022-01-01 13:26] leecalcote commented on #4839
Help wanted.

[2022-01-01 13:33] YashKamboj commented on #4839
@leecalcote can i give it a try

[2022-01-01 14:09] leecalcote commented on #4839
Yes, please. Assuming that you have experience with Figma, let's assign the issue to you. If you are still learning Figma, that's fine - you can still work on the issue like Swapnil will be. However, let's leave the issue unassigned so that another might pick it up at the same time that you're learning. Let me know where you're current at: have you create a component before? Have you created a pro

[2022-01-01 14:40] YashKamboj commented on #4839
@leecalcote i have good knowledge of react but haven't used figma before, but as i googled ,it doesn't look that typical

[2022-01-01 14:47] leecalcote opened #4848 "[Docs] Add Icon and Link to Discuss in Docs Footer"
#### Current State
<img width="417" alt="Screen Shot 2022-01-01 at 8 45 28 AM" src="https://user-images.githubusercontent.com/7570704/147853146-345ba81b-8bb8-4335-ac59-3edd404485b9.png">

Discuss icon and link is missing for https://discuss.layer5.io

#### Desired State

See layer5.io's footer for an example

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resource

[2022-01-01 15:09] ahmadateya commented on #4848
I am taking this issue, assign it to me please

[2022-01-01 15:12] utkarsh-pro commented on #4142
@leecalcote, do we still need this? We already have trimming in place. Do you foresee any usage for paginating the OAM components?

[2022-01-01 15:13] leecalcote commented on #4142
@utkarsh-pro no, I think you're right. Let's shut this one down.

[2022-01-01 15:13] #4142 closed

[2022-01-01 15:15] utkarsh-pro commented on #3932
Removing stale label. This is still very much active and in our roadmap...

[2022-01-01 15:37] warunicorn19 commented on #4848
@leecalcote there's already an open issue on this and it is being worked on. @ahmadateya please have a look at some other open issues😃

[2022-01-01 15:37] #4848 closed

[2022-01-01 16:20] leecalcote commented on #2515
Progress - https://docs.meshery.io/project/compatibility-matrix

[2022-01-01 20:36] leecalcote commented on #3982
@Shreyas220 will you help drive to home?

[2022-01-01 20:51] leecalcote commented on #4091
@suhaniii, sounds real good. Yes, please.

[2022-01-01 20:59] leecalcote commented on #4356
@utkarsh-pro what do we have in place to protect against invalid kubeconfigs?

[2022-01-01 21:06] #3812 closed

[2022-01-01 21:10] leecalcote commented on #4147
Tagging @bariqhibat

[2022-01-01 21:11] leecalcote commented on #4664
`getLatestRelease` ready?

[2022-01-01 21:13] Revolyssup commented on #4664
Yes meshkit has this function now

[2022-01-01 21:14] leecalcote commented on #2889
@khanjasir90 I completely missed your message. Yes, that would be great. Let me know if you would still like to do so.

[2022-01-01 21:19] leecalcote opened #4870 "[Docs] User Tokens: What they are and how to get yours"
**Current State:**
The Meshery REST API requires a valid user token for most of its endpoints, but not all.

**Desired State:**
Meshery docs should describe how users can download their token.

This page can be updated - https://docs.meshery.io/extensibility/api

---
#### [Contributor Guides](https://docs.meshery.io/project/contributing) and Resources
- 📚 [Instructions for contributing to document

[2022-01-01 21:22] leecalcote commented on #3795
Progress to report?

[2022-01-01 21:23] leecalcote commented on #3968
@sudo-NithishKarthik is this covered in the v0.7.0 design? Open a new issue for v0.7.0 or is this implicitly covered?

[2022-01-01 21:25] leecalcote commented on #3462
@navendu-pottekkat, not good that the stale bot closed this months ago and it was not explicitly addressed.

[2022-01-01 21:26] leecalcote commented on #3248
@fallmor is this something that you can look into?

[2022-01-01 21:28] leecalcote commented on #2931
Mockup
![meshery-playground-alt-3](https://user-images.githubusercontent.com/7570704/147860528-a3d12f66-0a0e-4e02-8812-026c2f105cc7.png)

[2022-01-01 21:32] leecalcote commented on #3876
Was this defect fixed, @utkarsh-pro?

[2022-01-01 21:33] leecalcote commented on #3021
This documentation never happened. Instead, we've hit our heads on verb assignments or lack thereof.

[2022-01-01 21:35] leecalcote commented on #3670
@sayantan1413 was this fixed?

[2022-01-01 21:39] leecalcote commented on #2884
It would be nice not to show that logging is starting when Meshery isn't running (so, skip the first message, if Meshery isn't running.

[code]

[2022-01-01 21:42] leecalcote commented on #3935
@14Richa I wonder if you have a perspective on how this should be addressed.

[2022-01-01 21:43] leecalcote commented on #3243
Help, help!

[2022-01-01 21:44] leecalcote commented on #3781
I believe that this has been fixed.

[2022-01-01 21:44] #3781 closed

[2022-01-01 21:45] leecalcote commented on #3043
@sayantan1413 @meshery/mesheryctl-contributors, any progress to report here?

[2022-01-01 21:58] leecalcote commented on #4664
Reopen if the propagation of that change has yet to be completed.

[2022-01-01 21:58] #4664 closed

[2022-01-01 22:03] fallmor commented on #3248
hello @leecalcote  i am not able to reproduce the promblem on my macbook

[2022-01-01 22:18] leecalcote commented on #3248
It seems to be working for me as well. Ok, thanks for giving this a look, @fallmor 👍

[2022-01-01 22:19] leecalcote commented on #4665
@ibnjunaid how are you coming along? Progress to report?

[2022-01-01 22:32] #4552 closed

[2022-01-01 22:33] leecalcote commented on #4392
@gyohuangxin is this an issue that you're experience with Meshery Istio adapter v0.5.23?

[2022-01-01 22:34] leecalcote commented on #4313
Good, good. I've high hopes here. :)

[2022-01-01 22:35] leecalcote commented on #2890
@bariqhibat this is a great angle to cover in your upcoming mesheryctl blog post.

[2022-01-01 22:40] leecalcote commented on #2842
@hexxdump do you consider that this is an effort that you'll revisit (ever)?

Will you confirm your ability to champion the feature epic in Meshery v0.7.0 - https://discuss.meshery.io/t/meshery-v0-7-0-roadmap/232

[2022-01-01 22:53] leecalcote commented on #4512
@asubedy perhaps, something you might address...

[2022-01-01 22:58] leecalcote commented on #4203
The blog post on this specific topic has us covered. :thu

[2022-01-01 22:59] #4203 closed

[2022-01-02 02:57] cpepper96 commented on #4604
![profileOP](https://user-images.githubusercontent.com/80851353/147864801-f2ac5bb9-889f-4f1f-a5b3-e2dec1fee9be.PNG)
So this is the output I'm getting when I run the command 'mesheryctl perf profile'. I'm a little confused is this not already the desired output? @leecalcote @navendu-pottekkat

[2022-01-02 03:52] navendu-pottekkat commented on #4604
@cpepper96 We hit this issue when the token is present but it is expired/invalid. A similar error message should be added to that scenario as well.

[2022-01-02 05:12] IMPranshu commented on #4842
hello, @Abhijay007 are you still working on this?? Would be happy to join you in this.

[2022-01-02 05:15] leecalcote commented on #4842
@IMPranshu that would be nice. @Abhijay007 has many issues on his plate currently.

The solution to this issue is really straight forward. Simply add the front matter value I mentioned previously. You might have to update the for loop to filer on language, depending on what ether it already does or doesn't.

[2022-01-02 05:15] IMPranshu commented on #4839
I am familiar with Adobe XD. I can try to translate the design of the recording that you provided in Figma. Please assign this to me.

[2022-01-02 05:17] leecalcote commented on #4839
Thanks, @IMPranshu. Be sure to fill in a community member form and ping @warunicorn19 for Figma access.

[2022-01-02 05:56] asubedy commented on #4512
@leecalcote I thought that was normal, is it a bug? 🤔  Whenever I encountered it I open a new terminal and run the necessary commands.

[2022-01-02 07:02] ibnjunaid commented on #4665
@leecalcote  Going through the kubernetes APIs. will report within this week.

[2022-01-02 07:39] utkarsh-pro commented on #3876
@leecalcote, yes this was fixed.

[2022-01-02 07:40] IMPranshu commented on #4839
Sure will do that @leecalcote

[2022-01-02 07:53] IMPranshu commented on #4839
@warunicorn19 Can I get the access ? I will get started on it

[2022-01-02 07:54] IMPranshu commented on #4839
@leecalcote I have already filled the form yesterday.

[2022-01-02 07:59] piyushsingariya commented on #4604
Yes, but there are a few times when we get this error instead of the desired one.
[code]

[2022-01-02 08:37] Abhishek357 commented on #2854
currently, do we have any idea, plan on how to implement this searching and sorting feature?

[2022-01-02 08:50] piyushsingariya commented on #3243
I've noticed a few things `context switch`.
1. There is a prompt asking that "Do you want to stop Meshery?" for `platform: Kubernetes`
2. If you say Yes, it's ok
3. If you say NO, it won't stop Meshery now but will start a few other pods(if there are) with respected changes in the context.

Also, I checked `system stop`, we are removing the docker containers; not just stopping them, that too witho

[2022-01-02 10:39] piyushsingariya commented on #3043
I am mentioning packages where I can't see an `error.go` file
- app
- config
- pattern

[2022-01-02 16:27] YashKamboj commented on #4839
@leecalcote  Tried for first time , can you tell if its good??

https://user-images.githubusercontent.com/75125203/147882352-69d8a166-2d3b-4fa7-9f96-d4376d06af99.mp4

[2022-01-02 17:40] Chadha93 opened #4875 "[UI] Navigator and Scrollbar style bug"
#### Current Behavior
Navigator and scrollbars in Meshery UI are not responsive and their position is not defined, for having a visual look see the picture attached below.
<img width="1440" alt="Screenshot 2022-01-02 at 11 42 21 AM" src="https://user-images.githubusercontent.com/65453826/147884338-fa25055d-1ed6-4820-bcc5-314146e7f6be.png">

#### Desired Behavior
The navigator should be aligned to

[2022-01-02 17:43] YashKamboj commented on #4875
@Chadha93 There is no issue in my device 🤔
![Screenshot (162)](https://user-images.githubusercontent.com/75125203/147884469-1f4ce7ad-7acd-448f-b8ea-e84cca14d27f.png)

[2022-01-02 17:46] Chadha93 commented on #4875
@YashKamboj Yes it's a browser-specific issue, since you are on windows you can try to achieve the cases and see that if it works or not. @warunicorn19 will help you to test your changes to Safari or any other browser.
Sounds good?

[2022-01-02 18:08] bisakhmondal commented on #4806
Hi, @Nik-09 are you still working on this issue?  Thanks.

[2022-01-02 18:45] leecalcote commented on #4806
@bisakhmondal, it's not clear that he is. You're welcome to pick it up.

[2022-01-02 18:55] Nik-09 commented on #4806
Yes, I was unwell from last week. I am unassigning myself since I am already working now on issue [#4767](https://github.com/meshery/meshery/issues/4767)
Thank you & All the best.

[2022-01-02 19:08] leecalcote commented on #4806
Thank you, @Nik-09. Sounds real good. Get better soon!

[2022-01-02 19:27] bisakhmondal commented on #4806
Thanks, @leecalcote! Feel free to review the PR when you are free : )

[2022-01-02 19:35] YashKamboj commented on #4875
There is a extra negative margin, which is used to cover the chrome's ugly scrollbar, so i think we can style a scrollbar , is there already a scrollbar or do we need a new one ? @Chadha93

[2022-01-02 19:48] Chadha93 commented on #4875
@YashKamboj we don't have a scrollbar for now but we also don't want a scrollbar in the navigator. // @warunicorn19 your thoughts?

[2022-01-02 19:49] YashKamboj commented on #4875
@Chadha93 but we have to do something with the scrollbar, if we remove the margin

[2022-01-02 19:53] Chadha93 commented on #4875
hiding it particularly for the navigator could be one solution.

[2022-01-03 03:57] leecalcote commented on #3988
Hi @shikharvashistha, checking in on the this issue. Do you have progress to report, by chance?

[2022-01-03 04:13] #3743 closed

[2022-01-03 04:21] leecalcote commented on #4839
@YashKamboj nice! Yes, this is hitting the mark. 👍

[2022-01-03 04:22] leecalcote commented on #4839
Let's be sure to have a review of this on the Websites meeting agenda.

[2022-01-03 05:54] unnati914 commented on #4870
I can take this up, would love to help on this

[2022-01-03 06:11] Mr-DG-Wick commented on #4870
Thanks for taking this up! @unnati914

[2022-01-03 07:13] 14Richa commented on #3935
@leecalcote A universal modal regarding that the token has expired is the right way. Should we redirect them automatically or should we ask them to `login` again?

IMO we can have first have an alert/modal. Later we can redirect if required in a separate PR.

[2022-01-03 09:48] shubham-tyagi commented on #3765
@leecalcote , do I need figma to design it ?

[2022-01-03 11:38] shikharvashistha commented on #3988
Thanks for asking @leecalcote . As of now I don't have any progress on this issue, but would like to continue with it if possible which I was unable to due to my offline exams schedule.

[2022-01-03 12:59] hexxdump commented on #2842
Yes @leecalcote . I want to work on this. I will probably get to this in February, as I am bit busy this month.

[2022-01-03 15:26] leecalcote commented on #4839
@YashKamboj - https://www.figma.com/file/SMP3zxOjZztdOLtgN4dS2W?node-id=3785:23499#136900062

[2022-01-03 15:27] YashKamboj commented on #4839
@leecalcote can you explain a little ???

[2022-01-03 15:32] leecalcote commented on #4839
@IMPranshu and @Swapnil-Bhabal, now is a good time to offer review of this work.

[2022-01-03 15:33] leecalcote commented on #4842
@IMPranshu progress to report or confirmation of the approach to report?

[2022-01-03 17:21] IMPranshu commented on #4842
Sorry, I am going through the docs didn't get a chance, will try it soon.

[2022-01-03 17:25] IMPranshu commented on #4839
@YashKamboj nice work. Would recommend increasing the time so that the transition will be smoother and will be more visible. Apart from that one thing I noticed is that after collapsing all the buttons should be hidden and only one button should be visible and that should be clicked to reveal the other buttons. You should work on implementing that now. That's all from my side.

[2022-01-03 17:28] YashKamboj commented on #4839
@IMPranshu Thnx , about the collapsing , i am not sure how to do that , could you help me with that

[2022-01-03 17:38] IMPranshu commented on #4839
@YashKamboj sure. dial me in your progress link. we will do it.

[2022-01-03 17:39] YashKamboj commented on #4839
@IMPranshu Progress link??😅

[2022-01-03 18:06] leecalcote opened #4881 "[API] GraphQL: Create Pattern List Subscription"
#### Current Behavior
No subscription is available for a list of patterns.

#### Desired Behavior
Create a new subscription based on the design outlined in [Meshery API Endpoints](https://docs.google.com/spreadsheets/d/1ABJCbfQRi0uN_YoP2kmHZ-lTI4S4QuvRk1_unomKNRE/edit#gid=1241442399) sheet.

#### Implementation
New subscription name: `subscribePatternsList`

#### Acceptance Tests
1. The [GraphQL A

[2022-01-03 18:58] Umoren commented on #2515
Hi Meshery/Meshery,
Yeah i'm resuming on this
I had a personal issue for some weeks
But i'm back
i'll share my progress

On Sat, Jan 1, 2022 at 5:20 PM Lee Calcote ***@***.***> wrote:

--
<https://about.me/umorensamuel?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=gmail_api&utm_content=thumb>
Samuel Umoren
about.me/umorensamuel
<https://about.me/umorensamuel?promo=email_sig&

[2022-01-03 18:59] Umoren commented on #2515
Hi,
Yeah i'm resuming on this
I had a personal issue for some weeks
But i'm back
i'll share my progress

[2022-01-03 19:33] leecalcote commented on #2515
@Umoren understood. There's a challenge that the current implementation is facing: retrieving only the latest entry in the Jekyll collection for a specific Meshery component. Think this is something that you can figure out with a `group_by` or `where`?

[2022-01-04 02:59] IMPranshu commented on #4839
the design link which you have made send me that link. we will carry it from there @YashKamboj

[2022-01-04 03:00] #3199 closed

[2022-01-04 03:31] YashKamboj commented on #4839
@IMPranshu https://www.figma.com/file/SMP3zxOjZztdOLtgN4dS2W?node-id=3785:23499#136900062

[2022-01-04 12:21] IMPranshu commented on #4839
@YashKamboj Thanx for sharing. will have a quick look and get back to you

[2022-01-04 12:50] IMPranshu commented on #4839
https://user-images.githubusercontent.com/43396684/148061274-512b3df9-89d6-4849-bee3-1db2a15fb072.mp4

I was trying to modify the animation but I think some issue is there. Whenever I change the animation the interaction is not getting selected.

[2022-01-04 13:25] YashKamboj commented on #4839
@IMPranshu Can't see the video

[2022-01-04 14:06] IMPranshu commented on #4839
Sorry @leecalcote @YashKamboj, I have to travel for 3 days, Will be continuing after that... @YashKamboj Please try downloading the video I am unable to upload the correct format.

[2022-01-04 14:10] leecalcote commented on #3935
@14Richa, your iterative approach sounds real good. 👍

[2022-01-04 14:11] leecalcote commented on #3935
Setting UX aside, I'm curious for your thoughts how the approach to implementation.

[2022-01-04 16:20] Chadha93 commented on #4875
https://github.com/meshery/meshery/pull/4888 Thanks @Abhishek-kumar09 for this. Hide works 😉, Thanks @YashKamboj for engaging in this issue.

[2022-01-04 16:20] #4875 closed

[2022-01-04 19:01] leecalcote opened #4889 "[Chore] Revisit dependabot reviewer assignments for Meshery Components"
#### Current Behavior
Stale or missing reviewer assignments in some of the components.

#### Desired Behavior
Identify ideal reviewer. Confirm assignment with them. Update assignment.

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for contributing

[2022-01-05 06:36] MUzairS15 commented on #4728
Hello, I would like to work on this.

[2022-01-05 12:54] MUzairS15 commented on #4842
I have figured it, can I take up this issue?

[2022-01-05 13:35] leecalcote commented on #4842
Please.

[2022-01-05 17:01] leecalcote commented on #4889
@meshery/adapter-maintainers let's divide and conquer the responsibilities here. Who would like to responsible for dependency updates on which adapter(s)?

[2022-01-05 18:39] Chadha93 opened #4892 "[UI] Meshery Logo on Navigator response"
#### Current Behavior
Currently, when clicked on Meshery Logo, it shows a pointer(hand) that depicts It should redirect or link to the dashboard.

#### Desired Behavior
It should redirect to the dashboard.
Note: Do check the comments before proceeding.

#### Environment

- Browser: Chrome Safari Firefox
- Host OS: Mac Linux Windows
- Meshery Server Version: stable-v
- Meshery Client Version: stabl

[2022-01-05 18:41] Chadha93 commented on #4892
@warunicorn19 what behavior on the Logo we are expecting here, I guess the redirect to the dashboard was removed earlier, please feel free to update the issue description.

[2022-01-05 18:42] leecalcote commented on #4892
The logo's hyperlink should land the user on the Dashboard.

[2022-01-06 00:30] Aisuko commented on #4889
Hi @Aisuko I'm responsible for linkerd2 and osm. And If there any other adapter need to support. You can assign me directly.

[2022-01-06 02:51] #4842 closed

[2022-01-06 05:10] piyushsingariya opened #4893 "[mesheryctl] New `meshconfig` format support to add `meshery-perf`"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Desired Behavior

Three proposals have been considered since the inception of including `meshery-perf` in meshconfig. This issue is opened to confirm the proposals and implement the same.
**Proposal 1** focuses on adding meshery-perf as an add-on in meshconfig
[code]

**Proposal 2** focuses on adding l

[2022-01-06 05:10] piyushsingariya commented on #4893
CC @hexxdump @navendu-pottekkat @leecalcote

[2022-01-06 05:11] piyushsingariya commented on #4893
+1 to Proposal 3

[2022-01-06 07:37] Vidyaa123 commented on #4892
Hi @Chadha93, Can I work on this, please?

[2022-01-06 07:38] Vidyaa123 commented on #4892
Hi @Chadha93, Can I work on this, please?

[2022-01-06 07:57] kranurag7 commented on #4892
Hey @Chadha93 I think we can use this style="cursor:default" and this will replace the Pointer(hand) with normal cursor. Please let me know what you think?

[2022-01-06 12:17] Chadha93 commented on #4892
Sure @Vidyaa123 you can go ahead!

[2022-01-06 12:19] Chadha93 commented on #4892
@kranurag7 no we just need to get the logo's hyperlink to land on the Dashboard. Issue description updated.

[2022-01-06 13:10] leecalcote commented on #4892
All, we need this completed within a week's timeframe. Good of @Vidyaa123  and @kranurag7 to jump in. If the addition of a hyperlink isn't completed within a week, @Chadha93, please complete and deliver before the next Meshery dev meeting.

[2022-01-06 15:39] piyushsingariya opened #4895 "[Helm] Helm charts for `meshery-perf`"
#### Desired Behavior

Helm charts for `meshery-perf` containers needs to be added to `/install/kubernetes/helm`
- Definition of a sub-chart needed.
- Incorporation into automated chart publishing with Meshery releases.

Attaching [Nighthawk as a Meshery Component](https://docs.google.com/document/d/1Qy_BpHXibTvL9daLTc5L4fjmr1F051ya0UYeghNUq_I)

#### Implementation

#### Acceptance Tests

---
####

[2022-01-06 19:05] Revolyssup opened #4896 "[UI] Use version field returned in /api/system/adapters"
#### Current Behavior

Currently after each adapter becomes reachable, we dont make use of version field i.e. the version of that adapter.
#### Desired Behavior

Display the version of each connected adapter by extracting that field from json.
#### Implementation

At this endpoint shown in screenshot , version field is "none". Maybe display this version, just above the adapter chip

![Screenshot_2

[2022-01-06 20:27] leecalcote commented on #4889
@Aisuko awesome. 💪

[2022-01-06 21:21] Abhijay007 commented on #4896
I want to work on this issue, please assign this issue to me !!

[2022-01-07 00:19] Aisuko commented on #4578
Hi guys, Could we confirm this issue already be fixed?

[2022-01-07 00:33] Aisuko commented on #4889
@leecalcote oh, right. If I remember right we can add the Owner file to the project and related the permission to the team name. Some like

https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

[2022-01-07 00:58] leecalcote commented on #4889
Right on. In this case, in dependabot.yml

[2022-01-07 10:39] Aisuko commented on #4889
Oh, `dependabot.yaml` looks the best for this situation.

[2022-01-07 12:23] suhaniii commented on #4091
[code]

I think we are facing this issue as it is trying to open `http://172.17.0.29:31369/`  not `https://2886795293-9081-jago01.environments.katacoda.com/provider`  (( `https://[[HOST_SUBDOMAIN]]-9081-[[KATACODA_HOST]].environments.katacoda.com/provider` )) .

It is the right way but not doesn't seems to be working only for our labs.

Can we add a functionality to not open our browser, if user h

[2022-01-07 13:35] Anosh21 commented on #3935
Hey @leecalcote i would like to work on this issue , an you please assign it to me.

[2022-01-07 14:28] leecalcote commented on #3935
Sounds great, @Anosh21. Quick check: have you been able to setup your dev env for building and running Meshery?

[2022-01-07 16:27] piyushsingariya opened #4900 "[mesheryctl] Lifecycle management for `meshery-perf`"
#### Desired Behavior

Lifecycle commands for `meshery-perf` container is required as subcommand under `mesheryctl perf`
- `perf start` will start `meshery-perf` container in docker/kubernetes and add an entry for the container in `meshconfig`
	- Flag required to skip adding entry in meshconfig
- `perf stop` will stop `meshery-perf` container in docker/kubernetes

The `system start`  and `system s

[2022-01-07 20:07] MarioArriaga92 opened #4901 "[CI] UI lint-staged pre-commit hook linting/committing unstaged files"
#### Current Behavior

UI lint-staged pre-commit hook committing unstaged files due to config object command not passing 'lint-staged' & explicit 'git add .' command

#### Desired Behavior

UI lint-staged pre-commit hook should only lint/commit staged

Refer to below docs for details:
- https://www.npmjs.com/package/lint-staged#Configuration
- https://www.npmjs.com/package/husky#Usage

#### Implem

[2022-01-07 23:53] MarioArriaga92 opened #4903 "[UI] Patterns local YAML file import fails (request body’s file content is missing, test expects “pattern_data.pattern_file”)"
#### Current Behavior

Patterns local YAML file import fails (request body’s file content is missing, test expects “pattern_data.pattern_file”)

File (taken from [service-mesh-patterns/service-mesh-patterns/commit/5eb2369](https://github.com/service-mesh-patterns/service-mesh-patterns/commit/5eb2369f41f6c585c95426c85441e2764ecbbeba#diff-20f0f5fa48767e85736f2a5406d79855b6d216dd190f637c13d8f3a45f29e

[2022-01-08 00:33] leecalcote opened #4904 "[Pattern Configurator] Failure to save new pattern"
#### Current Behavior
Users are unable to create new patterns using http://localhost:9081/configuration/patterns.

To reproduce, try using the Pattern Configurator to create any design. Try saving the pattern. Saving fails with both local and remote providers.

#### Screenshots
<img width="592" alt="Screen Shot 2022-01-07 at 6 26 41 PM" src="https://user-images.githubusercontent.com/7570704/148623

[2022-01-08 03:55] #4901 closed

[2022-01-08 07:15] Aisuko commented on #4837
We can build Helm charts after the CI process of automation build image work well.

[2022-01-08 07:30] Nikhil-Ladha commented on #4892
It's a one-line change, if you want I can send out a PR right away.

[2022-01-08 07:40] Chadha93 commented on #4892
@Nikhil-Ladha yes it's a one-line change, Thanks for jumping in to help, let's wait for @Vidyaa123 or @kranurag7.  @Vidyaa123 any blockers?
If yes @Nikhil-Ladha can make a pr then you may have a look to understand the fix. 🙂

[2022-01-08 07:44] Nikhil-Ladha commented on #4892
Oh, I just created a PR 😶 ..... If they are still around they can send one, and I will close out mine :)

[2022-01-08 07:46] Chadha93 commented on #4892
No issues, it was a quick fix, @Vidyaa123 @kranurag7 you can have a look at the description of the PR provided by @Nikhil-Ladha

[2022-01-08 07:47] #4892 closed

[2022-01-08 07:54] Vidyaa123 commented on #4892
Thanks, @Chadha93  and Thanks for fixing it fast and description in PR  @Nikhil-Ladha. I am new to this, so figuring it out slowly.

[2022-01-08 08:24] Anosh21 commented on #3935
@leecalcote no, I am facing some issues running it can you give me a guide/resource for it?

[2022-01-08 09:45] kranurag7 commented on #4892
Thanks @Nikhil-Ladha for fixing it out quickly. @Chadha93 I will go through the description.

[2022-01-08 16:14] Nikhil-Ladha opened #4907 "[mesheryctl]: Improve the logging of the utility used to start meshery ui in browser"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

After starting meshery using the `mesheryctl system start` command, mesheryctl tries to
open the UI on the browser unless it succeeds. And, in case there are any errors while doing so,
those are logged into the terminal in a _not-so-user-friendly_ fashion.
Sample:
[code]

#### Desired

[2022-01-08 16:15] Nikhil-Ladha commented on #4907
@piyushsingariya ^^

[2022-01-08 18:25] asubedy opened #4909 "[UI] release page should open in new tab when clicked on new-tab icon"
#### Current Behavior
The link `v0.6.0-rc-3`  in the bottom of the navigator (picture attached) opens the releases page on the same page itself, even after clicking the new-tab icon.

#### Desired Behavior
When clicked the new-tab icon the release page should open at a new tab.

#### Screenshots/Logs
<img width="219" alt="image" src="https://user-images.githubusercontent.com/51183483/148655325-493

[2022-01-08 18:30] leecalcote commented on #4909
Thank you, @asubedy

[2022-01-08 18:38] leecalcote commented on #4837
Why wait, though? It's a copy and paste with the change of port # and name, more or less, right? The port has been predetermined (`10012`) and name identified "Meshery Adapter for Cilium Service Mesh" (long) and "meshery-cilium" (short).

[2022-01-08 18:50] leecalcote opened #4911 "[Docs] Add hyperlinks for each of the architectural components"
#### Current State
[This page](https://docs.meshery.io/concepts/architecture) has a couple tables listing architectural components.

<img width="876" alt="Screen Shot 2022-01-08 at 12 48 58 PM" src="https://user-images.githubusercontent.com/7570704/148656061-68c454b7-5e95-4f7e-b803-4209c9969e40.png">

#### Desired State
Add a hyperlink for each component to its respective docs page.

---

#### [Co

[2022-01-08 19:03] verma-kunal commented on #4911
Hey @leecalcote , can I work on this one?

[2022-01-08 19:05] asubedy commented on #4911
Sure @verma-kunal. Here you go 🚀

[2022-01-08 19:05] verma-kunal commented on #4911
Thank you 🙂

[2022-01-08 19:10] verma-kunal commented on #4911
For contributing to the docs, i would have to setup a development environment, right? Like setting up Jekyll, Bundler!
Steps that are mentioned in the guide here: https://github.com/verma-kunal/meshery/tree/master/docs

[2022-01-08 19:11] #4909 closed

[2022-01-08 19:17] asubedy commented on #4911
Yes @verma-kunal. The readme mentions the steps to install the necessary components.

[2022-01-08 19:18] verma-kunal commented on #4911
Sure, thanks!

[2022-01-09 05:43] piyushsingariya commented on #4091
yeah ofcourse, a flag could maintain this.

[2022-01-09 07:50] Shreyas220 commented on #3982
sure

[2022-01-09 11:36] theBeginner86 commented on #4907
I'd like to give it a shot 😁

[2022-01-09 15:37] asubedy opened #4914 "[UI] Searching performances on the performance table view is not working properly"
#### Current Behavior
When a user searches a performance profile on the Performance Table view, we get the desired result, but when we clear the search we are not shown with the other remaining profiles. Instead we are just shown with the one profile that matched the previous search query.

#### Desired Behavior
After clearing the search box, we should be able to see all the performance profile.

[2022-01-09 15:45] Anosh21 commented on #3935
@leecalcote Yes I have setup meshery and it's running.

[2022-01-09 21:59] varunsaral opened #4916 "[Docs] Link broken in contribution section"
#### Current State
while clicking on navigation links on page , in contribuiting section , the trailing slash is not removed causing a 404 . Other pages seems to work fine

https://user-images.githubusercontent.com/42253796/148702645-799f09ca-35ca-4ab5-81f4-451df6b8daf5.mp4

#### Desired State

The trailing / should be removed automatically like all other pages

---

#### [Contributor Guides](http

[2022-01-09 22:04] varunsaral opened #4917 "[Docs] Slack link broken in header"
#### Current State
The slack link points to 404

https://user-images.githubusercontent.com/42253796/148702759-95e03e1a-a350-430b-865b-b0babbe749a7.mp4

#### Desired State
It should point to our beloved slack workspace .

How to fix?

The navigation.yml file has slack not mentioned as external url , that's why this bug is occuring , to solve simply change url to external_url and it will work

---

[2022-01-10 00:33] Aisuko commented on #4837
@leecalcote yes. We need these information and now we got it.

[2022-01-10 03:12] verma-kunal commented on #4911
Hey @asubedy @leecalcote , actually i had a few doubts here:

- for certain topics like "Meshery Server", I am not able to find a page with a definition or explaining the concepts of that particular topic. Would it be good to link the contributing guide of that topic instead?
Few topics, for example: Meshery Server, Meshery UI.

- the component **"Meshery Provider UI"** is pointing to the docs for

[2022-01-10 03:19] IMPranshu commented on #4839
@YashKamboj did you take a look at the video?

[2022-01-10 05:44] MUzairS15 commented on #4456
Can I try on this?

[2022-01-10 16:21] warunicorn19 commented on #4911
- We can skip the link to `Meshery Server` for now
- You mean `Meshery Providers` right? And not `Meshery Provider UI` if so then yes the link you shared works. if not you can skip `Meshery Provider UI` like at the table on top.
- Yes all should lead to same link.

[2022-01-10 18:49] amoghjalan commented on #4917
Shall I work on it?

[2022-01-10 19:59] leecalcote commented on #4896
@Abhijay007 can you demo this in this week's Meshery Dev meeting?

[2022-01-10 20:02] leecalcote commented on #4916
Thanks for filing this, @varunsaral. A `redirect_from` entry with trailing slash for this page needs to be added in the page's frontmatter. Is this something that you would like to do?

[2022-01-10 20:02] leecalcote commented on #4917
Assuming that @varunsaral isn't working on this, yes, @amoghjalan, that would be great.

[2022-01-10 20:05] Abhijay007 commented on #4896
I will try 😅 , I am still figuring out

[2022-01-10 22:22] #4916 closed

[2022-01-10 22:23] leecalcote commented on #4896
@Abhijay007, I completely understand. @Nikhil-Ladha this might be a good to one to engage within.

[2022-01-10 22:59] warunicorn19 commented on #4896
The version of the adapter is present in the Tooltip if I'm not wrong.