[2022-09-17 08:32] legendarykamal commented on #6215
without running server it isn't possible to see the updates :sweat_smile:

[2022-09-17 09:04] dara-soji commented on #6215
@legendarykamal yea it wasn't 😅, @harkiratsm I have been able to run the server and I'm working on my changes now

[2022-09-17 18:39] #5959 closed

[2022-09-18 12:49] anirudhp26 commented on #6208
Hey @leecalcote , I would like to work on this issue

[2022-09-18 18:14] leecalcote commented on #6208
@kumarvikramshahi I missed your message earlier. My apologies.

@anirudhp26, great! Let's ensure that you'll be successful. Have you successfully build Meshery and Meshery UI locally already?

[2022-09-18 18:38] Chadha93 opened #6225 "[UI] Change color of the Clone button"
#### Current Behavior
On the Designs page, the icon on the “Clone” button should be colored white, not gray.

<img width="557" alt="Screen Shot 2022-09-15 at 11 40 13 AM" src="https://user-images.githubusercontent.com/65453826/190923114-e82b091e-57f8-401a-a6b3-b742de8f12ae.png">

#### Desired Behavior
The button should be colored white, not gray.

#### Screenshots/Logs

#### Environment

- Browser

[2022-09-18 18:40] Chadha93 commented on #6225
This was done as just a test.

[2022-09-18 18:40] #6225 closed

[2022-09-19 02:26] kumarvikramshahi commented on #6208
no issues @leecalcote , let @anirudhp26  do this job, i'll be happy to take up another issue.

[2022-09-19 04:02] anirudhp26 commented on #6208
@kumarvikramshahi @leecalcote Thanks for having me work on this issue, i'll do the work needed and create a PR

[2022-09-19 04:13] anirudhp26 commented on #6208
@kumarvikramshahi would you like to help me out on this issue as I am not able to locate to exact file to make changes in !

[2022-09-19 04:50] anirudhp26 commented on #6208
@leecalcote I guess the hover enhancement is already done

https://user-images.githubusercontent.com/107875381/190951657-bedbb867-fdf1-4be7-9502-adb9a41301e8.mp4

[2022-09-19 09:30] nik132-eng commented on #5915
if this issue is open I want to contribute

[2022-09-19 09:49] mharshita commented on #5915
Yes @nik132-eng I am not working on this currently

[2022-09-19 10:39] nik132-eng commented on #5915
@leecalcote  @mharshita  is this issue only for mac users in safari? I didn't find it in the chrome browser

![image](https://user-images.githubusercontent.com/77881638/191000124-e6b19a3a-b6b7-4f2b-86ba-56b33d7b8861.png)

[2022-09-19 11:11] leecalcote commented on #5091
@Revolyssup please triage the issue. Are you going to complete this or should it be reassigned?

[2022-09-19 13:56] franklinekoh commented on #5915
@leecalcote can take this up? I will need a bit of time to bring my self up to speed with things as this is my first time. But More than happy to jump on this ASAP. Thanks

[2022-09-19 14:54] leecalcote commented on #5915
@franklinekoh yes, this would be good. Have you been successful in building and running the Meshery Docs site?

[2022-09-19 16:45] franklinekoh commented on #5915
@leecalcote no ,not yet. I just found out about your project yesterday and I think it is really cool. I am still finding my way around things. I will DM you on slack or right here if I find any challenges with local setup. I expect to get to that point tomorrow. Thanks

[2022-09-19 17:25] leecalcote commented on #5915
Ok, sounds good. Let’s put a time limit on this assignment of a week out from today. Two suggestions:

1. If you’re not able to resolve the issue in a week, let’s free up the assignment so that another contributor might carry forward as you work toward conclusion.
2. While I’m happy to help, my DMs overflow. I will only hold you back. Also, others are not afforded the opportunity to learn or colla

[2022-09-19 22:52] #5766 closed

[2022-09-19 22:54] #6119 closed

[2022-09-20 21:28] MarioArriaga92 commented on #6209
Working on this right now @Chadha93, thanks!

[2022-09-20 21:48] MarioArriaga92 commented on #4549
@leecalcote I just reproduced this issue, hoping this is of help to find repro steps **(it apparently stops happening with the `--skip-reset` flag for some unknown reason)**:
[code]

[2022-09-20 21:49] MarioArriaga92 commented on #4549
I had upgraded from mesheryctl v0.6.4 before bumping into above error btw

[2022-09-20 21:51] leecalcote commented on #4549
Oh, right. In and respects all bets are off post `v0.6.7` as changes to the structure of the helm charts have been implemented. These changes have been implemented to circumvent issues like the one described above. I wonder if you run into any of the same challenge using the `v0.6.8` release.

[2022-09-20 22:18] MarioArriaga92 commented on #4549
The issue stops reproducing after `mesheryctl system update --skip-reset` with v0.6.8, but if flag isn't used it keeps happening

[2022-09-20 22:22] leecalcote commented on #4549
Thanks for this. Allow me to close out this issue as I consider that the ROI diminishes for new users.

As a test, you could install v0.6.7, then `system update` to v0.6.8 and see if you have the same experience.

[2022-09-21 13:59] leecalcote opened #6227 "Remove meshery-perf from Helm charts"
#### Current Behavior
<img width="585" alt="Screen Shot 2022-09-21 at 8 58 36 AM" src="https://user-images.githubusercontent.com/7570704/191524304-714dacac-d7d9-4503-aad0-f283f63e8289.png">

#### Expected Behavior
Artifact Hub is still trying to scan our meshery-perf image/app (of which there isn’t any). Will you ensure that this component is completely segregated or removed from our helm charts?

[2022-09-21 14:04] MUzairS15 opened #6228 "[UI] Allow user to delete all K8s cluster"
#### Current Behavior

When user tries to remove last remaining (or only available K8s cluster), user gets the below message and user is not able to delete the cluster.
<img width="483" alt="Screen Shot 2022-09-20 at 11 27 23 AM" src="https://user-images.githubusercontent.com/79860504/191525295-dc3cf7a7-9cab-4681-b5dc-20c19f4f5e7d.png">

#### Desired Behavior

Allow user to delete all connected K8

[2022-09-21 14:10] #5953 closed

[2022-09-21 14:43] legendarykamal commented on #6228
Hi @MUzairS15 may I take on this :)

[2022-09-21 14:44] acald-creator opened #6229 "[Refactor] `strings.Title` has been deprecated"
#### Current Behavior
Running `golangci-lint run` returned this output.

[code]

#### Expected Behavior
Test should run successful.

#### Screenshots/Logs

#### Environment

- **Host OS:** Mac Linux Windows
- **Platform:** Docker or Kubernetes
- **Meshery Server Version:** stable-v
- **Meshery Client Version:** stable-v

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) a

[2022-09-21 14:49] acald-creator commented on #6227
From the error, it seemed to be looking for `meshery-operator:0.6.0-rc.6ff` not `meshery-perf`?

// @leecalcote

[2022-09-21 15:04] Revolyssup opened #6230 "[Docs] Add new capability registry API endpoints to the docs"
After this PR was merged, https://github.com/meshery/meshery/pull/6050 A follow up update of swagger docs is required

Use this spreadsheet https://docs.google.com/spreadsheets/u/2/d/1ABJCbfQRi0uN_YoP2kmHZ-lTI4S4QuvRk1_unomKNRE/edit#gid=1241442399

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)
- 📚 [Instructions for

[2022-09-21 15:06] Revolyssup opened #6231 "[UI] Use new capability registry endpoints to fetch components"
#### Current Behavior

We use /api/oam/workload to fetch all the components at once.
#### Desired Behavior

A more fine grained set of APIs were added to Meshery, use the newer endpoints.
Refer
https://github.com/meshery/meshery/pull/6050
https://docs.google.com/spreadsheets/d/1ABJCbfQRi0uN_YoP2kmHZ-lTI4S4QuvRk1_unomKNRE/edit#gid=1241442399
#### Implementation

#### Acceptance Tests

#### Mockups

[2022-09-21 15:26] leecalcote commented on #6227
Rather, it's looking over the contents of the `Meshery-operator` chart and not able to access the `meshery-perf` image described in that chart.

I'm just seeing the older release number here. If this isn't an issue in the latest release, we can safely close this issue knowing that it has already been resolved.

[2022-09-21 17:37] CyrineG commented on #6227
Meshery-operator's values file still contains references to meshery-perf and others despite helm charts restructuring so I will clean that up.

[2022-09-22 15:06] harkiratsm commented on #6172
@Himanshu664 How is it coming along, feel free to ask question https://discuss.meshery.io/

[2022-09-22 16:06] Devharal commented on #6172
If issue is still open can it be assigned to me?

[2022-09-22 16:08] Himanshu664 commented on #6172
@Devharal Please go ahead I am quite busy with my exams.All the best, it is very easy issue

[2022-09-22 20:33] legendarykamal commented on #6206
update I had put this up on the meshery dev meeting call today and got some suggestions by @Revolyssup would be implementing them .

[2022-09-23 03:37] Zanda256 opened #6235 "Adapter e2e tests failing after new meshery release"
#### Current Behavior
End to end tests in multple adaapters fail with inconsistent error messages.

<img width="1428" alt="Screenshot 2022-09-23 at 06 29 25" src="https://user-images.githubusercontent.com/55385490/191887638-d97e4d26-bf50-4265-86fd-2913d1a74ce2.png">

#### Expected Behavior
End to end tests should pass.

#### Screenshots/Logs

#### Environment

- **Host OS:** Mac
- **Platform:** Do

[2022-09-23 09:06] alphaX86 commented on #6227
Fixed via #6232

[2022-09-23 09:06] #6227 closed

[2022-09-23 09:48] CyrineG opened #6236 "[Docs] update the helm charts installation steps"
#### Current State
In https://docs.meshery.io/installation/platforms/kubernetes#using-helm-charts,  the helm installation steps are :
[code]
#### Desired State
update them to be :
[code]

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)
- 📚 [Instructions for contributing to documentation](https://docs.meshery.io/proje

[2022-09-23 09:55] CyrineG commented on #6211
@leecalcote I opened issues for the needed changes in Meshery.io (https://github.com/meshery/meshery.io/issues/840) and  docs.meshery.io (https://github.com/meshery/meshery/issues/6236)

[2022-09-23 09:56] XDRAGON2002 commented on #6236
Hi @CyrineG, I want to work on this.

[2022-09-23 09:57] CyrineG commented on #6236
Awesome! It's yours @XDRAGON2002 !

[2022-09-23 13:02] XDRAGON2002 commented on #6236
@CyrineG Should it be meshery-operator instead of meshery-oerator?

[2022-09-23 13:04] CyrineG commented on #6236
@XDRAGON2002 yes! Sorry for the typo

[2022-09-23 15:17] leecalcote opened #6242 "[CI] mesheryctl integration tests using old Meshery version"
#### Current Behavior
v0.5.10 of Meshery and v0.4.2 of Meshery Istio Adapter are used in PR integration tests.

#### Desired Behavior
Ideally, use `stable-latest` for both.

If not, bump up hardcoded version #.

#### Logs
[code]

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)
- 🛠 [Meshery Build & Release Strategy](ht

[2022-09-23 15:55] #6242 closed

[2022-09-23 21:22] leecalcote opened #6245 "[UI] Adapter versions not being displayed"
#### Desired Behavior
Each Meshery Adapter should have the adapter version number displayed in parentheses in the tool tip of each adapter chip.

#### Screenshots/Logs
<img width="254" alt="Screen Shot 2022-09-23 at 4 19 25 PM" src="https://user-images.githubusercontent.com/7570704/192058439-9daef472-95d6-462f-9c02-c7b3dcfc7b44.png">

#### Environment

- Browser: Safari
- Host OS: Mac
- Meshery Se

[2022-09-23 21:22] leecalcote commented on #6245
@theBeginner86 will you confirm that the issue is UI-side, not Adapter-side?

[2022-09-24 00:11] leecalcote commented on #6236
@CyrineG, @Revolyssup, @XDRAGON2002, please know that the `meshery-operator` should always be installed first.

[2022-09-24 00:45] CyrineG commented on #6236
Okay, I updated the issue description to reflect that

[2022-09-24 01:43] leecalcote commented on #5672
@acald-creator, let’s put together a list of content items that we intend to see created in the near-term. Descriptions for each of the wasm filters (~5) is one such item.

[2022-09-24 01:44] leecalcote commented on #6236
Oh, thank you much, @CyrineG

[2022-09-24 02:44] leecalcote commented on #6235
Thank you, @Zanda256

[2022-09-25 06:32] MUzairS15 commented on #6228
@legendarykamal Any updates on this??

[2022-09-25 16:45] nishantwrp opened #6248 "[mesheryctl] improve the error messages in each command"
Improve the error messages in each command from the point of user experience. Here is the complete list of commands from which you can claim a command to work on.

- [ ] `mesheryctl`
- [ ]  [`mesheryctl system`](https://docs.meshery.io/reference/mesheryctl#meshery-lifecycle-management-and-troubleshooting)
- [ ]  [`mesheryctl system channel`](https://docs.meshery.io/reference/mesheryctl#meshery-lif

[2022-09-25 18:12] legendarykamal commented on #6228
Sorry  @MUzairS15 , My semester exams are going on but I fill try to finish this as soon as possible .

[2022-09-25 20:14] 17sushmita commented on #6248
Hi @nishantwrp may I work on this?

[2022-09-25 20:23] XDRAGON2002 commented on #6248
@nishantwrp I would like to work on this as well.

[2022-09-26 01:53] RotimiFreq commented on #6248
I would like to work on this issue.

[2022-09-26 06:02] nik132-eng commented on #6248
@nishantwrp if not assigned to anyone I want to contribute to this issue. Thank you

[2022-09-26 06:09] nik132-eng commented on #6228
can I get this issue? if @legendarykamal don't have any problem

[2022-09-26 08:29] nishantwrp commented on #5993
https://github.com/golangci/golangci-lint-action/issues/535 is still not fixed. We can only work on this after the issue in `golangci-lint` gets fixed.

[2022-09-26 11:39] Revolyssup opened #6251 "Add capability to deploy Meshery's adapter using Meshery server."
#### Current Behavior

In current architecture, Meshery server discovers the adapters which are independently deployed.
#### Desired Behavior

Add functionality in Meshery server to be able to deploy any of it's adapters dynamically.
#### Implementation

#### Acceptance Tests

#### Mockups

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io

[2022-09-26 12:30] #5950 closed

[2022-09-26 15:40] Abhishek-kumar09 opened #6252 "[Eslint-Fix] Fix eslint warnings around key props"
#### Current Behavior

Fix the eslint errors with key prop check:
All the map elements should have unique "key" prop: reference: https://stackoverflow.com/questions/28329382/understanding-unique-keys-for-array-children-in-react-js
![Screenshot 2022-09-26 at 9 06 48 PM](https://user-images.githubusercontent.com/48255244/192319904-f8a884f9-0fc5-421a-93f0-8ed65dfe1432.png)

#### Environment

- **Host

[2022-09-26 15:50] lavakush07 commented on #6252
Can I take this issue.

[2022-09-26 16:35] XanderWatson commented on #6252
I'd like to take up this issue.

[2022-09-26 19:00] #6236 closed

[2022-09-26 20:17] acald-creator commented on #6229
@XDRAGON2002 yes that is correct

[2022-09-26 20:19] XDRAGON2002 commented on #6229
Sure! I'll work on this.

[2022-09-27 05:40] nik132-eng commented on #6252
hello @Abhishek-kumar09, can I take this issue?

[2022-09-27 07:40] theBeginner86 opened #6255 "[docker-extension] Ability to deploy/undeploy Meshery Adapters"
#### Current Behavior

Currently, [Meshery Docker Extension](https://github.com/meshery/meshery/tree/master/install/docker-extension) ships with all of its [adapters](https://docs.meshery.io/concepts/architecture/adapters) out of the box. This is great and adds value to the end-user as soon as they visit UI to manage their infrastructure.
But in a few scenarios, some users might not want each of t

[2022-09-27 09:04] Abhishek-kumar09 commented on #6252
@XanderWatson @nik132-eng I'll find some newer beginner first issue meanwhile you can setup the developer environment and get on slack to learn more about the community.

[2022-09-27 11:22] Chadha93 opened #6257 "[UI] Make button responsive for Designs card"
#### Current Behavior
The design card buttons are not responsive and there is an unwanted character "``" floating near the design button.

#### Desired Behavior

- [ ] Remove unwanted symbol "``" at the left of clone/design button
- [ ] Make buttons responsive
- [ ] Hide labels on the smaller ratio
- [ ] Add labels to buttons

#### Screenshots/Logs
![image](https://user-images.githubusercontent.co

[2022-09-27 12:16] leecalcote commented on #6257
Also, the Clone action icon is too large.

[2022-09-27 13:47] XanderWatson commented on #6248
I'd like to take up this issue.

[2022-09-27 16:07] siddheshJungade commented on #6252
@Abhishek-kumar09 like we have to add "key" attribute with unique id for each component.Id will automatically generated using parameter passed ?

[2022-09-27 16:09] siddheshJungade commented on #6252
should I give it a try?

[2022-09-27 16:13] siddheshJungade commented on #6257
@Chadha93 can I give it a try ?

[2022-09-27 17:24] siddheshJungade commented on #6257
Can you please explain about add lable to button ?

[2022-09-27 17:59] Chadha93 commented on #6257
Quick check @siddheshJungade. Are you able to build Meshery locally?

[2022-09-27 18:29] leecalcote opened #6259 "[Docs] HTML error in Compatibility Matrix"
#### Current State
This table on the https://docs.meshery.io/project/compatibility-matrix page has broken HTML:

<img width="411" alt="Screen Shot 2022-09-27 at 11 42 09 AM" src="https://user-images.githubusercontent.com/7570704/192607225-77d848b2-4c48-4f66-ad1d-84c756b863f7.png">

#### Desired State
This table shouldn't have any broken HTML.

---

#### Contributor [Guides](https://docs.meshery.io

[2022-09-27 18:33] XDRAGON2002 commented on #6259
Hi @leecalcote I would like to work on this.

[2022-09-27 18:37] legendarykamal commented on #6259
@XDRAGON2002 super fast entry, go on 💯

[2022-09-27 20:02] siddheshJungade commented on #6257
I am facing issue with server setup. Ui devlopment server is working properly.Will done it by 28 sep 2022 just an golang version error

[2022-09-27 20:28] leecalcote commented on #6248
Please breakdown this parent issue into many child issues.

[2022-09-28 00:12] nishantwrp opened #6265 "[mesheryctl] improve the error messages shown to users for "mesheryctl""
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._ For additional context, see https://github.com/meshery/meshery/pull/5661.

#### Current Behavior
Responses from `mesheryctl` commands don't always have the best user experience in mind.

#### Desired Behavior
Improve the error messages in mesheryctl commands from the user's perspective.
1. Ensure that there

[2022-09-28 00:18] nishantwrp opened #6266 "[mesheryctl] improve the error messages shown to users for "mesheryctl system" (1)"
**Description**: Improve the error messages in mesheryctl commands from the user's perspective.
**Commands in scope of this issue**: `mesheryctl system config`, `mesheryctl system logs`,  `mesheryctl system login`, `mesheryctl system logout`, `mesheryctl system check`, `mesheryctl system dashboard`, `mesheryctl system token`

---

We need to make sure of the following things
- There are proper err

[2022-09-28 00:18] nishantwrp opened #6267 "[mesheryctl] improve the error messages shown to users for `mesheryctl system start`"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._ For additional context, see https://github.com/meshery/meshery/pull/5661.

#### Current Behavior
Responses from `mesheryctl` commands don't always have the best user experience in mind.

#### Desired Behavior
Improve the error messages in mesheryctl commands from the user's perspective.
1. Ensure that there

[2022-09-28 00:21] nishantwrp opened #6268 "[mesheryctl] improve the error messages shown to users for "mesheryctl system context""
**Description**: Improve the error messages in mesheryctl commands from the user's perspective.
**Commands in scope of this issue**: `mesheryctl system context `, `mesheryctl system context create`, `mesheryctl system context delete`, `mesheryctl system context view`, `mesheryctl system context switch`

---

We need to make sure of the following things
- There are proper error messages when users

[2022-09-28 00:23] nishantwrp opened #6269 "[mesheryctl] improve the error messages shown to users for "mesheryctl perf""
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._ For additional context, see https://github.com/meshery/meshery/pull/5661.

#### Current Behavior
Responses from `mesheryctl` commands don't always have the best user experience in mind.

#### Desired Behavior
Improve the error messages in mesheryctl commands from the user's perspective.
1. Ensure that there

[2022-09-28 00:24] nishantwrp opened #6270 "[mesheryctl] improve the error messages shown to users for "mesheryctl mesh""
**Description**: Improve the error messages in mesheryctl commands from the user's perspective.
**Commands in scope of this issue**: `mesheryctl mesh`, `mesheryctl mesh validate`, `mesheryctl mesh deploy`

---

We need to make sure of the following things
- There are proper error messages when users
  - Give more arguments to a command than required
  - Misspell a command
  - Do not give the requi

[2022-09-28 00:25] nishantwrp opened #6271 "[mesheryctl] improve the error messages shown to users for "mesheryctl pattern""
**Description**: Improve the error messages in mesheryctl commands from the user's perspective.
**Commands in scope of this issue**: `mesheryctl pattern`, `mesheryctl pattern list`, `mesheryctl pattern apply`, `mesheryctl pattern view`, `mesheryctl pattern delete`

---

We need to make sure of the following things
- There are proper error messages when users
  - Give more arguments to a command th

[2022-09-28 00:27] nishantwrp opened #6272 "[mesheryctl] improve the error messages shown to users for "mesheryctl app""
**Description**: Improve the error messages in mesheryctl commands from the user's perspective.
**Commands in scope of this issue**: `mesheryctl app`, `mesheryctl app onboard`, `mesheryctl app offboard`, `mesheryctl app list`, `mesheryctl app view`

---

We need to make sure of the following things
- There are proper error messages when users
  - Give more arguments to a command than required
  -

[2022-09-28 00:28] nishantwrp opened #6273 "[mesheryctl] improve the error messages shown to users for "mesheryctl exp filter""
**Description**: Improve the error messages in mesheryctl commands from the user's perspective.
**Commands in scope of this issue**: `mesheryctl exp`, `mesheryctl exp filter`, `mesheryctl exp filter apply`, `mesheryctl exp delete`, `mesheryctl exp list`, `mesheryctl exp view`

---

We need to make sure of the following things
- There are proper error messages when users
  - Give more arguments to

[2022-09-28 00:28] nishantwrp opened #6274 "[mesheryctl] improve the error messages shown to users for "mesheryctl system channel""
**Description**: Improve the error messages in mesheryctl commands from the user's perspective.
**Commands in scope of this issue**: `mesheryctl system channel`, `mesheryctl system channel set`, `mesheryctl system channel switch`, `mesheryctl system channel view`

---

We need to make sure of the following things
- There are proper error messages when users
  - Give more arguments to a command tha

[2022-09-28 00:32] nishantwrp commented on #6248
I've created individual issues for each command (#6265 - #6274). @17sushmita @XDRAGON2002 @RotimiFreq @nik132-eng @XanderWatson please comment on one of these issues.

[2022-09-28 00:32] #6248 closed

[2022-09-28 01:13] RotimiFreq commented on #6268
I have carefully gone through the description of this issue and i would like to be assigned to it.

[2022-09-28 01:36] leecalcote commented on #6268
@RotimiFreq sounds great. Quick check - have you had a chance to compile mesheryctl just yet? It would be good to confirm that your dev environment is ready just before taking on the issue.

[2022-09-28 03:57] 17sushmita commented on #6266
Can I take this up?

[2022-09-28 05:51] XanderWatson commented on #6267
I'd like to take this up.

[2022-09-28 07:39] devkapilbansal commented on #6274
Hi @nishantwrp
I would like to look into this issue

[2022-09-28 07:41] XDRAGON2002 commented on #6265
Hey @nishantwrp I would like to take this up.

[2022-09-28 08:50] nik132-eng commented on #6271
@nishantwrp can you please assign me this issue? I want to work on it

[2022-09-28 08:57] pratul20 commented on #6269
Hi @nishantwrp can I work on this?

[2022-09-28 09:53] sam1code commented on #6273
Hii @nishantwrp I would like to work on this

[2022-09-28 10:03] sam1code commented on #6272
I would love to work on this @nishantwrp

[2022-09-28 11:15] gaurav879 commented on #6270
I would like to work on this @nishantwrp .

[2022-09-28 11:48] leecalcote commented on #6271
@nik132-eng plesse confirm that you have mesheryctl built and that you’ve read the uX CLI considerations in Meshery Docs by showing output of you locally built CLI and dropping a copy of on of the UX guidelines in a comment.

[2022-09-28 12:29] harkiratsm commented on #6255
Eventually it was evolved from [#5782](https://github.com/meshery/meshery/issues/5782).

[2022-09-28 12:48] nishantwrp commented on #6265
@XDRAGON2002 sounds great. Can you please confirm that you are able to build and run mesheryctl locally.

[2022-09-28 12:49] nishantwrp commented on #6266
@17sushmita sounds great. Can you please confirm that you are able to build and run mesheryctl locally?

[2022-09-28 12:49] nishantwrp commented on #6267
@XanderWatson sounds great. Can you please confirm that you are able to build and run mesheryctl locally?

[2022-09-28 12:50] nishantwrp commented on #6269
@pratul20 sounds great. Can you please confirm that you are able to build and run mesheryctl locally?

[2022-09-28 12:50] nishantwrp commented on #6270
@gaurav879 sounds great. Can you please confirm that you are able to build and run mesheryctl locally?

[2022-09-28 12:52] nishantwrp commented on #6272
@sam1code sounds great. Can you please confirm that you are able to build and run mesheryctl locally?

[2022-09-28 12:53] nishantwrp commented on #6274
@devkapilbansal sounds great. Can you please confirm that you are able to build and run mesheryctl locally?

[2022-09-28 12:56] XanderWatson commented on #6267
Yes, I am able to build and run locally.

[2022-09-28 13:50] legendarykamal commented on #6265
hi since this needs some experience , @XDRAGON2002 would you like to collaberate with me on this one?

[2022-09-28 16:21] sudo-NithishKarthik opened #6277 "[UI] Making chips consistent with component version number"
#### Current Behavior
The chips in the settings dashboard of Meshery UI on hover shows inconsistent component version number for k8s, MeshSync and Broker

#### Expected Behavior
The chips should show consistent component version number for k8s, MeshSync and Broker

#### Screenshots/Logs
<img width="1157" alt="Screenshot 2022-09-28 at 9 51 17 PM" src="https://user-images.githubusercontent.com/75248

[2022-09-28 16:52] XanderWatson commented on #6267
Thanks @nishantwrp

[2022-09-28 17:10] 17sushmita commented on #6266
@nishantwrp I've just setup the project and able to run the mesheryctl commands and also the UI development server

<img width="601" alt="image" src="https://user-images.githubusercontent.com/42088159/192845519-c4995ea3-4dc4-4b10-b39b-fa93a29597c0.png">

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/42088159/192845841-972a416d-d837-4fcb-98b4-a094f3928b7e.png">

Let m

[2022-09-28 17:18] leecalcote opened #6278 "[UI] Display Kubernetes Context Name in MeshSync Flush Data confirmation modal"
#### Current Behavior
In the Settings page under the Environments tab, users can click to flush the MeshSync data for a specific Kubernetes context that they have connected to Meshery. When they click to flush this data, only the data for that context is removed, but the confirmation model that shows displays to the user does not show the name of the Kubernetes context.

#### Desired Behavior
The

[2022-09-28 18:11] Revolyssup opened #6279 "[mesheryctl]Enhance `mesheryctl system check` to include a Meshery Operator, MeshSync, Broker health (ad hoc connectivity) checks"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

mesheryctl has no way of knowing the status of any of Meshery controllers(operator,MeshSync or broker).

#### Desired Behavior

Use the API endpoints in Meshery server to query and return those with `mesheryctl system check`
#### Implementation

#### Acceptance Tests

#### Mockups

--

[2022-09-28 18:37] DivineOrji opened #6280 "[Docs] Consolidate Supported Platforms and Compatibility Matrix into single page"
#### Current State
Meshery Documentation has two independent pages:
- [Supported Platforms](https://docs.meshery.io/installation/platforms)
- [Compatibility Matrix](https://docs.meshery.io/project/compatibility-matrix)

These independent pages make it difficult to sift through all of the information in one view. Currently, the Compatibility Matrix is buried under Supported Platforms page and is no

[2022-09-28 19:56] legendarykamal commented on #6278
hello @leecalcote in 2 days  , as my exams come to a halt . I will be back here to finish this one 💯 .

PS:- I am missing this place.

[2022-09-28 21:02] #6229 closed

[2022-09-28 23:10] leecalcote commented on #6280
Thank you, @DivineOrji. I updated the description a little. Looks great.

[2022-09-28 23:15] leecalcote commented on #2515
4,000 issues later, we're nearly there - https://github.com/meshery/meshery/issues/6280

[2022-09-28 23:16] leecalcote opened #6282 "[UI] Meshery Catalog Extension enable/disable setting not remembered on refresh"
#### Current Behavior
<img width="940" alt="Screen Shot 2022-09-28 at 6 02 54 PM" src="https://user-images.githubusercontent.com/7570704/192904822-3e841b98-2039-40a9-ab3f-4df1dc2ef07c.png">

This setting is not honored beyond the user refreshing the browser.

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)

- 🎨 Wiref

[2022-09-29 00:09] nishantwrp commented on #6266
Looks like you're all set. Assigning you!

[2022-09-29 02:35] leecalcote commented on #6270
@gaurav879 you'll find the [Meshery CLI Style Guide](https://docs.meshery.io/project/contributing/contributing-cli) most helpful and required reading material.

[2022-09-29 02:37] leecalcote commented on #6271
@nishantwrp I updated the description to include the issue template's original resources in addition to your custom note.

[2022-09-29 02:50] leecalcote commented on #6267
@XanderWatson Please note the updated scope of this issue.

[2022-09-29 02:54] leecalcote opened #6286 "[mesheryctl] Improve user experience for `mesheryctl system` lifecycle commands"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._ For additional context, see https://github.com/meshery/meshery/pull/5661.

#### Current Behavior
Responses from `mesheryctl` commands don't always have the best user experience in mind.

#### Desired Behavior
Improve the error messages in mesheryctl commands from the user's perspective.
1. Ensure that there

[2022-09-29 05:32] janvi01 commented on #5917
I would like to work on this issue if available. @leecalcote

[2022-09-29 05:39] legendarykamal commented on #5917
Yes you may, good luck 🍀 @janvi01

I wonder if nishiverma had any update.

[2022-09-29 10:10] NikhilSharma03 commented on #6172
Can I work on this? // @harkiratsm

[2022-09-29 12:15] leecalcote commented on #6272
Let's be aware of all of the flags associated with the these commands and consider UX surrounding flags, too.

[2022-09-29 12:15] leecalcote commented on #6272
@sam1code I'll unassign, pending your confirmation with output of a locally-built mesheryctl.

[2022-09-29 12:57] NikhilSharma03 commented on #6278
Can I work on this?

[2022-09-29 15:05] sam1code commented on #6272
Ohh sorry It is giving me some errors I'll try to ask someone for the help then I'll back.. Sorry I've not seen the message till now..

[2022-09-29 15:23] JayKania commented on #6172
Can I also work on this ? @harkiratsm

[2022-09-29 15:28] JayKania commented on #6215
Hi can I also work on this issue ? @harkiratsm

[2022-09-29 15:30] JayKania commented on #6282
Hi can I get work on this issue ? @leecalcote

[2022-09-29 16:31] leecalcote commented on #6172
Here you are, @rakshitgondwal - https://docs.meshery.io/project/contributing/contributing-ui

[2022-09-29 17:27] leecalcote commented on #6272
@sam1code, from your local fork of `meshery/meshery`, try `cd mesheryctl; make`.

[2022-09-29 17:55] theBeginner86 commented on #6245
I've updated the adapters that urgently require fixing due to either outdated Dockerfiles or incorrect tags in the multiplatform workflow because of which they were unusable in `stable-latest`.

The rest of the adapters just require 2 line changes in the workflow for this Meshery UI issue to be fixed. I'll open `good-first-issue` (with Hacktoberfest label) for new contributors to chime in 👍

[2022-09-29 17:57] harkiratsm commented on #6172
@JayKania there are various [open issues](https://github.com/meshery/meshery/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22), where you can help. :smile:

[2022-09-29 17:59] #6215 closed

[2022-09-29 18:48] sam1code commented on #6272
Ohh thankyou I'll try soon and will ask you here for this at morning today thankyou

[2022-09-29 19:24] rakshitgondwal commented on #6172
Thanks for this @leecalcote but I've already gone through this, but I'm still getting an error.
I have raised a new topic in Layer5's discuss section regarding this.
Here - https://discuss.meshery.io/t/error-while-setting-up-meshery-ui-on-my-local-machine/1517

[2022-09-29 19:54] leecalcote commented on #6282
Hi @JayKania, thanks for asking. I would like of your to do so, but alas, this one will take the special talents of @gr455 in order to complete.

Don't be shy with [these](https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+org%3Ameshery+org%3Ameshery+org%3Aservice-mesh-performance+org%3Aservice-mesh-patterns+label%3A%22help+wanted%22+), though.

[2022-09-29 21:38] DivineOrji commented on #6280
Thanks @leecalcote for helping out with the description, this is much more explanatory, I have also updated the mockup

[2022-09-29 22:47] JayKania commented on #6282
No worries @leecalcote. I would love the opportunity to work on this project, can you guide me on which issues I could work on?

[2022-09-29 23:01] leecalcote commented on #6282
Yes, I recommend picking from the link above or getting paired with a MeshMate - https://meshery.io/community/meshmates.

[2022-09-29 23:26] JayKania commented on #6282
Thank you @leecalcote

[2022-09-30 06:46] sam1code commented on #6272
Ohh yes @leecalcote  It is running now

I can use the commands of mesheryctl on my local by ./mesheryctl hope I can do this also....

[2022-09-30 06:54] sam1code commented on #6272
yes @leecalcote  it is running now and I can use mesheryctl commands on my local maching now (with path)...
Hope I can now start with this issue!
Thankyou

[2022-09-30 06:56] sam1code commented on #6272
yes @leecalcote it is running now and I can use mesheryctl commands on my local maching now (with path)...
Thankyou

[2022-09-30 16:13] ronitblenz commented on #6280
Can you assign me with this issue? I would like to work on it

[2022-09-30 20:09] leecalcote opened #6291 "Helm Chart Ingestor"
#### Desired Behavior
We need something similar to the [Component Generation factory](https://github.com/meshery/meshery/pull/6173) for ingesting all the Helm Charts and populating Meshery Applications.

#### Implementation

#### Acceptance Tests

#### Mockups

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)
- 🛠 [Mesh

[2022-09-30 20:27] gaurav879 commented on #6270
@nishantwrp I am working on it if I get I'll definitely let you know.
@leecalcote I'll surely go through the guide!

[2022-10-01 04:27] afzal442 commented on #5771
We need to rm pattern cmd declared twice https://docs.meshery.io/functionality/pattern-management

[2022-10-01 04:48] leecalcote commented on #5771
@alphaX86 will you qualify / validate @afzal442’s last suggestion?

[2022-10-01 06:22] alphaX86 commented on #5771
Checking it up....

[2022-10-01 06:51] RahulSurwade08 commented on #6265
Hey @leecalcote , I would love to contribute to this issue under Hacktoberfest. How can I get started?

[2022-10-01 07:36] Akshit42-hue commented on #6273
Working on it. Have been able to build and run mesheryctl locally. @nishantwrp :)

[2022-10-01 10:27] XDRAGON2002 commented on #6265
Hi @RahulSurwade08 I'm actually already working on this issue.

[2022-10-01 11:13] legendarykamal commented on #6265
No worries @RahulSurwade08 pick another one, there are many. 👍

[2022-10-01 12:37] sanyamgandhak commented on #6274
Hey I am interested to work on this

[2022-10-01 14:28] pk-218 commented on #6088
Related issue #6273

[2022-10-01 16:56] siddheshJungade commented on #6257
@Chadha93 made desired changes is it ok ??

[2022-10-01 21:15] leecalcote opened #6305 "[UI] MeshSync Status Enhancement"
@MUzairS15 there is an opportunity here to say that MeshSync is NOT publishing to Meshery Broker and to show this as a Warning (yellow) snackbar instead. Is this feasible?

_Originally posted by @leecalcote in https://github.com/meshery/meshery/pull/6276#discussion_r982708208_

[2022-10-01 21:19] #6228 closed

[2022-10-02 05:14] legendarykamal commented on #6305
// @MUzairS15

[2022-10-02 05:28] MUzairS15 commented on #6305
@leecalcote Handled this case here https://github.com/meshery/meshery/pull/5866/files#diff-9514a9ef762e5d87704d59bd30ae5c0a1744322ddcc1bda1a51034bacf4ff690R999

[2022-10-02 05:33] legendarykamal commented on #6278
hi @leecalcote I am on this now can you please assign?

[2022-10-02 06:15] #6278 closed

[2022-10-02 06:20] legendarykamal commented on #6271
since I see no updates , I am here to confirm that I have my setup ready . Can I go on with this @nishantwrp @leecalcote ?

[2022-10-02 06:24] leecalcote commented on #6305
Thank you, @MUzairS15

[2022-10-02 06:24] #6305 closed

[2022-10-02 07:46] legendarykamal commented on #6286
Hi Is this open to assignment @leecalcote ?

[2022-10-02 11:33] pratul20 commented on #6269
@nishantwrp Yeah I am able to run mesheryctl locally

[2022-10-02 13:18] #6259 closed

[2022-10-02 13:20] leecalcote commented on #6286
Yes, although, I thought that you were already collaborating with someone on a similar issue. No?

Do you have output from having locally built and run mesheryctl?

[2022-10-02 14:34] legendarykamal commented on #6286
yes we are doing . I felt this is similar so asked upon. I will finish that first 👍

yes this is the output
![image](https://user-images.githubusercontent.com/95926324/193459660-4439303f-0f7d-47e9-975e-1af7eb7a0b90.png)

[2022-10-02 16:01] Revolyssup opened #6308 "[Server]ARM support for Meshery"
#### Current Behavior

The alpine based image used for building Meshery container is not compatible with ARM
#### Expected Behavior

Either replace that image with an ARM compatible alpine based image with glibc dependencies OR find appropriate dependencies to add in vanilla alpine image to make it compatible with CGO
#### Screenshots/Logs

#### Environment

- **Host OS:** Mac Linux Windows
- **Pl

[2022-10-02 16:19] alphaX86 opened #6309 "[mesheryctl] Implement usage of meshkit for logging instead of logrus/`fmt.Print`"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

We've implemented our own function library called Meshkit in which it can be used to implement logging, show error messages and so on. But the logging function isn't used/changed and still the legacy code exists, we need to remove them in the `mesheryctl` code base

#### Desired Behav

[2022-10-02 16:28] Revolyssup opened #6310 "[mesheryctl] Fix `mesheryctl pattern delete`"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

DELETE is sending request to the wrong endpoint.
DELETE works when an ID is passed like /api/pattern/<ID> along with DELETE request.
#### Desired Behavior

#### Screenshots/Logs

#### Environment

- Host OS: Mac Linux Windows
- Meshery Server Version: stable-v
- Meshery Client Version

[2022-10-02 16:43] harkiratsm commented on #6310
will be fixed by #6174

[2022-10-03 02:33] leecalcote commented on #5078
@Abhishek-kumar09 what next steps are we taking here?

[2022-10-03 04:53] legendarykamal commented on #6309
Interesting, @alphaX86 can I take this up?

What is the scope of this task as I read this warning https://docs.meshery.io/project/contributing/contributing-error#warning .

[2022-10-03 05:44] morelmiles commented on #6286
hey @leecalcote
could this be assigned to me?

[2022-10-03 08:14] nishantwrp commented on #6271
Yeah sure @legendarykamal!

[2022-10-03 13:03] leecalcote commented on #6277
@sudo-NithishKarthik, if I recall correctly, you're taking this assignment, right? Or was @MUzairS15?

[2022-10-03 14:26] legendarykamal opened #6316 "[mesheryctl] Authentification via CLI doesn't work"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

`mesheryctl system config --token [File Path] ` results in an error.
#### Desired Behavior

#### Screenshots/Logs

for reference -> https://app.slack.com/client/TDL4L01AR/threads
#### Environment

- Host OS: Mac Linux Windows
- Meshery Server Version: stable-v
- Meshery Client Version

[2022-10-03 15:36] alphaX86 commented on #6309
@legendarykamal sure! And for this one, it's already based on usage of internal library present in `mesheryctl`. Refer this site: https://pkg.go.dev/github.com/meshery/meshery/mesheryctl/pkg/utils?utm_source=gopls

Let me know if you have doubts in it. For now, I'm assigning you

[2022-10-03 15:54] sudo-NithishKarthik commented on #6277
@MUzairS15 it was

[2022-10-03 15:56] alphaX86 commented on #6316
@legendarykamal could you mention the scenario you've encountered so that it'd be easier to debug

[2022-10-03 16:15] legendarykamal commented on #6316
@alphaX86 please click on to see the reference .

[2022-10-03 16:15] alphaX86 commented on #6316
@legendarykamal this command requires a k8s cluster to be mentioned before `--token/-t` flag

Usage: `mesheryctl system config [aks|eks|gke|minikube] -t <path>`

[2022-10-03 16:15] alphaX86 commented on #6316
So, just mentioning -t won't work in this case

[2022-10-03 16:16] legendarykamal commented on #6316
ok I took the ref from the official docs here https://docs.meshery.io/guides/mesheryctl/authenticate-with-meshery-via-cli

[2022-10-03 16:18] alphaX86 commented on #6316
Ah! I see, then in this case, you'd need to update the docs

[2022-10-03 16:22] legendarykamal commented on #6316
haha yes for sure :)

[2022-10-03 16:23] alphaX86 commented on #6316
Great! 🔥

[2022-10-03 16:59] hershd23 commented on #6279
I'll take this

[2022-10-03 17:20] leecalcote commented on #6279
Yes! 🙌

[2022-10-03 18:17] hershd23 commented on #6279
[code]

Spun up a cluster after a fair bit of time. Am I doing anything wrong here? I am not getting the server deployment at the port. I'll dig deeper myself, I thought if you had any context on this I would be able to fix this faster

[2022-10-03 20:03] hershd23 commented on #6279
Hey, @Revolyssup would need a little help with graphql query for the operator API. Haven't worked on GraphQL before. Can you tell me what exactly would the request URL look like?

https://docs.google.com/spreadsheets/d/1ABJCbfQRi0uN_YoP2kmHZ-lTI4S4QuvRk1_unomKNRE/edit#gid=1241442399&range=K55

Pretty sure this should get me the operator state for this problem

[2022-10-04 03:34] leecalcote commented on #6280
Thanks, @ronitblenz. Let's give this a shot. // @asubedy

[2022-10-04 18:22] itsCheithanya commented on #6309
@legendarykamal can I work on this issue too?

[2022-10-04 19:28] devkapilbansal commented on #6274
Hi @nishantwrp Yes now I setup mesheryctl locally 😀

[2022-10-04 19:54] leecalcote commented on #6274
@devkapilbansal excellent. Let's shoot for a PR within 7 days or less. 👍

[2022-10-04 21:01] leecalcote opened #6324 "[Meshery Operator] False positives with ad hoc connectivity test"
#### Current Behavior
When a user clicks the Meshery Operator chip in the Settings page of Meshery UI, they receive the following message even though no Meshery Operator or `meshery` namespace exist on the target cluster:

<img width="350" alt="Screen Shot 2022-10-04 at 3 58 10 PM" src="https://user-images.githubusercontent.com/7570704/193927365-0f10d41d-1e84-41e6-ba89-ff3ab9b2b238.png">

#### Env

[2022-10-04 21:05] #6316 closed

[2022-10-04 21:37] leecalcote commented on #6282
Absolutely, @JayKania. Let me know if you don't get a foothold.

[2022-10-05 02:03] leecalcote opened #6325 "[UI] Designer: Integer inputs too short"
#### Current Behavior
<img width="562" alt="Screen Shot 2022-10-04 at 9 02 29 PM" src="https://user-images.githubusercontent.com/7570704/193963552-e5d79073-f5db-4225-bb86-58d162084c9a.png">

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and

[2022-10-05 05:44] kf-rammanokar opened #6327 "Meshery is not working in Apple M1 microk8s"
#### Current Behavior

#### Expected Behavior

#### Screenshots/Logs

![image](https://user-images.githubusercontent.com/106724127/193989146-15c30d83-3092-4d21-8a3c-580bf0fd12ff.png)

Container logs
[code]
#### Environment

- **Host OS:** Mac M1
- **Platform:** Kubernetes(Microk8s)
- **Meshery Server Version:** stable-v
- **Meshery Client Version:** stable-v

---
#### Contributor [Guides](https://

[2022-10-05 07:52] harkiratsm opened #6328 "[mesheryctl] a similar behaviour as ```perf``` for viewAllFlag"
#### Current Behavior

When a user uses a ```--all``` flag to view the pattern, all the pattern are printed.

#### Desired Behavior

Giving user a prompt in the cli like the ```perf``` does when there are similar profile name.
User would have a choice for  which pattern id they wanted to view.

#### Contributor Resources

- ⌨️ [mesheryctl Contributing Guide](https://github.com/meshery/meshery/blob

[2022-10-05 11:13] Abhishek-kumar09 commented on #6252
@nik132-eng join the slack new comers to see some.

[2022-10-05 16:55] theBeginner86 opened #6330 "[docker-extension] Meshery Docker Extension Summary"
#### Current Behavior

Meshery supports configuration like Patters, Filters, Applications. These could be designed, deployed, un-deployed, validated in couple of ways through Meshery UI (or [MeshMap](https://layer5.io/cloud-native-management/meshmap)). It too supports public catalog ([Meshery Catalog](https://meshery.io/catalog)) that features commonly available configurations for use of every Mes

[2022-10-05 17:25] leecalcote opened #6331 "[UI] Multi-cluster: While importing kubeconfig, showback information about K8s context registration"
#### Current Behavior
In the Settings page of Meshery UI, users can upload a kubeconfig with any number of Kubernetes contexts included. Sometimes those contexts will be reachable and sometimes Meshery Server will not be able to connect to a given context. Currently, users are not shown output of the results of measure is attempt to connect to any of the Kubernetes context.

#### Desired Behavior

[2022-10-05 17:45] leecalcote commented on #6331
Toaster notifications are shown for successful additions, but not a full operation report, which is helpful for troubleshooting failed context imports.
<img width="477" alt="Screen Shot 2022-10-05 at 12 44 10 PM" src="https://user-images.githubusercontent.com/7570704/194126733-7e0fe824-8b91-4da8-adba-e53d36373ced.png">

[2022-10-05 18:10] leecalcote commented on #6220
Status updated. I love the level of organization that you've brought to bear here, @acald-creator. I hope that @Revolyssup has shared the Adapter spreadsheet with you...

[2022-10-05 18:47] leecalcote commented on #6220
@Revolyssup please link to the spreadsheet.

[2022-10-05 19:32] leecalcote opened #6332 "[UI] GraphQL Subscriptions established, but no data sent to client"
#### Current Behavior
Subscriptions established with no data sent.
<img width="1901" alt="Screen Shot 2022-10-05 at 2 24 04 PM" src="https://user-images.githubusercontent.com/7570704/194146356-9b8c6de1-6699-4112-89ac-00519183ce62.png">

MeshSync sending data:
<img width="2358" alt="Screen Shot 2022-10-05 at 1 50 51 PM" src="https://user-images.githubusercontent.com/7570704/194146378-826918a1-1f5c-

[2022-10-05 20:05] leecalcote opened #6333 "[Database] Add table size/record count to System Reset screen"
#### Description
Users who are considering a system reset, which is an archival of the current Meshery Database and a reinitialization of an empty Meshery Database, would benefit from a summary of the current table sizes of their existing database.

This information will also help as people are trying to troubleshoot whether or not MeshSync and GraphQL subscriptions are all working or not.

#### I

[2022-10-05 20:07] leecalcote opened #6334 "[Server] REST API: Rename `/system/reset` endpoint"
#### Current Behavior
The REST API endpoint,`/api/system/reset`, refers to Meshery's Database, non-obviously.

#### Desired Behavior
Move this endpoint from `/system/reset` to `/system/database/reset`

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/projec

[2022-10-05 20:12] con-mark commented on #6334
Hi @leecalcote  I would like to take a look might not be able to complete until weekend so if you wish to give elsewhere that is ok also

[2022-10-05 20:43] XDRAGON2002 commented on #6334
I would be willing to pick this up if in case @con-mark is not assigned.

[2022-10-06 01:04] Krishna2323 opened #6337 "[CI] The variable for goversion needs to be updated to 1.19.1 for the makefile."
#### Current Behavior
The GOVERSION variable is set to 1.17.8

#### Desired Behavior
Needs to be updated to 1.19.1

#### Implementation

#### Acceptance Tests

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for

[2022-10-06 02:16] legendarykamal commented on #6337
hello @Krishna2323 thank you for the heads up, we have recently updated it in the contributing docs and will subsequently update in Makefile too, But not instantly.

[2022-10-06 04:35] legendarykamal commented on #6192
@sam1code how far have you been here?

[2022-10-06 04:51] sam1code commented on #6192
@legendarykamal I was tried but not getting a proper solution as of now ..

[2022-10-06 04:52] sam1code commented on #6192
And to be honest I forgot about this issue after my exams!

[2022-10-06 04:58] harkiratsm opened #6340 "hardcoding an `s` at the end seems rather hacky"
Although I have no major issues with it, hardcoding an `s` at the end seems rather hacky, would it be feasible to change something in the payload we get?

If you think what I suggested is unnecessary you can ignore it.
If you think that it makes sense but isn't urgent, you can add a TODO comment and create an issue ticket at an appropriate time
Else you can make this change in this PR

_Originally

[2022-10-06 12:39] rghdrizzle commented on #3030
Hey is anybody working on this ???

[2022-10-07 12:18] dalbarracin commented on #6334
Hi @leecalcote

Any possibility to start working on this as first-issue?

Thanks 😊

[2022-10-07 12:58] ronitblenz commented on #6280
@leecalcote Please give me some time to understand the project, I am new here, so I am trying to figure out the docs.
I will make a PR asap

[2022-10-07 13:09] legendarykamal commented on #6334
Interesting , I could find some doc instances for this .

[2022-10-07 13:38] Abhishek-kumar09 opened #6349 "[Server] The kubernetes contexts are not updated"
#### Current Behavior

- I had two clusters in my docker-dekstop, one docker-desktop other minikube
- The stopped the docker-dekstop
- Even after multiple refreshes and after multiple minutes coming to the UI, it still shows two contexts.

#### Expected Behavior

#### Screenshots/Logs

#### Environment

- **Host OS:** Mac Linux Windows
- **Platform:** Docker or Kubernetes
- **Meshery Server Versio

[2022-10-07 23:09] #6324 closed

[2022-10-07 23:39] leecalcote opened #6352 "[CI] MeshKit Error Util: duplicate errors causing failures"
#### Current Behavior
See https://github.com/meshery/meshery/actions/runs/3208187765/jobs/5243819262#step:6:48

#### Acceptance Tests

`make error` should execute without duplication errors.

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-an

[2022-10-08 02:05] leecalcote commented on #6220
@Revolyssup did you introduce the spreadsheet to @acald-creator?

[2022-10-08 07:25] sarkartanmay393 commented on #6337
@leecalcote I would like to work on this issue.

[2022-10-08 07:32] legendarykamal commented on #6337
here you go 🚀

[2022-10-08 07:44] sarkartanmay393 commented on #6337
But @legendarykamal I see it is already updated.

<img width="1440" alt="Screenshot 2022-10-08 at 1 13 38 PM" src="https://user-images.githubusercontent.com/84321236/194696279-f960aacd-bc5d-4432-9460-ca2420377eb7.png">

[2022-10-08 07:57] sarkartanmay393 commented on #6334
@legendarykamal Can you kindly tell me a little more about this issue ? How should I approach or something ?

[2022-10-08 08:00] legendarykamal opened #6353 "[Docs] Add Clomonitor(Artifact hub) badge to Meshery repo"
#### Current State
No badge

#### Desired State
We’re in need of having this project badge added to meshery/meshery - https://clomonitor.io/docs/topics/checks/#artifact-hub-badge.

Orginally posted by @leecalcote  in here https://layer5io.slack.com/archives/CFGG6U10E/p1665204052669969

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/com

[2022-10-08 08:13] legendarykamal commented on #6337
oh I see @sarkartanmay393  , then why did you ask for assignment 😆 .

this must have been updated by maintainer already , closing this in the lie of that.

[2022-10-08 08:13] #6337 closed

[2022-10-08 11:30] rghdrizzle commented on #6349
Hey i would like to work on this . Pls do guide me too

[2022-10-08 12:17] #6353 closed

[2022-10-08 12:25] leecalcote commented on #6349
Meshery won’t remove an entry for a Kubernetes cluster connection unless you tell it to delete the connection.

There is an open request for comment on proposed enhancements in this area - https://discuss.meshery.io/t/meshery-v0-7-0-connection-states-kubnernetes-design-review/958

[2022-10-08 12:35] leecalcote commented on #6334
Hi All, thank you for engaging on this issue. I’m only now seeing each of these comments. I did have an exchange with @dalbarracin in the community Slack regarding this issue ~a couple days ago. Given that conversation and @gr455 as a collaboration partner, I’ll go ahead and get @dalbarracin assigned.

As always, if the issue isn’t PR’ed and merged within a reasonable timeframe, or if the assignee

[2022-10-08 12:59] legendarykamal commented on #6333
Hi, I would love to take up on this.

[2022-10-08 16:35] debasishbsws commented on #6340
Can I work with this issue.

[2022-10-08 17:15] Revolyssup commented on #6220
I have updated the go1.19 status in the spreadsheet.
@acald-creator  Here is the spreadsheet that we use in order to track the status of adapters. https://docs.google.com/spreadsheets/d/1rGGpSXC68iDJzNRU-qZIRQsZUwkt1qLFg7JCs4pfvbU/edit#gid=0

[2022-10-09 08:07] chavacava opened #6357 "[Server] Race condition in K8s component registration"
In the following code, the reference to range value `ctx` at line 86 generates a race condition because it is a reference in the body of a gorutine.

https://github.com/meshery/meshery/blob/f2b1ef8c7b987175f6e3af8e1d1cee2d0a9f3163/server/models/k8s_components_registration.go#L50-L96

([here](https://go.dev/play/p/pmmyHsSwkL2) a simplified version of the bug)

Bug found by [revive](https://github.c

[2022-10-10 04:26] yash37158 opened #6359 "Error while configuring meshery with minikube"
#### Current Behavior

Unable to setup minikube cluster neither dashboard is auto-detecting the cluster nor importing the kubeconfig is responding
#### Expected Behavior

The expected behavior was the dashboard should automatically detect the kubeconfig file or importing should work.

#### Screenshots/Logs
1. Before getting an error unmarshal error into go value of type map
<img width="1440" alt="

[2022-10-10 11:03] gr455 commented on #6334
@leecalcote Although this endpoint is in the API endpoints spreadsheet, I don't see it used anywhere; nor do I see any code implementation of `/system/reset`. The actual database reset happens via a graphql query not the reset endpoint.

Let me know if I am missing something

[2022-10-10 18:33] leecalcote commented on #6359
Thank you for opening this issue, @yash37158

[2022-10-10 18:36] leecalcote commented on #6357
Thanks for not only identifying this issue, @chavacava, but proposing a fix, too. 👏

[2022-10-10 19:32] leecalcote opened #6367 "[Dashboard] Service mesh dashboard not displaying provisioned Istio mesh"
#### Current Behavior
✅ MeshSync running
✅ Meshery Broker connected and Istio discovered.

<img width="2549" alt="Screen Shot 2022-10-10 at 2 29 10 PM" src="https://user-images.githubusercontent.com/7570704/194939376-0dd07ce4-06f2-4316-bd2c-d34df0a3951c.png">

#### Environment

- **Host OS:** Mac
- **Meshery Server Version:** stable-v0.6.15
- **Meshery Client Version:** stable-v0.6.15
- **Platform

[2022-10-10 22:01] leecalcote commented on #6367
I'm seeing new error logs now:

[code]

[2022-10-10 22:02] leecalcote commented on #6367
After a database reset, I'm now seeing the service mesh dashboard populated.

[2022-10-10 22:20] leecalcote commented on #6367
Lowering priority of this bug.

[2022-10-11 05:18] dalbarracin commented on #6334
It seems to be a documentation changes only, as @gr455 mentioned before, there's no route API definition and instead it calls a  graphql function to execute database reset.

Could you confirm this @leecalcote or we are missing something else?

[2022-10-11 07:52] abhinay99190 commented on #5434
Ok

On Thu, Apr 28, 2022, 5:35 PM Lee Calcote ***@***.***> wrote:

[2022-10-11 09:01] alphaX86 commented on #5771
Found it... @afzal442 is right... 2 instances are found in the above docs page... the first one can be made as syntax though

[2022-10-11 10:47] theBeginner86 commented on #6367
I saw this issue. It is not a bug.
Since I updated the database schema so existing databases with older schema would not allow data to be stored as now the latest meshery release would refer to a new struct in MeshSync with different constraint values (added through gorm annotation).
This is just a one-time experience for users with an existing database carved with older MeshSync structs. Once the

[2022-10-11 10:49] theBeginner86 commented on #6367
If we want, then we can show a snackbar notification to users, when such issues arise in future. It can facilitate a button to the settings page for purging DB.

[2022-10-11 15:27] RahulSurwade08 commented on #4573
@leecalcote Any update here?

[2022-10-11 19:12] leecalcote commented on #6367
Not sure if this component is available, but a [banner](https://material.io/components/banners) is ideal.

[2022-10-11 21:42] leecalcote commented on #5608
@asubedy I couldn't wait any longer and updated the logic. Have a look, please.

[2022-10-11 22:06] muhammadawaisshaikh commented on #6330
I want to take this up 🙌

[2022-10-11 22:18] leecalcote commented on #6330
@muhammadawaisshaikh excellent. There is a Meshery Development Meeting held every Wednesday --> https://meshery.io/calendar -- which is a great place to jump into and get familiarized with the project. Do take some time to build and run the extension and Meshery. 👍

[2022-10-12 11:32] leecalcote opened #6373 "[UI] Meshery Catalog toggle behavior"
#### Current Behavior
This feature is able to be toggled in 3 places in the UI. When turned on or off in one area, this setting does not seem to be persisted properly.

<img width="466" alt="Screen Shot 2022-10-12 at 6 29 22 AM" src="https://user-images.githubusercontent.com/7570704/195331720-54ed77e1-a129-4891-947a-a7f38ac1bd93.png">

---

#### Contributor [Guides](https://docs.meshery.io/project

[2022-10-12 17:20] #6188 closed

[2022-10-12 17:44] #6359 closed

[2022-10-12 17:51] Revolyssup opened #6377 "Skipped NIL check causing potential panic"
#### Current Behavior

https://github.com/meshery/meshery/blob/32cd7cca45ca58116c7758266ad837a7311f32d5/server/models/remote_provider.go#L282 Here if the token is invalid, the response will be nil and trying to access .StatusCode on such response causes panic. Although since this panic occurrs inside the request handling go routine thus the main function doesn't panic.
#### Expected Behavior

But

[2022-10-12 20:44] abdullah1308 opened #6378 "[Docs] Deprecated package in CONTRIBUTING.md"
#### Current State

Under 'Writing a Meshery Adapter' the protoc plugin for go package listed is [deprecated](https://pkg.go.dev/github.com/golang/protobuf/protoc-gen-go).

<img width="1037" alt="image" src="https://user-images.githubusercontent.com/76054921/195442451-ed70795c-1d84-40e7-ad6b-efd413d13125.png">

Running `go get -u github.com/golang/protobuf/protoc-gen-go` gives the following output

[2022-10-12 21:46] XDRAGON2002 commented on #6378
I would like to work on this.

[2022-10-12 22:01] leecalcote commented on #6378
Thanks for filing this, @abdullah1308. A quick check: were you wanting first dibs on the assignment of this issue?

[2022-10-12 22:10] abdullah1308 commented on #6378
Yep @leecalcote, please assign the issue to me. I would appreciate it if you would add the `hacktoberfest` tag to this.

[2022-10-13 07:28] webbdays commented on #6357
I am a beginner in golang.
As far as i know to avoid race conditions with go routines we can use waitgroups to avoid that.
Example (modified this [here](https://go.dev/play/p/pmmyHsSwkL2) ):
https://go.dev/play/p/I93VZw6P8te

[2022-10-13 08:20] chavacava commented on #6357
Hi @webbdays, using wait groups for these kind of problems is not recommended.
For example, the [solution you propose](https://go.dev/play/p/I93VZw6P8te) does not work: running it results in
[code]
Concurrent goroutines are still all working with the context 5
Wait groups can fix de problem by creating wait groups of size = 1 ([waiting inside the loop](https://go.dev/play/p/IZq0GWB-cpB) thus makin

[2022-10-13 08:44] webbdays commented on #6357
@chavacava
I didn't notice that. Thanks for pointing out.
The possible solution that you have proposed here [waiting inside the loop](https://go.dev/play/p/IZq0GWB-cpB) is great.
But i think with that we need to wait until we process go routine to process next ctx.
But it totally depends on logic/use case whether to wait or not.

I will check your first proposed fix and get back to you.

[2022-10-13 08:46] webbdays commented on #6357
Can i know any problems with using waitgroups as it is not recommended?

[2022-10-13 08:54] chavacava commented on #6357
Wait groups are there to help you create synchronization points for goroutines (for example when yo spawn a bunch of goroutines and you need to wait for all them to finish before going further in the processing). If you use them for anything else it is a symptom of  a potential design problem.

[2022-10-13 11:51] Sanket1308 opened #6381 "[Docs] Add CONTRIBUTING.md"
#### Current State
CONTRIBUTING.md isn't present in the Repository

#### Desired State
Add CONTRIBUTING.md file
- CONTRIBUTING.md is a must read file for a new contributor in any repository before starting to work.
- Add general good practices while starting to work with this specific project.
- Add standard Github workflow commands in the CONTRIBUTING.md (opening issues, get assigned, fork, creat

[2022-10-13 11:56] leecalcote commented on #6381
Thanks, @Sanket1308. Are you referring to the `meshery/meshery` repo? If so, please see - https://github.com/meshery/meshery/blob/master/CONTRIBUTING.md

[2022-10-13 12:08] Harshit-Dandriyal commented on #6252
@lavakush07 Thank you for your enthusiasm, But we didn't get any response from you. So, we are removing this assignment, All the best :smile:  .

[2022-10-13 12:09] Harshit-Dandriyal commented on #6252
@XanderWatson will you like to work on this?

[2022-10-13 12:14] XanderWatson commented on #6252
@Harshit-Dandriyal Yeah sure!

[2022-10-13 12:38] Sanket1308 commented on #6381
Thank for clarifying!✔

[2022-10-13 12:38] #6381 closed

[2022-10-13 12:41] Harshit-Dandriyal opened #6382 "[Eslint-Fix] Fix eslint warnings around key props"
#### Current Behavior
Fix the eslint errors with key prop check:
All the map elements should have unique "key" prop: reference: https://stackoverflow.com/questions/28329382/understanding-unique-keys-for-array-children-in-react-js

![sd](https://user-images.githubusercontent.com/56961488/195599110-ccfcae95-437c-419d-8d86-1dea8efd06d6.png)

#### Desired Behavior

#### Screenshots/Logs

#### Environm

[2022-10-13 12:44] legendarykamal commented on #6252
I would also like to fix some of them,
As I get those errors on my every PR 😅.

[2022-10-13 12:46] Harshit-Dandriyal commented on #6252
@XanderWatson We will be desperate for your PR, I hope you will do your best, All the best :smile:

[2022-10-13 12:52] #6382 closed

[2022-10-13 13:45] leecalcote commented on #6273
@SufyaanKhateeb checking-in... have you been successful in building `mesheryctl` thus far?

[2022-10-13 15:20] legendarykamal commented on #6252
@XanderWatson I have fixed some of the key errors in the above PR, lets see how that integrates .

[2022-10-13 17:46] legendarykamal commented on #6252
Reopening as not all of them were fixed by me.

@XanderWatson will you please confirm if you are on this or should I go ahead and finish this head to tail ?

[2022-10-13 17:47] SufyaanKhateeb commented on #6273
Yes, I was able to build mesheryctl, but I am still trying to figure out what the commands do. The resources mentioned are very helpful. I will continue working on it.

[2022-10-13 17:48] SufyaanKhateeb commented on #6273
Yes, I was able to build mesheryctl, but I am still trying to figure out what the commands do. The resources mentioned are very helpful. I will continue working on it.

[2022-10-13 17:52] XanderWatson commented on #6252
@legendarykamal I guess you should go ahead with this.

[2022-10-13 21:48] XDRAGON2002 opened #6385 "[CI] golangci-lint tests are broken"
#### Current Behavior

Due to version update to go 1.19, golangci-lint is facing compatibility issues as they too have recently added support for go 1.19 and still a lot of bugs remain.
Example logs: [this](https://github.com/meshery/meshery/actions/runs/3242763819/jobs/5316509702) and [this](https://github.com/meshery/meshery/actions/runs/3211663495/jobs/5249992294).

#### Desired Behavior

The g

[2022-10-14 08:47] prasadpatil25 opened #6386 "Address already in use Error: failed to start Meshery"
#### Current Behavior

I tried the following command:
`curl -L https://meshery.io/install | PLATFORM=kubernetes bash - `

Getting error:
[code]
How can we change the binding address?

#### Expected Behavior

Should start the server.

#### Environment

- **Host OS:** Windows
- **Platform:**Kubernetes
- **Meshery Server Version:** stable-v
- **Meshery Client Version:** stable-v

---
#### Contributor

[2022-10-14 16:31] dipankardas011 commented on #6386
Hi @prasadpatil25 how can I reproduce the same?

[2022-10-14 19:57] UtkarshMishra12 opened #6389 "Broken Slack logo in Readme.MD file (Light Mode)"
#### Current Behavior

![Screenshot (486)](https://user-images.githubusercontent.com/67385503/195930239-0ed89965-bd12-4672-a7c5-31689b3c7c56.png)

#### Desired Behavior

There should be a slack logo in light mode
#### Implementation

#### Acceptance Tests

#### Mockups

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)

[2022-10-14 19:58] UtkarshMishra12 commented on #6389
I would like to work on this issue. Can someone assign it to me?

[2022-10-14 21:58] #6377 closed

[2022-10-14 22:00] leecalcote opened #6391 "[CI] Makefile target update for protobuf"
There will need to be another PR to update the Makefile to the right package since `protoc-gen-go` has been moved to `google.golang.org/protobuf`.

For right now, this looks good to me.

_Originally posted by @acald-creator in https://github.com/meshery/meshery/issues/6380#issuecomment-1277842302_

[2022-10-14 22:00] leecalcote commented on #6391
@abdullah1308, would you like to pick this up?

[2022-10-14 23:32] #6378 closed

[2022-10-15 05:12] dipankardas011 commented on #6391
Can I give it a shot?

[2022-10-15 06:24] abdullah1308 commented on #6391
@leecalcote Sure, assign the issue to me

[2022-10-16 15:03] legendarykamal opened #6393 "Fix 5 Key prop warn in MesheryAdapterPlayComponent.js"
#### Current Behavior

Fix 5 Key prop warn in meshery/ui/components/MesheryAdapterPlayComponent.js :

All the map elements should have unique "key" prop: reference: https://stackoverflow.com/questions/28329382/understanding-unique-keys-for-array-children-in-react-js

Run `npm run lint` to check the warnings and fix them , all others have been fixed .

#### Expected Behavior

#### Screenshots/Logs

[2022-10-16 16:35] sam1code commented on #6393
Hii @legendarykamal I would like to work on this.

[2022-10-16 19:37] Krishna2323 opened #6394 "[UI] Options list overlaps the input box."
#### Current Behavior
[UI] Options list overlaps the input box.
![Screenshot 2022-10-17 010603](https://user-images.githubusercontent.com/85894871/196054610-a00d268c-1c37-4a29-ae37-5b3653185725.png)

#### Desired Behavior
![Screenshot 2022-10-17 010516](https://user-images.githubusercontent.com/85894871/196054619-74d8d2f7-fd0f-4740-8c6f-ba0cfda3aed2.png)

#### Screenshots/Logs

#### Environment

-

[2022-10-17 09:01] siddheshJungade commented on #6394
He I would like to give it a try

[2022-10-17 09:53] simrangupta234 commented on #6372
Hey @leecalcote! Can u assign this to me?

[2022-10-17 11:11] aditi5050 opened #6397 "[UI] the should be capital as it is at the top of the page"
![M1](https://user-images.githubusercontent.com/102579070/196162799-d44adfbd-47f0-47f1-a500-5b2ef1a1b804.jpg)
# Shall I raise a PR for this

[2022-10-17 15:09] aditi5050 commented on #6397
Sorry but I have already raised PR for this

[2022-10-17 20:17] AbhishekTiwari23 commented on #6394
Please let me know if I can contribute.

[2022-10-17 20:20] AbhishekTiwari23 commented on #6391
I would also like to contribute to this as my first issue from meshery. If it is still open, please let me know.

[2022-10-17 20:56] leecalcote opened #6400 "Generate MeshModel Components on Helm Chart import"
#### Current Behavior
Helm Charts are imported, a copy stored, and a copy save in design/pattern format.

#### Desired Behavior
In addition to this behavior, generate components for any custom resource included.

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)
- 🛠 [Meshery Build & Release Strategy](https://docs.mesher

[2022-10-17 21:01] leecalcote opened #6401 "[Server] Support gruntwork helm repo"
#### Current Behavior
Meshery Server generates components from Artifact Hub as the single helm repo.

#### Desired Behavior
Include generation of components for https://github.com/gruntwork-io/helm-kubernetes-services

#### Implementation
1. Add this helm chart repo to the component generation factory - https://helmcharts.gruntwork.io
1. Pre-build static components for these charts in the existing

[2022-10-18 12:38] hamees-sayed commented on #6286
Hello, this is my first time contributing to meshery, can I take this issue up?
Here's the output after building it locally ->
![image](https://user-images.githubusercontent.com/98336593/196431340-245ee807-e5cd-4686-8f33-332334599adf.png)

[2022-10-18 12:39] leecalcote commented on #6286
Thank you for confirming that you're able to build and run the project @hamees-sayed.

[2022-10-18 17:49] SufyaanKhateeb commented on #6273
@nishantwrp The 'mesheryctl exp filter apply' command is not working. I checked with the web interface the 'filterUrl' is "http://localhost:9081/api/filter" whereas in mesheryctl it is "http://localhost:9081/api/experimental/filter", which is not working. What should I do about this? And did you mean `mesheryctl exp filter delete`, `mesheryctl exp filter list` & `mesheryctl exp filter view`?

[2022-10-18 20:22] Krishna2323 opened #6403 "[Docs] Github tags are not fetched by just cloning."
#### Current State
The GitHub tags are not fetched by just cloning the repository and that causes errors while downloading packages from GitHub.

#### Desired State
Must add that we should fetch from Upstream URL(https://github.com/meshery/meshery) after cloning the repo.

####Screenshots
![Screenshot 2022-10-19 014708](https://user-images.githubusercontent.com/85894871/196536095-ad64abd8-e3ab-42e

[2022-10-18 20:24] leecalcote commented on #6403
@theBeginner86 is this due to a recent change (or lack thereof)? // @Abhishek-kumar09

[2022-10-18 21:20] leecalcote commented on #6273
@SufyaanKhateeb it seems that this API endpoint was promoted from experimental to stable. Its time to move to the stable endpoint.

[2022-10-19 05:53] #6397 closed

[2022-10-19 07:48] PranshuSrivastava commented on #6393
Hey, can I work on this?

[2022-10-19 08:39] legendarykamal commented on #6393
@sam1code @PranshuSrivastava which one of you has the setup done ?

[2022-10-19 08:48] sam1code commented on #6393
I've done my full setup of both provider and ui as well as the go lang... Also I can tun local meshery ctl

[2022-10-19 10:18] legendarykamal commented on #6393
Ok then going by First Come basis, I am assigning it to @sam1code .

Thank you @PranshuSrivastava if @sam1code is unable to get back with updates  for any reasons, Then I will assign you ✔️  .

[2022-10-19 10:48] sam1code commented on #6393
Thank you @legendarykamal

[2022-10-19 12:37] gr455 opened #6408 "[CI] Fix wrong docker release tags in adapters"
#### Current Behavior
Due to being incorrectly sorted, the `git ls-remote --tags` command returned the release tags in unwanted order, which resulted in the automation script tagging the adapters' image with the wrong version.

#### Desired Behavior
Sort the versions in an unambiguous way and get the latest version for tagging.

#### Implementation
The changes from [this PR](https://github.com/mes

[2022-10-19 12:39] abdullah1308 commented on #6408
Can I work on this ?

[2022-10-19 12:44] aditi5050 commented on #6408
@gr455 can you please assign this task to me

[2022-10-19 13:33] Emranshaikk commented on #6408
Can you please assign me the task

[2022-10-19 13:37] erzohrakhan commented on #6408
Can I work on this issue?

[2022-10-19 14:07] bishal7679 commented on #6408
@gr455 already raised

[2022-10-19 14:10] gr455 commented on #6408
Folks, one of the most important goals of good first issues is to familiarize people with the code and get their first contribution in to build a momentum. Please do only a few of these and move on to more difficult issues.

Also please mention below the issue what part of the issue you will be working on **before** actually starting to work on it to avoid duplications.

[2022-10-19 14:12] abdullah1308 commented on #6408
Cool I'll pick up meshery-linkerd as I already have it locally.

[2022-10-19 14:47] asubedy commented on #6280
@ronitblenz , could you please share your progress? Where are you stuck at? If it's a bit difficult for you right now we might want other contributor to have a go at this issue.

[2022-10-19 15:12] MUzairS15 opened #6410 "[UI] Tooltip for action buttons in Table View"
#### Current Behavior

Table View of Patterns Tab in Configuration:
<img width="380" alt="Screenshot 2022-10-19 at 8 37 11 PM" src="https://user-images.githubusercontent.com/79860504/196731067-83f01b1e-5728-4116-a17c-52cbf5e6c48f.png">

No Tooltip on hover on one of the action buttons.

#### Desired Behavior
<img width="641" alt="Screenshot 2022-10-19 at 8 36 51 PM" src="https://user-images.github

[2022-10-19 15:15] neeraj-2 commented on #6410
can I take it @MUzairS15

[2022-10-19 15:23] MUzairS15 opened #6411 "[UI] Clone Icon size too large"
#### Current Behavior

Clone icon size is too large to fit into the button completely.
<img width="253" alt="Screenshot 2022-10-19 at 8 48 51 PM" src="https://user-images.githubusercontent.com/79860504/196734782-7c851f3c-2a3e-4f0c-8be2-8a9fc2f97443.png">

#### Desired Behavior

Make icon size reasonable.
#### Screenshots/Logs

#### Environment

- Browser: Chrome Safari Firefox
- Host OS: Mac Linux

[2022-10-19 15:25] neeraj-2 commented on #6411
would like to fix it up first. Can I @MUzairS15

[2022-10-19 16:26] tinniaru3005 commented on #6411
Hey @MUzairS15, I would like to work on it. Could you please assign it to me?

[2022-10-19 17:05] legendarykamal opened #6413 "[UI] Improving the notifications in the stackbar."
#### Current Behavior

![image](https://user-images.githubusercontent.com/95926324/196764720-5c7ac578-9a00-4209-8300-a4b188f70528.png)
2> Don't capitalize every second letter as it gives a bad feel. Update the notifications as neccessary in the UI.

#### Desired Behavior

1> Remove the exclamation marks '!' in the stackbar.
One such place is when the user clones his design.

2> Don't capitalize ev

[2022-10-19 17:07] legendarykamal commented on #6411
@neeraj-2 since you are already working on the tooltip recently , lets let @tinniaru3005 proceed with this one.

@tinniaru3005 go ahead 👍 .

[2022-10-19 17:07] MUzairS15 commented on #6411
@neeraj-2 Since you already have https://github.com/meshery/meshery/issues/6410 on your plate, let's @tinniaru3005 take on this.

[2022-10-19 17:07] legendarykamal commented on #6411
oh @MUzairS15 😆

[2022-10-19 17:13] legendarykamal opened #6414 "[UI] Designer: Filter for "public" catalog items"
#### Current Behavior

Currently the user can only view either public , private both or just private.

https://user-images.githubusercontent.com/95926324/196763326-8854a426-18fc-4172-94a6-358e39b15675.mp4

As you can see initially both public and private designs are available.

On clicking the filter only private designs are available.

But no way for the user to view only public catalog items,

#

[2022-10-19 17:19] hamees-sayed commented on #6286
@leecalcote this issue seems to be a little outside my scope for the time being so I'll unassign it, take a step back, familiarize myself more with the project and hopefully return to it later. @legendarykamal can take this issue

[2022-10-19 17:25] leecalcote commented on #6286
@hamees-sayed, no sweat. Thank you for resetting expectations. Let's be sure to find another issue that fits. 👍

[2022-10-19 17:37] leecalcote commented on #6414
@legendarykamal please fill-in the section headings in the issue description.

[2022-10-19 17:42] legendarykamal commented on #6414
@leecalcote done.

[2022-10-19 17:42] dipankardas011 opened #6415 "[Docs] Some TODO in project/community"
https://github.com/meshery/meshery/blob/5b16558a5e1ea152c159f49823802159c0bfffce/docs/pages/project/community.md?plain=1#L66

https://github.com/meshery/meshery/blob/343874bed8fe7f6988951c7216fe6531fbe9f8ed/docs/v0.5/project/community.html#L643

[2022-10-19 17:44] dipankardas011 commented on #6415
Is it possible to improve something here?

[2022-10-19 17:50] dipankardas011 opened #6416 "[Helm](Meshery) Image Version"
#### Current Behavior

https://github.com/meshery/meshery/blob/e0a3a0c26362c5351697d8bf049eb9f3ef26d737/install/kubernetes/helm/meshery/values.yaml#L20

https://github.com/meshery/meshery/blob/e0a3a0c26362c5351697d8bf049eb9f3ef26d737/install/kubernetes/helm/meshery/Chart.yaml#L40

#### Desired Behavior

#### Implementation

#### Acceptance Tests

#### Mockups

---
#### Contributor [Guides](https:/

[2022-10-19 17:52] rakshitgondwal commented on #6414
We can have a drop-down button allowing us to choose from either public or private designs.

[2022-10-19 17:53] rakshitgondwal commented on #6413
I would like to work on this issue @legendarykamal

[2022-10-19 17:53] dipankardas011 commented on #6416
# Same with Meshery-Operator helm chart

https://github.com/meshery/meshery/blob/d1a17a10b392a0637c01e89c0537b95fb3a0b65b/install/kubernetes/helm/meshery-operator/templates/deployment.yaml#L31

https://github.com/meshery/meshery/blob/d1a17a10b392a0637c01e89c0537b95fb3a0b65b/install/kubernetes/helm/meshery-operator/Chart.yaml#L40

[2022-10-19 18:03] dipankardas011 opened #6417 "[Meshery](UI) CssBaseline import e2e error case"
#### Current Behavior

https://github.com/meshery/meshery/blob/e0a3a0c26362c5351697d8bf049eb9f3ef26d737/provider-ui/pages/_app.js#L5

#### Desired Behavior

should remove it from the source code?

#### Implementation

#### Acceptance Tests

#### Mockups

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)
- 🛠 [Meshery Bui

[2022-10-19 18:05] dipankardas011 opened #6418 "[Mesheryctl] log pretty printing"
#### Current Behavior

https://github.com/meshery/meshery/blob/ec203b069b0f6039a2781fa284cbf1245c706bc4/mesheryctl/internal/cli/root/system/config.go#L112

#### Desired Behavior

#### Implementation

#### Acceptance Tests

#### Mockups

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)
- 🛠 [Meshery Build & Release Strat

[2022-10-19 18:07] dipankardas011 opened #6419 "[Server](Router) Suggested changes to mux.Router"
#### Current Behavior

https://github.com/meshery/meshery/blob/95189c4a3731cfac859640e1ed818a819a531881/server/router/server.go#L249

#### Desired Behavior

#### Implementation

#### Acceptance Tests

#### Mockups

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)
- 🛠 [Meshery Build & Release Strategy](https://docs.mesh

[2022-10-19 18:11] dipankardas011 opened #6420 "Some Core getApiRes code move to a different location"
#### Current Behavior

https://github.com/meshery/meshery/blob/95189c4a3731cfac859640e1ed818a819a531881/server/models/pattern/core/register.go#L724

#### Desired Behavior

#### Implementation

#### Acceptance Tests

#### Mockups

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)
- 🛠 [Meshery Build & Release Strategy](ht

[2022-10-19 18:26] dipankardas011 commented on #6415
Yeah but let's try 😇

[2022-10-19 20:09] leecalcote commented on #6193
I wonder if https://github.com/meshery/meshery/pull/6243 fixes this issue or not.

[2022-10-19 20:11] acald-creator commented on #6193
@leecalcote

Yes, for now. I did bring up in one of the meetings that I believe we should create a way to automatically update the version without manual work, because each time there is a release, you also need to update the test as well.

The option could be via CLI from `mesheryctl` or through BASH scripting.

But yes, this can be closed.

[2022-10-19 20:13] leecalcote commented on #6193
Oh, right. Yes, the tests will become stale over time. Let's do track this as an enhancement whether in a rewrite of this issue or in a new issue. That would be great.

[2022-10-19 20:27] #6252 closed

[2022-10-20 02:37] legendarykamal commented on #6413
here you go @rakshitgondwal .

[2022-10-20 03:53] #5875 closed

[2022-10-20 11:56] dipankardas011 commented on #6416
@leecalcote can I work on this and what all things do I need to know?

[2022-10-20 11:57] dipankardas011 commented on #6417
@leecalcote should we remove the import statement and its TODO?

[2022-10-20 17:24] siddheshJungade commented on #6414
Yes @rakshitgondwal should we collaborate ?

[2022-10-20 17:51] Chadha93 opened #6424 "[UI] Console errors on hover navigator hover and dashboard icon disappearing"
#### Current Behavior
Console errors on hover navigator hover and dashboard icon disappearing on click sometimes. (Do give it a test multiple ways)

#### Desired Behavior
There should not be any console log errors and the dashboard icon should not disappear.

#### Screenshots/Logs

https://user-images.githubusercontent.com/65453826/197021866-9e96189e-70d0-4668-9eff-9e99edd94667.mp4

#### Environme

[2022-10-20 17:51] Chadha93 commented on #6424
@Harshit-Dandriyal @sahilsuman933 @legendarykamal Could one of you please take this issue?

[2022-10-20 18:09] leecalcote commented on #6414
@legendarykamal will you switch from "1> " to "1. "? I'm not sure what ">" is meant to signify.

[2022-10-20 19:07] legendarykamal commented on #6414
Switched 👍 , It meant to signify the possible solutions .

[2022-10-20 19:28] rakshitgondwal commented on #6413
@legendarykamal https://discuss.meshery.io/t/error-while-setting-up-meshery-ui-on-my-local-machine/1517/6

[2022-10-20 19:30] legendarykamal commented on #6424
verified it, yes it occurs on mine system too.

[2022-10-20 19:39] rakshitgondwal commented on #6414
Yeah sure!!

[2022-10-20 19:45] sahilsuman933 commented on #6424
It doesn't occur in my system on the latest branch.

https://user-images.githubusercontent.com/34382211/197043154-77f793b5-b2ef-4fe6-804b-c5209489193d.mp4

[2022-10-21 15:11] SD-13 commented on #6408
Hi @gr455, I am new here. Is this issue still available? I saw the issue description but still asking to double-check. Thanks,

[2022-10-21 17:00] gr455 commented on #6408
@SD-13 As a matter of fact, yes! There is one more adapter remaining, can you help with that one? (meshery-nsm)

[2022-10-21 17:38] SD-13 commented on #6408
@gr455 yes, I will be more than happy to do that. Thanks,

[2022-10-21 20:12] #6391 closed

[2022-10-21 22:19] tinniaru3005 commented on #6411
Hey @MUzairS15 and @legendarykamal, Can you please point me to the page on the website where the icon is present?

[2022-10-22 01:46] MUzairS15 commented on #6411
In the left hand side you will find `Configuration` menu Select `Patterns` from there.

[2022-10-22 01:53] tinniaru3005 commented on #6411
In the `landing page` I couldn't find any configuration menu. So could you please link the page where the change is required?

[2022-10-22 02:05] MUzairS15 commented on #6411
<img width="1440" alt="Screenshot 2022-10-22 at 7 35 12 AM" src="https://user-images.githubusercontent.com/79860504/197313015-47b1fb7c-42f2-4a0b-b986-dced908f9923.png">

[2022-10-22 05:21] #5801 closed

[2022-10-22 21:49] devkapilbansal commented on #6274
@leecalcote sorry for being late. I opened #6430 in a hope that all required changes are addressed

[2022-10-23 08:37] tinniaru3005 commented on #6411
Hey @MUzairS15, can you please tell me how can I reach this page from the [home page](https://meshery.io/)

[2022-10-23 08:55] legendarykamal commented on #6411
@tinniaru3005 meshery and `meshery.io` are different.
With this in place I doubt if you have meshery setup 🤔. If not then please unassign yourself and let someone else take it by then. Get the project setup running and then ask for assignments for the related issues.

`meshery/meshery` is the one for running meshery ui. This repo is for this project only and `meshery.io` repo is different.

[2022-10-23 09:17] tinniaru3005 commented on #6411
Yes I did that. :)

[2022-10-23 09:29] adithyaakrishna commented on #6411
@legendarykamal Wanna take this up? 👀

[2022-10-23 12:07] SufyaanKhateeb commented on #6273
How do I go about pushing the code? Do I simply create a pull request?

[2022-10-23 16:57] MUzairS15 commented on #6410
@neeraj-2 any updates??

[2022-10-23 18:14] rakshitgondwal commented on #6413
Hey @legendarykamal !! I just got done with the setting up of meshery UI on my local environment. A big thanks to the Meshery Community Forum. Now I wanted to get started with this issue, so can you guide me on how I should start with this issue, or how do I get started with the file structure of meshery-ui?

[2022-10-24 20:03] devkapilbansal commented on #6286
@leecalcote I would like to work on it

My last PR #6430 is ready for review

[2022-10-25 01:39] leecalcote commented on #6286
Oh, very good, @devkapilbansal. ✅

[2022-10-25 09:14] legendarykamal commented on #6411
While my advice was solely in the favour of the assignee , some basic steps before taking on any issue as one might face challenges while setting up, the history proves.

Yes @adithyaakrishna I was waiting for someone to show up in the meantime , but no1 did till now , so I would be happilly proceeding with this 😅 .

[2022-10-25 11:41] adithyaakrishna commented on #6411
Awesome Awesome  @legendarykamal 🎉

[2022-10-25 12:32] tinniaru3005 commented on #6216
Hey I would like to work on it

[2022-10-25 12:33] tinniaru3005 commented on #6216
Can you please assign it to me?

[2022-10-25 13:15] leecalcote commented on #6216
@tinniaru3005

- Anywhere that you see Meshery logos with the “The Service Mesh Company” tagline, please take a note and let’s see that is replace with a logo without the tagline.
- Anywhere that you see a Meshery logo with the “Multi-Mesh Manager” tagline, please take  a note and let’s see that is replace with a logo without the tagline.

Find copies of logos in the Community Drive under the Asse

[2022-10-25 15:48] AbhishekTiwari23 commented on #6411
@legendarykamal, sir, if you don't mind, can I give it a try as my first issue for meshery?
Thanks.

[2022-10-25 17:12] legendarykamal commented on #6411
@AbhishekTiwari23 I wish you were a little earlier I would have passed it to you,but the issue is no more (is Fixed ) .
Nevertheless, there are others to try your hands in. I will help you find one if you don't get :)

here's the glimpse
![image](https://user-images.githubusercontent.com/95926324/197838720-c82f87bd-6575-48e2-8abe-70cb21d150c1.png)

[2022-10-25 17:37] AbhishekTiwari23 commented on #6411
Thanks, sir. I will look for others. I need a little help. I am looking for documentation on how I can install service mesh and run an adapter.

[2022-10-25 17:38] AbhishekTiwari23 commented on #6411
And if there is any video or tutorial, then it will be best. Please help if there is any such resource.

[2022-10-25 22:30] leecalcote opened #6436 "[Docs] Enhance docs for /api/user/token"
#### Current State
The functionality of this API endpoint is not well-described.

#### Desired State
Provide details as the the behavior and purpose of this endpoint.

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)
- 📚 [Instructions for contributing to documentation](https://docs.meshery.io/project/contributing/cont

[2022-10-25 22:31] leecalcote commented on #6436
How does this endpoint relate to this UI menu item, "Get Token"?

<img width="258" alt="Screen Shot 2022-10-25 at 5 17 06 PM" src="https://user-images.githubusercontent.com/7570704/197894385-223484c5-6124-4830-b1cb-1d3fa7b80941.png">

[2022-10-26 03:32] #6411 closed

[2022-10-26 06:33] progmatic-99 commented on #6334
@leecalcote can you confirm the comments by @dalbarracin @gr455 ??

cc: @legendarykamal

[2022-10-26 10:00] tinniaru3005 commented on #6216
Hey @leecalcote Do I need to change the logo here also?
![meshery-logo](https://user-images.githubusercontent.com/62856848/197997404-795c7c4e-b1db-42c9-9077-c04eb3bbc396.png)

[2022-10-26 11:08] leecalcote commented on #6216
Yes, please

[2022-10-26 15:20] theBeginner86 opened #6443 "[UI] Improve Environment UI"
#### Current Behavior
1. The placement of **Add Cluster** doesn't feel right considering other buttons like `Create Design` on the Designer page.

![Screenshot 2022-10-26 at 8 46 14 PM](https://user-images.githubusercontent.com/73700530/198065993-7fd1d00a-6b9e-4673-852c-352486f2dbc8.png)

2. Better styles for **Delete** cluster button. It doesn't go well with other buttons in Meshery UI.

![Screen

[2022-10-26 18:17] leecalcote opened #6445 "[Server] Tombstone Deleted MeshSync Objects"
#### Current Behavior

#### Desired Behavior

#### Implementation

#### Acceptance Tests

#### Mockups

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for contributing to documentation](https://github.com/meshe

[2022-10-26 18:18] leecalcote commented on #6445
@Revolyssup and @theBeginner86, I'll let you figure out whether this is just a GraphQL update or both Meshery Server and GraphQL.

[2022-10-26 19:29] devkapilbansal commented on #6268
Hi @leecalcote I want to look into this issue

[2022-10-26 23:00] Krishna2323 opened #6446 "[UI] Increase Istio logo size."
#### Current Behavior
[UI] Increase Istio logo size.
![current](https://user-images.githubusercontent.com/85894871/198155088-b0ad2fad-46e7-4462-a740-088614058ab2.png)

#### Desired Behavior
![expected](https://user-images.githubusercontent.com/85894871/198155100-5ee4a161-2e03-4bec-b3e4-364ce5e61fa0.png)

#### Screenshots/Logs

#### Environment

- Browser: Chrome Safari Firefox
- Host OS: Mac Linux

[2022-10-27 01:08] leecalcote commented on #6446
Which browser are you seeing this in, @Krishna2323?

Thanks for filing this issue. Is your zoom level 100% or is it larger?

[2022-10-27 03:50] Krishna2323 commented on #6446
@leecalcote ,I am using Brave browser and the zoom level is 100%.

[2022-10-27 04:39] leecalcote commented on #6446
Ok, thanks for confirming. And for filing this issue. It’ll be nice to have this fixed.

[2022-10-27 08:51] parthn2 commented on #6446
I would like to take up this issue.

[2022-10-27 10:37] leecalcote commented on #6401
@Revolyssup as we go to close this issue, is there another issue in its place concerning the auto-generation of components on import of helm chart as a Meshery App?

[2022-10-27 10:38] leecalcote commented on #6400
Related to #6401

[2022-10-27 10:38] leecalcote commented on #6401
Oh, I see #6400 now.

[2022-10-27 10:39] #6401 closed

[2022-10-27 21:00] leecalcote opened #6447 "Adopt OCI as the packaging and distribution format for Meshery Applications, Designs, Filters"
#### Current Behavior

#### Desired Behavior

#### Implementation

#### Acceptance Tests

#### Mockups

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for contributing to documentation](https://github.com/meshe

[2022-10-28 12:11] obaranov1 opened #6449 "Failure during installation in Kubernetes"
#### Current Behavior
Installation of Meshery in Kubernetes cluster is Failing.

#### Expected Behavior
I expect meshery deployment to be installed in the cluster.

#### Screenshots/Logs
Please check the status of the pods by executing “mesheryctl system status” and Meshery-UI endpoint with “mesheryctl system dashboard” before using meshery.
bash: line 260: syntax error near unexpected token `newl

[2022-10-28 12:25] leecalcote commented on #6449
@obaranov1 thanks for filing this. The error occurs while executing `mesheryctl system dashboard`, is that right? // @hexxdump @piyushsingariya @alphaX86 @pk-218 @harkiratsm

[2022-10-28 13:11] obaranov1 commented on #6449
no, when I execute `curl -L https://meshery.io/install | PLATFORM=kubernetes bash -`

[2022-10-28 16:35] kumarvikramshahi commented on #6443
hey @theBeginner86, if no one is working on this. I would like to work on this issue.

[2022-10-28 23:05] leecalcote commented on #6449
@hexxdump, is this an item that you can pick up? Please note the urgency behind this issue. // @harkiratsm @nishantwrp

[2022-10-29 03:23] hexxdump commented on #6449
Will take a look @leecalcote

[2022-10-29 05:20] hexxdump commented on #6449
@obaranov1,
I am not able to hit this exact issue on my ubuntu m/c.
Will it be possible to share the output from `curl -L https://meshery.io/install | PLATFORM=kubernetes bash -x -` ?

[2022-10-29 06:45] theBeginner86 commented on #6443
Sure! 🙌

[2022-10-29 07:34] pk-218 commented on #6449
I am not able to reproduce the issue as well.

On inspection of the logs, it comes from [mesheryctl/system/start](https://github.com/meshery/meshery/blob/master/mesheryctl/internal/cli/root/system/start.go#L385) and not from the installation script.

Given the input `curl -L https://meshery.io/install | PLATFORM=kubernetes bash -`, the command that is run is `mesheryctl system start --yes --platfo

[2022-10-29 12:57] PratikforCoding commented on #6408
@gr455 hey can i try to fix the last one please?

[2022-10-29 17:20] hexxdump commented on #6449
yes, the meshery installation script does not have 260 lines of code.
"syntax error near unexpected token" issue could be related to golang versioning.
ref - https://github.com/golang/go/issues/31225
// @acald-creator

[2022-10-31 11:54] leecalcote opened #6458 "[Server] Tombstone Deleted MeshSync Objects"
#### Current Behavior

#### Desired Behavior

#### Implementation
Tombstoning can be achieved through this [#softdelete](https://gorm.io/docs/delete.html#Soft-Delete) functionality of gorm by a small tweak in the table schema with a new DeleteAt field.

#### Acceptance Tests

#### Mockups

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/

[2022-10-31 15:03] acald-creator commented on #6449
Researching

[2022-10-31 15:04] leecalcote commented on #6449
Thank you for looking into this, @pk-218 👏

[2022-10-31 15:55] leecalcote commented on #6006
@harkiratsm close this out?

[2022-10-31 15:57] leecalcote commented on #6208
Oh my goodness, I missed all of these comments. My apologies. Yes, I think you're right that this issue has been addressed. Thanks much for jumping into the project. Let's find another issue for you to pick up. Don't hesitate to comment on an issue that you're interested in, but hasn't recently had activity. It might in need of help.

[2022-10-31 17:54] Revolyssup commented on #5091
Putting this under a clickup task to track there and will get back to this after the top priority items are done.

[2022-10-31 18:27] Revolyssup commented on #5584
You have to explicitly delete the context. Since context is a client-side construct, it doesn't go away just because if you have deleted the cluster. Although when you click on that chip with the context pointing to deleted cluster, it will show unreachable.
// @leecalcote

[2022-10-31 18:47] #6446 closed

[2022-11-01 13:07] obaranov1 commented on #6449
@hexxdump, @leecalcote, @pk-218, Hello! I am not sure what happened, but the problem is no longer appears. All Meshery pods in running state now. I think it had smth to do with my environment setup. I think we can close the issue. Thanks for fast reply and involvement :)

[2022-11-01 16:42] #6271 closed

[2022-11-02 11:38] moki1202 commented on #6424
@Chadha93 is this issue still up for grabs?

[2022-11-02 13:03] sahilsuman933 commented on #6424
Go, Ahead! @moki1202

[2022-11-02 18:05] #5921 closed

[2022-11-02 19:29] #6413 closed

[2022-11-02 21:41] nishantwrp opened #6480 "Automatically modify formula when homebrew can't parse mesheryctl version correctly"
## Background

We've recently migrated `mesheryctl` releases from our custom [meshery/tap](https://github.com/meshery/homebrew-tap) to the official [homebrew/core](https://github.com/Homebrew/homebrew-core). Each published package in homebrew has a formula (Formula - Homebrew package definition built from upstream sources). [Link](https://github.com/Homebrew/homebrew-core/blob/master/Formula/meshe

[2022-11-03 02:35] leecalcote commented on #5981
@sudo-NithishKarthik another reminder

[2022-11-03 03:42] #6199 closed

[2022-11-03 03:43] #5928 closed

[2022-11-03 03:43] #6055 closed

[2022-11-03 03:43] #6210 closed

[2022-11-03 03:43] #5660 closed

[2022-11-03 11:34] leecalcote commented on #5672
@gr455

[2022-11-03 15:58] Harshit-Dandriyal commented on #6424
@moki1202 This item is urgent, If possible, Try to wrap this item as soon as possible, I believe in you for this, All the best, Please communicate if you will not be able to resolve this. ✌

[2022-11-03 18:47] leecalcote opened #6482 "[CI] Meshery UI build failure in Docker container: release blocking"
#### Current Behavior
https://github.com/meshery/meshery/actions/runs/3388257722/jobs/5630024551

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for contributing to documentation](https://github.com/meshery/mes

[2022-11-03 20:09] #6385 closed

[2022-11-03 20:42] leecalcote commented on #6449
@obaranov1, you bet. 🙂 We certainly appreciate you taking time to file this issue. Don't hesitate to reopen this issue if you bump into it again.

[2022-11-03 20:42] #6449 closed

[2022-11-03 21:31] leecalcote opened #6488 "[UI] Pop-up: cutoff on smaller width screens"
#### Current Behavior
Meshery UI has a recently added popup (see https://github.com/meshery/meshery/pull/6479), which is cutoff of on smaller screen sizes.

#### Desired Behavior

1. The popup should be absolutely positioned in reference to the browser.
2. The popup title should be in bold.
3. The caption should have a reduced line-height.
4. The graphic should have slightly more top and bottom pa

[2022-11-04 00:26] #5973 closed

[2022-11-04 12:04] segunjkf commented on #5954
hello can i be assigned to this?

[2022-11-04 12:09] leecalcote commented on #5954
@adithyaakrishna @Abhishek-kumar09 Is this completed? https://github.com/meshery/meshery/actions/workflows/eslint-gh.yml

[2022-11-04 12:09] leecalcote commented on #6482
v0.6.22 release success. Thank you, @MarioArriaga92 💪 and @warunicorn19 👏

[2022-11-04 12:09] #6482 closed

[2022-11-04 16:33] leecalcote opened #6491 "[CI] Create Playground Build and image tag"
#### Current Behavior
Meshery has a new deployment mode: playground.

#### Desired Behavior
play.meshery.io should have an automated release and deployment pipeline.

#### Implementation
1. A new workflow (or new step in existing workflow) for building and publishing Meshery playground images.
    1. EnforceProvider flag should be set.
    1. `make server-playground; make ui-playground` should be

[2022-11-04 16:33] leecalcote commented on #6491
@Abhishek-kumar09 is to create `make ui-playground`.

[2022-11-04 23:00] #4921 closed

[2022-11-05 19:10] Ebi27 opened #6497 "[mesheryctl] Improve `pattern list` Error Message"
#### Current Behavior
The mesheryctl pattern list error response currently displays as ;

[code]
#### Expected Behavior
The mesheryctl pattern list error response should be “Unable to reach Meshery Server at ….. Please confirm that Meshery Server is available.”

#### Environment

- **Host OS:** Mac Linux Windows
- **Platform:** Docker or Kubernetes
- **Meshery Server Version:** stable-v
- **Mesher

[2022-11-05 19:26] legendarykamal commented on #6488
Hi, I would like to fix this.

[2022-11-06 19:51] #6222 closed

[2022-11-07 07:42] deepeshaburse commented on #6161
@legendarykamal Kindly update your PR according to requested changes.

[2022-11-07 13:53] segunjkf commented on #5954
Hello please let me know if this is completed.

[2022-11-07 20:38] leecalcote opened #6503 "[Server] Remote provider session not expiring on logout"
#### Current Behavior
When a user logs out of the Meshery remote provider, they seem to go in circles with the session remaining active.

_Note: PROVIDER_BASE_URL is set to staging-meshery.layer5.io._

Related issue: https://github.com/meshery/meshery/issues/1442

#### Expected Behavior
Session is expired.

#### Screenshots/Logs

https://user-images.githubusercontent.com/7570704/200410288-2db20106

[2022-11-07 20:38] leecalcote commented on #6503
@theBeginner86, you might want to have a look at this.

[2022-11-08 13:24] theBeginner86 commented on #6503
Sure, I'll fix this.

[2022-11-08 13:32] leecalcote commented on #6054
@Revolyssup @alphaX86 ?

[2022-11-08 15:03] kumarvikramshahi commented on #6443
Hey @theBeginner86 to be precise:
1. Is this the desired design you want to **Add Cluster** button be like **Create Design** button i.e seperated from card.

![image](https://user-images.githubusercontent.com/63746254/200598112-6a6a838a-cc64-4351-96a0-a4024b12d91c.png)

2. And also i'm not being clear about styles for Delete cluster button, can you please show it by some pic, that will be very hel

[2022-11-08 19:24] theBeginner86 commented on #6443
@kumarvikramshahi
Those are some spot-on questions... 😎

Today we would be having our Meshery Dev call, would you please take this as an agenda item?
You can add this item in the [Meeting Minutes](https://docs.google.com/document/d/1Dg4Uz9rGTuGHmYZwIt47z1j5x3LmnpxD1M1SgypAkQ0/edit).

We can discuss this item with other members in the community so that you can get holistic feedback/ideas on this ar

[2022-11-09 04:26] leecalcote commented on #6172
@NikhilSharma03 are you still chasing this one down?

[2022-11-09 11:40] leecalcote opened #6508 "[CI] Create a GitHub Action workflow for publishing Meshery's list of integrations"
#### Current Behavior
Meshery Integrations are tracked in [this spreadsheet](https://docs.google.com/spreadsheets/d/1DZHnzxYWOlJ69Oguz4LkRVTFM79kC2tuvdwizOJmeMw/edit#gid=345660040), which is updated frequently.

#### Desired Behavior
Updates need to be published on meshery.io, docs.meshery.io and layer5.io.

#### Implementation
1. Create a workflow to update each website with details from the inte

[2022-11-09 13:34] kumarvikramshahi commented on #6443
sure 🤝

[2022-11-09 14:32] kayceeDev commented on #6488
Hi, @legendarykamal are you already working on this? if not please allow @chiomaT to take this up. She may also need your guidance while working on it too. Thanks in advance.

[2022-11-09 14:45] acald-creator commented on #4573
@leecalcote

I didn't see this issue already open for container image scanning.

The only question I had about this was that since you're already using ArtifactHub for the vulnerabilities reports, but I'm not sure if there is already a central location within this project for scan reports, either from trivy or something similar.

I can do research on this, if no one else hasn't done anything yet.

[2022-11-09 14:54] legendarykamal commented on #6488
@chiomaT Let's help you and  make sure you are successfull ,
Inorder to qualify that if you could just confirm me with a screenshot that you have your project setup done of `meshery ui` ?

sure @kayceeDev in any/ every ways.

[2022-11-09 15:10] acald-creator commented on #5993
I will be working optimizing the GitHub Actions workflows.

There are several different workflows, and one of the suggestion is to create a separate workflow specifically for `golangci-lint` so that when it comes to reviewing PRs, we can work faster on the PR specific to `ui` or anything else that is not `Go`.

[2022-11-09 16:18] franklinekoh commented on #6488
Can I take this up @leecalcote

[2022-11-09 16:31] leecalcote commented on #6488
@kayceeDev @legendarykamal thanks much for your guidance offered to @chiomaT. @chiomaT, let's find another open issue quickly. To start, the "help wanted" hyperlink in the readme.md of this repo has a multi-org search that is quite helpful.

[2022-11-09 16:44] leecalcote commented on #6041
Good call, @acald-creator. 👍

[2022-11-09 16:44] #6041 closed

[2022-11-09 16:45] leecalcote commented on #5993
Hopefully, we'll get a bird's eye view assembled in the Meshery Test Plan spreadsheet with an overview of the workflows included.

[2022-11-09 17:07] leecalcote opened #6510 "[Docs] Update all instances of "Service Mesh Discussion" forum"
#### Current State
the Meshery Docs have various pointers to the service mesh discussion forum.

Example page - https://docs.meshery.io/project/faq

#### Desired State
Each of these references should be updated to simply refer to the forum as the "discussion forum", removing the "service mesh" qualifier.

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](h

[2022-11-09 17:38] segunjkf commented on #5954
@leecalcote Hello, it appears that this issue has already been resolved.

[2022-11-09 17:41] segunjkf commented on #6408
Hello can i be assigned to this issue?

[2022-11-09 17:45] ayushthe1 commented on #6510
hey @leecalcote ,can i work on this issue .

[2022-11-09 18:12] UtkarshMishra12 opened #6512 "The search bar is colliding with the Navbar from 768px to 988px"
#### Current Behavior

The search bar is colliding with the Navbar from 768px to 988px

#### Expected Behavior

Give a margin to the Search bar (From the top)

#### Screenshots/Logs

![image](https://user-images.githubusercontent.com/67385503/200907665-aa51fc20-deb0-4860-acea-d46779b08591.png)

#### Environment

- **Host OS:** Windows
- **Platform:** Docker or Kubernetes
- **Meshery Server Version

[2022-11-09 18:13] UtkarshMishra12 commented on #6512
I would like to work on this issue.

[2022-11-09 18:58] leecalcote commented on #6510
@UtkarshMishra12 thanks for volunteering here. This is great. Would you mind terribly, if we let @ayushthe1 have a crack at this as a first-time contributor?

[2022-11-09 19:15] ayushthe1 commented on #6510
Thanks @leecalcote and @UtkarshMishra12 !  Will soon open a pr.

[2022-11-09 19:21] leecalcote commented on #5954
Oh, I see. Thank you much for this, @segunjkf.

@Abhishek-kumar09, based on @segunjkf's feedback shall we close this (do you concur) or are their any residual items?

[2022-11-09 20:35] chiomaT commented on #6488
@legendarykamal project setup done
<img width="1511" alt="Screenshot 2022-11-09 at 21 29 51" src="https://user-images.githubusercontent.com/98219927/200936349-61466832-3092-4652-8619-03d3fbc6bcb3.png">

[2022-11-09 20:37] chiomaT commented on #6488
@legendarykamal
<img width="1512" alt="Screenshot 2022-11-09 at 21 36 26" src="https://user-images.githubusercontent.com/98219927/200936651-cef3c681-274e-4a76-8354-bf43b55f882f.png">

[2022-11-09 20:53] legendarykamal commented on #6488
@chiomaT looks good , why is the popup not showing on your screen 🤔  ?

Since @franklinekoh has already been assigned to this , If you are passionate in completing this one , I encourage you to collaberate and work and finish it up :) .
@franklinekoh is very nice with collaberating (from my experience) just to ensure that you both don't end up duplicating the work.

For eg : 4 things listed in the

[2022-11-10 01:17] chiomaT commented on #6488
that's okay I can collaborate with @franklinekoh on this.

[2022-11-10 05:39] #6004 closed

[2022-11-10 10:03] chiomaT commented on #6512
@UtkarshMishra12 I would like to fix this issue.

[2022-11-10 11:02] abdullah1308 opened #6513 "[UI] 'Upload kubeconfig' label colliding with file name in input"
#### Current Behavior
When the input is selected
<img width="547" alt="image" src="https://user-images.githubusercontent.com/76054921/201073289-0a6bbccf-110d-445b-8c66-7b239c422683.png">

When the input is not in focus
<img width="629" alt="image" src="https://user-images.githubusercontent.com/76054921/201073432-5d9a488e-c810-4feb-b0b2-264ffad58e05.png">

#### Desired Behavior
Input label should n

[2022-11-10 11:03] abdullah1308 commented on #6513
@leecalcote Can I work on this ?

[2022-11-10 11:15] #6408 closed

[2022-11-10 12:00] leecalcote commented on #6513
Thank you for filing this issue, @abdullah1308 💪

[2022-11-10 14:21] obaranov1 commented on #6508
@leecalcote, I have no access to the spreadsheet. Could you share it please?

[2022-11-10 16:56] leecalcote commented on #6508
@obaranov1 you betcha. This sheet, along with a multitude of other community resources, is gated by submission of the community member form: https://meshery.io/community/newcomers. Submit at-will. 👍

[2022-11-10 19:10] leecalcote commented on #4642
Oh, no. Did the Artifact Hub stop running vulnerability scans against projects?

[2022-11-11 02:48] leecalcote commented on #6510
Good deal. @ayushthe1 if within the next four days, you're unable to finish this issue let's open it back up for reassignment.

[2022-11-11 04:55] #6008 closed

[2022-11-11 04:55] #4937 closed

[2022-11-11 04:55] #4549 closed

[2022-11-11 13:49] nishantwrp commented on #6269
Hi @pratul20, just wanted to check in. Were you able to make any progress on this issue?

[2022-11-11 18:06] rakshitgondwal commented on #6267
Hey!! I would like to work on this issue if @XanderWatson is not working on this right now.

[2022-11-11 18:09] leecalcote commented on #6267
Thanks, @rakshitgondwal 👍

[2022-11-11 18:10] leecalcote opened #6523 "[Server]. Invoke Dictionary function in deprettification process of components"
#### Current Behavior

#### Expected Behavior

#### Screenshots/Logs

#### Environment

- **Host OS:** Mac Linux Windows
- **Platform:** Docker or Kubernetes
- **Meshery Server Version:** stable-v
- **Meshery Client Version:** stable-v

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)
- 🛠 [Meshery Build & Release Strat

[2022-11-11 18:30] leecalcote opened #6524 "[Server] MeshModel: Use a composite key to discern component uniqueness during generation / registration."
#### Current Behavior

#### Desired Behavior

#### Implementation

#### Acceptance Tests

#### Mockups

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for contributing to documentation](https://github.com/meshe

[2022-11-12 10:45] moki1202 commented on #6424
@Harshit-Dandriyal Apologies, was really busy for a couple of weeks. Also had some troubles setting up meshery's UI but its all done now. Will try to open a PR today if its fine ?

[2022-11-12 17:23] Harshit-Dandriyal commented on #6424
Go ahead @moki1202, we will wait for your PR :smiley:

[2022-11-13 08:04] #6206 closed

[2022-11-13 20:49] Ebi27 commented on #6497
Thank you. I'll be sure to do that.

[2022-11-14 13:06] warunicorn19 opened #6528 "[UI][Navigator] Chevron disabled in navigator in normal mode as well"
#### Current Behavior
The chevron in the navigator is disabled in normal mode as well, this leaves the drawer open-close function disabled.

#### Desired Behavior
Chevron should only be disabled in playground mode.

#### Screenshots/Logs

#### Environment

- Browser: Chrome Safari Firefox
- Host OS: Mac Linux Windows
- Meshery Server Version: stable-v
- Meshery Client Version: stable-v
- Platform:

[2022-11-14 14:12] Chadha93 commented on #6424
Thank you for the headsup @moki1202.
@Harshit-Dandriyal you can go ahead and make a fix for this.

[2022-11-14 14:16] moki1202 commented on #6424
@Chadha93 Apologies! Couldn't get the Dev server up and running in time.

[2022-11-14 14:18] Chadha93 commented on #6424
No worries, you can look for solutions or post your bugs on https://discuss.meshery.io/

[2022-11-14 14:20] moki1202 commented on #6424
Already opened one yesterday. Just need some input there

[2022-11-14 18:41] #6488 closed

[2022-11-14 19:26] leecalcote opened #6532 "[Playground] SSL Certificate and HTTPS enablement"
#### Current Behavior
Lack of SSL termination on playground deployment.

#### Desired Behavior
Secure transmissions between users and playground.

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for contributing

[2022-11-14 22:31] leecalcote opened #6533 "[UI] Remove modal-like focus lock on popup"
Related to https://github.com/meshery/meshery/issues/6488

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for contributing to documentation](https://github.com/meshery/meshery/blob/master/CONTRIBUTING.md#docume

[2022-11-14 22:31] leecalcote commented on #6533
@franklinekoh @warunicorn19

[2022-11-15 16:46] leecalcote opened #6535 "[CI] Playground: Add custom callback URL as env var in this deployment"
#### Current Behavior
In the current playground.meshery.io deployment, upon authentication flow completion, users are not properly redirected back to playground.meshery.io.

#### Implementation

Add `-e MESHERY_SERVER_CALLBACK_URL=https://playground.meshery.io` to environment configuration.

#### Acceptance Tests
Post authentication, users should land at playground.meshery.io

---
#### Contributor

[2022-11-15 17:17] #6535 closed

[2022-11-15 17:18] #6533 closed

[2022-11-15 18:19] #6251 closed

[2022-11-15 21:22] #6110 closed

[2022-11-16 04:18] leecalcote commented on #6528
Uh-oh.

[2022-11-16 04:18] leecalcote commented on #6528
Is someone working on this?

[2022-11-16 04:18] leecalcote commented on #6532
Certificate and private key generated.

[2022-11-16 04:19] leecalcote commented on #6513
@abdullah1308 How's it coming along?

[2022-11-16 04:20] leecalcote commented on #6491
Created (see /install/playground/Makefile). Incorporated into workflow (new workflow created, too). Deployed to playground.meshery.io

[2022-11-16 04:20] #6491 closed

[2022-11-16 04:21] leecalcote commented on #6497
Checking in... how are things progressing?

[2022-11-16 04:22] leecalcote commented on #6436
@meshery/maintainers

[2022-11-16 04:23] leecalcote opened #6540 "[Server] Misspelling in error logs"
#### Current Behavior

<img width="996" alt="Screen Shot 2022-11-15 at 10 17 40 PM" src="https://user-images.githubusercontent.com/7570704/202083105-c65d7e6c-d49f-4a74-b86e-52400fa743bd.png">

#### Expected Behavior

#### Screenshots/Logs
Other examples have been sent in Slack.

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/h

[2022-11-16 04:24] leecalcote commented on #6416
@dipankardas011 you're most welcome to work on this, yes.

[2022-11-16 04:25] leecalcote commented on #6417
@dipankardas011, if you can confirm that the TODO is complete, yes.

[2022-11-16 11:19] warunicorn19 commented on #6528
@Abhishek-kumar09 has already fixed it.

[2022-11-16 11:20] #6528 closed

[2022-11-16 17:34] leecalcote opened #6542 "[Docs] Each adapter page should source the adapter version number from datafile/collection"
#### Current State
The Meshery Adapter version numbers are out of date and statically defined.

e.g. https://docs.meshery.io/service-meshes/adapters/istio

#### Desired State
Each adapter page should source the adapter version number from datafile/collection

#### Acceptance Criteria
1. All Adapter pages source their version number dynamically.
2. The [main Adapters page](https://docs.meshery.io/c

[2022-11-16 17:35] leecalcote commented on #6542
// @asubedy

[2022-11-16 17:59] ayushthe1 commented on #6542
hey @leecalcote ,can i work on this issue ?

[2022-11-16 18:19] leecalcote commented on #6542
Yes. Sounds great, @ayushthe1. 👍

[2022-11-16 19:15] Ebi27 commented on #6497
Struggling a bit with understanding and navigating the entire code base to a point where I figure out where my target error is coming from, but I'm spending some time tracking each function to determine it's output and just taking time to learn while at it.

[2022-11-17 01:55] #5827 closed

[2022-11-17 02:31] #6325 closed

[2022-11-17 06:17] sidmohanty11 commented on #6513
Hey @leecalcote and @abdullah1308 do you mind if I take this up?

[2022-11-17 12:58] paularah commented on #6352
Is there a pattern or range  to how the error codes are assigned or just sequentially?

[2022-11-17 13:11] paularah commented on #6540
@gr455 can I take on this? it's good first issue

[2022-11-17 13:12] gr455 commented on #6540
Absolutely, thanks!

[2022-11-17 19:48] leecalcote commented on #6352
@acald-creator ^^

[2022-11-17 19:51] leecalcote commented on #6352
Sounds great, @paularah. Thanks for raising your ✋. I'll connect you with @acald-creator, who can offer a few pointers, including this post written by @mgfeller - https://meshery.io/blog/meshery/introducing-meshkit-and-the-meshery-adapter-library and the [Messaging Framework and Notification / Operation Center](https://docs.google.com/document/d/1_zpEWBcC6ngOLen_E_nc-octiUdBbpmdwwIX6qzo70M/edit) d

[2022-11-17 19:53] leecalcote commented on #6513
A bit of collaboration goes a long way, yes, that'd be great, @sidmohanty11

[2022-11-17 21:02] Chadha93 commented on #6172
No longer an issue:
![image](https://user-images.githubusercontent.com/65453826/202559031-d4dd0e33-4e84-4338-9525-b9d91ff68d56.png)

[2022-11-17 21:02] #6172 closed

[2022-11-17 22:10] sidmohanty11 commented on #6513
@leecalcote Thanks a lot. While exploring the codebase a bit, I found out some approaches that I thought about sharing and asking what should be our approach from the UI standpoint?

1. By adding InputLabelProps={{ shrink: true }} to the TextField, it will work as expected.
[code]

but when there will be no value it will still be shrunken.
![Screenshot 2022-11-18 at 2 40 23 AM](https://user-images

[2022-11-18 05:02] #6196 closed

[2022-11-18 05:02] #5904 closed

[2022-11-18 05:02] #5687 closed

[2022-11-18 19:55] ayush14rastogi commented on #6532
@leecalcote can you please assign the issue to me.

[2022-11-18 20:00] #6054 closed

[2022-11-18 20:31] leecalcote commented on #6112
Mission accomplished. Thanks for getting this feature completed, @MUzairS15. 👍

[2022-11-18 20:31] #6112 closed

[2022-11-18 20:41] #6265 closed

[2022-11-18 20:44] leecalcote commented on #6532
@ayush14rastogi oh, yes, I would like to do so. Although, this particular item has already been completed. The playground site is _almost_ ready for use: https://playground.meshery.io (but at least does now support SSL).

Let's get you onto another issue, @ayush14rastogi 👍

[2022-11-19 08:36] #5917 closed

[2022-11-19 08:36] #6245 closed

[2022-11-19 12:46] Udit-takkar commented on #6414
@leecalcote  can i work on this issue ?

[2022-11-20 06:34] AgniveshChaubey commented on #6542
Hey @leecalcote @ayushthe1, I am looking for my first contribution to Layer5. If possible, can I be a part of this issue someway?

[2022-11-20 08:12] Udit-takkar opened #6553 "Type errors in code base."
#### Current Behavior

There are many components with type errors like CatalogFilter in /components/MesheryPatterns.js.
Property 'hideCatalog' is missing in type.  we can make this property optionals using proptypes which should fix this.

similarly there are few more components with similar issue.

#### Expected Behavior
There should not be any type error in the code base.

#### Screenshots/Logs

[2022-11-20 08:13] Udit-takkar commented on #6553
@leecalcote   i would like to work on this if you can assign me.

[2022-11-20 14:19] leecalcote commented on #6553
Thanks for filling this, @Udit-takkar. That’d be great.

[2022-11-20 16:40] AgniveshChaubey opened #6554 "Typo error in Meshery documentation"
#### Current State
In this [section](https://github.com/meshery/meshery/blob/master/docs/pages/installation/quick-start.md#select-a-provide), there is a typo in the line - Select from the list of Providers in order to login to Meshery. Authenticate with your chosen your Provider.

#### Desired State
The sentence should be - Select from the list of Providers in order to login to Meshery. Authentica

[2022-11-20 16:44] AgniveshChaubey commented on #6554
I wanna work take over this issue.

[2022-11-20 17:37] asubedy commented on #6554
Hi @AgniveshChaubey , thank you for raising this issue, could you please add a proper title and a screenshot of the issue that would be helpful

[2022-11-20 18:40] AgniveshChaubey commented on #6554
Yeah, sure!

[2022-11-20 19:12] ayushthe1 commented on #6542
hey @leecalcote ,where do i find datafile/collection ?

[2022-11-21 02:39] #6063 closed

[2022-11-21 09:00] Udit-takkar commented on #6277
<img width="1440" alt="Screenshot 2022-11-21 at 2 28 26 PM" src="https://user-images.githubusercontent.com/53316345/203007926-5d92ffac-5ffb-41fc-b109-6a3df86fad06.png">

hey @Chadha93  i don't understand what is meant by "inconsistent component version number for k8s, MeshSync and Broker" in the issue description. can you elaborate a bit more ?

[2022-11-21 12:43] asubedy commented on #6063
Solved #6509

[2022-11-21 13:56] segunjkf commented on #5993
can i work on this?

[2022-11-21 17:12] abdullah1308 commented on #6513
Sorry, I was busy with examinations and unable to work on it.

@sidmohanty11 I like number 3. Removing the label entirely and having only the placeholder would look clean as well.

[2022-11-22 02:32] AgniveshChaubey commented on #6554
hey @asubedy, can you please look over the pull request I have made?

[2022-11-22 06:52] kf-rammanokar commented on #6327
ping

[2022-11-22 14:51] Krishna2323 opened #6560 "Change the icon for clearing the notification."
#### Current Behavior
Change the icon for clearing the notification.
![Screenshot 2022-11-22 193914](https://user-images.githubusercontent.com/85894871/203345080-b11c4d00-e085-4e38-b82e-f7bce8fd31c8.png)

#### Desired Behavior
![Screenshot 2022-11-22 194322](https://user-images.githubusercontent.com/85894871/203345101-43adf945-78ed-44c8-bffd-99cd2bdafb7c.png)

#### Implementation

#### Acceptance

[2022-11-22 17:44] sidmohanty11 commented on #6513
@abdullah1308 can i make a PR based on that approach?

[2022-11-23 12:24] suhail34 commented on #6560
Hey I would like to work on this issue to get started with the project

[2022-11-23 16:07] abdullah1308 commented on #6513
@sidmohanty11 yep, go ahead.

[2022-11-23 19:41] Chadha93 opened #6564 "[UI] [Safari] SVGs are not scaling in various plaes in UI"
#### Current Behavior
SVGs are not scaling in various places in UI such as:
1. Design configurator
2. I icon in the navigator.
3. icons inside buttons and many more

#### Desired Behavior
SVG's should be scaled in every browser.

#### Screenshots/Logs

#### Environment

- Browser: Chrome Safari Firefox
- Host OS: Mac Linux Windows
- Meshery Server Version: stable-v
- Meshery Client Version: stable

[2022-11-23 19:47] leecalcote commented on #6513
// @Nikhil-Ladha fyi

[2022-11-23 22:05] #6540 closed

[2022-11-23 22:16] #6273 closed

[2022-11-23 22:17] #6393 closed

[2022-11-23 22:26] leecalcote commented on #6542
@ayushthe1 you'll find them here - https://github.com/meshery/meshery/tree/master/docs/_adapters. This data isn't being updated, though, but should be updated along with its sibling data in https://github.com/meshery/meshery/tree/master/docs/_compatibility

@asubedy will you see that the adapters collection is being updated, too?

[2022-11-23 22:49] leecalcote commented on #6560
Sounds great, @suhail34. When you engage here, please know what Meshery UI favors use of SVGs vs use of built-in MUI icons/fontawesome/other. This is to help guarantee the icons scale on zoom in browsers like Safari. // @asubedy

[2022-11-23 22:50] leecalcote commented on #6357
@acald-creator @sudo-NithishKarthik @paularah you might have some feedback to offer here.

[2022-11-23 22:54] leecalcote commented on #6327
@kf-rammanokar thank you much for filing this issue. I suspect the issue that you're experiencing here is directly related to Meshery Server's support of ARM, which is a feature scheduled for the v0.7.0 release. --> https://github.com/meshery/meshery/issues/6308

[2022-11-23 22:56] leecalcote commented on #6373
@gr455 what's the good word here?

[2022-11-23 22:56] leecalcote commented on #6220
Done!

[2022-11-23 22:56] #6220 closed

[2022-11-23 22:57] leecalcote commented on #6554
Please link your PR.

[2022-11-23 23:06] leecalcote commented on #5993
@segunjkf that'd be great, yes.

[2022-11-23 23:08] leecalcote commented on #6056
@sivanaikk this is an item that you'll implement or should we close out the issue?

[2022-11-23 23:09] leecalcote commented on #6277
@Udit-takkar try hovering on each chip and examine the text included in the tooltips.

[2022-11-23 23:10] leecalcote commented on #6414
@Udit-takkar sounds great. 👍

[2022-11-23 23:11] leecalcote commented on #6330
@muhammadawaisshaikh how's this coming along?

[2022-11-23 23:11] leecalcote commented on #6143
@paularah this might be up you alley.

[2022-11-23 23:12] leecalcote commented on #5608
Fixed.

[2022-11-23 23:12] #5608 closed

[2022-11-23 23:13] leecalcote commented on #5850
I think this issue has been resolved, but it would be great if a contributor could verify.

[2022-11-24 00:01] leecalcote opened #6566 "[Event] Change Kubernetes component registration event information"
#### Current Behavior
When Meshery Server generates and registers components for a connected Kubernetes cluster, it subsequently sends an event for display in the Notification Center (see screenshot).

<img width="443" alt="Screenshot 2022-11-23 at 5 59 28 PM" src="https://user-images.githubusercontent.com/7570704/203665831-61568feb-ce7d-4183-b3af-125e1adfe558.png">

#### Desired Behavior
1. Send

[2022-11-24 03:54] #6235 closed

[2022-11-24 03:55] #5668 closed

[2022-11-24 03:55] #5968 closed

[2022-11-24 04:08] segunjkf commented on #5993
@leecalcote Golangci-lint, in my opinion, should have its own link workflow. I looked around and discovered it in the build-ui-and-server.yaml workflow.

[2022-11-24 10:04] nishantwrp commented on #5993
Hi, I'm not sure if this issue can be fixed until https://github.com/golangci/golangci-lint-action/issues/535 is fixed.

[2022-11-24 11:43] suhail34 commented on #6560
I think using @fortawesome/react-fontawesome as it has wide collection of svg icons according to this [blog](https://nextjsdev.com/svg-icons-libraries-that-you-can-use-in-reactjs-andnextjs-projects). I also tested it using lambdatest on safari browser too and it was working

[2022-11-24 12:37] rghdrizzle commented on #6566
Hey I would like to work on this . Can you tell me which file or folder does this issue exist in?

[2022-11-24 15:16] karnatisrinivas commented on #6566
Hello @leecalcote, I would like to work on this. (if this is unassigned)

[2022-11-24 16:51] Ebi27 commented on #6497
Please leave this particular issue to me. I'll keep trying until I get It.

[2022-11-24 17:06] acald-creator commented on #5993
I already have a branch working on the `golangci-lint` GitHub Actions workflow as well as trying out the different linting settings. I will submit a PR today.

As for the open issue, I haven't encountered this with Go 1.19, since we're not using Go 1.18

[2022-11-24 17:08] acald-creator commented on #5993
For your reference, here is my branch in progress. The only reason why I haven't submitted the PR yet because of the linting settings which will cause the workflow to instantly fail.

https://github.com/meshery/meshery/compare/master...acald-creator:meshery:enhance-golangci-lint

I am also working on a separate branch as well with just the workflow.

[2022-11-24 17:59] leecalcote commented on #6564
From Designs page:
<img width="1626" alt="Screenshot 2022-11-24 at 11 58 33 AM" src="https://user-images.githubusercontent.com/7570704/203844692-1116370d-09ef-4c3b-a7e3-344699993ece.png">

[2022-11-24 19:06] leecalcote opened #6568 "[CI] Pre-commit Hooks for some golang lint checks"
#### Current Behavior
Contributors occasionally need to
#### Desired Behavior

#### Implementation

#### Acceptance Tests

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for contributing to documentation](https

[2022-11-24 19:10] leecalcote commented on #6279
This would have been a good discussion item on today's Meshery CI meeting.

[2022-11-24 19:12] hershd23 commented on #6279
Hi @leecalcote had this figured out. Just needed details around the graphql APIs.

I'll hop on the next call. Would take me a little more time than usual due to my applications.

[2022-11-24 19:30] Revolyssup commented on #6568
@paularah  @segunjkf

[2022-11-24 19:31] Revolyssup commented on #6279
Adding this as a standing item in next call. Thank you for pointing out.

[2022-11-24 19:50] leecalcote opened #6569 "[UI] Designs: Change color of checkboxes on table column list"
#### Current Behavior
On the Designs page, this purple checkbox color should not be used:

<img width="468" alt="Screenshot 2022-11-24 at 1 48 43 PM" src="https://user-images.githubusercontent.com/7570704/203856042-eb5a7c54-e0b7-4637-8e1d-dc7caf0a92e3.png">

#### Desired Behavior
The color #3C494F should be used instead.

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing)

[2022-11-24 20:00] leecalcote commented on #6566
@rghdrizzle @karnatisrinivas I'll assign both of you, understanding that you might collaborate or that one of you might not be able to complete it.

Here, let me google that for you - https://github.com/meshery/meshery/blob/b72d8ee8d8a75d1865aa0b7b8af3a586f5c2810a/server/models/k8s_components_registration.go#L80

[2022-11-24 20:04] #6286 closed

[2022-11-24 21:38] #6216 closed

[2022-11-25 00:27] ashtonicci commented on #6569
Can I take a look at this? Thanks :)

[2022-11-25 05:46] #5915 closed

[2022-11-25 05:46] #6092 closed

[2022-11-25 05:46] #5862 closed

[2022-11-25 12:35] gr455 opened #6572 "Search filter lost during pagination"
#### Current Behavior

Entering a search term and switching pages loses the search filter.

#### Expected Behavior

The search filter should stay accross paginations

#### Screenshots/Logs

<img width="592" alt="screenshot_2022-11-24_at_2 20 51_pm" src="https://user-images.githubusercontent.com/53974118/203986695-2b885a57-2b44-4bca-9e99-531dbd3cc29c.png">

#### Environment

- **Host OS:** Mac Linu

[2022-11-25 13:36] leecalcote opened #6574 "[Server] Unexpected crash"
#### Current Behavior
[code]

#### Environment

- **Host OS:** Mac
- **Platform:** Kubernetes
- **Meshery Server Version:** latest
- **Meshery Client Version:** none
---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructio

[2022-11-25 13:42] leecalcote opened #6575 "[UI]4 03 Response from Google upon avatar retrieval"
#### Current Behavior

#### Desired Behavior

#### Screenshots/Logs

#### Environment

- Browser: Chrome Safari Firefox
- Host OS: Mac Linux Windows
- Meshery Server Version: stable-v
- Meshery Client Version: stable-v
- Platform: Docker Kubernetes

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)

- 🎨 Wireframes and

[2022-11-25 13:54] nishantwrp commented on #6575
@leecalcote https://github.com/meshery/meshery/pull/6571

[2022-11-25 14:46] leecalcote commented on #6574
@Revolyssup I'm unable to run Meshery Server.

[2022-11-25 16:41] leecalcote commented on #6574
Fixed in #6576

[2022-11-25 16:41] #6574 closed

[2022-11-25 17:59] #6575 closed

[2022-11-25 18:21] amit-62 commented on #6568
Hello @leecalcote and @Revolyssup  can I work on the issue? But I need little guidance.Thank you.

[2022-11-25 18:43] leecalcote commented on #6568
Here's an example - https://github.com/meshery/meshery/tree/leecalcote/go/pre-commit-gofmt

The considerations outlined in this discussion need to be considered, though - https://stackoverflow.com/questions/66228019/how-to-configure-git-hooks-for-all-developers

[2022-11-25 19:15] #5993 closed

[2022-11-26 14:29] debasishbsws commented on #6270
I wanna work on this. I have successfully build and run mesheryctl locally

[2022-11-26 22:07] leecalcote commented on #6270
@PratikforCoding @debasishbsws thanks for raising your hands. There are plenty of these issues to resolve. I'm assigning to both of you to address the good many commands that need UX improvement.

[2022-11-27 16:24] #6291 closed

[2022-11-27 16:24] #6332 closed

[2022-11-27 17:26] partik03 commented on #6569
@leecalcote Can I take up this one??

[2022-11-27 17:27] leecalcote commented on #6569
Oh, no. I missed @ashtonicci’s message above. Yes, this is still an issue and would be good for either of you to solve @partik03. Alice and both of you given that it is a small item and either one of the two of you can PR it.

[2022-11-28 09:20] segunjkf commented on #6568
@leecalcote. Although there are few things to discuss, I have added pre-commit hooks to the set-up. https://github.com/meshery/meshery/pull/6581

[2022-11-28 14:15] leecalcote commented on #6568
Excellent! 👀

[2022-11-28 18:34] leecalcote commented on #6566
@rghdrizzle @karnatisrinivas progress? Any help needed?

[2022-11-28 22:41] leecalcote commented on #6403
Is this still an issue?

[2022-11-28 22:45] leecalcote commented on #6332
I believe that this has been fixed already.

[2022-11-28 22:47] leecalcote commented on #6282
Fixed or no, @gr455?

[2022-11-29 02:11] acald-creator commented on #6309
Currently working on this.

I have a solution, but it is a little bit ugly. This will require refactoring in the near future, to enhance `meshkit` with more options to call for such as `Errorf` and others that `logrus` already has.

[2022-11-29 05:17] #4449 closed

[2022-11-29 05:18] leecalcote commented on #4938
@harkiratsm will you determine the validity of this issue?

[2022-11-29 05:18] leecalcote commented on #3919
Implemented by @MUzairS15

[2022-11-29 05:19] #3868 closed

[2022-11-29 05:19] #5101 closed

[2022-11-29 05:21] leecalcote commented on #6410
@Udit-takkar is fixing.

[2022-11-29 05:26] leecalcote commented on #6566
@rghdrizzle @karnatisrinivas not hearing back from you by end of day on Tuesday, let's unassign you so that other contributors can carry this forward.

[2022-11-29 05:28] leecalcote commented on #6424
@Harshit-Dandriyal @moki1202 progress?

[2022-11-29 05:28] leecalcote commented on #6443
@kumarvikramshahi where did we land on the approach to take?

[2022-11-29 05:29] leecalcote commented on #6445
Updating assignment.

[2022-11-29 05:31] #6280 closed

[2022-11-29 05:32] leecalcote commented on #6272
@devkapilbansal interested?

[2022-11-29 05:34] leecalcote commented on #6560
@suhail34 apologies for leading you astray in terms of the icons used. The project has shifted to direct use of SVGs now.

[2022-11-29 06:26] kumarvikramshahi commented on #6443
Hey @leecalcote  I'm on it, sorry for being late.

[2022-11-29 07:34] leecalcote commented on #6443
Thanks for confirming. If this one doesn’t work out for some reason, let’s get you want to another Meshery UI issue.

[2022-11-29 07:58] dipankardas011 commented on #6418
.

[2022-11-29 07:59] dipankardas011 commented on #6419
.

[2022-11-29 10:11] rghdrizzle commented on #6566
Hey @leecalcote sorry for not answering , I was having issues with running the server locally , anyways how do we reproduce that notification ?

[2022-11-29 13:11] leecalcote commented on #6566
@rghdrizzle connect Meshery to Kubernetes.

[2022-11-29 13:34] devkapilbansal commented on #6272
Sure @leecalcote
I will try to look into it by next week

[2022-11-29 13:58] #6553 closed

[2022-11-29 14:14] leecalcote commented on #6272
@devkapilbansal excellent. 🙂

[2022-11-29 17:44] suhail34 commented on #6560
So i need to use svgs now and no built-in libraries needed

[2022-11-29 18:09] leecalcote opened #6586 "[mesheryctl] UX Enhancement: `system config aks` should offer user-friendly message on failed attempt to connect to Meshery Server"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
Currently, the `mesheryctl system config [aks|eks|gke]` command response with the following message when Meshery Server is unavailable:
[code]

#### Desired Behavior
Ideally, we're using a central util function to control the interactions between mesheryctl and when Meshery Server, so

[2022-11-29 18:37] moki1202 commented on #6424
@leecalcote Took me a sweet amount of time just to replicate the error. However now that it's done, I've tested a simple "wrap the child components in <div> tag" and it seems to have fixed the issue. I can open a PR if allowed.

[2022-11-29 18:52] leecalcote opened #6587 "[Server] Remote Kubernetes Connection: Failure in Operator Deployment"
#### Current Behavior
Meshery Server crashes on click of toggle in Settings-->Environments page for a remote K8s cluster (in this case - AKS)

#### Screenshots/Logs
[code]

#### Environment

- **Host OS:** Mac
- **Platform:** Kubernetes
- **Meshery Server Version:** stable-v0.6.30-stable
- **Meshery Client Version:** stable-v0.6.30-stable

---
#### Contributor [Guides](https://docs.meshery.io/proj

[2022-11-29 18:54] acald-creator commented on #6586
I'm checking this out too on my end.

[2022-11-29 19:35] acald-creator commented on #6586
Before running the `meshery server`, I did receive the same error. But once I have the `server` running, I now got this error.

[code]

@leecalcote Are you getting the original error even while the server is running?

[2022-11-29 22:11] leecalcote commented on #6586
@acald-creator thanks for digging in here. After opening this I discovered that my issue is that I wasn't running Meshery Server. So, on one hand this is user-error, while on the other hand there is a need for a UX improvement in the error response given in this command.

Ideally, we're using a central util function to control the interactions between mesheryctl and when Meshery Server, so that a

[2022-11-29 22:39] leecalcote commented on #6560
@suhail34, yes, correct.

[2022-11-29 22:40] leecalcote commented on #6560
@suhail34, like this - https://github.com/meshery/meshery/pull/6578/files. In fact, we need all icons replace in this manner.

[2022-11-30 06:58] leecalcote commented on #6309
@jbyers19 fyi

[2022-11-30 12:46] rghdrizzle opened #6592 "Windows instructions to be added in contributing docs"
#### Current State
Since there are problems while running the application locally in windows by following the instructions mentioned in contribution guide , It would be helpful if there are instructions for setting up in windows  .

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)
- 📚 [Instructions for contributing to

[2022-11-30 14:00] #5771 closed

[2022-11-30 16:07] #6394 closed

[2022-11-30 20:03] chirag0002 commented on #6372
Is this issue still relevant??
If yes, I do like to work on this issue.