[2021-08-14 19:10] warunicorn19 commented on #3884
For sure! @guptapriyanshu7

[2021-08-14 19:12] DelusionalOptimist commented on #2711
@leecalcote @s1ntaxe770r Let's close this? Since we have https://github.com/meshery/meshery-smi-conformance-action now :trumpet: :trumpet: :trumpet:

[2021-08-14 19:33] Revolyssup commented on #3881
@utkarsh-pro  can you also share the config.yaml

[2021-08-15 02:53] leecalcote commented on #3881
+ amitech

[2021-08-15 02:54] leecalcote commented on #3881
\+ @ amitech

[2021-08-15 04:37] amitech commented on #3881
[code]

[2021-08-15 10:02] leecalcote commented on #3881
@metonymic-smokey fyi

[2021-08-15 11:59] metonymic-smokey commented on #3248
@leecalcote I think I am able to update with `stable-latest` with Kubernetes...

![image](https://user-images.githubusercontent.com/48997495/129477739-6f3426c5-93ec-4e06-ac55-b86018782e3e.png)

![image](https://user-images.githubusercontent.com/48997495/129477747-734890a9-711a-4401-8014-5fbb127054dc.png)

Is there something I missed while reproducing this issue?

[2021-08-15 14:03] sudo-NithishKarthik opened #3891 "[UI] Move the Performance tab in settings page to user preferences page"
#### Current Behavior
In settings page, we have a tab called _Performance_ which is supposed to set the default configs for load test for that particular user. It makes more sense for it to be in  user preferences page since the load test configs are specific to a user and not to a system.

<img width="1440" alt="Screenshot 2021-08-15 at 7 31 17 PM" src="https://user-images.githubusercontent.com/7

[2021-08-15 15:34] samir-asteria opened #3892 "[Meshey][helm] Updation of helm chart to auto install meshery sync"
#### Current Behavior

Helm chart is not able to install meshsync automatically

#### Expected Behavior

It should install the meshsync automatically

#### Screenshots/Logs

#### Environment
K8s _aks

- **Host OS:** Mac Linux Windows
- **Platform:** Docker or Kubernetes
- **Meshery Server Version:** stable-v
- **Meshery Client Version:** stable-v

---
#### Contributor [Guides](https://docs.meshery

[2021-08-15 15:35] #3892 closed

[2021-08-15 15:38] samirparhi-dev opened #3893 "[Meshey][helm] Updation of helm chart to auto install meshery sync"
#### Current Behavior

Helm is not able to install meshsync in k8s cluster

#### Expected Behavior

Helm should be able to install meshsync in k8s cluster

#### Screenshots/Logs

#### Environment
K8s_AKS

- **Host OS:** Mac Linux Windows
- **Platform:** Docker or Kubernetes
- **Meshery Server Version:** stable-v
- **Meshery Client Version:** stable-v

---
#### Contributor [Guides](https://docs.mes

[2021-08-15 15:47] iamsdas opened #3894 "[mesheryctl] failed to delete pattern"
#### Current Behavior

When trying to delete a pattern with a path of `./a.yml`, I am getting this error:
[code]
Link to the used pattern file: [a.yml](https://discuss.layer5.io/t/sample-service-mesh-pattern-files/115/4)
#### Desired Behavior

Successful deletion of pattern
#### Environment

- Host OS: Linux
- Meshery Server Version: edge-latest
- Meshery Client Version: v0.5.46
- Platform: Docker

[2021-08-15 16:12] iamsdas opened #3895 "[mesheryctl] editing pattern name causes panic when listing"
#### Current Behavior

If we edit the name of the  pattern file and save it, then running `mesheryctl pattern list` results in a panic.

* This only happens when the provider is set to `None`.
* Also the `created_at` is missing in the server response
 #### Desired Behavior

Patterns should be listed without any errors
#### Screenshots/Logs
Before and after editing pattern name:

![image](https://u

[2021-08-15 16:12] iamsdas commented on #3895
cc @utkarsh-pro

[2021-08-15 17:21] navendu-pottekkat opened #3896 "[mesheryctl] `system channel switch` does not change the tag in the Kubernetes manifests"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

`mesheryctl system channel switch` on Kubernetes platform only sets the channel in the meshconfig file and restarts the pods in the cluster.

Where as in Docker platform, the channel is updated in the running deployment.

#### Desired Behavior

`mesheryctl system channel switch` shoul

[2021-08-15 17:33] josephmidura commented on #3812
After I create the page, is it also necessary to update docs.meshery.io?

[2021-08-15 17:44] navendu-pottekkat opened #3897 "[mesheryctl] `system stop` fails for Kubernetes platform if the manifest files are not present"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

`system stop` throws an error that the manifest file is missing if the `.meshery/manifests` folder is missing the manifests and stops executing.

#### Desired Behavior

If the files are missing, then fetch the corresponding version of the manifests as specified in the meshconfig(`.mes

[2021-08-16 03:11] metonymic-smokey commented on #3795
@navendu-pottekkat so perform the check of the namespace for both platforms?

[2021-08-16 06:32] navendu-pottekkat commented on #3795
Yes and check for any existing pods as well. Even if the Meshery pod is deleted, check for the other pods.

[2021-08-16 07:26] leecalcote commented on #3795
Right - both stop and status need fixed.

[2021-08-16 08:14] afzal442 commented on #3812
Yes. We have to create a page e.g. how [Lifecyle management](https://docs.meshery.io/functionality/lifecycle-management) is created and described which is indirectly going to reflect docs.meshery.io.

You can take reference from [here](https://meshery.io/features) under configuration category what you want to deal with.

Let me know if that makes sense to you. Thanks

[2021-08-16 08:47] leecalcote commented on #3893
@kumarabd as @samirparhi-dev proceeds here, will you address the comments on this topic in Slack?

[2021-08-16 08:54] yagarwal1307 commented on #3891
I would like to give this issue a try if no one else is working on it.

[2021-08-16 08:55] sudo-NithishKarthik commented on #3891
Sure @yagarwal1307 !! go ahead 😄

[2021-08-16 08:58] leecalcote commented on #2949
@metonymic-smokey  will you verify if this is complete? I don't think that we have full token support yet.

[2021-08-16 08:58] #3701 closed

[2021-08-16 09:47] leecalcote commented on #3749
@Abhishek-kumar09 progress to report in today's meeting?

[2021-08-16 10:48] leecalcote commented on #3881
@samirparhi-dev, is this one that you might address?

[2021-08-16 10:52] samirparhi-dev commented on #3881
Yes , I will look into it.

[2021-08-16 11:22] utkarsh-pro commented on #3894
@iamsdas do you have "app" running in "test" namespace? Please attach output of `kubectl get deploy -n test`, it would be helpful to debug.

[2021-08-16 11:23] utkarsh-pro commented on #3895
cc @piyushsingariya

[2021-08-16 11:40] tangledbytes opened #3900 "[Filter] Request to persist additional filter metadata"
#### Current Behavior
Currently meshery persists only the following data about a filter.
1. Filter - WASM binary
2. Filter name

#### Desired Behavior
Meshery should probably be persisting addtional metadata regarding a filter other than storing the binary and its name. Proposal is to store the following data:
1. Workload selection metadata - An object workload labels (as key - value pairs)
The st

[2021-08-16 11:50] metonymic-smokey commented on #3881
Samir,
If you need some help with/someone to work on the mesheryctl part of it let
me know! This issue is pretty interesting.

On Mon, 16 Aug 2021, 16:22 Samir Parhi (समीर, ସମୀର), <
***@***.***> wrote:

[2021-08-16 11:54] samirparhi-dev commented on #3881
@metonymic-smokey : once i fix the service account issue , i will let you know to check it from `mctl` side. But I am glad that you jumped in :-)

[2021-08-16 11:57] iamsdas commented on #3894
That line results in a `No resources found in test namespace.`
After some more digging I noticed that this error only occurs when we have applied the same pattern multiple times and try to delete the pattern for the second time. The delete pattern works perfectly when deleting the first time but does nothing for the next attempts.

[2021-08-16 12:01] utkarsh-pro commented on #3894
@iamsdas patterns are idempotent and engine is smart enough to figure out that you are requesting the same resource more than once that's why even after applying same pattern again and again, instead of throwing error engine is updating the resource on your behalf. Hence your cluster has only **one** resource. After applying `delete` first time, that resource is deleted from the cluster hence subs

[2021-08-16 12:07] iamsdas commented on #3894
Okay so if I understand correctly, when we apply the same pattern multiple times it simply updates the original one. Then it should be a bug in `mesheryctl pattern list` which displays it multiple times (and keeps on displaying it even after the first deletion)?

[2021-08-16 12:13] nehaLohia27 commented on #3897
@navendu-pottekkat Please assign this to me

[2021-08-16 12:15] iamsdas commented on #3894
Thank you for the clarification @utkarsh-pro
Closing the issue as this was not a bug

[2021-08-16 12:15] #3894 closed

[2021-08-16 13:32] nehaLohia27 commented on #3897
@navendu-pottekkat  can you show the manifest version in the config.yaml. I am not able to see it in the config.yaml
Also can you tell which manifest file to check for not available , there are lot of manifests file available in the .meshery/manifests folder corresponding to different adapters..

[2021-08-16 14:08] navendu-pottekkat commented on #3897
The `channel` and `version` in the meshconfig is the version I mentioned in the issue. Basically `system start`pulls all the manifests from GitHub at a particular version and it will be stored in the `.meshery` folder. But for some reason it is removed, then mesheryctl cannot stop Meshery as the manifest files are not present. If the files are not present, then we should re-download them and delet

[2021-08-16 14:08] navendu-pottekkat commented on #3897
So, the manifest files would be all the manifest files that are applied during the `system start` operation, the Meshery + adapter manifests as well as the operator manifests.

[2021-08-16 14:30] suhaniii commented on #3895
@piyushsingariya  Can you paste API response here, where and when `created_at` was missing?

[2021-08-16 14:50] piyushsingariya commented on #3895
@iamsdas @suhaniii I checked with latest release, I don't know why but it's working fine!

[2021-08-16 14:52] iamsdas commented on #3895
@piyushsingariya its working for `meshery` provider, are you sure you tested it with `None`?

[2021-08-16 15:07] piyushsingariya commented on #3895
I checked for None provider! stable-latest.

[2021-08-16 15:08] piyushsingariya commented on #3768
go ahead @suhaniii

[2021-08-16 15:08] navendu-pottekkat commented on #3768
Yes, if you are tracking the other open issue, we can close this one out.

[2021-08-16 15:24] suhaniii commented on #3768
I am not aware about another

[2021-08-16 15:51] metonymic-smokey commented on #3897
@navendu-pottekkat In my cached manifests PR, I am checking for the presence of adapter and operator manifests. Maybe I could make that a separate function which Neha can then use here once that PR is merged?

[2021-08-16 16:03] navendu-pottekkat commented on #3768
This is a related and possibly same issue. You can tackle that as well. https://github.com/meshery/meshery/issues/3896

[2021-08-16 16:12] leecalcote commented on #3780
@Revolyssup alternatively, we can remove the calls to ValidateVersion, leaving them only for `mesheryctl version` and `mesheryctl system start`

[2021-08-16 16:13] leecalcote commented on #3780
I'm ok with your caching proposal as well. This setting can be added to the existing meshconfig as a global setting.

[2021-08-16 16:17] leecalcote commented on #3780
@Revolyssup while we're in there, let's have `mesheryctl` silently fail github.com requests, when user is working in an air-gapped environment. mesheryctl should used cached manifests to deploy in those cases.

// @metonymic-smokey @hexxdump

[2021-08-16 16:22] veerreshr commented on #3798
If none is working on this, could I work on this issue?

[2021-08-16 16:23] warunicorn19 commented on #3798
@veerreshr you can surely go ahead and try this out, I'm having a hard time to figure this out.

[2021-08-16 16:25] veerreshr commented on #2598
I feel this is related to some styling, could I work on this?

[2021-08-16 17:05] yagarwal1307 commented on #3862
anyone working on this issue or can I take it up?

[2021-08-16 17:14] warunicorn19 commented on #3862
Go ahead @yagarwal1307

[2021-08-16 18:01] Revolyssup commented on #3780
@leecalcote  should i create an issue for ensuring cached manifests in air gap deployments?

[2021-08-16 18:07] Revolyssup commented on #3896
@suhaniii  are you going to rewrite the restart function ?
@navendu-pottekkat  should @suhaniii first flatten the context as @metonymic-smokey  suggested so that restart function can be reused?

[2021-08-16 18:42] mgfeller commented on #3029
Time flies. Let's keep this open for now.

[2021-08-16 18:46] mgfeller commented on #3208
Hi @divyanshugit how is it going? Are you able to find some time to work on this issue? Much appreciated of course.

[2021-08-16 21:16] divyanshugit commented on #3208
Yes, But I had a confusion which I asked over Slack. Should I create a new page for meshkit error code utils as it has a lot of information and give a brief on the main architecture page?

[2021-08-16 23:49] jesus-lerma opened #3905 "[Docs] Spanish typo error in documentation"
#### Current State
Currenlty we have a typo in this website https://docs.meshery.io/es/installation#instalaci%C3%B3n-advanzada the title is incorrect: Instalación Advanzada

#### Desired State
Fix the typo. So that we need to replace Instalación Advanzada with Instalación Avanzada.
---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Relea

[2021-08-17 04:21] samirparhi-dev commented on #3881
@metonymic-smokey : Can you help me understand how the manifest is getting downloaded with `mesheryctl system start` command from the code perspective ?

[2021-08-17 05:22] metonymic-smokey commented on #3881
Hey Samir,
So for platform K8s, first `FetchManifests` is invoked. Based on the channel and version in the current context, `GetManifestTreeURL` is invoked and returns a manifests URL for that version, for manifests starting with `install/deployment_yamls/k8s`.
Then a manifests folder is created(`~/.meshery/manifests`).
Finally, `DownloadManifests` downloads manifest files into that folder for all

[2021-08-17 05:25] metonymic-smokey commented on #3881
@utkarsh-pro what difference did you find in the downloaded manifests and the ones on the master branch?

[2021-08-17 05:28] samirparhi-dev commented on #3881
@metonymic-smokey  :A per my testing , it is not downloading the `desired manifest` form the desired `channel` and `release`

[2021-08-17 05:30] metonymic-smokey commented on #3881
What is the difference you're observing?

[2021-08-17 05:53] sudo-NithishKarthik commented on #2598
Sure @veerreshr , go ahead 🚀

[2021-08-17 07:49] #3862 closed

[2021-08-17 08:12] #3891 closed

[2021-08-17 08:21] utkarsh-pro commented on #3881
@metonymic-smokey downloaded manifests doesn't have `serviceAccountName` in the pod spec of the deployments.

[2021-08-17 09:06] metonymic-smokey commented on #3881
Thanks!
https://raw.githubusercontent.com/meshery/meshery/master/install/deployment_yamls/k8s/meshery-deployment.yaml - this is where the manifests are downloaded. This has the `serviceAccountParameter` so I don't think the bug is in the downloading.

[2021-08-17 09:22] tangledbytes commented on #3881
@metonymic-smokey this is the meshery-deployment.yaml manifest that is present in my `~/.meshery/manifests` directory

[code]

This manifest **does not** have `serviceAccountName` while the link that you have pointed above does. This field is extremely crucial.

[2021-08-17 09:28] utkarsh-pro commented on #3881
@metonymic-smokey I believe this is where the bug is: https://github.com/meshery/meshery/blob/master/mesheryctl/pkg/utils/compose.go#L24

Instead of `serviceAccount` it should be `serviceAccountName`

What do you think?

[2021-08-17 09:38] metonymic-smokey commented on #3881
@utkarsh-pro got your point, thanks!
I put a `time.Sleep` in ChangingManifestVersion and interrupted it immediately after the download. This time, my manifest file has `serviceAccount` in the spec.
So I think it might have something to do with that.

[2021-08-17 09:40] metonymic-smokey commented on #3881
I think you narrowed down the cause correctly. Since the mapping does not match, that field is not parsed when unmarshalled and hence not written to the manifests.

[2021-08-17 09:45] metonymic-smokey commented on #3881
Just tried it locally, your fix works!

[2021-08-17 10:12] samirparhi-dev commented on #3881
Yes that is Correct `serviceAccount` it should be `serviceAccountName`

[2021-08-17 10:25] #3855 closed

[2021-08-17 12:19] leecalcote commented on #3881
Why is the manifest being changed after download?

Sleeping is nearly always not the right answer.

Is there an issue open to move away from manifests to helm?

[2021-08-17 12:35] utkarsh-pro commented on #3881
@leecalcote, @metonymic-smokey placed `time.Sleep` to debug the downloaded file. This allowed her to interrupt mesheryctl just after the downloading finished, I don't think this was proposed as a solution.

Manifest is being changed because container image names have version defined and these have to be changed as per the channel.

I don't think we have an issue open for that just yet.

[2021-08-17 12:42] leecalcote commented on #3881
Thank you much, @utkarsh-pro. Makes sense.

@metonymic-smokey One thing that I believe we have a bug lurking around is the undoing of channel subscriptions. If some is subscribed to "latest", their manifests need to reflect this "latest" subscription, and not be pinned to a version.

@metonymic-smokey will you kindly open an issue for transitioning to helm?

[2021-08-17 17:56] leecalcote opened #3910 "[UI] Unable to click "Settings" button in toaster notification"
#### Current Behavior

https://user-images.githubusercontent.com/7570704/129776659-254962c3-9eb3-47ef-9153-62a034a17b20.mov

#### Environment

- Browser: Chrome
- Host OS: Mac
- Meshery Server Version: stable-v0.5.47
- Platform: Kubernetes

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources

- 🎨 Wireframes and designs for Meshery UI in [Figma](https://www.fi

[2021-08-17 17:58] leecalcote commented on #3910
@NikhilSharma03 will you tackle this one?

[2021-08-17 18:01] leecalcote opened #3912 "[UI] Service Mesh Dashboard: Malformed Open Service Mesh name"
#### Current Behavior
<img width="545" alt="Screen Shot 2021-08-17 at 1 00 11 PM" src="https://user-images.githubusercontent.com/7570704/129777266-3c34c41d-f021-456c-b00e-dd66cd522149.png">

#### Desired Behavior
Should read "Open Service Mesh"

#### Environment

- Browser: Chrome
- Host OS: Mac
- Meshery Server Version: stable-v0.5.47

---

#### Contributor [Guides](https://docs.meshery.io/projec

[2021-08-17 18:26] sudo-NithishKarthik commented on #3566
Reopening as it is not fully resolved..

[2021-08-17 18:35] leecalcote opened #3914 "[UI] Ability to maximize the Application and Pattern Editor"
#### Current Behavior
Long pattern and application files are easier to edit when the user can maximize (and restore back to original modal size) the editor modal.

#### Implementation
1. choose one of the two matching sets of icons below (https://react-icons.github.io/react-icons/search?q=maxim)
1. place maximize/restore icon in upper right hand corner of modal

#### Acceptance Tests
1. When modal

[2021-08-17 19:08] mgfeller commented on #3208
Oh, I didn't see that, I took a Slack-vacation :smile:

Good question. Did you see this page: https://docs.meshery.io/project/contributing-error ? A lot of the details are there.

As a thought, a diagram in https://docs.meshery.io/concepts/architecture#architecture could summarize just the main points (somewhat graphically like the others), including depicting the flow implemented using CI from th

[2021-08-17 19:50] warunicorn19 commented on #3914
@leecalcote can i work on this?

[2021-08-17 20:33] Abhishek-kumar09 commented on #3749
Sure.

[2021-08-17 23:17] #3793 closed

[2021-08-17 23:20] #3905 closed

[2021-08-17 23:26] #3566 closed

[2021-08-18 02:40] NikhilSharma03 commented on #3910
Sure sir. On it :rocket:

[2021-08-18 05:53] sudo-NithishKarthik opened #3915 "[UI] Connection Wizard: Change adapter logos"
#### Current Behavior
In `Meshery Adapters` step, currently, we use the same icon for all adapters.

#### Desired Behavior
We should be using the respective logos for each service mesh adapter.

#### Implementation
Follow the same strategy used in `Dashboard` component to render service mesh icons based on the name of adapter. If an adapter is unknown, use Meshery logo instead.

#### Acceptance Te

[2021-08-18 06:01] sudo-NithishKarthik opened #3916 "[UI] Connection Wizard: Page layout shifts while hovering over carousel"
#### Current Behavior

https://user-images.githubusercontent.com/75248557/129845766-fa147736-4338-4db3-a9a5-ee86af27f6dd.mov

#### Desired Behavior
The shift in layout should not happen.

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources

- 🎨 Wireframes and designs for Meshery UI in [Figma](https://www.figma.com/file/SMP3zxOjZztdOLtgN4dS2W/Meshery-UI)
- 🖥 [Contr

[2021-08-18 06:09] sudo-NithishKarthik opened #3917 "[UI] Connection Wizard: Change Meshery logo color in slider"
#### Current Behavior
<img width="681" alt="Screen Shot 2021-08-17 at 10 35 46 PM" src="https://user-images.githubusercontent.com/75248557/129845961-705dd8dd-8f19-429f-afd2-9ed24ea4108f.png">

The teal colouring used for Meshery logo here does not look good.

#### Desired Behavior

The colour should be changed to ones in the [brand kit](layer5.io/brand)

#### Contributor [Guides](https://docs.mesh

[2021-08-18 06:10] leecalcote commented on #3914
@Meghana-12 @Abhishek-kumar09 ... any takers?

[2021-08-18 06:11] Chadha93 opened #3918 "[UI] "x" in the snack bar across the UI does not work."
#### Current Behavior
"x" in the snack bar across the UI does not work.

#### Desired Behavior
The "x" should close the the sncak bar.

#### Screenshots/Logs
<img width="498" alt="Screen Shot 2021-08-17 at 12 45 57 PM" src="https://user-images.githubusercontent.com/65453826/129846734-a6cb4869-77c8-4ae2-a3a6-c1e8ad4eefb4.png">

#### Environment

- Browser: Chrome Safari Firefox
- Host OS: Mac Linux

[2021-08-18 06:11] warunicorn19 commented on #3914
@leecalcote could I try this out?

[2021-08-18 06:19] Chadha93 opened #3919 "[UI] Update the user on "Token" expire"
#### Current Behavior
When tokens expire, we show things like “Unexpected error occurred” on the /performance page

#### Desired Behavior
The user needs to be informed that their token is expired and to log in again.

#### Screenshots/Logs
<img width="2520" alt="Screen Shot 2021-08-17 at 4 27 59 PM" src="https://user-images.githubusercontent.com/65453826/129847614-094dd5d2-7616-4413-95d1-591aefb14

[2021-08-18 06:25] sayantan1413 commented on #3917
hey @sudo-NithishKarthik can I give this a try ?

[2021-08-18 06:26] sudo-NithishKarthik commented on #3917
Sure @sayantan1413 🎉

[2021-08-18 06:28] Chadha93 commented on #3914
Here you go @warunicorn19 :+1:

[2021-08-18 07:08] Chadha93 opened #3920 "[UI] [Performance] Remove overlay of cards"
#### Current Behavior
In Meshery Performance, the cards are placed above another card.

#### Desired Behavior
Remove the overlay card and let's have the data on a single card itself.

#### Mockups
![WhatsApp Image 2021-08-18 at 12 36 15](https://user-images.githubusercontent.com/65453826/129853539-31df251f-edc6-4639-89a3-3b2e01626069.jpeg)

---

#### Contributor [Guides](https://docs.meshery.io/pr

[2021-08-18 07:33] warunicorn19 commented on #3914
Thanks @Chadha93

[2021-08-18 07:36] warunicorn19 commented on #3915
@sudo-NithishKarthik taking on this issue😃

[2021-08-18 08:18] sudo-NithishKarthik commented on #3915
Its all yours 🚀

[2021-08-18 08:21] mani9896 commented on #3920
@warunicorn19 Hey can i work on this issue ? new contributor here

[2021-08-18 08:22] sayantan1413 commented on #3920
Yup sure @mani9896 go ahead 🎉🚀

[2021-08-18 09:42] #3570 closed

[2021-08-18 11:20] yagarwal1307 commented on #3916
I can pick this up if no one's working on this

[2021-08-18 11:21] yagarwal1307 commented on #3919
if no one's working on this one I can pick it up.

[2021-08-18 11:22] sayantan1413 commented on #3916
Yeah sure @yagarwal1307 go ahead!

[2021-08-18 11:23] sayantan1413 commented on #3919
Yeah sure @yagarwal1307 go ahead!

[2021-08-18 14:19] #3492 closed

[2021-08-18 16:14] Shreyas220 opened #3929 "[mesheryctl] add the ability to delete the filter from server"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Desired Behavior

`mesheryctl filter delete` should be able to delete the filter from the server

---

#### Contributor Resources

- ⌨️ [mesheryctl Contributing Guide](https://github.com/meshery/meshery/blob/master/mesheryctl/README.md)
- [Beginner's guide to contributing to Meshery and mesheryctl](htt

[2021-08-18 16:17] leecalcote commented on #3929
FYI - Current API reference - https://docs.meshery.io/reference/rest-apis#api-experimental-filter-get-handle-get-request-for-all-filters

[2021-08-18 17:16] warunicorn19 opened #3930 "[UI][Connection Wizard] Adapter card coincides with wrong adapter chip"
#### Current Behavior
In the meshery adapters menu, the adapter on the cards coincide with wrong adapter chips.

#### Desired Behavior
The scroll should be set in such a way that the adapter on the card and chip are the same.

#### Screenshots/Logs

https://user-images.githubusercontent.com/53532328/129942798-4612954d-842a-49f1-b48e-10034ff0821c.mov

#### Environment

- Browser: Chrome, Safari
- H

[2021-08-18 18:31] #3910 closed

[2021-08-18 18:36] Chadha93 opened #3931 "[Server] Meshery user token gets expired after some time"
#### Current Behavior
Meshery user token gets expired after some time

#### Expected Behavior
Increase the lifespan of the token or remove the limit.

#### Screenshots/Logs
@sudo-NithishKarthik would you please update with the ss of code snippet(having time span of token) here(that you shared in slack)?

#### Environment

- **Host OS:** Mac Linux Windows
- **Platform:** Docker or Kubernetes
- **Me

[2021-08-18 18:41] Chadha93 commented on #3918
closing this issue wrt https://github.com/meshery/meshery/pull/3923

[2021-08-18 18:41] #3918 closed

[2021-08-18 19:00] #3826 closed

[2021-08-18 19:11] leecalcote opened #3932 "[Server] Multi-cluster Kubernetes: Contexts as system resources"
### Current Behavior
Contexts are treated as:
1. a single collection sourced from a single kubeconfig
1. being owned by a given user

### Desired Behavior
Contexts should be treated as:
1. individual resources
1. a system-wide setting, owned by a user, available to all.

See slide 10 of the Meshery Architecture deck for context.

### Implementation
1. Hash a combination of the server and cert data

[2021-08-18 19:19] leecalcote opened #3933 "[Docs] Add concepts of static and dynamic boards to Metrics in Meshery page"
#### Current State
Concepts discussed in the Wed. August, 18th, 2021 Meshery Development Meeting, pictorially described in the Meshery Architecture deck, and described in a google doc in the community drive on the subject of static and dynamic boards for the collection of metrics from Prometheus are missing in Meshery docs.

#### Desired State
Publish these resources here - https://docs.meshery.io

[2021-08-18 20:54] leecalcote opened #3934 "[Workflow] Integration of Workflow Engine"
#### Current Behavior
Meshery has a built-in patterns engine, capable of building DAGs.

#### Desired Behavior
Meshery will benefit from integration of a robust and dedicated workflow engine.

This issue is an epic.

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚

[2021-08-18 23:52] leecalcote opened #3935 "[UI] Capture and Handle Expired Token"
#### Current Behavior
Users with expired tokens will see the following on the performance management page:

<img width="444" alt="Screen Shot 2021-08-18 at 6 49 50 PM" src="https://user-images.githubusercontent.com/7570704/129986368-885831d6-108f-436a-b7be-65e39c5fb47a.png">

#### Desired Behavior
Irrespective of the page, users should universally see the same message - a modal informing the user

[2021-08-19 00:34] leecalcote opened #3936 "[UI] User Prefs: Only display remote provider tab when user signs into a remote provider."
#### Current Behavior

This screenshot is of a user using the Local Provider (None). They should not see the Remote Provider tab.
<img width="1550" alt="Screen Shot 2021-08-18 at 7 30 22 PM" src="https://user-images.githubusercontent.com/7570704/129989268-e3caa15f-5c59-451c-a419-ae4d9e0b3c8d.png">

The labels on the tabs should be responsive and should not be cut off.

<img width="1186" alt="Scree

[2021-08-19 00:48] leecalcote opened #3937 "[UI] Settings: Metrics tab broken in v0.5.48"
#### Current Behavior
http://localhost:9081/settings#metrics displays:

<img width="1729" alt="Screen Shot 2021-08-18 at 7 48 10 PM" src="https://user-images.githubusercontent.com/7570704/129990334-f665f26a-60db-4e70-afbf-2afc6e4c82b4.png">

#### Environment

- Browser: Safari
- Host OS: Mac
- Meshery Server Version: stable-v0.5.48

---

#### Contributor [Guides](https://docs.meshery.io/project/co

[2021-08-19 00:49] leecalcote commented on #3937
@yagarwal1307 @sudo-NithishKarthik this is an urgent item.

[2021-08-19 00:50] leecalcote commented on #3936
@yagarwal1307 heads-up

[2021-08-19 03:06] #3937 closed

[2021-08-19 06:39] sudo-NithishKarthik commented on #3931
@Chadha93 , i am not sure if that's the cause.
@dhruv0000 , what do you think ?

[2021-08-19 07:13] yagarwal1307 commented on #3936
sure @leecalcote. onto it!

[2021-08-19 07:15] yagarwal1307 commented on #3919
I am stuck on this issue because I could not reproduce the error!

[2021-08-19 07:18] yagarwal1307 commented on #3916
In this issue it seems that I would have to set up grafana, kubernetes etc, which I dont have much idea of so far tbh and haven't even set them up. I couldn't even find a way to do it without them. So if someone can suggest a way to do it, that would be nice. Otherwise I think someone else who has set them up and has some idea about them would be able to solve the issue faster and therefore I woul

[2021-08-19 07:25] sudo-NithishKarthik commented on #3916
@yagarwal1307 , i think your problem is that you are not able to go to the 3rd step, is that right ?

[2021-08-19 07:27] yagarwal1307 commented on #3935
@leecalcote isn't this issue the same as #3919 ?

[2021-08-19 07:34] yagarwal1307 commented on #3916
@sudo-NithishKarthik yes. But if you are going to suggest enabling the next button just to fix the issue I guess I would still need to setup grafana to get that chip hovering on which is causing the issue.
If you have some other suggestion or if I am wrong somewhere thoughts are welcome!

[2021-08-19 07:38] sudo-NithishKarthik commented on #3916
This issue is purely related to UI, doesn't matter if you have Grafana set up or not, you can just alter the code to make it display the chip, and debug.

[2021-08-19 07:42] yagarwal1307 commented on #3916
hmmmm. Makes sense! Let me try doing it that way then! As I said if someone had grafana etc setup then he wouldnt have to make all those unnecessary ui changes and therefore I was saving myself from some extra efforts! XD But still let me try doing it that way!

[2021-08-19 07:44] sudo-NithishKarthik commented on #3916
Ahh, sure, it's up to you ✌🏽

[2021-08-19 08:44] warunicorn19 opened #3939 "[Docs] Kuma error codes not getting generated in docs and wrong heading in linkerd"
#### Current State
Kuma Error codes are not being generated in the docs. And the headings of linkerd are wrong.

#### Desired State
Error Codes should get generated in docs and heading should be corrected.

<img width="964" alt="Screenshot 2021-08-19 at 2 10 23 PM" src="https://user-images.githubusercontent.com/53532328/130037868-02a4bdd4-2a0f-4d9b-b7e7-052b9ec03f51.png">

---

#### Contributor [G

[2021-08-19 09:08] Krishna-Koustub opened #3940 "[UI] Visual distinction in Meshery’s menu ."
#### Current Behavior
1. The current behavior of the meshery menu is lacking the distinction between the main topics and the sub topics present in the menu

2.  There is "indentation issue "with respect to the menu when it changes after life cycle .

3. When it comes to background of the sub topics below configuration, it can be of a lighter shade as the others are of the same.

![Screenshot (137)

[2021-08-19 09:21] warunicorn19 commented on #3940
@Krishna-Koustub are you going to look into this one?

[2021-08-19 11:30] amitech commented on #2957
Update: I am done with local meshery setup. Now I will start working on it.

[2021-08-19 12:02] #3048 closed

[2021-08-19 12:59] #3759 closed

[2021-08-19 13:23] yagarwal1307 commented on #3931
I can pick this issue if no one is working on it!

[2021-08-19 13:33] warunicorn19 commented on #3931
Go for it @yagarwal1307

[2021-08-19 13:57] leecalcote commented on #132
@ldemailly thank you for this. Can you help clarify a few details about fortio's gRPC load generation capabilities? Is this a gRPC Ping only? What possible configurations might be supplied to these load tests?

[2021-08-19 15:22] suhaniii commented on #3933
@leecalcote Do we need to attach sequence diagram from slides to doc as well?

[2021-08-19 16:21] #3407 closed

[2021-08-19 16:22] #3016 closed

[2021-08-19 22:36] leecalcote commented on #3933
@suhaniii, yes, that would be nice. File-->Download-->SVG would be great.

[2021-08-20 04:15] ShivamTyagi12345 commented on #3884
Can I help with this🙂. I am a beginner and I see all other issues taken up already

[2021-08-20 04:46] warunicorn19 commented on #3884
Go for it @ShivamTyagi12345

[2021-08-20 07:35] alphaX86 commented on #2931
I'd like to get an idea for this issue... Seems an intriguing one to take on! :)

[2021-08-20 07:37] warunicorn19 commented on #2931
Wait, you want to work on this right😅😅?

[2021-08-20 07:38] alphaX86 commented on #2931
Whoa @warunicorn19 I'm asking for ideas! xD since this is a part of upcoming LFX, I'm unassigning and asking for doubts before proceeding

[2021-08-20 07:39] alphaX86 commented on #2931
Not yet! I want to know scope first and with permission from @leecalcote then only I would proceed

[2021-08-20 07:40] warunicorn19 commented on #2931
Oops, sorry @alphaX86 😅

[2021-08-20 09:42] Meghana-12 commented on #3940
Hi, I just wanted to know, Rn we only show it when hovered, right? Is there a reason for not showing the dropdown arrow in general?

[2021-08-20 09:46] warunicorn19 commented on #3940
@Meghana-12 i dont think theres any particular reason🤔, but right now i think we're going to remove the dropdown arrow and make it extend when hovered on.

[2021-08-20 10:04] Meghana-12 commented on #3940
It'll be better if the user knows if there are subdivisions or no right?
something like in google drive:
![Screenshot 2021-08-20 at 3 27 22 PM](https://user-images.githubusercontent.com/44519203/130216691-b6ab00ce-4bdd-49ee-8d95-7d7a7650ae8d.png)

Oh, how does it work when there's complex nesting?

[2021-08-20 10:07] warunicorn19 commented on #3940
That's something we could discuss in today's community call, why dont you put down in agenda today.

[2021-08-20 10:08] Meghana-12 commented on #3940
Sure, will do that! :D

[2021-08-20 13:47] #3936 closed

[2021-08-20 13:53] veerreshr commented on #2598
Hey I can't replicate this issue in my machine , I tried with firefox and brave. Could someone confirm if this happens with safari?

[2021-08-20 13:57] yagarwal1307 opened #3945 "[UI] User Prefs: Show some loader while remote provider tab fetches data"
#### Current Behavior
Currently while the remote provider tab fetches data nothing is rendered on the screen for that tab and causes a kind of blank screen for some time before the data is fetched and the component re rendered.

#### Desired Behavior
Before the data is fetched instead of rendering an empty screen show some kind of loader or placeholder.

#### Screenshots/Logs
Please refer to the f

[2021-08-20 19:34] CIPHERTron commented on #2931
+1 to @alphaX86

[2021-08-21 06:46] sudo-NithishKarthik commented on #3860
@ishitakeshawani , do you have any updates on this ?

[2021-08-21 06:51] ishitakeshawani commented on #3860
I will do it by tonight. Sorry for the delay.

[2021-08-21 06:52] sudo-NithishKarthik commented on #3860
No issues, @ishitakeshawani , just wanted to know if you were facing any blockers ✌🏽

[2021-08-21 07:07] sudo-NithishKarthik commented on #2598
Yes @veerreshr , it happens only with safari.

[2021-08-21 07:49] divyanshugit commented on #3208
I thought, at first I will just give a short summary about meshkit and make a table for more information

[2021-08-21 08:48] Meghana-12 opened #3946 "[Docs] Add dropdown arrows in docs Sidebar Menu"
#### Current State
I think it'd be better to add dropdown arrows for Sidebar in https://docs.meshery.io/ too, like the one discussed for [ this issue](https://github.com/meshery/meshery/issues/3940). It's not clear which Menu items have submenus and which ones do not.
![Screenshot 2021-08-21 at 1 50 41 PM](https://user-images.githubusercontent.com/44519203/130315702-b114d964-b39a-4d09-a3d1-d2cce26

[2021-08-21 09:51] sudo-NithishKarthik opened #3947 "[UI] Change dev server port"
#### Current Behavior
Currently, Meshery UI dev server listens on `localhost:3000`. When a contributor wants to setup Grafana, which also listens on `localhost:3000`, he will get an error saying that the port is busy.

#### Desired Behavior
We need to change the Meshery UI dev server port to something else, like `:3081` or something, so that, it doesn't clash with anything else.

---

#### Contrib

[2021-08-21 12:37] MarcaWitt commented on #3934
@leecalcote I would like apply for this project under the LFX . I have read the previous comments and the requirements you mentioned. Looking forward to it.

[2021-08-21 12:45] sayantan1413 commented on #3917
Hey @sudo-NithishKarthik I think this issue is already fixed.

[2021-08-21 13:26] wisdomekpotu commented on #3934
hey @leecalcote, My name is Wisdom Ekpotu, I am a Third Year Computer Engineering Student from the University of Uyo, Nigeria. I saw this project in the LFX mentorship fall 2021 and I thought this project had some parallels with my skills. I would love to contribute to this project and I'm open to learning any new technologies required for the project.
Also, I just joined the official Slack channe

[2021-08-21 13:35] wisdomekpotu commented on #3934
Also @leecalcote, i just noticed that the link to the Wireframes and designs for Meshery UI in Figma is not found
![image](https://user-images.githubusercontent.com/58194343/130323462-c2857206-1568-48bb-9e03-97e5cfea0549.png)

[2021-08-21 13:52] NikhilSharma03 commented on #3946
Can I work on this?

[2021-08-21 13:54] warunicorn19 commented on #3946
Sure @NikhilSharma03, that would be great! just to be clear we only want a dropdown arrow for `Contributing`, none of the others have a dropdown if I'm not wrong, please do check though😅.

[2021-08-21 13:57] NikhilSharma03 commented on #3946
@warunicorn19 Just to get a clear understanding. The dropdown arrow is only needed at the `Contributing` tag i.e.

![Screenshot from 2021-08-21 19-25-57](https://user-images.githubusercontent.com/58226527/130324025-ad84ee96-f478-4f7a-a30c-7283b1a7add7.png)

[2021-08-21 13:59] warunicorn19 commented on #3946
Yes. The others don't have a drop down, right?

[2021-08-21 13:59] warunicorn19 commented on #3946
Also, let's go with a really tiny chevron so that it's doesn't mess with the design.

[2021-08-21 14:01] NikhilSharma03 commented on #3946
Oh, so the functionality is already in place. only the icon is needed right? Then I think it would be better to let a new contributor take this opportunity.

[2021-08-21 14:09] wisdomekpotu commented on #3934
OR i guess i dont have permissions

[2021-08-21 14:12] alphaX86 commented on #3934
@wisdomekpotu if you're new to the community, then join us on Slack (slack.meshery.io) signal us, we'll provide a form for Newcomers and then we'd provide access to the files

[2021-08-21 14:20] MarcaWitt commented on #3934
@alphaX86 19 years old you‘re cool.  I'm 21 years old,It's nice to meet.

[2021-08-21 14:26] wisdomekpotu commented on #3934
@alphaX86 okay got it

[2021-08-21 14:37] warunicorn19 commented on #3462
@AnshMishra2001 any updates on this?

[2021-08-21 14:38] warunicorn19 commented on #3462
@navendu-pottekkat has this already been fixed?

[2021-08-21 14:51] sudo-NithishKarthik commented on #3917
This occurs only in Safari @sayantan1413

[2021-08-21 14:57] navendu-pottekkat commented on #3462
@warunicorn19 I am not entirely sure, could you try replicating the issue as mentioned in the description?

[2021-08-21 15:00] warunicorn19 commented on #3462
@navendu-pottekkat I have tried but not being to replicate this🤔.

[2021-08-21 15:00] warunicorn19 commented on #3462
@leecalcote does this still persist?

[2021-08-21 15:32] harshit-dxt commented on #3946
I would love to work on this. Current Progress: I got my repository setup, looking through the code base now.

[2021-08-21 15:35] warunicorn19 commented on #3946
That great! Here you go @harshit-dxt

[2021-08-21 15:37] warunicorn19 commented on #3946
@harshit-dxt might want to go through the [contributing to docs](https://docs.meshery.io/project/contributing-docs), to set up your environment

[2021-08-21 18:45] Abhishek-kumar09 opened #3951 "[UI] Dashboard showing false connection information"
#### Current Behavior

The Meshery dashboard is depicting that it has been connected to Minikube, service Mesh and Grafana etc on the startup which is due to cache stored by previous sessions, totally OK, but once the user clicks to ping the connection and the response is something like that the services are not connected then those connections should be refreshed and true information should be vi

[2021-08-21 19:20] CIPHERTron opened #3952 "[chore] Proposal to setup Prettier as code formatter"
Currently, this codebase is using ES Lint for both linting & code formatting but people tend to use separate tools for these two jobs i.e. ES Lint for code listing & managing errors & Prettier for code formatting.

Prettier is a tool that automatically makes your code more readable and consistent with your project's style guide. It integrates with your editor, so your code is tidied up every time

[2021-08-22 07:43] #2961 closed

[2021-08-22 08:36] bariqhibat opened #3955 "[UI] Make the pod name and pod version in Control Plane Dashboard "pretty""
#### Current Behavior

The name of the control plane pods are not really pleasant. For example, `grafana-79adasdasd-aseasda`.
![image](https://user-images.githubusercontent.com/54849895/130347943-c41aa86f-bb5c-403c-8e29-1a13e12588de.png)

Some pod has "v" in front of its versions. Refer to pic above for non-"v" versioning pods.
![image](https://user-images.githubusercontent.com/54849895/130348003-

[2021-08-22 08:37] bariqhibat commented on #3955
Do you think this is needed? @sudo-NithishKarthik
I've already created the functions if it is.

[2021-08-22 08:47] warunicorn19 commented on #3955
Hey @bariqhibat, if you're ready with it can you put in a PR for it, then we could have a look.

[2021-08-22 08:49] bariqhibat commented on #3955
Sure, just added it.

[2021-08-22 09:22] sudo-NithishKarthik commented on #3955
So, here are my thoughts, we can

1. Display the information as it is
2. Prettify the information and display

In either of those cases, we should make it clear for the user what he is seeing, for instance, if we display it as it is, we should change the title to `Control Plane Pod Name` assuming we are showing the pod names, or, if we display the prettified data, we should make it clear by using

[2021-08-22 09:32] warunicorn19 commented on #3955
I sort of think that the 'v' looks nice, I get that it might be redundant by the fact that it's under a "version" column.

[2021-08-22 09:33] warunicorn19 commented on #3955
The rest i do agree with nithish

[2021-08-22 10:21] bariqhibat commented on #3955
@warunicorn19 @sudo-NithishKarthik yeah that makes sense. Now, the question is, what view is the best for user to switch between the "detailed" and "prettied" version of the pod name? I personally think the default naming would be the "prettied" version, and if the user is more to the dev side, he can switch to the more nerdy naming.

[2021-08-22 10:32] warunicorn19 commented on #3955
But it could go the other way around too🤔, like if the user needs the named to be prettied, then they can change it then. Something to think about ig.

[2021-08-22 10:42] sayantan1413 commented on #3955
Yeah @bariqhibat I have a +1 with you.

[2021-08-22 11:09] sudo-NithishKarthik commented on #3955
Ok, let's discuss about this in any of the upcoming meetings then...

[2021-08-22 11:15] warunicorn19 commented on #3955
Yup, meshery development call would be perfect.

[2021-08-22 11:55] #3792 closed

[2021-08-22 12:00] sudo-NithishKarthik opened #3957 "[UI] Safari icons scaling issue"
#### Current Behavior
Icons that we use in Meshery UI does not scale well with Safari.
Look at [#1146](https://github.com/meshery/meshery/issues/1146) for more clarity.

#### Desired Behavior
Icons should be scaling well with safari on Zoom in/out.

#### Implementation
This is already being fixed for the header icons in [#2934](https://github.com/meshery/meshery/pull/2934) , the same has to be don

[2021-08-22 12:34] mgfeller commented on #3208
Ok, looking forward to this, and the way you'll present the role of the error code utility, how it is used in CI/CD to get the error info from the components to the docs, and why, which I think is important IMHO.

[2021-08-22 12:40] ishitakeshawani commented on #3860
Do I need to add the badge to the header or inside the card near the name eg. application? @sudo-NithishKarthik
![Screenshot from 2021-08-22 18-06-10](https://user-images.githubusercontent.com/50510726/130355478-d8b24f21-d891-4db7-a82d-7371a974651e.png)

[2021-08-22 12:42] sudo-NithishKarthik commented on #3860
In this case, `Applications` page itself is a beta feature, so, the one is screenshot looks fine

[2021-08-22 12:43] sudo-NithishKarthik commented on #3860
But, can you try adding some colour, white doesn't look nice...

[2021-08-22 12:45] ishitakeshawani commented on #3860
yes, I will change it. I kept white to show it in screenshots, to ask questions.

[2021-08-22 12:46] warunicorn19 commented on #3860
Also @ishitakeshawani please give a specific height and width to the beta icon so that it scales on safari.

[2021-08-22 12:49] ishitakeshawani commented on #3860
Ok, I will.

[2021-08-22 15:37] metonymic-smokey commented on #3897
@nehaLohia27  another of my PRs depends on this issue being fixed.
It would be super helpful if you could fix this issue!
Thanks!

[2021-08-22 17:33] josephmidura commented on #3812
The information you gave makes sense, but I'll rephrase my original question: Does created the configuration management page for Meshery update docs.meshery.io as a result, or does that need to be updated separately?

[2021-08-22 18:03] afzal442 commented on #3812
// @leecalcote plz?

[2021-08-22 18:14] josephmidura commented on #3812
Actually, it looks like the preview for my commit in the pull request I linked answers my question. The page "docs.meshery.io" updated as a result of the configuration management page I created.

[2021-08-22 22:09] s1ntaxe770r commented on #2711
agreed

[2021-08-23 03:17] nehaLohia27 commented on #3897
Sure @metonymic-smokey Will fix this issue.

[2021-08-23 04:11] metonymic-smokey commented on #3881
@leecalcote #3291 is an open issue about transition to Helm.

[2021-08-23 07:08] nathanawmk opened #3961 "Can Meshery replace my current istio and linkerd?"
Can Meshery replace my current istio and linkerd?

[2021-08-23 10:28] #2711 closed

[2021-08-23 12:14] #3291 closed

[2021-08-23 12:45] MarcaWitt commented on #2931
@wonderflow I would like apply for this project under the LFX . I have read the previous comments and the requirements you mentioned. Looking forward to it.

[2021-08-23 14:27] #3916 closed

[2021-08-23 15:32] warunicorn19 opened #3962 "[UI][Connection Wizard] Stop metrics window from resizing"
#### Current Behavior
The metrics window in the connection wizard resizes on changing from Prometheus to Grafana.

#### Desired Behavior
Well, It shouldn't

#### Screenshots/Logs

https://user-images.githubusercontent.com/53532328/130474936-3b11c03a-a4fd-414a-a26c-bf885de3ba28.mov

#### Environment

- Browser: Chrome Safari
- Host OS: Mac
- Meshery Server Version: stable
- Meshery Client Version:

[2021-08-23 15:33] #3745 closed

[2021-08-23 15:33] leecalcote commented on #3747
Due by Monday, August 30th.

[2021-08-23 15:33] leecalcote commented on #3746
Due by Monday, August 30th.

[2021-08-23 20:51] #3939 closed

[2021-08-23 20:56] warunicorn19 opened #3966 "[DOCS] Error codes in docs show up in random order"
**Description**
The order of the error codes in docs.meshery.io seems to be different every time.

**Expected Behavior**
The order should remain the same.

<img width="336" alt="Screenshot 2021-08-21 at 7 17 01 PM" src="https://user-images.githubusercontent.com/64970095/130323796-9fcc8f8e-0d9d-4866-b883-2394e27dd67b.png">
Hey @leecalcote would it be a problem if this is not maintaining a proper or

[2021-08-24 01:28] Aisuko commented on #3035
Remove stale label

[2021-08-24 02:48] bariqhibat commented on #3912
Fixed at [PR](https://github.com/meshery/meshery/pull/3922)

[2021-08-24 02:48] #3912 closed

[2021-08-24 05:42] #3962 closed

[2021-08-24 13:32] navendu-pottekkat opened #3967 "[mesheryctl] default token location displayed twice"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

The default location of the config string is shown twice under the "Global Flags".
![Screenshot 2021-08-24 at 6 58 43 PM](https://user-images.githubusercontent.com/49474499/130625162-35597221-2b12-4c01-9ede-fbd18119fd73.png)

#### Desired Behavior

Show it only once using Cobra's inbu

[2021-08-24 13:43] leecalcote opened #3968 "[UI] App Theme"
#### Current Behavior
The Meshery UI doesn't have a consistent, central style theme defined. This theme should include brand colors and typography.

#### Implementation
- Use the brand colors and typography that are defined in the "Meshery UI" Figma designfile on the "DL:Styleguide" page - https://www.figma.com/file/SMP3zxOjZztdOLtgN4dS2W/?node-id=65%3A5

#### Acceptance Tests
1. Font units should

[2021-08-24 13:50] afzal442 commented on #3967
hey there, I want to give it a try.

[2021-08-24 13:51] warunicorn19 commented on #3967
Go ahead @afzal442

[2021-08-24 14:23] navendu-pottekkat opened #3969 "[mesheryctl] Unhelpful error when token is missing"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

Running `mesheryctl perf list` without a token in `.meshery` folder throws this error:

![Screenshot 2021-08-24 at 7 35 31 PM](https://user-images.githubusercontent.com/49474499/130631480-13b0be3b-76c0-4a2d-bc7e-3db77850f3ee.png)

#### Desired Behavior

This error is not helpful as it

[2021-08-24 14:29] sayantan1413 commented on #3969
Hey @navendu-pottekkat I want to give it a try !

[2021-08-24 14:36] navendu-pottekkat opened #3970 "[Docs] Missing docs for `mesheryctl system login` and `mesheryctl system logout`"
#### Current State

`mesheryctl system login` and `mesheryctl system logout` commands are missing entries in [Command Reference](https://docs.meshery.io/reference/mesheryctl) and individual pages as for other commands in the table.

#### Desired State

1. Add these commands to the docs.
2. Update these commands in the [mesheryctl Command Tracker](https://docs.google.com/spreadsheets/d/1q63sIGAuCnI

[2021-08-24 14:39] warunicorn19 commented on #3970
@navendu-pottekkat working on it😃.

[2021-08-24 14:41] navendu-pottekkat commented on #3969
🚀  Too Fast, Too Furious, Too Bawse!

[2021-08-24 14:44] navendu-pottekkat commented on #3970
@warunicorn19 Could you also add a guide with all the ways to authenticate mesheryctl? All the ways to get the token, where the token is fetched, why there is a need for authentication.

This is to be added to https://docs.meshery.io/guides#meshery-cli

Please track it with this issue as well.

[2021-08-24 14:45] warunicorn19 commented on #3970
@navendu-pottekkat sure!

[2021-08-24 15:27] navendu-pottekkat opened #3971 "[mesheryctl][docs] `mesheryctl perf`UX improvements with context specific help"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Desired Behavior

1. While running `perf --help`

- [ ] Change `Performance Management & Benchmarking using Meshery CLI.` to `Performance Management & Benchmarking.`

- [ ] Remove the unnecessary indent in the examples:

![Screenshot 2021-08-24 at 8 17 10 PM](https://user-images.githubusercontent.com/4

[2021-08-24 15:30] navendu-pottekkat commented on #3971
@piyushsingariya As you work on this, another important thing to consider that is not explicitly mentioned is to be consistent with the inbuilt CLI docs. Make sure that we are consistent in how we give examples, show usage, show flag description, the language used, capitalisation etc.

These are small items but it contributes significantly to the user experience.

[2021-08-24 15:36] navendu-pottekkat opened #3972 "[Docs] Create "Performance Management with Meshery" guide"
#### Current State
Users lack a holistic guide to use the performance management capabilities in Meshery.

This could be managed through the [UI](https://docs.meshery.io/guides/interpreting-performance-test-results), [CLI](https://docs.meshery.io/reference/mesheryctl/perf) and [GitHub Action](https://github.com/layer5io/meshery-smp-action).

#### Desired State
Create a new guide here: https://docs

[2021-08-24 22:31] leecalcote commented on #36
// @bariqhibat

[2021-08-24 22:33] leecalcote commented on #212
Delivered.

[2021-08-24 22:33] #212 closed

[2021-08-24 22:35] leecalcote commented on #781
Delivered - https://layer5.io/service-mesh-management/meshery/meshery-operator

[2021-08-24 22:35] #781 closed

[2021-08-24 22:36] #442 closed

[2021-08-24 22:37] #869 closed

[2021-08-24 22:44] #2530 closed

[2021-08-24 22:45] leecalcote commented on #2598
Thanks for looking into this, @veerreshr. Do you have access to Safari? If not, let's get you connected with someone who does and have you either collaborate with them or transfer the issue. // @warunicorn19

[2021-08-24 23:11] veerreshr commented on #2598
I don't have access to it @leecalcote , may be assign it to some other person.

[2021-08-25 01:20] Aisuko commented on #3961
Hi @nathanawm, Welcome to the project. I'm afraid not about your question. As you know that the meshery community maintains many adapters for Service-mesh products, and will deploy them in Helm way, the location of the repo(https://github.com/meshery/meshkit/tree/master/utils/kubernetes). So, we do not check the service mesh in your cluster, because of their many different ways for installing the

[2021-08-25 01:24] Aisuko commented on #3957
Hi @sudo-NithishKarthik, I guess this can be a good first issue right? If so, please help add the `good-first-issue` label, thanks.

[2021-08-25 03:08] alphaX86 opened #3977 "[Docs] (child) Rework YAML structure for `mesheryctl` reference in docs"
#### Current State
The mesheryctl reference fetches data from YAML files and because of this many files are created which makes it hard and clumsy to maintain.

#### Desired State
The YAML files must be restructured completely and remove unnecessary files if found.

(Inspired from Lee's suggestion)

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Mes

[2021-08-25 03:32] afzal442 opened #3978 "[Docs] Refactor examples of mesheryctl CLI commands/subcommands"
#### Current State
There are some mesheryctl CLI commands/subcommands that are having placeholder values.
e.g. https://docs.meshery.io/reference/mesheryctl/mesh
<img width="482" alt="c4" src="https://user-images.githubusercontent.com/11625672/130721767-78873727-05db-449e-aab8-f0cae29ad3df.PNG">
<img width="517" alt="c3" src="https://user-images.githubusercontent.com/11625672/130721782-9995959f-a51

[2021-08-25 03:38] navendu-pottekkat commented on #961
New issue opened to track this: https://github.com/meshery/meshery/issues/3972

[2021-08-25 03:38] #961 closed

[2021-08-25 04:06] afzal442 commented on #3978
/help-wanted

/mesheryctl

[2021-08-25 04:25] piyushsingariya commented on #638
Is this supposed to close now?

[2021-08-25 04:25] leecalcote commented on #638
@piyushsingariya, yes, quite possibly so. I'll leave this call to you.

[2021-08-25 04:29] #3955 closed

[2021-08-25 04:30] #638 closed

[2021-08-25 04:42] #2902 closed

[2021-08-25 04:43] leecalcote commented on #1037
@sudo-NithishKarthik fyi

[2021-08-25 05:06] warunicorn19 commented on #1037
@leecalcote @sudo-NithishKarthik I've started to read up on cypress, I'll try to write a test soon.

[2021-08-25 06:28] Anand-Theertha commented on #3972
Hello @navendu-pottekkat , can you please assign me this issue?

[2021-08-25 06:29] sayantan1413 commented on #3972
Here you go @Anand-Theertha 🚀

[2021-08-25 07:17] sudo-NithishKarthik commented on #1037
That's awesome @warunicorn19  🎉
Actually, there's going to be some major architectural changes in Meshery UI and it would make more sense for us to delay the process of writing tests for sometime so that we don't find ourselves repeating the work.

[2021-08-25 07:18] warunicorn19 commented on #1037
@sudo-NithishKarthik alrighty😃, just letting you know that whenever we do write tests, Im interested in doing so.😄

[2021-08-25 07:19] sudo-NithishKarthik commented on #1037
That being said, nothing's stopping you from exploring cypress, we still are going to cypress for E2E and integration testing, so, being competent in that would be really helpful.

[2021-08-25 07:21] sudo-NithishKarthik commented on #3957
Definitely, thank you @Aisuko 👍🏽

[2021-08-25 07:45] alphaX86 opened #3980 "[Docs] Create a table for subcommands within a command's page in docs"
#### Current State
Currently the mesheryctl reference page has a table with links of every command and subcommand, but when command page is visited the subcommands are harder to visit

#### Desired State
Create a table of relevant subcommands for a command page for easier access

(TO BE DONE AFTER #3977)

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
-

[2021-08-25 07:45] sudo-NithishKarthik commented on #3952
@CIPHERTron , you can proceed with the implementation.

[2021-08-25 07:53] alphaX86 opened #3981 "[Docs] (epic) Refactor entire `mesheryctl` reference section"
#### Info
NOTE: This issue is for tracking sub issues related to the topic

List:
 - [ ] Solved #3977
 - [ ] Solved #3980
 - [ ] Solved #3978

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for contributing to documentation](https://github.com/mesh

[2021-08-25 08:01] CIPHERTron commented on #3952
Thank you @sudo-NithishKarthik. I'm on it! 🚀

[2021-08-25 08:06] CIPHERTron commented on #3952
Heyy @sudo-NithishKarthik I'm so sorry for the inconvenience. Actually, I had opened this issue on meshery/meshery whereas I was planning to implement it in meshery/meshery 😅
Really really sorry. Should I open the same issue in meshery/meshery?

[2021-08-25 08:11] sudo-NithishKarthik commented on #3952
Yes, please.
But wait for some time for people to express their views on it.

[2021-08-25 08:12] sudo-NithishKarthik commented on #3952
In case of Meshery UI, this is something that we have to do. So, if you are interested, do work on it, or add a `help-wanted` label to it.

[2021-08-25 08:31] CIPHERTron commented on #3952
Sure thing!

[2021-08-25 09:19] Shreyas220 opened #3982 "[mesheryctl] `utils` package unit testing"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Desired Behavior

Required to enable unit testing support for mesheryctl `utils` package functions, to ensure the accuracy and robustness of each mesheryctl release, [here](https://github.com/meshery/meshery/tree/master/mesheryctl/pkg/utils)

#### Mesheryctl Unit Testing

-    Write tests using Golang’

[2021-08-25 10:09] sudo-NithishKarthik commented on #1037
@sayantan1413 , @warunicorn19

This [blog](https://layer5ng.netlify.app/blog/meshery/functional-testing-with-cypress-in-meshery-ui) might be helpful i believe.

Also, can one of you guys make an effort to reference this blog in our `meshery-ui` contribution docs ?

[2021-08-25 10:11] warunicorn19 commented on #1037
@sudo-NithishKarthik sure, I'll make it a part of the suggested reading, yes?

[2021-08-25 10:12] sudo-NithishKarthik commented on #1037
Sounds good

[2021-08-25 10:54] sayantan1413 commented on #3966
<img width="462" alt="Screenshot 2021-08-25 at 4 24 18 PM" src="https://user-images.githubusercontent.com/64970095/130778397-e76ff31b-8876-4acb-8543-fb5656f23ff1.png">

Hey @warunicorn19 I think the issue is solved right ?🤔

[2021-08-25 11:01] warunicorn19 commented on #3966
seems to be fixed🤔, but how?

[2021-08-25 11:01] #3966 closed

[2021-08-25 11:03] sayantan1413 commented on #3966
Magic @warunicorn19 🦹‍♀️

[2021-08-25 11:05] warunicorn19 commented on #3966
I would like to take credit because my PR was the last one merged for the 🤣😆.

[2021-08-25 13:24] sudo-NithishKarthik opened #3984 "[Docs] Architecture section for Meshery UI"
#### Current State
In [architecture page](https://docs.meshery.io/concepts/architecture) of Meshery docs, there is no section for Meshery UI.

#### Desired State
A section for Meshery UI has to be added in the architecture page.

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-an

[2021-08-25 17:12] piyushsingariya opened #3986 "[meshkit] Meshkit Errors aren't being printed in the console."
#### Current Behavior

Meshkit errors aren't getting printed.
[code]

#### Expected Behavior

We gotta do something about this. as you can read above there's no error or in other words it's missing!

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions fo

[2021-08-25 22:25] DelusionalOptimist opened #3987 "[UI] Add NGINX service mesh adapter to UI"
#### Current Behavior
[NGINX service mesh adapter](https://github.com/meshery/meshery-nginx-sm) can't be seen in the UI.

#### Desired Behavior
The adapter should be visible in the navbar as well as in some other components to facilitate navigation.

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources

- 🎨 Wireframes and designs for Meshery UI in [Figma](http

[2021-08-26 04:06] piyushsingariya opened #3988 "[mesheryctl] Increase code coverage in `mesheryctl` upto 80%"
#### Current Behavior

The current code coverage is less than 30% check here https://app.codecov.io/gh/meshery/meshery

#### Expected Behavior

Increase this code coverage up to 80%, this time!

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for con

[2021-08-26 05:45] warunicorn19 commented on #3967
Hey @DanielLivingston32, looks like there's already a PR lined up for this issue, why don't you take a look at some other issues with [Help wanted](https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+org%3Ameshery+org%3Aservice-mesh-performance+org%3Ameshery+label%3A%22help+wanted%22+) label😃.

[2021-08-26 07:30] piyushsingariya opened #3990 "[CI] Upgrade Code-Cov workflow for line-by-line coverage"
#### Desired Behavior

Display code coverage line-by-line in pull requests. The blog here tells it is possible https://about.codecov.io/blog/announcing-line-by-line-coverage-via-github-checks/

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for cont

[2021-08-26 11:54] #3987 closed, assigned to leecalcote

[2021-08-26 19:05] leecalcote opened #3992 "[CI] Augment existing build workflows to affix appropriate labels to PRs"
**Description:**
Meshery release notes are auto-generated by Release Drafter. Release Drafter uses PR labels to create release notes and place changelogs into specific categories (e.g. Features, Maintenance, Docs...)

Contributors can manually affix labels to PRs. These labels provide information to the release notes drafter, so that each item in the changelog is categorized under it appropriate s

[2021-08-26 20:57] DelusionalOptimist opened #3994 "[Docs] Missing docs for running meshery on eks"
#### Current State
There is no content in https://docs.meshery.io/installation/platforms/eks.

#### Desired State
It should guide how to install Meshery on an eks cluster.

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for contributing to document

[2021-08-26 22:13] DelusionalOptimist opened #3995 "[mesheryctl] `system config eks` fails to find `aws` cli in path"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
mesheryctl fails to find `aws` cli in path even though it is present.

#### Desired Behavior
`mesheryctl system config eks` should connect meshery successfully with the cluster.

#### Possible causes
[This](https://github.com/meshery/meshery/blob/48cd283b9d3ebb7993f5dcbd0a7d09c332030fb

[2021-08-27 02:24] leecalcote opened #3996 "[mesheryctl] Include NGINX Service Mesh in new context template"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
The template used to create meshconfig contexts (in `~/.meshery/config.yaml`) needs to be updated to include `meshery-nginx-sm`.

#### Desired Behavior
Adapter should be included in default context template

#### Implementation
1. Add `meshery-nginx-sm` to https://github.com/meshery/me

[2021-08-27 10:07] #3996 closed, assigned to nobody

[2021-08-27 12:10] sudhay23 opened #4001 "[UI] Development Server: Requests to /provider are not handled"
#### Current Behavior
A request made to `/provider` from the UI dev server is unhandled, this leads to an infinite loop.

https://user-images.githubusercontent.com/59689805/131125148-710ce1fe-ce11-4f21-a7fc-de0d7a504cb1.mov

#### Desired Behavior
It should redirect you to `localhost:9081/provider`

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources

- 🎨 Wire

[2021-08-27 13:35] #4001 closed, assigned to sudhay23

[2021-08-28 05:14] DanielLivingston32 commented on #3957
@sudo-NithishKarthik I would like to work on this.

[2021-08-28 05:51] DanielLivingston32 commented on #3957
@sudo-NithishKarthik
After going through the code base this is what I came up with.

Make a new file style.js under ui/components with the following code
`export const iconStyle =  { icon : { fontSize : '1.5rem', height : '1.5rem', width : '1.5rem', } , }`

Then we can just import this file and use it as follows:

`import React from 'react';
import PropTypes from 'prop-types';
import AppBar from '

[2021-08-28 05:53] DanielLivingston32 commented on #3957
Shall i proceed with a PR?

[2021-08-28 05:59] sudo-NithishKarthik commented on #3957
Hmm, your approach seems valid, but it is not dynamic, we do not want every icon to be have dimensions of `1.5 rem`, also, it requires the class `icon` to be applied to every icon component 🤔

[2021-08-28 06:05] sudo-NithishKarthik commented on #3957
Instead, creating a HOC, that takes in the icon component and returns it after setting the `height` and `width` to be the same as `fontSize` would be more convenient.

[2021-08-28 06:11] DanielLivingston32 commented on #3957
Alright, will work on implementing this.

[2021-08-28 08:18] sudo-NithishKarthik commented on #3930
@sayantan1413 , any updates ?

[2021-08-28 08:25] afzal442 opened #4010 "[Docs] Broken links of sample applications"
#### Current State

There are a few links that are broken due to current changes in the docs on [support for service-mesh-page](https://docs.meshery.io/service-meshes#support-for-service-meshes)

e.g. https://docs.meshery.io/service-meshes/adapters/istio
<img width="346" alt="c2" src="https://user-images.githubusercontent.com/11625672/131211544-96020212-bf37-4958-9aff-a2b0544ad0e1.PNG">

#### Desi

[2021-08-28 08:39] iambami commented on #4010
I will take this issue

[2021-08-28 08:53] sudo-NithishKarthik opened #4013 "[UI] [lint] Pre commit lint fixes are not being pushed"
#### Current Behavior
Before commit, we have a pre commit hook that runs `npm run lint` which uses `eslint --fix .`
But since this command automatically fixes the formatting issues, the fixed changes are not being pushed.

#### Desired Behavior
change `eslint --fix .` to `eslint .` so that, the user can manually lint the files and push them.

#### Contributor [Guides](https://docs.meshery.io/proje

[2021-08-28 09:01] afzal442 commented on #4010
Sure @iambami, go ahead! thanks.

[2021-08-28 09:38] mgfeller commented on #3986
Adding the error code as well would allow users to find the error details in the error reference.
Adding `LongDescription` might also be helpful, or even necessary. There is at least one case afaics where `LongDescription` of a meshkit error contains the string of another meshkit error:

![image](https://user-images.githubusercontent.com/1214008/131213530-00935a96-0534-4d63-91f9-dd600b321211.png)

[2021-08-28 12:18] piyushsingariya commented on #3986
Cool, Thanks for the help @mgfeller. This needs to be implemented across all the files. I'm closing this issue now.

[2021-08-28 12:49] mgfeller commented on #3986
@piyushsingariya

:smile: not quite sure what you mean, though, I think `func (e *Error) Error() string`  in `meshkit` should be adjusted...

[2021-08-28 13:23] piyushsingariya commented on #3986
:sweat_smile: @mgfeller I actually meant that in all places we have added errors to short-description, so as you explained above, we need to actually add them to the long-description, then they'll work properly.

I tried fixing that in one of my PRs and now it's working as supposed. :smile_cat:

[2021-08-28 13:27] piyushsingariya commented on #3986
LongDescription makes more sense to be used as error.

[2021-08-28 13:28] piyushsingariya commented on #3986
I'm sorry, I think I misunderstood your comment here. Are you saying to add the ErrorCode with the Error itself?(so that it would be printed in terminal)

[2021-08-29 00:48] benedictusdps commented on #4010
Can I take this issue?

[2021-08-29 06:20] DanielLivingston32 commented on #3957
@sudo-NithishKarthik
I tried implementing with HOC but since there are many icons there was a hassle making it.
I came up with this other idea based on this link. [https://material-ui.com/components/icons/#icon-font-icons](https://material-ui.com/components/icons/#icon-font-icons).

For this I made a DisplayComponents.js file under ui with the following code:

`import Icon from '@material-ui/core/

[2021-08-29 06:39] #3920 closed

[2021-08-29 07:29] sudo-NithishKarthik commented on #3957
There are some tweaking needed in this code

[2021-08-29 07:51] DanielLivingston32 commented on #3957
Alright. I actually took the header.js file as a reference. So I thought the default material UI icons were used in the codebase.

[2021-08-29 07:54] sudo-NithishKarthik commented on #3957
Yes, default Material UI icons are being used, which are SVG Icons

[2021-08-29 08:09] DanielLivingston32 commented on #3957
Oh ok, now I get it. The renderIcon method imports Font icons rather than SVG. I will look into it.

[2021-08-29 08:29] AnshumanDhiman commented on #3980
Hi @alphaX86 can I work on this, and can you please provide me with an image and the link where the changes are needed to be done because I am having a little trouble in understanding where to create the table

[2021-08-29 10:38] Abhishek-kumar09 opened #4022 "[UI] The SMP vertical divider is not aligned properly"
#### Current Behavior

https://user-images.githubusercontent.com/48255244/131247409-d7006faa-9035-4a77-973a-cf1c6b9d5b34.mp4

#### Desired Behavior

It should behave responsively

#### Environment

- Browser: Chrome Safari Firefox
- Host OS: Mac Linux Windows
- Meshery Server Version: stable-v
- Meshery Client Version: stable-v
- Platform: Docker Kubernetes

---

#### Contributor [Guides](https://

[2021-08-29 10:48] mgfeller commented on #3986
Referring to https://docs.meshery.io/reference/error-codes the majority of errors that have some details have more often short description than long description. So IMHO it makes sense that this is included in the stringified version of an error.

What I was trying to say is we should consider to change the function in meshkit that stringifies the error to possibly include the error code, not that

[2021-08-29 10:58] mgfeller commented on #3043
Let's keep this open for now.
There is work done in `mesheryctl` to convert the errors (in other issues), and there is e.g. some discussion here  https://github.com/meshery/meshery/issues/3986.
Eventually, amend https://docs.meshery.io/project/contributing-cli with a section about errors - including how Cobra handles them too, and how the stringified version of meshkit error is used.
Also add a re

[2021-08-29 10:59] warunicorn19 commented on #3914
Sorry to be a let down, but not being able to execute this. That's why unassigning. Also, the layout for patterns has changed, so this only needs to be executed in the application files and maybe filter? @Meghana-12 @Abhishek-kumar09 any takers?

[2021-08-29 11:18] piyushsingariya commented on #3986
yup, this is good.

[2021-08-29 11:35] Abhishek-kumar09 commented on #3914
Oh that's okay @warunicorn19
Can I give it a try?

[2021-08-29 11:37] warunicorn19 commented on #3914
That would be great @Abhishek-kumar09 , 🙏 thanks

[2021-08-29 12:17] Chadha93 commented on #4022
@mani9896 would you like to fix it?

[2021-08-29 12:20] Chadha93 commented on #4022
https://github.com/meshery/meshery/pull/3979

[2021-08-29 14:25] Abhishek-kumar09 opened #4024 "[UI] Broken Pattern Accordion"
#### Current Behavior

Some Recent code change may have broken the accordion behaviour for pattern and RJSF form editing wizard.

https://user-images.githubusercontent.com/48255244/131253767-68258766-d300-4e8f-bcff-dce7007236ff.mp4

**Ignore right cutout of video, it was to emphasise on accordion behaviour and problems**

#### Desired Behavior

The siblings of accordion should behave responsibly.

[2021-08-29 14:40] leecalcote commented on #3780
Immediately, I'm looking for someone to limit the ValidateVersion function calls to the commands suggested in the issue description. Is there a volunteer for proceeding here?

[2021-08-29 14:48] leecalcote opened #4025 "[UI] Dashboard Crashes in v0.5.50"
#### Current Behavior
<img width="1514" alt="Screen Shot 2021-08-29 at 9 43 17 AM" src="https://user-images.githubusercontent.com/7570704/131254538-21032057-9f2c-45ae-ae7e-e4e2ba70310e.png">
<img width="2128" alt="Screen Shot 2021-08-29 at 9 44 43 AM" src="https://user-images.githubusercontent.com/7570704/131254542-b13d85f3-e949-4afd-a269-43238e4f8cfa.png">

#### Environment

- Browser: Safari
- H

[2021-08-29 15:00] alphaX86 commented on #3980
Hi @AnshumanDhiman I'll tell you what to do this, just wait for some time while I sort some things out 😅😅

[2021-08-29 15:46] bariqhibat opened #4028 "[UI] Podname Mapper doesn't have global use case"
#### Current Behavior

Current name mapper only works for several cases and requires heavy maintaining.

#### Desired Behavior

There should be a way to automate of having prettified name of a pod

#### Implementation

Use string manipulation

#### Acceptance Tests

#### Mockups

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources

- 🎨 Wireframes and designs

[2021-08-29 15:47] alphaX86 commented on #3980
Currently we have each command and subcommand on the reference page
![image](https://user-images.githubusercontent.com/59508546/131256576-9a13e41c-3dce-4052-a51a-ad05275fe826.png)

But when a user clicks a command, they can't see the subcommands except as a example
![image](https://user-images.githubusercontent.com/59508546/131256619-8a7f6e27-e3d2-421b-8207-fc494b4ffa72.png)

![image](https://user

[2021-08-29 15:48] alphaX86 commented on #3980
Why we're asking a table for every command (not subcommands) is because we felt it's hard to navigate if no table is such present and user is forced to back for that

[2021-08-29 21:14] leecalcote commented on #4025
@bariqhibat thank you for addressing this issue quickly.  The fix that you’ve submitted prevents the “Unexpected error” from being displayed, but still suffers from the control plane subscription resetting.

[code]

https://user-images.githubusercontent.com/7570704/131265532-2c9920cf-0996-4775-8247-073647a2beba.mov

[2021-08-29 21:17] #4028 closed

[2021-08-29 21:18] #3780 closed

[2021-08-29 21:20] #3914 closed

[2021-08-29 21:23] #4024 closed

[2021-08-30 02:14] #4025 closed

[2021-08-30 02:16] #3917 closed

[2021-08-30 02:26] #3915 closed

[2021-08-30 03:01] metonymic-smokey commented on #3881
I think this issue can be closed since #3959 had a commit fixing it.

[2021-08-30 04:28] nehaLohia27 commented on #3897
@metonymic-smokey Working on this today. should be done soon. Thanks

[2021-08-30 05:02] nehaLohia27 commented on #3897
@metonymic-smokey Does you cached manifest PR merged, can you point to the function which checks  for the presence of adapter and operator manifests.?

[2021-08-30 05:51] samirparhi-dev commented on #3881
closing the issue

[2021-08-30 05:51] #3881 closed

[2021-08-30 06:08] sayantan1413 opened #4034 "[CI] Github Action bot should trigger on issue/remind label in PR"
#### Current Behavior

The Meshery repository have a label commenter workflow but it does not trigger the github action bot when an issue/remind or issue/dco is marked.

#### Desired Behavior

The github action bot should trigger when an issue/remind or issue/dco label is marked in the PR

#### Implementation

#### Acceptance Tests

#### Mockups

---
#### Contributor [Guides](https://docs.meshery.

[2021-08-30 12:02] #3990 closed, assigned to nobody

[2021-08-30 12:20] shikharvashistha commented on #3988
Hey @piyushsingariya I would like to work on this.

[2021-08-30 13:16] leecalcote opened #4037 "[mesheryctl] Unhandled error in `system start`"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
mesheryctl panics when running `system start` using v0.5.51

#### Screenshots/Logs
[code]

#### Environment

- Host OS: Mac
- Meshery Server Version: stable-v0.5.51
- Meshery Client Version: stable-v0.5.51
- Platform: Docker

---

#### Contributor Resources
- [mesheryctl Contributing G

[2021-08-30 13:45] #4013 closed

[2021-08-30 14:07] shikharvashistha commented on #3988
### Current log for unit testing
?   	github.com/layer5io/meshery/cmd	[no test files]
?   	github.com/layer5io/meshery/handlers	[no test files]
?   	github.com/layer5io/meshery/helpers	[no test files]
?   	github.com/layer5io/meshery/internal/channels	[no test files]
?   	github.com/layer5io/meshery/internal/graphql	[no test files]
?   	github.com/layer5io/meshery/internal/graphql/generated	[no te

[2021-08-30 14:08] shikharvashistha commented on #3988
### Current log for Integration testing
?   	github.com/layer5io/meshery/cmd	[no test files]
?   	github.com/layer5io/meshery/handlers	[no test files]
?   	github.com/layer5io/meshery/helpers	[no test files]
?   	github.com/layer5io/meshery/internal/channels	[no test files]
?   	github.com/layer5io/meshery/internal/graphql	[no test files]
?   	github.com/layer5io/meshery/internal/graphql/generated

[2021-08-30 14:39] metonymic-smokey opened #4038 "[mesheryctl] Enhancement to integration testing"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
A couple of days back, the `master` branch build was failing on `system start` when a meshconfig location was not specified using a flag. The default location of the meshconfig used in such cases was incorrectly marked as "".
The integration tests did not detect this failure since curr

[2021-08-30 14:39] metonymic-smokey commented on #4038
Adding @piyushsingariya to the thread.

[2021-08-30 14:41] metonymic-smokey commented on #3897
https://github.com/meshery/meshery/blob/758329acfed7ecf1d3197cfffb136c606e702694/mesheryctl/pkg/utils/platform.go#L277 - this one is for k8s adapter manifests.
There is a similar one for operator manifests.

[2021-08-30 15:08] shikharvashistha commented on #4038
Duplicate #3988

[2021-08-30 15:23] Meghana-12 commented on #3746
Need more info on the special case (github.com/).

[2021-08-30 16:16] warunicorn19 commented on #3984
@sudo-NithishKarthik please if you could do these in multiple PRs😅, otherwise reviewing this is going to a huge task😆.

[2021-08-30 16:17] sudo-NithishKarthik commented on #3984
Yes @warunicorn19 , I will, that's why its an epic 😅

[2021-08-30 16:44] mgfeller commented on #3986
Created an issue for this: https://github.com/meshery/meshkit/issues/102

[2021-08-30 20:06] Hardikag17 commented on #4022
@Abhishek-kumar09 @Chadha93 I would like to fix this issue!

[2021-08-30 20:12] warunicorn19 commented on #4022
Go for it! @Hardikag17

[2021-08-30 22:03] leecalcote commented on #3992
@amino19 this is a great opportunity to welcome and collaborate with a new contributor. @asubedy have you joined the Meshery community Slack workspace? If not, please do: http://slack.meshery.io. Perhaps, you and @amino19 can collaborate on this issue.

Let me know how you guys would like to proceed. There are many issues in need of assistance.

[2021-08-31 05:29] piyushsingariya commented on #4038
it's different!

[2021-08-31 05:49] shikharvashistha commented on #4038
Oh yes
Apologies for misinterpreting the issue by its heading !

[2021-08-31 14:50] san-coding commented on #4038
Hey, I am new to open source, can I work on this issue ?

[2021-08-31 14:51] san-coding commented on #4037
Hey, I am new to open source, can you please guide me to fix this issue ?

[2021-08-31 14:53] piyushsingariya commented on #4038
Yeah, definitely. but this issue is gonna be a bit tough, so be ready!

[2021-08-31 15:04] piyushsingariya opened #4044 "[mesheryctl] Generate diagnostics report with `system check`"
#### Desired Behavior

add `--report` flag to `system check` which will generate a diagnostic(environment) report that could be attached to github issues, and this would help to debug the issues better as we will have the exact environment state.

#### Implementation
This issues must be tackled with a design spec first then with the implementation.

#### Acceptance
YAML or TEXT file/s are being ge

[2021-08-31 15:06] piyushsingariya commented on #4034
@sayantan1413 you're diving deep in the CI stuff these days! 😀

[2021-08-31 15:19] san-coding commented on #4038
thanks @piyushsingariya , I will need some helps, can you help me out ?

[2021-08-31 16:48] #3059 closed

[2021-08-31 16:48] #2983 closed

[2021-08-31 19:28] amino19 commented on #3992
Wanna take this issue? :slightly_smiling_face:

[2021-09-01 02:09] asubedy commented on #3992
Yes I would like to work on it. But I will be needing a lot of guidance for which I will definitely connect with @amino19 on slack.

Thank you @afzal442 and @leecalcote .

[2021-09-01 05:12] amino19 commented on #3992
@asubedy : Yep for sure! Here you go. :rocket:

@afzal442 : Thanks, hope you'll stay tuned here...

[2021-09-01 10:33] piyushsingariya commented on #4038
Yup always there to help, however you could also ping these amazing folks @sayantan1413 @suhaniii @Revolyssup!

[2021-09-01 11:26] sayantan1413 commented on #4034
Yeah @piyushsingariya just got some interest in the CI stuffs so exploring it a bit.

[2021-09-01 14:54] #3768 closed

[2021-09-01 14:58] piyushsingariya commented on #4037
@san-coding this might not be the best issue to start as a newcomer, let's stick to that Integration Test issue that has been assigned to you.

[2021-09-01 15:36] DelusionalOptimist opened #4050 "[CI/DevOps] container image for mesheryctl"
#### Current Behavior
We don't ship `mesheryctl` binary in a docker image.

#### Desired Behavior
There should be a docker image which ships with `mesheryctl` as the entrypoint. It would allow users to run commands by simply fetching the container image and executing commands using docker.
This also makes it easy to integrate Meshery in their pipelines.
For instance, something like would execute t

[2021-09-01 15:48] san-coding commented on #4038
What files will i need to change to fix the integration tests ? @piyushsingariya

[2021-09-01 16:09] amitech commented on #2957
@navendu-pottekkat or someone else, can you please help me to generate the problem?

What I understand is, on my local k8s(minikube) setup,  I need to modify ~/.meshery/config.yaml file by adding some invalid content and need to run  `./mesheryctl system start --reset` command to see if config.yaml is corrected and meshery is started successfully.

Please correct me if I am thinking in the wrong w

[2021-09-01 16:34] #4022 closed

[2021-09-01 16:35] #4034 closed

[2021-09-01 16:36] rajat965ng opened #4051 "Terraform provider for meshery"
#### Current Behavior
Currently, the Terraform provider for meshery is not available in  Terraform provider list.

https://registry.terraform.io/search/providers

#### Desired Behavior
Create a Terraform provider for meshery. The provider should accept the configuration for every service mesh in the form of Terraform resources. The state of meshery resources should be managed in state files.

####

[2021-09-01 21:20] leecalcote opened #4074 "[Build Error] Bitcask: panic: runtime error: makeslice: len out of range"
#### Current Behavior
Unable to build Meshery Server.

#### Screenshots/Logs
[code]

#### Environment

- **Host OS:** Mac

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for contributing to documentation](https://github.com/meshery/meshery/blob/mast

[2021-09-01 21:20] leecalcote commented on #4074
@mgfeller we recently overcame an issue with bitcask. Is this related, do you think? // @DelusionalOptimist @utkarsh-pro

[2021-09-01 21:58] #3798 closed

[2021-09-01 21:58] #3270 closed

[2021-09-01 22:07] DelusionalOptimist opened #4075 "[Enhancement] Split Nighthawk out of meshery docker image"
#### Current Behavior
Nighthawk's load generation services are currently present in meshery's docker image. This is not good because:
* This limits us from exposing many advanced Nighthawk features.
* Bloats the Meshery image and makes it too heavy.
* Slightly affects the performance of both the tools.

#### Desired Behavior
Nighthawk should run as a separate container outside of Meshery's contain

[2021-09-01 22:24] DelusionalOptimist opened #4076 "[mesheryctl] enhance `mesh` subcommand flags"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
* You need to specify port number while specifying the adapter name.
* It is not clear what would we specify as the adapter name. Is that the container instance name or the container image name?
* Usage example should cover us (it should be actually helpful keeping in mind the case use

[2021-09-02 03:47] piyushsingariya commented on #4038
this error is from system_test.go

[2021-09-02 03:51] piyushsingariya commented on #3969
[code]

I have updated this error like this, is this good?

[2021-09-02 09:07] Shreyas220 commented on #3982
@aayushmau5  @Blakelist7 any update ?

[2021-09-02 15:58] warunicorn19 opened #4077 "[UI] Performance Graphs"
#### Current Behavior
When Two or more performance graphs are compared, the text around the chart goes missing.

#### Expected Behavior
All the data should be visible.

#### Screenshots/Logs
<img width="1440" alt="Screenshot 2021-09-02 at 9 27 32 PM" src="https://user-images.githubusercontent.com/53532328/131877267-4d217d8f-a202-4b9c-973e-081de8474c6e.png">

#### Environment

- **Host OS:** Mac
-

[2021-09-02 16:07] mgfeller commented on #4074
@leecalcote we updated to the latest version before version 1 and had an issue because we used an API call that became private (rightly so). Which version of bitcask started to auto migrate to v1 data format I have not looked into. There might be a bug there, your db might be corrupt, or the db might contain some data stored as a slice of something that is too long, or something else.

Does this h

[2021-09-02 16:38] veerreshr commented on #4077
Hey could I have a look at this? as I am also working on a similar issue ?

[2021-09-02 16:39] warunicorn19 commented on #4077
For sure!

[2021-09-02 19:19] Chadha93 opened #4078 "Enforce es-lint in UI component files"
#### Current Behavior
Few files having the eslint issues which will cause an issue to pass the npm lint check at the time of commit

#### Desired Behavior
Enforce an eslint on that files

#### Files:
1.components/PrometheusComponent
2.MesheryAdapterPlayComponent
3. components/GrafanaComponent
4. ConnectionWizard/helpers/mesheryOperator
5. ConnectionWizard/Screens/ServiceMeshScreen
6. ConnectionWiz

[2021-09-02 19:37] #2939 closed

[2021-09-02 23:40] veerreshr commented on #4077
Could someone help me?, been trying from past 4 hrs . I'm able to display the data ,but it's only showing up when I close the dialog. I'm attaching a slow motion video 🥲 for reference
(P.s. Ignore the accordion, which I added recently)

https://user-images.githubusercontent.com/59141533/131929179-3da2b2d6-b659-4a92-a9d1-301c6bc801c0.mp4

[2021-09-03 06:42] DelusionalOptimist opened #4079 "[meshery-server] panic while uploading SMI results to remote provider"
#### Current Behavior
If remote provider token expires during the duration of SMI conformance test, Meshery server would panic when trying to refresh it. This might take some patience to reproduce.

#### Expected Behavior
Don't panic and refresh the token.

#### Screenshots/Logs
* Performing SMI conformance tests. Token expires and server tries to get it refreshed but panics and exits:
[code]
* On

[2021-09-03 13:23] aayushmau5 commented on #3982
Making some progress on writing tests for `helpers.go`. I do have some doubts which I will query about in a little while(doing some research on them).

[2021-09-03 14:06] alphaX86 commented on #3994
@DelusionalOptimist the links will also change right? For eg: Instead of Azure, AWS?

[2021-09-03 14:07] alphaX86 commented on #3994
I finished the YAML refactor just now and I started to look this one

[2021-09-03 14:21] DelusionalOptimist commented on #3994
Yes, they would.

[2021-09-03 14:23] alphaX86 commented on #3994
Copy 👍

On Fri, 3 Sep 2021, 7:52 pm Rudraksh Pareek, ***@***.***>
wrote:

[2021-09-03 14:40] leecalcote commented on #4074
@mgfeller thank you for this. This was happening with `make run-local` and `make run-fast`. I was able to build with `make docker`, which was slight hinderance given the additional build time.

You're right that a form of database corruption seemed to be occurring. After executing a `rm -rf ~/.meshery/config/db/`, I'm now able to successfully build locally. Thank you for examining this issue. I'll

[2021-09-03 14:40] #4074 closed

[2021-09-03 15:10] K-Kumar-01 commented on #4078
@Chadha93
I would like to work on this issue. Can this be assigned to me?

[2021-09-03 16:03] warunicorn19 commented on #4078
sure @K-Kumar-01

[2021-09-03 18:01] san-coding commented on #4038
thanks @piyushsingariya , I understood the issue and looked through the file for an hour but I am unable to figure out what changes to make, can you please help me out

[2021-09-04 04:22] shikharvashistha commented on #4038
I want to add something to it. The issue specifies **location was not specified using a flag rather marked as  "" that is nil**  so, in my humble opinion something needs to be introduced rather than changed. Am I correct @piyushsingariya ?

[2021-09-04 05:08] suhaniii commented on #3897
@nehaLohia27  is away  next week, I will be working on this issue.

[2021-09-04 07:26] #3807 closed

[2021-09-04 09:21] piyushsingariya commented on #4038
You can look into the code and figure out that we actually setup the context by ourselves while running the tests. weather the integration tests are there to check if meshery will be running smoothly in a complete new env, but we are mistakenly setting up context ourselves. we gotta remove that, and pass a "-y" flag which will eventually create a new context and test-out if meshery is starting or

[2021-09-04 12:40] suhaniii commented on #3896
@navendu-pottekkat Stopping and Starting Meshery for Kubernetes in restart.go will overwrite the configurations by user, the issue which we are facing on system restart with docker?

[2021-09-04 14:43] aayushmau5 commented on #3982
Okay, so I'm having some doubts about testing certain function present in [`helpers.go`](https://github.com/meshery/meshery/blob/master/mesheryctl/pkg/utils/helpers.go) file.
- Some functions like [this](https://github.com/meshery/meshery/blob/7e41552b633a48738d3ba1dac9d6473ac00d22ca/mesheryctl/pkg/utils/helpers.go#L138) generate or are based on configs file. What strategy should I use to test the

[2021-09-04 15:23] K-Kumar-01 opened #4087 "[UI] use createTheme instead of createMuiTheme"
#### Current Behavior

When `make run-ui-dev` is run, a log appears stating `Material-UI: the createMuiTheme function was renamed to createTheme.`

Below is an attached screenshot.

![Screenshot from 2021-09-04 20-36-14](https://user-images.githubusercontent.com/59891164/132099371-05995a24-f664-4b53-b568-e417d97b526e.png)

#### Desired Behavior

No such log should appear

#### Implementation

impo

[2021-09-04 15:30] san-coding commented on #4038
Is this where you're setting the context ? Where exactly should we pass the `-y` flag so that the new context is created
https://github.com/meshery/meshery/blob/32bbc1789b21c1c2128e4457ad4da7629c482290/mesheryctl/internal/cli/root/system/system_test.go#L19

[2021-09-04 15:31] K-Kumar-01 opened #4088 "[UI] refactor: codebase"
#### Description
Currently, the codebase contains many instances of commented-out code. Some of them are:
- components/CustomToolbarSelect.js
- components/DashboardComponent.js
- components/GrafanaCharts.js
- components/GrafanaCustomGaugeChart.js
- components/GrafanaDateRangePicker.js

The commented-out code may not be useful to us so I would propose the removal of such instances.

#### Wil you li

[2021-09-04 15:37] warunicorn19 commented on #4088
@K-Kumar-01 if you're planning on moving forward with this, I propose we should discuss this in a call because some of the commented out code is of use.

[2021-09-04 15:41] K-Kumar-01 commented on #4088
@warunicorn19 Yeah sure. I will hold in this for now and we can connect on a meeting day and sort this out. Is this fine?

[2021-09-04 16:59] #4078 closed

[2021-09-04 17:39] warunicorn19 commented on #2855
@Chadha93 has this issue been solved?

[2021-09-04 19:40] K-Kumar-01 commented on #3945
@warunicorn19
Would like to take up this issue if still open.

[2021-09-04 19:41] warunicorn19 commented on #3945
@K-Kumar-01 sure, go ahead!

[2021-09-04 23:47] Shreyas220 commented on #3982
not sure about this (@piyushsingariya what do you suggest?)

No i don't think this need to tested

i think we can avoid testing [navigate](https://github.com/meshery/meshery/blob/7e41552b633a48738d3ba1dac9d6473ac00d22ca/mesheryctl/pkg/utils/helpers.go#L207) function and for the other two maybe we can let the test pass if no errors are returned

[2021-09-05 00:08] leecalcote commented on #3586
@piyushsingariya do you mind having a look at this and assessing it's validity and fix, if necessary?

[2021-09-05 04:03] piyushsingariya commented on #3982
These functions can be tested by keeping config file in fixtures and then executing, and then conforming the backup file exists. one more step can be reading the files and matching the content

Functions like these have no point in testing but we need to add them to coverage, so test them like the string length should be equal to the arg passed, one test case is enough for such kind

Some can be t

[2021-09-05 04:06] piyushsingariya commented on #4038
We have remove completely the setting up the context and pass "-y" as a flag in the args with "start" command.

[2021-09-05 04:59] san-coding commented on #4038
Do you mean we have to remove this ?
https://github.com/meshery/meshery/blob/32bbc1789b21c1c2128e4457ad4da7629c482290/mesheryctl/internal/cli/root/system/system_test.go#L19

and add such a section of code

https://github.com/meshery/meshery/blob/32bbc1789b21c1c2128e4457ad4da7629c482290/mesheryctl/internal/cli/root/system/system_test.go#L40-L46

sorry this might sound trivial to you , but I am not

[2021-09-05 05:13] suhaniii commented on #4050
@DelusionalOptimist  Do we need to create a new image or add this to existing?

[2021-09-05 06:34] Chadha93 commented on #2855
Nope, not finding a proper context of the solution. @warunicorn19 would like to take this up?

[2021-09-05 06:44] warunicorn19 commented on #2855
@Chadha93, don't know how much ill be able to get done, but I'll take a look 😅

[2021-09-05 07:40] aayushmau5 commented on #3982
Got it. Thanks a lot @piyushsingariya @Shreyas220

[2021-09-05 14:32] #3158 closed

[2021-09-05 21:16] s1ntaxe770r commented on #4050
we need a new image

[2021-09-05 21:36] s1ntaxe770r commented on #4076
@DelusionalOptimist  still working on this?

[2021-09-06 02:30] suhaniii opened #4091 "Avoid prompt after `meshery` install in `service-mesh-labs`"
#### Current Behavior

In [service-mesh-labs](https://github.com/layer5io/service-mesh-labs) after installing meshery `curl -L https://git.io/meshery | ADAPTERS=istio PLATFORM=docker bash -`, a prompt can be seen - Refer below image

<img width="977" alt="Screenshot 2021-09-01 at 8 28 24 AM" src="https://user-images.githubusercontent.com/41604114/132151996-51466fff-dde0-4a75-9d62-1643c24363b6.png"

[2021-09-06 02:32] suhaniii commented on #4091
More [details](https://github.com/meshery/service-mesh-labs/pull/33) // @hexxdump

[2021-09-06 06:29] DelusionalOptimist commented on #4076
@s1ntaxe770r go ahead :+1:

[2021-09-06 06:46] DelusionalOptimist commented on #4050
Yes @suhaniii, a new distroless image for `mesheryctl`. Different from existing meshery server image.

[2021-09-06 07:01] piyushsingariya commented on #3586
Will check it, but it will take time.

[2021-09-06 07:04] piyushsingariya commented on #4038
yes that's what it is, If things are hard for you the only thing you should do is just be patient and spend time around the code. :smile:

[2021-09-06 08:02] krithikvaidya commented on #3995
Hi :), So like @DelusionalOptimist mentioned, are we looking to interact with the cloud services within mesheryctl using the SDKs for Go instead of running the shell commands? If yes, I could work on modifying the related code [here](https://github.com/meshery/meshery/blob/48cd283b9d3ebb7993f5dcbd0a7d09c332030fbb/mesheryctl/pkg/utils/scripts.go) and [here](https://github.com/meshery/meshery/blob/4

[2021-09-06 09:56] sudhay23 commented on #4087
Hello, Is this issue open for contribution? If so can I work on it?

[2021-09-06 10:32] hexxdump commented on #4091
@suhaniii
The issue seems to be from "mesheryctl system context custom -s ...." command rather than the "meshery system start.." command of the installer, will it be possible to run the below command in the katakoda setup and collect the logs?

`curl -L https://git.io/meshery | ADAPTERS=istio PLATFORM=docker bash -x -`

[2021-09-06 10:39] warunicorn19 commented on #4091
[code]

[2021-09-06 10:39] warunicorn19 commented on #4091
Should i put a screenshot instead😅? @hexxdump

[2021-09-06 11:01] leecalcote commented on #4091
Formatting added.

[2021-09-06 11:01] hexxdump commented on #4091
@warunicorn19, In your environment, I do not see the issue @suhaniii mentioned in the description above .
![image](https://user-images.githubusercontent.com/631835/132207440-1146c751-4883-465f-b624-536feff3c7cb.png)

i.e. meshery installer stuck for user input.

[2021-09-06 11:02] warunicorn19 commented on #4091
@hexxdump that happens after all the download is complete.

[2021-09-06 11:07] hexxdump commented on #4091
Thanks for clarifying @warunicorn19 . So, the issue is indeed with `mesheryctl system start --yes --platform docker` command.

[2021-09-06 11:40] suhaniii commented on #4091
@hexxdump  It happens with image id `kubernetes-cluster-running:1.18` not with `minikube`

[2021-09-06 12:47] suhaniii commented on #4050
@DelusionalOptimist @s1ntaxe770r   Can we place `Dockerfile` under `meshery/mesheryctl/` ?
Also, Can you provide link to any existing similar process(if any) which can be referred for this task?

[2021-09-06 16:58] navendu-pottekkat commented on #2957
Yes. Any change in the meshconfig would be replaced by the `--reset` flag. Basically this would involve invoking the `reset` function from `mesheryctl system reset`.

[2021-09-06 18:28] warunicorn19 commented on #3940
@Krishna-Koustub any updates?

[2021-09-06 18:32] Krishna-Koustub commented on #3940
Actually no because there was a screen crack in my pc so could not work once it s repaired i can , I am sorry for the delay but it is taking a lot of time for them to repair

[2021-09-06 19:15] sudo-NithishKarthik commented on #3269
Thank you very much @jeantiston 😄 . We will address this issue after bringing in Redux.
If you want to lean more about our messaging system spec - [Design Spec](https://docs.google.com/document/d/1_zpEWBcC6ngOLen_E_nc-octiUdBbpmdwwIX6qzo70M/edit#heading=h.ebnhxa18sj7n)

[2021-09-06 20:08] s1ntaxe770r commented on #4050
+1 on putting the Dockerfile under `meshery/mesheryctl` , while i don't have a link to an existing dockerfile here are some steps i would follow
- grab a release of mesheryctl from https://github.com/meshery/meshery/releases/ using curl or get
- unpack the zip file using tar or unzip and move it the users path
- (additional but not high priority) have the user be able to specify the release of mes

[2021-09-07 04:18] navendu-pottekkat commented on #3896
@suhaniii I am not sure that it will. Change channels in meshconfig --> Stop Meshery --> Start Meshery. This should ensure that we start Meshery with the updated channel right?

[2021-09-07 04:38] hexxdump commented on #4091
@suhanii, My guess is that the default web browser is set to Lynx in this environment, will it be possible to set the default browser to firefox/chrome by using `xdg-settings set default-web-browser ...` command and check if you still hit the issue?

[2021-09-07 05:05] K-Kumar-01 commented on #4087
@sudhay23 Actually, I made the changes in a branch. I was not able to update the issue context as I was out of the station for the past 2 days. I apologize for the inconvenience caused due to this.

[2021-09-07 05:49] K-Kumar-01 opened #4096 "[UI] Runtime Error in UI"
#### Current Behavior

When the following command is run
[code]

A server runs at `localhost:3000`.

When the following is done:
1. Go to `http://localhost:3000/performance/profiles` and click the icon shown in the image below
![fd23aa31-aa29-4a94-b700-26115dc7ada0](https://user-images.githubusercontent.com/59891164/132290630-cb0553d4-43c2-47cd-81d0-e3c4bd60396b.jpeg)

The error shown in the image

[2021-09-07 06:12] krithikvaidya commented on #3982
Hey, I'd like to write some tests.. i'll start with platform.go and sse-client.go if that's okay

[2021-09-07 06:21] Shreyas220 commented on #3982
sure @krithikvaidya go ahead :smile:

[2021-09-07 06:24] piyushsingariya commented on #3982
too many folks in the area, I'm loving it. Now let's see who will boost the code-coverage with highest percentage 😉 🚀

[2021-09-07 06:33] K-Kumar-01 commented on #3945
@warunicorn19
I would like to know if there is any spinner or loader react component that is already created. I searched via keywords `spinner` & `Loader` but was unable to find any. It would be really helpful if you can clear whether there exists any such implementation

[2021-09-07 06:37] #4087 closed

[2021-09-07 06:56] sudo-NithishKarthik commented on #3945
We do not have a custom spinner/loader as of now, we are using `CircularProgress` component from material-ui.

[2021-09-07 06:58] K-Kumar-01 commented on #3945
@sudo-NithishKarthik
I am thinking of using that to show the processing. Is it fine or shall I go with any other approach if you have in mind?

[2021-09-07 07:00] sudo-NithishKarthik commented on #3945
You can go ahead with using `CircularProgress` .

[2021-09-07 07:02] SirZeck commented on #3743
Is this issue open? Can I work on it and can you guide me to where /etc/hosts file is?

[2021-09-07 07:39] Chadha93 commented on #4096
@K-Kumar-01 Thanks for testing but I checked twice the issue does not exist. Could you please do some checks like
1. login to 9081 before going to 3000.
2. Check the console/log and networks. If there some you can ask in slack with screenshots
![image](https://user-images.githubusercontent.com/65453826/132304149-517411e7-d7f7-4fa0-ac3d-9eec110f3a5c.png)

[2021-09-07 07:49] warunicorn19 commented on #4096
Im working on the dev server right now, seems to work fine🤔.

[2021-09-07 07:52] sudo-NithishKarthik commented on #4096
You guys missed this 😅
This happens when meshery server is not running.
@K-Kumar-01 , most of the time, contributors won't run ui dev server without running meshery server, but still we have to handle the errors gracefully, will you create a PR for this ?

[2021-09-07 07:58] K-Kumar-01 commented on #4096
@Chadha93 @warunicorn19 I didn't run the meshery server as @sudo-NithishKarthik mentioned in the comment.

@sudo-NithishKarthik
Yeah, I will create a PR for this.

Also, should i do optional chaining additionally as an extra safety measure?

[2021-09-07 08:17] warunicorn19 commented on #4096
Ohh 😅, I had no idea. Also, sometimes(for me) if I run the ui-server and then the Meshery server, the UI server just terminates itself, without any warning or even a proper error message, maybe we could track that in this issue itself? @sudo-NithishKarthik @K-Kumar-01

[2021-09-07 08:33] sudo-NithishKarthik commented on #4096
Yes. Actually, we are working on re-implementing the UI according to this [proposal](https://docs.google.com/document/d/1sb7XZIczx9FqKA3Hpd1XgtpEjfj8qjqMbgKY68t9Sko), So, we will have a more robust implementation of Redux where the redirection will happen in a higher layer. So, this issue will be tackled along with that.

[2021-09-07 08:33] sudo-NithishKarthik commented on #4096
Yes, @warunicorn19 , can you open an issue for that ?

[2021-09-07 08:35] warunicorn19 commented on #4096
Sure, I'll do.

[2021-09-07 09:14] SirZeck commented on #4088
Can I work on it? When's the meeting to discuss this?

[2021-09-07 09:54] K-Kumar-01 commented on #4096
@sudo-NithishKarthik Just a question, why are we not using context API? Ig what we need from redux can also be done via context API. Also, there won't be need to install extra dependencies like `react-redux` or `redux-middlewares`.

[2021-09-07 09:54] warunicorn19 opened #4097 "Issue with running UI dev server"
#### Current Behavior
Right now, if the dev server is made to run after the meshery server, it suddenly just stops working, without any error message  or warning.

#### Expected Behavior
Either this problem could be fixed or there should be a graceful way to handle this problem.

#### Screenshots/Logs
<img width="582" alt="Screenshot 2021-09-07 at 3 13 51 PM" src="https://user-images.githubusercon

[2021-09-07 09:56] K-Kumar-01 commented on #4096
So currently, should I provide a basic logic check as someone may break the UI if they do no run the server. Later, that logic will get replaced by `redux`

[2021-09-07 10:16] sudo-NithishKarthik commented on #4096
We have solid use cases for Redux in our app, it might not be very obvious based on the current state of our system, but considering what we want to be able to do with Meshery UI in the future which would involve very complex state management , we will not be able to handle such level of complexity with React Context API effectively.

[2021-09-07 10:17] sudo-NithishKarthik commented on #4096
We have solid use cases for Redux in our app, it might not be very obvious based on the current state of our system, but considering what we want to be able to do with Meshery UI in the future which would involve very complex state management , we will not be able to handle such level of complexity with React Context API effectively.

[2021-09-07 10:18] sudo-NithishKarthik commented on #4096
Yes

[2021-09-07 15:30] divyanshugit commented on #3208
Hi @mgfeller, I'm quite confused cause I'm unable to represent the error code utility in form of a table. I don't know how to make svg diagrams. Can you please suggest me something that can help me out here!! Or should I just create a PR in which I give a short description about the error code utility tool and a link that will redirect the user to the contribution error page?

[2021-09-07 18:37] jbyers19 opened #4101 "Deprecated k8s API versions prevent Meshery from deploying in a k8s v1.22 cluster"
#### Current Behavior
The API version of apiextensions.k8s.io (CustomResourceDefinition) is [deprecated in kubernetes v1.22](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.22.md#removal-of-several-beta-kubernetes-apis) (along with several other beta API versions). This causes Meshery to fail to start when running in a v1.22 cluster.

#### Expected Behavior
1. Meshery sh

[2021-09-07 18:41] leecalcote opened #4102 "[GraphQL] Perf: Unhandled nil test result set"
#### Current Behavior
Nil PerformanceResultQuery is causing a panic.

#### Expected Behavior
A zero result perf test query shouldn't cause a panic.

#### Screenshots/Logs
[code]

#### Environment

- **Host OS:** Mac
- **Platform:** Docker
- **Meshery Server Version:** stable-v0.5.53

<img width="1355" alt="Screen Shot 2021-09-07 at 1 38 18 PM" src="https://user-images.githubusercontent.com/7570704

[2021-09-07 18:51] leecalcote opened #4103 "[mesheryctl] Migrate from Manifests to Helm for Meshery Server/Adapter deployment"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
1. Server and Adapters are provisioned with manifests.
1. Meshery Operator are  provisioned with helm charts, which uses `ServiceAccountName` and that dependencies are provisioned in correct order of operation.

#### Desired Behavior
1. Use MeshKit helm chart deployment functionality u

[2021-09-07 21:09] leecalcote commented on #1085
@sb1975 Meshery's visual topology plugin, MeshMap, has opened its Alpha Program to a couple users. Would you like to participate in the program?

[2021-09-07 21:15] #3977 closed

[2021-09-07 22:29] leecalcote opened #4105 "[UI] Menu Drawer: collapsed chevron is slightly off-center"
When collapsed the chevron is slightly off-center, sticking to the left:

https://user-images.githubusercontent.com/7570704/132413080-b704aaa8-879b-4ad2-9e9e-ffc80743c326.mov

Zooming in, this you see the effect even more easily:

These recordings are done using Safari. When using Chrome the effect is lessened, although the chevron is still hugging the lefthand side some.

https://user-images.gith

[2021-09-07 22:29] leecalcote commented on #4105
@CipherGirl would you like to follow up on this issue?

[2021-09-07 22:31] #3825 closed

[2021-09-08 02:07] suhaniii commented on #4091
Thank you @hexxdump. @iamsdas is already working on `kubernetes-cluster-running`. @iamsdas Do you want to test this?

[2021-09-08 02:54] iamsdas commented on #4091
Sure, I'll try this out

[2021-09-08 04:55] leecalcote commented on #3282
@hexxdump what's the state of this effort?

[2021-09-08 06:04] iamsdas commented on #4091
So I tried it out.  These are the steps I used:
[code]
Made sure the changes are reflected with a `xdg-settings get default-web-browser`

Tried re-running the `curl -L https://git.io/meshery | ADAPTERS=istio PLATFORM=docker bash -`
Still resulted in the same promt

[2021-09-08 06:23] hexxdump commented on #4091
When I tried the lab, the default-web-browser value is not reflected in the bash script. The default browser is still Lynx.
<img width="1443" alt="Screenshot 2021-09-08 at 11 46 39 AM" src="https://user-images.githubusercontent.com/631835/132456800-2524ca2c-ae11-46b4-9674-050e498f795d.png">

when I exit out of the bash command, the default browser value is unset.

<img width="1362" alt="Screenshot

[2021-09-08 06:50] iamsdas commented on #4091
We can also add a `export BROWSER=firefox` in the `.bashrc` file and then do a `source .bashrc` Doing so will prevent that popup to happen but...this will also result in the following error message:
[code]
But I'm still not getting why this prompt thing happens in this environment while it did not happen in the `minikube` one

[2021-09-08 07:04] leecalcote commented on #4091
I don't know that trying to open the user's browser makes sense here. They are going to have to switch to the other iframe tab anyway.

[2021-09-08 09:58] pranav-bhatt opened #4107 "`meshery-nginx-sm-deployment.yaml` and `meshery-nginx-sm-service.yaml` not present in the manifest directory"
#### Current Behavior

While trying to run `mesheryctl system start --platform=kubernetes`, mesheryctl spits out the error
[code]
This is probably because the directory where the manifests are pulled from (https://github.com/meshery/meshery/tree/v0.5.53/install/deployment_yamls/k8s) doesn't contain the aforementioned files.

To Reproduce
1. Run `curl -L https://git.io/meshery | PLATFORM=kubernetes

[2021-09-08 10:18] pranav-bhatt opened #4108 "Failed to start meshery using `mesheryctl system start --platform=docker`"
#### Current Behavior
The following error occurs on running `mesheryctl system start --platform=docker` :
[code]

To Reproduce
1. Run `curl -L https://git.io/meshery | PLATFORM=docker bash -`

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for contr

[2021-09-08 11:34] hexxdump commented on #3282
I am yet to start on this @leecalcote . I am still working on #3758
I hope to carve out some time for these two issues this weekend.

[2021-09-08 11:41] hexxdump commented on #4091
In that case, we could modify the one-liner as below:

`curl -L https://git.io/meshery | BROWSER=firefox ADAPTERS=istio PLATFORM=docker bash -`

`minikube` image could have different stack compared to `kubernetes-cluster-running` image.
 I dont think it would be wise to compare them both.
We can get going with some quick readme instructions for the lab as @leecalcote mentioned.
For e.g. the below

[2021-09-08 12:28] leecalcote commented on #4107
@jbyers19 fyi

[2021-09-08 12:31] leecalcote commented on #3282
@hexxdump thank you. I meant to inquire less in the spirit of piling on pressure, but more in the spirit of understanding what is left to complete considered the couple of merged PRs that are related to this issue. // @piyushsingariya you might have comment here.

[2021-09-08 12:47] debo19 commented on #4105
Can I work on this?

[2021-09-08 13:12] warunicorn19 commented on #4105
Sure @debo19

[2021-09-08 13:41] piyushsingariya commented on #3282
we have already implemented this among various places after the introduction of OAuth in mesheryctl.

[2021-09-08 13:42] Abhishek-kumar09 opened #4110 "[UI] The Action items for Patterns page"
The new patterns page is just a new born baby that definitely needs some love.
Here are the action items that works towards making the progress over the pattern page.
We can create a new Issue for each action item and work on it accordingly.
- [x] Extract out the patterns component into it's own file:
https://github.com/meshery/meshery/blob/d11e84b348b48fdfe80823549692640553ab0d85/ui/components/Me

[2021-09-08 14:05] Shatakshi0805 commented on #3011
Can I work on this?

[2021-09-08 14:28] warunicorn19 commented on #3011
@debjani1413 are you working on this? Or can @Shatakshi0805 go ahead with it?

[2021-09-08 14:49] sayantan1413 opened #4111 "[CI] Auto Meshery Release Announcement through github workflow"
#### Current Behavior

Meshery have a Mailchimp Email Template through which we manually send our user about the new Meshery release everytime.

#### Desired Behavior

Meshery should have a Html email template which can be used by a github workflow so that everytime there is a new release for Meshery an email would be sent to the Meshery users group through the workflow.

#### Screenshot of the cu

[2021-09-08 15:18] jbyers19 commented on #4101
Still seeing this error following the update. Guessing there are other CRDs that need to be updated as well.
[code]

[code]

[2021-09-08 16:54] pranav-bhatt commented on #4108
This bug is mentioned in #4101. Can I close this?

[2021-09-08 17:16] Zain-Muiz commented on #4110
Heyy @Abhishek-kumar09 , Can I work on the 1st issue on the list ? I need to create a new issue for just that specific issue as well right ?

[2021-09-08 17:20] warunicorn19 commented on #4110
@Zain-Muiz you can start working on it, @Abhishek-kumar09 if you could edit your issue and right the names next to each task, it'll be easier to track that way.

[2021-09-08 17:26] leecalcote commented on #4108
Thanks for filing this, @pranav-bhatt. Good of you to open this one as I don't think we completely squashed this bug in the other open issue. 👍

[2021-09-08 17:34] Abhishek-kumar09 commented on #4110
Yeah, you can create a new issue to track the progress :smile_cat:

[2021-09-08 17:37] warunicorn19 commented on #4110
@Zain-Muiz also mention this issue if you create another one.

[2021-09-08 17:40] SirZeck commented on #4107
Can I take this issue and work on it?

[2021-09-08 17:47] leecalcote commented on #4107
@SirZeck, sounds good. A quick copy/paste and replace of an existing adapter manifest should do the trick. 👍

[2021-09-08 17:47] #4102 closed

[2021-09-08 17:50] SirZeck commented on #4107
Oh, thanks @leecalcote.

[2021-09-08 17:56] leecalcote opened #4113 "[Install] K8s: Enable 'meshery-server' Service Account with approve permission"
#### Current Behavior
The lack of `approve` permission for the `meshery-server` service account is causing failure in some Kubernetes deployments.

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for contributing to documentation](https://github.com/

[2021-09-08 18:00] mgfeller commented on #3208
@divyanshugit we create diagrams as slide in a Google presentation and then export the slide as svg.

[2021-09-08 18:09] bariqhibat commented on #4110
Red texts and capitalize each word have been done on the PR on top

[2021-09-08 18:25] #4108 closed

[2021-09-08 18:34] #4113 closed

[2021-09-08 18:41] leecalcote opened #4117 "[Docs] Avoid port conflict with Meshery Adapter for NGINX SM and Tanzu SM"
#### Current State
Meshery Adapter for Tanzu SM lists port 10010 as its reserved port. This conflicts with the Meshery Adapter for NGINX SM reserved port.

#### Desired State
Bump Tanzu SM out to 10011. Update this file - https://github.com/meshery/meshery/blob/master/docs/_adapters/tanzu-sm.md

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery

[2021-09-08 19:04] pranav-bhatt commented on #4107
@SirZeck could you rename the files to include "-sm"?

[2021-09-08 19:12] SirZeck commented on #4107
Does this work?

[2021-09-08 19:23] leecalcote commented on #4101
Second time is a charm.

[2021-09-08 19:23] #4101 closed

[2021-09-08 20:02] #4107 closed

[2021-09-08 20:06] #3897 closed

[2021-09-08 20:19] #3945 closed

[2021-09-08 20:25] leecalcote opened #4119 "[UI] Pattern Components: Centralize null to default value mapping"
Including a set of predefined values for null values is a good idea. My sense is that this should be reused across other pattern-based components (filters, apps). Understand that the entire /management UIs will convert to pattern-style UIs, so making these reusable and centralizing this list will be worth the effort.

_Originally posted by @leecalcote in https://github.com/meshery/meshery/pull/411

[2021-09-08 20:58] warunicorn19 opened #4120 "[Docs]Add Traefik Mesh lab to docs"
#### Current State
The recently made Traefik Mesh lab is not in the Docs.
#### Desired State
Let's add that lab to the docs for Traefik Mesh adapter.
https://docs.meshery.io/service-meshes/adapters/traefik-mesh

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [In

[2021-09-08 22:17] leecalcote opened #4121 "[UI] Performance Result Chart: Comparison data missing"
#### Current Behavior
Missing perf results data on graph comparison.

<img width="1501" alt="Screen Shot 2021-09-08 at 5 03 02 PM" src="https://user-images.githubusercontent.com/7570704/132593086-75ff70bc-53ca-4928-b7db-22aa2a537e4a.png">

#### Environment

- Meshery Server Version: stable-v0.5.54

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources

- 🎨 Wire

[2021-09-08 22:19] leecalcote opened #4122 "[UI] Performance Result Chart: Percentile data overlapping"
#### Current Behavior
Percentile data is overlapping.

<img width="2159" alt="Screen Shot 2021-09-08 at 5 02 11 PM 4" src="https://user-images.githubusercontent.com/7570704/132593242-01a6c398-67de-4518-98b9-f386500e3368.png">

#### Desired Behavior
Percentile data shown on the right hand side of the graph.

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources

[2021-09-08 22:51] leecalcote opened #4123 "[Application] Import: Failure to unmarshal yaml"
#### Current Behavior
Importing by URL, [this pattern](https://raw.githubusercontent.com/service-mesh-patterns/service-mesh-patterns/master/samples/bookInfoPattern) results in an error message.

Uploading from filesystem, this pattern imports successfully.

#### Expected Behavior
Pattern should import.

#### Screenshots/Logs
<img width="1631" alt="Screen Shot 2021-09-08 at 5 45 43 PM" src="https:/

[2021-09-08 22:52] leecalcote commented on #4123
@mgfeller I wonder if this isn't the right opportunity to jump into patterns (applications)...

[2021-09-09 00:18] leecalcote commented on #3929
@Shreyas220 Following up... has this been accomplished?

[2021-09-09 00:20] leecalcote commented on #4088
+ @sudo-NithishKarthik who is currently stewarding such an effort. He gave an overview of it in today's Meshery Development Meeting. See the meeting minutes for details (and the recording when it is posted)>

[2021-09-09 01:16] Shreyas220 commented on #3929
from what i understand this is already been done
i had to add the ability to delete a filter which already present [here](https://github.com/meshery/meshery/blob/1bf174bfc004b3f0d62c377374da240db55e61e9/handlers/meshery_filter_handler.go#L188)
u recommended that i take inspiration from application and pattern apis, after  looking i find that [DeleteMesheryFilterHandler](https://github.com/meshery/

[2021-09-09 02:18] iambami commented on #4120
hey can I do this?

[2021-09-09 02:46] SirZeck commented on #4088
Oh, okay. He said that he's working on the back-end integration and it will be done by 15th Sept. After that he'll ask the willing contributors to work on the required areas. So, this also comes into that, right?

[2021-09-09 03:22] iambami commented on #4117
can I take this too?

[2021-09-09 03:59] SirZeck commented on #4117
Hey @leecalcote , I made a PR for this in the Tanzu SM repo. @warunicorn19 reviewed it. Can you look into it?

[2021-09-09 04:02] SirZeck commented on #4117
Oh my bad, I didn't updated the README.md file.

[2021-09-09 04:28] leecalcote commented on #3929
@piyushsingariya will you offer us guidance here?

[2021-09-09 04:33] leecalcote commented on #4088
Good question. I'll rely on @sudo-NithishKarthik's discretion to make the judgment call on this one.

[2021-09-09 05:01] warunicorn19 commented on #4121
Same as #4077

[2021-09-09 05:01] #4121 closed

[2021-09-09 05:18] piyushsingariya commented on #3929
Yes, it is there, we have it already there. I think this issue was opened when I addressed it in a meeting about not having the ability to deploy and stop the deployment of filters. :thinking:

[2021-09-09 06:15] SirZeck commented on #4103
Can I work on this?

[2021-09-09 06:20] warunicorn19 commented on #4103
Sure @SirZeck

[2021-09-09 06:30] SirZeck commented on #4103
Umm, can someone help me with where should I start with?

-09

[2021-09-09 06:55] warunicorn19 commented on #3970
hey @navendu-pottekkat, how about I create a different issue to track the authentication guide? It'll be easier to track that way.

[2021-09-09 06:58] warunicorn19 opened #4125 "[Docs]Guide to authenticate Mesheryctl"
#### Current State

Currently there's no guide to authenticate mesheryctl [here](https://docs.meshery.io/guides#meshery-cli)
#### Desired State

Add a guide with all the ways to authenticate to mesheryctl, all the ways to get the token, where the token is fetched, why there is a need for authentication.
---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠

[2021-09-09 07:02] warunicorn19 commented on #4120
sure @iambami

[2021-09-09 07:39] iambami commented on #4120
Thanks. On it

[2021-09-09 08:02] warunicorn19 commented on #3930
This issue has been fixed.

[2021-09-09 08:02] #3930 closed

[2021-09-09 08:02] warunicorn19 commented on #3919
hey @yagarwal1307 any updates on this?

[2021-09-09 08:03] warunicorn19 commented on #3884
@ShivamTyagi12345 any updates on this?

[2021-09-09 08:04] warunicorn19 commented on #3816
This issue is fixed by #3890

[2021-09-09 08:04] #3816 closed

[2021-09-09 08:10] #3715 closed

[2021-09-09 08:11] warunicorn19 commented on #3538
hey @shahkushal38, any updates on this issue?

[2021-09-09 08:14] warunicorn19 commented on #2883
@Anita-ihuman are we good to put the `help wanted` label on this?

[2021-09-09 08:29] yagarwal1307 commented on #3919
@warunicorn19 no i couldn't reproduce this error on my system. So I have no idea regarding this issue

[2021-09-09 08:47] Anita-ihuman commented on #2883
Yes,  this should be on the community handbook

[2021-09-09 09:26] Shreyas220 commented on #3929
so shall we close the issue ?

[2021-09-09 10:39] pranav-bhatt commented on #4101
Still getting the same issue xD

[2021-09-09 11:47] K-Kumar-01 commented on #4077
@warunicorn19
I am not seeing any activity on the issue from past 7 days. If the issue is still open, can I take it up?

[2021-09-09 11:53] piyushsingariya commented on #3929
Yes we can close this, can you take out some time to open up an issue addressing the requirement of filter POST deploy and filter DELETE deploy?

[2021-09-09 12:09] veerreshr commented on #4077
I am having hard time figuring this out, I am only able to manage to get to previous changes I made (this doesn't include new table like structure)

https://user-images.githubusercontent.com/59141533/131409902-bd099317-2c33-4ba7-ad22-611e6020386d.mov

Mentioned in https://github.com/meshery/meshery/pull/4041
May be also assgin it to @K-Kumar-01 , so he can try

[2021-09-09 12:10] warunicorn19 commented on #4077
A collaborative effort is always welcomed, good luck guys👍😄.

[2021-09-09 13:02] Meghana-12 opened #4127 "[v0.6.0 Release Docs] Release announcement Blog Post! 🎉 🎉"
Hi everyone!
As part of Release Blog for v0.6.0, we have created this epic to organise and ensure the smooth release of the blog. We plan on having a separate blog post for some of the feature highlights. So, if anyone is interested in working on a feature post/section, please feel free to leave a comment here or under the respective issue!

## Features Highlights
- [ ] Applications (#4128) @Megha

[2021-09-09 13:20] #3929 closed

[2021-09-09 13:41] Zain-Muiz opened #4128 "[v0.6.0 Release Docs] Applications (beta)"
As part of Release Blog for v0.6.0, we have created this issue belonging to epic [#4127] in order to organize and ensure the smooth release of the blog. Feel free to leave a comment if you would like to take up this respective blog or any section of it.

Some of the Areas to be covered for **Applications** :
- [ ] Importing and deploying Kubernetes applications [#3037]
- [ ] Onboarding application

[2021-09-09 13:58] Zain-Muiz opened #4129 "[v0.6.0 Release Docs] Filters (beta)"
As part of Release Blog for v0.6.0, we have created this issue belonging to epic [#4127] in order to organize and ensure the smooth release of the blog. Feel free to leave a comment if you would like to take up this respective blog or any section of it.

Some of the Areas to be covered for **Filters** :
- [ ] WebAssembly Envoy Filters
- [ ] The power of the data plane
- [ ] mesheryctl filters

---

[2021-09-09 14:13] Zain-Muiz opened #4130 "[v0.6.0 Release Docs] Patterns (beta)"
As part of Release Blog for v0.6.0, we have created this issue belonging to epic [#4127] in order to organize and ensure the smooth release of the blog. Feel free to leave a comment if you would like to take up this respective blog or any section of it.

Some of the Areas to be covered for **Patterns** :
- [ ] What is a service mesh pattern?
- [ ] What patterns are available ? Can I bring my own ?

[2021-09-09 14:16] Meghana-12 opened #4131 "[Docs] Routing issue in docs"
#### Current State
Once we go to `home / reference / command reference`, and click on a command, say system , it takes you to `home / reference / mesheryctl / mesheryctl system` . "command reference" changes to "mesheryctl" , so it causes an issue if we try to go back by clicking on  "mesheryctl".   Similarly if the user is at `home / reference / mesheryctl / system / mesheryctl system start` he c

[2021-09-09 14:25] warunicorn19 commented on #4131
@Meghana-12 trying my hand at this.😃

[2021-09-09 14:44] SirZeck commented on #3030
@vishal267 are you still working on this issue? Seems inactive for quite long?

[2021-09-09 14:51] warunicorn19 commented on #4131
Okay, this is a little weird, cannot reproduce this locally. But, I can see the problem in docs.meshery.io

[2021-09-09 15:57] SirZeck commented on #3153
Hey @yash112-lang are you still working on this issue? There haven't been any updates from your side?

[2021-09-09 16:37] SirZeck commented on #3776
@iamsdas you up on this issue?

[2021-09-09 16:39] SirZeck commented on #3770
@nehaLohia27 are still working on this issue?

[2021-09-09 16:48] SirZeck commented on #2917
@SriSatyaT or @Gautam-Arora24 are you working on this issue? Seems inactive for quite long?

[2021-09-09 16:52] SirZeck commented on #3834
@devansh42 are you still working on this issue? Seems inactive for quite long?

[2021-09-09 16:58] SirZeck commented on #3462
@warunicorn19 this issue seems inactive for quite long, we should remove the assignee so that other contributors feel free to ask to work on this?

[2021-09-09 16:59] SirZeck commented on #3946
@harshit-dxt are you working on this? Seems inactive for quite long?

[2021-09-09 17:00] warunicorn19 commented on #3462
@SirZeck we're still not sure if this issue persists or has it been solved.

[2021-09-09 17:01] SirZeck commented on #3462
oh! I just pointed it out.

[2021-09-09 17:03] SirZeck commented on #3992
@asubedy any update on your work?

[2021-09-09 17:06] Gautam-Arora24 commented on #2917
@SirZeck You can work on this one!

[2021-09-09 17:06] iamsdas commented on #3776
Not really, the adding of examples for the docs didn't really work out in the end and I closed the PR.

[2021-09-09 17:07] warunicorn19 commented on #3776
@iamsdas should we close this issue then?

[2021-09-09 17:08] iamsdas commented on #3776
I think we should

[2021-09-09 17:08] #3776 closed

[2021-09-09 17:51] Shatakshi0805 commented on #4130
Hi, I would like to work on this. Could you please tell how do I go ahead with it?

[2021-09-09 18:35] mgfeller commented on #4123
@leecalcote feels like a good opportunity and the right moment. I'll give it a go.

[2021-09-09 19:20] #4117 closed

[2021-09-09 19:39] veerreshr commented on #4077
I think https://github.com/meshery/meshery/pull/4041#event-5280579864 solves this issue

[2021-09-09 19:45] DelusionalOptimist commented on #4079
Closing this since https://github.com/meshery/meshery/pull/4109 addressed the panic while refreshing tokens.

[2021-09-09 19:45] #4079 closed

[2021-09-09 20:09] Zain-Muiz opened #4137 "[ UI-Patterns ] Extract Patterns component to it's own file"
#### Current Behavior
Pattern function in is in MesheryPatterns.js . This issue is based on action item 1 in the epic. [#4110].

#### Desired Behavior
Have own file for Patterns Component.

#### Implementation
Extract out the patterns component into it's own file.
https://github.com/meshery/meshery/blob/d11e84b348b48fdfe80823549692640553ab0d85/ui/components/MesheryPatterns.js#L645-L650

---
#### C

[2021-09-10 00:16] leecalcote opened #4139 "[UI] Performance: Relocate "Add Perf Profile" button"
#### Desired Behavior
On the http://localhost:9081/performance/profiles page, relocate the button to the top left hand corner, horizontally-aligned with the layout buttons.

#### Mockup
<img width="1618" alt="Screen Shot 2021-09-09 at 7 13 52 PM" src="https://user-images.githubusercontent.com/7570704/132778717-2b778108-5401-4a7b-94b2-599f287edb13.png">

---

#### Contributor [Guides](https://docs.

[2021-09-10 00:51] PuneetDabral commented on #4139
sir can i do ? ....but i am new in open source can you please help me to solve this i all is need your support so i can learn more and more.....

[2021-09-10 04:13] devansh42 commented on #3834
No, I'm not working you can take this up

On Thu 9 Sep, 2021, 10:22 PM Adit, ***@***.***> wrote:

[2021-09-10 04:52] leecalcote commented on #4139
@PuneetDabral, sounds real good. A few conditions:

1. If you get stuck, join the Meshery community and seek assistance in the #newcomer or #meshery-ui channels, if needed.
1. Join the community anyway. It'll be nice to have you.
1. If you're unable to complete before this coming Monday, just signal so that another contributor can deliver this and you can review their PR.
1. Do you homework first.

[2021-09-10 05:18] leecalcote opened #4140 "[Prometheus / Grafana] Automatic detection, but no automatic connection"
#### Current Behavior
MeshSync is discovering these resources, but is no longer automatically connecting to the resources, nor is it listing these resources in their respective dropdown.

#### Screenshots/Logs
<img width="672" alt="Screen Shot 2021-09-10 at 12 13 25 AM" src="https://user-images.githubusercontent.com/7570704/132803466-869a3108-9d06-40ed-a254-f417ee30caa7.png">

#### Environment

-

[2021-09-10 06:19] siddhantprateek commented on #3834
I would like to work on this issue.

[2021-09-10 06:21] warunicorn19 commented on #3834
Sure @siddhantprateek, go for it.

[2021-09-10 06:25] leecalcote opened #4142 "[API] Paginate Patterns, Apps, Filters"
#### Current Behavior
A fully loaded Meshery Server has thousands of pattern components.

#### Implementation
Enhance `/api/oam/workload` to offer pagination

#### Acceptance Tests

#### Logs

https://user-images.githubusercontent.com/7570704/132809417-d0b19b1e-06d7-4906-8c12-4338e2513289.mov

#### Acceptance Criteria

1. All three resources should have pagination available on their queries.

---

[2021-09-10 06:26] leecalcote commented on #4142
@Abhishek-kumar09 Is this something that you're able to do?

[2021-09-10 06:26] leecalcote commented on #4142
@dhruv0000 @bariqhibat @utkarsh-pro  do we have a standard approach here, yet?

[2021-09-10 06:39] #4120 closed

[2021-09-10 06:39] siddhantprateek commented on #3834
This is what I know, These are the list of [Adaptors](https://docs.meshery.io/concepts/architecture/adapters) that Meshery use and I have to make changes in `quick-start.md` [ref page](https://docs.meshery.io/installation/quick-start) and `mesheryctl.md` [ref page](https://docs.meshery.io/installation/mesheryctl) right.

[2021-09-10 06:40] warunicorn19 opened #4143 "[Docs]Add Lifecycle management for Traefik Mesh adapter"
#### Current State
The page for Traefik Mesh adapter doesn't have a completed Lifecycle Management portion.
#### Desired State
Add a the Lifecycle Management part for this Adapter.
<img width="1440" alt="Screenshot 2021-09-10 at 12 07 54 PM" src="https://user-images.githubusercontent.com/53532328/132810968-da7a095d-720b-46f9-9a8e-9f4e17099111.png">

---

#### Contributor [Guides](https://docs.mesh

[2021-09-10 06:43] warunicorn19 opened #4144 "[Docs]Broken Link"
#### Current State
The `check our progress` link on the adapters page is broken. [example](https://docs.meshery.io/service-meshes/adapters/tanzu-sm#lifecycle-management)
#### Desired State
Fix the broken link.
---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Inst

[2021-09-10 06:45] leecalcote opened #4145 "[Docs] Meshery Adapter for App Mesh"
#### Current State
This adapter has minimal docs.

#### Desired State
https://docs.meshery.io/service-meshes/adapters/app-mesh should have a more complete description akin to that of other adapter pages. Most of the pages are now templated, and so, the skeleton of the page can be copy/pasted.

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery B

[2021-09-10 06:45] leecalcote commented on #4145
@Shreyas220 one for you?

[2021-09-10 06:47] leecalcote opened #4146 "[Docs] Patterns: Importing in Meshery UI"
#### Current State
The service mesh patterns docs are missing a few details of the fact that patterns can be imported via Meshery UI.

#### Desired State
A few sentences, and, a screenshot, highlighting the import button and the modal.

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/b

[2021-09-10 06:48] leecalcote commented on #4146
@Meghana-12 is this you?

[2021-09-10 06:50] Shreyas220 commented on #4145
on it

[2021-09-10 06:51] leecalcote opened #4147 "[Docs] Troublshooting MeshSync and Meshery Broker"
#### Current State
Description of ad hoc connectivity tests, resync, database wipe, reconnect and so on actions are missing from the Troubleshooting Guide.

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for contributing to documentation](https://g

[2021-09-10 06:54] leecalcote opened #4148 "[Docs] GitHub Action for SMP"
#### Current State
This GH action is not described in Meshery Docs - https://github.com/layer5io/meshery-smp-action.

#### Desired State
This page should have a section on the GH Action for SMP - https://docs.meshery.io/functionality/performance-management.

See [this page](https://docs.meshery.io/functionality/service-mesh-interface#reporting-conformance) for an example of docs for GH Action for

[2021-09-10 06:56] leecalcote commented on #4148
@s1ntaxe770r ?

[2021-09-10 06:58] #4010 closed

[2021-09-10 07:53] Revolyssup opened #4149 "Generating pattern components at runtime for Kubernetes Native Resources"
Use Case: Extracting metadata for pattern components from Kubernetes
Primary Actor: Meshery Server
Scope: A single Kubernetes cluster
Level: System-wide setting

Preconditions:
Meshery has appropriate credentials to a Kubernetes cluster.

Acceptance Tests:
1. The following Kubernetes objects are registered as capabilities in Meshery.
2. Each capability is associated with the respective Kubernetes

[2021-09-10 08:41] PuneetDabral commented on #4139
ok sir i will try

[2021-09-10 08:43] s1ntaxe770r commented on #4148
on it

[2021-09-10 11:38] ShivamTyagi12345 commented on #3884
Unassigning myself due to prior commitments. Thanks a lot for the opportunity

[2021-09-10 12:06] pottekkat commented on #4103
@SirZeck Currently we use Kubernetes manifests to deploy Meshery in mesheryctl. This is done using the Kubernetes Go-Client.
What we have to do here is to replace this with deploying Meshery via Helm. This functionality is available in [MeshKit](https://github.com/meshery/meshkit) and the Helm charts are present [here](https://github.com/meshery/meshery/tree/master/install/kubernetes/helm/meshery)

[2021-09-10 12:33] leecalcote commented on #3273
@DelusionalOptimist, an item to put on the list.

[2021-09-10 12:39] leecalcote commented on #3834
Adding to the list of questions on this page is desirable - https://docs.meshery.io/concepts/architecture/adapters

[2021-09-10 13:41] sudo-NithishKarthik commented on #4088
Yes @SirZeck , the plan is to do the same thing, that is, to refactor the entire UI components, and, as I told in the meeting, we can start working on it from 15th September. So, please hold on till that.

[2021-09-10 14:28] leecalcote commented on #4148
Thank you, @s1ntaxe770r. Understanding your current situation, let's reopen for another contributor to pick this one up.

[2021-09-10 14:46] Shatakshi0805 commented on #4144
Hi, I would like to work on this. Please assign this issue to me.

[2021-09-10 14:47] warunicorn19 commented on #4144
Sure @Shatakshi0805!

[2021-09-10 15:20] navendu-pottekkat commented on #3462
@SirZeck You could try replicating this if you could. I haven't been able to do it.

[2021-09-10 15:25] navendu-pottekkat commented on #3972
@Anand-Theertha Are you still working on this issue? I could take this up and get this done over the weekend.

[2021-09-10 15:28] navendu-pottekkat commented on #4148
I can work on this. It should be quick and it should be similar to the SMI Conformance docs.

We also need to update the general performance testing docs. I will finish this over the weekend.

[2021-09-10 15:31] navendu-pottekkat commented on #4127
Increased platform support blog could come under a broader topic like "What's new in mesheryctl". I assume the increased platform support refers to ARM/M1 support (?)

// @leecalcote

[2021-09-10 15:32] navendu-pottekkat commented on #4148
This issue is also linked: https://github.com/meshery/meshery/issues/3972

[2021-09-10 15:41] rajpratyush commented on #4143
Can i take up this issue?

[2021-09-10 15:45] warunicorn19 commented on #4143
Sure @rajpratyush

[2021-09-10 16:07] navendu-pottekkat commented on #3234
@alphaX86 Are you working on this issue?

[2021-09-10 16:08] navendu-pottekkat commented on #2957
@amitech Any updates on this issue?

[2021-09-10 16:15] navendu-pottekkat commented on #2890
@leecalcote Can we close this? We can maybe write a blog post on tips to use Meshery faster with mesheryctl and suggest the user to add this manually.

[2021-09-10 16:27] navendu-pottekkat commented on #3746
@utkarsh-pro Could you provide some context here on importing patterns from GitHub?

[2021-09-10 16:34] leecalcote commented on #3746
Briefly, import from GitHub as a special treatment is a Meshery Remote Provider use case only, and currently, only one that applies if the user has auth'ed with their GitHub account. The UI flow that is needed here is akin to this:

- user clicks import and is presented with three options:
  - browse... filesystem import
  - url... generic, public, http endpoint
  - github - pick list of the user'

[2021-09-10 16:44] shahkushal38 commented on #3538
Yes, working on it, please give me a day or two

[2021-09-10 16:50] leecalcote commented on #3746
We can consider that @Meghana-12 delivered as volunteered on this issue and close it out, first copying the contents of the last comment into a new issue, though.

[2021-09-10 16:53] leecalcote commented on #4139
@PuneetDabral, unless I'm mistaken, you haven't executed on step 1, yet.

[2021-09-10 16:59] warunicorn19 commented on #4139
Hey @PuneetDabral have you joined our [slack](https://join.slack.com/t/meshery/shared_invite/zt-rgbyt4kj-6PUUyqY9SfQGRSt_oZV9yQ) workspace?

[2021-09-10 17:00] PuneetDabral commented on #4139
are you on discord

[2021-09-10 17:01] warunicorn19 commented on #4139
Nope just on slack for now.

[2021-09-10 17:02] warunicorn19 commented on #4139
https://join.slack.com/t/meshery/shared_invite/zt-rgbyt4kj-6PUUyqY9SfQGRSt_oZV9yQ

here is the link.

[2021-09-10 17:04] PuneetDabral commented on #4139
ok sir now i am a member of your community

[2021-09-10 17:14] warunicorn19 commented on #3538
Alrighty @shahkushal38

[2021-09-10 17:40] PuneetDabral commented on #4139
sir please assign it to other ....

[2021-09-10 18:51] SirZeck commented on #3462
Okay, I'll work on it.

[2021-09-10 18:52] warunicorn19 commented on #3462
@SirZeck just head's up, I think this issue doesn't persist because I have checked it twice, but I still might be wrong, so you're more than welcome to have a look.

[2021-09-10 18:54] SirZeck commented on #3462
Um, there's no more exit status 255?

[2021-09-11 01:46] alphaX86 commented on #3234
@navendu-pottekkat no. I didn't touch this issue. IK this issue needs exploring but due to some issues in front and some with design spec ones I didn't focus on this.

You can assign to someone else

[2021-09-11 02:31] asubedy commented on #4139
I would like to work on this issue. Thank you

[2021-09-11 05:29] warunicorn19 commented on #4139
Sure @asubedy!

[2021-09-11 06:38] piyushsingariya opened #4154 "[Docs] Trubleshooting guide for `system check`"
#### Desired State
Create a guide explaining the possible reasons and pointers to solve the issue behind failed environment checks from `system check`

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for contributing to documentation](https://github

[2021-09-11 07:41] piyushsingariya commented on #3982
https://codecov.io/gh/meshery/meshery/tree/master/mesheryctl/pkg/utils Something that might help.

[2021-09-11 10:00] SirZeck commented on #3153
No updates @yash112-lang ?

[2021-09-11 10:01] SirZeck commented on #3030
No updates @vishal267 ?

[2021-09-11 11:51] nehaLohia27 commented on #3770
Yes I am working on  this issue. I will start from next week as on vacation
this week.

On Sat, 11 Sep 2021, 3:39 pm github-actions[bot], ***@***.***>
wrote:

[2021-09-11 12:20] warunicorn19 commented on #3770
Sounds good @nehaLohia27.

[2021-09-11 12:26] navendu-pottekkat commented on #3234
Thank you for the update

[2021-09-11 12:41] navendu-pottekkat commented on #3462
Let's keep this open for a while. I have marked it as invalid in any case.

[2021-09-11 12:56] warunicorn19 commented on #3462
Sounds good @navendu-pottekkat

[2021-09-11 13:00] #3021 closed

[2021-09-11 13:27] suhaniii commented on #4050
@s1ntaxe770r  @DelusionalOptimist  Is there better way to fetch latest release in Dockerfile when release version not specified?

`https://github.com/meshery/meshery/releases/download/v0.5.56/mesheryctl_0.5.56_Linux_x86_64.zip`

[2021-09-11 13:31] leecalcote opened #4156 "[mesheryctl] Slow response time from commands: background checks taking time"
#### Current Behavior
Slowness with background requisite checks, which can take ~10 seconds to execute.

#### Desired Behavior
faster response times on the Ctl commands. Faster health checking or reduced health checking.

#### Screen Capture

https://user-images.githubusercontent.com/7570704/132949537-7bf6c9a6-7707-4a4f-8a58-4e5d456628ae.mov

---

#### Contributor [Guides](https://docs.meshery.io/

[2021-09-11 13:32] alphaX86 commented on #3980
@AnshumanDhiman checking in.... Sorry for keeping you hold for a long time, coz I had some works in between. Anyways, are you up for this? Or you'd still need any clarification?

[2021-09-11 14:20] navendu-pottekkat opened #4157 "[UI] Import pattern files from GitHub"
#### Current Behavior

Users can import pattern/application/filter files via a URL through Meshery UI.

#### Desired Behavior

Users should be able to import pattern files from GitHub as well when logged in to Meshery Remote Provider via GitHub.

The new UI should reflect the following features:

- User clicks import and is presented with 3 options
  - "browse" for filesystem import
  - "url" for

[2021-09-11 14:21] navendu-pottekkat commented on #3746
Opened the other considerations as a separate issue: https://github.com/meshery/meshery/issues/4157

Closing this one out.

[2021-09-11 14:21] #3746 closed

[2021-09-11 15:06] DelusionalOptimist commented on #4050
@suhaniii I think it won't be ideal to fetch pre-released mesheryctl binaries. We should build it when we're building the docker image.

For e.g.:
Take the meshery image. We build meshery server's binary here: https://github.com/meshery/meshery/blob/9212aad73d840418fce17c0b0e80cb5ab5f20c83/Dockerfile#L10
So when you would run `docker build .` it would actually checkout the code in the current work

[2021-09-11 15:38] leecalcote opened #4158 "Deleting 10 patterns at once returns a warning"
#### Current Behavior
When a user bulk deletes ten patterns, the patterns seem to be deleted. The total number of patterns available dropped by ten, however, an error message is returned.

#### Expected Behavior
If the patterns are successfully deleted, the user should not be negatively notified.

#### Screenshots/Logs
<img width="1058" alt="Screen Shot 2021-09-11 at 10 33 18 AM" src="https://user

[2021-09-11 15:38] leecalcote commented on #4158
@Chadha93 will you investigate this?

[2021-09-11 15:42] Chadha93 commented on #4158
Sure

[2021-09-11 16:26] amitech commented on #2957
@navendu-pottekkat still on it, sorry it is taking time, will update soon.

[2021-09-11 16:28] navendu-pottekkat commented on #2957
Do you need any specific help for this issue?

[2021-09-11 17:20] leecalcote commented on #4158
@Chadha93 this is a provider-specific issue with Meshery Cloud's use of API Gateway.

[2021-09-11 17:47] amitech commented on #2957
As per my understanding, the function from `reset` sub-command is called [here](https://github.com/meshery/meshery/blob/master/mesheryctl/internal/cli/root/system/start.go#L235) in `start` sub-command. So it should work as expected. Not sure where it should be included.

When I run with `--verbose` flag, it is not even going to reset function.

[2021-09-11 18:08] navendu-pottekkat commented on #2957
@amitech Moving that function call to reset to outside of the platform check should do the trick I think.

[2021-09-11 18:52] Zain-Muiz opened #4161 "[v0.6.0 Release Docs] Dynamic Management UIs"
As part of Release Blog for v0.6.0, we have created this issue belonging to epic [#4127] in order to organize and ensure the smooth release of the blog. Feel free to leave a comment if you would like to take up this respective blog or any section of it.

Some of the Areas to be covered for **Dynamic Management UIs** :
- [ ] Service mesh configurator

---

#### Contributor [Guides](https://docs.mes

[2021-09-11 19:04] Zain-Muiz opened #4162 "[v0.6.0 Release Docs] Connection Wizard"
As part of Release Blog for v0.6.0, we have created this issue belonging to epic [#4127] in order to organize and ensure the smooth release of the blog. Feel free to leave a comment if you would like to take up this respective blog or any section of it.

Some of the Areas to be covered for **Connection Wizard** :
+ [ ] NATS connectivity test
+ [ ] MeshSync
  - Resync
  - Wipe database

---

#### C

[2021-09-11 19:30] #4123 closed

[2021-09-11 19:50] #3992 closed

[2021-09-11 21:14] iambami commented on #4162
I'd love to

[2021-09-12 02:38] Anand-Theertha commented on #3972
@navendu-pottekkat I'm still on it Navendu. I'll get it done.

[2021-09-12 03:21] amitech commented on #2957
It works, thanks. It now resets the config in the same way as `mesheryctl system reset`.

But I have a doubt:
Does mesheryctl config file mean `~/.meshery/config.yaml` file OR does it mean manifest files for respective platform (here k8s) in location `~/.meshery/manifests/`.
Because `mesheryctl system reset`  is resetting manifests files only, not the  `~/.meshery/config.yaml` file.

See the outpu

[2021-09-12 03:32] sgibson19 commented on #4154
I would like to work on this

[2021-09-12 04:56] yash112-lang commented on #3153
@SirZeck I'm not working on this issue now. You can assign it to any other.

[2021-09-12 05:39] alphaX86 commented on #3409
I expected this would pop up 🙂

[2021-09-12 05:40] alphaX86 commented on #3409
@leecalcote do we need to continue or stop focusing on the `Governance`?

[2021-09-12 05:57] SirZeck commented on #3153
Sure @yash112-lang . You can go ahead and look for some other issue which you can work on. If you face any issue or have some doubt then ask in the slack channel after doing your homework though.

[2021-09-12 05:58] navendu-pottekkat commented on #2957
Hmm, this is confusing. Reset was used to reset the manifest files present in Meshery. The docker-compose file and the Kubernetes manifests. That was how it was used.

But resetting the meshconfig (Meshery Config, `.meshery/config.yaml`) makes sense to me. This can help when users have an invalid config and needs to reset it back.

@hexxdump @leecalcote @piyushsingariya @metonymic-smokey Could you

[2021-09-12 06:00] SirZeck commented on #2889
Should this issue remain stale or open?

[2021-09-12 06:00] navendu-pottekkat commented on #3972
Sure @Anand-Theertha . This would be a nice to have ASAP. We have been investing a lot on performance management and a lack of documentation really slows us down. Let me know if you need any help.

[2021-09-12 07:59] K-Kumar-01 commented on #4157
@navendu-pottekkat
I would like to work on it.

[2021-09-12 08:03] K-Kumar-01 commented on #4077
@veerreshr I apologise for late reply. Were you able to solve the issue? I am seeing a comment that you have mentioned so a little confusion here.

[2021-09-12 09:29] veerreshr commented on #4077
No, it lead to some other issue , please continue trying

[2021-09-12 09:58] piyushsingariya commented on #4154
Sure, @sgibson19 :smile:

[2021-09-12 10:58] navendu-pottekkat commented on #4157
Sure, FYI this might require some design and it may not be super straightforward. If you are starting out here, then there might be other good-first-issues. But if you are up for a challenge, feel free to take this on.

[2021-09-12 12:38] DelusionalOptimist commented on #3995
Thank you @krithikvaidya for showing interest here and also pinging me in slack.
Since you've told that you're willing to do it even after knowing about the prerequisites (an EKS), I'll assign this to you. :+1:

[2021-09-12 13:13] Zain-Muiz commented on #4162
Sure ! @iambami Go ahead ! 🚀

[2021-09-12 16:49] navendu-pottekkat commented on #4157
@l5io Testing

[2021-09-12 16:55] navendu-pottekkat commented on #4157
@l5io Testing

[2021-09-12 19:22] bariqhibat opened #4172 "RJSF should show description on (?) tooltip instead of below the field for aesthetic purposes"
Due to unforeseen issues, I reverted back to the old design but hide the description for aesthetics.
The issues are:
- Custom fields input component isn't able to update the states of the form from inside the component easily. Hence, there might need a refactoring on how to manage RJSF form states

_Originally posted by @bariqhibat in https://github.com/meshery/meshery/issues/4171#issuecomment-917

[2021-09-12 20:34] leecalcote opened #4174 "[Perf] Server panic when Nighthawk is missing"
#### Current Behavior
Meshery Server panics when trying to run a perf test using Nighthawk, when the Nighthawk binary is not available.

This issue was seen on a locally built Meshery Server, running on MacOS.

#### Screenshots/Logs
[code]

#### Environment

- **Host OS:** Mac
- **Platform:** locally built - - missing Nighthawk binary on local Mac
- **Meshery Server Version:** stable-v0.5.56

---

[2021-09-13 03:00] hexxdump commented on #3758
Refactored the code, however there is lot of duplication in code for each subcommand, working on abstracting the code. Unit testing the code in parallel. Hopefully will push the changes in a day or two.

[2021-09-13 03:29] krithikvaidya commented on #3995
Thanks for assigning me. I'm having some issues with my MFA on AWS, so I'll get started once that's resolved :)

[2021-09-13 04:40] piyushsingariya commented on #4154
[code]

many of the checks are unsuccessful in the example case, this issue focuses on writing a manual to tackle/list the possible reasons behind each failure.
that means listing possible reasons for a failed check and instructions to pass the checks

[2021-09-13 09:29] Meghana-12 opened #4178 "[v0.6.0 Release Docs] MeshMap Beta Program"
As part of Release Blog for v0.6.0, we have created this issue belonging to epic [[#4127](https://github.com/meshery/meshery/issues/4127)] in order to organize and ensure the smooth release of the blog. Feel free to leave a comment if you would like to take up this respective blog or any section of it.

Some of the Areas to be covered for MeshMap Beta Program:

- [ ] Remote Provider visual topolog

[2021-09-13 09:32] Meghana-12 opened #4179 "[v0.6.0 Release Docs] Pipelining Service Mesh Specifications"
As part of Release Blog for v0.6.0, we have created this issue belonging to epic [[#4127](https://github.com/meshery/meshery/issues/4127)] in order to organize and ensure the smooth release of the blog. Feel free to leave a comment if you would like to take up this respective blog or any section of it.

Some of the Areas to be covered for Pipelining Service Mesh Specifications:
- [ ] GitHub Action

[2021-09-13 09:34] Meghana-12 opened #4180 "[v0.6.0 Release Docs] SMI Conformance"
As part of Release Blog for v0.6.0, we have created this issue belonging to epic [[#4127](https://github.com/meshery/meshery/issues/4127)] in order to organize and ensure the smooth release of the blog. Feel free to leave a comment if you would like to take up this respective blog or any section of it.

Some of the Areas to be covered for SMI Conformance:
- [ ] What is the conformance program? How

[2021-09-13 09:37] Meghana-12 opened #4181 "[v0.6.0 Release Docs] Increased Platform Support"
As part of Release Blog for v0.6.0, we have created this issue belonging to epic [[#4127](https://github.com/meshery/meshery/issues/4127)] in order to organize and ensure the smooth release of the blog. Feel free to leave a comment if you would like to take up this respective blog or any section of it.

Some of the Areas to be covered for Increased Platform Support:
- [x] Meshery CLI support for L

[2021-09-13 10:09] Shreyas220 opened #4182 "Add filter POST deploy and filter DELETE deploy"
#### Current Behavior

We do not have filter POST deploy and filter DELETE deploy

we can take inspiration from [application deploy](https://github.com/meshery/meshery/blob/8fab9be65ee93510906bd39e166087d1717de64d/handlers/meshery_application_handler.go#L36) and [pattern deploy](https://github.com/meshery/meshery/blob/8fab9be65ee93510906bd39e166087d1717de64d/handlers/oam_handler.go#L49) (for some

[2021-09-13 10:53] Meghana-12 commented on #4122
This https://github.com/meshery/meshery/pull/4170 should solve this issue too, right?

[2021-09-13 12:29] Chadha93 commented on #4157
@navendu-pottekkat I will try to present some stuff on it, this week.

[2021-09-13 13:32] Meghana-12 commented on #4131
Is the latest docs code not deployed or something then?

[2021-09-13 13:44] warunicorn19 commented on #4131
Umm I don't think that could be the case🤔.

[2021-09-13 14:27] #2822 closed

[2021-09-13 19:55] Meghana-12 commented on #4146
Yes yes!

[2021-09-13 21:05] K-Kumar-01 commented on #4077
@warunicorn19 Can you please unassign me? I don't think I will be able to look at the issue due to some commitments. I apologize for the inconvenience caused.

[2021-09-13 21:07] warunicorn19 commented on #4077
@K-Kumar-01 yeah, no problem. @utkarsh-pro your recent PR fixes this issue too right? Then we can close this issue.

[2021-09-14 03:15] #4144 closed

[2021-09-14 03:18] #2957 closed

[2021-09-14 06:07] SirZeck commented on #4180
I would like to contribute to this blog topic. Can you help me pointing out which docs should I refer to gain information about SMI Conformance?

[2021-09-14 13:10] DelusionalOptimist opened #4184 "[meshery-server] supporting auth protocols not supported by `k8s.io/client-go` natively"
#### Description
`k8s.io/client-go` and other tools (kubectl) need to be authenticated first using the cloud provider's auth methods before they can interact with the cluster.
For doing this, they generally depend on external CLIs given by the providers. For more information on this, lookup [this](https://kubernetes.io/docs/reference/access-authn-authz/authentication/#client-go-credential-plugins)

[2021-09-14 13:17] DelusionalOptimist commented on #4184
Note that this is different from https://github.com/meshery/meshery/issues/3995.
Contrary to earlier assumption, the scripts in mesheryctl, though hacky, work fine. However that issue would now be more targeted towards porting [this](https://github.com/meshery/meshery/blob/e3dec35a4aefc7e6b0c71c189d62b7a80b10f8ce/mesheryctl/internal/cli/root/system/config.go#L236-L281) to a Go native aws sdk which

[2021-09-14 13:49] DelusionalOptimist opened #4185 "[helm] helm installation doesn't work for Meshery v0.5.54 and onwards"
#### Current Behavior
When installing v0.5.54 and further versions using helm, installation fails.
Note that this is regardless of the target Kubernetes cluster's version.

#### Expected Behavior
Users should be able to install Meshery using helm.

#### Possible cause
Changes introduced to support k8s v1.21.0+ in v0.5.54 release might have brought in some errors in defined helm charts.

#### Scree

[2021-09-14 13:57] leecalcote opened #4186 "[UI] Perf Charts: showing "error communicating with server" even though data is present"
#### Current Behavior
<img width="2167" alt="Screen Shot 2021-09-14 at 8 55 34 AM" src="https://user-images.githubusercontent.com/7570704/133271060-7ae09e33-277d-4485-b984-2a8ca2be2944.png">

#### Desired Behavior
Warnings should not be shown if data has been received.

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources

- 🎨 Wireframes and designs for Mesher

[2021-09-14 14:33] #3896 closed

[2021-09-14 14:53] navendu-pottekkat opened #4187 "[Docs] Update mesheryctl using bash script without deploying Meshery"
#### Current State

Users need to update mesheryctl occasionally when a new release is available. The docs to update in mesheryctl points to [this URL](https://docs.meshery.io/guides/upgrade#upgrading-meshery-cli) which does not mention how to _only_ update mesheryctl without deploying Meshery.

![Screenshot 2021-09-14 at 8 19 23 PM](https://user-images.githubusercontent.com/49474499/133280885-35d

[2021-09-14 14:54] Shatakshi0805 commented on #4187
Hi, I would like to work on this. Could you please assign this issue to me?

[2021-09-14 14:55] navendu-pottekkat commented on #4187
Yes. That was blazingly fast @Shatakshi0805 🚀

[2021-09-14 15:02] Shatakshi0805 commented on #4187
Yes, this project really interests me so kind of want to learn more about it. :)

[2021-09-14 15:10] Shatakshi0805 commented on #4187
I think this issue can be a good start for someone who is just starting out in meshery. So unassigning myself. 😅
/unassign

[2021-09-14 15:15] kartik1918 commented on #4187
Hi, Can I work on this?

[2021-09-14 15:16] warunicorn19 commented on #4187
Sure @kartik1918.

[2021-09-14 15:33] SirZeck commented on #4180
I have made a draft of the 3 tasks but not sure about what to add in the 4th task. Can you review it and give some suggestions or feedback?

https://docs.google.com/document/d/19rSlPdKe08-RiB8jnj51XH5RU1NAFb_LyOX6FYgVrHQ/edit?usp=sharing

[2021-09-14 19:49] DelusionalOptimist commented on #4076
@s1ntaxe770r checking in. Any problems here? Let's get this done by this week? (before the community call)

[2021-09-15 01:28] panyuenlau commented on #4185
Hey @DelusionalOptimist, can I give this a try?

[2021-09-15 06:37] warunicorn19 commented on #4185
Sure @panyuenlau.

[2021-09-15 06:50] warunicorn19 commented on #4122
@Meghana-12 could you just check once and then close this issue if the problem does not persist anymore.

[2021-09-15 06:57] #4077 closed

[2021-09-15 14:35] midepeter commented on #3969
This sounds interesting

[2021-09-15 15:37] leecalcote commented on #3770
Let's consider the Prometheus Operator with Node Exporter configuration an Application to embed (seed) in Meshery Server as out of the box content.

[2021-09-15 17:39] nehaLohia27 commented on #3770
@leecalcote
do you mean we need to remove prometheus from istio addon and seed into meshery server ?
how do we seed content in meshery server. in which format ? . can you provide any code/ blogs to start with..

so do we need to drop helm chart idea for this ?

[2021-09-15 17:52] leecalcote commented on #3770
@nehaLohia27, no, the provisioning of Prometheus Operator with Node Exporter will be additive to any Prometheus provisioned as an add-on.

@Revolyssup demo'ed packaging and registering of seed content for wasm filters on today's call (just before this agenda item). There is a design spec "Packaging Seed Content in Meshery" in the community drive.

[2021-09-15 18:05] navendu-pottekkat commented on #3969
@midepeter I believe @piyushsingariya has fixed this issue in the PR linked above.

[2021-09-15 18:08] midepeter commented on #3969
Just saw that...

[2021-09-15 18:08] midepeter commented on #3969
Cool

[2021-09-15 18:23] Anand-Theertha commented on #3972
Hello, sorry for the delay. Please find the pull request to this issue here - #4192

[2021-09-15 18:45] #3661 closed

[2021-09-15 19:02] SirZeck commented on #3661
Should this be closed?

[2021-09-15 21:02] utkarsh-pro commented on #3770
@leecalcote I don't think we can represent Prometheus Operator + Node Exporter in an `Application` because `Application` is a construct with a very narrow scope.

Here are the things that we can do:
1. Create new Pattern components of type `Prometheus Operator` and `Node Exporter`. These components will be handled by meshery server.
2. Create a pattern file which handles the deployment of all of t

[2021-09-15 21:07] panyuenlau commented on #4156
Hey @leecalcote, I just looked into the implementation of `mesheryctl system status`, it seems the slowness mainly coming from the [`docker-compose` command](https://github.com/meshery/meshery/blob/master/mesheryctl/internal/cli/root/system/status.go#L93) that gets run behind the scene every time `mesheryctl system status` is issued. With that said, higher CPU usage would cause a longer time for d

[2021-09-15 22:48] dhruv0000 opened #4195 "Define Message types for Broadcasting"
@dhruv0000 before we create message types, which we should, please see the Messaging Framework and Notification Center design spec.

---------

 @bariqhibat 8 hours ago
I saw that this Message field can be a boolean or an error. This will pose a problem in the future if we cast the variabel just like what we are doing, for example boolean/error but it turns out to be the other way around. Could we

[2021-09-16 01:56] panyuenlau commented on #4037
I'd like to look into this, can I get assigned for this issue?

[2021-09-16 03:04] panyuenlau commented on #4044
Hey @piyushsingariya quick question, does the content of the `system check` change when `--report` flag is added? Or do we just want to redirect the same output to either YAML or TEXT?

[2021-09-16 07:10] mgfeller commented on #4195
@dhruv0000 @bariqhibat
This sounds like cloud events to me, doesn't it, the spec of which we should follow where we want to use events in meshery.
There is some info in the doc @leecalcote mentioned: https://docs.google.com/document/d/1_zpEWBcC6ngOLen_E_nc-octiUdBbpmdwwIX6qzo70M/edit#heading=h.p1m1fiq40muq
at least the cloud event context structure would make sense to be defined in meshkit, wouldn

[2021-09-16 08:51] #3599 closed

[2021-09-16 09:56] navendu-pottekkat commented on #4179
@DelusionalOptimist @Meghana-12 I am working on the docs for these as well as writing guides for these. I can take this up if it is not an issue. It should take less effort and could avoid having to duplicate content.

[2021-09-16 10:56] DelusionalOptimist commented on #4179
Thanks @navendu-pottekkat. :smile:

[2021-09-16 11:54] navendu-pottekkat commented on #4181
@Meghana-12 Initial draft for this: https://docs.google.com/document/d/17Y54WCyJOvAKlFUb-VNB7x36kjru6TjDOWB2HY9AAM0/edit?usp=sharing

[2021-09-16 11:58] navendu-pottekkat opened #4197 "[Docs] Add docs for `mesheryctl system check` command"
#### Current State
`mesheryctl system check` is a command use to run system health checks for both pre and post deployment scenarios.

#### Desired State
1. Add documentation for this command in the [Command Reference](https://docs.meshery.io/reference/mesheryctl) page and add individual page for this command.
2. Create a [guide](https://docs.meshery.io/guides) which walks through how a user can v

[2021-09-16 11:59] navendu-pottekkat commented on #4181
A pending doc that needed to be added to finish this: https://github.com/meshery/meshery/issues/4197

[2021-09-16 12:02] navendu-pottekkat commented on #4180
@SirZeck These two docs should cover everything related to SMI. You can also check the links referenced in those posts for more info.

https://docs.meshery.io/functionality/service-mesh-interface

https://docs.meshery.io/guides/smi-conformance

[2021-09-16 12:03] navendu-pottekkat commented on #4179
@Meghana-12 Draft for pipelining service mesh specs: https://docs.google.com/document/d/17Y54WCyJOvAKlFUb-VNB7x36kjru6TjDOWB2HY9AAM0/edit#

I have not added the images and I am waiting for this PR for some references to the docs: https://github.com/meshery/meshery/pull/4192

Please check and let me know if this would be enough.

[2021-09-16 12:07] siddhantprateek commented on #3834
![Screenshot from 2021-09-16 17-26-44](https://user-images.githubusercontent.com/43869046/133608103-bae0aa88-b0e1-4dd4-90ec-b5419a484685.png)
@leecalcote, If such changes are acceptable. I have made some additional changes in the front matter of all the `_adapters`, I have added a new variable to the front matter so that can get all adapter-option keywords.

[2021-09-16 13:01] bariqhibat commented on #4195
Ah yes, that's the word that I've been looking for! From the spec on the docs, we would definitely need the `source` field in order to filter out events that the subscription wishes to listen to in the goroutine, hence only triggers on specific events from specific sources. Does itmake sense if we implement it?

[2021-09-16 13:37] SirZeck commented on #4180
@navendu-pottekkat as it is mentioned in the task 4 that I have to explain what the red crosses and yellow crossed means mentioned on this dashboard, right?

https://meshery.io/service-mesh-interface

[2021-09-16 13:40] navendu-pottekkat commented on #4180
Yes. That is correct. You can check here: https://layer5.io/service-mesh-landscape#smi

[2021-09-16 13:40] navendu-pottekkat commented on #4180
You can also check this: https://smi-spec.io/blog/validating-smi-conformance-with-meshery/

[2021-09-16 13:48] piyushsingariya commented on #4044
Could you please elaborate? I am not able to understand your comment.

[2021-09-16 13:51] panyuenlau commented on #4044
I was just wondering what different content would you expect to get with the `--report` flag

[2021-09-16 14:03] piyushsingariya commented on #4037
sure!

[2021-09-16 14:06] piyushsingariya commented on #4044
almost everything, docker info, meshery logs, k8s info, meshery version, channel, everything!
IMO We can create prompt UI which can help in asking questions to user and then generate reports on basis of that.
but that's just the image of this in my head.
that's why I want someone to write a long-ass design spec where we can take input from folks on what could be collected as reports.
the way of co

[2021-09-16 14:18] Chadha93 commented on #4158
@lee I have just tested this but was not able to reproduce the error, working fine. adding a video with networks tab, all requests were madde successfully but the opertion felt a bit laggy in my system is it same for you ?

https://user-images.githubusercontent.com/65453826/133628793-6035d64c-1c9e-475d-b509-183984883b00.mp4

[2021-09-16 14:24] Chadha93 opened #4198 "[UI] Refracting PPFA (pattern/performance/filters/application)"
#### Current Behavior
Currently, in **PPFA** (pattern/performance/filters/application), there are many components that are being repeated and can be reused.

#### Desired Behavior
Refractor PPFA and add it to common components to make code much more efficient and easily readable.

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources

- 🎨 Wireframes and designs

[2021-09-16 14:25] Chadha93 commented on #4198
@Zain-Muiz As discussed on the WASM call will you track this?

[2021-09-16 15:03] panyuenlau commented on #4037
Hey @piyushsingariya, I just looked into the implementation and it seems this PR https://github.com/meshery/meshery/pull/4035 fixed the panic in release v0.5.52? @Revolyssup @leecalcote can you please confirm if this is still a valid issue?

[2021-09-16 15:07] #4037 closed

[2021-09-16 17:08] SirZeck commented on #4180
Now the draft is completed, can you review it for any changes or additions?

[2021-09-16 19:57] leecalcote opened #4199 "[Perf] wrk2 test failure"
#### Current Behavior

#### Expected Behavior

#### Environment

- **Host OS:** Mac
- **Platform:** Docker
[code]

#### Screenshots/Logs

[code]

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for contributing to documentation](https://github.com/me

[2021-09-16 20:09] warunicorn19 opened #4200 "[Docs]Add Open Service Mesh lab to docs"
Current State
The recently made Open Service Mesh lab is not in the Docs.

Desired State
Let's add that lab to the docs for Open Service Mesh adapter.
https://docs.meshery.io/service-meshes/adapters/osm

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions fo

[2021-09-17 07:19] mgfeller commented on #4195
:smile: If this is about sending/handling events using NATS (now or later), then I'd say definitely yes. I think it is a good approach anyway. I haven't had the chance to have a closer look at the background of this issue, though.
It will pay off to follow the spec right from the start (incl all required fields).
I added some more comments to the `source` attribute in the doc.

One thing we haven'

[2021-09-17 13:10] shreyaansjain commented on #4200
Can i do this ? if yes please explain the work

[2021-09-17 13:14] nehaLohia27 commented on #3770
@leecalcote how to move forward on this . ? can we follow the approach suggested by @utkarsh-pro   ?

[2021-09-17 14:22] warunicorn19 commented on #4200
Sure @shreyaansjain, in the docs if you go to adapters, most adapters have a service mesh lab in them, the lab for OSM was just made, so you'll have to add it to the docs page, if you have a look at the other adapters, it's actually quite easy to do.

[2021-09-17 14:23] warunicorn19 commented on #4200
https://github.com/meshery/meshery/pull/4141/files

It has to be done exactly like this.

[2021-09-17 14:40] Zain-Muiz commented on #4198
Yes @Chadha93 . Definitely !

[2021-09-17 15:03] Meghana-12 commented on #4179
Thanks awesome! Thanks @navendu-pottekkat!

[2021-09-17 16:14] gyohuangxin opened #4201 "[UI] Meshery deployed on Kind Kubernetes doesn't work"
#### Current Behavior

There are some error msgs from Meshery UI:
![image](https://user-images.githubusercontent.com/42127654/133818333-9e9f23d5-54e4-4d05-8cae-cd4f590e9321.png)

And there are many error msgs from Meshery pod's log:
[code]

#### Expected Behavior

#### Screenshots/Logs

All the Meshery service are running:
[code]
And I use nginx ingress controller to expose Meshery serivce.
The in

[2021-09-17 16:22] gyohuangxin commented on #4201
More Info you can refer to, below is all the steps I setup Meshery with Kind.

### Create multi-node Kubernetes test cluster with Kind

Prepare kind configuration yaml

`$ cat kind.yaml`

[code]

To tell KIND to use this configuration you can use the “–config” option:

`$ kind create cluster --name=meshery-test --config=./kind.yml`

Install a Ingress Controller for Kubernetes, such as Nginx Contro

[2021-09-17 16:42] #4185 closed

[2021-09-17 16:45] afzal442 commented on #3978
hi @sayantan1413, would you like to take up this as discussed in our recent meet 🚀 ? Basically, you need to edit the examples wherever required. 💐 . let me know if you are interested🌸 thanks.

[2021-09-17 17:12] panyuenlau opened #4202 "Broker and Meshsync pods, along with kube-rbac-proxy container are missing while installing with helm chart"
#### Current Behavior

The `Broker` and `Meshsync` pods are missing after meshery is deployed using the [helm chart](https://github.com/meshery/meshery/tree/master/install/kubernetes/helm/meshery)

The `kube-rbac-proxy` container is also missing in the `meshery-operator` pod compared to the installation result that `mesheryctl` gives
#### Expected Behavior

We should provide a way to manually crea

[2021-09-17 17:16] leecalcote commented on #4202
Great write-up, @panyuenlau 💪

[2021-09-17 18:04] Meghana-12 commented on #4180
Awesome! Thank you so much @SirZeck!

@navendu-pottekkat could you review this?

[2021-09-17 18:08] Meghana-12 commented on #4122
@warunicorn19 so PR [#4170](https://github.com/meshery/meshery/pull/4170) add the percentiles to the right of the graph. And I don't think any other entries would take up more than 1/3rd space so I think it's fine. Will this do?

[2021-09-17 18:10] warunicorn19 commented on #4122
Yup i think it works fine now, closing this issue then.

[2021-09-17 18:10] #4122 closed

[2021-09-17 18:17] sb1975 commented on #1085
sure I will like to try it out.

[2021-09-17 18:25] warunicorn19 commented on #4139
@asubedy any progress on this?

[2021-09-17 18:25] jaimep01 commented on #4111
@leecalcote
Hello Please assign this one to me I'll try my best to complete it.

[2021-09-17 18:26] Meghana-12 opened #4203 "[v0.6.0 Release Docs] GitHub Action for SMI Conformance"
As part of Release Blog for v0.6.0, we have created this issue belonging to epic [[#4127](https://github.com/meshery/meshery/issues/4127)] in order to organize and ensure the smooth release of the blog. This issue is to track the status of the blog post for GitHub Action for SMI Conformance (parent issue #4179). Feel free to leave a comment if you would like to take up this respective blog or any

[2021-09-17 18:28] warunicorn19 commented on #4111
Sounds great! @jaimep01

[2021-09-17 22:02] leecalcote commented on #4201
@gyohuangxin, thank you for reporting this!

[2021-09-17 22:18] leecalcote commented on #4201
@gyohuangxin The installation method of directly deploying Meshery via Kubernetes manifests is a method that the project is trying to move away from. We're in need of eventually removing the direct manifest method that is published here - https://meshery.io/#getting-started

<img width="1109" alt="Screen Shot 2021-09-17 at 5 08 03 PM" src="https://user-images.githubusercontent.com/7570704/13385880

[2021-09-17 23:48] #2266 closed

[2021-09-18 01:28] gyohuangxin commented on #4201
@leecalcote Thanks, your answer is very helpful. And I found the PR to fix Helm charts issue has been merged, so I will try to use Helm.

[2021-09-18 02:12] shreyaansjain commented on #4200
Thanks @warunicorn19  for your reply i have made a pr please check it and if you want some changes please tell me

[2021-09-18 03:53] bariqhibat commented on #4195
Hey @mgfeller, the spec looks good. However, there might be a problem if we're trying to enable multiple clusters / client connected to one Meshery instance. We need some sort of identifier for each cluster/client, what do you suggest?

[2021-09-18 03:54] nathanawmk opened #4207 "Production support for Meshery"
I have istio and linkerd in production and I need meshery to unify them - is meshery supported in production mode?

[2021-09-18 04:24] asubedy commented on #4139
@warunicorn19 Yes I am working on it couldn't work on it for days because my laptop got crashed and was sent to repair. Will try to finish the task in these two days. Sorry for the delay.

[2021-09-18 06:21] suhaniii commented on #3853
@navendu-pottekkat How to recreate this issue?

[2021-09-18 12:49] #3670 closed

[2021-09-18 15:08] leecalcote commented on #3690
@samirparhi-dev as this stale issue close out, do you have any aspect of this effort to save off should this issue be re-opened in the future?

[2021-09-18 16:20] navendu-pottekkat commented on #3853
@suhaniii You have to run Meshery in Docker platform on an Apple Machine with M1/ARM chip

[2021-09-18 16:22] navendu-pottekkat commented on #4180
Yes sure.

[2021-09-18 16:23] navendu-pottekkat commented on #4180
Will this be a separate blog post or will it be added to the release blog?

[2021-09-18 17:16] jaimep01 commented on #4111
@warunicorn19 Is there a way i can get my hands on the current template, so I do not have to reinvent the wheel?

[2021-09-18 18:35] navendu-pottekkat commented on #3637
@sayantan1413 Were you able to find which of our dependencies is causing this issue? If it is a small fix we can try to fix this.

[2021-09-18 19:56] warunicorn19 commented on #4111
Hey @jaimep01 so the difficult part of this issue is to get the workflow in place, let's focus on that first and then we could work on the template later on.

[2021-09-19 05:05] jaimep01 commented on #4111
Hi @warunicorn19,
So it seems that there is an already created  [Action](https://github.com/marketplace/actions/send-email) we could add to manage email sending, triggering it on push should not be an issue but there are some questions that need to be answered first:

Do we have an SMTP server? (GitHub as of today(09/18/2021) does not provide an smtp relay to send emails from the action)
How are w

[2021-09-19 05:47] suhaniii commented on #3853
@navendu-pottekkat RN we pull image from `v2tec/watchtower` after building new image where in docker hub do we want to push it?

[2021-09-19 09:05] Meghana-12 opened #4208 "[UI] Import using URL in Patterns and Filters is not working as expected"
#### Current Behavior
Import by URL feature in patterns and filters in working uploading the data in the URL.

#### Desired Behavior
Should display the contents of the URL

#### Environment

- Browser: Chrome
- Host OS: Mac
- Meshery Server Version: stable-v
- Meshery Client Version: stable-v
- Platform: Docker Kubernetes

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing

[2021-09-19 09:08] Meghana-12 commented on #4180
I'm not sure. @leecalcote?

[2021-09-19 09:18] Meghana-12 opened #4209 "[UI] Update UI of the confirmation prompts in the modals - Patterns"
#### Desired Behavior
The primary option on the right-hand side should have the current background color and the secondary option on the left should have a transparent background.

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources

- 🎨 Wireframes and designs for Meshery UI in [Figma](https://www.figma.com/file/SMP3zxOjZztdOLtgN4dS2W/Meshery-UI)
- 🖥 [Contrib

[2021-09-19 16:19] warunicorn19 commented on #4111
@jaimep01 as far as I know we don't have an SMTP server, I think it's better if we hold off for now if we are in risk of doing something illegal. @leecalcote thoughts?

[2021-09-20 08:52] #4187 closed

[2021-09-20 09:16] khanjasir90 commented on #3153
@dhruv0000 can i give it a try?

[2021-09-20 09:39] navendu-pottekkat opened #4214 "[mesheryctl] `system token create`shows unhelpful error when token name is missing"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

`mesheryctl system token create` is used to create a new token in the meshconfig(.meshery/config.yaml) file.

When the token name is not provided, it shows an unhelpful error:

![Screenshot 2021-09-20 at 2 59 42 PM](https://user-images.githubusercontent.com/49474499/133981676-ee53f8cd

[2021-09-20 09:52] Viper-M commented on #4214
@navendu-pottekkat  Can I work on this issue?

[2021-09-20 09:55] sayantan1413 commented on #4214
Sure @Viper-M go ahead! 🚀

[2021-09-20 10:07] navendu-pottekkat opened #4216 "[mesheryctl] --set flag to set the newly created token as the token for the current-context"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

`mesheryctl system context create <token-name>` creates a new token in the meshconfig file.

#### Desired Behavior

Add a `--set` flag to this subcommand which will set this newly created token as the token of the current context.

![Screenshot 2021-09-20 at 3 33 56 PM](https://user-i

[2021-09-20 10:07] navendu-pottekkat commented on #4214
@Viper-M You could also fix this issue with this: https://github.com/meshery/meshery/issues/4216

[2021-09-20 10:07] navendu-pottekkat commented on #4214
Assigning it you as well.

[2021-09-20 10:08] navendu-pottekkat commented on #4216
@Viper-M Could you also check this issue?

[2021-09-20 10:10] navendu-pottekkat commented on #4214
@Viper-M Could you also check the other subcommands in `system token` for the same issue as well?

[2021-09-20 10:44] khanjasir90 opened #4217 "[Docs] Typo Error in ADOPTERS.md file"
#### Current State
![adp2](https://user-images.githubusercontent.com/53305380/133989542-d819bb77-4b77-404b-b449-3ad70d4ff3d2.JPG)
![adp1](https://user-images.githubusercontent.com/53305380/133989574-561ec77d-ee86-4893-8ec2-d58cf078551b.JPG)

#### Desired State
It should be something like this :
We find Meshery to be the perfect "goto" tool to help us successfully operate our service mesh OR We fin

[2021-09-20 10:45] khanjasir90 commented on #4217
@leecalcote @warunicorn19  can i work on this issue if its a valid one!

[2021-09-20 10:48] warunicorn19 commented on #4217
@navendu-pottekkat is this something we need to fix?

[2021-09-20 10:48] #4050 closed

[2021-09-20 10:59] Viper-M commented on #4214
Sure

[2021-09-20 11:00] Viper-M commented on #4216
Done

[2021-09-20 11:13] navendu-pottekkat commented on #4217
No I think. Because these were written by the adopters and we do not want to paraphrase them.

[2021-09-20 11:15] khanjasir90 commented on #4217
Okay @navendu-pottekkat let's close this one!

[2021-09-20 11:15] #4217 closed

[2021-09-20 15:18] khanjasir90 commented on #4178
@Meghana-12 i would like to work on this! could u pls help to move ahead with this one!

[2021-09-20 16:06] navendu-pottekkat commented on #2955
@alphaX86 Could you test this out and see if this is still an issue?

[2021-09-20 18:35] mgfeller commented on #4195
Hey @bariqhibat good point. The `component-instance-id` was a suggestion to handle multiple instances of the same component, and the component could possibly register itself with additional information (not quite sure where, though, the one Meshery instance?). But this was just an idea, not sure it is optimal, it needs some discussion.

And/or: it could be useful/practical if the source contained

[2021-09-20 20:10] #4172 closed

[2021-09-20 20:11] bariqhibat commented on #4172
Closing since we've found out a way

[2021-09-20 20:23] #3257 closed

[2021-09-20 21:08] leecalcote commented on #3257
@DelusionalOptimist a good thing to verify

[2021-09-21 01:00] alphaX86 commented on #2955
@navendu-pottekkat Rog' 👍

[2021-09-21 06:42] Zain-Muiz commented on #4178
Heyy @khanjasir90 , Sure !  🚀 About resources, It could be great if you join today's Meshmap meet at 7:30 PM IST , people working on it can point you to the right direction.

[2021-09-21 07:52] khanjasir90 commented on #4178
cool @Zain-Muiz !

[2021-09-21 08:56] #3758 closed

[2021-09-21 09:38] warunicorn19 commented on #4105
@debo19 I think this is more of a safari specific, considering you use windows, I'll tackle this one if that's alright for you?

[2021-09-21 10:06] debo19 commented on #4105
@warunicorn19 yeah sure go ahead, it does look more prominent on safari

[2021-09-21 10:08] warunicorn19 commented on #4105
Thanks @debo19

[2021-09-21 11:24] leecalcote commented on #4178
All, this task is ill-positioned for a new contributor. @khanjasir90 is not being setup for success here. I'll see that this is reassigned. @Zain-Muiz please direct @khanjasir90 to another issue.

[2021-09-21 17:40] navendu-pottekkat commented on #3853
Well, we have a docker hub account. We can maybe push it here if we are able to fix the issue on M1 chips.

[2021-09-21 19:41] warunicorn19 commented on #3413
@DelusionalOptimist is this good to close?

[2021-09-21 19:46] Meghana-12 commented on #4203
@navendu-pottekkat Your blog related to #4179 covers this too, right?

[2021-09-21 19:58] navendu-pottekkat commented on #4203
Yes. I have yet to write the individual blogs for everything I've covered in the other blog.

[2021-09-21 20:00] Meghana-12 commented on #4203
Assigning this to you then!

[2021-09-22 06:40] #3635 closed

[2021-09-22 07:57] gyohuangxin commented on #4201
@leecalcote Hi, I can install Meshery with helm methods. However there are still some issues when I try to install service mesh on my cluster.
The steps to reproduce:
1. There are some errors in meshery-xxxx pod:
[code]

2. Try to install istio service mesh from GUI
![image](https://user-images.githubusercontent.com/42127654/134303883-4eff99f0-144b-4d8f-a082-82d1c35060e4.png)

3. The meshery-istio

[2021-09-22 11:50] #3970 closed

[2021-09-22 11:56] panyuenlau commented on #4103
Please assign this to me

[2021-09-22 12:18] navendu-pottekkat commented on #4103
Assigned! @panyuenlau

[2021-09-22 12:38] Zain-Muiz commented on #4130
Heyy @Shatakshi0805 ! How's this going !? Feel free to reach out when you need help.

[2021-09-22 12:54] bariqhibat commented on #4195
Hey @mgfeller,

One of the meshery component in a cluster that'd own the name/id of the cluster would be the all the pods/configmap/etc that is found by MeshSync. This is critical as user from cluster A would only want to subscribe to the detection of his own cluster, i.e. not notified of other cluster if there exists any.

I think putting it as one of the fqdn in the `Source` field is a good idea

[2021-09-22 12:57] afzal442 commented on #3978
thanks @alphaX86! DWG! go head!

[2021-09-22 16:16] leecalcote opened #4230 "[Docs] Update copyright notice in footer"
#### Current State
The footer of docs.meshery.io has ""

#### Desired State
Change to "© 2021 The Meshery Authors":

[code]

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for contributing to documentation](https://github.com/meshery/meshery/blob/m

[2021-09-22 16:31] fuadnafiz98 commented on #4230
Hi @leecalcote, Can I work on this issue?

[2021-09-22 16:53] PuneetDabral commented on #4230
please assign it to me sir i am new in git hub and also i need this contribution ...

[2021-09-22 16:55] warunicorn19 commented on #4230
@fuadnafiz98 you can go ahead with this, sorry @PuneetDabral i have to assign it to the one who comments first.

[2021-09-22 17:17] fuadnafiz98 commented on #4230
Thank you @warunicorn19, I am starting working on this.

I have a question. The current docs footer has "© 2021 Layer5 All Rights Reserved" I have to change it to "© 2021 The Meshery Authors". right?

[2021-09-22 17:20] warunicorn19 commented on #4230
Yes, just follow the issue description.

[2021-09-22 17:21] fuadnafiz98 commented on #4230
Thanks!

[2021-09-22 18:10] leecalcote opened #4232 "[Docs] Add support for versions"
#### Current State
Meshery Docs are not currently versioned. The Jekyll theme that Meshery Docs uses is [docsy-jekyll](https://github.com/vsoch/docsy-jekyl), which does not support versioning ([see explanation](https://github.com/vsoch/docsy-jekyll/issues/23#issuecomment-656311752)).

#### Potential Solutions

--> See "[Versioning](https://docs.google.com/document/d/17guuaxb0xsfutBCzyj2CT6OZiFnMu9

[2021-09-22 18:14] #1304 closed

[2021-09-22 18:50] mgfeller commented on #4195
Hey @bariqhibat,

Yes, agreed that the cluster name should be known to all Meshery resources sources, and be included in the events of all.  However, by "owner" I was referring to the  component that is the single source of truth of the cluster name (or id), possibly creates it (we haven't really determined where the name/id comes from). So the place resources/components go "look" for the cluster

[2021-09-22 19:02] #4200 closed

[2021-09-22 19:05] leecalcote commented on #2425
As we near v0.6.0 release, how are we feeling about the status of this effort?

[2021-09-22 19:33] #4105 closed

[2021-09-22 19:42] #4182 closed

[2021-09-23 08:30] khanjasir90 commented on #4232
@leecalcote is this issue good for newcomers if yes then could u pls direct me to the resources that would help me do that! I will be more than happy to contribute

[2021-09-23 09:51] ishitakeshawani commented on #4197
Can I  work on this issue? @navendu-pottekkat

[2021-09-23 15:34] Shatakshi0805 commented on #4130
working on it. would make a pr soon.

[2021-09-23 16:29] navendu-pottekkat opened #4233 "[mesheryctl] Change the default platform to Kubernetes"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

The default platform to which Meshery currently deploys is Docker.

#### Desired Behavior

For the v0.6.0 release, we need to switch the default platform to Kubernetes.

#### Implementation

- [ ] change the default platform in bash script
- [ ] change the default platform in mesheryc

[2021-09-23 16:31] warunicorn19 commented on #4233
🙌

[2021-09-23 17:35] asubedy opened #4234 "[CI] A workflow for automatically labeling a pull request according to files changed by the contributor."
#### Current Behavior
Even after this [pull request](https://github.com/meshery/meshery/pull/4151) due to issues regarding the `GITHUB_TOKEN`, the labels are not being assigned automatically. Changing the token could have solved the issue but doing so would have caused problems while releasing drafts. Hence a new workflow is required.

#### Desired Behavior
The pull request should be labeled autom

[2021-09-23 18:35] warunicorn19 commented on #4209
Hey @Meghana-12 , did you get a chance to look at this? if not, we could push this for the next release😄.

[2021-09-23 18:43] navendu-pottekkat commented on #4197
Yes @ishitakeshawani

@piyushsingariya Could you share any resources on what tests are run for preflight as well as post-deployment checks?

[2021-09-23 18:44] warunicorn19 commented on #4125
@navendu-pottekkat could you give me some pointers on this, so that I can get this done fast.

[2021-09-23 18:46] pottekkat commented on #4103
Helm chart package in MeshKit: https://github.com/meshery/meshkit/blob/master/utils/kubernetes/apply-helm-chart.go

[2021-09-23 19:08] leecalcote opened #4235 "[Docs] Deprecation of Meshery Deployments via Kubernetes manifests"
#### Current State
Meshery Docs provide instructions to users to install Meshery using Kubernetes manifests. As of v0.6.0, Meshery will no longer offer support for this style of deployment. #4103 calls for the deprecation of Kubernetes deployments via manifests.

#### Desired State
All references to installation of Meshery using Kubernetes manifests should be displaced with alternative deployment

[2021-09-23 19:30] navendu-pottekkat commented on #4235
Will make this change as https://github.com/meshery/meshery/issues/4103 is fixed.

[2021-09-23 20:35] DelusionalOptimist opened #4236 "[bug] load test result data getting mixed with meshsync data"
_Related to: https://layer5io.slack.com/archives/C010LFFGFFA/p1632265390021400_
#### Current Behavior
After running a load test, a lot of irrelevant data can be seen in the logs while Meshery is trying to persist the performance test result.

#### Expected Behavior
The logs should contain only results from the load test.

#### Screenshots/Logs
[code]

#### Environment

- **Host OS:** Linux
- **Pla

[2021-09-23 21:51] leecalcote commented on #4236
@dhruv0000 broadcast-related?

[2021-09-23 22:41] #3640 closed

[2021-09-24 02:07] leecalcote commented on #4232
@khanjasir90 great question. In reality, no, it's large undertaking that will shift the foundational architecture of the way Meshery docs are published. I do encourage you to review the design spec linked in the issue description and study the problem, tryout solutions, comment, and work your way toward being able to take on this or this type of issue. 👍

[2021-09-24 02:11] #3972 closed

[2021-09-24 03:14] navendu-pottekkat commented on #4125
So, there is the `login` command and then there is the UI --> Download token and then some explanation on the `token` command.

mesheryctl should have inbuilt docs on these.

[2021-09-24 06:19] #3860 closed

[2021-09-24 10:23] warunicorn19 commented on #2855
will deal with this when we switch to state management.

[2021-09-24 11:06] piyushsingariya commented on #4197
[code]

This guide should address possible reasons behind the failure of each of these checks and their possible solutions.
You can figure out the failing reasons by reading the code, some you must have faced while setting up meshery in your system, you can ask other folks to share the issues they faced while working with the respected component of which you're writing the failure reasons, rest I'