[2021-06-28 07:34] navendu-pottekkat opened #3287 "[CI] Notification to "update mesheryctl Command Tracker spreadsheet" if PRs and Issues are tagged with "component/mesheryctl""
#### Current Behavior

Pull Requests and Issues related to mesheryctl are tagged with the "component/mesheryctl" label.

The [mesheryctl Command Tracker](https://docs.google.com/spreadsheets/d/1q63sIGAuCnIeDs8PeM-0BAkNj8BBgPUXhLbe1Y-318o/edit#gid=0) spreadsheet tracks the progress of the mesheryctl commands and contributors are sometimes unaware of updating it.

#### Desired Behavior

An automated

[2021-06-28 07:55] muskankhedia commented on #3287
@navendu-pottekkat I would like to take up this.

[2021-06-28 08:23] navendu-pottekkat commented on #3287
Sure @muskankhedia

[2021-06-28 09:01] nehapithadiya commented on #3250
@leecalcote I have started working on this. Discussed with @Nikhil-Ladha on this issue.

[2021-06-28 17:31] kumarabd opened #3291 "[mesheryctl] Migrate kubernetes installation to helm charts"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
Currently mesheryctl supports installation of meshery inside the cluster, the manifests are fetched from `install/deployment_yamls/k8s/`

#### Desired Behavior
The manifests needs to be fetched from the helm chart (parse or directly install helm chart) to deploy meshery inside the kube

[2021-06-29 10:08] Abhishek-kumar09 commented on #3200
I had the same problem. It was fixed with fresh installation of minikube and kubectl. Maybe updating those could help.

[2021-06-29 12:45] Abhishek-kumar09 opened #3293 "`Get Token` cannot return auth token when the user is not signed in with any providers"
#### Description

The `Get Token` menuItem on the meshery user interface returns the auth token provided by the signed in providers like google, github etc. But in case the user is not logged in with any provider but only as a none user it can't actually return any token.
Currently it is returning a file with empty json fields.
What if that option can be disabled and a tooltip can be inserted that

[2021-06-29 17:44] navendu-pottekkat opened #3295 "Update Netlify to reflect "meshery" repo change"
#### Current Behavior

"layer5io/meshery" will be migrated to "meshery/meshery" as a part of being added to the CNCF sandbox.

This could break the Netlify builds.

#### Desired Behavior

Ensure that Netlify is configured so that we can make this change and still have it working.

[2021-06-29 17:54] Nikhil-Ladha commented on #3295
Only adding the new repo to Netlify will make things work.

[2021-06-30 13:08] #3066 closed

[2021-06-30 13:49] #3244 closed

[2021-06-30 14:11] #3250 closed

[2021-06-30 14:29] dhruv0000 opened #3303 "[Chore] Update filter, pattern, and oam handlers to use new Meshkit Errors"
Note: This is a child issue of #3275
#### Current Behavior
Meshery Server (and its other components, like Adapters) use a centralized library, MeshKit, to provide uniform utilities (e.g. raising and logging errors). Currently, Meshery Server uses a now antiquated style of error logging with logrus.

#### Desired Behavior
Ideally, all use of logrus is replaced with use of MeshKit-style error loggin

[2021-06-30 14:31] dhruv0000 opened #3304 "[Chore] Update performance profile, provider, and schedule handlers to use new Meshkit Errors"
Note: This is a child issue of #3275
#### Current Behavior
Meshery Server (and its other components, like Adapters) use a centralized library, MeshKit, to provide uniform utilities (e.g. raising and logging errors). Currently, Meshery Server uses a now antiquated style of error logging with logrus.

#### Desired Behavior
Ideally, all use of logrus is replaced with use of MeshKit-style error loggin

[2021-06-30 14:32] dhruv0000 opened #3305 "[Chore] Update server spec, session sync handlers to use new Meshkit Errors"
Note: This is a child issue of #3275
#### Current Behavior
Meshery Server (and its other components, like Adapters) use a centralized library, MeshKit, to provide uniform utilities (e.g. raising and logging errors). Currently, Meshery Server uses a now antiquated style of error logging with logrus.

#### Desired Behavior
Ideally, all use of logrus is replaced with use of MeshKit-style error loggin

[2021-06-30 15:49] leecalcote opened #3306 "[UI] Performance Profiles: Updates to Cards"
#### Current Behavior
Performance Profile cards have an intriguing user experience, but also has a few areas of need of improvement.

#### Implementation
1. Change Delete action behavior: present user a confirmation modal before deleting the performance profile
1. Add all profile details to the back of the card: service mesh type, QPS and Concurrent requests and custom headers, if present.
1. Move

[2021-06-30 15:56] leecalcote opened #3307 "[UI] Patterns: Action Enhancements"
#### Current Behavior
Users need the ability to deploy patterns from the Patterns table.

#### Desired Behavior
Users should see a Deploy button in each row of the table.

#### Implementation

In the table:
1. Add "Deploy" button (use Play icon or Lighting Bolt icon) to invoke the Pattern "deploy" endpoint.
1. Change "..." elipse icon to Pencil icon
1. Update name of column from "Details" to "Acti

[2021-06-30 17:03] Chadha93 commented on #3307
@leecalcote You can assign me here.

[2021-06-30 17:37] leecalcote opened #3337 "[CI] Move codecov.yml into .github directory"
**Description**
As a project, we are in need of minimizing the number of files in the root directory of Meshery.

The [codecov.yml](https://github.com/meshery/meshery/blob/master/codecov.yml) file is in need of being relocated.

---

According to this:
https://docs.codecov.com/docs/codecov-yaml#can-i-name-the-file-codecovyml

So, it is possible to move it into `.github/` directory.

_Originally po

[2021-06-30 17:40] leecalcote commented on #3303
@vijcheru, feel free to self-assign, if interested.

[2021-06-30 17:40] leecalcote commented on #3304
@samirparhi-dev, feel free to self-assign, if interested.

[2021-06-30 17:41] leecalcote commented on #3295
@nehaLohia27 fyi

[2021-06-30 17:42] vijcheru commented on #3303
Sure, I'm working on it.

On Wed, Jun 30, 2021, 12:40 Lee Calcote ***@***.***> wrote:

[2021-06-30 17:55] samirparhi-dev commented on #3304
@leecalcote : Unfortunately, I am not a member of meshery Org yet. So not able to self-assign. Kindly assign it to me :-)

[2021-06-30 18:11] #3159 closed

[2021-06-30 19:05] utkarsh-pro commented on #3293
Hi @Abhishek-kumar09, thanks for opening up this issue however the token _is_ actually there. It just happens to be an empty string when the provider is "None". So this issue is technically _not_ a bug.

This could be a security issue **if** a user exposes meshery deployment to the internet. To handle such scenarios can you please close this issue and open up another issue for a Design Spec on sec

[2021-06-30 19:55] Chadha93 commented on #3305
Is this a `good first issue for  **Gophers**, if Yes, I would like to try this **I'm new to go**

[2021-06-30 20:00] leecalcote commented on #3305
![547-5473804_golang-gopher-clipart](https://user-images.githubusercontent.com/7570704/124023770-f7851700-d9b3-11eb-9afc-3e9a4b8335fe.png)

[2021-06-30 20:02] dhruv0000 commented on #3305
May the Gopher be with you, @Chadha93. :zap:

[2021-06-30 20:15] Nikhil-Ladha commented on #3295
Changes to Netlify are done to use this repo for previews.

[2021-06-30 23:15] vijcheru commented on #3303
Lee, I've seen the assignment. Will get that done as quickly as I can.

On Wed, Jun 30, 2021 at 12:44 PM Lee Calcote ***@***.***>
wrote:

[2021-07-01 11:19] navendu-pottekkat commented on #2961
@Maxgit3 Could you update this?

[2021-07-01 12:08] Abhishek-kumar09 commented on #3293
Sure, gott the point.
Though I don't entirely got the thing you are asking for maybe due to less knowledge about meshery at the point.

[2021-07-01 12:08] #3293 closed

[2021-07-01 13:18] adithyaakrishna commented on #2598
@Ayush-Khandelwal-007 Do you mind knocking this out, since you have a MacOS based system? 👀

[2021-07-01 14:01] Ayush-Khandelwal-007 commented on #2598
😶 I have been using it far quite a time but never came across, I'll check and give update soon.

[2021-07-01 15:43] leecalcote opened #3344 "[CI] Deploy Preview Failure"
#### Description
See https://github.com/meshery/meshery/actions/runs/990658287 for details.

#### Screenshots/Logs
<img width="946" alt="Screen Shot 2021-07-01 at 10 43 03 AM" src="https://user-images.githubusercontent.com/7570704/124152496-34efb000-da59-11eb-9cc8-22343be5dd05.png">

---

**Contributor Resources:**
- (Contributing Docs](https://docs.meshery.io/project/contributing)

[2021-07-01 15:44] leecalcote commented on #3344
@nehaLohia27 would you like to investigate?

// @Nikhil-Ladha

[2021-07-01 16:03] nehaLohia27 commented on #3344
@leecalcote  Sure will take this up.

[2021-07-01 16:22] Nikhil-Ladha commented on #3344
I have opened PR #3338 for this which addresses a part of it and mentioned what else needs to be done, @leecalcote

[2021-07-01 19:14] #3185 closed

[2021-07-01 22:27] Anita-ihuman opened #3359 "[CI]Create a new label with called issue/invite"
#### Current Behavior
There is no label that  automatically sends out Invite to the Github Org

#### Desired Behavior
An action for the label `issue/invite` should be created to help us automatically send out Invite to the Github Org.

#### Screenshot of the issue
![Screenshot 2021-07-01 at 23 21 33](https://user-images.githubusercontent.com/62384659/124196120-ab28fc80-dac3-11eb-99da-b64f04cae1ee.

[2021-07-02 00:31] leecalcote opened #3360 "[CI] Relocate netlify script to /docs directory"
@nehaLohia27 can we have this file https://github.com/meshery/meshery/blob/master/script.sh moved to the /docs directory? // @Nikhil-Ladha

_Originally posted by @leecalcote in https://github.com/meshery/meshery/discussions/3210#discussioncomment-944626_

[2021-07-02 00:31] leecalcote commented on #3360
Hi @nehaLohia27, will you consider taking assignment of this issue? // @Nikhil-Ladha

[2021-07-02 00:37] #3277 closed

[2021-07-02 01:09] warunicorn19 commented on #3280
hey @debjani1413 if you haven't already finished, is there is any way i can work on this issue with you?

[2021-07-02 03:38] leecalcote commented on #3359
Given the permission need to create a label, I went ahead and created the `issue/invite` label on the `meshery` repo: https://github.com/meshery/meshery/labels/issue%2Finvite

[2021-07-02 03:40] leecalcote commented on #3359
I also went ahead and created an `issue/remind` on the `meshery` repo as well.

[2021-07-02 03:40] #2668 closed

[2021-07-02 05:03] Anita-ihuman commented on #3359
Thank you 😊.
Will go ahead and close this then.

[2021-07-02 07:04] debjani1413 commented on #3280
@warunicorn19 yes, sure let me assign it to :)

[2021-07-02 07:49] warunicorn19 commented on #3280
Thanks @debjani1413

[2021-07-02 09:11] #3044 closed

[2021-07-02 09:39] nehaLohia27 commented on #3360
@leecalcote Can you give me write access to review PRs?

[2021-07-02 09:42] nehaLohia27 commented on #3360
@includestdlibrary Thanks for the PR.

[2021-07-02 09:52] Nikhil-Ladha commented on #3360
Write access is limited to Maintainers only :)

[2021-07-02 10:00] Nikhil-Ladha commented on #3344
Fixed in #3338

[2021-07-02 10:00] #3344 closed

[2021-07-02 10:02] nehaLohia27 commented on #3360
okay :)

[2021-07-02 12:12] dhruv0000 commented on #3275
Anyone wanna assign few of their handlers to with @suhaniii? @vijcheru @Chadha93 @samirparhi-dev

[2021-07-02 12:16] suhaniii commented on #3337
@ramrodo  Can I give it a try?

[2021-07-02 12:22] suhaniii commented on #3275
Sure

[2021-07-02 12:23] Shreyas220 commented on #3275
hey, I am new as well, would like to be paired up with someone

[2021-07-02 13:02] #3279 closed

[2021-07-02 13:16] #3359 closed

[2021-07-02 15:55] navendu-pottekkat commented on #3287
@muskankhedia Any updates on this issue?

[2021-07-02 15:56] muskankhedia commented on #3287
@navendu-pottekkat Yes, I am working on it.

[2021-07-02 17:11] Nikhil-Ladha commented on #3295
Closing this issue as the Netlify updates are done.

[2021-07-02 17:11] #3295 closed

[2021-07-02 18:35] ramrodo commented on #2612
We would like to auto-publish the release notes at creating a new tag. Currently, there is always a PR that is being updated on every commit merged to master and we need to merge this PR first and then create a release. These steps are too manual and we need to remember the process. So, we need to auto-publish on every Github tag created.

[2021-07-02 18:39] ramrodo commented on #3337
@suhaniii Sure! I just re-assigned this issue to you. Thanks! :)

[2021-07-02 19:32] #3360 closed

[2021-07-03 03:50] chetak123 commented on #3275
Hello everyone I am new to golang and if anyone has some pending tasks left, I am ready to help.

[2021-07-03 12:21] adithyaakrishna opened #3379 "[Docs] - Release Notes Missing from v0.5.26 to v0.5.29"
#### Current State
The error notes from v0.5.26 to v0.5.29 are missing at https://docs.meshery.io/project/releases

![image](https://user-images.githubusercontent.com/23498248/124353976-471f4900-dc27-11eb-8e1d-b98bc3f02f7f.png)

#### Desired State
The missing release notes are to be added.

---

#### Contributor Resources

- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documen

[2021-07-03 14:40] Shreyas220 commented on #3304
Hey, @samirparhi-dev, I would like to pair up and work on the issue with you, any free tasks?

[2021-07-03 14:45] alphaX86 commented on #3287
@navendu-pottekkat if suppose this issue is open, can I take up this?

[2021-07-03 14:47] navendu-pottekkat commented on #3287
@muskankhedia if you are working on anything else, @alphaX86 can take it up.

[2021-07-03 14:52] ishitakeshawani commented on #3379
Can I work on this issue ? @adithyaakrishna

[2021-07-03 14:56] adithyaakrishna commented on #3379
Yes sure @ishitakeshawani
If you don't mind, is it possible to solve it ASAP? 👀

[2021-07-03 15:16] ishitakeshawani commented on #3379
yes I will try to complete as soon as possible.
Can you tell me from where I get information about what's new,etc for release note ?

[2021-07-03 15:25] sayantan1413 commented on #3379
hey @ishitakeshawani `https://github.com/meshery/meshery/releases` this can be a good reference for this issue. :)

[2021-07-03 15:29] ishitakeshawani commented on #3379
Thank you very much @sayantan1413 .

[2021-07-03 16:01] chetak123 commented on #3286
hello @piyushsingariya I am new to golang and mesheryctl and would like to have some hands-on-experience, can I please take this issue ?

[2021-07-03 16:26] Ayush-Khandelwal-007 commented on #2598
@leecalcote @adithyaakrishna Few days back I made few changes in this screen. Might be possible that it may have fixed this issue as I tried different things but was not able to recreate this bug. Lee can you please check it once more if it still exists.

[2021-07-03 17:47] samirparhi-dev commented on #3304
Hey , I was bit occupied. So did not do much . Yes you are welcome to pairup

[2021-07-04 02:27] leecalcote commented on #3275
@sayantan1413 ^^

[2021-07-04 04:19] muskankhedia commented on #3287
@alphaX86 I am on it. Can you please take up some other issues?

[2021-07-04 04:56] alphaX86 commented on #3287
@muskankhedia just checking on activity actually, don't worry I won't take it 😂. Oh and here's a tip, for this issue, you need to look the file named `label-commenter-config.yml` and make the changes

[2021-07-04 06:12] piyushsingariya commented on #3286
Hey, @chetak123 This issue won't be a good start for you plus this is already being taken care of. Why don't you look at [this](https://github.com/meshery/meshery/issues/2957)

[2021-07-04 06:44] Shreyas220 commented on #3304
Thank you @samirparhi-dev
@leecalcote can you assign to me as well.

[2021-07-04 06:47] samirparhi-dev commented on #3304
Go ahead, now all yours

[2021-07-04 07:16] chetak123 commented on #3286
Sure Piyush and thank-you so much for the suggestion.

[2021-07-04 07:17] sayantan1413 commented on #3305
Hey @Chadha93 are you interested in sharing one of your handler with @chetak123 .

[2021-07-04 07:18] sayantan1413 commented on #3303
Hey @vijcheru are you interested in sharing on of your handler with @kaushambisharma then you can pair up with her.

[2021-07-04 07:19] chetak123 commented on #2957
Hey @navendu-pottekkat I see this issue is inactive for some time, I am new to mesheryctl and can I please collaborate on this issue ?.

[2021-07-04 08:43] Chadha93 commented on #3305
Sure @sayantan1413

[2021-07-04 09:08] chetak123 commented on #3305
Thanks @Chadha93 I would love to collaborate with you on this issue.

[2021-07-04 10:58] suhaniii commented on #3291
Some of the docs which will help us

https://www.youtube.com/watch?v=Zzwq9FmZdsU&t=2s
https://helm.sh/docs/topics/charts/

Install chart from from a chart directory
[code]

Install chart from a remote chart repository
[code]

We will need charts testing
* lint
*  Install charts and test

[2021-07-04 11:17] adithyaakrishna commented on #3291
@suhaniii Would you like to take this up?

[2021-07-04 11:18] adithyaakrishna commented on #3270
@DantrazTrev This issue isn't being worked on by anyone else I think, would you like to take this up? 🚀

[2021-07-04 11:19] suhaniii commented on #3291
Sure. I would like to.
If you have any other supporting docs and steps which I need to follow, do let me know.

[2021-07-04 11:21] adithyaakrishna commented on #3291
@kumarabd Can you please help regarding this? 👀

[2021-07-04 11:23] DantrazTrev commented on #3270
Hei @adithyaakrishna , I would like to take this one up.
Also maybe a design change for the delete button . The card menu seems a bit unintuitive . What do you say ?

Ill take it up after i finish the rest of my issues .If no one is working at that time.

In mean while I'll add a proposal for the different UX for the delete button if that's ok ?

[2021-07-04 11:32] adithyaakrishna commented on #3270
@DantrazTrev Let's do one thing, even though it not exactly relatable to tomorrow's websites call, could you present your ideas regarding this?
Also I would suggest you to have a couple of examples for your idea 👀

// @leecalcote

[2021-07-04 12:27] #3281 closed

[2021-07-04 13:07] navendu-pottekkat commented on #2957
Yes sure, @metonymic-smokey could you verify the issue?

[2021-07-04 13:11] #3379 closed

[2021-07-04 13:14] leecalcote commented on #3270
Sounds teal good, @adithyaakrishna, @DantrazTrev. Mockups are most helpful and can be done in the Meshery UI designfile in Figma.

[2021-07-04 16:19] metonymic-smokey commented on #2957
For me, it does not reset config with Kubernetes(since I think the k8s part of the codebase lacks a `reset` flag).

I think this issue is still valid.

(Having some laptop issues so can't verify docker immediately, I'll do it in a bit. Sorry for the delay!)

[2021-07-04 16:19] DantrazTrev commented on #3270
@adithyaakrishna I'll try to update about the designs and changes to the UX today . I might not be able to present it in tomorrows meeting . I'll add the proposal on slack #meshery-ui if that's good ?

[2021-07-04 17:32] josephmidura commented on #3275
@sayantan1413 I'd also like to know if the errors were all updated.

[2021-07-04 17:37] leecalcote commented on #3021
@piyushsingariya here is the issue that I mentioned on our `system check` review call.

[2021-07-04 17:43] sayantan1413 commented on #3275
Yeah @josephmidura the issue on which you were working on #3279 is updated by @kumarabd.

[2021-07-04 17:46] adithyaakrishna commented on #3270
Yess, absolutely 💯

[2021-07-05 02:45] metonymic-smokey commented on #3032
Closed via #3285

[2021-07-05 02:45] #3032 closed

[2021-07-05 02:47] metonymic-smokey commented on #2961
@navendu-pottekkat #3285 has added the provisions for a `skip-update` flag for k8s too...

[2021-07-05 09:46] vijcheru commented on #3303
Yes, I am interested.

On Sun, Jul 4, 2021, 02:18 Sayantan Bose ***@***.***> wrote:

[2021-07-05 12:05] Chadha93 commented on #3305
@chetak123  You can ping me on Slack will have a discussion on this.

[2021-07-05 18:35] fallmor commented on #3248
hello  can you assigned me this issue ?

[2021-07-05 18:45] leecalcote commented on #3248
Yes, I would love to… I _think_ you missed this one by only 30 minutes or so. The v0.5.31 release was just made and includes a fix for this very bug.

@fallmor, it would be great if you could verify this fix though. ..

[2021-07-05 19:54] leecalcote opened #3391 "[CI] Mesheryctl client version not being set in stable releases"
#### Description
Undoubtedly, related to the recent move of GitHub orgs and updates to goreleaser, the `mesheryctl` builds seem to no longer be including release tag and version information in there builds.

#### Screenshots/Logs
[code]

** Release Workflow Logs**

<img width="1909" alt="Screen Shot 2021-07-05 at 2 56 25 PM" src="https://user-images.githubusercontent.com/7570704/124513797-372b7480

[2021-07-05 23:19] #3337 closed

[2021-07-05 23:20] #3307 closed

[2021-07-06 00:31] #2953 closed

[2021-07-06 01:10] leecalcote commented on #3391
@ramrodo fyi, an item to tee up for the CI Meeting, assuming it isn’t already addressed by then.

[2021-07-06 01:13] leecalcote commented on #3248
I was able to successfully upgrade after the associated fix in v0.5.31 released.

[2021-07-06 02:39] leecalcote commented on #3009
@tushar912 is this something that you would still like to complete?

[2021-07-06 03:12] navendu-pottekkat commented on #2956
This issue needs to be worked on.

[2021-07-06 05:33] nehaLohia27 commented on #2956
@navendu-pottekkat I can take this up

[2021-07-06 06:08] suhaniii commented on #2956
I can participate as well.

[2021-07-06 09:20] DelusionalOptimist commented on #3029
The page describing how to create errors has been created at https://docs.meshery.io/project/contributing-error. Would be great to receive feedback on this from one of the contributors cc @sayantan1413 : )
This also seems duplicate of https://github.com/meshery/meshery/issues/3206

The documentation on how the utility works is being tracked in https://github.com/meshery/meshery/issues/3208 and has

[2021-07-06 10:12] sayantan1413 commented on #3029
Hey @DelusionalOptimist the documentation on the meshkit error is well-written.But I have a little suggestion like I think we can also that after writing the functions we can run `make error` in the meshery repo and the error will get listed in the JSON files `errorutil_analyze_errors.json`, `errorutil_analyze_summary.json` and `errorutil_errors_export.json`. and after running `make error` a contr

[2021-07-06 10:54] Chadha93 opened #3393 "[UI] Filters: Action Enhancements"
#### Current Behavior
No current ability to deploy, bulk/individual delete filters from the Filter UI

#### Desired Behavior
Users need the ability to deploy, bulk/individual delete filters from the Filter UI from each row of the table

#### Implementation
1. Add the "Deploy" button (use the Play icon or Lighting Bolt icon) to invoke the Pattern "deploy" endpoint.
2. Change "..." elipse icon to Pe

[2021-07-06 10:56] Chadha93 commented on #3393
@leecalcote  Could you please add the relevant labels and assign me. 😊

[2021-07-06 11:40] adithyaakrishna commented on #3393
My bad @Chadha93 Assigned Myself by mistake. I Have assigned it to you now 🎉

[2021-07-06 12:21] sudo-NithishKarthik opened #3395 "[UI] Pattern UI improvements"
#### Current Behavior

1. Yaml editor modal not getting closed after `Delete` action is complete
2. All the error messages are prefixed with a general statement, 'There was an error fetching results' which may not be relevant for all the cases. For example,

failure to update the pattern file

<img width="1435" alt="Screenshot 2021-07-06 at 5 34 31 PM" src="https://user-images.githubusercontent.co

[2021-07-06 17:33] leecalcote commented on #3034
@hexxdump I wonder if you might have a look at this...

[2021-07-06 17:38] navendu-pottekkat commented on #2956
Sure, thank you.

[2021-07-06 18:14] DelusionalOptimist commented on #3029
That's a great suggestion @sayantan1413. We should surely add this to the docs. :white_check_mark:
Do you want to raise a PR for this? If not, no worries :D

[2021-07-06 18:18] sayantan1413 commented on #3029
Yeah sure @DelusionalOptimist I will raise a PR for this.

[2021-07-06 19:12] navendu-pottekkat opened #3399 "[mesheryctl] [ci] `mesheryctl version` does not show the latest version available"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

`mesheryctl version` does not show the latest available version after we moved the repo to a new org.

![Screenshot_20210707_003714](https://user-images.githubusercontent.com/49474499/124654317-0db33b80-debc-11eb-8369-ffffa9e8de33.png)

#### Desired Behavior

`mesheryctl version` shou

[2021-07-06 19:22] navendu-pottekkat opened #3400 "[CI] Add support for Apple Silicon/ M1/ARM64 in goreleaser"
#### Current Behavior

Builds for the new Apple M1 chips are not being made and released.

#### Desired Behavior

goreleaser now supports building for Apple M1 chips. We should also build and release for that architecture.

**Initially verify whether this support already exists right now.**

#### Implementation

Update https://github.com/meshery/meshery/blob/master/.goreleaser.yml

#### Reference:

[2021-07-06 19:26] sayantan1413 commented on #3399
Hey @navendu-pottekkat can I give it a try?

[2021-07-06 22:27] vishal267 commented on #3030
I will take this issue

[2021-07-07 00:11] leecalcote commented on #3030
Thank you, @vishal267 💪

[2021-07-07 03:29] hexxdump commented on #3034
sure @leecalcote. Basically we need a watch kind of mechanism on the pod status and open the browser only when all pods are up, right?

[2021-07-07 03:43] #3015 closed

[2021-07-07 03:43] #3019 closed

[2021-07-07 04:43] leecalcote commented on #3034
Yes, ma'am, that's right. I'm trying to recall what detection mechanism was previously (or is currently used). This could be a readiness probe in the case of Kubernetes (and something similar that Docker might offer). Or this could be polling with HTTP GET to <endpoint:port>/provider and proceeding when a 200 is returned. Either of these would be a slight improvement (higher confidence that Mesher

[2021-07-07 05:28] leecalcote commented on #3286
Note that the `token` command will be under `system` (e.g. `mesheryctl system token`).

[2021-07-07 05:42] leecalcote opened #3401 "[mesheryctl] Enhance `context view` to display context-specific token"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

This child issue is related to epic #3286 for new token command.

#### Current Behavior
Tokens are in process of being written into meshconfig (~/.meshery/config.yaml). See #3396.

#### Desired Behavior
Nearly all of the mesheryctl commands will need to account for and use the active context's token. `meshe

[2021-07-07 08:52] piyushsingariya commented on #3399
I have fixed this in system check PR #3253

[2021-07-07 09:01] nehaLohia27 commented on #3391
@Nikhil-Ladha I can take this up. can you please assign this to me

[2021-07-07 09:02] Nikhil-Ladha commented on #3391
Sure! @nehaLohia27 .

[2021-07-07 09:07] nehaLohia27 commented on #3391
@leecalcote Can you help what needs to be done here ?

[2021-07-07 09:13] sayantan1413 commented on #3399
Yeah @piyushsingariya I checked it. 😀

[2021-07-07 09:28] nehaLohia27 commented on #2956
@navendu-pottekkat @leecalcote need help from someone who have idea and can help to understand the context ?

[2021-07-07 10:28] Shreyas220 commented on #3280
@kumarabd this issue is not closed yet .

[2021-07-07 12:01] Revolyssup commented on #3401
Is this the desired behaviour?
![1](https://user-images.githubusercontent.com/43276904/124755505-12720100-df49-11eb-884e-e5fbd2876bc7.png)
![2](https://user-images.githubusercontent.com/43276904/124755529-19990f00-df49-11eb-82e2-be3cc1fa77c0.png)

[2021-07-07 12:40] nehaLohia27 commented on #3391
@leecalcote I think this issue is been addressed under this issue #3253 . can you verify

[2021-07-07 13:48] Revolyssup commented on #3401
Is this the desired behaviour?

Following are config.yaml and there respective output for "mesheryctl system context view"
![1 0](https://user-images.githubusercontent.com/43276904/124770348-e3af5700-df57-11eb-8b8f-792b62d8f467.png)
![1 1](https://user-images.githubusercontent.com/43276904/124770388-ec079200-df57-11eb-95c9-b80c2cfbe860.png)

------------
![2 1](https://user-images.githubuserconten

[2021-07-07 18:53] mgfeller commented on #3043
Keep this open for the time being (an assignment that flew right past me :rocket: )

[2021-07-07 19:15] sayantan1413 commented on #3043
Hey @mgfeller would you mind taking me with you if you are importing the meshkit error in mesheryctl ?

[2021-07-07 19:24] leecalcote commented on #3401
Including `token-location: <uri>` in the output of `mesheryctl system context view <context-name>` is desirable, yes.

[2021-07-07 20:52] #2611 closed

[2021-07-08 00:57] leecalcote commented on #3401
@Revolyssup Some great progress here. Keep it up. 👍

[2021-07-08 02:31] #3189 closed

[2021-07-08 03:20] #3187 closed

[2021-07-08 05:35] nehaLohia27 commented on #3391
@leecalcote @navendu-pottekkat @Nikhil-Ladha We can close this issue as this issue is already fixed under issue #3253

[2021-07-08 05:40] leecalcote commented on #3391
I could be mistaken, but I don’t believe that it has been fixed.

I do consider that this issue is a duplicate filing of the same issue described in #3391, though.

[2021-07-08 05:51] nehaLohia27 commented on #3391
@piyushsingariya Can you help to confirm is this issue is been fixed or not ?

[2021-07-08 05:52] mgfeller commented on #3043
@sayantan1413 of course not, that would be nice :smile: It might take a while, though - it is free for anyone to pick.

[2021-07-08 08:07] warunicorn19 commented on #3400
hey, should i take a look into this issue?

[2021-07-08 08:18] debjani1413 commented on #3400
@warunicorn19 yes sure, should I assign it to you???

[2021-07-08 08:19] warunicorn19 commented on #3400
yeah go ahead

[2021-07-08 08:20] kaushambisharma commented on #3303
@sayantan1413 happy to update the handlers if the issue still needs fixing.

[2021-07-08 08:39] #3175 closed

[2021-07-08 08:45] piyushsingariya opened #3407 "[mesheryctl] (child) `mesheryctl system` unit testing"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

check Epic here #3016

#### Current Behavior
Currently, we don't have any unit tests setup to test `mesheryctl system` commands and functions

#### Desired Behavior
Required to enable unit testing support for `mesheryctl system` commands and functions, to ensure the accuracy and robustness of each mesheryct

[2021-07-08 08:49] piyushsingariya commented on #3407
This issue can be split-up further for sub-commands under `mesheryctl system` subcommands and can be picked up by multiple devs for each file/command.

[2021-07-08 10:10] suhaniii commented on #2956
@navendu-pottekkat @leecalcote   I have setup mesheryctl using https://github.com/meshery/meshery/blob/master/CONTRIBUTING.md.

Able to see the UI as well on http://localhost:9081.

Now I can't find meshery.yaml under /Users/<name>/.meshrey . Where can we find that. Any pointers? - Needed to understand issue properly. :)

[2021-07-08 11:50] Revolyssup commented on #3401
## Changed tokenlocation to token-location
![0](https://user-images.githubusercontent.com/43276904/124916592-76133180-e010-11eb-8b51-681a18458a4c.png)

## Incase token is specified inside of context, but unspecified inside the tokens: array.
![1](https://user-images.githubusercontent.com/43276904/124916718-99d67780-e010-11eb-87c8-90606136de0f.png)

## Incase token field is missing altogether insid

[2021-07-08 14:27] alphaX86 opened #3409 "[Docs] Create a `GOVERNANCE` doc in Meshery"
#### Current State
Since Meshery is now accepted as a CNCF Sandbox project, the project is currently undergoing several processes for onboarding. In such case, this issue happens to be one of those steps needed for onboarding (Refer [cncf/toc #675](https://github.com/cncf/toc/issues/675))

#### Desired State
Create an open governance doc which explains the rules and guidelines followed in Meshery

[2021-07-08 14:29] kumarabd commented on #1911
@leecalcote Should we wait more for their response?

[2021-07-08 14:30] navendu-pottekkat commented on #2956
@suhaniii You can run `mesheryctl system start` with "docker" platform and it should be created in the .meshery folder.

[2021-07-08 14:30] navendu-pottekkat commented on #2956
`mesheryctl system start -p docker` should create a new config file and download the docker-compose file (meshery.yaml).

[2021-07-08 15:11] alphaX86 commented on #3409
@leecalcote, @navendu-pottekkat we may need to discuss this.... Quick Q, is this already implemented in some other filename? (got a doubt after seeing few example docs)

[2021-07-08 16:55] piyushsingariya commented on #3391
@nehaLohia27 Yes, This has been covered by me under #3253

[2021-07-08 17:00] leecalcote commented on #3391
Specifics, @piyushsingariya?

[2021-07-08 17:08] kumarabd commented on #2955
@navendu-pottekkat any final actions taken here?

[2021-07-08 17:22] piyushsingariya commented on #3391
@leecalcote https://github.com/meshery/meshery/pull/3253/files#r666384162

[2021-07-08 18:04] navendu-pottekkat commented on #2955
This issue has not been reported since. Will test it again to confirm.

[2021-07-08 18:36] #3223 closed

[2021-07-08 20:07] DelusionalOptimist opened #3413 "[CI] checking on unnecessary workflow runs"
#### Current Behavior

Some workflow runs are getting triggered when they actually should not. This is waste of CI resources.
#### Desired Behavior

They should be triggered according to the changes introduced.
#### Implementation

Analyze those workflows and update them to trigger on appropriate conditions.
#### References
https://github.com/meshery/meshery/pull/3296: Only updates a github workfl

[2021-07-08 20:16] DelusionalOptimist commented on #2905
@ramrodo was a fix raised for this? If not, I think we can track this in #3413.

[2021-07-08 20:33] ramrodo commented on #2905
@DelusionalOptimist is not addressed yet. Sure! We can track this issue there. Thanks for catching that!

[2021-07-08 22:35] leecalcote opened #3414 "[Docs] Mobile view too wide"
#### Current State
Meshery Docs viewed on a mobile phone does not properly fit the screen.

#### Screenshot

![FA7A87F7-BBCC-4867-A7BD-8F802C870DDC](https://user-images.githubusercontent.com/7570704/124998886-c7bcbb80-e012-11eb-9858-f7c5949f4539.png)

---

#### Contributor Resources

- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation source](https://github.com/mesher

[2021-07-08 22:35] ramrodo commented on #2711
@s1ntaxe770r can you put a comment here in order to assign you this issue. I don't know why Github don't allow without that u.u

[2021-07-09 04:41] warunicorn19 commented on #3414
hey, should i work on this?

[2021-07-09 07:54] sayantan1413 commented on #3414
Yeah sure @warunicorn19 go ahead.

[2021-07-09 10:27] amino19 commented on #3077
@manishprivet : Shall I work on this? :slightly_smiling_face:

[2021-07-09 13:18] jeantiston commented on #3269
Hi @sudo-NithishKarthik. Can I try working on this if no one else is already doing it?

[2021-07-09 13:34] kumarabd commented on #2921
@ramrodo Is this planned for anytime soon?

[2021-07-09 14:36] sudo-NithishKarthik commented on #3269
Yes @jeantiston . Sure thing 😃 . Let me assign you

[2021-07-09 14:49] jeantiston commented on #3269
Thanks @sudo-NithishKarthik! :) I just a few questions regarding this:
- How/where can I see the list processes you showed in the vid?
- Do I need to install anything to be able to use the Addons (e.g. Grafana) ?

[2021-07-09 14:58] sudo-NithishKarthik commented on #3269
No @jeantiston , you don't have to worry about that. What you can do is, you can set the states of the `switch` based on the notifications that meshery receives,

for eg. When you have switched on graffana for the first time,  you receive a notification that says 'operation executing' right, in that state, we can keep the switch disabled, and when we receive a notification for success or failure o

[2021-07-09 18:12] ramrodo commented on #2921
@kumarabd not soon but I hope before next month. Is it urgent?

[2021-07-09 19:04] stark255 commented on #3174
Hello there @Chadha93 , If this issue is not resolved yet then I would like to work on this issue.

[2021-07-09 19:37] leecalcote opened #3422 "[UI] Provider UI missing Meshery Logo"
#### Description
<img width="1135" alt="Screen Shot 2021-07-09 at 2 36 05 PM" src="https://user-images.githubusercontent.com/7570704/125128051-1033b200-e0c3-11eb-801b-d36776108420.png">

#### Environment

- Host OS: Mac
- Meshery Server Version: stable-v0.5.32
- Meshery Client Version: stable-v0.5.32
- Platform: Docker

---

**Contributor Resources:**
- (Contributing Docs](https://docs.meshery.io/

[2021-07-09 19:46] leecalcote opened #3423 "[CI] Labeler Workflow: Add link to "Meshery UI" Figma designfile"
#### Current Behavior
A labeler workflow adds comments to issues when specific labels like `component/ui` are added to issues ([see example](https://github.com/meshery/meshery/issues/3422#issuecomment-877414034)).

#### Desired Behavior
A link to the Meshery UI designfile in Figma is added in the same comment that remarks on issues with `component/ui` labels.

#### Implementation
Update [this work

[2021-07-09 20:51] #1754 closed

[2021-07-09 20:51] #3251 closed

[2021-07-09 20:54] #3212 closed

[2021-07-09 21:39] s1ntaxe770r commented on #2711
sure :)

[2021-07-09 22:43] #3422 closed

[2021-07-10 00:01] iamrajiv opened #3427 "perf: Delete the `apt-get` lists after installing something"
## Description

Cleaning up the apt-cache and removing `/var/lib/apt/lists` helps keep the image size down. Since the `RUN` statement starts with `apt-get update`, the package cache will always be refreshed before `apt-get install`.

#### References:

https://docs.docker.com/develop/develop-images/dockerfile_best-practices/

[2021-07-10 00:01] iamrajiv commented on #3427
@leecalcote I want to work on this.

[2021-07-10 00:07] leecalcote commented on #3427
@iamrajiv excellent. Thank you for filing this issue. 👍 I'm curious to know how much of an impact this improvement has on the image size. Do you know? The Meshery Docker image size is too large today.

[2021-07-10 00:21] #3074 closed

[2021-07-10 06:44] DelusionalOptimist opened #3429 "[CI] Skipping workflow runs on forks"
_Originally raised by @samirparhi-dev in https://discuss.layer5.io/t/github-wf-issue-during-pull-request/125_
#### Current Behavior

When a contributor pushes to their fork, many workflows which should ideally run only on https://github.com/meshery/meshery also get triggered. They need some secrets to complete successfully but we don't provide secrets to our forks because it may have bad consequen

[2021-07-10 06:56] #3399 closed

[2021-07-10 07:05] iamsdas commented on #3429
I'd like to take up this issue

[2021-07-10 07:07] sayantan1413 commented on #3429
Hey @iamsdas go ahead.🚀

[2021-07-10 08:16] Nikhil-Ladha commented on #3429
Much needed update. We need this in many of the workflows, the netlify preview workflow also needs to be updated.

[2021-07-10 09:05] piyushsingariya opened #3434 "[mesheryctl] Fix `IsMesheryRunning()` for locally running meshery"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

Currently many commands fail to execute because the function fails to detect if meshery is running locally or not.

#### Desired Behavior

It should detect, ofcourse!
Send a GET request to http://localhost:9081/api/version ? If the response is 200 then it is running and reachable or e

[2021-07-10 09:53] alphaX86 opened #3435 "[Docs] Meshery release docs needs some update"
#### Current State
For now some release versions are not present in the doc site

#### Desired State
The doc must be updated with relevant release pages

---

#### Contributor Resources

- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation source](https://github.com/meshery/meshery/tree/master/docs)
- [Instructions for contributing to documentation](https://github.com/

[2021-07-10 09:59] adithyaakrishna commented on #3435
@alphaX86 🎉

[2021-07-10 10:31] alphaX86 commented on #3409
A blank design spec is created for now....

Will let you know if it's complete 👍

[2021-07-10 11:09] #2972 closed

[2021-07-10 11:12] sudo-NithishKarthik opened #3438 "[CI] UI Build test fails to give proper feedback"
#### Current Behavior
while `UI Build test`, when it runs `make build-ui`, it attempts to build ‘meshery-ui’ and ‘provider-ui’. If ‘meshery-ui’ fails building and ‘provider-ui’ is successful, it considers the process to be successfully completed.

#### Desired Behavior
Current behaviour is deceiving. It should either run both of those as separate tests or it should break when an error occurs anywh

[2021-07-10 13:11] alphaX86 commented on #3434
@piyushsingariya may I look on it? :)

[2021-07-10 13:33] chetak123 commented on #3434
Hey @piyushsingariya I am new to golang and mesheryctl, can I collaborate on this issue please ?

[2021-07-10 13:43] piyushsingariya commented on #3434
Sure, you both could collaborate with each other. @alphaX86 @chetak123  !

[2021-07-10 14:13] Chadha93 opened #3441 "[UI] Fix naming of the patterns, application, filters"
#### Current Behavior
The current name needs changes

#### Desired Behavior
Enhancements of the name of the required files.
---
**[Contributor Guide](https://docs.meshery.io/project/contributing)**

[2021-07-10 14:14] Chadha93 commented on #3441
I'm up on this issue

[2021-07-10 15:28] leecalcote commented on #3391
After the v0.5.34 release, this bug still persists.

[2021-07-10 15:54] #3391 closed

[2021-07-10 17:04] metonymic-smokey opened #3444 "[mesheryctl] Check for invalid platforms on system start"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
Currently specifying an invalid platform using the `-p` flag throws an error that the platform is an invalid after updating the platform in the `meshconfig`.

#### Desired Behavior
If a platform other than docker or kubernetes is specified, it should throw an error message and not upda

[2021-07-10 18:50] Chadha93 opened #3447 "[UI] Enhancement in the Applications"
#### Current Behavior
Currently, in Application UI, there is no apply button

#### Desired Behavior
An application button needs to be implemented

---
**[Contributor Guide](https://docs.meshery.io/project/contributing)**

[2021-07-10 18:53] Chadha93 commented on #3447
@navendu-pottekkat please do edit the issue if required and could you please guide where specifically we need the apply button -  in each row (associated in data) does it will possess some functionality for now? Please also share some more resources on the application.

[2021-07-10 19:55] leecalcote commented on #3400
I gorelaser only produces Darwin arm64 under golang 1.16

[2021-07-11 04:01] chetak123 commented on #3444
Can I take this issue please ?

[2021-07-11 05:22] metonymic-smokey commented on #2957
@chetak123 have you been able to start working on this one?
Any issues/blockers you're facing, do let us know!

[2021-07-11 05:25] nehaLohia27 commented on #3444
@chetak123  can i work with u on this issue ?

[2021-07-11 05:35] chetak123 commented on #3444
Yeah sure 🙌

[2021-07-11 08:27] chetak123 commented on #2957
Actually I was having some issues in installing mesheryctl, I think I have resolved most of them and have started working on the actual issue.

[2021-07-11 09:41] Ayush-Khandelwal-007 commented on #2598
@leecalcote @adithyaakrishna Few days back I made few changes in this screen. Might be possible that it may have fixed this issue as I tried different things but was not able to recreate this bug. Lee can you please check it once more if it still exists.

[2021-07-11 11:28] s1ntaxe770r commented on #3286
Is anyone working on this? I would love to take this one

[2021-07-11 11:41] warunicorn19 commented on #3400
yeah, so what would i have to change in the yml file?

[2021-07-11 13:04] #3435 closed

[2021-07-11 13:06] #3174 closed

[2021-07-11 13:10] #3423 closed

[2021-07-11 13:51] piyushsingariya commented on #3286
@s1ntaxe770r This issue is still under discussion, soon multiple child issues will be opened, make sure to grab those.

[2021-07-11 14:34] adithyaakrishna opened #3456 "[Docs] - Update and Refactor Old Releases in Meshery Docs to Have Emojis"
#### Current State
The latest [release docs](https://docs.meshery.io/project/releases/) of Meshery, https://docs.meshery.io/project/releases/v0.5.30 have emojis in them while the older ones do not. Eg.: https://docs.meshery.io/project/releases/v0.5.1

#### Desired State
All the releases should have emojis in them

#### Screenshots:

**With Emojis,**

![image](https://user-images.githubusercontent.

[2021-07-11 18:48] jeantiston commented on #3269
@sudo-NithishKarthik yeah, that makes sense. I just thought I might need to test the 'success' case cause right now when I try turning on an add on it always fail.

I just want to confirm if I'm getting the states right, so it goes:
User clicks switch -> switch is still OFF and gets disabled -> operation executes -> success, switch turn ON and gets enabled
User clicks switch -> switch is still OFF

[2021-07-11 23:04] s1ntaxe770r commented on #3286
Alright then

[2021-07-12 00:51] #3456 closed

[2021-07-12 01:03] leecalcote opened #3462 "[mesheryctl] Improperly handled unavailability of Meshery Server"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
Improperly handled error. Error code 255 is displayed when Meshery Server is not running (when Docker is not running on a Docker-based deployment).

#### Desired Behavior
User should be informed that Meshery Server is not reachable. Display the current context's endpoint to the user.

[2021-07-12 01:16] #3306 closed

[2021-07-12 02:26] sudo-NithishKarthik commented on #3269
Yes @jeantiston , you are absolutely right 👍🏽  For testing the success case, you will have to set up Istio, or you can just alter things in the frontend to simulate the success case and test it out 😉 . + if you have better suggestions for this, you are most welcome to share ✌🏽

[2021-07-12 04:36] navendu-pottekkat commented on #3447
@Chadha93 Yes, the apply function should work now. The endpoint `/deploy` has been added to the Meshery server. The apply button could be same as the patterns one IMO.

[2021-07-12 04:37] Chadha93 commented on #3447
@navendu-pottekkat Thanks

[2021-07-12 05:35] AnshMishra2001 commented on #3462
Can I work on this issue?

[2021-07-12 06:43] Revolyssup commented on #3434
@piyushsingariya  http://localhost:9081/api/version is not the correct endpoint.
The correct endpoint is  http://localhost:9081/api/server/version.

[2021-07-12 06:55] Revolyssup commented on #3434
@chetak123  , @alphaX86 , Are you guys stilll working on it?
It was just 10 lines of code and issue was pending for two days so I solved it, if you guys haven't worked on it, just tell me I will create the PR.

[2021-07-12 07:10] chetak123 commented on #3434
Yeah sure @Revolyssup , actually I was having some difficulty in running the system locally, if you have solved the issue then go ahead!

[2021-07-12 08:45] alphaX86 commented on #3434
Hey @Revolyssup I was held up with some other work.... So if you wish to fix it you can 👍 I'll look on some other issue in meantime

[2021-07-12 10:13] #3304 closed

[2021-07-12 12:20] kumarabd opened #3468 "Meshkit Error migration for models package"
#### Current Behavior
Meshery Server (and its other components, like Adapters) use a centralized library, MeshKit, to provide uniform utilities (e.g. raising and logging errors). Currently, Meshery Server uses a now antiquated style of error logging with logrus.

#### Desired Behavior
Ideally, all use of logrus is replaced with use of MeshKit-style error logging.

#### Implementation
- Updated to

[2021-07-12 12:21] kumarabd opened #3469 "bitcask_smiresults_persister.go"

[2021-07-12 12:21] kumarabd opened #3470 "bitcask_test_profiles_persister.go"

[2021-07-12 12:21] kumarabd opened #3471 "default_local_provider.go"

[2021-07-12 12:21] kumarabd opened #3472 "grafana_helper.go"

[2021-07-12 12:21] kumarabd opened #3473 "load-test.go"

[2021-07-12 12:21] kumarabd opened #3474 "meshery_application.go"

[2021-07-12 12:21] kumarabd opened #3475 "meshery_application_persister.go"

[2021-07-12 12:21] kumarabd opened #3476 "meshery_filter.go"

[2021-07-12 12:21] kumarabd opened #3477 "meshery_filter_api_response.go"

[2021-07-12 12:21] kumarabd opened #3478 "meshery_filter_persister.go"

[2021-07-12 12:21] kumarabd opened #3479 "meshery_pattern.go"

[2021-07-12 12:21] kumarabd opened #3480 "meshery_pattern_persister.go"

[2021-07-12 12:22] kumarabd opened #3481 "meshery_results_persister.go"

[2021-07-12 12:22] kumarabd opened #3482 "pattern_resource_persister.go"

[2021-07-12 12:22] kumarabd opened #3483 "preference_bitcask_persister.go"

[2021-07-12 12:22] kumarabd opened #3484 "preference_map_persister.go"

[2021-07-12 12:22] kumarabd opened #3485 "prometheus_helper.go"

[2021-07-12 12:22] kumarabd opened #3486 "remote_auth.go"

[2021-07-12 12:22] kumarabd opened #3487 "remote_provider.go"

[2021-07-12 12:22] kumarabd opened #3488 "validators.go"

[2021-07-12 12:25] kumarabd commented on #3468
@sayantan1413 @debjani1413 @vijcheru More help needed around the meshkit errors.

[2021-07-12 12:25] Shreyas220 commented on #3468
ill start with the first one then
bitcask_smiresults_persister.go

[2021-07-12 12:25] kumarabd commented on #3468
Sounds great @Shreyas220

[2021-07-12 12:26] kumarabd commented on #3469
@Shreyas220 I guess are on this?

[2021-07-12 12:27] Shreyas220 commented on #3469
yes

[2021-07-12 12:41] sayantan1413 commented on #3468
As there are a lot of Files to be solved so I think we can update only the respective files and the error.go and after all the files are done then we can work on the `JSON` files. And for the error codes we can use a placeholder string like `replace_me`. I think in this way we can reduce the conflicting files. So what's your view on this @kumarabd ?

[2021-07-12 12:46] kumarabd commented on #3468
That sounds perfect @sayantan1413

[2021-07-12 12:48] navendu-pottekkat commented on #3462
Sure @AnshMishra2001

[2021-07-12 13:00] Shreyas220 commented on #3488
@sayantan1413 can i take this

[2021-07-12 13:00] Shreyas220 commented on #3487
@sayantan1413 can i take this

[2021-07-12 13:00] Shreyas220 commented on #3486
@sayantan1413 can i take this

[2021-07-12 13:00] Shreyas220 commented on #3484
@sayantan1413 can i take this

[2021-07-12 13:01] kumarabd commented on #2921
nope it isn't a P1. Just checking in for an update.

[2021-07-12 13:18] myhiccupsandglitches commented on #3481
Hi! Can I take work on this ?

[2021-07-12 13:18] myhiccupsandglitches commented on #3480
Hi ! Can I work on this ?

[2021-07-12 13:51] debjani1413 commented on #3481
@myhiccupsandglitches hey, sure let me assign it to you 😊

[2021-07-12 13:52] debjani1413 commented on #3480
@myhiccupsandglitches Sure again !!

[2021-07-12 15:13] #3280 closed

[2021-07-12 16:56] sayantan1413 commented on #3468
Hey @kumarabd I got a doubt like in the handlers we were using h.log.error(..) but how do we log the errors in the models?

[2021-07-12 19:39] Shreyas220 commented on #3468
@sayantan1413 we can define `log     logger.Handler`  in `HandlerConfig` struct in `handlers.go`
or just define it in any file

and to use it we can do

[code]

[2021-07-12 19:56] Shreyas220 commented on #3468
@sayantan1413 we can define `log logger.Handler` in `HandlerConfig` struct in `handlers.go`
or just define it in any file

and to use it we can do
[code]

Mr Gfeller has made it easier for us as he define a interface for logger in meshkit
for reference -> [here](https://github.com/layer5io/meshkit/blob/master/logger/logger.go)

not 100% this is the right way// @DelusionalOptimist  @kumarabd

[2021-07-12 21:15] dhruv0000 commented on #3077
Sure @amino19 . Go ahead.

[2021-07-12 21:26] vishal267 commented on #3030
@leecalcote  just to confirm, do we need to add liveness probe for all below charts ?

meshery-consul
meshery-cpx
meshery-istio
meshery-kuma
meshery-linkerd
meshery-nsm
meshery-operator
meshery-osm
meshery-traefik-mesh

[2021-07-13 01:33] leecalcote commented on #3128
Done!

[2021-07-13 01:34] leecalcote commented on #3030
+ @kumarabd

[2021-07-13 02:17] samirparhi-dev commented on #3030
Yes, As this would be applicable for all the mesh pods

[2021-07-13 07:01] piyushsingariya commented on #2913
@DantrazTrev any updates?

[2021-07-13 07:09] piyushsingariya opened #3492 "[mesheryctl] (child) `mesheryctl pattern` unit testing"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

check Epic here #3016

#### Current Behavior
Currently, we don't have any unit tests setup to test `mesheryctl pattern` commands and functions

#### Desired Behavior
Required to enable unit testing support for `mesheryctl pattern` commands and functions, to ensure the accuracy and robustness of each meshery

[2021-07-13 07:51] umairnsr87 commented on #3016
Can u please assign some subtasks to me ?

[2021-07-13 12:03] kumarabd commented on #3468
we do not log in models. the idea is to send back errors to the handler in case of errors.

[2021-07-13 12:29] alphaX86 commented on #3434
@piyushsingariya just a doubt, the GET request must be added as a new method and not remove existing ones right? Just add that request check and no refactor?

[2021-07-13 12:30] alphaX86 commented on #3434
If so, can I just look and Simultaneously work on it separately? I'll look and get to you on Slack if any doubts arise

[2021-07-13 13:38] piyushsingariya commented on #3434
yes, With the current scenario we're able to catch meshery running on the platforms but we aren't able to grab meshery which is running with the source code so it will be an additional check which would check if we are running meshery from the source code.

[2021-07-13 14:10] alphaX86 commented on #3434
Ok, I'm a bit clear now, will try to fix it

[2021-07-13 16:12] leecalcote commented on #3469
@kumarabd will you add the child label and "[MeshKit Errors]" in the subject line on each of these issues?

[2021-07-13 16:12] #3033 closed

[2021-07-13 16:23] leecalcote opened #3496 "[Patterns] Capabilities Versioning"
#### Current Behavior
Meshery Adapters persist pattern components in their respective adapter repo (under /templates/oam), and subsequently, bundle these components into the adapter image, but do not version these components.

#### Desired Behavior
Support different versions of same pattern resource. Pattern components (capabilities) should be versioned in accordance with their respective service

[2021-07-13 16:25] leecalcote opened #3497 "[Patterns] Capabilities Registry: Component Versioning"
#### Current Behavior
Meshery Adapters persist pattern components in their respective adapter repo (under /templates/oam), and subsequently, bundle these components into the adapter image, but do not version these components.

#### Desired Behavior
Support different versions of same pattern resource. Pattern components (capabilities) should be versioned in accordance with their respective service

[2021-07-13 18:14] #3429 closed

[2021-07-13 19:28] #3395 closed

[2021-07-13 19:29] #3447 closed

[2021-07-13 20:02] leecalcote commented on #3438
While contributors enjoy a single, consolidated command, for purposes of CI, the suggested desired behavior makes sense to me. 👍

[2021-07-13 20:03] leecalcote commented on #3400
I'll let you research that, @warunicorn19

[2021-07-13 20:09] leecalcote commented on #3270
Thanks for raising this issue, @sudo-NithishKarthik, in general, we need to shift to showing existing resources (things discovered by MeshSync) and showing those resources and their state through a GraphQL subscription.

Users can then take action on a resource under management or choose to provision something new. To get moving quickly, we can write a simple resolver or use an existing one (see @

[2021-07-13 20:11] leecalcote commented on #3427
@iamrajiv, where'd you go?! 😉

[2021-07-13 20:29] #3441 closed

[2021-07-13 20:32] #2923 closed

[2021-07-14 05:56] alphaX86 commented on #3287
@navendu-pottekkat since this issue is open for long time, I will fix this

[2021-07-14 06:01] muskankhedia commented on #3287
@alphaX86 I am already looking into this issue. Can you please take up some other issues?

[2021-07-14 06:05] alphaX86 commented on #3287
(Sigh) alright but make sure it's being fixed

[2021-07-14 06:08] muskankhedia commented on #3287
Your PR seems good. I was looking for an option to automate the task to update in the spreadsheet but yes informing contributors also works.

[2021-07-14 06:10] alphaX86 commented on #3287
Oh ok I thought it's this way... If it's such the case, then this issue is all yours then to work on 👍

[2021-07-14 06:11] muskankhedia commented on #3287
It's completely fine. I guess I over estimated the issue.

[2021-07-14 06:15] Anand-Theertha opened #3500 "[Docs]"
#### Current State
A typo in the [Contributing Guidelines](https://docs.meshery.io/project/contributing-guide) page. (Highlighted in the screenshot)

![Issue-1](https://user-images.githubusercontent.com/54447234/125572256-688222bf-8121-4626-b38d-e46d53aa8529.PNG)

#### Desired State
Must be fixed to "functionality"
---

#### Contributor Resources

- [Meshery documentation site](https://docs.mesher

[2021-07-14 06:26] Anand-Theertha commented on #3500
I've done the required changes on my local repo, can someone please guide me as to what is the next step I should take?

[2021-07-14 07:41] sayantan1413 commented on #3500
If you have done the changes in your local machine then you can commit your file with signoff like `git commit -s -m "your_message`and then push your commit `git push origin <your_branch_name>` and then you will receive a link your terminal , follow the link you will be directed to create a pull request and then create the pull request.

[2021-07-14 08:04] iamsdas commented on #3438
Can I take up this issue?
I am thinking of having a `build-meshery-ui` and `build-provider-ui` instead of (or along with) the  `build-ui` in the Makefile and then updating the github actions for them.

[2021-07-14 08:11] sudo-NithishKarthik commented on #3438
Sure @iamsdas , that sounds good, don't remove the existing `build-ui` since people are accustomed to it, you can add those other commands and use them in ci 👍🏽

[2021-07-14 09:18] Anand-Theertha commented on #3500
I have created the PR and have signed off the commit as well - https://github.com/meshery/meshery/pull/3502 . Thanks for the help @sayantan1413

[2021-07-14 14:25] s1ntaxe770r commented on #2921
Uhm, is it cool if i take this?, i could get KinD set up on EC2. Also must this be on AWS?

[2021-07-14 15:33] chetak123 commented on #3407
Hey @piyushsingariya can I take unit-test for system reset and restart please ?

[2021-07-14 15:44] sayantan1413 commented on #3407
Hey @piyushsingariya can I take the system start one?

[2021-07-14 17:58] DantrazTrev commented on #3035
Hei @navendu-pottekkat can you explain a bit more about the k8s case ?

[2021-07-14 18:00] leecalcote commented on #3035
@DantrazTrev, this particular feature is slated for a later release (v0.7.0), so let me insert @Aisuko here to engage with you.

[2021-07-14 18:25] vijcheru commented on #3468
Sure, I will work on it.

On Mon, Jul 12, 2021, 07:25 abishek ***@***.***> wrote:

[2021-07-14 19:00] adithyaakrishna commented on #2939
@DARK-art108 Any Update Here?

[2021-07-14 19:07] navendu-pottekkat opened #3508 "[mesheryctl] CRUD for tokens"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

Users can have multiple tokens and reference them in their meshconfig (~/.meshery/config.yaml) file. This means that a user can have multiple tokens and can use different tokens for different contexts.

However, right now the users have to manually edit their config files in-order to

[2021-07-14 19:08] navendu-pottekkat commented on #3508
@meshery/mesheryctl-contributors please update the description if there are any missing/wrong usecases.

[2021-07-14 19:20] navendu-pottekkat opened #3510 "[mesheryctl] Add `mesheryctl app` sub-command to manage Meshery Applications"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

Meshery has a new construct called "applications" which lets users define their applications/workloads in pattern files and use Meshery to store, and onboard these applications.

#### Desired Behavior

`mesheryctl` should also support these operations through a new `app` sub-command.

[2021-07-14 19:23] navendu-pottekkat commented on #3510
@leecalcote Please check if the verbs used are okay.

[2021-07-14 20:14] Anita-ihuman opened #3511 "Create FAQ section in Meshery contributing Docs"
#### Description

Currently, Meshery Doc does not have a properly compiled FAQ and answers

#### Expected Behavior

- You are expected to add more FAQ's and answers to the FAQ section on the doc
-  Move the FAQ to https://docs.meshery.io/project/contributing
-  Ensure there is consistency in questions and answers format.

#### Screenshots/Logs

![Screenshot 2021-07-14 at 20 44 06](https://user-ima

[2021-07-14 20:40] DarthBenro008 commented on #3508
Hi @navendu-pottekkat , I'd like to work on this and give it a shot! 😃

[2021-07-14 21:10] The-Loony-Coder commented on #3511
hey @Anita-ihuman, I'd like to work on this issue.

[2021-07-14 21:37] leecalcote commented on #3511
Sounds great. Thank you, @The-Loony-Coder 👍

[2021-07-14 21:38] leecalcote commented on #3511
@The-Loony-Coder here you are:

#### Docs Contributor Resources

- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation source](https://github.com/meshery/meshery/tree/master/docs)
- [Instructions for contributing to documentation](https://github.com/meshery/meshery/blob/master/CONTRIBUTING.md#documentation-contribution-flow)
- [Layer5 Community Slack](http://slack.layer

[2021-07-14 23:04] Jordan-Rob commented on #3510
@navendu-pottekkat can I take this on

[2021-07-14 23:13] #3414 closed

[2021-07-15 02:24] suhaniii commented on #3510
@navendu-pottekkat  How pattern and app different here?

[2021-07-15 04:09] navendu-pottekkat commented on #3510
In the implementation side, they are the same in mesheryctl. You will do the same operations. Only the endpoint to call in the Meshery server will change, that is pretty straightforward.

[2021-07-15 04:15] suhaniii commented on #3510
Okay. Then Can I give it a try?

[2021-07-15 04:15] navendu-pottekkat commented on #3510
Yes sure, I will assign this to you.

[2021-07-15 04:50] #3287 closed

[2021-07-15 04:51] piyushsingariya commented on #3407
Yeah sure @chetak123, go ahead!
@sayantan1413 `start` and `stop` have been already covered.

[2021-07-15 05:34] suhaniii commented on #3510
There is already 'application' under internal/cli/root, is it different from 'app' we will be creating?

[2021-07-15 05:35] suhaniii commented on #3510
There is already 'application' under 'internal/cli/root'. How it is different from 'app' we will be creating

[2021-07-15 06:46] iamsdas commented on #2905
I'd like to take up this issue

[2021-07-15 07:05] warunicorn19 commented on #3481
hey @myhiccupsandglitches, if you need help with this hit me up on slack

[2021-07-15 07:55] DelusionalOptimist commented on #2905
Sure @iamsdas. Go ahead :muscle:

[2021-07-15 09:15] Revolyssup commented on #3508
@navendu-pottekkat  Is this the desired behavior? Please suggest changes otherwise.

# Add
## before
![1_before](https://user-images.githubusercontent.com/43276904/125760912-ff606c91-91ea-4fed-9a68-6b680b727d2e.png)

## after
![1_after1](https://user-images.githubusercontent.com/43276904/125760934-386ac5e1-3966-4e44-aa05-dcfbb1a718b1.png)
![1_after2](https://user-images.githubusercontent.com/43276

[2021-07-15 09:17] Jordan-Rob commented on #3124
@leecalcote @hrishikeshnikam2000 is this still being worked on? incase any assistance is needed I would be glad to help

[2021-07-15 12:08] nitinosiris commented on #3492
I would like to take this issue!

[2021-07-15 12:21] #3469 closed

[2021-07-15 12:44] nitinosiris opened #3513 "[mesheryctl]: make command fails"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

make command is giving error
`go build -ldflags="-w -s -X github.com/layer5io/meshery/mesheryctl/internal/cli/root/constants.version=v0.5.37 -X github.com/layer5io/meshery/mesheryctl/internal/cli/root/constants.commitsha=0d75f9fd5f2fbb16f3b9133a135a663264106cb6 -X github.com/layer5io/

[2021-07-15 13:00] piyushsingariya commented on #3492
Cool, @nitinosiris Let's start with `pattern view` and `pattern list` first.

[2021-07-15 13:36] alphaX86 commented on #3513
@nitinosiris edit the issue title so that it's understandable :)

[2021-07-15 14:41] alphaX86 opened #3517 "[mesheryctl] Design a command to update `mesheryctl`"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

So far, `mesheryctl system update` is used to update Meshery itself (Docker/k8s) but not the `mesheryctl` itself. This makes the user to manually update every time to update the CLI client

#### Desired Behavior

Create a command which will update the `mesheryctl` without the interven

[2021-07-15 15:06] ramrodo commented on #2921
Hi @s1ntaxe770r , thanks for jumping on this. Sure, you can take this. It should be on AWS because we have an account set up there. Yes, you can do it with KinD + EC2, also I was considering using EKS that uses EC2 under the hood. But we can compare the two options and choose the better (or the cheaper).

[2021-07-15 15:10] ramrodo commented on #2905
Thanks, @iamsdas. I just assigned to you :)

[2021-07-15 15:15] navendu-pottekkat commented on #3508
@Revolyssup I think these are correct, could you open up a PR on this so that we can test this out?

[2021-07-15 15:18] navendu-pottekkat commented on #3508
@DarthBenro008 You could check out [these open issues ](https://github.com/meshery/meshery/issues?q=is%3Aopen+is%3Aissue+no%3Aassignee)and see if something interests you.

[2021-07-15 18:50] #3513 closed

[2021-07-15 18:55] #2905 closed

[2021-07-15 18:58] #2709 closed

[2021-07-16 00:57] #3472 closed

[2021-07-16 00:57] #3473 closed

[2021-07-16 00:57] #3475 closed

[2021-07-16 00:57] #3474 closed

[2021-07-16 00:57] #3478 closed

[2021-07-16 00:57] #3471 closed

[2021-07-16 00:58] #3483 closed

[2021-07-16 00:58] #3482 closed

[2021-07-16 00:58] #3479 closed

[2021-07-16 00:58] #3476 closed

[2021-07-16 01:09] dhruv0000 commented on #3481
@myhiccupsandglitches This issue and #3468  had become Priority and resolved in a recent PR (This happens in a rare case)

Feel free to look into other issues which might interest you. If you feel like you can't find any issue that excites you, ping me in slack, we will find something which you might enjoy tackling.

[2021-07-16 01:10] #3481 closed

[2021-07-16 01:10] #3480 closed

[2021-07-16 01:16] dhruv0000 commented on #3477
`meshery_filter_api_response.go` has no errors.

[2021-07-16 01:16] #3477 closed

[2021-07-16 04:19] #3009 closed

[2021-07-16 10:34] alphaX86 commented on #3517
Design spec being created... Will let you know if it's done for review

[2021-07-16 13:40] nitinosiris commented on #3492
could you provide some refrences where such test are implemented for another command ?

[2021-07-16 14:55] piyushsingariya commented on #3492
check `perf view` and `perf list` tests.

[2021-07-16 15:56] #2933 closed

[2021-07-16 16:36] sudo-NithishKarthik opened #3536 "[UI] Change the settings button styling in notification bar"
**Current Behaviour**

When an adapter ping fails, we receive a notification showing the error and that has a button which takes us to the "Settings" page, but the 'Settings' button is not visually distinctive.

**Desired Behaviour**
Make the settings button feel like a 'button', right now it looks like a plain text

<img width="1440" alt="Screenshot 2021-07-16 at 7 44 36 PM" src="https://user-ima

[2021-07-16 17:23] Jordan-Rob commented on #3536
can I take this up

[2021-07-16 19:20] #3488 closed

[2021-07-16 21:59] Anita-ihuman commented on #3536
Sure you can.

[2021-07-16 22:05] leecalcote opened #3538 "[Docs] Mesheryctl UX Conventions: Create list of common subcommands and flags"
#### Current State
`mesheryctl` provides a user experience. That experience needs to be consistent across its commands.

#### Desired State
A command design style guide is taking shape here - https://docs.meshery.io/project/contributing-cli. This doc should have a section listing commonly used verbs and their intended use, and flags and their intended use.

Reference this spreadsheet [mesheryctl C

[2021-07-17 00:54] s1ntaxe770r commented on #2921
I'm not sure what the budget is but, EKS would set us back at least $75 monthly , while ec2 + K3d  would be around $30, Also i think k3d would work better than kind in this case
https://k3d.io/

[2021-07-17 05:05] ishitakeshawani commented on #3538
I would like to work on this issue. @leecalcote

[2021-07-17 05:15] piyushsingariya commented on #3492
Hey @nitinosiris Here is a small guide which might help you in the way: [here](https://docs.google.com/document/d/1t8Ilb72gpvkLXjywSAkaUOxN6arObC_xOLih66ggCUk/edit#)

[2021-07-17 05:19] piyushsingariya commented on #3517
There's already one [here](https://docs.google.com/document/d/1QHDFeFc3QC71YlfIy54g3D8xCrd_-m81veStgOhXeu8/edit)

[2021-07-17 05:29] alphaX86 commented on #3517
Oh ok, will look on it then

[2021-07-17 05:30] alphaX86 commented on #3517
🤦 you could've said it yesterday, by mistake another copy is made

[2021-07-17 05:35] alphaX86 commented on #3517
Alright never mind, I'll ask drive maintainers to remove the duplicate one

[2021-07-17 05:37] piyushsingariya commented on #3517
I totally forgot. my apologies!

[2021-07-17 05:48] alphaX86 commented on #3517
It's ok. I'll ask Lee to remove the copy

[2021-07-17 06:15] Revolyssup commented on #3407
@piyushsingariya  You can assign me for system token and system context.

[2021-07-17 08:11] piyushsingariya commented on #3407
I have raised a PR for `mesheryctl system status`

[2021-07-17 10:21] nitinosiris opened #3543 "[Docs] "satrt" should be "start""
#### Current State
typo in documentation : `mesheryctl system satrt`
#### Desired State
should be `mesheryctl system start`
---

#### Contributor Resources

- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation source](https://github.com/meshery/meshery/tree/master/docs)
- [Instructions for contributing to documentation](https://github.com/meshery/meshery/blob/master/CO

[2021-07-17 10:27] nitinosiris commented on #3543
I am making PR :)

[2021-07-17 10:41] nitinosiris commented on #3492
How to run new test ? I mean which command, I made new test file. dont know how to run it :(

[2021-07-17 11:34] #3486 closed

[2021-07-17 11:34] #3487 closed

[2021-07-17 12:48] utkarsh-pro commented on #3158
@leecalcote, https://github.com/kubernetes/kube-openapi is a great tool however doesn't fits our use case right now. It takes in golang struct (with some annotations) and can generate openapi-spec as well as json schema from them.

Should we close this now?

[2021-07-17 14:39] sudo-NithishKarthik opened #3547 "[UI] Settings page returns 404 while reloading"
#### Description
Settings page works fine when we use the **gear** button in navigation menu, but explicitly going to 'localhost:9081/settings' returns 404. Also, after going to the settings page, reloading it returns 404 as well.

#### Expected Behavior
It should not return 404 in any case, be it, going to 'localhost:9081/settings' or reloading.

**Contributor Resources:**
- (Contributing Docs](h

[2021-07-17 15:33] sudo-NithishKarthik opened #3549 "[CI] Label commenter workflow failing"
#### Description
Label commenter workflow fails due to a problem with workflow configuration

#### Expected Behavior
Label commenter workflow should not fail because of an internal error with workflow configuration

#### Screenshots/Logs
<img width="1061" alt="Screenshot 2021-07-17 at 9 01 59 PM" src="https://user-images.githubusercontent.com/75248557/126041962-90d091d2-380b-4236-9482-a28307054a1d

[2021-07-17 15:51] navendu-pottekkat opened #3550 "[mesheryctl] Refactor mesheryctl"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

This issue is to track the refactoring process in mesheryctl. Multiple PRs related to refactoring mesheryctl will be tagged with this issue.

---

#### Contributor Resources

- [mesheryctl Contributing Guide](https://github.com/meshery/meshery/blob/master/mesheryctl/README.md)
- [Beginner's guide to contrib

[2021-07-17 16:08] umairnsr87 commented on #3550
@navendu-pottekkat do we have subtasks in this issue?

[2021-07-17 16:16] #3401 closed

[2021-07-17 17:18] navendu-pottekkat commented on #3550
@umairnsr87 not really, I opened this issue to centralise and easily track the refactoring process. There a couple of other open issues that you can jump into if you are interested.

[2021-07-17 19:33] umairnsr87 commented on #3550
Thanks @navendu-pottekkat

[2021-07-18 02:40] alphaX86 commented on #3549
@sudo-NithishKarthik it's not the UI label alone, all labels have stopped working because of that indentation. Hopefully that you have solved it'll work now

[2021-07-18 04:58] leecalcote commented on #3156
// @dhruv0000

[2021-07-18 04:59] #3543 closed

[2021-07-18 05:00] #3549 closed

[2021-07-18 05:01] #3547 closed

[2021-07-18 06:55] piyushsingariya opened #3553 "[Docs] Add Docs regarding writing Unit and Integration Testing"
#### Desired State
Add Docs for contributing in Mesheryctl Unit Testing and Integration Testing to the project.
Link to the document- https://docs.google.com/document/d/1xRlFpElRmybJ3WacgPKXgCSiQ2poJl3iCCV1dAalf0k/edit#heading=h.rzpmb66db1sq

---

#### Contributor Resources

- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation source](https://github.com/meshery/meshery

[2021-07-18 07:56] ishitakeshawani commented on #3553
Can I work on this issue ? @piyushsingariya

[2021-07-18 09:32] piyushsingariya commented on #3553
yes, definitely @ishitakeshawani

[2021-07-18 10:05] ishitakeshawani commented on #3553
Thank you.

[2021-07-18 10:52] ishitakeshawani commented on #3553
I need to add Writing unit tests and integration tests for mesheryctl section here at the end of page and above suggest reading.Am i right? @piyushsingariya
![Screenshot from 2021-07-18 16-16-01](https://user-images.githubusercontent.com/50510726/126064332-ddffe609-8edb-486e-b8e3-c54adc7fb8f9.png)

[2021-07-18 11:56] leecalcote commented on #3553
@ishitakeshawani, yes.

[2021-07-18 12:00] #3427 closed

[2021-07-18 16:46] Pawanupadhyay10 commented on #3538
Hey @leecalcote can i work on the issue ,Moreover I there is no issue free ,because most are under working by others, Is any free issue regarding UI .

[2021-07-18 19:27] gravishpurohit commented on #3536
Hi @sudo-NithishKarthik I want to work on that can I take this

[2021-07-18 19:30] sudo-NithishKarthik commented on #3536
@gravishpurohit , @Jordan-Rob is working on it, you can look if there are other open issues that you can work with ✌🏽

[2021-07-18 19:31] gravishpurohit commented on #3553
Hi, @piyushsingariya I am interested in it can I work on this?

[2021-07-18 19:41] Chadha93 commented on #3553
@gravishpurohit, Nice to have you, you can have a look at some more similar issues because this issue is already being tracked by @ishitakeshawani.

[2021-07-18 20:03] leecalcote opened #3558 "[mesheryctl] `system status` errors when platform dependency is missing"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
mesheryctl presents an error when executing `system status` when the system is missing prerequisite dependencies. The system being used in this scenario does not have Docker installed (does not have `docker` available.

#### Desired Behavior
mesheryctl should detect whether or not prer

[2021-07-19 01:33] #3485 closed

[2021-07-19 07:39] alphaX86 commented on #3558
I'd like to look on this... May I know what it needs to be done to fix that bug?

[2021-07-19 09:06] gravishpurohit commented on #3553
ya sure,@Chadha93

[2021-07-19 10:07] umairnsr87 commented on #3558
@leecalcote Can we(@alphaX86 and me) combinely work on this issue ?

[2021-07-19 10:12] #3553 closed

[2021-07-19 13:01] sudo-NithishKarthik commented on #2913
Hey @piyushsingariya , I don't think it is an issue with the UI, because, from what i see, in the UI, it is just calling the graphql mutation and all the logic for what has to be deleted and all is handled by the graphql resolver. The only variable we are sending is the final state of the operator. So, i suspect it has something to do with the resolver, but, i didn't find anything wrong with that

[2021-07-19 13:11] DantrazTrev commented on #2913
Yup @sudo-NithishKarthik sorry I've not been working on this lately . From what I could find There is no mutation for the meshery operator status solely .

[2021-07-19 14:16] sudo-NithishKarthik opened #3563 "[UI] set "default" as the default namespace in management page"
#### Current Behavior
In the service mesh management page, the namespace field is empty by default.

#### Desired Behavior
The namespace field should have 'default' as the default value as people will generally assume that it will be set to 'default'

---
**[Contributor Guide](https://docs.meshery.io/project/contributing)**

[2021-07-19 14:54] pottekkat opened #3565 "Scan uploaded WASM files for vulnerabilities"
#### Current Behavior

Users are able to upload WASM filter files in Meshery.

#### Desired Behavior

Scan the WASM files for vulnerabilities and other security issues and then store them in Meshery.

---
**[Contributor Guide](https://docs.meshery.io/project/contributing)**

[2021-07-19 15:03] sudo-NithishKarthik opened #3566 "[UI] Fetch grafana and prometheus scan data only if they are configured"
#### Description
Right now, Meshery UI client attempts to fetch grafana and prometheus data even when the user has not configured them.

For instance,

<img width="1440" alt="Screenshot 2021-07-19 at 8 23 47 PM" src="https://user-images.githubusercontent.com/75248557/126180411-24f6fa0c-89bd-4c91-b354-94ac62e2563b.png">

^^ In this case, the user has not configured granafa and prometheus, but still

[2021-07-19 15:13] sudo-NithishKarthik commented on #3566
@leecalcote , please confirm if this the desired behaviour. This is more of a decision to be taken in terms of user experience, because, by doing so, we are shifting the user's understanding from grafana and prometheus being a *default* element to something that is like a *plugin* in the context of meshery.

So, finally, it will become such that, even if the cluster is configured with grafana and

[2021-07-19 15:18] #3563 closed

[2021-07-19 16:16] #3018 closed

[2021-07-19 19:29] #3305 closed

[2021-07-19 20:05] warunicorn19 opened #3568 "[Docs] Error Codes Categories not Mobile Friendly"
#### Current State
<img src="https://user-images.githubusercontent.com/53532328/126220064-f9c967e9-cc7c-41c7-a9ef-07f7b9fb3149.jpg" style="height:500px">

In mobile the categories table is getting cut off.

#### Desired State
The entire table should be visible

---

#### Contributor Resources

- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation source](https://github.

[2021-07-19 20:13] debo19 commented on #3568
Can I work on this issue?

[2021-07-19 20:14] warunicorn19 commented on #3568
yeah sure! @debo19

[2021-07-19 20:14] sayantan1413 commented on #3568
Sure @debo19 go ahead.

[2021-07-19 20:15] leecalcote commented on #3568
@debo19, you're no slo-poke.

and apparently, neither is @warunicorn19 or @sayantan1413. 😁

[2021-07-19 23:10] leecalcote commented on #3053
@kumarabd an item to verify that is complete.

[2021-07-20 04:24] sudo-NithishKarthik commented on #2598
@leecalcote , i don't think this issue still persist, should we close it ?

[2021-07-20 06:09] warunicorn19 commented on #3303
Hey, if no one is working on this, can I work on it?

[2021-07-20 08:16] #3047 closed

[2021-07-20 09:43] kumarabd commented on #3053
This is complete.

[2021-07-20 09:43] #3053 closed

[2021-07-20 09:47] kumarabd commented on #3021
Specific permissions are not currently figured yet. Its assigned with admin privilege for now.
ref:
- https://github.com/meshery/meshery/blob/master/install/deployment_yamls/k8s/service-account.yaml
- https://github.com/meshery/meshery-operator/blob/master/config/manifests/default.yaml#L201-L320

Admin privileges are required because we discovered everything that exists inside the kubernetes clust

[2021-07-20 10:35] piyushsingariya opened #3570 "[Docs] Open API Documentation for `/filter` endpoints"
This is an issue under #2902

#### Desired State
Add swagger docs for `/filter` endpoints in meshery server.

Guide - https://docs.google.com/document/d/1YnpJs6D_arzuE5ieqMyuJs3A3UYSVp9YZYhbc966sWg/edit?usp=sharing

---

#### Contributor Resources

- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation source](https://github.com/meshery/meshery/tree/master/docs)
- [Instr

[2021-07-20 10:37] piyushsingariya opened #3571 "[Docs] Open API Docs for `/application/` endpoints"
#### Desired State
Add swagger docs for `/application` endpoints in the meshery server.

Guide - https://docs.google.com/document/d/1YnpJs6D_arzuE5ieqMyuJs3A3UYSVp9YZYhbc966sWg/edit?usp=sharing

---

#### Contributor Resources

- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation source](https://github.com/meshery/meshery/tree/master/docs)
- [Instructions for contribut

[2021-07-20 11:54] nitinosiris commented on #3571
I would like to work on this :)

[2021-07-20 11:56] nitinosiris commented on #3492
@piyushsingariya If this issue is priority, you can assign it to someone else, As I am new to golang, and hence I will take time to make PR

[2021-07-20 12:00] piyushsingariya commented on #3571
@nitinosiris sure!

[2021-07-20 13:06] amino19 commented on #3570
@piyushsingariya: Shall I work on this? :slightly_smiling_face:

[2021-07-20 15:19] gravishpurohit commented on #3570
@piyushsingariya can I work on this with @amino19.

[2021-07-20 15:26] piyushsingariya commented on #3570
@gravishpurohit Let's go! and @amino19 does writing Unit Tests interests you?

[2021-07-20 15:30] gravishpurohit commented on #3570
@piyushsingariya thanks

[2021-07-20 17:38] leecalcote opened #3573 "[UI] Settings: Change label on settings buttons"
#### Current Behavior
The Settings page (/settings) of Meshery UI, has a couple of buttons with labels not accurately representing their behavior.

#### Desired Behavior
The buttons should have more accurate descriptions of their functionality.

#### Implementation
1. On the http://localhost:9081/settings#performance page, change the text on the button from "Submit Preferences" to "Save".
1. On th

[2021-07-20 17:46] leecalcote opened #3574 "[UI] Settings: Labels overlapping text in input fields"
#### Description

Field labels overlap with field input, specifically saved user preference input.

When a user changes the performance load test defaults from the system defaults, the UI will correctly save the user's preference, but will display their preferred settings as overlapping the label of the input field.

#### Expected Behavior
1. Move the field label out of the actual text field and m

[2021-07-20 17:55] sayantan1413 commented on #3573
Hey @leecalcote I want to try this good first issue for the front-end part

[2021-07-20 17:57] ishitakeshawani commented on #3574
Can i take up please ? @leecalcote

[2021-07-20 18:28] warunicorn19 commented on #3574
here you go @ishitakeshawani !

[2021-07-20 18:29] sudo-NithishKarthik commented on #3573
Great @sayantan1413 😄  🎉

[2021-07-20 18:40] amino19 commented on #3570
@piyushsingariya : I think you've to guide me, for sure! :slightly_smiling_face:

[2021-07-20 19:26] leecalcote opened #3576 "[Server] MeshSync Lifecycle: Ad-hoc connectivity test"
**Current Behavior**
Once Meshery Operator, and subsequently, MeshSync is deployed, users will inevitably be in need of verifying connectivity to MeshSync in Settings and Connection Wizard.

Like other Meshery-connected components, users need the ability to verify connectivity to that component.

**Desired Behavior**
In the same fashion that users are allowed to perform ad-hoc connectivity tests t

[2021-07-20 19:27] adithyaakrishna commented on #3566
@manish-ai 👀

[2021-07-21 06:08] piyushsingariya commented on #3407
@sayantan1413 @chetak123 any updates?

[2021-07-21 06:40] chetak123 commented on #3407
Actually @piyushsingariya can I get some more time in it as my sem. exams are starting and I am little busy right now😅

[2021-07-21 07:20] piyushsingariya commented on #3558
That's where you come into the game. :wink:

[2021-07-21 07:24] alphaX86 commented on #3558
Oooh 😂 OK! We'll try to figure out then

[2021-07-21 08:43] gravishpurohit commented on #3570
@piyushsingariya I tried, but I don't have any idea of Jekyll could please help

[2021-07-21 11:52] shahkushal38 commented on #3538
Hello, @leecalcote I would like to work on this issue if it hasn't been assigned to anyone?

[2021-07-21 14:24] piyushsingariya commented on #3570
It's a wild guess, but you didn't read the guide attached. right?

[2021-07-21 15:39] ishitakeshawani commented on #3574
It's already showing expected behavior.
OS : Ubuntu 20.04
![Screenshot from 2021-07-21 20-58-05](https://user-images.githubusercontent.com/50510726/126516912-f1c570c6-f722-4001-9012-d79bd8875be8.png)

[2021-07-21 16:07] kumarabd opened #3586 "[Performance] Unable to use SMP endpoint"
#### Description
This particular endpoint is being used to execute performance test requests which is compatible with the SMP specification - `/api/perf/load-test-smps`. The issue here is that the tests are being executed successfully but the results are not being persisted. The remote provider endpoint which is being called in the case of a normal load test (`/api/perf/load-test`) is different fr

[2021-07-21 16:31] warunicorn19 commented on #3574
Yeah it looks fine on my system too. @leecalcote has this issue already been fixed?

[2021-07-21 17:43] bariqhibat commented on #2890
Hi! Is it possible for me to look into this?

[2021-07-21 17:45] warunicorn19 commented on #2890
Here you go! @bariqhibat

[2021-07-21 17:50] Anita-ihuman commented on #3538
@Pawanupadhyay10 sure,
@shahkushal38, Sorry but I have to assign it to who commented first. Please explore our other repositories for the open issues.

[2021-07-21 18:11] warunicorn19 opened #3588 "Update golang version from 1.15 to 1.16"
#### Description
We recently upgraded the the golang version in go.mod.

#### Expected Behavior
So, subsequently we would have to make the version changes in all the files that have golang version 1.15.

#### Environment

- Host OS: Mac Linux Windows
- Meshery Server Version: stable-v
- Meshery Client Version: stable-v
- Platform: Docker or Kubernetes

---

**Contributor Resources:**
- (Contributi

[2021-07-21 18:37] #3568 closed

[2021-07-21 18:39] #3588 closed

[2021-07-21 21:43] #3222 closed

[2021-07-22 02:04] bariqhibat commented on #3124
Hi! Just wanna up this issue whether this is still worked on or not. I can definitely help!

[2021-07-22 02:34] leecalcote commented on #3124
@Jordan-Rob @bariqhibat, thank you for asking. Yes, this effort is still much needed. // @dhruv0000 @sudo-NithishKarthik @Ayush-Khandelwal-007 @Nikhil-Ladha @jeantiston @Chadha93 @Abhishek-kumar09

[2021-07-22 04:39] leecalcote commented on #2890
@bariqhibat, it would be great to arrive at something similar to https://github.com/ahmetb/kubectl-aliases

[2021-07-22 04:49] bariqhibat commented on #2890
I see, should I create a CLI command to generate something like this aliases then?

[2021-07-22 05:11] bariqhibat commented on #3566
Hey, I think I know the directions on how to tackle this. Could you assign me to this?

[2021-07-22 05:28] sudo-NithishKarthik commented on #3536
Hey @Jordan-Rob , are you facing any blockers ?

[2021-07-22 05:37] leecalcote commented on #2890
@WLun001, do you have any thoughts on this subject?

[2021-07-22 08:37] bariqhibat commented on #3273
Hey @kumarabd, I'm interested to handle this, but I don't know what is Nighthawk and where to ask. Could you guide me how to start the Nighthawk and replicate this behavior?

[2021-07-22 09:45] #3045 closed

[2021-07-22 13:04] Anand-Theertha opened #3597 "[Docs]Redirection of links are not to the desired pages"
#### Current State
In the [Extensibility page ](https://docs.meshery.io/extensibility), the links for _Adapters, load generators and providers_ do not redirect to the desired page. The screenshot attached shows the links in question.

![bug-2](https://user-images.githubusercontent.com/54447234/126643433-8a7a1b60-3e85-45f7-9168-d3cb6cc88751.PNG)

#### Desired State
The links must be redirected to t

[2021-07-22 13:12] ujju20 commented on #3511
Can I work on this issue?

[2021-07-22 13:18] warunicorn19 commented on #3511
hey @ujju20 , looks like someone is already working on this issue. There are a number of other issues that you go through to see which one you would like to do.

[2021-07-22 13:57] #3085 closed

[2021-07-22 15:16] debjani1413 opened #3599 "[Docs] Create a configurable {% include %} for "Suggested Reading" in Contributing.md"
#### Current State
We're in need of a configurable {% include %} created for a "Suggested Reading" snippet that allows the suggested reading topic to be configured. See the Contributing pages for examples.

#### Desired State
This {% include %} could then be added to a layout.
---

#### Contributor Resources

- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation source]

[2021-07-22 19:35] #3597 closed

[2021-07-22 20:25] #3573 closed

[2021-07-22 20:28] #3438 closed

[2021-07-23 01:10] #3122 closed

[2021-07-23 06:47] kumarabd commented on #3484
@Shreyas220 a quick status check on this

[2021-07-23 06:47] The-Loony-Coder commented on #3511
hey @Anita-ihuman, I've compiled some questions,have a look at them and tell me if i'am going in the right direction and I also wanted to ask like,1.How many questions should I add.Who is the target audience like ,is  it for newcomers joining the community.
![faqs](https://user-images.githubusercontent.com/55737921/126746488-5102f69b-f428-449a-8be9-96744bcb26a7.png)

[2021-07-23 07:25] Anita-ihuman commented on #3511
The target audience is both users and contributors
Questions number 1-6 look promising.
Seams to touch the key FAQ's asked currently.

[2021-07-23 07:55] bariqhibat commented on #3599
Hi I can help check this out!

[2021-07-23 07:57] debjani1413 commented on #3599
@bariqhibat would you like me to assign it to you??

[2021-07-23 08:02] bariqhibat commented on #3599
Sure @debjani1413

[2021-07-23 08:14] bariqhibat commented on #3599
Hi @debjani1413, what do you mean by configurable though? How exactly configurable is it? If I see from the code, it is iterating from the pages folder's files.

[code]

[2021-07-23 08:23] debjani1413 commented on #3599
@leecalcote

[2021-07-23 08:23] debjani1413 commented on #3599
@leecalcote

[2021-07-23 08:35] debjani1413 commented on #3011
Is this issue been fixed already ???

[2021-07-23 09:32] adithyaakrishna commented on #3011
@debjani1413 I don't think so as it does not have any Linked PRs. If you don't mind, could you please check regarding this?
If it's not yet fixed, would you be willing to take this up? 👀

[2021-07-23 09:47] #3206 closed

[2021-07-23 10:47] Shreyas220 commented on #3484
i am so sorry, i completely forgot about this

[2021-07-23 12:13] kumarabd commented on #3576
Unassigning and not closing this as frontend work is to be moved forward.

[2021-07-23 12:17] kumarabd commented on #2530
@leecalcote All of the above scenarios covered. Let me know if I missed something. Im assigning myself from here.

[2021-07-23 16:02] Anita-ihuman opened #3634 "Make the Layer5 a clickable link"
#### Description
Currently, Layer5 logo in this section is not a clickable link.

#### Expected Behavior
Add a link to the Layer5 logo directing to the Layer5.io website

#### Screenshots/Logs
![Screenshot 2021-07-23 at 12 00 19](https://user-images.githubusercontent.com/62384659/126809459-3bb3e671-2c00-461f-a140-81de5b9ba09f.png)

#### Environment

- Host OS: Mac Linux Windows
- Meshery Server Ve

[2021-07-23 16:08] shahkushal38 commented on #3634
Hello @Anita-ihuman, I would like to work on this issue as I myself am a first-timer

[2021-07-23 16:17] warunicorn19 commented on #3634
here you go! @shahkushal38

[2021-07-23 16:24] iamrajiv opened #3635 "Replace `golint` with `revive`"
## Description

When I do `golangci-lint run` locally it giving the below warning:

[code]

I think we have to replace `golint` with `revive` across all the [Layer5](https://github.com/layer5io) and [Meshery](https://github.com/meshery) projects which are using `golint`. Recently I made PR on `golangci-lint` configuration for [layer5io/meshkit](https://github.com/layer5io/meshkit/pull/89) project

[2021-07-23 16:24] iamrajiv commented on #3635
@leecalcote I want to work on this issue.

[2021-07-23 16:50] warunicorn19 opened #3636 "[Docs]Update the make commands on meshery docs"
#### Description
The new make commands have to be updated on https://docs.meshery.io/project/contributing-ui

#### Expected Behavior
All the make commands not present in the documentation already, need to be added.

#### Environment

- Host OS: Mac Linux Windows
- Meshery Server Version: stable-v
- Meshery Client Version: stable-v
- Platform: Docker or Kubernetes

**Contributor Resources:**
- (Con

[2021-07-23 17:22] debjani1413 commented on #3011
@adithyaakrishna yes, sure I would love to take it up!

[2021-07-23 17:44] debjani1413 commented on #3011
@adithyaakrishna I guess it has been worked upon because I see a completely dedicated page for contributing to the docs which was the purpose of this issue!!

[2021-07-23 18:01] debjani1413 commented on #3011
Hey @leecalcote I can see a page that is fully dedicated to, the guidelines for contributing to meshery docs, was not that the purpose of this issue?? Or did I misinterpret it 😐

[2021-07-23 18:24] sayantan1413 opened #3637 "[mesheryctl] Error in all the mesheryctl commands specific to Apple Silicon M1 chip"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

When executing any mesheryctl command there is an error `ERRO[0000] failure getting variant            error="getCPUInfo for OS darwin: not implemented"` at the first line but after that the command performs its desired behaviour. This error is only showing on `Apple Silicon (M1 chip)

[2021-07-23 19:26] kumarabd opened #3639 "[Meshery] Notification for multiple clients"
#### Current Behavior
Meshery currently has endpoint `/api/events` which handles the notification messages. Currently they only send messages buffered to the UI.

#### Desired Behavior
We want the desired notifications to be published to all the connected clients (UI/cli etc).  This operates on stream protocol, thus any client that is subscribed to this endpoint should receive the notification.

R

[2021-07-23 19:47] umairnsr87 commented on #3639
@kumarabd Can I work on this enhancement?

[2021-07-23 23:27] #3393 closed

[2021-07-23 23:27] leecalcote commented on #3393
@Chadha93 if we don't have the same functionality for Patterns, will you add these to Patterns as well?

[2021-07-24 04:54] #3508 closed

[2021-07-24 05:49] kumarabd opened #3640 "[Meshery] Meshkit errors classification"
#### Current Behavior
Some of the meshkit custom errors defined are not public facing, meaning they are never shown up user facing. There needs to be a proposal to classify private errors (Non user facing) and user facing errors.

#### Proposal
While combining or wrapping two errors, we could account for merging all of the fields in the error object. Thus the final user facing error would be a set

[2021-07-24 12:19] gravishpurohit commented on #3570
@piyushsingariya i tried a lot but don't know how to work on swagger.

[2021-07-24 12:27] warunicorn19 commented on #3570
hey @piyushsingariya, if no one is doing this, could i give this a go? I've not worked on swagger before but would like to give it a shot

[2021-07-24 12:58] piyushsingariya commented on #3570
We have a meeting on this today, be sure to join that.

[2021-07-24 13:37] Chadha93 commented on #3393
@leecalcote We do have this functionality in patterns, I have already added(merged) and demoed on meshery  call : )

[2021-07-24 13:42] #3124 closed

[2021-07-24 14:46] sayantan1413 commented on #3571
Hey @nitinosiris can I pair up with you to solve this issue if you haven't already solved it completely.

[2021-07-24 14:48] nitinosiris commented on #3571
Sure, ;)

[2021-07-24 15:03] leecalcote commented on #2960
@suhaniii @piyushsingariya @hexxdump tagging you as a reminder of our shifting toward more of this; more feeding of users what they are missing.

e.g.

**NO:**
[code]

**YES:**
[code]

[2021-07-24 15:11] bariqhibat commented on #3492
Hi @piyushsingariya , I am also new to Golang (though I've watched Nic Jackson's videos), but I'm interested to learn them here to apply the knowledge!

[2021-07-24 16:06] piyushsingariya commented on #3492
Sure, @bariqhibat. Thanks for stepping up. Here is a small guide which might help you in the way: (https://docs.google.com/document/d/1t8Ilb72gpvkLXjywSAkaUOxN6arObC_xOLih66ggCUk/edit#)

Just mention in thread, what command you're exactly going to pick.

[2021-07-24 16:18] amino19 commented on #3570
Yes, Obv, I will work with writing Unit Tests.
Seeking for a busy person attention! :slightly_smiling_face:

[2021-07-24 16:29] bariqhibat opened #3642 "[MESHERY] swagger.yaml not found when running meshery server in docker"
#### Description

Swagger.yaml is a result of running the Open API for documenting our REST APIs on Meshery Server. It could be produced using make commands available in makefile. We can see them in development, i.e. by running them using `make run-local`. But when running its image using Docker `mesheryctl system start`, the documentation route could not found `swagger.yaml` hence making us canno

[2021-07-24 16:42] sayantan1413 commented on #3571
Hey @nitinosiris how many endpoint have you covered till now so that our work do not coincide.

[2021-07-24 16:49] nitinosiris commented on #3571
I haven't started the work yet, I am  currently busy with placement cycle, you can start your work. If I get time, I'll contribute to it

[2021-07-24 17:04] warunicorn19 commented on #3571
Hey @sayantan1413 if @nitinosiris is busy can I team up with you instead?

[2021-07-24 19:06] #3634 closed

[2021-07-24 19:08] adithyaakrishna commented on #3634
Closed as it was fixed in PR #499

[2021-07-24 19:10] adithyaakrishna commented on #3634
@leecalcote Could you please transfer this issue to `meshery.io` repository? 👀

[2021-07-24 19:11] warunicorn19 commented on #3634
Hey @adithyaakrishna, doesn't an issue get closed automatically after a linked PR is merged?

[2021-07-24 19:34] adithyaakrishna commented on #3634
Yes, it does but the issue is in one repository and the PR in another 😂
This issue needs to be transferred to `meshery.io` repo

[2021-07-24 19:35] warunicorn19 commented on #3634
😂😂😂😂ohh okay

[2021-07-24 19:35] Anita-ihuman commented on #3634
Oooppss😅
Sure I will

[2021-07-25 06:57] #3024 closed

[2021-07-25 07:57] #2910 closed

[2021-07-25 11:58] bariqhibat commented on #3156
Can I try this? Dip my hands dirty with the Golang's GraphQL and maybe can try connecting them to the frontend as well.

[2021-07-25 13:22] leecalcote commented on #2822
@utkarsh-pro, a reminder to evaluate this issue.

[2021-07-25 14:51] leecalcote commented on #3156
Sounds great, @bariqhibat 👍

[2021-07-25 16:02] leecalcote commented on #3637
@sayantan1413 will you be working on this (self-assigning) or is this posted with the intention of others picking it up (to be labeled with "help wanted")?

[2021-07-25 16:07] leecalcote opened #3645 "[mesheryctl] Preflight check: system status errors (255) when platform is unavailable"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
Error 255 is shown to user when platform is unavailable.

#### Screenshots/Logs
[code]

#### Desired Behavior
Instead of an error, the user should see the message:

[code]

#### Implementation
- use a preflight check to determine platform availability; Meshery Server availability

####

[2021-07-25 17:34] piyushsingariya commented on #3571
IG there won't be much issue with that. @warunicorn19

[2021-07-25 17:35] warunicorn19 commented on #3571
@piyushsingariya already started working on it 😅.

[2021-07-26 02:34] WLun001 commented on #2890
Seems like cobra completion doesn't support aliases out of the box. if we want `system completion` to create aliases, need to append it at the end of `GenBashCompletion` call

https://github.com/meshery/meshery/blob/036b9bc2cc81381892811504fe71290655ba391a/mesheryctl/internal/cli/root/system/completion.go#L67

I think another command would be better choice to generate aliases, instead of combining

[2021-07-26 02:35] alphaX86 commented on #2425
Guys..... May I know exactly what this needs to be done? 😅 And isn't the migration already over? Coz I saw some files used `meshkit` instead of `kubectl`

[2021-07-26 02:59] leecalcote commented on #2425
@alphaX86 will you perform a search of the mesheryctl codebase and confirm that you don't see any references to `kubectl`? Will you confirm that `kubectl` is not included in mesheryctl's preflight checks?

[2021-07-26 03:07] alphaX86 commented on #2425
Hmm alright, I'll perform a clean sweep and check if any file uses `kubectl` if not, then the issue can be closed. Else, the issue is WIP. 👍

[2021-07-26 04:50] Jashpatel1 opened #3651 "[Meshery] Update Meshery Docs Link"
#### Description
The Signin error page of meshery has link to older site of Meshery Docs, i.e. https://meshery.layer5.io/docs/.

#### Expected Behavior
Update the link with current site for Meshery Docs, i.e., https://docs.meshery.io/.

#### Screenshots/Logs
![Screenshot from 2021-07-26 10-12-13](https://user-images.githubusercontent.com/43696490/126934529-0d49e7d0-7499-4224-b1f1-1d8cd39744b1.png)

[2021-07-26 06:20] debjani1413 commented on #3651
@Jashpatel1 I would like to work on this, may I??

[2021-07-26 06:33] sayantan1413 commented on #3651
Yeah sure go ahead @debjani1413 .

[2021-07-26 11:55] #3645 closed

[2021-07-26 13:30] alphaX86 commented on #2425
@leecalcote so far I got these info

- `check.go` uses `utils` modules to obtain `kubectl` version and a function (see last line)
- `logs.go` uses `for` loop instead of `kubectl get pods -n meshery` (No direct reference)
- `restart.go` uses the same method as previous one for obtaining info on pods
- `start.go` uses `utils` module (no direct reference found)
- `status.go` uses `for` loop method

B

[2021-07-26 13:34] alphaX86 commented on #2425
This is what I got in short :)

[2021-07-26 14:38] piyushsingariya commented on #2425
In `check.go` we don't have any other way to obtain kubectl's version so that could be count as an exception.

[2021-07-26 14:40] alphaX86 commented on #2425
I agree bro, that's what I said these are the ones I got. Even `kubectl` is needed in `scripts.go` I hope after seeing all the codebase

[2021-07-26 14:40] alphaX86 commented on #2425
So guys, what's your say? Can we close this issue then?

[2021-07-26 16:58] bariqhibat commented on #3156
Just want to clarify a few things about this.

1. Does this subscription is for sensing whether a test is over (or generally, its state's change) when you just send performance test?
2. What does the search/page have something to do with this subscirption? Do we want to do filtering in the GraphQL query using this filters, just like the REST API? That means, everytime user change the filter, the s

[2021-07-26 17:29] samirparhi-dev commented on #2855
Any updates on this issue ?

[2021-07-26 19:39] sayantan1413 commented on #3637
No @leecalcote I want other contributor to pick up this issue and work on it.

[2021-07-27 04:30] muskankhedia commented on #3234
@navendu-pottekkat I don't think I will be able to take it up anytime sooner. Anyone else willing to work on this, can please take it up.

[2021-07-27 05:49] sudo-NithishKarthik commented on #2598
I am not able to reproduce this issue, i have tried it in **Safari**, **Brave** and **Chrome**. i think we should close this issue to avoid unnecessary distraction.

[2021-07-27 13:18] #3136 closed

[2021-07-27 13:29] warunicorn19 opened #3656 "@utkarsh-pro should we displace the contents of `make run-local` with make run-fast and consolidate into one command?"
Description:
To displace the contents of `make run-local` with `make run-fast` and consolidate into one command.

Expected behaviour:
To have a single command to run meshery.

**Contributor Resources:**
- (Contributing Docs](https://docs.meshery.io/project/contributing)

_Originally posted by @leecalcote in https://github.com/meshery/meshery/pull/3654#discussion_r677332014_

[2021-07-27 14:30] alphaX86 opened #3657 "[Docs] Add additional points regarding contributing to Meshery Docs"
#### Current State
Meshery Docs is the place where people refer if they got struck at any point on using Meshery. But since few days, newcomers suffer problems regarding contributing to the docs, especially regarding the Gemfile and `ruby` version.

#### Desired State
Some points are to be added in order to fix these problems so that they can contribute to docs without any hassle.

---

#### Contr

[2021-07-27 15:29] CipherGirl commented on #3536
Hello @sudo-NithishKarthik is this up for grab?

[2021-07-27 15:39] sudo-NithishKarthik commented on #3536
yup, go ahead @CipherGirl  😄

[2021-07-27 15:57] #3444 closed

[2021-07-27 16:08] hexxdump commented on #2425
@alphaX86 , the intent of this PR is to move away from the kubectl commands in script.go and to start using the client go APIs. I have not made much progress with this, would like to keep this issue for tracking.

[2021-07-27 16:09] leecalcote commented on #3011
@debjani1413 I'm behind on the thread here. Will you list this as an agenda item in this week's Meshery Development Meeting so that clarity can be offered verbally?

[2021-07-27 16:10] alphaX86 commented on #2425
@hexxdump alright. Issue stays open then. Good luck 👍

[2021-07-27 16:11] leecalcote commented on #3651
Folks, the fix for this issue lands in Meshery Cloud, a private repo. I'll transfer the issue to that repo now.

[2021-07-27 16:12] #3651 closed

[2021-07-27 17:09] piyushsingariya opened #3659 "[mesheryctl] `system check` fails with Segmentation fault"
#### Expected Behavior

Shouldn't fail basically.

#### Screenshots/Logs

[code]

---

**Contributor Resources:**
- (Contributing Docs](https://docs.meshery.io/project/contributing)

[2021-07-27 17:26] navendu-pottekkat opened #3660 "mesheryctl instructs users to use `kubectl` to get the status of Meshery deployment"
#### Description

mesheryctl instructs the user to run `kubectl get pods --namespace="meshery"` to view the status of the pods instead of instructing the user to run `mesheryctl system status`.

[code]

#### Expected Behavior

Users should be instructed to use `mesheryctl system status`.

---

**Contributor Resources:**
- (Contributing Docs](https://docs.meshery.io/project/contributing)

[2021-07-27 17:31] utkarsh-pro opened #3661 "Meshery Server should not attempt K8s communication when invalid/incomplete/non-flattened kubeconfig is passed"
#### Current Behavior
Currently meshery server detects a kubeconfig and attempts to use that config to communicate with kubernetes. This results into "unhelpful" error messages when the kubeconfig is invalid/incomplete/non-flattened.

#### Desired Behavior
Meshery server should validate the kubeconfig before attempting to communicate with k8s cluster. If the kubeconfig is invalid then the user sho

[2021-07-27 17:36] utkarsh-pro opened #3662 "[mesheryctl] Investigate cli/browser package as a potential replacement of browser function"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
Meshreryctl currently uses custom function for opening browser which is an additional component to maintain.

#### Desired Behavior
The custom implementation can be replaced with [cli/browser](https://github.com/cli/browser)

---

#### Contributor Resources

- [mesheryctl Contributing

[2021-07-27 17:48] navendu-pottekkat opened #3664 "[mesheryctl] Opening URL on browser throws an error if xdg-open is not present on Linux platform"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

mesheryctl throws an error when and shows that unable to start when `xdg-open` is not available.

[code]

#### Desired Behavior

1. This should not be shown as an error and in the absence of xdg-open, mesheryctl should show a warning.
2. Move to https://github.com/pkg/browser for open

[2021-07-27 18:37] leecalcote commented on #3661
...specifically noting the requirement to have a minified kubeconfig as one of the suggested remediations: `mesheryctl system config <platform>`

[2021-07-27 18:48] warunicorn19 opened #3668 "[Docs]Adding configurable {% include %} to _layout"
Description:
 We're in need of a configurable {% include %} created for a "Suggested Reading" snippet that allows the suggested reading topic to be configured. See the Contributing pages for examples.

_Originally posted by @leecalcote in https://github.com/meshery/meshery/issues/3587#issuecomment-884519375_

[2021-07-27 20:31] guptapriyanshu7 commented on #3660
Can I take this @navendu-pottekkat ?

[2021-07-27 20:33] leecalcote commented on #3660
Let's do this thing, @guptapriyanshu7!

_and by "let's", I mean "you" ;)_

[2021-07-27 23:24] leecalcote opened #3670 "[CI] Golint: specify certain revive lint checks to be ignored"
This silly lint issue is going to cause our error output to be harder to read. @sayantan1413 do you mind looking into how we might set certain lint checks to be ignored?

_Originally posted by @leecalcote in https://github.com/meshery/meshery/issues/3669#issuecomment-887814899_

[2021-07-27 23:28] leecalcote opened #3671 "[Docs] Provider: Custom Callback Configuration"
#### Current State
Meshery Server supports a custom callback URL for connected Remote Providers. This support was added in Meshery release v0.5.39.

#### Desired State
Describe configuration here - https://docs.meshery.io/extensibility/providers

---

#### Contributor Resources

- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation source](https://github.com/meshery/mes

[2021-07-27 23:28] leecalcote commented on #3671
@samirparhi-dev you might like to tie off this last bit of documentation. If so, just signal (self-assign).

[2021-07-28 07:25] debjani1413 commented on #3668
Hey @warunicorn19 I think this issue has already been created and @bariqhibat has been working on it, here #3599. Correct me if I'm wrong 😐, would you mind asking him out once??

[2021-07-28 07:31] sayantan1413 commented on #3640
Hey @kumarabd can you give a little more explanation as what do I exactly need to do ?

[2021-07-28 07:32] warunicorn19 commented on #3668
Oh right, I guess I completely missed this, thanks @debjani1413, ill ask him.

[2021-07-28 07:35] piyushsingariya opened #3673 "[mesheryctl] `system start` fails"
#### Expected Behavior

`system start` fails when not passing -p flag. If flag hasn't passed platform should be fetched from config.

#### Screenshots/Logs

[code]

#### Environment

- Host OS: Mac Linux Windows
- Meshery Server Version: stable-v
- Meshery Client Version: stable-v
- Platform: Docker or Kubernetes

---

**Contributor Resources:**
- (Contributing Docs](https://docs.meshery.io/projec

[2021-07-28 07:41] debjani1413 commented on #3668
@warunicorn19 yeah, sure! I hope you didn't mind, cause if he would have done the work, then both of your works could have been wasted 🙂

[2021-07-28 07:47] warunicorn19 commented on #3668
Of course not, I'll close this issue, because there's already an existing one.

[2021-07-28 07:47] warunicorn19 commented on #3668
@leecalcote closing this issue because it has already been created.

[2021-07-28 07:47] #3668 closed

[2021-07-28 09:04] #3660 closed

[2021-07-28 10:16] CipherGirl commented on #3536
Does this look okay?
![image](https://user-images.githubusercontent.com/37832457/127306070-52316ae1-472b-4c37-a4e4-b76c8c70b989.png)

[2021-07-28 10:21] sudo-NithishKarthik commented on #3536
Hmm 🤔 , it definitely looks better than before. But i feel that it can be improved. There is something about this which can be improved but i am not able to point at it 😕 .

// @leecalcote  @Nikhil-Ladha

[2021-07-28 10:22] CYBER-BRIX commented on #3662
Hey I am a newbie and I would like to work on this issue could you help me in
 getting started with this issue?

[2021-07-28 13:21] #3673 closed

[2021-07-28 14:36] #3470 closed

[2021-07-28 14:42] sayantan1413 commented on #3484
#3610

[2021-07-28 14:42] #3484 closed

[2021-07-28 17:41] jeantiston commented on #3269
Hello! Sorry I got busy and I only got back to this now. So I was trying out some solutions but I can't seem to make it work and I feel stuck.

So at first, the state that controls the switch is being changed immediately when the switch is clicked and then it submits the operation after the state is changed. So clearly it should be the other way around.
https://github.com/meshery/meshery/blob/mast

[2021-07-28 18:33] Abhishek-kumar09 opened #3680 "Meshery: `curl -L https://git.io/meshery | bash -` doesn't wait for input"
#### Description

When we are installing or updating meshery with command ` curl -L https://git.io/meshery | bash -` the terminal is not waiting for  input but fills it with empty value (because of use of curl command) and fails at the end.
Screenshot below :point_down:

![image](https://user-images.githubusercontent.com/48255244/127376293-a81074f2-bf56-4b7e-bff2-a7fc160ecef6.png)

#### Expected B

[2021-07-28 19:13] leecalcote commented on #3680
Thank you, @Abhishek-kumar09 and @samirparhi-dev

[2021-07-28 19:14] #3680 closed

[2021-07-28 21:15] Shreyas220 commented on #3407
@piyushsingariya can i take mesheryctl system update

[2021-07-28 23:27] #3671 closed

[2021-07-29 04:39] piyushsingariya commented on #3407
@Shreyas220 `update` is being handled by @sayantan1413. I think you can give a try to `restart` maybe.

[2021-07-29 06:57] alphaX86 commented on #3234
@navendu-pottekkat I'd like to give a try

[2021-07-29 08:43] leecalcote commented on #3234
Please be aware: this issue is a nice-to-have feature, not strictly necessary. Support on its implementation from maintainers will be limited. Implementation will require use of the k8s go client.

[2021-07-29 08:58] alphaX86 commented on #3234
I'll keep in mind 👍

[2021-07-29 08:59] Shreyas220 commented on #3407
okay @piyushsingariya
but I think @chetak123 was assigned restart, can I take this from you chetak?

[2021-07-29 09:18] chetak123 commented on #3407
Yeah sure 🙌 , guess I have to only work on `system reset` then.

[2021-07-29 09:30] Shreyas220 commented on #3407
thank you  😊

[2021-07-29 09:56] Meghana-12 commented on #3576
Hi, I'd like to work on this.

[2021-07-29 10:54] Shreyas220 opened #3683 "mesheryctl system config panics when a minikube cluster doesn't exist"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._
#### Current Behavior
`mesheryctl system config` panics instead of throwing an error when a `minikube` cluster doesn't exist.
#### Desired Behavior

Gracefully handle this and show an error.
#### Screenshots/Logs

[code]
#### Environment
- Host OS: Linux
- Meshery Server Version: edge
- Meshery Client Versio

[2021-07-29 11:00] DelusionalOptimist commented on #3207
oof my bad...
I completely missed this. For all the repos they've been moved away from the root dir. What now? :sweat_smile:

[2021-07-29 11:23] mgfeller commented on #3207
@DelusionalOptimist no worries. I suggest we leave it where it is. It can be picked up from there, if that is how we want to implement it, or be moved later. First, we'd need to have a look at how components (only adapters for now, afaik) pick up type and name now, and how that possibly can be combined with how helpers like `errorutil` (might be several down the line, who knows) do that. Eventaull

[2021-07-29 12:02] yash112-lang commented on #3153
Hello @dhruv0000, is this issue is still open? I wanted to work on this.

[2021-07-29 12:07] mgfeller commented on #3207
Actually, I think this issue can be closed. Various paths can be configured in `errorutil`, the CI workflows have been configured, common path `helpers` has been agreed upon, etc.

Agreed @leecalcote ?

[2021-07-29 12:10] DelusionalOptimist commented on #3207
I guess the most important bit is that we are aware of the component concept with name and type, and use it consistently.

Sounds cool @mgfeller :+1:

[2021-07-29 12:52] metonymic-smokey commented on #3683
@Shreyas220 could you tell me how to reproduce this?
I'm getting a clean error when I try to recreate this locally

[2021-07-29 13:22] Shreyas220 commented on #3683
this occurs when we don't install minikube and try to run this command
or when you don't create a minikube cluster (with `minikube start`)

[2021-07-29 13:24] Shreyas220 commented on #3683
do you want to work on this issue?

[2021-07-29 15:45] dhruv0000 commented on #3153
Sure @yash112-lang .

[2021-07-29 17:55] hexxdump commented on #3683
@Shreyas220, I do not get a panic when minikube is not running. However the error message is not intuitive either.

[code]

[2021-07-29 18:37] sudo-NithishKarthik commented on #3574
https://material-ui.com/components/text-fields/#limitations

This is a limitation in using React Material UI. It won't happen all the time.
we can apply the workaround that they suggest to get rid of this.

[2021-07-29 18:49] leecalcote commented on #3574
While we're in here, will you change "Submit Preferences" to "Save", and include on of these (non-fill) - https://react-icons.github.io/react-icons/search?q=save?

[2021-07-29 18:52] sayantan1413 commented on #3574
Hey @leecalcote I think I have fixed this "Submit Preferences" to "Save" in this #3573

[2021-07-29 18:54] sudo-NithishKarthik commented on #3574
Yes @sayantan1413 is right, it is fixed 🚀

[2021-07-29 18:54] sudo-NithishKarthik commented on #3574
But we would still have to add the icon though

[2021-07-29 18:55] warunicorn19 commented on #3574
Should I add the icon?

[2021-07-29 18:55] sayantan1413 commented on #3574
Hey @warunicorn19 would you mind if I try that I am a bit newbie in frondend developement.

[2021-07-29 18:56] warunicorn19 commented on #3574
😬already started to do it, but okay go ahead @sayantan1413

[2021-07-29 18:59] sayantan1413 commented on #3574
Thanks a lot @warunicorn19 I will try it for a day if I fail it you can surely make the PR😅

[2021-07-29 19:00] warunicorn19 commented on #3574
Sure, no problem 😂

[2021-07-29 20:07] #3636 closed

[2021-07-29 21:47] #3434 closed

[2021-07-29 23:45] #2728 closed

[2021-07-29 23:45] #3162 closed

[2021-07-29 23:47] leecalcote commented on #3162
The initial offering of functionality has been in delivered in v0.5.20.

[2021-07-30 02:52] #3034 closed

[2021-07-30 03:56] #2434 closed

[2021-07-30 04:46] piyushsingariya opened #3688 "[mesheryctl] Unit Testing for `mesheryctl app` commands"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

check Epic here #3016

#### Current Behavior
Currently, we don't have any unit tests setup to test `mesheryctl app` commands and functions

#### Desired Behavior
Required to enable unit testing support for `mesheryctl app` commands and functions, to ensure the accuracy and robustness of each mesheryctl rele

[2021-07-30 08:01] #2612 closed

[2021-07-30 09:14] Meghana-12 commented on #3576
Hi, is this the chip you're talking about?
<img width="157" alt="Screenshot 2021-07-30 at 2 42 59 PM" src="https://user-images.githubusercontent.com/44519203/127630808-147f80cc-c7c5-4034-8699-0eeb52bfab23.png">

[2021-07-30 11:11] mgfeller commented on #3670
Just copying my comment from the referenced issue to preserve it:

[2021-07-30 11:14] sayantan1413 commented on #3670
Yes @mgfeller I was going through the PR. I will update it soon and will make a PR here.

[2021-07-30 11:16] Meghana-12 commented on #3576
Hi, should I add a chip for `MeshSync` here or add `tool-tip` for the operator `chip` in settings?

[2021-07-30 11:17] mgfeller commented on #3207
Closing as per earlier comment.

[2021-07-30 11:17] #3207 closed

[2021-07-30 13:09] #3664 closed

[2021-07-30 13:30] samirparhi-dev opened #3690 "[Feature] Development of Meshery plug-in for Backstage"
#### Current Behavior

### This is a feature to be developed for Backstage plugin
What is Backstage?
https://backstage.io/docs/overview/what-is-backstage
How to create a plugin?
https://backstage.io/docs/plugins/
#### Desired Behavior

The plug-in should be compatible with Backstage.
#### Implementation

- Development of plugin
- Create PR to add it to Backstage repo
#### Acceptance Tests

- Once

[2021-07-30 15:16] #3659 closed

[2021-07-30 16:05] debjani1413 opened #3691 "[Docs] Updating the docs about recent updates on refactoring mesheryctl commands"
#### Current State
The meshery docs needs to be updated about the recent updates on refactoring of the mesheryctl commands

---

#### Contributor Resources

- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation source](https://github.com/meshery/meshery/tree/master/docs)
- [Instructions for contributing to documentation](https://github.com/meshery/meshery/blob/master/CO

[2021-07-30 16:19] mgfeller commented on #3208
Hi @divyanshugit any progress here?

[2021-07-30 16:23] divyanshugit commented on #3208
Yupp, I am working on it. But I started it yesterday as I was busy with completing a project related to the semester.

[2021-07-30 16:24] divyanshugit commented on #3208
I am hoping that I will be done with this issue by this weekend.

[2021-07-30 16:30] Pawanupadhyay10 commented on #3538
Hey @Anita-ihuman you can give it @shahkushal38 ,as my exams are going on.

[2021-07-30 16:36] mgfeller commented on #3208
Ok, cool! No real rush, but would be great to have some progress, if you can make it. Btw, I'll be more or less offline for the next 10 days or so.

[2021-07-30 17:24] #3558 closed

[2021-07-30 17:26] sudo-NithishKarthik commented on #2913
@dhruv0000  what's do you think ?

[2021-07-30 20:47] leecalcote opened #3697 "[UI] Initial Data Plane Dashboard"
#### Current Behavior
The Dashboard shows only service mesh control plane components

#### Desired Behavior
The Dashboard should display service mesh data plane components (proxies) as well.

#### Implementation
Proxies details should be displayed through GraphQL subscription.

---
**[Contributor Guide](https://docs.meshery.io/project/contributing)**

[2021-07-30 21:13] NupurThakur27 commented on #3246
@navendu-pottekkat If I understand it right then the issue is about executing `system stop` if manifests are available locally without connecting to Github. @leecalcote Am I right on this?

[2021-07-30 22:04] leecalcote commented on #3246
@NupurThakur27, yes, indeed. I could have included a bit more of a helpful description, like these repro steps:

1. `mesheryctl system start`
2. Disconnect the Internet.
3. `mesheryctl system stop`

[2021-07-30 22:15] #3246 closed

[2021-07-30 22:25] leecalcote opened #3699 "[CI] Broken org inviter workflow"
#### Current Behavior
Multiple `if` statements in this workflow have it not functioning: https://github.com/meshery/meshery/blob/5abc6bfbfc26211276a5f5ae261d5771c62ea267/.github/workflows/invitations.yml#L8-L9

#### Desired Behavior
Multiple `if` statements in this workflow need to be combined into a single statement.

https://github.com/meshery/meshery/blob/5abc6bfbfc26211276a5f5ae261d5771c62ea26

[2021-07-30 22:25] leecalcote commented on #3699
@iamsdas would you like to take this one?

[2021-07-30 22:47] #3077 closed

[2021-07-30 22:54] leecalcote opened #3700 "[Filters] Include Sample Filters in Meshery release"
#### Current Behavior
Meshery has the ability to manage Envoy filters, however, it doesn't include any filters by default.

#### Desired Behavior
The github.com/layer5io/wasm-filters repo has a number of filters that can be included as samples both so that new users can understand and use Meshery's features here, but also so that users can _use_ these filters in production.

#### Implementation
1.

[2021-07-31 03:40] iamsdas commented on #3699
Sure 👍

[2021-07-31 05:13] #3200 closed

[2021-07-31 05:21] navendu-pottekkat commented on #3662
Closing this out as it is already fixed here: https://github.com/meshery/meshery/pull/3682

@CYBER-BRIX You can checkout [these](https://github.com/meshery/meshery/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22+no%3Aassignee) issues.

[2021-07-31 05:21] #3662 closed

[2021-07-31 06:10] navendu-pottekkat commented on #2580
@NupurThakur27 assigning this to you...

[2021-07-31 06:11] NupurThakur27 commented on #2580
Thanks @navendu-pottekkat

[2021-07-31 06:17] sudo-NithishKarthik opened #3701 "[UI][lint] Add more rules to eslint config"
#### Current Behavior
At present, we are using eslint for linting and formatting. And since we don't have enough rules specified in the `.eslintrc.js` file, code formatting is not consistent. It becomes very evident when a contributor is using a different formatter and it formats the code according to its rules and our eslint doesn't do anything about it because we haven't asked it to.

#### Desir

[2021-07-31 06:29] sudo-NithishKarthik opened #3702 "[UI] Add eslint pre-commit hook"
#### Current Behavior
The only way to identify lint errors in meshery-ui is to run `npm run dev` or eslint manually.

#### Desired Behavior
Eslint pre-commit hook should be added so that lint checks happen before a commit has been made.

---
**[Contributor Guide](https://docs.meshery.io/project/contributing)**

[2021-07-31 10:48] suhaniii commented on #3688
https://docs.google.com/document/d/1t8Ilb72gpvkLXjywSAkaUOxN6arObC_xOLih66ggCUk/edit#heading=h.blih70a9hxp

[2021-07-31 10:48] shahkushal38 commented on #3538
Yeah I am okay with it

[2021-07-31 11:33] Abhishek-kumar09 commented on #3697
Is the design ready for data plane dashboard? @leecalcote

[2021-07-31 11:42] alphaX86 commented on #3409
Just a heads up, the spec is made here... https://docs.google.com/document/d/1hlTwD139De4yvhJDPabY0pu2r8X5nnPmN3DUj7m7_n8/edit?usp=sharing

[2021-07-31 12:53] metonymic-smokey commented on #2957
@chetak123 have you been able to work on this issue?

[2021-07-31 13:02] leecalcote opened #3706 "[UI] Linting: Common conventions for quotations"
As of now, we don't have any pre-commit hooks for `meshery-ui`
`.eslintrc` is the lint configuration file which we use to enforce consistency.
Yes, we can add quotation rules and other configurations to make it more consistent.

Currently, lint check runs on running `npm run dev`. Since we use that command in `UI Integration tests`, it would fail if there are any lint errors. But it would be bette

[2021-07-31 13:03] leecalcote commented on #3706
This issue is a duplicate of #3702 and #3701. Closing...

[2021-07-31 13:03] #3706 closed

[2021-07-31 13:05] #3699 closed

[2021-07-31 18:17] leecalcote opened #3709 "[Database] MeshSync data not persisting"
#### Description

Meshery Operator deploys, Meshery Server connects with MeshSync, I see updates in Meshery Server logs showing updates from MeshSync, but when the UI tries to query Meshery Server's database: error.

See https://layer5io.slack.com/archives/C010LFFGFFA/p1627754878001300

#### Screenshots/Logs

#### Environment

- Host OS: All systems - Mac Linux Windows
- Meshery Server Version: bo

[2021-07-31 18:31] umairnsr87 commented on #3709
@leecalcote Can I work on this issue?

[2021-07-31 19:46] leecalcote opened #3712 "[UX] GraphQL: Single Subscription"
#### Description
Meshery Operator slow to display as connected in Settings page. Meshery deployments with connected Meshery Operator, MeshSync, and Meshery Broker instances are slow to report the connected status.

#### Expected Behavior
Meshery Operator's connected status (as connected) should be shown immediately.

Meshery UI should be using a single, pervasive subscription shared across pages.

[2021-07-31 20:21] Shreyas220 commented on #3683
I am so sorry,i have trying for the past 2 days and now even i am not to reproduce, it happened just once
even so thank you @metonymic-smokey and @hexxdump for looking into it so quickly

[2021-07-31 20:21] #3683 closed

[2021-07-31 21:36] Meghana-12 commented on #3712
I'm not sure if this works but since we are using NextJS, can we do a server side rendering first and then display?

[2021-08-01 02:45] metonymic-smokey commented on #3683
@Shreyas220 It's totally okay to raise issues this way, it's good in fact! This is exactly how we find bugs/edge cases in mesheryctl.

[2021-08-01 06:29] #3510 closed

[2021-08-01 08:09] afzal442 commented on #2883
still valid

[2021-08-01 09:05] #2758 closed

[2021-08-01 09:06] afzal442 opened #3715 "[DOCS] Copy-to-Clipboard action required on each command section to make it easier for any user"
#### Current Behavior

There is no Copy-to-Clipboard action on each command section of contributing guide. It is very hard to click around each section to copy and paste commands.
#### Desired Behavior

It will be easier for a user to clip any section while following the contributing guide and running through the commands in one click.
#### Implementation

Add Copy-to-Clipboard action on each comm

[2021-08-01 11:02] Anita-ihuman commented on #2883
Well, yes it is available.
Although the issue is dependent on the community handbook. That’s where we will have this lists

[2021-08-01 11:02] Anita-ihuman commented on #2883
Well, yes it is available.
Although the issue is dependent on the community handbook. That’s where we will have this lists

[2021-08-01 11:32] afzal442 commented on #3715
hi @warunicorn19, how to integrate that `Copy-to-Clipboard button`  in `.md file` built on top of `jekyll`. Any idea? I found this on google as [here](https://www.aleksandrhovhannisyan.com/blog/how-to-add-a-copy-to-clipboard-button-to-your-jekyll-blog/).

[2021-08-01 11:38] warunicorn19 commented on #3715
@afzal442 yeah this should work, do you want to try?

[2021-08-01 11:40] warunicorn19 commented on #3715
Also going through the document doesn't make it seem like a good first issue, more complicated than I though it is. What is your view on this @afzal442 ?

[2021-08-01 11:58] afzal442 commented on #3715
Yep, exactly what you understood. It doesn't even seem `first-timers` as well. I put up this issue so y'all can suggest some solution.

I need your suggestions first. where and how to integrate? thanks.

Above, you can see the desired result, I added a screenshot as a use-case by which we might improve each page having instructions content.

[2021-08-01 12:02] warunicorn19 commented on #3715
i think we should wait for @leecalcote to give his suggestion on this because integrating this is going to be a task i think, as there are a lot of code snippets in the docs, and if the copy feature is added it needs to be added to all. Also, if we do implement this we would want it to be similar to the screenshot that you have provided above.

[2021-08-01 12:39] afzal442 commented on #3715
Yes, r8. It would be very helpful if we can achieve it though.

[2021-08-01 12:40] warunicorn19 commented on #3715
I agree

[2021-08-01 13:39] leecalcote commented on #3715
Do the existing integrated “ Clipboard Feature” work —> https://docs.meshery.io/project/contributing-docs

[2021-08-01 13:40] warunicorn19 commented on #3715
Nope, it doesn't copy the text.

[2021-08-01 13:54] warunicorn19 commented on #3715
i was just playing around a little bit, this is how it looks for now. @leecalcote do we want to implement this?
https://user-images.githubusercontent.com/53532328/127773412-2296c521-2cc6-4c3b-9a7a-597f1d755548.mov

[2021-08-01 14:34] leecalcote commented on #3715
Yes, we do want a clipboard feature. I swear we already have one in the site somewhere. Do you mind searching the code base for “clipboard” to find it and evaluate use of the existing function?

[2021-08-01 14:40] warunicorn19 commented on #3715
Yes, we use clipboard.js in some places but I couldn't understand the use of it, I'll look into it.

[2021-08-01 16:35] leecalcote opened #3719 "[API] REST: /api/system/version is unavailable"
#### Description
http://localhost:9081/api/system/version cannot be reached from either client: mesheryctl or Meshery UI.

#### Screenshots/Logs
<img width="724" alt="Screen Shot 2021-08-01 at 11 33 09 AM" src="https://user-images.githubusercontent.com/7570704/127778525-cfdb9c24-9d52-496c-baec-c90aa1b87863.png">

#### Environment

- Host OS: Mac
- Meshery Server Version: stable-v0.5.41
- Meshery C

[2021-08-01 16:58] piyushsingariya commented on #3719
It's working good in my local @leecalcote
![image](https://user-images.githubusercontent.com/50979887/127779199-af7c8fb6-f200-40e8-8391-c2bf71f31999.png)

[2021-08-02 03:02] leecalcote opened #3739 "[Docs] Release Notes for v0.5.40 are missing"
#### Current State
Docs are missing this entry.

#### Desired State
Paste the following into a new .md file:

[code]

---

#### Contributor Resources

- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation source](https://github.com/meshery/meshery/tree/master/docs)
- [Instructions for contributing to documentation](https://github.com/meshery/meshery/blob/master/CONTRIBU

[2021-08-02 03:03] leecalcote opened #3740 "[Docs] Release notes for v0.5.38 are missing"
#### Current State
This page is missing a release - https://docs.meshery.io/project/releases

#### Desired State

Add the v0.5.38 release notes to the docs:

[code]

---

#### Contributor Resources

- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation source](https://github.com/meshery/meshery/tree/master/docs)
- [Instructions for contributing to documentation](https:/

[2021-08-02 03:24] nehaLohia27 commented on #3739
@leecalcote Can I take this up ? Also need steps to fix this issue.

[2021-08-02 04:34] warunicorn19 commented on #3739
Here you go! @nehaLohia27

[2021-08-02 04:36] nehaLohia27 commented on #3739
@warunicorn19 Can you tell the steps to implement this  or doc link to follow ?

[2021-08-02 04:53] warunicorn19 commented on #3739
@nehaLohia27 So you can go through the [Instructions for contributing to documentation](https://github.com/meshery/meshery/blob/master/CONTRIBUTING.md#documentation-contribution-flow), also if you go through the code you'll find previous release notes, the format will remain the same, the content will just be what is posted above.

[2021-08-02 10:09] navendu-pottekkat commented on #3243
@metonymic-smokey did we fix this?

[2021-08-02 11:39] yash112-lang commented on #3153
Sorry, for the delay but it was due to my exams, but now it's over so I will start working on this😀.

[2021-08-02 12:51] metonymic-smokey commented on #3243
@navendu-pottekkat not for `context switch`, there were some import cycle issues when invoking `restart` in `context/switch.go`.

[2021-08-02 13:56] Abhishek-kumar09 opened #3743 "[Meshery Server] use `localhost` in Makefile for adapter urls"
#### Description

On starting meshery server from `make run-fast`,
Currently all the default urls for adapters in Meshery is pointed to `mesherylocal.layer5.io`. I think when we run adapters outside the meshery server and they are available through `localhost` only.

This was originally suggested by @utkarsh-pro on [discuss page](https://discuss.layer5.io/t/service-mesh-adapters-are-not-found-on-r

[2021-08-02 14:55] navendu-pottekkat opened #3745 "Add option to import WASM filters via a URL"
Related issues: #3746 #3747

#### Current Behavior

Users are able to upload WASM filters through the "Filters" page in the UI from their local storage. But Meshery also supports fetching files via a provided URL.

#### Desired Behavior

The UI should have an option for the user to fetch filters by providing a URL. The design could be similar to how Google Docs handle importing images.

![Screensh

[2021-08-02 14:57] navendu-pottekkat opened #3746 "Add option to import patterns via a URL"
Related issues: #3747 #3745

#### Current Behavior

Users are able to upload patterns through the "Patterns" page in the UI from their local storage. But Meshery also supports fetching files via a provided URL.

#### Desired Behavior

The UI should have an option for the user to fetch patterns by providing a URL. The design could be similar to how Google Docs handle importing images.

![Screenshot

[2021-08-02 15:02] navendu-pottekkat opened #3747 "Add option to import applications via a URL"
Related issues: #3745 #3746

#### Current Behavior

Users are able to upload applications through the "Applications" page in the UI from their local storage. But Meshery also supports fetching files via a provided URL.

#### Desired Behavior

The UI should have an option for the user to fetch applications by providing a URL. The design could be similar to how Google Docs handle importing images.

[2021-08-02 17:21] leecalcote commented on #3709
Hi @umairnsr87, thanks for asking. This is complex issue is actively being chased down by a collection of others at the moment.

[2021-08-02 18:10] amino19 commented on #3740
@ghulamyazdani-bot : Thanks for taking this up, here you go! :slightly_smiling_face:

[2021-08-02 18:29] #3642 closed

[2021-08-02 19:24] umairnsr87 commented on #3709
No problem @leecalcote . I will work on some other issues. Thanks alot. :+1:

[2021-08-02 19:32] leecalcote commented on #3709
No sweat, @umairnsr87. Thank you for inquiring. Yes, please do have a look across the four GitHub orgs (~40 repos) there's much in there with "help wanted" labels. Find the link in this repo's (or any repo's) readme and it'll search across all for orgs.

[2021-08-02 21:13] leecalcote commented on #3719
@navendu-pottekkat this is a high priority item, affecting the current edge release.

@piyushsingariya you need to test from a containerized deployment.

[2021-08-02 23:29] leecalcote opened #3749 "[Filters] Deploy: Display input components for configuring the deployment of a filter"
#### Current Behavior
Meshery's Filter UI doesn't present the user with enough inputs to truly configure a filter for deployment.

#### Desired Behavior
Display any number of additional input fields in a modal when the "deploy" button is pressed for any given single filter.

#### Implementation
1. Retrieve additional inputs from `/api/oam/workloads` REST API.
1. Use react-json-schema-forms to disp

[2021-08-03 03:02] navendu-pottekkat commented on #3719
Testing this out in a containerised deployment.

[2021-08-03 10:05] Meghana-12 commented on #3745
H, is like to work on this!

[2021-08-03 10:08] Meghana-12 commented on #3745
Should I get the design from the design team before getting started?

[2021-08-03 11:04] leecalcote commented on #3745
Nope. Riff off Google Docs to the best that you can. Let me know if you get stuck.

[2021-08-03 12:58] Meghana-12 commented on #3745
Okay,sure!

[2021-08-03 16:52] navendu-pottekkat opened #3755 "[mesheryctl] Move the default location of meshery.yaml docker-compose file to .meshery/manifests folder"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

The default location for the docker-compose file (meshery.yaml) file is in .meshery folder.

#### Desired Behavior

1. Change the location of the file to .meshery/manifests folder by default.

2. Update all occurrences of this file path in mesheryctl.

---

#### Contributor Resources

[2021-08-03 16:52] hexxdump opened #3756 "[mesheryctl] bash installer script fails when unzip command is missing on system"
#### Description
mesheryctl installer script fails when the system does not have unzip command installed.

#### Expected Behavior
Possible solutions:
1. move away from zip file format packaging - either just download mesheryctl command or move to tar package format. [Requires changes to CI/CD pipelines]
2. throw an user friendly error log to "install unzip command and rerun the installer script"

[2021-08-03 16:59] hexxdump opened #3758 "[mesheryctl]`mesheryctl system config` throws an error when config type is not specified."
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
`mesheryctl system config` command throws an error when the configuration type keyword is not provided.

#### Desired Behavior
`mesheryctl system config` command should enumerate the options available(minkube/eks/aks/gke).
Remove the error message as well and throw help text.

#### Scr

[2021-08-03 16:59] utkarsh-pro opened #3759 "[server] Mount Minikube Config in Meshery Container"
#### Current Behavior
Minikube users often stumble upon the issue that minikube config is not flattened and minified.

#### Desired Behavior
`~/.minikube` path must be mounted along with the `~/.kube` directory so that certificate data can be resolved inside meshery server as well.

This partly solves the problem but meshery server also need to be able to flatten and minify the config so that flat

[2021-08-03 17:03] utkarsh-pro opened #3760 "[UI] Display More Info in Performance Results Tables"
#### Current Behavior
When performance tests is run today, it shows histogram along with other useful information. This information is persisted but is **not** being shown at the moment in the tables.

#### Desired Behavior
Same info that is visible after test run should be visible from the table and grid view.

#### Acceptance Tests
Same info that is visible after test run should be visible from

[2021-08-03 17:04] utkarsh-pro commented on #3760
@sudo-NithishKarthik want to take on this?

[2021-08-03 17:04] leecalcote opened #3761 "[Docs] Minikube: Provide a helpful tip to users about the location of the flattened config file"
#### Current State
Flattened configuration files.

#### Desired State
Show users a tip on how to replace their kubeconfig with the same location.

---
#### Contributor Resources

- [Meshery documentation site](https://docs.meshery.io/)
- [Meshery documentation source](https://github.com/meshery/meshery/tree/master/docs)
- [Instructions for contributing to documentation](https://github.com/meshery/

[2021-08-03 17:17] sudo-NithishKarthik commented on #3760
Sure

[2021-08-03 18:19] afzal442 commented on #3715
hey Adi, I have found the logic of `clipboardjs` used on which pages. Here it is` https://docs.meshery.io/installation/platforms` for example https://docs.meshery.io/installation/platforms/docker.

[2021-08-03 18:23] afzal442 commented on #3761
@piyushsingariya location of Flattened configuration files? https://docs.meshery.io/installation/platforms/minikube

[2021-08-03 18:42] warunicorn19 commented on #3715
Yup @afzal442 , I found it too, some commands don't require the copy feature, that's why I have just added the documentation, as to how to add the copy feature if required, thanks!

[2021-08-03 19:22] warunicorn19 opened #3764 "[DOCS] Change broken links in Docs"
#### Description
The link in the related reading section of the [Service Mesh Pattern Management](https://docs.meshery.io/functionality/pattern-management) docs is giving a 404 error due to a wrong link
and the 'using helm' link in [Quick start with Kubernetes](https://docs.meshery.io/installation/platforms/kubernetes#using-kubernetes-manifests) doesn't redirect to the 'using helm charts' part of

[2021-08-03 21:58] leecalcote opened #3765 "[Docs] UX: Create better layout for Error Code Reference"
#### Current State
The current tabular layout of the [Meshery Error Code Reference](https://docs.meshery.io/reference/error-codes) can be difficult to read.

#### Desired State
- Design and present a new layout for improved legibility and navigation.
- Present design, and once approved, implement.

---
#### Contributor Resources
- [Instructions for contributing to documentation](https://github.com

[2021-08-04 01:44] Elmurzy95 commented on #3764
Help wanted

[2021-08-04 02:09] leecalcote commented on #3764
Hi @Elmurzy95, would you like to work on this issue?

[2021-08-04 02:31] sgibson19 commented on #3764
I would like to work on this issue

[2021-08-04 04:10] leecalcote commented on #3764
Sounds great, @sgibson19 👍

[2021-08-04 04:39] yash112-lang commented on #3153
I am unable to locate the file from which this issue is happening if anyone helps me on which file I have to work on?

[2021-08-04 07:55] piyushsingariya commented on #3761
This issue (it's just my guess though) ideally is looking for adding instructions on what to do after creating the flattened config file with kubectl.

[2021-08-04 12:33] navendu-pottekkat commented on #3719
@leecalcote @piyushsingariya This should be fixed with this PR: https://github.com/meshery/meshery/pull/3763

My issues are fixed.

Could you please check and verify and potentially close this issue?

[2021-08-04 12:43] navendu-pottekkat opened #3768 "[mesheryctl] `system context switch` to switch Meshery deployments"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

`mesheryctl system context switch` switches the current context passively. The user has to stop Meshery --> switch context --> and restart Meshery to change deployments.

#### Desired Behavior

If meshery is running then `mesheryctl system context switch` will stop Meshery and start M

[2021-08-04 12:52] metonymic-smokey commented on #3768
This was referred to in another issue if I remember correctly.  That was
about channel switch. So maybe you can close that one?

On Wed, 4 Aug 2021, 18:14 Navendu Pottekkat, ***@***.***>
wrote:

[2021-08-04 12:55] navendu-pottekkat opened #3769 "[UI] button to expand the menu is not visible when the menu is minimised"
#### Current Behavior

The button to expand the menu is not visible when the menu is minimised as shown below.

The users have to scroll to find the button to expand the menu.

![Screenshot 2021-08-04 at 6 18 40 PM](https://user-images.githubusercontent.com/49474499/128183743-a88f081d-4241-4dc9-a4bb-b03d74bd5baf.png)

![Screenshot 2021-08-04 at 6 18 45 PM](https://user-images.githubusercontent.com

[2021-08-04 14:34] samirparhi-dev opened #3770 "[meshery server] Installing the Prometheus and grafana from Prometheus community Helm Charts, instead of from istio addon"
#### Current Behavior

Currently , we are installing prometheus and grafana from Istio add-on which is very limited and is dependent up on the istio.

#### Desired Behavior

We Should be able to install prometheus-grafana stack from  prometheus community helm chart, which has a lots of capability

#### Implementation

Use the kube-prometheus-stack from Community.

Link to prometheus community helm

[2021-08-04 14:50] Abhishek-kumar09 opened #3771 "[UI] Revamp Meshery Dashboard"
#### Current Behavior

Meshery Dashboard need some revamp.

Current Items to be done:
- [ ] Add Accordion
- [ ] Fix collapse button to bottom

- 🎨 Wireframes and designs for Meshery UI in [Figma](https://www.figma.com/file/SMP3zxOjZztdOLtgN4dS2W/Meshery-UI)
- 🖥 [Contributing to Meshery UI](https://docs.meshery.io/project/contributing-ui)
- 🙋🏾🙋🏼 Questions: [Layer5 Discussion Forum](https://discuss.

[2021-08-04 16:09] Abhishek-kumar09 opened #3774 "[UI] Pattern Deploy provides wrong progress output"
#### Current Behavior

Pattern Deploy shows successful network result with status `200`, but UI is providing false errors. like this
![image](https://user-images.githubusercontent.com/48255244/128214836-aa811a4b-aa61-4137-823e-3523b783fe60.png)

The successful deploy can be checked by running: `kubectl get all -n test` or `kubectl get rolouts -n test`.

#### Possible Reason

suggested by  @utkarsh

[2021-08-04 16:10] leecalcote commented on #3774
Nice write up, @Abhishek-kumar09. Are you thinking of tackling this one?

[2021-08-04 16:15] Abhishek-kumar09 commented on #3774
Sure, Will do that. Just seen the super power to self assign :smile:

[2021-08-04 16:41] warunicorn19 commented on #3769
@sudo-NithishKarthik can I do this issue? Never done anything on meshery UI 😅

[2021-08-04 16:45] sudo-NithishKarthik commented on #3769
**IMPLEMENTATION:**
Make the _chevron_ fixed at the bottom right corner and increase the z-index

[2021-08-04 16:47] warunicorn19 commented on #3769
alrighty @sudo-NithishKarthik

[2021-08-04 17:54] sudo-NithishKarthik commented on #3536
@CipherGirl ,can you link the pr to this issue ?

[2021-08-04 20:19] leecalcote opened #3776 "[Docs] API: example of a pattern that was uploaded to Meshery from GitHub?"
Cool. These are looking good. Do you suppose that we could have an example of a pattern that was uploaded to Meshery from GitHub? // @Chadha93

_Originally posted by @leecalcote in https://github.com/meshery/meshery/pull/3754#r682179436_

[2021-08-04 20:29] #3576 closed

[2021-08-04 20:30] #3574 closed

[2021-08-04 20:51] leecalcote commented on #3776
@Chadha93

[2021-08-04 21:19] DelusionalOptimist opened #3778 "[mesheryctl] handle errors gracefully when unable to open up a browser"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
After running `mesheryctl system start`, if mesheryctl is unable to open up a browser to display Meshery UI, it throws some errors for not being able to find a browser and another deceiving error saying `unable to start meshery` (meshery server does get started).

#### Desired Behavior

[2021-08-05 00:06] sgibson19 commented on #3764
Will work on it soon @leecalcote

[2021-08-05 01:10] leecalcote opened #3780 "[mesheryctl] Latest Meshery release checks are too frequent; exceeding GitHub.com API rate limit"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
When a user runs `mesheryctl system logs`, the GitHub API is invoked to check for the latest version of Meshery. This causes GitHub's API request limit to be reached too quickly.

#### Desired Behavior
mesheryctl should check for the latest release only when `mesheryctl version` or `me

[2021-08-05 01:19] leecalcote opened #3781 "[UI] Notification Center: Success notifications not displaying in correct filter"
#### Current Behavior
See the recording

https://user-images.githubusercontent.com/7570704/128276081-13d8e504-98ae-4232-92f3-fb9fae605a52.mov

#### Desired Behavior
Success notifications should display under "Success" filter.

#### Environment

- Browser: Safari
- Host OS: Mac
- Meshery Server Version: stable-v0.5.42
- Platform: Kubernetes

---

#### Contributor [Guides](https://docs.meshery.io/pr

[2021-08-05 01:29] leecalcote opened #3782 "[UI] Initialize GraphQL websocket on user session initialization; Make Meshery Operator status instantaneous"
#### Current Behavior
In a Meshery deployment with a connected Meshery Operator, when a user navigates to /settings#environment, it takes a few seconds to show Meshery Operator's status.

#### Desired Behavior
Meshery UI should offer a single, consistent web socket, which should be established upon user session initialization and be reused for a number of different subscriptions. A GraphQL subscri

[2021-08-05 07:46] afzal442 commented on #3781
I would like to try this.

/assign

[2021-08-05 07:48] sayantan1413 commented on #3781
Sure @afzal442 go ahead 🚀

[2021-08-05 09:28] afzal442 commented on #3761
hey @piyushsingariya could u run this command `kubectl config view --minify --flatten > config_minikube.yaml ` and confirm the below desc?

`kubeconfig refers to a configuration file for meshery to use. Your kubeconfig file found at ~/.meshery/config_minikube.yaml.`

To replace kubeconfig file, has it any relation with `kubectl replace -f FILENAME`?

[2021-08-05 09:37] nehaLohia27 commented on #3770
@samirparhi-dev Can i work on this ?

[2021-08-05 09:39] samirparhi-dev commented on #3770
@nehaLohia27  : Here you go :-)

[2021-08-05 09:58] afzal442 commented on #3781
@sayantan1413 could u help me reproduce this issue? thanks

[2021-08-05 09:58] piyushsingariya commented on #3761
Nope it doens't have any relation with that command. What we mean to replace or add kubeconfig to Meshery is, Opening Meshery UI, route to Settings and upload the flattened config there.

[2021-08-05 10:23] afzal442 commented on #3761
Yep r8 but dat is already given on docs file i.e. `Upload the generated config file by navigating to Settings > Environment > Out of Cluster Deployment in the Web UI and using the “Upload kubeconfig” option.`

[2021-08-05 10:26] piyushsingariya commented on #3761
My bad! I misunderstood the issue. @leecalcote enlighten us,

[2021-08-05 13:33] Chadha93 commented on #3776
@leecalcote You are referencing the patterns which we had on Mehsery, persist in Github ??

[2021-08-05 13:54] leecalcote opened #3787 "[Docs] Anchor for every unique error code"
#### Current State
Each entry in the [Error Code Reference ](https://docs.meshery.io/reference/error-codes)is unique. Having an anchor associated with each entry will aid in directing users to the specific error of interest.

#### Example

When a `mesheryctl` user sees an error with url, that url can include a specific reference to help for the specific error that they are experiencing.

So, inste

[2021-08-05 14:34] afzal442 commented on #3787
Do we have to add an anchor tag for each unique error code in a separate column? @leecalcote

[2021-08-05 15:20] metonymic-smokey commented on #3768
Invoking `restart` in context switch might be a bit of an issue due to import cycles. So that will have to be considered when designing a solution.

[2021-08-05 15:49] #3756 closed

[2021-08-05 17:55] #3755 closed

[2021-08-05 18:00] navendu-pottekkat opened #3791 "[mesheryctl] mesheryctl checks docker compose availability even for Kubernetes platform"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Desired Behavior

Availability of Docker and Docker Compose need not be checked when the platform is Kubernetes. A user does not need to have Docker available on their machine.

![Screenshot 2021-08-05 at 11 26 33 PM](https://user-images.githubusercontent.com/49474499/128398464-b4a8025d-6dfd-49ea-b80e-

[2021-08-05 18:10] leecalcote commented on #3787
No, not a separate column. An `a` tag with a `name` that isn't visible to the reader should do the trick. // @adithyaakrishna

[2021-08-05 18:20] leecalcote opened #3792 "[UI] Dashboard: Add hyperlink to version-specific release notes in release widget"
#### Current Behavior
Users are shown their Meshery deployment's currently running release version, but not given a link to the release notes for that version.

#### Desired Behavior
All release notes are available at https://docs.meshery.io/project/releases. Release notes for specific versions are available https://docs.meshery.io/project/releases/vXX.XX.XX.

#### Acceptance Tests
1. The hyperlin

[2021-08-05 18:21] #3156 closed

[2021-08-05 18:37] leecalcote opened #3793 "[Docs] Releases: Broken link to release notes on github"
#### Current State
The link encircled in red is broken for each release notes page. Example here - https://docs.meshery.io/project/releases/v0.5.42

<img width="889" alt="Screen Shot 2021-08-05 at 1 35 43 PM" src="https://user-images.githubusercontent.com/7570704/128403306-cf7e7317-fc54-4b1f-a191-dcf2ec0b27ec.png">

#### Desired State
The link should direct users to the specific release on GitHub.

[2021-08-05 18:38] leecalcote commented on #3793
@Rubix982, fyi, a fresh issue to the extent it interests you.

[2021-08-05 18:41] Rubix982 commented on #3793
Looks awesome, would love to be assigned this. Thank you for the mention, @leecalcote.

[2021-08-05 18:42] warunicorn19 commented on #3793
@Rubix982 , here you go!😄

[2021-08-05 19:03] Rubix982 commented on #3793
@leecalcote the link to the [figma](https://www.figma.com/file/SMP3zxOjZztdOLtgN4dS2W/Meshery-UI) shows "File not found". Can you take a look at it? Thank you. :smile:

![image](https://user-images.githubusercontent.com/41635766/128406529-fe3ec144-a521-4c83-a6b9-63fa28234f91.png)

[2021-08-05 19:17] #3657 closed

[2021-08-05 21:00] leecalcote opened #3795 "[mesheryctl] Myopic logic in `system status` and `system stop`"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
[code]

#### Desired Behavior
These two commands should not only take `meshery` into consideration but all components listed in the `current-context`.

- Host OS: Mac
- Meshery Server Version: stable-v0.5.42
- Meshery Client Version: stable-v0.5.42
- Platform: Kubernetes

---

#### Con

[2021-08-05 21:35] #3771 closed

[2021-08-05 22:24] leecalcote opened #3796 "[mesheryctl] Global flag `-c` not honored in `system context view`"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
Global flag `-c` not honored in `system context view`

[code]

#### Environment

- Host OS: Mac
- Meshery Client Version: stable-v0.5.42

---

#### Contributor Resources
- [mesheryctl Contributing Guide](https://github.com/meshery/meshery/blob/master/mesheryctl/README.md)
- [Beginner's

[2021-08-05 22:37] leecalcote opened #3797 "[UI] Connection Wizard: Cannot advance past step 2"
#### Current Behavior
The Next button remains disabled despite the Operator being connected.

#### Screenshots/Logs
<img width="1566" alt="Screen Shot 2021-08-05 at 5 36 25 PM" src="https://user-images.githubusercontent.com/7570704/128430160-4eb5bba3-6856-4e1a-bbeb-304595dbe7b9.png">

#### Environment

- Browser: Safari
- Host OS: Mac
- Meshery Server Version: edge-latest
- Platform: Docker

---

[2021-08-06 04:03] nehaLohia27 commented on #3770
@samirparhi-dev @leecalcote need to understand the requirements and also what is current implementation. Is this only about installing prometheus and grafana stack ?

[2021-08-06 04:28] samirparhi-dev commented on #3770
Will connect over @nehaLohia27

[2021-08-06 05:19] sudo-NithishKarthik opened #3798 "[UI] Improve The Graph UI in Performance Profiles Page"
#### Current Behavior
The performance graphs that are being shown right now in meshery ui are looking cluttered with information which makes it difficult for the users to consume the data.

<img width="1440" alt="Screenshot 2021-08-06 at 10 41 45 AM" src="https://user-images.githubusercontent.com/75248557/128459190-a0a46e3f-41e6-4913-a900-f2f6ae8b35d0.png">

#### Desired Behavior
Make the performa

[2021-08-06 05:38] sudo-NithishKarthik opened #3799 "[UI] Performance: Performance Test Results Modal for individual calendar item"
#### Current Behavior
In the performance page calendar, clicking the items does not do anything.

https://user-images.githubusercontent.com/75248557/128460312-3e2e0bdd-904b-496e-9f63-cc07ce23c170.mov

#### Desired Behavior
On, clicking the items, it should take the user to that particular test result.

#### Implementation
Reuse the same modal being used for displaying performance graph with the da

[2021-08-06 05:47] sudo-NithishKarthik opened #3800 "[UI] Improve calendar placement in performance page"
#### Current Behavior
The placement of calendar is not very appealing. Some information is lost because of the calendar width being small.

<img width="1440" alt="Screenshot 2021-08-06 at 11 10 43 AM" src="https://user-images.githubusercontent.com/75248557/128461737-b95c3b89-bd5c-419f-95fc-d1e6b678c887.png">

<img width="1440" alt="Screenshot 2021-08-06 at 11 09 49 AM" src="https://user-images.git

[2021-08-06 05:51] sudo-NithishKarthik commented on #3800
@Abhishek-kumar09 , add your suggestions for implementation if you have any.

[2021-08-06 06:03] NupurThakur27 commented on #2580
@navendu-pottekkat If this task is on priority then please assign it to somebody else, I wasn't able to work on it this week and weekend won't be possible for me either.

[2021-08-06 08:17] warunicorn19 commented on #3793
hey @Rubix982, this requires access. @Tanuj22 can get you access to the figma files. Also, just so that we are on the right page😅, this issue doesnt require any figma designs.

IMPLEMENTATION:
Change the link to github logo in the release.html layout.

[2021-08-06 08:22] Rubix982 commented on #3793
Yeah, I was just going through the above links - not related to the current issues - and I thought "this might be broken", so posted a comment over it.

[2021-08-06 08:30] warunicorn19 commented on #3793
Alrighty, no problem at all😃.

[2021-08-06 09:26] warunicorn19 commented on #3800
@sudo-NithishKarthik Do we want something like this?
<img width="1440" alt="Screenshot 2021-08-06 at 2 55 20 PM" src="https://user-images.githubusercontent.com/53532328/128489217-008d01b9-4712-4bcc-9084-ace1d3900039.png">

[2021-08-06 09:37] amitech commented on #2957
I would like to give it a try, also it is my first issue. Please assign to me.

[2021-08-06 09:52] warunicorn19 commented on #2957
here you go @amitech !

[2021-08-06 11:10] ankitzm commented on #3011
I am unable to work due to various reasons, so I have unassigned myself so that the issue can be resolved by someone else

[2021-08-06 11:14] debjani1413 commented on #3011
@leecalcote I guess I may have missed this one out, do you still mind me working at it???

[2021-08-06 12:16] CipherGirl commented on #3799
Hi Nitish, Can you explain how can I reproduce this? I have an empty performance calendar page..

[2021-08-06 12:18] sudo-NithishKarthik commented on #3800
Yes @warunicorn19 , this will do, make sure that the calendar is moved down according to the height of the `service mesh metrics` card. I don't see any other way to place this calendar.

// @leecalcote

[2021-08-06 12:20] sudo-NithishKarthik commented on #3799
@CipherGirl , you can create a performance profile in `Profiles` tab and run a test, which will reflect in the calendar

[2021-08-06 12:26] warunicorn19 commented on #3800
@sudo-NithishKarthik as in add more space between the `service mesh metrics` and the calendar?

[2021-08-06 12:33] leecalcote commented on #3799
@CipherGirl the test can be against any endpoint (like https://www.google.com).

[2021-08-06 15:28] CipherGirl commented on #3799
Thanks! I'll take up this issue, I need some help though. I am trying to figure out how to insert the modal in the calendar component. Maybe, we can discuss this in the slack channel.

[2021-08-06 15:48] afzal442 commented on #3796
In order to do that, I can add `c `flag into this line

https://github.com/meshery/meshery/blob/db86ef6a5a700d4016b087fc50321bb1c92d42b6/mesheryctl/internal/cli/root/system/context/view.go#L54

`viewContextCmd.Flags().StringVar(&context, "context", "c", "", "Show config for the context") `

// @leecalcote

[2021-08-06 16:09] alphaX86 commented on #3780
May I look on to this and tweak a bit? :)

[2021-08-06 16:12] leecalcote commented on #3796
Sounds great, @afzal442. Yep, that's about right.

[2021-08-06 16:13] leecalcote commented on #3780
Thank you, @alphaX86

[2021-08-06 16:14] leecalcote commented on #3780
@piyushsingariya is the individual to see about the behavior of these area of `mesheryctl`.

[2021-08-06 16:55] afzal442 commented on #3761
**`config_minikube.yaml` refers to a generated flattened configuration file for meshery to use it for a Minikube cluster.
This file can be found in the `.meshery` folder where the `kubeconfig.yaml` will be written to.**

**You can also replace the `kubeconfig.yaml`  file found in ~/.meshery/kubeconfig.yaml with `config_minikube.yaml` file manually.**

// @leecalcote plz suggest

[2021-08-06 18:49] adithyaakrishna opened #3807 "[UI] - Connection Wizard Improvement"
#### Current Behavior
1. Arrows to be added to let users know the component is scrollable - Red
2. Add Adapter/Service Mesh Icons for the Respective Adapters - Blue

![image](https://user-images.githubusercontent.com/23498248/128557872-60f68489-b5e0-4256-935e-cca747a069ee.png)

#### Desired Behavior
The above Changes to be addressed

---

#### Contributor [Guides](https://docs.meshery.io/project/c

[2021-08-06 19:27] #3797 closed

[2021-08-06 21:32] adithyaakrishna commented on #3011
@debjani1413 Sure you can go ahead :)

[2021-08-06 23:54] #3774 closed

[2021-08-06 23:55] #3800 closed

[2021-08-06 23:56] #3536 closed

[2021-08-07 00:05] #3769 closed

[2021-08-07 00:19] leecalcote commented on #2957
Thanks for stepping up, @amitech 💪

[2021-08-07 06:40] #3702 closed

[2021-08-07 12:15] afzal442 opened #3812 "[Docs] Create a new page for configuration management"
#### Current State
There is no docs page describing one of the meshery's management features about configuration management [here](https://docs.meshery.io/functionality).

_Originally posted by @leecalcote in https://github.com/meshery/meshery.io/pull/508#discussion_r684553731_

#### Desired State

Create a new page for configuration management on the docs itself
As described [here](https://mesher

[2021-08-07 14:31] #3791 closed

[2021-08-07 15:13] CipherGirl commented on #3799
@sudo-NithishKarthik @leecalcote I've created a PR. Let me know if it needs improvement in any way. :)

[2021-08-07 15:28] #3799 closed

[2021-08-07 15:57] warunicorn19 opened #3816 "[UI] Chevron not visible on drawer close"
#### Current Behavior
The chevron in the dashboard is getting pushed down when the drawer is closed.

#### Desired Behavior
The chevron should be visible to the user on closing of the drawer.

#### Implementation
The chevron is already sticky, but the space between the other icons seems to be causing, try decreasing that.

#### Acceptance Tests

- [ ] Chevron should be visible when the drawer is c

[2021-08-07 16:22] afzal442 commented on #3781
for now I am getting null on my notification section as this

![c5](https://user-images.githubusercontent.com/11625672/128606894-028a4984-07a7-4d63-ac80-e63ba5da09a6.JPG)

[2021-08-07 16:51] CipherGirl commented on #3792
I would like to work on this issue :)

[2021-08-07 17:00] warunicorn19 commented on #3792
Here you go! @CipherGirl

[2021-08-08 01:28] brodyf42 commented on #3787
It looks like there can be more than one instance of an error code on the page if it shows up in more than one section.  A couple of examples are ErrGetLatestReleasesCode  and ErrGetLatestReleaseNamesCode as seen in the images below.  Maybe the fact that they have different error code numerical values in each section is still enough to create unique entry points on the page, but I'm not sure if th

[2021-08-08 06:29] afzal442 commented on #3787
Thanks @brodyf42 for bringing up this here.

 If it is so, we can add an anchor associated with each entry in the Error Code Reference as below:

**Errror Name**                     ||                          **Error Code**
`ErrGetLatestReleaseCode        ||            ctlK8sConnect1001`

[2021-08-08 09:45] Abhishek-kumar09 commented on #3800
That is looking great

[2021-08-08 12:02] piyushsingariya commented on #3407
@Shreyas220 @chetak123 any update?

[2021-08-08 12:04] piyushsingariya commented on #3570
Hey @sayantan1413 would you like to overtake this issue?

[2021-08-08 14:15] sayantan1413 commented on #3407
Hey @piyushsingariya can you please update which all commands are completed ?

[2021-08-08 14:18] piyushsingariya commented on #3407
Updated!

[2021-08-08 14:37] sayantan1413 commented on #3407
Thanks @piyushsingariya 😃

[2021-08-08 14:43] Shreyas220 commented on #3407
got held up with some things, will make a PR soon

[2021-08-08 15:16] chetak123 commented on #3407
I was caught up with my exams and I am pretty new to golang 😅, will be making a pr soon.

[2021-08-08 15:48] Revolyssup commented on #3243
@navendu-pottekkat  I think one way to get around this would be if we move the restart function in utils.
So that,not just restart command, but also other commands which require restart to occur can use that function without any dependency issue.

[2021-08-08 16:18] navendu-pottekkat commented on #3243
@hexxdump @metonymic-smokey @piyushsingariya What are your thought here?

[2021-08-08 16:43] piyushsingariya commented on #3243
that's a good idea.

[2021-08-08 16:54] metonymic-smokey commented on #3243
I think the `system` functions should stay where they are since `utils` is meant for utility and platform specific functions.
The workaround I think might work here is flattening package `context` in package `system`, the way `channel` is currently. If that works for channel, I think the same overall structure should be there for `context` too.

[2021-08-08 17:01] Revolyssup commented on #3243
Flattening context would mean packing all the context sub commands code in context.go and taking it out along with context_test.go.
Or if you want system specific functions to not move into utils. You can have a utils package inside of system, and move the restart function there. And in future any function that can be used by any system command can be pushed into system/utils.

[2021-08-08 17:29] metonymic-smokey commented on #3243
@Revolyssup yes, that's what I meant, making a single `context.go` file.
Is there an issue with that approach?

[2021-08-08 17:37] sgibson19 commented on #3816
@warunicorn19 I would like to work on this

[2021-08-08 17:37] warunicorn19 commented on #3816
Sure, go ahead @sgibson19

[2021-08-08 19:17] Revolyssup commented on #3243
@navendu-pottekkat  what'd you say

[2021-08-09 02:38] navendu-pottekkat commented on #3243
Sounds good.

[2021-08-09 03:53] #3782 closed

[2021-08-09 08:09] adithyaakrishna commented on #3787
@leecalcote Just a small doubt, is it that the users will see this in the CLI Tool itself with the link to the error code or only the documentation has to be updated as you mentioned in Users will get this

[2021-08-09 08:58] sayantan1413 commented on #3570
Yes @piyushsingariya I am working on it. Sorry somehow I missed to comment on this😓

[2021-08-09 09:50] metonymic-smokey commented on #3795
@leecalcote So this is what I think about changing this logic:

This is the existing code(`IsMesheryRunning`) which checks if meshery is running:
https://github.com/meshery/meshery/blob/4a5ebbe84032e337f97f8386339671dfdc15e89c/mesheryctl/pkg/utils/healthcheck.go#L128-L135
This function is called in `status.go`

After this in the same function, in the Kubernetes section, there is already [code](htt

[2021-08-09 09:51] metonymic-smokey commented on #3795
Once `IsMesheryRunning` is fixed, this issue in `system stop` should be fixed too, since it is used as a preliminary check there too.

Let me know what you think!

[2021-08-09 10:06] sayantan1413 commented on #3468
I think this issue is solved now so I am closing it for now.

[2021-08-09 10:06] #3468 closed

[2021-08-09 10:17] warunicorn19 commented on #3400
Closing this as the issue has already been solved

[2021-08-09 10:17] #3400 closed

[2021-08-09 10:25] alphaX86 commented on #3780
I got involved in other work till next week and I'm afraid that I can't do this for now... So I'm removing my assignment for now :(

Sorry for inconvenience caused

[2021-08-09 10:45] leecalcote commented on #3780
Oh, no. There's a prettier project out there. Should Meshery be jealous, @alphaX86?

[2021-08-09 10:50] alphaX86 commented on #3780
@leecalcote 😅😂 no no it's not based on project, till next week Wed I have exams to get rid off, so I may be distracted for few days :( and I'll come back with clean mind 🙂

[2021-08-09 10:53] leecalcote commented on #3780
Whew! 😅

[2021-08-09 11:19] sayantan1413 commented on #3739
Hey @nehaLohia27 what's the progress here ?

[2021-08-09 11:23] warunicorn19 commented on #3511
@The-Loony-Coder any updates on this?

[2021-08-09 11:29] The-Loony-Coder commented on #3511
I would send the pr by 8 pm, I've only added 5 question, if you have other questions in mind, I can add them too..

[2021-08-09 11:39] sudo-NithishKarthik opened #3823 "Meshery server panics after login with remote provider"
#### Description
Meshery server panics after logging in with the remote provider

#### Screenshots/Logs

<img width="1422" alt="Screenshot 2021-08-09 at 1 32 24 PM" src="https://user-images.githubusercontent.com/75248557/128700286-75d20af9-2433-4d58-9428-2f7dd40551c6.png">

#### Environment

- Host OS: Mac
- Meshery Server Version: edge-latest
- Kubernetes: Not running

#### To Reproduce
Steps to

[2021-08-09 11:41] warunicorn19 commented on #3275
Issue has been solved.

[2021-08-09 11:41] #3275 closed

[2021-08-09 11:56] nehaLohia27 commented on #3739
@sayantan1413 will complete this by tomorrow. Sorry for delay.

[2021-08-09 12:00] sayantan1413 commented on #3739
Yeah sure @nehaLohia27 no problem😃. Just a routine checkup 😅

[2021-08-09 12:43] rzmudatr commented on #3756
@hexxdump
Issue still reproduces with version v0.5.43 for Linux...

[code]

[2021-08-09 13:56] leecalcote commented on #3756
@rzmudatr, good feedback. In this case, the goal was to handle the required dependency gracefully, displaying an informational message with instructions to the user. If you're not using `brew` to install (which you can on Linux and MacOS machines), you'll need to ensure that the host you're running the bash installation script on has `unzip` installed beforehand.

In case it helps - [Homebrew inst

[2021-08-09 15:16] hexxdump commented on #3756
@rzmudatr, there a plan to move away from meshery.zip file and have mesheryctl binary downloaded as a single file from meshery release page. I shall update you on the progress. In the meantime, pls use brew instructions shared by Lee.

[2021-08-09 15:55] Meghana-12 commented on #3745
Hi, can someone explain the content of the model again please? (for filters, patterns and applications).

[2021-08-09 16:02] sudo-NithishKarthik commented on #2917
https://user-images.githubusercontent.com/75248557/128737153-615e2518-bd2a-4013-9479-65277a15edca.mov

[2021-08-09 16:04] sudo-NithishKarthik commented on #2917
Although it is not using graphql subscriptions, it is refetching the data when the modal is closed, hence the update in number of test results.

[2021-08-09 16:06] sudo-NithishKarthik commented on #2917
The only case i can think of that would require graphql subscriptions is when the test is ran with mesheryctl keeping ui open, in that case, we will get live data.
 Other than that, i don't think we would **_need_** graphql subscription for this **_now_**.

// @leecalcote

[2021-08-09 16:32] warunicorn19 commented on #3798
@sudo-NithishKarthik So, basically in this issue i need to represent the data that you have highlighted in a better way right?

[2021-08-09 16:36] piyushsingariya commented on #3243
Sounds right!

[2021-08-09 16:37] sudo-NithishKarthik commented on #3798
yuop, @warunicorn19

[2021-08-09 17:11] sudo-NithishKarthik commented on #3823
closing this as being transferred to [meshery-cloud](https://github.com/layer5io/meshery-cloud/issues/100)

[2021-08-09 17:11] #3823 closed

[2021-08-09 17:21] navendu-pottekkat commented on #3637
@sayantan1413 Where you able to investigate what the root cause of the issue is?

[2021-08-09 18:27] leecalcote opened #3825 "[UI] Support accordion-style menu when Meshery menu drawer is collapsed."
#### Current Behavior
Meshery menu is perpetually expanded to show all menu items when the drawer is collapsed.

<img width="75" alt="Screen Shot 2021-08-09 at 1 27 19 PM" src="https://user-images.githubusercontent.com/7570704/128755795-b6800b64-00fe-4988-9099-e63a78e2c2ce.png">

#### Desired Behavior
Offer the same accordion-style behavior when the menu drawer is collapsed as when the menu drawer

[2021-08-09 18:34] warunicorn19 commented on #3825
@leecalcote I think this will also solve #3816

[2021-08-09 18:42] leecalcote opened #3826 "[Filters] Unable to delete a filter persisted in Remote Provider"
#### Description
Deleting filters stored in Remote Providers doesn't have the desired affect.

#### Expected Behavior
Filter record should be tombstoned by Remote Provider and no longer displayed in the UI.

#### Screenshots/Logs

<img width="1422" alt="Screen Shot 2021-08-09 at 9 27 58 AM" src="https://user-images.githubusercontent.com/7570704/128757206-9a931e1a-01c4-46e8-9c20-c96fc6a8ea05.png">

[2021-08-09 19:00] navendu-pottekkat commented on #3826
I just opened this issue on the provider. It should be a provider issue. Will look into it and fix it.

[2021-08-09 19:05] leecalcote commented on #3826
Sounds great. Thank you. I'll close this issue given that the other issue is tracking resolution.

[2021-08-09 23:35] leecalcote commented on #3709
@dhruv0000 @utkarsh-pro @bariqhibat  Running on v0.5.54, I get the following logs, endlessly -
[meshery-logs.txt](https://github.com/meshery/meshery/files/6957947/meshery-logs.txt)

[2021-08-09 23:55] josephmidura commented on #3812
I'll work on this.

[2021-08-09 23:59] leecalcote opened #3827 "[UI] Connection Wizard: Can't find variable: clusterInformation"
#### Description
Step 2 of the Connection Wizard results in "unexpected error".

<img width="1152" alt="Screen Shot 2021-08-09 at 6 58 09 PM" src="https://user-images.githubusercontent.com/7570704/128788835-9252663c-0f6d-4140-91e9-7db1898aab18.png">

#### Screenshots/Logs
From browser's console logs:

[code]

#### Environment

- Host OS: Mac
- Meshery Server Version: stable-v0.5.44
- Meshery Clien

[2021-08-10 00:07] leecalcote opened #3828 "[Provider] Remote Provider Plugin Directory Not Being Created"
#### Current Behavior
The Remote Provider's plugin directory for the currently running stable version of Meshery is not being created for the specific release.

#### Screenshots/Logs
[code]

Note: the "  Unable to check for latest version of mesheryctl." is due to an overblown rate limit on GitHub's APIs.

#### Environment

- **User:** lcalcote
- **Host OS:** Mac
- **Platform:** Docker
- **Meshery

[2021-08-10 00:14] leecalcote commented on #3697
@Abhishek-kumar09 yes, it's just adding another row to the existing control plane dashboard with details of the proxies deployed in the system. // @bariqhibat

[2021-08-10 00:20] leecalcote opened #3829 "[Docs] Add `app` to mesheryctl documentation"
#### Current State
`app` is missing on the Using mesheryctl docs page - https://docs.meshery.io/guides/mesheryctl/using-mesheryctl and on the https://docs.meshery.io/reference/mesheryctl reference.

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions fo

[2021-08-10 00:25] leecalcote opened #3830 "[Docs] Update description of Hipster store sample app"
#### Current State
The Hipster sample application's description in Meshery Docs is out of date: https://docs.meshery.io/guides/sample-apps#hipster.

#### Desired State
This sample application, https://github.com/GoogleCloudPlatform/microservices-demo, has been renamed to Online Boutique

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build &

[2021-08-10 00:31] leecalcote opened #3831 "[UI] Notification Center: Do not collapse notification card unless title bar is clicked"
#### Current Behavior
Users might want to copy part of any given notification's details. They are unable to, however, given the notification card collapses on click of the details area.

#### Desired Behavior
Do not collapse notification card unless title bar is clicked.

#### Screenshots/Logs

https://user-images.githubusercontent.com/7570704/128790781-68d7a865-5d99-4337-adba-562443289c22.mov

##

[2021-08-10 04:43] piyushsingariya opened #3833 "[mesheryctl] (child) `mesheryctl filter` unit testing"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

check Epic here #3016

#### Current Behavior
Currently, we don't have any unit tests setup to test `mesheryctl filter` commands and functions

#### Desired Behavior
Required to enable unit testing support for `mesheryctl filter` commands and functions, to ensure the accuracy and robustness of each mesheryct

[2021-08-10 05:04] suhaniii opened #3834 "[Docs] Update `mesheryctl` installation guide to include `ADAPTER`"
#### Current State
Currently docs are guiding user to deploy `meshery` with all the adapters available.
[code]
#### Desired State
Update docs , so that user can install list of adapters provided by them
Example -
[code]
---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)

[2021-08-10 05:23] NikhilSharma03 commented on #3831
Can I work on this issue?

[2021-08-10 05:28] sudo-NithishKarthik commented on #3831
Sure @NikhilSharma03 :)

[2021-08-10 08:10] afzal442 commented on #3830
I would like to give it a try.
// assign

[2021-08-10 08:11] afzal442 commented on #3829
// assign

[2021-08-10 08:12] afzal442 commented on #3812
plz go ahead @josephmidura !

[2021-08-10 08:29] afzal442 commented on #3829
lemme align here FYI

**Using mesheryctl**   same as here **Command Reference**

`mesheryctl app` - Service Mesh Apps Management

<html>
<body>

Main Command | Arguments | Flag | Function
-- | -- | -- | --
<html>
<body>
<google-sheets-html-origin><meta name="sheets-banding" data-sheets-range="A109:Y119" data-sheets-banding-properties="{&quot;1&quot;:{&quot;1&quot;:{&quot;4&quot;:{&quot;1&quot;:2,&

[2021-08-10 08:30] warunicorn19 commented on #3830
here you go @afzal442

[2021-08-10 08:32] warunicorn19 commented on #3829
here you go! @afzal442

[2021-08-10 08:36] #3796 closed

[2021-08-10 08:44] #3831 closed

[2021-08-10 10:10] dhruv0000 commented on #3709
@utkarsh-pro @bariqhibat Are you able to replicate the error? Everything seems fine in my local system.

[2021-08-10 12:34] leecalcote commented on #3745
There may be some nuanced differences in behavior desired between￼ any http url and an http://github.com url, however, in this first implementation, let's ignore that.

Do you have a screenshot of the component and the placement of the component? This "import by url" feature will be a "table-level" action, so the button to invoke it will not be placed on each individual row, but ideally, it will b

[2021-08-10 12:41] leecalcote commented on #3825
That sounds about right. 👍

[2021-08-10 13:41] utkarsh-pro commented on #3828
@leecalcote https://github.com/layer5labs/meshery-extensions-packages/releases/tag/v0.5.44-1 this release does not have meshmap golang plugin

[2021-08-10 15:18] CipherGirl commented on #3825
I'd like to look into this :)

[2021-08-10 16:30] afzal442 commented on #3761
Any update here plz?

// @leecalcote

[2021-08-10 17:05] #3764 closed

[2021-08-10 18:13] #3827 closed

[2021-08-11 05:20] metonymic-smokey commented on #3795
@leecalcote could you please tell me the steps to reproduce this issue?
I never seem to face it locally.
Thanks!

[2021-08-11 05:24] Meghana-12 commented on #3745
This is how it looks rn.

![Screenshot 2021-08-11 at 10 50 32 AM](https://user-images.githubusercontent.com/44519203/128973908-af93bf33-a1af-4eda-bd2f-2455bec61b96.png)
![Screenshot 2021-08-11 at 10 50 49 AM](https://user-images.githubusercontent.com/44519203/128973913-e7d655e0-2a9e-4df5-8a6b-e93a9491208e.png)

[2021-08-11 09:13] sudo-NithishKarthik commented on #3712
Our current approach makes sure that the ws connection is not busy when the data is not needed by a component(when we are in a page that does not need subscriptions i.e `filters` page)

 Whereas, if we go about initialising the subscriptions on  the startup of our webapp and keep it alive till the webapp is closed, we will get the desired behaviour.

This removes the overhead of having to subscrib

[2021-08-11 11:01] nehaLohia27 commented on #3739
@sayantan1413 I have created the PR . you can review it.

[2021-08-11 12:09] navendu-pottekkat commented on #3826
@Chadha93 You can use this issue to track the bug.

[2021-08-11 12:11] Revolyssup opened #3848 "[mesheryctl]- Non descriptive error in `mesheryctl filter list`"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
Currently if the user is not authorized to access a capability like in mesheryctl filter list, the error returned is the error got during unmarshalling which has no useful information.
![issue](https://user-images.githubusercontent.com/43276904/129025965-8bf486e1-5bd9-4fc0-88af-7eab42b

[2021-08-11 12:45] sudo-NithishKarthik commented on #2598
Reopening as this issue still persists

[2021-08-11 13:51] leecalcote commented on #3761
In the time it takes to explain, I'll go ahead make the update. Thanks for looking into this @afzal442. Let me commandeer this issue.

[2021-08-11 14:49] sayantan1413 commented on #3571
Yeah @piyushsingariya all of them are covered here.

[2021-08-11 14:51] warunicorn19 commented on #3571
yes all covered @piyushsingariya

[2021-08-11 14:52] piyushsingariya commented on #3571
Damn, I didn't even realise that. thanks guys @warunicorn19 @sayantan1413 :heart:

[2021-08-11 14:53] #3571 closed

[2021-08-11 17:45] navendu-pottekkat opened #3853 "Create forked image for containrrr/watchtower to support ARM/M1 chips"
#### Current Behavior

containrrr/watchtower container crashes when running on M1/ARM machines. This is because the image pulled does not support the M1 chip.

#### Desired Behavior

Create a fork of https://github.com/containrrr/watchtower and build the image for M1/ARM platform and push the image to Docker Hub and use this forked image in Meshery.

This would need exploration to see if this is f

[2021-08-11 17:48] leecalcote commented on #3745
Good progress.

[2021-08-11 18:14] warunicorn19 opened #3855 "[UI] Meshery Operator and MeshSync chips getting overlapped"
#### Current Behavior
At a reduced screen size the meshery operator chip and meshsync chip overlap

#### Desired Behavior
They should not overlap and be distinct

#### Screenshots/Logs
SAFARI-

<img width="988" alt="Screenshot 2021-08-11 at 11 30 04 PM" src="https://user-images.githubusercontent.com/53532328/129081378-fc178ff2-5014-48f6-93ec-1296e4de8b12.png">

CHROME-

<img width="970" alt="Scree

[2021-08-11 20:47] #3830 closed

[2021-08-12 05:43] #3848 closed

[2021-08-12 07:26] NikhilSharma03 commented on #3855
Can I work on this?

[2021-08-12 08:21] Chadha93 commented on #3826
@navendu-pottekkat  do we have the multiple endpoint functionality to handle bulk delete in one go in the filters because we have the single delete endpoint enabled/handled?

[2021-08-12 11:28] navendu-pottekkat commented on #3826
This is the handler that deletes the filters.

[code]

So, bulk deleting capability may need to be added to the backend.

[2021-08-12 13:15] sudo-NithishKarthik opened #3860 "[UI] Display badge for beta features"
#### Current Behavior
Right now, in meshery ui, there is no way to distinguish beta features from others.

#### Desired Behavior
We need to add a badge for beta features.

#### Implementation
The badge should be added as shown in the mockup for beta features.
For a whole page/component , the badge should be in the navigation bar along with the name.

Beta Components:
1. Meshmap
2. Applications
3.

[2021-08-12 15:30] CipherGirl commented on #3825
@sudo-NithishKarthik, @warunicorn19 I'm finding this issue a bit complicated. Maybe I can fix this if I start fresh, although that's a lot of work. Can I get some heads up here please, I can't figure out any simple solution to this.. :/

[2021-08-12 15:52] warunicorn19 commented on #3825
im having a hard time explaining 😂, @CipherGirl did you understand😅?

[2021-08-12 16:06] CipherGirl commented on #3825
Oh yes, I did! I also thought of that too.. I think it'll look better on the right side.. Let me try to figure out If I can do that..

[2021-08-12 16:09] sayantan1413 opened #3862 "[UI] Help and Chevron not visible in mobile view"
#### Current Behavior
The Help button and the Chevron are not visible in the Meshery's dasboard in the mobile view.

#### Desired Behavior
The Help button and the Chevron should be visible in the Meshery's dasboard in the mobile view too.

#### Screenshots/Logs
<img width="361" alt="Screenshot 2021-08-12 at 9 37 22 PM" src="https://user-images.githubusercontent.com/64970095/129230392-826fcb89-5198

[2021-08-12 18:04] DelusionalOptimist commented on #3413
Take a look at the GraphQL workflow where we trigger the particular job only when the schema changes. See https://github.com/meshery/meshery/blob/988b8b6636de42c6f237e397c6c38f274a466c8e/.github/workflows/ci.yml#L271-L277

[2021-08-12 18:38] Rubix982 commented on #3793
Hi, @warunicorn19, I have been working on something else for the past few days. I'll try to follow up tomorrow with more updates.

[2021-08-12 18:51] warunicorn19 commented on #3793
alrighty @Rubix982 , no sweat, just a routine check up, feel free to write in the slack channel if you need any help.

[2021-08-12 19:38] sayantan1413 opened #3863 "[Docs] Mesheryctl mesh deploy command is missing in the documentation"
#### Current State

In the https://docs.meshery.io/reference/mesheryctl#service-mesh-lifecycle-and-configuration-management the mesheryctl mesh deploy command is missing.

#### Desired State

In the https://docs.meshery.io/reference/mesheryctl#service-mesh-lifecycle-and-configuration-management the mesheryctl mesh deploy command should be added.

---

#### Contributor [Guides](https://docs.meshery

[2021-08-13 02:44] #3238 closed

[2021-08-13 05:10] afzal442 commented on #3863
<html>
<body>
<google-sheets-html-origin><meta name="sheets-banding" data-sheets-range="A84:Y96" data-sheets-banding-properties="{&quot;1&quot;:{&quot;1&quot;:{&quot;4&quot;:{&quot;1&quot;:2,&quot;2&quot;:6002169}},&quot;2&quot;:{&quot;4&quot;:{&quot;1&quot;:2,&quot;2&quot;:16777215}},&quot;3&quot;:1,&quot;4&quot;:{&quot;4&quot;:{&quot;1&quot;:2,&quot;2&quot;:15266046}},&quot;5&quot;:1}}">

deploy

[2021-08-13 05:10] afzal442 commented on #3863
/assign

[2021-08-13 05:37] sayantan1413 commented on #3863
Here you go @afzal442

[2021-08-13 06:51] ishitakeshawani commented on #3860
Can I work on this issue? @sudo-NithishKarthik

[2021-08-13 06:52] warunicorn19 commented on #3860
@ishitakeshawani here you go!

[2021-08-13 07:01] ishitakeshawani commented on #3860
Thank you. @warunicorn19

[2021-08-13 07:29] ishitakeshawani commented on #3860
It's asking for permission. I am not able to view wireframes in Figma.

[2021-08-13 07:30] warunicorn19 commented on #3860
Could you give me your email?

[2021-08-13 07:34] ishitakeshawani commented on #3860
keshwaniishita054@gmail.com

[2021-08-13 07:43] warunicorn19 commented on #3860
@ishitakeshawani you shouldve recieved an invite and will have access now, please check and confirm.

[2021-08-13 07:52] sayantan1413 commented on #3570
I have completed the Filter endpoint only waiting to create the PR till #3840 gets merged.

[2021-08-13 07:53] ishitakeshawani commented on #3860
Yes got it. Thanks.

[2021-08-13 09:47] Revolyssup commented on #3778
@DelusionalOptimist  the errors from the browser package will be thrown anyhow if it fails to open in browser.
Maybe instead of returning error. We dont return error and just log the warning that `could not open in browser`. That way those extra misleading logs that `could not start meshery` can be avoided.

[2021-08-13 11:53] DelusionalOptimist commented on #3778
Sure @Revolyssup, this sounds good. :+1:

[2021-08-13 12:24] Revolyssup commented on #3780
@leecalcote  the function ValidateVersion is being called a lot of times which internally makes that API call.
Changing other functions's signature which call ValidateVersion to introduce a boolean to allow skipping this call would require a lot of code change in a lot of places.
A better way can be to cache the version's validity in some metadata file in .meshery directory along with time when it

[2021-08-13 12:37] navendu-pottekkat commented on #3795
@leecalcote This might be the case when you have deployed Meshery on Kubernetes but the platform in the meshconfig is `docker`.

In both the cases, it would be best if we check the `meshery` namespace as well and stop anything that is running there.

// @metonymic-smokey

[2021-08-13 12:39] DelusionalOptimist opened #3868 "[mesheryctl] `mesheryctl mesh` subcommand for viewing SMI conformance test results"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
There is no command to view SMI conformance results using meshery CLI.

#### Desired Behavior
We should have a subcommand for `mesheryctl mesh validate` for viewing the results by supplying the ID of a conformance test.
One, so as to create a similar experience as the `perf` commands.

[2021-08-13 12:41] navendu-pottekkat opened #3870 "[mesheryctl] system start throws an error if not able to open Meshery in the browser"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

`mesheryctl system start` will try to open up the Meshery endpoint in the browser after installing Meshery.

But it throws an error if it is not able to open the endpoint in the browser and says failed to start Meshery.

![Screenshot 2021-08-13 at 6 08 27 PM](https://user-images.githu

[2021-08-13 14:19] Revolyssup commented on #3870
@navendu-pottekkat  this issue was already created by @DelusionalOptimist in issue #3778  and I have created a PR against it. A small fix.

[2021-08-13 14:47] #3688 closed

[2021-08-13 15:00] navendu-pottekkat commented on #3870
Great, I was not sure if this issue was being tracked. Thank you @Revolyssup

[2021-08-13 15:00] #3870 closed

[2021-08-13 15:00] #3778 closed

[2021-08-13 15:00] #3833 closed

[2021-08-13 16:09] DelusionalOptimist opened #3873 "[mesheryctl] enhance `mesheryctl mesh remove`"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
`mesheryctl mesh remove` doesn't use the event streamer utility and thus doesn't wait for remove operation event to complete.

#### Desired Behavior
The command should watch for events and wait till receiving an event signalling service mesh was removed successfully. If it is not remov

[2021-08-13 16:24] suhaniii opened #3874 "[Docs] Update docs with `mesheryctl app` command"
#### Current State
 [Docs](https://docs.meshery.io/reference/mesheryctl) doesn't have meshery cli command `mesheryctl app`

#### Desired State

Update [Docs](https://docs.meshery.io/reference/mesheryctl) with  `app` command

### Implementation Guide
Describe / add command, flag & function in [Docs](https://docs.meshery.io/reference/mesheryctl)  for
`app onboard`
`app offboard`
`app view`
`app list

[2021-08-13 17:31] umairnsr87 commented on #3873
Can I work on this issue @DelusionalOptimist ?

[2021-08-13 17:32] warunicorn19 commented on #3873
For sure! @umairnsr87

[2021-08-13 18:40] DelusionalOptimist commented on #3873
Thanks @umairnsr87 :raised_hands: . Feel free to ask away any doubts you have.

[2021-08-13 21:43] leecalcote opened #3876 "[Perf] Constrain Display of Test Results to Specific Profile"
#### Current Behavior
<img width="1683" alt="Screen Shot 2021-08-13 at 3 20 25 PM" src="https://user-images.githubusercontent.com/7570704/129421174-f3fe496f-a28e-4601-9243-9e89664b33aa.png">

#### Expected Behavior
Only 2 results to be displayed in the table.

- **Meshery Server Version:** stable-v0.5.46

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠

[2021-08-13 22:04] umairnsr87 commented on #3873
Sure @DelusionalOptimist , @warunicorn19  Thanks ....!

[2021-08-13 23:16] leecalcote opened #3877 "[Docs] Extension Point: Component styling"
@Jashpatel1 please include an update to the Extensibility docs in this PR.

_Originally posted by @leecalcote in https://github.com/meshery/meshery/issues/3784#issuecomment-898762256_

[2021-08-14 00:32] afzal442 commented on #3874
Duplicate of #3829

[2021-08-14 03:05] #3874 closed

[2021-08-14 04:00] metonymic-smokey commented on #2961
Working on it...

[2021-08-14 05:14] #2949 closed

[2021-08-14 13:34] #3268 closed

[2021-08-14 14:34] utkarsh-pro opened #3881 "In Cluster Deployment RBAC issue"
#### Current Behavior
Running `mesheryctl system start -p kubernetes` deploys meshery in k8s cluster. Meshery has been using custom `ServiceAccount` with appropriate role and role bindings for a while now but still in cluster deployments are using the `default` service acccount which causes Authorization issues.

Upon investigating the issue, the issue seems to be coming from `mesheryctl`.
[code]

[2021-08-14 16:21] humblenginr opened #3884 "[Docs] Add list of reusable components - Meshery UI"
#### Current State
Meshery UI has a number of components that are designed to be reused over the codebase, but since we don't have a list of them in the docs, contributors are unaware of it and it results in them rewriting the same components again

#### Desired State
Add these list of reusable components to the meshery ui contributing docs so that people will be aware of the existence of such com

[2021-08-14 17:08] navendu-pottekkat opened #3886 "[mesheryctl] system update on Docker platform trying to fetch the latest version and updating meshconfig"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

`mesheryctl system update` with `stable-latest` subscription causes mesheryctl to fetch the latest version tag from GitHub and updates the tag of the Docker images to the particular version instead of `latest` in the docker-compose file.

#### Desired Behavior

For Docker deployments,

[2021-08-14 17:09] navendu-pottekkat commented on #3886
@leecalcote could you update the env details and screenshots of the issue? I am not able to reproduce it.

[2021-08-14 19:07] guptapriyanshu7 commented on #3884
@sudo-NithishKarthik Can I take this up?