[2022-06-11 10:10] leecalcote commented on #5598
@abhiyant-10 yes, that would be good.

[2022-06-11 14:08] Manish-Rawat-1186 commented on #5598
thank you sir...

[2022-06-11 14:09] Manish-Rawat-1186 commented on #5598
that look nice ...

[2022-06-12 11:18] abhiyant-10 commented on #5598
Should I decrease the size of "Additional guides " or is it okay . (Blank space is for video)
I am sorry but I didn't understand  what to do in  "could use a description of or pointer to mesheryctl system check" . Do I have to provide a link  to https://docs.meshery.io/reference/mesheryctl/system/check?
![image](https://user-images.githubusercontent.com/71189932/173230512-73ad6cbe-7e7c-472b-802b-5

[2022-06-12 14:32] leecalcote opened #5605 "[CI] Duplicative token used in e2e workflow?"
#### Current Behavior
Please see https://github.com/meshery/meshery/runs/6850181455?check_suite_focus=true#step:5:424 as an example.

#### Logs
[code]

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for contributing to documentation](https://github.

[2022-06-12 14:47] leecalcote opened #5606 "[CI] Cypress fails to install in Docker build workflow"
#### Current Behavior
Please see https://github.com/meshery/meshery/runs/6850509428?check_suite_focus=true#step:4:1508 as an example.

#### Logs
[code]

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for contributing to documentation](https://github

[2022-06-12 17:57] gr455 commented on #5605
@leecalcote that looks like a part of the tests. See [this](https://github.com/meshery/meshery/blob/master/mesheryctl/internal/cli/root/system/token_test.go#L137) and [this](https://github.com/meshery/meshery/blob/master/mesheryctl/internal/cli/root/system/token_test.go#L36)
The failures are coming from whitespace / tab discrepancy

[2022-06-13 04:11] Zanda256 commented on #5014
I tested it. And it works. What is the deliverable here?

[2022-06-13 11:18] Kanika637 commented on #5572
Hey @theBeginner86 , I would like to work on this issue, could you please guide a little on how to get started with this one.

[2022-06-13 11:20] leecalcote commented on #5572
@Kanika637, have you read the contributing guides in docs.meshery.io? Are you able to compile mesheryctl?

[2022-06-13 11:56] asubedy opened #5607 "[Docs] Cilium integration test not showing the latest test"
#### Current State
The test results for cilium service mesh is not updating to the latest test results.

<img width="896" alt="Screen Shot 2022-06-13 at 17 37 19" src="https://user-images.githubusercontent.com/51183483/173347748-499dfa37-68f6-4855-ac9e-13ca92da0433.png">

The table shows test result from `2022-05-10 12:32:04 UTC Tue` which is not the latest one which can be seen in the past result

[2022-06-13 12:06] asubedy opened #5608 "[Docs] Logic for calculating the percentage for compatibility matrix need to be changed"
#### Current State

Right now when calculating the percentage for individual Meshery component in the compatibility matrix in https://docs.meshery.io/project/compatibility-matrix, we use this formula: `number of passing test/total number of test`

This needs to be changed.

<img width="889" alt="image" src="https://user-images.githubusercontent.com/51183483/173349862-8c932146-a2d6-4390-9cdc-3cb9cb

[2022-06-13 12:14] asubedy opened #5609 "[Docs] Propose a design to add compatible service mesh version on the compatibility matrix"
#### Current State
Right now we are showing compatibility on the basis of Docker version only:
<img width="909" alt="image" src="https://user-images.githubusercontent.com/51183483/173350628-c7706a93-451f-493d-be96-0b968eac85e0.png">

#### Desired State
Propose a design to show latest service mesh version compatible for a particular Meshery-component on the compatibility matrix.

---

#### [Contrib

[2022-06-13 12:59] Kanika637 commented on #5572
Yes I am reading the documentation and going to compile it on my system.

[2022-06-13 13:26] karnatisrinivas commented on #5607
Hello @asubedy , Can I work on this?

[2022-06-13 13:27] asubedy commented on #5607
Sure @karnatisrinivas

[2022-06-13 13:37] leecalcote commented on #5572
Be sure to join the Meshery development meeting in which mesheryctl and its UX are discussed. That will help you familiarize a good bit as well.

[2022-06-13 15:34] Revolyssup commented on #5046
Solved by multicontext // @leecalcote

[2022-06-13 15:34] #5046 closed

[2022-06-13 16:12] leecalcote commented on #5046
Thank you, @Revolyssup

[2022-06-13 18:01] warunicorn19 opened #5610 "Success message pops up even when kubeconfig is not uploaded"
#### Current Behavior
Even if there's no kubeconfig uploaded, there is a success message that pops up stating `Kube config successfully uploaded`.

#### Expected Behavior
The uploaded button should ideally be disabled when there's nothing uploaded.

- Server logs show `Failed to get Kubernetes context`

#### Screenshots/Logs

https://user-images.githubusercontent.com/53532328/173416218-cdff3b6a-79

[2022-06-14 12:32] leecalcote commented on #5478
@Akshit42-hue … all finished with feedback received?

[2022-06-14 16:23] leecalcote commented on #5386
@karnatisrinivas, your help here would be fantastic.

[2022-06-14 18:37] leecalcote opened #5613 "[UI] Multi-context settings error"
#### Current Behavior

Meshery deployments that are not connected to k8s display the error below in the Settings page.

<img width="818" alt="Screen Shot 2022-06-14 at 1 04 24 PM" src="https://user-images.githubusercontent.com/7570704/173658808-96e69dc8-16bc-4a7e-9000-859091ac6c30.png">

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources

- 🎨 Wireframes and

[2022-06-15 05:37] karnatisrinivas commented on #5386
Yep Sure @leecalcote, I'll open an issue in the Kubesphere repo regarding the same.

[2022-06-15 06:41] karnatisrinivas commented on #5534
Hello @KrishAryan, Are you working on this?

[2022-06-15 12:57] Revolyssup opened #5618 "Sortable Columns on the Integration Test Results pages"
#### Current Behavior

[This](https://docs.meshery.io/project/compatibility-matrix/meshery-linkerd-past-results) page currently doesn't have proper sorting on columns.
#### Desired Behavior

Add proper sorting on each column.
#### Implementation

#### Acceptance Tests

#### Mockups

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Relea

[2022-06-15 16:40] #5610 closed

[2022-06-15 17:48] #5260 closed

[2022-06-15 17:49] leecalcote commented on #5282
@gr455 have you worked with Meshery Errors before?

[2022-06-15 18:30] gr455 commented on #5282
@leecalcote absolutely. I'll clean this one up

[2022-06-15 18:44] leecalcote commented on #5282
@gr455 oh, that's excellent. Thank you. 👍

[2022-06-15 19:02] leecalcote opened #5622 "[UI] Applications: Grid View"
#### Current Behavior
Applications only support a table view currently.

#### Desired Behavior
Applications to have a grid view akin to that of Designs

#### Implementation
Same as Designs, but:

1. without the Design Configurator button.
1. without the "Create Design" button.

#### Acceptance Criteria
1. Users can use either the grid view or the table view to perform the same tasks.

---

#### Co

[2022-06-15 19:04] leecalcote opened #5623 "[UI] Filters: Grid View"
#### Current Behavior
Filters only support a table view currently.

#### Desired Behavior
Filters to have a grid view akin to that of Designs

#### Implementation
Same as Designs, but:

1. without the Design Configurator button.
1. without the "Create Design" button.2.

#### Acceptance Criteria
1. Users can use either the grid view or the table view to perform the same tasks.

---

#### Contributo

[2022-06-15 20:54] leecalcote commented on #2515
@asubedy feedback:

https://user-images.githubusercontent.com/7570704/173926448-86cd5fa5-4642-4b78-9a8e-634c26d73450.mov

[2022-06-15 23:26] #5426 closed

[2022-06-15 23:26] leecalcote commented on #5426
Ok, yes.

[2022-06-16 15:28] leecalcote opened #5628 "[REST API] Update all Application's Endpoints"
#### Current Behavior
A REST API docs update is needed to clarify undeploy behavior.

- Update application endpoints wrt to types and download.

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for contributing to documentation](https://github.com/mes

[2022-06-16 20:29] #5282 closed

[2022-06-17 04:23] Rohith-Raju commented on #5599
I have overridden mui styles by adding a hover selector in index.css

https://user-images.githubusercontent.com/55309324/174224394-e2d91430-202e-4235-874f-48cfacfa9e83.mp4

[2022-06-17 19:58] #4582 closed

[2022-06-17 20:09] leecalcote commented on #5068
@Abhishek-kumar09 or @MarioArriaga92 are you able to create this?

[2022-06-17 20:15] #5599 closed

[2022-06-17 20:29] leecalcote opened #5643 "[Docker Compose] Gracefully handle 3.4 and above"
#### Current Behavior
Meshery Server crashes on import of Docker Compose yaml with version 3.9.

#### Expected Behavior
Gracefully reject 3.4 and above.

#### Screenshots/Logs
[code]

#### Environment

- **Meshery Server Version:** stable-v0.6.0-rc.5x

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshe

[2022-06-18 00:42] #5194 closed

[2022-06-18 12:14] #5643 closed

[2022-06-18 12:31] #5598 closed

[2022-06-20 11:54] harkiratsm commented on #5572
@theBeginner86 Can I work on this issue .

[2022-06-20 16:56] leecalcote opened #5654 "[Helm] Meshery Adapter for Cilium being deployed under Meshery Operator chart"
#### Current Behavior
In Meshery deployments to `docker` as the platform, the Meshery Adapter for Cilium being deployed to the `meshery` namespace along with the Meshery Operator and its custom controllers. The Meshery Adapter for Cilium being deployed under Meshery Operator chart and is failing to start.

#### Desired Behavior
This adapter should not be deployed under the [Meshery Operator chart]

[2022-06-20 18:45] #5301 closed

[2022-06-20 18:54] leecalcote commented on #5654
@hershd23 fyi

[2022-06-20 19:14] hershd23 commented on #5654
Will look into it

[2022-06-20 19:25] leecalcote commented on #5654
I'm nearly certain this is an issue that I have caused.

[2022-06-20 20:32] leecalcote commented on #5572
@harkiratsm, good of you to ask. Have you read the contributing guides in docs.meshery.io? Are you able to compile `mesheryctl`?

[2022-06-21 05:31] harkiratsm commented on #5572
@leecalcote Yeah I have the understanding & I can take this issue .

[2022-06-22 15:05] leecalcote opened #5658 "[Docker Extension] Empty State needed for “Deploy a Service Mesh”"
#### Current Behavior
When no Meshery Adapters are present, the “Deploy a Service Mesh” section is empty, leaving users potentially confused.

<img width="526" alt="Screen Shot 2022-06-22 at 9 57 58 AM" src="https://user-images.githubusercontent.com/7570704/175062527-6c4cac16-0321-40c1-8126-61d1ae29f6f6.png">

#### Desired Behavior
Show an empty state message, providing information to the user.

#

[2022-06-22 17:30] Revolyssup opened #5660 "[Docs] Reflect the number of supported components of each version in meshery docs"
#### Current State
We do not show the number of supported components for each adapter. These can be found in templates/oam/workloads in each adapter.

#### Desired State
Use those versioned directories to reflect the number of supported components in docs per service mesh

---

#### [Contributor Guides](https://docs.meshery.io/project/contributing) and Resources
- 📚 [Instructions for contributing

[2022-06-23 07:41] harkiratsm commented on #5658
@leecalcote Can I work on this issue

[2022-06-23 10:29] kayceeDev commented on #5571
Hi @srrathi, What is your status on this issue? Have you made a PR?

[2022-06-23 10:35] kayceeDev commented on #5519
I will take a look at this issue. Do I need to have both meshery server and the UI server running simultaneously?

[2022-06-23 11:11] MUzairS15 commented on #5519
Yes @kayceeDev

[2022-06-23 17:31] leecalcote opened #5663 "[Docs] Releases: v0.6.0" should not be a published release."
#### Current State
"v0.6.0" should not be a published release. I believe this is an orphaned artifact of an accidental release.

#### Desired State
This docs page should be deleted.

---

#### [Contributor Guides](https://docs.meshery.io/project/contributing) and Resources
- 📚 [Instructions for contributing to documentation](https://docs.meshery.io/project/contributing/contributing-docs)
   - Mesh

[2022-06-23 17:52] hershd23 opened #5664 "[mesheryctl] `app onboard` behaviour is inconsistent"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

It sometimes does not onboard the app the first time around

#### Desired Behavior

The app onboard experience should be seamless

#### Screenshots/Logs

The runner performed these steps already, but gets no pods. On redoing these steps the pods now appear
[code]

#### Environment

-

[2022-06-23 17:52] hershd23 commented on #5664
@leecalcote @Revolyssup @gr455

[2022-06-23 18:19] leecalcote commented on #5664
Thank you, @hershd23 👍

[2022-06-23 20:14] leecalcote opened #5667 "[Chore] Minimizing the number of files in the root directory of Meshery"
### Discussed in https://github.com/meshery/meshery/discussions/3210

<div type='discussions-op-text'>

<sup>Originally posted by **leecalcote** June 14, 2021</sup>
Proposal to restructure the top-level folder structure of `meshery/meshery` by major architectural component, for example:
[code]
</div>

[2022-06-23 20:14] leecalcote commented on #5667
@Revolyssup

[2022-06-23 20:45] Chadha93 opened #5668 "[Filters] Seed content for Filters for Meshery Provider"
#### Current Behavior
Currently, sample filters are only present for none/local provider.

#### Desired Behavior
Seed content for Filters for Meshery Provider

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for contributing to documentation](https:/

[2022-06-23 20:47] leecalcote commented on #5658
Thanks, @harkiratsm

[2022-06-23 21:47] leecalcote opened #5669 "[UI] "Deploy" icon not scaling on zoom in"
#### Current Behavior
In the Applications page, the "Deploy" checkmarks button doesn't scale properly when web browser is zoomed in.

This same behavior is likely to be found in the Filters and Designs pages. These, too, should be verified.

#### Screenshots/Logs
<img width="259" alt="Screen Shot 2022-06-23 at 12 35 51 PM" src="https://user-images.githubusercontent.com/7570704/175407921-bfb04eec-d

[2022-06-23 21:49] leecalcote commented on #4896
Fixed.

[2022-06-23 21:49] #4896 closed

[2022-06-23 21:50] leecalcote commented on #5250
@4molybdenum2 will you run a quick check and confirm that each the three Acceptance Tests are passing now? I think this issue is complete.

[2022-06-23 21:53] Santosh1176 commented on #5669
Hey, can I work on this?

[2022-06-23 22:11] leecalcote commented on #5669
Sounds real good, @Santosh1176. Please be aware of the fact that this issue is seen on Safari (and maybe other browsers). If you don't have access to a Mac, you'll need to identify another contributor in the community to assist in verifying your fix.

[2022-06-24 12:19] 4molybdenum2 commented on #5250
I will look into it

[2022-06-24 12:53] leecalcote commented on #5250
Thank you, @4molybdenum2

[2022-06-24 14:55] Santosh1176 commented on #5669
@leecalcote This looks good on chrome. I should have checked the Environment section before asking. Please unassign me for further process.
![un-deploy](https://user-images.githubusercontent.com/91916466/175561649-76456f60-07f8-49a9-99d9-31a0afeca22d.png)

[2022-06-24 18:59] Chadha93 commented on #5669
https://github.com/meshery/meshery/pull/5670

[2022-06-24 18:59] #5669 closed

[2022-06-24 19:19] leecalcote opened #5672 "[Catalog] Design: Istio+SPIRE"
#### Current Behavior
Istio+SPIRE is a deployment configuration supported by recent incorporation of this support in Istio. Meshery can configure this type of Istio deployment.

#### Desired Behavior
Make it easy for users to deploy this model configuration with a pre-defined design pattern.

#### Implementation
1. Using this [helm chart](https://github.com/HewlettPackard/Mithril/pull/10/files#dif

[2022-06-24 19:23] MUzairS15 commented on #5613
https://github.com/meshery/meshery/pull/5611

[2022-06-24 19:23] #5613 closed

[2022-06-24 23:18] leecalcote commented on #5672
// @mchurichi

[2022-06-25 09:38] Rohith-Raju opened #5675 "[CI] Update The Tests To Avoid Use Of Display Text."
#### Current Behavior
Cypress tests are failing because the content was updated recently
![image](https://user-images.githubusercontent.com/55309324/175767747-e992a10b-64bb-4c68-a139-521e0d24cd9a.png)

#### Desired Behavior
Update the test cases.

#### Implementation

#### Acceptance Tests

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build

[2022-06-25 10:46] hershd23 commented on #5654
https://github.com/meshery/meshery/tree/master/install/kubernetes/helm/meshery-operator#readme

The enabled value for this is set to false under meshery-operator.

@leecalcote all service mesh adapters are there in the meshery-operator chart. Do we want to remove the cilium chart from there?

[2022-06-25 10:55] gr455 commented on #5664
This seems like an incompatibility with multicluster. Let me have a go at this

[2022-06-25 12:21] karnatisrinivas commented on #5607
Hello @asubedy, I've tried to analyze the issue but I haven't found any leads.

-> Currently, we are sorting stable channels based on their " Meshery-component-version", (This approach is working except for Cilium)
-> I tried to change the Sort condition to "timestamp" from " Meshery-component-version". By this approach, the results are showing only for 3 Adapters.
-> Cilium only has stable versio

[2022-06-26 06:27] Rohith-Raju opened #5682 "[Bug] Can't start Meshery with mesheryctl when Meshery extesnion is installed"
#### Current Behavior
Meshery was running fine locally before installing the Meshery extension. After which it bugged out
[code]
#### Expected Behavior
Meshery should start without bugging out
#### Screenshots/Logs
![image](https://user-images.githubusercontent.com/55309324/175802296-668118a0-5c80-460d-b1bc-8756e82396d3.png)
![image](https://user-images.githubusercontent.com/55309324/175802366-e40

[2022-06-26 06:30] Rohith-Raju opened #5683 "[UI]Meshery Extension logout button not alligned"
#### Current Behavior
Meshery Extension's logout button  is not aligned after a user is logged in

![image](https://user-images.githubusercontent.com/55309324/175802458-aae0efdd-e8ff-4954-ab1c-d35dff3c0c97.png)

#### Desired Behavior
The logout button should be aligned

#### Environment

- Browser: Chrome Safari Firefox
- Host OS: Mac Linux Windows
- Meshery Server Version: stable-v
- Meshery Clie

[2022-06-26 07:47] StarTrooper08 commented on #5683
Hey @Rohith-Raju are you working on this issue!?

[2022-06-26 11:38] warunicorn19 commented on #5682
This isn't a bug, one of the servers would have to stop since they both run on the same port.

Hence the message `port already allocated`

[2022-06-26 12:40] leecalcote commented on #5682
Running two Meshery Servers in the same host will require that one of the servers listen to a port other than 9081. You can customize one of the deployments to do this, or you can shut down one of the deployments and only run one Meshery Server instance at a time.

[2022-06-26 12:40] #5682 closed

[2022-06-26 14:12] Rohith-Raju commented on #5682
Ahh knew it !!, thanks guys

[2022-06-26 14:25] Rohith-Raju commented on #5683
Yes,@StarTrooper08

[2022-06-26 14:46] StarTrooper08 commented on #5683
Ok👍

[2022-06-27 06:33] Rohith-Raju commented on #5683
@leecalcote @warunicorn19
![image](https://user-images.githubusercontent.com/55309324/175874477-c77d67f5-ff33-4704-b743-73c3652e00ac.png)

[2022-06-27 07:03] karnatisrinivas commented on #5386
Opened a PR in KubeSphere for the Meshery Installation guide from Kubesphere App store

https://github.com/kubesphere/website/pull/2530

[2022-06-27 17:03] Revolyssup opened #5687 "[Server] Kubernetes: Cannot delete the last cluster"
#### Current Behavior

Meshery server has a logic which checks if there are any k8s contexts available and if not then it assumes that it must be users first request and loads the kubeconfig
#### Expected Behavior

The other possible assumption is that user has voluntarily deleted the last context and there are none left. Currently that case is not considered and Meshery server loads all the conte

[2022-06-27 18:20] #5683 closed

[2022-06-27 21:30] leecalcote opened #5689 "[UI] Settings: Upload K8s Config - Swap position of two buttons"
#### Current Behavior
When adding a cluster, users are presented with this modal (screenshot) on the http://localhost:9081/settings Settings page.

<img width="640" alt="Screen Shot 2022-06-27 at 4 28 28 PM" src="https://user-images.githubusercontent.com/7570704/176038796-ae9da3c3-82c7-47ce-b7b4-a62fe5002591.png">

#### Desired Behavior
1. "Cancel" should be on the right side while "Upload" is on

[2022-06-28 02:16] Rohith-Raju commented on #5689
@leecalcote, I would love to work on this

[2022-06-28 06:33] leecalcote commented on #5689
Sounds great. Thanks, @Rohith-Raju

[2022-06-28 07:46] 4molybdenum2 commented on #5250
LGTM

[2022-06-28 22:22] Santosh1176 commented on #5689
@Rohith-Raju while you are working on this, also consider correcting the spelling as shown in the pic.
![D1628881-E66D-4361-8FA0-EBDFD08DC6BB](https://user-images.githubusercontent.com/91916466/176313295-b386c30f-35dd-4c0c-9ee3-c35dec780ed0.jpeg)

[2022-06-28 22:28] leecalcote commented on #5689
Good eye, @Santosh1176

[2022-06-29 09:33] Santosh1176 commented on #5689
@Rohith-Raju The config file upload functionality seems to be broken. Could you check at your end.

[2022-06-29 12:10] Kanika637 commented on #5667
Hey @leecalcote, can you give me a little more exposure to how can I work on this one?

[2022-06-29 12:19] leecalcote commented on #5663
@kanika637, would you like to try this one?

[2022-06-29 12:35] Kanika637 commented on #5663
Well @leecalcote , I would love to give it a try!

[2022-06-29 16:31] leecalcote opened #5703 "[Applications] Capture and display source type"
#### Current Behavior
Users can import Docker Compose, K8s Manifest, or Helm Chart as a Meshery Application. The Applications UI doesn't indicate Application source type.

#### Desired Behavior
Add column to the “Applications" table that signifies the original form of the App (Docker Compose, K8s Manifest, Helm Chart).

#### Implementation
1. Ensure that `source-type` is captured as an attribute o

[2022-06-29 16:33] Santosh1176 opened #5704 "Docs: Broken link for Install sample application"
#### Current State
The link to the Install sample application on the [lifecycle-management section](https://docs.meshery.io/functionality/lifecycle-management#workload-lifecycle-management) of the docs is broken.

#### Desired State
The link should redirect to the appropriate page.

---

#### [Contributor Guides](https://docs.meshery.io/project/contributing) and Resources
- 📚 [Instructions for con

[2022-06-29 17:15] #5623 closed

[2022-06-29 18:41] #5689 closed, assigned to Rohith-Raju

[2022-06-29 18:42] #5658 closed

[2022-06-29 19:31] leecalcote opened #5709 "[Docs] Add Docker Extension installation instructions via Extension Marketplace"
#### Current State
The [Docker Extension docs page](https://docs.meshery.io/installation/platforms/docker-extension) describes how to use `docker` cli to install the Meshery Extension.

#### Desired State
The docs should also describe how to use the Extension Marketplace inside of Docker Desktop. Screenshot(s) should be included.

---

#### [Contributor Guides](https://docs.meshery.io/project/cont

[2022-06-29 20:37] debo19 opened #5711 "[Docs] Add KubeSphere App Store as a supported platform for Meshery"
#### Current State
The [Supported Platforms docs page](https://docs.meshery.io/installation/platforms) does not have an entry for the integration of Meshery into the KubeSphere App Store. Refer #5386

#### Desired State
Create an entry for the recent addition of Meshery into the KubeSphere App store. Follow this [PR on KubeSphere Documentation](https://github.com/kubesphere/website/pull/2530) for

[2022-06-29 21:44] leecalcote commented on #4937
Let’s ensure this is completely addressed.

[2022-06-29 21:45] leecalcote commented on #5091
@Revolyssup a bit of docs update needed.

[2022-06-29 22:52] #5622 closed, assigned to Chadha93

[2022-06-30 03:44] leecalcote commented on #4937
@Abhishek-kumar09 yoy might have a look-see here.

[2022-06-30 05:34] harkiratsm commented on #5709
Can I work on this issue .

[2022-06-30 05:39] leecalcote commented on #5709
Sounds real good. I wasn't sure if @Rohith-Raju was going to jump in or not, but yes, please carry this forward, @harkiratsm

[2022-06-30 07:01] Rohith-Raju commented on #5709
@leecalcote i was gonna jump into it but i don't want to steal all the good first issues 😆. @harkiratsm please feel to ask me if you run into any problems 😄 .

[2022-06-30 07:59] codrAlxx commented on #5711
Hello, @leecalcote  @debo19 I would like to work on this issue.

[2022-06-30 11:23] leecalcote commented on #5709
😎

[2022-06-30 14:08] Revolyssup opened #5713 "Unresolved references in schemas generated from Kubernetes"
#### Current Behavior

Currently of all the schemas generated from kubernetes, `CustomResourceDefinition` has unresolved "$ref"
#### Expected Behavior

Inspect the issue and resolve the references to produce valid schema
#### Screenshots/Logs

#### Environment

- **Host OS:** Mac Linux Windows
- **Platform:** Docker or Kubernetes
- **Meshery Server Version:** stable-v
- **Meshery Client Version:**

[2022-06-30 18:46] leecalcote commented on #5704
Thank you, gents. 👍

[2022-06-30 19:06] MUzairS15 opened #5714 "[UI] Add deployment modal for Grid view"
#### Current Behavior

Add Deployment modal that is seen in Lifecycle page when a un/deploy action is performed in Grid View of Filter, Applications and Patterns.
#### Desired Behavior

#### Implementation

Reference: https://github.com/meshery/meshery/blob/b99f80e42b8dbbf14b8a72ff28bd2ab48d095188/ui/components/MesheryApplications.js#L736
#### Acceptance Tests

#### Mockups

---

#### Contributor

[2022-06-30 19:11] leecalcote commented on #5714
Let's keep the person implementing this (@MUzairS15), so that the UX is consistent.

[2022-06-30 19:28] Chadha93 opened #5715 "[UI] Navigator Active Tab Enhancement"
#### Current Behavior
Currently, The active tab is not highlighted/representing that it is active/opened.
![Not-Active](https://user-images.githubusercontent.com/65453826/176761075-b2584887-575f-45d3-a196-96c55a7006be.png)

#### Desired Behavior
Let's have it highlighted to represent that the particular tab is active/opened.
![Active](https://user-images.githubusercontent.com/65453826/176761464-82

[2022-07-01 06:52] manikmmalhotra commented on #5715
hey @leecalcote i would love to work on this issue.

[2022-07-01 07:38] hs-07 commented on #5715
hey, the mentioned figma file is currently unavailable, is there any other link of figma file?

[2022-07-01 11:10] leecalcote commented on #5654
@Revolyssup

[2022-07-01 14:47] arunkarthicknm commented on #5704
Can I take up this issue please? :)

[2022-07-01 16:32] codrAlxx commented on #5711
I have made the PR @leecalcote @debo19 . It would be nice of you if you could review it.

[2022-07-01 18:37] leecalcote opened #5738 "[UI] Settings: Disallow upload of image files in kubeconfig file browser"
#### Current Behavior
In the **Settings** page, when a user uploads a doc PNG file, they received the following notification -

#### Desired Behavior
The file browser component should disallow upload of images.

#### Screenshots/Logs
<img width="455" alt="Screen Shot 2022-07-01 at 10 55 44 AM" src="https://user-images.githubusercontent.com/7570704/176952310-d36775d2-ac58-4eee-a042-d4ffb10e5dc2.png

[2022-07-01 21:14] Santosh1176 commented on #5738
Hey @lee, can I work on this?

[2022-07-02 03:46] Akshit42-hue commented on #5738
Go ahead @Santosh1176

[2022-07-02 06:06] Santosh1176 commented on #5738
Thank you!

[2022-07-02 10:26] harkiratsm commented on #5703
Can I work on this issue @leecalcote

[2022-07-02 10:53] leecalcote commented on #5703
Thanks for asking, @harkiratsm. Apologies, this one has been earmarked for @theBeginner86.

[2022-07-03 06:11] Revolyssup commented on #5654
@hershd23 Did you try to repro this? If you run Meshery, it deploys it's custom controllers using the operator helm chart but somehow a cilium deployments also kicks in with the same helm chart. So it is to investigate as to what overrides and where is causing this issue.

[2022-07-03 07:43] harkiratsm opened #5747 "[UI] Docker Extension Upload of image in browse compose app"
#### Current Behavior

In Docker Extension , when user upload any other file type like png it still show the message uploaded.

#### Desired Behavior

Disallow the upload of images .

#### Screenshots/Logs

![image](https://user-images.githubusercontent.com/71957674/177030193-9bf8ff36-e994-47f9-ac95-90f055339788.png)

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and

[2022-07-03 07:45] manikmmalhotra commented on #5747
@harkiratsm i would like to solve this issue

[2022-07-03 13:01] gr455 commented on #5529
Closing because done :tada:

[2022-07-03 13:01] #5529 closed

[2022-07-04 09:18] manikmmalhotra commented on #5525
@Chadha93 can i work on this issue if it's still open

[2022-07-04 11:34] debo19 commented on #5386
@karnatisrinivas will you share this update on the websites call today?

[2022-07-04 12:03] sumitshinde2608 commented on #5715
hey @Chadha93 I would like to take up this issue

[2022-07-04 12:20] legendarykamal commented on #5714
@leecalcote  if you could pls add some issues to the good first issues , it would be quite helpful as there are just 4 that too assigned !

[2022-07-04 13:26] leecalcote commented on #5714
@legendarykamal be sure that you are looking across I’ll the Meshery GitHub orgs.

[2022-07-04 15:04] #5747 closed

[2022-07-04 15:15] #5738 closed

[2022-07-04 16:31] Revolyssup opened #5752 "[mesheryctl] Misleading error on invalid meshconfig"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

If I have an ill-formatted config.yaml inside .meshery directory and I try to execute any mesheryctl command, it results in the error shown below which is misleading as the actual issue the invalid yaml
<img width="820" alt="Screenshot 2022-07-04 at 9 58 49 PM" src="https://user-image

[2022-07-04 17:08] hershd23 commented on #5654
[code]

Strange not able to reproduce it

[2022-07-04 19:26] leecalcote opened #5755 "[Extension] Docker: Change order of screenshots"
#### Current Behavior
This screenshot is displayed first in the details view of Meshery in the Docker Extension Marketplace:
<img width="1047" alt="Screen Shot 2022-07-04 at 2 25 19 PM" src="https://user-images.githubusercontent.com/7570704/177208803-8c2f7bd7-82f7-48c7-b0fd-51178aac6082.png">

#### Desired Behavior
Let's change the order so that the more intriguing screenshot of MeshMap is shown.

[2022-07-04 22:26] leecalcote opened #5757 "[Server] Sample application deployment failure: k8s handler"
#### Current Behavior
Using Local Provider, deploying any Application fails with the following error log:

[code]

<img width="502" alt="Screen Shot 2022-07-04 at 5 24 17 PM" src="https://user-images.githubusercontent.com/7570704/177221855-92c0c455-a070-456c-b1dc-e7ca89a7d46c.png">

#### Environment

Meshery has active connection to Kubernetes and Meshery Operator deployed with MeshSync connected.

[2022-07-05 01:43] harkiratsm commented on #5755
Can I work on this @leecalcote

[2022-07-05 02:35] leecalcote commented on #5755
That’d be great, @harkiratsm 👍

[2022-07-05 03:35] Santosh1176 commented on #5752
Hey @Revolyssup Can I work in this?

[2022-07-05 05:37] sumitshinde2608 commented on #5571
@leecalcote if @srrathi isnt working on it, I would like to contribute to it

[2022-07-05 08:55] Revolyssup commented on #5757
@leecalcote  This is not specific to provider. This issue is caused by missing middleware for `/api/application/deploy`

// fyi @sudo-NithishKarthik  you missed this endpoint. No sweat, I am adding it

[2022-07-05 09:53] sudo-NithishKarthik commented on #5757
Thank you @Revolyssup 😄

[2022-07-05 10:05] Revolyssup opened #5760 "[UI] No request being sent when application is saved or deleted from Applications page"
#### Current Behavior

Currently if you edit any application and try to save it, a loading snackbar appears but no API call is made to the backend.
The same issue persists when somone clicks on delete for that application.
#### Desired Behavior

#### Screenshots/Logs

#### Environment

- Browser: Chrome Safari Firefox
- Host OS: Mac Linux Windows
- Meshery Server Version: stable-v
- Meshery Client

[2022-07-05 10:44] harkiratsm commented on #5760
Can I work on this issue @Revolyssup

[2022-07-05 12:38] Pritishchugh22 commented on #5752
@Revolyssup Please assign this issue to me

[2022-07-05 12:40] Pritishchugh22 commented on #5760
@Revolyssup Please assign this issue to me

[2022-07-05 12:40] leecalcote commented on #5752
@Santosh1176 @Pritishchugh22 thanks for jumping in. Please confirm that you've read the style guide for Meshery CLI in the Meshery Docs Contributing section and that you're able to build and run `mesheryctl` and Meshery Server.

[2022-07-05 12:41] leecalcote commented on #5675
@Pritishchugh22 good to have you here. Have you worked with Cypress before?

[2022-07-05 13:40] Santosh1176 commented on #5752
@leecalcote Yes, I've gone through the Docs for contributing to Meshery CLI and almost resolved this issue. I'll confirm, if this is the desired outcome and raise a PR.

[2022-07-05 14:58] Pritishchugh22 commented on #5752
@leecalcote Yes I have also gone through the required documents and would like to work on this.

[2022-07-05 15:00] Pritishchugh22 commented on #5675
Hi @leecalcote
I have worked a little with Cypress but I'll go through the issue and try to fix it as soon as possible. Could you please explain me a little about this issue

[2022-07-05 15:15] Rohith-Raju commented on #5675
@Pritishchugh22 if you haven't joined the Cypress-testing channel on slack, please do.

[2022-07-05 22:02] Chadha93 commented on #5715
@leecalcote UX views/suggestions on this issue?

[2022-07-05 22:06] leecalcote commented on #5715
There are a few mockups on this that are worth reviewing - https://www.figma.com/file/SMP3zxOjZztdOLtgN4dS2W/Meshery-UI?node-id=3785%3A23504

[2022-07-05 22:24] #5760 closed

[2022-07-06 13:13] alphaX86 opened #5766 "[mesheryctl] Design `app import` command"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

Currently `mesheryctl` is void of the import subcommand which helps in importing existing app files easily

#### Implementation

Refer design spec

#### Acceptance Tests

Refer design spec

#### Mockups

TBD

---

#### Contributor Resources

- ⌨️ [mesheryctl Contributing Guide](https:

[2022-07-06 13:15] alphaX86 opened #5767 "[mesheryctl] Design `filter import` subcommand"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

Currently `mesheryctl` is void of the import subcommand which helps in importing WASM filter files easily

#### Implementation

Needs design spec to be created

#### Acceptance Tests

TBD

#### Mockups

TBD

---

#### Contributor Resources

- ⌨️ [mesheryctl Contributing Guide](https:/

[2022-07-06 13:18] leecalcote commented on #5767
`app import`, if you please.

[2022-07-06 14:26] manikmmalhotra commented on #5752
@Revolyssup i would like to work on this issue

[2022-07-06 14:28] Revolyssup commented on #5752
@Pritishchugh22  , Sorry I missed this chat. @manikmmalhotra  grabbed this issue in today's dev call. You can find some other good first issues around. I will assign you on the next one.

[2022-07-06 15:07] jbyers19 commented on #5395
This is still an issue.

[2022-07-06 15:10] jbyers19 commented on #5357
This is still an issue. #5395 is a duplicate of this one, but contains more details about the root problem so closing this one instead.

[2022-07-06 15:10] #5357 closed

[2022-07-06 19:04] #5755 closed

[2022-07-06 19:04] #5757 closed

[2022-07-06 19:22] #5664 closed

[2022-07-07 04:15] leecalcote opened #5768 "[Docs] Represent Meshery's broader management capabilities"
**Current Behavior**
Meshery manages all kinds of cloud native infrastructure. Branding it as a service mesh manager only misrepresents the full-breadth of its capabilities.

**Desired Behavior**
Replace most, but not all, instances of "service mesh" with "cloud native". Examples: "service mesh manager", "service mesh management plane", "multi-mesh manager", "multi-mesh management plane"... these

[2022-07-07 05:26] leecalcote commented on #5768
Sounds great.

[2022-07-07 13:47] leecalcote opened #5769 "[Extensions] Docker: No service mesh adapters detected"
#### Current Behavior
Service mesh adapters are present, but are reported as not detected.

What is the logical test being used to determine if adapters are available?

#### Expected Behavior
Present adapters should be shown as available.

#### Screenshots/Logs
<img width="2436" alt="Screen Shot 2022-07-07 at 8 43 01 AM" src="https://user-images.githubusercontent.com/7570704/177789124-bd9370c8-1be

[2022-07-07 15:19] harkiratsm commented on #5769
@leecalcote Can I work over this issue .

[2022-07-07 16:28] #5711 closed

[2022-07-07 18:07] Pritishchugh22 commented on #5675
Also @leecalcote , I recently applied for mentorship program under Linux foundation. I am not quite aware of the process required for me to get selected as a mentee in the same. Could you please guide me regarding how can I contribute to it and also what is the process for getting shortlisted.

[2022-07-07 19:28] AugustasV opened #5771 "[Docs] Pattern Management Through Meshery CLI can't apply file directly"
#### Current State
Command give different output, I can't attach file locally via mesheryctl
[code]

#### Desired State
applied pattern

---

#### [Contributor Guides](https://docs.meshery.io/project/contributing) and Resources
- 📚 [Instructions for contributing to documentation](https://docs.meshery.io/project/contributing/contributing-docs)
   - Meshery documentation [site](https://docs.meshery.

[2022-07-07 19:37] leecalcote opened #5772 "[Applications] Improper classification of Application type"
#### Current Behavior
Any yaml passed in Applications is being classified as docker compose now.
This always returns true -
[meshery_application_handler.go](https://github.com/meshery/meshery/blob/37899577a6a388d23a9d759c691ed620abd9b643/handlers/meshery_application_handler.go)

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release S

[2022-07-07 21:56] leecalcote opened #5774 "[UI] Design Configurator: Only Meshery version displaying for Kubernetes components"
#### Current Behavior
<img width="389" alt="Screen Shot 2022-07-07 at 4 55 11 PM" src="https://user-images.githubusercontent.com/7570704/177878062-7b51d45d-885a-4ce9-9693-6812292ef928.png">

#### Desired Behavior
Kuberenetes version should be displayed.

#### Environment

- Browser: Safari
- Host OS: Mac
- Meshery Server Version: stable-v0.6.0-rc.6b
- Platform: Local

---

#### Contributor [Guides

[2022-07-08 05:11] sumitshinde2608 commented on #5774
@leecalcote I would like to work on it

[2022-07-08 08:16] alphaX86 opened #5776 "[Docs] Create screenshot column in `mesheryctl` reference section"
#### Current State
Currently the docs is void of screenshot section in mesheryctl reference

#### Desired State
Screenshot section should be added in the mesheryctl ref section of docs site

---

#### [Contributor Guides](https://docs.meshery.io/project/contributing) and Resources
- 📚 [Instructions for contributing to documentation](https://docs.meshery.io/project/contributing/contributing-docs)

[2022-07-08 17:16] harkiratsm commented on #5769
This might have occurred due to ```emptystate``` not getting updated immediately.

[2022-07-08 21:29] #5772 closed

[2022-07-08 21:30] #5525 closed

[2022-07-09 04:12] Rohith-Raju commented on #5675
@Pritishchugh22 Here's the link to slack channel [slack]( http://slack.layer5.io/). Also please make sure you fill out the [newcomer's](https://layer5.io/community/newcomers) form

[2022-07-09 05:42] harkiratsm opened #5782 "[Docker Extension] Mesh Adapters are not present"
#### Current Behavior

Currently if any one of the mesh adapters is not present we don't tell the user that it not present .

#### Desired Behavior

We should tell user about the mesh adapters which are not present .

#### Implementation

I would list out those mesh adapters which are not present using ```snackbar```

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Reso

[2022-07-09 06:02] subhradwip01 opened #5783 "[UI] Different color for the "undeploy" checkmarks on the Applications page"
#### Current Behavior

Currently, it has the same blue/green color as other elements in the UI.
#### Desired Behavior

 Since it is a delete action, it would be good if this was using the same red color as used by the undeploy button is using in the grid-based view on the applications page.
#### Implementation

#### Acceptance Tests

#### Mockups

---
#### Contributor [Guides](https://docs.meshery

[2022-07-09 09:44] #5769 closed

[2022-07-09 11:03] manikmmalhotra opened #5785 "Repetition in table of contents in Docs"
#### Current Behavior

In documentation table of content  for some headings are repeating their content

#### Expected Behavior

there shouldn't be repetition in table of content which affect the scroll highlight view too.
#### Screenshots/Logs

Overview
![Screenshot from 2022-07-09 16-28-35](https://user-images.githubusercontent.com/63007399/178102814-75bd4097-05b8-44ad-9959-5fedeaf10ba0.png)

Co

[2022-07-09 12:06] warunicorn19 commented on #5785
Will you be working on this @manikmmalhotra ?

[2022-07-09 12:11] manikmmalhotra commented on #5785
@warunicorn19 i would like to work on this issue.

[2022-07-09 13:08] leecalcote commented on #5785
Thanks!

[2022-07-10 03:10] legendarykamal commented on #5704
@Santosh1176 please assign this issue to me , I would like to work on this :)

[2022-07-10 04:36] arunkarthicknm commented on #5704
That issue is closed :) @legendarykamal

[2022-07-10 05:16] leecalcote commented on #5704
Thank you, gents.

[2022-07-10 05:16] #5704 closed

[2022-07-10 10:01] nishantwrp opened #5786 "[mesheryctl] running version command shouldn't require config file"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
After doing a fresh installation of `mesheryctl` and running `mesheryctl version`, I get the following output.

[code]

#### Desired Behavior
Seeing the version of cli shouldn't require any config file to be present. I understand that it may need the config file to fetch the version of

[2022-07-10 11:04] subhradwip01 commented on #5783
@leecalcote Is this color okay?
![Screenshot from 2022-07-10 16-32-45](https://user-images.githubusercontent.com/88609894/178142215-59b33fd2-22d7-4e16-99d5-c6fae8167fed.png)

[2022-07-10 11:59] leecalcote commented on #5783
If it is the same color as the Undeploy button in grid view, yes. You can also confirm in Figma.

[2022-07-10 12:00] leecalcote commented on #5786
Good catch, @nishantwrp

[2022-07-10 12:01] subhradwip01 commented on #5783
Yes it is the same color as in the grid undeploy button

[2022-07-10 16:28] bishal7679 opened #5788 "[Docs] Typos in architecture.md"
#### Current State
The spelling is `Aapters` now

![Screenshot (182)](https://user-images.githubusercontent.com/70086051/178153789-a209e84a-b8af-4667-b7ce-f7d87ad4de71.png)

#### Desired State
This should be `Adapters`

---

#### [Contributor Guides](https://docs.meshery.io/project/contributing) and Resources
- 📚 [Instructions for contributing to documentation](https://docs.meshery.io/project/cont

[2022-07-10 16:29] bishal7679 commented on #5788
@leecalcote Can I fix this?

[2022-07-10 18:45] Pritishchugh22 commented on #5675
@Rohith-Raju Thank you so much 😄

[2022-07-10 18:54] Pritishchugh22 commented on #5675
Done :)

[2022-07-11 12:22] Akshit42-hue commented on #5788
Go ahead @bishal7679

[2022-07-11 14:50] #5788 closed

[2022-07-11 19:42] MUzairS15 commented on #3935
https://github.com/meshery/meshery/pull/4956
// @leecalcote

[2022-07-11 19:46] #3935 closed

[2022-07-11 21:11] leecalcote opened #5795 "[UI] Session Expired: Use warning colors for modal"
#### Current Behavior
This new Expired Session modal should be a warning not informational.

![Untitled](https://user-images.githubusercontent.com/7570704/178359075-fcccc5ef-c5d6-4516-9c30-28dbf5995ca7.png)

#### Desired Behavior
Use Warning sign, not Info sign:

- [warning sign](https://github.com/meshery/meshery/files/9087585/alert.svg.zip)

 Use the following colors:

- Dark yellow: #F0A303
- L

[2022-07-11 21:30] kingebere commented on #5795
I would love to work on this

[2022-07-11 23:13] leecalcote commented on #5795
@kingebere very good! That would be great. Will you give quick confirmation that you're able to successfully build Meshery UI (https://docs.meshery.io/project/contributing/contributing-ui)? Let's get you rolling in this item, thereafter.

[2022-07-11 23:24] kingebere commented on #5795
ok . Thank you

[2022-07-12 07:35] legendarykamal commented on #5795
Hi @leecalcote I confirm that I am able to run Meshery successfully on my system,
If @kingebere you are facing any problem, then pls pass this to me, I am interested in working on this. Thanks 🙂

[2022-07-12 12:17] leecalcote commented on #5795
in the meantime that @kingebere works through getting `make` onto his Windows machine or starts using WSL2 or the npm commands directly, let’s allow @legendarykamal to proceed with this issue and get another issue assigned to @kingebere when he’s ready.

[2022-07-12 14:17] alphaX86 commented on #5766
Design spec available for initial review:

https://docs.google.com/document/d/1OlrRdQOMOqx9Pwlp6vcxweBNdqv04BzsjtZcb4fDx-g/edit?usp=sharing

[2022-07-12 20:53] leecalcote opened #5800 "[Server] Reset Database: Panic on Reset"
#### Current Behavior
Database reset crashes Meshery Server

#### Screenshots/Logs
[code]

#### Environment

- **Host OS:** Mac
- **Meshery Server Version:** stable-v0.6.0-rc.6b

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for contributing to doc

[2022-07-12 21:07] nishantwrp opened #5801 "[CI] Include mesheryctl in edge releases"
#### Current Behavior
`mesheryctl` is currently only released in stable release channel.

#### Desired Behavior
Include `mesheryctl` in edge release channel as well.

#### Implementation
Needs research

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions

[2022-07-12 21:31] theBeginner86 opened #5802 "MeshSync data not being updated"
#### Current Behavior

Currently, MeshSync data is not automatically being updated in the local DB (mesherydb.sql). Because of which Meshery doesn't loads latest data in Visualiser.
It's usually the case when MeshSync is sending the data for the first time or Meshery's DB (mesherydb.sql) is empty to start with.

#### Expected Behavior

MeshSync data should be regularly updated with the changes in

[2022-07-13 07:22] #5783 closed

[2022-07-13 09:22] nishantwrp commented on #5801
Since `edge` releases mean every commit to the `meshery` repository. Homebrew already [supports](https://github.com/Homebrew/brew/blob/master/docs/Formula-Cookbook.md#unstable-versions-head) building from the head of the repository. Here is how the flow looks like

### Installation
`brew add mesheryctl --HEAD`

### Upgrading
`brew upgrade mesheryctl --fetch-HEAD`

Thoughts?

[2022-07-13 11:56] #5389 closed

[2022-07-13 12:21] leecalcote opened #5811 "[UI] Design Configurator: Overlapping text in code view"
#### Current Behavior
Yaml/text overlapping in the code viewer of the Design Configurator - http://localhost:9081/configuration/patterns

#### Screenshots/Logs
<img width="690" alt="Screen Shot 2022-07-13 at 6 49 53 AM" src="https://user-images.githubusercontent.com/7570704/178732056-012c65fd-4e49-4b5c-90b2-dbb3ccb0549d.png">

#### Environment

- Browser: Safari

---

#### Contributor [Guides](htt

[2022-07-13 12:32] manikmmalhotra opened #5812 "[Docs] tools section gets hidden in many components of docs"
#### Current State
Tools Section gets hidden behind header in many components
1. Concepts (https://docs.meshery.io/concepts)
2. Functionality (https://docs.meshery.io/functionality)
3. Guides (https://docs.meshery.io/guides)
4. Reference (https://docs.meshery.io/reference)
![Screenshot from 2022-07-13 17-59-26](https://user-images.githubusercontent.com/63007399/178734029-2c40ca35-3422-4df3-bc19-7f

[2022-07-13 13:47] subhradwip01 commented on #5811
Can  I work on that issue?

[2022-07-13 13:51] Chadha93 commented on #5811
Sure @subhradwip01

[2022-07-13 18:20] MUzairS15 commented on #5714
https://github.com/meshery/meshery/pull/5765

[2022-07-13 18:20] #5714 closed

[2022-07-13 18:43] Chadha93 opened #5815 "[UI] Update Patterns to Designs in Delete Modal and Toaster"
#### Current Behavior
Patterns are now updated to Designs, delete modal and snackbar is still showing patterns
![Screenshot from 2022-07-14 00-08-45](https://user-images.githubusercontent.com/65453826/178807380-3274e1f4-bf7f-4794-b321-28d5b6ff4330.png)
![Screenshot from 2022-07-14 00-08-55](https://user-images.githubusercontent.com/65453826/178807536-23b6bb5d-d08b-4291-a967-6bca55dc8cfe.png)

####

[2022-07-13 18:49] legendarykamal commented on #5815
Ok so the modal should disappear right? As soon as we delete

[2022-07-13 18:49] legendarykamal commented on #5815
I would like to work on this @Chadha93 🙂

[2022-07-13 18:52] Chadha93 commented on #5815
No, it is disappearing now also, that's not the issue. Just change the text form Patterns to Designs in Delete Modal and Toaster notification(Snackbar)

[2022-07-13 18:53] Chadha93 commented on #5815
@legendarykamal A quick check, are you able to build meshery locally? If Yes let's get you assigned.

[2022-07-13 21:34] #5768 closed

[2022-07-14 13:54] harkiratsm opened #5819 "[UI] Adding details for Applications / Filter"
#### Current Behavior

Currently If we don't have any application or filter present .

![image](https://user-images.githubusercontent.com/71957674/178997310-c0768d62-4c6f-4965-bffd-d055fd95ca2e.png)

#### Desired Behavior

We should tell the user about it  ```No Application found``` / ```No Filter Found``` , and also have a ```Import``` button from where user can import the ```application``` / ```

[2022-07-14 15:30] leecalcote opened #5822 "[UI] Designs: Actions Buttons Not Responsive"
#### Current Behavior
Action buttons (deploy, undeploy, design) escape their card in grid view on the Designs page.

#### Desired Behavior
High text label on smaller window sizes.

#### Screenshots/Logs
<img width="744" alt="Screen Shot 2022-07-14 at 10 28 30 AM" src="https://user-images.githubusercontent.com/7570704/179019622-4cf51ed1-4024-42f0-b087-da3a816bace2.png">

#### Environment

- Browser

[2022-07-14 16:18] Pritishchugh22 commented on #5822
Hi @leecalcote
Please assign me this issue. It would be a good first issue for me.
Thanks

[2022-07-14 16:51] leecalcote commented on #5822
Sounds great, @Pritishchugh22

[2022-07-14 18:17] #5785 closed

[2022-07-14 18:21] EleisonC commented on #5667
Hey @leecalcote I can take on this one on if it's still availble

[2022-07-14 18:53] Chadha93 commented on #5819
@harkiratsm Thank you for opening this issue, you can refer to the empty state detail for grid view from Designs.

[2022-07-14 22:59] leecalcote opened #5824 "[Server] Multi-Cluster: GraphQL Session Hijacked"
#### Current Behavior
Meshery has erratic behavior with three local Kubernetes clusters connected and is unusable. Clusters:

1. Docker Desktop
1. Minikube
1. KinD

Meshery Operator is deployed to each cluster. Meshery Server built and running locally. Local system has enough free resources (CPU and Mem).

Note: _WriteHeader on hijacked connection from github.com/99designs/gqlgen/graphql/handler/t

[2022-07-15 01:11] #5486 closed

[2022-07-15 01:14] leecalcote opened #5825 "[UI] Database Reset: Use dark red button color"
#### Current Behavior
The database reset action carries the high severity of data loss and should be visually represented in this way to the user.

<img width="520" alt="Screen Shot 2022-07-14 at 6 34 02 PM" src="https://user-images.githubusercontent.com/7570704/179126734-6fe413f7-4b7c-4cb9-be73-016fcb4bd739.png">

#### Implementation
1. Use the dark red theme color for the "PROCEED" button. See d

[2022-07-15 06:34] bhavyastar commented on #5825
I want to work on this issue, please assign this issue to me. 😀

[2022-07-15 08:57] leecalcote commented on #5825
Sounds good, @bhavyastar. If for any reason you are unable to complete this assignment within one week, please do unassign, so that another contributor may pick it up.

[2022-07-15 09:16] leecalcote commented on #5774
@Abhishek-kumar09 I left the "help wanted" label off of this PR, knowing that this isn't a simple fix.

@sumitshinde2608 thanks for signing up for this issue. If you don't have progress or fix by the end of today, let's get this resigned to @Abhishek-kumar09 and @Revolyssup, who have this longstanding backlog item on their to-do lists, and get you another issue less deceivingly difficult.

[2022-07-15 09:19] sumitshinde2608 commented on #5774
Sure @leecalcote. @Abhishek-kumar09 put a message in the slack that he would be working on it the day I was assigned the issue. Nevertheless will look for other issues

[2022-07-15 09:28] Chadha93 commented on #5715
// @manikmmalhotra

[2022-07-15 09:30] Taiwrash commented on #5504
Does t

Does this means, nobody is working on this? If yes, can I get paired to a mentor to kickstart something?

Thanks

[2022-07-15 09:30] leecalcote commented on #5167
P-p-p-poke

[2022-07-15 09:38] Chadha93 commented on #5667
@Kanika637 still up for this issue? If not let's get @EleisonC to take this assignment? Do join the Meshery Dev call or ask doubts on https://discuss.meshery.io/ or slack(relevant channel).

[2022-07-15 09:38] Revolyssup commented on #5774
@sumitshinde2608  There is a multi step process and will require changes across all adapters before making changes here.
This PR is the first in line https://github.com/meshery/meshery-istio/pull/447

[2022-07-15 09:41] Chadha93 commented on #5571
@sumitshinde2608. It seems @srrathi is not active anymore on this issue. You can go ahead with this.

[2022-07-15 09:48] Chadha93 commented on #5519
@warunicorn19 @theBeginner86 Is this still an issue? Let's close this one if not.

[2022-07-15 10:28] manikmmalhotra commented on #5715
@Chadha93 thanks

[2022-07-15 10:41] Kanika637 commented on #5667
Sure @EleisonC  go ahead!

[2022-07-15 12:21] EleisonC commented on #5667
Alright thank you @Chadha93

[2022-07-15 13:12] warunicorn19 commented on #5519
i  wasn't able to recreate this before either. Need confirmation from others.

[2022-07-15 14:44] theBeginner86 commented on #5519
I too can't reproduce this behaviour.

[2022-07-15 17:14] Chadha93 commented on #5519
Thank you for confirming @warunicorn19 @theBeginner86.

[2022-07-15 17:14] #5519 closed

[2022-07-15 17:14] leecalcote opened #5827 "[mesheryctl] System Dashboard: Prompt user when multiple contexts are available"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
When a the kubeconfig's current-context is unreachable, and multiple contexts are present in the kubeconfig, this is the behavior of `mesheryctl system dashboard`:

[code]

#### Desired Behavior
Ideally, `mesheryctl system dashboard` will prompt the user to identify the desired cluster

[2022-07-15 18:26] bhavyastar commented on #5825
Thanks @leecalcote for assigning this issue to me. 😀

[2022-07-15 18:39] nishantwrp commented on #4456
@leecalcote i'd like to work on this issue. is there any way i can reproduce this locally?

[2022-07-15 20:08] leecalcote opened #5828 "[UI] K8s Context Switcher: eliminate whitespace in context chip"
#### Current Behavior
Unnecessary whitespace exists between the K8s logo and the context name.

#### Screenshot
<img width="261" alt="Screen Shot 2022-07-15 at 3 07 07 PM" src="https://user-images.githubusercontent.com/7570704/179303194-618ca114-2ad7-4078-b113-e275097ba3ed.png">

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources

- 🎨 Wireframes and designs

[2022-07-16 11:23] amit-62 commented on #5827
Hi @leecalcote, I want to work on this issue, please assign it to me, it will be first issue for me.

[2022-07-16 12:02] leecalcote commented on #5827
Thanks for volunteering, @amit-62

[2022-07-16 18:46] nishantwrp commented on #5828
@leecalcote, i'd like to work on this issue.

[2022-07-16 18:51] nishantwrp commented on #4994
@leecalcote i wasn't able to reproduce this issue. Running `mesheryctl system stop` removed the namespace and  i get the following output.

[code]

[2022-07-17 11:21] nishantwrp commented on #5786
@leecalcote i'd like to work on this issue.

[2022-07-17 12:22] nishantwrp opened #5831 "[mesheryctl] cli doesn't handle incorrect commands correctly"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

**Without any args**

[code]

**Incorrect args**

[code]

**Correct command**
[code]

#### Desired Behavior

**Without any args**

[code]

**Incorrect args**

[code]

**Correct command**
[code]

#### Screenshots/Logs

#### Environment

- Host OS: Mac Linux Windows
- Meshery Server Ver

[2022-07-17 12:30] nishantwrp commented on #5831
@leecalcote can you please assign me this issue. I researched on this a bit and found some possible ways to show the error. Broadly there are two ways to handle this.

**Let cobra handle it**
[code]

**Custom handling**
[code]

IMO the first one would be better because it also shows some alternative commands if it's a slight misspell. The only benefit of going with the second approach is that we c

[2022-07-17 12:31] gr455 commented on #5831
The first one seems great!

[2022-07-17 12:49] leecalcote commented on #5831
I agree with @gr455 and acknowledge that the URL to the reference guide can still be offered when `-h` Is used.

[2022-07-17 12:59] nishantwrp opened #5832 "[mesheryctl] improve the error message when subcommand needs more arguments"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

Related to #5831

#### Current Behavior

[code]

#### Desired Behavior

Something similar to

[code]

#### Screenshots/Logs

#### Environment

- Host OS: Mac Linux Windows
- Meshery Server Version: stable-v
- Meshery Client Version: stable-v
- Platform: Docker Kubernetes

---

#### Contributor Resources
- [

[2022-07-17 14:12] haanhvu commented on #4755
@leecalcote @alphaX86 hey I think I can work on this now.

In general, we need to improve the `meshery/mesheryctl/internal/cli/root/system/system_test.go`, right?

I can start working on this. Along the way we can think of other necessary things to test.

[2022-07-17 14:22] harkiratsm commented on #5832
Already created a [pr](https://github.com/meshery/meshery/pull/5661).

[2022-07-17 14:27] nishantwrp commented on #5832
Thanks for letting me know @harkiratsm. Closing in favour of #5572.

[2022-07-17 14:27] #5832 closed

[2022-07-17 14:38] harkiratsm commented on #5831
@leecalcote I already had an open [pr](https://github.com/meshery/meshery/pull/5661) related to user friendly error, I can add this functionality to ```mesheryctl``` command as well, only if you and @nishantwrp allow me to do so.

[2022-07-17 14:58] nishantwrp commented on #5831
Sure @harkiratsm. Go ahead, I don't mind.

[2022-07-17 15:05] alphaX86 commented on #4755
@haanhvu certainly! Go ahead! You can start working on the idea you have right now

[2022-07-17 21:09] Pritishchugh22 commented on #5822
Hey @leecalcote
I am unable to access Figma

[2022-07-18 03:45] leecalcote commented on #5822
Send your email address in the Websites Slack channel to Nikhil Ladha, Gaurav Chadha…

[2022-07-18 03:49] leecalcote commented on #5831
Teamwork. 🙌

[2022-07-18 03:50] leecalcote commented on #4755
Excellent. 🙂

[2022-07-18 15:29] legendarykamal commented on #5812
HI, can i work on this @manikmmalhotra ?

[2022-07-18 16:16] Abhishek-kumar09 opened #5836 "NATS ping event should check the healthy state of NATS network connection and pod status"
The NATS ping button should ping and check the health status of connection to NATS server and as a result the Pod status and remains.
<img width="908" alt="Screenshot 2022-07-18 at 9 44 53 PM" src="https://user-images.githubusercontent.com/48255244/179555860-16ae1a61-b31c-4d58-b023-9c9986e80bbb.png">

Even on deleting the pods, Meshsync still pingable
#### Screenshots/Logs

#### Environment

- **H

[2022-07-18 18:19] manikmmalhotra commented on #5812
@leecalcote any suggestions here ??

[2022-07-18 20:31] nishantwrp opened #5839 "[mesheryctl] incorrect commands end up with 0 exit code"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

[code]

[code]

#### Desired Behavior

It should have a non-zero exit code.

#### Screenshots/Logs

#### Environment

- Host OS: Mac Linux Windows
- Meshery Server Version: stable-v
- Meshery Client Version: stable-v
- Platform: Docker Kubernetes

---

#### Contributor Resources
- [me

[2022-07-18 20:45] Chadha93 opened #5840 "[UI] Replace Confirmation Modal's Undeploy Color"
#### Current Behavior
The confirmation modals undeploy button color is not the same as the color used in designs/applications.
![Undeploy-btn-color](https://user-images.githubusercontent.com/65453826/179613871-09dd49dd-4d3a-4008-9bc7-edfac0f409c1.png)

#### Desired Behavior
Relace the confirmation modal's undeploy button color with    `background-color: #B32700; `. You could also refer to the desi

[2022-07-18 21:51] manikmmalhotra commented on #5840
@Chadha93 i can work on this

[2022-07-19 03:26] legendarykamal commented on #5840
hi @manikmmalhotra the issue has been resolved in my latest commit thanks

[2022-07-19 05:26] haanhvu commented on #5579
comment to remove stale status

[2022-07-19 06:23] #5828 closed

[2022-07-19 08:19] Chadha93 commented on #5840
@legendarykamal Please do ask for an issue assignment before making a PR for it. Do follow open source best practices. :)

[2022-07-19 11:43] legendarykamal commented on #5840
Ok sure @Chadha93 👍

[2022-07-19 16:27] #5800 closed

[2022-07-19 16:55] leecalcote opened #5845 "[UI] Unavailable, previously connected Kubernetes clusters causes unexpected error"
#### Current Behavior
Measure UI crashes with an unexpected error when previously previously connected communities customers are no longer available.

**Situation:**

3 clusters connected. 3 clusters turned off. Meshery UI refreshed on System--> Environment page

#### Screenshots/Logs
<img width="1988" alt="Screen Shot 2022-07-19 at 11 50 36 AM" src="https://user-images.githubusercontent.com/75707

[2022-07-19 16:56] leecalcote commented on #5845
@MUzairS15 FYI

[2022-07-19 17:25] subhradwip01 commented on #5845
Is anyone working on that issue?..If not can I?

[2022-07-19 22:03] #5825 closed

[2022-07-19 22:48] leecalcote opened #5849 "[Server] Multi-Cluster: Context listed twice"
#### Current Behavior
Minikube running with `--driver=vm` shows up twice in Environments when the same kubeconfig is uploaded more than once. See screenshot and Meshery Database attached below.

#### Screenshots/Logs

<img width="1043" alt="Screen Shot 2022-07-19 at 5 45 41 PM" src="https://user-images.githubusercontent.com/7570704/179860900-39f135f8-6685-4dee-a471-afb913df61b5.png">

[mesherydb.z

[2022-07-19 22:48] leecalcote commented on #5849
// @Revolyssup

[2022-07-19 22:56] leecalcote opened #5850 "[UI] Multi-Cluster: GraphQL Subscription for K8s Context Switcher"
#### Current Behavior
When a user removes a Kubernetes context from the context switcher and disconnects Meshery Server from that context, the list of connected contexts remains unchanged despite the fact that Meshery Server no longer manages that context.

#### Desired Behavior
The list of connected contexts should be dynamically updated through GraphQL subscription and not require the user to re

[2022-07-19 23:51] leecalcote opened #5851 "[UI] Performance Test: Endpoint field does not accept backslashes `/`"
#### Current Behavior
Users can paste, but not type the `/` character into the. endpoint field in performance tests.

See the modal under http://localhost:9081/performance --> "Run Test" button.

#### Desired Behavior
Users should be allowed to type this character in order to aid in protocol specification for the endpoint under test.

#### Screenshots/Logs
<img width="968" alt="Screen Shot 2022-07

[2022-07-20 02:14] legendarykamal commented on #5851
But things will work without the slash too in safari right ? @leecalcote pls elaborate little on the need of it .

[2022-07-20 04:43] leecalcote commented on #5851
Input field validation is likely preventing entry of `/`. I already depicted the need to identify the correct protocol for the performance test.

[2022-07-20 04:54] legendarykamal commented on #5851
Yes seeing the code I also feel so.
Mostly work in chrome, Let me download safari nd see then will get back to u.

[2022-07-20 06:27] manikmmalhotra commented on #5851
@leecalcote i can work on this one

[2022-07-20 10:29] leecalcote commented on #5851
Thanks, @legendarykamal. I think you’ll find that Safari is unavailable for download, which will make it difficult for you to take this issue without access to Safari.

[2022-07-20 10:34] legendarykamal commented on #5851
Ok @leecalcote in that case @manikmmalhotra can go ahead pls assign to him 🙂

[2022-07-20 10:49] Chadha93 commented on #5812
@manikmmalhotra it works fine for me? Did you encounterd this on any specific aspect ratio or browser?

[2022-07-20 10:52] manikmmalhotra commented on #5812
@Chadha93 i'm using brave browser and it shows error at every aspect ratio, for :
1. Concepts
2. Functionality
3. Guides
4. Reference
these content have this issue,except this all are working fine

[2022-07-20 10:57] Chadha93 commented on #5812
I'm also on brave. :)
![image](https://user-images.githubusercontent.com/65453826/179965730-1cab8d50-827a-462e-acad-3dd86d13af18.png)

[2022-07-20 10:58] manikmmalhotra commented on #5812
@Chadha93 the issue is on every browser

on specific components only which i listed above you can see clicking on this link: https://docs.meshery.io/concepts

[2022-07-20 11:01] manikmmalhotra commented on #5812
@Chadha93 sure i'll update the description and thanks for the assign

[2022-07-20 12:19] leecalcote commented on #5117
Uh-oh. Stale bot police have arrived. 🚨

[2022-07-20 12:32] sudo-NithishKarthik opened #5855 "Modify Meshery Operator's behaviour to provide intelligent networking abstractions"
#### Current Behavior
Users of Meshery bump into some networking issues with `meshery-broker`(the pub-sub communication platform for meshery). One such example is Minikube which does not have a default load-balancer implementation.

#### Desired Behavior
1. Make Meshery Operator self-discovering and self-reporting its static configuration to Meshery Server.
2. Make Meshery Operator / Meshery Serve

[2022-07-20 22:22] leecalcote opened #5857 "[UI] Environment: Change kubeconfig import button color"
#### Description
The color of the IMPORT button on the http://localhost:9081/settings page should be the theme color #607d8b.

#### Screenshots/Logs
<img width="590" alt="Screen Shot 2022-07-20 at 5 15 21 PM" src="https://user-images.githubusercontent.com/7570704/180092409-5469d221-f651-4502-be54-a3f4e9ccee8f.png">

See https://github.com/meshery/meshery/blob/master/ui/components/MeshConfigCompone

[2022-07-21 00:46] a-muk commented on #5857
Hello! Can I work on this issue?

[2022-07-21 02:32] bhavyastar commented on #5857
Hey, @leecalcote, I want to work on this issue and it has been done from my side just need 1 day to make a Pull request. Please assign this to me.

[2022-07-21 06:21] leecalcote commented on #5078
@Revolyssup @Abhishek-kumar09 Please confirm the status of this issue.

[2022-07-21 06:30] Chadha93 commented on #5857
Thank you for the heads-up @bhavyastar. You can make a quick fix here since you know where those changes have been made by you.🙂

[2022-07-21 06:32] Chadha93 commented on #5857
@a-muk Great you showed interest in this issue, will make sure to get you another issue.

[2022-07-21 08:59] gr455 commented on #5849
I can take this up

[2022-07-21 11:06] leecalcote commented on #5849
Thanks you, @gr455

[2022-07-21 12:19] legendarykamal opened #5861 "[UI] Use of make server"
#### Current Behavior

Its clearly mentioned in the docs about running make server command to serve the prebuilt components.
But it always responds with ERROR 127 command not found.
#### Desired Behavior

Either the working of the command should be improved or the neccessary changes should be done in the docs.

#### Screenshots/Logs

![image](https://user-images.githubusercontent.com/95926324/1802

[2022-07-21 12:21] legendarykamal commented on #5861
@leecalcote if changes in the docs are needed for this part, then I will like to do them

[2022-07-21 13:57] warunicorn19 opened #5862 "[UI] Yaml editor overflows off the screen."
#### Current Behavior
The yaml editor overflows off the screen.
<img width="1680" alt="Screenshot 2022-07-21 at 7 24 19 PM" src="https://user-images.githubusercontent.com/53532328/180231699-9babd578-aa75-4b9e-bb64-aded1d1d984d.png">

#### Desired Behavior
The editor should have a horizontal scroll instead.

#### Screenshots/Logs

#### Environment

- Browser: Chrome Safari Firefox
- Host OS: Mac Li

[2022-07-21 21:01] Ahmadkashif commented on #5609
Hi, I would like to work on this

[2022-07-21 21:44] leecalcote commented on #5861
Fill-in the **Environment** section in your description, please.

[2022-07-21 21:45] leecalcote commented on #5861
Your system is missing golang1.17.8. Please see https://discuss.meshery.io/t/getting-an-error-while-running-make-run-command-in-meshery-consul-as-a-adapter/919/2

[2022-07-21 21:45] #5861 closed

[2022-07-21 21:50] #5776 closed

[2022-07-21 21:51] leecalcote commented on #5862
Gents, heads-up - https://github.com/meshery/meshery/pull/5846

[2022-07-21 21:58] leecalcote commented on #5851
Thanks, gents. @manikmmalhotra is this one making sense so far?

[2022-07-21 22:01] leecalcote commented on #5609
Sounds great, @Ahmadkashif 👍

[2022-07-22 04:07] warunicorn19 commented on #5851
This issue is actually happening due to the hotkeys in the MeshMap, let's close this issue down here and track it elsewhere. @legendarykamal @manikmmalhotra please feel free to look at other open issues.

[2022-07-22 04:08] #5851 closed

[2022-07-22 12:13] Zain-Muiz commented on #5862
Uh oh, The mentioned fix was for overlapping text . Since the design was also changed, this error(overflow) could possibly have been fixed this too.. Ill look out when that PR is merged.

[2022-07-22 21:14] nishantwrp opened #5870 "[mesheryctl] incorrect command for installing oh-my-zsh completions"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

https://github.com/meshery/meshery/blob/088f08f5b674a2d44856385890b5fa5bcb18b075/mesheryctl/internal/cli/root/system/completion.go#L48

This command doesn't work for me probably because, I get the following output on running these commands.
[code]

[code]

The current documentation pr

[2022-07-22 21:35] #5752 closed

[2022-07-22 21:41] leecalcote opened #5872 "[UI] Explicitly set UTF-8 encoding for SVG images"
#### Current Behavior
UTF8 formatting is needed for SVG image capability with specific UI libraries used in Meshery.

#### Desired Behavior
All SVGs within the `/ui` directory should be explicitly set to use `utf-8` encoding.

#### Implementation

[code]

or

[code]

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources

- 🎨 Wireframes and designs for Meshery U

[2022-07-22 21:42] leecalcote opened #5873 "[UX] Multi-Cluster: Improve cluster connection showback"
#### Current Behavior
Upon uploading kubeconfig(s) in Meshery UI, Meshery Server will attempt to connect to contexts within the kubeconfig. Users are shown a snackbar upon successful addition of a cluster, but without any context-specific details.

#### Desired Behavior
Ideally, users get one snackbar per context added or ignored. Each notification should include the context name and address.

###

[2022-07-22 21:46] manikmmalhotra commented on #5872
@leecalcote can i work on this

[2022-07-22 21:48] leecalcote commented on #5872
Thanks, @manikmmalhotra!

[2022-07-22 22:04] leecalcote opened #5874 "[UX] Multi-Cluster: Cluster connection subscription"
#### Current Behavior
Related to https://github.com/meshery/meshery/issues/5873, users must refresh or nav away and back to see updates of the added or removed contexts on Settings-->Environments page.

#### Desired Behavior
Realtime updates of the added or removed contexts on Settings-->Environments page.

#### Implementation
GraphQL Subscription

#### Acceptance Tests
1. The list of contexts upd

[2022-07-23 04:33] leecalcote commented on #5605
I miss you come in earlier. If this is an intentional failure, OK. It seems that I grabbed the wrong one.

[2022-07-23 04:33] #5605 closed

[2022-07-23 05:36] YashKamboj opened #5875 "[UI] Empty profile in the K8s context switcher"
#### Current Behavior

<img width="167" alt="Screen Shot 2022-07-22 at 3 34 44 PM" src="https://user-images.githubusercontent.com/75125203/180592076-1989a4d4-194f-4e52-8eaf-5cd2ca344362.png">

#### Desired Behavior

#### Screenshots/Logs

#### Environment

- Browser: Chrome Safari Firefox
- Host OS: Mac Linux Windows
- Meshery Server Version: stable-v
- Meshery Client Version: stable-v
- Platform:

[2022-07-23 12:49] #5849 closed

[2022-07-23 15:30] leecalcote commented on #5608
@asubedy _cough_

[2022-07-23 18:06] legendarykamal commented on #5875
@YashKamboj  i am interested to work on this , please assign to me :)

[2022-07-24 17:44] AakashRaj20 commented on #5873
hi @leecalcote I would like to try this issue, can you assign me this issue

[2022-07-24 17:46] leecalcote commented on #5873
@AakashRaj20 thanks for raising your hand. Yes, let's check with @gr455, who recently started working on this and see if collaboration is feasible or not. Collaboration is always desired, just not always feasible, though, depending upon the issue at-hand. I'll let @gr455 assess.

[2022-07-24 17:53] AakashRaj20 commented on #5873
OK no problem.

[2022-07-24 18:08] nishantwrp opened #5881 "[mesheryctl] installing mesheryctl via the script shouldn't require unzip"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
When `mesheryctl` is installed via our bash script it requires `unzip` to be present so that the script can uncompress the released cli binary.

https://github.com/meshery/meshery/blob/df9eb35b8d45d1b1899b29111c80eeaed423d57b/meshery#L120-L123

#### Desired Behavior
This shouldn't be t

[2022-07-24 18:09] gr455 commented on #5873
Ah I've made some progress on this on the backend. If you don't mind @AakashRaj20 can you help with the UI part of this?

[2022-07-24 19:21] AakashRaj20 commented on #5873
Sure sure

[2022-07-24 19:43] theBeginner86 commented on #5824
We may close this one as this issue if fixed by https://github.com/meshery/meshery/pull/5844

[2022-07-24 19:45] Abhishek-kumar09 commented on #5824
Closed with https://github.com/meshery/meshery/pull/5844

[2022-07-24 19:45] #5824 closed

[2022-07-25 12:29] heysujal commented on #5881
Hi @nishantwrp  i want to work on this issue , can you guide me how do I get started ?
I am very new to this project and tried to gain some familiarity but I am not able to understand terms like Mesh and so forth.

[2022-07-25 12:57] heysujal commented on #5857
@nishantwrp Can you guide me on how to fix this issue ?
I am not able to find where the color of the IMPORT button is set

[2022-07-25 21:50] leecalcote commented on #5281
Ping, ping.

[2022-07-25 21:51] leecalcote commented on #5618
@asubedy done?

[2022-07-26 07:58] #5281 closed

[2022-07-26 09:55] leecalcote commented on #5281
@Revolyssup was this removed? Point to the PR?

[2022-07-26 11:47] hexxdump commented on #5881
@leecalcote, meshery bash script is used only by the unix based operating systems, so if I modify the script to switch to tar.gz, it would be enough, right ? I dont need to make any windows specific differentiation in the meshery script, right?

[2022-07-26 14:18] Revolyssup commented on #5281
https://github.com/meshery/meshery/pull/5698

[2022-07-26 17:07] #5839 closed

[2022-07-26 19:08] #5795 closed

[2022-07-26 20:28] #5812 closed

[2022-07-26 20:32] #5786 closed

[2022-07-27 02:55] leecalcote commented on #5628
@Chadha93 perhaps, you can take this on.

[2022-07-27 05:08] harkiratsm opened #5886 "[ UI ] ViewSwitch acts weird"
#### Current Behavior

Currently  we have a ```ViewSwitch``` to switch ```grid``` & ```table``` view for ```application/filter/design``` .
Suppose if I am on ```table``` view ,If I again press the table view button we get ```blank``` section.

![ll](https://user-images.githubusercontent.com/71957674/181165239-4a002c8e-7cc4-4a83-b3c5-d253d27904be.png)

#### Expected Behavior

We should correctly ha

[2022-07-27 08:52] Chadha93 commented on #5628
Sure

[2022-07-27 09:36] legendarykamal commented on #5886
hi @harkiratsm  i also saw this :eyes:
what should be the expected behaviour like should we disable it for clicking  more number of times continuosly the same bar?

[2022-07-27 09:38] Chadha93 commented on #5886
@harkiratsm Since you are working on a similar behavior of the issue wrt an empty state. Will you also cover the fix for this in the same PR? https://github.com/meshery/meshery/pull/5853

[2022-07-27 11:41] alphaX86 commented on #4994
This issue was present if the `mesheryctl system stop` didn't perform fully (that is when interrupted in middle). This was one of the issues in Helm and it's fixed via `--force` flag I believe. @leecalcote is this issue still present?

[2022-07-27 11:43] alphaX86 commented on #5570
Let me see if I can tackle this one...

[2022-07-27 14:52] #5709 closed

[2022-07-28 06:45] #5886 closed

[2022-07-28 08:58] nishantwrp opened #5895 "[mesheryctl] improvements in mesheryctl completions"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Desired Behavior
- Move `completion` command to root level.
  - Update documentation all over codebase like [these files](https://github.com/meshery/meshery/search?q=mesheryctl+system+completion), [mesheryctl command tracker](https://bit.ly/3dqXy1q).
- Install the completions by default when user insta

[2022-07-28 10:04] #5815 closed

[2022-07-28 11:42] nishantwrp commented on #5881
Hi @heysujal, this issue was already assigned. Can you instead look for unassigned issues with labels `good first issue` or `help wanted` across the repositories mentioned [here](https://meshery.io/handbook/repository-overview)?

[2022-07-28 17:55] leecalcote opened #5900 "[CI] Add Resiliency Logic to Pattern Apply Adapter Tests"
#### Current Behavior
The end-to-end test for Meshery Adapters will fail to deploy a sample pattern in the event that Meshery Server has yet to connect to Kubernetes.

#### Desired Behavior
Help ensure that the adapters test workflow is not fragile and will make more than one attempt to apply a design/pattern to Meshery Server.

#### Implementation
Suggested: A retry iteration of up to 3 times (~3

[2022-07-28 19:44] leecalcote commented on #5654
This issue is still occurring.

[2022-07-28 20:07] #5840 closed

[2022-07-28 20:27] leecalcote opened #5904 "[CI] Configure Meshery for Codespaces"
#### Current Behavior
Later this year, GitHub Codespaces will be made available to the general public. In the meantime, select open source organizations may engage with Codespaces early to both benefit from the tool and offer feedback on its experience and functionality.

#### Desired Behavior
The ability to open Meshery and it's components in Codespaces via a button like this:
![image (9)](https:

[2022-07-28 22:00] cpepper96 commented on #5904
👀 this sounds pretty interesting. Can I take this up @leecalcote?

[2022-07-28 23:22] leecalcote opened #5905 "[mesheryctl] Failure to recognize valid meshconfig"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
[code]
[code]
[code]
[code]

#### Environment

- Host OS: Mac
- Meshery Server Version: stable-v0.6.0-rc.6d
- Meshery Client Version: stable-v0.6.0-rc.6d
- Platform: Kubernetes

---

#### Contributor Resources
- [mesheryctl Contributing Guide](https://github.com/meshery/meshery/blob/ma

[2022-07-29 00:16] #5582 closed

[2022-07-29 02:23] warunicorn19 commented on #5905
Might be something coming from this PR. https://github.com/meshery/meshery/pull/5877

[2022-07-29 03:38] alphaX86 commented on #5905
Something related to path referencing... I'll take this up and resolve quick today

[2022-07-29 06:17] #5905 closed

[2022-07-29 07:39] #5819 closed

[2022-07-29 07:47] Chadha93 commented on #5862
@Zain-Muiz Did you test @subhradwip01 's PR? I checked out, this is still an issue. Login via none provider and test a few designs to replicate the issue.
@subhradwip01 Since you have made a similar fix here https://github.com/meshery/meshery/pull/5846 will you also ensure this one is also fixed?

Tag team @Zain-Muiz and @subhradwip01 if required. :)

[2022-07-29 07:50] subhradwip01 commented on #5862
In my issue i just solved the text overlapping problem.. but tgis overflow issue is occurring in my case also... if you want I can look into that

[2022-07-29 07:51] #5811 closed

[2022-07-29 07:51] Chadha93 commented on #5862
Thank you

[2022-07-29 15:37] Smille02a commented on #5904
Are we (as GitHub members & meshery/Meshery) automatically members to this "hidden" CodeSpace?

[2022-07-29 15:38] sivanaikk commented on #5904
I already worked on a similar issue. Love to work on this.

[2022-07-29 16:05] craiglpeters commented on #5904
Great to see the interest! I have enabled Codespaces for the meshery and meshery GitHub Organizations which means that organization members will have access when working on repos in those organizations.

A few key documents when getting started:

- The video and intro are good places to start https://docs.github.com/en/codespaces
- Customizing the Codespaces https://docs.github.com/en/codespaces/s

[2022-07-29 16:23] CyrineG commented on #5195
Hello @leecalcote! Can I work on this issue? It will be my first issue, but I've been reading up on how Meshery works and I think it will be interesting to dig into what's causing this

[2022-07-29 16:26] leecalcote opened #5912 "[UI] Designs: Rearrange buttons on cards in grid view"
#### Description
In the Designs page in Meshery UI, there are two changes desired. See screenshots.

#### Mockups
First Change:
<img width="550" alt="Screen Shot 2022-07-29 at 11 21 53 AM" src="https://user-images.githubusercontent.com/7570704/181802983-d880f8c5-9a25-4d31-827e-12c33d490d6f.png">

Second Change:
<img width="543" alt="Screen Shot 2022-07-29 at 11 25 22 AM" src="https://user-images.g

[2022-07-29 16:47] subhamgcon commented on #5912
Can I work on it? @leecalcote

[2022-07-29 16:50] leecalcote commented on #5912
That’d be great, @subhamgcon. If you run into trouble or have questions: https://discuss.meshery.io.

[2022-07-29 17:39] Chadha93 commented on #5195
Assigning this to you @CyrineG. Do catch up with @Revolyssup if you get any queries regarding this issue.

[2022-07-29 19:29] Chadha93 opened #5914 "[UI] Remove the hardcoding of edge in edge-latest"
#### Current Behavior
The `edge-` is hardcoded with edge-latest in the navigator.

<img width="258" alt="Screen Shot 2022-07-28 at 10 51 03 AM" src="https://user-images.githubusercontent.com/65453826/181830710-85962f92-b928-4d9f-b13b-80a9940bb655.png">

#### Desired Behavior
Remove the hardcoded `edge-`

#### Screenshots/Logs

#### Environment

- Browser: Chrome Safari Firefox
- Host OS: Mac Linux

[2022-07-29 19:33] leecalcote opened #5915 "[Docs] Formatting of search results includes an extra bullet"
#### Current State
Search results on https://docs.meshery.io/search/ display an extraneous bullet.

#### Screenshot
<img width="711" alt="Screen Shot 2022-07-29 at 2 31 47 PM" src="https://user-images.githubusercontent.com/7570704/181831479-34f09016-a0a3-441a-a5c0-e19b59faf253.png">

---

#### [Contributor Guides](https://docs.meshery.io/project/contributing) and Resources
- 📚 [Instructions for co

[2022-07-29 19:58] leecalcote commented on #5904
@cpepper96 @sivanaikk, two brains are better than one on this. I anticipate some collaboration will help drive the effort forward and help you overcome potential hurdles. Thanks for raising your hands. 🙌

[2022-07-29 20:31] Chadha93 commented on #5857
@bhavyastar We are counting. :) It's day 9. Any update on this issue? @muskankhedia would you like to wrap this up?

[2022-07-29 21:03] legendarykamal commented on #5914
well, I checked the Navigator file but I didnt find any hardcoded thing,
[code]
can you confirm @Chadha93 ?

[2022-07-29 22:16] leecalcote commented on #5914
Another spot to check: `http://localhost:9081/api/system/version`

[2022-07-30 03:58] legendarykamal commented on #5914
[code]
so for me its returning the stable version automatically, is there a way to run the edge version manually?

[2022-07-30 04:26] bhavyastar commented on #5857
Sorry to update you about this, Actually the color IMPORT Button and RESET
Button contains same CSS. Changes are done from my side but it reflects on
RESET Button too.
Can we have tomorrow regarding this? Because I have an exam.

On Sat, Jul 30, 2022 at 2:02 AM Gaurav Chadha ***@***.***>
wrote:

[2022-07-30 07:13] Sinha1994 opened #5916 "[UI] Meshery UI is not responsive on mobile view"
#### Current Behavior
On opening Meshery UI on mobile, it's not responsive, and adding a horizontal scrollbar at the bottom

#### Desired Behavior
UI should be compatible with each device type mobile, tablet, or desktop, and adjust content according to the device width.

#### Screenshots/Logs
<img width="161" alt="image" src="https://user-images.githubusercontent.com/28135546/181879323-05992255-c0

[2022-07-30 07:22] Chadha93 commented on #5916
@Sinha1994 Would you like to take this?

[2022-07-30 07:26] Sinha1994 opened #5917 "[UI] Overlapping of icons on search result page"
#### Current Behavior
On hovering over the bullet point of the list of results shown in search results [page](https://docs.meshery.io/search/) one extra attachment icon is coming and it's overlapping with the bullet points.

#### Desired Behavior
Either the attachment icon can be removed and just showing the underline border below the heading of the list item would look sleek, or we can add some s

[2022-07-30 08:03] legendarykamal commented on #5917
@Chadha93 I think it looks good only in this case.
clicking on  it moves it at the top of the page.
![image](https://user-images.githubusercontent.com/95926324/181886514-5a8b25ba-b51c-4140-9bec-869d5d6b9010.png)

are changes needed to be made as suggested by @Sinha1994 ?

[2022-07-30 10:24] leecalcote commented on #5917
Thanks for opening up this issue, @Sinha1994. Another potential solution is to place the link icon on the right side of each search result heading.

I’m on my mobile at the moment and can’t tell what the hover behavior of headings is on the other docs pages. It would be good to be consistent with them.

[2022-07-30 10:34] leecalcote commented on #5914
Yes - https://docs.meshery.io/reference/mesheryctl/system/channel

[2022-07-30 10:53] legendarykamal commented on #5917
@leecalcote I can confirm that on other pages of the docs it shows at the left side of the links
like this
![image](https://user-images.githubusercontent.com/95926324/181906994-6a506431-87e6-4643-8dbe-72830bbe8f16.png)

Also I have noticed that the top headings in cases gets hidden behind the scroll
![image](https://user-images.githubusercontent.com/95926324/181907661-626d7b27-956b-42bb-8ca6-b1ac4

[2022-07-30 10:57] legendarykamal commented on #5917
I would like to work on this one.

and we can discuss a bit about the consistentency on the left/right side regarding the link in one of the meets :).

[2022-07-30 18:02] legendarykamal commented on #5914
thanks @leecalcote for that link , @Chadha93 please review.

[2022-07-30 18:32] #5914 closed

[2022-07-30 19:40] nishantwrp opened #5921 "[mesheryctl] deprecate meshery/homebrew-tap for publishing mesheryctl releases"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

### Description
We've recently added `mesheryctl` to `homebrew-core` meaning that we no longer need to push releases to https://github.com/meshery/homebrew-tap. But we're still leaving the systems to publish `mesheryctl` while we make sure that the release process with `homebrew-core` is smooth.

Here's wha

[2022-07-30 20:25] leecalcote opened #5922 "[UI] Deployment Modal: Search dysfunctional"
**Description**
Search doesn't seem to work with the Deployment modal. This screenshot w what is taken from the Designs page.

**Screenshots**

<img width="465" alt="Screen Shot 2022-07-28 at 2 16 56 PM" src="https://user-images.githubusercontent.com/7570704/181619826-2e820968-b6ac-4fac-b4ac-0a9b631d9979.png">

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resour

[2022-07-31 02:36] harkiratsm commented on #5922
I can take this up 👍

[2022-07-31 05:09] leecalcote commented on #5922
Thank you, @harkiratsm

[2022-07-31 05:15] legendarykamal commented on #5916
@Chadha93  I would love to work on this

I have checked this for standard dimension  480*853 (view port) and found the menu hiding away
![Screenshot from 2022-07-31 10-39-46](https://user-images.githubusercontent.com/95926324/182011212-fe4db330-5306-47f4-b7d1-04573ad8bcaf.png)

[2022-07-31 06:41] beingnoble03 commented on #5915
Hi @leecalcote, I am unable to reproduce this issue.

[2022-07-31 13:32] leecalcote commented on #5915
I might have been using Safari. I can’t recall.

[2022-07-31 17:46] Revolyssup opened #5925 "[mesheryctl] Add a loader on `mesheryctl pattern apply`"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

When a user applies a pattern using `mesheryctl pattern apply` , no progress or loading is shown to user and after a long time the command exits with success or failure.
#### Desired Behavior

While the command is executing, log `Applying pattern <pattern name>` followed by a loader.

[2022-08-01 01:38] harkiratsm commented on #5572
Still Working 😃

[2022-08-01 08:23] harkiratsm opened #5928 "[mesheryctl] improvements in ```mesheryctl``` sub commands"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

For ```pattern``` command -
1) User can't view pattern on basis of pattern-id
![image](https://user-images.githubusercontent.com/71957674/182106514-0fc6b7f5-d277-48fe-8cf4-1a950fb44578.png)

2) User can't delete pattern on basis of [patternName/patternId]
![image](https://user-images.

[2022-08-01 09:31] EleisonC commented on #5925
Hey @Revolyssup I would like to pick this up

[2022-08-01 09:57] harkiratsm opened #5929 "[Docs] Adding support to ```system channel```"
#### Current State
Currently the [docs](https://docs.meshery.io/reference/mesheryctl/system/channel) for the ```system channel``` command is outdated.

#### Desired State
Docs for ```system channel``` should be updated, you can take look at [system context](https://docs.meshery.io/reference/mesheryctl/system/context) docs, to get a overview of what changes are required.

---

#### Contributor [Gui

[2022-08-01 10:12] legendarykamal commented on #5929
Yes I had also noticed this @harkiratsm
May I work on this?

[2022-08-01 10:48] beingnoble03 commented on #5915
Hmm... It's in the safari.

[2022-08-01 12:40] Chadha93 commented on #4921
This issue is still present on latest. Reopening this
![image](https://user-images.githubusercontent.com/65453826/182149843-d57c1fdd-ce57-4a6e-8cd8-417c3a1b6f0b.png)

[2022-08-01 12:42] asubedy commented on #5434
Closing this issue since it is tracked here https://github.com/meshery/meshery/issues/4921

[2022-08-01 12:42] #5434 closed

[2022-08-01 13:09] Chadha93 commented on #5857
@bhavyastar Since we have reached the ETA on this issue. Let's assign this to someone else and move the ball forward.

Feel free to take on new issues in the future.

[2022-08-01 14:08] a-muk commented on #5857
If this issue hasn't been solved yet , can I take this up?

[2022-08-01 14:18] a-muk commented on #5822
Hello! If this issue is still available, can I work on it?

[2022-08-01 15:17] bhavyastar commented on #5857
Hey @Chadha93, I mentioned above the issue is solved, but the CSS file is the same for IMPORT and RESET Button. So, changing CSS for import will affect the CSS for RESET. That's why I did not make PR. If you want, I can share the image with you.
CC @leecalcote @Chadha93

[2022-08-01 18:56] Revolyssup opened #5944 "Meshery server crashes while failing to perform Docker compose to k8s manifest conversion"
#### Current Behavior

Due to the current Kompose package we use, when encountered any error during compose-> k8s conversion it used log.Fatal to exit with a non zero status code. This is a big issue as any user can pass ill formatted compose file and crash the server.
#### Expected Behavior

## Suggestions
We should be vigil and not allow any third party package to be able to call os.Exit and cau

[2022-08-01 19:04] leecalcote commented on #5857
@bhavyastar, yes, if you would. There might be some confusion or the issue might have been separately addressed. It'd be good to clarify. 👍

[2022-08-02 09:03] #5014 closed

[2022-08-02 11:52] leecalcote commented on #5660
@gr455 from the REST API (or other) do we have a "count" for each set of registered capabilities?

[2022-08-02 13:42] attreyee-muk commented on #5857
It's okay if @bhavyastar makes the PR. I have taken up another issue of the Meshery repository. Thank You:)

[2022-08-02 16:02] #5944 closed

[2022-08-02 22:52] #5922 closed

[2022-08-03 02:25] leecalcote commented on #5822
Yes, please, @a-muk

[2022-08-03 04:31] harkiratsm opened #5950 "[UI] Overlapping text in component configuration fields"
#### Description

When we use the ```Istio Mesh```  component, there is a overlapping/unwanted texts.

#### Screenshots/Logs

![image](https://user-images.githubusercontent.com/71957674/182524277-5d1102c3-746c-4d98-be83-efe913c1f175.png)

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)

- 🎨 Wireframes and designs for

[2022-08-03 04:35] leecalcote commented on #5950
Thanks for this, @harkiratsm

[2022-08-03 05:56] sivanaikk commented on #5904
@cpepper96 Let's pair and work on the issue. I read the documents shared before by @craiglpeters

[2022-08-03 13:44] warunicorn19 commented on #5857
Pushed to master

[2022-08-03 13:44] #5857 closed

[2022-08-03 13:44] Abhishek-kumar09 opened #5953 "[UI/Eslint] Enable important eslint checks"
#### Current Behavior

The eslint is a great complement with JS to catch the errors in front during parse time. But some important checks being on `off` state introduces bugs in the code and failures that can be otherwise rectified in advance. Such checks are jsx keys and "no-dupe-keys".

#### Desired Behavior
[code]

WARN on "react/jsx-key"
Error on "no-dupe-keys"

#### Screenshots/Logs

#### Env

[2022-08-03 13:46] Abhishek-kumar09 opened #5954 "[UI] Add eslint github actions to check the code and impose lint errors"
#### Current Behavior

There are no eslint github actions, to know in advance which line of code has problems. We require some checks and github actions in the area. The eslint is available in github marketplace to be used as-is.

#### Environment

- Browser: Chrome Safari Firefox
- Host OS: Mac Linux Windows
- Meshery Server Version: stable-v
- Meshery Client Version: stable-v
- Platform: Docker

[2022-08-03 14:13] legendarykamal commented on #5953
Haven't yet tried hands on eslint checks, should I try to implement it? :)

[2022-08-03 14:29] Abhishek-kumar09 commented on #5953
yeah, the same thing is done here: https://github.com/meshery/meshery/pull/5947
 start with changing eslintrc.js then, run eslint by `npm run lint:fix` and later make code changes that follows the new rules.

[2022-08-03 14:35] karnatisrinivas commented on #5925
Hello @Revolyssup , If this is in open can I work on this?

[2022-08-03 15:35] legendarykamal commented on #5953
thanks for providing insights Yes 👍 will do it,
pls assign me .

[2022-08-03 18:17] leecalcote commented on #5195
CLARIFICATION:

What's needed is to reconcile any differences between the two sets of Helm Charts. Whether the Operator and Broker are
using different networking is inconsequential. What is important is that both sets of Helm Charts have Meshery Broker set to LoadBalancer by default, but as an overridable configuration.

[2022-08-03 18:18] leecalcote commented on #5195
In terms of the fact that we have two sets of Helm Charts, this is not ideal. Ideally, Meshery project has:

- 1 set of charts
- mesheryctl and Meshery Server both need to deploy Meshery Operator and Adapters. Meshery Server doesn’t need to deploy itself, though.
- Adapter deployments are optional.
- Meshery Server deployment is optional.
- Meshery Operator is mandatory.

[2022-08-03 18:39] CyrineG commented on #5195
I think this is already the case. When I use meshery CLI or the meshery server the Broker service is LoadBalancer. Since the service type is set to LoadBalancer in both parent charts for Broker ([meshery](https://github.com/meshery/meshery/blob/master/install/kubernetes/helm/meshery/values.yaml#L55) and [meshery-operator](https://github.com/meshery/meshery/blob/master/install/kubernetes/helm/meshe

[2022-08-03 19:09] leecalcote commented on #5195
@CyrineG ok, good deal. Thank you. So, now that we're on this wild goose chase...

Let's close this issue as a successful investigation and open a new one to consolidate the two Helm Chart sets or at least investigate their possible consolidation.

[2022-08-03 19:09] #5195 closed

[2022-08-03 19:09] leecalcote commented on #5195
@CyrineG given our chat and the notes above, would you like to create this second issue?

[2022-08-04 00:44] #5478 closed

[2022-08-04 08:33] Chadha93 opened #5958 "[UI] Delete modal not functional for Designs"
#### Current Behavior

1. Delete modal is not working for designs when a pattern/design is deleted via table row.
2. Table header typography is set to Patterns change it to Designs.

#### Desired Behavior
Fix the bug with the Delete modal, and test it on http://localhost:3000/configuration/patterns
Table header typography is set to Patterns change it to Designs.

#### Screenshots/Logs

#### Enviro

[2022-08-04 08:33] Chadha93 commented on #5958
// @legendarykamal

[2022-08-04 08:37] legendarykamal commented on #5958
Ok I will take this up @Chadha93

[2022-08-04 09:21] Abhishek-kumar09 commented on #5950
Okay, Okay, Okay. I get it now. Its not peculiar with @Revolyssup env. The tabs are somwhat in broken state now. Here is the code to check out @harkiratsm https://github.com/meshery/meshery/blob/master/ui/components/MesheryMeshInterface/PatternServiceForm.js

[2022-08-04 09:58] CyrineG commented on #5195
@leecalcote Okay!

[2022-08-04 11:10] karnatisrinivas commented on #5954
Hello @Abhishek-kumar09 , Can I work on this?

[2022-08-04 11:12] karnatisrinivas commented on #5915
It's happening in Safari,

[2022-08-04 11:14] manikmmalhotra commented on #5915
@leecalcote should i try ??

[2022-08-04 11:15] leecalcote commented on #5915
@manikmmalhotra yes, just as soon as your other 4 open assignments are complete.

[2022-08-04 11:16] leecalcote commented on #5915
I don't get the bullet point over the search field, but do get it overlapping with the heading anchor in Chrome:

<img width="419" alt="Screen Shot 2022-08-04 at 6 15 58 AM" src="https://user-images.githubusercontent.com/7570704/182834192-02b498a9-5a41-465e-a4ae-842142cdf81f.png">

[2022-08-04 11:21] CyrineG opened #5959 "[Helm] Consolidate the Helm Chart sets"
#### Current Behavior
Meshery project contains various sets of Helm Charts that are duplicated under [meshery/install/helm/meshery/charts](https://github.com/meshery/meshery/tree/master/install/kubernetes/helm/meshery/charts) and [meshery/install/helm/meshery-operator/charts ](https://github.com/meshery/meshery/tree/master/install/kubernetes/helm/meshery-operator/charts)

This is because we need :

[2022-08-04 12:14] leecalcote opened #5960 "[Docs] Ensure OpenGraph image for all Meshery Docs pages"
#### Current State
Meshery Docs doesn't have an [opengraph image](https://ogp.me/) defined across each of its pages.

#### Desired State
Modifying an existing `include` and `layout`, ensure that every page defines https://github.com/meshery/meshery/blob/master/docs/assets/img/meshery.png as the image.

https://cards-dev.twitter.com/validator can be used to help verify implementation.

---

#### Co

[2022-08-04 15:00] asubedy commented on #5607
@karnatisrinivas any updates here? were you able to solve the issue?

[2022-08-04 15:50] Abhishek-kumar09 commented on #5954
Yeah, there should be a github action marketplace avaiable for eslint. You have to create a new github-workflow adding the support.

[2022-08-04 22:05] leecalcote commented on #5912
@subhamgcon checking in... how's it coming along?

[2022-08-04 22:26] leecalcote opened #5966 "[Provider UI] Vertical scrollbar should be hidden."
#### Current Behavior
Recently, the vertical scrollbar shows in the Provider UI. The body/div background seems to be no longer full bleed.

#### Desired Behavior
The off-white background should cover the entire page. The scrollbar should not be visible.

#### Screenshots/Logs
<img width="1307" alt="Screen Shot 2022-08-04 at 5 12 02 PM" src="https://user-images.githubusercontent.com/7570704/1829633

[2022-08-04 22:51] leecalcote opened #5967 "[Server] Prometheus and Grafana Discovery"
#### Current Behavior
Grafana and Prometheus being discovered and shown in Dashboard report, but not in Settings Metrics page.

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for contributing to documentation](

[2022-08-04 22:51] leecalcote commented on #5967
@MUzairS15 will you investigate, please?

[2022-08-04 22:54] leecalcote commented on #5967
Upon manual connection to both Prometheus and Grafana, metrics are successfully received, but ad hoc connectivity tests show a missing hostname -
<img width="337" alt="Screen Shot 2022-08-04 at 5 53 41 PM" src="https://user-images.githubusercontent.com/7570704/182968740-e7843328-e902-42bf-b7bd-52045e20bd0a.png">

[2022-08-04 22:58] leecalcote opened #5968 "Adapters: Ability to register components"
#### Current Behavior
If Meshery Server reboots after an Adapter has initially connected and registered components. There is no way to re-register components without rebooting the Adapter.

#### Desired Behavior
Allow user to manually invoke component registration.

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)
- 🛠

[2022-08-04 23:42] leecalcote opened #5969 "[UI] Database Reset Button: Reverse coloring"
#### Current Behavior

https://user-images.githubusercontent.com/7570704/182973293-49b71fd8-fd6b-4cef-b3bf-da24e129d943.mov

#### Desired Behavior
Should be dark red when not in focus and light red on hover.

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)

- 🎨 Wireframes and designs for Meshery UI in [Figma](https:/

[2022-08-04 23:45] leecalcote opened #5970 "[UI] Database Reset: Confirmation Modal - Make Reset button red"
#### Current Behavior
<img width="635" alt="Screen Shot 2022-08-04 at 6 42 50 PM" src="https://user-images.githubusercontent.com/7570704/182973539-b57c35e2-59b7-4130-aa91-fe0ac4ff070b.png">

#### Desired Behavior
The Reset button in the screenshot should be dark red (using the color from Meshery's design language).

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [

[2022-08-05 03:36] kumarvikramshahi commented on #5969
hey @leecalcote
Is this the desired behavior ?

https://user-images.githubusercontent.com/63746254/182996200-f3598c23-3bab-4590-9ad9-c876b8389636.mp4

[2022-08-05 06:18] #5534 closed

[2022-08-05 07:24] legendarykamal commented on #5966
Hi @leecalcote i would like to work on this

[2022-08-05 10:10] kumarvikramshahi commented on #5970
hey @leecalcote  If no one is working on, i would like to fix this.

[2022-08-05 10:24] asubedy commented on #5970
Hi @kumarvikramshahi, sure you can work on this, before assigning I would like to confirm you have Meshery set up locally right?

[2022-08-05 11:00] Prathamesh-Shanbhag commented on #5969
Of the 2 recent UI issues I would like to have any one of them assigned to me if possible @leecalcote !
Thank you.

[2022-08-05 11:15] kumarvikramshahi commented on #5970
yes, perfectly.

[2022-08-05 12:46] leecalcote commented on #5912
Let's get this timely item reassigned and @subhamgcon onto another item. Just signal when ready @subhamgcon.

[2022-08-05 13:10] subhamgcon commented on #5912
Hi @leecalcote, thank you for giving me a chance to solve this issue. Actually I couldn't figure it out but I got a lot of help from the meshery slack community and i would like to start off with a documentation issue if possible. Thanks again

[2022-08-05 13:11] sivanaikk opened #5973 "[UI] Meshery UI not working over HTTPS from CodeSpaces"
#### Current Behavior

![meshery-issue](https://user-images.githubusercontent.com/60335740/183082575-09e217c1-63e1-419d-974b-b4a2b7383bc1.png)

#### Desired Behavior

Meshery UI has to work after the port is forwarded by GitHub Codespaces.
#### Screenshots/Logs

#### Environment

- Browser: Chrome Safari Firefox
- Host OS: Mac Linux Windows
- Meshery Server Version: stable-v
- Meshery Client Versi

[2022-08-05 13:15] sivanaikk commented on #5904
Meshery UI is not coming up over HTTPS from codespaces #5973

[2022-08-05 16:16] legendarykamal commented on #5958
@Chadha93 it is functioning take a look

https://user-images.githubusercontent.com/95926324/183118741-04b8e7ca-9a2b-4710-b5ab-61156c46f4ef.mp4

I am on the stable-v0.6.0-rc.6f version, m i missing something?

[2022-08-05 18:50] nishantwrp opened #5977 "[Docs] Image link broken in "mesheryctl app onboard" docs"
#### Current State
https://docs.meshery.io/reference/mesheryctl/app/onboard

<img width="1440" alt="Screenshot 2022-08-06 at 12 18 30 AM" src="https://user-images.githubusercontent.com/36989112/183142198-e2cbac86-e7cc-464a-b585-fde195a0769c.png">

#### Desired State

Have [this](https://github.com/meshery/meshery/blob/master/docs/assets/img/mesheryctl/app-onboard.png) image displayed correctly ins

[2022-08-05 19:38] Chadha93 commented on #5958
A delete modal should come up see this https://github.com/meshery/meshery/pull/5891

[2022-08-05 19:42] #5873 closed

[2022-08-05 20:32] leecalcote commented on #5977
@mihir2226 over here.

[2022-08-05 20:36] mihir2226 commented on #5977
@leecalcote yeap assign me this issue.

[2022-08-05 20:37] leecalcote commented on #5977
Question, @mihir2226: Have you built/run a Jekyll site before? If not, please confirm that you're successful making and running Meshery Docs and then let's get you assigned. 👍

[2022-08-05 20:38] mihir2226 commented on #5977
ok it's the first time I will try to build and run it first as you say

[2022-08-05 21:02] leecalcote commented on #5912
@subhamgcon, no sweat at all. Some items are more timely than others. There's plenty more where this comes from. Great job on reaching out to the rest of the community for assistance. I encourage you to use discuss.meshery.io for both the benefit of others who come after you and so that your inquiries don't get lost in the noise.

Take your pick: https://github.com/issues?q=is%3Aopen+is%3Aissue+ar

[2022-08-05 21:24] #5967 closed

[2022-08-05 22:05] #5628 closed

[2022-08-05 22:47] #5570 closed

[2022-08-05 22:54] #5870 closed

[2022-08-05 23:33] leecalcote commented on #5977
It looks like this is fixed by #5908.

[2022-08-05 23:37] leecalcote opened #5981 "[Docs] API docs update needed for /validate"
Waiting on API docs update.

_Originally posted by @leecalcote in https://github.com/meshery/meshery/issues/5919#issuecomment-1202386054_

[2022-08-05 23:53] leecalcote opened #5982 "[mesheryctl] Docker Extension release broken: bad .zip bundle reference"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

#### Desired Behavior

#### Screenshots/Logs

#### Environment

- Host OS: Mac Linux Windows
- Meshery Server Version: stable-v
- Meshery Client Version: stable-v
- Platform: Docker Kubernetes

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook]

[2022-08-05 23:54] leecalcote commented on #5982
@nishantwrp heads-up

[2022-08-06 00:21] mihir2226 commented on #5977
@leecalcote ok, I spent all night but I'm not able to set up everything. do you guide me?

[2022-08-06 00:22] leecalcote commented on #5977
See the recorded presentations on meshery.io/community/newcomers. Bottom the page.

Note, that someone else already fixed this particular issue.

[2022-08-06 00:26] leecalcote commented on #5982
Fixed by #5983

[2022-08-06 00:26] #5982 closed

[2022-08-06 08:09] #5912 closed

[2022-08-06 20:58] Nikhil-Ladha commented on #5954
@adithyaakrishna have you confirmed with @karnatisrinivas before sending the PR?

I still see him as the first assignee of the issue.

[2022-08-07 08:20] abhiyant-10 commented on #5977
The image is still not visible to me , if the issue is still there I would like to work on it . I have jekyll set as I have worked on meshery docs before

[2022-08-07 08:43] legendarykamal opened #5990 "[UI] overflow of buttons in docker desktop"
#### Current Behavior

![image](https://user-images.githubusercontent.com/95926324/183282755-f0083e0d-631b-4f42-8bce-56a49eefeb83.png)

#### Desired Behavior

Avoid overflow of buttons
#### Screenshots/Logs

#### Environment

- Location: Docker desktop with meshery extension
- Host OS: Mac Linux Windows
- Meshery Server Version: stable-v
- Meshery Client Version: stable-v
- Platform: Docker Kubern

[2022-08-07 08:44] #5068 closed

[2022-08-07 09:28] nishantwrp commented on #5895
Closing since completions were moved to root level in #5896 and are installed by default when the cli is installed via homebrew (https://github.com/Homebrew/homebrew-core/pull/107519).

[2022-08-07 09:28] #5895 closed

[2022-08-07 15:41] 03amir commented on #5969
@leecalcote  Can I work on this issue?

[2022-08-07 16:32] nishantwrp opened #5993 "[CI] Move to latest version of golangci-lint"
Move to the latest version of golangci-lint after https://github.com/golangci/golangci-lint-action/issues/535 is fixed. https://github.com/meshery/meshery/pull/5991 rollbacks the version of golangci-lint due to the given bug.

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)
- 🛠 [Meshery Build & Release Strategy](https

[2022-08-07 16:38] legendarykamal opened #5994 "[mesheryctl] Bash Installer: invalid compressed package reference"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

1>Unable to download meshery.zip file .from https://github.com/meshery/meshery/releases/download/v0.6.0-rc.6fc/mesheryctl_0.6.0-rc.6fc_Linux_x86_64.zip
2> The latest version releases are not being installed on the system.
#### Desired Behavior

The file says not found when visited at

[2022-08-07 16:41] leecalcote commented on #5994
Thank you, @legendarykamal 👍

[2022-08-07 17:41] #5994 closed

[2022-08-07 17:50] legendarykamal commented on #5994
Wow superquick actions ⚡  thankyou @leecalcote @nishantwrp

[2022-08-07 18:00] leecalcote commented on #5994
Hats off to @nishantwrp 👨‍💻

[2022-08-07 19:00] #5958 closed

[2022-08-08 16:24] CyrineG commented on #5959
Update: according to the [Helm documentation](https://helm.sh/docs/helm/helm_dependency/?fbclid=IwAR00c5QS-kNHZeE7KmWRizhhyky-12OnaIItSpiveDQlzEsU4Vg6K2ZJ9xE) repository can be defined as the path to the directory of the dependency charts stored locally. The path should start with a prefix of "file://". Like this:
[code]

so I went and changed the /helm/meshery dependency charts to use their defin

[2022-08-08 18:22] legendarykamal opened #6000 "[mesheryctl] Installation command not working"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

mesheryctl command still has some bugs when a new user tries to install it.
![image](https://user-images.githubusercontent.com/95926324/183486644-f6865213-0a48-41f3-93e5-b0c356519027.png)

#### Desired Behavior

Right functioning of the command is required.
#### Screenshots/Logs

####

[2022-08-08 18:25] legendarykamal commented on #6000
@leecalcote 's speed :zap:

[2022-08-08 18:28] legendarykamal commented on #5990
@leecalcote , @warunicorn19 or @Chadha93 could you tell me since this is related to the docker desktop's Meshery extension, where the code can be accessed to remove this bug?

[2022-08-08 18:32] leecalcote commented on #5990
While it's viewable in the Docker Extension, the code is still within Meshery UI. The Docker Extension UI is the single page that you see before logging into Meshery (inside of Docker Desktop).

[2022-08-08 19:24] Chadha93 commented on #5990
@legendarykamal This issue doesn't seem to be specific for DDE, it can be viewed in Meshery UI locally also, use breakpoints
![image](https://user-images.githubusercontent.com/65453826/183497591-0149b5da-2622-4ef9-acdb-ada2a09dfcae.png)

[2022-08-08 19:28] nishantwrp commented on #6000
Weird, the latest version is `v0.6.0-rc.6fc`, wondering why it's detecting `v0.6.0` for you.

[2022-08-09 04:11] legendarykamal commented on #6000
seems I had manually set it due to earlier problem
but on updating to latest version , It worked
![image](https://user-images.githubusercontent.com/95926324/183562292-1c22bf78-d548-422d-b5ed-051658bc35a6.png)

Maybe we could have a warning sign when user tries for v0.6.0 ?

[2022-08-09 04:23] legendarykamal commented on #6000
Also , a new error surfaced
Though no containers are running
![image](https://user-images.githubusercontent.com/95926324/183563502-13bc3309-4dbe-42f3-bc00-b5a83ca4832c.png)
still it gives error
![image](https://user-images.githubusercontent.com/95926324/183563678-59019e55-401f-4e3f-bd85-8681dd347a39.png)

[2022-08-09 07:29] Abhishek-kumar09 commented on #4937
The update was merged based on parsing the textfield label and matching whether the label includes `percent` or `percentage`. There were some fields, which didnt have percent label but are expecting percentage from their parent's title, as far as I remember.

[2022-08-09 09:41] nishantwrp commented on #6000
The installation script fails when user tries an incorrect version. What additional warnings can we show?

[2022-08-09 10:12] legendarykamal commented on #6000
Yes a mention of it with asking to upgrade to latest version should work 💪 fine ,
right @leecalcote ?

[2022-08-09 10:17] nishantwrp commented on #6000
As far as I understand, `MEHSERY_VERSION` is to be used as a fallback when the script itself is unable to find out the latest version.

[2022-08-09 10:20] legendarykamal commented on #6000
@nishantwrp ok then, looks good we can close this 🔨 now :)

[2022-08-09 10:20] #6000 closed

[2022-08-09 10:25] nishantwrp opened #6003 "[Docs] fix links to meshery adapters"
#### Current State
All the links present [here](https://docs.meshery.io/project/compatibility-matrix) to various meshery adapters point to `meshery-istio`.

#### Desired State
They should point to their own respective github link.

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)
- 📚 [Instructions for contributing to

[2022-08-09 10:28] subhamgcon commented on #6003
Hey, Can i work on this issue?

[2022-08-09 10:29] nishantwrp commented on #6003
Sure, thank you @subhamgcon.

[2022-08-09 11:12] ipuustin opened #6004 "[Docs] Interactive Istio lab demo doesn't work"
#### Current State

For the interactive demo at https://docs.meshery.io/service-meshes/adapters/istio, clicking on the curl command for meshery installation leads to a 404 error message:

[code]

#### Desired State

No error, meshery installation works.

[2022-08-09 12:11] hexxdump commented on #6004
I believe, git.io references should be replaced with meshery.io reference.

[2022-08-09 12:54] legendarykamal commented on #5969
@Prathamesh-Shanbhag please confirm that  have you set up locally?

[2022-08-09 16:55] subhamgcon commented on #6003
@nishantwrp Can you please explain me the issue?

[2022-08-09 17:26] nishantwrp commented on #6003
Hi @subhamgcon,

The compatibility matrix in that page has links to various adapters as below.

<img width="824" alt="Screenshot 2022-08-09 at 10 52 16 PM" src="https://user-images.githubusercontent.com/36989112/183717844-e2c6dbe1-4b69-46aa-b973-7140786305e5.png">

The problem is that when we click to any of these adapters i.e. `meshery-istio`, `mehsery-linkerd`, `meshery-kuma`, .... and so on. We

[2022-08-10 01:39] #5606 closed

[2022-08-10 01:54] harkiratsm opened #6006 "[UI] Design for replica set field in RJSF"
#### Current Behavior

Currently the replica set field in RJSF, is not good looking by UI perspective.

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for contributing to documentation](https://github.com/meshe

[2022-08-10 02:58] legendarykamal opened #6008 "[Docs][UX] Adding a search functionality"
#### Current State
![image](https://user-images.githubusercontent.com/95926324/183800036-c126f472-cba3-4e42-ad84-8a355f260a60.png)

#### Desired State
1> Many sites including google have the functionality that if user searches something and then scrolls  to any part of the screen and if clicks "/" key , he is back in the search box again.
We need it for Meshery docs too in order to improve UX.

--

[2022-08-10 04:05] leecalcote commented on #6006
Thank you, @harkiratsm

[2022-08-10 11:23] legendarykamal commented on #5990
ok @leecalcote @Chadha93 got it , thanks for the clearance.

[2022-08-10 19:47] subhamgcon commented on #6003
Thanks for explaining, actually I understood the issue but couldn’t find the broken link. Sorry for the misunderstanding.

[2022-08-10 19:47] subhamgcon commented on #6003
Hey, I have almost solved it, sorry

[2022-08-10 21:02] bhavyastar commented on #5969
Hey @leecalcote, Actually, Because there is the same CSS file for the one which is for IMPORT and that's why this hovering effect reflects here.
I would like to solve this issue. Would you please assign this to me?

[2022-08-10 21:18] Chadha93 commented on #5969
Hey All, since we have lots of contributors here to take this issue, let's use the best algorithm here. "FCFS". First come first serve.

@kumarvikramshahi You are up first here. Answer to your above question - yes that's the desired behavior.

[2022-08-11 03:37] legendarykamal commented on #6008
@Chadha93 @leecalcote @Abhishek-kumar09  what are your views on this feature?
Should i proceed with adding this feature ?

[2022-08-11 06:51] Sanyam-Garg commented on #6003
Oh great!

[2022-08-11 16:04] YashKamboj commented on #5916
@Sinha1994 This issue is listed in the wrong repo, open this issue in [meshery/meshery.io](https://github.com/meshery/meshery.io) repo

[2022-08-11 16:04] #5916 closed

[2022-08-11 19:32] KinzaaSheikh commented on #5954
Can I work on it?

[2022-08-12 07:52] #5969 closed

[2022-08-12 17:20] theBeginner86 opened #6015 "Improvement in Meshery UI dashboard"
#### Current Behavior

Meshery does discovery different workloads in K8s cluster on which Meshery Operator is deployed but that info is not shown on the UI. Which makes it hard for new users to understand their environment more deeply.

#### Desired Behavior

Meshery should have a separate card for K8s workload on dashboard page of Meshery UI. It should tally no of nodes, namespace, services, work

[2022-08-12 19:29] nishantwrp opened #6018 "Pre-installed patterns not working correctly"
#### Current Behavior
- In the patterns page, when I click of any pre-installed design. I see a gibberish content (definitely not yaml).
- When I click on “Design”, I see an error page. Probably related to the content not being displayed correctly.

#### Expected Behavior

#### Screenshots/Logs
https://layer5io.slack.com/files/U02S1UJ3J04/F03TH8CA7H9/screen_recording_2022-08-13_at_12.42.32_am.mov

[2022-08-12 20:41] nishantwrp opened #6021 "[Docs] Need docs on applications vs patterns"
#### Current State
More documentation is required on what exactly is the difference b/w applications and patterns. For example -  I see emojivoto.yaml in patterns. Also, I can onboard it as an application.

#### Desired State

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)
- 📚 [Instructions for contributing to docum

[2022-08-13 02:52] a-muk commented on #544
Hello! I want to contribute to this issue for the LFX mentorship program. I am currently a beginner in ReactJS and am also working over an issue related to the UI of the Meshery website. Although Golang is not quite well known to me, but I can learn that in no time.

[2022-08-13 07:01] adarsh500 commented on #5966
Hey, @leecalcote I'm new here @meshery, can I please take this up as my first issue?

[2022-08-13 08:15] #5977 closed

[2022-08-13 08:17] alphaX86 commented on #5993
@nishantwrp is this completed? If so, can we safely close this issue?

[2022-08-13 09:10] sourav-sharma7 opened #6025 "[UI] Meshery docs terminal heading icons and copy button on mobile view move with horizontal scrolling"
#### Current Behavior

Copy to clipboard button and bash heading text of terminal in meshery docs mobile view scrolls in horizontal scrolling
#### Desired Behavior

The buttons should be static.
#### Screenshots/Logs

![meshery docs issue](https://user-images.githubusercontent.com/78010922/184476980-224fdc4f-f24a-47ff-af3e-e9da26edb379.png)

#### Environment

- Browser: Chrome Safari Firefox
- Hos

[2022-08-13 09:32] adarsh500 commented on #6025
Hey @sourav-sharma7 can I work on this issue?

[2022-08-13 09:40] sourav-sharma7 commented on #6025
Hi @adarsh500 ,
All yours ,Thanks for volunteering. Fell free to reach out to me on slack if you need any help.

[2022-08-13 09:51] YashKamboj commented on #6025
@adarsh500 Go Ahead!!

[2022-08-13 10:28] #6018 closed

[2022-08-13 10:53] nishantwrp commented on #5993
Hi @alphaX86, no it's not. We need to start using `latest` version of golangci-lint again, which will only be possible after https://github.com/golangci/golangci-lint-action/issues/535 is fixed.

[2022-08-13 11:02] alphaX86 commented on #5993
Ok understood. Thanks for clearing this

[2022-08-13 23:14] nishantwrp opened #6032 "Mesheryctl errors after saving a application yaml from UI"
#### Current Behavior
Mesheryctl errors after saving a application yaml from UI

[code]

#### Expected Behavior

#### Screenshots/Logs
Reproduction of the issue

https://user-images.githubusercontent.com/36989112/184516253-51f0ab9e-a065-4785-ae37-02d7b2d69914.mov

#### Environment

- **Host OS:** Mac
- **Platform:** Kubernetes
- **Meshery Server Version:** edge-latest
- **Meshery Client Version:**

[2022-08-13 23:16] nishantwrp commented on #6032
**Additional debugging info**

The issue arises because in the following line.

https://github.com/meshery/meshery/blob/33ca9cbcc9a2af39c3a33be4e240950202a20875/mesheryctl/internal/cli/root/app/list.go#L105

The value of v.CreatedAt is nil.

[2022-08-14 05:59] legendarykamal opened #6035 "[Docs] Contributing.md is not aligned with Docs"
#### Current State

![image](https://user-images.githubusercontent.com/95926324/184524497-16be6795-c56e-4e39-bfeb-63f5a155fc08.png)

On contributing.md page of docs It mentions line 5 ```make docs``` cmd but there is no such cmd in make file.

![image](https://user-images.githubusercontent.com/95926324/184524516-17699659-7ee7-43ec-beae-ef56992896f2.png)

#### Desired State
changing site docs might

[2022-08-14 13:39] leecalcote commented on #5672
Let’s see about posting a combined Istio+SPIRE

[2022-08-14 16:42] leecalcote commented on #5672
Right. There is no need for a capability to be added to the capabilities.json. Ultimately, clone/fork will be a capability available in both Local Provider and Remote Provider.

[2022-08-14 18:17] adarsh500 commented on #6025
https://user-images.githubusercontent.com/73278151/184549614-4db010d5-0e0f-4bf3-a538-ce7d21e7c7f7.mov

<img width="494" alt="Screen Shot 2022-08-14 at 11 44 47 PM" src="https://user-images.githubusercontent.com/73278151/184549673-ac2d5bff-a98f-4b4b-8931-2154ab761f1d.png">

I've implemented a neat solution for this, could you please take a look?

[2022-08-14 18:21] YashKamboj commented on #6025
@adarsh500 Please open a PR for it

[2022-08-15 04:39] adarsh500 commented on #5990
Well, it looks like a responsiveness bug. Can I work on this @leecalcote?

[2022-08-15 06:00] MUzairS15 opened #6040 "[UI] Show notification corresponding to each cluster"
#### Current Behavior

On deploying an application in multi-cluster environment (`docker-desktop` and `minikube` in this case), deployment fails for `minikube` but succeeds for `docker-desktop`,  notification is shown only for `minikube` cluster, which leads to assumption that deployment has failed for both the clusters (which is not the case).

https://user-images.githubusercontent.com/79860504/1

[2022-08-15 11:42] nishantwrp commented on #5881
Fixed by #5888 and #5911

[2022-08-15 11:42] #5881 closed

[2022-08-15 12:13] nishantwrp commented on #5687
@Revolyssup, I researched a little bit on this issue. My initial thought is that there could be two ways to tackle this.

- Since our Kubernetes middleware automatically loads all the contexts again when there are none left, we need to store somewhere that are contexts were loaded already once (probably in the database).
- Or, we can just load all the contexts when the server starts once, and remo

[2022-08-15 13:16] adithyaakrishna commented on #5954
@Nikhil-Ladha Apologies for the delay regarding this as I was OOO for the long weekend, yes I have confirmed with @karnatisrinivas regarding this

[2022-08-15 15:55] Zanda256 opened #6041 "[CI] Temporarily remove K8's version 1.24.3 from end to end test core workflow"
#### Current Behavior
The github action we use to create cluster in not supporting k8s version 1.24.3 right now causing the workflow to fail with [this](https://github.com/meshery/meshery-istio/runs/7756551899?check_suite_focus=true#step:2:219) error.

#### Desired Behavior
Passing end to end tests.

#### Implementation
Temporarily remove 1.24.3 version from core workflow.

#### Acceptance Tests

[2022-08-15 21:07] #6035 closed

[2022-08-15 21:27] #5970 closed

[2022-08-16 02:46] gr455 commented on #5687
How about we have a Discover Clusters button which triggers discovery instead of doing it automatically?

[2022-08-16 04:20] alphaX86 opened #6043 "[Docs] Add section for contributing `mesheryctl` reference"
#### Current State
3 months back, a CI action has been created to auto generate doc pages in mesheryctl reference section to avoid manual updates. But the newcomers are unaware of this and hence manipulate the markdown pages directly, which would eventually get erased by the action.

#### Desired State
A section must be created where users will understand about the new CI action thereby contributi

[2022-08-16 07:37] Revolyssup commented on #5687
Loading contexts is a provider specific operation and cannot be performed until a user has logged in with a provider. Therefore, we can't do it on startup.

[2022-08-16 07:43] Revolyssup commented on #5687
Hmmm. There are pros and con to it.

[2022-08-16 09:49] nishantwrp commented on #5687
Oh okay, got it.

[2022-08-16 09:49] nishantwrp commented on #5687
So, even the first time the user will have to click on discover clusters?

[2022-08-16 15:22] pk-218 commented on #5925
Hi @Revolyssup! Can I work on this issue?

I have identified the changes that are to be made from this [line](https://github.com/meshery/meshery/blob/master/mesheryctl/internal/cli/root/pattern/apply.go#L224). I also have a fair idea about implementing a loader.

However, I had a doubt - How can we figure out the `pattern name` before the pattern is created? We send the `patternFile` to the server

[2022-08-16 16:08] Devansu-Yadav commented on #5822
@leecalcote Can I take up this issue if it is still open?

[2022-08-16 18:50] leecalcote commented on #5822
@Devansu-Yadav, yes, still open in that neither @Pritishchugh22 or @a-muk have PR'ed it.

I believe that @Chadha93 saw these assignments as abandoned and might have fixed just now in PR #6046. I'll let him confirm.

[2022-08-16 18:56] Chadha93 commented on #5822
Yes, this one is fixed, I actually saw this issue https://github.com/meshery/meshery/issues/5990, not this one, Oh we have duplicate issues.
You can have a look at the video in the pr description. Fixed now.

[2022-08-16 18:56] Chadha93 commented on #5990
https://github.com/meshery/meshery/pull/6046

[2022-08-16 19:55] legendarykamal commented on #5990
great @Chadha93 👍

[2022-08-16 20:22] kumarvikramshahi opened #6049 "[UI] grid view of configuration/design section don't have any import or create button"
#### Current Behavior

Grid view of configuration/design section don't have any import or create button when there is no data to show on screen.

#### Desired Behavior

There should be "Create design" and "Import Pattern" button as like in list view when there is no data to show.

#### Screenshots/Logs

Grid View
![Screenshot (202)](https://user-images.githubusercontent.com/63746254/184977560-7b3d

[2022-08-17 00:48] adarsh500 commented on #6049
Hey, can i take up this issue?

[2022-08-17 02:16] Devansu-Yadav commented on #5822
Cool, no worries! I can take up another issue then 😄🙌

[2022-08-17 02:50] leecalcote commented on #5822
@Devansu-Yadav that would be great. Let us know if an issue doesn’t jump out at you.

[2022-08-17 02:53] #6043 closed

[2022-08-17 05:44] pk-218 commented on #6049
Hey @kumarvikramshahi! I would like to contribute to this issue.

[2022-08-17 06:46] legendarykamal commented on #6049
yes sure @adarsh500 go ahead !

@pk-218 let us find you another good one.

[2022-08-17 09:06] Chadha93 commented on #6049
Thank you everyone for engaging here, since I already had a PR related to UI enhancements and bug fixes I fixed this issue in that PR. You all can provide your reviews on it. It would be very helpful.

Feel free to comment on more issues, I'll assign. Keep contributing. : )

[2022-08-17 09:06] Chadha93 commented on #6049
https://github.com/meshery/meshery/pull/6046

[2022-08-17 14:08] a-muk commented on #5950
Is this issue still open?

[2022-08-17 19:34] Chadha93 commented on #5966
Thank you all for engaging here, this needs to be addressed urgently. I'm taking it forward.

Feel free to jump on other issues. Happy contributing.

[2022-08-17 19:42] #6049 closed

[2022-08-17 19:42] #5822 closed

[2022-08-17 19:44] #5966 closed

[2022-08-17 19:49] #5990 closed

[2022-08-17 20:49] leecalcote opened #6054 "[mesheryctl] `app onboard` receives 400 response code"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior
[code]

**Server Response:**
[code]

#### Screenshots/Logs

#### Environment

- Host OS: Mac
- Meshery Server Version: stable-v0.6.0-rc-6fd
- Meshery Client Version: stable-v0.6.0-rc-6fd
- Platform: Kubernetes

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing

[2022-08-17 20:50] leecalcote commented on #6054
@Revolyssup is this another issue caused by `source type`?

[2022-08-18 05:44] Rohith-Raju opened #6055 "[UI] Add Icons to meshery dashboard- Recources div"
#### Current Behavior
The current iteration of the dashboard doesn't have icons.

#### Desired Behavior
Add icons

#### Implementation

#### Acceptance Tests

#### Mockups

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)

- 🎨 Wireframes and designs for Meshery UI in [Figma](https://www.figma.com/file/SMP3zxOjZztdOLtg

[2022-08-18 05:47] sivanaikk opened #6056 "Propose plugins and suggested settings that align with the projects’ lint-enforced coding conventions"
#### Current Behavior

#### Desired Behavior

Propose plugins and suggested settings that align with the projects’ lint-enforced coding conventions to add to codespaces.
#### Implementation

#### Acceptance Tests

#### Mockups

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)
- 🛠 [Meshery Build & Release Strategy](http

[2022-08-18 05:50] sivanaikk commented on #5904
Propose plugins and suggested settings that align with the projects’ lint-enforced coding conventions to add in codespace #6056

[2022-08-18 07:09] asubedy opened #6057 "[Docs] Merge Build and Releases page inside Contributing section"
#### Current State
We have a different section for build and releases, Since this is something particularly needed by developers, putting it inside the Contributing would be useful

<img width="220" alt="Screen Shot 2022-08-18 at 12 31 54" src="https://user-images.githubusercontent.com/51183483/185326376-33e9f1b2-ad5e-4952-a80e-57ac952cbb90.png">

#### Desired State
<img width="230" alt="Screen Sh

[2022-08-18 07:14] sambit-sankalp commented on #6057
Hey, can I work on this issue?

[2022-08-18 07:14] asubedy opened #6058 "[Docs] Document Meshery Catalog in Meshery Docs"
#### Current State
Currently there is no documentation pointing to the Meshery Catalog (https://meshery.io/catalog).

#### Desired State
We need to have a page dedicated to Meshery Catalog, with all the relevant content and links.

The issue requires you to document the Meshery Catalog on the Meshery documention website. You need to curate a content on but not limited to
1. what is catalog
2. what

[2022-08-18 07:15] asubedy commented on #6057
Hi @sambit-sankalp, sure you can work on this. Before assigning though I would like to confirm, have you locally setup Meshery Docs in your system?

[2022-08-18 08:31] abhiyant-10 commented on #6057
I have meshery docs setup ready as I have previously contributed to docs and would love to take this if sambit is facing any issue

[2022-08-18 10:05] sambit-sankalp commented on #6057
Hey @asubedy , I am new to this project and currently exploring it therefore, I haven't setup it up locally. But I want to contribute to this project and explore more about it.

[2022-08-18 10:34] abhiyant-10 commented on #6057
@sambit-sankalp you can it's easy setup refer https://docs.meshery.io/project/contributing/contributing-docs  . If you face any issues you can share with me or in public channels in slack

[2022-08-19 05:18] mharshita commented on #6057
Hi @asubedy! I have locally set up Meshery Docs in my system and looking for some good-first-issue to start contributing. Can I please work on this issue?

[2022-08-19 06:18] Revolyssup commented on #5925
Before sending the yaml to the server,you can take out the `Name` from yaml as it's a top level field.

[2022-08-19 06:59] pk-218 commented on #5925
Got it! I will unmarshal with the following struct and get the `Name`:
[code]

[2022-08-19 07:30] Revolyssup commented on #5925
Yes

[2022-08-19 09:51] rakshitgondwal commented on #4921
Hey @Chadha93
Which techstacks do I need to know about for taking up on this issue?

[2022-08-19 11:05] leecalcote commented on #4921
@rakshitgondwal see the first link in the contributor resources section. Ruby, Jekyll, Bundler. Ideally, macOS or Linux, or WSL2 on Windows.

[2022-08-19 11:07] leecalcote commented on #5925
Please get this issues assigned to one of the contributors that has volunteered unless this issue is already being addressed elsewhere.

[2022-08-19 11:36] asubedy commented on #6057
@sambit-sankalp You may proceed with the task, since this is an easy issue and needs to be done relatively quickly lets put a deadline of 24 hours,  failing which @abhiyant-10 can knock this out. @mharshita Thank you for your interest but since @sambit-sankalp and @abhiyant-10 mentioned their interest early I have to give them the chance. But feel free to review the changes they made, I will be ta

[2022-08-19 11:48] asubedy opened #6063 "[Docs] Make compatibility matrix easily accessible on the Meshery Docs"
#### Current State
Currently to view the compatibility matrix user has to enter this URL (https://meshery.docs.io/projects/compatibility-matrix) or They have to click on the supported Platform and then click on the Compatibility Matrix Link. Since now the compatibility matrix is in a state to show relevant information, we would like it to be visible easily.

#### Desired State
Propose a design to

[2022-08-19 11:55] DivineOrji commented on #6063
Would be working on this soon, anyone interested to join can hit me up for progress updates 👋

[2022-08-19 13:31] Chadha93 opened #6064 "[Docs] Update REST docs and spreadsheet for Apps source type"
#### Current State
We don't have the correct reference for API endpoints for the application source type, update all.

#### Desired State
1. Create a new column in the spreadsheet for PUT
2. Remove POST request id and endpoint, and change it to PUT endpoint.
3. Give an appropriate, example for its use.

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](htt

[2022-08-19 13:34] Chadha93 opened #6065 "[Docs] GraphQL mutation for Application Endpoints."
#### Current State
Currently, we use RESTful APIs for doing operations.

#### Desired State
These need to be changed to GraphQL
Ref to: - https://docs.meshery.io/reference/graphql-apis

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)
- 📚 [Instructions for contributing to documentation](https://docs.meshery.io/project

[2022-08-19 20:15] legendarykamal commented on #6065
hey @Chadha93 I would like to work on this  or If you are working then I will be happy to assist you :) Let me know !
PS: graphql  gives many advantages over REST , I like it.

[2022-08-19 22:14] sarthakkathpalia commented on #6003
Hey @nishantwrp , can I work on this issue? I am new to open source and I think this would be a great start :)

[2022-08-20 05:01] anirudhp26 commented on #6055
Can i help out on this issue
I am new here and looking for getting started

[2022-08-20 07:11] Rohith-Raju commented on #6055
Sure @anirudhp26 , that would be great

[2022-08-20 13:01] abhiyant-10 commented on #6057
@sambit-sankalp were you able to setup the repo locally? In case you need some help please ask.

[2022-08-20 13:05] abhiyant-10 commented on #6065
Well I would love to work on it too . In case , one or both of you have other tasks to perform :)

[2022-08-20 13:28] sarthakkathpalia commented on #6003
Thanks @leecalcote for giving me chance. I have made the necessary changes. Kindly review.

[2022-08-20 14:59] sambit-sankalp commented on #6057
Hey @abhiyant-10 , I tried setting up the repo locally, but faced issues and again, I have asked those issues in the discussion forum and trying to solve it one by one.

[2022-08-20 15:28] #5579 closed

[2022-08-20 22:51] sumitshinde2608 commented on #6040
@MUzairS15 I would like to work on this issue.

[2022-08-21 13:07] abhiyant-10 commented on #6057
Well have you tried the other method of installing dependencies rather than running docker file .  Please give it a try too.

[2022-08-21 15:42] sambit-sankalp commented on #6057
Hey @abhiyant-10 , thanks for cooperating, I have successfully done the task. Just wanna ask one question.
While setting up the project locally, the [Gemfile.lock](https://github.com/meshery/meshery/blob/master/docs/Gemfile.lock) has been changed. Should I commit it or not?

[2022-08-21 17:03] abhiyant-10 commented on #6057
No not the gemfile only push the YAML  file that you changed . Btw it's written in contibuting to meshery docs page 😅

[2022-08-21 17:47] sambit-sankalp commented on #6057
Hey @asubedy, I have updated the sidebar of the docs. Kindly review my PR and suggest the necessary changes if required. I would love to resolve them.

[2022-08-22 06:58] #6003 closed

[2022-08-22 07:12] Chadha93 commented on #6065
Thank you for the heads up @legendarykamal and @abhiyant-10. I'll update the status of the issue when confirmed.

[2022-08-22 07:18] legendarykamal commented on #6065
Sure 👍

[2022-08-22 11:05] sarthakkathpalia commented on #6058
@asubedy can you please explain the issue in more detail. Maybe I will be able to help with this.

[2022-08-22 11:08] asubedy commented on #6058
@sarthakkathpalia, please join today's Meshery Website Call  will explain it there.

[2022-08-22 14:10] #6025 closed

[2022-08-22 19:10] amRohitKumar commented on #5571
@leecalcote , this issue is still unresolved. Can I work on it?

[2022-08-22 19:21] leecalcote commented on #5571
Thanks, @amRohitKumar

[2022-08-22 19:21] leecalcote commented on #5571
It should be noted that this issue is opened on the wrong repo. The affected repo is `meshery/meshery.io`.

[2022-08-23 02:25] subhradwip01 commented on #5862
@Chadha93 sorry fo the delay... I was actually working the restructuring branch... I saw that this problem is because of Codemirror... codemirror is unable to wrap the lines... I also saw thus type of problem in their repo... let me see if any other way is possible...

[2022-08-23 09:41] Kanika637 commented on #6058
I want to work on this issue, can you explain a little bit more maybe @asubedy

[2022-08-23 09:52] amRohitKumar commented on #4921
@leecalcote  can I work on this issue?

[2022-08-23 11:46] Devansu-Yadav commented on #5078
@leecalcote I tried reproducing this issue and I found that on deleting the Kubernetes context the chip gets removed but the context is re-fetched automatically. Not sure if this is the desired behavior but here's what it looks like -

![Meshery-UI-issue-5078](https://user-images.githubusercontent.com/62554685/186150052-dfc44722-1770-4733-a7ac-0b363c25f415.gif)

[2022-08-23 12:01] leecalcote commented on #5078
No, this is not desired behavior.

[2022-08-23 13:36] SiddheshKukade commented on #5094
Hello Sir, Where can I get more details about this issue? Like, what should the exact outcomes be to resolve this?

[2022-08-23 14:16] asubedy commented on #6058
@Kanika637 I updated the Issue description please have a look

[2022-08-23 15:17] Kanika637 commented on #6058
I would like to work on this @asubedy

[2022-08-23 15:19] leecalcote commented on #6064
Thanks! Updates look good. 👍

[2022-08-23 15:19] #6064 closed

[2022-08-23 15:20] leecalcote commented on #981
Makefile has been overhauled. It now includes a couple other Makefiles and help output.

[2022-08-23 15:20] #981 closed

[2022-08-23 15:21] leecalcote commented on #60
@theBeginner86 fyi

[2022-08-23 15:22] leecalcote commented on #1085
@sb1975, MeshMap is in beta now: https://meshery.io/meshmap

[2022-08-23 15:23] leecalcote commented on #3035
@hershd23 I wonder if you would be so kind as to confirm this behavior has been implemented to satisfaction. Do check the `experimental` portion of `mesheryctl` commands in case this functionality hasn't been exposed, yet.

[2022-08-23 15:29] leecalcote opened #6082 "[Docs] README: Add Docker Extension to the supported platforms table"
#### Current State
This repo's [readme](https://github.com/meshery/meshery/blob/master/README.md) is missing an entry for the Meshery Docker Extension.

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)
- 📚 [Instructions for contributing to documentation](https://docs.meshery.io/project/contributing/contributing-docs)

[2022-08-23 15:46] Devansu-Yadav commented on #6082
Hey @leecalcote I would love to take up this issue as my first contribution to Meshery! 😄

[2022-08-23 16:00] leecalcote commented on #6082
Excellent. 😀

[2022-08-23 16:06] legendarykamal commented on #5960
hi @leecalcote I would love to work on this one.

[2022-08-23 16:09] legendarykamal commented on #6082
Awesome @Devansu-Yadav I was waiting for a newcomer  to pick this up. Best of luck :+1:

[2022-08-23 16:25] leecalcote commented on #5960
Sounds great, @legendarykamal

[2022-08-23 18:29] AugustasV commented on #5771
If I use command `mesheryctl pattern apply -f ./bookInfoPattern.yaml`  it works

[2022-08-23 18:36] hershd23 commented on #3035
Sure @leecalcote

[2022-08-23 21:12] sarthakkathpalia commented on #544
Hello @leecalcote! I would really like to contribute to this issue under the LFX Mentorship Program. I know ReactJS and also contributed over issue related to Meshery's docs. Would be very great of you if I am given a chance to work on this. Thanks!!

[2022-08-23 21:12] leecalcote commented on #6015
https://github.com/meshery/meshery/pull/6038#pullrequestreview-1076311238

[2022-08-23 21:14] leecalcote commented on #544
@sarthakkathpalia, excellent. Some of the better counsel that I can offer in this regard is in the FAQs on https://meshery.io/programs. Heed. Act.

[2022-08-24 05:53] lavakush07 commented on #6021
Hey @nishantwrp can I take up this issue !!

[2022-08-24 06:26] sumitshinde2608 commented on #6040
Hey @MUzairS15, I am having difficulties installing docker-desktop on Ubuntu, can you name me a different cluster that gets deployed successfully?

[2022-08-24 06:28] MUzairS15 commented on #6040
Try using kind

[2022-08-24 06:29] sumitshinde2608 commented on #6040
sure

[2022-08-24 06:34] Chadha93 commented on #5862
Thanks, @subhradwip01. Let me also we what we can do here.

[2022-08-24 06:47] subhradwip01 commented on #5862
May be we can use other code editor...

[2022-08-24 06:54] Chadha93 commented on #5862
A new code editor won't be feasible at the moment.
We can control this formatting in the backend, see this slack conversation:  https://meshery.slack.com/archives/C012UMS2MCM/p1661289401727409

[2022-08-24 07:02] subhradwip01 commented on #5862
Ok👍

[2022-08-24 07:42] Taiwrash commented on #5094
Hello @leecalcote and @sudo-NithishKarthik , I am interested in working on this issue. Where should I continue from?

Thanks

[2022-08-24 08:35] Chadha93 commented on #4921
@amRohitKumar Sure, are you able to run docs locally? If yes, let's assign you.

[2022-08-24 11:43] pk-218 opened #6088 "[mesheryctl] Unable to apply WASM filter `meshery exp filter apply`"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

#### Current Behavior

Unable to apply WASM filter after following example command given in the documentation.
[code]
![image](https://user-images.githubusercontent.com/53428217/186406829-1e05ddb6-8b96-48d2-9631-dfe0e07ba7ed.png)

Also tried pointing to the raw URL, but fails.

![image](https://user-images.

[2022-08-24 12:16] Devansu-Yadav commented on #5875
@YashKamboj @legendarykamal I would like to take up this issue if this hasn't been addressed yet. Could you please clarify what the desired behavior should be (as in what profile information is missing in this case)? 😅

[2022-08-24 13:29] #5618 closed

[2022-08-24 14:26] alphaX86 commented on #6088
Thanks for raising the issue @pk-218 👍

[2022-08-24 20:19] sarthakkathpalia commented on #6058
Thanks @asubedy for assigning this issue. Would be great working with @Kanika637 😊

[2022-08-24 20:23] sarthakkathpalia commented on #544
Thanks @leecalcote. Applied under the LFX Mentorship for this project and submitted the Resume and Cover Letter. Would love to work on this if I am given the opportunity and will definitely try to prove myself 😊

[2022-08-24 20:27] leecalcote commented on #544
@sarthakkathpalia excellent. You might want to re-read the FAQs.

[2022-08-24 23:46] leecalcote opened #6090 "[CI] MeshKit Error Codes Utility Runner failure: invalid JSON"
#### Current Behavior
This action is failing post shuffle/consolidation of Meshery files in root directory (#5837): https://github.com/meshery/meshery/actions/runs/2922997801

[code]

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-releas

[2022-08-24 23:47] leecalcote commented on #6090
@EleisonC, do you mind having a look at this?

[2022-08-24 23:50] leecalcote opened #6091 "[CI] GraphQL Docs action failure"
Current Behavior

This action is failing post shuffle/consolidation of Meshery files in root directory (https://github.com/meshery/meshery/pull/5837): https://github.com/meshery/meshery/actions/runs/2922997802

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.

[2022-08-24 23:57] #6091 closed

[2022-08-25 00:09] #6090 closed

[2022-08-25 00:13] nishantwrp commented on #6021
Hi @lavakush07, this issue might need a deeper knowledge about terminologies and features of meshery. I'd encourage you to pick up any other issue that is labelled with either one of "good first issue" or "help wanted". You can probably grab any issue in [this](https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+org%3Alayer5io+org%3Ameshery+org%3Aservice-mesh-performance+org%3Aservic

[2022-08-25 00:29] #6082 closed

[2022-08-25 00:52] leecalcote opened #6092 "[Docs] Snapshot v0.6.0 release docs"
v0.6.0 is now released. A docs snapshot is needed.

Good thing that someone forced you to write those instructions down. :)

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)
- 📚 [Instructions for contributing to documentation](https://docs.meshery.io/project/contributing/contributing-docs)
   - Meshery documentation [

[2022-08-25 00:54] leecalcote commented on #2515
@asubedy where are we at on this effort overall? Mission incomplete? or... ?

[2022-08-25 10:49] lavakush07 commented on #6088
Can I take up this issue ?

[2022-08-25 14:26] leecalcote opened #6098 "Failing lint checks - [Fix ] Add logic to modify component scheme regarding inconsistent naming"
See [Fix ] Add logic to modify component scheme regarding inconsistent naming | CU-2jp390j #6095

#### Example:
<img width="547" alt="Screen Shot 2022-08-27 at 3 19 10 PM" src="https://user-images.githubusercontent.com/7570704/187046682-19a67331-0f37-49a3-b894-3a7fc2ff8922.png">

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/

[2022-08-25 16:52] #5667 closed

[2022-08-25 22:41] #6015 closed

[2022-08-26 19:20] pk-218 opened #6106 "[CI] `mesheryctl` unit test failing as `docker-compose.yaml` path is incorrect"
#### Current Behavior

Unit test for `github.com/layer5io/meshery/mesheryctl/internal/cli/root/system` fails due to incorrect URL to download `docker-compose.yaml`. Thus, GitHub Actions job _Golang Unit and Integration Tests / Unit tests (pull_request)_ fails for every `mesheryctl` related change

![image](https://user-images.githubusercontent.com/53428217/186976466-b5dc4d91-2e9f-4c1d-aaf4-2f97660

[2022-08-26 19:58] mharshita commented on #5915
I am getting the bullet point over the search field only in Safari. Bullet points are overlapping with heading anchor in all three - Chrome, firefox and safari.

[2022-08-26 19:58] mharshita commented on #5915
@leecalcote Can I work on this issue?

[2022-08-27 03:44] mharshita commented on #5915
@manikmmalhotra are you working on this issue?

[2022-08-27 06:52] manikmmalhotra commented on #5915
@mharshita you can ask @leecalcote to assign i'm not working on this currently

[2022-08-27 16:59] leecalcote commented on #6106
Good find and fix, @pk-218. We have another issue here: the compose file should be under /install/docker, not /docs. that location was probably an oversight in the recent folder restructuring changes.

As you set about making this change, note that updating its location will likely mean a change in areas other than platform.go.

[2022-08-27 18:23] pk-218 commented on #6106
Sure @leecalcote, will take care of that

[2022-08-27 18:44] leecalcote commented on #6098
@sudo-NithishKarthik please fix as this shows as failed test on every freshly opened PR.

[2022-08-27 18:48] #6057 closed

[2022-08-27 19:29] leecalcote opened #6110 "[UI] Crash upon use of HTTPS and WSS"
#### Current Behavior

From @Revolyssup:

#### Desired Behavior
While neither HTTPS or WSS are natively supported currently, their attempted use should not crash the UI.

#### Screenshot/Logs

![Screenshot_20220828_005644](https://user-images.githubusercontent.com/7570704/187045290-5043fdb5-768d-499e-b8f7-695151032c2e.png)

---

#### Contributor [Guides](https://docs.meshery.io/project/contributin

[2022-08-27 20:18] leecalcote commented on #6098
@pk-218, I'm failing to institute a habit of lint checking with @sudo-NithishKarthik. I wonder if you might be so good as to pick up the slack here.

[2022-08-27 20:24] pk-218 commented on #6098
Yes, up for it! @leecalcote

[2022-08-27 20:25] leecalcote commented on #6098
Excellent. Thank you. @pk-218 🙂

[2022-08-27 20:29] leecalcote opened #6112 "[UX] [UI] Offer Social Sharing of User Milestones"
#### Current Behavior
Meshery UI is in need integrating a few social (e.g. twitter, linkedin) share options for when a user accomplishes a milestone like completing a performance test or deploying a design pattern or deploying a service mesh.

#### Desired Behavior
Provide user with mechanism to share these milestones:

1. Successful run of a performance test with a test result chart.
1. Successfu

[2022-08-27 20:59] adarsh500 commented on #6112
Hey Lee, this seems like an interesting issue to work on. Can i take this up?

[2022-08-28 09:38] vaibhav135 opened #6115 "[Docs] Wrong url for meshery client architecture svg"
When clicked on the meshery architecture svg it opens the old svg url (maybe).

#### Current State

url: https://raw.githubusercontent.com/meshery/meshery/master/assets/img/readme/Meshery-client-architecture.svg

<img width="1172" alt="image" src="https://user-images.githubusercontent.com/39329182/187067455-627666ab-6ec4-465a-96d0-6f4a8240587c.png">

#### Desired State

url: https://raw.githubuser

[2022-08-28 09:38] vaibhav135 commented on #6115
@leecalcote  can I take this issue?

[2022-08-28 09:48] vaibhav135 commented on #3884
@leecalcote  can you assign this issue to me if no one else is working on it ?

[2022-08-29 03:36] deveshXm commented on #6115
I would like to work on this.

[2022-08-29 08:58] Kanika637 opened #6372 "[Docs] Dark mode for meshery documentation"
**Current State:**
Right now the documentation for meshery is available in light mode only

![image](https://user-images.githubusercontent.com/84350895/187164173-89aa7d0b-7ed3-4a1b-b1b6-c530c17e32c5.png)

**Desired State:**
An option for a dark theme in the documentation would be more useful and practical as most developers love dark mode.

---
**Contributor Resources**
- [Meshery documentation si

[2022-08-29 14:03] leecalcote commented on #6115
Thanks, @vaibhav135

[2022-08-29 18:33] leecalcote commented on #6112
Hi @adarsh500 thanks for asking. Given that @DivineOrji is on UX and @MUzairS15 is on implementation, it's not clear to me. I'll let @MUzairS15 chime-in as to whether there's a clean break on one of the three use cases.

[2022-08-29 18:35] #5900 closed

[2022-08-29 18:36] gr455 opened #6119 "Enhance Meshery performance to account for multi-cluster deployments"
#### Current Behavior

Currently Meshery performance tests require you to have a kubernetes cluster running. The behaviour of the tests is also undefined in case the user has multiple clusters running

#### Desired Behavior

If the user has no K8s clusters running, skip retrieving cluster info in tests. But still run the tests
If the user has multiple clusters running, retrieve enviroment informat

[2022-08-29 18:36] leecalcote commented on #6119
Good, good.

[2022-08-29 18:50] mharshita opened #6120 "[Docs] Search should show results only in English"
#### Current State
Currently, the search show results in both English and Spanish.

#### Desired State
The search results should be shown in English only.

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)
- 📚 [Instructions for contributing to documentation](https://docs.meshery.io/project/contributing/contributing-doc

[2022-08-29 18:50] mharshita commented on #6120
@leecalcote Please assign me this issue.

[2022-08-29 18:52] DivineOrji commented on #6112
Currently working on this Issue

Here is the figma link https://www.figma.com/file/SMP3zxOjZztdOLtgN4dS2W/Meshery-UI?node-id=2%3A5814

[2022-08-29 19:16] leecalcote commented on #6120
Thanks for filing this issue, @mharshita 👍

[2022-08-29 20:42] #6098 closed

[2022-08-29 20:45] #6106 closed

[2022-08-29 20:49] #5925 closed

[2022-08-29 21:10] leecalcote commented on #6032
@EleisonC I wonder if this is an issue that you'd like to take on.

[2022-08-30 04:20] vaibhav135 opened #6123 "[Docs] Incorrect image naming convention and broken image links."
#### Broken links
  | old link   | new link      |
  |    :----:   |    :----:        |
  | https://raw.githubusercontent.com/meshery/meshery/master/meshes/meshops.proto       |  https://raw.githubusercontent.com/meshery/meshery/master/server/meshes/meshops.proto  |
  | https://raw.githubusercontent.com/meshery/meshery/master/install/docker-extension/docs/img/meshmap-docker-extension-for-meshery.p

[2022-08-30 04:20] vaibhav135 commented on #6123
@leecalcote  please assign this to me.

[2022-08-30 05:13] legendarykamal commented on #6123
@vaibhav135 even on the correct convention, I am seeing a 400 invalid request error .

[2022-08-30 05:16] vaibhav135 commented on #6123
No it means that you have to rename the incorrect one to the correct one. The incorrect convention link is correct it's just the way it is named.

[2022-08-30 05:22] legendarykamal commented on #6123
Ok  @vaibhav135 go ahead :+1:

[2022-08-30 09:05] EleisonC commented on #6032
Yes would like to work on this @leecalcote

[2022-08-30 12:43] Abhishek-kumar09 commented on #5953
This is enforcing the check in provider-ui and not meshery-ui: See link below.
https://github.com/meshery/meshery/pull/5997

We need to enable it on meshery-ui, See the eslint file here: https://github.com/meshery/meshery/blob/master/ui/.eslintrc.js#L75-L76
Which still has the no-dupe keys and jsx-keys off.

[2022-08-30 14:47] Abhishek-kumar09 commented on #5953
cc @legendarykamal

[2022-08-30 15:09] legendarykamal commented on #5953
ok @Abhishek-kumar09 I will update this in the meshery-ui :+1:

[2022-08-30 15:27] legendarykamal commented on #5953
update->  got many errors so It will take a little time to fix all of them @Abhishek-kumar09
![image](https://user-images.githubusercontent.com/95926324/187477568-53284efa-2ea9-4cf2-956e-32c0ffc8d313.png)

[2022-08-30 17:25] pk-218 commented on #3988
@piyushsingariya @alphaX86 can I assist with this issue? I can start with `mesheryctl filter` subcommands.

[2022-08-30 18:10] leecalcote commented on #3988
@nishi6verma @pk-218, this is great. // @alphaX86 @hexxdump

[2022-08-31 05:57] #5395 closed

[2022-08-31 05:57] #5386 closed

[2022-08-31 05:57] #5703 closed

[2022-08-31 05:57] #5713 closed

[2022-08-31 05:57] #5663 closed

[2022-08-31 05:57] #5250 closed

[2022-08-31 12:11] lavakush07 opened #6136 "[Docs]"
#### Current State
- In the docs of **Meshery overview** there is a small typo mistake in the word kubernetes.

#### Desired State

- It should be changed to Kubernetes.

#### Image
- A beginner friendly issue to take up.

![Screenshot 2022-08-31 173535](https://user-images.githubusercontent.com/70131581/187675146-42336762-632c-4778-9dd6-3aa46306a99c.png)

---

#### Contributor [Guides](https://do

[2022-08-31 12:12] Himanshu664 commented on #6136
I want to take this issue

[2022-08-31 12:28] lavakush07 commented on #6136
Great ✅

[2022-08-31 12:31] #6136 closed

[2022-08-31 12:53] mharshita commented on #6120
@leecalcote I have made a PR. Please review.

[2022-09-01 12:07] nishantwrp opened #6143 "Server doesn't handle GitHub urls correctly in patterns, applications, filters"
#### Current Behavior
The logic written to parse github urls and download their content has bugs in patterns, applications, filters (same logic is used in all these places).

#### Examples of buggy behaviour
##### Example 1
When a user does `mesheryctl app onboard -f <github-url-of-a-dir>`, it is expected that all the application yamls in that directory will be imported. But, we consider the first

[2022-09-01 12:32] nishantwrp commented on #5801
Notes from an earlier conversation -- It would not be feasible to self upgrade (or downgrade) the cli along with the `mesheryctl system channel switch` command. One of the reasons for that is that it messes with the version management mechanism of the package managers like `brew`.

[2022-09-01 14:37] asubedy opened #6144 "wrk2 load generator is not working"
#### Current Behavior
Whenever we try to run a performance test using `wrk2` as load-generator we get the following message on Meshery UI
<img width="1552" alt="Screen Shot 2022-09-01 at 20 05 28" src="https://user-images.githubusercontent.com/51183483/187940983-edfb2413-c41a-4f24-a449-67cd40be7f29.png">

In the Meshery Server we get the following error:
[code]
#### Desired Behavior
Performance te

[2022-09-01 14:43] asubedy commented on #6144
here you go @EleisonC lets get this wrapped up quickly 🚀

[2022-09-01 15:41] pk-218 commented on #5850
I am trying to reproduce this issue here in this video -

[multi-cluster-removal-error.webm](https://user-images.githubusercontent.com/53428217/187955096-e7a62a3c-0e4c-4900-afd7-35e773aef8f5.webm)

The context does get removed from the K8sContextMenu component but this throws an error -

![multi-cluster-removal-error](https://user-images.githubusercontent.com/53428217/187955627-98c42fb7-17cb-4e35-

[2022-09-01 19:51] anirudhp26 opened #6160 "Styling Top Right Button on Meshery's Documentation Navbar"
#### Styling of Button Required

Making it Relevent to Meshery's Blue-white theme
![image](https://user-images.githubusercontent.com/107875381/188000195-d5f7d27e-d8d0-4e52-824e-722ae362be1f.png)

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-an

[2022-09-01 19:54] legendarykamal commented on #6160
@anirudhp26 please mention how do you plan to style a bit in the description section.

Also, hope you can now find the apt doc file to work into ? :sweat_smile:

[2022-09-01 19:55] anirudhp26 commented on #6160
@legendarykamal i am really sorry but still haven't figured it out

[2022-09-01 19:57] anirudhp26 commented on #6160
@legendarykamal ok found it, thanks for guiding me out

[2022-09-01 19:59] legendarykamal commented on #6160
No sweat go ahead ! @anirudhp26 :100:

[2022-09-01 20:00] anirudhp26 commented on #6160
Is it in the docs folder which is at the root dir

[2022-09-01 20:03] legendarykamal commented on #6160
yes it is and you should probably comment here that you want to work on this to get assigned .

[2022-09-01 20:09] leecalcote opened #6161 "[UI] Applications: Helm logo missing / broken link"
#### Current Behavior
<img width="686" alt="Screen Shot 2022-09-01 at 3 04 52 PM" src="https://user-images.githubusercontent.com/7570704/188002363-7cd66a41-ed16-4757-9ba4-a6305cd7634c.png">

#### Desired Behavior
Display Helm logo.

#### Environment

- Browser: Safari
- Host OS: Mac
- Meshery Server Version: stable-v
- Meshery Client Version: stable-v
- Platform: Docker

---

#### Contributor [Gui

[2022-09-01 20:10] Himanshu664 commented on #6161
I wanna try this please assign

[2022-09-01 20:27] Chadha93 commented on #6161
@leecalcote This should not be the case. Seems your components were not registered properly. I just uploaded a help chart and it's working.
`https://github.com/prometheus-community/helm-charts/releases/download/alertmanager-0.18.3/alertmanager-0.18.3.tgz`
![image](https://user-images.githubusercontent.com/65453826/188005828-ccc7ba8e-e840-482b-9f42-b12e05af6e96.png)

[2022-09-01 20:28] anirudhp26 commented on #6160
@legendarykamal but i created this issue still i have to comment for getting assigned this work?

[2022-09-01 20:29] anirudhp26 commented on #6160
Well ig the work is done and i made a pull request, i'll make sure i get assigned to any work before doing it. Sorry for that

[2022-09-01 20:29] Chadha93 commented on #6161
The `ap3 `application doesn't seem to have any helm release items.

[2022-09-01 20:36] warunicorn19 commented on #6161
There should probably be an error handler or a default handler here.

[2022-09-01 20:52] leecalcote commented on #6161
I was on the phone while filing this bug. I should note that this screenshot is from a deployment to the `platform: docker` using the `v0.6.0-stable` release version and channel.

[2022-09-01 20:55] leecalcote commented on #6161
@warunicorn19 you're right. It's safe to say that a broken image is never a good thing. The default "image" could be no image at all. Better yet, the default image can be the Meshery Application icon, which can be found in either the Figma file or in the community drive under Assets --> Meshery - https://drive.google.com/drive/folders/19iW2BJly3YEwpQt9TQnmXI63HmknOkKY?usp=sharing

[2022-09-01 21:03] leecalcote commented on #6161
@Chadha93 I see what you mean. That makes sense: a defunct entry.

[2022-09-02 02:55] leecalcote opened #6163 "[UI] MeshSync Status: Inconsistency between K8s context switcher and Settings page"
#### Current Behavior
<img width="673" alt="Screen Shot 2022-09-01 at 9 53 09 PM" src="https://user-images.githubusercontent.com/7570704/188049443-1e04a56f-79d6-4fc9-a028-9e96b7e9add6.png">
mu

#### Environment

- Meshery Server Version: stable-v06.4
- Meshery Client Version: stable-v06.4

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io

[2022-09-02 03:03] leecalcote commented on #6160
@anirudhp26 thanks for jumping into the project. It's good to have you engaged.

[2022-09-02 03:03] #6160 closed

[2022-09-02 04:27] #6123 closed

[2022-09-02 04:31] #5929 closed

[2022-09-02 04:43] legendarykamal commented on #6161
ok so cut short  if there is no release  yet or no img -> then  display a default img (Meshery Application icon)

Should I fix this @leecalcote ?

[2022-09-02 04:48] leecalcote commented on #6161
If there's no application type defined or one defined, but that is not supported (e.g. " "), yes, please incorporate a default icon.

[2022-09-02 21:08] leecalcote commented on #6163
@MUzairS15 this might mean finishing off your other PR related to this.

[2022-09-03 21:15] legendarykamal commented on #6055
Is this issue done @Rohith-Raju ?

[2022-09-04 10:25] harkiratsm opened #6172 "[UI] Having ellipsis text property in Cards"
#### Current Behavior

![Screenshot from 2022-09-04 15-47-30](https://user-images.githubusercontent.com/71957674/188308759-97c073d8-8ba8-4df1-8285-f33a54fd6de1.png)

#### Desired Behavior

 Add text ellipsis property for text in the Card.

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)

- 🎨 Wireframes and designs fo

[2022-09-04 10:26] Himanshu664 commented on #6172
Hey please assign I want to do this

[2022-09-04 16:33] leecalcote commented on #6172
Thank you, @harkiratsm

[2022-09-05 04:59] lavakush07 opened #6175 "A small typo mistake in Cloud native catalog page"
#### Current State

- Correct the word **compatibilty** . While I am reading the docs I came to this one.
![image](https://user-images.githubusercontent.com/70131581/188363695-8d8f7105-173f-4127-b06b-6f3f6f16ec73.png)

#### Desired State

- Change it to **compatibility**
- A beginner friendly issue. Any new comer can take this one
---

#### Contributor [Guides](https://docs.meshery.io/project/cont

[2022-09-05 05:09] lavakush07 opened #6176 "Logo missing"
#### Current Behavior

There is a missing of logo in the repository overview.
![image](https://user-images.githubusercontent.com/70131581/188364582-9936b118-9797-47e1-8b4b-b7cc5bcaf3b8.png)

#### Expected Behavior

- Logo should be seen just like other repos.
#### Screenshots/Logs

#### Environment

- **Host OS:** Mac Linux Windows
- **Platform:** Docker or Kubernetes
- **Meshery Server Version:**

[2022-09-05 05:10] Himanshu664 commented on #6176
Hey I want to work on this

[2022-09-05 05:12] lavakush07 commented on #6176
Can I please take this issue up , Thank you for asking.

[2022-09-05 05:13] Himanshu664 commented on #6176
@lavakush07 Sure Go Ahead

[2022-09-05 14:09] abhiyant-10 commented on #6175
I can do this :)

[2022-09-05 16:26] Chadha93 commented on #6065
Marking this as complete. See this https://github.com/meshery/meshery/commit/99f3182449293f808ba9fd4e045639f8787d1f4f

[2022-09-05 18:28] Chadha93 commented on #6175
Hi @lavakush07. This repository is for Meshery only, will you please open this issue here https://github.com/meshery/meshery.io for site updates?

[2022-09-06 01:10] acald-creator opened #6178 "Unable to install `mesheryctl` v0.6.5, `meshery-perf` and `meshery-cillium` are crashing"
#### Current Behavior
Current release `v0.6.5` failed to complete installation, both `meshery-perf` and `meshery-cillium` are crashing. From the previous release, `meshery-perf` and `meshery-cpx` are supposed to be deprecated, however, installing the Helm charts, still pulled in `meshery-perf` even though it is disabled.

For Cillium, here is an existing issue open [#71](https://github.com/meshery

[2022-09-06 01:44] acald-creator commented on #6178
Removing the two charts: `meshery-perf` and `meshery-cpx` from the `values.yaml` did not work, I tried removing any instances of them being mentioned via the Charts. However, deleting the two folders, solved the issue of keeping the two Docker images being pulled into the Helm deployment.

Please let me know if this was the intention to remove these two from the charts, and not to be used anymore

[2022-09-06 02:02] leecalcote commented on #6178
@CyrineG @alphaX86 @AugustasV

[2022-09-06 02:50] legendarykamal commented on #6176
This is opened in the wrong repo , hence closing it .
Please open in layer5 not here .

[2022-09-06 02:50] #6176 closed

[2022-09-06 05:11] lavakush07 commented on #6175
Yeah sure @Chadha93, Done

[2022-09-06 11:17] Chadha93 commented on #6175
Thank you

[2022-09-06 11:17] #6175 closed

[2022-09-06 12:55] CyrineG commented on #6178
@acald-creator that is weird. Setting the condition values should be [enough](https://helm.sh/docs/topics/charts/#tags-and-condition-fields-in-dependencies), unless the boolean variable path defined is not the correct one :thinking:

[2022-09-06 13:21] acald-creator commented on #6178
@CyrineG I'm thinking thee same thing as well, I'll see if I can make some changes to test to see if it works out or not, where I may not have to removed the folders completely.

[2022-09-06 14:18] acald-creator commented on #6178
I haven't made any changes but was there something changed? This is occurring from the `master` branch and `v0.6.5` tag. I even clone the project separately, and this error came up.

[code]

[2022-09-06 14:36] acald-creator commented on #6178
@alphaX86 Hi there, the names being appended with `meshery-` that's when I did a local installation trying to test the changes.

However, using the `curl -L https://meshery.io/install | PLATFORM=kubernetes bash -` resulted in this output.

[code]

But `meshery-perf` and `meshery-cpx` are still being pulled in, even though they are deprecated? Are they meant not to be pulled in the Helm deployment?

[2022-09-06 14:37] alphaX86 commented on #6178
@acald-creator they shouldn't that's why I declared them as deprecated last week to avoid them getting pulled. This is strange... seems they are dependent on something else, time to check it deep

[2022-09-06 14:43] alphaX86 commented on #6178
Oh wait.... the charts are being repeated again... under `meshery-operator` 👀
![image](https://user-images.githubusercontent.com/59508546/188664896-5a50d440-c47b-46a8-bc57-11ef2289dd34.png)

// @leecalcote

[2022-09-06 14:44] acald-creator commented on #6178
Yes, that was going to be my next question, because it is repeated in `meshery-operator` and I also had a question about the versioning too, since it is at `0.5.0` and the latest release is `v0.6.5`.

[2022-09-06 14:47] acald-creator commented on #6178
My initial thought was that the two deprecated charts were been pulled in because it is still in the `meshery-operator` but I wasn't sure how dependent `meshery` is on `meshery-operator`.

[2022-09-06 16:36] CyrineG commented on #6178
So our issue right now here is that:

1- we can't delete their definition as dependencies in meshery/Chart.yaml while keeping their charts under /charts
=> because Helm expects all dependencies under /charts to be declared in Chart.yaml else the Chart Release tests fail
2- the meshery-perf and meshery-cpx are still deployed despite disabling them in Values.yaml
=> I wonder if using tags (like [her

[2022-09-06 16:57] acald-creator commented on #6178
After the PR was reverted, I'm testing to see if keeping them disabled in either `meshery-operator` or `meshery` makes a different. Even declaring them deprecated should do something too, but I'll return with a response.

[2022-09-06 17:07] Chadha93 opened #6181 "[UI] Add custom loading animated effect for Filters"
#### Current Behavior
Filters also load with delay, which is not a good UX

#### Desired Behavior
Use the filters logo for animation. Take reference from Patterns animation PR.

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)

- 🎨 Wireframes and designs for Meshery UI in [Figma](https://www.figma.com/file/SMP3zxOjZzt

[2022-09-06 18:05] acald-creator commented on #6178
After some testing, it seems that `meshery-perf` and `meshery-cpx` takes precedent in the Helm deployment, when it is enabled `true` via `values.yaml` in the `meshery-operator`.

Checking the `meshery` helm locked file, there aren't any `meshery-perf` and `meshery-cpx` but it is still showing through the `meshery-operator` helm locked file.

Just updating to let you know that I'm still testing, be

[2022-09-06 21:33] #6178 closed

[2022-09-07 03:39] leecalcote commented on #5654
@acald-creator, perhaps you would like to take this on?

[2022-09-07 04:04] acald-creator commented on #5654
@leecalcote Of course, sure I can.

[2022-09-07 16:14] leecalcote opened #6188 "[Docs] Enhance Compatibility Matrix with "N/A" status"
#### Current State
In today’s Meshery dev meeting, there was a discussion on the [compatibility matrix](https://docs.meshery.io/project/compatibility-matrix) and an acknowledgement that some components will forever be incompatible between different versions of their integrated systems. The example used is that of Open Service Mesh’s incompatibility with an older version of Kubernetes, which conseq

[2022-09-07 16:18] leecalcote commented on #6188
New icon created. Icon set updated in community drive. Icon exported for convenience and attached here.
![compatibility-matrix-na-status](https://user-images.githubusercontent.com/7570704/188929000-47c89e6f-8613-435b-9480-763c302f6c78.svg)

[2022-09-07 19:12] RahulSurwade08 commented on #4573
Hey @leecalcote I would love to contribute for this issue. How can i get started?

[2022-09-07 19:59] leecalcote commented on #4573
@RahulSurwade08, great. I'll call on @Aisuko to assist.

[2022-09-07 20:33] #5572 closed

[2022-09-07 20:41] RahulSurwade08 commented on #4573
Sure Thanks. @leecalcote

[2022-09-07 20:58] vishal267 commented on #4642
We can use trivy for scanning images, better to add in GitHub actions. Let me know if I can pick up this issue. Can aim to fix critical vulnerabilities. @leecalcote

trivy image --severity CRITICAL  meshery/meshery-cpx:stable-latest

<img width="1021" alt="image" src="https://user-images.githubusercontent.com/19798194/188977842-355df8bc-2a0b-4754-9931-7d67c20ae4f6.png">

[2022-09-07 21:16] leecalcote commented on #4642
@vishal267 yes, let's give this a shot. Our challenge isn't so much knowing about the vulns, but in fixing them. We need someone to wrangle the updating of images, dependencies, and so on.

[2022-09-08 04:06] harkiratsm commented on #5831
Completed by #5661

[2022-09-08 04:06] #5831 closed

[2022-09-08 04:14] measutosh commented on #5827
Hi @leecalcote , as the issue is in stale, I want to pick this up but I am completely new to code contribution, have done a lot doc contribution
so is it possible for you to assign someone who has already done code contribution, then I will be collaborating with them to understand how this works out

[2022-09-08 11:44] CyrineG opened #6191 "[UI] cluster settings interface: Add onclick row expansion + modify cursor on hover"
#### Current Behavior

In the cluster settings interface page, in order to display the cluster details the user must click on the small arrow '>' , this will then expand the row and show more details.

This is not intuitive, as the arrow is very small and there is no indication that it should be clicked (cursor remains the same on hover, and clicking the row merely selects it).
![image](https://us

[2022-09-08 12:44] CyrineG opened #6192 "[UI] Cluster settings interface: discrepancy between cluster context and type of deployment"
#### Current Behavior

Deployment context is 'in cluster' (correct) but the type of deployment is displayed as 'out of cluster' (wrong)
![image](https://user-images.githubusercontent.com/25556789/189124501-dbb79e1a-8d2b-45f0-802d-b6fb01325783.png)

#### Desired Behavior

Deployment context and type of deployment should be similar.
#### Screenshots/Logs

#### Environment

- Browser: Chrome Safari F

[2022-09-08 13:58] sam1code commented on #6191
Hii @CyrineG I would love to work on this.

[2022-09-08 14:00] sam1code commented on #6192
Hii @CyrineG I'll love to work on this.

[2022-09-08 14:39] CyrineG commented on #6192
Awesome, I'm assigning this issue to @sam1code then

[2022-09-08 21:20] sam1code commented on #6192
Here it is not getting value for inClusterConfig so I used outclusterconfig to check it is out of cluster... Taken reference from Meshery MesherySettings...

[2022-09-09 13:23] acald-creator opened #6193 "[CI] Integration tests failing"
#### Current Behavior
When you run the integration test, this command below will fail via GitHub Actions workflow and local development because the version is not updated to reflect the latest `mesheryctl` version which is now at `v0.6.6`. Integration test is showing version `v0.5.10`

`go test -run Integration ./... -race -coverprofile=coverage.txt -covermode=atomic -timeout 40m`

#### Expected B

[2022-09-09 15:05] leecalcote commented on #6191
A UI mockup is needed.

[2022-09-09 15:09] leecalcote commented on #6191
@CyrineG please open a separate issue on the "in cluster" versus "out of cluster". Do, also, confirm that you've opened up the other 6 or so tasks/issues we recently covered.

[2022-09-09 15:12] leecalcote opened #6196 "[Docs] Troubleshooting Guide: Enhance troubleshooting section with toolkit info"
#### Current State
The current https://docs.meshery.io/guides/troubleshooting guide can be expanded with new Meshery Operator statuses and so on.

#### Desired State
Reformat and publish relevant info from https://docs.google.com/document/d/1q-aayRqx3QKIk2soTaTTTH-jmHcVXHwNYFsYkFawaME/edit#

Interview expert, @MUzairS15, if needed.

---

#### Contributor [Guides](https://docs.meshery.io/project/co

[2022-09-09 15:12] #5874 closed

[2022-09-09 15:18] #4147 closed

[2022-09-09 20:52] leecalcote opened #6198 "[Golang] Failed lint check in server/models/package_manager.go"
#### Current Behavior
The return value of `ap.UpdatePackageData` needs checked. See screenshot.

#### Screenshots/Logs

<img width="728" alt="Screen Shot 2022-09-09 at 3 49 26 PM" src="https://user-images.githubusercontent.com/7570704/189441912-e3b595b7-a768-4d8c-8da3-1d3e18283eac.png">

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/co

[2022-09-09 20:52] leecalcote commented on #4642
@vishal267 what do you propose for next steps?

[2022-09-09 22:22] CyrineG commented on #6191
@leecalcote already [done](https://github.com/meshery/meshery/issues/6192)!

[2022-09-10 00:38] khanjasir90 commented on #6198
@leecalcote I would love to work on this

[2022-09-10 02:19] CyrineG opened #6199 "[UX] Brainstorm new Figma layout for meshery settings interface"
#### Current Behavior

This is the current settings interface
![image](https://user-images.githubusercontent.com/25556789/189465091-8f4d16d1-4c97-4c56-bf28-b6bf0af14eda.png)

#### Desired Behavior

#### Implementation

#### Acceptance Tests

#### Mockups

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)

- 🎨 Wireframe

[2022-09-10 02:22] CyrineG opened #6200 "[Docs] Add websocket port to list of ports in meshery documentation"
#### Current State
Websocket port needs to be added to the meshery architecture [network ports table](https://docs.meshery.io/concepts/architecture#network-ports)

#### Desired State

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)
- 📚 [Instructions for contributing to documentation](https://docs.meshery.io/project/c

[2022-09-10 02:26] CyrineG opened #6201 "[Docs] Google docs: get rid of deprecated documentation"
#### Current State
The community google docs folder contains deprecated documentation that needs to be cleaned up.

#### Desired State

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)
- 📚 [Instructions for contributing to documentation](https://docs.meshery.io/project/contributing/contributing-docs)
   - Meshery docu

[2022-09-10 02:31] CyrineG opened #6202 "[Docs] Outline a new information architecture for meshery docs"
#### Current State
Here is an [attempt](https://docs.google.com/document/d/1vNozxa8aD_WCQwatGDMg7PzYjjiZEkNyuJYVY_FlZ4E/edit) at defining the reader flow, which can be build off of or taken as an example. Minimally, this doc can be consolidated into the [Meshery Docs design spec](https://docs.google.com/document/d/17guuaxb0xsfutBCzyj2CT6OZiFnMu9w4PzoILXhRXSo/edit), which can be used to outline a n

[2022-09-10 07:45] rakshitgondwal commented on #6172
Hey @Himanshu664 !
Are you still working on this issue?

[2022-09-10 19:16] vishnus17 opened #6204 "[Docs] Misaligned item"
#### Current State
Mershery Perf in Networks table is misaligned.
https://docs.meshery.io/concepts/architecture#network-ports

#### Desired State
Fix the alignment wrt to other contents.

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)
- 📚 [Instructions for contributing to documentation](https://docs.meshery.io/proje

[2022-09-10 19:23] vishnus17 commented on #6204
It is an indentation error which I've fixed. I will submit the PR once the issue is approved.

[2022-09-10 21:55] #5782 closed

[2022-09-10 21:55] #3932 closed

[2022-09-10 21:55] #4889 closed

[2022-09-10 21:55] #5300 closed

[2022-09-10 21:55] #5675 closed

[2022-09-10 21:55] #5504 closed

[2022-09-10 21:55] #5715 closed

[2022-09-10 21:55] #5774 closed

[2022-09-10 21:55] #5802 closed

[2022-09-10 21:55] #5845 closed

[2022-09-10 21:55] #5117 closed

[2022-09-10 21:55] #5609 closed

[2022-09-11 02:04] #5872 closed

[2022-09-11 14:40] rakshitgondwal commented on #6198
Hey @leecalcote
I would love to try solving this issue. Can you give me a brief about how this issue can be solved?

[2022-09-11 15:51] Rohith-Raju commented on #6055
https://discuss.meshery.io/t/how-to-expose-nats-server-and-load-balancer/1150?u=rohith

[2022-09-11 18:23] legendarykamal commented on #5117
@MarioArriaga92 I think you have been busy in a while, I will dig in this meanwhile :)

[2022-09-11 18:33] legendarykamal opened #6206 "[mesheryctl] While deploying on docker , Docker compose is requiring permission for auto installing"
_See [mesheryctl Command Tracker](https://bit.ly/3dqXy1q) for current status of commands._

This is a dependency to #2652

#### Current Behavior

 This issue persists due to auto-install of docker-compose and mesheryctl not having moved to the golang-integration.

Installed mesheryctl via docker
but recieved error of kubernetes which is not as expected.
#### Desired Behavior

#### Screenshots/Logs

[2022-09-11 19:29] leecalcote commented on #6206
To clarifying, currently, `mesheryctl` should / does auto-install `docker-compose`. It seems that an edge case surrounding permissions isn't accounted for in this install process. While a temporary fix can be made, the overarching goal is to move away from use lib-compose as an external executable to use of docker-compose as a golang library.

[2022-09-11 20:37] leecalcote opened #6208 "[UI] Menu sidebar toggle: enhance on hover effect"
#### Current Behavior
An improved on hover effect for Meshery extensions' expand/collapse tab has been added.

#### Desired Behavior
The main Meshery menu sidebar tab could be enhanced with the same visual effect.

#### Screen capture of current behavior

https://user-images.githubusercontent.com/7570704/189547932-63c3106b-2a23-4710-84a6-db4727d3fcde.mov

---

#### Contributor [Guides](https://doc

[2022-09-11 22:43] vishal267 commented on #4642
We can upgrade the base image in the docker file to "golang:1.19.1-alpine3.16". Checked with trivy scanner there is no critical vulnerability. FYI currently we are using  golang:1.17. Using an alpine image will help in reducing the image size.
@leecalcote

[2022-09-12 02:31] leecalcote commented on #4642
Good   I suspect you’ll find compatibility issues with the Alpine base image and the embedded wrk2 and nighthawk binaries. If not, that would be great.

[2022-09-12 10:16] kumarvikramshahi commented on #6208
Hey @leecalcote , i would like to work on this issue.

[2022-09-12 16:34] legendarykamal commented on #6198
Thank you gents for showing interest on this issue, assigning based on FCFS .
@khanjasir90 :+1:

[2022-09-12 16:36] legendarykamal commented on #6201
@CyrineG I dont think everyone has the permission to do so, maybe the admins @leecalcote , @Chadha93 ..etc can do it.
+ @CyrineG can you mention the docs that are the depreciated ones ?

[2022-09-12 17:51] rakshitgondwal commented on #6198
Hey @khanjasir90 !!!
Would you like to work on this issue together? As this is a good first issue, I think it would bring me some good learnings and I really want to give it a try. What say?

[2022-09-12 18:12] khanjasir90 commented on #6198
Yep sure!

[2022-09-12 18:16] CyrineG commented on #6201
@legendarykamal you are right, only a few people have permissions to do this task. I will be closing this issue since it's not something a community member can execute.

[2022-09-12 18:20] legendarykamal commented on #6201
Exactly

[2022-09-12 18:20] #6201 closed

[2022-09-12 19:34] Chadha93 opened #6209 "[E2E] Fix Filters configuration tests for Meshery UI"
#### Current Behavior
Recently the REST API requests were updated to GrahQL one due to which the request/intercept calling in cypress filters needs to be refactored. Currently, they are disabled.

#### Desired Behavior
Enable the Filters E2E and Integration tests again with the new GraphQL request implementation.

#### Implementation
Initial GraphQL utils for queries and mutations that will be req

[2022-09-12 19:35] Chadha93 commented on #6209
@MarioArriaga92 Will you make a fix for this?

[2022-09-12 20:13] leecalcote opened #6210 "[Docs] Integration Tests: Missing Traefik Mesh version"
#### Current State
<img width="1244" alt="Screen Shot 2022-09-12 at 3 12 57 PM" src="https://user-images.githubusercontent.com/7570704/189749472-683fa7bd-e2f9-48fb-9a62-57f620cea44c.png">

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)
- 📚 [Instructions for contributing to documentation](https://docs.meshery.io/proj

[2022-09-12 20:13] leecalcote commented on #6210
@asubedy will you triage and reassign if CI workflow updates are needed?

[2022-09-12 20:15] rakshitgondwal commented on #6198
you got discord or slack? @khanjasir90

[2022-09-12 22:24] vishnus17 commented on #6200
Hi @CyrineG . I've fixed this issue along with #6204 and made PR which was approved by you and @hershd23. Can you/someone with write access approve the changes as other PRs are being committed into the repo which would need me to update the branch again.
Thanks

[2022-09-13 03:48] Rohith-Raju commented on #6055
@legendarykamal would you like to pick this up...I have exams coming up

[2022-09-13 03:49] Rohith-Raju commented on #6055
Here's my progress, as i ran into some issues.

[2022-09-13 13:09] CyrineG opened #6211 "[Helm] Restructure Meshery and Meshery operator helm charts"
#### Current Behavior

Following https://github.com/meshery/meshery/pull/6005 we've come to the conclusion that as long as we are trying to install/uninstall operator under two different releases (`meshery` and `meshery-operator` releases) there will always be conflicts.
#### Desired Behavior

As such our new goal is to completely separate out meshery  and meshery-operator. And in order to manage

[2022-09-13 15:24] CyrineG commented on #6199
Awesome, I'll assign it to you then! @joanamadasun

[2022-09-13 15:44] Sinonaif commented on #6199
Hey, would love to work on this too

[2022-09-14 01:57] Himanshu664 commented on #6172
@rakshitgondwal I am unable to locate the code can you help me out

[2022-09-14 04:50] #6200 closed

[2022-09-14 07:46] aj-2000 commented on #4921
Hello @Chadha93, I want to work on this issue. Please assign it to me.

[2022-09-14 12:55] harkiratsm opened #6215 "[UI] Adding a tooltip for the Cards"
#### Desired Behavior

Add tooltip for the cards i.e ```applications/filters/patterns```

![image](https://user-images.githubusercontent.com/71957674/190159280-adbf66c8-11c6-44ce-8a6a-60a15e16176f.png)

---

#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)

- 🎨 Wireframes and designs for Meshery UI in [Figma](https://www.f

[2022-09-14 13:00] legendarykamal commented on #6215
@harkiratsm can you please elaborate on what that tooltip should contain?

[2022-09-14 13:58] sam1code commented on #6192
For now I'm not going to create any PR to meshery till 29th september!
I'll try to create on 30 if it is still assigned to me!
Still I'll create the last PR for meshery today then I'll start again from 295h september!

[2022-09-14 16:52] leecalcote commented on #6211
@CyrineG @Revolyssup, please add Meshery.io and docs.meshery.io to the checklist.

[2022-09-14 17:02] Chadha93 commented on #4921
Sure, are you able to run docs locally? If yes, let's assign you.

[2022-09-14 17:33] leecalcote opened #6216 "Readme, docs: update Meshery logo"
#### Current Behavior
The Meshery logo with tagline is antiquated.

#### Implementation
Swap out all instances of the tagline logo with a version sans tagline.

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and [Handbook](https://layer5.io/community/handbook)
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions fo

[2022-09-14 18:31] #6163 closed

[2022-09-14 18:36] leecalcote commented on #5973
@sivanaikk will you open a sibling issue in the form of an enhancement for Meshery to support HTTPS?

[2022-09-14 19:00] #6115 closed

[2022-09-14 19:37] aj-2000 commented on #4921
Yeah! It's perfectly running fine on my local system. Here is a screenshot to support this.
https://ibb.co/KNKmDXZ

[2022-09-14 19:49] aj-2000 commented on #4921
**Yeah! It's perfectly running fine on my local system. Here is a screenshot to support this**
<img width="1440" alt="Screenshot 2022-09-15 at 1 04 03 AM" src="https://user-images.githubusercontent.com/97158497/190248661-338ba71c-9bb6-4d19-892b-cbc0cdf33c04.png">

[2022-09-15 03:03] #5960 closed

[2022-09-15 11:01] #6181 closed

[2022-09-15 11:09] dara-soji commented on #6215
Please can I be assigned to this issue

[2022-09-15 12:03] harkiratsm commented on #6215
Thank you @dara-soji , if you have problems or questions https://discuss.meshery.io/

[2022-09-15 12:38] CyrineG commented on #6211
@leecalcote done!

[2022-09-15 13:04] #6204 closed

[2022-09-15 13:13] aj-2000 commented on #4921
@Chadha93

Keppel Color Variant:
<img width="1438" alt="keppel green version selector" src="https://user-images.githubusercontent.com/97158497/190412430-7b7fabf2-ee62-4b8b-a9e7-93789bcc0369.png">
Carribean Color Variant:
<img width="1440" alt="carribean green version selector" src="https://user-images.githubusercontent.com/97158497/190412448-d1668e69-ca69-42e1-83fe-ebb4b55eb075.png">

can you give

[2022-09-15 16:44] #6211 closed

[2022-09-15 21:29] acald-creator commented on #6198
// @leecalcote This issue has been fixed via this commit https://github.com/meshery/meshery/commit/04e6dab2cd67a5bbf174ffeb971d771a7b8aaedb and it's already on master, we can close this issue.

[2022-09-15 22:29] acald-creator commented on #4642
I checked the `Go` version and saw that `1.17` is EOL.

Here is the reference: https://endoflife.date/go

Perhaps we can start a slow process to upgrade the Go version to 1.18, and then we can another move to Go version 1.19

[2022-09-15 22:47] leecalcote commented on #4642
@acald-creator sounds great, yes, let's do it. In fact, we can start with 1.19, and if no issues arise, we might leapfrog 1.18. If issues do arise, we can bump down to 1.18 and assess whether the same concern(s) is present.

[2022-09-15 23:06] leecalcote commented on #6198
Thank you, @acald-creator 👍

[2022-09-15 23:06] #6198 closed

[2022-09-16 01:31] acald-creator commented on #4642
@leecalcote I have a separate branch for `meshery` repo on go 1.18 so if there were many differences in between 1.17 and 1.18. I'll create another branch to see if 1.19 is not too bad.

[2022-09-16 01:44] leecalcote commented on #4642
Oh, ok. Sounds great. Sounds like progress already. 🚂

[2022-09-16 01:45] leecalcote commented on #4642
I should mention just to be sure that it’s part of the plan: all of the components should be upgraded concurrently.

[2022-09-16 01:48] acald-creator commented on #4642
Agreed, I'll raise the issue but this issue can be a tracking for all components, and we can make references to the other repos as we goes through the changes.

[2022-09-16 01:50] acald-creator opened #6220 "Upgrade Go 1.17 to 1.19, fallback to 1.18 if issues arise"
#### Current Behavior

Currently, we are developing under Go 1.17 across almost all projects that is a Go project. Go 1.17 is currently at EOL, here is the reference to the EOL chart:

https://endoflife.date/go

#### Desired Behavior

We should start the process to upgrade to Go 1.19, but we can fall back to Go 1.18 if issues/concerns arise.

#### Implementation

This raised issue will remain as t

[2022-09-16 13:33] Revolyssup opened #6222 "Slow server response for K8s context graphql subscription"
#### Current Behavior

When loading the page in Meshery, somewhere between UI and server there is a bottleneck causing the kubernetes contexts to load very slowly
#### Expected Behavior

Detect and eliminate the bottleneck
#### Screenshots/Logs

#### Environment

- **Host OS:** Mac Linux Windows
- **Platform:** Docker or Kubernetes
- **Meshery Server Version:** stable-v
- **Meshery Client Version:

[2022-09-17 05:12] harkiratsm commented on #6172
@Himanshu664 It's [here](https://github.com/meshery/meshery/blob/master/ui/components/MesheryPatterns/MesheryPatternCard.js#L82), Good luck.

[2022-09-17 05:18] harkiratsm commented on #6215
@dara-soji how is it coming along.

[2022-09-17 07:34] dara-soji commented on #6215
@harkiratsm sorry I didn't reach out sooner, I was trying to get a hang on Go. I am working on the UI but I haven't been able to test my updates. I have set up the UI but setting up the server is where I'm having a challenge.

Please can you help me out with the server or can I see my updates without running the server just the UI?