[2020-01-14 14:01] leecalcote opened #596 "Performance: mesheryctl-based SMPS Import and Test Execution"
**Current Behavior**
Users are able to invoke performance tests via UI.

**Desired Behavior**
Capability: Provide -f and --file import of an SMPS document.
Behavior: Support local filesystem references and HTTP/S references. Accepting a single file reference only, populate SMPS test configuration values into Performance page fields.

See `test` command in [Meshery CLI Commands & Documentation](htt

[2020-01-14 15:43] leecalcote opened #598 "Preferences: Sending Anonymous Performance Test Results"
**Current Behavior**
Meshery sends anonymous performance test results for statistical analysis to provide the public service of informing people who are adopting and using service meshes. See https://layer5.io/results for a current count of the results received.

**Desired Behavior**
1. Whether an instance of Meshery sends of anonymous performance test results should be a user's choice (behavior c

[2020-01-14 15:46] leecalcote opened #599 "Preference: Sending of Anonymous Usage Statistics"
**Current Behavior**
Meshery sends anonymous usage statistics to provide insight and feedback on Meshery's functionality and influence Meshery's roadmap.

**Desired Behavior**
1. Whether an instance of Meshery sends of anonymous usage statistics should be a user's choice (behavior controlled via user preference).
1. Sending of anonymous usage statistics should be enabled by default.

**Implementat

[2020-01-14 15:53] #399 closed

[2020-01-14 16:00] leecalcote opened #600 "Docs: Update Releases table with v0.3.3 through v0.3.6 releases"
**Current State:**
The [releases documentation page](https://meshery.layer5.io/docs/releases) is missing the latest releases

**Desired State:**
Releases page should have [v0.3.3, v0.3.4, v0.3.5, v0.3.6](https://github.com/layer5io/meshery/releases)

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/lay

[2020-01-15 04:34] leecalcote commented on #600
v0.3.7 should now be listed as well.

[2020-01-15 15:17] #450 closed

[2020-01-15 16:02] anandrkskd opened #601 "Removal of time stamp form mesheryctl"
**Description**
mesheryctl when used now displays time stamp.

**Expected Behavior**
Removal of the time stamp for better UX and clean output.
 $ mesheryctl version
INFO[0000] Version: 0.3.7
INFO[0000] GitSHA:5c1818edab2fd6eb1a7a11a2a223290dd21bbaad

we need to remove **INFO[0000]**  form the front.

**Screenshots**
![Screenshot from 2020-01-15 21-30-34](https://user-images.githubusercontent.com/3

[2020-01-15 16:08] anandrkskd opened #602 "Add flag in mesheryctl version"
**Current Behavior**
currently mehseryctl doesn't take any flag as argument for version command

**Desired Behavior**
Adding a version flag. eg: **mesheryctl -v** will reproduce the output of mehseryctl version and will be an alternate to version keywork/argument.

[2020-01-15 16:12] anandrkskd opened #603 "[mesheryctl] Add meshery server in mesheryctl version"
**Current Behavior**
Currently `mesheryctl system version` only _accurately_ displays GitSHA and mesheryctl client version information. The server information shown is inaccurate.

**Prologue**
Meshery will provide a hierarchy of context-specific `version` commands, going from root (`mesheryctl`) to subcommand (`mesheryctl mesh`) to a specific type of that subcommand  (`mesh --type istio --version

[2020-01-16 11:18] #600 closed

[2020-01-16 12:02] leecalcote commented on #273
@raghavaggarwal99 this area continues to provide a poor user experience. You'll notice that when a user initially connects to a Grafana instance, the Boards dropdown will not populate until the user navigates away from that section (or page entirely, I can't remember) and returns back to click the Boards dropdown. Only then, are they shown a list of Grafana board names. Will you look at this?

[2020-01-16 20:07] coip opened #607 "Login required to use?"
**How can we help?**
I might be missing something here, as I admittedly have very little context.

I see you require using a social login to address this concern of yours:

Why not support some sort of ~`.config` file?
Is this not intended to be supported?

-----
and (almost ironically) just below is seen:

But unless I sign into a Github, Google, Twitter, or LinkedIn account, it doesnt seem like

[2020-01-16 20:08] coip commented on #607
I dont mind reconfiguring. I might even like to version control my config?

[2020-01-17 06:17] Aisuko commented on #514
@gunjanmimo Thanks a lot.

[2020-01-17 09:33] Aisuko commented on #514
Hey guys, Please kindly check the link below the https://github.com/Aisuko/meshery/tree/feat/meshery-chart/install

The project includes the draft charts that something needs to confirm already mark with # TODO in the code.  I believe it's not a good time to PR this. So, if you have any advice or questions feel chat with me.
If you the draft contents approve by you guys I will finish `mesherylinke

[2020-01-17 10:27] gunjanmimo opened #608 "Do we need to make a new repo to handle all the helm chart ?"
As @Aisuko has completed helm chart for Meshery Istio and Linkerd, and in further we will need helm chart for NSM adapter. So, to handle all these helm charts from the same repo should we make a another repo?

[2020-01-17 17:37] leecalcote opened #610 "Docs: Release page update for v0.3.8"
Update Releases docs page with Meshery v0.3.8 details.

[2020-01-17 17:42] ashiscs commented on #610
@leecalcote sir, it is already addressed!!

[2020-01-17 17:43] gunjanmimo commented on #610
@leecalcote sir, it is already added if I am not wrong.

[2020-01-17 17:44] leecalcote commented on #610
Oops. I mean v0.3.8

[2020-01-17 17:47] gunjanmimo commented on #610
ok sir, i will add the description

[2020-01-17 17:49] leecalcote commented on #610
@ashiscs knocked this one out real quick in #609.

[2020-01-17 17:49] #610 closed

[2020-01-18 00:57] leecalcote commented on #582
@hdelacru, this is a great first issue for you to wrangle.

[2020-01-18 04:30] Aisuko commented on #608
@gunjanmimo Thanks for your quick activate, the chart just a draft I development for the discussion. As   I said that the chart needs to review. And please kindly check the doc https://docs.google.com/document/d/1inncJ56SKEzIMIUikzj3XdCWF4d0xdtzOcq6J4GQYz0/edit?ts=5e2222b8#heading=h.wyjfw2mc7wze

[2020-01-19 07:10] subhamkrai opened #612 "Strip off /graph from grafana and prometheus endpoint"
Strip off any extraneous portion of the URL beyond the port number (e.g. http://kubernetes.docker.internal:32291/graph ) strip off /graph of both Prometheus and grafana connection endpoint.

[2020-01-21 11:02] leecalcote opened #614 "Docs: Make landing page buttons responsive"
**Current State:**
The three buttons on the landing page of [Meshery Docs](https://meshery.layer5.io/docs) are not responsive. See screenshot.

**Desired State:**
These buttons should rearrange (stack vertically and not have the words in their labels linewrapped, but scale with the size of the screen)

**Screenshot**
<img width="494" alt="Screen Shot 2020-01-21 at 4 59 39 AM" src="https://user-ima

[2020-01-21 11:20] leecalcote opened #615 "Community: Consider use of a welcome bot"
**Current Behavior**
To encourage new contributors, let's familiarize with this welcome bot - https://github.com/apps/welcome - and consider whether or not its use across the layer5io org's repositories is suitable.

**Implementation**
The [meshery-tmp](https://github.com/layer5io/meshery-tmp) repo can be used for testing this bot.

[2020-01-21 15:55] #601 closed

[2020-01-21 16:34] ashiscs commented on #390
@lee sir, i think this issue is already addressed and needs to be closed?

[2020-01-21 16:34] ashiscs commented on #391
@lee sir, i think this issue is already addressed and needs to be closed?

[2020-01-21 17:16] leecalcote commented on #391
Good call, @ashiscs. Yes, you’re right.

[2020-01-21 17:16] #391 closed

[2020-01-21 17:17] leecalcote commented on #390
Spot on, @ashiscs

[2020-01-21 17:17] #390 closed

[2020-01-21 17:37] girishranganathan commented on #612
@subhamkrai responding to your slack message here so that you will have a relevant record:
there are 2 ways you can tackle this issue.
in the UI or in the backend
i will say just do it in the backend handler
there is one for prometheus and one for grafana
you just need to add a check to see if the URL ends with /graph and if it does, remove it

feel free to reach out if you have any questions

[2020-01-21 17:51] subhamkrai commented on #612
Sure I'll

[2020-01-22 00:57] leecalcote opened #618 "Docs: Add NSX-SM adapter to Meshery Docs"
**Current State:**
The listing on https://meshery.layer5.io/docs/service-meshes/adapters is missing an entry for the NSX-SM (alpha) adapter.

**Desired State:**
This adapter should be listed as an alpha adapter ([adapters])(https://github.com/layer5io/meshery/tree/master/docs/_adapters) with link to its [Meshery documentation page](https://meshery.layer5.io/docs/adapters/nsx-sm).

---
**Contributo

[2020-01-22 00:59] leecalcote commented on #618
@ivanayov FYI - this may be of interest.

[2020-01-22 01:06] leecalcote opened #619 "Docs: Add docs page for NSM overview"
**Current State:**
The Meshery Docs has a placeholder for a description of NSM and the Meshery adapter's functionality for NSM - https://meshery.layer5.io/docs/adapters/nsm

**Desired State:**
Ideally, this page gives a short overview about NSM as a project, how Meshery integrates, and what functionality is provided by the integration.

**NSM + Meshery Resources:**
- https://calcotestudios.com/tal

[2020-01-22 01:06] leecalcote commented on #619
@ivanayov this issue is right up your alley. :)

[2020-01-22 01:12] leecalcote commented on #614
@schillingjerrid the sweet marriage of your talents are requested here kind sir.

[2020-01-22 01:14] leecalcote commented on #526
Jekyll schmeckle. Nothing will stop Darth Nunix from taking up this gauntlet.

[2020-01-22 16:53] nupur-thakur opened #621 "Running Meshery using bash command not showing error properly."
**Description**
No error message if "running Meshery using bash command"  produces a Permission denied error.
**Current Behavior**
On using  ` curl -L https://git.io/meshery | bash - ` command, if any error like "Permission denied" the command is not showing it up on the terminal after the first time you run the command.
**Expected Behavior**
If any error occurs while running the Meshery, errors s

[2020-01-23 17:41] ashiscs commented on #529
@leecalcote sir, I think this issue is already fixed and needs to be closed!

[2020-01-23 17:41] #529 closed

[2020-01-23 17:47] ashiscs commented on #267
This issue is already fixed and needs to be closed.

[2020-01-23 17:47] #267 closed

[2020-01-23 17:50] ashiscs commented on #248
@girishranganathan sir, this issue is already addressed and needs to be closed in my opinion!

[2020-01-23 17:55] ashiscs commented on #225
This issue is already fixed and needs to be closed!

[2020-01-23 17:55] #225 closed

[2020-01-23 18:28] leecalcote commented on #248
@ashiscs sounds good. A non-functional template has been created.

@SantoDE, @mmatur @dtomcej we would love to have you engage to tie off the last portion of the [Meshery adapter for Maesh](https://github.com/meshery/meshery-maesh).

[2020-01-24 05:13] leecalcote opened #624 "mesheryctl: `stop` produces incorrect grammar"
**Current Behavior**
When Meshery is stopped and a user runs `mesheryctl stop`, the receive this output:

[code]

**Desired Behavior**
The line `No stopped containers` should be removed and `Meshery is stopped.` is sufficient.

[2020-01-24 05:17] leecalcote opened #625 "mesheryctl: Improve `logs` message when Meshery is not running"
**Current Behavior**
When Meshery is stopped and a user runs `mesheryctl logs`, the receive this output:

[code]
or this output:

[code]

**Desired Behavior**
Instead of `Starting Meshery logging...`, the user will ideally see a message stating: `Meshery is stopped.` If this is difficult, then the following will suffice as an improvement:

[code]

[2020-01-24 15:07] leecalcote commented on #625
@anirudhjain75 what do you think? Would you like to take this one?

[2020-01-24 15:08] leecalcote commented on #624
Related to #625

[2020-01-24 15:10] anirudhjain75 commented on #625
Not at the moment, I have little experience with mesheryctl as of now.

[2020-01-27 10:19] mayankshah1607 commented on #625
@leecalcote @anirudhjain75 I could give this  a try if its not a problem :)

[2020-01-27 10:47] anirudhjain75 commented on #625
sure have at it @mayankshah1607

[2020-01-27 13:32] Aisuko commented on #514
@leecalcote Hi Lee, If we want to add the Meshery chart to Helm Hub maybe we need to create a new GitHub project(https://github.com/helm/hub/blob/master/Repositories.md) please kindly check the document. We need a project URL that only includes the Helm chart.

[2020-01-27 14:09] Aisuko opened #629 "Add the PR template into the project."
**Current Behavior**
A brief description of what the problem is. (e.g. I need to be able to...)

The PR description has no template.

**Desired Behavior**
A brief description of the enhancement.

* The contributor adds the description contexts according to the PR template step by step.
* The template includes `fixes: #<the issue id>`

---
[Optional] **Alternatives**
A brief description of any alte

[2020-01-27 14:14] leecalcote commented on #629
Good one! Should we add a "This PR fixes #..." or "This PR closes #...", so that the related issue is automatically closed upon merge of the PR?

[2020-01-27 14:21] Aisuko commented on #629
Yes, all of them were included in the PR template.

[2020-01-28 01:12] leecalcote opened #634 "UI: Add Citrix Service Mesh to list of service meshes in Performance page"
**Current Behavior**
Meshery supports the Citrix Service Mesh. This service mesh is not listed in the dropdown list on the /performance page.

**Desired Behavior**
[MesheryPerformanceComponent.js](https://github.com/layer5io/meshery/blob/master/ui/components/MesheryPerformanceComponent.js) should include the Citrix Service Mesh.

[2020-01-28 01:22] #629 closed

[2020-01-28 04:13] #566 closed

[2020-01-28 04:32] leecalcote opened #636 "mesheryctl: New `completion` command to generate autocompletions script for the specified shell (bash or zsh)"
**Current Behavior**
CLI users enjoy and benefit from less typing when they have enabled autocompletion for a command line interface. `mesheryctl` does not currently provide a `completion` command from which the full set of `mesheryctl` commands may be sourced for the user's specific type of shell (bash or zsh).

**Desired Behavior**
[Leveraging Cobra's generator](https://github.com/spf13/cobra/bl

[2020-01-28 04:55] leecalcote commented on #514
@Aisuko, interesting. Sounds good. If that's what we need to do, I'll make it happen pronto.

I see some remotely-hosted repositories that point to a publicly available `index.yaml`, which points to charts located in the projects main repo. Flagger is an example - https://flagger.app/index.yaml. I'm not opposed to creating a separate repo, but am trying to make sense of when one is truly necessary

[2020-01-28 13:06] Aisuko commented on #514
I know what's your mean. But as Meshery project grows up there may support many service mesh. You can think of lots of adapter for them. Just like `meshery-nsm` etc. Every project needs its own chart. If every project we need to open a new branch for the chart may complex for maintaining.

[2020-01-28 13:08] Aisuko commented on #514
We can follow the example https://helm.sh/docs/topics/chart_repository/#github-pages-example do this.

[2020-01-28 14:07] Aisuko commented on #514
As we discussed, We can follow the Flagger chart https://flagger.app/index.yaml.  as our chart repo.  And share the URL to Helm.hub. @leecalcote

[2020-01-28 14:10] Aisuko commented on #514
@gunjanmimo Hi, gunjanmimo. As I and Lee discussed, `Meshery-nsm` may not have itself chart. The adapter just provides value to Meshery.

[2020-01-28 16:26] #624 closed

[2020-01-28 16:35] mayankshah1607 commented on #636
@leecalcote I could take up this one if that's okay

[2020-01-28 16:36] leecalcote commented on #636
This one has your name all over it, @mayankshah1607. ;)

[2020-01-28 18:28] leecalcote opened #638 "Meshery: API documentation for endpoints in server.go"
**Current Behavior**
Meshery's REST API endpoints are defined in [server.go](https://github.com/layer5io/meshery/blob/master/router/server.go), but not well-commented or externally documented.

**Desired Behavior**
Using Swagger, Meshery's REST API documentation should be auto-generated and published. Ideally, published to the Meshery documentation site (https://github.com/layer5io/meshery/blob/ma

[2020-01-29 06:17] Aisuko commented on #608
As we discussed, we will follow the project https://github.com/weaveworks/flagger/tree/gh-pages/ to design our Meshery chart. Please kindly check https://github.com/meshery/meshery/issues/514#issuecomment-579079936 below.   @gunjanmimo  please feel free to close this issue.

[2020-01-29 06:41] Aisuko opened #640 "The issues management needs more automation"
**Current Behavior**
A brief description of what the problem is. (e.g. I need to be able to...)

Some issues that we do not manage. We need to close or give feedback to the issue's author.

**Desired Behavior**
A brief description of the enhancement.

Our issue management needs more automation. And I believe issues that over 30 days need to be label as stale and will be closed after 14 days. (We c

[2020-01-29 14:20] gunjanmimo commented on #638
@leecalcote sir, I want to try to solve this issue.

[2020-01-29 14:22] gunjanmimo commented on #640
@Aisuko I think I can solve this issue.

[2020-01-29 14:23] leecalcote commented on #640
@gunjanmimo good deal. There's a PR on this issue available for review - #639

[2020-01-30 00:14] leecalcote commented on #618
@dkalani would you like to put in a quick PR to ensure NSX-SM's representation here?

[2020-01-30 01:02] #640 closed

[2020-01-30 01:56] #608 closed

[2020-01-31 17:59] #621 closed

[2020-01-31 18:09] leecalcote opened #643 "Installation: Request for sudo password is lost among other script output"
**Current Behavior**
While running the latest `meshery` installation script on macOS in zsh, users don't necessary see the prompt for sudo permissions. See screenshot.

**Screenshot**
<img width="1068" alt="Screen Shot 2020-01-31 at 12 06 41 PM" src="https://user-images.githubusercontent.com/7570704/73563240-7aeab380-4422-11ea-9c93-a4571773376d.png">

Related to #642

[2020-01-31 18:11] leecalcote commented on #643
@anandrkskd @nupur-thakur fyi

[2020-01-31 18:13] leecalcote opened #644 "Installation: Meshery bash script errors on permission check"
**Description**
System: macOS
Shell: zsh
Status: `mesheryctl` is already installed on this system before running script. `mesheryctl` was installed using brew on this system.

**Output of script:**
<img width="879" alt="Screen Shot 2020-01-31 at 12 10 26 PM" src="https://user-images.githubusercontent.com/7570704/73563492-0d8b5280-4423-11ea-8277-5dfa6adccf58.png">

Permissions of the existing `mesh

[2020-01-31 18:13] leecalcote commented on #644
// @anandrkskd @nupur-thakur

[2020-01-31 18:17] nupur-thakur commented on #643
@leecalcote  Sir I not sure if I am right or not but have you ran any sudo command before this if so then this can be one of the reason of not asking the password.

[2020-01-31 18:18] leecalcote commented on #643
@nupur-thakur good thinking. No, this was run in a fresh terminal session. The user is actually prompted for the password, but its lost and hidden among other script output -

<img width="1068" alt="Screen Shot 2020-01-31 at 12 06 41 PM" src="https://user-images.githubusercontent.com/7570704/73563786-cce00900-4423-11ea-8990-86b6d33b6e0b.png">

[2020-01-31 18:41] nupur-thakur commented on #643
I tried the same cmd in Ubuntu 18.04 and it is ignoring the request for password in Ubuntu as well.
![Screenshot from 2020-02-01 00-06-14](https://user-images.githubusercontent.com/39610703/73565303-465d1300-4487-11ea-8bbb-40b3da4a92e5.png)

[2020-02-01 04:14] anandrkskd commented on #643
Understood! @nupur-thakur would you like to work on this issue? I will help you on this issue if you would.

[2020-02-01 05:58] nupur-thakur commented on #643
Yes. Definitely. Thanks @anandrkskd

[2020-02-01 13:51] mayankshah1607 opened #645 "Add `vet` to existing CI Workflow"
**Current Behavior**
As of now, the current workflow allows code that contains suspicious or poorly written constructs.

**Desired Behavior**
The CI workflow must examine each PR for bad constructs using [vet](https://golang.org/cmd/vet/)
Example of a suspicious construct :
[code]
This can be better written as :
[code]
[vet](https://golang.org/cmd/vet/) ensures that the codebase is neat and develo

[2020-02-02 01:10] leecalcote commented on #645
Sounds good

[2020-02-02 01:50] leecalcote opened #647 "Meshery: Improve error message for failed duplicative operation"
**Current Behavior**
When a user tries to deploy the same application twice or when a user tries to deploy the same type of service mesh to a namespace that already contains an instance of that type of service mesh, the error shown back to the user is:

<img width="973" alt="Screen Shot 2020-02-01 at 7 45 51 PM" src="https://user-images.githubusercontent.com/7570704/73601704-c89f1300-452b-11ea-976

[2020-02-02 02:24] leecalcote commented on #645
On a related note, `vet` was recently enabled on the `meshery-istio` adapter. There are a few issues that @gunjanmimo and @ashiscs might be looking into.

[2020-02-02 04:43] anirudhjain75 commented on #614
Hey @leecalcote @schillingjerrid Let me know if this is still available for picks :)

[2020-02-02 04:45] anirudhjain75 commented on #602
Hey @anandrkskd , Let me know if this is still up for picks :)

[2020-02-02 05:03] leecalcote commented on #614
@anirudhjain75 yes, please do grab it. 👍

@schillingjerrid does an amazing job. I don’t know that he’s available to pick this one up, though.

[2020-02-02 05:19] leecalcote commented on #602
@anirudhjain75 this is an interesting issue. It’s half completed by #626. The other half remains unworked on. The remaining half is interesting as it potentially spans server.go in meshery to goreleaser to GitHub actions workflow (not sure that a change in github workflow is needed, but possible).

[2020-02-02 08:58] anandrkskd commented on #644
Got it!

[2020-02-02 13:02] #625 closed

[2020-02-02 13:04] mayankshah1607 commented on #645
@gunjanmimo @ashiscs Please feel free to drop in your suggestions

[2020-02-02 13:54] leecalcote commented on #644
PR #648 addresses part of this issue (#642). I'm reopening this issue (#642) in order to track fixes for the additional feedback in #642.

[2020-02-02 14:00] leecalcote commented on #614
Fixed by #649

[2020-02-02 14:00] #614 closed

[2020-02-02 14:02] leecalcote commented on #602
We might be able to close this issue in lieu of #603. The server-side implementation still needs completed, which I think is the purpose of #603.

[2020-02-02 15:08] schillingjerrid commented on #614
Thanks guys! Sorry I wasn't able to get to this one.

[2020-02-02 17:09] avhvr commented on #647
@leecalcote I'd like to work on this issue.

[2020-02-02 23:20] #618 closed

[2020-02-02 23:23] leecalcote commented on #647
@avhvr, excellent. Yes, that would be fantastic. This one is medium-sized, so to speak. Which is to say that for a first-time contributor, you'll have a mouthful. :) @girishranganathan and others will help you through it, though. 👍 Let's do it!

[2020-02-03 03:27] leecalcote opened #652 "Meshery: New Istio vetter for namespaces ignored by auto-injection"
**Current Behavior**
The Istio sidecar injector will ignore the following namespaces even if they carry the `Istio-injection=enabled` label:

`NamespaceSystem`
`NamespacePublic`

as described here - https://github.com/istio/istio/blob/13cb3422ae47f95dfbc829a327724a56929cab3b/pilot/pkg/kube/inject/initializer.go#L28

**Desired Behavior**
A new vetter for Istio should flag anytime these namespaces h

[2020-02-03 06:00] leecalcote commented on #510
I've updated the issue description to include a workflow to notify the [#announcements channel](https://layer5io.slack.com/archives/CSF3PSZT9) in Slack each time a new release is made.

[2020-02-04 01:34] schillingjerrid opened #654 "Docs: Convert adapters collection to data file"
**Current State:**
The list of adapters for the docs site is currently housed in a [collection](https://jekyllrb.com/docs/collections/).

**Desired State:**
* Move the adapters to a [data file](https://jekyllrb.com/docs/datafiles/).
* Update all of the references to the adapters to use the newly added data file.

Required fields are (not limited to):
* title
* name
* version
* port
* project_statu

[2020-02-04 01:35] schillingjerrid commented on #654
@leecalcote I didn't see an issue for this and I remember we talked about it a while ago. Is there anything you'd like me to change with the wording or the fields to include?

[2020-02-04 02:21] schillingjerrid commented on #539
The CPX adapter is already in the docs. I updated it with some new information but this issue can be closed.

[2020-02-04 15:34] ashiscs opened #656 "Updated Releases Table with v0.3.9"

[2020-02-04 15:38] #656 closed

[2020-02-04 16:30] leecalcote commented on #539
Very good. Thank you, @schillingjerrid

[2020-02-04 16:30] #539 closed

[2020-02-07 11:34] gunjanmimo commented on #645
I am also trying to solve git action errors?

[2020-02-08 00:45] #598 closed

[2020-02-10 03:43] leecalcote commented on #634
Citrix Service Mesh has been added to this list.

[2020-02-10 03:43] #634 closed

[2020-02-10 03:49] leecalcote opened #664 "Install: Include Meshery Adapter for Citrix CPX in default deployment config"
**Current Behavior**
The Meshery adapter for Citrix CPX needs exposure and use in order to move from beta to stable status.

**Desired Behavior**
Let's include this new adapter in the default Meshery deployment by including the container for its adapter in the [docker-compose.yaml file](https://github.com/layer5io/meshery/blob/master/docker-compose.yaml).

[2020-02-10 15:53] mayankshah1607 opened #665 "[mesheryctl] Update `start` to support multi-platform setup for meshery"
**Current Behavior**
As of now, we can start meshery using either `mesheryctl` or manually deploy to [various platforms](https://meshery.layer5.io/docs/installation/platforms) manually.

**Desired Behavior**
The goal of this proposal is to enhance user experience by allowing the users to deploy meshery on various platforms via a new set of flags for the `start` command. Some examples:
[code]
---
*

[2020-02-10 16:19] mayankshah1607 opened #666 "Update `stop` cmd to return if meshery is not running"
**Current Behavior**
All the code following [this](https://github.com/layer5io/meshery/blob/master/mesheryctl/cmd/stop.go#L31) line is executed even if meshery is not running.

**Desired Behavior**
Exit the cmd with a message before executing the rest of the code if meshery is not already running:
[code]

---

[2020-02-10 17:53] chandresh-pancholi commented on #146
@leecalcote could you please provide quick starting point?

[2020-02-10 21:47] #666 closed

[2020-02-11 04:49] leecalcote commented on #654
@schillingjerrid thank you for getting this issue filed. 😄 Yes, please fire away on this. Here's a good example of the fields needed:

[code]

[2020-02-11 05:02] leecalcote commented on #665
Good, good, @mayankshah1607. We'll want to consider a structure that will support these forthcoming operations:

- Meshery lifecycle management (start, stop, status, update, cleanup, version)
- service mesh lifecycle management (deploy, delete, status, version)
- performance test (run)

It could be the case that multiple of these are facilitated under the same command, e.g., `mesheryctl start -p k

[2020-02-11 12:35] schillingjerrid commented on #654
@leecalcote That sounds good to me. I'll get on it.

[2020-02-11 15:10] nupur-thakur commented on #643
This issue should be reopened as the problem is still not resolved with the curl command.
The possible solution could be using just `bash` instead of `sudo bash` and using sudo with only `mv` command in the bash.

[2020-02-13 04:41] leecalcote opened #670 "UI: Provide anchor on each Settings tab for deep-linking"
**Current Behavior**
A user visiting the /settings page in Meshery may want to land within one of the Settings tabs (Environment, Service Meshes, Metrics).

As an example, currently, if a user navigates to http://meshery/settings#service-meshes, the "Service Meshes" tab is not open.

**Desired Behavior**
Named anchor (<a>) tags should be added to each Settings screen tab, like so:

- `<a name="env

[2020-02-13 04:45] leecalcote opened #671 "[UI] Missing Adapter: Navigate user to Settings page"
**Current Behavior**
When an adapter of a certain type is not connected, that type of service mesh is still listed in the sidebar nav (that's fine), but when the user clicks on that menu item, they are not shown anything or navigated anywhere.

**Example:**
![Untitled](https://user-images.githubusercontent.com/7570704/74402258-50690500-4de9-11ea-9a19-4dd8e89c2242.gif)

**Desired Behavior**
1. Show

[2020-02-13 05:30] leecalcote opened #672 "Install: Kubernetes manifests should include all stable adapters"
**Current Behavior**
The current Kubernetes manifests for deploying Meshery in-cluster (deploying Meshery on Kubernetes) only include the Meshery adapter for Istio and the Meshery adapter for Linkerd.

**Desired Behavior**
The [Kubernetes manifests](https://github.com/layer5io/meshery/tree/master/deployment_yamls/k8s) should include all stable adapters.

[2020-02-13 05:35] leecalcote commented on #672
@sachincool given you DevOps experience, this issue might strike an interest for you.

[2020-02-13 05:36] leecalcote commented on #671
@Nikhil-Ladha given your familiarity with this area, this might be simple for you to tackle.

[2020-02-13 05:50] Nikhil-Ladha commented on #671
Work mode on!

[2020-02-13 06:00] leecalcote commented on #671
#670 is related to this issue.

[2020-02-13 06:04] Nikhil-Ladha commented on #671
Yeah, I saw that and was just going to mention the same ;)

[2020-02-13 06:05] #602 closed

[2020-02-13 12:35] leecalcote commented on #514
Pull request for Helm Hub entry - https://github.com/helm/hub/pull/249

[2020-02-13 19:32] #664 closed

[2020-02-14 00:38] supra08 commented on #652
Hi @leecalcote! I would like to work on this issue.

[2020-02-14 00:50] leecalcote commented on #652
Awesome. That would be great, @supra08

[2020-02-14 01:28] leecalcote commented on #652
@supra08 as you familiarize with this code base, you'll want to look to the meshery/meshery-istio repo.

[2020-02-14 03:10] leecalcote commented on #567
@subhamkrai @gunjanmimo this issue rears its ugly head particularly nastily during demonstrations of Meshery on lower resolution projectors. It would great if we could set a new breakpoint.

![Untitled](https://user-images.githubusercontent.com/7570704/74498160-4a385e80-4ea5-11ea-99c7-ec138ba527ff.gif)

[2020-02-14 03:12] leecalcote commented on #567
@mcastre may even want to take a crack at this.

[2020-02-14 06:31] leecalcote commented on #599
This feature has been implemented, however, a bug needs to be raised, because user selections are not reflected accurately after the user navigates away and comes back to the Preferences screen.

[2020-02-14 06:35] leecalcote opened #676 "[UI] User Preference selections not remembered"
**Description**
User selections are not reflected accurately after the user navigates away and comes back to the Preferences screen.

**Expected Behavior**
Users should see their previous selections when returning to the Preferences screen.

**Screenshots**
![Untitled](https://user-images.githubusercontent.com/7570704/74507381-d9536f80-4ec1-11ea-8873-d976530b432d.gif)

**Related**
This issue is re

[2020-02-14 06:44] Nikhil-Ladha commented on #599
I thought of that when you left the review on the PR and thought of talking about that in the call. Anyways, I will see that.
But just to make it better there is a PR made by @girishranganathan sir for the 404 error on opening that page, so if you can merge that pr then i will go ahead with the work.

[2020-02-14 06:48] leecalcote commented on #599
@Nikhil-Ladha oh, very good! @girishranganathan's PR was merged a little bit ago and now the 404 issue is gone. 😄

There is a new issue, however, --> #676

[2020-02-14 06:48] #599 closed

[2020-02-14 06:48] leecalcote commented on #599
Good work here! Closing issue. Feature has been delivered. 👍

[2020-02-14 06:58] leecalcote commented on #676
While these changes are being made here, could we also shorten the page name from "userpreferences" to "preferences"?

[2020-02-14 07:17] #643 closed

[2020-02-14 15:18] nupur-thakur opened #677 "`mesheryctl` : Enhancement in permission check in the meshery installation script"
**Current Behavior**
The script currently runs the `mv` command using `sudo` for Linux environment only.

**Desired Behavior**
The script should be generalised instead of environment specific problems so the `sudo` should be used when sudo-less command fails.

---
**Resources**
Refer to #674 for detailed need of this enhancement.

[2020-02-14 15:45] nupur-thakur opened #678 "Remove `sudo` from the installation command for `mesheryctl`"
**Current State:**
Currently the command for installing `mesheryctl` is `curl -L https://git.io/meshery | sudo bash -`

**Desired State:**

As the script for installation of `mesheryctl` no longer requires `sudo` in it so the current command needs to be changed to `curl -L https://git.io/meshery | bash -`

---
**Contributor Resources**
The changes to be made in the following places :
1. Meshery re

[2020-02-16 19:08] kushthedude opened #681 "package-lock conflicts with the upstream after installing dependencies"
**Description**

Dependencies conflicts with the upstream after installing dependencies

**Expected Behavior**

There should be no changes after successfully executing `make setup-ui-lib`

**Enviroment:**
 - OS: MacOS Mojave
 - Terminal: Ohmyzsh
 - NPM Version: 6.13.4

---
**To Reproduce**
Steps to reproduce the behavior:
Run `make setup-ui-lib` and see changes in package-lock.json which are not p

[2020-02-16 19:20] kushthedude opened #683 "Enhancements in PR and Issue Template"
**Current State:**

There are some issues in the Templates like some lines which should rather be commented are not and which should not be commented are commented.

**Desired State:**

Fix and make the Templates inline with each other.

[2020-02-16 19:47] kushthedude commented on #676
I am looking into the following. @leecalcote Can you assign me to this or my comment will be sufficient to indicate other contributors that I am working on it?

[2020-02-17 01:01] #683 closed

[2020-02-17 05:04] #681 closed

[2020-02-17 06:42] leecalcote commented on #676
@kushthedude thanks for considering jumping in here! @Nikhil-Ladha is this an inflight issue for you (one that you're currently working on)?

[2020-02-17 06:46] Nikhil-Ladha commented on #676
Well, I was. But I didn't have good progress till now. So if @kushthedude is willing to take up the issue. Thumbs up!

[2020-02-17 06:47] kushthedude commented on #676
Great!

On Mon, 17 Feb, 2020, 12:16 Nikhil_Ladha, <notifications@github.com> wrote:

[2020-02-17 07:18] sachincool commented on #526
I was just thinking why kinD is not present in docs XD
WB K3s? k3d?

[2020-02-17 13:12] #678 closed

[2020-02-17 13:15] #677 closed

[2020-02-18 02:11] leecalcote commented on #596
@mayankshah1607 here's the issue that describes the need for cli-based invocation of performance tests via `mesheryctl`. This feature will enable our work with Google and HashiCorp.

It will also enable @prateeksahu and @durgesh96751 as we prepare for this [KubeCon EU talk](https://kccnceu20.sched.com/event/Zetg/discreetly-studying-the-effects-of-individual-traffic-control-functions-lee-calcote-la

[2020-02-18 02:11] leecalcote commented on #596
@anandrkskd will you be actively pursuing this enhancement near-term?

[2020-02-18 06:00] kushthedude opened #690 "App doesn't start when the server provider is not selected"
**Description**

The app doesn't start when the service provider from server is not selected
**Expected Behavior**

There should be a definite instruction to set up with the app once server and UI have been built up.

**Enviroment:**
 - OS: MacOS Mojave
 - Browser: Safari

---
[Optional] **To Reproduce**
Steps to reproduce the behaviour:

1. Start the server and make UI.
2. Go to localhost:3000
3.

[2020-02-18 06:24] leecalcote commented on #690
@girishranganathan will you clarify the make / build instructions?

[2020-02-18 06:27] kushthedude commented on #690
Also when running `make run-local`, the ui also runs without specifically
running `make ui-build` .

On Tue, 18 Feb, 2020, 11:54 Lee Calcote, <notifications@github.com> wrote:

[2020-02-18 08:44] Nikhil-Ladha commented on #690
@leecalcote and @kushthedude  I faced a similar issue when I was working on my local but ignored it.

[2020-02-18 18:30] antweiss opened #691 "wrong default config file location in `meshery -h`"
**Description**
When running `mesheryctl -h` the following is displayed:
`Flags:
      --config string   config file (default location is: $HOME/.meshery/config.yaml)
`
While in fact the default compose file is $HOME/.meshery/meshery.yaml

**Expected Behavior**
Correct file name/path should be shown

Actually we should be using existing var `dockerComposeFile` specified in vars.go.

**Enviroment:*

[2020-02-18 18:31] leecalcote commented on #691
Good call, @antweiss. 👍

[2020-02-18 19:47] #691 closed

[2020-02-18 20:09] #672 closed

[2020-02-19 08:51] kanishkarj commented on #587
I could work on this with some help.

[2020-02-19 10:32] antweiss commented on #665
I like the idea fo splitting this out to separate subcommands.

[2020-02-19 11:13] antweiss opened #693 "Support alternative kubeconfig locations"
**Current Behavior**
When running `mesheryctl start` (based on docker-compose) with the default ~/.meshery/meshery.yaml -  current user's $HOME/.kube is mounted into the meshery container:
[code]
That means that if the current context comes from an env variable $KUBECONFIG setting - it gets ignored.
Moreover - loading the kubeconfig through the UI afterwards might not work if a pem file it require

[2020-02-19 11:46] antweiss commented on #693
![ezgif-3-9401373d2d2a](https://user-images.githubusercontent.com/3274734/74831501-04a0e900-531e-11ea-8f40-0c1a5cb4039d.gif)

[2020-02-19 12:44] leecalcote commented on #587
@kanishkarj excellent. 👍

[2020-02-19 16:29] sachincool opened #694 "[Performance] Feature: vegeta might be a good fit for load generation"
**Current Behavior**
Currently, we have [wrk2](https://github.com/giltene/wrk2) and [fortio](https://github.com/fortio/fortio) as HTTP load generators.

**Desired Behavior**
Load generators like Vegeta support distributed load testing. Supporting this scenario in context of microservices and service meshes supporting those services makes a lot of sense.

---
**Resources**
- [Vegeta github](https:/

[2020-02-20 18:51] kushthedude opened #695 "Set-Up Netlify Deployment"
It would be great if we could have Netlify Deployment for UI Related PRs.

[2020-02-21 00:00] kushthedude commented on #676
I looked at the implementation of User-Preferences Component. It is Frontend centric implemented, whatever be the value sent to the API the component is just sending the value to API regardless of considering what is the value previously stored. Hence after every reload, the preferences are reset to false as described in the component constructor hook.

[2020-02-21 02:48] Nikhil-Ladha commented on #676
Yeah, that's why we need to store the value in backend and then use them again at reload.

[2020-02-21 05:27] kushthedude commented on #676
Thats correct.

On Fri, 21 Feb, 2020, 08:18 Nikhil_Ladha, <notifications@github.com> wrote:

[2020-02-21 19:36] kushthedude opened #696 "Set up ESLint rules and Lint checker tests"
Set up ESLint and Linting tests in CI for quality of code.

[2020-02-21 19:36] kushthedude commented on #696
@leecalcote How does it sounds ?

[2020-02-21 19:49] leecalcote commented on #696
@kushthedude sounds good. For go, there are few checks enabled in the CI workflow today in [ci.yml](https://github.com/meshery/meshery/blob/master/.github/workflows/ci.yml), like https://revive.run. Have a look at ci.yml, if you would, perhaps, we can start improving here by uncommenting a few of the other checks that we're not running today (security and so on).

[2020-02-22 08:43] kushthedude commented on #690
@leecalcote I will make changes to docs from what can I get from the new behaviour of build. Still if there is anything wrong in the same @girishranganathan may suggest changes to the same.

[2020-02-22 12:12] kushthedude commented on #694
I personally suggest using Vegeta, It will definitely be much useful in the long run for Meshery.

[2020-02-22 13:22] leecalcote commented on #694
Great suggestion. We’ve considered this before. This is a welcomed feature.

[2020-02-22 13:50] kushthedude commented on #694
@sachincool Are you planning to work on it? Or can I give it a shot?

[2020-02-22 13:57] sachincool commented on #694
I just suggested the Feature, you are free to work on it :D

On Sat, Feb 22, 2020 at 7:20 PM Kush Trivedi <notifications@github.com>
wrote:

[2020-02-23 16:16] schillingjerrid commented on #654
@leecalcote How do we want to handle displaying data for each adapter? Currently each adapter links to another page that will show information specific to the selected adapter. Most of the pages are empty at this point but the Octarine adapter page is filled out with information.

Also do we want to retain the Octarine information in some way?

[2020-02-23 19:42] leecalcote commented on #654
@schillingjerrid great questions.
- We do want to retain individual pages for details specific to each adapter. Instead of the adapter's metadata being stored in front matter in each page, each page will capture architecture, usage and so on for each adapter. While the data file will capture the succinct details about each adapter in one place.
- Yes, we do want to retain the Octarine adapter info

[2020-02-23 19:45] leecalcote commented on #654
@rootsongjc, SOFAmesh is an inactive project while MOSN is an active project, right?

[2020-02-23 19:55] kushthedude commented on #695
@leecalcote I have written a raw configuration file for now, should I push it and see how it works ?

[2020-02-23 20:17] leecalcote commented on #695
@kushthedude sounds real good, yes.

[2020-02-24 05:14] leecalcote opened #700 "[Install]: Meshery Helm Chart Error: "cannot set --generate-name and also specify a name""
**Description**
Helm installs produce an error. Executing the following commands to install Meshery via `helm`:

[code]
produces the above error.

**Expected Behavior**
A `meshery` namespace is created and Meshery deployment and services created.

**Enviroment:**
 - Docker Desktop v2.2.0.3
 - Kubernetes v1.15.5
 - Helm v3.0.3

[2020-02-24 05:50] Aisuko commented on #700
Hi @leecalcote

I used to hit the issue. In fact, I'm not sure too many details. But, I have been changed the document's scripts.

[code]

[2020-02-24 05:55] Aisuko commented on #700
Under my understanding, I change the command

[code]
to
[code]

So, we manually define  the release name.

[2020-02-24 06:30] rootsongjc commented on #654
@leecalcote Yes, SOFAMesh is a project that forked from Istio. And now it has stopped developing in this way. The SOFAMesh team is contributing to Istio directly. So you can remove it from the list.

[2020-02-24 12:55] leecalcote commented on #695
@kushthedude, progress - you should have an invitation to join the Layer5 Netlify team now.

[2020-02-24 20:29] schillingjerrid commented on #654
That sounds good. I will add it as a sub task of this issue.

[2020-02-25 14:27] kanishkarj commented on #587
Please checkout PR #701 .

[2020-02-26 03:39] #587 closed

[2020-02-26 05:25] leecalcote opened #703 "[UI]: Update default Meshery logo with Citrix logo on meshery-cpx adapter chip"
**Description**
See screenshot. The default Meshery logo should be replaced with a Citrix logo for the meshery-cpx UI adapter chip. The [colored Citrix logo svg](https://github.com/layer5io/meshery/blob/master/ui/static/img/citrix.svg).

**Screenshots**
<img width="1164" alt="Screen Shot 2020-02-25 at 11 23 57 PM" src="https://user-images.githubusercontent.com/7570704/75314657-03902000-5826-11ea-9

[2020-02-26 05:55] leecalcote opened #704 "[MeshSync]: Adapter Scans for Linkerd, Octarine, NSM, Consul"
**Current Behavior**
The /performance page scans the environment to detect the presence and details of deployed service meshes. Currently, this functionality is partially provided for Istio (just for Istio's presence and version #).

**Desired Behavior**
Meshery should scan the environment for all known types of service meshes and their details.

**Implementation**
Using [istio-scan.go](https://gi

[2020-02-26 13:53] subhamkrai commented on #703
hey @leecalcote I might be wrong but the path of the image seems right here [dashboard](uhttps://github.com/layer5io/meshery/blob/master/ui/components/DashboardComponent.js#L382)

[2020-02-26 14:07] leecalcote commented on #703
@subhamkrai you're right. That is the same file reference. This is bit of a head scratcher. I wonder if the SVG itself is having problems when the UI is being built. I'll upload a reformatted copy of the SVG and see if this has an affect.

[2020-02-26 17:35] leecalcote commented on #644
Fixed! Thanks, @nupur-thakur, @anandrkskd

[2020-02-26 17:35] #644 closed

[2020-02-26 17:39] leecalcote commented on #696
Nice work, @kushthedude. Do we need documentation with respect to our use of ESLint? I'm not sure that we do, but if so, a doc in [this folder](https://drive.google.com/drive/u/0/folders/1g8anBCT9UrTe3FRA6eKpo59k46yCvZct) or a note in the [contributing](https://github.com/meshery/meshery/blob/master/CONTRIBUTING.md) guide are appropriate locations.

[2020-02-26 17:42] kushthedude commented on #696
Yes @leecalcote , we need a document to specify that before pushing the
commit you should run ESlint on local so that your tests do not fail.
In the near future I will try to add pre-commit hook which will
automatically run the eslint on the local when the contributor adds a
commit.

On Wed, 26 Feb, 2020, 23:10 Lee Calcote, <notifications@github.com> wrote:

[2020-02-26 17:48] leecalcote commented on #696
Awesome. 🥇

[2020-02-26 20:47] leecalcote commented on #703
@subhamkrai I believe the that [case statement](https://github.com/layer5io/meshery/blob/master/ui/components/DashboardComponent.js#L381-L382) needs updated to be "cpx", not "citrix" in order to fix this issue.

[2020-02-28 11:51] #703 closed

[2020-03-04 15:23] jesuslerma commented on #146
The idea is to migrate this script: https://github.com/meshery/meshery/blob/master/docs/pages/installation/generate_kubeconfig_gke.sh

to go.

[2020-03-04 17:37] leecalcote opened #711 "[mesheryctl] Update description of Meshery in `mesheryctl help`"
**Current Behavior**
`mesheryctl` prints information on Meshery and `mesheryctl` commands. The description used for Meshery: "Meshery is a a multi-service mesh performance benchmark and playground tool" needs to be updated.

**Desired Behavior**
Replace old description with new one - "Meshery is the multi-service mesh management plane, providing lifecycle, performance, and configuration management

[2020-03-06 19:47] kushthedude commented on #704
I will take a look at it!

[2020-03-06 19:52] leecalcote commented on #704
Nice. Yes, this is much needed.

[2020-03-08 18:47] ashiscs commented on #711
@leecalcote sir, there doesn't exists a file named mesheryctl help?

[2020-03-08 18:50] leecalcote opened #712 "[UI] Describe what a Provider is in the Provider UI"
**Current Behavior**
The purpose of what a provider does is not immediately obvious to users.

**Desired Behavior**
Improve the user experience with a dialog module.

**Implementation**
Use a [custom dialog modal](https://material-ui.com/components/dialogs/#customized-dialogs) with (X) for closing the modal (or clicking anywhere on the screen).

1. Create hyperlink for "provider". See mockup.
![Pr

[2020-03-09 05:51] ashiscs opened #713 "Docs:Link to "Docker Captains Roundtable 2020" in Presentations is broken."
Link to "Docker Captains Roundtable 2020" in Presentations is broken.

[2020-03-09 09:34] #713 closed

[2020-03-09 09:56] leecalcote opened #715 "Docs: Extension Points"
**Current State:**
Meshery has three generic interfaces behind which users, other projects, vendors, and so on may provide alternative implementations.

**Desired State:**
This extension points need to be published into the user-facing documentation. The extension point [design documentation](https://docs.google.com/document/d/1E7NWFy5ZVEPX2W892mfVG-3yku1uci2KRDU42tNRZwA/edit) is a good reference.

[2020-03-09 15:05] #711 closed

[2020-03-09 16:12] leecalcote opened #718 "[mesheryctl] Update `perf` flag default settings"
**Current Behavior**
The Meshery UI and `mesheryctl perf` command are two client interface to Meshery's performance test capability (/api/load-test, /api/load-test-smps). Ideally, the Meshery load test API will provide defaults for various load testing behavior. Until such time, we'll want to mimic the behavior by keeping client defaults aligned.

**Desired Behavior**
`mesheryctl perf`'s defaults

[2020-03-09 16:16] leecalcote opened #719 "[mesheryctl perf] Include list of defaults and example usage in `perf` help"
**Current Behavior**
While `perf` doesn’t mandate users to populate all (optional) flags with values (it conveniently supplies defaults for these optional flags), users may not be aware of what those defaults are.

**Desired Behavior**
When a user executes `mesheryctl perf` or `mesheryctl perf --help`, the command should output help text, including default values for flags along with example usage

[2020-03-09 16:59] leecalcote commented on #146
@codingmaths The same thing goes for users running Meshery against a Kubernetes cluster running in minikube. It would be nice if they could use mesheryctl  to generate the appropriate kubeconfig - https://meshery.meshery.io/docs/installation/minikube#2-generate-config-file

[2020-03-09 21:44] ashiscs opened #720 "[Docs]Add Meshery v0.3.10 to docs page"

[2020-03-09 21:44] leecalcote commented on #720
Thank you, @ashiscs !

[2020-03-09 21:55] leecalcote opened #722 "[mesheryctl] Generate cluster access for Minikube clusters"
**Current Behavior**
Users running Meshery against a Kubernetes cluster in minikube need to execute the CLI statement [documented here](https://meshery.layer5.io/docs/installation/minikube#2-generate-):

[code]

**Desired Behavior**
Enable users to  use `mesheryctl`  to generate the appropriate kubeconfig file for Meshery to access the Kubernetes cluster inside of the Minikube VM.

**Implementatio

[2020-03-09 21:59] #720 closed

[2020-03-10 18:42] peterj opened #723 "Running `mesheryctl` should show usage information"
**Description**
Running `mesheryctl` without any arguments outputs empty lines

**Expected Behavior**
Running `mesheryctl` without arguments should show usage information (just like `mesheryctl -h` does)

**Enviroment:**
 - OS: macos
 - Browser: n/a
 - Version:

Client Version: 0.3.10
Server Version: 0.3.10
GitSHA:07ca1f461b0c7a2bd3f4b943b56257a7f332ce89

[2020-03-10 18:50] leecalcote commented on #723
Great call,  @peterj 👍

[2020-03-11 19:12] peterj opened #724 "Unable to run perf test against Linkerd installed on Docker for Mac"
**Description**
I am unable to run a simple perf test against Linkerd installed on Docker for Mac. I have installed Linkerd through Meshery as well as the Emojivoto sample app. Both installations seem fine (i.e. I can access the app etc.)

If I try to run a perf test against http://localhost (either through the UI or CLI), I get the following error:

[code]

**Expected Behavior**
Load test should

[2020-03-11 19:13] peterj commented on #724
Note that I tried both `fortio` and `wrk2` with the same results.

[2020-03-11 19:26] leecalcote commented on #724
@peterj one deceiving aspect to this test might have to do with Docker Desktop networking and that the network that Meshery is deployed on (`meshery_default` is bridge-based networking). Are you able to run a successful performance test using the IP address of your host's NIC (e.g. the IP address from `ifconfig en0` or `ifconfig en1`)?

[2020-03-11 19:29] kanishkarj commented on #724
@leecalcote Could we verify that by doing a performance test on any generic website? like https://github.com/, would that give more insight into this issue?

[2020-03-11 19:33] leecalcote opened #725 "Docs: Example usage of `mesheryctl perf`"
**Current State:**
The Meshery docs are missing example usage of `mesheryctl perf`.

**Desired State:**
Considering the deceiving user experience of being able to reach a given endpoint (service) from a user's local machine, but Meshery (running on a bridge network) not being able to reach that same endpoint (when referenced as `localhost` or some other unreachable name/network), the [`mesheryctl`

[2020-03-11 19:59] peterj commented on #724
Good point! Will try that and update/close the ticket.

On Wed, Mar 11, 2020 at 12:29 Kanishkar J <notifications@github.com> wrote:

[2020-03-11 20:36] peterj commented on #724
Yep, that's what it was! I'll close this issue as it looks like #725 is tracking the doc updates.

[2020-03-11 20:36] #724 closed

[2020-03-11 20:48] leecalcote commented on #724
B-e-a-u-tiful. 👍 I snagged on this more than once.

[2020-03-11 20:50] peterj opened #726 "Default perf test values mismatch between dashboard and CLI"
**Description**
The default perf test duration in the dashboard is `30s`, while in the `mesherycli` is set to 10 seconds. Similarly for QPS - 0 in the UI and 1 in the CLI,  and the concurrent requests (0 vs 1). Also, the flag name in the CLI is `parallel-requests`, while in the UI it's called `Concurrent requests` - it would be nice to be consistent.

**Expected Behavior**
Consistent values/naming

[2020-03-11 23:37] peterj opened #731 "[MeshSync] Can't delete a mesh or application if the namespace doesn't match"
**Description**
When installing a service mesh or sample application, you can type in a namespace. However, when you want to remove either of those you need to make sure to remember the exact namespace stuff was originally deployed in. Not sure if this is by design, but it would be nice if Meshery could remember the namespace a mesh/app was installed in and know how to delete it later

[2020-03-12 02:44] leecalcote commented on #731
Good highlight, @peterj. No, behavior is more by lack of bandwidth to implement. Very much so this is needed. 👍

[2020-03-12 04:58] leecalcote commented on #726
Items like this are important. @peterj will you have a quick look at #718 and determine whether we might close #718 as duplicative of the issue being correct here?

[2020-03-12 05:00] leecalcote commented on #676
@kushthedude as you look into this issue, will you have a look-see at PR #627 as well? The unfinished portion of that PR is related to the issue described here.

[2020-03-13 04:14] #726 closed

[2020-03-13 13:50] shivaylamba opened #736 "typos and incorrect grammar for documentation"
**Description**
Various typos in files and grammar error in documentation

**Expected Behavior**
Errors as typos and incorrect usage of grammar
**Screenshots**

![image](https://user-images.githubusercontent.com/19529592/76626710-abfcee80-655f-11ea-9d0b-52d88628dd53.png)

[2020-03-13 14:38] #736 closed

[2020-03-13 19:47] leecalcote opened #738 "Move "deployment_yamls" folder under "install" folder"
**Description**
A small chore is needed to be done in order to consolidate top-level folders. [deployment_yamls](https://github.com/layer5io/meshery/tree/master/deployment_yamls) can be moved under the [install](https://github.com/layer5io/meshery/tree/master/install) folder.

**Implementation**
1. Move folder/files.
1. The Meshery Kubernetes deployment instructions will need to be updated with th

[2020-03-13 19:49] leecalcote commented on #738
@nunix does the [docker app package](https://github.com/layer5io/meshery/tree/master/mesheryapp.dockerapp) need to be top-level or can this, too, be relocated under the "install" folder?

[2020-03-14 19:06] ashiscs commented on #725
@leecalcote sir, this issue is already addressed and needs to be closed

[2020-03-15 03:12] #719 closed

[2020-03-17 02:45] #738 closed

[2020-03-18 12:42] leecalcote commented on #723
@subhamkrai thanks for grabbing this one. Is this something that you might demo on today’s call?

[2020-03-18 12:42] leecalcote commented on #725
Good call, @ashis. You’re right.

[2020-03-18 12:42] #725 closed

[2020-03-18 12:43] leecalcote commented on #718
@chandresh-pancholi i think we’re ok to close this issue. Is that right?

[2020-03-18 12:44] leecalcote commented on #731
@chandresh-pancholi  thanks for grabbing this one. Is this something that we might to talk through on today’s call?

[2020-03-18 12:58] chandresh-pancholi commented on #718
Yes.

[2020-03-18 12:58] #718 closed

[2020-03-18 12:58] chandresh-pancholi commented on #731
@leecalcote let's discuss it today.

[2020-03-18 16:07] nunix commented on #738
Hi all, sorry just seeing this now, and yes no problem having it moved

[2020-03-18 17:12] leecalcote opened #742 "Move "mesheryapp.dockerapp" folder under "install" folder"
**Description**
A small chore is needed to be done in order to consolidate top-level folders. [docker app package](https://github.com/layer5io/meshery/tree/master/mesheryapp.dockerapp) can be moved under the [install](https://github.com/layer5io/meshery/tree/master/install) folder.

**Implementation**
1. Move folder/files.
1. The Meshery Docker App deployment instructions will need to be updated w

[2020-03-18 17:15] leecalcote commented on #179
@nunix, with the first version of this Docker App complete, we can tie-off this issue with an update to Meshery's docs regarding Docker App deployment.

[2020-03-18 17:18] leecalcote commented on #742
@chandresh-pancholi Would you like to take this one?

[2020-03-18 17:41] ashiscs commented on #742
@leecalcote sir, but there is no instructions for Meshery Docker App deployment.

[2020-03-18 17:42] chandresh-pancholi commented on #742
@leecalcote I will look at it.

[2020-03-18 17:47] nunix commented on #179
yes will do 💯 once done, I will then do the other one for porter.

[2020-03-18 17:48] nunix commented on #742
nope, I will write them in the coming days 😅

[2020-03-18 21:05] leecalcote opened #743 "Docs: Add page describing Providers"
**Current State:**
All Meshery users must select which provider they would like to use before using Meshery. Currently, two providers are available:

**Meshery**
- persistent sessions
- save environment setup
- retrieve performance test results
- free use

**None**
- ephemeral sessions
- environment setup not saved
- no performance test result history
- free use

**Desired State:**
A new "provider

[2020-03-18 22:01] leecalcote opened #744 "[Readme] Include a screenshot of Meshery's service mesh configuration best practices"
**Current State:**
Meshery's ability to check a service mesh's configuration against best practice uses is under-represented.

**Desired State:**
Incorporate the screenshot below into the

- [ ] Meshery repo readme.md.
- [ ] the [overview.md](https://github.com/layer5io/meshery/blob/master/docs/pages/overview.md) in Meshery docs

**Screenshot**
<img width="1582" alt="service-mesh-configuration-bes

[2020-03-19 03:16] leecalcote commented on #744
@nidhinmahesh Would you like to address this one?

[2020-03-19 04:50] nidhinmahesh commented on #744
Yes. 👍

[2020-03-20 12:00] leecalcote commented on #744
@nidhinmahesh see https://github.com/meshery/meshery.io/pull/130 as an example.

[2020-03-20 21:33] leecalcote commented on #704
@kushthedude ping @nveenjain and @leecalcote on Slack about this issue - "MeshSync".

[2020-03-20 21:36] leecalcote opened #745 "[MeshSync] Support discovery of Citrix Service Mesh"
**Current Behavior**
The /performance page scans the environment to detect the presence and details of deployed service meshes. Currently, this functionality is partially provided for Istio (just for Istio's presence and version #).

**Desired Behavior**
Meshery should scan the environment for all known types of service meshes and their details, including Citrix CPX.

**Implementation**
Using [kub

[2020-03-20 22:35] leecalcote opened #746 "[Meshery] Unable to provision Citrix Service Mesh"
**Description**
Use of ["Citrix" in Navigator.js](https://github.com/layer5io/meshery/blob/master/ui/components/Navigator.js#L266) prevents loading of the adapter page for the Citrix Service Mesh. If `id="Citrix"` is swapped for `id="cpx"` the page loads and users can successfully invoke each of the adapter's features except provisioning of the Citrix Service Mesh.

**Expected Behavior**
Citrix Se

[2020-03-21 13:51] ashiscs commented on #695
@leecalcote sir, this issue is already addressed and needs to be closed!!

[2020-03-21 14:09] kushthedude commented on #695
Who told you it has been done ?

[2020-03-21 14:10] kushthedude commented on #695
There is still of a hosted cloud provider to have a netlify.

[2020-03-21 14:15] ashiscs commented on #695
Ok got it.
On the site, in the footer section i saw something "deploys by netlify" so i thought the task is completed, but my fault here..

[2020-03-21 14:18] ashiscs commented on #615
Yes sir, this would be great!!

[2020-03-21 22:10] ashiscs commented on #645
Yes, this should be implemented!!

[2020-03-23 04:14] #744 closed

[2020-03-23 05:23] leecalcote opened #750 "Security alert: Minimist 1.2.2 (GHSA-7fhm-mqm4-2wp7)"
**Description**
1 minimist vulnerability found in provider-ui/package-lock.json

**Remediation**
Upgrade minimist to version 1.2.2 or later.

**Details**
GHSA-7fhm-mqm4-2wp7
moderate severity
Vulnerable versions: < 1.2.2
Patched version: 1.2.2
There are high severity security vulnerabilities in two of ESLints dependencies:
- acorn
- minimist

The releases 1.8.3 and lower of svjsl (JSLib-npm) are v

[2020-03-23 05:30] #750 closed

[2020-03-23 06:17] leecalcote opened #751 "[Docs] add Citrix logo to Meshery architecture diagram (svg)"
**Current State:**
Meshery architecture diagram lists 5 of 6 current adapters. It is missing the Citrix logo.

**Desired State:**
Diagram should show icons for all current adapters. This logo can be updated with a white fill - https://github.com/layer5io/meshery/blob/master/ui/static/img/citrix-light-gray.svg

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/d

[2020-03-23 18:14] leecalcote commented on #615
Good work, @ashiscs. 👍

[2020-03-23 20:12] leecalcote opened #753 "[Buzz] Enhance Meshery stargazers notification to include count"
**Current Behavior**
The [slack.yml](https://github.com/layer5io/meshery/blob/master/.github/workflows/slack.yml) GitHub action workflow is invoked whenever someone stars the Meshery repo. It sends a Slack message to the [#buzz channel](https://layer5io.slack.com/archives/CSK7N9TGX
).

**Desired Behavior**
The GitHub bot in #buzz could also print the number of stars every time it notifies that som

[2020-03-23 22:12] ashiscs opened #754 "Fix the broken image"
![Screenshot from 2020-03-24 08-30-39](https://user-images.githubusercontent.com/49238464/77367963-412e8d00-6d81-11ea-8a18-aa6a7fd85305.png)

[2020-03-23 22:35] #754 closed

[2020-03-24 06:35] leecalcote commented on #753
_pssst. @subhamkrai_

[2020-03-24 07:06] ashiscs commented on #615
@leecalcote sir, issue ready to be closed!!

[2020-03-24 08:13] leecalcote commented on #615
The Welcome bot you’ve enabled looks pretty good to me. I wonder if it can be good to help people with DCO instructions in the event that they didn’t signed their commits.

[2020-03-24 12:50] kushthedude commented on #704
@leecalcote Where are the other scan helpers added?

[2020-03-24 14:13] nveenjain commented on #704
@kushthedude , we alreay support Istio,Linkerd,Consul and Network Service Mesh.
Octarine and cpx are pending as of now.

[2020-03-24 14:15] kushthedude commented on #704
Clearly there is more work pending in this issue which means the
corresponding PR didn't fixes the issue then why did this issue was closed?
Also I don't see the scanners for NSM.

On Tue, 24 Mar, 2020, 19:44 Naveen jain, <notifications@github.com> wrote:

[2020-03-24 14:19] nveenjain commented on #704
@kushthedude , NSM is scanned currently :-
https://github.com/meshery/meshery/blob/master/helpers/kubernetes-scan.go#L30

Yes, there are scanners for CPX and octarine, that need to be added...

[2020-03-24 15:45] leecalcote commented on #704
@kushthedude good question - this is more an incidental closure through use of keywords in PR with "fixes", "closes", and so on. Here's a related issue that we can either deduplicate or can use to track scanning / syncing of Citrix Service Mesh separately - https://github.com/meshery/meshery/issues/745

[2020-03-24 16:47] nveenjain commented on #745
@leecalcote, I guess we would only need to populate [kubernetes-scan.go](https://github.com/layer5io/meshery/blob/master/helpers/kubernetes-scan.go#L16)'s meshesMeta variable,  with citrix and Octarine mesh images... Everything will work fine without any breaking changes

[2020-03-24 18:22] leecalcote commented on #745
@nveenjain sounds right to me. 👍

[2020-03-24 19:56] leecalcote commented on #723
Thank you, @ashis

[2020-03-24 19:57] ashiscs commented on #723
@leecalcote sir, should i close this issue??

[2020-03-24 19:59] leecalcote commented on #723
Please, yes, @ashiscs. I think we're good to go here.
<img width="781" alt="Screen Shot 2020-03-24 at 2 58 47 PM" src="https://user-images.githubusercontent.com/7570704/77471290-014ac280-6de0-11ea-82a3-79e10249129e.png">

[2020-03-24 20:01] #723 closed

[2020-03-25 04:15] leecalcote opened #760 "[Docs] Incorporate api clients into architecture diagram"
**Current Behavior**
The [meshery-architecture](https://github.com/layer5io/layer5/blob/master/assets/images/meshery/meshery-architecture.svg) diagram (seen on https://layer5.io/meshery) doesn't include clients in the diagram. Clients of Meshery's API include `mesheryctl`, Meshery UI (web browser), and other programs (scripts).

**Implementation**
1. Update the architecture to include clients in t

[2020-03-25 22:01] leecalcote opened #764 "[mesheryctl] Neither -v or --version returns the CLI version number"
**Description**
  -v, --version are global flags that should return the version of mesheryctl. Neither flag returns this information, however, `mesheryctl version` does.

**Expected Behavior**
Either flag should return the same information as does `mesheryctl version`

[2020-03-25 22:04] leecalcote opened #765 "[mesheryctl] GitSHA in `mesheryctl version` should specify client vs server"
**Current Behavior**
`mesheryctl version` returns:
[code]
**Desired Behavior**
The GitSHA in this response should be identified as being related to the client (as opposed to the server). Its indistinguishable currently.

[2020-03-25 22:05] leecalcote commented on #603
This issue is related to https://github.com/meshery/meshery/issues/765 - "[mesheryctl] GitSHA in `mesheryctl version` should specify client vs server"

[2020-03-25 22:16] ashiscs commented on #764
But sir @leecalcote according to this pr https://github.com/meshery/meshery/pull/653
mesheryctl -v has output verbatim that of /mesheryctl version.

[2020-03-25 22:16] gunjanmimo commented on #765
@leecalcote sir, is this issue open, I will like to work?

[2020-03-25 22:19] ashiscs commented on #765
And sir @leecalcote in this issue do we need to replace the value printed by GitSHA similar to value printed by client version??

[2020-03-25 22:22] #712 closed

[2020-03-25 22:34] gunjanmimo commented on #764
@leecalcote  sir, should we use -v for version checking which is global used for verbose mode?

[2020-03-25 22:39] gunjanmimo commented on #764
@leecalcote sir, I have doubt that do we need to replace `mesheryctl version` by `mesheryctl --version`?

[2020-03-25 23:01] leecalcote commented on #764
@gunjanmimo we could, but supporting all three methods is simple enough and makes it convenient for users who may not recall precisely which command to use.

[2020-03-25 23:02] leecalcote commented on #764
In the future, it may be the case the the `-v` is reserved for verbose mode.

[2020-03-25 23:03] gunjanmimo commented on #764
ok, sir, I will add both --version and -v option. This will be helpful

[2020-03-25 23:06] ashiscs commented on #764
But sir @leecalcote i guess -v is already supported as the pr landed by anirudhjain shows
https://github.com/meshery/meshery/pull/653

[2020-03-25 23:31] ashiscs opened #766 "[Docs]Add Meshery v0.3.11 to docs page"

[2020-03-25 23:36] leecalcote commented on #764
@ashiscs Oh, I missed that. The output was hidden in my terminal buffer. In this case, the update that we need here is to remove the help output (see below) and simply display the version info.

[code]

[2020-03-25 23:39] leecalcote commented on #765
@ashiscs to improve the client version experience, we can reformat the `mesheryctl version` output like so:

[code]

[2020-03-25 23:40] leecalcote commented on #765
@gunjanmimo yes, please. Please see Issue #603 for an understanding of the fact that the `Server Version` is a placeholder for functionality that has yet to be delivered.

[2020-03-25 23:41] ashiscs commented on #765
Got it sir @leecalcote

[2020-03-25 23:43] #766 closed

[2020-03-26 03:23] leecalcote commented on #654
@schillingjerrid we've made some recent updates to the [Meshery readme](https://github.com/layer5io/meshery/blob/master/README.md) file. As you have a look, I'm curious for your opinion on whether you think a table (or list) of Meshery's adapters in that readme would benefit the project / would-be users or not.

[2020-03-26 16:24] leecalcote opened #768 "Include Meshery in SMI's ecosystem"
**Current Behavior**
https://github.com/servicemeshinterface/smi-spec dose not list Meshery

**Desired Behavior**
The SMI Spec readme should include "Meshery: the service mesh management plane (meshery.io)"

[2020-03-26 17:18] leecalcote commented on #765
@gunjanmimo reference - https://github.com/spf13/cobra/blob/master/command_test.go

[2020-03-26 18:49] nveenjain commented on #768
Done @leecalcote , This issue can be closed!

[2020-03-26 18:49] #768 closed

[2020-03-26 19:35] leecalcote commented on #768
Thank you, sir. 👍

[2020-03-27 08:14] nveenjain opened #770 "[MeshSync] Expose functionalities to scan prometheus and grafana"
**Current Behavior**

When we want to know what Prometheus or grafana instances are deployed in the cluster, we have to let user enter the URL or prometheus/grafana manually in meshery dashboard. This is little inconvenient and can be automated.

**Desired Behavior**

Currently we've implemented ScanPromGrafana functionality in https://github.com/layer5io/meshery/blob/master/helpers/kubernetes-sca

[2020-03-27 10:49] kushthedude opened #771 "Meshery Provider UI is messed up"
**Description**

Meshery Provider UI is messed up
**Expected Behavior**

After running `make run-local` , provider UI dont show options as expected.

[2020-03-27 10:50] kushthedude commented on #771
<img width="933" alt="Screenshot 2020-03-27 at 4 18 04 PM" src="https://user-images.githubusercontent.com/44091822/77748695-c72f2a00-7046-11ea-9d6a-3b71957277ef.png">
I dont know why GitHub wont let me upload the ss in the issue description itself.
cc: @leecalcote I dont think this is expected behaviour or am I missing something?

[2020-03-27 10:51] kushthedude commented on #771
@Nikhil-Ladha When you made the PR for provider-UI description, was the Provider-UI working as expected ?

[2020-03-27 11:17] Nikhil-Ladha commented on #771
Yes. And moreover, I think you don't have the latest changes as I have made the "provider" in the line "Please choose a provider to continue" clickable and opening a modal on clicking.

[2020-03-27 11:26] kushthedude commented on #771
I pulled up latest changes from the master just now and this is the result.

On Fri, 27 Mar, 2020, 16:47 Nikhil_Ladha, <notifications@github.com> wrote:

[2020-03-27 11:29] Nikhil-Ladha commented on #771
That's interesting because it was showing correctly on my system. If @leecalcote sir could also check it once, then we can go ahead with it.

[2020-03-27 11:35] kushthedude commented on #771
Try it once again and let me know.

On Fri, 27 Mar, 2020, 16:59 Nikhil_Ladha, <notifications@github.com> wrote:

[2020-03-27 18:47] leecalcote commented on #771
Gents,

Here's a few screenshots of the latest release running on my local machine:

<img width="1105" alt="Screen Shot 2020-03-27 at 1 46 28 PM" src="https://user-images.githubusercontent.com/7570704/77789682-7c56e780-7031-11ea-935c-4f1d1d3998f1.png">
<img width="1105" alt="Screen Shot 2020-03-27 at 1 46 36 PM" src="https://user-images.githubusercontent.com/7570704/77789687-7fea6e80-7031-11ea-8d4

[2020-03-27 18:53] Nikhil-Ladha commented on #771
Thanks @lee sir!. There is an outstanding PR from me which completes the work.

[2020-03-27 19:01] kushthedude commented on #771
I will see if it is issue on my local. Its quite weird indeed.

On Sat, 28 Mar, 2020, 00:23 Nikhil_Ladha, <notifications@github.com> wrote:

[2020-03-27 20:58] leecalcote commented on #771
@kushthedude sounds good. Folks occasionally miss the `make build-ui` step before running `make run-local`, which might be something to look at.

[2020-03-28 04:06] leecalcote opened #772 "[UI] Display discovered Prometheus and Grafana instances"
**Current Behavior**
Based on #770, Meshery is cognizant of whether Prometheus and Grafana instances are deploying in the currently connected Kubernetes cluster.

However, Meshery does not automatically expose the Prometheus or Grafana instances in the UI.

**Desired Behavior**
If only one instances of Prometheus or Grafana or one of both is available, set these as the active Prometheus and Grafan

[2020-03-28 20:38] #760 closed

[2020-03-29 13:59] kushthedude commented on #771
That was strange, After removing the node-modules and reinstalling them fixed this up.
Thanks for the help @leecalcote @Nikhil-Ladha

[2020-03-29 13:59] #771 closed

[2020-03-30 00:02] leecalcote commented on #771
Weird. Sure, you bet, @kushthedude.

[2020-03-30 03:17] #715 closed

[2020-03-30 03:19] leecalcote commented on #743
Page added - https://meshery.layer5.io/docs/extensibility

[2020-03-30 03:19] #743 closed

[2020-03-31 16:00] Nikhil-Ladha opened #775 "[mesheryctl]: Fail to upgrade mesheryctl to the latest version"
**Description**

On upgrading mesheryctl using curl command, upgradation is done only upto version 0.3.9. Inspite of the fact that higher versions are available for upgrade.

**Expected Behavior**

On upgrading mesheryctl, latest version of mesheryctl should be downloaded.

[2020-03-31 16:01] leecalcote commented on #775
Thank you, @Nikhil-Ladha.

@nupur-thakur would you like to have a look here?

[2020-03-31 16:07] nupur-thakur commented on #775
Yes Sure @leecalcote Sir.

[2020-03-31 18:35] leecalcote opened #777 "Docs: List Meshery REST API and port in "Network Ports" table"
**Current State:**
The [architecture docs page](https://meshery.layer5.io/docs/architecture) is missing an entry for the Meshery REST API.

**Desired State:**
REST API and port number should be listed here - https://github.com/layer5io/meshery/blob/master/docs/pages/architecture.md

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentati

[2020-03-31 23:35] leecalcote commented on #273
@Nikhil-Ladha @shivaylamba, this is still an issue. I wonder if you might have a look. The current behavior is that users can enter the Grafana API endpoint, Meshery will connect, but it takes either refreshing the page or navigating away and coming back in order for the dropdown lists to populate.

[2020-03-31 23:53] leecalcote opened #779 "[Meshery] Restructure performance management related API endpoints"
**Current Behavior**
The collection of performance related API endpoints is here - https://github.com/layer5io/meshery/blob/master/router/server.go#L34-L38. These can be grouped behind a common path.

**Desired Behavior**
These need to be renamed and placed behind a common `/perf` path.

**Acceptance Criteria**
The performance endpoints should be like so:

[code]

[2020-04-01 02:17] leecalcote commented on #36
Completed for single result export.

[2020-04-01 04:11] leecalcote commented on #731
Recent enhancements in MeshSync make this issue more ready to address. // @nveenjain

[2020-04-01 04:16] leecalcote opened #781 "[Meshery] Adapters should first check for an existing service mesh deployment before attempting to install"
**Description**
Meshery adapters need to be cognizant of existing deployments of their representative service mesh so as to avoid conflict. When a user attempts to deploy Istio more than once, they receive this error in the UI:

<img width="972" alt="Screen Shot 2020-03-30 at 4 35 11 PM" src="https://user-images.githubusercontent.com/7570704/78098818-b4e62080-73a5-11ea-973a-6f091e7f2851.png">

**E

[2020-04-01 09:38] nveenjain commented on #731
Yes, let's we can modify the UI to show the namespaces. It might help the users and they can select the namespace they want to apply an specific operation on.

[2020-04-01 14:18] chandresh-pancholi commented on #731
@nveenjain Isn't better to remember it at the time of the creation and let not user worry about it?

[2020-04-01 19:07] nveenjain commented on #731
Yes, @chandresh-pancholi , but what if there are multiple installations of a single service mesh in different namespaces, we can show the user a list of namespaces, where the service mesh currently is existing.
If there is only one instance of service mesh, we can by default show that one only.

[2020-04-01 20:46] leecalcote commented on #753
Fixed by #782

[2020-04-01 20:46] #753 closed

[2020-04-02 02:47] leecalcote opened #784 "[mesheryctl] perf: showing a success message on test failure"
**Current Behavior**
The `mesheryctl perf` command was recently introduced and has some rough UX edges to smooth out. Currently, this command will return success even in the event of an unreachable endpoint.

**Example**
This `--url` is unreachable.
[code]

**Desired Behavior**
The user should be informed of the unreachable endpoint, not given a completed successfully message.

[2020-04-02 05:11] leecalcote opened #785 "Docs: `perf` flag was changed from parallel to concurrent requests"
**Current State:**
The `--parallelrequests` flag needs updated to `--concurrentrequests` in this documentation - https://meshery.layer5.io/docs/guides/mesheryctl#performance-management

[2020-04-02 11:44] #777 closed

[2020-04-03 00:08] kushthedude commented on #638
@nupur-thakur Any updates over here ?

[2020-04-03 02:51] #785 closed

[2020-04-03 02:54] leecalcote opened #788 "[mesheryctl] example use of `perf` command"
**Current Behavior**
The `mesheryctl perf` command was recently introduced and has some rough UX edges to smooth out. Currently, the command help does not include an example use.

**Desired Behavior**
1. Include an example use of the command when someone doesn’t provide all the required args.
1. Include an example use in the command help.

[2020-04-03 03:21] ashiscs opened #789 "Remove the typo related to perf command"
![Screenshot from 2020-04-03 14-09-54](https://user-images.githubusercontent.com/49238464/78320876-267dc480-7588-11ea-831d-e73c90b3e8b4.png)

[2020-04-03 03:40] #789 closed

[2020-04-03 06:19] nupur-thakur commented on #638
@kushthedude I wanted to learn about swagger when i assigned this task to myself and I searched a bit but got stuck and then I forgot about this issue, sorry for that.
But if recently when @leecalcote mentioned it in #780 It got my attention so I will start working on it again.
If you already know about swagger could you please help me with this?

[2020-04-04 03:13] #765 closed

[2020-04-06 02:54] #490 closed

[2020-04-06 02:59] leecalcote opened #800 "[Workflow] Star count for Slack notifier"
**Description**
The GitHub Action workflow to notify the #buzz channel in Slack is broken after a recent enhancement to include the total count of stars in the notification.

**Screenshots**
<img width="994" alt="Screen Shot 2020-04-05 at 9 57 09 PM" src="https://user-images.githubusercontent.com/7570704/78519351-b4c09900-7788-11ea-87d6-a64f3019d056.png">

[2020-04-06 22:25] #764 closed

[2020-04-07 21:46] leecalcote commented on #800
@subhamkrai any ideas to the approach for this fix?

[2020-04-07 21:49] leecalcote commented on #775
@nupur-thakur as inspiration - this project's approach is somewhat novel and very well done - https://shipyard.run/apply

@anandrkskd did you and @nupur-thakur put together a design to solve this? If so, will you guys update the [Meshery Installation & Packaging](https://docs.google.com/document/d/1inncJ56SKEzIMIUikzj3XdCWF4d0xdtzOcq6J4GQYz0/edit#) design spec?

[2020-04-08 01:38] kushthedude commented on #775
I have been struggling with this since hours, blaming my machine for not upgrading the version.

[2020-04-08 01:38] kushthedude commented on #775
Not only with curl command, `mesheryctl update` also don't go above 0.3.9

[2020-04-08 01:45] leecalcote commented on #775
@kushthedude oh, right. You're comment highlights that we need to organize and clarify the various sets of CLI commands that `mesheryctl` will have. This particular command currently performs the task of updating the meshery containers only. Arguably, it should also take care of the task of updating `mesheryctl`. Whether it should or not / the approach that it takes should be dependent upon which

[2020-04-08 03:01] kushthedude commented on #638
@nupur-thakur I thing swaggo will be better for us, as it is a lot simpler and lighter than go-swagger. Also, @leecalcote Where are we planning to host the API documentation. Do we need auto-deploy with every commit ?

[2020-04-08 03:03] kushthedude commented on #638
Also, will we need [dredd](https://github.com/apiaryio/dredd) after setting up API documentation?

[2020-04-08 03:44] subhamkrai commented on #800
Not definite solutions but can try one more thing...if you have something I'll happy to that.

[2020-04-08 04:13] kushthedude commented on #784
@leecalcote There still needs to refactoring done for perf command, which is still immature.

- Without starting my service mesh, `perf` command gives this
<img width="576" alt="Screenshot 2020-04-08 at 9 39 15 AM" src="https://user-images.githubusercontent.com/44091822/78743654-dbdfbc00-797c-11ea-8c55-09cb5bf25537.png">

- After providing invalid args, `perf` command gives this
<img width="577" a

[2020-04-08 15:55] leecalcote commented on #800
@subhamkrai I haven't look. I'm pinging because its currently broken and so no notifications are coming through. It would be good to revert the change while a fix is pending.

[2020-04-08 15:57] leecalcote commented on #784
@kushthedude thank you very much. Yes, please. The experience with this new subcommand is not so good currently. A holistic consideration here is needed. Take take the reigns.

[2020-04-09 05:48] Aisuko opened #807 "Add back the CI jobs e.g `static_check` `vet` `sec_check ` and `tests `"
**Current Behavior**

The CI job of `meshery` was commented out. I believe we should add them back. Because of the unit test cases need to trigger by these CI jobs. And the CI config we can reference `meshery-linkerd` project.

* `static_check `
* `vet`
* `sec_check `
* `tests `

**Desired Behavior**

All CI jobs work well

---
**Resources**

**Alternatives / Additional Context**

[2020-04-09 08:46] nveenjain commented on #690
@leecalcote @kushthedude , can this issue be closed in favor of #697 ?

[2020-04-09 08:56] kushthedude commented on #690
#697 was more of a workaround.
I will make the PR with the fix for this soon.

[2020-04-10 01:49] #695 closed

[2020-04-10 02:43] kushthedude opened #810 "Addition of `make run-tests`"
Currently, Go error checks, lint checks, build checks are only run on CI. There should be a `make run-tests` which could test most of the commands on the local except the release so that CI doesn't fail & we don't waste the resources.

[2020-04-10 03:37] leecalcote opened #811 "Docs: Adding "Updating with Scoop" section to mesheryctl quick start guide"
**Current State:**
Instructions for installing `mesheryctl` with Scoop are available.

**Desired State:**
Akin to other installers, Scoop instructions for how to upgrade `mesheryctl` should be available as well.

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)
- [Ins

[2020-04-10 03:52] snitin315 commented on #670
@leecalcote Can I take this up?

[2020-04-10 03:53] leecalcote opened #812 "[Build] Invalid reference in goreleaser config for Scoop support"
**Description**
Excellent work by @kushthedude on scoop support for mesheryctl.
The latest release build failed with this error: https://github.com/layer5io/meshery/runs/575913602?check_suite_focus=true#step:5:109

Part of the issue here is that the “layer5” reference is missing the “io” on the end - layer5io.

[2020-04-10 04:00] #812 closed

[2020-04-10 04:04] leecalcote commented on #670
@snitin315 please, sir, yes. This "small" enhancement will have no "small" impact on user confusion when trying to nav the app.

[2020-04-10 05:16] ashiscs opened #815 "[Docs]Add Meshery v0.3.12 to docs page"

[2020-04-10 12:14] kushthedude opened #817 "Go Compile error with Grafana_helper.go"
When compiling current code with latest grafana_helper. There is error
` c.GetActualOrg undefined (type *sdk.Client has no field or method GetActualOrg) ` on line 61,129 at grafana_helper.go

Fix this error

Reference :
https://github.com/grafana-tools/sdk/blob/f0431e44c1c35b20751dc4c210a00b4c0d09d1d5/rest-org.go#L76
See here and update the code.

[2020-04-10 12:15] kushthedude commented on #817
cc: @Aisuko @leecalcote

[2020-04-10 12:30] leecalcote commented on #280
Implemented.

[2020-04-10 12:30] #280 closed

[2020-04-10 12:39] leecalcote commented on #815
@Saim-Safdar, we're in need of automating this through workflow. See @shivaylamba for a vision of how we might publish release notes going forward.

[2020-04-10 12:41] leecalcote commented on #510
@Saim-Safdar, we're in need of automating this through workflow. See @shivaylamba for a vision of how we might publish release notes going forward.

[2020-04-10 12:45] leecalcote commented on #817
@kushthedude good catch. We'll want to track this dependency opened by @Aisuko - https://github.com/grafana-tools/sdk/issues/81

[2020-04-10 12:54] #775 closed

[2020-04-10 13:10] leecalcote commented on #273
An update on the description of this bug - [![loading Grafana board](https://youtu.be/HEKBIujHwGg/0.jpg))](https://youtu.be/HEKBIujHwGg "loading Grafana board")

[2020-04-10 13:21] leecalcote opened #819 "Meshery: Unnecessary Kubernetes connection dependency"
**Description**
In more than one example, Meshery is unnecessarily dependent upon having a healthy connection to an active Kubernetes cluster. This issue documents an example with Grafana connections, however, there are other examples of this unnecessary dependency.

**Expected Behavior**
Users should be able to connect Grafana to Meshery without dependency on Meshery being connected to Kubernetes

[2020-04-10 13:25] leecalcote commented on #811
@nupur-thakur interested here by chance?

[2020-04-10 13:27] nupur-thakur commented on #811
Yes Sure, I'll look into it, Sir.

[2020-04-10 14:56] Saim-Safdar commented on #510
Sure Lee I'll walk though on that what's currently happened and came with the solution which we desire for.

[2020-04-11 05:50] ranjithkumar007 commented on #722
@leecalcote , I would like to have a go at this.

[2020-04-11 15:02] leecalcote opened #821 "[Install] Octarine manifest intermixed with Citrix Service Mesh manifests"
**Description**
This Octarine manifest needs displaced with the appropriate Citrix Service Mesh manfest -
https://github.com/layer5io/meshery/blob/master/install/deployment_yamls/k8s/meshery-cpx-deployment.yaml

[2020-04-11 15:48] kushthedude opened #827 "Addition of Spell Test in CI"
Addition Go-SpellTest in the current CI-Workflow.

___

### Resources -:
https://github.com/client9/misspell
https://github.com/client9/misspell#gometalinter

[2020-04-11 15:48] kushthedude commented on #827
@leecalcote How does it sounds?

[2020-04-11 16:13] anandrkskd opened #829 "Remove docker-compose check for Windows"
**Current Behavior**
Currently we have a wrong check for installed docker-compose on the system.

**Expected Behavior**
No checks are required for the docker-compose on Windows.

[2020-04-11 19:29] nveenjain commented on #827
+1 for the spell test! While misspell is great,  I do have a suggestion:- Can we use https://github.com/streetsidesoftware/cspell/tree/master/packages/cspell, it also has support for almost all programming languages and some common computer science terms and is extensible (just need to add a file in repo). We can also propose our own terms to https://github.com/streetsidesoftware/cspell-dicts

[2020-04-12 02:10] kushthedude commented on #827
Its npm engine, How will you support go with it? Also, Eslint has spell check plugin.

[2020-04-12 10:28] nveenjain commented on #827
@kushthedude , it installs using npm, but it supports every major language that we are using in the project (go, javascript, html,css)

https://github.com/streetsidesoftware/cspell/tree/master/packages/cspell#features

It also has extension for VSCode, and can be easily integrated with the CI pipeline.

[2020-04-12 10:31] kushthedude commented on #827
No, thats what not I am getting.
To use in GitHub Actions you will first install node and then npm and then grab the dependency with the npm engine.
Cool, If this is what we need to do at place of a single line of go get _____.

[2020-04-12 10:37] nveenjain commented on #827
I'm suggesting this for entire codebase(JS,go based code, CSS files,etc) not for only go based code. (for the complete file, not only comments, cspell, as I see, checks only for comments). We already install node and can install this globally...
https://github.com/meshery/meshery/blob/master/.github/workflows/ci.yml#L122

[2020-04-13 04:06] #645 closed

[2020-04-13 14:04] NupurThakur27 opened #841 "Docs: Updating with Scoop installation command for mesheryctl"
**Current State:**
Currently the command for installing `mesheryctl` using Scoop is `scoop bucket add app https://github.com/layer5io/scoop-bucket.git`
`scoop install app`

**Desired State:**
As the name of the manifest file in scoop-bucket repository (https://github.com/layer5io/scoop-bucket) is `mesheryctl.json`, so app-name should be the same as the .json file i.e. `mesheryctl`.

Therefore, Cur

[2020-04-13 14:34] NupurThakur27 commented on #841
@leecalcote Sir,  As I am already on #811 I'll do this as well, if that's fine.

[2020-04-13 14:58] #841 closed

[2020-04-13 15:55] #811 closed

[2020-04-13 21:47] #815 closed

[2020-04-13 22:05] #807 closed

[2020-04-14 10:12] kushthedude opened #847 "Remove `github.com/golang/protobuf/proto` and move to upgraded module"
See https://github.com/layer5io/meshery/pull/846/checks?check_run_id=585044607

[2020-04-14 10:59] kushthedude opened #849 "Trigger PR specific CI jobs"
**Current Behavior**

Currently, we are triggering all CI jobs irrespective of PR type. As discussed in the CI W/G, we need to trigger CI jobs that are related to PR which will reduce the CI Build Time as well as will be easy to manage.

**Desired Behavior**

Preferred Area->Jobs Relation -:

- Documentation -> Only run netlify
- Server -> Run Go-Vet/Sec/Tests/ErrCheck/Error-Test/Static-Check/Revi

[2020-04-14 15:18] kushthedude commented on #800
@subhamkrai  I don't see Action notifier to include the star count, which should have been included after #834.

[2020-04-14 19:40] subhamkrai commented on #800
@kushthedude seems little weird why it didn't work. Are you able to find any loophole?

[2020-04-15 00:41] leecalcote opened #850 "[mesheryctl] Add `--reset` flag to `mesheryctl stop`"
**Current Behavior**
Currently, `mesheryctl stop` stops all Meshery containers, removes their instances, prunes their connected volumes, and resets the meshery.yaml config back to default settings.

**Desired Behavior**
Change mesheryctl stop behavior to not reset meshery.yaml unless explicitly told to do so with an additional `--reset` flag. This flag will invoke the `cleanup` command, which shou

[2020-04-15 22:01] leecalcote opened #853 "[mesheryctl] Add `--reset` flag to `mesheryctl start`"
**Current Behavior**
Currently, `mesheryctl start` starts all Meshery containers using ~/.meshery/meshery.yaml config file by default.

**Desired Behavior**
Update mesheryctl start include the ability to reset meshery.yaml to its default settings by allowing the user to specify an additional `--reset` flag. This flag will invoke the `cleanup` command, which should soon be renamed `reset` (in the f

[2020-04-15 22:03] leecalcote commented on #853
@thakursaurabh1998 here's one of the issues we chatted about.

[2020-04-16 08:37] anandrkskd opened #855 "Move mesheryctl cleanup -> mesheryctl reset"
**Current Behavior**
mesheryctl cleanup is the command to remove old meshery.yml file with default one.

**Desired Behavior**
A renaming of  `mesheryctl cleanup` to `mesheryctl reset` as the name of the command.
so that `mesheryctl reset` should be  the command to remove current meshery.yml file with default meshery.yml.

[2020-04-16 22:16] #850 closed

[2020-04-17 10:23] nveenjain commented on #676
@kushthedude , are you working on this issue? Me, @shivaylamba  and @leecalcote  had a discussion on this issue about few days ago, and a fix was recommended during that discussion. If you're not working on it, I would like to take up this issue.

[2020-04-17 14:28] nveenjain commented on #704
This issue was fixed in #752, the pending work should be tracked by #745

[2020-04-17 14:28] #704 closed

[2020-04-17 15:05] gunjanmimo commented on #855
@anandrkskd I am taking this issue

[2020-04-17 15:51] #829 closed

[2020-04-18 16:14] #784 closed

[2020-04-18 17:06] nveenjain opened #861 "Unexpected 404 when reloading adapter page"
**Description**

404: Not found is displayed when we reload any adapter's page

**Expected Behavior**

It should reload with adapter's setting if it is available.

**Screenshots**

**Environment:**
 - OS: Any
 - Browser: Any
 - Version: [Any
 - Device: Any

---
[Optional] **To Reproduce**
Steps to reproduce the behavior:
1. Install meshery
2. Click on any adapter
3. Reload
4. See the unexpected 40

[2020-04-18 18:02] #861 closed

[2020-04-18 21:39] sb1975 opened #864 "Enhance Meshery Performance Test Scenario to include report on System Penalty"
**Description :** As a Operator I would like to see the Performance Benchmarking of Host Resource Utilization for different type of Service Mesh.

**Steps :**
Install meshery tool and run different deployments of applications with the sidecar injected in each application pod.
Run the system load to pass through the applications via the sidecar proxy.
Observe the output graph on the dashboard to di

[2020-04-19 05:41] leecalcote commented on #864
@sb1975 very good! You've hit on another area of Meshery where the capability exists, but user experience needs improvement in order to make this feature more obvious as an existing capability and easier to use. Here's a screenshot of Meshery providing performance test results and control plane in the same UI (can also show node resources metrics), so that operators may easily understand the overh

[2020-04-19 05:46] leecalcote commented on #864
Related issue describing UX enhancement (to incorporate MeshSync for prom and graf) - https://github.com/meshery/meshery/issues/772

[2020-04-19 05:50] leecalcote commented on #612
@subhamkrai this issue still seems to remain with Prometheus endpoints. When I enter `http://x.x.x.x:port-number/graph`, this error occurs:

[code]

However, when I enter `http://x.x.x.x:port-number`, the connection is made without issue. Will you investigate?

[2020-04-20 03:32] Aisuko opened #868 "[UI] TypeError: null is not an object (evaluating 'tableState.announceText.split')"
**Description**

When I access to routers `/results` and will get the error

**Expected Behavior**

 The UI work well
**Screenshots**

![Screen Shot 2020-04-20 at 11 28 13 AM](https://user-images.githubusercontent.com/8053949/79711298-0bd27c00-82fa-11ea-97c7-20439fd35e3c.png)

![Screen Shot 2020-04-20 at 11 25 57 AM](https://user-images.githubusercontent.com/8053949/79711170-b5fdd400-82f9-11ea-949

[2020-04-20 11:37] #821 closed

[2020-04-20 12:41] leecalcote opened #869 "Docs: Provide instructions on how to connect Prometheus and Grafana"
**Current State:**
The current set of documentation regarding Meshery's integration with Grafana and Prometheus (https://meshery.layer5.io/docs/mesh-management#grafana-and-meshery) needs enhanced.

**Desired State:**
There should be a separate section in the docs that covers how Meshery integrates with Grafana and Prometheus:

- how users may connect and use these integrations
- how to create a cu

[2020-04-20 12:49] kushthedude commented on #868
Looking at it

[2020-04-20 13:18] leecalcote opened #870 "Docs: Footer Formatting"
**Current State:**

The docs footer is off-center both horizontally and vertically.

<img width="1573" alt="Screen Shot 2020-04-20 at 8 15 04 AM" src="https://user-images.githubusercontent.com/7570704/79755694-24816880-82df-11ea-82ce-84e1176dbe0a.png">
**Desired State:**
<img width="1573" alt="Screen Shot 2020-04-20 at 8 15 04 AM" src="https://user-images.githubusercontent.com/7570704/79755878-690

[2020-04-20 14:08] leecalcote opened #871 "[Meshery] Adapter selection changes on page refresh"
**Description**
When a user has navigated to `/management?adapter=<adapter-name>:<port>` and the page is refreshed, often the displayed adapter will change, despite the user not having changed their selection. Example:

![Untitled](https://user-images.githubusercontent.com/7570704/79749379-b9329900-82d4-11ea-945a-49211faa6b82.gif)

This issue is likely due to out of order messages received through

[2020-04-20 17:26] nveenjain commented on #871
temporary fix in #872, if someone can debug react-router or guide me through it(I've never worked on react :sweat_smile:), that would be great!

[2020-04-21 07:31] Aisuko opened #875 "[Meshery] Add the Service Meshes drop-down list show the meshes adapters name"
**Current Behavior**

 I'm developing Meshery at the localhost and when I want to add the adapter at my local. And the debug console while getting the error message below.

[code]

Should we transfer the domain name to localhost If we notice that Meshery did not deploy to Kubernetes cluster

**Desired Behavior**

Meshery can work well with no Kubernetes cluster situation
---
**Resources**

* Steps

[2020-04-21 10:07] rubenlorenzo commented on #870
Hello @leecalcote, I am looking to solve it.

[2020-04-21 10:33] ashiscs commented on #870
GO ahead @rubenlorenzo

[2020-04-21 11:09] leecalcote commented on #870
Hi @rubenlorenzo, that would be fantastic. Yes, please. I welcome you to join the community Slack as well - http://slack.meshery.io. It would be nice to have you join.

[2020-04-21 11:20] kushthedude opened #876 "Wrong logo of Citrix service mesh in Adapter URL"
Wrong logo of Citrix service mesh in Adapter URL

#### Screenshot

<img width="1044" alt="Screenshot 2020-04-21 at 4 50 17 PM" src="https://user-images.githubusercontent.com/44091822/79860392-3999ec80-83f0-11ea-8dd7-0ad933aa48ad.png">

[2020-04-21 12:42] leecalcote commented on #875
@Aisuko, an item to check -

- Do you have mesherylocal.meshery.io entered into your /etc/hosts file pointing to your loopback interface (127.0.0.1)?

[2020-04-21 13:04] kushthedude opened #878 "Ability to restart mesheryctl"
**Current Behavior**

We provide `mesheryctl start/stop`, but there can be an instance when someone changes the config file or make some code changes. He/she would want to restart the mesheryctl, but for now, we have first stop and then start which when carried out for long may seem frustrating & if there would be a restart command for the mesheryctl, it would have eased the pain.

**Alternatives

[2020-04-21 13:04] kushthedude commented on #878
cc: @leecalcote

[2020-04-21 13:08] kushthedude commented on #868
@Aisuko This behaviour is still present in meshery, there is no connection of this behaviour & changes you made in PR #856 . It is most probably the pre-fetching of results which are not even present. Also, this behaviour only occurs when there are no test results present in the meshery.
Let me know if anything I mentioned above is not correct.

[2020-04-21 13:23] leecalcote opened #879 "Docs: Project, Releases, Security Vulnerability navigation links broken"
**Current State:**
The Project, Releases, Security Vulnerability pages need to be updated to respond to /project/releases, /project/security-vulnerability.

**Desired State:**
- The [project page](https://meshery.layer5.io/docs/project) needs an iterator added to it to display links to all pages under this category similar to the [guides page index](https://meshery.layer5.io/docs/guides).

---
**C

[2020-04-21 13:52] Aisuko commented on #875
Maybe we can add these contents to the document

[2020-04-21 13:55] leecalcote commented on #875
Certainly, yes. I'm not sure how well highlighted it is now (how well the docs flow) - https://github.com/meshery/meshery/blob/master/CONTRIBUTING.md#running-meshery-from-ide. What do you think? Update at-will.

[2020-04-21 14:05] Aisuko commented on #875
Oh, I saw the document right now and doing well.

[2020-04-21 14:05] #875 closed

[2020-04-21 14:41] #870 closed

[2020-04-21 18:28] leecalcote commented on #284
Hi @RaulEsMas, we're spinning up a CI working group. To meet next week (check the #meshery channel for details), it would be good to have you there!

[2020-04-21 18:32] thakursaurabh1998 commented on #878
@kushthedude I don't think the code change point is valid if someone is using the `mesheryctl` cli, code change makes sense when development is going on.

[2020-04-21 18:37] kushthedude commented on #878
It is still a proposal, also my main point was when someone makes changes in `kube config`, `Adapter URLs`, `Configuration YAMLs`. I would have to go all back to stop & restart, and think a restart subcommand would have done all this.

[2020-04-21 18:41] thakursaurabh1998 commented on #878
I definitely support the idea of a reset command, kudos to you 👏🏼.  I was just pointing out where the reset command would really be helpful. :)

[2020-04-21 19:00] leecalcote opened #882 "Docs: Meshery Upgrade Instructions"
**Current State:**
The docs are missing a guide on how to upgrade Meshery (outside of the "Using mesheryctl" guide).

**Desired State:**
Have a page or section of a page that walks users through this process - for both Meshery Server and mesheryctl.

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/lay

[2020-04-21 19:04] leecalcote opened #883 "[mesheryctl] Update Meshery container images on start by default"
**Current Behavior**
Currently, Meshery containers are updated when watchtower discovers a new container image as being available or when a user manually invokes `mesheryctl update`.

New releases of Meshery server may take some time for users to acquire based on awaiting watchtower.

**Desired Behavior**
New releases of Meshery server are pulled by default on start of Meshery.

New releases of Me

[2020-04-21 19:11] leecalcote commented on #878
@kushthedude great suggestion. Makes sense. 👍

[2020-04-22 02:41] #853 closed

[2020-04-22 03:26] leecalcote commented on #878
Re-reading this proposed enhancement, I'll make note of `mesheryctl cleanup` (in case folks in this thread aren't already aware of this command), which grabs a pristine copy of meshery.yaml (docker-compose.yaml) from GitHub and resets the local config file. At this point, I think both @kushthedude and @thakursaurabh1998 are aware of this command given the notion that `cleanup` will ideally be rena

[2020-04-22 06:48] leecalcote commented on #665
@thakursaurabh1998 the considerations above need to be incorporated into the mesheryctl design spec.

[2020-04-22 13:23] #696 closed

[2020-04-22 14:17] thakursaurabh1998 commented on #665
Noted @leecalcote

[2020-04-22 20:39] leecalcote commented on #868
@nveenjain and I experience this issue when results are present as well. @Nikhil-Ladha help!

[2020-04-23 13:06] #883 closed

[2020-04-23 19:17] leecalcote opened #887 "Update release docs with v0.3.14 release"
**Current State:**
A new release has been made - Meshery v0.3.14

[2020-04-23 19:30] nveenjain opened #888 "meshery: mesherylocal.layer5.io:9081 wouldn't work"
**Description**
After the migration to JWT, it currently loads an empty page. It works fine for localhost:9081

**Expected Behavior**

mesherylocal.layer5.io:9081 should work

**Screenshots**

![Screenshot from 2020-04-23 22-27-16](https://user-images.githubusercontent.com/22762181/80127909-9c3ae600-85b2-11ea-860b-4653bdb16d7c.jpg)

**Environment:**
 - OS: Any
 - Browser: Any
 - Version: Latest
 -

[2020-04-23 19:58] leecalcote opened #889 "[Meshery] Anonymous performance test results of "None" Provider not persisted"
**Description**
Post deployment of Meshery v0.3.14, there is an authentication issue between Meshery server and the None Provider causing performance test results not to persist.

[2020-04-24 10:39] kushthedude opened #891 "Authentication not proceeding after introduction of JWT"
O-Auth page doesn't move ahead and the invalid token is generated by the JWT implemented.

For more details see the post-merge conversation on #757.

Error Logs :
[code]

[2020-04-24 10:39] kushthedude commented on #891
/assign @kanishkarj
/cc @leecalcote

[2020-04-24 11:56] kanishkarj commented on #891
The token produced is valid (I checked), for some reason meshery is not able to validate them (on your or a few systems)... I'll let you know once I make more progress

[2020-04-24 12:05] kushthedude commented on #891
I just wrote what logs told me.

Sure

[2020-04-24 15:51] kushthedude opened #893 "Localise Go Tests performed by CI"
All the Go Tests performed by GitHub Actions have not been localised, which means user can't test all these checks like fmt, lint, vet etc on it's local.

I propose to localise all these tests to improve the UX for Meshery Server!

Opinions/Comments Welcome.

[2020-04-24 16:23] Nikhil-Ladha commented on #871
Strange but the url that you have mentioned @leecalcote sir, should not give this output. Means there should not be an option available for you to select your adapter from there.

[2020-04-24 16:33] Nikhil-Ladha opened #894 "[Docs] Kubernetes endpoint not reachable using minikube with "docker" driver"
**Current State:**
If installed minikube using driver as docker i.e, `minikube start --driver=docker`. Then the container of minikube is created on a separate network in docker having a different subnet. Whereas the meshery container has a separate subnet. That's being the reason meshery is not able to ping the kubernetes server on uploading the kube-config file to meshery.

**Desired State:**
Mes

[2020-04-24 18:04] #868 closed

[2020-04-24 22:58] nveenjain opened #896 "meshery: Update meshery results export to follow SMP"
**Description**

Currently when you export a result, then a yaml file is downloaded. This file doesn't support SMP.
It only follows SMP partially...

**Expected Behavior**

Exported yaml should follow SMP.

**Screenshots**
![image](https://user-images.githubusercontent.com/22762181/80262975-cc66af80-86ac-11ea-8bb6-349340a9abb9.png)
Click on download button

**Environment:**
 - OS: Any
 - Browser:

[2020-04-24 22:59] nveenjain commented on #896
@vijcheru, would you like to take this issue up? I can help you if you want...

[2020-04-25 11:15] leecalcote commented on #896
That would be fantastic. Our collaboration with Google on this spec will be advanced by work on this issue.

[2020-04-25 22:02] nveenjain opened #898 "mesheryctl: Import test config using perf --f"
**Current Behavior**

Currently, there is no mechanism to import test config from a file. SMPS also stores the test config.

**Desired Behavior**

Import test config from SMPS yaml file.

[2020-04-25 23:45] gunjanmimo commented on #893
this repo could be helpful https://github.com/nektos/act

[2020-04-25 23:50] kushthedude commented on #893
I was thinking to go by traditional way. But this seems interesting to me,
I will check it out.

On Sun, 26 Apr, 2020, 05:15 Gunjan Paul, <notifications@github.com> wrote:

[2020-04-26 18:53] kushthedude opened #899 "Adapters not discoverable after introduction of JWT"
**Description**

Adapters not discoverable after the introduction of JWT

**Expected Behavior**

Adapters should discoverable as have been working before of JWT

**Screenshots**

<img width="1229" alt="Screenshot 2020-04-27 at 12 20 23 AM" src="https://user-images.githubusercontent.com/44091822/80316761-40c06080-881d-11ea-90a0-689b73d15507.png">

**Logs**

[code]

---

[Optional] **Additional Cont

[2020-04-26 20:54] kushthedude commented on #893
I checkout act, it is a great tool but it has limited amount of support. Considering the vast platform support which Meshery offers using act will only limit users.

[2020-04-26 20:57] nveenjain commented on #899
@kushthedude , just one thing to check, have you configured `/etc/hosts` file so that `mesherylocal.meshery.io` points to localhost?

[2020-04-26 21:38] kushthedude commented on #899
@nveenjain This is the file, I think it is already pointing to localhost.
<img width="591" alt="Screenshot 2020-04-27 at 3 07 09 AM" src="https://user-images.githubusercontent.com/44091822/80320482-437a8000-8834-11ea-8065-a2382b77e46d.png">

[2020-04-26 21:43] nveenjain commented on #899
Can you try opening `mesherylocal.meshery.io:9081` and see if it is working(opening up the meshery adapter page, authentication might not work as JWTs are maybe domain specific and work currently only for localhost)...

If it doesn't work, restarting the system might help...

[2020-04-26 21:52] kushthedude commented on #899
No, mesherylocal.meshery.io:9081 it is not working.
Neither the restart.

[2020-04-26 21:52] nveenjain commented on #899
@kushthedude sorry, I just missed the error hosts file, I guess your entry should be

`127.0.0.1	mesherylocal.meshery.io`

[2020-04-26 21:53] nveenjain commented on #899
try switching the IP and hostname, and it should work...
A system reboot maybe required...

[2020-04-26 21:56] kushthedude commented on #899
Trying it right away!

[2020-04-26 22:16] kushthedude commented on #899
Two things:
- Token is not received while using URL `mesherlocal.meshery.io:9081`.
- Adapters are still not discoverable, with same error log.

[2020-04-26 22:22] nveenjain commented on #899
Yes, tokens doesn't work in URL  `mesherlocal.meshery.io:9081`. This is something that was notified in slack #meshery channel a few days back... Opening an issue and assigning Kanishkar would be a nice idea...
Regarding error logs, can you please again paste the error logs, i assume host must be reachable, and maybe adapters can't be pinged...

[2020-04-26 22:33] kushthedude commented on #899
Same logs
[code]

[2020-04-26 22:40] nveenjain commented on #899
I wonder why this is happening, `mesherylocal.meshery.io` should be able to connect...
Can you try running `host mesherylocal.meshery.io` in your terminal...

[2020-04-26 22:47] kushthedude commented on #899
`Host mesherylocal.meshery.io:9081 not found: 3(NXDOMAIN)`

[2020-04-26 22:50] nveenjain commented on #899
Ideal output should be (if hosts file is properly applied)

[code]

Can you confirm that /etc/hosts has correct config and restart system once again??

[2020-04-26 22:53] nveenjain commented on #899
A workaround would be to replace all `mesherylocal.meshery.io` with `127.0.0.1` or localhost
at https://github.com/meshery/meshery/blob/master/Makefile#L1

[2020-04-26 22:53] kushthedude commented on #899
<img width="499" alt="Screenshot 2020-04-27 at 4 22 08 AM" src="https://user-images.githubusercontent.com/44091822/80321899-acff8c00-883e-11ea-91b9-69b24188427b.png">

mesherylocal.meshery.io:9081 is pointing me to provider UI. I don't think there should be an error in config.
I don't know why `host mesherylocal.meshery.io` is showing this output.

[2020-04-26 22:55] kushthedude commented on #899
Also one more thing to note, my `etc/hosts` was not configured before JWT but I was quite well able to use meshery . Also this redirection of host is not mentioned in any readME, would it be worth to document this ?

[2020-04-26 22:56] kushthedude commented on #899
Workaround is also not working throwing the same error logs!
[code]

[2020-04-26 22:58] nveenjain commented on #899
Actually, it is mentioned in [Contributing.md](https://github.com/meshery/meshery/blob/master/CONTRIBUTING.md#running-meshery-from-ide) but yeah it should be made more visible...

[2020-04-26 22:58] nveenjain commented on #899
These errors are expected... Maybe adapters are not running in your system? maybe cloning any adapter and runnign them would work...

[2020-04-26 23:05] kushthedude commented on #899
That is why I opened the issue, BTW all this is after #892 gets merged as I am using #892 as my base currently.

[2020-04-26 23:07] nveenjain commented on #899
ohhh, i'll checkout the PR too... I thought this was on master branch...

[2020-04-26 23:12] nveenjain commented on #899
It is working on that PR too @kushthedude. also `host mesherylocal.meshery.io` should emit
[code]
I guess we need to debug that...

[2020-04-26 23:53] kushthedude commented on #899
We do need a debugging call then I presume. @leecalcote @kanishkarj

[2020-04-27 01:28] Aisuko commented on #868
Thanks 👍

[2020-04-27 04:16] aayushdutt opened #900 "ui: Sort not working in Results page"
**Description**
Sort functionality of the table in the results page is not working properly.

**Expected Behavior**
Clicking on `Name`, `Mesh`, or `StartTime` should sort the table in ascending order, again clicking on it should sort it in the descending order (and vice versa).

**Environment:**
 - OS: Ubuntu
 - Browser: Chrome
 - Version: 80
 - Device: laptop

**To Reproduce**
Steps to reproduce

[2020-04-27 11:30] Aisuko opened #902 "[CI] Add the cache action to the CI"
**Current Behavior**

Every time needs to redownload the dependencies for building.

**Desired Behavior**

The action allows caching dependencies and builds outputs to improve workflow execution time.

---
**Resources**

**Alternatives / Additional Context**

[2020-04-27 13:32] leecalcote commented on #902
Adding to today's CI Working Group meeting agenda.

[2020-04-27 19:46] #676 closed

[2020-04-27 21:59] aayushdutt commented on #891
This issue is most probably fixed after #892

[2020-04-27 22:00] kushthedude commented on #891
Closed on #892

[2020-04-27 22:00] #891 closed

[2020-04-27 23:12] leecalcote commented on #894
Pictorial description of the issue - https://docs.google.com/drawings/d/1t40B6sn7RVH3z0ZVOvFD4wxv8YXemyq5JlHugy9_x7A/edit

![Meshery Issue #984](https://user-images.githubusercontent.com/7570704/80429869-b0345f80-88b2-11ea-9d8d-1c215e61470f.png)

[2020-04-27 23:24] aayushdutt opened #907 "UI: Populate 'Test Name' in Performance page for unnamed tests"
**Current Behavior**
When a test without a name is run, it is assigned a name automatically on the server. Currently, there is no way to view which name is assigned to the test.
![image](https://user-images.githubusercontent.com/25280541/80430428-36c95b00-890c-11ea-8a56-71cdc89075b9.png)

**Desired Behavior**
It will be better if the 'Test Name' field gets populated automatically after the test re

[2020-04-27 23:25] leecalcote commented on #907
Thank you, @aayushdutt. Great description and articulation of a behavior improvement that would signal to the user what test name they should refer to in the /results page when referencing their results in the future.

[2020-04-27 23:42] aayushdutt opened #909 "UI: TypeError: Cannot assign to read only property 'query' of object '#<Object>'"
**Description**
When I go to `/management` I get this error
![image](https://user-images.githubusercontent.com/25280541/80431296-afc9b200-890e-11ea-9757-79f1ac55da73.png)

**Expected Behavior**
Management page should open without any errors.

**Environment:**
 - OS: Ubuntu
 - Browser: Chrome
 - Version: 80
 - Device: laptop
---
[Optional] **To Reproduce**
Steps to reproduce the behaviour:
1. Start

[2020-04-27 23:56] kushthedude opened #910 "Convert the `no-used-var` & `no-undef` rule to error"
**Description**

We have recently set up ES-Lint rules for our client-side code. Due to poor code quality & to begin with, we had to use these rules as optional so that error does not occur. But, this is one of the most occurring error in our codebase of the client-side.

**Expected Behavior**

Remove all `unused-var` & `no-undef` variables to accommodate to extend the ES-Lint rules.

** Work on L

[2020-04-28 00:04] nveenjain commented on #909
This line can be removed!

[2020-04-28 01:15] #909 closed

[2020-04-28 01:21] #898 closed

[2020-04-28 01:25] leecalcote opened #913 "[mesheryctl] Support use of JWTs instead of Cookies"
**Description**
The move away from cookies to jwt needs to be incorporated into `mesheryctl`.

**Expected Behavior**
- Both Local and Remote Providers should be supported.
- "None" provider should implicitly send anonymous test results.

**Future Behavior**
"None" provider should have option to disable this telemetry.

[2020-04-28 04:25] kushthedude opened #915 "mesheryctl: Build & Release process failing"

[2020-04-28 04:28] nitishvu opened #916 "Docs:supported platforms link is broken in Quick start page(https://meshery.layer5.io/docs/installation)"
**Current State:**

Supported platform URL redirecting to `"https://meshery.layer5.io/docs/platforms"`

**Desired State:**
Supported platform URL should be` https://meshery.layer5.io/docs/installation/platforms`

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)
- [Ins

[2020-04-28 04:30] leecalcote commented on #915
Thanks for working on this, @kushthedude

[2020-04-28 04:34] kushthedude commented on #915
This is getting quite ugly, https://github.com/meshery/meshery/pull/914 I fix one issue another pops up, all due to zero CGO support of goreleaser.

[2020-04-28 04:44] #882 closed

[2020-04-28 05:15] #907 closed

[2020-04-28 05:18] #900 closed

[2020-04-28 06:20] nitishvu commented on #916
fixed with below PR
https://github.com/meshery/meshery/pull/917

[2020-04-28 06:20] #916 closed

[2020-04-28 06:29] aayushdutt commented on #670
@snitin315 Are you still working on this? Can I take this?

[2020-04-28 06:32] aayushdutt commented on #671
@Nikhil-Ladha Are you still working on this? Can I take this up?

[2020-04-28 06:34] Nikhil-Ladha commented on #671
Actually, I was but since you started to work on the other. I was waiting for your PR. But if you want you can take this up. No issues 👍🏼.

[2020-04-28 06:49] snitin315 commented on #670
Feel free to work on it.

[2020-04-28 11:53] jeusdi opened #919 "Get access to kubernetes"
I've just installed meshery using:

    curl -L https://git.io/meshery | bash -

So, meshery is up and running.

I can reach my kubernetes from console:

[code]
When I get access to meshery web interface:

Any ideas?

[2020-04-28 12:44] kushthedude commented on #919
Hello @jeusdi ,
Can you try uploading the Kube-config manually?
- Go to `localhost:9081/settings`
- You will see an option to manually upload your Kube configuration
- Once you do it, you will be successfully able to connect to Kubernetes.

Please let me know if you have more doubts regarding the same.

[2020-04-28 13:34] nveenjain commented on #915
This issue is most likely due to https://github.com/vmihailenco/taskq/issues/55. We need to update taskq package that is using `zstd` package(not compatible with all OS architectures)

[2020-04-28 13:44] kushthedude commented on #915
This is the issue in goreleaser, as cgo is not supported where as gozstd
needs explicit flag to have cgo enabled to solve this issue.

On Tue, 28 Apr, 2020, 19:04 Naveen jain, <notifications@github.com> wrote:

[2020-04-28 13:45] kushthedude commented on #915
I am looking for workarounds but atlast if nothing goes well, we could make
a fork and update the code as per our need. Also, grafand sdk was causing a
lot of issues but I fixed them here too.
But I hope we won't get to this state to have a fork and customize at our
will.

On Tue, 28 Apr, 2020, 19:14 Kush Trivedi, <kushthedude@gmail.com> wrote:

[2020-04-28 14:56] leecalcote commented on #919
Manually loading kubeconfig will do the trick. 👍

There is a bug here, though. I've seen this behavior across my systems. Meshery should be automatically grabbing the kubeconfig (`~/.kube/config`) file from the user's home folder, but seems to no longer be doing this.

[2020-04-28 15:18] kushthedude commented on #919
This but is only with mesheryctl, I have opened the issue I think.

On Tue, 28 Apr, 2020, 20:27 Lee Calcote, <notifications@github.com> wrote:

[2020-04-28 15:20] kushthedude opened #921 "[mesheryctl] Couldn't detect kube config of local cluster"
**Actual**
As `make run-local` fires up the server, the server is capable of loading the local Kube config on the user's machine.
But for `mesheryctl`, the user has to manually select the Kube-config to load up the Kubernetes.

**Expected**
Mesheryctl should also be able to detect Kube-config.

[2020-04-28 15:50] nveenjain commented on #915
@kushthedude , I think upgrading `taskq` would work for this issue... If you're trying some other workaround, I might also give a shot at this and this way any of the approach that works can be used in project...
Thoughts?

[2020-04-28 16:00] kushthedude commented on #915
Are we even using taskq ?

[2020-04-28 16:08] nveenjain commented on #915
It is taskq

[2020-04-28 16:17] kushthedude commented on #915
Have pushed a commit to update, let's see if it do the miracle !

[2020-04-28 18:12] #888 closed

[2020-04-28 20:30] kushthedude opened #924 "Set up pre-commit hooks for client-side code"
Set-Up pre-commit hooks for ES-Lint.

[2020-04-28 20:32] leecalcote commented on #924
Note: It'd be good if all current ES-Lint issues are addressed prior to instituting pre-commit hooks.

[2020-04-28 20:36] kushthedude commented on #924
Only one issue is remaining to restore two of the major rules #910 .

[2020-04-28 22:18] #887 closed

[2020-04-28 23:04] ashiscs opened #926 "[Docs]:Fix the broken Link for Project Section"
![Screenshot from 2020-04-29 09-59-15](https://user-images.githubusercontent.com/49238464/80546184-a275fb80-89d2-11ea-9c5c-1b6b3d535bbb.png)

[2020-04-28 23:11] #926 closed

[2020-04-28 23:13] leecalcote opened #928 "Docs: Outdent "Project" section in site navigation"
**Current State:**
Project section of docs navigation is indented too far.

<img width="252" alt="Screen Shot 2020-04-28 at 6 11 38 PM" src="https://user-images.githubusercontent.com/7570704/80546683-ef7ab300-897b-11ea-8f25-7473cf422028.png">

**Desired State:**
Should be shifted left (outdented).

[2020-04-28 23:20] leecalcote opened #929 "Docs: Upgrade Jekyll site to Ruby 2.7.0"
**Current Behavior**
This site runs on Ruby 2.6.5.

**Desired Behavior**
Ruby 2.7.0 is available as a stable release. Ideally, this Jekyll site and the other Jekyll-based project sites are upgraded to use 2.7.0.

**Related Issues**
- meshery.io: https://github.com/layer5io/meshery.io/issues/170
- layer5.io: https://github.com/layer5io/layer5/issues/393

---
**Contributor Resources**
- [Meshery doc

[2020-04-29 03:43] #915 closed

[2020-04-29 05:34] leecalcote commented on #670
@aayushdutt an example use case should have been noted in the description. Here's one:

**Current behavior:**
- A user doesn't have an Istio adapter configured.
- They click on "Istio" in the navigation bar.
- They see a "Configure Settings" button instead of actions to take with the adapter.
- They click on "Configure Settings" and are dropped off at /settings, which shows them the Environment ta

[2020-04-29 05:42] aayushdutt commented on #670
Got it @leecalcote
I went through #671 and it looks like the description you gave above. I'll be working on the same next.
However, I guess the current behaviour when Istio adapter is not configured is that it does nothing when clicked on "Istio" on the navbar.

[2020-04-29 05:49] #670 closed

[2020-04-29 05:52] leecalcote commented on #670
@aayushdutt, good point. I was just noticing this same behavior. I suppose what I described is only true for the first two bullets. It would be an improvement if we were to implement the two last bullets with the new anchor included.

[2020-04-29 05:58] aayushdutt commented on #670
@leecalcote That would be great.

What do you think about -
* We put a label next to "Istio" in the navigation bar which says `Not Configured` (probably with a similar styling of labels as that on GitHub)
* When it's clicked, it directly redirects to `/settings` page to configure it.

![image](https://user-images.githubusercontent.com/25280541/80564832-8f801d00-8a0c-11ea-8342-a70d0e4787f9.png)

[2020-04-29 06:13] aayushdutt opened #930 "UI: Show 'Configure' action buttons when Grafana or Prometheus is not configured"
**Current Behavior**

Grafana and Prometheus cards show "Not connected to \<Grafana\>" when not configured by the user.
![](https://user-images.githubusercontent.com/7570704/80564071-70ed3800-89b2-11ea-8350-3fd925034154.png)

**Desired Behavior**

It will be great if there is an action button which redirects the user to configure it instead.
![](https://user-images.githubusercontent.com/7570704/80

[2020-04-29 12:36] #817 closed

[2020-04-29 19:42] l5io opened #932 "Add AKS to the Meshery README as a forthcoming platform to be supported"
**Current Behavior**
Based on the work in #180, let's expose this forthcoming support in the Platforms table in Meshery's readme.

[2020-04-29 19:47] l5io opened #933 "Docs: Broken hyperlink in Extensibility doc"
**Current State:**
In the **[Endpoints](https://meshery.layer5.io/docs/extensibility#endpoints)** section at the bottom of the page, there are one too many right brackets.

<img width="739" alt="Screen Shot 2020-04-29 at 2 46 41 PM" src="https://user-images.githubusercontent.com/47201130/80639906-505fc500-8a28-11ea-92e5-f2fc28ee0ae9.png">

---
**Contributor Resources**
- [Meshery documentation sit

[2020-04-29 20:00] leecalcote opened #934 "Docs: Publish additional Meshery Architecture slides"
**Current State:**
The [Architecture page](https://meshery.layer5.io/docs/architecture) only has one diagram. There are multiple diagrams of Meshery's architecture depending upon your vantage point.

**Desired State:**
- Each of the architecture diagrams in the Meshery Architecture deck (slides 3 through 5 of the [Meshery Architecture deck](https://docs.google.com/presentation/d/1SQMfyu5shjpGKlYON

[2020-04-29 20:04] leecalcote opened #935 "Docs: Meshery adapter for Tanzu Service Mesh assigned incorrect port number?"
**Current State:**
From the [Architecture page](https://meshery.layer5.io/docs/architecture), it seems that the Meshery adapter for Tanzu Service Mesh is assigned a duplicative port.

<img width="689" alt="Screen Shot 2020-04-29 at 3 01 44 PM" src="https://user-images.githubusercontent.com/7570704/80641424-76866480-8a2a-11ea-966d-f8c19ffb087c.png">

**Desired State:**
- Verify port assignment and

[2020-04-29 20:13] leecalcote commented on #935
@sergiopozoh @venilnoronha @chugtum, a quick item that may be of interest to fix. The reserved port should be 10009/tcp.

[2020-04-30 16:51] manishdangi98 commented on #934
@leecalcote please assign me

[2020-04-30 18:16] ashiscs commented on #934
@manishdangi98 feel free to self assign and knock the issue !!

[2020-04-30 19:27] #913 closed

[2020-04-30 20:08] leecalcote commented on #935
Thanks, @manishdangi98. 👍

[2020-04-30 20:08] #935 closed

[2020-04-30 20:12] leecalcote opened #940 "[mesheryctl] "--requesteduration" flag is not required for `mesheryctl perf`"
**Description**
The help output of the `mesheryctl perf` command identifies "--concurrent-requests" as being required, however, it is not. When "--concurrent-requests" is not specified it will default to a value of 1.

**Expected Behavior**
- "--concurrent-requests" should be listed as "(optional)" in the help text.

**Screenshots**
[code]

[2020-04-30 20:39] leecalcote commented on #934
Thank you, gents. 👍

[2020-05-01 04:47] #751 closed

[2020-05-01 05:25] kushthedude commented on #910
@aayushdutt Would you like to take care of remaining errors ?

[2020-05-01 05:27] aayushdutt commented on #910
@kushthedude  I'd love to. Not my highest priority at the moment though.

[2020-05-01 05:41] kanishkarj opened #942 "Helper module"
**Current Behavior**

Meshery server and mesheryctl have a lot of helper functions which they use. Currently they are defined right next to where they are being used. Also, there might be helper functions/objects that both need to share and currently we might be replicating it in both the places.

**Desired Behavior**

It would be helpful to have a separate go module called helper which defines al

[2020-05-01 05:41] kanishkarj commented on #942
@leecalcote @nveenjain More comments? also the right tags for this issue?

[2020-05-01 05:56] leecalcote commented on #942
@kanishkarj in context of `mesheryctl`, literally having a `helper.go` file makes much sense to me. In the larger code base of Meshery server, I can see the need for this to be a separate module, considering there are potentially a number of functions to centralize and share (perhaps).

Are you thinking this would be a shared package between mesheryctl and Meshery server or thinking of keeping the

[2020-05-01 06:00] #933 closed

[2020-05-01 06:03] kanishkarj commented on #942
I was suggesting for a shared package, but there not much to share then your suggestion sounds good!

[2020-05-01 06:26] kushthedude opened #943 "Mention about ES-Lint in contributing.md"
**Current State:**

We have recently introduced ES-Lint in our client-side code with few new make commands.
Currently, those commands are not mentioned in contributing.md which results in failure of CI.

**Desired State:**

Mention about ES-Lint & make file commands in the UI Section of contributing.md, so that new contributors may get acquanted easily.

---

**Contributor Resources**
- Make Comma

[2020-05-01 06:34] kushthedude opened #944 "[Docs] Mention Tanzu-SM in our readME"
**Current State:**

Currently, In the supported adapters list of service meshes, we have mentioned about Tanzu which is in alpha state, but we have listed the Tanzu-SM in our documentation website.

**Desired State:**
Add a row about Tanzu Service Mesh, inspiring from our documentation site list of service meshes.

---

**Contributor Resources**
- [File to update](https://github.com/layer5io/meshe

[2020-05-01 06:45] kushthedude opened #945 "Mention link to contributing.md in the Contributing Section"
**Current State:**

Contributing section of the documentation website is blank without any content.

**Desired State:**

In the contributing section of the documentation site, mention a link to [contributing.md](https://github.com/layer5io/meshery/blob/master/CONTRIBUTING.md)

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation sou

[2020-05-01 21:12] leecalcote opened #946 "Docs: Describe state / persistent in Meshery's architecture"
**Current State:**
There isn't a specific section of the docs pertaining to persistence.

**Desired State:**
A section of the docs to identify which components retain state state
- mesheryctl is stateless.
- Adapters are stateless.
- Meshery Server caches state.
- Meshery Providers are stateful.

This could be a subsection on the Meshery Architecture page.

---
**Contributor Resources**
- [Meshery

[2020-05-02 08:26] kushthedude opened #948 "UI: `npm start` doesn't work nor the production build"
`npm start` doesn't work nor the production build. Also there is no way to start the production build server and `npm start`

[2020-05-02 10:01] kushthedude opened #950 "UI: Update dependencies & peer, remove unmaintained packages"
- Update the UI Dependencies & make them inline with each other.
- Remove the obsolete & unmaintained packages.
- Watch out for breaking changes with any of the dependency.

[2020-05-02 17:23] nveenjain opened #952 "make build-ui is not working"
**Description**
Provider UI is not building.

**Expected Behavior**
Provider-ui should build

**Error log**
[code]

**Environment:**
 - OS: Ubuntu 18.04
 - Browser: NA
 - Version: Latest
---
[Optional] **To Reproduce**
Steps to reproduce the behavior:
1. Run make setup-ui-libs
2. Run make build-ui
3. See error

[Optional] **Additional Context**

[2020-05-03 03:43] kushthedude opened #954 "Meshery Provider: Provider Page not getting shown"
**Description**

Meshery Provider: Provider Page not getting shown
**Expected Behavior**

Provider Auth should work

**Screenshots**

<img width="1282" alt="Screenshot 2020-05-03 at 9 12 47 AM" src="https://user-images.githubusercontent.com/44091822/80898192-471f7280-8d1e-11ea-9090-5d8c463f0d6d.png">

---
[Optional] **To Reproduce**
Steps to reproduce the behavior:
1. Go to 'mesheryctl start --ski

[2020-05-04 12:35] #952 closed

[2020-05-04 12:35] #954 closed

[2020-05-04 13:31] #950 closed

[2020-05-04 15:10] nitishvu opened #958 "UI:run-local unable to load meshery ui"
**Description**
After executing "make run-local"  some times unable to load UI
getting below error in the terminal. no error in the browser console

<pre><font color="#06989A">INFO</font>[0000] Using &apos;/home/nitish/.meshery/config&apos; to store user data
<font color="#06989A">INFO</font>[0000] Using &apos;/home/nitish/.kube&apos; as the folder to look for kubeconfig file
<font color="#06989A"

[2020-05-04 17:17] kanishkarj commented on #958
Hey @nitishvu, when you say unable to load UI, do you mean that even provider UI doesn't show up? The provider UI being the page where you choose between meshery/None before you sign in.

[2020-05-04 17:27] nitishvu commented on #958
yes @kanishkarj even provider UI doesn't show up.

[2020-05-04 17:33] kanishkarj commented on #958
Oh.. Could you check once if it works on firefox? Because we came across this issue 2 days back. Also, could you verify if your master is up to date with the master on this repo?

[2020-05-04 18:01] sb1975 commented on #958
I also faced issue in opening Meshery GUI.
either using the Meshery Provide or "None", it gives me below error
esudbat@istio:~$ sudo mesheryctl logs
Starting Meshery logging...
Attaching to meshery_meshery-cpx_1, meshery_meshery_1, meshery_meshery-linkerd_1, meshery_watchtower_1, meshery_meshery-nsm_1, meshery_meshery-consul_1, meshery_meshery-octarine_1, meshery_meshery-istio_1
meshery-consul_1

[2020-05-04 19:19] leecalcote commented on #958
Gents, the latest Meshery Docker image the image id of `9773ffc8c9a9` fixes this issue. If you run a `mesheryctl start`, this will both update the Meshery container images and run Meshery. Alternatively, you could run `mesheryctl update` and then `mesheryctl start` to pull the latest images and run Meshery.

[2020-05-04 19:40] leecalcote commented on #958
There seems to be a dangling issue here when comparing results. If you select two results and compare them, a javascript issue occurs:

[code]
The error points to this function:
[code]

@kushthedude @aayushdutt, will you have a look?

[2020-05-04 20:10] #930 closed

[2020-05-04 20:12] #940 closed

[2020-05-04 21:06] leecalcote opened #961 "Docs: Guide for invoking performance tests and interpreting results"
**Current State:**
Missing documentation of how to run performance tests

**Desired State:**
A guide to running performance tests and interpreting their results.

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)
- [Instructions for contributing to documentation](https

[2020-05-04 21:31] leecalcote commented on #879
@gunjanmimo @ashiscs @manishdangi98 would one of you like to take this one on?

[2020-05-04 21:32] leecalcote commented on #889
Fixed in v0.3.15

[2020-05-04 21:32] #889 closed

[2020-05-04 21:45] leecalcote opened #962 "[CI] Versioning of Meshery Server"
**Current Behavior**
`mesheryctl --version` only returns the client version number, and a stubbed-out version number for meshery server. When meshery server is built, the release tag (as entered into GitHub releases) is not included as an artifact in the meshery server Docker image.

**Desired Behavior**
- include a properties.yaml in the meshery server image, which includes the release tag and th

[2020-05-04 21:47] leecalcote opened #963 "[Meshery] Versioning of Meshery Server"
**Current Behavior**
`mesheryctl --version` only returns the client version number, and a stubbed-out version number for meshery server. When meshery server is built, the release tag (as entered into GitHub releases) is not included as an artifact in the meshery server Docker image.

**Desired Behavior**
- expose the properties.yaml content a new REST endpoint: `/api/server/version`

**Related**
-

[2020-05-05 03:53] Nikhil-Ladha commented on #929
@leecalcote , Won't the title be "Upgrade Jekyll site to Ruby 2.7.0" ?

[2020-05-05 08:13] manishdangi98 commented on #879
@leecalcote sure

[2020-05-05 09:12] leecalcote commented on #929
@Nikhil-Ladha yes, you're right. I'm updating the title now...

[2020-05-05 09:13] leecalcote commented on #879
Thank you, @manishdangi98. 👍

[2020-05-05 10:22] leecalcote opened #966 "[Docs] Advanced Installation section"
**Current State:**
Users that desire to control the version of Meshery that they deploy don't have a guide for how to so so.

**Desired State:**
The docs should have an Advanced Installation section, containing an expansion of the following:

_Users can control the specific container image (version) of Meshery that they would like to run by editing their local `~/.meshery/meshery.yaml` file.
In th

[2020-05-05 10:56] leecalcote commented on #962
@rav121 would you like to take this one on? You can use `Meshery-tmp` repo to try out changes to GitHub action workflow, if so.

[2020-05-06 03:47] kushthedude opened #967 "[UI] Addition of anchor tag for `grafana/prometheus` in metrics"
**Description**

Currently when you navigate to `/settings#metrics`, there is no anchor tag for `grafana/prometheus`

**Expected Behavior**

Addition of anchor tag for `grafana/prometheus` in metrics

[2020-05-06 05:00] kushthedude opened #968 "Addition of releaseDrafter Action"
Addition of [releaseDrafter](https://github.com/release-drafter/release-drafter)

[2020-05-06 05:01] kushthedude opened #969 "Creation/Discussion on auto-labelling of PRs"
Since releaseDrafter requires PR to be labelled accordingly so that they may be clubbed into a category, this issue serves as the starting of which labels and what categories should we have.

[2020-05-06 07:15] kushthedude opened #970 "[UI] Results: Props not retained after sorting/searching"
**Description**

Results: Props not retained after sorting/searching
**Expected Behavior**

Table Props should be retained irrespective of any action performed on table.

[2020-05-06 09:43] spring-bu opened #971 "[CI] CI configuration file indentation issue."
**Description**

Indentation issue in the vet_check chapter of CI configuration.

**Expected Behavior**

All configuration chapters remain uniformly indented.

**Screenshots**

![image](https://user-images.githubusercontent.com/37682426/81163148-e2d00d80-8fc0-11ea-9a5f-b995e865c042.png)

**Environment:**
 - OS: [e.g. Ubuntu]
 - Browser: [e.g. Chrome, Safari]
 - Version: [e.g. 22]
 - Device: [e.g.

[2020-05-06 13:48] kushthedude opened #973 "[UI]: Conversion of cards into paper"
**Description**

Currently, cards are of an irregular size which makes UI look ugly.
**Expected Behavior**

Convert cards into paper
**Screenshots**

<img width="892" alt="Screenshot 2020-05-06 at 7 07 25 PM" src="https://user-images.githubusercontent.com/44091822/81184759-6a704900-8fce-11ea-85c8-c12a4a30dd79.png">

[2020-05-06 13:49] kushthedude commented on #973
cc: @leecalcote @nveenjain
Opinions?

[2020-05-06 14:11] Nikhil-Ladha commented on #973
How will paper be different than a card. Means, if the issues is with size we can fix the size for all of them. Other than that, is there any difference?

[2020-05-06 14:33] kushthedude commented on #973
I was thinking of stacking them horizontally, also the paper is quite more responsiveness as in cards there are issues of overflow. But we can wrap the cards with horizontal grids to replicate a similar sort of design.

[2020-05-07 06:08] kushthedude commented on #919
I think we are good to close this, @jeusdi Please reach out if you have any questions/doubt.
Thanks!

[2020-05-07 06:08] #919 closed

[2020-05-07 10:05] kushthedude commented on #510
@leecalcote This should be fixed by releaseDrafter.

[2020-05-07 10:06] kushthedude commented on #379
@leecalcote I can confirm this is fixed!
We can re-open it anytime if anyone ever experiences it again!

[2020-05-07 10:06] #379 closed

[2020-05-07 10:21] kushthedude commented on #212
@NupurThakur27 wasn't this fixed in https://github.com/meshery/meshery/pull/486 ?

[2020-05-07 11:13] NupurThakur27 commented on #212
@kushthedude If you see the description of the Issue, the points which are still unchecked are not completed.  This issue was reopened because an interface needs to be implemented for wkr2 as a load generator.

[2020-05-07 11:26] Nikhil-Ladha commented on #973
But if we stack them all horizontally them in case for some of the adapters it will look conjusted. Because different adapters have different set of functionalities. That's the reason, I was saying so.

[2020-05-07 12:00] leecalcote commented on #212
I’m glad that this issue has been resurfaced. This is an issue that I was going to highlight a prework for the distributed performance testing project. With a third load generator coming into place, we need to create a clean interface to plugin load generators. This interface is part of Meshery’s extensibility story.

[2020-05-07 12:33] kushthedude commented on #212
I agree before incorporating nighthawk, we should make our current load generators neat and clean.

[2020-05-07 12:59] nitishm commented on #921
Ho do you set up the kubeconfig location currently in mesheryctl? Is this a flag or read from the KUBECONFIG env variable? Can't seem to find it (albeit I am on the phone app) @kushthedude

[2020-05-07 13:03] kushthedude commented on #921
Hi @nitishm
- Go to `localhost:9081/settings`
- You will see an option to manually upload your Kube configuration
- Once you do it, you will be successfully able to connect to Kubernetes.

Please let me know if you have more doubts regarding the same.

[2020-05-07 13:05] nitishm commented on #921
So the ask is that it autodiscovery the kubeconfig based ok either the default location if no env provided or loads it from the env car if set. Is that correct?

[2020-05-07 13:50] leecalcote commented on #919
@jeusdi we would love to hear any feedback you might have or just have you in our service mesh community. Please join here and say "hi". 😄 - http://slack.meshery.io

[2020-05-07 13:52] leecalcote commented on #958
@aayushdutt will you confirm this issue remains? Let's prioritize its fix, if so.

[2020-05-07 13:55] aayushdutt commented on #958
Looking into it.

[2020-05-07 14:00] leecalcote commented on #919
Issue #921 is related and essentially describes the same issue of the user's kubeconfig not being auto-discovered. When Meshery is deployed outside of the cluster, unless the user does not have a valid kubeconfig (with certificates directly included in the file), Meshery should auto-ingest the user's `$HOME/.kube/config` and attempt connection to the `current-context`.

A behavior change occurred

[2020-05-07 14:04] leecalcote commented on #379
@kushthedude thank you for cleaning this up. You're right in that I don't think we've seen this issue since @kanishkarj's shifting of the project to JWT.

[2020-05-07 15:57] aayushdutt commented on #958
@leecalcote I am unable to reproduce the above issue. Maybe it is fixed?
I have tested on no mesh results and it worked perfectly.

[2020-05-07 16:36] aayushdutt commented on #958
@kushthedude Could you please confirm if the issue persists?

[2020-05-07 17:03] leecalcote commented on #958
@aayushdutt the portion of the issue that I'm able to consistently reproduce is a failure to be able to compare test results (check two or more test result boxes and then click the two-way arrow icon at the top right corner of the results table).

[2020-05-07 17:28] aayushdutt commented on #958
@leecalcote  Hmm... This is strange
I did the same and it is working for me. This is what I see:
![image](https://user-images.githubusercontent.com/25280541/81325456-032dc400-90b6-11ea-8a16-0fcf42d68a50.png)
with no errors in the console.

I tested it again with two new tests.
* I created two tests (both with no mesh selected)
* Selected both of them and compared.
* I made sure that the code has t

[2020-05-07 19:53] #745 closed

[2020-05-08 02:52] kushthedude commented on #958
Did you run make setup-ui-libs and make build-ui after pulling the latest
changes from upstream?

On Thu, 7 May, 2020, 22:58 Aayush Dutt, <notifications@github.com> wrote:

[2020-05-08 03:29] #971 closed

[2020-05-08 03:33] leecalcote commented on #958
No, I'm running the prebuilt release as a user.

[2020-05-08 03:39] kushthedude commented on #958
I was asking @aayushdutt ,as I am also facing this issue.

On Fri, 8 May, 2020, 09:03 Lee Calcote, <notifications@github.com> wrote:

[2020-05-08 04:03] aayushdutt commented on #958
I was testing on `make run-ui-dev`, however after doing make `build-ui` and testing on port 9081, I still wasn't able to reproduce the error. Here was what I saw:
![Meshery (1)](https://user-images.githubusercontent.com/25280541/81368964-c641eb80-910e-11ea-9426-a244ea0ad70c.gif)

But after a few tries, I successfully reproduced the error, it is like this:
![Meshery](https://user-images.githubuserc

[2020-05-08 04:08] kushthedude commented on #958
You have to use 3000 port with make run-ui-dev.
Using 9081 will supress most of the warning/error and also console will not
show anything.

On Fri, 8 May, 2020, 09:34 Aayush Dutt, <notifications@github.com> wrote:

[2020-05-08 04:10] aayushdutt commented on #958
@kushthedude Exactly, that's why I was testing on `make run-ui-dev` and on port 3000 earlier.

[2020-05-08 05:36] kushthedude opened #977 "Results: Comparision of two results is not working"
**Description**

https://github.com/layer5io/meshery/issues/958#issuecomment-623664832

**Expected Behavior**

Comparision should work fine.

---
[Optional] **To Reproduce**
Steps to reproduce the behavior:
- Still ambiguous

[2020-05-08 05:36] kushthedude commented on #958
Let's open a new issue and move the discussion over there!

[2020-05-08 05:36] #958 closed

[2020-05-08 05:45] kushthedude commented on #977
@leecalcote Got the issue fix is on the way!

[2020-05-08 06:09] kushthedude commented on #899
Thanks to @nveenjain I was able to fix the issue on my local!

[2020-05-08 06:09] #899 closed

[2020-05-08 08:39] kushthedude opened #979 "Addition of Title for different routes of Meshery"
**Current Behavior**

Currently, Title of every page is `Meshery`
**Desired Behavior**

Addition of Title for different routes of Meshery.

[2020-05-08 13:03] nitishm opened #981 "[CI] Skip make targets if already invoked once"
**Current Behavior**
All makefile targets are run every time a top level `make` target is invoked. This can slow down the build process significantly and lead to issues in non-idempotent make target actions.

**Desired Behavior**

To skip prerun targets, that do not need to be run again, each target step should drop a turd (dummy artifact) or a real artifact. If the artifact exists, we can safely

[2020-05-08 13:05] kushthedude opened #982 "Setup Editor Configuration for js file"
**Current Behavior**

We don't have editorconfig file which may result in a different view of files in different editors.

**Desired Behavior**

Add a `.editorconfig` file in client-side code for consistency in IDEs.

---
**Resources**

[Editor-Config](https://editorconfig.org)
[File to be added](https://github.com/fossasia/open-event-frontend/blob/development/.editorconfig)

**Alternatives / Addi

[2020-05-08 13:07] kushthedude commented on #981
Hi @nitishm, I don't get the issue. If you are saying to skip make command if dependency is already set-up then it is obsolete, as both npm & go-modules checks the manifest of the dependencies before actually fetching them.

[2020-05-08 13:12] nitishm commented on #981
According to @kanishkarj there are a lot of targets that are rerun everytime you call a target with other dependencies. Since I am not to privy with the structure yet, I assumed that some dependencies being rebuilt can slow down the process.

[2020-05-08 13:18] nitishm commented on #981
Also see - 10.4 Chains of Implicit Rules in https://www.gnu.org/software/make/manual/make.html#Chained-Rules

[2020-05-08 13:28] kanishkarj commented on #981
@leecalcote Suggestions here?

[2020-05-08 13:42] kushthedude commented on #981
I still don't get it, only recurring make command is `go mod tidy` which is efficient not fetch deps everytime it's run and same for npm engine ?

[2020-05-08 13:48] leecalcote commented on #977
Sweet. 😄

[2020-05-08 13:50] leecalcote commented on #958
All, just a follow up here - the final bug here is now fixed in #978. Thank you, @kushthedude @aayushdutt

[2020-05-08 13:50] #977 closed

[2020-05-08 14:18] leecalcote commented on #981
Thanks for this, @nitishm! Whether its a reduction of duplicative command executions or a considerate organization of current command groups and their names, our Makefiles need some love.

[2020-05-09 11:35] nitishvu opened #984 "Grafana setup in docs,mesheryctl,UI"
**Current Behavior**

I don't find any  instructions related to Grafana setup

**Desired Behavior**

step1: Adding Grafana setup instructions  in Guides
https://meshery.layer5.io/docs/guides
step2: Mention this guide in the metrics configuration/Grafana setting  page
step3: option in mesheryctl (grafana start) that automatically configures grafan with meshery

---
**Resources**

manual steps:

1)`

[2020-05-09 14:07] kushthedude opened #985 "Remove console warnings & next.js deprecations to move ahead with next versions"
**Current Behavior**

We have a lot of console warnings & deprecated style of code which is preventing us from upgrading next.js to the new version.

**Desired Behavior**

Remove console warnings & next.js deprecations to move ahead with next versions

---

[2020-05-09 16:57] nitishm commented on #921
@leecalcote @kushthedude Do we want to mount the kubeconfig as a volume to the meshery docker container if found on the users system?

[2020-05-09 18:28] kushthedude opened #987 "Tests: Add Cypress Tests for UI Visual Regression Testing"
**Current Behavior**

We don't have any tests for UI nor Server.

**Desired Behavior**

Initiate testing for UI

---
**Resources**

https://www.cypress.io/

**Alternatives / Additional Context**

- Alternatives are mocha.js or selenium but I dont need to tell how slow and powerless they are.
- If anyone has another alternative, please feel free to comment else there is no next.js test suite as wit

[2020-05-10 08:13] Aisuko commented on #902
Fixed by #972

[2020-05-10 08:13] #902 closed

[2020-05-10 09:32] kushthedude opened #989 "[CI] Tests are failing due to deprecated Go-Istio-Client Package"
https://github.com/layer5io/meshery/pull/988

Tests are failing as https://github.com/aspenmesh/istio-client-go is deprecated in view of official istio library https://github.com/istio/client-go/tree/master/pkg/clientset/versioned .

[2020-05-10 19:20] nitishm commented on #878
Maybe take the istioctl approach with an "experimental" set of commands ? Just a suggestion. May be out of context.

[2020-05-11 14:14] #968 closed

[2020-05-11 18:18] #979 closed

[2020-05-11 18:36] leecalcote commented on #987
We're good to go in terms of tossing this into `meshery-tmp` immediately. We'll want to identify how to exclude cypress libraries from the release artifacts.

[2020-05-11 18:40] leecalcote commented on #984
@nitishvu this is a good call out. This example shows how to bring in a separate Grafana instance and connect to it. A PR to the docs on this would be great.

In addition, a PR to include a description of the fact that the Meshery adapter for Istio includes an instance of Grafana and so too does the Meshery adapter for Linkerd.

@vijcheru we've yet to expose the MeshSync discovery that you've done

[2020-05-11 20:02] leecalcote commented on #449
@NupurThakur27 have a look at `gh` and how it provides provides this functionality.

[code]

https://github.com/cli/cli/blob/master/update/update.go

[2020-05-12 10:24] leecalcote commented on #962
@naturalett after you join the meshery GitHub org, you can self-assign...

[2020-05-12 10:37] leecalcote opened #991 "[Docs] Search is broken in documentation site"
**Current State:**
When a search is performed in the documentation site, an extra `/docs` is added to the url, breaking the search functionality for the docs site.

<img width="1150" alt="Screen Shot 2020-05-12 at 5 37 08 AM" src="https://user-images.githubusercontent.com/7570704/81674380-aeba7980-9412-11ea-8d93-1431c5bb5025.png">

[2020-05-12 12:02] nitishvu commented on #991
below entries present in _config.yml
removed site.baseurl in below line main.js

var searchPage = "{{ site.url }}{{ site.baseurl }}/search/?q=" + query;

baseurl: "/docs"
url: "https://meshery.layer5.io/docs"

[2020-05-12 12:42] #991 closed

[2020-05-12 15:34] kanishkarj commented on #981
Do we want this instead ?
https://stackoverflow.com/questions/31492675/node-build-from-makefile-only-if-source-changed

In this way what we'd have is if ran `make run-local`, we'll actually build only if the source files have been changed, if not we used the built version. It would be really helpful in the case of building ui too.

[2020-05-13 00:53] leecalcote opened #993 "[Docs] Add v0.3.15 to Releases page in docs"
**Current State:**
The [releases page](https://meshery.layer5.io/docs/project/releases) is missing a description of the v0.3.15 release.

**Desired State:**
Details of the this release should be posted. Details can be found [here](https://github.com/layer5io/meshery/releases).

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation so

[2020-05-13 00:54] leecalcote opened #994 "[Docs] Add v0.3.16 to Releases page in docs"
**Current State:**
The [releases page](https://meshery.layer5.io/docs/project/releases) is missing a description of the v0.3.16 release.

**Desired State:**
Details of the this release should be posted. Details can be found [here](https://github.com/layer5io/meshery/releases).

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation so

[2020-05-13 03:12] leecalcote opened #995 "[Docs] Add Open Source 101 at Home to Meshery Presentations section"
**Current Behavior**
A talk on Meshery was given at Open Source 101 at Home - "Solving the Service Mesh Adopter’s Dilemma"

**Desired Behavior**

This talk should be added to https://meshery.layer5.io/docs/overview#meshery-presentations

- Deck - https://calcotestudios.com/talks/decks/slides-open-source-101-at-home-solving-the-service-mesh-adopters-dilemma.html
- Event - https://opensource101.com/

[2020-05-13 14:43] Vineet-Sharma29 commented on #994
Can I take this up?

[2020-05-13 15:06] leecalcote commented on #994
Yes, please, @Vineet-Sharma29. 👍

[2020-05-13 15:21] leecalcote commented on #993
@Vineet-Sharma29 you're most welcome to self-assign this issue, if you like.

[2020-05-13 20:35] #948 closed

[2020-05-14 04:32] sb1975 opened #998 "Kiali Dashboard does not show Jaeger"
How to configure the Kiali dashboard so it shows Jaeger as well.
Presently Kiali shows this error -
Could not fetch Jaeger info. Turning off Jaeger integration.
Jaeger URL is not set in Kiali configuration

[2020-05-14 06:47] Vineet-Sharma29 commented on #994
@leecalcote , v0.3.16 details aren't available at https://github.com/meshery/meshery/releases/

[2020-05-14 06:52] Vineet-Sharma29 commented on #970
Would like to work on it. Can you tell which files to look at?

[2020-05-14 06:59] kushthedude commented on #970
You would want to take look at components/MesheryResults .

On Thu, 14 May, 2020, 12:22 Vineet Sharma, <notifications@github.com> wrote:

[2020-05-14 11:12] Aisuko opened #1002 "mesheryctl support build for multiple platforms"
**Current Behavior**

The `mesheryctl`  Makefile need to upgrade and we should standard to use the `goreleaser` as the build tool.

**Desired Behavior**

The new Makefile for `mesheryctl` can build for multiple platforms soon at local

---
**Resources**

**Alternatives / Additional Context**

[2020-05-14 16:36] leecalcote opened #1004 "[UI] Performance test results with MeshSync information failing to display"
**Description**
Performance test results that include environment information from MeshSync do not display in the /results page.

**Expected Behavior**
The modal window should show the perf test results and environment information gathered by MeshSync (Kubernetes and node information).

**Screenshots**

1. The first results shown here are from a test run when Meshery **is not** connected to Kubern

[2020-05-14 17:52] leecalcote commented on #994
@Vineet-Sharma29 Oh, you're right. I'm a release ahead of myself here. I'll close out this issue...

[2020-05-14 17:52] #994 closed

[2020-05-14 22:22] #993 closed

[2020-05-15 04:38] #1002 closed

[2020-05-15 18:20] nitishm opened #1008 "Reorg mesheryctl commands into a categorical group of commands"
**Current Behavior**
All `mesheryctl` command save `perf` are listed at the top level which makes causes some confusion and makes the using different features unintuitive

**Desired Behavior**
Switch to a more categorically set of command groups to make `mesheryctl` functions and features more intuitive to use.

---
**Resources**
see https://docs.google.com/document/d/1xRlFpElRmybJ3WacgPKXgCSiQ2po

[2020-05-15 18:26] Vineet-Sharma29 commented on #995
Would work on this.

[2020-05-15 19:30] Vineet-Sharma29 commented on #961
Would like work on it. But I don't know about performance tests and interpreting results. How should I about it?

[2020-05-15 19:35] Vineet-Sharma29 commented on #946
@leecalcote there is merged PR against this issue. Is there something missing in it since it's open?

[2020-05-15 19:37] nitishm opened #1013 "Remove redundant flag in mesheryctl (--help vs --toggle)"
**Description**
The `mesheryctl -h` and `mesheryctl -t` are redundant CLI help message toggles that serve the same purpose to display the help message

**Expected Behavior**
Remove redundant `mesheryctrl -t [--toggle]` flag.

**Screenshots**
N/A

**Environment:**
 - OS: MaxOSX / Darwin
 - Browser: [e.g. Chrome, Safari]
 - Version: dev
 - Device: Laptop

---
[Optional] **To Reproduce**
Steps to rep

[2020-05-15 19:38] leecalcote commented on #946
@Vineet-Sharma29 good question. No, the Oerson who filed the Pr forgot to include “fixes #” as a keyword to make sure that this issue was automatically closed. We can close this issue now.

[2020-05-15 19:38] #946 closed

[2020-05-15 19:54] Vineet-Sharma29 commented on #928
@leecalcote  Shall I close this issue since it has a merge PR?

[2020-05-15 21:27] leecalcote commented on #928
@Vineet-Sharma29 normally, yes, but in this case PR #927 didn't fix this issue. The issue still persists.

[2020-05-15 22:32] #1013 closed

[2020-05-15 23:02] #879 closed

[2020-05-15 23:06] #995 closed

[2020-05-16 05:11] manishdangi98 commented on #1004
/assign

[2020-05-16 05:14] nitishvu opened #1016 "[UI] validate "service mesh configuration" in infinite loop"
**Description**

In Meshery UI on selecting "istio" from the management section,  if user tries to validate "service mesh configuration" without installing any service mesh(istio),meshery-istio checking validating same resources in infinite loop.

<pre>not find the requested resource (get virtualservices.networking.istio.io)
<font color="#4E9A06">meshery-istio_1     |</font> E0516 04:57:18.021369

[2020-05-16 05:33] #945 closed

[2020-05-18 01:58] tsingh2k15 commented on #982
@kushthedude I can take this up

[2020-05-18 03:13] kushthedude commented on #982
Yes Please!

On Mon, 18 May, 2020, 07:28 Tajinder Singh, <notifications@github.com>
wrote:

[2020-05-18 07:46] rubenlorenzo commented on #929
@Nikhil-Ladha @leecalcote, Why is it commented Gemfile? If, it is this for the upgrade ruby and other things.

[2020-05-18 13:23] leecalcote opened #1019 "[Docs] Errant html tags in "releases" page"
**Current State:**
<img width="1737" alt="Screen Shot 2020-05-18 at 8 22 10 AM" src="https://user-images.githubusercontent.com/7570704/82217967-cc8b5100-98e0-11ea-8f76-918f47d3a1ba.png">

**Desired State:**
HTML tags should not be visible.

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/mesh

[2020-05-18 13:37] nitishvu commented on #1019
Also, we can include  clickable version.
example:
`
<a href="https://github.com/layer5io/meshery/releases/tag/v0.3.14" target="_blank">0.3.14</a>`
<a href="https://github.com/layer5io/meshery/releases/tag/v0.3.14" target="_blank">0.3.14</a>

[2020-05-18 13:37] nitishvu commented on #1019
Also, we can include  clickable version.
example:
`
<a href="https://github.com/meshery/meshery/releases/tag/v0.3.14" target="_blank">0.3.14</a>`
<a href="https://github.com/meshery/meshery/releases/tag/v0.3.14" target="_blank">0.3.14</a>

[2020-05-18 13:41] leecalcote commented on #1019
@nitishvu nice, yes. Eventually, having https://meshery.io/releases will be good. @shivaylamba was working toward this, but has paused the effort currently. Could be an item of interest to you; something to discuss on today's CI working group call.

[2020-05-18 14:20] leecalcote commented on #1019
Heads-up: @kushthedude may have something in the works in terms of a new Meshery.io/releases page.

[2020-05-18 17:26] leecalcote commented on #932
@chandresh-pancholi Would you like to update the platforms table in the repo's readme to list AKS support as "In Progress"?

[2020-05-18 17:34] leecalcote opened #1022 "[mesheryctl] Move constants to client configuration file"
**Current Behavior**
`mesheryAuthToken` and `mesheryURL` are defined as constants in the `mesheryctl perf` command. Default values of both include reference to "http://localhost", assuming that the Meshery server will be locally deployed. It will often be the case the Meshery server is not deploye locally, however.

**Desired Behavior**
`mesheryAuthToken` and `mesheryURL` should be user configurab

[2020-05-18 17:40] leecalcote commented on #514
Done! 😄

[2020-05-18 17:40] #514 closed

[2020-05-18 17:41] leecalcote commented on #742
Done. ✔️

[2020-05-18 17:41] #742 closed

[2020-05-18 17:42] leecalcote commented on #461
Completed. ✔️

[2020-05-18 17:42] #461 closed

[2020-05-18 18:01] leecalcote commented on #934
Completed. ✔️

[2020-05-18 18:01] #934 closed

[2020-05-18 18:02] leecalcote commented on #987
Completed. ✔️

[2020-05-18 18:02] #987 closed

[2020-05-18 18:06] nitishm opened #1023 "mesheryctl: Move global params to config file to make them configurable/reusable"
**Current Behavior**
Hardcoded global variables in mesheryctl are not configurable by the user.

**Desired Behavior**
Move globals to a config file in ~/.meshery folder as mesheryctl.yaml (not to be confused with meshery.yaml which is used to specify the user data and config.

---
**Resources**

See https://github.com/layer5io/meshery/pull/1021#discussion_r426754013

[2020-05-18 18:26] nitishm commented on #1023
Duplicates #1022

[2020-05-18 18:26] #1023 closed

[2020-05-18 23:04] nitishm commented on #998
What version of Istio are you running? Is Jaeger external to istio-system? I have seen some issues with the Kiali config getting Jaeger, Prometheus and grafana urls misconfigured.

Could you also share the Kiali logs when you see the error message on the dashboard.

[2020-05-19 00:26] durgesh96751 commented on #133
I would like to work on this enhancement.

[2020-05-19 08:00] Aisuko commented on #526
👌 I will try to take this.

[2020-05-19 08:09] dependabot-preview[bot] opened #1024 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/go.mod`.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/layer5io/update-logs/33704686).

[2020-05-19 12:35] leecalcote commented on #1024
@kushthedude you're diagnosis of taskq as the build culprit is accurate.

[2020-05-19 12:42] kushthedude commented on #1024
Its just the dependency inter relation issue, caused by redis-go.

On Tue, 19 May, 2020, 18:05 Lee Calcote, <notifications@github.com> wrote:

[2020-05-19 13:38] anandrkskd opened #1026 "mesheryctl makefile is not able to detect fedora/Linux of binary"
**Description**
Currently makefile for mesheryctl is not able to detect Linux as user os and is creating binary for darwin.

**Expected Behaviour**
makefile should auto detect the OS and create binary accordingly.

**Screenshots**
![Screenshot from 2020-05-19 10-26-53](https://user-images.githubusercontent.com/34443651/82332424-00f72e00-9a03-11ea-892c-5be75df03881.png)

**Environment:**
 - OS: Fed

[2020-05-19 14:25] leecalcote commented on #1026
This issue is related to this PR - https://github.com/meshery/meshery/pull/1003. @Aisuko may want to have a look here.

[2020-05-19 14:58] kushthedude commented on #1024
Fixed in https://github.com/meshery/meshery/pull/1025

[2020-05-19 14:58] #1024 closed

[2020-05-19 16:06] #1008 closed

[2020-05-19 16:09] leecalcote commented on #1004
Hi @aayushdutt, do you mind having a look here?

[2020-05-19 16:12] aayushdutt commented on #1004
Looking into it @leecalcote

[2020-05-19 16:21] nitishm commented on #449
@leecalcote want me to start working this?

[2020-05-19 16:25] leecalcote commented on #449
@nitishm that'd be great, yes.

[2020-05-19 17:02] sb1975 commented on #998
The latest version 1.5.4.
Sorry, my setup was removed, have to rebuilt and test.
Also I see some other useful links to troubleshoot probably - https://discuss.istio.io/t/jaeger-url-not-valid-in-kiali-configuration/5307
I will get back if I can get more details on it.

[2020-05-19 18:32] leecalcote opened #1028 "[Docs] Add Open Source 101 talk on Meshery"
**Current State:**
A talk on Meshery was given at Open Source 101 at Home - "Solving the Service Mesh Adopter’s Dilemma"

**Desired Behavior**
This talk may be added to https://meshery.layer5.io/docs/overview#meshery-presentations:

- [Deck](https://calcotestudios.com/talks/decks/slides-open-source-101-at-home-solving-the-service-mesh-adopters-dilemma.html), [Event](https://opensource101.com/sessi

[2020-05-19 20:30] leecalcote commented on #132
@ldemailly we'll be enlisting fortio's capability here. 👍

// @kushthedude @durgesh96751 @prateeksahu @DavidCPorter @swhsiang @mum4k

[2020-05-19 20:31] kushthedude opened #1029 "Change the indent & spacing of UI files to match golang files"
**Current Behavior**

We have a different set of indents and spaces for our server code & UI code which we need to eliminate.

**Desired Behavior**

Change the indent & spacing of UI files to match golang files, more context here https://github.com/layer5io/meshery/pull/1020#discussion_r427122097

---
**Resources**

- Change the rule here https://github.com/layer5io/meshery/blob/1a2bba9232f5ef92f5

[2020-05-19 20:33] kushthedude commented on #1029
Hi @tsingh2k15, This issue may be of interest to you.

[2020-05-19 22:19] tsingh2k15 commented on #1029
thanks @kushthedude , I will take this up.

[2020-05-20 00:18] aayushdutt commented on #1004
Hey @leecalcote
I am not sure if I can reproduce this issue.

I have used this test configuration:
![image](https://user-images.githubusercontent.com/25280541/82390698-0aad7f80-9a5d-11ea-902d-c21a4a4fbfde.png)

This is what I see:
![Results _ Meshery](https://user-images.githubusercontent.com/25280541/82390848-6d9f1680-9a5d-11ea-96a3-5270dde5690d.gif)

I have updated my repository to the latest ch

[2020-05-20 03:46] leecalcote commented on #654
Good to go here. We finally converted to a collection.

[2020-05-20 03:46] #654 closed

[2020-05-20 03:47] leecalcote commented on #619
@Vineet-Sharma29, we ended up adding documentation to the NSM adapter page, but still need to list the talk, slide, and video above in the Overview page of the docs. You might toss this one in while you're in there making changes.

[2020-05-20 03:48] leecalcote commented on #928
Fixed by #1030

[2020-05-20 03:48] leecalcote commented on #929
Fixed by #1030

[2020-05-20 03:49] leecalcote commented on #929
@rubenlorenzo good question... I can't say that I'm sure why Ruby version was commented out. It must have been defaulting to whatever GitHub Pages currently supports / defaults to.

[2020-05-20 03:52] leecalcote commented on #961
@Vineet-Sharma29 Good question. The current report format needs improvement beyond documentation. Before we have a session to review this for documentation, I wonder if after @rubenlorenzo looks at the code in this section that we might be able to bring forth some enhancements while documenting how to interpret these. @rubenlorenzo, what do you think? These [performance results charts](https://raw

[2020-05-20 12:06] #855 closed

[2020-05-20 12:28] leecalcote opened #1033 "[Install] Meshery installer bash script needs updated for compatibility with `system` command"
**Current Behavior**
The meshery bash script executes `mesheryctl start` at the [end of the script](https://github.com/layer5io/meshery/blob/master/meshery#L99).

**Desired Behavior**
 Based on changes in PR https://github.com/layer5io/meshery/pull/1021, the meshery bash script should execute `mesheryctl system start` at the end of the script.

[2020-05-20 12:29] leecalcote commented on #1004
@aayushdutt good questions. Repro steps here include the running of Prometheus. I'll demo this on today's Dev call.

[2020-05-20 13:34] #1028 closed

[2020-05-20 14:25] nitishm commented on #998
I had a similar issue albeit it was for external prometheus/grafana/jaeger
https://github.com/kiali/kiali/issues/2538

[2020-05-20 14:45] anandrkskd opened #1034 "[Install] Need windows friendly docker-compose.yml and mesheryctl function"
**Description**
Mesheryctl currently use a common docker-compose file for unix/linux , windows machine.

**Expected Behavior**
Need windows specific docker-compose.yaml
Use mehseryctl to detect windows and download  windows specific docker-compose to deploy on docker.

[2020-05-20 16:31] Vineet-Sharma29 commented on #619
Would work on this

[2020-05-20 18:28] leecalcote commented on #1034
@sixeyed pointed out that he uses overrides - one for Linux and one for Windows as seen for the volume here - https://github.com/sixeyed/diamol/tree/master/ch11/exercises/infrastructure

[2020-05-20 19:08] Vineet-Sharma29 opened #1036 "[Docs]Add Open Source 101 at Home in docs"
**Current State:**

**Desired State:**

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)
- [Instructions for contributing to documentation](https://github.com/layer5io/meshery/blob/master/CONTRIBUTING.md#documentation-contribution-flow)

[2020-05-20 21:12] kushthedude commented on #607
Hi @coip , You can use our local provider if you are not willing to authenticate using your social accounts. Local Provider gives all the features in parallel with the Meshery-Social-Auth Provider except the use of JWT as it is required to maintain our social auth.
Please let us know if you have any more questions/doubts!

[2020-05-20 21:13] kushthedude commented on #615
@leecalcote Are we good to close this issue ?

[2020-05-20 21:14] coip commented on #607
hi @kushthedude !

Thanks for getting back to me regarding this.

If/when I revisit, requalify using meshery, do you have any supplementary info on how to use this local provider feature?

Docs, PRs, Issues, Impl, etc. would be appreciable :)

Cheers!
e

[2020-05-20 21:18] nitishm commented on #1022
@leecalcote
These are all the constants defined in `mesheryctl` at the moment. Plan is to move them into the mesheryctl.yaml config file

Let me know how you wish to structure this or do we keep it the way I pasted below:
[code]

[2020-05-20 21:26] kushthedude commented on #607
Hi @coip , we are working on improving our documentation. For what it is worth, I am listing some core differences b/t Cloud & Local Provider.

**Meshery Cloud**
<li>Persistent sessions</li>
  <li>Save environment setup and adaper configuration</li>
                     <li>Retrieve performance test results</li>
                     <li>Free use</li>
<br>

**Local Provider**
<li>Ephemeral sessions

[2020-05-20 21:32] kushthedude opened #1037 "[CI] Addition of tests for Meshery UI (Umbrella issue)"
**Description**

We have already integrated the Cypress testing framework. Let's start adding more & more tests for our UI.

### Tests to be written
#### Integration Tests(Routes):

- [x] ~`provider` (#1778)~
- [ ] `/management`
- [ ] `/performance`
- [x] ~`/userpreference` (#1853)~
- [ ] `/smi_results`
- [ ] `/results`
- [ ] `/settings` (Environment (#2316), Service Meshes (#2317), Metrics, Perfo

[2020-05-20 21:35] coip commented on #607
Thanks for the context & provenance!

[2020-05-20 22:06] #607 closed

[2020-05-20 22:13] coip commented on #607
https://github.com/meshery/meshery/issues/743

[2020-05-20 22:25] coip commented on #607
https://github.com/meshery/meshery/commit/dfe3203172d4fdac38ec452fdcaca9c217c102c7

[2020-05-21 03:39] #1036 closed

[2020-05-21 05:06] Aisuko commented on #1026
Thanks for report the issue. Actually, I'd like to let the developer make a decision on which platform as a target to build. But, It's ok to add auto-detection. I will deal with this.

[2020-05-21 08:19] rubenlorenzo commented on #961
I don't know about it either. How should I help?

[2020-05-21 08:22] Aisuko commented on #1026
@leecalcote I modified the multiple builds scripts and I saw the build scripts add by PR #1021 (So crazy with lots of files changed huh ). And I saw it work well for most situations.

https://github.com/meshery/meshery/blob/b5f37c653c9d791fe1f7e30aee1cb2dc474ff48b/mesheryctl/Makefile#L1-L4

So, the issue above may not happen again. And the  `auto-detect the OS` is a new feature request(I didn't fi

[2020-05-21 17:01] leecalcote commented on #180
@chandresh-pancholi We're in need of getting this up promptly. Do you think you can have a draft PR'ed tomorrow? If not that's ok, we just need to plan accordingly.

[2020-05-21 17:05] leecalcote commented on #932
Fixed by #932

[2020-05-21 17:05] #932 closed

[2020-05-21 19:32] aayushdutt commented on #1004
@leecalcote
I am afraid I am still unable to reproduce the bug.

This is what I see when Kubernetes is not configured and Grafana is connected:
![image](https://user-images.githubusercontent.com/25280541/82598074-ae1aa380-9bc7-11ea-9cfc-3a88023d9b68.png)

When Kubernetes and Grafana both are connected:
![image](https://user-images.githubusercontent.com/25280541/82598117-bf63b000-9bc7-11ea-81da-cce

[2020-05-21 19:46] leecalcote commented on #1004
@aayushdutt nice work. What behavior do experience when connecting Prometheus and not Grafana?

[2020-05-21 19:47] aayushdutt commented on #1004
@leecalcote  Oops my bad. I meant Prometheus and not grafana in both the above cases. Didn't test with Grafana yet.

[2020-05-22 21:45] kushthedude commented on #1019
Fixed with new release page.

[2020-05-22 21:45] #1019 closed

[2020-05-22 21:47] kushthedude commented on #963
I will be looking into it!

[2020-05-22 21:48] #969 closed

[2020-05-22 23:02] #962 closed

[2020-05-23 02:59] #526 closed

[2020-05-23 07:39] nitishvu commented on #967
@Veekshith can you please check if you can work on this

[2020-05-24 15:33] nitishm opened #1049 "mesheryctl: Improve error reporting and add robust error handling"
**Current Behavior**
mesheryctl currently does not report errors but instead just prints the usage/help command to the screen. This can make it difficult for the user of mesheryctl to identify what they did wrong or even report new issues as they encounters problems.
NOTE: This applies only to `mesheryctl` cobra command error handling, and not to the meshery server runs.

**Desired Behavior**
Add

[2020-05-24 16:18] kushthedude opened #1050 "[CI] Introduce golang-ci-lint for our CI Testing."
**Current Behavior**

Right now, we are using 4 different actions for similar sort of golang actions. Moreover, adding to it we have 4 different cache jobs for each action which totals to 8 GitHub Actions which not only increases the CI time but also is a waste of resources.

**Desired Behavior**

Replace the current linter & error checker with golang-ci-lint.

---
**Resources**

https://github.co

[2020-05-24 16:27] kushthedude commented on #1050
/cc @nitishm

[2020-05-26 15:32] kushthedude opened #1074 "UI: Clean up provider ui dependencies"
**Description**

There are a lot of dependencies which have been specified in provider-ui but are useless. Perhaps, while writing the provider-ui the contributor would have copied the package.json of meshery-ui to provider-UI.

**Expected Behavior**

Clean up the package.json & reduce bundle size.

[2020-05-26 17:02] tsingh2k15 commented on #1074
@kushthedude I can take this up

[2020-05-26 17:07] tsingh2k15 commented on #1037
@kushthedude I can contribute. I will take a look and share the component which I can cover.

[2020-05-26 17:10] kushthedude commented on #1037
Great! AFAIK provider-ui can work without server, performance page, settings page & results page can render if the server is not working.

[2020-05-26 17:14] kushthedude commented on #1074
Sure, Please go ahead. Let me know if you need any help with this.

[2020-05-26 21:27] leecalcote opened #1075 "[Docs] Update Meshery Build & Release Strategy document with ReleaseDrafter"
**Current State:**
ReleaseDrafter has been incorporated into Meshery builds.

**Desired State:**
The [Meshery Build & Release Strategy document](https://docs.google.com/document/d/11nAxYtz2SUusCYZ0JeNRrOLIxkgmmbUVWz63MBZV2oE/edit) should be updated to reflect this.

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https:

[2020-05-27 15:01] leecalcote commented on #1004
Output from browser console log:

[code]

[2020-05-27 15:06] aayushdutt opened #1076 "[Docs, mesheryctl]: Add troubleshooting for permission issue"
Users can face permission issues with `mesheryctl` when `docker` or `docker-compose` is not configured to work without `sudo`. It will be great if we add a troubleshooting section for addressing this issue.

[2020-05-27 20:49] kushthedude opened #1077 "[Docs] Add about `--skip-update` flag in mesheryctl documentation"
**Current State:**
Right now we have a flag `--skip-update for `start` sub-command.

**Desired State:**
Mention about the following flag in our documentation.

---
**Contributor Resources**
- [Page to be updated](https://meshery.layer5.io/docs/guides/mesheryctl#meshery-lifecycle-management)
- [Documentation source](https://meshery.layer5.io/docs/guides/mesheryctl#meshery-lifecycle-management)
- [I

[2020-05-27 21:36] leecalcote commented on #1077
@Vineet-Sharma29 @thakursaurabh1998 @tsingh2k15 might be interested in knocking this one down.

[2020-05-27 21:37] leecalcote commented on #1034
@nunix if you free up, this might be one you want to wrangle.

[2020-05-28 05:43] Vineet-Sharma29 commented on #1077
Would work on this

[2020-05-28 05:44] leecalcote commented on #1077
Thank you, @Vineet-Sharma29 !

[2020-05-28 06:14] Vineet-Sharma29 commented on #1077
@kushthedude Can you tell what does this option do?

[2020-05-28 10:32] kushthedude commented on #1077
By default when you do `mesheryctl system start` the command check for updated docker image of meshery & its adapters. With `--skip-update` we can skip the update check and move ahead with mesheryctl.

[2020-05-28 13:48] #1022 closed

[2020-05-28 15:29] leecalcote opened #1081 "[Docs] Incorporate `mesheryctl-config` into docs."
**Current State:**
`mesheryctl` doesn't have the concept of "context"s.

**Desired State:**
Describe functionality provided in #1047

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)
- [Instructions for contributing to documentation](https://github.com/layer5io/mesher

[2020-05-28 20:34] kushthedude commented on #1016
@leecalcote Can we transfer this issue [here](https://github.com/layer5io/meshery-istio/issues) ?

[2020-05-28 21:31] nunix commented on #1034
@leecalcote yes I will tackle this one, the issue will be the Watchtower and also, with Mesheryctl it should be "context aware", because on Windows, if the backend is WSL2 or Windows, the compose file will also be different (cool right 😅 )

[2020-05-29 03:04] kanishkarj commented on #146
@leecalcote, I would like to work on this if no one has picked it up yet. Few things here:

* What should be the structure of the command? `mesheryctl system config gke/eks/minikube` would that work?
* Could we just add the script to the Mesheryctl folder and then simple call the script with the corresponding arguments?
* When we execute the command we want Mesheryctl to update Meshery with the ge

[2020-05-29 04:48] leecalcote commented on #146
Great questions:

1. Thinking. @nitishm, did we cover this yet in the Meshery CLI design spec?
2. Ideally not, but this could be a first iteration. Ideally, this script is converted to go.
3. Yes, correct.

[2020-05-29 12:44] nitishm commented on #146
No we did not but sounds like a great idea.

[2020-05-29 15:56] nitishm opened #1083 "[mesheryctl]: Move hardcoded mesheryctl config defaults to a generated default mesheryctl.yaml file"
**Current Behavior**
`mesheryctl` uses hardcoded defaults if the user does not specify a `--mesheryctl-config` file location.

**Desired Behavior**
It will be a better UX and more intuitive (in terms of config file syntax) if a default `mesheryctl.yaml` file is generated when meshery is initialized (similar to `meshery.yaml`) with the default values, while getting rid of the hardcoded defaults

--

[2020-05-31 22:19] sb1975 opened #1085 "Operations Observability enhancements and Use Cases"
I think the Meshery Dashboard can be enhanced with following features / Use Cases :

**Dashboard Enhancement Use Cases :**

1. In addition to the integration with Prometheus/Grafana, Meshery can be integrated with Kiali dashboard for displaying service graph.
2. Integration with Jaeger for displaying Service Tracing.
3. Integration with Fluentd for displaying Logs on Kibana.
4. Each of these Dashb

[2020-06-01 13:33] Milon210534 commented on #121
Why i could not log in my gp apps. Please help
![Screenshot_2020-06-01-18-58-23](https://user-images.githubusercontent.com/66259075/83414080-b3d17e00-a43e-11ea-874b-cfbfaed1c811.png)

[2020-06-01 13:36] Milon210534 commented on #121
Why I could not log in my gp apps??
Please help urgently.
01766692608
![Screenshot_2020-06-01-18-58-23](https://user-images.githubusercontent.com/66259075/83414388-3ce8b500-a43f-11ea-9f2b-9831f45d62c7.png)

[2020-06-01 17:34] #1077 closed

[2020-06-01 20:28] #1033 closed

[2020-06-02 01:58] kushthedude commented on #1029
Not required now!

[2020-06-02 01:58] #1029 closed

[2020-06-02 02:03] kushthedude opened #1093 "Performance: Load Test is broken"
This PR https://github.com/layer5io/meshery/pull/1040 broke the Load-Test.

**Error Logs**
[code]

[2020-06-02 02:12] kushthedude commented on #1093
/cc @kanishkarj

[2020-06-02 02:35] kushthedude commented on #989
Fixed!

[2020-06-02 02:35] #989 closed

[2020-06-02 02:35] kushthedude commented on #982
Fixed in #1020

[2020-06-02 02:35] #982 closed

[2020-06-02 03:31] #1049 closed

[2020-06-02 03:34] #1081 closed

[2020-06-02 03:57] #984 closed

[2020-06-02 04:12] leecalcote opened #1095 "[Docs] KinD navigation link is broken"
**Current State:**
See screenshot:

![Screen Shot 2020-06-01 at 11 12 19 PM](https://user-images.githubusercontent.com/7570704/83479163-69abc500-a45d-11ea-87ff-382477566841.png)

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)
- [Instructions for contributing to docu

[2020-06-02 13:09] #1095 closed

[2020-06-02 13:13] Vineet-Sharma29 commented on #619
@leecalcote Overview page of docs has deck and video of NSM adapter in meshery presentation section. So do I need to add them in some other section of overview page?

[2020-06-02 14:03] #1093 closed

[2020-06-02 23:28] kushthedude opened #1099 "[UI] Implement toggle to show/hide header fields"
**Current Behavior**

Right now, all the header fields are visible on the performance page which is not looking good on UI.

**Desired Behavior**

Implement a toggle to show/hide the header fields.

**Screenshot**
<img width="881" alt="Screenshot 2020-06-03 at 4 56 56 AM" src="https://user-images.githubusercontent.com/44091822/83579419-d8207e00-a556-11ea-9a3e-e78695cbbd03.png">

---

[2020-06-02 23:30] kushthedude commented on #1099
/cc @Nikhil-Ladha Is this of interest to you ?

[2020-06-02 23:30] #910 closed

[2020-06-02 23:50] kushthedude commented on #1099
@raghavaggarwal99 Is this issue of any interest to you?

[2020-06-03 00:31] kushthedude opened #1101 "[CI] Cache actions are not working for GoLang Jobs"
**Description**

We have introduced cache actions but none of the cache action is working for golang jobs, & ultimately all dependencies are fetched again.

**Expected Behavior**

Correct the cache actions.

**Screenshots**

<img width="981" alt="Screenshot 2020-06-03 at 6 01 02 AM" src="https://user-images.githubusercontent.com/44091822/83582620-a2cc5e00-a55f-11ea-957b-a96cd0866466.png">

[2020-06-03 05:08] leecalcote commented on #180
@scotty-c we are getting closer here...

[2020-06-03 15:11] Aisuko commented on #1101
I will take a look.

[2020-06-03 15:14] Aisuko opened #1102 "[Docs] Meshery Chart deployment document add the chart repo to end user local."
**Current State:**
The document just includes how to deploy the chart

**Desired State:**

Should include the command `helm repo add` into the document

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)
- [Instructions for contributing to documentation](https://github.

[2020-06-04 04:52] #746 closed

[2020-06-04 05:18] #800 closed

[2020-06-04 05:19] #1102 closed

[2020-06-09 16:43] AdheipSingh opened #1125 "Use apps/v1 instead of extensions/v1beta1 for deployments"
**Description**

**Expected Behavior**

 - In the install folder, deployment yaml i see most of the deployments set to ```extensions/v1beta1```.
- As per 1.16 k8s extensions is not present. Plus the helm charts are using ```apps/v1```.

[2020-06-09 18:29] leecalcote commented on #1125
Thank you, @AdheipSingh! Is this item an item that you might consider tackling?

[2020-06-09 18:37] AdheipSingh commented on #1125
@leecalcote sure, ill raise a PR

[2020-06-11 05:00] kushthedude commented on #69
@leecalcote Do we have to test each adapter build in this ?

[2020-06-11 05:43] leecalcote commented on #69
The early thought here was to validate adapter functionality with integration testing. The work that @ksatchit, @uditgaurav, and @naturalett are looking into may be valuable here.

[2020-06-12 01:36] leecalcote commented on #929
Thanks, @rubenlorenzo !

[2020-06-12 01:36] #929 closed

[2020-06-13 17:32] tsingh2k15 commented on #1074
Thanks, I have assigned this to myself. Will start working on it actively.

[2020-06-13 17:38] kushthedude commented on #1074
Hey @tsingh2k15 , meanwhile you were busy with some other stuff. I got my hands dirty and cleaned some of the stuff but still, there are more unused deps in provider-UI.

[2020-06-14 04:19] AdheipSingh opened #1129 "[Helm Chart]: Gateway yaml selector should be configurable by user"
**Description**

- https://github.com/layer5io/meshery/blob/master/install/kubernetes/helm/meshery/templates/gateway.yaml#L8
- Selector is hard coded to default labels.

**Expected Behavior**

- A user can have multiple ingress gateways each having different labels.
- As a user i should be able to specify which selector to use to point to the gateway of my choice.
- Values.yaml should support this

[2020-06-14 13:42] tsingh2k15 opened #1130 "Denial of Service vulnerability in "ui" module"
**Description**

Versions of http-proxy prior to 1.18.1 are vulnerable to Denial of Service.

-   High            Denial of Service
-   Package         http-proxy
-   Dependency of   http-proxy [dev]
-   Path            http-proxy
-   More info       https://npmjs.com/advisories/1486

**Expected Behavior**

Upgrade to version 1.18.1 or later for remediation

[2020-06-14 13:56] leecalcote commented on #1130
Thank you, @tsingh2k15

[2020-06-14 14:59] kushthedude commented on #1130
I guess why dependabot didn't catch this 😓

[2020-06-14 15:01] #1130 closed

[2020-06-14 17:08] #1074 closed

[2020-06-15 17:17] kushthedude commented on #849
/cc @leecalcote @naturalett
Please let me know if there are any more changes required in CI Workflows.

[2020-06-17 04:16] Aisuko commented on #1129
@AdheipSingh Thanks for mention this issue.  And we may need to confirm the API version of the `apiVersion ` is useful

https://github.com/meshery/meshery/blob/fddf806170a431dc9d182489f0b56d59663d952a/install/kubernetes/helm/meshery/templates/gateway.yaml#L2

[2020-06-17 04:42] AdheipSingh commented on #1129
@Aisuko i think this is the latest supported ```apiVersion``` though will take a look into it,

[2020-06-17 11:03] #1125 closed

[2020-06-17 20:21] leecalcote opened #1145 "[UI] New performance request headers are taking mouse focus"
**Description**
When the Meshery UI `/performance` page loads, the "Request Body" field automatically receives the mouse's focus.

**Expected Behavior**
No field should receive focus.

**Screenshots**
<img width="782" alt="Screen Shot 2020-06-17 at 3 19 03 PM" src="https://user-images.githubusercontent.com/7570704/84946280-0dc47b80-b0ae-11ea-8c3a-2fcb48f383ce.png">

[2020-06-17 20:24] leecalcote opened #1146 "[UI] Icons not scaling with browser zoom in/out"
**Description**
When a user zooms in or out in their web browser, Meshery UI's icons remain a constant size.

**Expected Behavior**
Icons should scale large and small proportional to the user agent's (web browser's) zoom level.

**Screenshots**
This screenshot shows a web browser session zoomed in. The icons in this screenshot should be much larger.

**Browser**
This issue only affects the Safari

[2020-06-18 15:24] leecalcote opened #1149 "[UI] Performance Tests: A drop-down list for the `Duration` field"
**Current Behavior**
The Duration field is current a text field. While the tooltip provides some reference, it has been noted that users may not be readily aware of the full set of acceptable values for the Duration field are.

See this discussion of the issue: https://www.youtube.com/watch?v=G6wDVdTXwcY&feature=youtu.be&t=2013

**Desired Behavior**
Use of an autocomplete field in combination with

[2020-06-18 16:12] kushthedude opened #1150 "[UI] Enable sub-links for settings sub-tabs"
**Description**

Right now the URL of the subtabs in settings are distinguished by `/settings#name_of_tab` which is cause of many bugs right now.

**Expected Behavior**

Have a anchor sub-URL for each tab like `settings/name_of_tab`.

[2020-06-18 16:16] leecalcote commented on #1150
Oooh, @Nikhil-Ladha... Calling @Nikhil-Ladha... 😄

[2020-06-18 16:44] Nikhil-Ladha commented on #1150
Here I am @leecalcote 👀.

[2020-06-18 16:46] Nikhil-Ladha commented on #1150
Will look into it, over the weekend 😉.

[2020-06-18 18:44] sb1975 commented on #961
I think some simple steps on how to use the performance section of the dashboard and interpret the results would be good to start with. Even simple screenshot with minimal steps would make this section complete. I know its already there but we just missing in the little bit of documentation on this.

[2020-06-18 19:31] dhruv0000 commented on #1099
I would like to work on this.

[2020-06-18 19:34] kushthedude commented on #1150
Please @Nikhil-Ladha !

[2020-06-19 20:34] kushthedude commented on #810
Duplicate of #893

[2020-06-19 20:34] #810 closed

[2020-06-19 20:34] kushthedude commented on #876
Fixed when the Citrix was made working

[2020-06-19 20:34] #876 closed

[2020-06-19 20:39] kushthedude commented on #615
DCO Bot gives the instruction to fix the DCO issue if it fails, I think we are good to close this.

[2020-06-19 20:39] #615 closed

[2020-06-19 20:54] kushthedude commented on #1145
#1151 will fix this, right @dhruv0000 ?

[2020-06-19 21:02] dhruv0000 commented on #1145
No. Its a quick fix. Let me include it in #1151.

[2020-06-19 22:43] ishita-kumar commented on #1146
Is this issue still open? I'd like to work on it! From what I notice, the icons on top are scaling while zooming in and out however the tabs in Grafana and prometheus as well as the Settings icon in Configure Prometheus are dis-functioning.
Screenshot Of the Issue:
https://imgur.com/1F2zfwv

[2020-06-20 00:31] #213 closed

[2020-06-20 00:42] #18 closed

[2020-06-20 00:43] #69 closed

[2020-06-20 00:43] #179 closed

[2020-06-20 00:44] #196 closed

[2020-06-20 00:49] leecalcote commented on #1150
Do we anticipate this issue to be address simultaneously or is its root cause distinct? https://github.com/meshery/meshery/issues/273

[2020-06-20 00:49] leecalcote commented on #1146
@ishita-kumar Yes, please do grab this one. 👍

[2020-06-20 00:52] leecalcote commented on #694
@sachincool an update: we're focusing our attention first on Envoy's Nighthawk in collaboration with @mum4k.

[2020-06-20 00:53] #985 closed

[2020-06-20 00:53] leecalcote commented on #1150
Related to #967

[2020-06-20 00:55] leecalcote commented on #878
Quick update:

- as of v03.15, `cleanup` has been displaced by `reset`
- as of v0.4.0, the command structure will be `mesheryctl system restart`

[2020-06-20 00:56] leecalcote commented on #928
Thanks, @Vineet-Sharma29 !

[2020-06-20 00:56] #928 closed

[2020-06-20 00:57] leecalcote commented on #943
@ishita-kumar as you venture into Meshery UI contributions, will you review this issue and confirm if it has already been addressed? If not, will you consider undertaking it?

[2020-06-20 00:59] leecalcote commented on #869
@vijcheru you may want to knock this one out in the interim to changing the deployment behavior.

[2020-06-20 00:59] leecalcote commented on #772
@shivaylamba are you up to the task here

[2020-06-20 01:00] leecalcote commented on #781
@nitishm @AdheipSingh fyi, this issue has been tagged with [area/meshsync](https://github.com/layer5io/meshery/labels/area%2Fmeshsync)

[2020-06-20 01:01] leecalcote commented on #271
Duplicated by #781

[2020-06-20 01:04] nitishm commented on #781
I can pick this up @leecalcote

[2020-06-20 01:10] leecalcote opened #1153 "Update Kuma logo in README"
**Description**
This logo is missing.

**Related**
https://github.com/layer5io/meshery.io/issues/219

[2020-06-20 01:10] leecalcote commented on #1101
Related to #981

[2020-06-20 01:13] leecalcote commented on #827
Stale issue? Please reopen at your leisure.

[2020-06-20 01:13] #827 closed

[2020-06-20 01:16] leecalcote commented on #690
Given some of our recent changes, is this still an issue?

[2020-06-20 01:18] leecalcote commented on #369
Moved to bitcask. Not sure if this is still an issue.

[2020-06-20 01:18] #369 closed

[2020-06-20 01:18] leecalcote commented on #94
@nveenjain would you like to consider this in context of the SMI Conformance effort?

[2020-06-20 01:21] leecalcote commented on #284
@naturalett we can start by creating one channel (stable) with version control similar to that of what @kanishkarj did in `image-hub` ci.yml.

[2020-06-20 01:22] leecalcote commented on #665
Mostly addressed in https://github.com/meshery/meshery/pull/1084

[2020-06-20 01:24] leecalcote commented on #510
@kushthedude is this something that @naturalett might knock out?

[2020-06-20 01:25] leecalcote commented on #1146
Related to #567

[2020-06-20 01:30] leecalcote opened #1154 "[Docs] Propagate description of MeshMates program."
**Current State:**
MeshMates is our newcomer onboarding program. It is described in brief here - https://layer5.io/community and in full here - https://docs.google.com/document/d/1vquQMD0TTWREahpx_JXuvIbQ4hM2_4jrVFk8xqZ72ok/edit

**Desired State:**
This program should be included in:

- [x]  the Meshery repo README and in
- [x] the Newcomer's Welcome Guide.
- [x] Meshery Docs here - https://mesher

[2020-06-20 04:06] Nikhil-Ladha commented on #1150
Not sure, will have to check.

[2020-06-20 04:59] nveenjain commented on #94
@leecalcote this would be modification in load generator, right?

[2020-06-20 05:00] leecalcote commented on #94
@nveenjain potentially, unless you're able to provide a configuration to the load generator that restricts the generated load to a single request.

[2020-06-20 05:12] leecalcote commented on #94
If this requires changes in the load generator, let's set this aside. I assume that we will like to have the same capability to facilitate some of the conformance tests.