[2019-01-15 02:27] leecalcote opened #1 "Create landing page with description of project."
## What:
The Meshery project and its goals are described on GitHub. This description needs translated and posted on the layer5.io site at https://layer5.io/meshery. This should include a link to the [design document](https://docs.google.com/document/d/1nV8TunLmVC8j5cBELT42YfEXYmhG3ZqFtHxeG3-w9t0/edit?usp=sharing).

## Why:
So, that presentation of the project may be more palatable to the general u

[2019-01-15 04:20] #1 closed

[2019-01-15 05:10] girishranganathan opened #2 "Create appropriate interfaces for different meshes to plugin their implementations"

[2019-01-15 05:11] girishranganathan opened #3 "Come up with a plan of execution for installation of the mesh(es) using meshery"

[2019-01-15 05:54] girishranganathan opened #4 "Accept k8s app namespace as a parameter"
Right now it is hardcoded to the `default` namespace

[2019-01-15 15:51] girishranganathan opened #5 "Transition plan to Grafana from AO"
We need to investigate the possibility to do a few things with Grafana programatically:
- create a dashboard with charts
- list the charts in a dashboard
- for a chart, construct html code to embed the chart in a html page

[2019-01-15 15:58] girishranganathan opened #6 "Move meshery out of the mesh"
This should be possible WITHOUT the need for any change.
This issue is just to verify the possibility of having it outside the mesh but on the same k8s cluster.

[2019-01-15 16:00] girishranganathan opened #7 "Come up with a plan to persist performance metrics data in a DB"
This brings a bigger question as to let Meshery as an app to interact with a hosted DB of choice? (OR) have a SaaS piece which will interact with the DB and make the on-prem piece(s) talk to the SaaS.

Related to: https://github.com/l5io/meshery-saas/issues/6

[2019-01-15 16:01] girishranganathan opened #8 "Get the test results from fortio and present it in the UI with the possibility to persist it"

[2019-01-15 17:16] girishranganathan opened #9 "organize the deployment templates in their own subdirectories allowing for other templates for different meshes"

[2019-01-15 17:55] girishranganathan opened #10 "Change Istio playground to Meshery in the main pages"

[2019-01-15 19:43] girishranganathan commented on #2
Hello @rootsongjc, thx for your interest in this project.
This project was initially meant as a learning tool for the Istio workshops we had presented. Now we are in the process of converting it into a tool/platform for performance analysis.
I noticed you have forked this project which is wonderful but please be aware that we will making quite a few breaking changes to update its course to meet th

[2019-01-15 20:56] girishranganathan opened #11 "switch to social login"
Integrate with https://github.com/l5io/meshery-saas/issues/3

[2019-01-21 21:16] #2 closed

[2019-01-21 21:16] #9 closed

[2019-01-21 21:16] #10 closed

[2019-01-21 21:39] girishranganathan opened #15 "remove upper limit restriction on load test params"

[2019-01-21 21:41] #15 closed

[2019-01-22 15:51] girishranganathan opened #17 "update meshery to work with predefined workload in the form of k8s manifests"

[2019-01-22 15:52] girishranganathan opened #18 "Support accepting docker-compose files as well for workloads"
Dependent on #17
Internally this should looking at converting it to a k8s manifest using something like kompose.

[2019-01-22 16:00] girishranganathan opened #19 "Possibility to graph Fortio results with Grafana"
- This might not be straight forward.

- We might have to resort to other means to present this data on screen.

- If not for Grafana, need to investigate D3.

[2019-01-23 06:22] leecalcote opened #20 "Project screenshot missing"
Main readme has a broken image.

[2019-01-23 14:23] #20 closed

[2019-01-24 00:06] girishranganathan opened #21 "use Istio-vet to validate Istio config before applying it on the mesh"

[2019-01-30 12:23] leecalcote opened #25 "Remove AppOptics"

[2019-01-30 19:39] #8 closed

[2019-01-30 20:05] girishranganathan commented on #19
- charting Fortio results with Grafana is not straight forward.
- for now we are just going to be following Fortio's footsteps in using Chart.js to chart the results

[2019-01-30 20:05] #19 closed

[2019-01-30 20:52] girishranganathan commented on #2
Hello @rootsongjc, we have made some initial progress in cleaning the code a bit. Adding support for a new mesh should be reasonably straight forward now.

The instructions to add support for a new mesh at the moment:
- create a folder for your mesh under the `meshes` directory
- create an implementation for the interface in the `meshes/mesh_client_interface.go`.
- create an instance of your new t

[2019-02-04 04:10] leecalcote opened #29 "New screenshot that removes AppOptics"
Related to #25. A new project screenshot is needed that:

1. Removes AppOptics mention
2. Includes mention of other service meshes than Istio.

[2019-02-04 15:58] girishranganathan opened #30 "update UI to accept a k8s config file and context name from the UI instead of taking it as runtime arguments/env"

[2019-02-04 19:03] girishranganathan opened #32 "move Istio pieces to its separate repo"
Depends on #33

[2019-02-04 19:03] girishranganathan opened #33 "add support for out of process adapter"

[2019-02-04 19:04] girishranganathan opened #34 "add support for local persistence"

[2019-02-04 19:23] girishranganathan opened #35 "Move fortio into meshery"

[2019-02-04 19:32] girishranganathan opened #36 "Export perf test config and results in service-mesh-benchmark-spec format"

[2019-02-06 20:11] #7 closed

[2019-02-06 20:11] #11 closed

[2019-02-06 20:11] #25 closed

[2019-02-06 20:18] girishranganathan opened #38 "update UI to accept mesh name from the UI"

[2019-02-06 20:19] girishranganathan commented on #30
completed as part of https://github.com/meshery/meshery/pull/37

[2019-02-06 20:19] #30 closed

[2019-02-08 18:10] #32 closed

[2019-02-08 18:10] #33 closed

[2019-02-08 21:22] venilnoronha opened #40 "Create an adapter for LinkerD"
**Is your feature request related to a problem? Please describe.**
There's no way to install Linkerd via Meshery.

**Describe the solution you'd like**
Provide an option to install and test out Linkerd.

[2019-02-08 23:36] leecalcote commented on #40
Yes! https://github.com/meshery/meshery-linkerd is now created in preparation for this. /cc @girishranganathan @wmorgan

[2019-02-09 22:54] leecalcote commented on #29
With the new build available, time to grab a new one.

[2019-02-14 08:48] rootsongjc commented on #2
@girishranganathan [SOFAMesh](https://github.com/alipay/sofa-mesh) is forked from istio, it will be merged to upstream in the future, so I want to delay the test for SOFAMesh. I hope you can understand.

[2019-02-19 16:51] girishranganathan opened #43 "Evaluate https://github.com/coreinfrastructure/best-practices-badge/blob/master/doc/criteria.md"

[2019-02-19 19:38] leecalcote commented on #36
Will need to follow the format outlined in
https://github.com/meshery/service-mesh-benchmark-spec

[2019-02-19 21:53] leecalcote commented on #21
<img width="1205" alt="meshery" src="https://user-images.githubusercontent.com/7570704/53050223-74a43700-345e-11e9-9ed9-88ee35556c1c.png">

[2019-02-22 16:54] leecalcote opened #44 "Setup project badges"
Using https://shields.io, let's add a few pertinent project badges to each of the Meshery repos.

Crossplane is a good ([example project](https://github.com/crossplaneio/crossplane/blob/master/README.md
)).

[2019-02-22 20:30] leecalcote commented on #21
Potentially of interest, @venilnoronha?

[2019-02-22 20:46] venilnoronha commented on #21
@leecalcote yes, thanks!

[2019-02-22 21:05] girishranganathan opened #46 "Investigate what metadata we can extract from Kubernetes API like nodes, cpus, memory, etc."

[2019-02-22 21:07] girishranganathan opened #47 "Migrate to new UI based off Next.js, React, Redux, Material UI"
- [x] Research Next.js, Gatsby, etc.
- [x] Pick a framework (Next.js)
- [x] Pick UX (Material UI)
- [x] Pick a theme (Paperbase)
- [x] Integrate Next.js, Paperbase and Redux
- [x] Get new UI to work with existing Meshery server
  - [x] Update server to stop using Go templates and instead serve JSON and static contents
- [x] Update UI with user info from backend
- [x] create UI components for
  - [

[2019-02-23 00:02] girishranganathan commented on #46
@venkatasankarapu, please feel free to take this issue. I was not able to add you to it.

[2019-02-25 03:09] venkatasankarapu commented on #46
Will work on it.

[2019-02-28 21:06] venilnoronha commented on #21
I've created PR meshery/meshery-istio#6 to address this.

[2019-03-01 20:44] leecalcote commented on #44
@venkatasankarapu interested?

[2019-03-03 18:23] yogi4 commented on #5
@girishranganathan Sorry it took me long to address this, and sorry about the confusion.

For embedding charts , Grafana provides react controls
Grafana 6.0 provides React Panels and integrations points

http://docs.grafana.org/guides/whats-new-in-v6-0/#react-panels-query-editors
I'm in the process of creating a quick design for this.

[2019-03-03 19:07] leecalcote commented on #5
@yogi4 nice. Is this an open source capability or “enterprise” version only?

- Lee

Sent from my mobile

________________________________
From: yogi4 <notifications@github.com>
Sent: Sunday, March 3, 2019 12:23 PM
To: meshery/meshery
Cc: Subscribed
Subject: Re: [meshery/meshery] Transition plan to Grafana from AO (#5)

@girishranganathan<https://github.com/girishranganathan> Sorry it took me long

[2019-03-04 02:50] yogi4 commented on #5
@leecalcote This is opensource capability.

[2019-03-04 02:56] girishranganathan commented on #5
@yogi4 good findings.

- The SDK is definitely a good find bcoz it covers several of their REST APIs. Hope it will provide a way to get the URL for a live chart which we can embed.

- Regarding the react stuff, I don't think this is the right thing we are looking for though. This is an excerpt from the link:

  My understanding is that Grafana plugins are a way to extend Grafana itself. I am not s

[2019-03-04 03:12] yogi4 commented on #5
@girishranganathan,  I was under the impression that  we would be running a grafana server to render these dashboards, and using react to render that html.

However the other approaches would be sharing a snapshot of those dashboards or panels or using an image that was rendered ( we miss out on interactive panels).

P.S: There is high chance that I potentially misunderstood the requirements. I wi

[2019-03-05 17:46] nrjpoddar commented on #21
Hi @leecalcote, can we jump on a short meeting to discuss how meshery can use istio-vet & also enhancements you would like to see in istio-vet?

[2019-03-05 18:35] venilnoronha commented on #21
@nrjpoddar I believe `istio-vet` does a runtime analysis of the environment. Can it do a static analysis of Istio yaml configuration?

[2019-03-05 18:50] nrjpoddar commented on #21
Yes, that is correct. Istio currently provides static analysis logic in `istioctl`, `galley` & `pilot` which are scattered all over and we didn't want to copy that logic again in `istio-vet`.

I believe static analysis belongs in `galley` and/or `istioctl`. As `galley` is registered as admission webhook it can reject invalid configuration.

[2019-03-08 17:19] leecalcote commented on #21
Hi @nrjpoddar, yes, it'd be great to collaborate with you here. Your guidance and counsel on the approach to the integration would be ideal. If convenient, we hold a weekly community meeting on Fridays at 2pm Central (currently). Details here - https://meshery.io/meshery/#contributing

If this time doesn't work, yes, let's catch up separately. There's a community slack here - http://slack.meshery.

[2019-03-15 20:57] #5 closed

[2019-03-15 21:09] girishranganathan opened #55 "Add time range filters for grafana in Meshery UI"

[2019-03-15 21:10] girishranganathan opened #56 "update Meshery proto def to have a response placeholder for streaming events/errors, etc."

[2019-03-15 21:10] girishranganathan opened #57 "update Meshery backend to stream received events to the UI and present it"

[2019-03-15 21:17] girishranganathan opened #58 "Bring in a wizardy way to collect k8s, grafana configs to improve UX"

[2019-03-19 23:39] girishranganathan opened #59 "move snackbar to right top"

[2019-03-19 23:39] girishranganathan opened #60 "[Audit Log] update meshery to represent a history of actions that were taken"

[2019-03-20 16:36] #55 closed

[2019-03-20 16:36] #59 closed

[2019-03-20 16:55] girishranganathan opened #62 "Persist quick range selection on the date range selection button to respect sliding window"

[2019-03-20 17:28] girishranganathan opened #63 "Meshery's integration with Grafana works really well for Grafana with no auth. Grafana with auth will need to validated."

[2019-03-20 19:28] girishranganathan opened #64 "create a easy install script which will run docker-compose & get a short url from something like git.io"
- Create a simple install experience for downloading and running Meshery locally. Use Istio as an example - https://istio.io/docs/setup/kubernetes/download/
- Create a beautified git.io short link - https://gist.github.com/dikiaap/01f5e2ba3c738012aef0a8f524a6e207

[2019-03-20 19:34] girishranganathan opened #65 "create docs site for Meshery"

[2019-03-20 19:41] girishranganathan commented on #65
We have decided to host the docs on meshery.meshery.io

[2019-03-20 19:42] girishranganathan commented on #65
MkDocs is a good candidate

[2019-03-20 19:45] girishranganathan commented on #65
Have the src for docs in meshery-saas folder called "docs" and possibly host the contents on GitHub Pages.
Have a redirect to GH pages from Meshery SaaS possibly. . .

[2019-03-20 19:56] leecalcote commented on #65
Documentation for setting up GH Pages with MkDocs - https://www.mkdocs.org/user-guide/deploying-your-docs/

Material theme for MkDocs - https://squidfunk.github.io/mkdocs-material

[2019-03-20 21:04] leecalcote commented on #64
Hi @venkatasankarapu, would you like to take this on? You can use the Istio's use of git.io as an example - https://istio.io/docs/setup/kubernetes/download/

[2019-03-22 18:16] girishranganathan opened #67 "Investigate displaying Fortio data in grafana as well"
- Consider how Grafana can facilitate comparison of multiple test results in same charts.
- possible steps
  - create an endpoint in Meshery which will serve JSON data for the chosen graphs and/or individual fortio result
  - configure Grafana programmatically to treat the new endpoint as a datasource
  - programmatically create a panel with the data for the selected charts
  - embed that panel in

[2019-03-22 18:35] girishranganathan opened #68 "Docker image is missing html files"
**Describe the bug**
when Meshery docker image is run, it is showing a html page with files listed instead of the actual page.

**To Reproduce**
Steps to reproduce the behavior:
1. docker-compose up
2. open browser and navigate to localhost:9081
3. complete the auth
4. now you will land on a page with files listed

**Expected behavior**
Meshery App UI shows up

[2019-03-22 19:55] leecalcote commented on #64
We expect users to bring their own cluster, but to optionally bring their own service mesh and optionally bring their own application. Meshery will provide either of the two of the latter (mesh and sample app), if they don't provide these.

[2019-03-22 19:55] girishranganathan commented on #64
Super basic steps:
- wget https://github.com/meshery/meshery/blob/master/docker-compose.yaml
- docker-compose up -d

[2019-03-22 20:55] leecalcote opened #69 "Incorporation of adapters into project pipeline."
Define a set of tests for an adapter build to pass for incorporation into the overall project build.

Should this simply be the return of a message from each service method?

[2019-03-22 21:40] girishranganathan commented on #68
the issue has been fixed and a new image has been pushed to docker hub

[2019-03-22 21:40] #68 closed

[2019-03-22 21:44] #56 closed

[2019-03-22 21:44] #57 closed

[2019-03-22 21:53] leecalcote opened #72 "Avoid AWS API Gateway Bill"
Investigate source of bad actor(s) against AWS API Gateway endpoint and then block with VPC network policy (assuming a select set of bad actors)

[2019-03-22 22:14] girishranganathan opened #74 "Bug: File upload does not work on Safari browser"

[2019-03-22 22:16] girishranganathan opened #75 "Enhancement: file upload, move the cloud icon to the right"

[2019-03-22 22:31] girishranganathan opened #76 "Investigate getting panel definitions from Grafana and charting out ourselves"
Iframe strategy works well to a certain extent but the tooltips always cut off near the corners.

[2019-03-25 17:57] #74 closed

[2019-03-25 18:00] #75 closed

[2019-03-26 00:56] leecalcote opened #77 "Ability to background performance tests"
Provide users with the ability to background performance tests, so that they can use other aspects of Meshery while tests are running.

[2019-03-29 22:43] #35 closed

[2019-03-29 22:47] girishranganathan commented on #77
@leecalcote, is the capability that was incorporated today enough to consider this taken care of?

[2019-03-29 22:51] girishranganathan commented on #64
@leecalcote, we have an initial version of the script [here](https://raw.githubusercontent.com/meshery/meshery/master/meshery-cli.sh).
I created a git.io short URL and got this https://git.io/fjTxV
Do you want to create a meshery.io short url? so that we can have a slicker install command?

[2019-03-29 22:51] #47 closed

[2019-03-29 22:52] #21 closed

[2019-03-29 22:52] #29 closed

[2019-03-29 22:52] #6 closed

[2019-03-29 22:53] #4 closed

[2019-03-29 22:53] #3 closed

[2019-03-29 22:54] #17 closed

[2019-03-29 22:58] girishranganathan opened #79 "Grafana filter date time picker issue"
**Describe the bug**
Grafana date time filter -> selecting the date time field sometimes crashes the app.

**To Reproduce**
Steps to reproduce the behavior:
1. After configuring Grafana, click on the date time filter
2. Click on the date time field
3. Occasionally the app crashes

**Expected behavior**
Consistently see the date time pickers

**Browser console log**
[code]

[code]

[2019-03-29 22:59] girishranganathan commented on #79
suspect the issue to be due to version mismatch between material ui and the material-ui-pickers. . .

[2019-03-29 23:01] girishranganathan opened #80 "Results pagination showing different result count per page"
**Describe the bug**
Meshery -> Results -> The table is showing paginated results from Dynamo. The issue is that due to the way Dynamo scans + filters work, the number of records returned is inconsistent.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Results'
2. Not all pages will have the same result count

**Expected behavior**
The pagination works consistently.

[2019-03-29 23:03] girishranganathan commented on #80
@leecalcote, I think this is a good time to start moving away from Dynamo. . . I will gradually start migration to RDS. Will leverage pgsql + JSON for flexibility.

[2019-03-30 01:44] leecalcote commented on #80
@girishranganathan SGTM

[2019-04-01 11:45] leecalcote opened #82 "Results: Avoid overly lengthy comparative chart labels"
**Describe the bug**
When viewing multiple (3 or more) perf test results in the same chart, sometimes the x-axis labels are very long, causing the size of the line chart area to be reduced.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Results'
2. Check on 3 or more previously run tests
3. Click on icon in upper righthand corner to compare results.
4. See error

**Expected behavior*

[2019-04-12 22:25] #80 closed

[2019-04-14 03:16] leecalcote opened #91 "Ensure meshery containers are running before `open localhost`"
**Describe the bug**
The current `meshery start` cmd does not wait for the meshery application to be up before launching the user's browser in an attempt access meshery. Users experience a 404 message.

**To Reproduce**
Steps to reproduce the behavior:
1. Execute `meshery start`
2. Find that the meshery app is unavailable in your freshly opened browser.

**Expected behavior**
Users expect to be ab

[2019-04-17 02:23] leecalcote commented on #65
@girishranganathan in consideration of @yogi4 taking this on, will you recap our conversations with him and point him in our chosen direction?

[2019-04-17 02:25] yogi4 commented on #65
@girishranganathan my day is pretty wide open tomorrow , let me know your availability and . I will take this on.

[2019-04-17 03:58] girishranganathan commented on #65
Cool, I am available at 11:30 AM Eastern. Let's have a slack call.
Ty,
G

[2019-04-17 14:17] yogi4 commented on #65
sure Girish. 11:30AM EST works for me . let's have a slack call.

On Tue, Apr 16, 2019 at 10:58 PM girishranganathan <notifications@github.com>
wrote:

[2019-04-19 16:09] leecalcote opened #93 "[Performance] Ability to delete a test result"

[2019-04-19 19:57] prateeksahu opened #94 "Performance for one query"
A selection of 1 request per second, 1 concurrent request and time of 1s does not execute just one but defaults to 2 queries.

This is seen on Istio adapter. Not tested on Linkerd.

Behavior should be just one query for the experiment.

[2019-04-28 21:35] prateeksahu opened #101 "Namespace creation for custom app on linkerd"
When we try to deploy a custom app using yaml on a new namespace, the app deployment fails because the new namespace is not created.

Steps to reproduce the behavior:
1. Configure Linkerd
2. Go to Playground -> Linkerd
3. Give a new namespace and click on custom Yaml
4. Provide a custom yaml file and click Submit

**Expected behavior**
The provided app should be deployed.
We see error message: mes

[2019-04-28 22:50] leecalcote commented on #101
@girishranganathan is this an issue in Meshery or the Linkerd adapter?

[2019-04-28 22:56] girishranganathan commented on #101
It is not a bug. I was just explaining to @prateeksahu.
When using custom yaml, if a namespace needs to be created, it should be included in the yaml.
Reason: a custom yaml could contain any valid k8s yaml which Meshery and its adapters today don't try to interpret today. Their goal, atm, is just to apply the given yaml as it is.
When @prateeksahu updated his yaml to include the namespace block in

[2019-04-28 22:58] leecalcote commented on #101
Updated issue with "docs" label.

[2019-04-30 12:51] girishranganathan opened #102 "Unable to connect to GKE"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-05-02 13:27] leecalcote opened #103 "Consolidate section title into topmost nav row"
Consolidate rows
<img width="798" alt="Screen Shot 2019-05-02 at 6 25 25 AM" src="https://user-images.githubusercontent.com/7570704/57078522-484d3800-6ca3-11e9-8e3b-5954ba17be9f.png">

[2019-05-03 19:58] leecalcote opened #111 "Verify Meshery compatibility with VirtualBox"
Will install Meshery in VirtualBox and update documentation based on experience.

Tasks:

1. Install Meshery locally. (using Meshery cli which runs all the services on `Docker` using `docker-compose`)
2. Deploy Kubernetes on minikube with VirtualBox provider (which is the default).
3. Configure Meshery with Kubernetes on minikube. [using the kubeconfig file mostly found in your $HOME/.kube/config

[2019-05-04 16:12] leecalcote opened #112 "Verify Meshery compatibility with GKE"
Install Meshery locally. Point to GKE cluster. Update documentation based on experience.

Tasks:

1. Install Meshery locally. (using Meshery cli which runs all the services on `Docker` using `docker-compose`)
2. Open Meshery UI.
3. Configure Meshery to use kubeconfig for GKE deployment. [using the kubeconfig file mostly found in your $HOME/.kube/config (OR) by getting the config from `kubectl conf

[2019-05-04 16:15] leecalcote opened #113 "Verify Meshery compatibility with EKS"
Install Meshery locally. Point to EKS cluster. Update documentation based on experience.

Tasks:

1. Install Meshery locally. (using Meshery cli which runs all the services on `Docker` using `docker-compose`)
2. Open Meshery UI.
3. Configure Meshery to use kubeconfig for EKS deployment. [using the kubeconfig file mostly found in your $HOME/.kube/config (OR) by getting the config from `kubectl conf

[2019-05-04 16:17] leecalcote commented on #65
@yogi4 good to close?

[2019-05-07 22:39] girishranganathan opened #114 "Create logz dashboards & alerts for Meshery cloud"
- [ ] create alerts for phrases “level=error” & “level=warn”
- [ ] we can create dashboards to chart the count of errors and warning each day per hour (or) just per day
- [ ] also figure out a way to get docker events sent to logz so that we can have more data to chart and set alerts on
  - [ ] create alerts for container restarts, crashes
  - [ ] chart out docker events in general, errors, etc. (

[2019-05-07 22:40] girishranganathan commented on #113
@sakomws any progress here?

[2019-05-07 22:42] girishranganathan commented on #112
@sakomws I know we tried this, can you please add our attempts to the docs? Also, did you get a chance to try with a service account?

[2019-05-07 22:43] girishranganathan commented on #111
@venkatasankarapu any progress here?

[2019-05-07 22:44] girishranganathan commented on #102
@sakomws I thought you were planning on filling the description of the bug here. Can you please add the info you have?

[2019-05-07 22:47] girishranganathan commented on #58
We have an initial version of the wizard now.

[2019-05-07 22:47] #58 closed

[2019-05-07 22:48] girishranganathan commented on #65
We have the framework in place.

[2019-05-07 22:48] #65 closed

[2019-05-07 22:48] #40 closed

[2019-05-07 22:48] #38 closed

[2019-05-07 22:50] girishranganathan commented on #34
we are NOT going this route for now.

[2019-05-07 22:50] #34 closed

[2019-05-07 22:53] girishranganathan commented on #64
We now have an easy install script and a git.io url: https://git.io/meshery

[2019-05-07 22:53] #64 closed

[2019-05-07 22:54] girishranganathan commented on #114
@venkatasankarapu please use the checklist I have created to mark tasks as you complete them. Also please feel free to add more :)

[2019-05-07 22:57] #77 closed

[2019-05-08 02:36] girishranganathan opened #115 "Create an Octarine adapter for Meshery"
- need to create an Octarine adapter for Meshery
- a repo has been created for the Octarine adapter [here](https://github.com/layer5io/meshery-octarine)

[2019-05-08 02:38] girishranganathan commented on #115
@thehh1974, this is an issue to track your effort for creating an adapter.
Can you please tell us if the adapter will be ready to demo at kubecon eu in less than 2 weeks from now?

[2019-05-08 02:42] girishranganathan opened #116 "Create a consul adapter for Meshery"

[2019-05-08 02:42] girishranganathan commented on #116
An initial bare bones version can be found [here](https://github.com/layer5io/meshery-consul)

[2019-05-08 02:43] girishranganathan commented on #116
Hello @venilnoronha, it has been a while we heard from you. Hope you are doing well.
One qq to you: would you be interested to take a stab at this adapter?

[2019-05-08 13:46] girishranganathan opened #117 "Create a NSM adapter for Meshery"
Repo for the adapter [here](https://github.com/layer5io/meshery-consul)

[2019-05-08 16:38] leecalcote commented on #112
#102

[2019-05-09 01:50] venkatasankarapu commented on #111
@girishranganathan, Installed the k8s ( 3 nodes) and run the pods of meshery. will deploy the app and do the test.

[2019-05-09 17:33] venilnoronha commented on #116
Hi @girishranganathan! What needs to be changed in the existing one?

[2019-05-10 09:03] sakomws commented on #111
Successfully tested with Minikube:

K8S: v1.14.1
Minikube version: v1.0.0
Istio 1.1.5

Start minikube:
[code]

Create config while current-context is minikube:
[code]

Follow Meshery standard flow.

[2019-05-10 10:12] leecalcote commented on #111
@sakomws, that’s great news. No issue with access to localhost:9081? It didn’t need to be 192.168.1.100?

[2019-05-10 10:15] sakomws commented on #111
Nope, works as charm, it is 192.168.1.100. Below is valid one, managed to deploy Istio to:
[code]

[2019-05-10 11:50] sakomws commented on #102
Hey @girishranganathan, here is fix how we discussed using ServiceAccount:

1. Create cluster-admin role service account
2. Get secret name from  service account
3. Extract CA Certificate and User token from secret
4. Generate new kubeconfig yaml file to input to Meshery

Steps:
1. Run shell script with service account name and namespace arguments:
[code]
2. Input generated file `config-cluster-ad

[2019-05-10 11:58] sakomws commented on #102
![Uploading Screen Shot 2019-05-10 at 4.54.44 AM.png…]()

[2019-05-10 13:46] girishranganathan commented on #116
hey @venilnoronha what exists is just a bare bones one. Doesn't have much functionality.

[2019-05-10 15:51] thehh1974 commented on #115
@girishranganathan, unfortunately it won't by ready. I hope to finish coding by the end of next week, but there won't be time to test it.

[2019-05-10 16:13] leecalcote commented on #116
@venilnoronha @girishranganathan which is to say that it needs the provisioning flow initially addressed.

[2019-05-17 20:23] leecalcote opened #121 "Implement `meshery` CLI in Go"
Currently, users can use the `meshery` bash script as a CLI to interact with Meshery. The CLI experience will be more robust and responsive if it is implemented in Go.

**Feature Request**
1. Convert [`meshery` bash script](https://github.com/layer5io/meshery/blob/master/meshery) from shell to golang, leveraging the Cobra framework - https://github.com/spf13/cobra
1. Name the new golang-based CLI,

[2019-05-17 20:45] leecalcote commented on #111
Excellent, @sakomws @venkatasankarapu. Doc update needed here.

[2019-05-27 16:24] sakows commented on #121
Initial working version implemented @leecalcote @girishranganathan : https://github.com/meshery/meshery/tree/sakows/mesheryctl/mesheryctl

[2019-06-03 23:27] leecalcote commented on #111
@venkatasankarapu do we consider this issue complete or is there a documentation update needed? https://meshery.layer5.io/docs

[2019-06-04 16:31] leecalcote commented on #102
@sakomws do we have a fix and set of instructions for this now?

[2019-06-06 02:39] leecalcote commented on #91
@sakomws here's one for `mesheryctl`

[2019-06-07 18:53] sakomws opened #126 "Add wrk2 support for HTTP Load Test"
**Feature Epic Description**
Extend Meshery to bring in the capability to work with multiple load generators as built-in libraries through an interface and load generator-specific implementation.
Through Meshery UI, be able to choose and configure the two supported load generators: _Fortio_ and _wrk2_ for HTTP load testing.

This feature epic is comprised of these enhancement issues:
- #209 M0: Ex

[2019-06-14 13:51] leecalcote commented on #126
@girishranganathan have you sent out a call for review on the design spec? It'd be good to get @t-lo's input early in this process.

[2019-06-14 14:48] leecalcote opened #127 "Add recent Meshery presentations to existing list in docs"
Under https://meshery.layer5.io/docs#resources, add these resources:

- KubeCon EU 2019 ([video](https://www.youtube.com/watch?v=LxP-yHrKL4M&list=PLYjO73_1efChX9NuRaU7WocTbgrfvCoPE), [deck](https://calcotestudios.com/talks/decks/slides-kubecon-eu-2019-service-meshes-at-what-cost.html))
- KubeCon EU 2019 Istio Founders Meetup ([deck](https://calcotestudios.com/talks/decks/slides-istio-meetup-kubeco

[2019-06-14 15:09] leecalcote commented on #44
@venkatasankarapu Here's an example badge that would work well - ![Docker Pulls](https://img.shields.io/docker/pulls/meshery/meshery.svg)

If it's handy, here's the main gray color used in Meshery today - #647881.

[2019-06-14 16:02] t-lo commented on #126
Happy to help! Our extensions to wrk2 are currently here: https://github.com/kinvolk/wrk2 . We added a feature to spread RPS load over multiple endpoints as well as extended the LUA API to close / re-open connections from a LUA script (necessary for the RPS load spread feature).

We aim to create PRs to @giltene 's original wrk2 work located here: https://github.com/giltene/wrk2 but this is on the

[2019-06-14 18:23] girishranganathan opened #128 "Persisting user settings data on the filesystem and its appropriate retrieval"
Right now the user selections are temporarily persisted in the browser and some parts of it in the user sessions. These different parts are not synced with each other.
We need a way to persist the user settings on the disc and a consistent way to sync it with the browser.

[2019-06-14 18:28] girishranganathan opened #129 "Create a settings page in Meshery for advanced configurations and only show the wizard during the first login"
All the settings/configurations currently are under the `config` UI section which is a wizard as of today. Wizard is probably being abused for everything. We should rather just show the wizard for initial logins and for all other configurations/settings have a dedicated settings section.

[2019-06-14 18:58] girishranganathan opened #131 "Move common codes in the adapters to a separate repo and make it a lib (to reduce duplication)"
We now have several adapters: Istio, Linkerd, consul, etc.
The three adapters have some common code which could be moved to a common repo and update the adapters to use the common code from the library.

[2019-06-14 19:07] girishranganathan opened #132 "[Performance] Adding support for gRPC testing"
**Current Behavior**
Through the load generator interface (an [area of extensibility](https://meshery.layer5.io/docs/extensibility)) in Meshery, fortio's ability to generate HTTP load has long been supported.

**Desired Behavior**
With many service-to-service interactions being of gRPC, Meshery should also support generation of gRCP load and its performance testing.

---
**Related**
- https://gith

[2019-06-14 19:09] girishranganathan opened #133 "Add support for TCP load testing"
Meshery has had support for HTTP load testing for a while. We need to add support for TCP load testing.
This issue is related to https://github.com/layer5io/meshery/issues/132

[2019-06-14 19:11] girishranganathan opened #134 "Update the color scheme to bring in better UX for action buttons"

[2019-06-14 19:28] girishranganathan opened #135 "Migrate away from Grafana charts"
We have been using Grafana for embedding charts in Meshery. Embedding charts in iframe has always NOT been helpful with providing a good UX for the end users.
We need to migrate away from Grafana charts for charting.
We potentially can get the chart metadata from Grafana and chart it out with Chartjs or the like.

[2019-06-14 19:29] girishranganathan commented on #135
At the moment we have this capability functional. We are getting the metadata from Grafana and using the data to chart with Chartjs.
We are using Chartjs for charting time series and sparkline charts. For gauge charts we are now using c3.

[2019-06-14 19:31] girishranganathan opened #136 "Fetching chart data from Prometheus directly"
We could directly reach out to Prometheus and chart out metrics.

[2019-06-14 19:33] girishranganathan commented on #136
We now have updated Meshery with capability to reach out to Prometheus to fetch metrics.
We have taken it further by also integrating with it the capability to accept a Grafana board json to define the panels needed and using that to define the charts but reaching out to Prometheus for the data.

[2019-06-15 11:52] leecalcote commented on #132
Doing some release planning now... @sakomws is this one that you're intending to take on?

[2019-06-15 12:03] leecalcote commented on #44
@venkatasankarapu I popped two of these into the meshery repo. We'll want to get a few others and add all of them to each of the other meshery repos consistently (as appropriate).

@girishranganathan what do you think of this one? [![Go Report Card](https://goreportcard.com/badge/github.com/meshery/meshery)](https://goreportcard.com/report/github.com/meshery/meshery)

[2019-06-15 16:22] girishranganathan commented on #44
Sure, will be a good start :)

[2019-06-15 16:36] girishranganathan commented on #126
Thanks a lot @t-lo. Have a great vacation. The WIP doc can be found [here](https://drive.google.com/drive/folders/15uIXdgHfq0Od7vyB7PzQIuVknamacy6s). Please feel free to chime in.

[2019-06-17 22:29] leecalcote commented on #116
@nicholasjackson and @eveld, it'd be good to get your eyes on this adapter as we go to release a v0.1.

[2019-06-18 08:35] sakomws commented on #132
Hi @leecalcote i will bring cluster start working on it. Sorry got distracted a bit.

[2019-06-19 14:57] leecalcote commented on #121
@anandrkskd The initial version of `mesheryctl` that @sakomws created needs a bit of finishing up. This is the initial version - https://github.com/meshery/meshery/tree/master/mesheryctl.

In order to be rid of the [`meshery` bash script](https://github.com/meshery/meshery/blob/master/meshery), needs to account for each of the requisites outlined in [preflight_check()](https://github.com/meshery/m

[2019-06-24 14:17] sakomws commented on #121
1. 'wget' and 'curl' we dont use, instead use "net/http" library to for HTTP operations including download file.
2. For missing docker-compose binary, it throughs standard error:
a) In Mesheryctl:
[code]
b) In Mac OS:
[code]

[2019-06-24 14:18] sakomws commented on #121
@leecalcote should we add custom logging for docker-compose?

[2019-06-24 16:34] leecalcote commented on #121
@sakomws @anandrkskd
1. That's perfect. One less prerequisite to be concerned with.
2. Meshery's adoption and usefulness will in many cases rely on its user experience. With UX and shortening time-to-value as the goal, I propose that when docker-compose is missing, that Meshery takes action run to run docker-compose in a container, and in doing so, self-fulfilling its prerequisites.

Benefit to th

[2019-06-24 18:58] leecalcote opened #139 "Add an "Edit this Page" link on each doc page"
To encourage contribution, each Meshery docs page should have an "edit this page" link that opens to GitHub on the specific page the user is on.

[2019-06-24 18:59] leecalcote commented on #121
Expanded design doc - https://docs.google.com/document/d/1inncJ56SKEzIMIUikzj3XdCWF4d0xdtzOcq6J4GQYz0/edit

[2019-06-25 03:12] sakomws commented on #121
Thanks for details @leecalcote , will proceed accordingly.

[2019-06-28 19:05] #136 closed

[2019-06-28 19:06] girishranganathan commented on #129
we now have an initial version of a settings page.

[2019-06-28 19:12] #135 closed

[2019-06-29 04:12] leecalcote opened #144 "docker-compose.yaml and meshery.yaml needed?"
Is is necessary to have both `docker-compose.yaml` in the root of the repo and `meshery.yaml` in the "mesheryctl/.meshery" folder? Can one be eliminated?

[2019-07-05 20:10] sakomws opened #146 "Generate cluster access for public clouds(GKE/EKS) via mesheryctl"
**Is your feature request related to a problem? Please describe.**
It would be nice via mesheryctl generate cluster access for public clouds:
[code]
**Describe the solution you'd like**
Need to translate this shell script to be part of mesheryctl:
[code]

**Describe alternatives you've considered**
Depending on use case, we can consider to use existing service account.

**Additional context**
N/A

[2019-07-06 13:10] #102 closed

[2019-07-15 17:53] leecalcote commented on #44
@subhamkrai I'm not sure if @venkatasankarapu will have time to execute on this issue. If not, you might want to take a crack at it. Ultimately, we'll want to have the same set of project badges listed uniformly across each of the "meshery-...." repos.

[2019-07-15 18:58] leecalcote opened #151 "Update project readme with new community drive location and meeting time."
The Meshery project [readme](https://github.com/layer5io/meshery/blob/master/README.md) needs updated:

- A new community drive has been created and is correctly linked on https://layer5.io/meshery. All of links to the docs in the drive (and the link to the drive itself) needs updating.
- The community meeting time has been rearranged and a new [community calendar](https://calendar.google.com/cale

[2019-07-15 19:00] leecalcote opened #152 "Architecture page in Meshery docs"
The [Architecture](https://meshery.layer5.io/docs/architecture) page needs updating to link to and show slides of the Meshery project from the new community drive.

This is the page that needs updating - https://github.com/layer5io/meshery/blob/master/docs/architecture.md

[2019-07-15 19:10] leecalcote commented on #111
Fixed with #122

[2019-07-15 19:10] #111 closed

[2019-07-16 13:20] leecalcote opened #156 "Relative reference to minikube installation instructions not working"
After PR #153 was merged, the minikube installation page was removed from view in the navigation menu as intended.

What wasn't intended was this to create a broken link to the /docs/installation/minikube page. A broken link exists on the /docs/installation page, though. This link points to /docs/minikube and is missing the "/installation" portion of the URL.

[2019-07-16 13:31] anandrkskd opened #158 "error 404 for minikube in /docs"
**Describe the bug**
Deploying on local system works fine and minikube page is accessible, but after merging the PR with master , the link redirects to wrong URL

[original url / wrong url](https://meshery.layer5.io/docs/minikube) `https://meshery.layer5.io/docs/minikube`

[actual url which should be present](https://meshery.layer5.io/docs/installation/minikube) `https://meshery.layer5.io/docs/ins

[2019-07-16 14:02] leecalcote commented on #158
fixed by #157

[2019-07-17 03:42] #156 closed

[2019-07-19 05:08] leecalcote opened #165 "Add nsm logo to Meshery adapter UI"
Include nsm.svg and modify these files:
- ui/components/MeshAdapterConfigComponent.js
- ui/components/MesheryPlayComponent.js

[2019-07-19 07:20] #165 closed

[2019-07-23 04:05] leecalcote commented on #132
@sakomws any progress to report here?

[2019-07-24 23:37] leecalcote opened #167 "Create brew formula for mesheryctl"
`mesheryctl` is one of a what will be a few ways to interact with Meshery. Ideally, its CLI is readily available through packaging and distribution mechanisms of the user's choice. [Homebrew](http://brew.sh) is one of those.

This enhancement request is to create a [brew formula](https://docs.brew.sh/Formula-Cookbook) for `mesheryctl`. Code for `mesheryctl` is located [here](https://github.com/lay

[2019-07-25 13:33] leecalcote opened #169 "Project README needs updated with new community meeting time"
**Issue Description**
Since we moved the weekly meetings to an earlier time slot, the Meshery [README](https://github.com/layer5io/meshery/blob/master/README.md) has not been updated with the new time.

Also, some links need updated to point not to the meshery repo, but to the layer5 repo.

[2019-07-26 14:41] leecalcote commented on #121
@sakomws some fine work here. `mesheryctl` has landed.

[2019-07-26 14:41] #121 closed

[2019-07-26 14:50] #158 closed

[2019-07-26 14:52] leecalcote commented on #146
@sakomws we should be good to close this with the addition of https://meshery.layer5.io/docs/installation#platform-gke-.

[2019-07-29 12:22] leecalcote commented on #169
Fixed by #173

[2019-07-29 12:22] #169 closed

[2019-07-29 16:02] girishranganathan opened #175 "Update consul adapter yaml to use the latest version of consul"
**Describe the issue**
Consul adapter was created right before KubeCon EU 2019. After that we have not updated the adapter to use the latest updates in Consul.

The file which will need update is https://github.com/layer5io/meshery-consul/blob/master/consul/config_templates/consul.yaml

[2019-07-29 17:28] girishranganathan commented on #175
@nicholasjackson, @eveld - would one of you be interested in taking a stab at this for us?

[2019-07-30 21:30] leecalcote opened #176 "Add "Getting Involved" section to docs"
A new "Getting Involved" section needs to be added to the Meshery docs. It should include the same links and invitations found in the Community section here - https://layer5.io/meshery/#community.

Also, a link to the [welcome guide](https://docs.google.com/document/d/17OPtDE_rdnPQxmk2Kauhm3GwXF1R5dZ3Cj8qZLKdo5E/edit?usp=sharing) needs to be added to the Meshery project page under the Community se

[2019-08-01 05:26] leecalcote opened #177 "Consul Adapter icon showing as NSM Adapter icon"
**Describe the issue**
The Consul adapter shows the wrong icon. It shows an NSM icon, not a Consul icon.

**To Fix**
Insert a `break;` to close the Consul case statement -  https://github.com/layer5io/meshery/blob/d87db6398bc91445e037e254ca9e96e8e6fb598f/ui/components/MeshAdapterConfigComponent.js#L267.

And another `break;` to close the NSM case statement -
https://github.com/layer5io/meshery/blo

[2019-08-01 15:15] leecalcote commented on #152
fixed by #178

[2019-08-01 15:15] #152 closed

[2019-08-02 04:50] leecalcote commented on #151
@anandrkskd or @madhabpaul would would of you like to knock this one out?

[2019-08-02 04:51] leecalcote commented on #112
@sakomws any update here?

[2019-08-02 04:52] leecalcote commented on #144
Fixed by #174

[2019-08-02 04:52] #144 closed

[2019-08-02 04:52] leecalcote commented on #139
@madhabpaul Are you up to the challenge here?

[2019-08-02 04:54] leecalcote commented on #116
Consul adapter released.

[2019-08-02 04:54] #116 closed

[2019-08-02 04:56] madhabpaul commented on #139
Yes

[2019-08-02 04:58] leecalcote commented on #139
Awesome. :)

[2019-08-02 05:04] leecalcote commented on #115
@thehh1974 has delivered a functional adapter for Octarine.

[2019-08-02 05:04] #115 closed

[2019-08-02 05:05] leecalcote commented on #79
@girishranganathan given the recent billboardjs work, does this issue persist?

[2019-08-02 05:06] leecalcote commented on #44
@subhamkrai will you look at copying the project badges from the meshery repo to each of the meshery adapter repos?

[2019-08-02 05:15] leecalcote opened #179 "Create a Docker App for Meshery"
**Describe the solution you'd like**
CNAB compliant packaging of Meshery as a Docker App

**Is your feature request related to a problem? Please describe.**
Docker App will be a convenient way of sharing Meshery, it's adapters and their configuration. Some adapters, like the [meshery-octarine](https://github.com/layer5io/meshery-octarine) adapter have a number of environment variables necessary fo

[2019-08-02 05:18] leecalcote commented on #179
@scotty-c is at bat here.

[2019-08-02 05:31] leecalcote opened #180 "Verify Meshery compatibility with AKS"
**Describe the solution you'd like**
Meshery compatibility with AKS has not been verified. Compatibility with this managed Kubernetes platform should be confirmed. Any changes needed should be flagged in an issue for implementation. [Platform Compatibility](https://meshery.layer5.io/docs/installation#platform-compatibility-) in the Meshery documentation should be updated to reflect compatibility.

[2019-08-02 05:32] leecalcote commented on #180
@scotty-c on point here.

[2019-08-02 05:34] leecalcote commented on #176
@arghac14 would you like to give this one a go as well?

[2019-08-02 05:39] subhamkrai commented on #44
Sure @leecalcote

[2019-08-02 06:21] scotty-c commented on #180
@leecalcote I will look at this later next week after Cloud Native Days NZ

[2019-08-02 06:22] scotty-c commented on #179
@leecalcote I will look at this later next week after Cloud Native Days NZ

[2019-08-02 06:36] arghac14 commented on #176
@leecalcote  sure! but exactly where should I put the 'Getting involved' html file? Is it here https://github.com/meshery/meshery/tree/master/docs/_layouts ?

And yes, I'll add the link to the welcome guide under the Community section.

[2019-08-02 11:56] leecalcote commented on #176
@arghac14 thank you. Good question. You're looking in the right place. Instead of the "Getting Involved" (or maybe it should be called "Contributing") being a link to one document, it'll be a new section on the [Overview](https://github.com/meshery/meshery/blob/master/docs/index.md) page. This new section is to contain the same [Community information](https://github.com/meshery/meshery/blob/master

[2019-08-02 14:26] arghac14 commented on #176
@leecalcote review the PR.

[2019-08-02 14:27] leecalcote commented on #176
Fixed by #182

[2019-08-02 14:33] leecalcote commented on #176
@arghac14 good deal. Jump into Slack here -- http://slack.meshery.io, if you would.

[2019-08-02 15:08] girishranganathan commented on #79
Yes, I have fixed this as part of my recent commits. I have not closed this issue because my change is not yet in the master branch.

[2019-08-05 12:07] leecalcote commented on #151
@anandrkskd the meeting time is now correct, however, we still need to update each of the links to the team drive and documents within It.

[2019-08-06 22:30] girishranganathan opened #188 "Update Octarine adapter port in the docker-compose file to 10003"
Update Octarine adapter port in the docker-compose file to 10003: https://github.com/layer5io/meshery/blob/0fd5aea6c56da616bb3d4d0aebbebb965d382c2f/docker-compose.yaml#L36

This is to match the adapter - port mapping as explained [here](https://meshery.layer5.io/docs/architecture#network-ports-that-meshery-uses-and-needs).

Also this issue depends on the other PR for the actual port change in the

[2019-08-07 11:36] #151 closed

[2019-08-07 11:45] leecalcote commented on #177
thanks, @subhamkrai. :)

[2019-08-07 11:45] #177 closed

[2019-08-07 11:48] leecalcote commented on #82
Fixed by #187

[2019-08-07 11:48] #82 closed

[2019-08-07 12:57] leecalcote opened #191 "Create Home page in Meshery UI"
**Description**
Users need a landing page that both introduces them to the app and provides an overview of the status of their environment and the configuration of Meshery.

[2019-08-07 13:19] leecalcote opened #192 "Preconfiguration UI tweaks"
**Description**
Meshery UI needs two changes to improve the description of its functionality and to better indicate to users which screen they are currently on or navigating to.

Two changes highlighted in red in screenshot.
![Screen Shot 2019-08-07 at 8 12 45 AM](https://user-images.githubusercontent.com/7570704/62626097-31defa00-b8ec-11e9-9865-3e8286891968.png)

[2019-08-07 13:27] leecalcote commented on #191
Screen design doc - https://docs.google.com/document/d/1XOQFIyHsY_s_LgOBPDdg__dmgE3GpBK3e1Gir4Me1Kg/edit#

[2019-08-07 14:20] girishranganathan commented on #79
This issue is resolved with https://github.com/meshery/meshery/pull/187

[2019-08-07 14:22] girishranganathan commented on #101
The reported message is just a warning. I will close this issue for now. We can reopen if it is really an issue.

[2019-08-07 14:22] #101 closed

[2019-08-07 14:23] girishranganathan commented on #129
We now have a functional version of the settings page.

[2019-08-07 14:23] #129 closed

[2019-08-07 14:28] girishranganathan commented on #128
This is completed as part of PR #187

[2019-08-07 14:28] #128 closed

[2019-08-07 14:30] girishranganathan commented on #128
This has similarities with #34

[2019-08-07 14:34] girishranganathan opened #193 "Move all charts from chartjs to billboard.js"
billboard.js was initially used for gauge charts. It does have some inherent capabilities for time series and sparkline charts as well.
It will just be better to use one charting library.

[2019-08-07 14:34] girishranganathan commented on #193
This was accomplished as part of #187

[2019-08-07 14:34] #193 closed

[2019-08-07 14:37] girishranganathan commented on #76
This was accomplished a month or two back.

[2019-08-07 14:37] #76 closed

[2019-08-09 12:06] leecalcote opened #194 "Compare Results Checkbox Issue"
**Two issues**
1. Not able to mark checkbox for comparison.
2. Clicking on checkbox collapses table row.

**Screenshots**
![ezgif-2-945776300787](https://user-images.githubusercontent.com/7570704/62777693-de97b380-ba73-11e9-9882-c9d4f3506cfb.gif)

**Enviroment:**
 - Browser: e.g. Chrome 76.0.3809.100 and Safari 12.1.1

**Additional**
This issue is new as of the billboardjs release.

[2019-08-09 13:43] #79 closed

[2019-08-09 14:24] girishranganathan opened #196 "Add DeathStarBench's social network as a sample app"
- [x] We need to understand what [DeathStarBench](https://github.com/delimitrou/DeathStarBench) does
- [x] Deploy DeathStarBench on Kubernetes
- [ ] incorporate this as a sample app in the adapters

[2019-08-09 15:36] sakomws opened #197 "Another Sample application from Google to use?"
**Feature Request**
Add to the collection of supported sample apps by including Google's microservices demo app:
https://github.com/GoogleCloudPlatform/microservices-demo

[2019-08-12 14:39] #191 closed

[2019-08-12 14:39] #194 closed

[2019-08-12 15:16] leecalcote opened #199 "Notification menu icon misaligned"
**Description**
The Notifications icon falls out of alignment with other icons.

**Steps to Reproduce**
When you adjust the zoom in your browser, it becomes obvious that the notification icon is out of alignment.

**Screenshots**
<img width="244" alt="Screen Shot 2019-08-12 at 10 14 35 AM" src="https://user-images.githubusercontent.com/7570704/62876284-3b9c9f00-bcea-11e9-92bf-1c857c52de0e.png">

*

[2019-08-12 17:32] leecalcote opened #201 "Install: Discover and use kubeconfig"
**Description**
Our assumption is that most users will initially run Meshery outside of their cluster and will have a local ~/.kube/config that may be referenced for connecting to their Kubernetes cluster(s). To facilitate time-to-value in using Meshery, let's look for that kubeconfig during initial deployment and assume it's use.

**Behavior**
- [x] Users should be able to swap out this config af

[2019-08-12 17:33] leecalcote commented on #197
Sounds great, @sakomws. Good suggestion.

[2019-08-12 23:25] leecalcote opened #202 "Install: Automatically Connect Adapters"
**Description**
Whether a user is running Meshery in or out of a cluster, it should not require users to configure connections to its adapters. Meshery should be cognizant of its own adapters, establish connection and verify their status (later, their version). To facilitate time-to-value in using Meshery, adapters should be automatically connected to the main Meshery process.

**Behavior**
- [x]

[2019-08-13 16:34] subhamkrai opened #203 "update command section in this page(https://layer5.io/meshery/)"
**Description**
Remove '$ ' symbol from commands

**Related Challenges**
edit this page(https://github.com/layer5io/layer5/blob/master/_includes/meshery.html).

[2019-08-13 16:55] #203 closed

[2019-08-14 14:27] leecalcote opened #204 "mesheryctl start: Linux compatible command to mirror MacOS experience"
**Description**
When users run `mesheryctl start`, each of Meshery's containers are initialized, and in the case of users running on MacOS, the user's default browser is opened to `http://localhost:9081`. Meshery should have a similar experience in place for Linux desktop users.

**Implementation**
- `xdg-open` is a Linux equivalent command to MacOS's `open` command and will be used to open Linux

[2019-08-14 17:00] leecalcote commented on #44
@subhamkrai following up on your last comment - yes, you're right, I'm looking for the combined set of project badges from meshery/meshery and from meshery/meshery to be proliferated across all meshery repos.

[2019-08-14 20:47] leecalcote commented on #199
Could be a good one for @cruiser1789...

[2019-08-15 20:39] affix opened #206 "Linkerd Unable to deploy samples with Digital Ocean Clusters"
**Issue Description**
When deploying a sample application to a digital ocean cluster it throws an error.

**Expected Behavior**
Application is deployed

**Logs**
[code]

**Enviroment:**
 - OS: macOS
 - Browser: Firefox
 - Version: 68
 - Device: MacBook Pro

---
[Optional] **To Reproduce**
Steps to reproduce the behavior:
1. Go to Playgroud
2. Click to deploy any sample
3. Check notifications
4. Se

[2019-08-16 01:02] thehh1974 commented on #188
I created a pull request with the updated port number in the meshery-octarine repo

[2019-08-16 14:12] leecalcote commented on #44
@subhamkrai to wrap up this issue, these [badges](https://github.com/meshery/meshery/commit/57f73ca6c96a49fec04a9ae253803657a93904b4#diff-04c6e90faac2675aa89e2176d2eec7d8R3-R10) need to be added to each of the [meshery repos](https://github.com/search?q=topic%3Ameshery+org%3Ameshery&type=Repositories)

[2019-08-16 14:17] leecalcote commented on #167
Thanks for signaling interest, @affix. :)

[2019-08-16 14:28] leecalcote commented on #202
Fixed by #205

[2019-08-16 14:29] #202 closed

[2019-08-16 14:29] leecalcote commented on #201
Delivered in #205

[2019-08-16 14:29] #201 closed

[2019-08-16 14:40] leecalcote opened #207 "Open "Community" link in new window"
**Description**
When a user clicks the Community link, the community page is opened within the current browser window. This request is to change the hyperlink target to open a new browser tab / window by setting the link's `target="_blank"`.
![Screen Shot 2019-08-16 at 9 38 01 AM](https://user-images.githubusercontent.com/7570704/63175584-ecb47980-c009-11e9-8c0a-d1db579cf1a3.png)

Relevant code -

[2019-08-19 12:25] leecalcote commented on #103
This issue has been implemented.

[2019-08-19 12:25] #103 closed

[2019-08-19 16:28] leecalcote commented on #139
@madhabpaul, you could do something like:

```<a href="{{.site.params.ghrepo}}/edit/master/docs/{{.file.path}}">Edit this Page</a>```

using variables like {{.File.Path}} documented here https://jekyllrb.com/docs/static-files/.

[2019-08-19 23:55] leecalcote opened #209 "M0: Extend Load Generation w/wrk2 - Build and Packaging"
**Description**
See #126 for full description of Load Generator Integration Epic.

**Milestone 0: Build and Packaging**

- [x] Compile wrk2 (with json compatibility) as a Docker build step as part of the multi-stage build.

- [x] Bundle the compiled wrk2 along with Meshery in the Docker container image (probably in the same folder (OR) include it in the PATH so that wrk2 executable can be found wh

[2019-08-19 23:59] leecalcote opened #210 "M1: Extend Load Generation w/wrk2 - PoC"
**Description**
See #126 for full description of Load Generator Integration Epic.

**Milestone 1: PoC**

- [ ] Initial POC for initiating wrk2 from sample Go code, process response and handle errors.
- [ ] Return per request results (with json compatibility).

_Example_: `wrk -c1 -t1 -d5s -s ./my-script.lua --latency http://localhost:8000`

**Additional context**
See [Load Generator Integration de

[2019-08-20 17:28] leecalcote opened #211 "M2: General Interface to Load Generators"
**Description**
See #126 for full description of Load Generator Integration Epic.

**Milestone 2: Build and Packaging**

- [ ] Create an alias type “SupportedLoadTestMethods” of type int.
- [ ] Define constants for each of the supported load test methods.
  - [ ] HTTP
  - [ ] gRPC
  - [ ] TCP
- [ ] Create an interface with common methods for all the load generators “LoadGeneratorInterface”. Method

[2019-08-20 17:34] leecalcote opened #212 "[Performance] M3: Incorporate wkr2 as a Load Generator"
**Description**
See #126 for full description of Load Generator Integration Epic.

**Milestone 3: Incorporate wrk2 as a Load Generator**

- [ ] Create an implementation of the “LoadGeneratorInterface” for wrk2, “WRKLoadGenerator”
  - [ ] Which will invoke the wrk2 with the right parameters
  - [x] Extract and parse the json results and populate the “*periodic.RunnerResults” struct
  - [ ] Handle f

[2019-08-20 17:36] leecalcote opened #213 "Performance: M4: Expose Load Generator settings in UI"
**Description**
See #126 for full description of Load Generator Integration Epic. Selection of load generator should be made available in two locations:

1. as a general setting under the /settings screen. This setting will be the default for all performance tests.
1. as a per test setting under the /performance screen. This setting will be one-time for _that_ specific test.

**M4: Expose Load Gen

[2019-08-20 17:38] leecalcote commented on #213
@cruiser1789 work is kicking off now on bringing in new a new load generator. @sakomws is working through an epic described in #126. This final issue ties off the new feature with a new UI for interacting with different load generators. Your React talents are in limited supply, so tagging you here for your consideration.

[2019-08-20 19:15] leecalcote commented on #67
A non-issue considering Meshery's move to billboardjs?

[2019-08-20 19:15] leecalcote commented on #127
@anandrkskd is this one still on your radar?

[2019-08-20 20:15] cruiser1789 commented on #213
Sure, still in a hang mode after my wife is gone, will get to this soon

Sent from my Verizon, Samsung Galaxy smartphone
-------- Original message --------From: Lee Calcote <notifications@github.com> Date: 8/20/19  10:38 AM  (GMT-08:00) To: meshery/meshery <meshery@noreply.github.com> Cc: cruiser1789 <rameshtaurean@gmail.com>, Mention <mention@noreply.github.com> Subject: Re: [meshery/meshery] M4:

[2019-08-21 01:49] leecalcote opened #214 "mesheryctl fails to build after feature merge for #204"
**Issue Description**
mesheryctl fails to build. Output from `make`:

[code]

**Expected Behavior**
mesheryctl should build into a single static binary.

**Related Issue**
 - Issue appear after PR merge for Issue #207

[2019-08-21 02:35] leecalcote opened #216 "Docs menu is off"
**Screenshots**
<img width="1219" alt="Screen Shot 2019-08-20 at 9 26 23 PM" src="https://user-images.githubusercontent.com/7570704/63398181-56c67900-c392-11e9-9578-b99a5ad0c25a.png">

**Enviroment:**
 - Browser:  chrome and safari

[2019-08-21 02:48] leecalcote commented on #62
@girishranganathan has this been addressed with the switch to billboardjs?

[2019-08-21 07:15] scotty-c commented on #180
@leecalcote just started working on this today. Will update shortly

[2019-08-22 12:17] leecalcote opened #219 "UX: Confusion between operation submitted and operation completed"
**Issue Description**
When an operation is submitted, the user receives a toaster notification like so -
<img width="427" alt="Screen Shot 2019-08-22 at 7 03 59 AM" src="https://user-images.githubusercontent.com/7570704/63513258-54a40d80-c4ab-11e9-9269-ecb84b99b891.png">
Users tend to ignore the specific wording of this notification, which states that the operation has been "submitted", not that t

[2019-08-22 12:24] leecalcote opened #220 "UX: Dismissing an individual notification closes the Notification bar."
**Issue Description**
Current behavior is that when a user dismisses an individual notification, the entire Notification bar is dismissed as well.
![Untitled](https://user-images.githubusercontent.com/7570704/63514258-d7c66300-c4ad-11e9-927b-271022ce25e9.gif)

**Enhancement Description**
Ideally, when a user dismisses an individual notification, the Notification bar will remain open until the user

[2019-08-22 12:45] leecalcote opened #221 "UI: "Enter" not allowed for submitting form; Click-only form submit"
**Description**
When users are filling in the Settings screens, they must click on the Submit button in order for the form to be submitted. Often users will be typing values into the fields on the forms. Rather than making the user remove hand from the keyboard to grab the mouse, it would be ideal if the form is configured to submit on press of the Enter button, too, as an alternative mechanism to

[2019-08-22 12:50] leecalcote opened #222 "Settings: Issues connecting to Prometheus"
**Description**
When configuring a connection to Prometheus in the Settings screen, give the user instruction and an example of submitting a Grafana board.

Improvements:
1. Show "Panel" dropdown only after Board yam is submitted.
1. Do no show an error initially, but an example board config.

**Screenshots**
The following screen is shown after entering a valid Prometheus endpoint. It should not h

[2019-08-22 19:25] girishranganathan opened #223 "Provide common choice between in and out of cluster config"
**Enhancement Description**

- [x] Right now in the settings page under `Environment`, when the in-cluster config is selected the other fields are disabled. It will be better to hide them from the screen
- [ ] We can may be look for a different control rather than the switch

[2019-08-22 19:29] girishranganathan opened #224 "Clicking on the kubernetes should do a server ping and permission check"
**Enhancement Description**
In the dashboard page and the settings -> Environment section, connected kubernetes is shown as a chip. Clicking on the chip should do a server ping and permission check to see if the account has the cluster admin privileges.

[2019-08-22 19:36] girishranganathan opened #225 "Discover Grafana and Prometheus"
**Enhancement Description**

- [ ] Meshery should be able discover if it deployed on kubernetes
- [ ] If not, then wait until connection to kubernetes is configured
- [ ] Once connected to kubernetes, ability to discover if Grafana and Prometheus exist on the cluster and present the choices to the user to select one amongst them (OR) enter a new server (which is the existing route)

[2019-08-23 07:17] leecalcote commented on #216
Closed by #227.

[2019-08-23 07:25] leecalcote commented on #214
Fixed by #215

[2019-08-23 07:25] #214 closed

[2019-08-23 07:27] leecalcote commented on #67
@girishranganathan A non-issue considering Meshery's move to billboardjs?

[2019-08-23 07:28] leecalcote commented on #44
@subhamkrai took care of each of these.

[2019-08-23 07:28] #44 closed

[2019-08-23 13:24] #207 closed

[2019-08-23 18:52] girishranganathan commented on #220
2a0fb9dab55600cc9142e045ae6c2d6c4ab4101d addresses this issue

[2019-08-25 16:39] leecalcote commented on #192
@Nikhil-Ladha PR #230 does a good job of knocking out the first enhancement requested in this issue.

The second enhancement request may not be as obvious, since I posted a mockup of the "after" version of what is being asked for. Here is a "before" screenshot:

<img width="1031" alt="Screen Shot 2019-08-25 at 11 35 47 AM" src="https://user-images.githubusercontent.com/7570704/63652995-a14a4b80-c7

[2019-08-25 16:45] Nikhil-Ladha commented on #192
Yeah, sure will do that as well

[2019-08-29 00:21] girishranganathan opened #232 "Fix lint issues in mesheryctl folder"
[code]
[code]

[2019-08-29 01:56] girishranganathan opened #233 "Change the load test to run asynchronously"
**Enhancement Description**
As of today the flow for submitting a load test from the UI is synchronous. This will result in timeouts when users run tests for longer duration. The flow should be changed to submit jobs asynchronously and make the UI either poll for updates (OR) use SSE (OR) websocket. SSE is the preferred route, since we are already using it.

[2019-08-30 02:04] #223 closed

[2019-08-30 13:35] girishranganathan commented on #220
fixed in #234

[2019-08-30 13:35] #220 closed

[2019-08-30 14:19] leecalcote opened #235 "Recolor service mesh icons in Management sub-menu"
**Description**
Currently, the service mesh icons (those representing Meshery adapters for each service mesh) are colored. We don't want color to indicate something that it doesn't to users. In keeping with the current UX paradigms in the project, let's recolor these icons to be the same shade of off-white as is being used by the other icons in the menu.

<img width="265" alt="Screen Shot 2019-08-

[2019-08-30 18:22] leecalcote opened #236 "UX: Separation between in-cluster and out-of-cluster configuration"
**Enhancement Description**
The current Environment configuration screen is somewhat confusing. There needs to be a clear separation between in-cluster and out-of-cluster configuration. The mockups below characterize the desired experience.

**In Cluster Configuration Mockup**
<img width="1460" alt="in-cluster" src="https://user-images.githubusercontent.com/7570704/64043097-13ee6900-cb29-11e9-9e64

[2019-09-02 15:00] leecalcote commented on #127
Completed by @anandrkskd

[2019-09-02 15:00] #127 closed

[2019-09-03 17:41] leecalcote commented on #232
Good work, @subhamkrai. :)

[2019-09-03 17:41] #232 closed

[2019-09-03 21:56] leecalcote opened #241 "GitHub Action to send notification to Slack when project is starred"
**How can we help?**
As we track the adoption and use of Meshery as an open source project, it would be nice to see notifications sent to #meshery-notifications channel when a user stars the project.

*Implementation*
Use GitHub Actions to publish to Meshery's slack account.

[2019-09-04 14:14] leecalcote commented on #216
Couple possible solutions here:

1) update the Jekyll version number in the [/docs/Gemfile](https://github.com/layer5io/meshery/blob/master/docs/Gemfile#L11) to v4.0 (or higher)

or

2) Copy the javascript and css files from a local build under the ```_site``` folder and merge into our /docs locally, so that GitHub does NOT have to dynamically pull in a remote theme when it builds. Remove the [rem

[2019-09-04 14:17] girishranganathan commented on #241
We can leverage GitHub Actions for this.
[Here](https://github.com/marketplace/actions/post-slack-message) is a GitHub Action we can leverage.
Events we can use are listed [here](https://help.github.com/en/articles/events-that-trigger-workflows#event-restrictions). Trigger on the ```watch``` event.

Repo for Meshery's Github actions - https://github.com/meshery/l5act

We have the GitHub Actions co

[2019-09-04 14:35] anandrkskd commented on #204
Yes it's working great.

[2019-09-04 15:23] girishranganathan opened #242 "Go modules apache thrift issue"
**Description**

[code]

[2019-09-04 15:26] girishranganathan commented on #242
This issue is related to this issue: https://github.com/jenkins-x/jx/issues/3320

[2019-09-04 20:39] #242 closed

[2019-09-04 20:41] leecalcote opened #245 "mesheryctl build broken after fixing lint issues."
**Description**
`mesheryctl` build broken after fixing lint issues in #238.

**make output**
[code]

[2019-09-04 20:46] leecalcote commented on #216
PR #243 was submitted to fix GitHub Pages issues with "just-the-docs" theme. Changes in PR #243 did not help the situation, but produced this issue:

![Screen Shot 2019-09-04 at 3 45 04 PM](https://user-images.githubusercontent.com/7570704/64290134-24d51b00-cf2b-11e9-8fc3-2f4c941ec0c7.png)

[2019-09-04 20:49] leecalcote commented on #216
@Nikhil-Ladha FYI - the latest supported version of Jekyll on GitHub Pages is 3.8.5 - https://pages.github.com/versions/

[2019-09-05 13:20] girishranganathan opened #247 "Lint issues caused by capital characters in error string"
**Description**

[code]

[2019-09-05 13:25] girishranganathan opened #248 "Create an adapter for Mae.sh"
**Enhancement Description**
mae.sh is a new service mesh from Containous. We need a new adapter for Mae.sh.

[2019-09-05 17:14] Nikhil-Ladha commented on #216
Sir, I have made the changes and the PR has been merged as it was approved by @girishranganathan .
Now it's looking good. You can check it once

[2019-09-05 18:43] leecalcote commented on #216
<img width="560" alt="Screen Shot 2019-09-05 at 1 26 25 PM" src="https://user-images.githubusercontent.com/7570704/64369818-be133880-cfe2-11e9-8ec7-4e3111f49330.png">

Way to be @nikhil-ladha!

[2019-09-05 20:58] girishranganathan commented on #245
#249 fixes this issue. Please feel free to reopen it if needed.

[2019-09-05 20:58] #245 closed

[2019-09-06 07:09] leecalcote commented on #248
In preparation for this effort, the “meshery-maesh” repo has been created.

[2019-09-08 14:53] leecalcote commented on #210
@sakomws you might have already completed this issue. If so, will you PR this one?

[2019-09-08 15:05] leecalcote opened #251 "Update Contributing.md with screenshot of VS Code auto signoff setting"
@nupur-thakur to help you get some practice and familiarity with `git`, GitHub, git commit signing and the contributing process, will you take the screenshot included in this issue and update Meshery's [CONTRIBUTING](https://github.com/layer5io/meshery/blob/master/CONTRIBUTING.md) instructions with it? Many of the contributors use [VS Code](https://code.visualstudio.com/), so it would be nice to i

[2019-09-12 14:33] leecalcote commented on #188
Thank you, @thehh1974! Fixed by https://github.com/meshery/meshery-octarine/pull/9

[2019-09-12 14:45] leecalcote opened #253 "mesheryctl inaccurately identifies a missing prerequisite: docker-compose"
**Description**
My system (a Mac) has Docker Desktop installed and running. When I execute `mesheryctl status`, I get an error saying that `docker-compose` is not installed. This prerequisite check is incorrect.

[code]

[2019-09-12 15:09] leecalcote opened #254 "Include setup script in goreleaser for mesheryctl"
**Enhancement Description**
When a user downloads the mesheryctl package from the [Meshery repository's releases](https://github.com/layer5io/meshery/releases), a zip/tar archive is downloaded to their local system. After the user uncompresses the zip/tar, a short deployment script  (`setup`) should be included for ease of moving the `mesheryctl` binary into their /usr/local/bin folder.

Setup Scr

[2019-09-12 15:26] leecalcote opened #255 "Update release version numbers in Meshery docs"
**Description**
The release version numbers listed in the docs are out of date based on recent renumbering of the Meshery release version numbers.

*Implementation*
The version numbers on this page (https://meshery.layer5.io/docs/installation/releases) needs to be updated to reflect the version numbers in the repo's releases page (https://github.com/layer5io/meshery/releases).

Here is the docs [r

[2019-09-13 00:41] leecalcote commented on #167
@affix  `mesheryctl` is now being automatically built and published under the Releases section of the Meshery repo - https://github.com/meshery/meshery/releases. Hopefully, this gets you what you need to tie off the brew formula for `mesheryctl`.

[2019-09-13 07:12] agarwalrohit2503 commented on #213
@leecalcote @girishranganathan  cannot understand the issue, can you please help me understand it

[2019-09-13 07:33] agarwalrohit2503 commented on #255
I have done it please have a check on it

[2019-09-13 13:27] girishranganathan commented on #213
@agarwalrohit2503 this issue is dependent on https://github.com/meshery/meshery/issues/209. We should have a sync up call with @sakomws to get you to work on this.

[2019-09-13 15:17] leecalcote commented on #253
Best way to check for presence of `docker-compose`? A `which docker-compose`? Presence of a file in `/usr/bin/` or in `/usr/local/bin`? Suggested solution is to run `docker-compose version`, which will serve the purpose of both confirming that `docker-compose` works and  guaranteeing compatibility with the version that Meshery needs.

[2019-09-13 15:18] leecalcote commented on #253
Thanks, @nunix!

[2019-09-13 20:22] girishranganathan opened #258 "Collect node level metrics from prometheus using a grafana board and use that for static board in Meshery"
**Enhancement Description**
We already have the framework for collecting & persisting metrics for a static board. The static board config we have now is just a placeholder. We have to replace that with legitimate node level metrics.

[2019-09-13 22:04] leecalcote opened #259 "UI: Make all text in "made with love" footer clickable"
**Enhancement Description**
Currently, only part of the text "Built with love by the Layer5 Community" in Meshery's footer is clickable.

<img width="286" alt="Screen Shot 2019-09-13 at 5 04 09 PM" src="https://user-images.githubusercontent.com/7570704/64897286-85a9d500-d648-11e9-9ebf-e8c857dc6c46.png">

This enhancement is to have all text in the footer and the heart (love) symbol be clickable an

[2019-09-14 16:38] leecalcote commented on #259
@ashiscs batter up! :)

[2019-09-14 17:09] leecalcote opened #264 ".travis.yml no longer needed"
**Description**
Now that the project has switched to GitHub Actions for CI, the [.travis.yml](https://github.com/layer5io/meshery/blob/master/.travis.yml) can be removed (deleted) from the project.

**Implementation**
1. Delete the .travis.yaml file from the root folder of the project.
1. Delete the .travis.yaml file from the mesheryctl folder - https://github.com/layer5io/meshery/blob/master/mesh

[2019-09-14 22:01] leecalcote opened #267 "Examine and consider implementing the CII best practices "passing" checklist"
See - https://github.com/coreinfrastructure/best-practices-badge#summary-of-best-practices-criteria-passing-level

[2019-09-15 05:26] leecalcote commented on #264
Fixed by #266

[2019-09-15 12:11] leecalcote opened #269 "Eliminate Meshery code check (lint) failures"
**Description**
Meshery is failing lint checks when building. Currently, these checks are not passing:

[code]

**Expected Behavior**
All lint checks should pass.

See an example of these failures here - https://github.com/layer5io/meshery/pull/257/checks?check_run_id=220906225

[2019-09-15 12:14] leecalcote commented on #267
Related to https://github.com/meshery/meshery/issues/43

[2019-09-15 12:17] leecalcote opened #270 "Create new Meshery project site at https://meshery.io"
**Enhancement Description**
Currently, https://layer5.io/meshery serves at the main project page. As a project Meshery has grown significantly - to the point that it needs its own project. The domain "meshery.io" has been reserved for this purpose.

**Good Example Sites:**

- https://dapr.io
- any of the CNCF Projects
   - https://www.cncf.io/projects/ (graduated / incubating)
   - https://www.cnc

[2019-09-15 16:17] donnisnoni95 commented on #264
Then close it

[2019-09-16 15:53] girishranganathan commented on #197
I will try to explain the steps needed to add this application as a sample, please feel free to propose changes:

~1. checkout the https://github.com/GoogleCloudPlatform/microservices-demo repo: `git clone https://github.com/GoogleCloudPlatform/microservices-demo`~
~1. install skaffold following instructions from: `https://skaffold.dev`~
~1. from inside the checked out folder `microservices-demo`

[2019-09-16 15:54] subhamkrai commented on #197
Okay

[2019-09-17 15:08] ashiscs commented on #259
import React from 'react';
import App, { Container } from 'next/app';
import Head from 'next/head';
import { MuiThemeProvider, createMuiTheme, withStyles } from '@material-ui/core/styles';
import CssBaseline from '@material-ui/core/CssBaseline';
import getPageContext from '../components/PageContext';
import Navigator from '../components/Navigator';
import Header from '../components/Header';
import

[2019-09-17 15:17] ashiscs commented on #259
https://github.com/ashiscs/web-dev/commit/bc206f8790afe730236569f28f8672e1d5ae2946

[2019-09-17 15:19] ashiscs commented on #259
Sorry sir,but i have uploaded the updated file on my repo.
After you check it,i will delete it from my repo so no one sees it.

[2019-09-17 15:21] leecalcote commented on #259
@ashiscs [these changes](https://github.com/ashiscs/web-dev/commit/bc206f8790afe730236569f28f8672e1d5ae2946#diff-6c02fb343306b1c2b775f53d779226ddR361-R362) look good to me.

[2019-09-18 01:25] leecalcote opened #271 "Install: Adapters Detect Existing Mesh"
**Description**
Whether a user is running Meshery in or out of a cluster, it does not require users to configure connections to its adapters. In the same fashion that Meshery is cognizant of its own adapters, establishes connection to them and verifies their status, so too, should Meshery use its adapters to detect the presence of a previously deployed service mesh. To facilitate time-to-value in

[2019-09-18 01:31] leecalcote opened #272 "Install: Automatically Connect to Kubernetes"
**Description**
Whether a user is running Meshery in or out of a cluster, it does not require users to configure connections to its adapters. Meshery is be cognizant of its own adapters, establish connection and verify their status. In this same fashion, so should Meshery verify connectivity to Kubernetes as and when Meshery detects or is presented with (user uploads) a kubeconfig file.

**Behavio

[2019-09-18 01:40] leecalcote opened #273 "Grafana Board retrieval timing out"
**Description**
After connecting to a Grafana endpoint, when clicking the Boards drop-down, no indicator is shown that the user's request is being executed and no boards are listed in the drop-down.

This operation takes a long time and appears to the user as if it is failing / timing out.

**Expected Behavior**
1. User should see a waiting indicator.

**Screenshots**
<img width="864" alt="Screen

[2019-09-18 12:39] leecalcote opened #275 "Octarine Adapter docs"
**Description**
The Octarine adapter needs explanation and instructions provided to readers of the Meshery docs - https://meshery.layer5.io/docs/installation/adapters/octarine

@thehh1974 would you be kind enough to update the Meshery docs in this regard using the [documentation contribution instructions](https://github.com/layer5io/meshery/blob/master/CONTRIBUTING.md#documentation-contribution-fl

[2019-09-18 12:51] leecalcote opened #276 "Add Kuma adapter to Meshery docs"
*Description*
Meshery's adapter for Kuma is in an alpha state - https://github.com/layer5io/meshery-kuma - and needs represented in the Meshery docs.

*Implemenation*
1. create a new adapter page
1. add to list here - https://meshery.layer5.io/docs/adapters

[2019-09-18 12:53] leecalcote opened #277 "List Meshery Adapters not in alphabetical order"
**Description**
The list of Meshery adapters in the docs menu are not in alphabetical order. See https://meshery.layer5.io/docs/adapters and the screenshot below.

**Expected Behavior**
The menu should list the adapter in alphabetical order.

**Screenshots**
<img width="280" alt="Screen Shot 2019-09-18 at 7 52 56 AM" src="https://user-images.githubusercontent.com/7570704/65150265-66fd6280-d9e9-11e

[2019-09-18 12:58] leecalcote opened #278 "Docs: Identify version of each supported service mesh"
**Enhancement Description**
Meshery docs has a [table listing its adapters](https://meshery.layer5.io/docs/adapters) and the version of each service mesh that it supports. This table has a column for service mesh version. This version field needs to be filled in like so:

| Istio | v.1.0 and above |
| Consul | v1.5 |
| Linkerd | v2.3 and above |

...and the rest.

[2019-09-19 04:46] #254 closed

[2019-09-19 04:47] subhamkrai commented on #254
closed issue #254

[2019-09-19 10:59] leecalcote commented on #276
Fixed by #279

[2019-09-19 14:16] leecalcote opened #280 "mesheryctl should pull lastest docker-compose"
**Description**
```vars.go``` in mesheryctl hardcodes a specific version of `docker-compose` to retrieve and install. Here is the line:

[code]

[2019-09-19 15:44] leecalcote commented on #204
Thanks @subhamkrai and @anandrkskd!

[2019-09-19 15:44] #204 closed

[2019-09-19 17:05] #91 closed

[2019-09-20 00:04] leecalcote opened #282 "Improve meshery code base by fixing lint issues"
**Description**
See all Meshery lint issues here - https://github.com/layer5io/meshery/pull/281/checks?check_run_id=229200619#step:4:236

[code]

**Expected Behavior**
No lint issues.

[2019-09-20 00:41] leecalcote commented on #258
Fixed by #281

[2019-09-20 00:41] #258 closed

[2019-09-20 00:42] leecalcote commented on #253
Fixed by #239 #240

[2019-09-20 00:42] #253 closed

[2019-09-20 12:18] leecalcote opened #284 "Establish Meshery Release Channels"
**Enhancement Description**
In accordance with the [Build & Release Strategy](https://docs.google.com/document/d/11nAxYtz2SUusCYZ0JeNRrOLIxkgmmbUVWz63MBZV2oE/edit), implement two release channels for all of Meshery's artifacts: meshery, mesheryctl, meshery adapters.

 - "stable" and "edge" channels

[2019-09-20 13:57] leecalcote commented on #113
@sakomws do we have anything left to document or improve upon?

[2019-09-20 14:33] #241 closed

[2019-09-20 14:33] leecalcote commented on #216
Fixed

[2019-09-20 14:33] #216 closed

[2019-09-20 14:34] leecalcote commented on #264
Good work here. We need to remove travis.yml from other Mesheryio repos as well.

[2019-09-20 14:34] #264 closed

[2019-09-20 15:46] Nikhil-Ladha opened #287 "Changing notification color for completed process"
Currently, when an adapter has completed the installation the notification color is more like an "info" rather than a success. It should be changed to success notification.

[2019-09-20 16:16] girishranganathan opened #288 "Release bundles for Mac and Linux are not working as expected"
**Description**
tar.gz for Mac and Linux packages are not working. But the windows zip archive seems to work well.

It might be better to make zip the default format

[2019-09-20 17:40] leecalcote commented on #287
@Nikhil-Ladha you captured this well.

[2019-09-20 19:53] leecalcote opened #289 "Add Octarine adapter to list of Meshery adapters"
*Description*
Meshery's adapter for Octarine is in an alpha state - https://github.com/layer5io/meshery-octarine - and needs represented in the Meshery docs.

*Implemenation*
1. create a new adapter page
1. add to list here - https://meshery.layer5.io/docs/adapters

[2019-09-20 19:58] leecalcote commented on #282
@ashiscs @gunjanmimo this may help in your efforts - https://goreportcard.com/report/github.com/meshery/meshery

[2019-09-21 20:03] gunjanmimo commented on #278
sir, please check, is it done or  i should change something else

[2019-09-23 00:36] leecalcote opened #290 "Meshery build status badge defunct"
**Description**
The Meshery project recently switched from TravisCI to GitHub Actions. As such, each of the Meshery repositories need the *build* badges in their [README](blob/master/README.md)s updated. Badges from shields.io are mostly used across the repositories, however, shields.io support for GitHub Actions badge [seems pending](https://github.com/badges/shields/issues/2574). A number of sol

[2019-09-23 00:37] leecalcote commented on #290
@soc1c we would love your help here! :)

If interested further in Meshery, don't hesitate to request access to or join any of the resources here - http://layer5.io/meshery/#community

[2019-09-23 09:35] sakows commented on #209
https://github.com/meshery/meshery/pull/291

[2019-09-23 11:31] leecalcote commented on #278
@gunjanmimo the changes you made in the related PR we’re just what we were looking for. Good stuff. We’re good to close this issue.

Fixed by #283.

[2019-09-23 11:31] #278 closed

[2019-09-24 21:32] leecalcote commented on #213
@agarwalrohit2503 mockups have been added to this issue.

[2019-09-25 05:05] leecalcote commented on #255
Fixed by #257. Thank you, @agarwalrohit2503! :)

[2019-09-25 05:05] #255 closed

[2019-09-25 14:22] girishranganathan commented on #280
@anandrkskd, lets use Go http.Get to make the call to find the latest version of docker compose and use that in the rest of the flow

[2019-09-25 14:24] girishranganathan commented on #272
@anandrkskd, we are already using client-go Kubernetes library for working with Kubernetes config file. We need to create a method which will make a call to get the kubernetes version and/or nodes.
And then use this for 2 things: 1. in the addK8sConfig method in the k8sconfig handler file, around line 103, 2. create a new handler which will be used to do an adhoc test.

[2019-09-25 14:28] girishranganathan commented on #287
I will take look at it and get back to you.

[2019-09-26 20:15] leecalcote commented on #290
@soc1c come back! ;)

[2019-09-27 04:20] #290 closed

[2019-09-27 10:49] girishranganathan commented on #288
We have switched to binaries now.

[2019-09-27 10:49] #288 closed

[2019-09-27 18:12] #276 closed

[2019-09-27 19:05] leecalcote opened #304 "Collapsable Navigation Menu"
**Enhancement Description**
As a user, I sometimes prefer to collapse the lefthand side navigation menu to only show icons and sometime prefer to see the full menu with labels for each navigation menu item.

**Example**
![Untitled](https://user-images.githubusercontent.com/7570704/65795310-96217b80-e12f-11e9-81cd-ebe88650af52.gif)

**Implementation**
- [ ] A new icon will need to be added to denot

[2019-09-29 14:33] ashiscs commented on #273
Sir,can you provide me the link of this code,so that i could update it?

[2019-09-29 19:39] leecalcote commented on #273
@girishranganathan

[2019-09-30 00:27] leecalcote commented on #273
@ashiscs I believe that the population of the MUISelect on this page starts here in React:

https://github.com/meshery/meshery/blob/75871e1f0ca25803ad3a7dad8526ef163e774b24/ui/components/GrafanaSelectionComponent.js#L49

and is handled by this javascript component:

https://github.com/meshery/meshery/blob/75871e1f0ca25803ad3a7dad8526ef163e774b24/ui/components/GrafanaComponent.js#L153

and is backe

[2019-09-30 22:01] #251 closed

[2019-09-30 22:13] leecalcote opened #308 "Add contribution instructions on how to bring local branches to HEAD on master branch."
**Issue Description**
Contributors who checkout a feature branch to from `master` regularly fall prey to errant code changes showing up in their subsequent pull requests based on other contributors' PRs being merged with other commits while the first developer is working on a local (now outdated) copy of master in their feature branch. Feature branches need to be brought up to speed (up to the lat

[2019-09-30 23:22] girishranganathan commented on #273
That looks right. A simpler strategy would be to first try increasing the timeouts for these calls.

[2019-09-30 23:30] leecalcote commented on #273
@girishranganathan assuming this is the timeout setting for getting these boards - https://github.com/meshery/meshery/blob/75871e1f0ca25803ad3a7dad8526ef163e774b24/ui/components/GrafanaComponent.js#L85, what sort of timeout is appropriate? We'll need to show the user an indicator that the system is performing action. We may need to point @ashiscs in the direction of this activity indicator.

[2019-09-30 23:55] girishranganathan commented on #222
I have attempted to fix this in PR #309. Closing for now. Please reopen as needed.

[2019-09-30 23:55] #222 closed

[2019-10-01 05:56] ashiscs commented on #289
Resolved #289

[2019-10-01 06:29] subhamkrai opened #310 "Update CONTRIBUTING.md in each repo"
update contributing.md in each repo which redirects to main meshery repo’s CONTRIBUTING.md with an updated youtube link.

[2019-10-01 21:29] leecalcote commented on #277
We'll need to use ```nav_order``` in order to alphabetically organize pages. See https://pmarsceill.github.io/just-the-docs/docs/navigation-structure/#ordering-pages

[2019-10-01 21:31] #277 closed

[2019-10-01 21:40] leecalcote commented on #310
Fixes #310

[2019-10-02 00:15] mcastre commented on #304
I can help you with this!

[2019-10-02 02:42] leecalcote commented on #304
@mcastre that would be just lovely. Yes, please. Here's a quick guide to [contributing](https://github.com/meshery/meshery/blob/master/CONTRIBUTING.md) (note the steps specific to the UI).

Be sure to see the [Meshery Contributors Welcome Guide](https://docs.google.com/document/d/17OPtDE_rdnPQxmk2Kauhm3GwXF1R5dZ3Cj8qZLKdo5E/edit) and join this Slack, so that you might get to know more of the commu

[2019-10-02 15:17] mcastre commented on #304
Thanks @leecalcote! I'll get right on it!

[2019-10-02 15:30] girishranganathan opened #320 "Opening browser does not work on Windows + WSL2"
**Description**
mesheryctl.exe on windows does not open the browser after all the services are up and running. We should detect Windows as the OS and use `start` or `execute` to open http://localhost:9081.

[2019-10-02 19:43] JayWelsh commented on #221
@leecalcote Was this not fixed by #229 ?

[2019-10-03 02:19] girishranganathan commented on #272
quick execution plan:
- write a method which will get the nodes info
- update code in all places to persist the node info as part of k8s config and ping (yet to be implemented), etc.
- when running load test package this node info will be reobtained (just to ensure it is up to date) and bundled together along with the test results (not the metrics)

[2019-10-03 02:23] girishranganathan opened #321 "Kubernetes Scan"
**Enhancement Description**
Ability to scan Kubernetes to understand the environment:
- we can write a method to scan all the deployments (along with images) across all namespaces
- and send this to the UI as part of the initial page load/ after everytime a change is executed on the cluster 0 remember that this step can take much longer on large clusters. . . . may be use SSE??? or switch everythi

[2019-10-03 03:18] leecalcote commented on #221
@JayWelsh, good catch! You’re right. Closing this issue...

[2019-10-03 03:18] #221 closed

[2019-10-03 21:15] #308 closed

[2019-10-03 23:11] girishranganathan commented on #320
@anandrkskd can you please knock this one out?

[2019-10-03 23:12] girishranganathan commented on #304
@mcastre assigning the issue so that no one else will accidentally work on the same. . . 🙂

[2019-10-03 23:13] girishranganathan commented on #271
This is related to #321, just realized it.

[2019-10-03 23:15] girishranganathan commented on #247
This is closed by recent linter change.

[2019-10-03 23:15] #247 closed

[2019-10-03 23:18] girishranganathan commented on #224
This is same as #272. I will close in favour of #272.

[2019-10-03 23:18] #224 closed

[2019-10-04 12:30] leecalcote commented on #310
Thanks, @subhamkrai .

[2019-10-04 12:30] #310 closed

[2019-10-04 12:31] leecalcote commented on #275
Thanks, @thehh1974

[2019-10-04 12:31] #275 closed

[2019-10-04 12:37] leecalcote opened #326 "Installation: Default to out of cluster config when config is not present"
**Description**
Meshery currently defaults to an in cluster configuration setting when it cannot locally discover a kubeconfig.

**Expected Behavior**
Meshery should be set to "in cluster config" only when this is determined to be true. Otherwise, Meshery should default to "out of cluster config".

**Screenshots**
![Screen Shot 2019-10-04 at 7 36 45 AM](https://user-images.githubusercontent.com/75

[2019-10-04 12:57] girishranganathan commented on #326
@leecalcote, I have a fix for this in a branch. It will get fixed as part of the other pieces I am working on.

[2019-10-04 13:21] leecalcote opened #327 "UI: Icons for service mesh operations"
**Enhancement Description**
In each of the service mesh adapter's management page, there are several categories of operations that may be performed against a given service mesh. Intuitive icons are needed for  each of the categories of operation:

- install / delete service mesh - provision or deprovision an entire service mesh.
- install / delete sample applications - onboard or offboard an appli

[2019-10-04 17:18] leecalcote opened #328 "Improve publishing of mesheryctl releases"
**Enhancement Description**
Currently `mesheryctl` is published to the Meshery repo's releases area on GitHub under different architectures. The Meshery binary carries metadata indicating the large architecture for which it was built. It would be more convenient to the user if the `mesheryctl` binary's filename was just that (`mesheryctl`) and didn't include the target arch in its name.

[2019-10-04 17:42] girishranganathan commented on #273
Hey guys, the `setTimeout` is not the right spot for a potential fix.

One thing we can try out is to change the &http.Client{} here: https://github.com/meshery/meshery/blob/aa9f143f7b1099b8f450a30e4ae82b0b87bb3937/helpers/grafana.go#L44
to
[code]
and see if this helps with the issue.

If not, we will have to go the pagination route using the `page` and `limit` query params described here, which I

[2019-10-05 06:24] anandrkskd commented on #320
Yes sure sir,

[2019-10-05 19:01] houshym opened #329 "link broken"
https://meshery.layer5.io/docs/installation.md    does not works

[2019-10-05 19:29] leecalcote commented on #329
@gunjanmimo @ashiscs could one of you have a look here?

[2019-10-05 19:48] gunjanmimo opened #330 "a img is not loaded"
in the contribution section, an image is not loaded at [https://meshery.layer5.io/docs](https://meshery.layer5.io/docs)
@leecalcote is it an issue?
![Screenshot (16)_LI](https://user-images.githubusercontent.com/46948185/66260062-32eeb380-e7d7-11e9-92f4-51ae77927021.jpg)

[2019-10-05 20:35] ashiscs opened #332 "Naming Error in grafana.go"
In meshery/helpers/grafana.go there is some naming variable error
![Screenshot (86)_LI](https://user-images.githubusercontent.com/49238464/66260562-b14e5400-e7dd-11e9-8264-0a04a282111a.jpg)

[2019-10-05 20:46] #332 closed

[2019-10-06 03:02] leecalcote commented on #330
@gunjanmimo good catch. Yes, this is an issue. From what I can tell, this link wasn't intended to be an image, but simply a hyperlink. Yes, it needs fixed.

[2019-10-06 19:31] leecalcote commented on #273
Thanks, @ashiscs. #335 partially fixes. We're in need of adding a waiting indicator, so that the user knows an operation is being performed.

[2019-10-07 16:59] gunjanmimo commented on #330
sir @leecalcote #336 I solved this problem

[2019-10-07 22:09] antweiss opened #337 "Istio installation - convert SMI and mTLS into checkbox options in the UI"
**Enhancement Description**
Quoting @leecalcote :
The ideal solution here is ... for an "enable SMI" to be a checkbox be presented as a choice (later to be enabled by default) when deploying Istio. The same goes for "enable mTLS" as a checkbox choice.
This can be further developed into choosing additional Istio configurations like a 'minimal configuration' or others featured here for example:  htt

[2019-10-07 23:31] wdtamagi commented on #199
Can I work on this?

[2019-10-07 23:33] leecalcote commented on #199
@wdtamagi yes, please. That would be lovely.

[2019-10-07 23:35] leecalcote commented on #199
@wdtamagi if you'll jump on this Slack, we'll be sure to get you engaged in the community and any help that you need— http://slack.meshery.io

[2019-10-07 23:41] wdtamagi commented on #199
Thanks @leecalcote !

[2019-10-08 13:17] leecalcote commented on #329
@houshym thanks for opening this issue. Do you recall where you found the link to https://meshery.meshery.io/docs/installation.md? Links to this page should be pointing to https://meshery.meshery.io/docs/installation (without the .md). If there is a page that has the .md link listed, @ashiscs, we'll need to remove the .md.

[2019-10-08 13:27] houshym commented on #329
i will try to find this page. But it was on minikube installation page and
in third step

On Tue, Oct 8, 2019 at 6:17 AM Lee Calcote <notifications@github.com> wrote:

[2019-10-08 14:02] #329 closed

[2019-10-08 14:50] #330 closed

[2019-10-08 18:57] #199 closed

[2019-10-09 03:38] l5io opened #345 "Improve the custom 404 page in Meshery docs"
It would be nice if the [custom 404 page](docs/404.html) in Meshery docs included a bit of related humor like:

- "Oh, no. Please pardon our meshy site."
- "Oops. Please excuse the mesh."

[2019-10-09 13:11] mcastre commented on #327
Hey @leecalcote i can help you with this! Do you just want the icons or would you like them added to the UI as well?

[2019-10-09 17:50] leecalcote commented on #327
@mcastre that would be just lovely. Yes, both. We're in need of identifying (or creating) representatives icons, and in turn, adding them to the UI.

We generally seek to pull from here:
- https://materialdesignicons.com
- https://material-ui.com/components/material-icons
- https://fontawesome.com

Or just make a new one like this - [PR 292](https://github.com/layer5io/meshery/pull/292) - [perform

[2019-10-10 04:02] leecalcote commented on #139
Opening up for an easy Hacktoberfest win for someone...

[2019-10-10 05:34] Nikhil-Ladha commented on #139
Can i go for it @leecalcote sir?

[2019-10-10 09:48] leecalcote commented on #139
Absolutely, @Nikhil-Ladha

[2019-10-10 16:45] girishranganathan opened #351 "Show the result in a modal in a tabular format"
**Enhancement Description**
The `Results` page in Meshery is showing the last load test runs in a tabular format. When a row of result is selected no action is taken at the moment. The end users have a way to expand the row to see the results in a chart.
It will be nice to have the ability to click on the result row and see the results in a tabular fomat on a modal.
![Meshery](https://user-images.

[2019-10-10 18:25] girishranganathan opened #352 "Add more documentation on the steps in the Makefile like `make docker`"
**Enhancement Description**
It will be helpful to the contributors if the `Makefile` has a little more documentation around the different steps so that they are informed of what is really happening when they execute each `make` command.

[2019-10-10 18:28] girishranganathan opened #353 "Create modal to display performance test results"
*Current Behavior*
Performance results are show in the /results page and intermix both a line graph and metadata about the test. This text is hard to read and not well-structured. See screenshot.

*Current Behavior Screenshot*
<img width="1340" alt="Current" src="https://user-images.githubusercontent.com/7570704/66600999-74cb8100-eb6c-11e9-8247-a27edf63dbd2.png">

*Enhancement Description*
This en

[2019-10-10 18:32] girishranganathan opened #354 "Displace read-only adapter field with an interactive adapter chip."
**Enhancement Short Description**
Displace read-only adapter field with an interactive adapter chip.

**Current Behavior**
_Context:_
When Meshery connects to one of its adapters, users see those adapters represented as a chiclet in the Dashboard view (see screenshot). Users also see menu items representing each adapter in the navigation menu on the lefthand side.

<img width="1353" alt="current"

[2019-10-10 19:14] leecalcote commented on #352
@girishranganathan thank you! @mcastre as you go through this, I wonder if your notes on the subject might not make for a great update to the comments in the file.

[2019-10-10 23:09] girishranganathan opened #355 "Switch to the new Docker Github action in Meshery-istio repo"
**Description**
Since last Monday (7th October 2019) the default Docker GitHub action stopped working because the repo was deleted. We have migrated to a different docker GitHub action in the Meshery repo.
We need to replace the entire Docker block in `Meshery-istio` repo's https://github.com/layer5io/meshery-istio/blob/master/.github/workflows/ci.yml file with the one from the `Meshery` repo (htt

[2019-10-10 23:13] girishranganathan opened #356 "Switch to the new Docker Github action in Meshery-linkerd repo"
**Description**
Since last Monday (7th October 2019) the default Docker GitHub action stopped working because the repo was deleted. We have migrated to a different docker GitHub action in the Meshery repo.
We need to replace the entire Docker block in `Meshery-linkerd` repo's https://github.com/layer5io/meshery-linkerd/blob/master/.github/workflows/ci.yml file with the one from the `Meshery` repo

[2019-10-10 23:15] girishranganathan opened #357 "Switch to the new Docker Github action in Meshery-consul repo"
**Description**
Since last Monday (7th October 2019) the default Docker GitHub action stopped working because the repo was deleted. We have migrated to a different docker GitHub action in the Meshery repo.
We need to replace the entire Docker block in `Meshery-consul` repo's https://github.com/layer5io/meshery-consul/blob/master/.github/workflows/ci.yml file with the one from the `Meshery` repo (h

[2019-10-10 23:18] girishranganathan opened #358 "Switch to the new Docker Github action in Meshery-kuma repo"
**Description**
Since last Monday (7th October 2019) the default Docker GitHub action stopped working because the repo was deleted. We have migrated to a different docker GitHub action in the Meshery repo.
We need to replace the entire Docker block in `Meshery-kuma` repo's https://github.com/layer5io/meshery-kuma/blob/master/.github/workflows/ci.yml file with the one from the `Meshery` repo (https

[2019-10-10 23:19] girishranganathan opened #359 "Switch to the new Docker Github action in Meshery-octarine repo"
**Description**
Since last Monday (7th October 2019) the default Docker GitHub action stopped working because the repo was deleted. We have migrated to a different docker GitHub action in the Meshery repo.
We need to replace the entire Docker block in `Meshery-octarine` repo's https://github.com/layer5io/meshery-octarine/blob/master/.github/workflows/ci.yml file with the one from the `Meshery` rep

[2019-10-10 23:21] girishranganathan opened #360 "Switch to the new Docker Github action in Meshery-nsm repo"
**Description**
Since last Monday (7th October 2019) the default Docker GitHub action stopped working because the repo was deleted. We have migrated to a different docker GitHub action in the Meshery repo.
We need to replace the entire Docker block in `Meshery-nsm` repo's https://github.com/layer5io/meshery-nsm/blob/master/.github/workflows/ci.yml file with the one from the `Meshery` repo (https:/

[2019-10-10 23:22] girishranganathan opened #361 "Switch to the new Docker Github action in Meshery-app-mesh repo"
**Description**
Since last Monday (7th October 2019) the default Docker GitHub action stopped working because the repo was deleted. We have migrated to a different docker GitHub action in the Meshery repo.
We need to replace the entire Docker block in `Meshery-app-mesh` repo's https://github.com/layer5io/meshery-app-mesh/blob/master/.github/workflows/ci.yml file with the one from the `Meshery` rep

[2019-10-10 23:23] girishranganathan opened #362 "Switch to the new Docker Github action in Meshery-maesh repo"
**Description**
Since last Monday (7th October 2019) the default Docker GitHub action stopped working because the repo was deleted. We have migrated to a different docker GitHub action in the Meshery repo.
We need to replace the entire Docker block in `Meshery-maesh` repo's https://github.com/layer5io/meshery-maesh/blob/master/.github/workflows/ci.yml file with the one from the `Meshery` repo (htt

[2019-10-10 23:39] girishranganathan opened #363 "YAML editor's linting capability is broken"
**Description**
The YAML editor's linter is not working as it used to.

**Steps to reproduce**
- Open the browser & connect to Meshery
- Once Kubernetes is configured and any adapter is connected, you should see the adapter show up in the left nav menu
- go to the adapter's management page
- there click on the play icon on the `Custom Config` card
- in the modal, in the text area we should be able

[2019-10-11 17:57] Pika1998 commented on #353
i would like to work on this

[2019-10-11 18:30] GenericStudent commented on #356
Already resolved in commit [1588d704f95cfccedca157dc8e5930376c733e57](https://github.com/meshery/meshery-linkerd/commit/1588d704f95cfccedca157dc8e5930376c733e57?diff=unified)

[2019-10-11 18:31] GenericStudent commented on #355
Resolved by PR [31](https://github.com/meshery/meshery-istio/pull/31)

[2019-10-11 18:59] leecalcote commented on #355
Awesome. :) Thank you, @GenericStudent!

[2019-10-11 19:02] leecalcote commented on #353
Excellent! Yes, please, @Pika1998. :)

[2019-10-11 19:07] leecalcote commented on #353
@Pika1998 join this [Slack](http://slack.meshery.io) and we'll get you introduced to others in [the community](https://layer5.io/meshery/#community) and contributor resources you might need, like the [Meshery Newcomer Welcome Guide](https://docs.google.com/document/d/17OPtDE_rdnPQxmk2Kauhm3GwXF1R5dZ3Cj8qZLKdo5E/edit) (request access).

[2019-10-11 20:08] leecalcote opened #366 "UI: Line wrapping in mobile view"
**Description**
When Meshery is viewed in a mobile-sized browser window, the global navigation menu, which normally sits in the upper lefthand corner (see desktop screenshot) is **sometimes** wrapped onto a new line under the page title (see mobile screenshot).

**Expected Behavior**
Global navigation should remain on the same line as the page title. See mockup.

**Screenshots**
_Desktop_
<img wid

[2019-10-11 20:08] leecalcote commented on #366
@mcastre will you validate that this is in fact a bug? I can't reproduce on my system while using either Safari or Chrome...

[2019-10-11 20:19] mcastre commented on #366
Yes, it seems to be happening after <466px. The smallest screen size a user might have will be 320px. While we could account for cleaning up the UI on a screen thats 320px wide, we would be forced to sacrifice some of the elements, perhaps the 'Dashboard' text in the bar. I would think we can get away with fixing the nav bar between 400px and 600px. After 400, the rest of the UI starts to break.

[2019-10-11 20:20] mcastre commented on #366
I can work on this bug since i figured out the fix for it already haha

[2019-10-11 20:30] mcastre commented on #352
After running `make docker` cmd, Docker built the image successfully. I couldn't figure out what the next docker cmd was to run the image. @girishranganathan told me to run the normal `make run-local` cmd to start up the server and that worked. I was able to run the UI and the server.

However, i did notice that when i ran `docker ps`, the new image was not running. The first time i got docker run

[2019-10-12 00:10] girishranganathan opened #367 "Detect, identify and catalog meshes and their workloads"
**Current Behavior**
When a user runs a performance test, Meshery allows the user to self-identify the type and version of the service mesh that the perf test will run against.

**Desired Behavior**
While most users will exercise diligence and accurately identify their service mesh, Meshery should not rely on the user to do so. Instead, Meshery needs to discover the service mesh and it's workloads

[2019-10-13 17:06] leecalcote commented on #197
@subhamkrai do you have any outstanding changes left on https://github.com/meshery/meshery-istio/pull/19? @girishranganathan, I think we're ready for a final review of PR19.

[2019-10-13 18:03] leecalcote commented on #362
@ashiscs I think you are addressing this one. Will you ensure that your PR has a reference to this issue?

@girishranganathan to date, we've been opening adapter-specific issues within their respective repos.

[2019-10-13 18:05] leecalcote commented on #353
@Pika1998 just message in Slack when you dive in here, so that we can assist if needed. :)

[2019-10-13 18:06] prafulla-codes commented on #353
Hey sorry I am finding it a bit hard to understand the code

On Sun, 13 Oct 2019, 11:35 pm Lee Calcote, <notifications@github.com> wrote:

[2019-10-13 18:12] ashiscs commented on #362
https://github.com/meshery/meshery-maesh/pull/14
Fixed #362

[2019-10-13 19:25] leecalcote commented on #353
@Pika1998 no problem. Join this Slack (http://slack.meshery.io) and a community member will help. // @Nikhil-Ladha

[2019-10-14 02:50] girishranganathan opened #369 "Adapter capabilities should be refreshed when loading Meshery"
**Description**
At the moment adapter capabilities are persisted in the local badger store. Along with the other configs it is loaded from the store. We should probably only persist the adapter URL and let Meshery fetch the adapter capabilities at run time.

[2019-10-14 04:12] #355 closed

[2019-10-14 04:13] leecalcote commented on #356
@girishranganathan let's move this series of issues to their respective repos.

[2019-10-14 04:13] #356 closed

[2019-10-15 01:56] mcastre commented on #304
@leecalcote can we close this issue? Im not sure but Hacktoberfest isnt counting this PR as completed

[2019-10-15 02:57] leecalcote commented on #304
@mcastre absolutely. Yes. Thanks for your good work here.

[2019-10-15 02:57] #304 closed

[2019-10-15 16:18] girishranganathan commented on #326
This was fixed with a recent PR.

[2019-10-15 16:18] #326 closed

[2019-10-15 16:19] girishranganathan commented on #46
This was accomplished with a recent PR.

[2019-10-15 16:19] #46 closed

[2019-10-15 16:20] girishranganathan commented on #321
closing this in favour of #271

[2019-10-15 16:20] #321 closed

[2019-10-15 16:37] kdelee commented on #112
@leecalcote FWIW I set up a cluster in GKE and got kubectl configured to talk to it. Many things seemed to work but whenI clicked button on main meshery console page to test connnection with the cluster, I get a red pop up error and this in the logs of the meshery container:

![Screenshot from 2019-10-15 12-35-14](https://user-images.githubusercontent.com/29239279/66851269-6ef8e580-ef48-11e9-8c1f-

[2019-10-15 21:09] chrisevett opened #371 "update meshery deployments to support k8s 1.16+"
**Enhancement Description**
meshery deployments need to update to have the apps/v1 apiversion in order to run on k8s 1.16

I will have a PR open on this shortly

[2019-10-16 12:11] leecalcote commented on #112
@kdelee thank you! This is very helpful. 😊

@sakomws do you have any time to be able to dig in here? Or @kdelee if you're inclined, we'd love for you to take a further crack at this as well.

[2019-10-16 14:46] anandrkskd opened #373 "Switching meshery bash script to mesheryctl"
**Enhancement Description**
Today meshery bash script is used to communicate with meshery, which is going to be replaced by mesheryctl command line tool written in golang to perform the same.

**Challenges**
1. Replacing meshery by mesheryctl.
2. Changes in meshery/docs according to mesheryctl
3. Changes in [meshery](layer5.io/meshery) according to mesheryctl

[2019-10-16 18:01] mcastre commented on #366
@girishranganathan i got a PR in for the fix. https://github.com/meshery/meshery/pull/370

[2019-10-16 23:59] #192 closed

[2019-10-17 00:02] leecalcote commented on #219
Thank you, @Nikhil-Ladha

[2019-10-17 02:58] #358 closed

[2019-10-17 02:59] #362 closed

[2019-10-17 03:01] leecalcote commented on #361
Closed by https://github.com/meshery/meshery-app-mesh/pull/13

[2019-10-17 03:01] #361 closed

[2019-10-17 03:02] #357 closed

[2019-10-17 03:03] leecalcote commented on #354
@Nikhil-Ladha is a great resource here should you have questions @ashiscs

[2019-10-17 03:23] leecalcote opened #374 "Settings UI: Five small fixes to Cluster configuration."
**Description**
See screenshot for description of five requested changes.

**Screenshots**
![Screen Shot 2019-10-16 at 8 31 19 PM](https://user-images.githubusercontent.com/7570704/66975300-b6c05f80-f063-11e9-9d95-b578feb72ef6.png)

[2019-10-17 15:19] mcastre commented on #366
@leecalcote looks like the PR for this issue was merged!

[2019-10-18 12:41] leecalcote commented on #259
@PseudoNerd, yes, it is. We'd love to have you jump in here!

Join http://slack.meshery.io to connect with other contributors.

[2019-10-18 12:51] #366 closed

[2019-10-18 12:54] leecalcote opened #375 "Page title catching and line wrap"
**Description**
Two issues with page titles:
1) multi-line wrapping when there's much room left for the page title to remain on one line.
2) a bit of caching of the page title. The page title seems to go stale as you navigate from screen to screen.

**Screenshot**
![Screen Shot 2019-10-16 at 10 47 25 PM](https://user-images.githubusercontent.com/7570704/66976663-54b62900-f068-11e9-9a75-b39cac471cf

[2019-10-18 13:34] girishranganathan opened #376 "mesheryctl is downloading the docker-compose yaml every time `start` is invoked"
**Description**
- mesheryctl is downloading the docker-compose yaml from GitHub during every invocation of `mesheryctl start` or `mesheryctl stop` or ``. If users have a local change, it gets overwritten.
- `mesheryctl update` and `mesheryctl logs` is not downloading the docker-compose.yml if it is not found in the $HOME/.meshery
- if the meshery.yaml file is not present, we get an error message t

[2019-10-18 14:03] girishranganathan commented on #351
duplicate of #353

[2019-10-18 14:03] #351 closed

[2019-10-18 14:15] #360 closed

[2019-10-18 14:15] girishranganathan commented on #360
This is completed.

[2019-10-18 14:16] girishranganathan commented on #359
It is now complete.

[2019-10-18 14:16] #359 closed

[2019-10-18 14:42] girishranganathan commented on #117
We now have a adapter.

[2019-10-18 14:42] #117 closed

[2019-10-18 14:43] #63 closed

[2019-10-18 20:13] leecalcote commented on #117
Yaaaaeeessss.

[2019-10-21 17:11] girishranganathan opened #378 "mesheryctl status on windows looks bad"
**Description**
`mesheryctl status` command output on linux or Mac seems to presented better. On windows it looks pretty bad. The formatting is off but a big factor.

**Expected Behavior**
`mesheryctl status` prints the status in a manner identical to that of on linux or Mac.

[2019-10-21 17:12] girishranganathan commented on #378
@nunix can you please add a snapshot from your terminal?

[2019-10-21 17:14] girishranganathan opened #379 "Meshery login keep redirecting back to the fallback page"
**Description**
After a successful social login, the user is directed to the fallback url: layer5.io/meshery. This goes on in a loop. The only way to log in to Meshery to start a fresh incognito session.

[2019-10-21 17:17] girishranganathan opened #380 "Watchtower fails on windows with windows containers"
**Description**
watchtower fails on windows with windows containers because it is unable to mount /var/run/docker.sock.

The issue happens mainly because in the `docker-compose.yml` file we are mounting the local docker socket inside the watchtower container. We need to figure out the right approach on windows with windows containers.

[2019-10-21 20:12] nunix commented on #378
![image](https://user-images.githubusercontent.com/905874/67239632-e4384f00-f44f-11e9-90cc-ee82e2f9a746.png)

here you have

[2019-10-21 22:23] girishranganathan commented on #179
hello @scotty-c, do you have any updates for us here?

[2019-10-22 01:56] leecalcote opened #382 "Improve error message for redirected test endpoints."
**Enhancement Description**
Improve error message when test endpoint is redirected (e.g. https://google.com redirected to https://www.google.com). Instead of showing this error message (screenshot), show one that indicates the URL that should be used instead.

<img width="606" alt="Screen Shot 2019-10-21 at 8 52 25 PM" src="https://user-images.githubusercontent.com/7570704/67254915-2f009980-f445-1

[2019-10-22 16:38] anandrkskd commented on #378
Got it! im on it will update!

[2019-10-22 22:03] #375 closed

[2019-10-22 22:17] leecalcote opened #387 "Page Title Caching Inaccurately"
**Description**
An issue with caching of the page title. The page title seems to go stale as you navigate from screen to screen.

**Reproduce**
1. Navigate from page to page and watch as the page title does not update.

**Relevant Items**
Related to issue #375.

[2019-10-22 22:21] leecalcote commented on #352
@mcastre callouts here. The intention is for the three lines of command line above to be executed in order to run Meshery, while the Makefile be executed in order to build Meshery. Given that you've done both a number of times now, I wonder if you consider that either needs updated / improved. All suggestions welcome. :)

[2019-10-22 22:32] leecalcote commented on #374
@Nikhil-Ladha quick check - do these make sense?

[2019-10-23 00:47] leecalcote commented on #287
@Nikhil-Ladha, I think we're good to close this issue given your use of blue and rephrasing of some of the messages. We still do desire to use a custom color scheme and avoid the standard colors.

[2019-10-23 01:18] leecalcote opened #389 "Increase verbosity of `mesheryctl update` to show new docker image pull"
**Issue Description**
When a user runs `mesheryctl update` and a new Docker image is pulled to the user's local machine, `meshery` (bash script) would show the user that a new image was being pulled. `mesheryctl` does not. It leaves the user to wonder what is going on, like so:

[code]

**Enhancement Description**
Increase the verbosity of the command line output from the [mesheryctl](https://gith

[2019-10-23 02:06] leecalcote opened #390 "Install: Allow ad-hoc connectivity test of Prometheus"
**Current Behavior**
Once a Meshery is connected to a Prometheus instance, the user is a shown a Prometheus chip (see screenshot) on the Settings and Dashboard pages.

**Screenshot**
<img width="210" alt="Screen Shot 2019-10-22 at 9 08 09 PM" src="https://user-images.githubusercontent.com/7570704/67350330-16a98100-f510-11e9-8c1e-3748754edbda.png">

**Desired Behavior**
In the same fashion that use

[2019-10-23 02:08] leecalcote opened #391 "Install: Allow ad-hoc connectivity test of Grafana"
**Current Behavior**
Once a Meshery is connected to a Grafana instance, the user is a shown a Grafana chip (see screenshot) on the Settings and Dashboard pages.

**Screenshot**
<img width="229" alt="Screen Shot 2019-10-22 at 8 57 07 PM" src="https://user-images.githubusercontent.com/7570704/67349901-ddbcdc80-f50e-11e9-8360-e982a7c3e072.png">

**Desired Behavior**
In the same fashion that users are

[2019-10-23 02:14] leecalcote opened #392 "[Docs] Add K3os platform compatibility table"
**Issue Description**
Meshery runs in-cluster on K3os and out of cluster against K3os. Both of these scenarios and their supported versions need to be added to the [platform compatibility table](https://meshery.layer5.io/docs/installation).

[2019-10-23 02:16] leecalcote opened #393 "Docs: Add WSL2 to platform compatibility table"
**Issue Description**
Meshery is compatible with WSL2. This scenario and any additional environment considerations should be added to the [platform compatibility table](https://meshery.layer5.io/docs/installation).

[2019-10-23 02:52] Nikhil-Ladha commented on #374
Yes sir, i checked it. I got these issues. Even rectified four of them just left with one, which is the initial selection for context name when config is uploaded.

[2019-10-23 02:53] leecalcote commented on #374
Very cool, @Nikhil-Ladha. 💪

[2019-10-23 02:54] Nikhil-Ladha commented on #287
Ok sir

[2019-10-23 02:56] leecalcote commented on #337
Good deal. One of these options might be the exposure of Grafana and Prometheus service endpoints running in the control plane, so that each of these two services are automatically “discovered” and connected to by Meshery upon deployment of Istio.

[2019-10-23 02:58] leecalcote commented on #371
Closing this issue as @chrisevett knocked it out of the park. Thank you so much, @chrisevett!

[2019-10-23 02:58] #371 closed

[2019-10-23 03:00] leecalcote commented on #320
@nunix at your convenience, will you confirm that we’re ok to close this issue (that the issue has been fixed)?

[2019-10-23 11:14] leecalcote opened #394 "Update docs site footer with current social buttons"
**Enhancement Description**
Update [the current docs footer](https://github.com/layer5io/meshery/blob/master/docs/_includes/footer.html) to use [the same social buttons](https://github.com/layer5io/layer5/blob/master/_includes/partials/hori-social.html) as those used on layer5.io as shown [in this screencast](https://youtu.be/FZ4Mi68CsGM).

[2019-10-23 11:25] leecalcote opened #395 "Include drafts and livereload in docs makefile"
**Description**
Having the --drafts flag included allows for early testing of draft pages / posts.

Having the --livereload flag included allows contributors who are updating docs to have their local web server refreshed on change/save of docs pages.

[2019-10-23 12:27] leecalcote commented on #387
@mcastre brainstorm briefly, if you would - what do you suspect is the root cause here?

[2019-10-23 12:30] leecalcote commented on #367
@girishranganathan using https://github.com/meshery/meshery/issues/390 as a template, will you create new issues for each of the supported meshes (in their repos) for implementation of ad-hoc connectivity test onClick of a service mesh chip?

[2019-10-23 14:06] leecalcote commented on #373
@anandrkskd Let's avoid leaving remnants of the downloaded archive by cleaning up (deleting) that archive after `mesheryctl` has been moved into place.

[2019-10-23 14:30] anandrkskd commented on #373
Understood sir

[2019-10-23 17:35] #395 closed

[2019-10-24 17:07] leecalcote opened #399 "Recognize All Contributors"
Let's do what we can to recognize those in our community. Examples of how we have tried to do this to-date:

- inclusion in [project presentations](https://docs.google.com/presentation/d/1V5N9GgAFZKKKGok9GNtdM0UjccPYdP89QxdGfAWoju8/edit#slide=id.g50ca7ad460_0_128)
- inclusion in [internship flyers](https://layer5.io/internships)

**Request:**
- Investigate use of https://allcontributors.org bot wi

[2019-10-26 14:34] leecalcote opened #402 "Docs: "Edit this page" hyperlink on docs is incorrectly linked"
**Description**
When users click on "Edit this page" in the Meshery Docs, they are directed to a 404 page on github.com.

**Expected Behavior**
Users should be directed to the specific markdown file in github that correlates to the page on which they clicked "Edit this page".

// @nunix

[2019-10-26 14:35] leecalcote commented on #402
Should be a quick fix. @venilnoronha, if you're inclined, feel free to grab this one.

[2019-10-26 14:36] #376 closed

[2019-10-26 14:46] leecalcote opened #403 "Docs: "Releases" page is out of date."
**Current Behavior**
Users see invalid release numbers and corresponding descriptions of [releases in the docs](https://meshery.layer5.io/docs/installation/releases).

**Desired Behavior**
Release numbers and descriptions need to be copied from [releases in meshery repo](https://github.com/layer5io/meshery/releases) and pasted into the [Releases page here](https://github.com/layer5io/meshery/blob/

[2019-10-26 15:25] firstladymb commented on #402
@leecalcote Mind if I take this one? It looks like we need to swap  with `/edit/master/` with `/blob/master/docs/` here: [https://github.com/meshery/meshery/blob/master/docs/_includes/editable.html](https://github.com/meshery/meshery/blob/master/docs/_includes/editable.html)

[2019-10-26 16:14] leecalcote commented on #402
Hi @firstladymb. That would be lovely. Yes, please.

[2019-10-26 16:19] firstladymb commented on #402
Yay! I'm loving all your documentation for contributions. Thanks so much!

[2019-10-26 16:58] firstladymb commented on #402
Submitted the PR! 5 minutes to figure out how to fix the problem. 2 hours to figure out how to use Git and Github. This is why I need practice!

[2019-10-26 17:08] firstladymb commented on #345
Is there anything left to do for this? Looks completed!

[2019-10-26 17:08] firstladymb commented on #289
Is there anything left to do for this? Looks completed!

[2019-10-26 17:24] leecalcote commented on #402
@firstladymb ha! Wow. Shazam, that was fast. :)

[2019-10-27 17:33] leecalcote commented on #345
@firstladymb, yes, you're right in that this issue was fixed as described. It's been left open as a reminder that an enhancement here is desired.

At the same time that this issue was opened, so too was [an issue opened](https://github.com/layer5io/layer5/issues/200) on the Meshery project's [sister Jekyll site](https://github.com/layer5io/layer5) at https://layer5.io.

The solution provided for t

[2019-10-27 17:38] leecalcote commented on #402
@firstladymb, thank you so much for jumping in! We'd love to have you engage in the community here. Please join this Slack (http://slack.meshery.io) and we'll get you better introduced and oriented to the projects.

An example area of help needed is within /docs. The Meshery docs site was just updated with a new Jekyll theme this past week (the one you're currently seeing). There are a [number of

[2019-10-27 17:38] #402 closed

[2019-10-27 17:46] leecalcote opened #406 "Docs: Update list of supported service meshes"
**Description**
Existing adapters have advanced in their status (e.g. from beta to stable) and new adapters have emerged. The list of supported service meshes needs updated.

**Expected Behavior**
[Supported Service Meshes](https://meshery.layer5.io/docs/#supported-service-meshes) should list:
**Stable service mesh adapters**
1. [Consul Connect](https://github.com/layer5io/meshery-consul)
1. [Isti

[2019-10-27 18:04] leecalcote opened #407 "Docs: Change name of the "Playground" page to "Management""
**Description**
"Management" is a more accurate name for the page that is currently named "Playground".

**Expected Behavior**
"Management" should be seen in the navigation menu, not "Playground".
---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)
- [Instructions for co

[2019-10-27 18:10] leecalcote opened #408 "Add GitHub Issue Template for docs issues"
**Current Behavior**
There is no template for documentation issues - https://github.com/layer5io/meshery/tree/master/.github/ISSUE_TEMPLATE

**Desired Behavior**
A docs template should exist, be assigned the [docs](https://github.com/layer5io/meshery/labels/docs) label and have these resources listed:

[code]

[2019-10-27 18:18] leecalcote opened #409 "Docs: docs/README.md update needed"
**Description**
The /docs/README.md is outdated and needs to be update to reflect the Meshery project.

**Expected Behavior**
The README.md should have:
- [ ] a screenshot relevant to Meshery.
- [ ] a link to and description the Meshery documentation contribution instructions.
- [ ] an example of how to build the docs locally (and a link to Jekyll for reference).
- [ ] a link to the [Meshery Docum

[2019-10-27 18:28] leecalcote opened #410 "Docs: Add Prometheus section and description"
**Description**
Meshery interfaces with both Grafana and Prometheus. The docs are missing a section describing its use of Prometheus and have an empty Grafana section.

**Expected Behavior**
The [node and service mesh metrics](https://meshery.layer5.io/docs/management#node-and-service-mesh-metrics) section should have:

- [ ] an expanded set of Grafana sections as so:

[code]

- [ ] Prometheus sec

[2019-10-27 18:39] leecalcote opened #411 "Docs: Add link to each Meshery adapter docs page"
**Description**
Each of the adapters listed on the [Architecture page](https://meshery.layer5.io/docs/architecture#adapters-what-they-are-what-purpose-they-serve) need to be linked to their respective page.

**Expected Behavior**
Each of these needs to be hyperlinked:
<img width="778" alt="Screen Shot 2019-10-27 at 1 37 30 PM" src="https://user-images.githubusercontent.com/7570704/67639547-fafefb8

[2019-10-27 18:42] leecalcote commented on #389
Nice work, @anandrkskd. :)

[2019-10-27 18:42] #389 closed

[2019-10-27 18:45] #407 closed

[2019-10-27 20:57] #411 closed

[2019-10-27 21:03] #406 closed

[2019-10-27 21:19] leecalcote commented on #259
@PseudoNerd just reach out to @ashiscs in the Slack account, if you have any questions.

[2019-10-27 21:39] leecalcote opened #418 "UI: Remove capitalization of adapter names in tooltips"
**Description**
In the Dashboard and Settings pages, each of the adapter chips will show a small tooltip that includes the adapter name when hovered over. The service mesh names are capitalized, but should not be.

**Expected Behavior**
Only the first letter of their name should be capitalized. The rest of the word should be lowercased.

**Screenshots**
<img width="1119" alt="Screen Shot 2019-10-2

[2019-10-27 21:41] leecalcote commented on #289
@firstladymb you're right. Good call. This issue needs to be closed.

[2019-10-27 21:41] #289 closed

[2019-10-27 22:03] leecalcote opened #419 "Docs: Split each "platform" section into its own page"
**Current Behavior**
Each "platform" section on the [Installation page](https://meshery.layer5.io/docs/installation) needs to be removed from the Installation page and have a new page dedicated to that respective platform created.

**Desired Behavior**
The "Quick Start" section is the last section on the page. Each of the "Platform" sections are moved to their own pages.

---
**Contributor Resourc

[2019-10-27 23:44] welenofsky commented on #408
I tried to attack this one in PR #420

[2019-10-28 00:39] schillingjerrid commented on #419
I'll work on this issue.

[2019-10-28 00:40] #408 closed

[2019-10-28 00:41] leecalcote commented on #419
Excellent, @schillingjerrid. :) Thank you.

[2019-10-28 00:43] leecalcote commented on #408
So very much appreciated, @welenofsky. Quality work. 👍

[2019-10-28 01:07] leecalcote opened #422 "Docs: Enhance the "Create Documentation Issue" hyperlink"
**Current Behavior:**
The current "Create Documentation Issue" in the [Meshery docs](https://meshery.layer5.io/docs) uses the [question.md GitHub issue template](https://github.com/layer5io/meshery/blob/master/.github/ISSUE_TEMPLATE/question.md).

**Screenshot**
<img width="1240" alt="Screen Shot 2019-10-27 at 8 05 32 PM" src="https://user-images.githubusercontent.com/7570704/67645217-4df3a580-f8f

[2019-10-28 01:40] leecalcote opened #423 "Adapter Chips: Move adapter port number into tooltip"
**Current Behavior**
The adapter chips shown in the screenshot, have "adapter name:port number" as their description.
<img width="382" alt="Screen Shot 2019-10-27 at 8 09 29 PM" src="https://user-images.githubusercontent.com/7570704/67645862-1f77c980-f8f9-11e9-9fe1-078cde95ec5a.png">

Providing the user with the adapter's port number is important, but is not a frequently needed or referenced piece

[2019-10-28 01:40] leecalcote commented on #423
@starblind this has your name all over it. ;)

[2019-10-28 02:10] firstladymb commented on #422
I'll take this one!

[2019-10-28 03:16] firstladymb commented on #345
I'll take it! I have a branch with the changes and I'm looking into how to prevent the header links and TOC from being automatically created.

[2019-10-28 04:48] schillingjerrid commented on #409
I'll grab this one!

[2019-10-28 04:59] schillingjerrid commented on #409
@leecalcote Would you like to see a screenshot of the docs for Meshery or of the Meshery dashboard itself?

[2019-10-28 11:45] #410 closed

[2019-10-28 11:52] leecalcote commented on #423
You made quick work of this one, @starblind. :) Very cool.

[2019-10-28 11:52] #423 closed

[2019-10-28 12:03] leecalcote commented on #410
Quick work, @m4tr1k! Nice.

[2019-10-28 12:59] leecalcote commented on #419
Very cool, @schillingjerrid. Nice work!

[2019-10-28 12:59] #419 closed

[2019-10-28 13:00] anusha5695 commented on #394
Hi @leecalcote : Is this still up for grabs?

[2019-10-28 13:53] #422 closed

[2019-10-28 13:54] leecalcote commented on #418
Way to be @starblind. 👍 Thank you.

[2019-10-28 13:54] #418 closed

[2019-10-28 16:06] #353 closed

[2019-10-28 16:13] girishranganathan opened #434 "Add capability to support: mesheryctl version"
**Desired Behavior**
We need the capability to print the version number when folks run `mesheryctl version`.
The version number should match the version numbers available on GitHub.
We should be able to do this with `ldflags` from goreleaser while building.

[code]

For this to work:
- we should add a `var build string` to the main.go file (outside `func main`).
- add a cobra command to print the

[2019-10-28 16:57] girishranganathan commented on #387
@leecalcote can you please test this again with the latest release?

[2019-10-28 17:01] girishranganathan commented on #363
@Nikhil-Ladha confirmed this is not an issue anymore. Closing it for now.

[2019-10-28 17:01] #363 closed

[2019-10-28 17:02] girishranganathan commented on #374
@Nikhil-Ladha great work.
For the last one, you just need to trigger the event. Feel free to reach out to me if you have any questions.

[2019-10-28 21:47] jesuslerma commented on #282
Hi, can I take this issue?

[2019-10-28 23:28] anandrkskd commented on #434
Okay understood the enhancement and I am on it.
Thank you @girishranganathan sir

[2019-10-28 23:51] leecalcote commented on #282
Hi, @jesuslerma. That would be fantastic.

In this particular case, this is a stale issue as I think we've corrected the outstanding lint issues in the meshery repo. Latest builds here - https://github.com/meshery/meshery/actions?workflow=Meshery.

@jesuslerma, we'll close this issue, but @girishranganathan will readily point you to similar issues in Meshery's adapters, like these:

Meshery-Consul

[2019-10-29 00:51] leecalcote commented on #269
All lint issues have been addressed.

[2019-10-29 00:51] #269 closed

[2019-10-29 00:53] leecalcote commented on #282
Confirmed - lint issues have been addressed. Closing this issue.

[2019-10-29 00:53] #282 closed

[2019-10-29 01:05] leecalcote opened #435 "mesheryctl: Include logic for handling errors in `start` and `stop`"
**Description**
There are a number of unhandled errors in `mesheryctl` that should be handled in a graceful way. `mesheryctl` source code is here - https://github.com/layer5io/meshery/tree/master/mesheryctl

**Expected Behavior**
All errchecks should pass.

[code]

**Reference**
https://github.com/layer5io/meshery/commit/e8b20ff18fc7a05b0e4818fbe5843a09c138e7d5/checks?check_suite_id=285379602

[2019-10-29 01:14] girishranganathan opened #436 "Handling error checks reported by error"
**Description**
We have re-enabled error checks in our CI. https://github.com/layer5io/meshery/commit/e8b20ff18fc7a05b0e4818fbe5843a09c138e7d5/checks?check_suite_id=285379602

We have a few error checks which need to be handled but ignored:

[code]

**How to handle these errors:**
- The errors listed here are mainly to be ignored. Here is a example:
`_ = sess.Save(r, w)`

**Expected Behavior**
All

[2019-10-29 02:13] leecalcote commented on #436
@girishranganathan will you kindly update the description of this issue under the "How to handle these errors" section with example steps (code) to handle (or ignore) these checks?

[2019-10-29 02:23] #345 closed

[2019-10-29 02:35] leecalcote commented on #282
@jesuslerma here is a related new issue that may be of interest - https://github.com/meshery/meshery/issues/436.

@girishranganathan forgot to point this out when he created it earlier.

[2019-10-29 02:38] girishranganathan commented on #436
Yes, sorry put the initial stuff as a placeholder. Will add more info.

[2019-10-29 02:46] leecalcote commented on #387
@girishranganathan you bet. I did a `make build-ui; make run-local` on `master` at commit the latest current commit (https://github.com/meshery/meshery/commit/62ed80b62399083043a8d771984be0806107ac1d) and had these results:

1. When I opened http://localhost:9081, I saw "Dashboard" as the page title.
1. After navigating to "Management", I saw "Dashboard" as the page title (see screenshot 1).
1. I

[2019-10-29 02:52] girishranganathan opened #437 "Create a brew tap for mesheryctl through goreleaser"
**Current Behavior**
We want `mesheryctl` to be installable through homebrew. We already have `goreleaser` as part of our CI with GitHub actions. `goreleaser` has a way to publish brew formula for every release described here: `https://goreleaser.com/homebrew/`.  Following the steps here we want to update our `goreleaser` configuration to publish a new version of the brew formula.
We will want to

[2019-10-29 04:14] firstladymb opened #438 "Docs: Search is broken"
The search page is broken .

Expected URL: https://meshery.layer5.io/docs/search/?q=test
Actual URL: https://layer5io.github.io/meshery/search/?q=test.

I'm looking into it!

[2019-10-29 04:24] leecalcote commented on #438
Yikes!

[2019-10-29 04:55] jesuslerma commented on #436
I think #439 successfully fixes this issue. At least the `Meshery / Error check (pull_request)` was successful.

[2019-10-29 05:38] firstladymb commented on #438
It works in my branch, so it seems to be something with the server configuration. It's a 301 redirect and it only appears to happen for `https://meshery.meshery.io/docs/search/`; bad URLs will load the 404. Maybe something to do with the recent site change?

![image](https://user-images.githubusercontent.com/26513119/67740452-7d7cdd80-f9db-11e9-9d3c-083ca0a1cce8.png)

[2019-10-29 12:55] #436 closed

[2019-10-29 12:58] leecalcote commented on #438
@venilnoronha thoughts?

[2019-10-29 14:36] girishranganathan opened #441 "Ability to deploy Meshery on Istio"
**Current Behavior**
Meshery does have deployment artifacts to deploy Meshery and its ecosystem on Kubernetes. There is also a Istio yaml which contains virtual service and gateway definition.

**Expected Behaviour**
We need to ensure the deployment succeeds and works the expected way on Istio.

[2019-10-29 14:46] girishranganathan opened #442 "[Performance] Ability to run load test from Meshery when it is deployed on Istio"
**Expected Behavior**
Related to #441, we should be able to run load test on services on the mesh _WITHOUT_ having to go through the ingress gateway from Meshery, after it too is deployed on the mesh.

[2019-10-29 14:49] leecalcote commented on #112
@kdelee do you mind testing the script on this page to generate a GCP-compatible kubeconfig for Meshery? https://meshery.meshery.io/docs/installation/gke

Your help here would be is appreciated!

[2019-10-29 14:56] leecalcote commented on #146
Ideally, this is `mesheryctl config generate -p <platform-name>`.

[2019-10-29 15:51] firstladymb commented on #409
@schillingjerrid I would use a screenshot of the docs site since it's the docs readme. It can always be changed!

[2019-10-29 16:41] leecalcote commented on #382
Evaluate https://github.com/meshery/meshery/blob/master/helpers/fortio.go#L34 as the possible solution.

[2019-10-29 18:33] leecalcote commented on #409
@schillingjerrid thanks much for taking this issue on ( 👍 ) and for being considerate of the screenshot to include.

I concur with @firstladymb's suggestion that given that this README is documentation-specific, a screenshot of the docs site is most appropriate.

[2019-10-29 21:30] leecalcote commented on #419
@schillingjerrid we'd love to have you engage in the community here. Please join this Slack (http://slack.meshery.io) and we'll get you better introduced and oriented to the projects.

[2019-10-30 01:47] girishranganathan commented on #438
@firstladymb we debugged this issue to NOT be associated with Jekyll or the theme used. It turned out to be a config issue elsewhere. We have taken care of this now.
Thanks a lot for your interest and time spent on this issue.

[2019-10-30 01:47] #438 closed

[2019-10-30 02:50] girishranganathan commented on #441
We were able to test Meshery and its adapters on Istio. The change that came out of this session was the Gateway port change from 8080 to 80 to avoid adding more ports to the ingress gateway service.

[2019-10-30 02:50] #441 closed

[2019-10-30 02:51] girishranganathan commented on #442
We were able to run load test on product page from within the mesh by using the full service name: http://productpage.default.svc.cluster.local:9080 there by skipping the ingress gateway.

[2019-10-30 02:53] girishranganathan commented on #442
One thing that might come in the way is Istio RBAC. We will have to document how to get over the access issue.

[2019-10-31 05:10] schillingjerrid commented on #419
Thank you for the invite.

[2019-10-31 11:45] leecalcote opened #447 "Octarine: Expose adapter in Meshery UI"
**Current Behavior**
The Meshery adapter for Octarine is now stable and included in the default Compose file.

**Desired Behavior**
The Octarine adapter now needs to be exposed in the Meshery UI.

[2019-10-31 12:28] leecalcote opened #448 "UI: Update Meshery Logo"
**Current Behavior**
The Meshery logo has been revised.

**Desired Behavior**
The old logo should be displaced with the new logo.

The new logo can be found in the community drive under `Assets/Meshery Logo/Web`

[2019-11-01 02:31] leecalcote commented on #113
@venkatasankarapu Here's a start - https://github.com/meshery/meshery/tree/feature/leecalcote/eks

Nice work! ;)

[2019-11-01 03:04] leecalcote opened #449 "mesheryctl: Add support for `mesheryctl update` to upgrade mesheryctl itself"
**Current Behavior**
Currently `mesheryctl update` downloads new versions of the Meshery containers as described in the [Meshery Installation & Packaging](https://docs.google.com/document/d/1inncJ56SKEzIMIUikzj3XdCWF4d0xdtzOcq6J4GQYz0/edit#heading=h.hxpazjese5dc) document.

**Desired Behavior**
Ideally, `mesheryctl update` will also upgrade the binary itself (displacing itself with the latest vers

[2019-11-01 03:10] leecalcote opened #450 "mesheryctl: Make `mesheryctl init` an internal function only; Do not expose `init` as a command line operation"
**Current Behavior**
Users can directly invoke `mesheryctl init`. This command is intended for use by other mesheryctl commands, not for use by users.

See [Meshery Installation & Packaging](https://docs.google.com/a/layer5.io/document/d/1inncJ56SKEzIMIUikzj3XdCWF4d0xdtzOcq6J4GQYz0/edit?disco=AAAADSnE2DA) for more information.

**Desired Behavior**
Hide `init` from user invocation.

[2019-11-01 03:31] jesuslerma commented on #450
Hi, Lee.

When we're going to call the `init` command by start and update?

[2019-11-01 03:36] jesuslerma commented on #450
We can name that function to something like: `installPrereq` and move it to `vars.go`.

[2019-11-01 05:42] schillingjerrid commented on #403
I'll take this issue.

[2019-11-01 11:31] leecalcote commented on #403
Awesome. Thank you, @schillingjerrid!

[2019-11-01 11:35] leecalcote commented on #394
Hi @anusha5695, I missed your question earlier. Yes, help here would be very nice. @gunjanmimo has given this a try in PR #432, which is good. However, hasn't quite hit the mark yet in terms of the original ask to use [the same social buttons](https://github.com/layer5io/layer5/blob/master/_includes/partials/hori-social.html) as those used on layer5.io as shown [in this screencast](https://youtu.b

[2019-11-01 12:00] leecalcote commented on #447
// @thehh1974

[2019-11-02 15:31] firstladymb opened #455 "Docs: Kubernetes link on installation page leads to 404"
Page: https://meshery.layer5.io/docs/installation
Current link: https://meshery.layer5.io/docs/docs/installation/kubernetes
Correct link: https://meshery.layer5.io/docs/installation/kubernetes

I'll take this one!

[2019-11-02 16:54] schillingjerrid commented on #403
I think it would make more sense top sort these in descending order chronologically, similar to the releases page on github.

What do you think? I'm not opposed to leaving it in ascending order. This is just my suggestion.

[2019-11-02 19:03] leecalcote commented on #403
@schillingjerrid, descending order makes much sense to me. Conceptually, most visitors will be interested in details of the latest versions, and so, we'd do well to present those first. Good suggestion.

[2019-11-02 22:44] leecalcote commented on #455
Good catch!

[2019-11-03 09:01] Ozrlz commented on #112
Hi all.

I just tried that script on my linux desktop and after some modification I was able to succesfully setup the kubeconfig.

According to base64 manpage [1] the -D arg must be changed to -d, which is something I was able to to using the following:

curl -sL https://meshery.meshery.io/docs/pages/installation/generate_kubeconfig_gke.sh | sed -e 's/-D/-d/g' | bash -s -- ${SA} ${NS}

I'm new to

[2019-11-03 14:35] firstladymb commented on #393
This was resolved by https://github.com/meshery/meshery/pull/453. However, the link will not work until https://github.com/meshery/meshery/pull/454 is merged. We should be able to close this though :)

[2019-11-03 14:35] #393 closed

[2019-11-04 04:12] #455 closed

[2019-11-04 17:32] leecalcote commented on #378
Fixed by #460.

[2019-11-04 17:32] #378 closed

[2019-11-04 17:35] leecalcote commented on #441
@girishranganathan this was closed as a duplicate of #442, right?

[2019-11-04 17:38] girishranganathan opened #461 "Merge MeshConfigComponent.js and MeshOutClusterConfigComponent.js to remove duplicate code"
**Description**
MeshConfigComponent.js was replicated to create a new component MeshOutClusterConfigComponent.js to make the settings page work with the new UX for the page. Both the components now have a lot of duplicate code.

**Expected Behavior**
We should just probably update MeshConfigComponent.js in a way that it can be made to behave in different ways based on the different props given to

[2019-11-04 23:36] leecalcote commented on #112
@Ozrlz thank you for jumping in here! Your help is most welcome. 👍 Your investigation here is very timely as we're updating Meshery's support of EKS, which leverages this same script as well. https://github.com/meshery/meshery/pull/458 and https://github.com/meshery/meshery/pull/459 are updates to the docs for EKS support, but we're still in need of an update to this `generate_kubeconfig_gke.sh` s

[2019-11-04 23:36] leecalcote commented on #112
@Ozrlz we'd love to have you join in the community and engage in the project at your leisure. Please join - http://slack.meshery.io.

[2019-11-04 23:37] leecalcote commented on #450
@jesuslerma spot on. Yes, your suggestion is ideal.

[2019-11-04 23:39] leecalcote commented on #450
Given `init`'s current functionality, the most appropriate time to call it is upon finding that certain prerequisites are missing (namely `docker-compose` at the moment).

[2019-11-04 23:42] leecalcote commented on #146
@jesuslerma fyi - https://github.com/meshery/meshery/issues/112#issuecomment-549596272

[2019-11-05 14:55] leecalcote commented on #167
A tap and formula have been created - https://github.com/meshery/homebrew-tap. Please review and critique.

Need to automate through goreleaser - https://github.com/meshery/meshery/issues/437.

[2019-11-05 14:55] #167 closed

[2019-11-05 18:49] #403 closed

[2019-11-05 19:15] leecalcote opened #465 "Docs: Installation - mesheryctl installation with brew"
**Current State:**
The [installation](https://meshery.layer5.io/docs/installation) page describes how to install the `meshery` bash script.

**Desired State:**
A new `mesheryctl` binary has been created and is available to install using `brew` on Linux and MacOS. The documentation should describe how to install `mesheryctl` using brew as described in here - https://github.com/layer5io/homebrew-tap

[2019-11-06 16:54] leecalcote opened #466 "Docs: Reserve port numbers for new Meshery adapters: Kuma, Maesh, App Mesh"
**Current State:**
The [Architecture](https://meshery.layer5.io/docs/architecture) page is missing port number assignments for new adapters.

**Desired State:**
The Architecture page should list these port assignments for new adapter:

app-mesh: 10005
maesh: 10006
kuma: 10007

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation sou

[2019-11-06 17:31] leecalcote commented on #308
@ashiscs we'd do well to include instructions on syncing local forks with remote forks.

[2019-11-06 17:36] ashiscs commented on #308
ok sir @leecalcote understood.

[2019-11-06 19:00] #466 closed

[2019-11-06 19:00] #259 closed

[2019-11-07 02:41] leecalcote opened #468 "Docs: Provide inline reference to heading / section anchor"
**Current State:**
Anytime an h1, h2, h3 (#, ##, ###) and so on is used in the docs, an inner-page, anchor tag to link to that specific section of the docs is made available in the righthand nav bar.

**Desired State:**
Enhance the theme to ensure links to anchor tags are made available adjacent to the heading name and represented as a link / chain / clip icon for available to readers' for quick r

[2019-11-07 03:17] leecalcote opened #469 "Docs: Convert list of network ports to a table"
**Current State:**
Meshery's adapters and the network ports that they use are documented on the Architecture page - https://meshery.layer5.io/docs/architecture

**Desired State:**
Instead of a bulleted list, readers will be able to quickly digest a two column, tabular format of these same information.

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
-

[2019-11-07 03:21] leecalcote opened #470 "Docs: Create Jekyll Collection for Meshery Adapters"
**Current State:**
Meshery Adapters are listed on a few different pages. Their multiple listings become fragile as new adapters are created and existing adapters move between alpha, beta, stable, and continue to version (e.g. v2.0.0) from there.

**Desired State:**
Ideally, this information is gathered into a _data [collection](https://jekyllrb.com/docs/collections/) as a single source of truth to

[2019-11-07 03:22] leecalcote commented on #465
@gunjanmimo I updated the docs here somewhat. Have a look at the updated information and see if you consider anything missing now.

[2019-11-07 03:30] #437 closed

[2019-11-08 02:01] schillingjerrid commented on #469
I'll take this issue

[2019-11-08 02:02] leecalcote opened #471 "Expose all adapter ports in the Meshery Makefile"
**Current Behavior**
Currently the Meshery [Makefile](https://github.com/layer5io/meshery/blob/master/Makefile) does not expose all current adapter ports.

**Desired Behavior**
Under each `make` command, each of the adapter ports should be listed in ```ADAPTER_URLS=```, like so:
[code]

[2019-11-08 02:11] leecalcote opened #472 "Docs: Incorporate makefile commands from /docs/Makefile into /Makefile"
**Current State:**
The Meshery [Makefile](https://github.com/layer5io/meshery/blob/master/Makefile) does not have a `make docs` command to build the documentation site.

**Desired State:**
Both the Meshery Makefile and the Docs Makefile have commands to build and run the site.

- [ ] The The Meshery [Makefile](https://github.com/layer5io/meshery/blob/master/Makefile) has a `make docs`.
- [ ] The D

[2019-11-08 03:12] leecalcote commented on #469
Good! Thank you, @schillingjerrid!

[2019-11-08 14:49] leecalcote opened #474 "NSM: Improve usefulness of NSM successful deployment notification"
**Current Behavior**
The Meshery adapter for NSM is now stable and included in the default Compose file. When a user deploys NSM, they receive notification of successful deployment, however, the notification doesn't give any details of the deployment.

**Desired Behavior**
Successful deployment notification should include details like:
1. link to NSM administrative interface
1. list of available C

[2019-11-08 15:21] leecalcote opened #475 "Update description for "Custom Config" adapter operation"
**Current Behavior**
Meshery provides a "Custom Config" operation for all adapters wherein Meshery allows users to push custom configuration to each service mesh. The description of this operation is:

  "For the brave of hearts who want to speak YAML to your cluster directly".

**Desired Behavior**
The description of the "Custom Config" operation needs updated to be:

  "Customize the configurati

[2019-11-08 17:44] leecalcote commented on #176
@raghavaggarwal99, there's a misspelling in the Community section - "callendar" that needs to be corrected. Could you please fix this?

[2019-11-08 17:58] leecalcote commented on #139
Thanks, guys. We're able to close this issue with the new docs theme having "edit this page" out of the box.

[2019-11-08 17:58] #139 closed

[2019-11-08 18:00] leecalcote commented on #176
@raghavaggarwal99 seeing now that this issue was fixed above (https://github.com/meshery/meshery/issues/176#issuecomment-517721505), I'll close this issue and open a new one for the misspelling issue.

[2019-11-08 18:00] #176 closed

[2019-11-08 18:01] leecalcote opened #476 "Docs: Misspelling of "callendar" in the Community section"
**Current State:**
There's a misspelling in the Community section - "callendar" that needs to be corrected.

[2019-11-08 21:35] leecalcote opened #477 "goreleaser overwriting release description field"
**Description**
"Meshery " goes missing in the release description field after goreleaser runs.

**Expected Behavior**
Each release should be named "Meshery vx.x.x".

[2019-11-09 10:31] raghavaggarwal99 commented on #476
I have changed it @leecalcote and done with the pull request too. Just have to be reviewed by you now.
#479

[2019-11-09 10:57] raghavaggarwal99 commented on #472
You can see the pull request #480

[2019-11-09 21:14] leecalcote commented on #471
Fixed by #481

[2019-11-09 21:14] #471 closed

[2019-11-10 02:02] leecalcote commented on #470
@subhamkrai would you like to give this one a shot?

[2019-11-10 02:03] leecalcote commented on #469
Nice work! :)

[2019-11-10 02:03] #469 closed

[2019-11-10 02:04] leecalcote commented on #465
@gunjanmimo I think we're good to go on this one. Have a look and reopen if you find one that @girishranganathan and I missed.

[2019-11-10 02:04] #465 closed

[2019-11-10 12:51] leecalcote commented on #387
@girishranganathan I think you recently fixed this issue. Is that right?

[2019-11-10 22:49] leecalcote opened #482 "UI: Move to standard expand/collapse icon for navigation drawer"
**Current Behavior**
User feedback has highlighted some confusion as to what the current drawer collapse icon does.

**Desired Behavior**
Replace existing icon with more conventional icon.

[2019-11-10 23:00] leecalcote commented on #448
@ashiscs assuming you're ok with it, I'll grab this one from you and knock it out. The new logo is slick.

[2019-11-10 23:03] leecalcote commented on #447
I'll grab this one.

[2019-11-10 23:09] leecalcote opened #484 "UI: Centering of Meshery logo upon collapse of drawer"
**Description**
The Meshery logo has a space on the left side of the icon, which is appropriate when the navigation drawer is expanded, but inappropriate when the navigation drawer is collapsed (see screenshot).

This issue was present in PR #483.

**Expected Behavior**
Meshery app logo should resize slightly in order to fit within the width of the collapsed navigation drawer.

**Screenshots**
<im

[2019-11-10 23:10] #482 closed

[2019-11-10 23:17] thehh1974 commented on #447
Thanks! I thought I had it all figured out on Friday, but somehow when I tested it the logo did not look right.

[2019-11-10 23:19] leecalcote commented on #447
@thehh1974 Yeah, no... I bump my head on this same issue with some frequency. Here we are!

New v0.3.0 release publishing now:
<img width="1265" alt="Screen Shot 2019-11-10 at 5 18 29 PM" src="https://user-images.githubusercontent.com/7570704/68552598-409ee680-03de-11ea-87c9-6f7cf79932ac.png">

[2019-11-10 23:20] leecalcote opened #485 "UI: NSM adapter chip missing NSM icon"
**Expected Behavior**
The NSM icon should show on the NSM adapter chip. This issue is first seen in Meshery v0.3.0.

**Screenshots**
<img width="1265" alt="Screen Shot 2019-11-10 at 5 18 29 PM" src="https://user-images.githubusercontent.com/7570704/68552604-60360f00-03de-11ea-8f7e-42227e593b8d.png">

[2019-11-10 23:23] thehh1974 commented on #447
Awesome!

[2019-11-11 04:22] schillingjerrid commented on #470
I'll take a swing at this.

[2019-11-11 13:49] girishranganathan commented on #387
Yes I think these were merged as part of the PR last week.

[2019-11-11 14:22] leecalcote commented on #387
Close when ready.

[2019-11-11 23:55] #210 closed

[2019-11-12 00:19] #387 closed

[2019-11-12 00:25] girishranganathan commented on #373
@leecalcote can we close this?

[2019-11-12 05:25] leecalcote commented on #373
@girishranganathan, yes, good call.

@anandrkskd, you did it!! We’re finally off of bash and onto go! 😀

[2019-11-12 05:25] #373 closed

[2019-11-12 05:35] leecalcote commented on #210
@girishranganathan what's the status of this closure? Completed and implemented in #486?

[2019-11-12 17:20] girishranganathan opened #487 "Ability to provision multiple adapters"
**Desired Behavior**
We need a way to provision multiple adapters

_NEEDS MORE INFO....._

[2019-11-12 17:31] leecalcote opened #488 "[UI] Validate active user session prior to allowing operations to be invoked"
**Description**
Upon running a performance test, the following error is presented in the UI and seen in the logs. This happens because the user doesn't have an active session.

Meshery log:
[code]
**Expected Behavior**
Meshery should verify that the user has an active session prior to allowing users to invoke operations in the UI, so that they don't get errors like this one.

**Screenshots**
<img

[2019-11-12 20:10] leecalcote commented on #374
Thanks for knocking these out, @Nikhil-Ladha

[2019-11-12 20:10] #374 closed

[2019-11-12 20:12] leecalcote commented on #236
Way to be on this issue, @Nikhil-Ladha

[2019-11-12 20:12] #236 closed

[2019-11-12 20:13] leecalcote commented on #287
Let's close this one and open a new one when we're ready for custom colors.

[2019-11-12 20:13] #287 closed

[2019-11-12 20:14] #219 closed

[2019-11-12 20:22] leecalcote commented on #213
@Nikhil-Ladha can you take on the second portion (the Settings page) portion of this issue?

[2019-11-12 22:36] #126 closed

[2019-11-12 22:36] #477 closed

[2019-11-12 22:36] #485 closed

[2019-11-13 00:33] girishranganathan opened #490 "Publish scoop app manifest to "scoop-bucket" repo"
**Desired Behavior**
We want the release process to publish a scoop app manifest so that Windows users can use [scoop](https://scoop.sh) to install `mesheryctl`.

We have created a new repository to host the scoop app: `scoop-bucket`

[Here](https://goreleaser.com/scoop/) is the goreleaser section which describes how to go about this.

[2019-11-13 09:30] leecalcote opened #492 "Update "help wanted" link in all READMEs"
**Current Behavior**
Under the [Community section](https://github.com/layer5io/meshery#community) in each Meshery-related repository, the link used in this statement:

"_Not sure where to start?_ Grab an open issue with the help-wanted label."

only refers to issues with the Meshery repository.

**Desired Behavior**
The "help wanted" link should include issues across all Layer5 repositories. Each

[2019-11-13 10:03] leecalcote opened #493 "Decommission Meshery bash script"
**Current Behavior**
The recently displaced `meshery` bash script currently sits in this repo's root folder under the name "[meshery.old](https://github.com/layer5io/meshery/blob/master/meshery.old)". Now that `mesheryctl` has displaced this script. The time has come to delete this file.

**Desired Behavior**
`mesheryctl` should perform all of its current functions with accuracy, with an acceptabl

[2019-11-13 10:07] leecalcote commented on #492
@jesuslerma if you're inclined to grab this one, it may serve to familiarize you with the full extent of the Meshery project's code base (or at least repos), while enhancing the community contribution experience.

[2019-11-13 14:41] jesuslerma commented on #492
Sure! Let me grab this one.

[2019-11-13 14:44] jsedano commented on #493
Hey @leecalcote can I take this one? @jesuslerma will guide me around

[2019-11-13 14:54] jesuslerma commented on #492
Just to be sure, let me list the related projects:
- [ ] [xmeshery-istio](https://github.com/layer5io/meshery-istio)
- [ ] [meshery-adapter-template](https://github.com/layer5io/meshery-adapter-template)
- [ ] [meshery-nsx-sm](https://github.com/layer5io/meshery-nsx-sm)
- [ ] [meshery-nsm](https://github.com/layer5io/meshery-nsm)
- [ ] [gowrk2](https://github.com/layer5io/gowrk2)
- [ ] [meshery-ku

[2019-11-13 18:45] leecalcote commented on #492
@jesuslerma great question. @girishranganathan updated the list with a couple more. I think this is the whole set.

[2019-11-13 19:35] leecalcote commented on #493
That would be fantastic, @jsedano. Yes, please.

[2019-11-13 20:45] nunix commented on #493
soo 😄 overall it's working great and only few small glitches remain (here is the list I found so far):
1. the `make` command in Mesheryctl directory outputs a "non-Windows" name at the end. An extra: `mv mesheryctl mesheryctl.exe` is needed

2. the `mesheryctl status` has just a `\n` in the timestamp line:
time="2019-11-13T21:24:44+01:00" level=info msg="Meshery containers status . . .\n"

everyth

[2019-11-14 14:02] leecalcote commented on #493
Here is a short overview of the `meshery` bash script and exercise to validate that the same functionality and user experience is upheld in `mesheryctl` as we finalize the removal of `meshery` bash script. https://youtu.be/LMJD3HpLb8k

[2019-11-14 14:03] leecalcote commented on #493
@nunix excellent work. :) The two issues that you've uncovered are worthy of having GitHub issues opened in order to track a fix for them. Will you kindly open these two issues?

[2019-11-14 17:48] gunjanmimo commented on #490
@girishranganathan sir, I want to work on this issue

[2019-11-15 01:52] leecalcote commented on #468
This is similar to what we're looking for, but it would ideally have a chain-looking icon, not a paragraph symbol - https://github.com/bryanbraun/anchorjs

[2019-11-15 02:37] firstladymb commented on #468
Thanks! I swapped the paragraph for a chain in my branch and made it copy
to clipboard. I'm wanting to add a tooltip that says "copied" after you
click the button (or falls back to changing the window location if the
browser doesn't allow copy to clipboard). I went down the rabbit hole
exploring tooltip options, so if you already have one you like or
recommend, I'm happy to give that one a try!

M

[2019-11-15 15:08] nunix opened #494 "[Windows] Mesheryctl make scripts does not have the extension"
**Description**
When building `mesheryctl` from source on Windows, the output binary is missing the ".exe".
Still, the binary is correctly build as a Windows one, and an additional `mv mesheryctl mesheryctl.exe` can be considered as the workaround

**Expected Behavior**
when running `make` in Mesheryctl directory, the output binary should be `mesheryctl.exe` when building the Windows binary.

**Sc

[2019-11-15 15:15] nunix opened #495 "[Windows] Mesheryctl status showing a "\n""
**Description**
the `mesheryctl status` has just a \n in the timestamp line:
`time="2019-11-13T21:24:44+01:00" level=info msg="Meshery containers status . . .\n"`

**Expected Behavior**
the timestamp line should be displayed without the "\n" at the end:
`time="2019-11-13T21:24:44+01:00" level=info msg="Meshery containers status . . ."`

**Screenshots**
![](https://user-images.githubusercontent.com

[2019-11-15 15:16] nunix commented on #493
Hi @leecalcote

here are the issues (I keep them here just for a centralised overview):
1. Mesheryctl `make` issue: #494
2. Mesheryctl `status` issue: #495

[2019-11-15 17:13] leecalcote commented on #468
@Silvyre would you mind introducing @firstladymb to the rich tooltip used on meshery.io, so that she might consider reusing it?

[2019-11-15 20:28] RafaelUngar commented on #468
Sure!

Meshery.io adds tooltips in HTML like so:
[code]
and styles them like so (from [meshery/materialize.css](https://github.com/meshery/meshery/blob/master/assets/css/materialize.css#L2960)):
[code]

Mouse over some of the links on [meshery.io/landscape](https://meshery.io/landscape/) to see the tooltips in action. (The Meshery may require additional styling from [Materialize](https://materiali

[2019-11-15 20:52] leecalcote commented on #493
@nunix thank you. 👍

[2019-11-15 23:56] leecalcote opened #496 "Change text on Service Mesh Settings page"
Change this text to: "You are all set to manage service meshes".

<img width="1095" alt="Screen Shot 2019-11-15 at 5 55 04 PM" src="https://user-images.githubusercontent.com/7570704/68983576-3eb79780-07d1-11ea-9237-42b009371057.png">

[2019-11-16 01:01] neilong31 commented on #496
Hi @leecalcote ! I like to work on this please.

[2019-11-16 01:10] leecalcote commented on #496
@neilong31 that would be fantastic. 👍  There are instructions for building Meshery and it’s UI components in the contributors.md file. There’s a guide for newcomers in there, too. Also, please jump into http://slack.meshery.io, so you can better connect with the community. It’ll be great to have you! 😀

[2019-11-16 01:36] #496 closed

[2019-11-16 17:14] leecalcote opened #501 "`mesheryctl version`: lint failure"
**Description**
See https://github.com/layer5io/meshery/runs/306194469

**Expected Behavior**
No lint errors.

[2019-11-17 02:16] leecalcote commented on #475
Hi @neilong31! Would you like to tackle this one as well? It would be much appreciated.

[2019-11-17 02:22] neilong31 commented on #475
@leecalcote Yeah I'd love too! I'll have a PR up by tomorrow night.

[2019-11-17 02:23] leecalcote commented on #475
Awesome. 👍 Thank you, @neilong31!

[2019-11-17 02:34] #472 closed

[2019-11-17 02:34] #476 closed

[2019-11-17 02:43] leecalcote opened #502 "Grafana: Improve error response when missing required API key"
**Current Behavior**
In the Settings-->Metrics screen... When trying to connect to a Grafana endpoint that requires and API key, if the API key is not provided or is incorrect, the following error is shown (see screenshot). This error is uninformative.

**Desired Behavior**
Give specific error message pointing to the actual problem (missing or invalid API key) and what the user should do to fix.

[2019-11-17 05:20] Nikhil-Ladha commented on #502
@leecalcote sir for this is there any particular format of an API key that we can check?

[2019-11-17 15:30] leecalcote commented on #502
@Nikhil-Ladha good question. In this case, the user will have to provide an API key. Depending upon how they have deployed and configured their Grafana, the user may not have to provide an api key. For example, the Graham’s instance that deployed with Istio, does not require an API key in order to for Meshery to connect to it. But, some users configure their Graham’s deployment to require one, so

[2019-11-17 15:50] #475 closed

[2019-11-18 22:26] anandrkskd commented on #493
mesheryctl should perform all of its current functions with accuracy, with an acceptable user experience on Linux system.

[2019-11-19 16:21] anandrkskd commented on #449
I will be working on this issue.

[2019-11-20 05:22] schillingjerrid commented on #470
Hey @leecalcote, sorry it has been taking a while on this issue. I ran into a few setbacks but I got past them today.

I have a question about integrating the collection into one of the pages where adapters were listed. On the main page we list available adapters, then in-progress adapters, and finally help-wanted adapters. I've turned these into a table tentatively with a status variable for each

[2019-11-20 15:47] #197 closed

[2019-11-20 15:48] Nikhil-Ladha commented on #213
@leecalcote as per the second part is concerned we already have a performance tab in the meshery page, then do we need to replicate that inside the settings section or just remove the previous one and keep this one?

[2019-11-21 15:22] leecalcote commented on #492
@jesuslerma we'll want to ensure that the "help wanted" link in the welcome guide is updated, too.

[2019-11-21 18:18] jesuslerma commented on #492
Hi @leecalcote I'm working on this issue. I can see that some projects don't have a community section. I'm going to add it but I think that it would be great to have the next content:

[code]
Is there a *Layer5 Contributors Welcome Guide*? Or we should use the *Meshery Contributors Welcome Guide* on each one?

[2019-11-23 07:44] leecalcote commented on #484
Fixed by #505

[2019-11-23 07:44] #484 closed

[2019-11-25 20:59] leecalcote opened #506 "Add Meshery adapter for CPX to list of adapters"
**Current State:**
The list of adapters is missing an entry for CPX.

The [CPX adapter](https://github.com/layer5io/meshery-cpx) should be listed as an alpha adapter with link to its the [adapter section of the Meshery documentation](https://meshery.layer5.io/docs/installation/adapters).

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery docum

[2019-11-30 00:27] girishranganathan opened #508 "Improve mesheryctl version with more details"
**Current Behavior**
At the moment `mesheryctl version` prints out the version info as expected.

**Desired Behavior**
It will be nice to have a little more details in the output.
An example to compare against will be `sonobuoy` cli.
[code]

We probably don't want the Kubernetes version. But GitSHA will be an interesting thing to have.

[2019-11-30 18:07] l5io opened #509 "Docs: New Meshery releases need posted to Releases docs page"
**Current State:**
The Releases page lists releases up to v0.2.4.

**Desired State:**
The Releases page should list all releases up to v0.3.2

Updating the Release page needs to be automated as part of the release process.

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/d

[2019-11-30 18:10] leecalcote opened #510 "[CI] Automate the updating of Releases docs page as part of CI release process."
**Current Behavior**
[Release](https://meshery.layer5.io/docs/releases) documentation gets out of date as the docs page is not always automatically updated when a new release is made.

**Desired Behavior**
1. Release notes (text from the description of the release) as entered by a maintainer into a given release (made on the web UI of github.com) are taken and used to populate a new row in the tab

[2019-11-30 18:11] leecalcote commented on #509
@schillingjerrid hopefully, we'll find a way to get these manual updates automated. This request is being tracked in #510.

[2019-11-30 18:30] jesuslerma commented on #510
Hi lee, can I take this one? Im interested on learnig github actions :)

[2019-11-30 18:31] leecalcote commented on #510
Yes, pleeeease. ;)

[2019-11-30 18:33] leecalcote commented on #510
You may have seen this already, @jesuslerma, but here's a link to the [Meshery Build & Release Strategy](https://docs.google.com/document/d/11nAxYtz2SUusCYZ0JeNRrOLIxkgmmbUVWz63MBZV2oE/edit?usp=sharing), which should be up to date. // @girishranganathan @RaulEsMas

[2019-12-02 21:37] girishranganathan commented on #126
Hello @t-lo, it was very nice to meet you in person again at kubecon.
We have a functional version of a fork of your wrk2 integrated in Meshery.
Meshery, up until now, has been fortio focused. It was challenging to process & present WRK2 data using our existing infra.

I have tried to include a snap of the charts Meshery has generated with fortio and wrk2 for the same set of endpoint, concurrent r

[2019-12-07 04:00] #492 closed

[2019-12-10 01:10] leecalcote opened #513 "UI: Set cursor to type "pointer" on hover of "Built with love by the Layer5 Community""
**Current Behavior**
The entire line (including the heart symbol) is be clickable, but only half of the "Built with love by the Layer5 Community" shows a "pointer" (hand) cursor.

**Desired Behavior**
The cursor should be changed to "pointer" when hovering over any part of this line.

 **Screenshots**
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/7570704/70486444-7b686d00-1ab

[2019-12-10 03:31] leecalcote opened #514 "Create Helm chart for Meshery"
**Current Behavior**
Meshery may be deployed using `mesheryctl`, or using `docker-compose` or using `kubectl`.  For users who use Helm, there is no chart for Meshery currently.

**Desired Behavior**
Capture in design consideration in [Design Doc].(https://docs.google.com/document/d/1inncJ56SKEzIMIUikzj3XdCWF4d0xdtzOcq6J4GQYz0/edit#heading=h.45f30knxz69z
1. Create a Helm chart for Meshery.
1. Creat

[2019-12-12 04:29] leecalcote commented on #221
@JayWelsh we highly welcome any of your UI expertise in the Meshery project. Please don't be shy, if at all interested. Have a look around in here -- http://slack.meshery.io

[2019-12-12 10:07] #320 closed

[2019-12-12 10:08] #495 closed

[2019-12-12 10:55] anandrkskd commented on #494
fixed by #498

[2019-12-12 10:55] #494 closed

[2019-12-12 10:56] #501 closed

[2019-12-12 11:21] anandrkskd commented on #434
fixed with #497

[2019-12-12 11:21] #434 closed

[2019-12-12 13:55] #513 closed

[2019-12-12 20:03] #448 closed

[2019-12-12 20:04] leecalcote commented on #493
Given the tests complete here, I think we can call this issue safely completed.

[2019-12-12 20:04] #493 closed

[2019-12-12 20:04] leecalcote commented on #506
@dheerajng you might consider grabbing this one.

[2019-12-12 20:05] leecalcote commented on #391
@raghavaggarwal99 once you're comfortable, an enhancement like this one might be an item to undertake.

[2019-12-13 05:14] dheerajng commented on #506
Created a [PR](https://github.com/layer5io/meshery/pull/517) for the same.

[2019-12-13 10:55] leecalcote commented on #506
Nice work, @dheerajng!

[2019-12-13 10:55] #506 closed

[2019-12-14 17:43] leecalcote opened #518 "Docs: Make footer background color the same as header background color"
**Current State:**
The background color in the docs footer is not the same as background color in the docs header.

- [footer.html](https://github.com/layer5io/meshery/blob/master/docs/_includes/footer.html)
<img width="300" alt="Screen Shot 2019-12-14 at 11 41 41 AM" src="https://user-images.githubusercontent.com/7570704/70852433-ebd00f00-1e66-11ea-9e87-615125e59351.png">

- [header.html](https:/

[2019-12-14 17:45] leecalcote commented on #518
@firstladymb any interest here? :)

[2019-12-14 17:49] leecalcote opened #519 "Docs: Animate and colorize footer buttons"
**Current State:**
The buttons in [footer.html](https://github.com/layer5io/meshery/blob/master/docs/_includes/footer.html) of the Meshery documentation are not colorized or animated, but remain static when users hover over them.

<img width="351" alt="Screen Shot 2019-12-14 at 11 41 41 AM" src="https://user-images.githubusercontent.com/7570704/70852474-639e3980-1e67-11ea-97ef-ed188db4c264.png">

[2019-12-14 17:53] leecalcote commented on #450
@jesuslerma @anandrkskd how did we make out on this issue?

[2019-12-17 00:20] #470 closed

[2019-12-17 03:07] leecalcote commented on #447
Fixed in #446

[2019-12-17 03:07] #447 closed

[2019-12-17 04:01] schillingjerrid commented on #409
PR has been merged into master. Closing this issue.

[2019-12-17 04:01] #409 closed

[2019-12-17 15:31] #518 closed

[2019-12-17 15:32] #509 closed

[2019-12-18 01:08] schillingjerrid commented on #394
@leecalcote I can work on this if you want. Do we want the tooltips? They won't really work going below the buttons like they do on the layer5.io site but I can put them above the buttons.

[2019-12-18 01:21] leecalcote commented on #394
@schillingjerrid yes, sir. Please.

[2019-12-18 01:29] schillingjerrid commented on #394
@leecalcote Yes to the tooltips?

[2019-12-18 02:06] leecalcote commented on #394
@schillingjerrid Yes, if the tooltips fit, it would be great to have them - whether they are below or above the buttons.

[2019-12-18 02:44] schillingjerrid commented on #394
@leecalcote Sounds good to me.

[2019-12-18 08:41] raghavaggarwal99 commented on #519
Hi @ashiscs are you having trouble with this issue? I was looking at it and was thinking I could take it.

[2019-12-18 16:40] ashiscs commented on #488
Sir @leecalcote , how can i approach this issue?

[2019-12-18 19:15] leecalcote opened #526 "Docs: Platform Support for KinD"
**Current State:**
Meshery is compatible with WSL2 and with KinD, however, in order for Meshery to be able to communicate with KinD additional environment setup is necessary.

**Desired State:**
1. KinD listed as a supported platform.
1. Additional networking configuration documented.

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery document

[2019-12-20 12:00] raghavaggarwal99 commented on #379
Hi @girishranganathan  can you describe what to do with it? I mean
what should happen exactly?

[2019-12-20 14:05] leecalcote commented on #379
@girishranganathan I think this is fixed already, right?

[2019-12-21 04:16] girishranganathan opened #529 "Hide the readonly field with the adapter url if there is only one adapter for a type"
**Current Behavior**
Each connected adapter has its own page in Meshery. In these pages there is a read-only field which shows the adapter URL.

**Desired Behavior**
Even though the read-only field with the adapter URL is helpful, we do not want to show it when there is only one adapter of the given type

[2019-12-21 04:19] girishranganathan opened #530 "Hide the adapter link in the nav menu if there is only one adapter for a type"
**Current Behavior**
The navigation menu on the left of the page in Meshery contains a section for each adapter type. Under the specific types, the connected adapters are displayed as a list.

**Desired Behavior**
If there is only one adapter for a type (like istio, linkerd), then hide the list item and make the adapter type itself clickable and land on the adapter page.

[2019-12-21 14:34] raghavaggarwal99 commented on #394
Doesn't #527 solve this issue?

[2019-12-26 19:30] leecalcote commented on #390
Here's a short video describing this enhancement - https://youtu.be/VLlW_5c1MXk

[2019-12-26 19:30] leecalcote commented on #391
Here's a short video describing this enhancement - https://youtu.be/VLlW_5c1MXk

[2019-12-27 13:38] leecalcote opened #538 "Docs: Move NSM adapter from beta to stable"
**Current State:**
The NSM adapter is currently listed as "beta".

**Desired State:**
The NSM adapter should now be a "stable" adapter.

See https://meshery.layer5.io/docs/installation/adapters

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)
- [Instructions for cont

[2019-12-27 13:41] leecalcote opened #539 "Docs: Add entry for CPX adapter in Meshery Docs"
**Current State:**
The CPX adapter is not currently listed.

**Desired State:**
The CPX adapter should have an entry in the list of adapters and should now be a "beta" adapter.

See https://meshery.layer5.io/docs/installation/adapters

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/t

[2019-12-27 14:23] gunjanmimo opened #540 "In Meshery doc page, Meshery should be replaced with meshery updated logo"
![Screen Shot 2019-12-24 at 8 11 29 AM](https://user-images.githubusercontent.com/46948185/71520288-434b9180-28e1-11ea-9aad-ad30d5af3cea.png)
**Current Behavior**
Meshery is a text form

**Desired Behavior**
It should be replaced with Meshery current logo

[2019-12-27 16:44] schillingjerrid commented on #394
Hey guys, sorry I haven't been working on this recently. I have a branch with the changes made but I've been on holiday for the last few weeks and haven't finished testing it. @raghavaggarwal99 's branch looks good! I'll un-assign myself from the issue.

[2019-12-27 19:04] #540 closed

[2019-12-30 14:15] supra08 commented on #435
Hi @leecalcote , I would like to take up this issue.

[2019-12-30 15:40] leecalcote commented on #435
@supra08, yes, please. That would be great.

[2019-12-31 01:47] leecalcote opened #544 "GitOps: Provide Infrastructure as Code-friendly method of service mesh lifecycle management"
**Current Behavior**
Meshery currently facilitates three or so commonplace configurations of deployment of each supported service mesh.

**Desired Behavior**
Meshery will ideally provide highly configurable methods of deployments that are git-backed.

[2019-12-31 04:47] #508 closed

[2019-12-31 04:50] leecalcote opened #545 "Docs: Broken link to Service Mesh Performance page"
**Current State:**
The [toc.yml](https://github.com/layer5io/meshery/blob/master/docs/_data/toc.yml) seems to have a broken link to the "service mesh performance" page. Broken link: https://meshery.layer5.io/docs/performance

![Screen Shot 2019-12-30 at 10 49 08 PM](https://user-images.githubusercontent.com/7570704/71610449-b6117280-2b56-11ea-899c-b4fb7a06e34a.png)

[2020-01-01 14:48] subhamkrai commented on #545
@leecalcote actually I was just looking to these issues and about start can you assign me?

[2020-01-01 14:49] ashiscs commented on #545
Sure @subhamkrai you can take this issue!

[2020-01-01 14:49] subhamkrai commented on #545
@ashiscs thanks

[2020-01-02 01:18] leecalcote commented on #545
Fixed by #548

[2020-01-02 01:18] #545 closed

[2020-01-02 20:13] anandrkskd commented on #449
In the new updateCmd code I am facing a permission issue [My Working Branch](https://github.com/anandrkskd/meshery/tree/bug/anandrkskd/449)
**behaviour**

- update command detect the client os and arch the downloads the suitable latest mesheryctl zip for the system.
- downloaded file is stored in users **.meshery** directory in HOME of user,
- files are then unzipped to "/usr/local/bin/" dir.

[2020-01-03 16:15] subhamkrai opened #550 "Docs: Broken link to Supported Platforms page"
**Current State:**
The [https://github.com/layer5io/meshery/blob/master/docs/_data/toc.yml](toc.yml) seems to have a broken link to the "platforms" page.

[(https://meshery.layer5.io/docs/platforms
![Screenshot from 2020-01-03 21-41-20](https://user-images.githubusercontent.com/34444611/71734630-5d9de600-2e72-11ea-8167-00e4a090faf8.png)
](https://meshery.layer5.io/docs/platforms)

[2020-01-03 16:21] subhamkrai opened #551 "Docs: meshery installation page not working properly"
**Current State:**
Page [https://layer5io.github.io/meshery/installation](https://layer5io.github.io/meshery/installation) is having some problems.

![Screenshot from 2020-01-03 21-49-07](https://user-images.githubusercontent.com/34444611/71734856-e7e64a00-2e72-11ea-93bf-7c837ca0e2bd.png)

[2020-01-03 23:14] leecalcote commented on #551
Ignore PR #552. That PR is to fix #550, not this issue.

[2020-01-03 23:15] leecalcote commented on #551
@subhamkrai, thanks for filing this. Will you post the steps to reproduce this issue?

[2020-01-03 23:19] leecalcote opened #553 "Docs: Add Minikube as a menu item under supported platforms"
<img width="1065" alt="Screen Shot 2020-01-03 at 5 17 39 PM" src="https://user-images.githubusercontent.com/7570704/71754725-17825b80-2e4d-11ea-85db-da41e04a8b8d.png">

[2020-01-04 16:50] #530 closed

[2020-01-04 16:51] girishranganathan opened #554 "UI Infinite loop caused when adding a local adapter 127.0.0.1:10000"
**Description**
When we tried to add a local istio adapter at 127.0.0.1:10000, the UI would crash and take us on an infinite loop.

**Expected Behavior**
Adapter should added fine without any issues.

**Causes**
Recent changes to the nav menu updates have a missed null/undefined check.

**Fix**
Adding extra undefined checks helped mitigate this issue.

[2020-01-04 16:54] girishranganathan commented on #270
closing this because we have a site now

[2020-01-04 16:54] #270 closed

[2020-01-04 16:55] girishranganathan commented on #554
@raghavaggarwal99 helped us find this issue and also resolve it. He will create a PR with the fix.

[2020-01-04 16:57] girishranganathan commented on #233
This has been implemented.

[2020-01-04 16:57] #233 closed

[2020-01-04 16:57] #209 closed

[2020-01-04 17:00] girishranganathan commented on #179
Adding @nunix :)

[2020-01-04 17:01] girishranganathan commented on #67
We are now using billboardjs. Closing this for now.

[2020-01-04 17:01] #67 closed

[2020-01-05 01:37] leecalcote opened #558 "Docs: Mesheryctl and its behaviors need added to Meshery Documentation"
**Current State:**
`mesheryctl` is documented in the [Meshery Installation & Packaging](https://docs.google.com/document/d/1inncJ56SKEzIMIUikzj3XdCWF4d0xdtzOcq6J4GQYz0/edit#heading=h.rtnjypsgxtqz) design spec, but not in the [Meshery Documentation](https://meshery.layer5.io/docs)

**Desired State:**
The `mesheryctl` commands, flags, example usage and their behaviors needs to be added to the Mesher

[2020-01-05 01:39] leecalcote commented on #36
Currently, this import/export excludes test results; is restricted to the test, environment, and mesh configurations.

[2020-01-05 01:41] #553 closed

[2020-01-05 16:55] #235 closed

[2020-01-05 16:55] #554 closed

[2020-01-05 17:25] raghavaggarwal99 commented on #474
Hi @leecalcote can you explain the issue a little bit. Do you want just static text to be added when the adapter is pinged?
"Nsm is deployed and ....."

[2020-01-05 17:47] leecalcote opened #561 "UI: Service Mesh icon color too light to be visible"
**Description**
The service mesh icons were recently lightened to beautify the navigation menu (which is great), but has had the unintended consequence of washing them out in other UI views.

**Expected Behavior**
Meshery should display icons in context of the background color. We should either have two sets of icons (white w/transparency and full color) or we should manipulate the icon SVG values

[2020-01-05 19:03] gunjanmimo commented on #561
sir what is the exact file for this issue?

[2020-01-05 19:14] gunjanmimo commented on #550
@subhamkrai may i take this issue ?
what is expected change ?

[2020-01-05 19:18] subhamkrai commented on #550
@leecalcote already done with this issues but there are lot more issues you can look on

[2020-01-05 21:01] leecalcote opened #564 "Documentation footer showing only Twitter button"
**Description**
The PR #527 includes an improved set of footer buttons. Only the Twitter button is showing currently. See https://github.com/layer5io/meshery/pull/527#issuecomment-568187818

**Expected Behavior**
All social buttons should show in the footer.

[2020-01-06 02:19] leecalcote opened #565 "404 returned for any page other than main index"
**Description**
Authenticated users with active sessions are given a 404 page not found when refreshing their web browser on any page other than the main index page (localhost:9081).

[2020-01-06 02:27] leecalcote opened #566 "UI: Expose CPX Adapter and Icon in Meshery UI"
**Current Behavior**
The CPX adapter is in a beta state, readying for graduation. It needs to be exposed in the Meshery UI.

**Desired Behavior**
- CPX is added to:
  - https://github.com/layer5io/meshery/blob/482a193402e28eb7a2b268fbc7f46ac2ee82d7fb/ui/components/MesheryPlayComponent.js
  - https://github.com/layer5io/meshery/blob/97699fbd7143285a3467b861abe5380f61b42d53/ui/components/Navigator.j

[2020-01-06 02:28] leecalcote commented on #550
Fixed

[2020-01-06 02:28] #550 closed

[2020-01-06 02:29] leecalcote commented on #551
@subhamkrai I think this bug is no longer an issue. Will you verify?

[2020-01-06 02:30] subhamkrai commented on #551
Sure I'm on it

[2020-01-06 02:48] subhamkrai commented on #551
@leecalcote you are right...we are ready to close these issue

[2020-01-06 04:16] subhamkrai opened #567 "[UI] meshery page needs to be more responsive"
**Description**
As we  squish meshery page to 50% of the screen it's not responsive but if we squish it further then its responsive.
![Screenshot from 2020-01-06 08-55-42](https://user-images.githubusercontent.com/34444611/71794840-4bd26380-3069-11ea-95f8-371f371be205.png)
![Screenshot from 2020-01-06 09-05-19](https://user-images.githubusercontent.com/34444611/71794842-4e34bd80-3069-11ea-9523-42e

[2020-01-06 08:26] gunjanmimo commented on #567
@subhamkrai what is the exact file for this issue?

[2020-01-06 08:41] subhamkrai commented on #567
@Nikhil-Ladha is the right person to ask for

[2020-01-06 08:53] Nikhil-Ladha commented on #567
I guess it is `MesheryAdapterPlayComponent.js` file.

[2020-01-06 14:07] leecalcote commented on #561
I'm tagging @raghavaggarwal99 as he can chime in here as well.

[2020-01-06 15:49] #551 closed

[2020-01-06 15:52] #558 closed

[2020-01-06 17:51] raghavaggarwal99 commented on #561
Hi @gunjanmimo i think it's done, sorry dude.

[2020-01-06 19:42] #435 closed

[2020-01-08 02:39] leecalcote commented on #43
Duplicated by #267

[2020-01-08 02:39] #43 closed

[2020-01-08 02:44] leecalcote commented on #267
The following badge needs propagated across of the the meshery repositories:

[code]

[2020-01-08 02:46] leecalcote commented on #267
Meshery and all of its repos have been submitted to the CII Best Practices program and are currently at a 98% pass rate for the Passing level badge - https://bestpractices.coreinfrastructure.org/en/projects/3564

[2020-01-08 16:28] #561 closed

[2020-01-08 16:33] #394 closed

[2020-01-08 16:33] #564 closed

[2020-01-08 16:37] raghavaggarwal99 commented on #529
hi @Nikhil-Ladha is this solved?

[2020-01-08 16:38] #519 closed

[2020-01-08 16:39] Nikhil-Ladha commented on #529
Yes @raghavaggarwal99 it is

[2020-01-08 16:45] raghavaggarwal99 commented on #565
hi @girishranganathan can you tell me a little how to start it?

[2020-01-08 17:04] girishranganathan commented on #565
@raghavaggarwal99 thx for showing interest in this issue.
The issue is that due to some recent library changes the built UI folder structure has changed.
After you run `npm build-ui`, you will find a folder `ui/out`. In this folder we used to have individual folders for the UI pages with their own `index.html`.
Serving this from Go was easily done using: https://github.com/meshery/meshery/blob/6dd

[2020-01-08 17:49] leecalcote commented on #394
@schillingjerrid no problem. Thanks for signaling here. We're very pleased to get what time of yours that we can. :)

[2020-01-09 04:08] leecalcote opened #575 "Docs: Remove hidden, red anchor"
**Current State:**
Currently, the Meshery docs will autogenerate an in-page anchor for each heading (e.g. ```<h1>, <h2>```) element on the page, so that users might easily deep link to content. This link is shown as a black chain-looking icon on the lefthand side of the headings.

There is a second, errant anchor that is generated and mostly hidden from view. It is a red paragraph symbol (see scre

[2020-01-10 15:07] leecalcote opened #582 "Update Action workflow for GitHub star notification to #buzz channel"
**Current Behavior**
Meshery has a GitHub Actions [slack.yml] (https://github.com/layer5io/meshery/blob/master/.github/workflows/slack.yml) workflow that is invoked anytime someone stars the Meshery GitHub repository. Currently, this Action posts a notification in the #meshery-notifications Slack channel.

**Desired Behavior**
We're separating code-centric notifications (#meshery-notifications cha

[2020-01-10 15:12] leecalcote commented on #575
@schillingjerrid this one is a pain in the rump. Fortunately, it seems to be right up your alley.

[2020-01-10 15:15] leecalcote commented on #468
@firstladymb @Silvyre thanks much for your help here. 👍

I recently incorporated use of [anchorjs](https://www.bryanbraun.com/anchorjs/) to address our need here.  // @schillingjerrid

[2020-01-10 15:15] #468 closed

[2020-01-10 15:16] leecalcote commented on #399
Considering closing this issue - https://github.com/meshery/meshery-istio/issues/45#issuecomment-572185885. Let's discuss on the community call.

[2020-01-12 14:15] leecalcote commented on #211
@girishranganathan in consideration of the [Meshery Extension Points](https://docs.google.com/document/d/1E7NWFy5ZVEPX2W892mfVG-3yku1uci2KRDU42tNRZwA/edit) doc, do we consider this general interface complete?

// @raghavaggarwal99

[2020-01-12 14:40] leecalcote opened #585 "Settings: Line numbering escaping Grafana board loader"
**Description**
When a user scrolls down the page, the line numbering escapes Grafana board loader. See screenshot.

**Expected Behavior**
Line numbers should be contained.

**Screenshots**
![Untitled](https://user-images.githubusercontent.com/7570704/72220529-22a54d80-3517-11ea-820a-9bf355145443.gif)

[2020-01-13 04:34] schillingjerrid commented on #575
Hey @leecalcote , it looks like this is related to the permalinks.html include. It looks like some of this functionality was added in the past few months. Do we want to remove the permalinks file and its references? It looks like anchor.js is doing permalinking as well so maybe not necessary to include the permalinks file that is creating the red paragraph symbols.

[2020-01-13 04:39] leecalcote commented on #575
Oh, interesting, @schillingjerrid. Yes, anchor.js library is more robust than the script in permalinks.html. Good diagnosis and suggestion to remove. 👍

[2020-01-13 04:42] schillingjerrid commented on #575
If so I have created a [PR for this issue](https://github.com/layer5io/meshery/pull/586).

[2020-01-13 11:12] #565 closed

[2020-01-13 14:56] leecalcote commented on #367
@girishranganathan "Invocation after completion of perf test" is complete, correct? Is "Define fingerprint to identify type and version of service mesh" as well? Needs documented?

[2020-01-13 15:00] leecalcote commented on #36
Feature is being worked on in this branch - https://github.com/meshery/meshery/tree/feature/export-load-test-results

[2020-01-13 15:01] #72 closed

[2020-01-13 15:01] #114 closed

[2020-01-13 15:02] leecalcote commented on #113
Completed.

[2020-01-13 15:02] #113 closed

[2020-01-13 15:02] leecalcote commented on #112
Completed. Thank you, @Ozrlz!

[2020-01-13 15:02] #112 closed

[2020-01-13 15:04] leecalcote commented on #392
It'd be good to knock out this easier issue and have the Support Platforms table slightly more robust.

Docs - https://meshery.meshery.io/docs/installation/platforms
Source - https://github.com/meshery/meshery/blob/master/docs/pages/installation/platforms.md

[2020-01-13 15:05] leecalcote commented on #502
@Nikhil-Ladha @girishranganathan I think we addressed this issue, but can't quite recall...

[2020-01-13 15:09] Nikhil-Ladha commented on #502
Indeed, yes sir😅

[2020-01-13 15:16] leecalcote opened #587 "Performance: Sorting of "service meshes" list based on adapters present"
**Current Behavior**
When users visit the Performance test page, they are presented an alphabetically sorted list of service meshes with which they may associate to their test.

**Desired Behavior**
The list of entries in the “Service Mesh” drop-down needs to be a bit more intelligent in that it should rearrange the ordering of the list based on which adapters the user is running. For example, if

[2020-01-13 15:18] leecalcote commented on #538
Completed.

[2020-01-13 15:18] #538 closed

[2020-01-13 15:19] leecalcote commented on #379
@girishranganathan @raghavaggarwal99 I believe this was fixed already. Will you confirm?

[2020-01-13 15:21] leecalcote commented on #380
@nunix do you continue to face this issue?

[2020-01-13 15:29] girishranganathan commented on #367
Yes they are completed. Will add the details to the sync doc.

[2020-01-13 15:37] #575 closed

[2020-01-13 16:03] #502 closed

[2020-01-13 17:31] leecalcote opened #589 "Docs: Replace Google Slide for Architecture diagram with SVG"
**Current State:**
The Meshery architecture diagram shown on Meshery docs [Architecture](https://meshery.layer5.io/docs/architecture) page uses Google Slides.

**Desired State:**
This SVG should be used instead - https://layer5.io/assets/images/meshery/meshery-architecture.svg. This is the same diagram used on layer5.io/meshery.

---
**Contributor Resources**
- [Meshery documentation site](https:/

[2020-01-13 22:21] #589 closed

[2020-01-14 03:09] girishranganathan commented on #213
@raghavaggarwal99 I have now exposed a simple endpoint to persist load test preferences. Fetching is taking care when the page loads. You should be able to retrieve the load test preferences from redux store. Feel free to reach out to me if you have questions.

[2020-01-14 06:16] nunix commented on #380
no more with WSL2 docker daemon. It works fine, this should be ok to close

[2020-01-14 06:16] #380 closed

[2020-01-14 13:57] leecalcote opened #595 "[Performance] CLI-based SMPS Import"
**Current Behavior**
Users may use REST API with curl to import and run performance tests in Meshery.

**Desired Behavior**
User loads SMPS-compatible document and test is immediately executed. See [Meshery Performance Management](https://docs.google.com/document/d/1VEvh4qprHbbI3CjeOf9zU9bRhpmhBAVEaPhIO2XDDlc/edit#)